[2019-05-27 07:33] dove-young opened #1617 "Instructions in blog building-buildah-container-image-for-kubernetes does not work on CentOS 7"
**Description**

Instructions in this blog does not work on CentOS 7

https://buildah.io/blogs/2018/03/01/building-buildah-container-image-for-kubernetes.html

**Steps to reproduce the issue:**
1. `containerid=$(buildah from scratch)`
2. `scratchmnt=$(buildah mount $containerid)`
3. `yum install --nogpgcheck  --installroot $scratchmnt --release 7 buildah --setopt install_weak_deps=false -y`
4. `yu

[2019-05-27 07:35] dove-young commented on #1617
And the command to build `Nginx` from Dockerfile does not work yet.

[code]

To have it works on my system I must put the suffix `.` on the command

[code]

[2019-05-27 08:53] EricHripko commented on #1610
Tested my patch and found a problem. Since `securejoin.SecureJoin` resolves full path to the file, `buildah` ends up copying the original filename (i.e., `myexe.1` instead of `myexe`). I can't think of a way to implement this with minimal intrusion to the codebase. Any ideas?

[2019-05-28 00:19] llchan opened #1618 "Unprivileged net.ipv4.ping_group_range unavailable in older kernels"
**Description**

It appears that rootless buildah runs try to access `net.ipv4.ping_group_range` which is unavailable to unprivileged users in older kernels.  I believe the cutoff is somewhere near ~3.13 based on some related information in https://github.com/lxc/lxc/issues/97, but I could be wrong.

**Steps to reproduce the issue:**
1. Use an older kernel, I think <3.13ish should exhibit this beh

[2019-05-28 10:02] vrothberg commented on #1618
Thanks for opening the issue, @llchan! @giuseppe, can we make adding this sysctl conditional and depend on the kernel version? I am surprised we haven't seen this error yet.

[2019-05-28 10:28] giuseppe commented on #1618
I've added a check here: https://github.com/containers/buildah/pull/1619

If the sysctl doesn't exist we print a warning and ignore it

[2019-05-28 10:28] giuseppe commented on #1618
@llchan could you verify if it solves the issue for you?

[2019-05-28 11:56] cjsin commented on #699
The commit which supposedly fixed this, b1d14767f32f59e544f3e6522208ef4be31a9675
seems to be included in release 1.8.2
however this is still not working for me with version 1.8.2 (RPM package from fedora 29)

Example:

[code]

example / test repository:

[code]

dockerfile contents:

[code]

dockerignore contents:

[code]

buildah bud output:

[code]

As can be seen from the output, the LICENSE fi

[2019-05-28 12:21] TomSweeneyRedHat commented on #699
@kbaegis thanks for the follow up, I'll reopen this.
@QiWang19 PTAL

[2019-05-28 12:21] TomSweeneyRedHat commented on #699
Ooops, I mean @cjsin thanks for the follow up, back to the tea cup for me!

[2019-05-28 12:42] TomSweeneyRedHat commented on #1616
@EricHripko thanks for the problem report, we'll take a look at it.

[2019-05-28 12:51] TomSweeneyRedHat commented on #1610
@EricHripko thanks for the testing update.  I missed this earlier, but I think we'd rather not add a dependency on containerd, but @rhatdan and @nalind would have the final say on that.
I don't have a good quick thought on how to fix this atm and unfortunately won't have time for a bit to digest as I've other fires.  Hopefully I or someone else will get some cycles soon to chew on this.

[2019-05-28 12:53] TomSweeneyRedHat commented on #1617
@dove-young thanks for raising the issue.
@ipbabble this appears to be one of your blogs, can you PTAL?

[2019-05-28 12:56] EricHripko commented on #1610
`securejoin` is fine, there's no need for `containerd` now.

The problem is that `buildah` assumes that _source file name_ = _target file name_ when copying to folders. This is not the case for symlinks as `/bin/myexe.1` must be copied under `/bin/myexe` name. I am happy to contribute the fix - but I don't know which part of the pipeline I should fix it in.

[2019-05-28 17:54] rhatdan commented on #1610
@EricHripko Please Open a PR.

[2019-05-28 18:08] QiWang19 commented on #699
I can't regenerate this issue. :thinking:
besides, the .dockerignore under github.com/adambkaplan/dockerignore also excludes the README.md

[code]

[2019-05-28 20:41] llchan commented on #1618
Thanks for the quick action here. Unfortunately this didn't seem to fix it for me.

I wasn't very thorough in my quick-and-dirty research when filing the issue: upon further inspection, it looks like this sysctl is available to unprivileged users on the _host_, just not inside the container, so doing an existence check on the host is unfortunately not sufficient.

[2019-05-28 21:12] rhatdan commented on #1618
So this kernel did not namespace the setting.

[2019-05-28 21:16] llchan commented on #1618
It appears that way. Very possible that my initial guesswork is an incorrect lead, if that's what youre saying. I'm not too familiar with this stuff, so let me know if there's any other information that would be helpful.

[2019-05-29 08:20] giuseppe commented on #1618
in what cases do we need the `net.ipv4.ping_group_range` inside of the container?  Is it something we could drop?

[2019-05-29 12:00] gregoryboue opened #1622 "Buildah 1.7.3 create on push DTR Failed"
**Description**

With buildah 1.7.3, I want to push an image to my enterprise registry (DTR 2.6.6).
If the repository doesn't exist before, it's created via [create on push](https://docs.docker.com/ee/dtr/admin/configure/allow-creation-on-push/) DTR functionnality.

It was **ok with buildah 1.6** but **it won't work anymore with buildah 1.7.3**

If a did a first buildah push, i have an error (see

[2019-05-29 12:12] rhatdan commented on #1618
I think you loose the ability to ping without it.

[2019-05-29 12:17] TomSweeneyRedHat commented on #1469
ping @ipbabble

[2019-05-29 16:59] nalind commented on #1613
I think this is fixed by #1620.

[2019-05-29 18:33] #1613 closed

[2019-05-29 22:19] EricHripko commented on #1613
Yep, works for me on master. Happy to see this fixed, thank you :slightly_smiling_face:

[2019-05-30 19:17] andrew-aladev commented on #1118
@mathstuf
[code]

I've just used this code, works fine.

[2019-05-30 19:22] mathstuf commented on #1118
I ended up with:

[code]

and a corresponding umount script:

[code]

that gets run as part of the `ExecStartPre` and `ExecStopPost` commands in the `.service` associated with each image's systemd service.

[2019-05-30 21:26] marshallford commented on #1589
Should I cross post this issue in [containerd/containerd](https://github.com/containerd/containerd)?

[2019-05-31 09:51] chpio opened #1628 "COPY to absolute paths is relative to WORKDIR"
**Description**

`COPY` resolves absolute paths relative to `WORKDIR`.

**Describe the results you received:**

[code]

will copy files in the *fs*-dir into */var*.

**Describe the results you expected:**

Absolute destinations in `COPY` should be handled as *absolute* paths.

**Output of `podman version` if reporting a `podman build` issue:**

[code]

**Output of `cat /etc/*release`:**

[code]

*

[2019-05-31 19:20] baude opened #1629 "buildah ftbfs on 32bit"
**Description**
buildah ftbfs on 32bit arches.  this is causing podman to failed to build for the 32bit arches on the ubuntu ppa.

[code]
The problem area in the code is here
[code]
It looks like on 32bit systems, a syscall.timespec expects an int32 but .Unix() returns a int64 and therefore the type mismatch.  In the golang docs for syscall, they apparently prefer the use of x/sys/unix instead whi

[2019-05-31 19:20] baude commented on #1629
@rhatdan @nalind @TomSweeneyRedHat  PTAL

[2019-05-31 20:02] nalind commented on #1629
Does using a formulation like `syscall.NsecToTimespec(atime.UnixNano())` instead of doing the math ourselves work better?

[2019-06-02 06:05] #1629 closed

[2019-06-02 19:53] iNecas commented on #699
I can confirm buildah 1.8.2 on Fedora 29 handles `.dockerignore` just fine :+1:

[2019-06-03 05:51] rhatdan commented on #699
@kbaegis What version of buildah are you using?

[2019-06-03 14:18] junaruga commented on #1590
@rhatdan sure. thanks for considering keeping the possibility.
I wish this ticket is kept as opening.
Though I can not promise the work for buildash, it's not zero percent. The multiarch project needs some works before being ready for the work of buildash.

[2019-06-03 15:57] praiskup opened #1635 "Unpredictable build-as-dockerfile caching with --layers and --build-arg"
**Description**

Unpredictable caching in `buildah bud`.

**Steps to reproduce the issue:**

**1. create dockerfile**
[code]
**2. Build for the first time:**
[code]
**3. build for the 2nd time, and see that caches are not used:**
[code]

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `

[2019-06-03 16:01] praiskup commented on #1635
I'm saying unpredictable because sometime there's cache it little bit sooner or later, it is pretty random.  Especially if I remove the `sleep` from the dockerfile;  so I suppose there's some time of check/time of use race.

[2019-06-03 20:17] EricHripko commented on #1616
Had another quick look - it seems that the issue occurs when cache is involved. I can easily reproduce by rebuilding the `Dockerfile` that's already fully cached:
[code]

[2019-06-03 20:29] nalind commented on #1616
Oh, that makes a lot of sense.  When there's more than one name to apply, we currently do it in `Commit()`, which we don't call when we end up just tagging an image that's already there.

[2019-06-04 11:12] iNecas commented on #1578
I've hit the very same issue. The minimal reproducer is here:

[code]

Seems it has something to do with the amount of files or depth of the file structure. I don't see this issue with simpler dir structure.

**Output of `buildah version`:**

[code]

**Output of `podman version` if reporting a `podman build` issue:**

[code]

[2019-06-04 14:03] QiWang19 commented on #699
@rhatdan this issue was reopened with buildah version 1.8.2 (RPM package from fedora 29)

[2019-06-04 14:48] giovannipersia opened #1642 "Error during Docker Run: exec user process caused "exec format error""
**Description**
I got an error trying to run docker image on a Raspberry Pi 3 with Rasbian (Linux raspberrypi 4.9.59-v7+) with command:
`sudo docker run -it -p 3303:3303 flogo/flogo-docker:latest eula-accept`

error returned is:
`standard_init_linux.go:207: exec user process caused "exec format error"`

**Steps to reproduce the issue:**
1. install docker: curl `-sSL https://get.docker.com | sh`
2.

[2019-06-04 15:15] #1642 closed

[2019-06-04 18:32] msmigiel commented on #1546
Hi @TomSweeneyRedHat - has there been any progress on this? We would like to make use of builah and podman but unfortunately they aren't working for us in any of our use cases.

[2019-06-04 20:04] QiWang19 commented on #1628
Buildah v1.8.3 has been vendored in podman. This issue has been solved in buildah and podman.

[2019-06-04 20:04] #1628 closed

[2019-06-05 02:45] llchan commented on #1618
Can we re-open this ticket?  We need a way to detect that this sysctl will be unavailable inside the container, even if it's available on the host.  Apart from setting up a canary container or switching based on kernel version, is there anything else we can do?

[2019-06-05 12:23] raffaelespazzoli commented on #875
I am getting the same error in fedora 30

[2019-06-05 12:47] raffaelespazzoli opened #1643 "error creating new mount namespace"
**Description**

I am running podman/buildah inside a container to build a container image. The newly built container image does not have to be shared with the host so I am good with running it with the `--storage-driver vfs` option.

here is what I see:

[code]

**Steps to reproduce the issue:**
see here: https://github.com/raffaelespazzoli/podbuild

**Describe the results you received:**

**Desc

[2019-06-05 13:49] TomSweeneyRedHat commented on #1618
I don't have any advice on what further can be done, will reopen this ticket so others can comment and in case there's a solution that might be worked.

[2019-06-05 14:26] TomSweeneyRedHat commented on #875
Going to reopen until this can be investigate/verified on F30.

[2019-06-05 17:55] nalind commented on #1643
The default seccomp profile that docker uses doesn't allow applications to use the `unshare(2)` system call, which is something that we still depend on, even when using "chroot" isolation.

If you have the containers-common package installed, try adding `--security-opt seccomp=/usr/share/containers/seccomp.json` to your `docker run` command, to have it use the profile that tools like `podman` and

[2019-06-05 20:32] estesp commented on #1589
Any chance you could export this image to a tar or push it to a public registry? I don't currently have a system with `buildah` but would be happy to dig into the invalid tar header error on import/pull.

[2019-06-05 20:52] rhatdan commented on #1643
You can also get better performance by using fuse-overlayfs inside of the container. You would have to launch with --device=/dev/fuse.
You could attempt this with the buildah images at quay.io/buildah/stable.

Of course I would also launch the container with Podman not with Docker.

[2019-06-05 20:52] #1643 closed

[2019-06-05 21:42] TomSweeneyRedHat commented on #1589
Would a container image work @estesp?  https://quay.io/user/buildah

[2019-06-05 22:15] nalind commented on #1635
We keep build arguments in a map, and when we construct the prefix that encodes their values for inclusion in an image's history, and when we construct that prefix so that we can compare the one we'd use for the current build with the value that's part of a possibly-a-cached-image image's history, we don't make sure that the arguments are in the same order both times.

[2019-06-05 23:57] marshallford commented on #1589
@estesp https://hub.docker.com/r/marshallford/buildah-1.8.2-containerd-test

[2019-06-06 02:32] estesp commented on #1589
Strange--I installed 1.2.6 exactly after not being able to reproduce on master and still getting no error on a direct `ctr images pull` of that image:
[code]

[2019-06-06 03:27] marshallford commented on #1589
Perhaps the Dockerhub container registry is modifying the image in a non standard way?

@vrothberg ideas?

[2019-06-06 04:52] rhatdan commented on #1618
@llchan Do you have any suggestions?
What OS/Kernel are you using that is this old and supports rootless buildah?
I guess we could add a flag to not set sysctls for rootless use cases. @giuseppe WDYT?

[2019-06-06 04:59] rhatdan commented on #875
@raffaelespazzoli Are you doing this as non-root?

[2019-06-06 06:18] TomasTomecek commented on #1509
would it be possible to propagate those mounts when doing `buildah mount`?

[2019-06-06 06:43] giuseppe commented on #1618
this feature was added as part of `Allow ping command without NET_RAW Capabilities (commit 02f54e4b1e57a0f80a6a3cf87ee548550f138df1)`, so I wonder if we can just avoid setting it when NET_RAW is available to the container.  What do you think?

[2019-06-06 12:08] rhatdan commented on #1618
Seems reasonable, but the only case where NET_RAW would be present is in NON rootless mode (Well almost always)
So we definitely do not need to add it when !rootless and have NET_RAW.
@llchan Would that satisfy your needs or do you need this for Rootless?

[2019-06-06 12:12] giuseppe commented on #1618
is it happening only on the 7.5 kernel?  If it works on the 7.7 kernel then I think we should just suggest to upgrade.

For the rootless case, I don't think it will anyway work as it is relative to the user namespace, so we could probably just skip setting it.

[2019-06-06 13:12] TomSweeneyRedHat commented on #1546
@msmigiel sorry, I've been pulled into  a couple other fire fights and haven't made much progress on this i particular.  However, I 'm  crossing my fingers that #1630 might fix this, but I've not had a chance to test it.

[2019-06-06 16:47] llchan commented on #1618
I'm using rootless on RHEL 7.5 with a 3.10 kernel.  Unfortunately system upgrades are out of my hands, so upgrading to 7.7 is not really an option.  I'm okay with losing ping abilities until we're on a newer kernel.

As for ways to detect to this, I would probably just parse /proc/sys/kernel/osrelease and skip this sysctl if the kernel is older than X.  A config variable or flag would also work, b

[2019-06-07 02:38] jordemort opened #1650 "Piping into `buildah run` never sends EOF on child stdin"
**Description**

When I pipe input into `buildah run`, it seems that stdin never reaches EOF in the child process. This problem appears to keep pipelining from working with Ansible's connection module for buildah.

**Steps to reproduce the issue:**
1. `buildah from docker.io/debian:stretch`
2. `echo "echo foo" | buildah run -- debian-working-container /bin/sh`

**Describe the results you received:

[2019-06-07 03:29] jordemort commented on #1650
FWIW, I think the bug is probably somewhere around https://github.com/containers/buildah/blob/master/run_linux.go#L1129-L1241

Also for the record, I should mention this that I'm doing this inside a container on Docker for Mac, although I don't think it's relevant to the problem. Both `podman run` and `docker run` seem to be working as expected, that is, they exit after echoing `foo` (as long as I

[2019-06-07 09:55] giuseppe commented on #1618
I prefer we don't parse kernel versions.  Especially on RHEL kernels, we will miss features that are backported.

For this specific case, I'd just skip setting it for rootless containers as it won't anyway work.

[2019-06-07 13:06] rhatdan commented on #1618
I agree. Don't do it on rootless.

[2019-06-07 13:13] deefin opened #1652 "Ways to set default $PATH"
**Steps to reproduce the issue:**

Im currently trying to find the best way to set $PATH while building. I have tried `echo`ing this into the following locations during the build:

- `/home/myuser/.bashrc`
- `/home/myuser/.profile`
- `/etc/profile`
- `/etc/environment`

**Describe the results you received:**

Upon running any of the below commands, I am still required to `source anyoftheabove` pri

[2019-06-07 13:51] TomSweeneyRedHat commented on #1650
Interesting bug, thanks for the issue @jordemort !

[2019-06-07 13:51] TomSweeneyRedHat commented on #1650
@QiWang19 do you have time to poke at this?

[2019-06-07 14:12] QiWang19 commented on #1650
@TomSweeneyRedHat ACK

[2019-06-07 15:35] rhatdan commented on #1650
@mheon @giuseppe Does this sound like something we had to deal with in Podman?

[2019-06-07 16:48] llchan commented on #1618
That's fine with me too.  If we want rootless ping support back we can figure something out later.

[2019-06-07 18:30] gcs278 commented on #1292
I'm very interested in this concept, great idea

[2019-06-07 20:32] rhatdan commented on #699
So is this bug fixed or not?

[2019-06-08 13:59] rhatdan commented on #1292
@zvonkok and @gcs278 PRs would make this move along faster...

[2019-06-08 14:20] rhatdan commented on #1509
Should we make this an option.  Would you be interested in opening a PR.  I could see issues potentially with buildah run causing issues.

[2019-06-08 17:49] rhatdan commented on #1652
Does podman run --env PATH=/foobar:$PATH ...
Work for you?

[2019-06-08 17:57] rhatdan commented on #1399
@ashley-cui Could you see about implementing the `-` syntax.

[2019-06-08 17:59] rhatdan commented on #1368
@grooverdan Are you still interested in this?  Should I have @ashley-cui Take a stab?

[2019-06-08 18:03] rhatdan commented on #1401
I have found no decent go library for verifying a yaml file

[2019-06-08 18:04] rhatdan commented on #1387
We have documented that User Namespace does not work on NFS directories.

[2019-06-08 18:06] rhatdan commented on #1387
@ashley-cui Could you add a comment on this in the troublshoot.md file, that rootless buildah does not work on nfs. You can probably grab the documentation from the libpod/rootless.md page.  Then we can close this issue.

[2019-06-08 18:07] rhatdan commented on #1405
Since the patch for this is merged, I am closing.

[2019-06-08 18:07] #1405 closed

[2019-06-08 18:08] rhatdan commented on #1407
Closing this as I don't see anyone working on it.

[2019-06-08 18:08] #1407 closed

[2019-06-08 18:10] rhatdan commented on #1215
@ashley-cui Could you open a PR to remove the Compression flag.

[2019-06-08 18:12] rhatdan commented on #1453
Is anyone working on this?  Should we just break out the tests that rely on registries into a separate PR.  Is the move to Cirrus going to make this any easier?

[2019-06-08 18:13] rhatdan commented on #1347
@vrothberg Is this something you would want to look into?

[2019-06-08 18:14] rhatdan commented on #1447
I guess this still exists?

[2019-06-08 18:15] rhatdan commented on #1455
I believe this is documented well enough.

[2019-06-08 18:15] #1455 closed

[2019-06-08 18:16] rhatdan commented on #1206
I believe this is fixed in releases now.

[2019-06-08 18:16] #1206 closed

[2019-06-08 18:17] rhatdan commented on #1460
Looks like this is in current buildah

[2019-06-08 18:17] #1460 closed

[2019-06-08 18:22] rhatdan commented on #1464
This looks like a bug in buildah
Podman works correctly
[code]
Versus
[code]

[2019-06-08 18:22] rhatdan commented on #1424
Looks like this is fixed.

[2019-06-08 18:22] #1424 closed

[2019-06-08 18:23] rhatdan commented on #1335
You can now run quay.io/buildah/stable within a locked down contianer.

podman run --device /dev/fuse ...

[2019-06-08 18:23] #1335 closed

[2019-06-08 18:25] rhatdan commented on #1216
@nalind Have you had a chance to look at this?

[2019-06-08 18:26] rhatdan commented on #1499
@ashley-cui Would you look into this?

[2019-06-08 18:26] rhatdan commented on #1503
Looks like this has been fixed.

[2019-06-08 18:26] rhatdan commented on #1500
Looks like this has been fixed.

[2019-06-08 18:26] #1500 closed

[2019-06-08 18:28] rhatdan commented on #966
@EmilienM @vrothberg What is the scoop on this one?  It is getting rather old, is it still an issue?

[2019-06-08 18:29] rhatdan commented on #1198
@csrwng There have been a lot of new versions of buildah since this was reported, do you still see the issue?

[2019-06-08 18:31] rhatdan commented on #1348
@nalind Please document your ideas and I might be able to get someone else to work on it?

[2019-06-08 18:33] rhatdan commented on #620
@ashley-cui Could you take a look at this?

[2019-06-08 18:33] rhatdan commented on #1213
@TomSweeneyRedHat This was never fixed correct, or you could never reproduce?

[2019-06-08 18:35] rhatdan commented on #574
Any chance newer versions of golang fixed this?

[2019-06-08 18:36] rhatdan commented on #574
go run /tmp/t.go
-rwxr-xr-x
493
-rwxr-xr-x
2541

I guess not

[2019-06-08 18:36] rhatdan commented on #574
go version
go version go1.12.5 linux/amd64

[2019-06-08 18:37] rhatdan commented on #1234
@vrothberg @nalind @TomSweeneyRedHat Any progress on this?

[2019-06-08 18:38] rhatdan commented on #1512
Well we have newer versions of buildah and containers/image so I guess I can close this.  Reopen if you disagree.

[2019-06-08 18:38] #1512 closed

[2019-06-08 18:40] rhatdan commented on #1452
I talked to @nalind About this a while ago, but we did not go forward on it.
@ashley-cui Could you take a look at this.  Talk to @nalind about it.

[2019-06-08 18:40] rhatdan commented on #1498
I think this is fixed, Reopen if I am mistaken.

[2019-06-08 18:40] #1498 closed

[2019-06-08 18:41] rhatdan commented on #1531
@vrothberg Can we close this one?

[2019-06-08 18:41] rhatdan commented on #1454
We now have supported container images for this on https://quay.io/buildah

[2019-06-08 18:42] rhatdan commented on #1534
@EricHripko Is there just one more PR to get this closed, or can we close it now?

[2019-06-08 18:43] rhatdan commented on #1563
@eivantsov Could you test this against master?  We have much newer versions of buildah available.
Reopen if this is not fixed.

[2019-06-08 18:43] #1563 closed

[2019-06-08 18:43] rhatdan commented on #1577
Looks like this has been fixed.

[2019-06-08 18:43] #1577 closed

[2019-06-08 18:45] rhatdan commented on #1483
buildah images are now available at https://quay.io/buildah.

[2019-06-08 18:45] #1483 closed

[2019-06-08 18:56] rhatdan commented on #1568
@42wim Could you link the bugzilla here?

[2019-06-08 18:57] rhatdan commented on #1617
This is really not a buildah bug,  But a blog bug closing.

[2019-06-08 18:57] #1617 closed

[2019-06-08 18:57] rhatdan commented on #1610
Thanks @EricHripko Lets get this merged.

[2019-06-08 18:58] rhatdan commented on #1469
@ipbabble Are you able to work on this?

[2019-06-08 18:59] rhatdan commented on #1616
Looks like a fix for this was committed in master, Please test it out.

[2019-06-08 18:59] #1616 closed

[2019-06-08 19:01] rhatdan commented on #1578
@iNecas could you check this against master branch?

[2019-06-08 19:02] rhatdan commented on #1635
Looks like a fix for this is being merged.  Please verify the fix.

[2019-06-08 19:02] #1635 closed

[2019-06-08 19:05] rhatdan commented on #1618
@giuseppe Could you open a PR to not set the sysctl if not running as root.

[2019-06-08 19:27] TomSweeneyRedHat commented on #1213
Yes too both.  It's still an issue and I've not been able to reproduce.  @nalind and I had talked about possible scenario's to try a month or two ago, but I then go hijacked with other fires.

[2019-06-08 19:32] TomSweeneyRedHat commented on #1234
Not that I know of, sigh, slipped off the radar.

[2019-06-08 20:28] kameshsampath opened #1656 "Providing script input to the buildah container"
It would be nice to have a entrypoint or script baked into the official image that can interpret each line as buildah command and execute the same.

e.g. https://github.com/redhat-developer-demos/quarkus-java-builder/blob/master/bin/buildah.sh#L23-L55

The example above uses the maven build but that can be ignored.

thoughts ?

[2019-06-08 21:23] TomSweeneyRedHat commented on #1656
(Tom ducks from @rhatdan's wrath).  We decided to not include an entry point in the image to allow it to be more flexible.  That way people could start up the container and then get into it and play around freely.  You of course could do a Dockerfile like:

FROM quay.io/buildah/stable:latest
ENTRYPOINT /usr/bin/buildah

and use that to create an image with an entrypoint set.
As far as a script is

[2019-06-09 07:35] EricHripko commented on #1534
This'll be resolved once #1615 is merged. Thanks for confirming :+1:

[2019-06-09 07:46] EricHripko commented on #1616
I am not sure how to make `buildah bud` utilise cache - will wait till `podman` picks up this change to test.

[2019-06-09 09:15] rhatdan commented on #1656
Yes the use of a Entrypoint was seen as more of a pain then a benefit. I guess if  you want to add an Entrypoint, just download the stable image and do

[code]
Now you should be ready to do execute:

[code]

[2019-06-09 09:16] rhatdan commented on #1534
It is being merged.

[2019-06-09 09:16] #1534 closed

[2019-06-09 09:20] deefin commented on #1652
@rhatdan thank you for your response. Looks like I had the wrong approach trying to resolve this issue. I have resolved it using the following:

[code]

Out of interest, is there anyway to reference the default container path so the above becomes:

[code]

Currently the above pulls my hosts $PATH and sets that in the container.

[2019-06-09 09:22] kameshsampath commented on #1656
yeah I agree Entrypoint is pain but safe bet when we want what user want to execute with a container. Having said that I was thinking more like set of instructions  a non-docker format being interpreted by buildah.  more like a simple shell script file  and we do `buildah <(cat myscript.sh)`.

My intent was to reduce the Dockefile'sh syntax and make user feel more like writing shell script for bui

[2019-06-09 09:29] vrothberg commented on #1531
I think we can close it as the most urgent issue was fixed, but the util package still has some "surprising" implications. Here are buildah-internal users of `util`.
[code]

`pkg/cli` for instance will require users of it to import `docker/distribution` and the `runtime-spec`.

[2019-06-09 09:29] #1531 closed

[2019-06-09 09:46] vrothberg commented on #966
We don't have a reproducer, so I can't really tell if it's still an issue. One thing we need to tackle at some point is consolidating the push/pull-related code of Buildah and Podman. I planned looking into this in the context of CRI-O's port on libpod.

[2019-06-09 10:05] rhatdan commented on #1616
[code]

[2019-06-09 10:10] rhatdan commented on #1652
@deefin I don't think so, you could try to escape the $PATH.  \$PATH
But this might end up with it not being translated.

I think this would work

IMAGEPATH=$(buildah run $ctr printenv PATH)
buildah config --env PATH=$IMAGEPATH:/usr/local/go/bin ...

[2019-06-09 11:19] deefin commented on #1652
@rhatdan Thank you very much for your expertise. I appreciate you taking the time to enlighten me on this.

[2019-06-09 11:20] #1652 closed

[2019-06-09 11:22] vrothberg commented on #1589
Docker Hub is transforming the OCI image into a Docker v2 one, while the default `registry:2` preserves the OCI image. But even when building a Docker v2 image (i.e., `buildah bud --format=docker`) and pushing it to a local registry, containerd still doesn't like it:

[code]

I pushed the same image to `docker.io/valentinrothberg/image:docker`. Containerd fails with the same error trying to pull t

[2019-06-09 19:26] 42wim commented on #1568
Bugzilla issue can be found on https://bugzilla.redhat.com/show_bug.cgi?id=1712146

[2019-06-09 19:29] praiskup commented on #1635
With locally rebuilt Rawhide package -- caching works perfectly, thank you!

[2019-06-09 20:03] junwang123 opened #1657 "yum fails to run in a container built/launched with rootless buildah/podman"
**Description**
The build of CentOS 7 container base image using [this approach](https://github.com/GoogleContainerTools/base-images-docker/blob/master/centos/README.md) works with docker, but not with rootless `buildah`/`podman` due to a `yum` failure in `chroot.sh`. For the detailed log, refer to [centos7-buildah-podman.log](https://github.com/GoogleContainerTools/base-images-docker/files/326986

[2019-06-09 21:56] ipbabble commented on #1469
I have not being. But I will get to it this week.

Sent from my iPhone

[2019-06-10 06:42] ohadlevy commented on #1578
I just tried latest master (fcb7c14c5bb94583db2343faaa1b85f0f2f96092) with
the same results.

On Sat, Jun 8, 2019 at 10:01 PM Daniel J Walsh <notifications@github.com>
wrote:

[2019-06-10 07:14] iNecas commented on #699
It's definitely fixed for me

[2019-06-10 09:45] rhatdan commented on #1568
Thanks, I will close the issue and follow the progress there.

[2019-06-10 09:45] #1568 closed

[2019-06-10 12:14] h-vetinari commented on #1503
@rhatdan
Just checked this with the latest Ubuntu PPA, and it has not been fixed - please reopen.

The issue is the missing line for the first `ARG` in the build log (and correspondingly different number of build steps):

Compare:
[code]
with:
[code]

[2019-06-10 13:04] rhatdan commented on #1503
@ashley-cui PTAL

[2019-06-10 14:06] TomSweeneyRedHat commented on #1657
Thanks for the issue report @junwang123
@giuseppe can you take a look please?

[2019-06-10 14:21] rhatdan commented on #1657
We really need to repeat this on a little more up2date versions of podman and buildah.  Decent chance that these could be fixed in the latest releases.

[2019-06-10 14:41] matpen opened #1660 "Rootless buildah + slirp4netns = no network"
**Description**

I am trying to get `buildah` and `podman` to work in rootless mode. With the default install (Ubuntu 16.04 via PPA) `podman` complains about missing `slirp4netns`. However, after installing the library `buildah run` has no network access.

I found a workaround by adding `--network=host` to the `buildah run` command. However, I still feel that this issue should be brought to the at

[2019-06-10 16:32] junwang123 commented on #1657
`yum` fails because `/dev/urandom` doesn't work inside the `/target` chroot environment even though `mount --bind /dev/ /target/dev/` is done outside the chroot.

[2019-06-10 17:03] junwang123 commented on #1657
I did try a newer `buildah`, but its rootless run doesn't work well on CentOS 7.6 with `systemd-219`.  There is discussion online about getting rid of the error, but it seems to be with newer systemd (`systemd-233`?) and `systemd-pam`.

[2019-06-10 17:05] rhatdan commented on #1657
This was fixed in even newer versions of buildah, I believe.

[2019-06-10 17:32] ashley-cui commented on #1387
Is there a solution to this other than not using NFS and not using rootless?

[2019-06-10 17:39] rhatdan commented on #1387
Yes, if you setup container storage in a different directory then in your homedir.
Create a ~/.config/containers/storage.conf With something like:
[code]

[2019-06-10 18:09] junwang123 commented on #1657
@rhatdan
Thanks for the help. `buildah` 1.9 works fine.

With podman 1.2,

The attempt to upgrade podman to 1.4.0  failed due to epoch number of the `runc` package.

[2019-06-10 19:07] rhatdan commented on #1657
Awesome. We should be getting these newer versions in in the next release.

[2019-06-10 20:10] junwang123 commented on #1657
@rhatdan , `buildah 1.9` works just for building the `builder` image, but neither `podman` nor `buildah` was able to successfully `run` to the point where the originally-reported `yum in chroot` issue can be tested. Could you please keep the issue open to continue the investigation? Thanks.

[2019-06-10 20:15] EricHripko commented on #1616
Oops, sorry about that! Should've read the manual more thoroughly :see_no_evil:
[code]
It's indeed all fine now :+1:

[2019-06-10 20:16] EricHripko commented on #1616
Thanks for fixing this :slightly_smiling_face:

[2019-06-10 22:33] junwang123 commented on #1657
[podman issue #3270](https://github.com/containers/libpod/issues/3270)

[2019-06-10 23:33] grooverdan commented on #1368
I'm mostly there:
https://github.com/grooverdan/buildah/tree/args-target-platform

Remaining implementation:
* Complete a working test case
* Ensure FROM directives pull from the os/arch
* Ensure output images is tagged with os/arch
* Some mounting of the qemu executable of /proc/sys/fs/binfmt_misc/qemu-${arch} while building(?)

[2019-06-10 23:54] grooverdan commented on #1590
Working on at least part of this with https://github.com/containers/buildah/issues/1368#issuecomment-500630799. This covers the build side of `buildah build-using-dockerfile --platform linux/aarch64/variant ..`. Yes I'd planned some interaction with qemu-static in the build.

I see `docker buildx` nicely integrates multiple platform arguments to produce a manifest. I'll see what can be done for bu

[2019-06-10 23:56] #1464 closed

[2019-06-11 00:06] junaruga commented on #1590
Wow, great work, @grooverdan

[2019-06-11 03:36] llchan commented on #1618
I've created #1663 with a naive check. Feel free to close if there's a better way to do it, but that appears to work for me.

[2019-06-11 07:17] giuseppe commented on #1650
this should work fine in Podman as we use a different mechanism for re-execing.

[2019-06-11 09:00] jkonecny12 commented on #1401
That's a shame. Is there a way how to check if the required values are set or something similar?

[2019-06-11 10:13] rhatdan commented on #1650
@giuseppe PTAL #1653

[2019-06-11 10:13] rhatdan commented on #1618
Merging so closing.

[2019-06-11 10:13] #1618 closed

[2019-06-11 10:14] rhatdan commented on #1590
@grooverdan Thanks for looking into this.

[2019-06-11 10:48] konrad-ohms commented on #1454
Cool, thanks, looks quite good.
While trying out the container I noticed one minor thing in https://github.com/containers/buildah/blob/8e48a65d5b22366c2e4946d6e41788365acc7ae2/contrib/buildahimage/README.md#sample-usage, probably we should adjust the command to run in the loop.
When using the command as defined, the CPU load on a single core goes up to 100% usage:
[code]
![Selection_574](https://u

[2019-06-11 11:08] TomSweeneyRedHat commented on #1454
@konrad-ohms do you have a suggested tweak in mind for the command?

[2019-06-11 11:21] konrad-ohms commented on #1454
I propose to change the command executed as start command in the container from
[code]
to
[code]

That should help resolving the high CPU load.

[2019-06-11 11:22] TomSweeneyRedHat opened #1664 "Potential hang when using run"
As noted in #1653
A command like:

seq 100000 | sudo ./buildah run fedora-working-container -- sh -c 'while read i; do echo $i; done'

seems to hang

[2019-06-11 12:09] TomSweeneyRedHat opened #1665 "Change suggested example in buildahimage script"
As noted in #1454 by @konrad-ohms, the
[code]
command noted as an example in contrib/buildahimage/README.md can cause the cpu of the machine to peg out at 100%.

He suggested instead:

[code]

[2019-06-11 12:09] TomSweeneyRedHat commented on #1454
Thanks @konrad-ohms , I'll give that a whirl.  I've spun up #1665 to track it.

[2019-06-11 13:00] konrad-ohms commented on #1454
thanks

[2019-06-11 23:10] rhatdan commented on #1401
I would guess the question is what are the required values?

[2019-06-12 08:45] chpio commented on #1628
[code]

https://github.com/containers/libpod/blob/v1.4.0/vendor.conf#L96

this is still broken

[2019-06-12 08:58] chpio commented on #1628
https://github.com/chpio/podman-copy

[2019-06-12 09:03] chpio commented on #1628
ok, sorry, seemed to be a cache problem

[2019-06-12 09:44] gregoryboue commented on #1622
Hi,

Do you have any idea of the cause of the issue ?

[2019-06-12 09:49] #1650 closed

[2019-06-12 09:50] rhatdan commented on #1622
@mtrmac @vrothberg PTAL

[2019-06-12 10:22] giuseppe commented on #1664
PR opened here: https://github.com/containers/buildah/pull/1668

[2019-06-12 13:05] TomSweeneyRedHat commented on #1628
@chpio I think it's all set now, but I'm not 100% sure based on your comments.  If you'd like us to reopen this, please add a reply here or feel free to create a new issue if more appropriate.

[2019-06-12 13:38] cevich commented on #1453
I believe migrating from travis to cirrus-ci + a functional 'hack/get_ci_vm.sh' should take care of this.  Granted it doesn't completely fix the "reproduce locally" issue, but better codifies the environment in a reusable way.

[2019-06-12 15:47] mtrmac commented on #1622
Please run the push with `buildah --debug push …` and provide the full output (redacting (only) credentials, if any).

My first impression, though, is that the create-on-push functionality is buggy; it should either consistently refuse to allow the presence check c/image is making, without creating the destination repository, or it should automatically create the destination repository and allow t

[2019-06-12 16:10] mtrmac commented on #1622
… for both the initial unsuccessful and the second successful push.

[2019-06-12 16:30] junwang123 commented on #1657
@rhatdan, Using the ` --cap-add=CAP_SYS_ADMIN` option on `buildah run`, I was able to work around the `podman` problem and to reproduce the original `yum failure in chroot` problem. These are with the `buildah 1.8.2` package in RHEL 7.7 beta. Refer to the full log at [buildah-run-with-cap_system_admin.log](https://github.com/containers/buildah/files/3282292/buildah-run-with-cap_system_admin.log)
.

[2019-06-12 21:28] rhatdan commented on #1453
As soon as we create the new Release we can merge this.  Please hold off until then.

[2019-06-13 03:46] marshallford commented on #1335
@rhatdan I must be missing something (or more likely have a knowledge gap). I can't seem to get the buildah image you mentioned to work as I expected.

Some context: I have [podman working](https://github.com/containers/libpod/issues/2414#issuecomment-487328211) for my CICD use-case via Jenkins and K8s. I am mounting a host path to `/var/lib/containers` in the container and setting `securityContex

[2019-06-13 10:13] rhatdan commented on #1335
You have to add the /dev/fuse device to make buildah run with fuse-overlayfs.

Is there a way in the Yaml file to add a device? If not you could add the device via cri-o.conf on the host.

[2019-06-13 13:53] marshallford commented on #1335
@rhatdan I should have been more clear, one of the security policies in place on the clusters at work prevent the use of `hostPath` volumes. Even if I can have that policy modified for a particular namespace or cluster I am unsure if `/dev/fuse` will exist on the hosts/nodes we use for k8s (present and future). I'm assuming the vfs storage driver isn't worth my time?

example `buildah.yaml` with h

[2019-06-13 14:41] #1664 closed

[2019-06-14 12:06] rhatdan commented on #1335
I would prefer not to volume mount in /dev/fuse, but actually inject it into the container, similar to a

podman run --device=/dev/fuse

Volume mounting it in, might work, but SELinux policy might prevent the use of the device.

[2019-06-14 22:52] vorburger opened #1675 "podman-docker's "docker build --pull=false ..." behaves differently than in docker"
**Description**

It appears that a `docker build --pull=false ...` behaves differently in `podman-docker` than in "real" docker; see https://github.com/kubernetes/kubernetes/issues/79048 for an analysis.

**Steps to reproduce the issue:**

1. Fedora 30 Server
1. sudo dnf install podman-docker
1. git clone https://github.com/kubernetes/kubernetes.git ; cd kubernetes
1. build/run.sh make kubectl

fa

[2019-06-15 10:44] rhatdan commented on #1675
@vorburger What is the difference.  This looks like `podman build --pull=false`  Does not pull the image even if the image does not exist, does `docker build --pull=false` pull the image if it does not exists locally?

[2019-06-15 11:13] vorburger commented on #1675
I'm not 100% sure what the exact behaviour of `docker build --pull=false` is if the parent `FROM` image does not exist (and will admit that I haven't actually tried it out myself), but basically yes, over in https://github.com/kubernetes/kubernetes/issues/79048 your fellow red hat @cblecker said the following (and based on this refused, rightfully, to change `--pull=false` to `--pull=true` in some

[2019-06-15 11:45] rhatdan commented on #1675
@nalind WDYT?
`buildah bud` has --pull and --pull-always (`buildah bud --pull-always` is the equivalent of `docker build --pull`)
The problem is when we vendor this into `podman build`, users expect it's --pull to be the same as docker build.

[2019-06-15 11:48] rhatdan commented on #1675
In the `podman build` man page, we describe the behaviour:
[code]

Does the tool currently follow this behaviour?

[2019-06-15 11:50] rhatdan commented on #1675
`docker build --pull` is documented as:
[code]

[2019-06-15 21:52] cblecker commented on #1675
Yup, these are accurate. podman/buildah offer two different, more explicit settings than the docker cli does.. but the issue is when using the podman-docker compatibility/emulation layer, `--pull` has a different meaning than the docker CLI.

[2019-06-16 13:41] rhatdan commented on #1675
I think what we should do is eliminate make --pull-always == --pull for Podman and not support --pull at all.

The problem then would be `buildah bud --pull` would mean a different thing the `podman build --pull`

[2019-06-18 00:31] jdoss opened #1677 "Buildah hangs on buldah commit when being called via buildah unshare"
**Description**

Buildah hangs on buldah commit when being called via buildah unshare.

**Steps to reproduce the issue:**
1. Use this script:

[code]
and run it with `buildah unshare scripts/build_base_container.sh`
2. Wait for buildah commit step.
3. Ctrl+C your hung buildah

**Describe the results you received:**

[code]
You can see the it hung on `buildah commit working-container localhost/fedo

[2019-06-18 02:48] jdoss commented on #1677
A quick follow-up. The script works when running it via the root user just fine. This also worked with `buildah unshare` back on Sat, May 11, 2019 as that is the last time I built this base image with it.

[2019-06-18 12:14] vrothberg commented on #1677
Thanks for the great report, @jdoss. I can reproduce the issue with the mentioned script.

[2019-06-18 18:51] TomSweeneyRedHat opened #1679 "Podman v1.4 Build with RUN in Dockerfile fails."
**Description**

As reported at the tail end of #1672, Podman v1.4.1 with Buildah v1.84 in it fails when a Dockerfile has a RUN command in it.  This issue was fixed recently with Buildah v1.9.0 and that is being vendored in Podman https://github.com/containers/libpod/pull/3361

**Steps to reproduce the issue:**
1.  Run `podman build .` with a Dockerfile containing a RUN command within it.

**Descr

[2019-06-18 20:21] maysunfaisal opened #1681 "Request: Buildah builds should show the total no of build steps"
**Description**

It would be nice for buildah builds to have the total number of steps during a container build. Currently it is `STEP 1: FROM golang:latest` but can we have `STEP 1/10: FROM golang:latest`? This is purely an aesthetic request. :)

**Steps to reproduce the issue:**
1. Do a buildah container build

**Describe the results you received:**
`STEP 1: FROM golang:latest`

**Describe the r

[2019-06-18 20:49] TomSweeneyRedHat commented on #1679
Quick Repo:
[code]
Tested with v1.4.1 and see the error, with https://github.com/containers/libpod/pull/3361included, the error goes away.

[2019-06-19 07:40] matpen commented on #1660
Might containers/libpod#3277 be related?

[2019-06-19 09:06] vrothberg commented on #1681
Thanks for opening the issue, @maysunfaisal. I like the idea. @johnmcollier has already opened a PR, so I suggest we move the discussion over at #1683.

[2019-06-19 13:52] jdoss commented on #1677
No problem @vrothberg! Let me know if you need anything else to help track it down.

[2019-06-19 16:26] kfox1111 opened #1684 "RFE: dockerfile secret"
I've got a few dockerfiles that are staring to use/need the secret support in newer docker versions. This allows you to inject things like rpm signing keys which otherwise would be leaked out, or need nasty hacks to fetch.

See the secret support examples here:
https://docs.docker.com/develop/develop-images/build_enhancements/

Could support for these options be added to buildah please?

[2019-06-19 16:30] rhatdan commented on #1660
Seems reasonable.

@giuseppe PTAL

[2019-06-19 18:19] TomSweeneyRedHat commented on #1684
We'll certainly consider it.  Thanks for the request and pointers.

[2019-06-19 18:25] rhatdan commented on #1684
@QiWang19 PTAL

[2019-06-19 18:27] giuseppe commented on #1660
we should be using `--network=host` by default now, also when running as rootless.

How does your `/etc/resolv.conf` look like?

[2019-06-19 19:11] QiWang19 opened #1685 "--volume incorrect volume format "Z""
**Description**

**Steps to reproduce the issue:**
playing with buildah run --volume command from buildah-run.md
[code]
if this is an issue, buildah/run.go https://github.com/containers/buildah/blob/c22957b5be1b5463c8be22d7380a08f48155d256/cmd/buildah/run.go#L74 should use flags.StringArrayVarP
**Describe the results you received:**
incorrect volume format "Z", should be host-dir:ctr-dir[:option]

[2019-06-19 19:16] matpen commented on #1660
Is this on `1.8.1-dev` too, or more recent release? As soon as I can get a chance, I want to try out the latest `1.9.0`

Just the default one on my workstation: classic DHCP home router
[code]

[2019-06-19 19:29] marshallford commented on #1589
This is still an issue with podman `v1.4.0` (vendored Buildah `v1.8.3`).

[2019-06-19 20:12] rhatdan commented on #1685
@QiWang19 Please fix.

[2019-06-19 20:13] rhatdan commented on #1685
@QiWang19 Nice find.  BTW.

[2019-06-19 20:14] TomSweeneyRedHat commented on #1685
Yeah, especially since she proposed the probable fix, my favorite kind of issue!

[2019-06-19 20:29] rhatdan commented on #1660
That would be the issue. Since the no process is listening at 127.0.1.1

[2019-06-19 20:30] rhatdan commented on #1589
podman v1.4.2 has Buildah v1.9.0 vendored into it.  Please try this out.

[2019-06-19 21:03] matpen commented on #1660
Sorry, I lost you there. Are you saying that the conflict is caused by the DHCP daemon? As far as I know, there is nothing special about it on the system I am testing on.

Could you suggest a possible workaround?

[2019-06-20 01:35] marshallford commented on #1589
No dice. The testing container image you see referenced was built and pushed with Buildah `v1.9.0` (not podman, just normal Buildah). I'm also using `imagePullPolicy: Always` in the pod yaml to ensure that I am pulling the new image.

[code]

[2019-06-20 08:30] giuseppe commented on #1660
`127.0.1.1` inside the container won't access the process that is probably running on your host.  We would need to generate the `/etc/resolv.conf` file in the same way as we do with Podman.  I'd suggest you to either use `--net host` or bind mount a `/etc/resolv.conf` containing DNS servers accessible from the container.

[2019-06-20 09:34] rhatdan commented on #1660
@giuseppe Can you port over the way we handle this in Podman to Buildah?

[2019-06-20 09:38] rhatdan commented on #1679
This looks like it has been fixed.

[2019-06-20 09:38] #1679 closed

[2019-06-20 09:39] rhatdan commented on #1610
Since this is merged, I am assuming I can close this issue.

[2019-06-20 09:39] #1610 closed

[2019-06-20 09:39] rhatdan commented on #1600
Looks like this is fixed.

[2019-06-20 09:39] #1600 closed

[2019-06-20 09:40] rhatdan commented on #1590
@grooverdan Any progress?

[2019-06-20 09:41] rhatdan commented on #1503
@TomSweeneyRedHat Could you confirm if this is still a bug in v1.9?

[2019-06-20 09:42] rhatdan commented on #1499
@QiWang19 Could you look into this?

[2019-06-20 09:42] rhatdan commented on #1469
@ipbabble Did you ever get a chance to look at this?
@TomSweeneyRedHat Do you have time to take this on?

[2019-06-20 09:43] rhatdan commented on #1453
We are now using cirrus, is that enough to close this PR?

[2019-06-20 10:47] rhatdan commented on #1589
@vrothberg @mtrmac PTAL

[2019-06-20 10:47] giuseppe commented on #1660
what would be the best way to share code?  Should we move the generation of `/etc/resolv.conf` to buildah and use it from libpod?

@mheon

[2019-06-20 10:58] matpen commented on #1660
@giuseppe Thank you for the explanation, it is clear now. Using `--net host` indeed works for me.

[2019-06-20 11:16] rhatdan commented on #1660
@giuseppe Yes move it to a pkg under buildah.

[2019-06-20 12:53] vrothberg commented on #1589
I still think it's a regression in containerd. As [mentioned above](https://github.com/containers/buildah/issues/1589#issuecomment-495140892), containerd v1.1.7 has no issue but v1.2.x fails.

[2019-06-20 15:14] azatsarynnyy opened #1687 "[question] buildah version in stable:v1.9.0 image"
When I execute
`podman run quay.io/buildah/stable:v1.9.0 buildah version`
I get
[code]

What is Buildah version in `buildah/stable:v1.9.0` image?

[2019-06-20 15:15] rhatdan commented on #1687
Looks like a bug.  @TomSweeneyRedHat PTAL

[2019-06-20 15:24] azatsarynnyy commented on #1687
The same issue for `buildah/stable:v1.8.3` and `buildah/stable:v1.8.4`

[2019-06-20 15:31] rhatdan commented on #1687
The problem is that buildah/stable is pulling from fedora updates, and buildah was not released at the time we released.
buildah 1.9.0 was pushed to stable 16 hours ago, which might not have reached the REPO where buildah stable was released from.  It should be there soon.

[code]
And it installed buildah 1.9.0

So the next buildah/stable build should get it.

[2019-06-20 15:45] TomSweeneyRedHat commented on #1687
The quay.io/buildah/stable is built by using this [Dockerfile](https://github.com/containers/buildah/blob/master/contrib/buildahimage/stable/Dockerfile) which in summary does a `FROM fedora:latest` and then `RUN dnf -y install buildah`.   So it looks like the v1.9.0 hasn't yet been pushed to stable.

If you want to play with v1.9.0 before that happens, you can try the upstream image.

[code]

[2019-06-20 15:46] TomSweeneyRedHat commented on #1687
and it looks like @rhatdan and I were typing at the same time.  I've just kicked off a new build for the stable image.  Hopefully, it will grab v1.9.0 this time.

[2019-06-20 16:14] azatsarynnyy commented on #1687
Thanks, Tom for starting a new build.
I'll check an image for 1.9.0 tomorrow and close the issue.

[2019-06-20 17:10] marshallford commented on #1589
@estesp was pulled into this thread via a cross-post on containerd/containerd. Perhaps the containerd conversation should be moved to that issue?

[2019-06-20 18:20] mtrmac commented on #1589
I can’t see anything wrong with that layer as such (the above is the DiffID, the compressed layer is `6fcbf60dfdaa421d2b6e3d120320a86d8f839b47342f36b60972ed80224f3ec1`).

OTOH, it is pretty strange that a `RUN date` command creates a layer with an empty `/etc/resolv.conf`  file. Why is buildah doing that?!

[2019-06-21 03:52] rhatdan commented on #1589
When you run a container, it creates inodes for all of the internal mount points including /etc/resolv.conf.

[2019-06-21 06:52] grooverdan commented on #1590
Yes:
tree: https://github.com/grooverdan/buildah/tree/args-target-platform
sample output of simple test case: https://dpaste.de/obgx

Current resolving issues:
- multistage images currently don't get the right target architecture

I'm making the fetching of the last FROM image in a docker file to fetch using the --platform arguments.

For nicely handling multi-stages on cross builds I think the fo

[2019-06-21 07:58] estesp commented on #1589
I can now reproduce with @vrothberg's DockerHub image; let me see if I can understand what the applier method is choking on with that layer. I did look through commit history and nothing stands out as changing behavior here since 1.1.7 and today; but hopefully some debug will help figure it out.

[2019-06-21 09:51] azatsarynnyy commented on #1687
Looks like the `buildah/stable:v1.9.0` image hasn't been updated yet. Last modification date is 6 days ago.
Anyway, I'm closing the issue since the proposed workaround works well for me.
Thank you guys for your help!

[2019-06-21 09:51] #1687 closed

[2019-06-21 11:31] rhatdan commented on #1590
I am fine with extending the FROM command.
@nalind WDYT?

[2019-06-21 11:55] rhatdan commented on #1687
@TomSweeneyRedHat I think there might be an issue with the tagging.

[code]
While if I run latest I get
[code]

[2019-06-21 14:45] estesp commented on #1589
Not anything clear yet; I can capture the actual tar.gz of the layer blob and parse it with a simple Go program as well as `tar ztvf` from the command line. When that layer is extracted inside containerd, the very first `tr.Next()` (the tar header reader) fails with EOF and "unknown". Almost like it can't figure out the tar format, but again, outside of containerd using the same Golang version (1.

[2019-06-21 14:52] vrothberg commented on #1589
Thanks a lot for the update, @estesp! @giuseppe, do you have suspicion?

[2019-06-21 14:53] TomSweeneyRedHat commented on #1687
I only setup buildah/stable:latest, buildah/testing:latest, buildah/upstream:latest.  Honestly I'm not sure where/how the :1.9.0 images got in play  there.
I could add a new image for each stable release if you'd like, but it might get a bit fun keeping up over time as Fedora moves too.

[2019-06-21 17:23] giuseppe commented on #1589
from a quick look, it seems we are generating the wrong manifest.

We should generate `application/vnd.oci.image.layer.v1.tar+gzip` for the compressed layers, not `application/vnd.oci.image.layer.v1.tar`

[2019-06-21 17:40] estesp commented on #1589
Wow; you're absolutely right:

From `delve` output of the start of what it thinks is the tar file:
[code]
From `hexdump {tar.gz from registry}`:
[code]
Same content; containerd believed the manifest media type and skipped uncompressing the content assuming it really was tar, and not tar.gz. Confirming the file is tar.gz:
[code]

[2019-06-21 18:53] QiWang19 commented on #1499
error might be turned by buildah/vendor/github.com/containers/image/docker/docker_client.go. Does buildah return different exit code for different type of errors? I only see exit statue 1

[2019-06-21 19:06] rhatdan commented on #1687
Do you think Quay is automatically building those?  I wonder if a user would want a specific version?

[2019-06-21 20:34] giuseppe commented on #1589
@mtrmac @vrothberg looks like we need to update the manifest as well to reflect the compression we do in https://github.com/containers/image/blob/master/copy/copy.go#L808.

Maybe this a good chance to discuss https://github.com/containers/image/pull/639.  @estesp is that something that should be discussed through OCI?  I've seen huge improvements using zstd instead of gzip for compressing the laye

[2019-06-21 21:29] TomSweeneyRedHat commented on #1687
It does look like quay.io is building these automagically for us.  I'm going to guess due to the GitHub commit trigger.  The problem that I see is it's triggering a "1.9.0" tag when we created that release, but the Dockerfile that's used pulls the bits from the latest stable kit which at the time v1.9.0 was created, the stable version was v1.8.2.  I'm not sure how to turn that off.  I like the ide

[2019-06-22 00:02] junwang123 commented on #1657
`mknod` doesn't work in containers launched with `buildah run` even with many capabilities, including CAP_MKNOD, enabled, refer to [mknod.strace.log](https://github.com/containers/buildah/files/3316335/mknod.strace.log).

[2019-06-22 09:26] giuseppe commented on #1657
an unprivileged user (rootless) has not enough privileges for using `mknod`, the kernel blocks that.  It doesn't matter how many capabilities are left in the user namespace, it won't still be able to use it.

[2019-06-22 09:50] rhatdan commented on #1657
Correct, if you have to create device nodes, then you have to run as root.

[2019-06-22 09:53] rhatdan commented on #1499
Currently no, but the request here is that we do, I believe.

[2019-06-22 10:04] rhatdan commented on #1687
Can you just pull the image, update it and then do a force push, to at least fix the version in 1.9.0, and then we can fix them going forward.

[2019-06-22 10:05] rhatdan commented on #1687
I guess the issue is the "stable" release from Github != Stable Release from Fedora.

[2019-06-22 17:02] junwang123 commented on #1657
Thanks Giuseppe and Daniel.
Would we be able to use `mknod` in a container launched with rootless `podman run --privileged`?

In addtion, in a container launched with a rootless run, i.e. with `buildah run --cap-add` and with `podman run --privileged` respectively, is `bind mount`ing `/dev` to `/chroot_directory/dev` expected to allow `/dev/urandom` to function in the chroot environment? I tried `

[2019-06-22 17:41] junwang123 commented on #1657
Thanks Giuseppe and Daniel.
Would

[2019-06-22 18:22] giuseppe commented on #1657
no, there is no way to get `mknod` working with rootless containers.  `--privileged` just means create a user namespace but not drop any of the capabilities I've got.

Bind mounting a device from the host should work fine:

[code]

it will show up in the container owned by the `nobody` user since root is not mapped in the rootless container, but it is still fine as it is world writeable/readable s

[2019-06-23 10:06] rhatdan commented on #1657
@giuseppe is somewhat correct on --privileged.  But I would like to clarify it a little.

--privileged in a rootless container means, do not further restrict the container from a security point of view, then the program launching podman.  From a Linux Capability point of view, it says do not modify the current NAMESPACED capabilities.  Since most likely the user process that is launching the conta

[2019-06-23 13:12] azatsarynnyy commented on #1687
Thanks for updating the image for 1.9.0!

[2019-06-23 22:46] junwang123 commented on #1657
@giuseppe, Bind mounting the `/dev/urandom` device from the host with the `podman -v` option does make the `/dev/urandom` and `yum/rpm` commands work in chroot environments launched inside the container. My original issue is now resolved. Thanks a lot.

@rhatdan, I see, so the effects of those options are subject to capability inheritance limits from the container launcher user process. Thanks for

[2019-06-24 08:10] h-vetinari commented on #1503
@rhatdan

I checked with the newest ubuntu ppa (which already has 1.9.0), and it is still an issue.

[2019-06-24 11:33] MaciejKucia commented on #1234
This seems a requirements problem since original committer has assumed that all layers shall be squashed.

https://github.com/containers/buildah/commit/c806e6e06520631120ab8a58dbcdada102b0b48c#diff-b9ec73f876c8864b1fbdbf9fd96b4690

Reusing base layers makes a lot of sense, especially when dealing with many images based on common `FROM` (for example RedHat UBI).

[2019-06-24 14:30] mtrmac commented on #1589
Yes; earlier discussion is in https://github.com/containers/libpod/issues/2013 .

I don’t see how that is strictly related, except that the code to have algorithm identifiers could help this (because we need to pass the manifest-schema-specific implementation some information about the compression/decompression that is happening, or maybe even let that implementation decide what to use).

[2019-06-24 16:50] #1657 closed

[2019-06-24 17:46] nalind commented on #1234
Agreed, this is essentially a mislabeling based on a misread of what `squash` was supposed to be doing.  A squashed result from `docker build` is equivalent to our `--layers=false`, but there's not really a good time to rename flags in the CLI and in the APIs.

[2019-06-24 17:58] nalind commented on #1590
As a rule, I lean away from making up our own extensions to Dockerfile instructions and syntax.
What's the use case for having FROM do something other than assuming that the image being referred to is for target platform?

[2019-06-24 18:59] nalind commented on #1685
This looks to have been fixed by #1686, closing.

[2019-06-24 18:59] #1685 closed

[2019-06-24 20:52] QiWang19 commented on #1684
Docker support this with `docker build --secret` and uses [buildkit](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md#run---mounttypesecret) for `RUN --mount` in the Dockerfile. Is it possible for buildah to implement this functionality?

[2019-06-25 00:54] grooverdan commented on #1590
When you have a multiple FROM statements in a multi-stage image its fairly obvious that the last one is of the target. Earlier stages however are more ambiguous, they could be of the build (native) architecture to cross-compile some artefacts, or build architecture agnostic artefacts (which is faster not emulated), or they could be of the target architecture to have components.

For now I'll follo

[2019-06-25 07:14] grooverdan commented on #1590
Interestingly (perversely?), docker --platform takes the first FROM as the target architecture and others at the native architecture:

Dockerfile.platformargs:
[code]

[code]

(TODO: will edit with a docker issue once I work out the correct github tracker)

[2019-06-25 18:10] vbatts opened #1693 "[RFC] how to have regression tests on the quay built images"
**Description**

OpenShift pipelines (and I'm sure others) will be downstream users of your https://quay.io/repository/buildah/stable?tab=info builds.
How best should we relay what is expected of this image?
i.e. the path to buildah binary? whether ENTRYPOINT is defined?

For example, if you document that this image will _not_ set ENTRYPOINT, then downstream can expect to not be broken by it sudde

[2019-06-25 18:10] vbatts commented on #1693
cc @TomSweeneyRedHat

[2019-06-25 19:19] rhatdan commented on #1693
I think that is what we decided on,  No Entrypoint, so we should document this.

[2019-06-25 19:21] TomSweeneyRedHat commented on #1693
Weird, no notice from GitHub fro me on this until @rhatdan replied.

[2019-06-25 19:21] TomSweeneyRedHat commented on #1693
I'll add a note to the docs for the noentrypoint bit.

[2019-06-26 14:52] #1660 closed

[2019-06-27 14:21] ipbabble commented on #1469
So this looks like your running buildah bud inside a Fedora container run
by docker that is mounting a temp directory to /var/lib/containers. However
I don’t see any Dockerfile in this containers to know what it is that you
are trying to run buildah bud on. The error suggests a syntax error in the
Dockerfile but it is not clear there is a Dockerfile present (seeing as you
just ran buildah bud on a

[2019-06-28 06:28] devlocalca opened #1695 "How to run Buildah on Windows Subsystem for Linux?"
**Description**
On my Windows 10 Pro system, I want to run **Buildah & Podman**.

I would like to choose either CentoOS or RHEL 8 from the Windows Store WSL selections, but they are not there. I have choices of:
[code]
but **NO CentOS or RHEL8**, so I choose Ubuntu, and can successfully install buildah and podman, I had to lookup the commands to install, as I mostly use **CentOS/RHEL 8**.

I get a

[2019-06-28 06:51] devlocalca opened #1696 "Please add installation instructions for Cygwin (Windows), or help get buildah put into the Cygwin packages (setup-x64.exe)"
**Description**
I would like to ask that installation instructions be added on how to install buildah on Cygwin.

buildah has a close relationship with Redhat (Cygwin is owned by Redhat I believe), how can I help get buildah put into the package list, so that I can install using the cygwin installer?

Same goes with Podman.  I just want to click, have it install, from the looks of packages availab

[2019-06-28 12:17] rhatdan commented on #1695
There is an effort to get this running for Podman right now.  @baude Could you comment on this.
Not sure we are going to put the effort into Buildah, since `podman build` should satisfy most of the needs.

Discussion is happening here.  https://github.com/containers/libpod/issues/3288

Lets keep the conversation there for now, and once we have it working for Podman we can discuss making Buildah wo

[2019-06-28 12:20] rhatdan commented on #1696
Buildah and Podman will not work natively on Windows, They are tools that require running linux processes.  There is effort to make Podman run on WSL going on, as well as podman-remote support for Windows, which should allow us to run podman commands natively on a Windows box and have them communicate with Podman running in a VM.

Let's continue the conversation over in https://github.com/containe

[2019-06-28 12:20] #1696 closed

[2019-06-28 13:34] TomSweeneyRedHat commented on #1696
@rhatdan this would be a great addition to a "nice to have, looking for contributors" list.    I must admit, I'm an old cygwin fan, so would love to see something implemented there.  I don't have the background or time to do so though.

[2019-06-28 22:21] lukeyeager opened #1699 "Buildah looks for USER in /etc/subuid but not UID"
According to the manpage, using UID instead of USER is valid for `/etc/sub{u,g}id`. More than just valid - it's recommended:
[code]

But buildah (which relies on `github.com/containers/storage/pkg/idtools` to search through the files) only looks for USER, not UID:
[code]
When I use `$(id -un)` instead, the warnings go away.

[2019-06-29 11:09] rhatdan commented on #1699
With the above patch applied to buildah, it works with UID specified in /etc/subuid and /etc/subgid.

[2019-07-01 14:08] EricHripko opened #1700 "Publish new buildah to xenial Project Atomic PPA"
**Description**
Current official release of buildah in Project Atomic PPA is __1.8.1__ for [Xenial repos](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa?field.series_filter=xenial) - quite far behind __1.9.0__ release.

**Steps to reproduce the issue:**
1. `apt-get install buildah`

**Describe the results you received:**
Version __1.8.1__ of buildah.

**Describe the results you expected:

[2019-07-01 14:25] lukeyeager commented on #1699
Nice, thanks for the quick response!

[2019-07-01 14:25] #1699 closed

[2019-07-01 21:29] marshallford commented on #1335
@rhatdan I looked into this a bit more and I am still confused. While looking over the docs for [buildahimage](https://github.com/containers/buildah/tree/master/contrib/buildahimage) I noticed that in addition to the `--device` argument that you mentioned, the sample usage also shows a volume being mounted (`-v /var/lib/mycontainer`) and a security setting being tweaked (`seccomp=unconfined`). Bot

[2019-07-01 21:38] marshallford commented on #1481
I am also seeing this error:

[code]

[2019-07-02 08:46] rhatdan commented on #1700
Lokesh is this something we could hand over to a community member, if we had a volunteer to maintain it?
@jnovy FYI

[2019-07-02 12:58] TomSweeneyRedHat commented on #1481
@marshallford  This worked for me, but I think the seccomp bit is not happy in k8s:

[code]

[2019-07-02 13:20] marshallford commented on #1481
@TomSweeneyRedHat Thanks. Apologizes for the similar questions in multiple threads. I was trying to tie similar errors together. See my comments here: https://github.com/containers/buildah/issues/1335#issuecomment-501537272 for a better explanation of what I am trying to accomplish. Day job security policies around limiting container permissions in k8s is driving a lot of my questions and confusio

[2019-07-02 15:31] inytar opened #1702 "Dockerfile RUN tar fails, uid outside of namespace"
**Description**

**Steps to reproduce the issue:**
1. Save the following Dockerfile:
[code]
2. run `podman build`

**Describe the results you received:**
The build fails with the following message:
[code]

**Describe the results you expected:**

I expect the finished container. Using docker the container builds without any problems.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

*

[2019-07-02 17:18] TomSweeneyRedHat commented on #1702
@inytar Thanks for the issue.  Were you running this build as root or as rootless?  I just tried it using the latest Buildah from upstream and as root and it worked for me.  If you did not try it as root, can you do so?

[2019-07-02 18:00] TomSweeneyRedHat opened #1704 "make gives `gometalinter.v1: error: failed to install the following linters:`"
**Description**
When doing `make` for the Buildah code from GitHub, this error is received:
[code]

**Steps to reproduce the issue:**
1. 'make`

**Describe the results you received:**
See description.

**Describe the results you expected:**
Clean make.

[2019-07-02 18:01] TomSweeneyRedHat commented on #1704
Probable fix to Makefile in #1703

[2019-07-02 19:48] nalind commented on #1348
There are at least three areas where one process using devicemapper can interfere with another.

The kernel driver supplies a feature called a transaction identifier, which is a compare-and-swap value that user space uses to help recover from unexpected failures.  When the driver goes to create or delete a logical volume (LV), it first uses its copy of the most-recently-completed transaction's ID

[2019-07-03 11:53] rhatdan commented on #1702
This is an error of using a UID or GID that is not mapped into the range of UIDs/GIDs inside of the user namespace.  When running rootless containers, all UIDs/GIDs used inside of the image  you are using or attempting to build must be inside of the User namespace.  cat /etc/subuid to see the range of UIDs your user has available.

[2019-07-03 13:28] inytar commented on #1702
Sorry for the late reply, I missed the the first message.

Yes I'm running this rootless. Running the command as root works as expected.

/etc/subuid:
[code]

I see that the tar unpacking is happening with uid: `65002`, which is outside the range. It's not very clear to me why it is using this uid. It seems to have to do with the `continuumio/miniconda` container that is used as a base, using an o

[2019-07-03 13:31] inytar commented on #1702
It might be the creation of a new user here that is causing the problem:
https://github.com/ContinuumIO/docker-images/blob/3533ecc3e70749e8c5742425fdf1f3b4a2391735/miniconda3/alpine/Dockerfile#L54

[2019-07-03 13:50] nalind commented on #1702
@inytar 65002 should be in the range - the second field in the file is the first UID to use from outside of the namespace, and the third field is the number of consecutive UIDs that the entry in the file represents.  We generally map all of the configured ranges into the namespace starting at 1, so I'd expect the UID mappings to look like
  outside=inytar,inside=0,rangesize=1
  outside=100000,insi

[2019-07-03 14:15] inytar commented on #1702
Thanks for the explanation, I assumed the UID & GID shown in the error message where the ones seen from outside of the container.

`/etc/subgid`:
[code]

[2019-07-03 15:31] nalind commented on #1702
That confirms what's happening, then.  If you're the administrator on the system, the simplest thing is probably to increase the number of IDs that are configured to be mapped for your user from 65536 to 100005 or more, so that `tar` can set the ownerships successfully.  Or if the permissions don't matter, try passing `--no-same-owner` to `tar` to have it ignore the ownership information in the ar

[2019-07-04 08:08] inytar commented on #1702
@nalind your advice makes the builds work again. Thanks!

[2019-07-04 08:08] #1702 closed

[2019-07-04 10:33] rhatdan commented on #1335
I don't believe the seccomp=unconfined is required any longer, we have fixed up the seccomp rules and buildah to allow buildah to run within a contianer.

The volume mount of /var/lib/containers is all about overalyfs on top of overlayfs not being supported in the kernel.  So running podman/crio on an overlayfs graphdriver, means that buildah can not use overlayfs on /var/lib/containers within the

[2019-07-04 14:26] johnmcollier commented on #1335
Has anyone been able to run Buildah as unprivileged on Kubernetes/OpenShift yet? I tried the `quay.io/buildah/stable` image with the following deployment where I even granted it all of the SELinux capabilities:
[code]

But I get
[code]

I made progress with `--storage-driver vfs`, but it failed on a later step:
[code]
The other issue it seems is that there's no equivalent of the `--devices` flag i

[2019-07-04 19:17] cmoulliard opened #1707 "Image can't be pushed to an openshift docker registry"
## Issue

Image can't be pushed to an openshift docker registry

[code]

Command executed : https://github.com/snowdrop/component-operator/blob/569911f2ea615030e44553624348a03adc8f4f1f/pkg/controller/component/tasks.go#L128-L147
[code]

The certificate of the openshift server is well registered as docker cert on the VM running the ocp cluster 3.11

[code]

[2019-07-05 20:31] singul0 opened #1708 "buildah push: got segfault, specifying empty image name and any destination"
Subj. Not a big deal, cause it sure is incorrect usage, but I strongly suppose segfaults should not be allowed in any program.

**Steps to reproduce the issue:**
1. Run `buildah push "" example.com" or any other destination, it doesn't matter.

**Describe the results you received:**
[code]

**Describe the results you expected:**

Nice error message

**Output of `buildah version`:**

[code]

**Outp

[2019-07-07 02:10] computator opened #1709 "Rootless overlay whiteouts throw error when stored"
**Description**

Deleting existing files in lower layers causes errors when running buildah/podman in rootless mode and using the overlay storage driver. Deleting the files works fine, but it seems to have issues when it later tries to use the whiteout files and fails with operation not permitted. It also has the same issue when pulling a container where a file from a lower layer is deleted. All o

[2019-07-07 10:35] rhatdan commented on #1709
@giuseppe Is this a problem with fuse-overlayfs?

[2019-07-07 10:36] rhatdan commented on #1708
@QiWang19 PTAL

[2019-07-07 10:38] rhatdan commented on #1707
Buildah inside of the container would not have access to the /etc/docker/certs.d on the host?  I would think you need to volume mount it into the container for this to work.

[2019-07-07 10:43] giuseppe commented on #1709
It is trying to use overlay without fuse-overlays.  It works on Ubuntu kernels but something seems to be failing.  @rlifshay could you try using fuse-overlays as we do by default on Fedora?

[2019-07-08 01:02] rlifshay commented on #1709
If I use fuse-overlayfs it works without issue. I am hoping that this can be fixed so native overlay works. That way it theoretically has better performance and I also don't have to manually download and install fuse-overlayfs on Ubuntu.

I was looking through some code a day or two ago in an attempt to debug this, and this looks like it might be somewhat related:
https://github.com/containers/sto

[2019-07-08 01:08] rlifshay commented on #1709
I couldn't find a related issue before when I posted this, but I just now ran across this issue: https://github.com/containers/libpod/issues/2998

[2019-07-08 01:23] rlifshay commented on #1709
Sorry for the repeated posts. It appears as if the kernel overlayfs itself is the only one that can do mknod or set xattrs in a layer for whiteouts or opaque directories when running in rootless mode. Currently we try and directly add the whiteouts with mknod, which only works with root permissions. Possibly we could solve this by detecting this case and using a different strategy. Rather than mak

[2019-07-08 08:01] giuseppe commented on #1709
We need to create the whiteouts in the same format the kernel (or the FUSE program) expects them to be, so we cannot tweak it to be in a different format. If we use native overlay we need to create the whiteout files either with `mknod` or mounting an overlay file system and operating on it.
The latter is not trivial as it sounds: to create a whiteout we will first need to create the file in the l

[2019-07-09 07:28] ssbarnea opened #1712 "rhel8: missing groups or modules: container-tools:1.0"
Buildah installation instructions for RHEL8 are not working, at least not with official [UBI8 images](https://access.redhat.com/containers/?tab=overview#/registry.access.redhat.com/ubi8) where attempting to run them gives:

[code]

[2019-07-09 10:52] vrothberg commented on #1622
Ping. @gregoryboue, do you still see this issue?

[2019-07-09 12:13] rhatdan commented on #1712
@lsm5 @fatherlinux PTAL

[2019-07-10 14:35] carlpett opened #1714 "COPY command for ~75M takes several minutes"
**Description**
Building a container with a build context of ~75M and around 3700 files takes several minutes to do a `COPY . /target-dir`. Colleagues using `docker` have a build time of seconds.

Checking top or iotop during the build shows very low utilization.

**Steps to reproduce the issue:**
1. `time podman build .`

**Describe the results you received:**
Slow build

**Describe the results y

[2019-07-11 19:09] rhatdan commented on #1714
Any chance you could make the context directory and Dockerfile available to us?

[2019-07-11 19:10] rhatdan commented on #1714
Could you see if `buildah bud .` works any better.

[2019-07-11 20:10] carlpett commented on #1714
The directory I was building from contains a bunch of stuff I cannot share, but I just tried from this repo instead, and with a minimal Dockerfile:
[code]

Podman:
[code]

Buildah (latest rpm in Fedora 30, version 1.9.0):
[code]

[2019-07-11 20:11] carlpett commented on #1714
Full buildah version:
[code]
_(Build timestamp seems broken in the rpm package?)_

[2019-07-11 20:20] rhatdan commented on #1714
Could you also attach the Docker time.

[2019-07-11 20:25] carlpett commented on #1714
[code]

Docker version:
[code]

[2019-07-11 20:38] rhatdan commented on #1714
That does not seem to be much difference in Real Time.  The reason the User Time is different is that docker daemon is doing the real work.  The client is only copying the files.

[2019-07-11 20:40] carlpett commented on #1714
It is a differerence of ~2.5 minutes?
Podman: `real    2m35.724s`
Buildah: `real    2m20.140s`
Docker: `real    0m2.211s`

[2019-07-11 20:43] rhatdan commented on #1714
Oops I misread.

[2019-07-11 20:45] carlpett commented on #1714
No worries :) Anything else I can check? I'm in Europe, so about to shut off for the night soon.

[2019-07-11 20:50] rhatdan commented on #1714
Try checking running as root, I think this could be fuse-overlay running slow.
In the libpod github directory on my machine I see:

[code]
But podman build is running like crap.
@giuseppe WDYT?

[2019-07-11 20:50] rhatdan commented on #1714
@nalind PTAL

[2019-07-11 20:51] rhatdan commented on #1714
@QiWang19 PTAL

[2019-07-11 20:53] michaelgugino commented on #1714
This started impacting me this afternoon using buildah.  Builds were working quickly as normal this morning, then all of a sudden, builds are taking like 10+ minutes.  Most time spent on copying.

buildah-1.9.0-1.git00eb895.fc30.x86_64

Dockerfile: https://github.com/openshift/cluster-api-provider-aws/blob/master/Dockerfile.rhel7

I did not upgrade buildah between normal-ness and slowness, it just

[2019-07-11 20:55] rhatdan commented on #1714
Did you update software?  Look at /etc/containers/storage.conf metacopyup line, comment this out and see if it fixes the issue.

[2019-07-11 20:57] carlpett commented on #1714
Sorry, still slow as root:
[code]

From `buildah info`:
[code]

[2019-07-11 21:02] michaelgugino commented on #1714
So, I tried downgrading to buildah-1.7-18.git873f001.fc30.x86_64 and everything works as it did previously (really fast).  Tried upgrading back to the version I listed earlier, epic slowness returns.  This is strange because I did nothing on my end.

The only thing I can think of is that my build image changed between this morning and this afternoon (I'm a consumer), and there's something about th

[2019-07-11 21:03] rhatdan commented on #1714
Weird, I am seeing it slow as podman build, but buildah bud is fairly quick.
Bottom line is we need to figure out why it is slow. It is basically doing a tar/untar, which should be as fast if not faster then Docker.

[2019-07-11 21:03] michaelgugino commented on #1714
@rhatdan tried this, didn't help.

[2019-07-11 21:05] rhatdan commented on #1714
I know there has been a lot of work around making sure we are not being attacked by symlink attacks, I wonder if this is slowing everything down.  Basically it is doing a check on symlink on each file.  I bet that is the problem.

[2019-07-11 21:06] rhatdan commented on #1714
Newer versions of Docker might have similar problems.

[2019-07-11 21:07] rhatdan commented on #1714
There is a CVE where a hostile container process could be changing the paths that we are copying to, and so we check before placing any file that their is not a symbolic link outside of the container rootfs.  So if you are placing thousands of files, this could cause issues.

[2019-07-11 21:10] rhatdan commented on #1714
One potential fix for this would be to not do the check if their is no container running.

[2019-07-11 21:26] carlpett commented on #1714
Need to pop away now, I tried generating a `perf` flamegraph to see if anything was obvious, but I'm too tired... Uploading it here in case it helps anyone (zipped, since Github doesn't allow svgs).
[flamegraph.svg.zip](https://github.com/containers/buildah/files/3384034/flamegraph.svg.zip)

[2019-07-12 08:58] giuseppe commented on #1714
patch here: https://github.com/containers/buildah/pull/1715

[2019-07-12 12:13] michaelgugino commented on #1714
This fixes it for me on fedora.

[2019-07-13 03:13] rlifshay commented on #1709
I would like to find a feasible way to solve this if possible, because even if it's only usable in Ubuntu (or possibly everywhere, see third option below), it enables a significant performance increase. I saw a nearly 20% improvement in build time for a large container when using native overlay vs fuse-overlayfs. I have several ideas below and would try implementing one of them myself, but I am no

[2019-07-13 05:57] giuseppe commented on #1709
what container are you trying to build?  There should not be such big difference, unless you are trying to do many parallel readdirs or copyups.

I don't think we should use setuid programs to circumvent kernel restrictions.

[2019-07-13 06:37] rlifshay commented on #1709
It's a big container that installs WINE and some other things (https://github.com/rlifshay/dng-converter-ctr), although I would guess that even the smaller performance difference with a more typical container could add up in a CI environment or something.

I can definitely understand why someone might be hesitant to do that, especially if it was the default. However personally I think it would be

[2019-07-13 10:19] rhatdan commented on #1709
I would prefer the distributions and upstream kernel to make those decisions.  If Ubuntu is kernel patch is blocking the creation of the whiteout device nodes, then you need to work with them to get it in.  We don't want to add setuid programs to Podman to get around security restrictions, especially when dealing with a patch that even the upstream User Namespace team has not allowed into the upst

[2019-07-13 17:08] 42wim commented on #1568
TLDR; Redhat is not rebasing it, centos7/rhel7 users are out of luck.
But you can easily build your own RPM from https://src.fedoraproject.org/rpms/libseccomp or migrate to another distribution :-)

[2019-07-14 10:08] rhatdan commented on #1568
Well it does work on RHEL8.

[2019-07-15 10:32] giuseppe commented on #1709
it seems most of the cost in running apt is coming from `fsync`.  In general I think it is safer to disable it for containers, especially if all you do is to build a new image that you'll push immediately, or use a single `sync` call after the container exited.
I've also started to work on multithreading support, the lookups are still done in single threading mode, but read/write/setattr/sync happ

[2019-07-15 18:08] #1597 closed

[2019-07-16 08:45] #1708 closed

[2019-07-17 05:39] rlifshay commented on #1709
Yes it seems to help a lot, at least when I also enable the mount options you mention in the PR.
[code]

It seems as if after our discussions this has really turned into several separate issues:
 - fuse-overlayfs performance
 - warning of potential issues when using native overlayfs without mknod/xattr permissions
 - better error messages when failing due to mknod/xattr permission denied
 - packag

[2019-07-17 08:26] giuseppe commented on #1709
@rlifshay thanks a lot for the tests.  This is very helpful feedback.

Do you also have a measure for native overlay (as root) on the same host?

@lsm5 could we add fuse-overlayfs as a dependency to the Ubuntu package?

[2019-07-18 17:12] jdoss commented on #1677
@vrothberg I was building another image that doesn't do this line in my script:

`rm -rfv ${MOUNTPOINT}/var/cache/* ${MOUNTPOINT}/var/log/* ${MOUNTPOINT}/tmp/*` and it was able to finish without issues. It seems that removing files from the mount point is what causes things to hang up here.

[code]

[2019-07-18 21:46] jdoss opened #1731 "Rootless buildah bud fails to chown"
**Description**

Running `buildah bud -f Dockerfile -t ruby:2.5.5-testing .` using the Dockerfile below as a non root user results in failure. Using the root user works just fine.

[code]

**Steps to reproduce the issue:**
1. Copy the above into a Dockerfile
2. `buildah bud -f Dockerfile -t ruby:2.5.5-testing .`
3. See error below.

**Describe the results you received:**

[code]

**Describe the re

[2019-07-18 23:59] TomSweeneyRedHat commented on #1731
@giuseppe PTAL

[2019-07-19 05:37] computator commented on #1709
I did some more testing with more stable conditions (mostly internet) and a lot less variance:
[code]

[2019-07-19 07:52] vrothberg commented on #1677
@jdoss, thanks for checking and apologies for my inactivity. I will have a look now.

@giuseppe, could this be a fuse-overlay issue?

[2019-07-19 07:53] giuseppe commented on #1731
it looks like these directories are requiring some IDs that are not available in the user namespace:

[code]
when you install as root, what uid:gid do these directories get?

[2019-07-19 08:03] giuseppe commented on #1677
it could be an issue there.   We had an issue few months ago with fuse-overlayfs hanging with flocks.

Were you able to reproduce it with the provided script?

[2019-07-19 12:20] giuseppe commented on #1677
the issue seems to be related to `dnf install` creating a symlink `/etc/localtime` that fully resolves to `~/.local/share/containers/storage/overlay/aaa537b35ac6f6aaf8396189c7bdd9d681cf6b454c1ae0a63877e1c7630dc321/merged/usr/share/zoneinfo/UTC`.

It causes fuse-overlayfs to hang as when it tries to open that file, the kernel will do another request to the fuse-overlayfs process but it won't be abl

[2019-07-19 12:37] giuseppe commented on #1677
thanks @vrothberg for spotting it.

So the issue is not in dnf, but the symlink is created as part of the script:

[code]

That is not correct as the target is outside of the container rootfs.

It must be changed to:

[code]

[2019-07-19 15:16] jdoss commented on #1731
They get 1001:1001 which is my UID:GID in on my Fedora 30 workstation. I have changed this `chown -R 1001:1001 /opt/app && \` to `chown -R 1011:1011 /opt/app && \` and the issue still remains. When you run it as the root user you can chown any UID even if it doesn't exist in /etc/passwd just fine.

[2019-07-19 15:53] jdoss commented on #1677
@giuseppe This makes total sense. I just tested it out in my script with the fixed symlink and it works as expect. Thanks a lot!!

It was working a few months ago without issue with the incorrect symlink, so I expect how I was doing the symlink was working due to a bug of some sort that got fixed?

[2019-07-19 17:11] giuseppe commented on #1677
yes I think it is related to changes in fuse-overlayfs.  There were few ones that could have trigged the issue to appear.

[2019-07-19 17:11] #1677 closed

[2019-07-19 17:13] giuseppe commented on #1731
@jdoss yes, when you run as root (and not running in a user namespace with only a subset of these IDs) you can use any ID you want.  When you run as rootless, an user namespace is automatically created and you are limited to the IDs that are mapped there.

As rootless you'll need to make sure your user has enough additional IDs specified in `/etc/subuid` and `/etc/subuid` and that newuidmap/newgid

[2019-07-19 18:52] jdoss commented on #1677
@giuseppe and @vrothberg thank you both!!

[2019-07-20 20:03] rhatdan commented on #1731
In the future, well currently actually podman can run containers within a User Namespace, so we can get the same issue with UIDs.

Note that even containers running as root are actually in a user namespace, but the Namespace has ALL UIDs mapped, which is why it works.

 cat /proc/self/uid_map
         0          0 4294967295

[2019-07-21 22:15] cHolzberger opened #1735 "Can compile on clearlinux because libselinux is missing"
I can't build buildah on clearlinux because libselinux is missing, event when providing BUILDTAGS="" or BUILDTAGS="systemd".

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]
**Describe the results you expected:**
buildah compiling without libselinux

**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[code]

**Additional information you d

[2019-07-21 22:56] cHolzberger commented on #1735
Supplying any BUILDTAGS also results in requiering selinux

[2019-07-22 07:54] vrothberg commented on #1735
Let's keep the discussion over at libpod (https://github.com/containers/libpod/issues/3614).

[2019-07-22 08:38] vrothberg commented on #1735
Closing as we resolved the issue in https://github.com/containers/libpod/issues/3614.

[2019-07-22 08:38] #1735 closed

[2019-07-22 19:28] QiWang19 opened #1736 "buildah bud --dns* flag may conflict with --network"
**Description**
Mirror issue from libpod https://github.com/containers/libpod/issues/3553
Using `--dns*` and `--network` together can have conflicts if using --dns* with
--network 'container:<name|id>'
--network 'none'

**Steps to reproduce the issue:**
1. `buildah build-using-dockerfile` and `buildah from` have --dns* and --network flags. Will this have conflict?

**Output of `rpm -q buildah` or

[2019-07-22 21:41] TomSweeneyRedHat commented on #875
@raffaelespazzoli can you provide more details please?  Are you doing this as non-root?  Can you provide your Dockerfile and any associated commands that you used?

[2019-07-22 21:44] TomSweeneyRedHat commented on #966
This one has been hanging around for a while without a reproducer and I've not heard other similar issues.  I'm going to close this now.  Please reopen or create a new PR as pertinent if the error arises again.

[2019-07-22 21:44] #966 closed

[2019-07-22 21:46] TomSweeneyRedHat commented on #1234
@nalind is there something we can/should do with this or can we close this issue?

[2019-07-22 21:50] TomSweeneyRedHat commented on #1401
I'm not sure how we could validate the yaml.  Should we close this issue given that?  Any other bright ideas?

[2019-07-23 07:13] gregoryboue opened #1738 "Buildah equivalent to docker save"
Hello,

I want to export an image to tar.gz format as it's possible with [docker save](https://docs.docker.com/engine/reference/commandline/save/) command.

I browsed buildah documentation and i didn't find anything about this, is there any way to export image to tar.gz format in buildah ?

[2019-07-23 07:59] vrothberg commented on #1738
Hi @gregoryboue, thanks for opening the issue.

Yes, that's possible. Buildah understands various formats (e.g., docker, oci, dir, docker-archive, etc.). You can see a full list [here](https://github.com/containers/image/blob/master/docs/containers-transports.5.md). There are two transports to generate a tar archive:

* docker-archive: `buildah push $image docker-archive:/path/to/file.tar`
* oci-a

[2019-07-23 07:59] #1738 closed

[2019-07-23 09:44] mlschroe commented on #1234
(Wouldn't --layers=false lead to slower builds as intermediate layers are no longer re-used in builds? I'd prefer squashing the layers at the end of the build.)

[2019-07-23 11:04] jkonecny12 commented on #1401
Feel free to close this in case there is really no idea to solve it.

[2019-07-23 12:33] rhatdan commented on #1738
You could also use podman save, which works with buildah images, if you want similar syntax.

[2019-07-23 12:56] #1401 closed

[2019-07-23 15:23] TomSweeneyRedHat commented on #1665
Fixed with #1737

[2019-07-23 15:23] #1665 closed

[2019-07-23 20:24] mheon commented on #1736
Background here: we noticed this one while doing some updates to Podman's `--network` flag. Podman matches Docker's syntax (`none`, `bridge`, `host`, `container:$ID`). Buildah, however, does not support this syntax - most notable, `buildah bud --network container` doesn't point to another container, but instead seems to just set up a CNI network for the container.

It's sort of confusing that we h

[2019-07-23 21:15] fernando-redhat commented on #696
+1 another vote for 18.04 support

[2019-07-23 22:39] lsm5 commented on #696
@fernando-redhat you still seeing issues with 18.04 addition? can you post the logs please?

[2019-07-24 10:40] rhatdan commented on #1736
@nalind WDYT?

[2019-07-25 13:58] marshallford commented on #1589
Any updates on this @mtrmac @vrothberg ? I see issue https://github.com/containers/libpod/issues/2013 hasn't been touched in a while either.

Thanks!

[2019-07-25 14:13] vrothberg commented on #1589
@marshallford, no updates yet but thanks for the reminder. I will add this back to my TODO and work with @mtrmac to push it over the finish line.

[2019-07-26 10:32] jamescassell opened #1741 "rootless overlay mount option 'O'"
**Description**

The `O` mount option is not available in rootless mode.  This option can be used to greatly speed up building containers by pre-loading `yum` or other caches.  When attempting to use the option in rootless mode, an error is received.

**Steps to reproduce the issue:**
1. c=$(buildah from ubi8)
2. buildah run $c yum makecache
3. m=$(buildah mount $c)
4. d=$(buildah from -v $m/var/c

[2019-07-26 10:40] rhatdan commented on #1741
The problem is you are not allowed to mount overlay mounts when not running as root.
@giuseppe Could we make this work with fuse-overlay mount?

[2019-07-26 13:15] vrothberg opened #1742 "pushing to a registry has `//` prefix"
`StringWithinTransport()` from docker is prefixed with `//`. It must have been like this for a long time but I just realized it now. I would love to not print the prefix as Podman does.

[code]

[2019-07-27 10:05] rhatdan commented on #1742
@QiWang19 PTAL

[2019-07-28 10:09] giuseppe commented on #1741
yes, I think we could use fuse-overlayfs here to mount the overlay when running in rootless mode

[2019-07-28 10:52] giuseppe commented on #1741
I've opened a PR here: https://github.com/containers/buildah/pull/1743

[2019-07-28 20:10] ianmiell opened #1745 "overlay not working on ubuntu: Error processing tar file(exit status 1): operation not permitted"
**Description**

When trying to use overlay, I get a permission error regarding permissions.

It defaults to vfs, which works (but uses far too much disk space).

I assume it's some kind of mapping error, but I haven't found a way to resolve.

**Steps to reproduce the issue:**
1. `rm -rf ~/.local/shared/containers`
2. `podman build --storage-driver overlay .`

**Describe the results you received:*

[2019-07-28 20:18] ianmiell commented on #1745
Looks like: https://github.com/containers/buildah/issues/1709

[2019-07-29 09:15] computator opened #1746 "RFE: Support array format for config --cmd"
`buildah config` does not support the more precise array format for `--cmd` that it does for `entrypoint`, however both [docker](https://docs.docker.com/engine/reference/builder/#cmd) and the OCI [spec](https://github.com/opencontainers/image-spec/blob/master/config.md) support, and even encourage the more explicit array syntax. It would be nice if we could use all the various format combinations

[2019-07-29 14:24] TomSweeneyRedHat commented on #1745
@ianmiell thanks for the issue.  FWIW I edited the description slightly to get the back ticks in the right place for happier formatting.  I didn't change any of the other text.

Do you by chance have a Dockerfile that you can share that you used in your test?

[2019-07-29 14:29] ianmiell commented on #1745
I’m out and about right now but it was a trivial one, something like

FROM docker.io/ubuntu:xenial
RUN ls
CMD bash

On Mon, 29 Jul 2019 at 15:24, Tom Sweeney <notifications@github.com> wrote:

[2019-07-29 14:44] TomSweeneyRedHat commented on #1746
@computator thanks for the issue.  Just to make sure we're on the same page, can you expound a bit with an example or two please?

[2019-07-29 19:04] #1742 closed

[2019-07-29 21:14] lsm5 commented on #1454
@konrad-ohms are you still looking to install buildah on 18.04? 1.9.2 is available on the PPA. See: https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages

[2019-07-30 01:43] #1741 closed

[2019-07-30 09:48] konrad-ohms commented on #1454
cool, thanks for the hint.

[2019-07-30 13:33] TomSweeneyRedHat commented on #1704
This has been cleaned up, closing.

[2019-07-30 13:33] #1704 closed

[2019-07-30 13:40] giuseppe commented on #1745
it is indeed a duplicate of #1720

The issue is that an unprivileged user has no privileges for using `mknod` so we cannot (easily) create whiteout files when extracting an image.

Our suggestion is to use fuse-overlayfs on Ubuntu as well, you'd need to install fuse-overlayfs and add `mount_program = "/usr/bin/fuse-overlayfs` under `[storage.options]` in your `~/.config/containers/storage.conf` fi

[2019-07-30 13:51] junaruga commented on #1590
Hi @grooverdan

Your latest program is still the above branch right? I thought I wanted to try to run your program.

[2019-07-30 17:28] QiWang19 commented on #1499
https://github.com/containers/buildah/issues/1504
agreed to close this, reopen if this happens again.

[2019-07-30 17:28] #1499 closed

[2019-07-30 20:33] AndydeCleyre commented on #1279
@rhatdan

In addition to the case mentioned above, similarly: what would it take to mount the container to a path on the host, then use Python to perform file operations to alter the container, using something like [Plumbum](https://plumbum.readthedocs.io/)?

Is there another way to mount the container filesystem that allows more access from external programs?

[2019-07-30 20:39] rhatdan commented on #1279
Access will be controlled via standard Linux protections. The mount point is defined within the tool, you can not mount to arbitrary locations, although you could bind mount the mount point to other locations.  once the image is mounted any process on the system can use it as long as it is in the same mount namespace and can see the mountpoint,  governed by DAC/User permissions.

[2019-07-30 21:33] AndydeCleyre commented on #1279
Thank you for the quick explanation!

The mount location as-is is no problem. Somehow I missed the ways unshare can be used to run any arbitrary process. Is there a good and non-evil way to pack the unshare command into the shebang? Something like

[code]

[2019-07-31 06:20] ianmiell commented on #1745
imiell@basquiat:/space/git/alertonchange  ⑂ master +  🐧  buildah --debug
bud .

DEBU[0000] running [buildah-in-a-user-namespace --debug bud .] with
environment [SHELL=/bin/bash HISTCONTROL=erasedups:ignorespace
HISTSIZE=1000000 HOSTNAME=basquiat LANGUAGE=en_GB:en
JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64
HISTTIMEFORMAT=%d/%m/%y %T  EDITOR=vim
GOBIN=/space/go/bin PWD=/space/git/alertonchange

[2019-07-31 07:13] giuseppe commented on #1745
`/etc/containers/storage.conf` is the configuration for root containers.

When you are running rootless, Podman/Buildah will use the configuration files under `$HOME/.config/containers`.

An issue I see in the configuration file you are using is that `mount_program = "/usr/bin/fuse-overlayfs"` is not in the correct place.  It must be under the `[storage.options]` TOML section.

Another solution is

[2019-07-31 07:23] ianmiell commented on #1745
If `$HOME/.config/containers/storage.conf` does not exist, then strace reports that it looks at `/etc/containers/storage.conf`. Maybe it acts differently under strace (I notice I get a different error message, presumably due to some interaction between strace and the syscalls (?).

In any case, the last suggestion `rm -rf...` worked a treat. Thanks.

[2019-07-31 11:46] rhatdan commented on #1279
Why not create a command called bunshare

[code]
bunshare /bin/env python3

[2019-07-31 12:06] #1745 closed

[2019-07-31 12:58] giuseppe commented on #1745
unfortunately strace breaks creating the user namespace, as setuid binaries (such as `/usr/bin/newuidmap` and `/usr/bin/newgidmap`) cannot be traced.

`/etc/containers/storage.conf` is used only to cherry pick some settings, like runtime paths, but the whole configuration file cannot be used as most of the settings won't work when running without root privileges

[2019-07-31 13:03] ianmiell commented on #1745
Ah, thanks - that's interesting. Explains why it was complaining to me
about new*idmap.

On Wed, Jul 31, 2019 at 1:58 PM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-07-31 13:22] grooverdan commented on #1590
Yep its the latest. About to get back to this really soon. Plan was to normalize it its behaviour to be consistent with the buildkit issue comment above, see what was working and what needs to be fixed. I also need to see how far on disk libraries have come with respect to storing architecture information. Please have a try, report anything you like/dislike. If you want changes in my tree I'm happ

[2019-07-31 13:22] grooverdan commented on #1590
Yep its the latest. About to get back to this really soon. Plan was to normalize it its behaviour to be consistent with the buildkit issue comment above, see what was working and what needs to be fixed. I also need to see how far on disk libraries have come with respect to storing architecture information. Please have a try, report anything you like/dislike. If you want changes in my tree I'm happ

[2019-07-31 13:24] grooverdan commented on #1590
Yep its the latest. About to get back to this really soon. Plan was to normalize it its behaviour to be consistent with the buildkit issue comment above, see what was working and what needs to be fixed. I also need to see how far on disk libraries have come with respect to storing architecture information. Please have a try, report anything you like/dislike. If you want changes in my tree I'm happ

[2019-07-31 15:43] hholst80 opened #1750 "Feature request: `buildah unshare` is a redundant command and should be removed"
The `buildah unshare` command is redundant and should probably be deprecated from the CLI UI.

The `unshare` command is part of the `util-linux` package and is available from https://www.kernel.org/pub/linux/utils/util-linux/. It is indeed included in most if not all major Linux distributions.

![Perfection](https://i.kinja-img.com/gawker-media/image/upload/185xbqdcr7fgmjpg.jpg)

[2019-07-31 15:53] hholst80 commented on #1750
An ugly workaround appears also by doing so. The use of `BUILDAH_ISOLATION=rootless` to detect if the tool should be running as root and read /etc/.. for config, or if we should read from $HOME/.config/... I have another bug report open about that on podman.

[2019-07-31 15:57] hholst80 commented on #1750
I think that this also exposes that the rootless configuration indeed does not work as intended.

Setting these environment variables are clearly a workaround to a problem with the configuration

[code]

[2019-07-31 20:27] AndydeCleyre commented on #1279
Well I'm looking to make scripts directly executable, and also able to mount containers. I'd rather not add extra files or path manipulations or special instructions on executing if not strictly necessary.

And either I'm really misunderstanding the suggestion, or you left out `buildah unshare` altogether.

[2019-08-01 09:44] rhatdan commented on #1750
@hholst80 why do you think buildah unshare is redundant?  It is quite helpful in us debugging issues when users do not have their user namespace setup properly.  Also we use it for demonstrating user namespace and how it works. Lastly we are starting to see users playing around with user namespace.

In the next version of buildah unshare we have added a --mount $CONTAINERID which allows users to e

[2019-08-01 09:45] rhatdan commented on #1750
@giuseppe FYI

[2019-08-01 09:58] junaruga commented on #1590
@grooverdan sure. alright. Let me try to run your program.

Sure, I recognized `docker build --platform` option was only available when setting `DOCKER_BUILDKIT=1`.

My environment.

[code]

[code]

With putting your `Dockerfile` on a current directory.

[code]

Run it with QEMU and binfmt_misc `/proc/sys/fs/binfmt_misc/qemu-$arch` installed by `dnf install qemu-user-static`.

[code]

[2019-08-01 10:13] junaruga commented on #1590
I just compared the result beween `docker build --help` and `DOCKER_BUILDKIT=1 docker build --help`. Interesting.

[code]

[2019-08-01 10:19] rhatdan commented on #1279
Yes I guess my example should have been
exec buildah unshare -- $@

Upstream buildah unshare now has support for --mount CTRID.

[2019-08-01 10:26] junaruga commented on #1590
The `--platform` option works very well.
For the last case for `--platform linux/i386`, the result of `uname -m` is `x86_64`. But it is an issue of original `i386/alpine` image.

[code]

[code]

[2019-08-01 11:03] grooverdan commented on #1590
I think I've completed:

Exposure of args in build process.

Less sure:

Ensuing args are declared before use (or not) in the same way as docker buildkit/buildx.

Known gaps:

Passing `--platform` argument into fetching docker images (e.g. docker pull --platform X ubuntu:latest`.

Image on filesystem detection of platform (not sure its even there).

Extending Dockerfile "FROM xxx" to `FROM --platf

[2019-08-01 11:54] giuseppe commented on #1750
Un share doesn't support multiple IDs assigned into the user name space, in facts you can get just your user mapped to root, or write the IDs map separately so it is not a replacement for `buildah unshare`.

[2019-08-01 11:59] TomSweeneyRedHat opened #1753 "gofmt module changes needed"
Go module changes are needed.  Buildah should emulate the changes done in https://github.com/cri-o/cri-o/pull/2682/files

[2019-08-01 11:59] TomSweeneyRedHat commented on #1753
FYI @vrothberg

[2019-08-01 12:02] vrothberg commented on #1753
:+1:

[2019-08-01 12:11] junaruga commented on #1590
@grooverdan Congratulations! I have a few questions.

According, above "moby/buildkit" ticket, did you implement above current docker's behavior to podman, to keep the consistency with docker, right?

What does it mean?
For "docker buildx", it seems it is using internally "moby/buildkit"'s `binfmt_misc` data generated by below files: debian's `binutils-$arch-linux-gnu` deb packages, to detect the

[2019-08-01 13:12] rhatdan commented on #1750
Right unshare does not understnad /etc/subuid and /etc/subgid.

[2019-08-01 14:34] lukengda opened #1754 "Podman build fails: runc not installed by default"
**Description**
I am trying to build an image based on a debian image. The minimal Dockerfile i used to reproduce the error is the following:

[code]

**Steps to reproduce the issue:**
1. podman build .

**Describe the results you received:**

The output is the following:
[code]
This is the same picture as in https://github.com/containers/buildah/issues/1309.

`podman run -it --rm debian:buster sh

[2019-08-01 15:05] vrothberg commented on #1754
@lsm5 PTAL

[2019-08-01 15:18] lsm5 commented on #1754
@nalind @TomSweeneyRedHat is buildah configured to use runc at `/usr/lib/cri-o-runc/sbin/runc` ? If not, how can we set that up? I can't have our runc at `/usr/bin` or `/usr/sbin` since that'd conflict with docker-ce and ubuntu's default runc respectively.

[2019-08-01 15:27] lsm5 commented on #1754
buildah is currently not a dependency for podman, @nalind and @TomSweeneyRedHat can correct me if I'm wrong, but buildah code gets vendored into podman.

@lukengda buildah and podman worked fine for you after you installed ubuntu's default runc package, yes? Could you please confirm if you already had the `cri-o-runc` package installed from our PPA and buildah/podman didn't work with that?

[2019-08-01 15:30] lsm5 commented on #1754
@vrothberg could you plesae create labels 'ubuntu' and 'packaging' and assign this to me?

[2019-08-01 16:02] lukengda commented on #1754
yes, the build worked fine after i installed `buildah` and `runc` via apt. I don't know what i could confirm for the `cri-o-runc` package. I had podman installed for some weeks now, i imagined that builds worked before. Today after i encountered the problems i installed buildah and it did not work either.

As podman and buildah have the `cri-o-runc` package as a dependency, it must have been insta

[2019-08-01 16:08] lukengda commented on #1754
I can reproduce it (for now): with the removal of runc the build fails again.

[2019-08-01 17:38] TomSweeneyRedHat commented on #1754
@lsm5 I'll let @nalind correct me, but I'm not seeing us pointing to runc in a particular location within our code.  So I think we're just looking for it based on the defined $PATH, generally /usr/bin/runc.  Can we change the path to /sbin/runc or is the problem that we need one variant of runc and some other package needs another?

[2019-08-01 18:29] rhatdan commented on #1754
Any reason we need it at all for building the package?  It is only needed for tests?  I would like to get to the point where we could easily substitute crun.

Perhaps we should make buildah and podman require an ociruntime, and then make runc and crun packages provide an ociruntime.

[2019-08-01 18:40] lsm5 commented on #1754
So, prior reason for packaging `cri-o-runc` was that distro's runc was too old. I haven't kept track of how that has changed, if we find out that the default runc is now good enough, then maybe we don't need to maintain our own anymore. @TomSweeneyRedHat `/usr/bin/runc` is used by docker-ce and `/usr/sbin/runc` is used by default runc, and we've had other issues where people complained our cri-o-r

[2019-08-01 20:06] junaruga commented on #1590
I tested buildah on my chroot mock environment (Fedora rawhide), getting the source from your branch, referring https://src.fedoraproject.org/rpms/buildah/blob/master/f/buildah.spec , I could not run. Maybe it's not the new feature specific issue, but my environment's issue. ;<

[code]

Below is just from the `buildah.spec` file. Maybe unnecessary steps are included.

[code]

[code]

[code]

[code

[2019-08-01 20:14] theexplorist opened #1755 "Binary for buildah"
I need binary for buildah. So any pointers about it? I see buildah does not provides it.

[2019-08-01 20:37] nalind commented on #1754
That's correct, give or take the `--runtime` flag.

[2019-08-01 20:42] TomSweeneyRedHat commented on #1755
Would a container image suffice?  If so quay.io/buildah:stable, quay.io/buildah:upstream, quay.io/buildah:stable

[2019-08-01 21:16] nalind commented on #1754
I think the last time we needed a minimum runc version, it was v1.0.0-rc4, and bionic currently installs v1.0.0-rc7, so we should be fine using the distro-provided one.

[2019-08-01 21:44] junaruga commented on #1754
I wanted to care about the runc version on Ubuntu xenial. Because xenial is the latest Ubuntu used for Travis CI. But it is also v1.0.0-rc7 on xenial. It looks good. https://packages.ubuntu.com/xenial/runc

[2019-08-01 23:33] rhatdan commented on #1590
Buildah requires you to have runc (Runc package in fedora) and /etc/containers/policy.json file installed.  container-commons in Fedora world.

[2019-08-01 23:35] rhatdan commented on #1755
What distribution do you want it on?

[2019-08-02 06:52] junaruga commented on #1590
Thanks for the info! I missed below in `buildah.spec`.

[code]

[code]

On mock environment again.

[code]

[code]

[code]

Any idea to fix this issue? Thanks.

[2019-08-02 09:55] theexplorist commented on #1755
I use Ubuntu(Bionic Beaver). I am new in this container business, so if binaries are available at quay.io, kindly give me some pointers regarding it after pulling the image.
Thank you.

[2019-08-02 09:58] vrothberg commented on #1755
You can install Buildah on Ubuntu via a ppa as explained in the docs: https://github.com/containers/buildah/blob/master/install.md#ubuntu

[2019-08-02 10:36] theexplorist commented on #1755
So I think I will get binary in usr/local/bin after installation!

[2019-08-02 11:01] rhatdan commented on #1590
Looking at the code, it looks like this is blowing up.
[code]

[2019-08-02 11:16] rhatdan commented on #1755
@theexplorist The one on quay.io is buildah within a container image, so you could run this buildah via Podman or Docker.
Most likely the one from the PPA is what you were after.

[2019-08-02 11:16] #1755 closed

[2019-08-02 13:43] danielhelfand opened #1757 "Question: Logging in to OpenShift Internal Registry Using buildah push --creds with Service Account"
I am trying to push an image built by buildah to an OpenShift internal registry using a `buildah push` with the `--creds` option for authentication. I am using a service account and am trying the following combination to log into the internal registry: `default:$(oc whoami -t)`.

`oc whoami -t` returns the service account token for authentication and `default` is traditionally how to specify a use

[2019-08-02 14:05] TomSweeneyRedHat commented on #1757
@QiWang19 I might be misremembering, but this sounds like a bug you worked on recently?
@danielhelfand I see the stable buildah image from quay.io in your yaml, are you running this push command from a container built from that image?

[2019-08-02 14:40] danielhelfand commented on #1757
@TomSweeneyRedHat You're correct. The image used is found the line above the command [here](https://github.com/openshift-labs/lab-openshift-pipelines-with-tekton/blob/master/code/tektontasks/s2i-java-8-task.yaml#L55) (i.e., `quay.io/buildah/stable`).

[2019-08-02 17:57] QiWang19 commented on #1757
@TomSweeneyRedHat no, haven't seen this bug before. looks like the creds has been checked but it returns http StatusUnauthorized 401

[2019-08-02 18:29] TomSweeneyRedHat opened #1760 "Investigate slowness with buildah bud --layers"
Refer to issue in libpod for details:  https://github.com/containers/libpod/issues/3136

[2019-08-02 18:30] TomSweeneyRedHat commented on #1760
@jpic   FYI

[2019-08-02 18:52] AndydeCleyre commented on #1279
FWIW, this works with `env` from modern GNU coreutils:

[code]

[2019-08-02 19:30] danielhelfand commented on #1757
@QiWang19 @TomSweeneyRedHat Apologies, I think the issue here was a problem with the registry namespace/permissions assigned to the service account. We were dynamically generating namespaces but weren't taking that into account with the registry name. For permissions, the service account just needed edit access to the repo (i.e., `oc adm policy add-role-to-user edit -z pipeline`). This is a non bu

[2019-08-02 19:30] #1757 closed

[2019-08-02 23:26] TomSweeneyRedHat commented on #1546
@msmigiel I finally got my head above water and tried testing this again today.  I'm not able to reproduce again.  However we've made a number of changes to Buildah and it looks like webspher-liberty:webProfile7 has been updated as of June 21.  Can I ask you to retry once again with Buildah v1.9.2 please?  That should be the latest available version.

[2019-08-03 08:02] #1750 closed

[2019-08-03 10:25] rhatdan commented on #1279
@AndydeCleyre Would you be interesting in writing up a short blog?  It might be of more interest if you wrote it using  podman rather then buildah.  I think podman has more users, but it would be exactly the same.
[code]

[2019-08-03 17:15] CameronNemo opened #1762 "1.10.0 fails to build from source when cross compiling to ARM architectures"
[code]

https://github.com/containers/image/commit/94e0f0e2e754ba45be6da695c02e3b0df036c37c

[2019-08-03 17:52] gleroi commented on #696
as of today:
sudo apt update
Hit:1 http://repo.steampowered.com/steam precise InRelease
Hit:2 http://fr.archive.ubuntu.com/ubuntu cosmic InRelease
Ign:3 http://binaries.erlang-solutions.com/debian cosmic InRelease
Hit:4 http://fr.archive.ubuntu.com/ubuntu cosmic-updates InRelease
Ign:5 http://ppa.launchpad.net/projectatomic/ppa/ubuntu cosmic InRelease
Hit:6 http://security.ubuntu.com/ubuntu cosmic

[2019-08-03 19:20] CameronNemo commented on #1762
seems related https://github.com/containers/image/pull/675

[2019-08-03 20:57] TomSweeneyRedHat commented on #1762
@CameronNemo Thanks for the issue.  Unfortunately, this is an error that we discovered late Friday after creating the kit.  As you indicated, https://github.com/containers/image/pull/675 is the PR with the proposed fix.  We're hoping to respin everything Monday.

[2019-08-04 03:13] computator commented on #1746
String format leaves word splitting up to buildah and works with both `--entrypoint` and `--cmd`:
- `--entrypoint /entrypoint.sh`
- `--entrypoint '/entrypoint.sh arg1 "arg two"'`

The more precise array syntax does not do word splitting, instead using the parameters exactly as specified. This format works with both `CMD` and `ENTRYPOINT` in Dockerfiles but buildah only supports it for `--entrypoin

[2019-08-05 09:41] lsm5 commented on #696
On Sat, Aug 03, 2019 at 10:52:16AM -0700, Guillaume Leroi wrote:

Didn't cosmic get EOL'd last month?

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-08-05 17:42] TomSweeneyRedHat opened #1764 "Building images with labels can be slow"
Moving https://github.com/containers/libpod/issues/3303 to this issue.

[2019-08-05 17:43] TomSweeneyRedHat commented on #1764
@bmaupin FYI, moving the issue here.

[2019-08-05 18:23] lukeyeager commented on #1754
Workarounds:

1. `sudo ln -s /usr/lib/cri-o-runc/sbin/runc /usr/sbin/runc`
2. `PATH=$PATH:/usr/lib/cri-o-runc/sbin`
3. `apt-get install runc` (as @junaruga pointed out, on xenial the packaged version is apparently new enough)

I'm leaning towards option 3 for now since it's the cleanest. Questions:

1. Any reason to suspect that xenial's runc will be problematic?

[code]

2. When is this going to

[2019-08-06 18:02] jtudelag opened #1768 "FROM scratch adds "/bin/sh -c" to the entrypoint"
**Description**

When using a Dockerfile `FROM scratch` or a Buildahfile `buildah from scratch`, `/bin/sh -c` it is always added to the entrypoint.

**Steps to reproduce the issue:**
1. Run this Buildah based script

[code]

2. Inspect the entrypoint

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Output of `rpm -q buildah` or `apt list bu

[2019-08-06 18:06] nalind commented on #1768
I think the shell dropped the `"` from the entry point value before passing it to buildah, which then didn't recognize the value it was passed as an array.  Can you quote it using `'` (i.e., `'["/dummy-entrypoint]"]`) and see if that works better?

[2019-08-06 18:48] theexplorist commented on #1755
@rhatdan  Is it possible to download and extract the tar file and extract the binary by compiling it?

[2019-08-07 07:03] jtudelag commented on #1768
You are right @nalind , if I use simple quotes `'["/dummy-entrypoint"]'`, it works.

On the other hand, for Dockerfiles, no single quotes are needed...
The following Dockerfile sets the entrypoint correctly.

[code]

It is a bit confusing having different behaviours when using a Dockerfile or a Buildah native script.

Is this expected? Any chances of having a consistent behaviour between the two?

[2019-08-07 07:53] vrothberg commented on #1755
@theexplorist, yes. You can find the details in the docs: https://github.com/containers/buildah/blob/master/install.md#building-from-scratch

[2019-08-07 12:24] rhatdan commented on #1768
@jtudelag The issue is you are dealing with bash interpreting the command via shell expansion before it ever gets to the tool.  Bash modifies the Entrypoint option.

[code]

[2019-08-07 14:17] jtudelag commented on #1768
@rhatdan understood!!! Thanks for your answer.

Closing the issue then ;).

[2019-08-07 14:17] #1768 closed

[2019-08-07 17:05] TomSweeneyRedHat opened #1772 "STEP n:` messages print to StdErr"
Moving to Buildah from

https://github.com/containers/libpod/issues/3642

[2019-08-08 12:44] rhatdan commented on #1746
@TomSweeneyRedHat Wasn't this just fixed in libpod?  Can we back port the fix from their or better yet share the code?

[2019-08-08 12:47] TomSweeneyRedHat commented on #1746
@computator thanks a bunch for the very thorough follow up.
@rhatdan I don't recall that this was fixed in libpod recently, but so many PR's as of late it could well have been.

[2019-08-09 18:53] TristanCacqueray opened #1778 "Feature: add "--squash-older-than DATE" argument to buildah commit"
Buildah commit currently only support a `--squash` argument to produce an image with one layer. This issue is about a feature to implement a `--squash-older-than AGE` or `--squash-max-layers N` argument to produce an image that only keeps recent layers.

The use-case is for using an image similarly to a regular fedora workstation runtime:

Initialization:
[code]

Package installation: `layer(inter

[2019-08-09 19:57] adambkaplan opened #1780 "bud: COPY . . too aggressive with caching"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

During `podman build`, if the Dockerfile contains the `COPY . .` instruction, podman uses cache even if the underlying files change in a meaningful way

**Steps to reproduce the issue:**

1. Start in a git repository with a Dockerfile that contains a `COPY . .` instruction. Example: https://g

[2019-08-09 20:16] TomSweeneyRedHat commented on #1780
@QiWang19 I think you've been working on a related issue?

[2019-08-11 10:58] mraszplewicz opened #1782 "Podman build fails on copy from cached stage"
**Description**

If you use podman build --target and then podman build on the same multistage Dockerfile, podman fails.

Same behaviour when using buildah build --layers

**Steps to reproduce the issue:**
1. Use this Dockerfile:
[code]
2. Clear your cache ```rm -rf ~/.local/share/containers/```
3. Run ```podman build --target build .```
4. Run ```podman build .```

**Describe the results you rece

[2019-08-11 17:36] andrew-aladev commented on #1731
I had the same problem, it was possible to chown `root:root` only, than I've created `/etc/subuid` and `/etc/subgid` with `puchuu:100000:65536` and it works (`puchuu` is my current user).

[2019-08-12 07:26] giuseppe commented on #1731
@jdoss does it work for you now?  I am going to close this issue, but please reopen if it is still not working

[2019-08-12 07:26] #1731 closed

[2019-08-12 10:55] mnuttall commented on #1481
I've just seen this problem in quay.io/buildah/stable:v1.10.1 and quay.io/buildah/stable:latest. Reverting to quay.io/buildah/stable:v1.10.0 has fixed it for me.

[2019-08-12 12:35] major opened #1783 "buildah error: vfs driver does not support overlay.mountopt options"
**Description**

I run the following script to build containers with the VFS driver:

[code]

This has worked previously, but a recent package update causes buildah to throw this error:

[code]

I am able to work around this by commenting out the `mountopt = ` line in `/etc/container/storage.conf` (which is there by default).

**Steps to reproduce the issue:**

1. Run above script using VFS driver

[2019-08-12 12:37] major commented on #1783
For full error logs, view our GitLab CI results: https://gitlab.com/cki-project/containers/pipelines/75936107

[2019-08-12 13:11] vrothberg commented on #1783
Hey @major, thanks for opening the issue! @rhatdan, this should be fixed with v1.10.2, right?

[2019-08-12 13:28] major commented on #1783
Thanks for the quick reply, @vrothberg. If there are RPMs somewhere for that, I'll be glad to test. 🥰👌

[2019-08-12 14:20] cmoulliard commented on #1707
Problem resolved after changing the RBAC rule

[code]

to be used for the serviceaccount executing the command `push`

[2019-08-12 14:20] #1707 closed

[2019-08-12 19:50] rhatdan commented on #1783
Not in this case.  The issue is we have added nodev and metacopyup=true to the storage.conf file and as @major has figured out they need to be removed if you are going to use the vfs layer.

[2019-08-12 19:51] rhatdan commented on #1783
So this is not a bug.

[2019-08-12 19:51] #1783 closed

[2019-08-13 14:28] rhatdan commented on #1778
@nalind @vrothberg @TomSweeneyRedHat WDYT?

[2019-08-13 14:36] TomSweeneyRedHat commented on #1778
I like the thought, I'm just not sure how well squishing some but not all layers will work code wise.

[2019-08-13 23:24] TomSweeneyRedHat commented on #1762
@rhatdan @lsm5 I think this can be closed with Buildah v1.10.1 no?    @CameronNemo if you've time to validate, that would be muchly appreciated.

[2019-08-13 23:32] lsm5 commented on #1762
yup, seems to be built fine: https://koji.fedoraproject.org/koji/buildinfo?buildID=1349044

[2019-08-13 23:50] #1762 closed

[2019-08-16 06:01] Follpvosten opened #1796 "Segfault when invoking `podman build` on a file"
**Description**

When invoking `podman build` and passing it a file (any kind of file) instead of a directory, it segfaults and shows a stacktrace instead of a normal error message. (I've probably only noticed because I never used docker before)

**Steps to reproduce the issue:**
1. `podman build /path/to/some/file`

**Describe the results you received:**
The program crashes, showing stacktrace st

[2019-08-16 12:08] saschagrunert opened #1797 "pull of local OCI image always refers to docker.io/library"
**Description**

If we pull an image from a local OCI directory, the referring image name will always point to `docker.io/library` instead of `localhost` (what I would expect).

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

or (even harder)

[code]

**Output of `rpm -q buildah` or `apt list buildah`:**

[co

[2019-08-16 16:53] eriksjolund opened #1798 "buildah bud reads a file from parent directory through a symlink"
**Description**

`buildah bud .` can read a file in the parent directory by following a symlink.
`docker build .` (from __moby-engine__) on the other hand gives an error when building the same Dockerfile. I think it is better to give an error.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

I see that the newly built container contains the file

_/foobar_

that

[2019-08-16 20:51] rhatdan commented on #1796
I think https://github.com/containers/buildah/pull/1795 fixes this issue?
Could you try buildah in master branch.

[2019-08-16 20:53] eriksjolund commented on #1798
Actually, there is no need to involve symlinks to see the different behavior of `buildah bud` and `docker build`.
If we specify the file to be included as

`ADD ../hello.txt /hello.txt`

like this

[code]

 `buildah bud`  does not complain

[code]

but `docker build` does complain

[code]

[2019-08-16 20:57] rhatdan commented on #1797
Yes I would say that is a bug.

[2019-08-17 11:24] rhatdan commented on #1797
@saschagrunert Do you intend to fix this?

[2019-08-17 11:24] #1796 closed

[2019-08-17 12:09] saschagrunert commented on #1797
Yes, I will work on this one. 👍 I think the issue might be related more to containers/storage so I may propose different ways to solve this here soon.

[2019-08-17 12:16] rhatdan commented on #1797
Awesome.

[2019-08-17 12:39] rhatdan commented on #1764
I ran a tests on this with buildah in master, and I see it taking
real	0m2.027s

Docker is taking
real	0m4.020s

podman build --layers=false --no-cache /tmp
real	0m5.315s

time podman build --layers=false --no-cache /tmp
real	0m3.960s

@nalind Is this creating an image when we specify --layers=true?

[2019-08-19 08:20] theexplorist commented on #1755
@vrothberg  the ppa installs the latest dev versions, are those dev versions stable? If not I think ppa should only provide the stable buildah and runc versions.

[2019-08-19 08:23] vrothberg commented on #1755
@lsm5 will know what's going on with the Ubuntu packages.

[2019-08-19 08:59] lsm5 commented on #1755
@theexplorist the ppa will currently get you buildah 1.10.1-1~ubuntu18.04~ppa1 which is not dev. The only dev versions are for cri-o which are built using the release-1.x branches which AFAIK are considered stable for use.

[2019-08-19 10:30] saschagrunert commented on #1797
PR is incoming, found a similar issue in podman related to OCI images.

[2019-08-19 13:37] fins2 opened #1802 "running a container based on buildah image on docker host"
**Description**

Unable to start a container with docker from an image build with buildah.

**Steps to reproduce the issue:**
1. create a conainter image with buildah and the --format docker option
2. start a container with docker based on the image

**Describe the results you received:**

[code]

The container start based on the same image with podman run.

**Describe the results you expected:**

[2019-08-19 14:20] nalind commented on #1764
It has to create a new image record in order to store an updated configuration blob with updated label information.  Preparing a working container for the next instruction, in case we don't get a cache hit, is probably costing us when using vfs.

[2019-08-19 14:30] rhatdan commented on #1802
Do you have an example Dockerfile you used to build the container image with?

[2019-08-19 23:08] #1797 closed

[2019-08-20 06:09] fins2 commented on #1802
I use a bash script to build my container image.
You can find the script bellow:

[code]

[2019-08-20 15:42] oblitum commented on #416
Hey folks, I got some similar issue:

[code]

I got this error when I tried to build the image with `--squash`:

[code]

I've build my `Dockerfile` previously without `--squash` and it worked.

[2019-08-20 17:32] oblitum opened #1806 "ADD/COPY --chown cannot determine username when --squash is used"
**Description**

Using `--squash` cause `COPY --chown` not to know about a user I've created in a previous step, inside the image.

Related issue: #416.

**Steps to reproduce the issue:**
1. Full `Dockerfile` used (`archlinux/base:latest` has been built and installed locally from sources because it's outdated on DockerHub until next month):
[code]
2. `podman build --squash -t archlinux/oblitum .`

[2019-08-21 08:46] saschagrunert commented on #1753
I guess this issue can be closed, right @TomSweeneyRedHat ?

[2019-08-21 10:25] bachp commented on #1469
@ipbabble I don't think that has anything to do with the Dockerfile.

I tried with a minimal Dockerfile:

[code]

If I run `buildah` inside a privileged container `docker run --rm -it -v "$(pwd):/build:rw" --privileged quay.io/buildah/stable` everything works as expected:

[code]

If I run it inside a unprivileged container `docker run --rm -it -v "$(pwd):/build:rw" quay.io/buildah/stable` it get

[2019-08-21 10:40] tpihl commented on #1589
Had the intention to finally move over to buildah (have a small breather) but this is of course a blocker.

Well, maybe some other year. My 2 cents is that a blocking issue should never be a reason for major refactoring. Resolving a blocking issue may quite often result in the need of refactoring. Different things...

[2019-08-21 11:28] rhatdan commented on #1753
I believe so.

[2019-08-21 11:28] #1753 closed

[2019-08-21 12:53] TomSweeneyRedHat commented on #1753
ditto what @rhatdan said, thx again @saschagrunert

[2019-08-21 14:17] jdoss commented on #1731
Sorry for not responding earlier. I have had things set in `/etc/subuid` and `/etc/subgid` set for a while and the issue was still happening:

[code]
The next time I rebuild my base images I will try it again with rootless buildah bud and report back to this issue if it happens again.

[2019-08-21 15:39] ipbabble commented on #1469
I will do my best to look at this tomorrow - Thurs.

-William

William G Henry

Senior Distinguished Engineer

Red Hat <https://www.redhat.com>

M: +17192716951     IM: ipbabble
<https://www.redhat.com>

On Wed, Aug 21, 2019 at 4:25 AM Pascal Bach <notifications@github.com>
wrote:

[2019-08-21 16:00] rhatdan commented on #1469
Add --device=/dev/fuse

[2019-08-21 16:07] rhatdan commented on #1469
Works fine from podman
[code]

[2019-08-21 16:08] rhatdan commented on #1469
Docker runs with a tigher seccomp the podman, so it blows up.

Disabling seccomp works
[code]

[2019-08-21 16:09] rhatdan commented on #1469
Also if you use podman's seccomp in docker it works.

[code]

[2019-08-21 16:11] rhatdan commented on #1469
Podman secomp.json does not block mount syscall, which is needed to do the bind mounts when running buildah within a container.

[2019-08-21 16:16] mtrmac commented on #1589
The feature to edit the MIME types correctly just doesn’t exist in c/image, it’s not some gratuitous big refactoring that we are stubborn on insisting when we could have easily committed a one-line fix; or at least I’m not aware of any _correct_ one-line fix we could have made.

[2019-08-21 19:18] ashley-cui commented on #1387
Closed via #1661

[2019-08-21 19:18] #1387 closed

[2019-08-21 20:03] bachp commented on #1469
@rhatdan Indeed that seems to work. It would really be helpful to have this documented somewhere.

[2019-08-21 20:35] rhatdan commented on #1469
I just wrote a recent blog on this.
https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/
But this does not talk about Docker.

[2019-08-21 20:36] rhatdan commented on #1469
At this point I am not sure what to do with this issue.  @TomSweeneyRedHat WDYT?

[2019-08-21 20:37] TomSweeneyRedHat commented on #1469
I think @ipbabble will be working on the doc tomorrow.  Let's see what magic he whips up.

[2019-08-21 21:05] oblitum opened #1810 "Add a new squash command"
Having a squash command would be great to eliminate historical file system artifacts that lead an image to some final state. Deleted and changed files could be completely pruned from overlayfs diffs, etc.

Related issues: [containers/libpod#3871](https://github.com/containers/libpod/issues/3871#issuecomment-523649130), #1806.

[2019-08-22 08:37] mfolnovic commented on #620
Parent issue ( #599 ) was closed, so I was wondering if this will be implemented?

This has a huge impact on building images from CI.

Unfortunately this issue is the only reason I prefer Docker in CI (while living with issues Docker has). After implementing this issue, I don't see any reason to not use Buildah in CI.

Otherwise, Buildah is really awesome, nice work!

[2019-08-22 11:19] rhatdan commented on #620
Sadly no one has picked up the work on this one yet.
@nalind WDYT?
@TomSweeneyRedHat Do you have time to look into this?
@mfolnovic Any chance you would want to take a stab?

[2019-08-22 11:39] mfolnovic commented on #620
@rhatdan with a few pointers, I could try :) :)

[2019-08-22 13:52] TomasTomecek opened #1813 "`buildah run` doesn't relay exit code"
**Description**

When I run a command using `buildah run` and the command fails, buildah replaces the exit code with number 1.

[code]

**Describe the results you expected:**

[code]

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

Fedora 30

[2019-08-22 14:08] gireeshpunathil opened #1814 "buildah mount locations not visible to the host"
**Description**

**Steps to reproduce the issue:**
1. Get into quay.io/builda container, with a mount:
`docker run --privileged -it -v /a:/b -v containers:/var/lib/containers quay.io/buildah/stable /bin/sh`

2. Create something under the mount
`echo hello > /b/foo.txt`
3. Create a container from scratch, with the mount forwarding to the child
`buildah from --name cont -v /b:/c scratch`
4. Get the

[2019-08-22 15:48] rhatdan commented on #1814
This definitely looks like a bug.  @TomSweeneyRedHat PTAL

[2019-08-22 16:12] oblitum opened #1815 "`buildah commit --squash` is using /tmp to build images"
**Description**

I have a larger than `/tmp` image that I want to apply `buildah commit --squash` to attempt creating a squashed duplicate, but the command is using `/tmp` for the task, and there's no space left for it (which can be [circumvented by resizing](https://github.com/containers/libpod/issues/3871#issuecomment-524098810) or remounting `/tmp`, e.g. `sudo mount -o remount,size=12G /tmp`).

[2019-08-22 22:19] oblitum commented on #1810
`buildah commit --squash` already does this job, only thing to be fixed is #1815. It would be interesting if podman itself offered a squash command to squash an image "in place", to evade some command dance that is necessary with `buildah commit --squash`.

[2019-08-22 22:19] #1810 closed

[2019-08-23 07:55] TomasTomecek commented on #1813
Thanks, Nalin!

Works as expected now:
[code]

[2019-08-23 07:55] #1813 closed

[2019-08-23 12:48] rhatdan commented on #1802
@TomSweeneyRedHat PTAL

[2019-08-23 13:47] ThetaSinner commented on #1712
Any movement on this? @lsm5 @fatherlinux

I'm seeing this on ubi8 docker images.

[2019-08-23 15:29] matpen opened #1817 "Missing libdevmapper dependency in apt package"
**Description**

Installing buildah on Ubuntu via PPA does not work, because one library dependency does not get installed.

**Steps to reproduce the issue:**
1. We can reproduce the error in a container with the following script:
[code]
Which fails with message
[code]

2. The problem can be fixed by installing `libdevmapper` manually using
[code]

**Describe the results you received:**

After ins

[2019-08-23 16:09] matpen commented on #1817
I just found that the package also does not install `runc`: since the two issues are related, I thought to add this information to this already open issue. Reproduce with:

[code]

which fails with message
[code]

workaround: manually install `runc`
[code]

[2019-08-23 16:42] TomSweeneyRedHat commented on #1817
@lsm5 PTAL

[2019-08-23 20:28] matpen opened #1818 "Permission problems for buildah in rootless container"
**Description**

My current goal is to run `buildah` in a rootless podman container, possibly as non-root inside the container, but I am facing some permission issues. #1480 is similar, but the symptoms are different.

**Steps to reproduce the issue:**

In the following I try several variations, attempting to lower the granted permissions at each step:

1. Prepare a test image and install `buildah

[2019-08-25 09:53] rhatdan commented on #1712
We prefer to call them `container images` :^)

[2019-08-25 09:54] rhatdan commented on #1712
@jnovy PTAL

[2019-08-25 11:44] rhatdan commented on #1817
We should not be building with libdevmapper support.  This should be omitted.

[2019-08-26 16:08] slinkydeveloper opened #1819 "Buildah APIs for embedding in other tool"
Hi,
I'm working on a POC where I would like to use buildah directly inside this tool. There is any plan to provide a documented API and some examples?

[2019-08-26 16:53] slinkydeveloper commented on #1819
I've tried to emulate what is done in bud.go, but I'm not able to make it working. I've tried the same dockerfile with buildah bud and it works like a charm, and then with my app it stucks.
First of all, I use `MaybeReexecUsingUserNamespace(false)` to make it working without root use, but at first COPY/ADD i get stuck on this problem:
[code]

Any ideas? I've tried to build the container using buil

[2019-08-26 18:10] slinkydeveloper commented on #1819
I'm getting the same exact error using [podman wrapped Build](https://godoc.org/github.com/containers/libpod/libpod#Runtime.Build). What this could be related to?

[2019-08-26 18:23] slinkydeveloper commented on #1819
It doesn't work:

[code]

I have correctly installed and configured fuse-overlayfs, maybe a permission issue? `buildah info --debug` output shows it's correctly configured:

[code]

[2019-08-26 18:52] slinkydeveloper commented on #1819
Uops sorry forget the warning, it was my mistake. Anyway I'm still getting the overlay fs error. To get the store i used the `storage.DefaultStoreOptions`. The complete code snippet is:

[code]

As I said, using a Dockerfile or using builder commands produce the same errors, both in root and rootless

[2019-08-26 20:30] slinkydeveloper commented on #1819
Yep. I get the overlay fs error using the code above (or using BuildDockerfile) and without using `MaybeReexecUsingUserNamespace(false) `.

[2019-08-26 21:19] slinkydeveloper commented on #1819
Thank you it works! I think this should be properly documented to allow people use buildah apis. I'll open a pr for it :)

[2019-08-26 21:19] #1819 closed

[2019-08-27 05:00] gireeshpunathil opened #1821 "buildah bud fails due to missing file system in the container"
Failing case: missing mount binding to the parent container

[code]

Passing case: mount binding enabled to the parent container

[code]

So far so good. Now I converted this cli invocation into a tekton pipeline as follows (only the task steps are shown that is most relevant here)

[code]

The image `gireeshpunathil/foo` is essentially a thin layer on top of `quay.io/buildah/stable`.

This works

[2019-08-27 08:20] ThetaSinner commented on #1712
My company are currently using Docker in Docker build slaves on openshift to build container images. This has been quite complex to set up and unstable to operate.
I was investigating whether buildah/podman would be simpler and more reliable. Given that it appears the resulting images are compatible it seemed like an easy win.
The alternative I'm now looking at is [source-2-image](https://github.c

[2019-08-27 08:51] jnovy commented on #1712
Seems we have a releng issue with 1.0 stream. I was able to reproduce this. But only with 1.0 stream. The rhel8 stream finishes successfully with:

[code]

I will follow-up internally with rel-eng to clarify this.

[2019-08-27 12:05] gireeshpunathil commented on #1821
@rhatdan - thanks for the comment. Yes, I can see the host has everything alright. Here is the full dump:

[code]

[2019-08-27 12:42] gireeshpunathil commented on #1821
@rhatdan - lower is empty. In fact except `merged`, all others - lower, work, diff and link are all empty!

Again, without knowing too much internals of buildah, I can say that this behavior is consistent with the scenario when the parent container (quay.io/biuldah/stable) was invoked without the volume mount of `/var/lib/containers`. If you can assert that this is expected behavior under such cir

[2019-08-28 14:53] gireeshpunathil commented on #1821
@rhatdan  - thanks for your help as always! I have further done some work on the failing system, and have this observation. Though it is not a direct continuation of the previous diagnosis, I hope this brings some clues!

Did these in two identical boxes:

[code]

passing system:
[code]

failing system:
[code]
nothing!

the debug log of the mount command in the failing case shows an additional sec

[2019-08-28 21:06] danieldulaney opened #1824 "buildah bud panics with SIGSEGV when passed a file instead of a folder"
**Description**

When `buildah bud` is called with a file instead of a folder as the only argument, it panics with SIGSEGV.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

An error message telling me that I should use `-f` to pass the path to a Dockerfile, and that the argument is the path to the context directory.

[2019-08-28 21:16] TomSweeneyRedHat commented on #1824
Well that's certainly not pretty.  Thanks for the issue @danieldulaney

[2019-08-28 23:53] SwitchedToGitlab opened #1825 "BUD Build fails: error on commit:: "btrfs driver does not support mount options""
**KIND: BUG**

**Description**
buildah bud fails to commit due to BTRFS related issue, [most likely related to this issue.](https://github.com/containers/storage/pull/416) Podman has a [nearly identical bug, listed here.](https://github.com/containers/libpod/issues/3773)

If at all possible, it would be super helpful to know which package the BTRFS driver is in so I can downgrade it and see if the

[2019-08-29 07:53] rhatdan commented on #1824
[code]
Seems to be fixed in master.
[code]

[2019-08-29 07:54] #1824 closed

[2019-08-29 08:09] rhatdan commented on #1825
Comment out the storage options in /etc/containers/storage.conf and this will probably work.

[2019-08-29 08:15] vrothberg commented on #1825
@rhatdan, maybe we should just ignore (and log) those options instead of errorring out? In any case, I'd like the error string to point users into the right direction (e.g., pointing to the used `storage.conf`).

[2019-08-29 11:13] rhatdan commented on #1825
We would have to modify containers/storage for this.  But I am fine with making these a warning rather then an error.  The only issue would be if these settings were required for security.
A better solution would be to make them driver specific.

IE setting overlay.storage_options rather then just storage options.  Since these default options don't necessarily apply to other drivers.

[2019-08-29 11:40] vrothberg commented on #1825
I like the idea of making the driver specific

[2019-08-29 11:43] rhatdan commented on #1825
Could you open an issue on containers/storage to make storage options driver specific.

[2019-08-29 11:46] vrothberg commented on #1825
https://github.com/containers/storage/issues/423

[2019-08-29 15:02] gireeshpunathil commented on #1821
btw, @rhatdan - just wanted to update you on my latest finding: with `quay.io/buildah/stable:v1.9.0` I see both the above issues are resolved, issue is with the latest (I did not bisect to see precisely the breaking version though).

thanks for your help!

[2019-08-29 15:51] johnmcollier opened #1826 "Buildah unable to push built images to Dockerhub"
**Description**
Ever since yesterday, I've been unable to push large (~ 30MB or greater) images to dockerhub using buildah 1.10. I can push the super-tiny `hello-world` image without issue, but anything bigger fails. What's even weird is that buildah doesn't report any errors, and the exit code is 0, but no image gets pushed to my dockerhub account.

Using the same buildah binary, I can push fine

[2019-08-29 15:52] johnmcollier commented on #1826
I should note that before yesterday, I had no issues pushing to dockerhub with the exact same version of buildah.

[2019-08-29 17:17] SwitchedToGitlab commented on #1825
Sorry folks but commenting the storage options out of ```/etc/containers/storage.conf``` does not resolve the issue. I have tried just the storage options sections of both ```/etc/containers/storage.conf``` and ```~/.config/containers/storage.conf``` (which was installed by my distro fyi) as well as commenting out the entire file in both locations and I'm still getting the same error output as lis

[2019-08-29 17:48] rhatdan commented on #1821
Ok so this is with the quay.io/buildah/latest?
@TomSweeneyRedHat PTAL

[2019-08-29 17:56] rhatdan commented on #1826
@vrothberg @mtrmac PTAL

[2019-08-29 18:11] mtrmac commented on #1826
What does `buildah --debug …` say about the push?

[2019-08-29 18:18] TomSweeneyRedHat commented on #1821
@gireeshpunathil Can you try:
[code]

I think the only change here over yours is I went with Podman and added the `--device /dev/fuse:rw'
With that change in play, I'm seeing the /usr dir in my container.  Holler if I missed a step in your testing.

[2019-08-29 18:21] johnmcollier commented on #1826
@mtrmac Here are the logs from it: [buildah_debug.txt](https://github.com/containers/buildah/files/3556871/buildah_debug.txt)

There's nothing suspect in it, and it also says the push was successful. But the image doesn't show up on my dockerhub account.

**However:** I can pull it with `buildah pull johncollier/spring-push-test`), **but** I cannot pull it using `docker` (either with the CLI or wi

[2019-08-29 18:31] mtrmac commented on #1826
Thanks. The registry accepts an OCI-formatted manifest; and if `buildah pull` can read it, then the registry can also return the data.

It’s then, “only” the UI and Docker, that can’t deal with the OCI-formatted manifest.

[2019-08-29 18:36] johnmcollier commented on #1826
@mtrmac I changed the title to mention images built using `buildah bud`.

If I build an image using buildah and try to push it to dockerhub, I'll hit this issue I'm seeing. If I push a prebuilt image, it pushes fine and shows up on dockerhub (assuming the manifest is as dockerhub expects it).

[2019-08-29 18:39] rhatdan commented on #1826
What happens if you build it with --format docker?  Does the push succeed and show up then?

[2019-08-29 18:41] mtrmac commented on #1826
Sure; pre-existing images are likely to use Docker schema2, and will be pushed using the same format.

New images are created using OCI by default (and converted to schema2 _if the destination registry does not support OCI_). But of course, the registry supporting OCI does not indicate that any other future consumer, like the UI or /usr/bin/docker, can support OCI as well.

`--format docker` shoul

[2019-08-29 18:42] johnmcollier commented on #1826
@mtrmac @rhatdan Thanks, that worked! Good to know about `--format docker`. This issue can be closed now.

Thanks a ton for your help!!

[2019-08-29 18:49] #1826 closed

[2019-08-29 18:57] rhatdan commented on #1825
Is podman working?

[2019-08-29 19:03] rhatdan commented on #1825
Ok this is a bug in buildah, it was fixed in containers/storage after buildah was released.

https://github.com/containers/storage/commit/e3f1fe0cb355fed87eb6e03bd6c873f470067e83

We need to release a new buildah version @TomSweeneyRedHat

This is fixed in master branch

[2019-08-29 19:19] rhatdan commented on #1826
@johnmcollier Please report the issue to docker.io, that pushing OCI images to the registry, they don't show up in the UI.

[2019-08-29 19:21] johnmcollier commented on #1826
@rhatdan Will do

[2019-08-29 19:30] johnmcollier commented on #1826
@rhatdan @mtrmac I've opened https://github.com/docker/hub-feedback/issues/1871, feel free to add more details to it if needed

[2019-08-29 19:55] rhatdan commented on #1818
Could you try

podman run --rm --device /dev/fuse --volume /tmp/test2/run_rootless:/var/run/containers/storage:rw,Z --volume /tmp/test/storage_rootless:/var/lib/containers/storage:rw,Z -ti quay.io/buildah/stable bash -ec '

[2019-08-29 19:57] rhatdan commented on #1825
@TomSweeneyRedHat Time to release V1.11.0

[2019-08-29 19:58] rhatdan commented on #1821
@TomSweeneyRedHat Nice catch, I forget about /dev/fuse, I wonder if we should make this a default?

[2019-08-29 20:00] rhatdan commented on #1815
@TomSweeneyRedHat Can we move this to /var/tmp?  Or allow the user to specify the location?

[2019-08-29 20:02] rhatdan commented on #1814
So the volumes are only getting mounted during a RUN or Build.  The issue is we rely on the OCI runtime to actually create the content and mount the bind mounts.

[2019-08-29 22:10] matpen commented on #1818
Thanks for the hint, @rhatdan. I tried the following:

1. Running the suggested command as root; I get the following error while executing `buildah from` inside the image
[code]

2. Adding the flag ` --cap-add SYS_ADMIN` to the previous command, still running as root; this works both with `--isolation=chroot` and without.

3. Running the previous command as normal user: this works! No `--isolation

[2019-08-30 08:33] gireeshpunathil commented on #1821
@TomSweeneyRedHat - thanks. But it not work!
[code]

[2019-08-30 10:17] rhatdan commented on #1818
The magic is in the Dockerfile, mainly configuring fuse-overlay to run, this eliminates the need for SYS_ADMIN.

https://github.com/containers/buildah/blob/master/contrib/buildahimage/stable/Dockerfile
[code]

[2019-08-30 13:54] matpen commented on #1818
Wait, does that mean that the flag `--cap-add SYS_ADMIN` should not be needed? This appears not to be true on my system:

[code]
this fails with error:
[code]

[2019-08-30 14:02] rhatdan commented on #1821
Oh, yes I keep forgetting the seccomp rules in docker are stricter then in podman, basically Docker blocks all mount commands, even though bind mounts are safe.  Although --privileged should have removed that.

This works for me
#  docker run --security-opt seccomp:unconfined -it --device /dev/fuse:rw -v /var/lib/mycontainer:/var/lib/containers:Z quay.io/buildah/stable
[root@3bbaa213c7a6 /]# echo

[2019-08-30 14:03] rhatdan commented on #1821
Or the best
[code]

[2019-08-30 14:26] gireeshpunathil commented on #1821
@rhatdan - unfortunately, these options also do not help, threw a different error!

[code]

[code]

[2019-08-30 14:32] rhatdan commented on #1821
Weird these all work fine for me.  @giuseppe Any ideas?  Is fusermount3 supposed to be in the container?

[2019-08-30 14:49] rhatdan commented on #1818
With new enough versions of podman and container-storage, and perhaps container-selinux, SYS_ADMIN should not be required.

[2019-08-30 16:23] matpen commented on #1818
Thank you for the information. I think I will wait for these features to be released: I can live with the flag for now.

However, there are two more issues to iron out:
1. I am trying to remove the need to run `buildah` as root inside the container:
[code]

whereby both tests fail with error:
[code]

2. Reproducing the image on `quay.io` from a bas Ubuntu image, trying to simulate the official Doc

[2019-08-30 19:40] johnmcollier opened #1830 "`buildah bud --layers` uses files from a completely separate build"
**Description**
I'm running buildah in a Kubernetes environment and I have two Dockerfile-based "projects"; one that builds a basic lagom web application, and the other that builds a simple Open Liberty web application. Both use maven as a builder image and have a pom.xml.

When `buildah bud --layers ...` is used to build both images, in successive order, I'm seeing a weird issue occur. The Lagom

[2019-08-30 19:43] johnmcollier commented on #1830
Debug logs from both builds:
[buildah_lagom_debug.txt](https://github.com/containers/buildah/files/3561277/buildah_lagom_debug.txt)
[buildah_openliberty_debug.txt](https://github.com/containers/buildah/files/3561278/buildah_openliberty_debug.txt)

[2019-09-02 12:17] gireeshpunathil commented on #1821
further info: last good build: `v1.9.0`, first bad build: `v1.9.1`.  I could do a `git bisect`, but unfortunately bit difficult to follow the build procedure. Is it documented somewhere, or can someone share it for me to follow? thanks!

[2019-09-02 20:34] villytiger opened #1831 "Rootless mode with host root on overlayfs"
**Description**

I'm trying to run buildah in rootless mode inside a container. So I have overlay mount as a rootfs. When I run buildah in root mode it reports that "'overlay' is not supported over overlayfs". However when I run it in rootless mode it silently uses some mix of overlay and vfs drivers. As a result I have an empty directory mount as a rootfs for new container.

**Steps to reproduce

[2019-09-02 20:37] villytiger commented on #1831
By the way. If I specify storage-driver command line option, buildah reports error:
[code]

[2019-09-03 11:05] rhatdan commented on #1831
You have to volume mount in /var/lib/containers if you want to use overlay inside of a container running on overlay.

In rootless mode we are not using the kernels overlayfs we are using fuse-overlayfs, so it is allowed in this case.

[2019-09-03 11:28] villytiger commented on #1831
But it doesn't work in my case. If I run `mkdir -p /home/user/.local/share/containers && chown -R user:user /home/user/.local && mount -t tmpfs tmpfs /home/user/.local/share/containers` before step 5, it does work.

[2019-09-03 11:36] villytiger commented on #1831
It is a side question. But I wonder why nested overlay is not allowed?

[2019-09-03 13:28] TomSweeneyRedHat commented on #1821
@gireeshpnathil I'm not 100% sure of the build procedure that you're looking for?  I use ./release.sh to create the initial commit then massage things by hand from there.

@rhatdan actually did both.
1.9.0 at: https://github.com/containers/buildah/pull/1676
1.9.1 at https://github.com/containers/buildah/pull/1716

if you search the closed PR's for the word "bump" you should see all of them.  Is th

[2019-09-03 13:33] gireeshpunathil commented on #1821
@TomSweeneyRedHat - sorry if I confused you! my idea is:

 - setup a buildah build locally (able to do make install or whatever)
 - test it on my system - I suspect the latest one will fail (show above result)
 - then I can unwind commits by doing `git bisect` until I get a good build.
 - this will work, as we know we have a good build in `v1.9.0`

So, I am looking for a procedure on how to build

[2019-09-03 14:06] TomSweeneyRedHat commented on #1821
@gireeshpunathil the confusion is probably all on my end, I've only had one cup of tea today, I'm way behind schedule!

After you've used `git bisect` to determine the commit id that you want, can you do a bunch of git hackery?  Setup a sandbox ala: https://github.com/containers/buildah/blob/master/install.md#installation-from-github and then:

[code]

[2019-09-03 17:05] cmoulliard opened #1835 "buildah bud step fails on openshift as root user is expected"
## Issue

When I use the latest buildah image, I cant perform a s2i build using the command
[code]

as we will get this error
[code]

**Remark**: This problem don't exist using image version: v1.9.0

[2019-09-03 17:24] TomSweeneyRedHat commented on #1825
Closing as this was fixed in Bulidah v1.11.0 due to vendoring: https://github.com/containers/storage/pull/416

[2019-09-03 17:24] #1825 closed

[2019-09-03 17:53] TomSweeneyRedHat commented on #1815
@oblitum  can you define the environment variable TMPDIR to /var/tmp or a larger area with something like:
`export TMPDIR=/var/tmp`

and then rerun the commit?

I took a very quick look at the code and we could potentially add an argument to squash or come up with another option for commit to specify the tmpdir to use, but we'd have to pass that info down to c/storage and then potentially a number

[2019-09-03 18:00] TomSweeneyRedHat commented on #1814
@rhatdan is there something we can do with this?  I'm not sure this is unexpected for the mount command as it's used in the example.

[2019-09-03 19:28] E100Beta commented on #1780
Came here from https://github.com/containers/libpod/issues/3920 - this issue seems to be isolated to multi-stage builds for me, single-stage builds seem to cache correctly. Podman 1.5.1.

[2019-09-03 23:18] oblitum commented on #1815
Hi @TomSweeneyRedHat.

Yes, I just test with a simple archlinux/base image from DockerHub and the following makes to command use a local directory instead of `/tmp`:

[code]

[2019-09-03 23:19] oblitum commented on #1815
Feel free to close the issue. I'm not sure whether a flag is needed of the `TMPDIR` variable should be documented for that task.

[2019-09-04 07:47] atefBB opened #1837 "Use `Buildah` in Ubuntu 16"
**Description**

I've installed `buildah` in `Ubuntu Linux 16.04.3` following the `installation` instructions in the docs, when I run `buildah images` (e.g) I got the error: `kernel does not support overlay fs: 'overlay' is not supported over extfs at "/var/lib/containers/storage/overlay": backing file system is unsupported for this graph driver` !

**Steps to reproduce the issue:**
1. Install bui

[2019-09-04 11:39] rhatdan commented on #1831
You'll have to ask the kernel guys.

[2019-09-04 11:47] rhatdan commented on #1831
I am talking about in the podman command.

mkdir ./myuser
chown myuser/
podman run -v ./myuser:/home/user ...

[2019-09-04 12:23] TomSweeneyRedHat commented on #1815
@oblitum glad to hear that worked and thanks for the update!  I'm going to keep this issue open for the moment to remind myself to think about a doc solution somewhere.

[2019-09-04 12:44] TomSweeneyRedHat commented on #1837
@lsm5 any thoughts?

[2019-09-04 13:48] lsm5 commented on #1837
@nalind @rhatdan overlay driver is dependent on newer kernel, yes? What's the right driver for older ones?

[2019-09-04 14:04] rhatdan commented on #1837
I would use the VFS driver,  BTRFS and XFS might work.  But we have not done a lot of testing on this.

[2019-09-04 14:05] lsm5 commented on #1837
@atefBB I can send you a one-off deb file with this change if you'd be willing to test it

[2019-09-04 14:16] atefBB commented on #1837
@lsm5 Yes ! I can test it.

[2019-09-04 14:41] rhatdan commented on #1818
@giuseppe PTAL

[2019-09-04 14:54] rhatdan commented on #1814
Yes I think we need to close this since we really can not fix this is a reasonable way other then to tell user to run the container

As soon as you do a
buildah run $CTR echo hello
The mount point point will change.

[2019-09-04 14:55] rhatdan commented on #1814
We could document this though.

[2019-09-04 14:59] villytiger commented on #1831
Yes, it must work. But this bug report about overlay mount in /home/user. Buildah has inadequate behavior in such case trying to mount an empty directory with hard to debug message about missing /bin/sh file. I see two options here:
1. Buildah must report in rootless mode that it doesn't support fuse-overlayfs over overlayfs.
2. If Buildah does support fuse-overlayfs over overlayfs, it must proper

[2019-09-04 17:15] TomSweeneyRedHat commented on #1835
@cmoulliard I've only played with s2i a few times.  Can you share the actual command that you invoked?  I think there may have been a bad cut/paste in your description as I'm not seeing as many starting braces `{` as ending braces `}` and think your example command and some of your xml/yaml was inadvertently not included.

[2019-09-04 17:21] cmoulliard commented on #1835
Here is the command executed from the Tekton Task definition within the initcontainer
using the image : `quay.io/buildah/stable`

[code]

[2019-09-04 18:09] TomSweeneyRedHat commented on #1780
I think this is now working in Buildah 1.10.1, or perhaps my testing was off?  @adambkaplan  could you verify the following test?  I'm seeing the cache being reused only when the file has not changed.

[code]

[2019-09-04 18:15] lsm5 commented on #1837
@rhatdan so is it just `driver = "vfs"` in this case?

[2019-09-04 18:25] lsm5 commented on #1837
@atefBB can you try installing the containers-common deb file at https://lsm5.fedorapeople.org/containers-common_0.1.39-1~ubuntu16.04~ppa2_all.deb . That should install a new storage.conf with `driver = "vfs"` ... or better still, please make the change manually in your storage.conf first and check if that works

[2019-09-04 19:45] rhatdan commented on #1831
I don't believe that happens with the latest fuse-overlayfs.  Fuse-overlay will work on an Overlayfs file system, I believe.  @giuseppe PTAL

[2019-09-04 20:07] rhatdan commented on #1837
export STORAGE_DRIVER=vfs

Or --storage-driver vfs

[2019-09-05 07:58] giuseppe commented on #1831
native overlay cannot be nested as the whiteouts will confuse the different overlay layers.

fuse-overlayfs can be used on top of  overlay.  fuse-overlayfs will fall back to use `.wh.FILE` whiteouts when whiteouts using mknod cannot be used.

Please be aware though that this use case is not really well tested so I'd still suggest to use a bind mount so that the storage inside the container is not

[2019-09-05 09:42] atefBB commented on #1837
@lsm5 I'll try it !

[2019-09-05 18:20] lsm5 commented on #1837
@atefBB any luck?

[2019-09-05 19:13] kedmison opened #1843 "buildah shell script does not create /.dockerenv or /run/.containerenv"
**Description**

Some software needs, at installation time, to know if it is running inside a container.  Docker provides /.dockerenv, and [libpod provides /run/.containerenv](https://github.com/containers/libpod/blob/master/docs/podman-run.1.md).

buildah shell scripts do not create this file, so software that depends on installation-time detection of container builds fails via buildah shell scri

[2019-09-06 07:07] atefBB commented on #1837
I got this:
<pre>~# dpkg -i containers-common_0.1.39-1~ubuntu16.04~ppa2_all.deb
=> Selecting previously unselected package containers-common.
(Reading database ... 133004 files and directories currently installed.)
Preparing to unpack containers-common_0.1.39-1~ubuntu16.04~ppa2_all.deb ...
Unpacking containers-common (0.1.39-1~ubuntu16.04~ppa2) ...
dpkg: dependency problems prevent configuration o

[2019-09-06 20:33] TomSweeneyRedHat commented on #1780
I've not been able to duplicate this using Buildah v1.11.0 which should be in the next release of Podman.  I'm not sure if that will be Podman 1.5.1 or Podman 1.6.0, but it will be contained that next version.  I'm going to close this now as #1792 appears to have fixed the issue.  If you find otherwise, please feel free to reopen this or create a new issue as appropriate.

[2019-09-06 20:33] #1780 closed

[2019-09-06 20:43] TomSweeneyRedHat commented on #1843
Closed via #1844

[2019-09-06 20:43] #1843 closed

[2019-09-06 21:01] TomSweeneyRedHat commented on #1835
@cmoulliard, I'm probably dealing with late Friday afternoon brain, but I'm not able to make your example command work?  Is Dockefile.gen the file that you copied in the description above?  Did you run that command inside a container based on the stable image?  Can you also share the command(s) you used to run that container if applicable?

[2019-09-07 10:15] eriksjolund opened #1846 "COPY downloads URL"
**Description**

`buildah bud` downloads a URL specified by a `COPY` instruction in a Dockerfile.

**Steps to reproduce the issue:**

1.

[code]

**Describe the results you received:**

The URL _https://getfedora.org/index.html_ was downloaded

**Describe the results you expected:**

I expected the command `buildah bud -t copytest .` to fail, like the command
`docker build` does

[code]

**Output

[2019-09-08 12:10] gireeshpunathil commented on #1821
Apologies for the delay, was actually working to circumvent this issue back in my project. But now I have some updates:

I wasn't greatly successful with `git bisect`: the image version `v1.9.0` is just a month old, but in github commits, even if I traverse months together, I am uable to find a one that works on this machine!

then I took a different approach. I placed latest `buildah` binary into

[2019-09-09 05:17] gireeshpunathil commented on #1821
ok, more findings: this time I am able to do `git bisect` successfully, on the `fuse-overlayfs` component. I hope we can continue conversation here, as these are very closely related projects? Let me know if that is not the case.

This commit https://github.com/containers/fuse-overlayfs/commit/35949df0bbbf507937f0ddafdb3557234531211e is the point of failure. Without knowing anything about the `fus

[2019-09-09 05:28] gireeshpunathil commented on #1821
I did further debugging, and found that

https://github.com/containers/fuse-overlayfs/blob/35949df0bbbf507937f0ddafdb3557234531211e/main.c#L500-L502

makes the difference. If I comment that, the issue is resolved!

the documentation for this flag says:

[code]

[2019-09-09 05:33] gireeshpunathil commented on #1821
how do we know my kernel has the support for the writeback cache, and if yes, it works well?

[2019-09-09 06:09] gireeshpunathil commented on #1821
If I were to suspect the `libfuse` module on the host, this is what I have:

good system:
[code]

bad system:

[code]

The only difference is in the `glusterfs`, that too in the minor versios.

And that, did not yield any updates:

[code]

so!

[2019-09-09 10:09] gireeshpunathil commented on #1814
I will close this out in favor of #1821 , as I guess we are talking about the same thing or the underlying issue is one and the same, and #1821 has more context.

Thanks!

[2019-09-09 10:09] #1814 closed

[2019-09-09 10:19] cmoulliard commented on #1835
No. Here is the dockerfile which is generated by Tekton's task

[code]

[2019-09-09 10:22] cmoulliard commented on #1835
Here is the pod definition created by Tekton which contains the command executed to call `buildah bud`

https://gist.github.com/cmoulliard/58b668e65afc6fbaeeaab7cef6379303#file-gistfile1-txt-L162-L209

[2019-09-09 14:39] giuseppe commented on #1821
could you try disabling the writeback cache with?

[code]

in your `~/.config/containers/storage.conf` file if running as rootless, or `/etc/containers/storage.conf` when running as root in a container as in your use case?

[2019-09-09 14:50] giuseppe commented on #1821
alternatively, could you check if this fuse-overlayfs patch solves the issue:

[code]

[2019-09-09 15:22] TomSweeneyRedHat opened #1847 "Issue with --squash option and env variables in Dockerfile?"
**Description**
Using the following Dockerfile and `podman build`(or `buildah bud --layers`) command, the command will fail with `/bin/sh` not found.  If you retry and remove the `--squash` option it works.  If you try a third time with the `--squash` option back, it works.

Error does not happen if `ENV` commands are not part of the Dockerfile.

[code]

**Steps to reproduce the issue:**
See descr

[2019-09-09 19:26] rhatdan commented on #1847
Didn't @nalind just fix an issue similar to this?

[2019-09-09 19:27] rhatdan commented on #1847
https://github.com/containers/buildah/pull/1839

[2019-09-09 20:23] TomSweeneyRedHat commented on #1847
Just tested with #1839 on board for sure, I'm still seeing the error.

[2019-09-09 22:04] TomSweeneyRedHat commented on #1847
I've shrunk the Dockerfile down further, something's up with `--squash` and `ENV` in the Dockerfile.  The following Dockerfile fails in the same way.

[code]

[2019-09-09 23:01] koursoh commented on #475
By entry point, it means to the top of the .sh file itself. For some people, it might not be clear.

[2019-09-10 11:20] lzap commented on #1578
I just tried this with

[code]

And it works fine. The COPY line does not get stuck.

[2019-09-10 12:15] iNecas commented on #1578
ACK, I've seen the improvements as well. Might be ok to close

[2019-09-10 13:08] TomSweeneyRedHat commented on #1847
Well, I take that back, #1839 does indeed fix this issue too.  Last night when I tested, I changed and built Buildah, but then neglected to vendor that into Podman.  I then ran `podman build` with the old bits.  Ugh!  Just retested with Buildah and I've verified that the problem is there without @nalind's change and now with the change, it's no longer a problem.

[2019-09-10 13:08] #1847 closed

[2019-09-10 13:46] bmaupin opened #1849 "Podman build is very slow compared to docker"
**Description**

I've previously experienced slowness using `podman build` with images that have labels (https://github.com/containers/buildah/issues/1764). But now it seems building any image is very slow.

In case it's relevant, I'm also experiencing an `image not known` error that could be affecting buildah: https://github.com/containers/libpod/issues/3982

Normally I'd wipe ~/.local/share/cont

[2019-09-11 06:00] usamaahmadkhan commented on #1589
@vrothberg any tentative release date for this fix? also is there any working version which works with containerd 1.2.x ?

[2019-09-11 07:06] vrothberg commented on #1589
@usamaahmadkhan, I can't name a date but I want the fix to be part of Buildah's next release (Cc @TomSweeneyRedHat @nalind @rhatdan).

To my knowledge, there's no working version with containerd 1.2.x. Containerd 1.2.x validly rejects the images.

[2019-09-11 12:48] rhatdan commented on #1589
@vrothberg Is this fixed in master branch?  We need to get a new version of buildah released this week for podman build.  I was planning on a minor release, IE no installed packages, just for vendoring..  But if we need to push it into formal release, we can do this.

[2019-09-11 12:51] vrothberg commented on #1589
@rhatdan, it's not yet merged. Among other things https://github.com/containers/image/pull/563 fixes it.

[2019-09-11 14:38] #1578 closed

[2019-09-11 14:52] rhatdan commented on #1849
Are you sure you are using fuse-overlayfs?

$ podman info

[2019-09-11 16:54] mcritchlow opened #1851 "COMMIT error: invalid reference format"
**Description**
We are currently using buildah to manage building our container images for a project in Gitlab, using their CI/CD tooling. This has worked great so far as a replacement for using docker-in-docker, which was Gitlab's recommendation. So first, thank you!

However, we've recently started using an automated dependency update service, [Renovate](https://renovatebot.com/), which is using

[2019-09-11 17:02] nalind commented on #1851
Per [the distribution sources](https://github.com/docker/distribution/blob/master/reference/regexp.go#L37), the set of permitted characters in tag names is alphanumerics, `_`, `.`, and `-`, so I wouldn't recommend trying to use `/` in a tag name.

[2019-09-11 17:12] mcritchlow commented on #1851
@nalind - Oh, that's helpful, thank you. I was worried about that. So perhaps the answer is that it shouldn't work, and we should potentially switch to using the commit hash for tags instead of the branch/ref name.

[2019-09-12 16:55] aric49 opened #1853 "Proposition: Support a more open Containerfile in addition to Dockerfile"
Hi everyone,

Not sure if this issue is a good one for `buildah` or for podman proper repo. Please let me know if I should open this in libpod instead.

In the spirit of removing dependencies on Docker and fostering a spirit of more a open environment for building OCI-compatible container images, have we given any thought to automatically supporting other file names for container build instruction

[2019-09-12 18:27] kedmison opened #1854 "buildah-copy does not properly follow canonical symbolic links"
buildah copy does not properly follow canonicalized symbolic links (i.e. linksrc -> /opt/linktarget).  This is in contrast to docker and its COPY statement, which does operate correctly.

**Steps to reproduce the issue:**
1. run the buildah script
[code]

**Describe the results you received:**
Buildah failed when trying to evaluate the canonical link:
`error adding content to container "alpine-wor

[2019-09-13 14:07] rhatdan commented on #1849
You are using vfs.

  GraphDriverName: vfs

To get to fuse-ovleray, you need to remove all of your storage and config files and start again.

$ sudo dnf install -y fuse-overlayfs
$ rm -rf ~/.config/containers ~/.local/share/containers
$ podman info

Now you should be using fuse-overlayfs.

[2019-09-13 15:12] kevinelliott commented on #1590
Very excited for this. It's the only thing holding me back from jumping to podman/buildah from docker buildx. Thanks for the hard work here @grooverdan, filing the issue and testing @junaruga, and supporting the effort @rhatdan.

[2019-09-13 15:45] mcritchlow commented on #1851
Closing this out, I think the info from @nalind says it all as far as what we should be expecting. Thanks again for the quick response!

[2019-09-13 15:45] #1851 closed

[2019-09-13 16:18] miquecg opened #1857 "Cannot create container with a non-privileged user from Arch Linux bootstrap image"
**Description**
I'm tinkering with container technologies, specially buildah. I've made a small build job in CircleCI that creates a container image from latest Arch Linux tarball. That essentially is a root filesystem with pacman and some other basic tools inside.

The problem is that I cannot create containers from the image with my regular user. I assume some elevated privileges must be require

[2019-09-13 16:23] rhatdan commented on #1857
Looks like you are running rootless and do not have a range of UIDs allocated in /etc/subuid and /etc/subgid?

[2019-09-13 16:32] afbjorklund commented on #1853
Sounds like a good idea, I also like the "Containerfile" - rather than something like Podmanfile.

Currently using a Makefile to build it, where the `$(DOCKER)` can be replaced with `sudo podman`.

[code]

Renaming the "Dockerfile" would be a natural fit for this...

Wonder what a better name for the make variable would be ?

[2019-09-13 16:42] miquecg commented on #1857
Probably... I do not have either file. What are them for?

Pulling from `fedora:latest` also gives error:

[code]

[2019-09-13 17:04] TomSweeneyRedHat commented on #1857
@miquecg if you can, take a look at the setup steps for Podman Rootless containers [here](https://github.com/containers/libpod/blob/master/docs/tutorials/rootless_tutorial.md).  The setup/config stuff there should hold for Buildah too.  If you're still having problems after that configuration is completed, please let us know.

[2019-09-13 17:10] aric49 commented on #1853
@afbjorklund  -- since it's a variable,  could  it be `CONTAINER_BUILD_INTERFACE`  or just `CONTAINER_INTERFACE` ?

[2019-09-13 17:38] afbjorklund commented on #1853
Well, those are better than `$(CONTAINER)`. But maybe I will just go with BUILD instead.

i.e. put the abstraction at "docker build" rather than just docker, with all the connotations.

[2019-09-14 10:40] junaruga commented on #1590
@kevinelliott Below can be an alternative way to build multiarch-platform images with podman until podman implement this feature.

1. Prepare below Dockerfile

    Dockerfile

[code]
    $ yum install qemu-user-static
[code]
    $ podman build --rm -t my-fedora --build-arg BASE_IMAGE=arm64v8/fedora .

    $ podman run --rm -t my-fedora uname -m
    aarch64
[code]

[2019-09-15 15:52] tensor5 opened #1859 "Different behaviour between STORAGE_DRIVER=vfs and --storage-driver=vfs"
**Description**

I'm using Buildah to build an OCI image with Gitlab CI and quay.io/buildah/stable. Setting the environment variable STORAGE_DRIVER=vfs produces:

[code]

while `buildah --storage-driver=vfs bud .` works as expected.

**Steps to reproduce the issue:**
1. `podman run --privileged --rm -ti quay.io/buildah/stable`
2. `STORAGE_DRIVER=vfs buildah info`
3. `buildah --storage-driver=vfs i

[2019-09-15 16:55] yangm97 commented on #1590
@junaruga good workaround, but you don't get to build for multiple architectures at once, nor will you get a multi-arch manifest.

[2019-09-15 18:10] junaruga commented on #1590
@yangm97 You might need create below kind of bash (sh) script to build for multiple architectures at cone.
You also can use `parallel` command and etc to run it in parallel [1]

[code]

I do not understand the "multi-arch manifest".

[1] https://www.gnu.org/software/parallel/

[2019-09-15 18:19] yangm97 commented on #1590
@junaruga A manifest is what allows container runtimes to pull the correct image from, let's say `fedora:latest`, when `:latest` is a multi arch manifest which then points to multiple images.

I.e.

[code]

https://medium.com/@mauridb/docker-multi-architecture-images-365a44c26be6

[2019-09-15 18:26] miquecg commented on #1857
Allocating a free range of UIDs/GIDs solved the problem.

Many thanks!

[2019-09-15 18:26] #1857 closed

[2019-09-15 21:22] junaruga commented on #1590
@yangm97 thanks for the info! Now I understand it!

If you want to use the manifest, the script can be like this.
`print-arch-image-digest.sh` prints "digest" value by specified architecture "platform/architecture". Maybe `jp` command to parse a json string is useful.

[code]

As a co-incidence, I created the similar command with `jq` and `skopeo` today.
https://github.com/junaruga/ci-multi-arch-t

[2019-09-16 14:07] rhatdan commented on #1859
Disabling the mount options in /etc/containers/storage.conf should allow you to use the Environment variable.  The options are for the Overlay Driver.

[2019-09-16 14:11] rhatdan commented on #1859
In buildah code we do:
[code]

But the storage library handles the environment variable, which is why they are different.

We have talked about changin the storage library to make the options driver specific, which is really the long term solution to this problem.

[2019-09-16 14:18] rhatdan commented on #1857
@miquecg Could you document exactly what happened?  And how you fixed it. We might need to update documentation on how you got into trouble.

[2019-09-16 14:41] miquecg commented on #1857
Sure, no problem :)

I've just added a free range of UIDs/GIDs under `/etc/subuid` and `/etc/subgid`. Example:

[code]

Following the format `USER:RANGE_START:RANGE_MAX`.

It is important that the range doesn't include any real ID on the host machine, otherwise anyone using the container could access to resources from the host beloging to that ID.

Everything is well documented [here](https://open

[2019-09-16 15:00] rhatdan commented on #1857
Ok, I thought you found something new.  That guy who wrote the blog, tends to know his stuff.  :^)

[2019-09-16 19:23] QiWang19 commented on #1854
from the buildah script in the issue description, before running `buildah copy --chown nobody:nobody "${container}" /bin/false /opt/testcase/link-canonical/test2-canonical`, I run ls and see the link `/opt/testcase/target` is red and flashing, does this mean this link is problematic, should copy work under this situation?

[code]

[2019-09-17 02:38] tensor5 commented on #1859
Thanks for your reply, I'm looking forward to be able to use `quay.io/buildah/stable` out-of-the-box for CI with no extra configuration.

[2019-09-17 04:12] kedmison commented on #1854
It means the link cannot be resolved, but that is exactly the problem.  when run from chroot $mountpoint, it should work (as the canonical link would resolve to the right location).  But, it appears that buildah copy does not properly follow canonical symbolic links on the target filesystem, so the link appears broken and is shown in red.

If you take the mkdir, ln, and ls commands out of the buil

[2019-09-17 11:59] cmoulliard opened #1863 "Question about Copying BLOB"
## Question

If we use the following command within a k8s's pod created on ocp where there is an internal docker registry  :
[code]
then, buildah will first copy several BLOBs as showed [hereafter](https://gist.github.com/cmoulliard/997e6c54c9d65706fa6bb814db005d01#file-gistfile1-txt-L1-L48)
[code]
As such a process could take time, slow down the s2i build process, I would like to ask you what we

[2019-09-17 17:30] rhatdan commented on #1863
Does this help?
https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2019-09-17 21:17] petejohanson commented on #1589
Looks like containers/image#563 is merged now. Does that unblock buildah? Just hit this myself for the first time w/ some Pi cluster exploration I'm doing.

[2019-09-19 07:20] cmoulliard commented on #1863
I think so. I will have a look. Many thanks

[2019-09-19 07:20] #1863 closed

[2019-09-19 14:33] debarshiray opened #1864 "Provide metadata to indicate version of tools used to create a container"
**Description**

Sometimes when debugging it's useful to know the version of Podman that was used to create a container. eg., a situation where a container that was created with an old version of Podman now fails to start with a newer version.

It would nice if this information was exposed somewhere. It could be via `inspect` or something in `/run/.containerenv` or something else.

[2019-09-19 19:34] elerch opened #1865 "allow a per-user registries.conf option"
I've been using podman to run containers without an /etc/containers directory at all. This is made possible in part due to @giuseppe's change to allow a per-user registries.conf option (https://github.com/containers/libpod/commit/c737d01937fc3644bdabbe50df71a455aa3b1f8b). This works great for ``podman run``, but ``podman build`` then has a different (unexpected) behavior of only looking for config

[2019-09-19 19:57] TomSweeneyRedHat commented on #1865
@elerch TYVM for raising this issue.  I think you're spot on with this thought.  WDYT @giuseppe ?

[2019-09-20 05:12] rhatdan commented on #1864
The logical case for this would be in annotations or labels, I would guess.  Putting info into /run/.containerenv is not a bad idea either.

[2019-09-20 05:32] oblitum opened #1867 "Errors when building an image"
**Description**

Does anyone have an idea why I'm getting errors like `call to execv failed (No such file or directory)` and `sed: command not found`?

This is the full log: https://gist.github.com/oblitum/163d9c5666a0b4106c421e90e55b778e

It doesn't happen with docker, only with podman, which I run rootless.

Original issue: https://github.com/archlinux/archlinux-docker/issues/19

**Steps to repr

[2019-09-20 07:25] rhatdan commented on #1867
First have you tried as root?
What does
$ podman cat /proc/self/uid_map

Show

[2019-09-20 07:33] oblitum commented on #1867
On host:

[code]

[2019-09-20 07:35] oblitum commented on #1867
Also, I didn't try it as root, as it was working rootless before. My intent is to use it rootless. I finished build the same image with Docker, but hence, I had to run it with `sudo`.

[2019-09-20 07:35] rhatdan commented on #1867
I need `podman unshare cat proc/self/uid_map`

[2019-09-20 07:36] rhatdan commented on #1867
Just checking for root, to see if there are just issues on rootless.

[2019-09-20 07:36] oblitum commented on #1867
[code]

[2019-09-20 07:37] rhatdan commented on #1867
podman unshare cat /proc/self/uid_map

[2019-09-20 07:37] oblitum commented on #1867
[code]

[2019-09-20 07:39] oblitum commented on #1867
I'll leave the build command running as root, but I'll have the result only tomorrow, as this build takes a lot of  time.

[2019-09-20 08:11] rhatdan commented on #1867
Ok,  User Namespace looks good.
@giuseppe PTAL

[2019-09-20 16:57] oblitum commented on #1867
Build successful as root, just like with docker. So it looks like I'm hitting issues when running rootless now, which I didn't hit earlier.

[2019-09-20 18:56] aric49 commented on #1853
I'm also going to open an issue, potentially a PR on podman-compose to try and get a similar functionality there:  `container-compose.yml`

[2019-09-20 19:18] oblitum commented on #1867
Well, when running in root I think there were some different configurations, for example, there's no uid/gip mapping, and also, the final image got double the size than I expected, I think it's because root isn't using layered filesystem, I've only configured that to my user.

[2019-09-20 19:20] TomSweeneyRedHat commented on #1853
@aric49 @afbjorklund  FYI https://github.com/containers/buildah/pull/1860

[2019-09-20 19:58] aric49 commented on #1853
I also opened a PR against `podman-compose`:  https://github.com/containers/podman-compose/pull/46

[2019-09-21 16:58] oblitum opened #1868 "Missing files in new image after committing a container"
**Description**

I have an ArchLinux image which I used docker to build due to #1867. I've then saved a tar for it, loaded it into rootless podman and squashed it with buildah. The new squashed image is working, all tools I've installed in it are there. Now, I've run this new image rootless and upgraded the system inside it with `pacman -Syu --noconfirm --removemake && pacman -Sc --noconfirm`. It

[2019-09-21 17:07] oblitum commented on #1868
This is the command output when I commit the just run archlinux container to a new archlinux image:

[code]

[2019-09-21 17:20] TomSweeneyRedHat commented on #1868
@oblitum Thanks for the problem report.  Just as a quick test if you've the time, can you try rerunning your test, but this time when you do the commit don't use the same name?  i.e. `podman commit archlinux myarchlinux`?

It's the first thing that comes to top of my mind, thanks.

[2019-09-21 18:13] oblitum commented on #1868
I tried, problem isn't due to container/image name, same behavior. I just did the same steps with docker and found no issues. I just loaded the tar into docker, run, upgrade, exit, commit, run, all there, no missing files. I think I'll have to mix docker, buildah and podman in my workflow when I go about to do upgrades. It's quite convoluted. I have to load my image in docker, do an upgrade to it,

[2019-09-21 18:46] rhatdan commented on #1868
Are you running root or rootless. Could you see if everything works when running podman/buildah as root.

[2019-09-21 20:56] oblitum commented on #1868
I'm running podman rootless. Running podman as root on issue #1867 fixed that problem, but it may have been due because my root user isn't configured to use overlayfs. It also caused me to run out of disk space when I tried to run it as root for this current issue. I simply went to docker to fix my problem instead of setting overlayfs to root.

I'm sorry but I'm not interested in trying this as ro

[2019-09-21 20:56] #1868 closed

[2019-09-22 19:45] giuseppe commented on #1865
yes, I think we should make sure Buildah follows the same behaviour as Podman and it honors the user file

[2019-09-22 19:47] giuseppe commented on #1865
I am out of office this week.  If nobody beats me at it, I can take a look at it once I am back

[2019-09-23 17:38] TomSweeneyRedHat commented on #1760
in my testing today, the margin between builds that I was able to complete was just seconds over several minutes.  As the original Dockerfile supplied in https://github.com/containers/libpod/issues/3136 is no longer working and we've had a number of speed improvements put into play, I'm going to close this out.  @jpic please reopen or create a new PR as appropriate if you don't agree.

[2019-09-23 17:38] #1760 closed

[2019-09-23 19:11] jpic commented on #1760
Thanks for the feedback @TomSweeneyRedHat, highly appreciated. However, I now most definitively share the opinion that layer caching is vastly inferior to host controlled caching, ie. `yum install --root $(buildah mount $ctr)`, which still leverages cache for previous package when adding a new one, unlike the layer-based cache ... as such I'm preparing to migrate away from docker-compose.yml and D

[2019-09-24 01:03] kaitoy commented on #1589
When do you guys plan to fix this?
Our CI keeps failing due to this issue...

[2019-09-24 13:25] QiWang19 commented on #1854
failed to reproduce on master, this issue should be fixed on master branch.

[code]

[2019-09-24 18:21] TomSweeneyRedHat commented on #1234
I've been playing today looking at the experimental `--squash` option in Docker and comparing it to the Buildah commands and these commands appear to be equivalent (Note `buildah bud` sets `--layers` to false by default, `podman build` sets `--layers` to true by default):

// Retain all layers, squash none.
`docker build` == `buildah bud --layers=true` == `podman build`

// Squash all new layers i

[2019-09-24 21:46] kedmison commented on #1854
This was 100% reproducible in my test environment, so I'm eager to test the master build.
Thanks for the excellent instructions for building master; I'll try building it and confirming it's fixed there.

[2019-09-24 21:52] kedmison commented on #1854
@QiWang19 I see you did buildah unshare followed by ./canonical.bash.
Was canonical.bash the script I supplied?
In my tests, I did not do the 'buildah unshare' step; I just invoked the script directly.

[2019-09-24 22:40] QiWang19 commented on #1854
@kedmison yes. canonial.bash was the script you supplied
as non-root user, I got error ```cannot mount using driver overlay in rootless mode. You need to run it in a `buildah unshare` session```, so I ran `buildah unshare`. If I'm root I can directly run the script.

[2019-09-25 13:02] terion-name commented on #696
still actual

[2019-09-25 13:07] lsm5 commented on #696
care to elaborate please?

[2019-09-25 15:27] terion-name commented on #696
@lsm5 trying to install on Ubuntu 18 errors the same as topicstarter written

[2019-09-25 16:29] lsm5 commented on #696
@terion-name is it 18.04 (bionic) or 18.10 (cosmic) ? If it's 18.10 (cosmic), then it's been [officially EOL-ed](https://fridge.ubuntu.com/2019/07/19/ubuntu-18-10-cosmic-cuttlefish-end-of-life-reached-on-july-18-2019/) and there's no point creating packages for it. Please consider upgrading to 19.04 (disco) in that case.

[2019-09-25 16:48] terion-name commented on #696
@lsm5 bionic

[2019-09-25 17:04] lsm5 commented on #696
@terion-name that's strange. It's working for me and I haven't heard anyone else complain about that recently. Mind posting the output here when you try to add the ppa please? The original post is more than a year old btw, so I'm not sure whatsup in your case, so the error output would certainly help. Thanks.

[2019-09-26 08:23] terion-name commented on #696
@lsm5
[code]

[2019-09-26 11:57] lsm5 commented on #696
On Thu, Sep 26, 2019 at 01:23:19AM -0700, Terion wrote:

So, you're trying to add `ppa:thumbor/ppa` but the one we provide is
`ppa:projectatomic/ppa`. Can you retry with the correct name please?

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2019-09-26 15:28] terion-name commented on #696
@lsm5 oh my. so sorry, this is wrong repository. so dumb. I need more to sleep.

[2019-09-26 18:51] smith-kyle commented on #1546
Can confirm this is still an issue in Buildah v1.11.2.

Here's a simple example
**Output of `ls`**
[code]
**Output of `cat Dockerfile`**
[code]
**Output of `buildah bud --build-arg my_arg=a_file.txt .`**
[code]
Now I'll change my Dockerfile to copy the file using a static path rather than a build arg and output the build arg to a file just to show that it was passed in correctly
**Output of `cat D

[2019-09-27 08:45] tiernemi opened #1871 "--build-args do not work as expected within docker "ADD" blocks : buildah version 1.11.2"
Having updated to version 1.11.2 of buildah the build args in a dockerfile do not resolve to their correct value in ADD blocks. I have created a minimal repro as follows

1. Create a file called abc.txt
2. Create a dockerfile as follows
[code]
3. Run the following command
[code]

You should receive the following output
[code]

When running the following command with docker
[code]
It succeeds with

[2019-09-27 10:43] scorpionlion opened #1872 "rootless "podman build" fails when run under an agent systemd service (Jenkins/Azure Devops/TFS)"
**Description**
rootless "podman build" fails when run under an  agent systemd service (Jenkins/Azure Devops/TFS)

**Steps to reproduce the issue:**

1.  _Run commands_
[code]

1. _/home/[user]/docker/DockerFile_
[code]
2. _/usr/bin/runpodman.sh_
[code]

3. _/usr/lib/systemd/system/podmanbuild.service_ The service example is isolated as a simple service, but in real the service is the agent servic

[2019-09-27 14:54] TomSweeneyRedHat commented on #1871
@tiernemi Thanks for the issue, especially since you've a nice reproducer.  Will take a look.

[2019-09-27 15:14] TomSweeneyRedHat commented on #1871
@tiernemi I'm able to reproduce and it looks like the ARG part of things are working appropriately as I'm able to do `RUN echo $testArg` just before the `ADD` line and that resolves OK.  Do you by chance know if this worked in earlier versions of Buildah?

[2019-09-27 15:19] tiernemi commented on #1871
It was working using the previous version of buildah in our pipeline. Version 1.10.1-2.

[2019-09-27 16:44] TomSweeneyRedHat commented on #1871
Thanks @tiernemi, I think I've found a PR that went into 1.11.0 that may have caused the issue, looking further.

[2019-09-28 21:06] leoluk opened #1875 "Cache ignores symlink target changes in a directory"
**Description**

When adding a directory containing a symlink using `ADD`, the layer is re-used even if the symlink target changed.

[code]

**Output of `podman version` if reporting a `podman build` issue:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[code]

**Output of `cat /etc/containers/storage.conf`:**

<details>

[code]
</details>

[2019-09-29 14:16] rhatdan commented on #1872
@giuseppe PTAL

[2019-09-30 06:59] giuseppe commented on #1872
@scorpionlion, I think it could be related to SELinux.  Could you check if it is blocking the process?

Does it work if you temporarily use "setenforce 0"?

[2019-09-30 09:17] scorpionlion commented on #1872
yes, It does work when setenforce is disabled. Sorry I forgot to add this.

The observation I have is when podman build gets called through a parent process which happens to be a child process of systemd service then It fails, perhaps the delegation of permissions not passed to podman build.

[2019-09-30 10:26] giuseppe commented on #1872
it works on Fedora 30, so I guess the selinux policy requires some tweaking on RHEL 7.7.

What do you see with `ausearch -m avc -ts recent`?

[2019-09-30 11:18] scorpionlion commented on #1872
[code]

[2019-09-30 11:22] scorpionlion commented on #1872
Also want to check does podman work on RHEL 7.6?

[2019-09-30 12:19] giuseppe commented on #1872
it works but has some limitations, as it is not possible to use fuse-overlayfs

[2019-09-30 16:29] scorpionlion commented on #1872
Thanks for confirming. Please advise the way forward for this issue.

[2019-09-30 20:30] rhatdan commented on #1872
For now add the rules via
grep container_t /var/log/audit/audit.log | audit2allow -M mycontainer
semodule -i mycontainer.pp

That should fix selinux until the selinux-policy package gets updated.

[2019-09-30 21:54] jmccormick2001 opened #1888 "problem with dockerfile + tar command"
**Description**

I'm seeing a socket not supported issue when trying to build with a Dockerfile
that uses the tar command.

**Steps to reproduce the issue:**
1. use the Dockerfile in this Issue
2.
3.
Example Dockerfile and Makefile are located here:

https://github.com/jmccormick2001/rq

Note that the Makefile.docker works as I'd expected but want to get this working with buildah
if possible.

tha