[2018-05-08 08:36] gouyang opened #666 "The output of pulling image is redirecting to stderr"
I think all outputs should go to stdout, but some go to stderr, is it by design?
[code]

[2018-05-08 08:37] ripcurld commented on #666
No, it's not supposed to do that.

[2018-05-08 08:56] ripcurld commented on #666
@rhatdan it seems like we are using `os.Stderr` as `ReportWriter` which prints all the progress into stderr. Was there a reason for that?

[2018-05-08 12:44] rhatdan commented on #666
I think this is for scripting.

ctr=$(buildah pull fedora)
You don't want $ctr to have all of the pull information in it.

[2018-05-08 13:07] ripcurld commented on #666
Well, I am a little bit torn here.
*Docker* prints to `stdout`, while *wget* and *curl* redirecting the progress to `stderr`.
I am not sure what is the right thing to do here but knowing this made me think this is not as bad as I thought.

WDYT?

[2018-05-09 18:17] taqtiqa-mark commented on #612
All seems good now:

[code]

[2018-05-09 19:15] TomSweeneyRedHat opened #671 "`buildah run` with pipe ('|') fails"
**Description**

A `buildah run` command with a pipe in it fails.  For instance:

` buildah run $whalesays /usr/games/fortune -a | cowsay`
-bash: cowsay: command not found

Prior versions the command `buildah run $whalesays` would run the commands piping the fortune to cowsay and would print a message from the Docker whale.

**Steps to reproduce the issue:**
1.  /bin/cat <<EOM >$FILE
FROM docker/w

[2018-05-09 21:46] pixdrift commented on #671
Interestingly it looks shell specific, as behaviour when using `RUN` in the Docker file to execute the same command succeeds.

[code]

[code]

[2018-05-10 09:11] alanbchristie opened #672 "Consistent tag format?"
It's a super-minor point but could you be consistent with your tags and decide on **V** or **v** as a prefix?

[2018-05-10 11:52] pixdrift commented on #672
Hi Alan,

Are you referring to consistency between buildah commands?

Can you give a specific example?

[2018-05-10 12:54] pixdrift opened #673 "Option flags expecting integers eat their neighbouring flags and generate parsing errors"
**Description**
I found the following when generating test cases for some of the option flags. For the `CommonBuildOptions` flags that are of type `int`, if provided no input they attempt to incorrectly parse the neighbouring flag as the parameter/value. Additionally, if they are provided invalid input (ie. non integer) they provide a parser error.

**Steps to reproduce the issue:**
1. Execute `bu

[2018-05-10 13:40] rhatdan commented on #666
I think buildah is going the correct thing for the redirection of the container name.  So I am going to close this issue as not a bug.

[2018-05-10 13:40] #666 closed

[2018-05-10 13:49] TomSweeneyRedHat commented on #673
@pixdrift Thanks for the issue.  @umohnani8 do you have time to look at this?  If not let me know and I'll dive in.

[2018-05-10 13:52] rhatdan commented on #673
I don't see these errors as being all that bad.  @pixdrift What would you want the output to be?

[2018-05-10 14:36] TomSweeneyRedHat commented on #672
@Ace-Tang yes please to a specific example and thanks for raising the issue!

[2018-05-10 14:50] umohnani8 commented on #673
@TomSweeneyRedHat sure I can work on it. But I agree with @rhatdan the errors look fine to me, I guess after the "invalid value..." I can add something like "expecting an integer".

[2018-05-10 16:30] TomSweeneyRedHat opened #674 "In man pages, short flags should follow long flags."
**Description**
In the man pages we list the short version of the flag before the long version.  For instance in the `buildah bud` man page we list:

[code]

The -c should be listed after -cpu-shares like:

[code]

**Describe the results you received:**

See description

**Describe the results you expected:**

See description

**Output of `buildah version`:**

[code]

[2018-05-10 17:04] TomSweeneyRedHat commented on #671
@rhatdan, that's no good.  I think what ends up happening is the commands on the left of the pipe causes the container to run fortune (which succeeds by itself) and then pipes that result to the command 'cowsay' on the host itself which doesn't exist.

[code]

[2018-05-10 21:13] pixdrift commented on #673
@rhatdan, if the next item starts with '--' (ie. there is no option provided) I would expect it to return the same error.
`Incorrect Usage: flag needs an argument: -cpu-quota`

ie. it should determine that no argument was given, rather than trying to interpret the next flag as an argument.

If the next item is a string rather than an integer, I would expect an error like @umohnani8 has described
`

[2018-05-10 22:50] alanbchristie commented on #672
Sorry, yes. I was referring to the fact that version 1.0 has the tag **V1.0** (upper-case) but all the previous tags were **v0.8** (lower-case) but it really isn't that important.

It's a really, really, really minor point - and I'm just curious - but it tripped-up some automation code I'd written that checks out releases based on the number and it assumed you'd continue using lower-case "v". It's

[2018-05-10 23:42] pixdrift commented on #672
@alanbchristie, sorry still not quite on the same page. Are you talking about a container tag? The output of `buildah version` looks unchanged.

Can you provide the code block that broke? might give me the insight I need 😄

[2018-05-11 12:59] pixdrift commented on #640
Comparison of behaviour on latest commit (2ea3e11):

Docker (works without -f)
[code]

Buildah (fails without -f)
[code]

[2018-05-11 17:17] TomSweeneyRedHat commented on #671
@ipbabble to the rescue!
[code]

[2018-05-11 17:18] TomSweeneyRedHat commented on #671
Going to leave this open, but mark it as a documentation issue.

[2018-05-11 17:33] ipbabble commented on #671
@nalind explained it to me last night as I hit the issue with my new docker-compatibility-demo.sh

So @nalind for the win.

It is worth pointing this out when doing demos  and it might be worth putting in a tutorial. Because a Dockerfile RUN statement doesn't always just copy over to a buildah run command.

I have to go over the Tutorials anyway because of the buildah run cmd and entrypoint change

[2018-05-11 17:36] ipbabble commented on #671
Not this is also true of redirects. E.g. taking a Dockerfile with the following lines:

RUN echo "daemon off;" >> /etc/nginx/nginx.conf
RUN echo "nginx on Fedora" > /usr/share/nginx/html/index.html

Changes to the following

buildah run $newcontainer bash -c 'echo "daemon off;" >> /etc/nginx/nginx.conf'
buildah run $newcontainer bash -c 'echo "nginx on OCI Fedora image, built using Buildah" > /usr

[2018-05-11 18:36] rhatdan commented on #672
@alanbchristie Sorry about that, I will see about changing it to lower case.

[2018-05-11 23:30] pixdrift commented on #640
Narrowing this down. It looks like it falls into the tar/extract block and treats the source Dockerfile as a tar source.
[code]

[2018-05-12 03:09] mtrmac opened #680 "util.ResolveName searches through insecure registries"
https://github.com/projectatomic/buildah/blob/b9a1041b1823b556b0fd9c14928055726cc473e5/util/util.go#L107 adds the list of insecure registries to the list of registries to search (if insecure Docker registry access is enabled).

Why?

At least https://github.com/containers/image/blob/master/docs/registries.conf.5.md does not say anything about treating the list of insecure registries like this, and

[2018-05-12 11:28] rhatdan commented on #680
If we fix this would we end up with the same problem when we move to sysregistriesv2?
Doesn't that version only allow you to specify a list of registries?  And then specify whether it is insecure or blocked. Or is there a flag to indicate a registry is searched?

[2018-05-12 21:50] bacongobbler opened #682 "official release binaries (static binaries)"
Hey there! Just saw the v1.0 announcement this evening. Congratulations! :)

I would love to get started testing buildah, but optimally I would just have to fetch a tarball with the compiled assets for my operating system of choice. Right now it looks like [the installation docs](https://github.com/projectatomic/buildah/blob/master/install.md) notes that you have to compile from source. Are there

[2018-05-12 22:31] TomSweeneyRedHat commented on #682
Howdy @bacongobbler

Do rpm's work for you?  You should be able to get them for Fedora and several variants of Ubuntu at the moment.  RHEL in the very near future along with OpenSuse.  Which distro's are you interested in in particular?

[2018-05-12 22:31] TomSweeneyRedHat commented on #674
Fixed with #675

[2018-05-12 22:31] #674 closed

[2018-05-13 05:02] bacongobbler commented on #682
I'm not a RHEL user so I would prefer debs but RPMs are fine. Would you prefer the community takes over support for alternative package managers such as apt?

[2018-05-13 05:11] Conan-Kudo opened #684 "buildah bud fails at commit stage for layered images from private registry with internal error"
**Description**

Whenever I'm building a layered image from my private registry (OpenShift Origin 1.5 registry), it breaks at the end with weird messages like this:

[code]

**Steps to reproduce the issue:**
1. Set up Origin 1.5
2. Build a container in it
3. Use `buildah bud` to build a container layered on top of that one.

Example "base" container:
[code]

Example "layered" container:
[code]

**

[2018-05-13 12:59] kbaegis commented on #607
One thing I've been noticing is that ENV may not be inherited from the parent image. IDK if that helps, but please let me know if you're noticing this as well.

[2018-05-13 21:18] pixdrift commented on #607
@kbaegis, thanks for the feedback, can you give a specific example?

Is the issue you are seeing that the `RUN` command in a Dockerfile isn't using the `ENV` configured in the source image? Do you have a reproducer/test? and can you confirm that the behaviour differs from `docker build `(if it does?)

[2018-05-13 21:34] pixdrift commented on #682
@bacongobbler, I do compiles for every commit here on CentOS 7.x, but they don't come with any guarantee 😉
http://rpmbuild.pixeldrift.net/projectatomic/el7/x86_64/Packages/

[2018-05-14 12:30] TomSweeneyRedHat commented on #607
@kbaegis +1 to @pixdrift's comments.  Saw you IRC after you'd left the channel this weekend.  That should work, but I'm not sure that I've tried it.  If you've a concrete example, that would be very helfpul.  Please do open an issue if you feel it's warranted, it sounds like it is.

[2018-05-14 12:32] rhatdan commented on #671
That looks correct, in both examples the content should be created in the container not in the host.

[2018-05-14 15:10] mtrmac commented on #680
V2 has a different API (there is a single list of all registries, each of which may have a “search” and “insecure” boolean), but the overall effect is that the search order and “is insecure” boolean are again orthogonal, so a concept-for-concept port of the existing code to V2 would behave in the same (non-intuitive) way.

[2018-05-14 19:40] rhatdan commented on #680
Ok, then I agree the "Search List" and "Block List" should not be merged. that is a bug.

[2018-05-14 20:34] rhatdan commented on #640
The way it is supposed to work is it pulls the Dockerfile from the web site and then creates a tmp file with the Dockerfile in it and uses it from there?

[2018-05-14 20:40] edsantiago commented on #640
I think it's more complicated than that: docker seems to be able to pull the URL and distinguish between a tarball, a git repo, and a simple Dockerfile. See `docker-build(1)` under DESCRIPTION:
[code]

[2018-05-14 20:53] rhatdan commented on #684
You should be able to get a newer version of buildah on Centos?  @lsm5 Where is the latest packages available.

[2018-05-14 20:54] Conan-Kudo commented on #684
It fails with both buildah 0.11 and buildah 0.16, and CentOS 7 is only up to buildah 0.15 with CentOS 7.5, as far as I can tell.

[2018-05-14 21:05] rhatdan commented on #684
@nalind Any ideas?

[2018-05-14 21:30] rhatdan commented on #640
Ok. @pixdrift if you want to run with this one, SGTM

[2018-05-14 22:05] pixdrift commented on #640
@rhatdan, I would.. but I am at the point that I need assistance.

Where I got to was above, with the extraction.

The code correctly detects that you provide an http(s) URL, but it then treats the source as a tarball rather than just a flat Dockerfile.
https://github.com/projectatomic/buildah/blob/1513b82eed96ff62c226a38cc9c8e25fc2911b23/imagebuildah/util.go#L74-L75

I think `downloadToDirectory`

[2018-05-15 03:00] pixdrift commented on #684
@Conan-Kudo, there are newer rpm's available here for CentOS (1.0)
https://cbs.centos.org/repos/virt7-container-common-candidate/x86_64/os/Packages/

Could you install that and re-test to confirm the issue still exists?

[2018-05-15 03:26] Conan-Kudo commented on #684
I don't have CentOS 7 on hand right now, but I did grab buildah 1.0 from Fedora 28 updates-testing:

[code]

I still got the same error:
[code]

[2018-05-15 11:33] Conan-Kudo commented on #684
The original "base" image was built by Origin 1.5 and stored in its registry.

[code]

[2018-05-15 11:36] pixdrift commented on #682
Following this thread I started looking at the potential to include the Arch package build in the CI.

There is an Arch package here:
https://www.archlinux.org/packages/community/x86_64/buildah/

What's interesting is that they have a patch to remove SELinux references from the ostree components:
https://git.archlinux.org/svntogit/community.git/tree/trunk/0001-Revert-ostree-add-selinux-label-for-e

[2018-05-15 11:58] pixdrift commented on #607
@kbaegis, I setup a test for `ENV` configured in both the same Dockerfile and an image sourced using `FROM` and in both cases ENV behaved correctly, and the behaviour in `buildah bud` matched that of `docker build`.

If you can provide a specific reproducer I can take a closer look. I am going to add this `ENV` scenario to the `bud` CI tests.

[2018-05-15 12:06] rhatdan commented on #640
@pixdrift Does https://github.com/projectatomic/buildah/pull/687 solve the problem?

[2018-05-15 12:15] pixdrift commented on #640
@rhatdan, that looks great 👍. Will push another commit for something else I have outstanding and take a look.

[2018-05-15 12:28] rhatdan commented on #640
Ok I just tried it out locally and it looks like it works now.

[2018-05-15 13:07] TomSweeneyRedHat opened #689 "gometalinter error with make install.tools"
**Description**

When doing `make install.tools` the following error occurs.
[code]
**Steps to reproduce the issue:**
1.  Follow GitHub Installlation instructions for Buildah
2.  make install.tools

**Describe the results you received:**

See description.

**Describe the results you expected:**

Successful build.

**Output of `buildah version`:**

[code]

[2018-05-15 14:20] kbaegis opened #691 "Nested buildah build"
**Description**

Attempting to create a stripped down container with buildah running inside of it. Everything is working- except for the docker login. Because runc and buildah are the only things inside this container does an alternative exist to $(docker login)?

**Problem**

[code]

**Container Dockerfile**

[code]

`$(docker image inspect repo.local/oci/go:latest|jq '.[].Config.Labels."local.do

[2018-05-15 14:52] rhatdan commented on #682
I have no problem if the Aarch guys wanted to remove SELinux support by default from the ostree patches.  But we need to get them through the review process.

[2018-05-15 14:54] bacongobbler commented on #682
The main reason why I opened this issue was for static binaries of buildah, but if that's not possible then we can close this out.

[2018-05-15 15:02] rhatdan commented on #691
You could use podman instead of buildah and it would have podman login and podman build, if all you are going to do is build using Dockerfiles.

podman build uses all of the code from Buildah.

[2018-05-15 15:14] kbaegis commented on #691
Link?

[2018-05-15 15:14] rhatdan commented on #682
No I think this is a good conversation. We should figure out how we could build a static version of buildah.

[2018-05-15 17:39] carlwgeorge opened #692 "`buildah from` doesn't like the format `docker.io/$NAME:$TAG`"
**Description**

Running `buildah from` with an image in the format of `docker.io/$NAME:$TAG` fails.

**Steps to reproduce the issue:**
1. `buildah from docker.io/centos` works
2. `buildah from docker.io/centos:7` does not work

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `b

[2018-05-15 17:43] carlwgeorge commented on #692
A simple workaround is to include `library` in the name, i.e. `docker.io/library/centos:7`.  But it would be nice if this wasn't necessary.

[2018-05-15 18:41] #691 closed, assigned to nobody

[2018-05-15 19:35] ipbabble opened #695 "buildah bud doesn't like RUN with `&&`"
**Description**

When using buildah bud with a Dockerfile that contains a RUN with  `&&` , the build fails on the `&&`

**Steps to reproduce the issue:**
1.  Use the following Dockerfile
[code]
2. Use `buildah bud .`

**Describe the results you received:**

Error: Transaction failed
error building: error building at step {Env:[PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin DISTT

[2018-05-15 21:10] rhatdan commented on #691
Awesome.  If  you blog or tweet about this, ping us to tell us where.

[2018-05-16 06:13] q384566678 opened #696 "ubuntu 18.04 can't add ppa:projectatomic/ppa repository"
When I created `buildah` in Ubuntu 18.04, I found that I could not add the `ppa:projectatomic/ppa` repository. The details are as follows:
[code]

Is this repository not yet providing support for 18.04? Is there any good solution?

（I don't know which side to report on this issue. I didn't find any better place, so I can only ask this question in this community. Hope you don't mind.）

[2018-05-16 12:52] pixdrift commented on #695
Can't reproduce on `buildah 1.0 ce8d467`, have tested the `dnf` example above, and the following simplified Dockerfile:
[code]

[code]

[2018-05-16 13:01] rhatdan commented on #695
@ipbabble Could you verify this is fixed in 1.0?
@ipbabble @pixdrift Could you guys update karma on buildah 1.0 so we can get it out of testing.

[2018-05-16 13:06] pixdrift commented on #695
@rhatdan, are you referring to the release v1.0 (1ab80bc)? or you after a second data point to confirm?

I can install 1.0 release quickly and re-test if that is sufficient.

[2018-05-16 13:15] kbaegis commented on #104
buildah version 1.0 (image-spec 1.0.0, runtime-spec 1.0.0)

After COMMIT phase of a repeated build on btrfs host.

[2018-05-16 13:29] rhatdan commented on #695
Yes @pixdrift I just want @ipbabble to say he confirms it and there is not something system specific going on.

[2018-05-16 15:15] Conan-Kudo commented on #696
This is a problem with Launchpad, report it to them.

[2018-05-16 15:17] TomSweeneyRedHat commented on #696
@lsm5 any further advice/details?

[2018-05-16 15:33] lsm5 commented on #696
@q384566678 well, the PPA is only enabled for 16.04 (the previous LTS) so far. @fkluknav is working on 18.04 builds right now.

[2018-05-16 16:10] #695 closed

[2018-05-16 21:56] kbaegis opened #699 "buildah bud .dockerignore functionality missing"
**Description**

buildah bud needs to check the .dockerignore file in the build directory to exclude files and directories from the build process.

[2018-05-16 22:26] pixdrift commented on #699
Thanks for the report @kbaegis. Do you have a basic reproducer/example of this we can use as an example?

[2018-05-16 22:31] kbaegis commented on #699
Documented here: https://docs.docker.com/engine/reference/builder/#dockerignore-file

I evidently didn't try writing one in my new toolchain. This might already have been implemented; testing now.

[2018-05-17 01:38] kbaegis commented on #699
Yeah, it works. :)

[2018-05-17 02:43] q384566678 commented on #696
Thank you for your information. Wait for the final result.

[2018-05-17 12:13] TomSweeneyRedHat commented on #699
Phew!

[2018-05-18 14:28] pixdrift opened #703 "buildah bud -f flag not replicating docker build -f behaviour"
**Description**
Currently the `-f` flag to `buildah bud` behaves differently to `docker build` in that it can be provided with the full path to a Dockerfile. To match the `-f` behaviour of `docker build`, the behaviour needs to be updated to remove this capability and provide an error when the Dockerfile directory isn't supplied.

Additional to this, the current contextual help suggests that `-f`

[2018-05-18 15:43] TomSweeneyRedHat commented on #703
@pixdrift I'll let @rhatdan and @nalind weigh in on this one, but I like that the -f in `buildah bud` will let you specify a file that's not "Dockerfile" and also not necessarily in the directory.  To me it's like the added --all param fomr rm and rmi, a nice different feature.

Can you expand on the url bit?  Does "not working as expected" mean that the build works but it would not in Docker?  Or

[2018-05-18 17:26] rhatdan commented on #692
@mtrmac PTAL

[2018-05-18 21:38] mtrmac commented on #692
See https://github.com/projectatomic/buildah/pull/707#issuecomment-390339270 .

[2018-05-19 08:11] pixdrift commented on #703
Sorry @TomSweeneyRedHat, I had a discussion with @rhatdan on IRC and did a quick summary.

The -f URL issue is that the documentation describes the following:
`--file pathname or URL, -f pathname or URL  pathname or URL of a Dockerfile`

But URL isn't really valid here, as `-f` is specifying the name of the Dockerfile to use in the supplied path (final parameter passed to `buildah bud`).

This beh

[2018-05-21 19:54] rhatdan commented on #630
I attempted to play around with this on Docker-ce and I can not get it to work.

[code]
Tried to build with squash and it complains.
[code]
Built without squash and then tried to  use new image with squash and failed again.
[code]
[code]

[2018-05-21 19:57] rhatdan commented on #692
Should be fixed by https://github.com/projectatomic/buildah/pull/710

[2018-05-21 19:57] rhatdan commented on #689
Since this was merged, closing.

[2018-05-21 19:57] #689 closed

[2018-05-21 21:01] mkobit commented on #682
Hosting static binaries on GitHub releases would be useful as well.

[2018-05-21 21:27] rhatdan commented on #682
Took a quick stab at this but the golang static flag seemed to have no effect.

[code]

[2018-05-22 22:22] jdoss opened #717 "Building an Image using a URL doesn't work"
**Description**

Following https://github.com/projectatomic/libpod/blob/master/docs/podman-build.1.md#building-an-image-using-a-url running a build with a github repo fails with:

`error prepping temporary context directory: Error processing tar file(exit status 1): archive/tar: invalid tar header`

**Steps to reproduce the issue:**
1. `podman build https://github.com/jdoss/atomic-wireguard/`

**D

[2018-05-22 22:27] TomSweeneyRedHat commented on #717
Dang @pixdrift, photographic memory?  Thanks!

[2018-05-23 03:54] jdoss commented on #717
Hey @pixdrift thanks for the response with the precognitive fix. :wink:

Reading the podman documentation here:

https://github.com/projectatomic/libpod/blob/master/docs/podman-build.1.md#building-an-image-using-a-url

It says:

I was confused by the example above. Running `podman build git://github.com/jdoss/atomic-wireguard` with `git://` specified in the URL actually works without any issues. I

[2018-05-23 03:54] #717 closed

[2018-05-23 09:34] rhatdan commented on #717
@jdoss Yes podman will have this on the Friday release.  The podman release train comes out once per week, as we move towards 1.0.

[2018-05-23 11:20] TomSweeneyRedHat commented on #717
No worries at all @jdoss, I just feel bad for having you write up the issue when it was already fixed.

[2018-05-23 12:51] TomSweeneyRedHat opened #718 "Create Development plan"
Per a suggestion from Zhou Hao (I think @q384566678) , create a development plan/todo list for Buildah.

**Description**
From Zhou:

  I wrote this email to ask some questions about buildah community
development.
   I noticed that the 1.0 version has been released for some time. I
want to know what is the development plan below the community? Or,
after buildah released 1.0, the expected functions

[2018-05-23 13:13] TomSweeneyRedHat commented on #718
@pixdrift suggests adding via irc:

<pixdrift> I think it's worth mentioning docker build (bud) feature parity as a project goal tsweeney
<pixdrift> not there yet, and a bit of work to go
<pixdrift> would also like to see coverage reports in the repo with a high testing coverage.. but that doesn't have to be a define project goal ;)

[2018-05-24 02:26] pixdrift commented on #684
I have been having trouble creating a reproducer for this, and then it just occured for me in a real world scenario. This is using buildah against an Artifactory private repository.

`error committing container "el7-buildah" to "el7-buildah:new": error copying layers and metadata: Error initializing source containers-storage:el7-buildah: internal error: history lists 1 non-empty layers, but we hav

[2018-05-24 10:57] TomSweeneyRedHat commented on #684
Thanks for the very thorough issue report @pixdrift, we'll take a look.

[2018-05-24 11:41] rhatdan commented on #684
@pixdrift can you pull the image using podman pull?  Can you pull it to an OCI Image so we could play with it?

[2018-05-24 13:40] umohnani8 opened #719 "buildah bud doesn't save ENV from base image"
**Description**
When building an image with buildah bud, the ENV from the base image is not saved in the new image built. This causes issues if some of the ENV is relevant when running the container image.

**Steps to reproduce the issue:**
Dockerfile:
[code]
1. buildah bud -t myimage [above dockerfile]
2. buildah inspect myimage

**Describe the results you received:**
With buildah bud, the ENV fr

[2018-05-24 13:41] umohnani8 commented on #719
@rhatdan @nalind PTAL.
I can write up a fix, but just making sure  this wasn't intentional.

[2018-05-25 00:40] pixdrift commented on #640
Issue is resolved. Additional CI tests added to confirm functionality:
https://github.com/projectatomic/buildah/blob/master/tests/bud.bats#L569-L584

[2018-05-25 00:40] #640 closed

[2018-05-25 00:44] pixdrift commented on #607
This was resolved by #656 and new tests added to CI.

[2018-05-25 00:44] #607 closed

[2018-05-25 09:36] #719 closed

[2018-05-25 09:46] #692 closed

[2018-05-25 09:48] #672 closed

[2018-05-25 09:49] rhatdan commented on #630
We now have squash.

[2018-05-25 09:49] #630 closed

[2018-05-25 09:50] rhatdan commented on #627
@nalind Did the patch you merged make this easy to implement?

[2018-05-25 09:51] rhatdan commented on #621
Added --compress as a noop for compatibility.

[2018-05-25 09:51] #621 closed

[2018-05-25 09:52] rhatdan commented on #619
This is fixed in latest code to produce localhost/IMAGE

[2018-05-25 09:52] #619 closed

[2018-05-25 10:02] rhatdan commented on #599
@pixdrift Could you update your table.

[2018-05-25 10:03] rhatdan commented on #598
I'm closing this since I believe we cover this in other issues.

[2018-05-25 10:03] #598 closed

[2018-05-25 10:05] rhatdan commented on #574
We should open an issue with Golang for this.

[2018-05-25 10:05] rhatdan commented on #538
This is now supported.

[2018-05-25 10:05] #538 closed

[2018-05-25 10:06] rhatdan commented on #532
Blogs have been written explaining this.

[2018-05-25 10:06] #532 closed

[2018-05-25 10:07] rhatdan commented on #530
Looks like these are built now.

[2018-05-25 10:07] #530 closed

[2018-05-25 10:12] rhatdan commented on #386
We are getting closer to this.

[2018-05-25 10:15] rhatdan commented on #407
Tom we are still missing this functionality.  Could you take a look at this, I think this needs work in imagebuilder.

[2018-05-25 10:16] rhatdan commented on #507
We now have SHELL support.

[2018-05-25 10:16] #507 closed

[2018-05-25 10:19] rhatdan commented on #375
`podman commit` can do this now, well will be able to do it once CRI-O and podman share the same library.

[2018-05-25 10:20] rhatdan commented on #169
I don't believe we have this issue anylonger.

[2018-05-25 10:20] #169 closed

[2018-05-25 10:21] rhatdan commented on #523
I think we have a dup of this.  @umohnani8 Close one of them.

[2018-05-25 10:22] rhatdan commented on #171
@nalind  is getting close on this.  But I think we have multiple issues on this. @nalind Close the one you do not need.

[2018-05-25 10:23] rhatdan commented on #531
I believe this is fixed in the current code.

[2018-05-25 10:23] #531 closed

[2018-05-25 10:28] rhatdan commented on #555
I just tried this on docker and it works the way you describe.

podman commit also requires a tag name.

[2018-05-25 10:30] rhatdan commented on #573
@ipbabble Want to see if you could recreate?

[2018-05-25 10:31] #580 closed

[2018-05-25 10:44] rhatdan commented on #581
https://github.com/openshift/imagebuilder/issues/76

[2018-05-25 10:44] rhatdan commented on #407
https://github.com/openshift/imagebuilder/issues/77

[2018-05-25 10:45] #585 closed

[2018-05-25 10:46] rhatdan commented on #518
Another version of the same issue.  @nalind remove the issues as dups if you want.

[2018-05-25 10:47] rhatdan commented on #597
@taqtiqa-mark @nalind recently merged in support for annotations.  Do we need anything additionaly?

[2018-05-25 10:53] rhatdan commented on #591
Just getting back to this, buildah config --env a=b
appends if a does not exist, and replaces a's value with b if it did exist.

[2018-05-25 10:54] rhatdan commented on #505
Fixed in current code.

[2018-05-25 10:54] #505 closed

[2018-05-25 10:55] #595 closed

[2018-05-25 11:01] rhatdan commented on #633
@14rcole Did you ever complete this?

[2018-05-25 11:02] rhatdan commented on #635
I think we are all set with this.  Reopen if you disagree.

[2018-05-25 11:02] #635 closed

[2018-05-25 11:03] rhatdan commented on #654
Do we still have this issue, or has the situation improved?

[2018-05-25 13:08] pixdrift commented on #684
I tested this with the current docker official registry image, and it doesn't appear to have the same problem. The returned image doesn't container `v1Compatability` at all, which appears to be the affected key.

[2018-05-25 13:25] pixdrift commented on #684
OK, I now have a full reproducer using the docker registry. The problem is the v2 schema 1 metadata specifically. Anyone should now be able to reproduce this at home as long as you have docker + buildah installed.

Will test with podman pull now.

[code]

[2018-05-25 13:59] TomSweeneyRedHat commented on #684
Thanks again @pixdrift.  I'd hoped to take a look at this yesterday, but got waylaid by other fun stuff. Hope to dig at this later today.

[2018-05-25 14:02] TomSweeneyRedHat commented on #635
I'm good, @pixdrift holler if the recent man page changes don't address this in your thinking.

[2018-05-25 14:03] TomSweeneyRedHat commented on #654
I think this one is still hanging around.

[2018-05-25 14:42] umohnani8 commented on #523
https://github.com/projectatomic/buildah/issues/601 is a duplicate, closing this one.

[2018-05-25 14:42] #523 closed

[2018-05-25 18:22] mklvr opened #724 "Can commit images to docker if from alpine base"
When I try to use buildah to build a container that starts from an alpine base, I get an error (see below)

**Steps to reproduce the issue:**
1. ```sudo buildah from --name test docker://alpine:latest```
2. ```sudo buildah commit test docker-daemon:mklvr/test:latest```

**Describe the results you received:**
[code]

**Describe the results you expected:**
I expected the image to be commit to the lo

[2018-05-25 18:45] TomSweeneyRedHat commented on #724
Hi @mklvr,
[code]

Are you using the same version of Docker?  @nalind any thoughts?

[2018-05-26 00:28] TomSweeneyRedHat commented on #684
@pixdrift, didn't get to this until just a bit ago, but am able to duplicate the issue with your reproducer.  We'd a similar issue before with two many slashes, I'll look over the weekend to see if I can dig it up.

[2018-05-26 03:06] mklvr commented on #724
Perhaps it's related to running Fedora Atomic Workstation. If we can get someone running Fedora Atomic Workstation 28 to give it a try, that would probably help. Otherwise, if nobody else can reproduce this, we can probably write this off as my problem unless anyone has some other suggestions.

[2018-05-26 12:05] rhatdan commented on #724
Can you mount the ctr?

[2018-05-27 10:16] rhatdan commented on #724
This works for me also, but on regular Fedora 28.
@cgwalters Could you try this?

[2018-05-27 11:09] cgwalters commented on #724
Works for me on both FAH28 and FAW/Silverblue `28.20180524.0`.  I think you'll have to get more debugging info, my go-to is strace, but someone more familiar with `buildah` might have better suggestions.

[2018-05-28 02:41] mklvr commented on #724
@rhatdan I can mount the container.
@cgwalters Thanks for giving that a try.

**strace**
[mklvr_buildah_strace_20180527.txt](https://github.com/projectatomic/buildah/files/2043361/mklvr_buildah_strace_20180527.txt)

**rpm-ostree  status**
[code]

[2018-05-28 06:04] AkihiroSuda commented on #634
Any news? ^^

[2018-05-28 09:28] stefanand opened #728 "Commit to private docker registry: connection refused"
**Description**

[code]

**Steps to reproduce the issue:**
1. buildah push --creds=username:passwd $name docker://hub.xxxxx.com:5000/$name
2.
3.

**Describe the results you received:**
I didn't expect any connection refused.

**Describe the results you expected:**
No error.

**Output of `rpm -q buildah` or `apt list buildah`:**
buildah-1.0-1.git1ab80bc.fc28.x86_64

[code]

**Output of `buildah ver

[2018-05-28 10:51] TomSweeneyRedHat commented on #634
@AkihiroSuda as an FYI, @ipbabble has been doing some serious travelling as of late, but I think he is back soon.

[2018-05-28 11:00] TomSweeneyRedHat commented on #728
@stefanand Thanks for the problem report.  Can you share the command(s) that you you used to setup and run the registry?  Are their any related errors in journalctl?

[2018-05-29 12:37] pixdrift commented on #593
I have found a lingering issue with `entrypoint` behaviour when using `buildah config --entrypoint`

`buildah bud` behaviour appears to match `docker build` behaviour, but `config --entrypoint` results in an image that doesn't correctly receive parameters that are passed to the image.

### To reproduce:

**buildah bud**
Dockerfile:
[code]

Contents of showparams.sh
[code]

Resulting image pushed t

[2018-05-29 13:05] pixdrift commented on #593
I believe #596 may need to be reverted/reviewed.

The tests in this commit use `buildah run` which doesn't use the entrypoint as per recent changes in

[2018-05-29 13:41] 14rcole commented on #633
@rhatdan For the most part, yes.  There's some bugs that still need to be worked out

[2018-05-29 14:00] pixdrift commented on #593
Created PR #730 which is a revert of sorts (integrates some of the code changes of the last change).

I have tested this with the above scenarios, and also confirmed that @jwendell's example that created this initial issue works correctly with this build.

[2018-05-29 14:46] pixdrift commented on #593
Closing this issue out, as it was determined entrypoint issue with array/string forms was unrelated to this original issue. Apologies for the noise.

[2018-05-29 14:52] pixdrift opened #732 "No way to provide 'exec form' to buildah config --entrypoint"
The Dockerfile ENTRYPOINT parameter provides two 'forms' of operation, that behave slightly differently. These forms are summarised in the Docker documentation here:
https://docs.docker.com/engine/reference/builder/#entrypoint

If an `array` is used for ENTRYPOINT, the command is interpreted as `exec` form
If a `string` is used for ENTRYPOINT, the command is interpreted as `shell` form

Unfortunat

[2018-05-29 15:00] TomSweeneyRedHat commented on #732
Talking with @pixdrift via IRC:

[code]

[2018-05-29 15:03] TomSweeneyRedHat commented on #732
@rhatdan and/or @nalind WDYT?

[2018-05-29 15:34] rfairley opened #733 "buildah run $container not running command after specifying command using buildah config --cmd"
**Description**

While following the tutorial https://www.projectatomic.io/blog/2017/11/getting-started-with-buildah/, at one point it asks to specify a command using `buildah config`, which should allow this command to be executed without specifying later in `buildah run`. `buildah run` asks for the command to be specified, instead of executing the command that was specified earlier. With `docker

[2018-05-29 15:59] rhatdan commented on #633
Any chance you can open a PR so we could examine it?

[2018-05-29 18:33] rhatdan commented on #732
Tom can you see if you can get this to work.

[2018-05-29 18:59] rhatdan commented on #633
I don't mind vendoring it in. But I think it would be worth while for a few of us to look at it, including @nalind to see what he thinks.

[2018-05-29 19:12] 14rcole commented on #633
Sounds good, I'll clean up some of the code and then submit a PR

[2018-05-29 20:48] rfairley commented on #733
I see, thank you for clarifying that - now I am more clear on how buildah compares to the Dockerfile. I understand that buildah run does not perform the same function as docker run or podman run.

The main point I would like to address in the issue is that `buildah run` should run the command previously specified using `buildah config` - as the tutorial linked showed.

[2018-05-29 20:58] TomSweeneyRedHat commented on #733
@rhatdan and @rfairley  The tutorial is out of spec now, @ipabble is planning to touch it up, but has been globe hopping as of late.  I'll see if I can touch it up in the short term and let @ipbabble fix from there.

[2018-05-29 23:38] ipbabble commented on #733
Yes. Sorry this needs to be fixed. And a few other wee things too. Next
week.

William Henry
Senior Consulting Software Engineer
Portfolio Architecture
Red Hat
Colorado, USA.

On Wed, May 30, 2018 at 8:58 AM, Tom Sweeney <notifications@github.com>
wrote:

[2018-05-30 02:07] AkihiroSuda commented on #633
@14rcole Do you have benchmark result?

[2018-05-30 13:38] rfairley commented on #733
Sounds good! Thanks.

[2018-05-30 14:31] 14rcole commented on #633
I do not, the bug I mentioned earlier prevented me from getting accurate results.  However, once I have that worked out I can share the results with you

[2018-05-30 15:13] TomSweeneyRedHat commented on #733
Closing this issue as I believe it's been addressed via the changes in #733 and I think @ipbabble will be doing some other touchups next week.  @rfairley if you think this problem still needs more help, please reopen this or start up a new issue.  Thanks again for pointing this out to us.

[2018-05-30 15:24] #733 closed

[2018-05-30 18:16] rhatdan commented on #724
@mklvr It could have been a previous version of buildah, if you have been playing with this for a while.  We have had some storage bugs.  But definitely want to know about this if it happens again.

[2018-05-30 18:18] rhatdan commented on #733
Thanks @rfairley for keeping us honest and pointing out where we have problems in our documentation.

[2018-05-31 13:32] rhatdan commented on #684
@nalind @mtrmac PTAL

[2018-05-31 13:37] TomSweeneyRedHat commented on #684
FWIW, this only occurs when pushing using the v2s1 format.  Other formats look fine.  I think it's somewhere down in the containers code, not sure where.  @baude suggested that it might be an issue where the manifest digetst is getting converted to json too many times.

[2018-05-31 15:22] tdudgeon commented on #532
Just for the record I finally got round to writing this up as a blog post:
https://www.informaticsmatters.com/blog/2018/05/31/smaller-containers-part-3.html
@pixdrift @rhatdan @TomSweeneyRedHat and others - thanks for your help!

[2018-05-31 15:35] TomSweeneyRedHat commented on #532
Excellent news @tdudgeon , thanks for sharing!

[2018-05-31 18:05] Conan-Kudo commented on #684
@TomSweeneyRedHat Could we make it ignore the `v2s1` data, if the processing of that data cannot be fixed?

[2018-05-31 20:33] TomSweeneyRedHat commented on #684
@Conan-Kudo couple of questions back at you.  Is the suggestion to disallow specifying the v2s1 format in the command?  If so, that would be relatively easy to do, I'm not sure it's the right thing to do though.

Second question.  I'm not real clear on the build command that you used for the initial report.  Did you also have --format = v2s1?  Can you just drop that as a test if so?

[2018-05-31 20:39] Conan-Kudo commented on #684
I'm not specifying anything. OpenShift makes those descriptions, and if buildah is going to choke on them and it's not getting fixed, then I need a workaround...

[2018-05-31 21:52] TomSweeneyRedHat commented on #684
Thanks for the 411 @Conan-Kudo.  I've taken a look at it, haven't found a root cause yet but will keep digging.

[2018-06-01 04:48] pixdrift commented on #684
I can probably add some context, v2s1 is only required in the push for the reproducer, that's not being specified when using the private registry. I suspect that the private registries we are using (Openshift in @Conan-Kudo's case, Artifactory in mine) are falling back to v2s1 for the push for whatever reason (likely compatibility).

Then corruption (excessive escaping) appears to occur when build

[2018-06-01 08:34] rhatdan commented on #684
So is this a Containers/image issue or a Buildah Issue?
@mtrmac @nalind ?

[2018-06-01 13:40] pixdrift commented on #684
I think it's interesting that `podman pull` also has issues pulling the container.

[2018-06-01 14:11] rhatdan commented on #732
@pixdrift Now that we have the PR Merged can we close this issue?

[2018-06-01 14:12] rhatdan commented on #563
Since RKT is being deemphasized, I am going to close this issue.

[2018-06-01 14:12] #563 closed

[2018-06-01 14:13] #504 closed

[2018-06-01 14:13] pixdrift commented on #684
It may be here if it's doing a conversion from v2 -> v1
https://github.com/projectatomic/buildah/blob/master/vendor/github.com/containers/image/image/docker_schema2.go#L227

Or may just be in the schema1 file
https://github.com/projectatomic/buildah/blob/master/vendor/github.com/containers/image/image/docker_schema1.go

[2018-06-01 14:14] pixdrift commented on #732
Yep.

[2018-06-01 14:14] #732 closed

[2018-06-01 14:14] rhatdan commented on #655
@FireDrunk Are you still seeing this with the latest buildah release?
What version of buildah are you using?

[2018-06-01 14:15] rhatdan commented on #628
@umohnani8 Since you are working on this, you can make this conflict with the --cache flag you are adding.

[2018-06-01 15:14] TomSweeneyRedHat commented on #684
@pixdrift, podman having issues pulling furthers the thought that the issue is somewhere in container/image.

[2018-06-01 15:43] rhatdan commented on #684
@runcom PTAL

[2018-06-01 16:17] FireDrunk commented on #655
Switching back to overlay fixed the issue, sorry for not reporting back!

[2018-06-01 16:17] #655 closed

[2018-06-02 06:00] mtrmac commented on #684
[code]
I guess this is unrelated, just one more corner case with all the string edits happening on references all over the libpod/buildah codebases.

[2018-06-02 06:04] mtrmac commented on #684
Yes, OpenShift 1.5 has `acceptschema2` set to `false` by default in the integrated registry.

[2018-06-02 06:30] mtrmac commented on #684
(I will set up a test VM to confirm next week, so this may be wrong.). This seems to be an inconsistency between how `projectatomic/buildah.containerImageRef.NewImageSource` creates the manifests and how `containers/image/storage.storageImageDestination.Commit` builds layers.

In v2s2 / OCI, the `DiffID` arrays should _not_ have any layers corresponding to `History` entries with `EmptyLayer` set.

[2018-06-02 15:34] stefanand commented on #728
Start of the docker registry:

docker run -dit \
 --name registry \
 -p 5000:5000 \
 -v `pwd`/auth:/auth \
 -e "REGISTRY_AUTH=htpasswd" \
 -e "REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm" \
 -e REGISTRY_AUTH_HTPASSWD_PATH=/auth/htpasswd \
 -v /home/nfs/registry:/var/lib/registry \
 -v /etc/letsencrypt:/certs \
 -e REGISTRY_HTTP_TLS_CERTIFICATE=/certs/live/hub.xxxxx.com/fullchain.pem \
 -e REGISTRY

[2018-06-02 16:11] stefanand commented on #728
but when I run journalctl again...I get nothing...so it might be that the above is not the error message

[2018-06-02 17:40] TomSweeneyRedHat commented on #728
@stefanand thanks for the registry command that you use.  The only thing that jumps out at me is the --restart-always param.  I don't think I've used that myself in my testing yet.  If you've a spare moment and could try removing that and see if you still have the problem, that would be an interesting data point to have.  If not, no worries, I'll try to run it myself in the near future to see if I

[2018-06-02 17:45] pixdrift commented on #728
@stefanand, you can push to this same registry using docker as the client? it's only when buildah is a client that it's an issue?

Is it a self signed cert running on the repository?

[2018-06-02 19:30] stefanand commented on #728
additionally, it worked before the last upgrade...no error message at that time!

[2018-06-02 19:37] stefanand commented on #728
@pixdrift I don't seem to get the error when using Docker as a client. Only when buildah is used as a client.

No self-cert! As you can see it is a LetsEncrypt certificate. It worked well before the update of buildah.

[2018-06-02 19:44] stefanand commented on #728
@pixdrift I don't seem to get the error when using Docker as a client. Only when buildah is used as a client.

No self-cert! As you can see it is a LetsEncrypt certificate. It worked well before the update of buildah.

[2018-06-02 19:49] TomSweeneyRedHat commented on #728
@stefanand Do you recall by chance which version of Buildah you were on prior?  v0.16 perhaps?

[2018-06-02 23:32] pixdrift commented on #728
Thanks for the responses @stefanand

+1 to @TomSweeneyRedHat's suggestion here, if you can get the `buildah version` from a previous working version, it would be an excellent help.

[2018-06-03 10:58] rhatdan commented on #728
@mtrmac PTAL

[2018-06-03 12:03] stefanand commented on #728
Current version:

Name        : buildah
Version     : 1.0
Release     : 1.git1ab80bc.fc28
Architecture: x86_64

Previous version:
buildah-0.16-1.git82529cd.fc28.x86_64

[2018-06-03 15:28] TomSweeneyRedHat commented on #728
Thanks for the older version @stefanand !

[2018-06-03 18:59] stefanand commented on #728
Wait and I will have to check one more thing and see if it leads me to a clue....before any further work!

[2018-06-04 16:51] TomSweeneyRedHat commented on #658
Closed with #722.  @clcollins if you find the functionality isn't up to snuff, please reopen or create a new issue as you feel appropriate.

[2018-06-04 16:51] #658 closed

[2018-06-04 17:27] clcollins commented on #658
@TomSweeneyRedHat - thanks!  I'll check it out.

I appreciate the fast turnaround on this!

[2018-06-05 18:51] mtrmac commented on #728
This looks as if the registry server was crashing inside the container.

If you reproduce this without `--restart=always`, and after you get the
[code]
can you connect to the registry again (with any client) and use it?

If not, can you collect the logs of the registry server, both as it is serving requests successfully and most importantly when it stops to do so?

[2018-06-06 11:05] alanbchristie commented on #581
Now also tripped-up by the lack of support for ARG-before-FROM. Any idea when this will be supported so I can avoid the misleading **error determining starting point for build: no FROM statement found** message?

For now I'm forced to use multiple Dockerfiles.

[2018-06-06 16:39] cgwalters opened #757 "don't persist builds across reboots by default"
In a discussion with mheon, I was suggesting that podman store state in `/run` for containers that use `--rm`.

For buildah, is there really any use case for persisting build containers for a long time?  If we had them automatically be pruned by rebooting, that would help a lot in flushing random transient state.  I had some very old builds in my `buildah containers` on my Silverblue workstation.

[2018-06-06 16:44] rhatdan commented on #757
@nalind WDYT
@cgwalters currently `buildah from foobar` creates a buildah container.  Users could then run other commands and commit at a far later date.  But I would think it is up to Nalin if we want these to persist on a reboot.

[2018-06-06 17:06] jwhonce commented on #626
https://github.com/projectatomic/buildah/pull/698
https://github.com/projectatomic/buildah/pull/716

[2018-06-06 17:06] #626 closed

[2018-06-06 20:47] rhatdan commented on #104
Did you use btrfs back end or overlay?

[2018-06-06 20:48] rhatdan commented on #671
I don't believe this is a bug, this is just bashisms.  Reopen if you don't agree.

[2018-06-06 20:48] #671 closed

[2018-06-06 20:49] rhatdan commented on #703
Fixed in master.

[2018-06-06 20:49] #703 closed

[2018-06-06 20:49] rhatdan commented on #696
@lsm5 Could you help out @q384566678

[2018-06-06 20:49] #696 closed

[2018-06-06 20:50] rhatdan commented on #718
@TomSweeneyRedHat Should we add a mark down file with this data and every release go in and update it?

[2018-06-06 20:52] rhatdan commented on #171
Closing this in favor of https://github.com/projectatomic/buildah/issues/386

[2018-06-06 20:52] #171 closed

[2018-06-06 20:57] TomSweeneyRedHat commented on #718
@rhatdan sounds like a good idea.

[2018-06-06 21:02] cgwalters commented on #386
FWIW, with ostree we ship [rofiles-fuse](https://github.com/ostreedev/ostree/blob/master/man/rofiles-fuse.xml) which can be used unprivileged today - but only *outside* of a container, since FUSE today relies on a suid binary granting `CAP_SYS_ADMIN`.

[2018-06-06 21:05] rhatdan commented on #555
I played around with this for a few minutes and decided it is too hard, and of limited value, if any.
I think we should require an image name.

[2018-06-06 21:05] #555 closed

[2018-06-06 21:06] rhatdan commented on #573
Has anyone been able to recreate this?

[2018-06-06 21:07] TomSweeneyRedHat commented on #671
Actually I think #683 did enough to address this.  I don't think  I'll add further documentation unless we get pinged about it.

[2018-06-06 21:12] TomSweeneyRedHat commented on #573
I've not tried was hoping ipbabble was looking into it.

[2018-06-06 21:18] pixdrift commented on #703
The documentation still states -f takes an http/https URL? What was the decision here?

[2018-06-06 21:20] pixdrift commented on #684
Any luck @mtrmac?

[2018-06-06 21:53] ipbabble commented on #573
Will do later today. Recovering.

On Wed, Jun 6, 2018 at 3:12 PM Tom Sweeney <notifications@github.com> wrote:

--
Sent from Gmail Mobile on iPhone

[2018-06-06 22:06] rhatdan commented on #703
Does it work with the http?  I like the idea of being able to grab a Dockerfile outside of the context directory.  If this works I say we keep it.

[2018-06-07 10:31] pixdrift commented on #703
@rhatdan if you want to grab an http URL you just use 'buildah bud', why have the same capability re-implemented under the `-f` flag? especially when it doesn't follow Docker behaviour?

The `-f` is essentially so specify an alternate Dockerfile name, not to specify a Dockerfile you want built at random. It breaks the convention that a Dockerfile sits in its own directory.

[2018-06-07 10:35] pixdrift commented on #757
I think the 'containers' in buildah are a work in progress, why would I want a reboot to clean them up, or more importantly, would a user expect their work to be erased on reboot? This is suggesting a default behaviour that is destructive.

[2018-06-07 12:07] TomSweeneyRedHat commented on #757
FWIW.  I'm not a fan of "automatic" anything especially when it comes to the destruction of objects.  If we could swangle a way to allow the end user to toggle whether or not containers persist across a reboot, that would be fine with me.  I'm not coming up with a way quickly, but it is pre-tea.

My $.02

[2018-06-07 13:33] #680 closed

[2018-06-07 13:40] rhatdan commented on #703
Yes, and this has been requested that -f specify a separate location.  Allowing the Dockerfile to exist outside of the context directory is a feature, I believe.

[2018-06-07 13:45] cgwalters commented on #757
That mostly would work, though there'd be races (I think) if it happened to be running concurrently while something else started a build.

Probably the best would be something like `buildah from --rm <image>` where `--rm` would be defined to attach to the lifetime of the parent process - *implementing* that would be tricky though without a daemon.  Maybe the parent process could create a lock file

[2018-06-07 13:56] rhatdan commented on #757
buildah from --rm image

Could cleanup when you do a buildah commit, although we currently allow you to continue to work with the container when you do a commit.  IE you can do lots of commits.

buildah commit --rm $CTR

Might be an option that cleans up all container information.

[2018-06-07 14:10] mtrmac commented on #684
A reproducer without a registry (using `./t` as a temporary directory):
[code]

[2018-06-07 14:13] mtrmac commented on #684
No; you are looking at a JSON format (`buildah inspect`) containing a string which is itself JSON; and that JSON may include `"Cmd"` strings which are escaped again.  Each of these layers turns `\` into a `\\`, and the like.

[2018-06-07 14:29] mtrmac commented on #684
#762 shows this, and it seems to work for my reproducer.

_I don’t know whether it is the right fix._ @nalind ?

[2018-06-07 23:55] pixdrift commented on #684
@mtrmac does #762 fix the excessive escaping ie `\\\"value\\\"` just for this set of values?

I thought this was causing the problem with parsing the image layer history which then leads to the layer count mismatch.

[2018-06-08 10:34] maxmeyer opened #765 "Build/Push/Pull via HTTP Proxy"
**Description**

**Steps to reproduce the issue:**
1. `sudo buildah build-using-dockerfile --file files/latest/Dockerfile`

**Describe the results you received:**

Installing packages by `apk add` hangs with no progress

**Describe the results you expected:**

Installing packages works without any build args passed to `buildah` - something similar to https://docs.docker.com/network/proxy/

**Possi

[2018-06-08 10:46] rhatdan commented on #765
We already have a fix for this in Master. Should be in the buildah 1.1 release.

[2018-06-08 10:51] rhatdan commented on #765
Seems like a feature of containers/image.
@mtrmac PTAL

[2018-06-08 11:36] vrothberg commented on #765
@rhatdan I think this is something that can be achieved with sysregistriesv2 package in containers/image. I am currently preparing a fix for it as discussed in https://github.com/projectatomic/libpod/issues/721. However, push-mirrors is something being discussed in the dist-spec at the moment and will take a while afaik.

[2018-06-08 14:43] gregoryboue commented on #626
Hi, i'am very interested in the feature, when this functionality will be released ?

Thanks you

[2018-06-08 14:55] olivierGATSNCF commented on #626
Hi,
i agree, i'm very interested too.
when do you plan to publish the next version?

[2018-06-08 18:18] TomSweeneyRedHat commented on #626
Soon.  #721.  With luck a kit should be out in the testing repos for Fedora next week.

[2018-06-08 19:07] clcollins commented on #658
Hey @TomSweeneyRedHat -

I'm trying to test this out. It looks like the changes made it into Buildah 1.0, (unless I'm reading the merge incorrectly), but it's not working with the test case provided initially - with either the 1.0 RPM from the Fedora repos, or buildah installed from source from the master branch.

[code]
[code]

And with Buildah from the Fedora repos:
[code]
[code]

[2018-06-08 19:19] rhatdan commented on #658
You need to specify --format docker

[2018-06-08 19:40] rhatdan commented on #658
The problem is OCI format, buildah's default does not support ONBUILD.
BTW You can also set an environment variable in 1.1 BUILDAH_FORMAT=docker, which would change the default format to be docker, for your experimenting.

[2018-06-08 21:30] pixdrift commented on #658
Should buildah let the user know that a feature isn't supported by OCI when it hits this? And potentially stop execution because the user will get an inconsistent result?

eg. 'Dockerfile includes ONBUILD which is unsupported in OCI images. Use docker formatted image to for full compatibility'

[2018-06-08 21:34] pixdrift commented on #684
I can't, but in the details I have posted here, the history section is the only section with inconsistent (excessive) escaping. Regardless of parsing, I would expect this to be of concern.

[2018-06-08 21:37] mtrmac commented on #765
Looking at `c/image/pkg/tlsclientconfig.NewTransport`, the docker/distribution client should already be transparently using the standard Golang environment variables (https://golang.org/pkg/net/http/#ProxyFromEnvironment ); at the very least, it does not ignore the variables at all:
[code]

So, if that works, there should already be _a_ way to make things work.

---

As for whether it makes more s

[2018-06-08 21:38] mtrmac commented on #765
Whichever configuration mechanism ends up being used, I do agree that this should be handled transparently with containers/image, at least by default.

[2018-06-08 21:43] mtrmac commented on #684
There’s _nothing excessive_ about escaping the JSON
[code]
when represented as a string in _another_ JSON, and getting
[code]

Or maybe you are seeing a specific instance where the escaping is expected, but actually _incorrect_ when comparing the raw manifest and the escaped value in the `buildah inspect` output; if so, please point the specific instance out.

But just seeing four or more backslas

[2018-06-08 21:46] pixdrift commented on #684
This is the section that I think is excessive:
https://github.com/projectatomic/buildah/issues/684#issuecomment-391602453

The difference between the values before they go into the registry, and when they come out. There is no reason for the quotes in the history to be triple escaped.

Before:
`"history":[{"v1Compatibility":"{\"architecture\":\"amd64\",\"config\":{\"WorkingDir\":\"/\",\"Labels\":{

[2018-06-08 22:17] mtrmac commented on #684
How exactly do you get the before/after data? `"history":[{"v1Compatiblity"…` is not a valid stand-alone data structure, it is a _fragment_ of a v2s1 manifest.  Of course when you are viewing that manifest _raw_, you see `"history"`, a JSON encoding.

But `buildah inspect` is _not showing a raw manifest_: it is a JSON of many data fields, one which is `Manifest` and contains a JSON encoding of a _

[2018-06-08 22:22] pixdrift commented on #684
@mtrmac, the output is from buildah inspect before/after the pull from the private registry. I have provided a full reproducer above that uses the docker registry image to reproduce this behaviour.

The image commits fine before it goes into the registry, but doesn't if it is pulled from the private registry. On inspection before and after, the `history` component (which I have posted the excerpt

[2018-06-08 22:56] rhatdan commented on #658
We can open that up as a proposal.  Personally I am not sure which ones are supported or not, So having them would be good. The problem would be blowing up Dockerfiles.  Can I base a OCI Image off of a Docker image that has OnBuilds?  Or should that fail?  I could see us failing when a user build an OCI image with a ONBUILD Command.

[2018-06-08 22:57] rhatdan commented on #658
But when building by hand we can not tell what kind of image you are building until you commit.

[2018-06-11 12:38] clcollins commented on #658
Thanks @rhatdan & @TomSweeneyRedHat:  I recall seeing that flag as I was following the conversation for the merge, but forgot it was a thing when I tested.

Works beautifully when you actually do it correctly...

[code]

[2018-06-11 16:49] Conan-Kudo commented on #158
Since this issue is getting linked around the internets, I'll leave in here a little note about how we solved this problem for us:

For our GitLab CI setup, we made sure that the `/var/lib/containers` in the container environment mapped to a _different_ directory on the host system, so that the containers wouldn't be picked up by the container executor. That keeps us from accidentally breaking thi

[2018-06-11 19:51] mtrmac commented on #684
The escaping of `"Manifest"` is a complete red herring, after a simple `buildah from alpine` the `"Manifest"` field is escaped in exactly the same way (although the exact contents of the manifest differ, because the original `alpine` is v2s2, and anyway `buildah` adds an extra layer).

There _is_, actually, a bug in parsing the manifest (_not_ corrupting the input): `buildah` completely ignores th

[2018-06-11 20:54] pixdrift commented on #684
@mtrmac ack. Appreciate you digging into it.

[2018-06-11 21:47] kallisti5 opened #777 "buildah push can't handle ~ in local path"
It's mostly a convenience thing, but buildah push can't handle  ~ in a local path.

[code]

[code]

[code]

buildah version 1.0 (image-spec 1.0.0, runtime-spec 1.0.0)

[2018-06-11 23:43] TomSweeneyRedHat commented on #777
@kallisti5 Well that's an interesting little bug.  Thanks for reporting it, will take a look.

[2018-06-12 19:52] everflux opened #783 "buildah bud resulting image does not use CMD from Dockerfile when called by buildah run"
**Description**
I use buildah bud to build an image based on a Dockerfile, the CMD entry is lost.
The image contains a Cmd in the config (buildah inspect shows it), though it is not used when using buildah run.

**Steps to reproduce the issue:**
1. sudo buildah bud -t fortune .
2. Dockerfile:

[code]
3. ftcnt=$(sudo buildah from fortune)

**Describe the results you received:**
sudo buildah run $ft

[2018-06-12 20:04] rhatdan commented on #783
buildah run is not the same as docker run
buildah run == Dockerfile RUN and requires a command

podman run == docker run

[2018-06-12 20:04] #783 closed

[2018-06-12 20:24] carlwgeorge opened #785 "ERRO[0030] unable to write container terminal output: resource temporarily unavailable"
**Description**

While installing packages via `buildah run`, the program appears to lock up.  This error message is displayed in the terminal.

[code]

It just stays on that error permanently until I ctrl+c the process.  With the error on the screen the working container is up.

[code]

**Steps to reproduce the issue:**
1. `buildah from registry.fedoraproject.org/fedora:27`
2. `buildah run fedora

[2018-06-12 22:23] TomSweeneyRedHat commented on #785
@carlwgeorge Thanks for the info report.  I didn't do exhaustive testing, will pick up in the morning.  But I wasn't able to reproduce this after 5 or 6 tries.  Will keep at it.  If you've the time, can you try the following?  It should accomplish the same thing for you and might make testing on your end a bit easier.

[code]

[2018-06-12 22:42] carlwgeorge commented on #785
Yeah I've been trying to reproduce it again with the `--debug` flag and it's eluding me.

I've been using dnf in the container because I use this same method to create CentOS images with the image's yum.  I'll see if I can reproduce it both ways.

[2018-06-12 23:13] TomSweeneyRedHat commented on #785
@carlwgeorge Probably silly question time.  Can you verify that you've disk space available on your system?  I ran into similar errors during my bigger test as my disk ran out of space.  Probably not the case, but good to eliminate it just in case.

[2018-06-13 03:38] carlwgeorge commented on #785
Disk space is fine, around 45% full.

I noticed the strangest thing.  While I was trying to capture debug output, I had zoomed in my terminal emulator to make the text more readable.  But when zoomed in, I can't reproduce the error.  After resetting the terminal zoom back to default the error happens again.  I observe the same behavior in both gnome-terminal and tilix.

I was able to trim down the

[2018-06-13 07:52] rhatdan commented on #785
The code causing this issue is in run.go
[code]

[2018-06-13 08:04] rhatdan commented on #785
@carlwgeorge Could you remove the return here and see if the error repeats itself?

[2018-06-13 08:06] rhatdan commented on #785
I am now attempting with the terminal text small and the screen large to see if I can get a repeater.

[2018-06-13 08:07] rhatdan commented on #785
Ok I got it.

[2018-06-13 11:08] TomSweeneyRedHat commented on #785
All I can say is Great Catch! @carlwgeorge .  Thanks very much for the reproducer and it looks like @rhatdan is closing in on a fix.

[2018-06-13 14:43] rhatdan commented on #785
I know where the break is, but I failed to figure out a workaround or fix.  Sent it off to @nalind to see if he has any great ideas.

[2018-06-13 14:44] rhatdan commented on #785
One strange thing,was when I added fmt.Println() to the code, it suddenly worked.

[2018-06-13 17:01] TomSweeneyRedHat commented on #783
@everflux in case you'd like more info on Podman run: https://github.com/projectatomic/libpod/blob/master/docs/podman-run.1.md

[2018-06-13 19:59] umohnani8 commented on #601
Implemented in #767

[2018-06-13 19:59] #601 closed

[2018-06-13 20:00] umohnani8 commented on #628
Added in #767

[2018-06-13 20:00] #628 closed

[2018-06-14 17:02] umohnani8 commented on #622
Implemented in https://github.com/projectatomic/buildah/pull/788

[2018-06-14 17:02] #622 closed

[2018-06-15 08:22] robodendron commented on #505
@owtaylor

Sorry for the late comment, but where can I track the corresponding f28 update? [I can't find any f28-related docker-distribution packages on bodhi](https://bodhi.fedoraproject.org/updates/?packages=docker-distribution).

[2018-06-17 07:44] khalidumarr commented on #475
just adding #!/bin/bash to my entry point file fixed the issue.

[2018-06-17 08:55] pixdrift commented on #475
@khalidumarr, which version of buildah are you using? Did you execute with `buildah run` and you received this error?

[2018-06-17 09:03] khalidumarr commented on #475
i was using docker run directly.

[2018-06-17 09:57] pixdrift commented on #777
@kallisti5, this is expected behaviour for tilde (~) expansion.

It is only expanded by the shell if the tilde is as the start of a word. Documented here:
https://www.gnu.org/software/libc/manual/html_node/Tilde-Expansion.html

Example showing this:
[code]

Alternatively you could use `$HOME`

[2018-06-18 17:31] everflux commented on #783
Thanks, I will look into it.

[2018-06-21 12:49] TomSweeneyRedHat commented on #777
@kallisti5 thanks for reporting this.  After a bunch of discussion we've decided to not make any changes in the code, but rather have added a note to or troubleshooting guide.

[2018-06-21 12:49] #777 closed

[2018-06-22 15:59] LemonIceScream opened #810 "Fresh install "buildah from fedora" tries localhost registry"
**Description**

buildah is unable to pull an image using the examples:

    [pomelo ~] buildah from fedora
    Get https://localhost/v2/: dial tcp 127.0.0.1:443: connect: connection `refused`

I see references in the documentation to /etc/containers but it did not exist. After installing skopeo it appeared but continued to not work.

Running both "skopeo inspect docker://fedora" and "skopeo inspe

[2018-06-22 16:12] rhatdan commented on #810
On Fedora we ship registries.conf which podman/buildah/crio use to identify the container registries they will use.

[code]

[2018-06-23 18:20] TomSweeneyRedHat commented on #573
@ipbabble did you take a look at this?

[2018-06-23 18:22] TomSweeneyRedHat commented on #104
@kbaegis do you have an answer to @rhatdan 's question?

[2018-06-23 18:32] TomSweeneyRedHat commented on #657
This appears to be working now with @rhatdan 's #760
[code]
@pixdrift please reopen or create a new issue as appropriate if you find there are still problems here.

[2018-06-23 18:32] #657 closed

[2018-06-24 13:30] kbaegis commented on #104
I haven't seen this recently.

One thing I have seen, however, is that I can't seem to use buildah on an OSX host. It seems to try to use an aufs driver which I don't think MacOS likes.

[2018-06-24 13:38] kbaegis opened #813 "BUD Conversion from ARG to ENV failing"
**Description**

Dockerfiles can typically convert an ARG (temporary) into an ENV (part of the image) with the following syntax. This is failing with buildah bud

**Steps to reproduce the issue:**
Dockerfile with:
ARG RSYNCURI="rsync://crucible.mgmt/gentoo-portage"
...
ENV RSYNCURI="$RSYNCURI"

**Describe the results you received:**

On build:
!!! sync-uri is invalid: $RSYNCURI

**Describe the res

[2018-06-25 08:57] LemonIceScream commented on #810
That registries.conf works great. Thank you for improving the installation notes in #811 too, it has helped greatly!

You asked what manpages I looked at - typically when I try to take in a new program I'll start at the top of what looks like the main manpage and use the Github as a guide. I believe the FILES section could be updated with something similar to what install.md now provides: document

[2018-06-25 08:59] giuseppe commented on #573
to easily reproduce:

[code]
and from another terminal:

[code]

PR here: https://github.com/projectatomic/buildah/pull/814

[2018-06-25 10:45] rhatdan commented on #810
man buildah currently has
[code]

I don't want to specify any packages for this, since different distributions, might package them differently.  I can add a reference to registries.conf(5) man page, which is missing.

I guess we could add the example configurations.

[2018-06-25 11:21] rhatdan commented on #104
Have you tried to force the driver to vfs?  I have no idea what drivres OSX would support.

[2018-06-25 11:21] rhatdan commented on #104
I am going to close this issue as it seems to not happen any longer.

[2018-06-25 11:21] #104 closed

[2018-06-25 12:22] LemonIceScream commented on #810
Here's how I approached it:

(1) I ran "buildah from fedora" and received an error saying it can't pull from localhost.
(2) I check the manpage "buildah-from" for the format of imageName.
(3) I see that it's broken down into "transport:details" and that the default is "docker://".
(4) I guess that the transport is optional as "scratch" can be used for an empty container but I assume I can still ha

[2018-06-25 12:39] pixdrift commented on #810
I had pain with registries.conf just today, so I understand where @LemonIceScream is coming from.

It also loops back to the PR we have discussed in the past regarding containers-common because it's not obvious where registries.conf is coming from (on CentOS the file itself says it comes from atomic-containers, but it actually comes from a skopeo package)
https://github.com/projectatomic/skopeo/pu

[2018-06-25 13:17] #573 closed

[2018-06-25 17:32] ipbabble commented on #634
Hi all I'm back. @ripcurld how far did you get?  I will push a new one up to quay.io today.

-ipbabble

[2018-06-25 18:45] rhatdan commented on #810
Well the errors are much better now.
[code]
 Registries.conf is really a distro file, we can't force one file on all distros, which is why it is buried in the skopeo package fedora/RHEL/Centos look aside cash.
containers-common (formarly skopeo-containers0 is still a sub package of skoeo.)  We will be looking to make it a standalone package in github.com/containers/containers-commont.  That might

[2018-06-25 19:00] ipbabble commented on #634
I've pushed a new fedora based Buildah image:

podman pull quay.io/ipbabble/buildah

Based on fedora release 28.

[2018-06-25 19:03] ipbabble commented on #634
I used dnf install with following options:
[code]
Then did a clean all and a autoremove
dnf clean all --installroot $scratchmnt --release $rel
dnf autoremove --installroot $scratchmnt --release $rel

[2018-06-26 20:48] pixdrift commented on #684
What needs to be done to move this along so #775 is merged into the vendor'd package upstream (container/image?). Would be nice to close this out before another version bump.

[2018-06-26 23:13] TomSweeneyRedHat commented on #684
@mtrmac is still digging.  From the last I heard he'd solved the mainline issue, but ran into some issues in other places.  He's trying to squish all the legs of this nasty bug.

[2018-06-30 19:21] TomSweeneyRedHat commented on #813
Closing ast #816 addresses this.  @kbaegis if you find otherswise, please reopen or start a new issue as appropriate.

[2018-06-30 19:21] #813 closed

[2018-07-03 20:23] TomSweeneyRedHat opened #844 "Segmentation Fault when non-root"
**Description**

**Steps to reproduce the issue:**
1. Using a non-root account, 'sudo -s' and then install Buildah, either through dnf or the install instructions on GitHub.
2. `ctr=$(buildah from alpine)
3.  `buildah run $ctr /bin/sh`

**Describe the results you received:**

segmentation fault.  Journalctl showed:

[code]

**Describe the results you expected:**

No segmentation fault.

**Output o

[2018-07-05 12:29] pixdrift opened #849 "Multiple registry issues returning generic registries.conf error message"
**Description**
When using `buildah from` or bud `FROM` to pull an image from a private registry, various errors can occur that appear to be reported under a generic error message in `buildah` referring to registries.conf which can be misleading when troubleshooting.

The message is:
[code]

Example situations:
- Host unreachable (eg. bad DNS / no route)
- Connection refused (networking/firewall)

[2018-07-05 12:54] pixdrift opened #850 "buildah bud --file, -f regression / change in behaviour"
**Description**
From the `buildah bud` documentation, it is suggested that the `--file / -f` switch can take multiple Dockerfiles and the context is optional.

It appears that changes to buildah have made context _required_ which in turn has made the multiple Dockerfile feature less intuitive.

One of the benefits of building using multiple Dockerfiles (or slices/shards/snippets) is code re-use, i

[2018-07-05 13:01] pixdrift commented on #850
I also wanted to raise in this thread the possibility of inclusion of an `INCLUDE` feature in the Dockerfile parser (`bud`), to essentially achieve the same as above. This has been raised / rejected several times in Docker/moby issues, but interested to know if there is any precedent in Buildah for support of additional features in the Dockerfile, or if `bud` is purely for compatibility with exist

[2018-07-05 13:08] TomSweeneyRedHat opened #851 "Add INCLUDE to Dockerfile parsing in bud"
**Description**
Cut from #850 by @pixdrift - I think this should be a stand alone discussion/enhancement request.

I also wanted to raise in this thread the possibility of inclusion of an INCLUDE feature in the Dockerfile parser (bud), to essentially achieve the same as above. This has been raised / rejected several times in Docker/moby issues, but interested to know if there is any precedent in B

[2018-07-05 13:09] TomSweeneyRedHat commented on #850
I've created a new issue #851 for the INCLUDE discussion/enhancement.  Let's work through that there.  A good idea me thinks.

[2018-07-05 13:39] vrothberg commented on #851
I've been thinking about such a feature for a while and as you like building stuff on old unix tools, you might be interested in using the C pre-processor.  It does everything you need which is mainly textual replacement via the `#include` directive but it could also allow you to do macro expansion and even conditional rules and way more things.

Consider the following (minimal) example for demons

[2018-07-05 21:18] pixdrift commented on #851
@vrothberg, thanks for the comment / suggestion, it's nice as it does have the relationship described inside the file.

With this suggestion, I am trying to move away from processing/parsing outside of the Dockerfilers as I want everything described in the Dockerfile and for users to be able to run a single `buildah bud` step with no dependant steps/scripts so I can maintain their simplicity of us

[2018-07-06 06:18] vrothberg commented on #851
@pixdrift Thanks for the nice explanation!

Please don't get me wrong, I am not against extending Dockerfile to support an `INCLUDE` directive. I think it's something urgently needed and many users do such things already but have to work around that.

The major concern I have is that adding such a directive to Buildah would make those Dockerfiles incompatible to Moby/Docker and all other Dockerfil

[2018-07-06 07:08] pixdrift commented on #851
@vrothberg, this is almost exactly the question I put forward to the others working on buildah. Is the role of `bud` to implement Dockerfile compatibility, and everything else should happen in the 'native' buildah commands, so perhaps `buildah include`? Or is there an opportunity to extend the functionality for buildah specific Dockerfiles (Buildahfiles?) that maybe would have some adoption from o

[2018-07-06 07:19] vrothberg commented on #851
All of this can be done with `cpp`. Note that `$ cpp -E Dockerfile-myapp > Dockerfile-final`  is not required and can be done transparently in `buildah-bud`. But I don't want to hijack the discussion regarding `cpp`. As you stated, it's important to first have an agreement on the general issue whether buidah can/should diverge from other Dockerfile-based tools or not.

[2018-07-06 13:35] pixdrift commented on #851
I think the function/behaviour is correct with the cpp solution, but the implementation should fail on existing Docker interpreters so it doesn't get skipped with the leading `#`. Not sure how specific you were about interpreting the cpp as is in the example.

There is a kind of precedent in `grep` using the `-E` to enable extended capability, perhaps the implementation could be similar with `bud`

[2018-07-06 17:50] TomSweeneyRedHat commented on #718
Closing as #841 addresses this.

[2018-07-06 17:50] #718 closed

[2018-07-09 11:20] rhatdan commented on #849
@pixdrift @TomSweeneyRedHat Could you look into creating PRs to resolve these issues?

[2018-07-09 11:22] rhatdan commented on #850
@pixdrift I thought we still had the feature to be able to grab a Dockerfile from anywhere, which I liked.  The only change we were supposed to make was to force the specification of the context dir, matching Docker.  Allowing specification of Multiple Dockerfiles and having them not be relative to the Context dir, seems like a good idea.

[2018-07-09 11:40] rhatdan commented on #851
5 years of discussion on adding this feature...
I kind of like the idea of adding cpp support and only add INCLUDE once it is fully available, but that still leads us to the point where Dockerfiles used with buildah can not be used with Docker.

Perhaps we should have a meeting to discuss this.

[2018-07-09 11:44] vrothberg commented on #851
That's true, but I think it's the lesser evil as those Dockerfiles can easily be transformed into something other parsers can eat.

In case, I'd be interested in joining.

[2018-07-09 11:46] pixdrift commented on #851
@rhatdan The issue I see with the cpp method is that it will fail silently in Docker, and result in a successful Docker build with missing segment/snippet.

I have proposed the E_INCLUDE method above so it's clear that it extends standard Dockerfile and breaks legacy compatibility if someone attempts to build the file that contains extensions with Docker.

[2018-07-09 12:28] rhatdan commented on #851
@vbatts @nalind @mheon @smarterclayton @wking WDYT

[2018-07-09 19:31] smarterclayton commented on #851
At that point it's not a Dockerfile.  If there's a desire for other formats, it would be best to make it be clear that it's something else (via a separate command, or flags that explicitly identify it, or a different filename).  Dockerfiles are valuable because they're reasonably portable and identical everywhere.  Creating something new needs to be different (it's a new API in a new direction).

[2018-07-09 20:49] pixdrift commented on #851
@smarterclayton, that is why I have proposed the '-E' flag above, which makes it clear that it isn't compatible with the Dockerfile standard. This makes sure that when users are enabling the extended features they know they are breaking compatibility.

I'm not sure it warrants a whole new file format / parser, even if it does break compatibility.

[2018-07-09 21:11] mheon commented on #851
I would support a rename if we're going to go ahead and add potentially-incompatible options... Distributing Dockerfiles that don't actually build under Docker because of their extended options seems rather confusing. A new name, making distinct that this is something new and not fully compatible, would be a good idea.

If we can slip in a versioning system for the build files so we can more grace

[2018-07-09 21:12] smarterclayton commented on #851
If it has no chance of going into the canonical upstream, I really don't
think we should be adding it ourselves.  That seems scary.

On Mon, Jul 9, 2018 at 4:49 PM, pixdrift <notifications@github.com> wrote:

[2018-07-09 21:19] pixdrift commented on #851
@smarterclayton, Red Hat maintain experimental features downstream for Docker itself.
https://access.redhat.com/articles/1354823

Granted, this doesn't break compatibility with file formats, but a precedent for extending capability exists.

[2018-07-09 21:19] rhatdan commented on #851
Tough to judge if INCLUDE will go in upstream.  Since it has been talked about for 5 years, but there is a decent amount of recent info.

I kind of like the idea of Dockerfile.in and then having buildah be smart enough to run the preprocessor on it to create a Dockerfile to use.  Then users would know not to use Dockerfile.in in upstream docker and could easily convert it if they did want to ..

[2018-07-09 21:30] rhatdan commented on #851
Dockerfile.in would be running the cpp on a Dockerfile. as suggested above.  Which would allow you to imbed includes into a Dockerfile.  If we seemlessly put this into Buildah, so it would notice a .in on a -f object, and run the cpp on it.

[2018-07-09 21:44] smarterclayton commented on #851
A preprocessing step that is a buildah specific option seems much safer.
There are lots of templating mechanisms, but a simple include implemented
as a separate command or under a flag is reasonable, or with a specific
extension.

On Mon, Jul 9, 2018 at 5:30 PM, Daniel J Walsh <notifications@github.com>
wrote:

[2018-07-09 21:55] pixdrift commented on #851
@rhatdan, the concern I have with this approach is how Docker handles the Dockerfile with the cpp includes in it? Ideally Docker should error consistently, but I expect it will just ignore them and continue without error (can test this with a proposed example).

An alternate is that these segments/snippets aren't named Dockerfile, but container Dockerfile syntax. Can we call them `bricks` to maint

[2018-07-10 03:11] AkihiroSuda commented on #851
Rather than extending Dockerfile in the own way, how about implementing "syntax directive", which will be introduced in Docker 18.06? https://github.com/moby/buildkit/pull/384/commits/460fb33da7e32d899f56cdfe2f48d58efe4c335f

e.g.

[code]

The "syntax directive" is also used for supporting `RUN --mount type=cache` in Docker 18.06.

Note that supporting "syntax directive" won't require vendoring bu

[2018-07-10 16:39] e-minguez commented on #851
what about having 'buildahfiles' instead dockerfiles?

[2018-07-10 17:08] vbatts commented on #851
No. Having Dockerfile as a standard syntax is one thing, but splintering that syntax is too much. One if the syntax is already self extending. Which sounds like what @AkihiroSuda is saying

[2018-07-10 20:19] pixdrift commented on #851
@AkihiroSuda, do you have any more documentation/details of how the `syntax` parser directive is going to be implemented? I had a look and couldn't find any related issues / PRs or proposals... although I may be looking in the wrong places.

There is general documentation on directives here, but obviously doesn't include this new feature:
https://docs.docker.com/engine/reference/builder/#parser-di

[2018-07-11 03:45] AkihiroSuda commented on #851
https://www.slideshare.net/Docker/containerd-buildkit-breakout/43
https://github.com/moby/buildkit/pull/442

When `# syntax = foo/bar:baz` is specified, a container image `foo/bar:baz` is launched for translating Dockerfile into BuildKit LLB (low-level build instructions).
`foo/bar:baz` speaks BuildKit Frontend Gateway gRPC API via stdio.

Example: `tonistiigi/dockerfile:runmount...`
* Dockerfile:

[2018-07-11 03:47] AkihiroSuda commented on #851
Also, it would make sense to consider designing a new language that is completely different from Dockerfile.
e.g. Lua-based one: https://twitter.com/ehotinger/status/1016526888410365952

[2018-07-12 12:06] rhatdan commented on #851
I was thinking more of keeping this simple and just handling Dockerfile.in, which most programmers would not expect to work with `docker build`, they should realize it needs to be preprocessed.  Buildah would just build in the preprocessing, whereas if someone wanted to use the file with `docker build` you would first need to run the cpp command on it.

[2018-07-12 12:35] vbatts commented on #851
But then I would assume that to be an m4 file

On Thu, Jul 12, 2018, 08:06 Daniel J Walsh <notifications@github.com> wrote:

[2018-07-12 18:02] cgwalters opened #859 "ERRO[0005] unable to write container terminal output: resource temporarily unavailable"
Haven't narrowed this down much yet, but I'm pretty sure it's a recent regression since my last update.  The odd thing is that I went `podman 0.6.5-1.git9d97bd6.fc28 -> 0.7.1-1.git802d4f2.fc28` but AIUI buildah doesn't directly call podman.

[code]

[2018-07-12 18:39] rhatdan commented on #859
No buildah does not interact with podman at all.  Podman vendors in buildah content.

[2018-07-12 22:15] pixdrift commented on #851
@rhatdan, can you provide a full example of this proposal including the input files, `buildah` command that would be executed, and the expected result? I think this would provide benefit to the discussion.

[2018-07-13 12:04] rhatdan commented on #851
I like @jfinkhaeuser suggestion back in 2014 in

https://github.com/moby/moby/issues/735

[code]

[2018-07-13 12:08] rhatdan commented on #851
The idea would be for buildah to realize that a file ending in the .in prefix, requires cpp to be run on it first and then generate the Dockerfile.  It would be a soft requirement and would ask the user to install cpp if he wants to use Preprocessed files.

[2018-07-13 12:10] pixdrift commented on #851
So you're proposing you just `buildah bud Dockerfile.in`, or you would `buildah bud Dockerfile` and it would look for an associated .in based on convention? or determine that `#include` occurs in the file?

Can you provide a full example.

[2018-07-13 12:19] rhatdan commented on #851
I am proposing if you did

`buildah bud /foobar`

And Dockerfile did not exist the /foobar directory, but Dockerfile.in did then we would execute cpp on the Dockerfile.in and create a temporary Dockerfile, then use this Dockerfile with the context directory. If the Dockerfile did exist with the Dockerfile.in then we would just use the Dockerfile.

`buildah bud -f /foobar/mybuilder.in ~  `

Would a

[2018-07-13 12:29] pixdrift commented on #851
From a packaging perspective, I would expect as a user/consumer that this would be included as a dependency, rather than informing the user that it's missing..

[2018-07-13 12:30] vrothberg commented on #851
I agree, I just checked for `opensuse:latest`:
[code]

[2018-07-13 12:32] pixdrift commented on #851
@vrothberg beat me to it. In CentOS this suggests it would cost ~15M on install

https://centos.pkgs.org/7/centos-x86_64/cpp-4.8.5-28.el7.x86_64.rpm.html

[2018-07-13 12:33] vrothberg commented on #851
:laughing:

[2018-07-13 12:43] rhatdan commented on #851
@pixdrift Sure people can package it together, but buildah should not assume that it is there.  It can be packaged as a soft or hard requirement.

But
make install

from git, would not guarantee that it is there.

[2018-07-13 22:06] cgwalters commented on #859
I've verified that [buildah-1.0-1.git1ab80bc.fc28](https://koji.fedoraproject.org/koji/buildinfo?buildID=1080090) works fine (I extracted the RPM and added it to $PATH) on my running system.

[2018-07-14 01:47] shivakumargn opened #861 "buildah fails on CentOS7 with xfs"
**Description**

Build buildah from source on CentOS7 box using xfs. Execute any command. It throws an error saying "xfs filesystem is formatted without d_type support".

**Steps to reproduce the issue:**
1. Install buildah dependencies
2. Build buildah from source
3. Execute any buildah command. Ex: `buildah images`

**Describe the results you received:**

[code]

**Describe the results you expec

[2018-07-14 01:53] pixdrift commented on #861
This is error correct/expected, although it should be documented.

The default XFS partitioning in CentOS 7 is not configured with `ftype=1` option configured so OverlayFS does not work out of the box.

To resolve this issue, you either need to select ext4 for your install, or configure a mount for  `/var/lib/containers` (which buildah uses) using either XFS with `ftype=1` specified or ext4.

To c

[2018-07-14 09:59] rhatdan commented on #859
Have you checked the master branch to see if we still have the problem their.  Getting close to releasing buildah 1.2

[2018-07-14 12:15] rhatdan commented on #861
Centos 7.5 has this by default, the problem is probably that you updated to Centos 7.3/7.4 or you are using this on an older version.  All tools podman/docker/buildah need this for overlay to work correctly on an XFS file system.

[2018-07-14 12:15] #861 closed

[2018-07-14 19:57] Conan-Kudo commented on #682
@rhatdan the static build flags have been somewhat ineffective since I think golang 1.10? At least, they don't work as expected for other golang packages I build.

[2018-07-16 18:19] ealexhaywood commented on #475
Why should there be a shebang in `hello`?  It's a compiled binary

[2018-07-17 15:05] cmoulliard opened #866 "Docker image to be used to play with buildah"
Is there a Docker image that we could use to play with Buildah on non Linux's machine such as Macos ?

[2018-07-17 17:29] cmoulliard opened #867 "ERRO[0000] 'overlay' is not supported over overlayfs"
When I execute within a fedora:28 docker container this command

[code]

I get this error

[code]

Here is the dockerfile used to create the buildah container on Macos

[code]

Docker info (command executed within macos's terminal)

[code]

[2018-07-17 17:35] nalind commented on #859
We redid the I/O copying logic between 1.1 and master to check for and handle EAGAIN when writing datay that needs to relayed to or from stdio, so I _think_ this will already be fixed.  If not, please provide some information about how you're triggering the bug.  Thanks!

[2018-07-17 17:53] rhatdan commented on #867
You need to volume mount storage on top of /var/lib/containers for this to work.
Or you could use a storage driver of something other then overlay, like vfs.

[2018-07-17 21:33] ipbabble commented on #866
@cmoulliard   try this one:
docker pull quay.io/ipbabble/buildah

[2018-07-18 05:45] cmoulliard commented on #867
I changed the storage to use "vfs" and I can dowload some images but when this error is next reported -> `failed to mount shm tmpfs`

Info
[code]

[2018-07-18 13:09] rhatdan commented on #866
Would be so much better if this was podman pull :^)

[2018-07-18 13:30] rhatdan commented on #867
Currently we only support these with SYS_ADMIN Capabilities.  Although @giuseppe Is close to having it run without any privs.  He has been looking at running podman while not root, but it should also run inside of a container.

[2018-07-18 15:01] ipbabble commented on #866
:-) He specifically asked for Docker on a Mac.  But I agree.

Action items ?

1. Port Podman to Mac OS X
2. Ask Quay to give copy options when using the UI.

-William

On Wed, Jul 18, 2018 at 8:28 AM Daniel J Walsh <notifications@github.com>
wrote:

--
Sent from Gmail Mobile on iPhone

[2018-07-18 15:33] rhatdan commented on #866
Podman or buildah will not work natively on a MAC.  We need a different client that @jwhonce is working on to run pypodman, a python version of podman which talks over ssh to a VM running podman listening on a varlink socket.  This should allow us to run any podman command from a MAC on the VM. (That is the goal.)  We are always looking for contributors, especially with MAC experience (Windows Exp

[2018-07-18 16:03] cmoulliard commented on #866
Many thanks for the feedback.

[2018-07-18 16:13] cmoulliard commented on #866
If I would like to develop a go application able to build a docker image from a dockerfile + code to be packaged (= a java jar file), is it something that we could achieve easily with a lightweight docker image packaging this "small go app for building/pushing images" ? What are the minimum requirements that I need to build such app and Linux's packages to run it ?

[2018-07-18 16:23] rhatdan commented on #866
For that you would only need podman package. No buildah required.

[2018-07-18 16:44] cmoulliard commented on #866
You mean the yum package ?

[2018-07-19 07:33] giuseppe commented on #867
https://github.com/containers/fuse-overlayfs can be used to mount overlay within an user namespace.  It requires Linux 4.18, that is at rc5 right now.  It works on Rawhide.  The biggest problem I see with running it inside of a container is that the container itself is running on top of overlay, so we need to check how that will work with whiteouts files.  There is a fallback mode to use files ins

[2018-07-19 20:41] Spindel opened #874 "buildah pulls in kernel, dracut and others"
**Description**

The buildah dependency graph is really huge on Fedora, turning a simple build container into a 700MB+ beast.

the majority of it seems to be via ostree, pulling in dracut,  systemd-udev, linux-firmware, kernel-core and others.

**Steps to reproduce the issue:**
1. start with empty fedora container
2. dnf install buildah
3. check size and dependency graph
[code]

[2018-07-19 21:09] rhatdan commented on #874
I have removed the ostree requirement from buildah in the spec file. Fedora/RHEL rebuilds happening now.

[2018-07-19 21:13] rhatdan commented on #874
@lsm5 I don't think we use ostree in any other distros.

[2018-07-19 21:13] #874 closed

[2018-07-19 21:13] rhatdan commented on #874
buildah-1.2-2.gitbe87762.*

[2018-07-19 21:52] lsm5 commented on #874
only other distro being ubuntu, (considering centos == rhel), we don't use ostree on ubuntu.

[2018-07-19 21:53] Spindel commented on #874
[code]

After that, one can do:
[code]

Is there a better way to not get the selinux-policy-targeted installed as a dependency?

[2018-07-20 08:26] rhatdan commented on #874
Buildah is requiring container-selinux, which could also be dropped.  buildah does not require selinux to run. it uses SELinux if it is there, and will not run well if it is there and container-selinux is not installed.
@lsm5 Could we make this a soft dependency?

[2018-07-20 08:31] rhatdan commented on #874
@lsm5 @nalind Is there a way using dependency resolution to check if selinux-policy-base ins installed then I want to install container-selinux, but if it is not installed, then don't install either?

[2018-07-20 17:36] Spindel opened #875 "error creating new mount namespace"
**Description**

 STEP 12: ENV LC_ALL C.utf8
 STEP 13: ADD rootfs.tar /
 STEP 14: RUN dnf remove -y selinux-policy-targeted
error running container: error creating new mount namespace for [/bin/sh -c dnf remove -y selinux-policy-targeted]: operation not permitted
error building at step {Env:[LC_ALL=C.utf8 LANGUAGE=en_US:en LANG=C.utf8 LC_CTYPE=C.utf8      PATH=/usr/local/sbin:/usr/local/bin:/usr/s

[2018-07-20 17:57] TomSweeneyRedHat commented on #875
Thanks for the problem report @Spindel.  I might have missed it in IRC, but could you share the buildah command that you issued to get this error?  Dockerfile too if one was in play please.

[2018-07-20 21:21] Spindel commented on #875
define _cmd_image_buildah_build =
  $(_buildah) --storage-driver=vfs bud --pull-always \
    --file=$< \
    --build-arg=BRANCH="$(CI_COMMIT_REF_NAME)" \
    --build-arg=COMMIT="$(CI_COMMIT_SHA)" \
    --build-arg=URL="$(CI_PROJECT_URL)" \
    --build-arg=DATE="$(_date)" \
    --build-arg=HOST="$(_host)" \
    --tag=$(IMAGE_LOCAL_TAG) \
    .
endef

[2018-07-20 21:22] Spindel commented on #875
[code]

[2018-07-21 11:07] rhatdan commented on #875
@nalind PTAL

[2018-07-21 15:32] TomSweeneyRedHat commented on #875
Thx @Spindel !

[2018-07-23 11:08] TrayserCassa commented on #475
We build with an wrong architecture...
CGO_ENABLED=0
GOOS=linux
GOARCH=amd64

and then:
go build -o bin/serviceXYZ_linux_amd64

Our Image is for godeployment and we get this error. Maybe it will help somebody..

[2018-07-23 15:51] #859 closed

[2018-07-23 15:55] rhatdan commented on #475
@TrayserCassa What error?

[2018-07-23 16:36] TomSweeneyRedHat commented on #859
FWIW, I was not able to reproduce this with the latest v1.2 kit on Fedora.

[2018-07-23 16:38] TomSweeneyRedHat commented on #728
@stefanand as I've not been able to reproduce this and we've not heard anything further for quite a while, I'm going to close this issue.  Please reopen or create a new issue as you see appropriate if you continue to have problems with this.

[2018-07-23 16:38] #728 closed

[2018-07-23 16:44] TomSweeneyRedHat commented on #765
@maxmeyer is this still problematic for you with Buildah v1.2?  I think it may have been fixed there, but would like your confirmation if possible.

[2018-07-23 16:49] TomSweeneyRedHat commented on #810
The man pages around registries.conf have been touched up to hopefully make this more clear and we've touched up the docs in a few other spots.  I'm going to close this now.  @LemonIceScream please create a new issue or reopen this one as appropriate if you're still having issues in this space.

[2018-07-23 16:49] #810 closed

[2018-07-23 18:01] TomSweeneyRedHat commented on #850
I've poked at this a bit, I'm not sure what (if?) we should adjust here.  I created two directories at root: container1 and container 2.  I put a Dockerfile in each and ran this Buildah command from /root:

[code]
Then I ran the equivalent Docker command:

[code]
Further, if you add the '..' to the container2/Dockerfile, Buildah works, but Docker still fails.

[code]
Currently we're prepending the

[2018-07-24 14:22] miabbott opened #879 "LABELs split across mutliple lines in Dockerfile are handled incorrectly"
(Migrated from projectatomic/libpod#1149)

When building an image from a Dockerfile that has key=value pairs split across multiple lines of a single LABEL instruction, the resulting image has a mangled LABEL output.

This was observed on Fedora 28, using `podman` 0.7.2:

[code]

If I change the Dockerfile to use a single LABEL instruction per key=value pair, it works correctly:

[code]

[2018-07-24 14:33] rhatdan commented on #879
This probably falls back to ImageBuilder as the problem.  Do you agree @nalind ?

[2018-07-24 16:10] rhatdan commented on #879
Ok the imagebuilder is using a very old dockerfile parser, which does not handle multiline labels or environments .

I will try to vendor in new parsers.

[2018-07-24 18:18] nalind commented on #879
The `Dockerfile.single` case includes an extra "= " at the beginning of the label's value in the built image, which I think is not what you wanted.  Try removing the whitespace from around the `=` on the line with the `LABEL` instruction.

[2018-07-24 18:44] rhatdan commented on #879
Oops your right without the space it works correctly.  It also fails the same way with Docker.  I guess I wasted a lot of the day on this one.

[2018-07-24 18:44] #879 closed

[2018-07-24 19:07] TomSweeneyRedHat opened #882 "bud fails when run as non-root - error copying layers and metadata"
**Description**

buildah bud fails when run as non-root user, but completes as root

**Steps to reproduce the issue:**
1.  $ cat Dockerfile
FROM fedora:28
RUN dnf -y update
2.  buildah bud -t myimg .

**Describe the results you received:**
[code]

**Describe the results you expected:**
A clean build.

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of

[2018-07-24 19:13] giuseppe commented on #882
is your user present in `/etc/subuid` and `/etc/subgid`?  How many extra IDs are present?

[2018-07-24 19:48] miabbott commented on #879
Ugh...sorry for the wasted effort folks.  :sob:

[2018-07-24 22:03] TomSweeneyRedHat commented on #882
@giuseppe I installed a fresh vm, did an `adduser tom` and then `passwd tom`so that the only one added.  That's also the extent of my user setup/admin that I did for the tom account.  Here's the entries in /etc/subuid and /etc/subgid.

[code]

[2018-07-25 16:08] mtrmac commented on #765
I’m sorry, it seems I have not read the original issue carefully enough; it is _not_ related to c/image _using_ a proxy, it is about _passing the proxy configuration into the build environment_.

That’s fundamentally a buildah design decision; c/image may be involved if the design decision were to record the default-injected proxies in something like `~/.docker/config.json` (… FWIW the `…/containe

[2018-07-25 16:52] giuseppe commented on #882
@TomSweeneyRedHat could you check if https://github.com/projectatomic/buildah/pull/884 solve the issue you are seeing?

[2018-07-25 17:49] rhatdan commented on #765
@mtrmac Do you have  a suggested solution?

[2018-07-25 17:55] mtrmac commented on #765
Both proposals in the original issue description are reasonable in principle; the CLI argument option would be easier to implement (avoids having to introduce a buildah config file), but a bit less convenient. I don’t think at this point, when nobody is implementing either of them, it makes much sense to bikeshed over the exact spelling etc.

[2018-07-25 17:56] mtrmac commented on #765
… whether to use the data in `~/.docker/config.json` at all, and if so, what would be the proposed alternative config file, should probably be discussed before implementing it, though. I don’t really have a strong opinion on these questions, anyway.

[2018-07-25 18:14] rhatdan commented on #765
I would not be opposed to having a ~/.contianers/config.json (Or some better format that buildah/podman could share.  And have a /etc/containers/config.* that programs running as root could share, including CRI-O.  Should this be implemented in containers/image though?

[2018-07-25 18:24] mtrmac commented on #765
That rather depends on what all ends up in there… and maybe on the dependency graph, so that there are no cycles (between specific subpackages at least; and maybe between repos as a whole).

`c/image` will probably never care about proxy configuration to pass into containers, so placing the code to deal with _that_ inside `c/image` would be a bit surprising. OTOH, placing a shared subpackage insid

[2018-07-25 18:48] rhatdan commented on #765
@nalind @mrunalp @jwhonce @vrothberg @mheon  WDYT?

[2018-07-25 18:58] TomSweeneyRedHat commented on #882
This appears to have been fixed with #882

[2018-07-25 18:59] #882 closed

[2018-07-25 20:56] rhatdan commented on #765
Well the package we are dumping them into is called containers-common

[2018-07-25 21:55] Conan-Kudo commented on #684
I just ran this with `buildah-1.2-1.gitbe87762.fc28.x86_64` on Fedora 28, and I still get this issue.

[2018-07-25 23:42] TomSweeneyRedHat commented on #684
@Conan-Kudo I tried @pixdrift 's example as root:

[code]

and it all worked fine for me on my F28 machine using the latest Buildah.  Can you tell me if this example works in your environment?  If so, can you tell me exactly the Buildah commands that yuou're using and the Dockerfiles in play to see the error?  I know a lot of it is in the earlier reports, but I just want to make sure that we're us

[2018-07-26 15:42] mtrmac commented on #684
@Conan-Kudo Also, did you start with clean local container storage, or continue to use previously imported images? A part of the fix applies when pulling schema1 images, so any pre-existing schema1 images must be at least untagged and re-pulled.

[2018-07-26 15:46] Conan-Kudo commented on #684
@mtrmac @TomSweeneyRedHat Ah, it worked after I purged `/var/lib/containers` and tried again.

[2018-07-26 19:15] #684 closed

[2018-07-27 14:21] TomSweeneyRedHat opened #886 "ENH: Allow Dockerfile input from stdio"
**Description**

This is a feature request/enhancement discussion.  The below is a IRC chat that I'd with @pixdrift the other night.  I wanted to capture the thoughts so we could discuss further here.

[code]

@pixdrift feel free to add additional details or whack me if I mis-represented our discussion

[2018-07-27 14:24] rhatdan commented on #886
@pixdrift @TomSweeneyRedHat Does

# buildah bud -f /dev/stdin ~
Work?

[2018-07-27 14:29] TomSweeneyRedHat commented on #886
Yeah I tried a couple of things without luck.  After that thought I'd throw this up here for a discussion.

[2018-07-27 14:32] TomSweeneyRedHat opened #887 "ENH: 'buildah pull' Do a pull without creating a container."
This is a feature request/enhancement discussion. The below is a IRC chat that I'd with @pixdrift the other night. I wanted to capture the thoughts so we could discuss further here.

**Description**
[code]

@pixdrift please feel free to add further details or correct me if any of this is incorrect.

My first thought was to do a new param like --nocontainer for `buildah from` that causes the image

[2018-07-27 14:52] rhatdan commented on #887
I would prefer buildah pull since it is much easier to discover and matches up with buildah push.

[2018-07-27 14:54] TomSweeneyRedHat commented on #887
OKD, I'll make it so.  ;^)

[2018-07-27 15:13] rhatdan commented on #886
@TomSweeneyRedHat The patch only checks size on regular files, since this is a pipe it will allow it to proceed in my patch.

[2018-07-30 11:08] frezbo commented on #386
@rhatdan any links to the docs: https://github.com/projectatomic/buildah/issues/386#issuecomment-370968776

[2018-07-30 12:33] rhatdan commented on #386
@frezbo you want docs on /proc and /sys being mountable, or the work on Overlay?  The Overlay Is conversations with Kernel developers in Email.  Mainly @ebiederman.
Googling found this article on /proc and /sys
https://lwn.net/Articles/652468/

[2018-07-30 12:57] frezbo commented on #386
I wanted the former, thanks @rhatdan

[2018-08-01 13:27] miabbott opened #895 "unable to combine options flags"
I was trying to use the equivalent of `podman rm $(podman ps -aq)` with `buildah`, but got an error when trying to combine the `-a` and `-q` options:

Using `buildah` 1.2 on Fedora 28 Silverblue:

[code]

[2018-08-01 16:39] TomSweeneyRedHat commented on #887
Closing as #889 addresses this.

[2018-08-01 16:39] #887 closed

[2018-08-01 16:40] TomSweeneyRedHat commented on #886
Addressed by #888, closing

[2018-08-01 16:40] #886 closed

[2018-08-01 16:42] TomSweeneyRedHat commented on #866
@cmoulliard yes, I believe @rhatdan meant the yum/dnf package for podman.  Do you still have outstanding questions on this or can we close this issue?

[2018-08-01 17:18] rhatdan commented on #866
Yes the yum podman rpm.

[2018-08-02 11:42] rhatdan commented on #867
Closing this because I believe it has been answered.

[2018-08-02 11:42] #867 closed

[2018-08-02 15:10] vbatts opened #902 "Non-fatal errors running inside a container"
**Description**
From https://github.com/projectatomic/buildah/pull/900#issuecomment-409940546: I think we may eventually want to check if env variable container is set, and run in an altered state for being inside a container. Like some errors aren't fatal because EPERMs could be expected.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**O

[2018-08-02 19:18] TomSweeneyRedHat commented on #850
@rhatdan @nalind thoughts on what should happen here?  In specific what I described in my last comment?  I think it's OK as is, but would like to hear your opinions.

[2018-08-02 19:32] TomSweeneyRedHat commented on #633
@14rcole welcome back from vacation and a little reminder nudge!

[2018-08-02 19:34] TomSweeneyRedHat commented on #634
@AkihiroSuda I think @ipbabble has setup an image for you.  I'm going to close this issue.  Please reopen this issue or a create a new one if you've concerns.

[2018-08-02 19:34] #634 closed

[2018-08-02 20:05] rhatdan commented on #850
Well @vrothberg just got support for Dockerfile.in, to allow users to specify a dockerfile with a
#include PATHTODockefile

buildah executes cpp to preprocess and suck the include file into the Dockerfile. That is half of what this Issue requests.

But I would like the Dockerfile to be pathbased and not require the path to be based on the context directory

buildah bud -f container2/Dockerfile ~
I

[2018-08-02 20:10] rhatdan commented on #875
Very cool install, @Spindel Does this mean it works on F28 and Fails only on F27?

[2018-08-02 20:11] rhatdan commented on #851
Buildah now has #include support.
Will be released soon as buildah 1.3

[2018-08-02 20:11] #851 closed

[2018-08-02 20:13] rhatdan commented on #849
@mtrmac Do we get back this type of information from containers/image?

[2018-08-02 20:14] rhatdan commented on #844
I don't see this any longer.  I am going to close this issue, reopen if you can get it to happen again.

[2018-08-02 20:14] #844 closed

[2018-08-02 20:15] rhatdan commented on #765
I would rather have one config file for this, Perhaps registryconfig.json?

[2018-08-02 20:24] rhatdan commented on #632
@TomSweeneyRedHat Now since @umohnani8 has added layers, this should be doable?  @umohnani8 WDYT?

[2018-08-02 20:25] rhatdan commented on #627
We now have buildah bud --network support.

[2018-08-02 20:25] #627 closed

[2018-08-02 20:27] rhatdan commented on #620
Now that we have support for --cache, @umohnani8 Could you add this functionality.

[2018-08-02 20:27] #597 closed

[2018-08-02 20:29] rhatdan commented on #632
Specifying target build stage (--target)

When building a Dockerfile with multiple build stages, --target can be used to specify an intermediate build stage by name as a final stage for the resulting image. Commands after the target stage will be skipped.

[code]

[2018-08-02 20:32] rhatdan commented on #518
Ok we have people doing this now, closing this issue, open new issues for newer features.

[2018-08-02 20:32] #518 closed

[2018-08-02 20:32] rhatdan commented on #386
We now have support for rootless builds.  Closing

[2018-08-02 20:32] #386 closed

[2018-08-02 20:35] rhatdan commented on #629
Does anyone know what this is. Probably something like

buildah bud --platform i686 and then allows you to create 32 bit containers on a a 64 bit machine?

[2018-08-02 20:36] rhatdan commented on #631
@runcom @vbatts Any idea what --stream does?

[2018-08-02 20:36] TomSweeneyRedHat commented on #850
@rhatdan Yeah my question was only on the first part of this issue.  The work that @vrotherberg did with the Dockerfile.in files covers the issue that I spun off from this.

Basically `'buildah bud` prepends the context directory to the filename pased in via the '--file' parameter unless the filename either starts with '/' or '~/'.  It looks like Docker uses the context directory as the starting p

[2018-08-02 20:38] rhatdan commented on #673
@vrothberg Could you look into this one?  Since you are an expert on urfave/CLI now?  :^)

[2018-08-02 20:38] TomSweeneyRedHat commented on #629
@rhatdan, you're example is my understanding of what --platform does, or at least is intended to do.

[2018-08-02 20:39] rhatdan commented on #599
@pixdrift Can we get this table updated?  Perhaps as a docs file off of the readme.

[2018-08-02 20:47] rhatdan commented on #629
I guess this would only inform the from command or buildah command to tell containers/image to pull images with that architecture.  Probably would not be that difficult.

WDYT @mtrmac

[2018-08-02 20:48] rhatdan commented on #407
Stil not resolved in imagebuilder.

[2018-08-02 20:49] mtrmac commented on #849
The error should in general be specific about the failure, at least c/image is not _intentionally_ being opaque; the errors may not be well-typed enough for callers to make detailed decisions about them, but they should at least be fairly readable and clear about the context (or maybe confusingly overzealous about the context).

It’s hard to be definite about a generic complaint, looking at the sp

[2018-08-02 20:50] rhatdan commented on #591
@taqtiqa-mark Is this still something we should look at?

[2018-08-02 20:51] rhatdan commented on #581
If we got support in imagebuilder we got get this right away.  I have asked them to look into it.
@nalind Any idea on how hard this would be?

[2018-08-02 20:53] rhatdan commented on #850
Perhaps we could do both.  Search relative to the current directory if the path is specified if the file does not exist, then search relative to the context directory.

[2018-08-02 20:56] TomSweeneyRedHat commented on #518
Darn it @rhatdan!  You beat me to the punch.  I thought this was fixed now and was in the midst of testing it when you closed this.  I can verify that this now works with the latest and greatest bits of Buildah from GitHub.

[2018-08-02 21:01] mtrmac commented on #629
Sure, c/image can be told which platform (and which OS) to use when pulling images (`types.SystemContext.ArchitectureChoice`, `types.SystemContext.OSChoice`). That’s trivial.

I don’t know how RunC deals with cross-architecture containers, and it will make it much more noticeable that the host and container environments may differ for `buildah` users, e.g. somebody will need to make sure `dnf --in

[2018-08-02 21:31] TomSweeneyRedHat commented on #407
Yeah this bubbled down below my radar.  I'll try to pop it back up and look into it again.

[2018-08-02 22:27] Spindel commented on #875
Indeed that’s what it means.

On Thu, 2 Aug 2018 at 22:10, Daniel J Walsh <notifications@github.com>
wrote:

[2018-08-02 22:59] TomSweeneyRedHat commented on #386
@maxking are you looking for a tutorial kind of thing?  We do have documentation in the man pages.  We are planning to write a blog tutorial once everything is complete.   At the moment you can create a container as a non-root user, just use Buildah commands as a non-root user.  That's assuming the latest bits from GitHub.  The current rpm doesn't yet contain them, but should in the very near futu

[2018-08-03 12:26] rhatdan commented on #386
@maxking Only requirement would be that UserNS is setup correctly, which means the user executing the buildah commands has an entry in /etc/subuid and /etc/subgid.

On RHEL7/Centos7 their is a sysctl that has to be set to allow usernamespace to work.

On Fedora systems you should be able to just execute the normal buildah commands as a user.

[2018-08-03 16:09] cevich commented on #518
W00T!  Nice work guys!

[2018-08-03 16:53] maxking commented on #386
@TomSweeneyRedHat @rhatdan Thanks! I just wanted to know if there is any extra steps required to use buildah as an unprivileged user, preferably inside a running container with user namespaces enabled.

[2018-08-03 19:19] vbatts commented on #682
so the goal here is a statically linked `buildah`?

[2018-08-03 19:22] rhatdan commented on #682
Correct, and when I run golang with the commands everyone says to run it with, nothing happens, I seems to ignore the flags.

[2018-08-03 19:27] vbatts commented on #682
oh something happens, it is just missing loads of `*.a` archives of its dependencies.
[code]

Not all of these will be in a distribution, so it may require a length build from source recipe

[2018-08-03 19:30] rhatdan commented on #682
go build -ldflags '-X main.gitCommit=ba976ed3 -X main.buildInfo=1533324372 -X main.cniVersion=v0.6.0' -ldflags "-extldflags '-static'" -o buildah -tags "   selinux seccomp" ./cmd/buildah

When I run that command it comes back in with no errors.   But the binary is the same.
on F28?

[2018-08-03 19:31] vbatts commented on #682
@rhatdan you might have something else going on ;-)

[2018-08-03 20:06] vbatts commented on #682
on f28, with packages glibc-static, libselinux-static, glib2-static, and libseccomp-static installed,
That still leaves missing: ostree-1, gpgme, assuan, gpg-error, and devmapper

[2018-08-03 21:04] rhatdan commented on #682
Well we can drop ostree-1 and devimapper support  Not sure about the others.

[2018-08-03 21:05] rhatdan commented on #682
@mtrmac Is there a way to remvoe those others?

[2018-08-03 21:09] vbatts commented on #682
Oh right. Damn. Here I was making a build recipe to statically link all those things ...

[2018-08-03 21:09] vbatts commented on #682
`go build -ldflags '-X main.gitCommit=ba976ed3 -X main.buildInfo=1533330547 -X main.cniVersion=v0.6.0' -ldflags "-extldflags '-static'" -o buildah.static -tags "   selinux containers_image_os
tree_stub containers_image_openpgp exclude_graphdriver_devicemapper" ./cmd/buildah
`

[2018-08-03 21:11] rhatdan commented on #682
@vbatts Still failing on the other missing static libs?

[2018-08-03 21:15] vbatts commented on #682
Nope. This compiles fine for me. Loads of warnings though

On Fri, Aug 3, 2018, 17:11 Daniel J Walsh <notifications@github.com> wrote:

[2018-08-03 21:16] rhatdan commented on #682
Excellent.  We should add that to the Makefile and start making a static binary, which people could download.

[2018-08-03 22:01] mtrmac commented on #682
Fairly recently a glibc maintainer has explicitly warned that there is no ABI for the NSS modules, so basically any non-trivial statically linked binary, _even if it seems to work in simple cases_, is _fundamentally_ unportable to different environments (or different times). Is everyone happy just pretending that isn’t the case? Or is the plan to build a CGO-less binary which can’t work with users

[2018-08-03 22:02] mtrmac commented on #682
(`containers_image_openpgp` will make it impossible to sign images, but that’s the least of the downsides really.)

[2018-08-03 22:40] vbatts commented on #682
Why is the openpgp tag prohibit signing?

On Fri, Aug 3, 2018, 18:02 Miloslav Trmač <notifications@github.com> wrote:

[2018-08-03 22:48] mtrmac commented on #682
The lazy answer is that it hasn’t been implemented.

The underlying concern is that it would require working with private key material in garbage-collected objects, which is completely unsuitable for any long-living processes, and uncertifiable in any process; it’s simpler not to implement that than to deal with people who want their, for example,  static binaries, no matter the risks and cost :)

[2018-08-03 23:13] mtrmac commented on #682
(The _history_ is that the GPGME implementation was first, and then OpenShift wanted the Golan-only one for verification it its code; there has never been serious demand for signing in the Golang-only one so far, IIRC, so the question whether it is a good idea never really came up. But that’s basically why I’d advise against implementing it if it did came up.)

[2018-08-04 08:48] rhatdan commented on #682
I was thinking that we could just provide this static binary with all sorts of caviats about not supported and what will probably not work. so other people could play with it on distros that don't currently ship it.

Seems like something people in the go world are looking for anyways.  But I would always recommend using the supported, dynamically linked versions available for the distribution.

[2018-08-06 07:01] vrothberg commented on #673
Sure, I'll take a look.

[2018-08-06 07:14] vrothberg commented on #673
The root of the issue is in go's stdlib in the `flag` package: https://golang.org/src/flag/flag.go?s=8120:8324#L912

I don't think we should patch `urfave/cli`, but rather go for a fix in the `flag` package and see what the go maintainers think about that. However, we are "bug compatible" with Docker:

[code]

I suggest to keep the issue open and use that as a reference for a potential PR for `fla

[2018-08-06 14:27] frezbo commented on #467
I get the same error on F28 with the latest updates installed, `runc` came packaged with `podman`:
[code]
Tried using compiled `runc` with/without `seccomp`. I see the same issue using `img` compiled with `seccomp`. Is there any package I'm missing

[2018-08-06 14:33] mheon commented on #467
You potentially have a kernel without seccomp support. I don't know if there's an easy way to test this, though.

[2018-08-06 14:35] mheon commented on #467
If it's a standard Fedora kernel, it definitely would have support, though

[2018-08-06 14:36] frezbo commented on #467
@mheon this issue has dreaded me for a while, I have to mostly compile these tools from source without seccomp support, any help would be appreciated.

[2018-08-06 14:37] mheon commented on #467
@frezbo Can you get a `rpm -qa | grep kernel`

[2018-08-06 14:41] rhatdan commented on #467
This could be a runc without seccomp support.

[2018-08-06 14:42] rhatdan commented on #467
If runc does not have seccomp support it will reject the seccomp file handed to it by buildah.

[2018-08-06 14:45] frezbo commented on #467
@mheon
[code]
@rhatdan I tried compiling runc with and without seccomp and always see this. I even used the bundled runc from podman rpm

[2018-08-06 14:46] mheon commented on #467
Those certainly look like official Fedora packages, and they are definitely built with seccomp

[2018-08-06 14:50] rhatdan commented on #467
config provided but seccomp not supported is a runc error.
[code]

I think you are definitely using a runc without seccomp built in.

[2018-08-06 14:50] mheon commented on #467
@frezbo That message is only in `runc` without Seccomp support - a `runc` with seccomp support shouldn't even contain the string

[2018-08-06 14:51] rhatdan commented on #467
locate runc
And make sure you are not running one in /usr/local/bin/runc?

[2018-08-06 14:51] rhatdan commented on #467
podman info should indicate the path to the OCI runtime (runc) and Conmon that it will use.

[2018-08-06 14:52] mheon commented on #467
`podman run` with `--log-level=debug` would also print the path as part of the Conmon commandline

[2018-08-06 15:13] frezbo commented on #467
I had  a runc at `usr/local/bin` removed that so that it uses `/usr/bin/runc` from runc rpm package, still the same:
[code]

[2018-08-06 15:13] frezbo commented on #467
Running podman with debug also shows using `usr/bin/runc`

[2018-08-06 15:31] mtrmac commented on #682
Do note that this issue starts with

There’s not a lot of space for “probably will not work” caveats in that.

\*shrug\* I realize that people want whatever they want and there’s only so much one can do to persuade them not to want that. All I really want is for everyone to understand the trade-offs involved.

[2018-08-06 15:38] rhatdan commented on #467
strings /usr/bin/runc | grep -i seccomp
Also does rpm -qVf /usr/bin/runc
show any issues?

rpm -qf /usr/bin/runc
rpm -qf /usr/bin/runc
runc-1.0.0-46.dev.gitb4e2ecb.fc28.x86_64

[2018-08-06 15:42] frezbo commented on #467
[code]

[code]

[2018-08-06 15:48] mheon commented on #467
That looked like a separate bug in the second trace - something about rootless containers? Are you running as non-root?

[2018-08-06 15:50] frezbo commented on #467
Yeh non-root

[2018-08-06 20:32] vbatts commented on #631
@rhatdan i don't get why `--stream` is even there. `docker build` does not have a `--stream` option, and `buildah bud --help` says it is a noop. Remove it.

[2018-08-07 10:05] rhatdan commented on #467
Does it work if you run it as root?

[2018-08-07 10:05] rhatdan commented on #467
@giuseppe ptal

[2018-08-07 10:15] frezbo commented on #467
@rhatdan I  just got a runc rpm update today and now getting a new error:
[code]
works as root:
[code]

[2018-08-07 10:30] giuseppe commented on #467
I think that is a bug in runc.  It complains that it cannot set additional groups even if newuidmap/newgidmap are used to configure the mapping into the container thus it is not necessary to disable additional groups (set `/proc/PID/setgroups` to `deny`) when setting a new user namespace.

[2018-08-07 10:30] rhatdan commented on #467
@giuseppe PTAL

[2018-08-07 10:31] giuseppe commented on #467
we could also fix it for now in Buildah not using additional groups to the config.json file

[2018-08-07 10:32] rhatdan commented on #467
Could you open a PR, and I can get a updated package out.

[2018-08-07 10:32] giuseppe commented on #467
looking into it right now...

[2018-08-07 10:33] frezbo commented on #467
@giuseppe https://github.com/projectatomic/buildah/issues/467#issuecomment-411011903 that would explain why plain runc works rootless

[2018-08-07 10:47] giuseppe commented on #467
I am not able to reproduce it using buildah-1.3-1 and runc-1.0.0-46 from Bodhi.  Have you used these versions?

[2018-08-07 10:50] frezbo commented on #467
[code]
I am using the rpm's I could compile from source and check as the buildah version differs significanlty

[2018-08-07 10:51] giuseppe commented on #467
could you please try: https://bodhi.fedoraproject.org/updates/FEDORA-2018-a600343e06 and https://bodhi.fedoraproject.org/updates/FEDORA-2018-98c4c26a8c ?

[2018-08-07 11:02] frezbo commented on #467
@giuseppe just build buildah from source:
[code]

[2018-08-07 11:06] giuseppe commented on #467
another thing to check, how many subuids/subgids are available to your user?  They are defined in the `/etc/subuid` and `/etc/subgid` files?

[2018-08-07 11:07] frezbo commented on #467
I hope this is not an issue:
[code]

[2018-08-07 12:13] rhatdan commented on #631
We were going by Docker web content.
But I will gladly drop it.
https://docs.docker.com/engine/reference/commandline/build/

[2018-08-07 12:15] frezbo commented on #467
@giuseppe I do have that commit:
[code]
and I'm at master on `308ad3d7fc63ee34ed213c2ffa6b345441600b8f`

[2018-08-07 13:09] giuseppe commented on #467
buildah has a nice feature to create an usernamespace and run a command in it.

Could you try `buildah unshare cat /proc/self/uid_map`?

[2018-08-07 13:11] frezbo commented on #467
[code]

[2018-08-07 13:19] giuseppe commented on #467
do you have a similar outputh with `/proc/self/gid_map`?  The buildah in the GOPATH is correct, that is the correct map.  I am afraid somehow the system installed buildah is used for the build of your container, thus the error you have seen earlier.

[2018-08-07 13:27] giuseppe commented on #467
it might be something wrong in the re-exec code in buildah, could you just move the compiled buildah in `/usr/local/bin` to see if it makes any difference?

[2018-08-07 13:34] frezbo commented on #467
same sadly :o:
[code]

[2018-08-07 13:53] vbatts opened #912 "EPERM building as a limited user inside a container"
**Description**
EPERM on RUN command

**Steps to reproduce the issue:**
1. built a buildah build-image (runc master and buildah master)
2. Tried to build cri-o Dockerfile (master) as a limited user inside a container
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
sucessful build

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[2018-08-07 13:55] vbatts commented on #912
and the cri-o commit of it's build is d724f3d54ad2d95b6de741085d4990190ebfd7ff

[2018-08-07 13:58] giuseppe commented on #467
oh it can be that the storage got corrupted from the previous broken version.  Could you try to nuke the storage before the build?  `sudo rm -rf /home/frezbo/.local/share/containers/storage`

[2018-08-07 14:01] giuseppe commented on #467
I've just spawned a new F28 droplet on Digital Ocean to try again on a clean system:

this is all I've done:

[code]
[code]

[2018-08-07 14:01] frezbo commented on #467
I thought I ha removed that, yeh it worked. Thanks. So I assume the next set of upcoming rpms fix it.

[2018-08-07 14:02] frezbo commented on #467
@giuseppe Thanks for all the help. Even the compiled runc works.

[2018-08-07 14:03] giuseppe commented on #467
great!  @rhatdan I think we can close this issue

[2018-08-07 14:04] frezbo commented on #467
ahh so builda does not cache stages, woudn't that slow the builds, I was thinking of benchmarking with `img`, `buildctl`, `buildah` etc

[2018-08-07 14:05] giuseppe commented on #467
@frezbo `buildah bud --layers ...` to enable the cache

[2018-08-07 14:12] rhatdan commented on #912
@giuseppe Is the kernel on Centos 7 and RHEL7 new enough to allow mounting of /proc and /sys file systems within a user namespace.

@nalind PTAL

[2018-08-07 14:17] frezbo opened #913 "MultiStage build times are erratic"
[code]
**Dockerfile**
[code]

[2018-08-07 14:17] vbatts commented on #912
@rhatdan @giuseppe the host is f28, the container is centos7

[2018-08-07 14:18] rhatdan commented on #467
@frezbo Also if you want to default to buildah --layers. then set the environment variable.

 export BUILDAH_LAYERS=true

And you will get it by default.

[2018-08-07 14:18] frezbo commented on #913
More data: **Non- Multistage build**
[code]

[2018-08-07 14:20] rhatdan commented on #912
SELinux?  Does setenforce 0 fix it?
AVC messages?

[2018-08-07 14:27] vbatts commented on #912
selinux is already disabled on this host.

[2018-08-07 14:47] vbatts commented on #912
(like, not even permissive. Fully disabled)

[2018-08-07 14:51] giuseppe commented on #912
how to reproduce step 2?  I've tried to build both Dockerfile's and it worked for me, but I think I've done something different with "step 2" as I've tried to build directly the cri-o Dockerfile from the host

[2018-08-07 15:11] vbatts commented on #912
hrm. The more full example, is that i'm testing https://github.com/knative/build-templates/pull/7
so, this build-image is running as a pod on a kubernetes v1.10.6 + cri-o v1.10.6 instance.
Let me try to reproduce with a more minimal set up.

[2018-08-07 15:59] vbatts commented on #912
i'm wondering if it is trying to mount proc on a tmpfs filesystem?

[2018-08-07 17:16] vbatts commented on #912
https://pastebin.com/ZPEHzAwc is the config.json that crio was running this pod with

[2018-08-07 20:36] rhatdan commented on #913
@mtrmac @nalind @baude @umohnani8 PTAL

[2018-08-07 21:38] mtrmac commented on #913
It would be useful to collect data with more detailed timing information; at least `buildah --debug`.

(The difference between ~16 and ~2 seconds is way too much to be a completely random fluctuation; just a wild guess, could there be an adaptive caching proxy in the way, which eventually learns that some files are frequently requested?)

[2018-08-08 08:37] giuseppe commented on #912
the issue with running the container inside of the Docker/Podman container is that some `/proc` paths are masked.  This prevents the container spawned by Buildah to create new pid&user NS and mount `/proc` afterwards since that mount would be too "revealing", i.e. make visible paths that weren't visible before in the Docker/Podman context.
There are at least two ways to address it:

- have no read

[2018-08-08 19:32] rhatdan commented on #866
@jwhonce PTAL

[2018-08-08 19:33] rhatdan commented on #850
Since @TomSweeneyRedHat patch has merged, closing this issue.

[2018-08-08 19:33] #850 closed

[2018-08-08 20:40] AndydeCleyre commented on #466
Is this the same issue, on Arch?

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2018-08-09 15:34] rhatdan commented on #466
This is the check

[code]
Do you happen to know if extfs support Overlay?

[2018-08-09 15:41] rhatdan commented on #466
Actually I am wrong extfs does not seem to support DType?
https://github.com/containers/storage/blob/master/drivers/overlay/overlay.go#L279

[2018-08-10 20:36] vbatts commented on #912
ah, i just found that I reverted changes to the Dockerfile for this buildah builder image.
The EPERM is buildah running as uid=0 inside the container and thinking it has privilege.
Last week I had
[code]
Though now with adding that and building buildah from master, it failed with:
[code]

So then I update Dockerfile to:
[code]

And now it fails with:
[code]

[2018-08-10 20:57] vbatts commented on #912
not enough testing of buildah is done on centos ....
centos is now stuck due to less-than-latest shadow ...

[2018-08-10 21:15] vbatts commented on #912
even if switching this to "FROM fedora" _works_, it would just defer the headache of considering that many folks will expect this to work the same on RHEL and centos

[2018-08-10 21:20] vbatts commented on #912
switching to fedora yields a different error, and increased the image size by 500Mb. So I'm not going to add that as a stop-gap for now.

[2018-08-13 15:40] vbatts opened #926 "error with limited user build on Centos"
**Description**
This is in the effort to get a buildah template for github.com/knative/build and https://github.com/knative/build-templates working

**Steps to reproduce the issue:**
1. build a container with buildah to do in-container builds
2. attempt to build cri-o inside the container
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
successful build

**

[2018-08-13 15:41] vbatts commented on #912
closing this, as I've fixed the EPERM (and on to new issues with buildah support on Centos ... https://github.com/projectatomic/buildah/issues/926)

Dockerfile that got past EPERM inside container was to actually create and use a limited user while inside the container:
[code]

[2018-08-13 15:41] #912 closed

[2018-08-13 15:44] vbatts commented on #926
This error is due to an older-than-latest `shadow` in centos7 (`shadow-utils-4.1.5.1-24.el7.x86_64`).
And with the userns features added in v1.3.

[2018-08-13 16:35] vbatts commented on #926
Trying again with the end of the Dockerfile like:
[code]
And it fails with:
[code]

[2018-08-13 16:54] vbatts commented on #926
@nalind thoughts?

[2018-08-13 16:55] rhatdan commented on #926
That is packaged up in shadow-utils.  I don't think any of this will work without that package, since this is a setuid and does the heavy lifting of setting up the userns.

@giuseppe PTAL

[2018-08-13 17:00] vbatts commented on #926
The curious thing is that all this worked as expected when I was testing from #900

[2018-08-13 17:45] vbatts commented on #926
arrrgh, i'm not able to reproduce when it _did_ worked :grimacing:
And `newgidmap` does not appear available to centos7 or epel.

[2018-08-13 20:06] vbatts commented on #926
checking on ubuntu for something, and seeing similer there too (regarding less than latest shadow):
[code]

[2018-08-14 07:33] giuseppe commented on #926
there is a BZ to track inclusion of newuidmap/newgidmap in RHEL 7:

https://bugzilla.redhat.com/show_bug.cgi?id=1498628

Please weight in there :-)

There is not much we can do without these tools when running as unprivileged user, as we wouldn't be able to set multiple mappings in an user namespace and that breaks most images.

But... we should not need any user namespace when running as root, an

[2018-08-14 13:51] vbatts commented on #926
I agree that it is very risky to update shadow-utils. Is there not a help that we could provide that accomplishes the same, @giuseppe ?

[2018-08-14 13:58] giuseppe commented on #926
the only alternative I can think of is to run as root without setting up a new usernamespace.  This is what "BUILDAH_ISOLATION=chroot" should do when it is used by root.

Unfortunately there is no other way to setup a new user namespace with multiple mappings, it is a privileged operation and only root can do it, an unprivileged user can map only one user into the new userns (what `unshare -r ...`

[2018-08-14 14:05] vbatts commented on #926
ohman makes progress! but it seems like that same logic could see if `container=` is set ...

[2018-08-14 14:15] TomSweeneyRedHat opened #929 "Container envvar expansion issues"
**Description**

The  -- command for `buildah run` and echo doesn't seem to be working, further I can't figure out how to get an envvar passed into `buildah config` that will be expanded in the container rather than when the command is issued on the command line.  Something like:

[code]
Where the value in the $GOPATH and $PATH envvar should have the values from the container rather than the host.

[2018-08-14 14:15] TomSweeneyRedHat commented on #929
@vbatts fyi

[2018-08-14 15:04] TomSweeneyRedHat commented on #929
@ipbabble if you've any sneaky bash tricks to help here, happy to use them!

[2018-08-14 15:10] vbatts commented on #929
this is less than ideal since it'll create two layers that are no-op, but a work around is
[code]

[2018-08-14 15:15] TomSweeneyRedHat commented on #929
Good thought, I'd completely forgotten about the echo -n trick.  But yeah, still not ideal.

[2018-08-14 17:41] rhatdan commented on #929
Is this something that currently works in Docker?

[2018-08-14 17:45] TomSweeneyRedHat commented on #929
I'm not sure that this is something that works in Docker.  I took a quick look this morning, but couldn't confirm or deny.

[2018-08-14 17:52] TomSweeneyRedHat opened #930 "buildah rename apparently not renaming"
**Description**
`builldah rename` doesn't seem to be renaming.

[code]

**Steps to reproduce the issue:**
1.  buildah from alpine
2.  buildah rename alpine-working-container my-alpnie
3.  buildah containers  # No my-alpine

**Describe the results you received:**

No apparent rename happened and no error, appeared to be a no-op.

**Describe the results you expected:**
Wanted to see a container name

[2018-08-14 18:12] TomSweeneyRedHat commented on #930
If you do:
[code]
Then you see the renamed container.  However if you don't use the --all and use just the container name for buildah commands from `buildah containers`, you get an error:

[code]

[2018-08-14 19:04] vbatts commented on #929
@rhatdan this works as expected in Dockerfile `ENV` command with buildah and docker. But not in `buildah config --env ..`

[2018-08-14 22:39] rhatdan commented on #929
Strange I can not see how this is happening in buildah bud, But we should be able to fix it.
@nalind Any ideas?

[2018-08-14 22:57] TomSweeneyRedHat commented on #929
I'm pretty sure it's a bash completing thing.  I think we'll need to somehow recognize that certain variables that are in the command line for buildah should be expanded based on definitions on the host and at the same time allow others to not be expanded until they get in play on the container. I'm just puzzling on how to delineate them.

[2018-08-15 10:32] giuseppe commented on #929
shouldn't the third command be something like:
`buildah run alpine-working-container -- sh -c 'echo $PATH'`?

As it is typed in the issue, the shell does the replacement before it is passed to buildah.  Similarly, `echo` alone is not enough and it prints literally `$PATH`.

[2018-08-15 13:37] TomSweeneyRedHat commented on #929
@giuseppe That turns the trick for getting the path from the contain via a buildah run command, thx!  Think I'll add that as an example to the run man page.

[2018-08-15 18:45] vbatts opened #933 "error with overlayfs inside a pod"
**Description**
carrying over the finding from https://github.com/knative/build-templates/pull/7#discussion_r207968124

**Steps to reproduce the issue:**
1. running buildah inside a container as root, with a volume as /var/lib/containers
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
overlayfs + xfs supported

**Output of `buildah version`:**

[code]

[2018-08-15 18:59] TomSweeneyRedHat commented on #930
Update:  After investigating, the logic in the `buildah rename` command seems fine.  The issue is in the `buildah containers` command which is displaying the last name in the names slice rather than the one in position Zero.  Reworking.

[2018-08-15 19:14] vbatts commented on #933
cc @AkihiroSuda if you have thoughts here

[2018-08-15 19:48] rhatdan commented on #933
vbatts how old is the Centos box you are doing this on?  I think there were some issues with older versions of xfs on overlay.

@rhvgoyal @nalind PTAL.

[2018-08-15 19:53] vbatts commented on #933
Again, it's on a f28 host, inside the latest centos image container

On Wed, Aug 15, 2018, 15:48 Daniel J Walsh <notifications@github.com> wrote:

[2018-08-15 20:13] xinminglai opened #936 "Feature request for outputing to stdout."
Hi, Can we add feature that buildah can send the docker-archive to stdout directly?
This way, we can just do something like
buildah push image-name "STDOUT" | ssh example.com docker load

For now, I have to dump to a file, and
cat file.tgz | ssh example..com docker load
Which is tedious to dump file before loading to docker.

[2018-08-15 20:15] rhatdan commented on #936
Can't you do a podman save |  ssh example.com docker load

[2018-08-15 20:17] rhatdan commented on #936
If you are building with Dockerfile, then you can even just do
[code]

[2018-08-15 20:40] #929 closed

[2018-08-15 20:58] xinminglai opened #937 "entrypoint arg for buildah generated images are not same as docker."
[code]
Running the above script, and do something like
docker run buildah-bug
docker run buildah-nobug

Thanks!

[2018-08-16 04:36] pixdrift commented on #937
I'm not sure exactly what you're example is trying to demonstrate, what is the expected output / actual output?

There are two forms of ```--entrypoint```, I suspect this may be why you aren't seeing the behaviour you expect.

The documentation here describes the different behaviours of values supplied to ```--entrypoint```
https://github.com/projectatomic/buildah/blob/master/docs/buildah-config.m

[2018-08-17 10:08] rhatdan commented on #407
We now have support.  Thanks @TomSweeneyRedHat

[2018-08-17 10:08] #407 closed

[2018-08-17 17:41] TomSweeneyRedHat opened #940 "'buildah from' error on image argument placing is unclear"
**Description**
Doing ` buildah from scratch --name builder` yields:
[code]
The error being raised is fine, but the message should instead be something like "image name is not the last argument provided".

**Steps to reproduce the issue:**
1. See description

**Describe the results you received:**
See description.

**Describe the results you expected:**

An error pointing out that the image needs

[2018-08-17 17:42] TomSweeneyRedHat commented on #940
Reported by "fatpointer" on IRC.

[2018-08-19 14:49] xinminglai commented on #936
But podman is not in gentoo, And I thought this can also be done in buildah, without needing other things.

[2018-08-19 14:50] xinminglai commented on #937
Thanks, Please close this, It works as expected!

[2018-08-19 18:00] rhatdan commented on #936
Who do I ping to get podman into gentoo?

[2018-08-19 18:00] #937 closed

[2018-08-19 18:26] rhatdan opened #942 "buildah from /path"
I was thinking it would be cool to be able to do `buildah from /PATH`.

The idea would be I could populate a directory or have a directory on my system that looks like a rootfs.

buildah from /path

Would figure out that the user specified a path (Command begins with /, ../, ./)

Then it would do the equivalent of

[code]

[2018-08-19 18:27] rhatdan commented on #942
One think buildah would need to do is make sure the STORAGE_DIR is not a subdir of /PATH, since this could get recursive.

`buildah from /`

Would be invalid.

[2018-08-20 15:04] TomSweeneyRedHat commented on #936
@lsm5 any contacts for gentoo?

[2018-08-20 15:10] lsm5 commented on #936
@TomSweeneyRedHat I'd start with @wking

[2018-08-21 08:59] q384566678 opened #945 "About the addition of some features in buildah"
I recently combined the docker command with some of my own ideas, and I thought the following commands might be added to buildah.

## Command
- [x] rename
Rename a local container.

- [ ] history
Displays the history of an image

- [ ] load
Load some images.(or containers?)

[2018-08-21 08:59] q384566678 commented on #945
Some of the above functions have been completed, and some are still in progress. I write this issue mainly to see everyone's views, so as to avoid doing something wrong. I will update it if I want to hit something new in the future. If you're interested, we can do these commands together.

Any ideas for adding features, or community tasks, can be updated, and this can be discussed together to impr

[2018-08-21 11:05] TomSweeneyRedHat commented on #942
SGTM, and I concur on the subpath check, that could get messy quick.

[2018-08-21 11:26] vrothberg commented on #942
+1 on the proposal!

I wonder if that's a potential candidate for a new `raw:` image transport. I am not sure if that's something that should be fully supported by containers/image but adding something like a `raw:` transport could be a good placeholder for now. The benefit is that the interface of `buildah-from` wouldn't need to change in case `raw:` became a thing.

[2018-08-21 18:58] rhatdan commented on #945
The only issue I see is the slow merging of podman and buildah.  Podman has load and history already.

[2018-08-21 19:08] rhatdan commented on #942
@mtrmac WDYT?

[2018-08-22 01:01] q384566678 commented on #945
So we don't need these commands? I don't know much about podman yet, not sure about the relationship between the two. It seems to me that these are two separate tools.

[2018-08-22 10:58] rhatdan commented on #945
@q384566678 There is a great deal of overlay.  podman and buildah use the same storage and can interact well at the image level.

podman build == buildah bud

podman verndors in buildah to do the building.

podman CLI implements 95% of the Docker CLI.  So most of the features that buildah is missing are implemented in podman.

[2018-08-22 11:00] rhatdan commented on #945
@TomSweeneyRedHat We should probably reference podman more heavily in the buildah man pages to point users to it for some activities.

[2018-08-22 12:58] TomSweeneyRedHat commented on #945
@rhatdan I'll noodle on that, I think it might be nice to put together a faq like document that for both projects that could be shared somehow.  I'd like it to live in one of the two projects just so we don't have to do a double update.  Will get something together.

[2018-08-22 14:14] dustymabe opened #949 "`podman build --layers` segfaults when remote registry is down"
/kind bug

**Description**

`podman-0.8.3-4.dev.git3d55721.fc30.x86_64`

When trying to build with `podman build --layers` with a Dockerfile that references an image from a  **down registry** I get a nil pointer dereference panic. This happened yesterday during planned maintenance for the fedora registry, so the registry was down and I was trying to build an image with `registry.fedoraproject.org/

[2018-08-22 14:34] rhatdan commented on #949
@umohnani8 Don't we already have a fix for this?

[2018-08-22 15:53] umohnani8 commented on #949
Fix is in https://github.com/projectatomic/buildah/pull/947

[2018-08-22 17:23] TomSweeneyRedHat opened #950 "buildah inspect ContainerConfig info empty in comp to Docker"
During conformance testing it was discovered:

ContainerConfig in buildah inspect output  almost empty from buildah image. But it has value from docker image.

Per Yiqiao Pu

[1] https://github.com/ypu/buildah/tree/conformance

Buildah version 1.4

[2018-08-22 17:28] TomSweeneyRedHat opened #951 "buildah inspect Shell and ArgsEscaped are not filled in"
During conformance testing it was discovered:

That buildah inspect does not show any values in the ArgsEscaped or Shell variables when they are filled in for Docker images.

Per Yiqiao Pu

[1] https://github.com/ypu/buildah/tree/conformance

[2018-08-22 17:28] TomSweeneyRedHat commented on #951
https://jira.coreos.com/browse/RUN-69

[2018-08-22 17:31] TomSweeneyRedHat opened #952 "buildah inspect has 5 values that differ from docker inspect"
During conformance testing it was discovered:

Five items have different values: WorkingDir, OnBuild, Hostname, Labels, Cmd when doing a buildah inspect versus a docker inspect.

Per Yiqiao Pu

[1] https://github.com/ypu/buildah/tree/conformance

Buildah 1.4

[2018-08-22 17:32] TomSweeneyRedHat commented on #952
https://jira.coreos.com/browse/RUN-70

[2018-08-22 17:50] TomSweeneyRedHat opened #953 "Shell test failed in conformance testing"
During conformance testing it was discovered:

That the shell test failed.

buildah bud t buildahimage .

buildah inspect buildah-image

Dockerfile contents

[code]

Per Yiqiao Pu

[1] https://github.com/ypu/buildah/tree/conformance

Buildah v1.4

[2018-08-23 12:33] rhatdan commented on #953
What exactly failed?

[2018-08-23 15:47] rhatdan commented on #953
I think this is working correctly,  buildah by default builds OCI Images and Docker is building docker images.  If you want Shell to work, you need to build with --format docker

[code]

[2018-08-23 15:51] rhatdan commented on #953
@ypu Could you rerun the tests with format set to docker

export BUILDAH_FORMAT=docker

Will force this for all buildah/podman commands.

[2018-08-23 18:46] umohnani8 commented on #949
Fixed in #947

[2018-08-23 18:47] umohnani8 commented on #949
@rhatdan @TomSweeneyRedHat could one of you please close this. Could I also get privileges to this repo so I can close issues in future.

[2018-08-23 18:55] #949 closed

[2018-08-23 18:56] rhatdan commented on #949
@umohnani8 You now can close them yourself.

[2018-08-23 18:57] umohnani8 commented on #949
@rhatdan thank you!

[2018-08-23 20:58] TomSweeneyRedHat commented on #953
As @rhatdan noted, setting the environment variable gets us at least closer to the expected results.

[2018-08-23 21:32] TomSweeneyRedHat commented on #951
Closing as this is a dup of https://github.com/projectatomic/buildah/issues/953

[2018-08-23 21:32] #951 closed

[2018-08-24 08:45] ypu commented on #950
After add "--format docker" to the build command line. The ContainerConfig have value now. Now the test results is similar with Config section. Following items still have some difference:
 Cmd, WorkingDir, Volumes, Entrypoint and Hostname.

[2018-08-24 09:03] rhatdan commented on #950
@ypu Could you list out the differences.  Show the values in for each field in docker versus those in buildah.

[2018-08-24 09:16] ypu commented on #950
Sure. The details about the test:
Dockerfile:
    	FROM centos:7
    	COPY dir /dir
    	RUN ls -al /dir/file

Output for each field:
Field Name | Value in docker image| Value in buildah image
------------ | ------------- | -------------
Cmd|  ["/bin/sh", "-c", "ls -al /dir/file" ]|["/bin/bash" ]
WorkingDir | "" | "/"
Volumes | null | {}
Entrypoint| null |[]
Hostname| "23baa52527a7" | ""

[2018-08-24 19:32] rhatdan commented on #953
What is still broken here?

[2018-08-24 19:35] rhatdan commented on #952
Fixed in https://github.com/projectatomic/buildah/pull/958

[2018-08-24 19:36] rhatdan commented on #950
I think we can fix everything but Cmd.  I don't think docker behaviour on Cmd is correct.
They basically grab the last RUN command and make it equal to CMD.
If someone later adds another RUN then the CMD will change.  Does anyone know if this is documented behaviour or just random.

[2018-08-24 20:47] TomSweeneyRedHat commented on #953
I don't think anything is still broken here with the format change that you suggested.  We probably could close this but I'd like a head nod from @ypu

[2018-08-27 01:56] ypu commented on #953
Hi @TomSweeneyRedHat and @rhatdan
I test with export "BUILDAH_FORMAT=docker" and "--format docker" to the command line directly. Seems the problem still exist. The "SHELL" is set in "ContainerConfig" but not effect "CMD".

Here is the difference for "CMD" in "ContainerConfig":
From buildah image:
`
        "ContainerConfig": {
...
            "Cmd": [
                "/bin/bash"
            ],
...

[2018-08-28 02:01] ypu commented on #952
Test with new tree. And find out the problem still exist when we set "--format docker" during the test. The pullreq effect the default value which is "--format oci" from my test.

[2018-08-28 11:18] rhatdan commented on #952
All are still wrong?

[2018-08-28 12:36] TomSweeneyRedHat commented on #930
close with #959

[2018-08-28 12:36] #930 closed

[2018-08-28 14:50] ypu commented on #952
Seems Hostname, Labels are fixed. Cmd in ContainerConfig is still different. But Cmd in config is the same. This is the details of test results. Only list items in Config here, ContainerConfig is similar:
With set --format=oci:

Field Name | Value in docker image | Value in buildah image
------------ | ------------- | -------------
Config:OnBuild | [] | "<nil>"
Config:Hostname | 394579f29896 | ""

[2018-08-29 01:28] zmedico opened #966 "buildah push triggers "layer not known" corruption for concurrent buildah commit"
**Description**

When `buildah commit` is used to create an image while `buildah push` is running for an unrelated image, the image produced by `buildah commit` has "layer not known" corruption after the push completes for the other image. I have verified that the patch from https://github.com/containers/storage/pull/210 corrects the problem.

**Steps to reproduce the issue:**
1. Start a `buildah

[2018-08-29 13:19] TomSweeneyRedHat commented on #966
Thanks for the heads up @zmedico , and better yet, for providing the fix!  I've just vendored container/storage in #969, that should hopefully fix things up.

[2018-08-29 13:52] vbatts opened #970 "show image digest on `push`"
**Description**
after I build and then push an image, it would easily remove a step if the image digest was displayed after a successful push

**Steps to reproduce the issue:**
1. `buildah bud -t foo .`
2. `buildah push --tls-verify=false foo localhost:5000/foo`
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Something like
[code]
This is currently have to

[2018-08-30 08:21] olivierGATSNCF opened #974 "buildah bud : on commit error copying layers and metadata"
**Description**

I'm trying to build a buildah image  that has an image from openshift / base-centos7

With docker I can build my image buildah.
With buildah bud, during the commit of the image an error occurs which seems to be due to a bad reading of the history of the manifest of the image from openshift/base-centos7:
[code]

buildah version 1.1 or 1.3 the result is the same.

**Steps to reprodu

[2018-08-30 08:25] olivierGATSNCF commented on #974
buildah inspect of openshift/base-centos7:latest
{
    "Type": "buildah 0.0.1",
    "FromImage": "openshift/base-centos7:latest",
    "FromImageID": "4842f0bd3d610c5cdb1c74e6c7f664b4789b6453e54bc507faf4a47823cc2ba0",
    "Config": "",
    "Manifest": "{\n   \"schemaVersion\": 1,\n   \"name\": \"openshift/base-centos7\",\n   \"tag\": \"latest\",\n   \"architecture\": \"amd64\",\n   \"fsLayers\": [\

[2018-08-30 15:33] rhatdan commented on #974
@mtrmac PTAL

[2018-08-30 15:55] mtrmac commented on #974
Without looking into the details, this looks very much like #684.

v1.1 is known broken with #684, fixed in #860 (before v1.2).

But, it seems that #860 updated containers/image without updating the version in `vendor.conf`, and that allowed #904 to _revert_ the fix of #684.

So, 1.3 is broken again. The vendored version of c/image needs to be at least 66857a7ff6ed0dc8eb70b5532e9add4fd77981c4 (htt

[2018-08-30 16:33] TomSweeneyRedHat commented on #974
@mtrmac I'll take a whack at adjusting it.  Can I bump it to the latest?  5df44e095ed826fbe2beeaabb329c749d7d6c3b6

[2018-08-30 16:36] mtrmac commented on #974
I think so; there shouldn’t be any major API changes.

[2018-08-30 21:27] tliron opened #978 ""push docker-daemon:" gets permission denied"
Running on Fedora 28 with SELinux enabled. Buildah version 1.3.

The user is in the docker group, and I can run "docker images" just fine.

But when I try to push from buildah to `docker-deamon:` I get this:
[code]
As far as I know, buildah does not run with a separate user, so if this user has privileges to access docker, so should buildah. No? Or is there some SELinux-specific protection going o

[2018-08-30 21:35] rhatdan commented on #978
I don't know, could you check if it works in permissive mode?
Any avc's?

ausearch -m avc -ts recent

[2018-08-31 14:07] kbaegis opened #981 "Subsequent push failures"
**Description**

Upon pushing multiple tags to a docker registry, any after the first fail.

**Steps to reproduce the issue:**
1. `buildah bud for a dockerfile`
2. `buildah commit`
3. `buildah push <image> docker://<image>:tag1`
3. `buildah push <image> docker://<image>:tag2`

**Describe the results you received:**

Getting image source signatures
Copying blob sha256:f637bb87f74f0710bea59badbff124

[2018-08-31 16:05] kbaegis commented on #981
Troubleshooting this issue, I restarted/reset my registry. That didn't seem to help.

What does work, as an unfortunate workaround:
`buildah push <image> docker://<image>:tag1`
`buildah rmi --all`
`buildah pull <image>:tag1`
`buildah tag <image>:tag1 <image>:tag2`
`buildah push docker://<image>:tag2`

[2018-08-31 17:15] TomSweeneyRedHat commented on #981
@kbaegis thanks for the issue report.  I'm setting up a test system now.  Just to verify, did you pull the latest Buildah bits from GitHub upstream?  We submitted a patch or two last evening US East Coast time that might address this.

[2018-08-31 17:29] TomSweeneyRedHat commented on #981
Thanks for the info, @mtrmac or @nalind any thoughts?

[2018-08-31 17:59] mtrmac commented on #981
I have no idea what is going on, this is something in c/storage.

Only a tiny comment on the workaround:

This should be easier (and notably faster):

[2018-08-31 18:00] mtrmac commented on #981
That indeed does not currently happen, I am working on making that possible.

[2018-08-31 18:53] tliron commented on #978
I apologize, I should have tried that first. The answer is: it's not SELinux. Even in SELinux permissive mode I'm getting the same error.

I should also mention that using `sudo` does work, but that's obviously something I want to avoid.

So, what could be the issue here? If the current user can access the Docker daemon, why can't buildah when running under the current user? Is buildah doing some

[2018-08-31 19:13] TomSweeneyRedHat commented on #978
@giuseppe any thoughts?

[2018-08-31 19:16] tliron commented on #978
Another thought: buildah is accessing Docker daemon via the named pipe (`/var/run/docker.sock`). Could it be that the docker CLI uses a different method, and that's why one has permissions and the other doesn't? I tried to experiment using `buildah push docker:` instead of `buildah push docker-daemon:` but didn't get anywhere.

[2018-08-31 19:52] TomSweeneyRedHat commented on #981
@kbaegis This worked for me against quay.io and docker.io (see below).  Were you pushing to a private registry?  Or did I mess up the push?

[code]

[2018-08-31 20:38] TomSweeneyRedHat commented on #981
Thanks, I'm seeing it now to a private registry too.  What's interesting is I was having problems getting the registry to behave and after doing a push with docker of busybox, my second push of alpine failed with a busybox reference....  See below.

[code]

[2018-08-31 21:34] kbaegis commented on #981
I don't really understand the registry implementation well enough to understand what's going on here. It looks like it's running a patch/update on an object? The object shouldn't be alterable should it? That would alter the hash and make a new object, so I'm assuming it's trying to update metadata associated with the object/blob. Either that or it's a parsing error with:
`?_state=...%3D%3D`
versus

[2018-08-31 23:49] jwendell opened #982 "Buildah fails ADDing a tgz file"
Docker build with same Dockerfile/arguments works fine:

[code]

**Output of `rpm -q buildah` or `apt list buildah`:**
[code]

**Output of `buildah version`:**
[code]

**Output of `cat /etc/*release`:**
[code]

**Output of `uname -a`:**
[code]

**Output of `cat /etc/containers/storage.conf`:**
[code]

[2018-09-01 11:12] rhatdan commented on #982
Could you send us the ca-certificates.tgz file?

I wonder if it is trying to lookup a user that does not exist in the container?

[2018-09-01 11:29] rhatdan commented on #981
I saw something similar to this while playing last week.  I was not able to push a second time to a
dir:/tmp/image
directory.

It almost seems that something is being modified in container/storage on the push.

[code]
What is weird is the file is still there.

[code]

[2018-09-01 11:30] rhatdan commented on #981
@mtrmac Any ideas?

[2018-09-01 14:58] jwendell commented on #982
Here's the file: https://github.com/istio/istio/raw/master/docker/ca-certificates.tgz

[2018-09-01 15:32] giuseppe commented on #978
skopeo copy won't probably work as it doesn't run in an userns.  The issue is caused by buildah re-executing into an user namespace and dropping all the additional groups.

We can change the hardcoded value here (it should probably be configurable):
[code]

Since the default breaks the rootless push to docker use case, should we change it?

[2018-09-01 17:17] rhatdan commented on #978
What is the risk of changing it?

[2018-09-01 18:15] giuseppe commented on #978
rootless containers won't be able to use `setgroups`.  We could also leave `setgroups(2)` enabled but still not use `setgroups(0, NULL)` in `unshare.c`, so that the additional groups of the user are not dropped.  @nalind what do you think?

[2018-09-01 19:18] giuseppe commented on #982
that happens because the uid in the tar file is probably not mapped in the user namespace:
[code]
405166 is by far more than it is usually assigned to an user.  You could either recreate the tar so that it doesn't use such UID or assign more subuids to your user, you can do that from `/etc/subuid` (must be done by root)

[2018-09-01 22:48] jwendell commented on #982
Why can docker build that image successfully? Can't buildah mimic docker behavior?

[2018-09-02 06:54] giuseppe commented on #982
Docker runs as root, so it has access to all the range of UIDs (0-4294967294).  A non-root user can use only its own ID + any other configured in `/etc/subuid`.  Buildah works fine as well when running as root.

Even if you build it as root, an image using that big ID is not really usable in a rootless context, where the number of available IDs is limited.

[2018-09-02 11:36] rhatdan commented on #982
jwendell.  Edit your /etc/subuid file to be a larger range then you can do this as non-root also.
[dwalsh@localhost ~]$ grep dwalsh /etc/subuid
dwalsh:100000:500000
[dwalsh@localhost ~]$ buildah bud .
STEP 1: FROM scratch
STEP 2: add ca-certificates.tgz /
STEP 3: COMMIT containers-storage:[vfs@/home/dwalsh/.local/share/containers/storage+/run/user/3267/run]@2b1f3c0485553c062e6017c5b680be5f5521864f

[2018-09-02 11:37] rhatdan commented on #982
Closing this since it is not an issue.  Although we could make the man pages spell it out I guess.

[2018-09-02 11:37] #982 closed

[2018-09-02 12:57] kbaegis commented on #981
I really hope it's not altering the contents of the container. That would invalidate the sha hashing and so libpod/buildah would be pointing to an invalid object reference.

[2018-09-03 14:07] mtrmac commented on #981
None really; I know pretty much nothing about how overlay and storage drivers work. This is all internal state of c/storage.

One thing that might have been worth noticing in the original report:
[code]
is probably not the most tested one — well, except that the two of you now report reproducing this, and @TomSweeneyRedHat explicitly says “overlay”.

[2018-09-03 14:09] mtrmac commented on #981
The paths differ, though - does the file exist exactly at the failing path?

[2018-09-03 14:27] mtrmac commented on #981
That’s just a formatting artifact during error reporting. https://github.com/projectatomic/buildah/blob/cff8d38a47353ea6e77cb434e73d0fa90acdc6cd/cmd/buildah/main.go#L123 should be `Error`, not `Errorf`.

That

is a lie; the `?_state=` part is returned by the server, and only returned to it. c/image did not invent the contents:

Best I can tell, buildah is mapping the container to the filesystem to

[2018-09-03 14:29] mtrmac commented on #981
Best I can tell, buildah is mapping the container to the filesystem to validate it but choking on the uuid+state, which I'm not sure the registry knows how to interpret.

The UUID/state is purely registry-side state, with no relationship to the contents of the uploaded data (which is being generated ~on the fly and may, in principle, not have its digests and the like known at this point yet). Anyt

[2018-09-03 19:02] tliron commented on #978
Skopeo won't run at all on `containers-storage` without elevated privileges. I get the follow error with Skopeo:
[code]

[2018-09-03 19:35] giuseppe commented on #978
@tliron would it be possible for you to try this patch https://github.com/projectatomic/buildah/pull/985?

[2018-09-03 23:07] kbaegis commented on #981
Thanks for the clarifications. I figured that blobs would consistently generate the same UUID if the contents and timestamp were identical and that was used to detect and prevent duplication.

Does this mean that when I push two tags of the same image it's taking up twice the space?

[2018-09-04 05:52] q384566678 commented on #945
@rhatdan @TomSweeneyRedHat Recently I downloaded and used podman and got a new understanding of buildah. In my understanding, buildah is just a simple tool for creating images and containers, and doesn't need many other commands (you can use podman if you need).Is this my understanding correct?

[2018-09-04 05:58] vrothberg commented on #945
@q384566678 I may answer the question.

That's correct, Podman is for container execution and management, Buildah is for image building, and [Skopeo](https://github.com/containers/skopeo) is for image distribution. In my opinion it makes a lot of sense to have separate tools for that (with some overlap), as it allows to cover more use-cases while still keeping the CLI comparatively small and well

[2018-09-04 06:14] q384566678 commented on #945
@vrothberg I got it, thanks for your explanation.
It seems that buildah already has enough commands. I will close this issuse because the features in these plans are not needed.

[2018-09-04 06:14] #945 closed

[2018-09-04 12:46] TrayserCassa commented on #475
@rhatdan
Sorry for the late answering...
Like in the title in this issue: 'exec format error'

[2018-09-04 13:40] rhatdan commented on #475
There is probably a good change the runc version is out of date.
rpm -q runc

[2018-09-04 17:59] tliron commented on #978
The patch works and resolved this issue, great job! I'll keep this issue open and let you manage it/

I've discovered another issue but will open it separately.

[2018-09-04 18:02] tliron opened #987 ""push docker-daemon:" always uses "docker.io/" prefix"
Tested with version 1.3.

Example:
[code]
And then running `docker images` you will the name as:
[code]
This makes it difficult to use buildah with non-public Docker repositories.

[2018-09-05 00:00] steveb commented on #981
I'm seeing the same issue doing a skopeo copy containers-storage:... docker://... on a buildah built image.

My first thought was this was related to doing concurrent buildah calls on different images, but I'll keep testing and attempt to come up with a reproducer.

[2018-09-05 11:43] rhatdan commented on #987
So you would rather see
localhost/prefix/test

[2018-09-05 13:06] tliron commented on #987
Well, I would rather have no added extra prefix, as this much complicates the rest of the CI/CD chain. Other Docker building tools do not tend to add extra prefixes.

[2018-09-05 13:12] rhatdan commented on #987
@mtrmac @umohnani8 PTAL

[2018-09-05 13:50] rhatdan commented on #952
The hostname should be different, Since these are generated on the fly.

[2018-09-05 13:57] rhatdan commented on #952
I don't see a difference here?

[code]

[2018-09-05 13:58] rhatdan commented on #952
Or here
[code]

[2018-09-05 14:39] mtrmac commented on #987
This is intentional and necessary for `atomic pull` to work as expected (or as close to it as possible, anyway).  See https://github.com/containers/image/issues/72 for the complex details if you are interested (perhaps start with the tables at the bottom).

hostname-unprefixed destinations for `docker-daemon:` are fundamentally equivalent to `docker.io/*` on upstream Docker, and not interoperable

[2018-09-05 15:14] tliron commented on #987
Well. All I can say is that the assumption that everyone will want to push to `docker.io` is wrong. Many of us use internal repositories.

I wonder if perhaps we can support multiple use cases via an extra CLI switch? E.g.:
[code]
Would result in this name:
[code]
The default `--docker-repository` could be `docker.io`, so that your other use case (Atomic?) would continue working as it does now.

[2018-09-05 15:28] umohnani8 commented on #987
@tliron you could also give it the full name including the registry, that way the default docker.io won't be added to the name.
`buildah push image docker-daemon:internal.org/prefix/test:1.0`

[2018-09-05 15:36] rhatdan commented on #987
@tliron I think @umohnani8 way to handle this is the best.

[2018-09-05 16:20] tliron commented on #987
OK, I did some testing and this indeed does work:
[code]
However, this doesn't (it adds `docker.io` as prefix):
[code]
So apparently the parsing requires a `.` in order to extract the domain. So, I guess this is the real bug. (In our use case we are using local hostnames without a `.` in their name.)

[2018-09-05 17:37] rhatdan commented on #987
Can you try localhost instead of internal.

[2018-09-05 22:33] mtrmac commented on #987
Yes, or a `:`, or the hostname to be `localhost`.  This rule is used consistently throughout the docker name ecosystem:

[code]

I expect using short hostnames will be similarly painful anywhere else in the container ecosystem.  As a workaround, you probably can use `internal:443` (or whatever the port is); whether that is better than `internal.my.corp.example.com` is a matter of personal preferen

[2018-09-06 00:14] tliron commented on #987
Thanks. I would recommend documenting this heuristic [online](https://github.com/projectatomic/buildah/blob/master/docs/buildah-push.md) and in the CLI help. If this is indeed a Docker convention, then perhaps there's a convenient link to documentation there that can be added.

It's definitely not obvious, and I'm sure I won't be the only one to be confused...

[2018-09-06 09:00] andreasbaumann opened #990 "hard coded constants outside 'int' range on 32-bit platforms"
Building on 32-bit Intel results in:

[code]

int and uint are platform-dependent, as you can check with a test program like
in https://gist.github.com/petergloor/1eacd3ebcfc3e09ed578dd0d4f80cabe

on 32-bit:

[code]

I hacked the sources with:

[code]

but this feels - well hacky :-)

[2018-09-06 09:05] andreasbaumann commented on #990
Mmh. I realize this should maybe be reported upstream for opencontainers/runc?

[2018-09-06 09:13] andreasbaumann commented on #990
Reported upstream as https://github.com/opencontainers/runc/issues/1885

[2018-09-06 11:04] rhatdan commented on #987
Could you suggest wording in the man page that would help?

[2018-09-06 17:02] mtrmac commented on #987
The closest to an official spec would probably be the “repository” term in https://github.com/moby/moby/blob/master/image/spec/v1.2.md#terminology , but that does not document the “is it a DNS name or a repository” heuristic.

[2018-09-09 16:00] Conan-Kudo opened #996 "`buildah bud` fails building layered container executing sudo"
**Description**

When using `buildah` to build containers layered on ones that default to a user other than `root` but have password-less `sudo` configured, it fails with an error about being unable to change to root gid.

**Steps to reproduce the issue:**

1. Use `buildah bud` to build the base container that creates a user with passwordless sudo and sets the user it runs as to that.
2. Use `buil

[2018-09-09 16:03] Conan-Kudo commented on #996
This also happens with my Fedora 28 system with buildah 1.3.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[code]

**Output of `cat /etc/containers/storage.conf`:**

[code]

[2018-09-11 15:17] kbaegis commented on #981
The skopeo copy solution seems to work fine for me. I added a --disable-registry flag to reagent (https://github.com/kbaegis/reagent) and manually pushing the first image and then doing a skopeo copy docker://<image>:<tag1> docker://<image>:<tag2> works fine.

[2018-09-11 22:43] steveb opened #1004 "Race in naming build containers causes build failures"
**Description**
The concurrent buildah bud script in podman issue https://github.com/containers/libpod/issues/1146#issuecomment-420428372 sometimes fails to build an image and logs the following error:

`error creating build container: error creating container: the container name "centos-working-container-2" is already in use by "f5bda7beecec6896b09eea6d406d733199a4f8b98afc9150fdac4f883f59cdce". Y

[2018-09-12 12:09] pkubatrh opened #1006 "buildah bud does not COPY symlink contents"
**Description**
While testing out whether existing scripts around `docker` work even when `podman` (and thus buildah) is used instead, I found out that when building through `podman build` from a Dockerfile that has an COPY instruction with a symlink to a directory as source, the symlink itself gets copied into the image instead of the contents of the directory the symlink is pointing to.

I think

[2018-09-12 19:37] llchan commented on #974
@TomSweeneyRedHat is this expected to be fixed? I'm running a fresh buildah build (commit 8ead4d2eca70cb6cf4686e11912148aef7235f84, master as of today), and I still see the emtpy layer error. What should I do to troubleshoot?

[2018-09-12 20:11] mtrmac commented on #974
@llchan Are you using the same local container storage as when the bug has first manifested? If so, you need to untag all affected containers and pull them again with the fixed code for the fix to be effective. (Deleting the storage entirely and starting from scratch might be easiest.)

[2018-09-12 20:12] llchan commented on #974
@mtrmac Yep, was just about to reply. I had only deleted one of the container storage dirs, didnt realize there's one in /var/lib and one in /var/run. Looks like it's working now. Thanks!

[2018-09-13 07:36] pkubatrh commented on #1006
#1007 fixed the issue for me, thanks!

[2018-09-13 10:47] q384566678 opened #1011 "Buildah cannot be executed in the non-privileged container of k8s"
I created a non-privileged container in k8s, but could not execute buildah. Later, I found that it could be executed correctly before this [patch](https://github.com/projectatomic/buildah/pull/836/commits/f1f087c8e51b3854a1ef2cb9127fe7e7a3f885cb) ,but it could not be executed after this patch modified the `unshare.go` file.

If I add privileges to the `yaml` file, I can execute buildah correctly.

[2018-09-13 11:03] TomSweeneyRedHat commented on #1011
@giuseppe PTAL

[2018-09-13 15:04] rhatdan commented on #974
Can I close this issue now?

[2018-09-13 15:10] #1004 closed

[2018-09-13 15:12] ypu commented on #952
Hi @rhatdan
Checked the image. And find if you print the value with --format {{.Config.Entrypoint}}, it will show "[]". But if you inspect the image without --format, the value will turn to "null". And also test --format {{.Config}}, it shows <nil> . So the docker inspect output seems depends on the command line flags.

[2018-09-14 01:40] q384566678 commented on #1011
@nalind PTAL

[2018-09-14 06:55] #981 closed

[2018-09-14 11:34] giuseppe commented on #1011
could you use the `chroot` isolation?  You can set it with the env variable `BUILDAH_ISOLATION=chroot`, or as a flag to `buildah run`

[2018-09-14 17:54] wking opened #1015 "Buildah fails to compile when btrfs headers are not installed"
**Description**

The `Makefile` does not build `buildah` cleanly on my RHEL 7.5 CSB without the btrfs headers installed.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

A successful build.

**Buildah version:**

[code]

**Workaround:**

I needed:

[code]

to build `buildah`.

**Fix:**

Looking at our tag-generating

[2018-09-14 19:10] wking commented on #1015
Fixed by #1016.

[2018-09-14 19:10] #1015 closed

[2018-09-14 22:40] adambant commented on #475
Turns out the #!/bin/bash was in my entry point file, but since I did a copy and paste into that file, the first line was a newline, not the #!/bin/bash, effectively ignoring it. If this helps anyone as well. Deleted the empty line and all worked fine.

[2018-09-15 15:38] TomSweeneyRedHat commented on #475
@adambant TYVM for the follow up and info on your work around.

[2018-09-16 00:09] daurnimator commented on #810
I'm not able to figure out the incantation to run buildah. I installed it on arch (`pacman -S buildah`) and tried to run: `sudo buildah from debian:9` which fails with:

So I added the registries.conf file mentioned above. However I still get the same error.
I also tried

  - `sudo buildah from docker://debian:9`
  - `sudo buildah from docker://_:debian:9`
  - `sudo buildah from docker-daemon:debi

[2018-09-16 10:52] rhatdan commented on #810
Works for me on Fedora

[code]

[2018-09-16 10:55] rhatdan commented on #810
Does ` buildah from docker.io/debian:9` work for you?

[2018-09-17 01:30] q384566678 commented on #1011
No. The same error will still occur.
The following function is called in the main function:
[code]

Finally, an error is reported in the `unshare.c` file.

[code]

[2018-09-17 15:23] olivierGATSNCF opened #1022 "Buildah bud : No dockerfile instructions in history"
**Description**
There is a problem with the images produced by buildah.
It seems that the history does not resume the instructions dockerfile

This affects the security scans we do with a DTR (Docker Trusted Registry) instance, image from scan, and dockerfile instructions.
The absence in the history of the instructions of the dockerfile does not allow the DTR to do the analysis. As info about the

[2018-09-17 15:36] TomSweeneyRedHat commented on #1022
@olivierGATSNCF Thanks for the report.  Might be a lack of tea, but what command did you use to generate the output?  I'm assuming that's from Buildah, could you supply the same output from the equivalent Docker command please?

[2018-09-17 15:41] olivierGATSNCF commented on #1022
A sample of buldah build :

``buildah bud --tls-verify=false --format docker --build-arg HTTP_PROXY=http://xxx --build-arg HTTPS_PROXY=http://xxx --build-arg http_proxy=http://xxxx --build-arg https_proxy=http://xxxx --build-arg VERSION=1.0.56-SNAPSHOT --build-arg REPO_NAME=maven-demo-snapshots --build-arg no_proxy=registry  --pull -f Dockerfile --tag registry/buildtoolstu/eul-helloworld-app:1.0.5

[2018-09-17 15:49] olivierGATSNCF commented on #1022
@TomSweeneyRedHat : my explanation was not complete.
I built and pushed with buildah to a docker registry and i pulled it on a vm with docker.  I played docker history on this vm .

[2018-09-17 16:11] TomSweeneyRedHat commented on #1022
@olivierGATSNCF Thanks for the follow up, we'll have to dig.

[2018-09-17 16:33] rhatdan commented on #1022
@olivierGATSNCF Could you look at buildah 1.3 and see if this is fixed?

[2018-09-17 16:40] rhatdan commented on #1022
Not sure what we are missing.  We don't examine the base images history.
But if I build with layers, I see all of the layers that in the build

[2018-09-17 16:45] umohnani8 commented on #1022
To see the history, you need to build with --layers set - this will have an intermediate image for each step in the Dockerfile and will keep track of the instructions. Building without --layers just creates on image with no track of the Dockerfile instructions. @olivierGATSNCF from the command you pasted I can see that you do not set --layers, can you please try it with --layers set.

[2018-09-17 18:39] boaz1337 commented on #940
we can close this.

[2018-09-17 18:52] #940 closed

[2018-09-17 19:41] #996 closed

[2018-09-17 19:42] #467 closed

[2018-09-17 19:45] rhatdan commented on #936
@xinminglai Any idea who I should contact in Gentoo to get podman in?

[2018-09-17 19:57] tliron commented on #987
Was this closed with a commit to fix the documentation?

[2018-09-17 20:43] rhatdan commented on #987
Nope.

[2018-09-17 21:26] tliron commented on #987
Well, here's my suggestion for documentation, a modification of [doc](https://github.com/containers/buildah/blob/master/docs/buildah-push.md):

Hopefully this or similar can go into both the MD file and the CLI help.

[2018-09-18 04:59] Kiran01bm commented on #475
FWIW - I had the same error (copied below) with a ruby container and the problem was due to a missing shebang in my ruby program. My CMD instruction was pointing to a ruby program directly.

[2018-09-18 07:07] olivierGATSNCF commented on #1022
i tried --layers but it didn't work with multistage dockerfile.
[code]
with Dockerfile :

[code]

On build, first stage is OK : HelloWorld.jar is copied at /opt/HelloWorld.jar

but on artifact copy, second stage doesn't find it, the build is broken :
[code]

[2018-09-18 09:44] olivierGATSNCF opened #1026 "Buildah bud : --layers option doesn't work on multistage Dockerfile"
**Description**
i  tried --layers but it didn't work with multistage dockerfile.
i would like  copy a file from a stage to another stage. But with --layers, the build was broken.

**Steps to reproduce the issue:**
1. buildah bud with --layers on  the following dockerfile (with copy file from a stage to another) :

[code]

[code]

**Describe the results you received:**
On build, first stage is OK :

[2018-09-18 11:00] TomSweeneyRedHat commented on #1022
@olivierGATSNCF do you happen to know if you drop the second FROM on down in the Dockerfile and use --layers if the history is showing appropriately in that case?  I.e. I just want to clarify that the history is broken in the multi-from case, but not in Dockerfiles with a single FROM.

[2018-09-18 11:12] olivierGATSNCF commented on #1022
i test with single stage dockerfile and  layers option, it works, docker history shows all instructions within the dockerfile. Perhaps it works too with multistage but this option made made the build failed

[2018-09-18 11:17] pkubatrh opened #1027 "buildah bud: incorrect permissions on VOLUME"
**Description**

When an image is built on top of a another layer which is built from a Dockerfile using `VOLUME` command, the permissions of the volume seem to be set to some default (root:root, 0755). During the container run they have the expected values however (in my case postgres:root, 0775).

**Steps to reproduce the issue:**
1. cat << EOF >Dockerfile
FROM centos/postgresql-10-centos7
RUN s

[2018-09-18 12:18] TomSweeneyRedHat commented on #1022
Thanks for the follow up @olivierGATSNCF , good info to have.

[2018-09-18 12:49] rhatdan commented on #1026
Urvashi PTAL

[2018-09-18 13:42] rhatdan commented on #1022
Ok I am going to close this issue, since you opened up the issue on multi-stage and layers.
Thanks @olivierGATSNCF

[2018-09-18 13:42] #1022 closed

[2018-09-20 07:54] gregoryboue commented on #1026
Hi,

I am also concerned by this issue, do you know what is the cause of this ?

[2018-09-20 12:03] kbaegis opened #1032 "Feature request: ONBUILD for oci images"
**Description**

---
image1.Dockerfiile
[code]

image2.Dockerfile
[code]

I'd like to be able to pull these labels with `buildah inspect <image uri>|jq '.OCIv1.config.Labels."$NAMESPACE.genesis"'` in order to see the full list of layers and versions. I'm completely open to better ways to do this.

[2018-09-20 12:13] rhatdan commented on #1032
OCI Images do not support ONBUILD, so would need to build Docker image.

Do you expect buildah to help generate some of these fields?

[2018-09-20 12:17] kbaegis commented on #1032
1) Validating that this functionality doesn't already exist elsewhere and I simply missed it
2) Verifying that this is a valid thing to do

I'd prefer to omit the --format=docker when I run these. Is there a workaround that I could use for oci images?

[2018-09-20 12:58] kbaegis commented on #1032
I've build in an incredibly ugly workaround by explicitly passing the first FROM statement in a grep of the build file to --build-arg. I'm still very curious how others are solving this problem.

[2018-09-20 14:38] umohnani8 commented on #1026
Working on getting a fix in.

[2018-09-20 16:26] rhatdan commented on #1032
@kbaegis Join me (dwalsh) on #buildah on IRC on Freenode

[2018-09-20 16:53] umohnani8 commented on #1026
@olivierGATSNCF I am unable to reproduce the issue. I tried a simpler version of what you are doing as I couldn't access the images you are using in your Dockerfile.
[code]

I was able to copy from the first stage to the second stage. Can you try out my Dockerfile and see if you are hitting the same issue?

[2018-09-21 20:27] umohnani8 commented on #1026
@olivierGATSNCF just to clarify, the Dockerfile I pasted in my previous comment works fine for you? Also what exactly do you mean by "the buildah environment is dockerised"?

[2018-09-23 05:13] daurnimator commented on #810
The issue was solved by adding that policy.json file. It appears that on arch, that file is provided by the skopeo package rather than buildah.
However discovering this information was next to impossible: could someone update the docs to make it obvious that policy.json is required?
Should a bug be filed with archlinux (or skopeo) about the home for the policy.json file?

[2018-09-24 11:19] #978 closed

[2018-09-24 14:19] alanbchristie commented on #581
Is there any news on if/when ARG-before-FROM will be supported?

[2018-09-24 16:29] TomSweeneyRedHat commented on #581
@alanbchristie I've not heard any news on this, if anyone has @rhatdan would have.  He's enjoying a rare day off today, I suspect he'll weigh in tomorrow.

[2018-09-24 16:41] TomSweeneyRedHat commented on #581
Ooops, didn't mean to close this.  Reopening.

[2018-09-25 12:01] olivierGATSNCF commented on #1026
@umohnani8 : the dockerfile i finally pasted is the same as you did. The only différence is that our buildah is a docker container build with docker like that :
[code]

But i don't see why this dockerisation could be the root of this issue.

[2018-09-25 12:37] henrik242 commented on #156
@jorgemoralespou  did you get buildah running on OSX?

[2018-09-25 15:42] bowlofeggs opened #1034 "podman build tags images in the local registry with a leading localhost/ and docker does not"
**Description**

Does ```podman build``` have the goal of being a drop-in replacement for docker? If not, feel free to close this issue. If so, the issue is that ```podman build -t bodhi-ci/f27``` tags the resulting image into the local engine with a leading ```localhost/``` in the repository name, and ```docker``` does not do this. This results in a difference in how the image must be referenced

[2018-09-25 16:14] TomSweeneyRedHat commented on #1034
Thanks for the problem report @bowlofeggs .  Thanks for the thorough problem report, can I bother you to reply with the output of `podman version` please?

podman/buildah build/bud should be a drop in replacement for docker and we'll take a look at this.  However, I thought this had bubbled up before, @nalind or @rhatdan do you recall?  I didn't find it in the issues, but may have missed it.

[2018-09-25 16:38] bowlofeggs commented on #1034
Sure thing!

[code]

[2018-09-25 18:58] umohnani8 commented on #1026
@olivierGATSNCF looks like you are using an older version of buildah. we are on buildah 1.3 now, can you install the latest buildah and try this again.

[2018-09-25 21:29] rhatdan commented on #1034
Well it is intended to be a drop in replacement for the most part.  The localhost versus docker.io was intentional.

The registry component of an image should indicate where it came from.  And we don't want to hard code the default location of docker.io.

Now if podman can not instantly run the image created by buildah or podman build, then that is a bug.

[2018-09-25 21:34] rhatdan commented on #1034
It seems like podman run is not looking into localhost if the name containers a repo and a name

@baude could you take a look.

[code]
Fails.
[code]
Works.

Our image name processing is failing if the repo is specified.

[2018-09-25 23:29] baude commented on #1034
For me using master, neither work ... ill look at it sure.

[2018-09-26 05:30] pkubatrh opened #1037 "buildah bud: ExposedPort are emptied if EXPOSE is not last Dockerfile command"
**Description**
I have run into this curious issue that when an image exposes a port via the Dockerfile's EXPOSE command and is built via `buildah bud --layers`, the ports are ignored unless the EXPOSE command is the last command in the Dockerfile.

Originally reported as https://github.com/containers/libpod/issues/1536

**Steps to reproduce the issue:**
1.cat << EOF >Dockerfile
FROM centos:7
EXPO

[2018-09-26 13:33] umohnani8 commented on #1026
Looks like #974 has been fixed so shouldn't be an issue anymore. You need to pass in that security-opt label so that SELinux gets the permissions to allow masking the directory when running buildah inside a container. If you really can't pass that parameter a work around is setting SELinux to Permissive mode instead `setenforce 0` (not really ideal).
But you definitely need the `--isolation chroot

[2018-09-26 15:37] rhatdan commented on #1037
@umohnani8 PTAL
Didn't we have an issue earlier with --layers and command placement?

[2018-09-26 20:49] umohnani8 commented on #1037
Being fixed in #1039

[2018-09-26 22:07] dustymabe opened #1040 "podman build: rootless build takes up a lot of disk space"
`podman-0.9.4-1.dev.gitaf791f3.fc30.x86_64` in Fedora rawhide.

**Description**
I started a rawhide VM and the first operation I did on it was `podman build`. I am seeing `podman build` take up a lot of space.

[code]

[code]

podman images --all shows me more:

[code]

Before the build was done the used space ballooned up to about 37G before coming back down to 20G.

It's possible this is not a b

[2018-09-26 23:27] TomSweeneyRedHat commented on #1040
@dustymabe can you try the same command but use the --layers param too?  Let us know how that compares.

[2018-09-26 23:29] TomSweeneyRedHat commented on #1040
[code]

[2018-09-26 23:30] dustymabe commented on #1040
it was my understanding that layers was now the default since `v0.9.1`. see the [release notes](https://github.com/containers/libpod/releases/tag/v0.9.1)

[2018-09-26 23:43] TomSweeneyRedHat commented on #1040
@dustymabe ack, I'd forgotten that the defaulted that to true in Podman, it's still false down in Buildah.

[2018-09-27 14:27] fatherlinux opened #1042 "Rootless Build Not Working"
**Description**

**Steps to reproduce the issue:**
1. yum install podman, buildah
2. buildah bud http://raw.githubusercontent.com/fatherlinux/two-pizza-team/master/Dockerfile-fedora-experiment

**Describe the results you received:**
buildah bud http://raw.githubusercontent.com/fatherlinux/two-pizza-team/master/Dockerfile-fedora-experiment
mkdir /var/run/user/1000: permission denied
mkdir /var/run/

[2018-09-27 15:06] dustymabe commented on #1040
so this comparison isn't quite apples to apples.. but I went to an older version of podman (`podman-0.8.4-1.git9f9b8cf.fc29.x86_64`) and switched to running as root and after the container build is done it only uses `6.2G` on the filesystem.

I guess what I'm trying to say is that there is at least proof less space can be used with the same content set.

[2018-09-27 16:39] nalind commented on #1042
Hmm, that directory should have been created when your login process called pam_systemd.so, so it shouldn't have needed to try to create /var/run/user/1000 directory.  Do you have the systemd-pam package installed?

[2018-09-27 17:54] fatherlinux commented on #1042
@nalind yup:

rpm -ql systemd-pam-238-9.git0e0aa59.fc28.x86_64
/usr/lib/.build-id
/usr/lib/.build-id/d2
/usr/lib/.build-id/d2/3ba1fff855d6db5b0da32b974dda9c1950830e
/usr/lib64/security/pam_systemd.so

I tried logging, logging out, logging in, rebooting, then I remembered to do a yum update :-)

Now it's working, my fault. I am a bad person :-) Closing this....

[2018-09-27 18:01] optechdvb commented on #574
This issue is still present on 18.06.1-ce

container1:latest has embedded target rootfs image.

FROM container1:latest as sdk

FROM ubuntu
COPY from=sdk /target-roots/ /target-rootfs/

SUID and SGID bits not observed in resulting container

Has this been pursued further with Golang? Has a defect been filed?

[2018-09-27 19:05] TomSweeneyRedHat commented on #1040
@dustymabe thanks for the data points.  I think Podman 8.4 had layers set as false in that release.  Just curious, have you built the container as root and rootless?  Are you seeing the large size only in rootless mode or are the container/layer sizes comparable between the two modes?

[2018-09-27 19:05] TomSweeneyRedHat commented on #1040
@umohnani8 PTAL

[2018-09-27 19:35] dustymabe commented on #1040
ahh right.

I have not. in that particular VM i was close to running out of disk space so I put it on ice while we investigate this.

[2018-09-27 20:51] nalind commented on #1042
I think there may have been a difference if, as you noted elsewhere, you were "logging in" as your user by using "su", which doesn't call pam_systemd.so, as opposed to remotely logging in over SSH or directly at the console.

[2018-09-28 05:43] #1037 closed

[2018-09-28 15:01] ypu opened #1045 "buildah push failed if we try to push an image twice"
**Description**
buildah push will failed if we push the same image twice. This is not related with the push destination, just use docker-daemon as an example. And I use tree to check the image layer under /var/lib/containers/storage/overlay/ before and after the buildah push. Here is the diff results:
[code]

**Steps to reproduce the issue:**
1. buildah pull busybox
2. buildah push busybox docker-

[2018-09-28 15:02] TomSweeneyRedHat commented on #1045
@umohnani8 was this something you were looking at already?

[2018-09-28 15:04] umohnani8 commented on #1045
@TomSweeneyRedHat no I wasn't.

[2018-09-28 15:59] TomSweeneyRedHat commented on #1045
Thanks for the 411 @umohnani8 I'll take a look then.

[2018-09-28 17:53] patrickdillon opened #1046 "Fail to build Dockerfile: unpacking of archive failed on file /etc/hosts: cpio: rename"
**Description**

I am trying to build a Dockerfile. It builds ok with Docker but fails with buildah.

**Steps to reproduce the issue:**
1. Dockerfile: http://pastebin.test.redhat.com/652536
2. `podman build -t install-test .`

**Describe the results you received:**
Error logs: http://pastebin.test.redhat.com/652525

**Describe the results you expected:**
Expected it to build (works with Docker).

[2018-09-28 20:27] TomSweeneyRedHat commented on #1046
@patrickdillon Thanks for the problem report.  This looks to be  a problem with yum not being able to find a package from the repository.  When you ran this in Docker, did you run it on the same machine that you ran the buildah bud command from?

[2018-09-28 20:43] patrickdillon commented on #1046
Yes. I ran both commands in the same shell session.

[2018-09-28 20:46] bparees opened #1047 "buildah mishandles insecure registry config"
I have `172.30.255.124:5000` configured as an insecure registry in registries.conf.  That seems to work fine for pulling the blob as seen below, but then as soon as the dockerfile processing starts, a failure occurs because buildah tries to access the registry over https.

[code]

@nalind

[2018-09-28 21:21] bparees opened #1048 "buildah pushes new copies of content it pulled down"
Since only a single new layer is produced by the build, the final push should only need to push a single new layer (after checking w/ the registry to confirm the base layers are already present).  Instead multiple layers appear to be getting copied/pushed.  This means builds are slower than they need to be and also we're duplicating content in the registry.

[code]

@nalind

[2018-09-28 22:51] bparees opened #1049 "non-fully qualified domains not handled by insecure registry list"
my insecure registries list includes:
`docker-registry.default.svc.cluster.local:5000`

my image was located at `docker-registry.default.svc.cluster:5000` which, within the context buildah was running in, is resolved to `docker-registry.default.svc.cluster.local` due to the search paths in /etc/resolv.conf.

I would have expected buildah to resolve `docker-registry.default.svc.cluster` to `docker-

[2018-09-29 03:12] rhatdan commented on #1045
I think this is something recently fixed by @nalind.  We might need to re-vendor in containers/storage and containers/image and finally put out buildah 1.4

[2018-09-29 03:37] rhatdan commented on #1048
@mtrmac PTAL

[2018-09-29 03:38] rhatdan commented on #1049
@nalind @mtrmac PTAL

[2018-09-29 03:38] rhatdan commented on #1047
@nalind @mtrmac PTAL

[2018-09-29 03:42] rhatdan commented on #1046
@TomSweeneyRedHat Could you see if this works for you?

[2018-09-29 03:49] rhatdan commented on #1045
@ypu Is this off the current upstream?  It looks like we have all of the patches in upstream storage and image.

[2018-09-29 11:18] mtrmac commented on #1048
Yes, I’m working on that in https://github.com/mtrmac/image/tree/blob-info-caching .

[2018-09-29 11:35] mtrmac commented on #1049
This is the only way it can work (and the way it works in Docker as well, AFAICS):

When making a request though the HTTP stack, we provide an URL, and there is no opportunity to inspect or change how the HTTP stack is interpreting the host name. So, the c/image code never sees the …`.local` host name.

We also _must not_ make a separate DNS resolution call, make a secure/insecure determination ba

[2018-09-29 11:37] mtrmac commented on #1047
This is probably https://github.com/containers/image/pull/484 , or at least closely related.

[2018-09-29 15:39] bparees commented on #1049
ok

[2018-09-29 15:39] #1049 closed

[2018-09-29 15:39] TomSweeneyRedHat commented on #1046
@rhatdan ack, will give it a go Monday if not before.

[2018-09-29 21:00] fbruetting opened #1051 "Inconsistent image listing, compared to podman"
**Description**

Image listing is inconsistent between both programs, which makes this often a little bit confusing. In the forums, people often are already confused solely because of the coexistence of Podman and Buildah and their overlapping commands (`podman build` ⇔ `buildah run`). I think it would be helpful if such friction could be further reduced. Would thus be cool if image listing could

[2018-09-30 06:13] Tahutipai commented on #696
+1 vote for 18.04 support

[2018-09-30 07:37] ypu commented on #1045
Hi @rhatdan
Get a fresh buildah source code. And try this again. The problem already fixed. So will closed this issue.
Thanks a lot for your update,

[2018-09-30 07:37] #1045 closed

[2018-10-01 16:46] TomSweeneyRedHat commented on #1046
@rhatdan FYI, I'm able to reproduce this from master, looking.

[2018-10-01 19:00] rhatdan commented on #1046
/etc/hosts is a volume mount into the container.  It is probably conflicting on that.

One big difference between the two is Docker puts /etc/hosts on a file system:
/dev/mapper/fedora-var on /etc/hosts type xfs (rw,relatime,seclabel,attr2,inode64,prjquota)

While Buildah has it on a tmpfs?
tmpfs on /etc/hosts type tmpfs (rw,nosuid,nodev,seclabel)