[2020-06-16 08:39] liticia-hub commented on #2387
I removed   "devel:kubic:libcontainers:stable/CentOS_7/devel:kubic:libcontainers:stable.repo"   from  /etc/yum.repos.d/

Then  did  "yum -y install buildah"

Buildah installed successfully

[2020-06-16 11:50] QincaiLiu commented on #2387
can you use buildah to build docker image inside the container? with privilege or without privilege?

[2020-06-16 17:27] rhatdan commented on #2387
We call them container images, but yes, you can build container images with a locked down container.

https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2020-06-17 08:45] skorhone opened #2411 "Rootless builds slow on Ubuntu 20.04 LTS"
**Description**
Builds using both podman and buildah are slow when running as non-root user. System has been configured to use fuse-overlayfs. System shows heavy CPU usage on both podman and fuse-overlayfs processes. IO-activity (according to iostat) is low.

**Steps to reproduce the issue:**
1. Build image based on renovate/renovate
2. Issue ADD command

**Dockerfile example:**
Example is not sam

[2020-06-17 12:17] liticia-hub commented on #2387
@QincaiLiu Sorry, I didn't try

[2020-06-17 12:19] liticia-hub commented on #2387
I think that it is not the topic treated in this issue but when trying to excecute

 yum install --installroot $scratchmnt --releasever 30 bash coreutils --setopt install_weak_deps=false -y

(Tutorial 1 Buildah)

I got this:

oaded plugins: fastestmirror, langpacks, rhnplugin
This system is receiving updates from RHN Classic or Red Hat Satellite.
Main config did not have a install_weak_deps attr.

[2020-06-17 12:20] liticia-hub commented on #2387
I think that it is not the topic  of this issue but when trying to excecute

yum install --installroot $scratchmnt --releasever 30 bash coreutils --setopt install_weak_deps=false -y

(Tutorial 1 Buildah)

I got this:

oaded plugins: fastestmirror, langpacks, rhnplugin
This system is receiving updates from RHN Classic or Red Hat Satellite.
Main config did not have a install_weak_deps attr. before s

[2020-06-17 14:58] nnachefski commented on #2239
FYI, when doing tekton builds using the buildah ClusterTask, you have to override the storage driver to get it to work.  You have to add '--storage-driver=overlay'

You can use this patch:

# work-around bug in buildah ClusterTask by manually setting storage-driver to overlay
$OC_CLIENT patch clustertask buildah --type merge -p '{"spec":{"steps":[{"command":["buildah","bud","--storage-driver=overl

[2020-06-17 17:30] #2393 closed

[2020-06-17 18:42] TomSweeneyRedHat commented on #2411
@nalind, throwing this one your way too as you're working on the speed issues.

[2020-06-17 20:34] jamescassell opened #2415 "bud: `COPY --from=` uses wrong layer"
**Description**
Buildah chooses the wrong layer to copy from if a layer has already been used in another "FROM" command that made any modifications in its own copy of that layer.  It can be worked around by adding an extra step in the Dockerfile, but it gets unweildy.

**Steps to reproduce the issue:**
1. `podman build -f test.Dockerfile`
2. `podman diff <built-image>`
3. observe "derived" in outp

[2020-06-17 22:41] jamescassell commented on #2403
Did some further digging, and it's not whether there's a real image or not. it's whether there's a non-empty layer in it or not.  quay.io refuses to build a non-empty layer without any files in it, so I made one with just a single `/root` directory in it. (see my `quay.io/cassell/scratch` image)

[2020-06-18 20:07] nalind commented on #2415
Doing a spot-check with the master and release-v1.14 tips, it looks like this is fixed by #2401/#2321.

[2020-06-18 21:10] jamescassell commented on #2404
You can already do this:
test.Dockerfile:
[code]

to swap out the FROM, build it like `podman build --build-arg=FROM=registry.fedoraproject.org/fedora -f from.Dockerfile`

[2020-06-18 21:13] jamescassell commented on #2403
I've decided this is a bug, and has nothing to do with the scratch image, but an issue w/ buildah not caching copies into scratch images. Changed the title as such.

[2020-06-18 21:39] jamescassell commented on #2415
thanks! seems fixed in `podman-2.0.0-0.3.rc7.fc32.x86_64`

[2020-06-18 21:39] #2415 closed

[2020-06-19 11:04] rhatdan commented on #2404
Also we have a preprocessor built into Buildah and Podman build.  Basically you can add
# if
# then
# endif

[code]

[2020-06-19 11:04] rhatdan commented on #2404
@TomSweeneyRedHat Did we ever blog on this feature?

[2020-06-19 11:05] rhatdan commented on #2404
If not this entire issue would make for a nice blog.

[2020-06-19 11:06] rhatdan commented on #2403
@nalind @TomSweeneyRedHat PTAL

[2020-06-19 11:06] rhatdan commented on #2403
@ashley-cui PTAL

[2020-06-19 13:28] nalind commented on #2403
I'm already poking around in this area.  Self-assigning.

[2020-06-19 14:27] TomSweeneyRedHat commented on #2404
@rhatdan, I don't believe we did. I'll add it to the list.

[2020-06-19 14:34] nnachefski commented on #2404
Thanks for the help folks.  This is good news, except i dont have access to change the Dockerfile.   Basically, i'm inserting a custom layer on top of ubi8 image, and then using tekton to build a custom s2i chain on top of the customized base.  That being said, i wont be able to change your Dockerfile for core/base/python36/node10 etc....   To do this, i would have to fork it and that is not an op

[2020-06-19 14:39] nnachefski commented on #2404
It's also worth noting that i've been doing this custom s2i chain builds with basic Openshift build objects for awhile now.  'oc new-build' has this functionality as i'm able to override the FROM image with a '-i' in the oc CLI.   I want to port this work over to tekton for a customer and that's why i'm doing this now.

[2020-06-22 15:21] Asisranjan commented on #2224
I am also facing same issue. I tried the approach suggested above
a) setting TMPDIR b) rm -rf /var/tmp/storage*
none of them working.

The strange part is, i was able to build image using buildah just 1 day before in same setup, however same is not working now,

I am able to pull image using docker but not using buildah, buildah pull is throwing error "Error writing blob: error storing blob to fil

[2020-06-22 18:28] rhatdan commented on #2404
Ok I am fine with this change.

[2020-06-22 18:28] rhatdan commented on #2404
Getting a PR would make it faster.

[2020-06-23 11:07] skorhone commented on #2411
Podman update to 2.0.0 did not improve situation. Current podman info:

[code]

[2020-06-23 11:19] rhatdan commented on #2411
@giuseppe Any chance this is fuse-overlay related?

[2020-06-23 11:30] skorhone commented on #2411
I've also tried squashing the base image (which has ridiculous number of layers), but it made no difference.

According iostat to there's very little disk io during build. However both podman/buildah and fuse-overlayfs are both consuming heaps of CPU. I'd expect to see results like this, if buildah has to iterate over all files to find what's changed, and if fuse-overlayfs is caching file metadata

[2020-06-23 11:30] giuseppe commented on #2411
`System shows heavy CPU usage on both podman and fuse-overlayfs processes`

This is interesting.

Could you please strace podman and fuse-overlayfs when they show heavy CPU usage?  I'd not expect any CPU usage on podman.

@rhatdan it seems `COPY` is taking most of the time.  Probably something that will be improved with the @nalind's work

[2020-06-23 13:13] skorhone commented on #2411
Here's a random strace during copy phase of files. I think I hit strace somewhere between following steps:

STEP 3: COPY config.js /usr/src/app/config.js
STEP 4: COPY scripts/find_projects.py /usr/src/app/find_projects.py

[podman.strace.gz](https://github.com/containers/buildah/files/4819583/podman.strace.gz)

[2020-06-23 20:14] rhatdan commented on #2411
Do you have a .dockerignore file?

[2020-06-23 21:36] skorhone commented on #2411
Our repository doesn't have it (none in build context), but it seems that FROM image (Renovate) is using .dockerignore.

I don't think that use of .dockerignore in base image could cause such side effects though.

[2020-06-24 10:36] giuseppe commented on #2411
I had a look at it.

The base image has a lot of files:

[code]

and with fuse-overlayfs we use the NaiveDiff backend for each layer.  So it means we need to stat, and read xattrs from each of these files.

I guess you'll see better results if you run as root and we can use the optimized diff backend.

We could teach the diff driver how to deal with the upper layer created by fuse-overlayfs but I'

[2020-06-24 16:38] skorhone commented on #2411
In a way I agree that high coupling to fuse is undesirable.

On the other hand, I think that performance gains for rootless builds would be significant, if you checked names of changed files from the upper layer rather than iterating over whole filesystem. Using inotify to monitor changes would probably be even faster (and compatible with non most filesystems), if it works with fuse

I do understa

[2020-06-25 12:27] erbzn opened #2423 "Buildah bud writes stdout to stderr, which causes pipeline builds to fail."
**Description**

I am trying to use Buildah in Azure DevOps Pipeline with the example repository phippyandfriends (https://github.com/Azure/phippyandfriends).
First step is to build phippy image. This image build fails with "buildah bud", as it writes some standard output to standard error, e.g.
`Copying blob sha256:df20fa9351a15782c64e6dddb2d4a6f50bf6d3688060a34c4014b0d9a752eb4c`.
I am using a se

[2020-06-25 13:21] rhatdan commented on #2423
Have you tried with the --quiet option?

I belive Buidlah and Docker build always write progress information to stderr and only write the image id to stdout.

[2020-06-25 19:50] erbzn commented on #2423
Thank you for the fast answer :)

If I run Docker build for the mentioned Dockerfile nothing is written to stderr.
If I run Buildah with the --quiet option still some lines are written to stderr:
[code]

And as there is the configuration option `failOnStderr: true` in Azure DevOps Pipeline the successful build is marked as failure.

[2020-06-25 22:38] srcshelton opened #2424 "ARG values truncated at '=' when used to set ENV values"
**Description**

This is an apparent regression between buildah-1.15.0-dev (libpod-2.0.0_rc6) and buildah-1.15.0 (libpod-2.0.0_rc7):

When an ARG is used to initialise an ENV variable, the ENV value in the resulting image is truncated at the first equals sign.

This doesn't appear to be the same as issue #2345 as the ARG and ENV variable names are different and the value is partially coming throug

[2020-06-25 22:40] srcshelton commented on #2424
libpod issue https://github.com/containers/libpod/issues/6785

[2020-06-25 22:54] srcshelton commented on #2424
(I've just noticed that even though `podman` reports the working version of `buildah` as being `1.15.0-dev`, the working libpod source only seems to reference `1.15.0` - so any `1.15.0` tag may now point to a different commit, or the `-dev` suffix is being added by podman isn't actually a direct tag reference?)

[2020-06-26 00:20] TomSweeneyRedHat commented on #2424
@srcshelton thanks for the issue report.  Any chance you could try Podman v2.0.0 or v2.0.1?  I don't recall what versions of Buildah went into the 2.0.0.RC# variants, but I do know that we bumped it at one point from 1.14.9 to 1.15-dev.  The latest release of Buildah 1.15.0 which went into Podman v2.0.0 should have the latest bits and hopefully works.  Way past quitting time here and I'm losing th

[2020-06-26 01:40] srcshelton commented on #2424
Hadn’t realised there was a v2.0.1, TBH - I’ll build that in the morning!

libpod-2.0.0_rc6/buildah-1.15.0-dev worked, libpod-2.0.0_rc7/buildah-1.15.0 & libpod-2.0.0_rc7/buildah-1.15.0 don’t appear to.

But I’m afraid that this does look to be an issue with buildah-1.15.0 😔

[2020-06-26 08:05] klaphi opened #2425 "Unable to install buildah on Amazon Linux 2"
**Description**

I tried to install buildah on a fresh ec2 instance with Amazon Linux 2 by following the official documentation (https://github.com/containers/buildah/blob/master/install.md).

Installing buildah rpm fails with a missing dependency on crun.

**Steps to reproduce the issue:**
1. Start a fresh ec2 instance with amazon linux 2
2. Follow install guide https://github.com/containers/buil

[2020-06-26 10:05] rhatdan commented on #2425
Where is this buildah rpm from?  There is no crun in RHEL7, so it should not exist in a RHEL repo

[2020-06-26 12:31] srcshelton commented on #2424
I've just upgraded to libpod-2.0.1 and can confirm that it is also affected by the same issue:

[code]

[2020-06-26 14:46] klaphi commented on #2425
I dont know, but I think its related to the buildah repo.

[code]

[2020-06-26 15:06] TomSweeneyRedHat commented on #2424
@srcshelton thanks for the tests and retests.  Drats about it not being cured in the latest.  I've been pulled into other fires this morning, will take a look a bit after lunch today.

[2020-06-26 16:55] x80486 opened #2426 "error creating build container: error obtaining default signature policy: open /etc/containers/policy.json"
## Description

I installed `podman 1.9.3` and `buildah 1.15.0` from Nix; everything works great so far. I then installed `podman-compose 0.1.5` and I can't seem to be able to use any of the `docker-compose.yml` files that I have in any project. It always fails with this error: `Error: error creating build container: error obtaining default signature policy: open /etc/containers/policy.json: no su

[2020-06-26 17:46] TomSweeneyRedHat commented on #2426
First off, love you icon!
Thanks for the issue report too.  Actually I don't believe this is a Buildah or a Podman issue, it's most likely an issue with containers/image.  However, we'll keep the issue here until we can dredge up the location.

@QiWang19 can you take a look please?

@mheon or @mtrmac any thoughts?

[2020-06-26 17:59] mtrmac commented on #2426
Per-user `policy.json` requires c/image ≥ 5.5.0, which is not available in Podman 1.9.3 AFAICS; Podman 2 would be required.

As a possible workaround, several, but not all, Podman commands have an option to manually specify the path to `policy.json`; but even if that option were available for all the commands, passing that option through other software might be even more difficult.

[2020-06-26 18:57] TomSweeneyRedHat commented on #2424
I did a recent change here:  https://github.com/openshift/imagebuilder/blob/07ab54df11165c27c2c78a85a093d1198d3c030b/internals.go#L106
and I think that might have been too ambitious in chopping out args.  Will see if can fix that up.

[2020-06-26 18:57] TomSweeneyRedHat commented on #2424
@srcshelton ^^

[2020-06-26 21:16] srcshelton commented on #2424
I think you're right: https://github.com/openshift/imagebuilder/blob/07ab54df11165c27c2c78a85a093d1198d3c030b/internals.go#L108 looks as if it keeps the first two args, and discards the remainder - so `var="a=1 b=2"` is mapped to `var="a"` as I've observed.

[2020-06-26 21:29] srcshelton commented on #2424
Something along the lines of:
[code]

[2020-06-26 23:19] TomSweeneyRedHat commented on #2424
@srcshelton even simpler  I just changed:

[code]
to
[code]
Which tells golang to create two elements in val, everything to the left of the first equal sign in val[0], everything to the right of it in val[1].  Quick fix, took me about 3 times longer to write the regression test.

[2020-06-27 00:37] srcshelton commented on #2424
Nice 👍

[2020-06-27 17:25] x80486 commented on #2426
Thank you, @TomSweeneyRedHat! :wave: ...I imagined it was some setting(s) I was missing :man_shrugging:

OK, @mtrmac, if that's the case, I can wait for the Nix package to be updated. I don't have any rush; I'm just trying to see if I can replace the Docker machinery altogether with the `podman[-compose]` + `buildah` combination.

All of this looks great so far, you folks have been doing a phenome

[2020-06-27 18:03] TomSweeneyRedHat commented on #2426
Thx @x80486 , closing

[2020-06-29 00:47] #2426 closed

[2020-06-29 17:23] rhatdan commented on #2423
Ok that is a bug.

[2020-07-01 03:13] x80486 commented on #2426
I just updated to version `2.0.1` and now I'm getting:

[code]

Is this a know issue or something specific to my environment/operating system? I searched for this error but there is not much information about it, and the only "relevant" issue that I see here is closed. Any clues?

[2020-07-01 07:55] gregoryboue commented on #2382
Any news about this ?

[2020-07-01 13:02] rhatdan commented on #2382
Are you still able to reproduce with the latest upstream including newer versions of fuse-overlayfs and crun?

[2020-07-01 14:16] TomSweeneyRedHat commented on #2426
@x80486 That looks like something is wonky in your cgroups or systemd setup.  What OS are you on and are you using runc (cgroup v1) or crun (cgroup v2)?   @vrothberg or @giuseppe any thoughts?

[2020-07-01 14:22] x80486 commented on #2426
I think you are right; I didn't know if this was an issue indeed with `podman` or not, but judging for the results on the search, it hasn't happened to many people.

I'm using Arch Linux (LTS kernel) `Linux uplink 5.4.48-1-lts #1 SMP Mon, 22 Jun 2020 08:10:21 +0000 x86_64 GNU/Linux`.

[2020-07-01 17:48] TomSweeneyRedHat commented on #2425
@lsm5 any thoughts at all?

[2020-07-01 21:53] gregoryboue commented on #2382
@rhatdan you mean with this image :  https://quay.io/repository/buildah/stable:latest ?

[2020-07-02 09:52] vrothberg commented on #2426
The error comes from pulling `acme/erlang-cowboy:latest`. The image doesn't specify a registry, so podman is going through the "unqualified search registries" in `/etc/containers/registries.conf` and tries to pull it from them - first successful pull would win. However, none of the pulls succeeded as the image a) doesn't exist or b) requires authentication where no or the wrong credentials were se

[2020-07-02 11:31] x80486 commented on #2426
I see an error before that, but the image you were referring to is the actual one that's getting built; this is my `docker-compose.yml` file:

[code]

...and this is the `Dockerfile` being referenced:

[code]

I know that it works because I used to use it with Docker before; also, if I use the `buildah` + `podman` combination it works also (commands on the top of the `Dockerfile`).

It just doesn'

[2020-07-02 11:38] vrothberg commented on #2426
Does a `podman pull acme/erlang-cowboy:latest` work?

[2020-07-02 11:44] x80486 commented on #2426
No it does not; this is the result of a full run by using `buildah` and `podman` (notice that `podman pull` fails, but `podman `run` does not :man_shrugging:):

[code]

[2020-07-02 11:49] vrothberg commented on #2426
Thanks! This looks like a regression in `podman run` not using the right credentials. @x80486, could you open a new issue including the reproducer and last comment?

Cc: @baude @mheon @rhatdan

[2020-07-02 12:06] x80486 opened #2431 "podman run MIGHT not be using the right credentials"
## Description

While using `podman-compose` or just `podman` to build an image it finally fails trying to pull the created image.

## Steps to reproduce the issue (see #2426):

[code]

---

This is how my `registries.conf` file looks like:

[code]

## Describe the results you received:

`podman` fails to run/pull the image.

## Describe the results you expected:

To be able to find and pull the i

[2020-07-02 12:06] x80486 commented on #2426
Alright...see #2431. Thanks for the help! :1st_place_medal:

[2020-07-02 13:19] rhatdan commented on #2382
Yes

[2020-07-02 14:52] gregoryboue commented on #2382
@rhatdan , I tried with the latest :

+ buildah version
Version:         1.15.0
Go Version:      go1.14.3
Image Spec:      1.0.1-dev
Runtime Spec:    1.0.2-dev
CNI Spec:        0.4.0
libcni Version:
image Version:   5.5.1
Git Commit:
Built:           Thu Jan  1 00:00:00 1970
OS/Arch:         linux/amd64

I had exactly the same error : *error initializing source containers-storage:ubuntu-working-co

[2020-07-02 14:54] rhatdan commented on #2382
What is the podman command you are using to launch the container?

[2020-07-02 15:11] gregoryboue commented on #2382
The container is hosted on kubernetes cluster (aks) i instantiate it with jenkins kubernetes plugin :

[code]

[2020-07-02 19:55] rhatdan commented on #2382
If you run it with a Podman command does it work?

[2020-07-02 19:56] rhatdan commented on #2382
You don't have /dev/fuse so the fuse-overlay driver will not work.

[2020-07-02 20:45] jeffh-id commented on #2127
Is a fix planned or is the issue still being assessed? Would be helpful to know for planning purposes. Thx!

[2020-07-02 22:52] gregoryboue commented on #2382
@rhatdan ok so i have to mount /dev/fuse on hostPath volume ?

I am wondering about the following fact : i use above kubernetes configuration for a lot of container build, it's work very well without this mount and with overlay driver storage.
I only have the issue with the build of ubuntu16 image and image which inherit of it, so is what i'm a little confusing..

[2020-07-03 04:04] tsailiming commented on #2266
Having the same issue with Nexus 3.24 OSS. Workaround is `--format=docker`.

[2020-07-03 09:06] rhatdan commented on #2127
The best way to get this fixed would be to open a PR against containers/storage to add the xattr support.

[2020-07-03 09:17] rhatdan commented on #2127
Opened https://github.com/containers/storage/pull/657 to save ima content into the container.

[2020-07-04 15:01] yann-soubeyrand commented on #2347
I believe this issue has been fixed in https://github.com/containers/buildah/commit/cc4586890f33bcb1a1f2ce4c6c281c6119cdbf5f which upgrades github.com/containers/storage from v1.19.2 to v1.20.1 (which includes the fix https://github.com/containers/storage/commit/20dbd4e2eb5ec14200e2ebff0c46fa66f477073c).

[2020-07-04 15:01] #2347 closed

[2020-07-05 16:03] graywolf commented on #1920
Would like to add that I've hit this as well. I have very simple reproduction example:

[code]

In my use case there seems to be trivial work around, and that is changing `Dockerfile.b` into

[code]

that leads to expected

[code]

[2020-07-06 13:53] rhatdan commented on #2382
If you are running a privileged container, then you should not need to use /dev/fuse, /dev/fuse is only their to enable fuse-overlayfs to be used within the container.  I think you also need to mount a volume at /var/lib/containers within the buildah container.

[2020-07-07 07:43] mjml opened #2449 "Feature Request: "record" a Dockerfile by using sequential buildah run/copy/config etc commands"
When you author a long Dockerfile/Containerfile, it is increasingly likely that you make mistakes or receive errors from installation tooling during the integration process. Debugging these files can be time consuming since the build must pull GB of data sequentially from various sources.

The proposal is to have a command like `buildah record start`. Every subsequent Dockerfile-compatible command

[2020-07-07 10:53] rhatdan commented on #2449
@nalind WDYT?

I guess we could launch a shell that would record all buildah commands and then generate a Containerfile, when the shell exits.

[2020-07-07 16:45] mjml commented on #2449
I was thinking that instead of a shell or repl, buildah would simply check for the existence of a private log file when it runs. If the command is a Dockerfile-compatible command, if it is successful, and if the logfile exists, append the command to that file with the appropriate syntax. The `buildah record stop` and `buildah record abort` commands would simply delete the log file and/or copy it t

[2020-07-07 18:20] rhatdan commented on #2449
The best way to get this implemented would be to open a PR.  :^)
The issue with a log file somewhere, is that you can only do one at a time.  Which might be ok.  A second `buildah record start` would fail.

[2020-07-10 08:18] pixdrift commented on #2425
Looks to be a specific issue with this release of the package that @lsm5 has addressed here:
https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/buildah

The '-2' version of the package built cleanly, and is available here:
https://build.opensuse.org/package/binaries/devel:kubic:libcontainers:stable/buildah/CentOS_7

Clearing the yum cache in the Amazon deployed image and inst

[2020-07-10 08:24] #2425 closed

[2020-07-10 08:25] klaphi commented on #2425
Problem is solved ! Installation of podman, skopeo, buildah works fine now without having issues.

[2020-07-11 20:54] mrinaldhillon opened #2458 "Python sdk , please recommend golang to python library"
I am using python shell API to execute buildah binary . But it is not very efficient. Could you please recommend any go2py library that I can use to consume buildah API from python code.

[2020-07-12 03:58] mrinaldhillon opened #2459 "buildah run/bud --isolation=chroot $c <cmd> fails with single uidmap for unprivileged user"
buildah run/bud **fails with chroot isolation** if user is not configured in subuid/subgid map files. It also ***fails with oci isolation and crun runtime**. However **succeeds with rootless isolation with crun runtime**. Is this expected ?

Fail: isolation=chroot
Fail: isolation=oci runtime=crun
Success: isolation=rootless runtime=crun

**Steps to reproduce the issue:**
1. remove user entries fro

[2020-07-13 20:12] rhatdan commented on #2458
We don't have such a thing, but if the community wanted to add this, it would be accepted.

There is an API for Podman build that might satisfy you needs.

[2020-07-13 23:15] #2458 closed

[2020-07-13 23:28] mrinaldhillon opened #2464 "Alternative path for storage.conf , containers.conf"
buildah expects storage.conf, container.conf from /use/share/containers, /etc/containers, $HOME/.config/containers and XDG_CONFIG_HOME. Can we add an option to specify alternate path to user configs from command line or through environment variables . This will be useful for automated  builds as unprivileged user.

CONTAINERS_CONFIG_DIR=/mydir
Or
buildah/podman  --containers-conf=/mydir

[2020-07-14 07:18] Xnyle commented on #2367
Any news on this?
I'm creating multiarch images in a loop and the only known way to do that right now (assuming my builds are bases on another multiarch manifest) is this:

buildah rmi --all --force
IMAGE_ID=$(buildah pull --override-arch=$BUILDARCH alpine:latest)
container=$(buildah from $IMAGE_ID)
buildah config --arch $BUILDARCH $container

The --arch $BUILDARCH actually does nothing as the wro

[2020-07-14 13:58] mrinaldhillon commented on #2459
@rhatdan could you please comment on this. Thanks

[2020-07-14 18:08] rhatdan commented on #2459
These are working for me with the overlay driver?  Why are you using the VFS Driver?

[2020-07-14 18:24] rhatdan commented on #2459
Very interesting.  I don't know why. @giuseppe @nalind Any ideas?

[2020-07-14 18:25] rhatdan commented on #2459
I got similar errors with Overlay.

[2020-07-14 20:04] rhatdan commented on #2464
CONTAINERS_CONF=/mydir works now, but only for containers.conf, not storage.conf, registries.conf ...

I would guess XDG_CONFIG_DIR, would be the way to handle this, but I don't believe we do this now.

[2020-07-14 20:05] rhatdan commented on #2464
HOME=/mydir podman ...
Would also cause us to look for the files in /mydir/.config/containers/*

[2020-07-14 20:57] giuseppe commented on #2459
the error from the OCI runtime:
[code]

happens because buildah specifies gid=5 in the mount options, but there is no gid=5 with a single mapping.  Podman handles this case and drops the gid=5 if there are not enough mappings.

The other issue with setgroups happens because the namespace was configured with a single mapping writing directly to `/proc/$PID/*id_map` and for doing that it is necessar

[2020-07-14 21:12] giuseppe commented on #2459
PR here: https://github.com/containers/buildah/pull/2468

The issue with the runtime instead should be solved using `--isolation=rootless`

[2020-07-14 21:43] mrinaldhillon commented on #2464
Will HOME=/mydir pickup storage.conf as well?

[2020-07-14 22:40] grantral opened #2469 "[FEATURE REQUEST] Skip unneeded stages from multi-stages"
**Description**

docker/cli#1134

**Steps to reproduce the issue:**
1. `buildah bud --target backend`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[docker/cli#1134 (comment)](https://github.com/docker/cli/issues/1134#issuecomment-406449342)
[code]

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Ou

[2020-07-15 12:10] rhatdan commented on #2464
Yes, I believe it will.

[2020-07-15 12:11] rhatdan commented on #2464
in storage/store.go
[code]

[2020-07-16 02:34] #2464 closed

[2020-07-16 12:46] edsantiago opened #2473 "pull-related tests: add retry"
CI often flakes because registries (docker.io, fedora, quay) are unreliable. See, e.g., #2471

This is a placeholder for Ed to try to find some simple unobtrusive way to detect registry flakes and retry them.

[2020-07-16 15:03] sshnaidm opened #2475 "Buildah doesn't create WORKDIR directory when building container from Dockerfile"
**Description**
buildah didn't create automatically WORKDIR directory in container while building from Dockerfile
It seems as a regression, because it was creating it before.

**Steps to reproduce the issue:**
1. Dockerfile:
[code]

2. `sudo podman build -t test .`
3. `sudo podman run --rm -it --entrypoint sh test`

**Describe the results you received:**
The error appears:
`Error: chdir: No such f

[2020-07-16 15:19] lfarkas opened #2476 "building image with a lots of files to copy is VERY slow"
I opened this issue half a year ago:
https://github.com/containers/podman/issues/4905
unfortunately it seems no one really cares about it and push it to buildah (even if it's happened during podman build).

it seems that a simple COPY command with a lots of files (eg: 30.000 in case of a laravel/php project is small one) it takes about a half an hour. which is a few 100 times slower the in earlier

[2020-07-16 15:50] rhatdan commented on #2475
Does this work fine in Docker?
What version of Buildah worked and what version stopped working?

[2020-07-16 15:53] rhatdan commented on #2475
This is working for me?

[code]

[2020-07-16 16:01] sshnaidm commented on #2475
@rhatdan I build with `podman`, maybe it matters?
I can't try all podman versions, but this one pasted above doesn't work and this one below works fine for me:

[code]

[2020-07-16 16:16] rhatdan commented on #2476
Do you you have a .dockerignore file?

[2020-07-16 16:48] rhatdan commented on #2475
Podman build 2.1.0-dev is working for me?
[code]
Does my Containerfile work for  you?

cat /tmp/test/Containerfile
from alpine
workdir /test
RUN ls -ld /test

[2020-07-16 16:50] rhatdan commented on #2475
I test with your Dockerfile on fedora 32 and it works fine.

[2020-07-16 16:51] rhatdan commented on #2475
Maybe this is a Rawhide thing?

[2020-07-16 16:53] rhatdan commented on #2475
I am using a newer fuse-overlayfs then you are.
fuse-overlayfs-1.1.1-1.fc32.x86_64

[2020-07-16 17:21] lfarkas commented on #2476
yes. with this:
[code]

[2020-07-16 17:51] sshnaidm commented on #2475
Your file actually works for me too. But if I remove `RUN ls -ld /test` it stops to work.
[code]
And if I move `WORKDIR /work` in original Dockerfile before last `RUN` command, it works!

[code]

[2020-07-16 21:21] rhatdan commented on #2475
Ok so the workdir is only created if Buildah runs a container on it.

[2020-07-16 21:22] rhatdan commented on #2475
@ashley-cui Could you take a look at this.  The Workdir function in Buildah should be making sure that the directory exists in the image.

[2020-07-16 22:42] mrinaldhillon commented on #2459
@giuseppe @rhatdan

Will this enable podman build to run with single uid mapping and chroot isolation without need of runc or crun?

[2020-07-17 03:12] mrinaldhillon opened #2478 "buildah run --net=none bind mounts /etc/hosts"
**Description**

I need to add static host map entries to /etc/hosts during build. But buildah mounts generated file even if network is set to none. Changes to this file also don't persist.

**Steps to reproduce the issue:**
1. run buildah with --net=none
2. make changes /etc/hosts and exit
3. mount the container, /etc/hosts file is empty

**Describe the results you received:**
[code]

**Describe

[2020-07-17 07:11] giuseppe commented on #2459
yes, you should be able to use podman build without an OCI runtime

[2020-07-17 07:12] giuseppe commented on #2459
I think we can close the issue since the PR was merged

[2020-07-17 07:12] #2459 closed

[2020-07-17 10:15] #2473 closed

[2020-07-17 13:46] rhatdan commented on #2478
@TomSweeneyRedHat PTAL

[2020-07-19 17:05] cryobry opened #2481 "buildah run (from scratch): executable file not found in $PATH: No such file or directory"
**Description**

I am creating a simple container from scratch, following: https://www.projectatomic.io/blog/2017/08/buildah-getting-fit/

However, I cannot get anything to execute with `buildah run` in a container built from scratch (everything works as expected when starting with an existing image).

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Descr

[2020-07-20 14:33] rhatdan commented on #2481
This worked when I ran it for root, (Eliminating the buildah unshare calls).

[2020-07-20 14:53] rhatdan commented on #2481
@edsantiago PTAL.  I am trying to get this to work, with something like:

[code]
But failing miserably.

@cryobry I believe the issue is that
The mount point here:
mnt=$(buildah unshare buildah mount "$cnt")
Will not survive after buildah unshare finishes, Since the mount namespace is created and destroyed in the call to buildah unshare.
The next buildah unshare is just writing onto the upper dire

[2020-07-20 16:37] edsantiago commented on #2481
@rhatdan first things first: simplify.
[code]
That works fine. But before we go any further, we need to `export` it because it is referenced in a subshell. Let's also just stick with the basics, try just the unshare/mount:
[code]
(same thing with `buildah unshare buildah mount $cnt`, FWIW).

"error unmounting" surprised me, so I considered the possibility that the `mount` was succeeding but then s

[2020-07-20 17:28] cryobry commented on #2481
Thanks for the hints, now this is successful:

[code]

Feel free to close @rhatdan. I'm satisfied running everything inside `buildah unshare` even though it's a bit messy.

[2020-07-20 19:45] rhatdan commented on #2481
Excellent, although I like this as an example.  Running buildah as root would be a lot easier.
How about something like this which would work both as root and non root, and it is easier to understand.

[code]

[2020-07-20 19:46] #2481 closed

[2020-07-21 13:56] astronouth7303 commented on #2367
aiui, most container clients won't pull non-compatible images unless specifically told to.

I think generally, those of us doing multi-arch shenanigans don't mind passing in the extra arg to `pull` and `from`.

We just want the flag so we can more predictably and easily get the image we're looking for.

[2020-07-22 20:44] nnachefski commented on #2301
closing in lieu of other issue opened

[2020-07-22 20:44] #2301 closed

[2020-07-24 03:38] mrinaldhillon commented on #2459
@rhatdan can we get a minor release with this fix?

[2020-07-24 12:43] rhatdan commented on #2459
@TomSweeneyRedHat Lets cut a new release.

[2020-07-24 18:02] TomSweeneyRedHat commented on #2459
@rhatdan 1.15.1 against master I presume?

[2020-07-24 19:05] nalind commented on #2459
I think making a 1.15.1 would involve cherry-picking the desired fix onto `release-1.15` and cutting the release from the branch.

[2020-07-25 02:16] astronouth7303 opened #2491 "buildah container in podman pod?"
Is it possible to create a buildah container (`buildah from`) that exists inside of (or at least is networked with) a podman pod?

[2020-07-25 08:17] yangfeiyu20102011 commented on #2127
With the patch in [containers/storage#657](https://github.com/containers/storage/pull/657) , I found that there is something wrong with EA.

[code]

File `b` which will be added to /home/b in the image, the EA as follows:

[code]

Debug info:

[code]

**/var/lib/containers/storage/overlay/5f27c9b971244fa0ea044fbb8187c3ecd262c986a1c56a7dfc7e4c5b755d3183/diff/home/b** should have security. and user.

[2020-07-25 10:40] rhatdan commented on #2459
If we have no new features, then we can do this. Also do we want these fixes in RHEL8.3?
If there are new features we should cut 1.16.0 And RHEL8.3.1 will get the new version.

[2020-07-25 10:55] rhatdan commented on #2127
Is storage writing them as well as reading them?

[2020-07-25 11:22] rhatdan commented on #2491
You should be able to do this.
I would suggest using quay.io/buildah/stable.  This image is configured to run within a locked down container.

[2020-07-25 18:33] TomSweeneyRedHat commented on #2491
If you play around with it and get it working to your satisfaction, a little blog post for buildah.io would be gratefully accepted.  If you've problems or more detailed questions along the way, please holler!

[2020-07-27 01:24] yangfeiyu20102011 commented on #2127
I use the build-using-dockerfile cmd, it reads them and then writes them.

[2020-07-27 08:02] sebastienhasa commented on #2476
Same problème here.

I try to copy, inside an image, a local copy of the branch 9.0 of OpenUpgrade.
(https://github.com/OCA/OpenUpgrade)

My .dockerignore is:

[code]

[2020-07-27 14:16] rhatdan commented on #2127
@TomSweeneyRedHat PTAL

[2020-07-27 19:33] buckaroogeek opened #2494 "buildah manifest inspect returns different results than podman manifest inspect"
**Description**

I am experimenting with using buildah to create multiarch images (using code shared by @nalind on youtube). With a multiarch manifest in a local repository, I would expect
[code]
to be identical to
[code]

**Steps to reproduce the issue:**
1. buildah manifest inspect 8e80b676c19d (for example)
2. podman manifest inspect 8e80b676c19d  (same image)
3. compare result (please see belo

[2020-07-27 20:49] rhatdan commented on #2494
@QiWang19 PTAL

[2020-07-27 22:00] QiWang19 commented on #2494
Are you expecting podman manifest returning the `error resolving image names` like buildah because the images have same IDs? Is this is a podman issue?

If this is a buildah issue, I avoid the error by manifest inspect the image name instead of using the id. But buildah should support resolving the id.

[2020-07-27 22:09] buckaroogeek commented on #2494
@QiWang19 - I would expect both podman and buildah to return the same result. And my preference would be for the podman result (ie display the manifest). Repositories will likely have the same image ID on multiple images if tags are used. Tag 'latest' is identical since the most recent version of the container is 2.2.8.  Parenthetically I am going to drop 'latest' but there may well be use cases f

[2020-07-27 22:34] buckaroogeek commented on #2494
@QiWang19 - based on a couple of experiments, I would offer that 'buildah manifest inspect' is more strict than 'podman manifest inspect'.  For example (using the repo list in the original post)
[code]
but I get the manifest if I do
[code]
Would it be better for both buildah and podman to work the same way when doing a manifest inspect?

[2020-07-28 15:28] aoikonomopoulos opened #2496 "ARG does not get expanded in a COPY --from directive"
**Description**
This seems pretty similar to #2192; With the Dockerfile

[code]

`buildah bud` command fails with:

[code]
whereas it works when using `docker build`.

**Steps to reproduce the issue:**
1. Create the Dockerfile above
2. Run the command above, substituting (arbitrary) existing image names

**Describe the results you received:**

`toolchain_name` not expanded.

**Describe the results

[2020-07-29 09:48] aoikonomopoulos commented on #2496
AFAICT, the relevant code in imagebuilder (updated in the commit resolving #2192, i.e. `COPY --chown=` handling) is not executed at all in this testcase. Instead, it looks like we end up in https://github.com/containers/buildah/blob/03d782c011f18e4062afa2312ce0d43659f6b7f7/imagebuildah/executor.go#L491 which has a TODO about doing ARG expansion (this goes back to commit 391a5bea0978beaa79a5582c87f

[2020-07-29 09:49] ibotty commented on #1092
Maybe that might help in narrowing it down.  This happened on a debian system when multiple processes pulled the same image.  When only one process pulled it, everything worked alright.

[2020-07-30 08:38] doc-olliday commented on #2224
Hi,
obviously we discover the same problem when using `podman pull`

[code]

The image is hosted on an internal registry, therefore we assume no network issues.
TMP-dir has sufficient space:
[code]
The problem doesn't occur always with the same image and same worker node, but rather occasionally with different images and worker nodes.

[code]
[code]
Might there be the same root cause or should we

[2020-07-30 13:56] rhatdan commented on #2224
Podman and Buildah use the same underlying library containers/image and the issue could very well be in there.

[2020-07-31 17:12] ironknight78 commented on #2391
Hi @TomSweeneyRedHat ! I'm new to OSS community and I'd like to help #investigate this! Can you point me in the right direction?

[2020-07-31 18:34] TomSweeneyRedHat commented on #2391
Hola @ironknight78 y bienvenido!  The first thing you'll need to do is setup your development environment.  I'm not sure if you've done that or not for other GitHub projects, so I'll point you at the [Building from scratch](https://github.com/containers/buildah/blob/master/install.md#building-from-scratch) instructions.  However, the runc can be either runc or crun with a preference for crun these

[2020-07-31 19:14] ironknight78 commented on #2391
Hey @TomSweeneyRedHat !! :D awesome, thank you for the warm welcome!! I'll start investigating this right away.

[2020-07-31 23:00] ironknight78 commented on #2391
Nice, I got the dev environment all set and ready to go, I'll start digging into the problem now :)

`ironknight78@kube-devel:~/buildah/src/github.com/containers/buildah$ buildah images
Hey, what's up Tom.
REPOSITORY   TAG   IMAGE ID   CREATED   SIZE
`

[2020-08-01 19:02] mtrmac commented on #2224
Hum, that’s concerning. Can you narrow it down to a set of images, or possibly a probability? Tracking down a concurrency bug in decompression is going to be ugly, especially without a reproducer.

If you do get a reproducer (even if only statistical, i.e. “this fails in 10% of cases” implies 1000 tries is probably enough to validate), it would be interesting to try replacing the use of `pgzip` wi

[2020-08-02 00:43] jamesregis opened #2504 "Unable to build container in container with storage vfs"
**Description**

**Steps to reproduce the issue:**
1. Deploy AWX in docker container
2. Install podman (with dnf install)
3. clone https://github.com/openshift/golang-ex
4. try to build golang-ex

**Describe the results you received:**

I have a permission error :

[code]

**Describe the results you expected:**
The container should be build

**Output of `rpm -q buildah` or `apt list buildah`:**

[

[2020-08-02 01:00] jpic commented on #2383
Hi all,

My implementation is confirmed to work on different projects, however, the time taken to commit each layer is pretty long.

Am I really using the same API buildah bud uses when building Dockerfile ?

Meanwhile, is it going to be faster with btrfs or zfs or something else anyway ?

Trying to fight sluggyness of this feature

Thank you very much

[2020-08-02 03:44] ironknight78 commented on #2391
Sir, may I call #dibs on this issue? I think I'm getting close.

[2020-08-02 12:00] rhatdan commented on #2504
This worked for me with buildah bud
[code]

[2020-08-02 12:01] rhatdan commented on #2504
Also worked with podman
[code]

[2020-08-02 12:02] rhatdan commented on #2391
Go for it.

[2020-08-02 12:07] jamesregis commented on #2504
@rhatdan Thank you.
Are you building from AWX tasks container or another container ?

[2020-08-02 12:20] rhatdan commented on #2504
Well I did not use the vfs storage, which would be one difference, that I am just now noticing?  I use overlay (fuse-overlayfs to be exact)
Any reason  you are using vfs?

Are you doing this build as root or non root?  I did my tests as non-root.

I also did
$ git clone git@github.com:openshift/golang-ex.git
$ cd golang-ex
$ buildah bud  -t registry.home.lan/dev/golang-ex .

[2020-08-02 12:51] jamesregis commented on #2504
I am using vfs, because with overlay my playbook failed.
I am root on my container :+1:

[2020-08-02 12:52] jamesregis commented on #2504
I can see I have no user namespace available :

[code]

[2020-08-03 00:20] jamesregis commented on #2504
With overlay I've got this error :

`[root@64ec7f5be887 golang-ex]# podman build . -t golang-ex
Error: could not get runtime: 'overlay' is not supported over overlayfs, a mount_program is required: backing file system is unsupported for this graph driver
[root@64ec7f5be887 golang-ex]#
`

[2020-08-03 12:57] rhatdan commented on #2504
You need to install fuse-overlay on your system and then reset your storage.
This will allow you to use rootless overlay.

[2020-08-03 12:58] rhatdan commented on #2504
rpm -q fuse-overlayfs
fuse-overlayfs-1.1.2-1.fc32.x86_64

[2020-08-03 14:07] jamesregis commented on #2504
@rhatdan : can you run this command and show me the result :

`sysctl -A | grep namespacesysctl -A | grep namespace`

[2020-08-03 14:16] TomSweeneyRedHat commented on #2391
Indeed and assigned.  You're stuck now @ironknight78 !

[2020-08-03 17:13] rhatdan commented on #2504
[code]

[2020-08-03 17:14] rhatdan commented on #2504
I am on Fedora 32

[2020-08-04 13:26] rhatdan commented on #1864
Well this Issue seems to have never led to any thing in the upstream.  What should we do with it?  Should we implement a buildah/podman specific change?

[2020-08-04 13:28] rhatdan commented on #1469
Going through the list of old issues.  @bachp is this still something you are interested in?  @TomSweeneyRedHat @ipbabble Is this still something we want?

[2020-08-04 13:29] rhatdan commented on #1895
Since the tuturial was updated 9 months ago, and no update on this issue, I am closing. If I mistaken please reopen.

[2020-08-04 13:29] #1895 closed

[2020-08-04 13:30] vrothberg commented on #1864
Yes. I think it wasn't implemented due to a lack of time and urgency.

[2020-08-04 13:30] rhatdan commented on #1927
Since this is a shell escaping issue, closing.

[2020-08-04 13:30] #1927 closed

[2020-08-04 13:31] rhatdan commented on #1906
I believe this is fixed in current buildah, reopen if I am mistaken

[2020-08-04 13:31] #1906 closed

[2020-08-04 13:32] rhatdan commented on #1590
I guess we are still waiting for community to work on this?

[2020-08-04 13:33] rhatdan commented on #1888
@nalind @giuseppe @TomSweeneyRedHat @jmccormick2001 @vrothberg Not sure what we do with this one?

[2020-08-04 13:35] rhatdan commented on #1872
Fixed in container-selinux.

[2020-08-04 13:35] #1872 closed

[2020-08-04 13:36] rhatdan commented on #1754
I don't believe we have this issue any longer, reopen if I am mistaken.

[2020-08-04 13:36] #1754 closed

[2020-08-04 13:37] rhatdan commented on #1830
I don't believe we have this issue any longer, reopen if I am mistaken.

[2020-08-04 13:37] #1830 closed

[2020-08-04 13:37] rhatdan commented on #1859
I don't believe we have this issue any longer, reopen if I am mistaken.

[2020-08-04 13:37] #1859 closed

[2020-08-04 13:38] rhatdan commented on #1835
I don't believe we have this issue any longer, reopen if I am mistaken.

[2020-08-04 13:38] #1835 closed

[2020-08-04 13:38] rhatdan commented on #1831
I don't believe we have this issue any longer, reopen if I am mistaken.

[2020-08-04 13:38] #1831 closed

[2020-08-04 14:03] TomSweeneyRedHat commented on #1469
Want yes.

[2020-08-04 14:16] lsm5 commented on #1817
I got distracted on this one. @AndydeCleyre @matpen does this issue persist with the latest buildah / newer Ubuntu?

[2020-08-04 14:18] lsm5 commented on #1700
sorry, really late on this one. @EricHripko hopefully you've used the OBS repos by now on a newer ubuntu (18.04 or newer). Are you still looking for ubuntu 16 packages?

[2020-08-04 14:19] lsm5 commented on #1837
@atefBB have you had the chance to move to a newer Ubuntu? Can we close this?

[2020-08-04 14:34] rhatdan commented on #1709
I believe this is fixed in master, reopen if I am mistaken.

[2020-08-04 14:34] #1709 closed

[2020-08-04 14:35] rhatdan commented on #1348
Since there has been no movement on this, I think we should close.  Unless someone from the community wants to pick this up, I don't see us implementing it.

[2020-08-04 14:35] #1348 closed

[2020-08-04 14:36] rhatdan commented on #1695
We recommend you do this with Podman,

[2020-08-04 14:36] #1695 closed

[2020-08-04 14:37] rhatdan commented on #1693
@TomSweeneyRedHat Did you ever work on this?

[2020-08-04 15:12] TomSweeneyRedHat commented on #1693
I'm not sure, I'll run it down today.

[2020-08-04 15:18] nalind commented on #1888
I attempted to add a conformance test for this, but I'm finding it difficult to reproduce at this point.  Attempting to use `tar` to archive a listening socket created by `nc -U -l` in order to get something we can ADD in a Dockerfile, tar skips it with a `tar: socket-item: socket ignored` message.  `docker build` from 19.03 ignores a socket in a build context with a `Can't add file /tmp/buildcont

[2020-08-04 15:35] debarshiray commented on #1864
It would still be nice to know have this, though.

[2020-08-04 15:39] nalind commented on #1864
#1917 did part of this, for building using the `buildah commit` command.  If we're talking about having podman version info show up in the `podman inspect` output for a container, that's not something we can fix here.

[2020-08-04 16:05] sseide opened #2507 "How to push image to registry with custom certs (e.g. minikube or minishift)"
**Description**

I am using buildah to build images from dockerfiles - these are stored inside buildah own local storage and needs to be pushed to a docker registry for further usage. When using Minikube or Minishift for local development it is not possible (afaik) to push images to their own registry because they use custom certificates for TLS.

"Normal" flow WITHOUT buildah:

* start Minikube /

[2020-08-04 16:29] EricHripko commented on #1700
This is no longer needed, thanks

[2020-08-04 16:29] #1700 closed

[2020-08-04 16:35] rhatdan commented on #1198
I am going to assume this has been fixed. Reopen if I am mistaken.

[2020-08-04 16:35] #1198 closed

[2020-08-04 16:39] rhatdan commented on #1216
@nalind @vrothberg @mtrmac A few year old issue, Do you think we should still work on this?

[2020-08-04 16:53] rhatdan commented on #1215
Looks to me like we always disablecompression by default in master.  Reopen if I am mistaken.

[2020-08-04 16:55] rhatdan commented on #1509
Since there has been no community response, and not much demand, I am going to close.  Reopen if I am mistaken.

[2020-08-04 16:55] #1509 closed

[2020-08-04 16:55] mtrmac commented on #1216
From a quick look it still seems to be an issue. As for how important it is, no idea.

[2020-08-04 16:57] rhatdan commented on #2041
@mraszplewicz Can we close this issue?

[2020-08-04 16:58] mtrmac commented on #1215
https://github.com/containers/buildah/blob/cd72e45f3f13e283a6be427d3ea198a52284145d/cmd/buildah/commit.go#L120 is still the default.

[2020-08-04 16:59] rhatdan commented on #2093
@vrothberg Wasn't the containers/image verify the arches loosened?

[2020-08-04 17:11] mraszplewicz commented on #2041
You can close it if you want. I really wanted to help, but my questions are still unanswered. The issue still exists.

I have switched back to building with docker build.

[2020-08-04 17:27] rhatdan commented on #2069
I believe we are all set on this one.  Reopen if I am mistaken.

[2020-08-04 17:27] #2069 closed

[2020-08-04 17:28] rhatdan commented on #2067
Fixed in master.

[2020-08-04 17:28] #2067 closed

[2020-08-04 17:30] rhatdan commented on #2244
Closing this for lack of input.  Reopen if you can provide more data.

[2020-08-04 17:30] #2244 closed

[2020-08-04 17:31] TomSweeneyRedHat commented on #2041
@rhatdan, let's not close this.  Hopefully we can around to it and take a look at some point in the future.

[2020-08-04 17:39] lsm5 commented on #1837
closing. @atefBB please re-open if need be.

[2020-08-04 17:39] #1837 closed

[2020-08-04 17:42] nalind commented on #1215
#1336 also set `--disable-compression` to `true` by default.  Is it getting overridden or turned off later?

[2020-08-04 17:49] mtrmac commented on #1215
@nalind Thanks, I missed that. Anyway, I think it’s up to you whether this should be kept open.

[2020-08-04 19:21] bachp commented on #1469
@rhatdan Yes I'm still interested. The main focus is still how to run buildah within an unprivileged docker container (if possible).

[2020-08-04 20:14] TomSweeneyRedHat commented on #2507
I've not played with pushing with certs for a bit, but just to verify, can you add `docker://` in front of you registry ala:
[code]
I don't think that will change things, but the registry in the past has been a bit flakey.  To verify, are you able to login with `buildah login` into the registry before pushing?

Then if you've docker installed, can you try pulling and pushing the image that way?

@

[2020-08-04 22:26] mtrmac commented on #2507
- This is not a place where we could act on MiniKube / MiniShift feature requests
- Overall, this seems a bit confused. AFAICS, `DOCKER_HOST`/`DOCKER_CERT_DIR`/`DOCKER_TLS_VERIFY` apply to connecting to the docker _daemon_, not to a _registry_. With Docker, registry certificates are read from hard-coded `/etc/docker/certs.d` (although there are several more ways the “disable TLS” flag can be set).

[2020-08-05 00:16] TomSweeneyRedHat commented on #2496
@aoikonomopoulos it is indeed sort of related to #2192, but the issue is at this line:

[2020-08-05 00:20] TomSweeneyRedHat commented on #2496
https://github.com/containers/buildah/blob/master/imagebuildah/stage_executor.go#L889

(Not sure how I managed to end the prior comment so quickly).  At this line we have the variable name ${toolchain_name} that has yet to be resolved.  We do that resolution down in the ImageBuilder code.  However, at this line in the stage_executor we're telling the code to look for the stage called `${toolchain_

[2020-08-05 00:47] jamesregis commented on #2504
I had to reinstall my server. I am now on Centos 8.2 and I will try to use fuse-overlayfs.

[2020-08-05 02:07] jamesregis commented on #2504
Hi @rhatdan,

I was able to compile golang-ex (with fuse-overlayfs) in my server :

`[root@server golang-ex]# podman build . -t golang-ex
STEP 1: FROM golang:1.11
Getting image source signatures
Copying blob 96465440c208 done
Copying blob 3a62db25bdbe done
Copying blob 16a3d8aca6cd done
Copying blob bbab4ec87ac4 done
Copying blob 2ea1f7804402 done
Copying blob 4ae16bd47783 done
Copying blob 8c47c6

[2020-08-05 07:34] vrothberg commented on #2093
Yes, that's working now :+1:

[2020-08-05 07:34] #2093 closed

[2020-08-05 07:53] doc-olliday commented on #2224
O.k. it's weird.
We've analyzed it and 90% of this error occurred on one worker node with one kind of image. To see, if the worker node is responsible for the problem, we disabled this node. Now, the problem occurs on another node with other image types (?!)
So, we're going on to investigate our infrastructure and image builds.

@mtrmac When you say replacing pgzip with gzip, can we do that on our

[2020-08-05 07:59] caemate commented on #1817
@lsm5 I just re-tested on Ubuntu 18.04 LTS with the [original instructions](https://github.com/containers/buildah/issues/1817#issue-484589556) and got the exact same error.

Furthermore, I noticed that the buildah version in the [PPA](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa) is `1.10.1`, uploaded one year ago, and which has not changed since this issue was open.

[2020-08-05 07:59] matpen commented on #1817
@lsm5 I just re-tested on Ubuntu 18.04 LTS with the [original instructions](https://github.com/containers/buildah/issues/1817#issue-484589556) and got the exact same error.

Furthermore, I noticed that the buildah version in the [PPA](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa) is `1.10.1`, uploaded one year ago, and which has not changed since this issue was open.

[2020-08-05 08:54] sseide commented on #2507
thanks for answers so far...

Using `docker://` in front does not change anything. Its the same certificate error message `x509: certificate signed by unknown authority`

And `builda login` with empty username/password (no auth needed there) gives following error - basically the same X509 one:
`
error authenticating creds for "192.168.99.100": error pinging docker registry 192.168.99.100: Get "htt

[2020-08-05 09:16] sseide commented on #2507
Running `openssl s_client -CAfile ~/.minishift/certs/ca.pem -connect 192.168.99.100:2376` can validate the certificate
[code]
Running `buildah --debug push --tls-verify=false my-image:dev 192.168.99.100:2376/my-image:dev`
[code]

[2020-08-05 11:36] jamesregis commented on #2504
This is my configuration :

                            +-------------------server+
                            |                         |
                            |                         |          containers
                            |   +----------awx_task   |             +
    I am trying to run      |   |                |    |             |
    podman in awx_task--------------+

[2020-08-05 12:02] lsm5 commented on #1817
@matpen So, the PPA is dead. I guess what I meant was do you see this issue with the latest buildah from OBS? If you do, then I guess we should re-include the devmapper dependency. @rhatdan wdyt?

[2020-08-05 14:06] ashley-cui commented on #2475
@rhatdan It looks like buildah bud works, but podman build doesn't. Would it still be a buildah workdir function issue?

[code]

[2020-08-05 14:08] rhatdan commented on #2061
Added pull request to update man pages.  Once these get merged, I will add similar to podman build man page.

[2020-08-05 14:11] rhatdan commented on #1215
Right, the very next line turns it off by default
	if iopts.disableCompression {
		compress = imagebuildah.Uncompressed
	}
And iopts.disableCompression is true by default for buildah bud and buildah commit, which is why I disabled this.
$ podman build --help | grep disable-compression
  -D, --disable-compression                        don't compress layers by default (default true)

[2020-08-05 14:11] #1215 closed

[2020-08-05 14:12] rhatdan commented on #2058
Since the PR is merged, this is no longer an issue.

[2020-08-05 14:12] #2058 closed

[2020-08-05 14:13] rhatdan commented on #2027
The podman issue is closed now with no reproducer, so closing here also.

[2020-08-05 14:13] #2027 closed

[2020-08-05 14:15] rhatdan commented on #2054
@QiWang19 Is this fixed now in podman build?  Will it read the local policy, I believe it does? Close if I am correct.

[2020-08-05 14:16] rhatdan commented on #2040
Are you still having this issue?  It seems to have been lost in the weeds.

[2020-08-05 14:17] rhatdan commented on #2107
Fixed in master.

[2020-08-05 14:17] #2107 closed

[2020-08-05 14:17] rhatdan commented on #1347
Fixed in master.

[2020-08-05 14:17] #1347 closed

[2020-08-05 14:17] TomSweeneyRedHat commented on #2475
@mheon, were you recently tweaking WORKDIR on the Podman side of things?

[2020-08-05 14:18] rhatdan commented on #2030
@edsantiago do you know if this is still an issue?

[2020-08-05 14:18] rhatdan commented on #2028
I believe this is fixed in current buildah, reopen if I am mistaken.

[2020-08-05 14:18] #2028 closed

[2020-08-05 14:20] rhatdan commented on #1983
I believe this is fixed by always masking over /sys/fs/selinux,  Reopen if I am mistaken.

[2020-08-05 14:20] #1983 closed

[2020-08-05 14:20] rhatdan commented on #1944
This is fixed in latest rhel8 content.

[2020-08-05 14:20] #1944 closed

[2020-08-05 14:21] rhatdan commented on #1802
@fins2  Is this still an issue?

[2020-08-05 14:22] rhatdan commented on #1865
@QiWang19 I believe this is fixed now, Reopen if I am mistaken.

[2020-08-05 14:22] #1865 closed

[2020-08-05 14:25] rhatdan commented on #1991
@edsantiago I believe this is fixed, I was not able to recreate it.  Reopen if I am mistaken.

[2020-08-05 14:27] rhatdan commented on #1981
I believe the documentation is good now, reopen if I am mistaken.

[2020-08-05 14:27] #1981 closed

[2020-08-05 14:28] rhatdan commented on #1973
@TidyData @TomSweeneyRedHat Is this fixed now?

[2020-08-05 14:29] rhatdan commented on #1452
I believe we can do this now, reopen if I am mistaken.

[2020-08-05 14:31] rhatdan commented on #1961
I don't see docker build --init?
I do see docker run --init.

Podman run --init exists as well?

[2020-08-05 14:32] hendrikhalkow commented on #1452
So how do we do this?

[2020-08-05 14:32] #1934 closed

[2020-08-05 14:33] rhatdan commented on #1681
This PR seems to be frozen in time...

[2020-08-05 14:35] rhatdan commented on #2251
Seems like this is answered,  Reopen if more information is necessary or not documented properly.

[2020-08-05 14:35] #2251 closed

[2020-08-05 14:36] rhatdan commented on #2048
Reopen if this happens again.

[2020-08-05 14:36] #2048 closed

[2020-08-05 14:37] rhatdan commented on #2090
Some progress by @nalind is happening.

[2020-08-05 14:38] rhatdan commented on #2228
@nalind Will you PR fix this?

[2020-08-05 14:40] rhatdan commented on #1684
@QiWang19 PTAL

[2020-08-05 14:40] rhatdan commented on #1806
I believe this is fixedin master branch, Reopen if I am mistaken.

[2020-08-05 14:40] #1806 closed

[2020-08-05 14:41] rhatdan commented on #2161
I believe this is fixed in master branch. Reopen if I am mistaken.

[2020-08-05 14:41] #2161 closed

[2020-08-05 14:42] rhatdan commented on #2214
@paleozogt Does this issue still exists with Buildah?

[2020-08-05 14:44] rhatdan commented on #2212
@W73 do you still have this issue?  I believe this should work now with latest buildah?

[2020-08-05 14:44] edsantiago commented on #1991
No, it's not fixed, but I don't have privs to reopen.

Looks like at some point in time, `--pull=false` broke (or changed behavior without actually documenting that). The new recipe is:
[code]

buildah-1.15.0-1.fc32

I'm kind of concerned about this `--pull=false` change. I'm astonished there's no test for it. Should I file an issue, or is this really some sort of new desired behavior?

@rhatdan,

[2020-08-05 14:45] rhatdan commented on #1746
@ashley-cui PTAL, I am not sure if this is fixed or not.

[2020-08-05 14:45] mheon commented on #2475
Yes. This was a change in `crun` which used to create the entrypoint unconditionally but now no longer does. We now create ENTRYPOINT from images if it does not exist.

[2020-08-05 14:45] nalind commented on #2228
We weren't logging when we ignored something because of `.dockerignore`, beyond debug-level messages emitted by the logic that checks if a given path matches the exclusion patterns we read from that file, and those aren't especially helpful.  The work on speeding it up doesn't address that either way.

[2020-08-05 14:46] rhatdan commented on #2207
Since blog has been posted, closing.

[2020-08-05 14:46] #2207 closed

[2020-08-05 14:47] rhatdan commented on #1924
@akram @mtttcgcg Are you still seeing this with the latest buildah?

[2020-08-05 14:47] edsantiago commented on #2030
I was just able to reproduce it on my laptop, buildah-1.15.0-1.fc32, using the steps in the original comment

[2020-08-05 14:48] rhatdan commented on #2136
This is not an issue with buildah, but is a scripting issue.  I would advise you to put your advanced scripting into a shell script and add it to the container image.

[2020-08-05 14:48] #2136 closed

[2020-08-05 14:49] rhatdan commented on #2171
Newer versions of podman and Buildah are available for RHEL/CentOS Closing.

[2020-08-05 14:49] #2171 closed

[2020-08-05 14:49] ashley-cui commented on #2475
Just pulled down the latest podman and it seems like this issue still exists? Should I close this an open an issue in podman instead?

[2020-08-05 14:49] rhatdan commented on #2128
@vrushaliinamdar I take it you have gotten past this.  CLosing.

[2020-08-05 14:49] #2128 closed

[2020-08-05 14:50] rhatdan commented on #2002
Anyone in the community willing to help on this?  I am not sure we can easily build s390x images from Quay.io?

[2020-08-05 14:51] rhatdan commented on #1923
Latest packages should be available.

[2020-08-05 14:51] #1923 closed

[2020-08-05 14:52] #1764 closed

[2020-08-05 14:52] nalind commented on #1924
I _think_ #1996 fixed this.

[2020-08-05 14:53] rhatdan commented on #2051
@pixdrift I believe this is working in master now, reopen if I am mistaken.

[2020-08-05 14:53] #2051 closed

[2020-08-05 14:55] rhatdan commented on #2098
Buildah right now uses SELinux depending if it is available, we could support apparmor, if someone in the community wanted to add it.

[2020-08-05 14:55] #2098 closed

[2020-08-05 14:55] rhatdan commented on #1994
This looks like it is fixed in master. Reopen if I am mistaken.

[2020-08-05 14:55] #1994 closed

[2020-08-05 14:56] rhatdan commented on #2099
Sorry this issue got lost in the weeds,  @MichelMan Were you able to get this to work?

[2020-08-05 14:57] rhatdan commented on #1213
@nalind @bparees @TomSweeneyRedHat @giuseppe Is this still an issue?

[2020-08-05 15:00] rhatdan commented on #2325
This got lost in the weeds?  @vikas027 Did you make any more progress.  I have a feeling you are hitting seccomp problems or SELinux issues.  You might also need /dev/fuse mounted into the container.

[2020-08-05 15:01] rhatdan commented on #2328
Should be fixed in master now.

[2020-08-05 15:01] #2328 closed

[2020-08-05 15:01] rhatdan commented on #2324
@sudoman Have you seen any improvement?

[2020-08-05 15:02] #2318 closed

[2020-08-05 15:02] rhatdan commented on #2320
Closing for lack of informantion, reopen if you can provide more info.

[2020-08-05 15:02] #2320 closed

[2020-08-05 15:03] rhatdan commented on #2308
@TomSweeneyRedHat @nalind Was this ever fixed?

[2020-08-05 15:05] rhatdan commented on #2305
Looks like I fixed this.

[2020-08-05 15:05] #2305 closed

[2020-08-05 15:05] rhatdan commented on #1818
@giuseppe Could you take a look.

[2020-08-05 15:06] rhatdan commented on #2293
Since we never received more information, I figure problem solved itself.  Reopen if I am mistaken

[2020-08-05 15:06] #2293 closed

[2020-08-05 15:07] rhatdan commented on #2295
I believe we now have a nix static build.

[2020-08-05 15:07] #2295 closed

[2020-08-05 15:07] #2294 closed

[2020-08-05 15:24] paleozogt commented on #2214
@rhatdan which version should I test?

[2020-08-05 15:36] bparees commented on #1213
the test that was flaking due to this is still disabled pending the resolution to this issue, so i don't know if it's still happening or not.

[2020-08-05 15:42] #2084 closed

[2020-08-05 15:43] rhatdan commented on #2275
Well since this has not happened again, Closing.  @edsantiago feel free to reopen if I mistaken.

[2020-08-05 15:43] #2275 closed

[2020-08-05 15:43] rhatdan commented on #2285
@jokajak Did you ever get any further with this?

[2020-08-05 15:45] rhatdan commented on #2276
@mtrmac @vrothberg Is this something we could handle in Containers/image?

[2020-08-05 15:47] rhatdan commented on #1034
@vrothberg PTAL, I think this is around the saving with multiple images?

[2020-08-05 15:48] rhatdan commented on #2269
This is something customers are asking for.

[2020-08-05 15:49] rhatdan commented on #2269
@QiWang19 PTAL

[2020-08-05 15:50] rhatdan commented on #2255
@TomSweeneyRedHat PTAL

[2020-08-05 15:50] rhatdan commented on #1712
This is not a buildah issue, but an issue with a distribution, Please open a bugzilla with the distro for this fix, if it has not been fixed yet.

[2020-08-05 15:50] #1712 closed

[2020-08-05 15:52] rhatdan commented on #1503
Could one of you two @carbonin @h-vetinari open a PR to fix this issue?

[2020-08-05 15:52] rhatdan commented on #2372
@TomSweeneyRedHat What is the latest on this?

[2020-08-05 15:53] rhatdan commented on #2249
@ashley-cui PTAL

[2020-08-05 15:54] rhatdan commented on #2204
I think this and the other issue could be merged. @ashley-cui PTAL

[2020-08-05 15:55] rhatdan commented on #2193
@cevich I don't see this in the cirrus.yml file so I am going to assume that this is fixed.  Reopen if I am mistaken.

[2020-08-05 15:55] #2193 closed

[2020-08-05 15:55] mderoy commented on #1961
I'll provide more details :) (Also greetings from one town over in Littleton :D)

We have a legacy application which we've now shipped a containerized solution for. Our application has an installer, and in production our container build just runs this installer....we're using ubi-init so that our legacy application can work with the systemd services it needs to run.

In development though, we have

[2020-08-05 15:56] rhatdan commented on #1936
Should these two issues be merged?  IE CLose one and carry conversation on in the other

@TomSweeneyRedHat PTAL

[2020-08-05 15:59] yselkowitz commented on #2002
cc @james-crowley wrt community access to P&Z resources

[2020-08-05 16:00] mtrmac commented on #2507
Thanks for the log.

So, the client has not set up any certificates, it is using the system-wide set of trusted CAs. (This should be overridable with `--cert-dir` to point at a directory where the CA _must_ have _exactly_ a `.crt` extension.)

- The “TLS verify” flag got passed down here correctly (otherwise there wouldn’t be a `http://` attempt at all)
- Most importantly:

---

Looking at the err

[2020-08-05 16:04] mtrmac commented on #2276
The download from `ADD` is internal to Buildah.

(From a minimal glance, it’s unclear to me _where_ the download would be cached; it would probably require some ADD+ETag specific layer cache mechanism. I’m also not immediately 100% sure that trusting the server to provide consistent ETags does not introduce security vulnerabilities, but I’m not at all an expert in this area.)

[2020-08-05 16:42] nalind commented on #1213
I think OpenShift should be alright with a version of CRI-O that incorporates https://github.com/cri-o/cri-o/pull/3564, but we haven't made changes to buildah to do the work for other cases.

[2020-08-05 16:58] TomSweeneyRedHat commented on #2372
@rhatdan, I've added the tests and neglected to close this.  Going to get one in my tally sheet today!

[2020-08-05 16:58] #2372 closed

[2020-08-05 17:11] mtrmac commented on #2224
That would be a change in the Go code + recompile.

BTW we have now seen a report of an “unexpected EOF” when copying large images where no compression is involved; that well might be an entirely different bug (initial data seems to suggest so), or it might mean that the focus on compression is misguided.

[2020-08-05 17:14] mtrmac commented on #2224
Basically find all lines like https://github.com/containers/buildah/blob/b55e22a97f54483e794c3841273f8c22ac0c3c6d/vendor/github.com/containers/image/v5/pkg/compression/compression.go#L12 and replace them with `pgzip "compress/gzip"` … though it might require a few more changes or similar changes to not-100%-the-same lines.

[2020-08-05 17:20] TomSweeneyRedHat commented on #1936
@rhatdan, this is similar but different from #2372.  It's also working a little better now in so much as we're now sharing some of the caches, but we still end up with a different image id at the end.  I've closed the other as that's been taken care of.

[2020-08-05 17:23] TomSweeneyRedHat commented on #1991
Taking one off @rhatdan's illicit closure list!  ;^)

[2020-08-05 17:27] TomSweeneyRedHat commented on #1213
I think it actually might be working OK now in Buildah too.  I need to retest/check as I was poking at something else and it seemed like things were OK here now, but need to double check.  Then again, it was a late night test, so who knows?

[2020-08-05 17:28] TomSweeneyRedHat commented on #2295
We do indeed have a nix static build now.

[2020-08-05 18:14] jokajak commented on #2285
I ended up aborting on this and switching to a k3s based deployment. I'd be happy to circle back and test more with a newer version if that would be helpful.

[2020-08-05 18:15] rhatdan commented on #2091
Now if you run buildah mount $CID in rootless mode without the unshare it says

$ buildah mount working-container
cannot mount using driver overlay in rootless mode. You need to run it in a `buildah unshare` session

Man page also documents this.

[code]

[2020-08-05 18:15] #2091 closed

[2020-08-05 18:21] jamescassell commented on #2091
I'm curious whether it'd be possible to do a some sort of unprivileged fuse-mount for non-VFS drivers, but it probably should be its own feature...

[2020-08-05 18:26] W73 commented on #2212
Nope. No issue.

[2020-08-05 18:26] #2212 closed

[2020-08-05 18:27] rhatdan commented on #1714
This is part of the COPY PRs.

[2020-08-05 18:31] rhatdan commented on #574
@nalind Is there a way we could special case this?

[2020-08-05 18:33] rhatdan commented on #1778
Ok lets see about moving forward on this.

[2020-08-05 19:25] dominic-p opened #2512 "Support named volumes in buildah run"
**Description**

I apologize if this has been requested before, but I didn't see any related issues. It would be handy for me to be able to mount a named volume when building a container. From the man page it looks like buildah run supports --mount and --volume, but only physical host paths and tmpfs seem to be supported currently.

My use case is kind of convoluted (and maybe there's a better way

[2020-08-05 20:24] TomSweeneyRedHat commented on #1973
This works just fine on the distributions that I tried except RHEL.  I think the issue is that RHEL is looking for the subscription manager creds and is not finding them within the container.

I first installed a fresh RHEL 8.1 VM and tried what @TidyData did:
[code]

 I then tried to install bash on the host and ran into the same error:
[code]

So I configured subscription manager:
[code]

and in

[2020-08-05 20:29] QiWang19 commented on #2054
It's fixed. The policy.json under $HOME is used here https://github.com/containers/image/blob/7810876ebe28eb6ed405dbe825159b22781cf813/signature/policy_config.go#L64

[2020-08-05 20:29] #2054 closed

[2020-08-05 20:55] TomSweeneyRedHat commented on #2512
@dominic-p thanks for the issue.  I'm not a volume heavy person, can you also include the commands that you used to create your volume and on what Operating System?  I'm also assuming this using Buildah 1.15 or greater, please let us know if not.

[2020-08-05 21:06] QiWang19 commented on #2269
Buildah push has --sign-by, implemented by commit https://github.com/containers/buildah/commit/a925f79cc32c28643cdde607cd38be06e5a11645

[2020-08-05 21:06] #2269 closed

[2020-08-05 21:23] nalind commented on #2402
This'll overlap with changes to `imagebuildah.StageExecutor.Execute()` that I'm working on, so I'll take this one.

[2020-08-05 21:33] TomSweeneyRedHat commented on #2402
Does https://github.com/containers/podman/pull/7239 help/solve this?

[2020-08-05 22:04] nalind commented on #574
My experience with `docker build` CE 19.03.12 is that the setuid and setgid bits are stripped from content copied from the build context (the sticky bit, which is nearby, is preserved).  The setuid and setgid bits are preserved when content is copied from another build stage with "COPY --from", or extracted from an archive by the "ADD" instruction.

I think 18.06 from Fedora's moby-engine package

[2020-08-05 22:11] dominic-p commented on #2512
Thanks for following up. I'm using Pop OS 20 (it's a flavor of Ubuntu). I'm sorry I don't have the machine in front of me at the moment, but it's running the latest buildah release from the Ubuntu PPA.

As for the command to create the volume, I pretty much just use a --volume flag when I run `podman run`. That will create the named volume if it doesn't exist already. It works great with podman. I

[2020-08-05 22:28] ironknight78 commented on #2391
Hey @TomSweeneyRedHat .. I think I finally got it!! It was kind of hard walking through the code.. can you help me doing the PR for testing? I'm not really sure how to do it

[2020-08-05 23:07] TomSweeneyRedHat commented on #2512
Thanks @dominic-p , that makes sense.  I just wasn't sure if you'd done any pre-setup for the volumes before hand and wanted to verify.

[2020-08-05 23:22] ironknight78 commented on #2391
I think I got it.. Hope it passes the tests! :)

[2020-08-06 03:50] vikas027 commented on #2325
hey @rhatdan ,

No, I have moved to a different project. I didn't get it working without root privileges. Give me some time, I will mount `/dev/fuse` as well and see if that fixes the issue.

[2020-08-06 07:56] georgek commented on #2091
Would this actually affect the commands in my bug report? Notice that I used: `scratchmnt=$(buildah unshare buildah mount $container)`.

[2020-08-06 08:03] vrothberg commented on #1034
It's a different issue although it affects save and load as well. Podman and Buildah is prefexing short images (or not fully-qualified images without a domain/registry) with "localhost/". That's inconsistent with Docker's behaviour but consistent among Podman and Buildah.

Personally, I don't like the "localhost/" because the tools don't what I want them to but I also see wisdom explicitly enforci

[2020-08-06 08:36] vrothberg commented on #2295
If we start distributing static binaries, please add a note similar to the one in [Podman](https://github.com/containers/podman#static-binary-builds).

[2020-08-06 09:30] giuseppe commented on #1818
if you are not using fuse-overlays, you need to make sure the vfs backend is used.  Otherwise, I think it falls back to using native overlay which is allowed on Ubuntu for rootless users but we fail to deal with wthiteout files.

[2020-08-06 12:05] rhatdan commented on #1991
Great @edsantiago thanks.

[2020-08-06 12:57] rhatdan commented on #1469
@bachp Is CRI-O or Podman a possibility.
Buildah can be run within the Docker daemon, but the container requires to at least have SETUID/SETGID perms and a modified SECCOMP.json file.  Podman/CRI-O run with the corrected seccomp.json file.

[2020-08-06 13:22] vrothberg commented on #1991
If the behavior has changed, please open an issue. It screams for tests.

[2020-08-06 13:24] jschewebbn commented on #1034
I take this closing of the ticket to mean that podman does not want to be compatible with docker. This will make it very difficult for those of us advocating people move from docker to podman as they now have an incompatibility that there is no work around for. If podman were to have a command line option to suppress this "localhost/" prefix that would be sufficient. Then I could tell people that

[2020-08-06 13:44] vrothberg commented on #1034
@jschewebbn, thanks for continuing the conversation!

Did you encounter a migration issue regarding this behaviour?

Podman will treat "foo" and "localhost/foo" as the same image, so scripts that operated on Docker can safely migrate over to Podman as "foo" will implicitly resolve to "localhost/foo". However, `podman images` will list "localhost/foo" which is the only incompatibility I know.

[2020-08-06 13:58] jschewebbn commented on #1034
I don't know what a migration issue is. I've been following this issue as this is the problem that I'm having. In my specific use case I would like to create images with podman and then load them with docker. See https://github.com/containers/buildah/issues/1034#issuecomment-587562980 for the details.

[2020-08-06 14:03] rhatdan commented on #2504
Running a container within a container is not supported without running a privileged container.

[2020-08-06 14:04] rhatdan commented on #1817
We should not be building with devmapper support.

[2020-08-06 14:23] jamesregis commented on #2504
**server** is a baremetal server running awx containers.
in awx_task I don't want to run a container. I just want to build a container and push the image in a registry.

[2020-08-06 14:23] rhatdan commented on #2392
Looks like we can not fix, discussions should continue in skopeo issues.

[2020-08-06 14:23] #2392 closed

[2020-08-06 14:24] rhatdan commented on #2175
We have added some docs on this, closing this issue.

[2020-08-06 14:24] #2175 closed

[2020-08-06 14:25] rhatdan commented on #2007
@ashley-cui PTAL

[2020-08-06 14:26] rhatdan commented on #2384
Can not change this until Dockerfile upstream supports it.

[2020-08-06 14:26] #2384 closed

[2020-08-06 14:28] rhatdan commented on #2389
@TomSweeneyRedHat DId you ever take a look?

[2020-08-06 14:29] rhatdan commented on #2374
@mtrmac no updates in a while on this one.

[2020-08-06 14:31] rhatdan commented on #2424
It looks like this is fixed in upstream.  Reopen if I am mistaken.

[2020-08-06 14:31] rhatdan commented on #2345
It looks like this is fixed in upstream.  Reopen if I am mistaken.

[2020-08-06 14:31] #2345 closed

[2020-08-06 14:32] rhatdan commented on #1368
@grooverdan Ping again.

[2020-08-06 14:33] rhatdan commented on #2317
@mtrmac Any progress?

[2020-08-06 14:33] rhatdan commented on #1292
@cben interested in opening a PR for this?

[2020-08-06 14:35] rhatdan commented on #2272
@glinkaf @artbegolli Are you still seeing this issue?

[2020-08-06 14:35] rhatdan commented on #2315
@edsantiago still happening?

[2020-08-06 14:43] paleozogt commented on #2175
@rhatdan can you link to the docs?

[2020-08-06 14:52] rhatdan commented on #2215
Here is what I see.
[code]
Now I build for a second time and I see the cache working.
[code]
Now I am going to copy the directory to another directory.  And run the build against the new directory.

[code]
Notice that the RUN and COPY are not using the CACHE.

You are saying that the CACHE should have been still used?

[2020-08-06 14:56] rhatdan commented on #2215
@nalind @TomSweeneyRedHat Is the COPY command looking at the dates that files were created for cache?

[2020-08-06 15:08] nalind commented on #2215
Yes.  One of the patches in the #2480 WIP that will change that.

[2020-08-06 15:11] #2209 closed

[2020-08-06 15:56] rhatdan commented on #1452
Oops it looks like it is only in buildah-commit
[code]
I will add support to buildah bud.

[2020-08-06 16:23] rhatdan commented on #1452
After we have support for this in buildah bud, the next step would be to get support into the storage driver to record all times as epoch 0.  Then all files in the layers created could be created as epoch 0.

[2020-08-06 17:17] rhatdan commented on #2030
Storage shutdown should fix this one also.

[2020-08-06 17:19] rhatdan commented on #2344
@TomSweeneyRedHat Are you still looking at this one?  Is the rework on podman pull enough to satisfy @astronouth7303 needs?

[2020-08-06 17:20] rhatdan commented on #2262
I am going to close this since I believe you are satisfied.  Reopen if I am mistaken.

[2020-08-06 17:20] #2262 closed

[2020-08-06 17:21] rhatdan commented on #620
@ashley-cui PTAL
@sujil02 I don't believe you are still looking at this?

[2020-08-06 17:22] rhatdan commented on #2327
I believe this issue is satisfied, reopen if I am mistaken.

[2020-08-06 17:22] #2327 closed

[2020-08-06 17:24] rhatdan commented on #2383
@nalind @mtrmac @vrothberg PTAL

[2020-08-06 17:28] rhatdan commented on #2127
Are you sure Buildah is using the latest code from containers/storage?

[2020-08-06 17:29] rhatdan commented on #2476
@lfarkas All links on COPY SLow are related. and PRs are starting to come in to fix this issue from @nalind

[2020-08-06 17:30] #2491 closed

[2020-08-06 17:31] rhatdan commented on #2367
@mtrmac @vrothberg PTAL

[2020-08-06 17:31] rhatdan commented on #2478
This is fixed in upstream, Closing.

[2020-08-06 17:31] #2478 closed

[2020-08-06 17:33] rhatdan commented on #2449
@mjml Have you considered contributing a PR for this?

[2020-08-06 17:34] rhatdan commented on #2382
@gregoryboue Are you still working on this? Can I close the issue?

[2020-08-06 17:38] rhatdan commented on #2266
@mtrmac @vrothberg Is this issue we have with Artifactory not properly supporting OCI Images?

[2020-08-06 18:08] bachp commented on #1469
@bachp Sadly in this specific case Podman and CRI-O is not an option.

But the additional capabilities and the seccomp.json modifcations are exactly the things I think should be documented.

[2020-08-06 18:16] TomSweeneyRedHat commented on #2007
@rhatdan Let me take another look in here.  The sample Dockerfile case up top is cake, the problem that we ran into and discussed within the PR is the value replaced for the FROM should only be passed into the last FROM in the Dockerfile when there are multiple FROM statements in the Dockerfile.  The issue is related to counting the number of steps issue that we have, it was hard to pre-determine

[2020-08-06 18:20] TomSweeneyRedHat commented on #2424
Reopening as this bug is going on my checklist darn it @rhatdan!

[2020-08-06 18:21] #2424 closed

[2020-08-06 18:22] TomSweeneyRedHat commented on #2389
Not yet, how bout we spin this one to @ashley-cui ?

[2020-08-06 18:31] TomSweeneyRedHat commented on #2344
@rhatdan I've not gotten back to this.  We could sping this off to someone else if you want.

[2020-08-06 18:35] #1924 closed

[2020-08-06 18:43] rhatdan commented on #2403
Adding the the great COPY Slow label.

[2020-08-06 18:44] rhatdan commented on #2404
@ashley-cui PTAL

[2020-08-06 18:45] rhatdan commented on #2387
This should be opened as a bugzilla not an issue for the upstream.

[2020-08-06 18:45] #2387 closed

[2020-08-06 18:46] rhatdan commented on #2394
@wrobell Are you still seeing this issue with the latest buildah?

[2020-08-06 18:56] TomSweeneyRedHat commented on #2404
Actually I think this is tied in with the one that I'm working on now.  I think the fix for #2496 will fit here too.  Let me steal this back.

[2020-08-06 19:00] cevich commented on #2193
Confirming...actually yes, I see they're running and passing on master.

[2020-08-06 19:23] rhatdan commented on #2214
Preferably test from upstream master branch.
Latest release we have is
$ buildah --version
buildah version 1.15.0 (image-spec 1.0.1-dev, runtime-spec 1.0.2-dev)

[2020-08-06 19:27] rhatdan commented on #1961
Well my usual response to something like this is:  If you want to create a PR, I am sure we would consider it.

[2020-08-06 19:56] #2494 closed

[2020-08-06 19:58] rhatdan commented on #1973
Yes lets bring in the subscription manager people.  But this should be a bugzilla not an issue.
@TidyData Could you copy this information into a bugzilla on subscription manager.  CC Myself and Tom and then we can carry on the conversation there with the subscription manager team.

[2020-08-06 19:59] mtrmac commented on #2367
…

I guess we are recording the manifest-list `RepoTag`/`RepoDigest` value, and detecting that a local image matching that is already present? It is a bug, but it’s also a fairly obscure corner case, and it would require changing the image store. I’m afraid I’m still not intimately familiar with the manifest list copy code… one of these years with nothing to do…

I’d expect some kind of `buildah r

[2020-08-06 20:07] mtrmac commented on #2266
@rhatdan The original issue was linked above. If there is still a problem / a different problem, it’s not one that we have investigated.

---

From this description it’s not clear to me what is going wrong / what you think the behavior should be instead. (Historically, the Nexus bug was that it 1) when asked for a schema2 or OCI manifest, it returned the OCI manifest but a `Content-Type` header th

[2020-08-06 20:17] rhatdan commented on #2512
Are you planning on running the buildah and podman on same box?  IE You want  named volume populated while building and then later run podman and have access to the data.
This would be simple to do using regular volumes

buildah bud -t test -v ~/.mydata:/vol1:z .
podman run -v ~/mydata:/vol1:z test

[2020-08-06 20:46] rhatdan commented on #2091
scratchmnt=$(buildah unshare buildah mount $container).
As soon as the buildah unshare process finishes, the mount namespace that you mounted the buildah container within will exit and unmount the file system.
All interaction with the mount point has to happen while in a buildah unshare shell.

[2020-08-06 21:05] dominic-p commented on #2512
Thanks for the suggestion. I hadn't thought of creating a dedicated path on this host for this. I'll give it a try, and see if I can make it work.

[2020-08-06 21:07] rhatdan commented on #1034
So you want podman save of foo to save it as docker.io/library/foo?

[2020-08-06 21:12] rhatdan commented on #2175
https://developers.redhat.com/blog/2019/04/04/build-and-run-buildah-inside-a-podman-container/
https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2020-08-06 21:22] jschewebbn commented on #1034
I want `podman save foo` to create a file that has the same `manifest.json` and `repositories` files that `docker save foo` has.

For example when I execute `docker save foo` I see this in `manifest.json`:
[code]

When I executed `podman save foo` I see this in `manifest.json`:
[code]

The key here is the prefix on the "RepoTags" property.

The `repositories` file has a similar issue:
docker shows

[2020-08-06 22:02] rhatdan commented on #1469
docker run --security-opt seccomp:unconfined ...

Should get the job done.

[2020-08-07 04:18] dominic-p commented on #2512
It looks like just using a host path will work for this. It's not as portable as I would like (you have to create the path on the host beforehand), but that should be fine for now. I really appreciate the help.

[2020-08-07 04:18] #2512 closed

[2020-08-07 04:23] mjml commented on #2449
I would like to Dan but at the moment I am swamped. I will revisit my container adventures mid to late fall and may have some more time then.

[2020-08-07 07:27] yangfeiyu20102011 commented on #2127
I have tried agagin, the problem also exists.
I use buildah(commit 1514dca7eb8060a5820273f2e0892b16f4336989)
and storage(commit 2c98b45e754bbf5c56a8a7889e0e820ae1df9314)

[2020-08-07 08:13] georgek commented on #2091
Yeah, I understand that, just pointing out that the additional warning for `buildah-mount` won't help someone who makes the same mistake as me.

[2020-08-07 08:45] phin1x opened #2518 "buildah ignores the owner when copying files"
**Description**

In our environment we build scratch containers through a multi stage build. the first step is to build a chroot environment with the app and dependencies and set file permissions. the second step is to copy the chroot environment from the first step and set up user, port, volumes, etc. when we built our images via docker, the file permissions were inherited. buildah ignores the pe

[2020-08-07 12:13] rhatdan commented on #2091
Sure, do you have a suggestion, on how we could allow them not to make this mistake?

[2020-08-07 15:10] mattjohnson commented on #2266
There were still some issues around the Accept/Content-Type headers in Nexus 3.24 that should be resolved in 3.25/3.25.1+. It now returns the correct content type based on the manifest that was uploaded.

[2020-08-07 15:31] Fodoj commented on #2272
I have the same with latest buildah stable image, image is built but its not in the list of `buildah images`

[2020-08-07 16:19] Fodoj commented on #2272
I am also using vfs storage driver, because I am on K3s with containerd, so no clue how to add fuse device to each container there, documentation of containerd is not helping there.

[code]

[2020-08-07 16:38] Fodoj commented on #2272
Seems like the problem is very easy to resolve - one needs to add `--storage-driver vfs` also to images command (and all other commands) to make it work. Or rather set env var for this:

[code]

@artbegolli does it work for you if you added storage-driver?

[2020-08-07 17:19] ironknight78 commented on #2391
I opened a new PR since it was getting kind of messy @TomSweeneyRedHat @rhatdan

[2020-08-07 17:40] TomSweeneyRedHat commented on #2272
@Fodoj and @artbegolli sorry, a gazillion things at once and I've shuffled this off the radar.  @Fodoj are you thinking we need to adjust the build process for the stable image or is the added option suitable? I'm a little hesitant to force the storage driver to one instance, but if it breaks out of the box otherwise....   @rhatdan thoughts?

[2020-08-07 18:23] Fodoj commented on #2272
After doing the research it seems that for “building in container”, especially “building in container running on Kubernetes”, vfs driver is way easier to use - and fuse in many cases is just way too much effort to enable (see my K3s + containerd example). Or at least that’s what many people do - fallback to vfs due to fuse requiring some host-level changes.

[2020-08-07 19:58] mwhahaha commented on #2161
Still seeing this with 1.15.0

[2020-08-07 20:16] mwhahaha opened #2521 "buildah build fails with error committing container for step "X": error copying layers and metadata for container "<CONTAINERHASH>": Error initializing source containers-storage:127.0.0.1-working-container-729: error extracting layer "<LAYERHASH>": no such file or directory"
**Description**

Similar error message as #2161.  We're seeing this when running a few "buildah bud" instances in parallel. It is not consistent between containers being built. Error is not ending up in the log file but being printed to stderr of the buildah command.

We're also seeing this on rhel 8.3.0 with the same versions and 1.14.x versions.  We don't have the same issue with 1.11.x versions

[2020-08-07 20:17] mwhahaha commented on #2521
Contents of /tmp/container-builds/c37315ef-31f6-48fb-8534-0b66da489d48/base/os/ceilometer-base/ceilometer-central/ceilometer-central-build.log

[code]

[2020-08-07 20:44] mwhahaha commented on #2521
Just to point out it's failing on random layers (e.g. not just USER commands)

Command: sudo buildah --debug bud --volume /etc/yum.repos.d:/etc/yum.repos.d:z --volume /etc/pki/rpm-gpg:/etc/pki/rpm-gpg:z --volume /home/centos/repos:/etc/yum.repos.d:z --volume /etc/pki/rpm-gpg:/etc/pki/rpm-gpg:z --format docker --tls-verify=False --logfile /tmp/container-builds/12548e54-0011-446f-b954-4396e316e180/b

[2020-08-08 10:32] rhatdan commented on #2521
Do you have the contents of the Containerfile/Dockerfile?

[2020-08-08 13:42] jpic commented on #2383
It turns out you would really need a basic CRUD on layers, ie.:

- `buildah layers ls imagename`: when your build tool checks for which layer to start from
- `buildah from imagename:layername`: to start from a layer
- `buildah layers commit imagename layername`: to commit a layer
- `buildah layers delete imagename layername`: to delete a layer, useful for development of the build tool

[2020-08-08 17:52] astronouth7303 commented on #2491
Oh, I'll try that.

I initially meant "Can a container managed by buildah exist in a podman pod network"? But I guess running buildah from inside a podman container would accomplish that.

[2020-08-08 18:31] sudoman commented on #2324
Hi, I tested out `buildah` from the `master` branch, and it still takes ~28 seconds to run this command:

[code]

Thanks!

[2020-08-09 16:43] Fodoj commented on #1859
This is what I have on current buildah/stable:

[code]

[2020-08-09 16:59] Fodoj opened #2523 "Not every image can be pulled inside container"
**Description**

I am running quay.io/buildah/stable with vfs storage driver, as root user. Container is sunning on Kubernetes, K3s in particular.

Pulling some images work fine, like alpine:

[code]

Some others throw permission error:

[code]

[code]

[2020-08-09 17:07] mrinaldhillon commented on #2311
Hi @ashley-cui is there a reason to not expand just any environment variable ? For example I run the builds in repo sandbox with container tool binaries and writable paths i.e. storage root, tmpdirs are under the sandbox root. These paths are exported as environment variables during the build context of each product. $SBROOT/package/$PRODUCT/$VARIANT/build/containers/{storage,runroot,tmp}

[2020-08-09 23:13] stephen-dexda opened #2524 "buildah run fails when using --runtime=kata-runtime"
**Description**

Running any command with `buildah run --runtime=kata-runtime ...` results in an error (see example below).

Running Podman with `--runtime=kata-runtime` (`create`, `run` etc.) works fine.

Using Kata when executing less-trusted binaries via `buildah run` is desirable to take advantage of the reduced attack surface of virtualisation vs. containerisation.

**Steps to reproduce the i

[2020-08-10 05:25] jobcespedes opened #2525 "xz package missing in quay.io/buildah/stable"
**Description**
xz package missing in quay.io/buildah/stable

**Steps to reproduce the issue:**
1. Clone https://github.com/krestomatio/centos8-minimal
2. Build inside quay.io/buildah/stable
3. Run the container

**Describe the results you received:**
No build error. After build, trying to run something from centos8-minimal gives:
[code]

After `dnf install xz` inside the buildah container and bui

[2020-08-10 13:19] rhatdan commented on #2311
I would guess this is ok.  I don't think there is a security issue.  Might lead to some unexpected issues. but very few users in the world would do this.

[2020-08-10 13:24] rhatdan commented on #2524
Could this be an SELinux issue?

[2020-08-10 13:32] ashley-cui commented on #2311
@rhatdan @mrinaldhillon Sounds good, I'll fix it in a bit

[2020-08-10 13:33] stephen-dexda commented on #2524
Just tested after `setenforce 0`, same problem.

[2020-08-10 13:34] rhatdan commented on #2525
Could you open a PR to fix this?

[2020-08-10 13:50] mrinaldhillon commented on #2311
Thank you so much . You are simply awesome !!!

[2020-08-10 14:27] mwhahaha commented on #2521
ceilometer-central Dockerfile
[code]

novajoin-notifier Dockerfile
[code]

It appears that the command is the last one of the file so I guess it's when it's writing out the last item?

[2020-08-10 14:31] jobcespedes commented on #2525
Sure

[2020-08-10 14:44] jobcespedes commented on #2525
I was thinking in adding it to the Dockerfile. Would it be better to add it as a dependency of buildah and podman rpms?

[2020-08-10 16:36] TomSweeneyRedHat commented on #2525
@jobcespedes For the short term, I'd add it to the Dockerfiles.  However, it would probably make sense to add it as at least a recommended install with the rpm.  i.e. the install won't fail if xz isn't installable for whatever reason.  @lsm5 thoughts?

[2020-08-10 16:50] rhatdan commented on #2524
@giuseppe PTAL

[2020-08-10 17:45] jobcespedes commented on #2525
One more thing: shouldn't be a error or failure handling in place when adding a tar.xz during building and it cannot be uncompressed? I'm assuming uncompressed happens during building and not while running the container. I'm not sure.

[2020-08-10 20:28] james-crowley commented on #2002
@yselkowitz Thanks for tagging me.

@rhatdan Sorry for the delay. I had an extended power outage! 👎

Getting Buildah access to `ppc64le` and `s390x` resources is no problem. What kind of CI/CD pipeline is the project currently using to build the images?

There are a couple ways to give Buildah access to `ppc64le` and `s390x` resources. One is integrating your build pipeline into Travis CI. That mi

[2020-08-10 20:43] jeffj254 opened #2531 "Unable to pull FROM image with buildah bud Jenkins job on Kubernetes with unprivileged container"
**Description**

I'm trying to run a buildah dockerfile build in an unprivileged container launched by the Jenkins Kubernetes plugin.  Using the latest quay.io/buildah/stable image I get an error when buildah tries to pull the FROM image:
[code]

From some reading on various sites and blog posts it seems that running with *--storage-driver vfs* should solve this, but trying that just gets me a sli

[2020-08-11 00:51] sujil02 commented on #620
Yeah, I am not. I tried going around this a couple of times but could not get far.

[2020-08-11 03:50] kmmanto opened #2532 "Pushing to goharbor with --sign-by results in Error writing signatures"
**Description**
Trying to use `buildah push --sign-by` with goharbor registry results in an error.
[code]

**Steps to reproduce the issue:**
1. buildah bud -t [registry_url/project] .
2. buildah push --sign-by [gpg fingerprint]  --creds=username:password [registry_url/project]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Image is signed and push

**Output

[2020-08-11 07:05] kmmanto commented on #2532
Apparently, Harbor does not yet support image signing via buildah
https://github.com/goharbor/harbor/issues/9996

[2020-08-11 07:05] #2532 closed

[2020-08-11 07:06] giuseppe commented on #2524
can you please attach the output when you run with `buildah --log-level=debug` ?

[2020-08-11 10:23] rhatdan commented on #2002
CI/CD is currently using cirrus.  We dropped travis a while ago.  @cevich WDYT?

[2020-08-11 11:34] abitrolly commented on #2276
My specific case is caching download of these two files. https://github.com/owid/owid-grapher/blob/f7ddaabec394c6a81ef9775a81007d155c1601e9/Dockerfile#L7

Without remote caching mechanism for ADD the image rebuild takes 17 minutes, and unnecessary loads the free server. I see no reason not to trust Etag. It is no different than any other server header.

[2020-08-11 17:54] stephen-dexda commented on #2524
[buildah-kata.log](https://github.com/containers/buildah/files/5058532/buildah-kata.log)

[2020-08-11 17:57] stephen-dexda commented on #2524
Also, kata-runtime messages from journald (from running the above yesterday):

[kata-runtime.log](https://github.com/containers/buildah/files/5058575/kata-runtime.log)

[2020-08-11 19:15] cevich commented on #2002
It sounds like the details of the automation framework doesn't matter much. Assuming this is _only_ for building images, having VMs on standby somewhere we could ssh into and run commands...Errr, hmmm, actually that seems fairly fragile, esp. if the state of the VM somehow changes unexpectedly :confused:

The _easiest_ way (for us) is if someone else sets up a Jenkins pipeline :smile:

I'm happy t

[2020-08-11 19:29] james-crowley commented on #2002
@cevich I like the idea of the Jenkins server. That is how the OSU Open Source lab works. They maintain the Jenkins server and builds are only triggered via commit to a branch/new tag.

The service is free and Buildah would need to apply. Once accepted you can set it up to build the images and push them to quay.io.

[2020-08-11 20:13] rhatdan commented on #2523
Any idea what is in this layer?

Is this SELinux blocking the layer?  Is it attempting to create a device node?  Perhaps a setfcap file?

What privileges does the container have?

[2020-08-11 20:28] rhatdan commented on #2525
Could you update this requirement in  contrib/spec/podman.spec.in

[2020-08-11 21:04] jobcespedes commented on #2525
Added as recommeded.

Should I modified this pull request to only add xz in contrib/rpm/buildah.spec?

[2020-08-11 21:05] rhatdan commented on #2531
Can you see if SELinux AVC messages are being generated on the machine?

[2020-08-11 21:14] rhatdan commented on #2276
I would suggest you create a PR, and then we can argue about location of the cache.  :^)
@nalind WDYT?

[2020-08-12 01:35] cevich commented on #2002
Oh, it's that open?  Neat!  Though this seems like the best way forward, I was hoping I could hand over some quay.io keys and somebody familiar with the howtos would make 'er chooch :smile:  I've not messed with Jenkins in a *very* long time, and am afraid it might take me ages to do even a simple thing.

@rhatdan I'm assuming there's no way to cross-build images, it's got to be done native, ya?

[2020-08-12 02:51] grooverdan commented on #1368
@rhatdan I'm so sorry. I've left IBM and with my current focus I doubt I'll ever get time do reaquaint my understanding with the buildah codebase again. I'll leave the partial rebase there if some has the time to identify the gaps I've left. Hopefully the test suite is in a good enough state in the branch to identify gaps.

[2020-08-12 05:22] abitrolly commented on #2276
@rhatdan given recent events in Minsk it is hard to concentrate on anything.

[2020-08-12 06:49] Fodoj commented on #2523
I don’t see anything like this: https://github.com/docker-library/openjdk/blob/master/15/jdk/alpine3.12/Dockerfile but may be I am missing something. Just alpine image works, and these ones are based on alpine

[2020-08-12 07:39] Fodoj commented on #2523
I checked other Dockerfiles in openjdk repo and could not find anything specific

[2020-08-12 10:18] artbegolli commented on #2272
This was my experience as well - although the performance implications of vfs are a bit discouraging.

@TomSweeneyRedHat  It seems as though in order to use buildah successfully to build images in a container atm you need to dig through a number of issues to be able to do so (or have an in depth knowledge of fuse and linux filesystems). I reckon a quick win is just documenting the process somewher

[2020-08-12 21:01] #2525 closed

[2020-08-13 00:03] jasinner opened #2541 "dns-option ignored if dns-search is not set"
**Description**

setting --dns-option is ignored if dns-search is not also set

**Output of `buildah version`:**

[code]

[This line](https://github.com/containers/buildah/blob/3fc7c4bc2bd3c5c105487e160b20356a0e8de46c/pkg/parse/parse.go#L104) seems to incorrectly check the default for --dns-search instead of dns-option. Found via coverity scan of OpenShift 4.6

[2020-08-13 00:50] sebastianwebber opened #2542 "buildah image archives can't be imported on kind/containerd"
**Description**

I use Kind to run some integration tests for our applications. Those tests run on a pipeline and the build happens on different stages, so I export the built images on a tar file then on the test stage I use `kind load image-archive` to load that images and use them. Internally `kind` uses the `ctr` to import the images.

The `tar` images generated by `buildah push` aren't being i

[2020-08-13 09:53] giuseppe commented on #2524
I think this happens because buildah sets up an intermediate mount namespace, and the created mount point is not accessible from the host.

I think we could to drop the login of creating an intermediate namespace and do what we do in Podman.

https://github.com/containers/buildah/pull/2543 seems to solve the issue for now.

[2020-08-13 10:10] rhatdan commented on #2541
Thanks I will open a PR.

Next time just open a PR to fix rather then an issue, if you feel comfortable.

[2020-08-13 10:38] rhatdan commented on #2542
@nalind PTAL

[2020-08-13 12:34] giuseppe commented on #2524
unfortunately the fix I had in #2543 is not enough.  There are other issues with kata, we cannot wait for the the PID returned in the PIDfile.

I suggest using podman for using kata:

[code]

and probably that is what we should look at as a solution in the long run instead of handling containers in buildah.

[2020-08-13 14:12] edsantiago commented on #2315
I don't know. I no longer monitor RHEL gating test failures except on special request. There are dozens of gating-test failures since my May 14 comment, but there's no way (that I know of) to search or grep all those logs.

I'm not really fond of closing issues just because "we haven't seen it in a while" but without an actual understanding of the problem, so I'll leave this open but will understa

[2020-08-14 15:36] stephen-dexda commented on #2524
That workaround's very helpful, thanks Giuseppe.

I slightly modified it since all the commands need `sudo` (assuming current login is non-root) and to unmount the root FS afterwards for consistency with state after the equivalent Buildah run command:

[code]

[2020-08-15 15:31] nnachefski commented on #2404
Hey Tom,

Would love to help you test this.  Where can i get the latest buildah image from so i can see if this works now?

[2020-08-15 19:22] dsonck92 commented on #1292
I was also looking into this cache idea and actually spent some time playing about with `redo` (which I like enough to port my golang based projects to use it to generate things, indeed much more natural than `make`).

That said, I think for `buildah` there are 2 approaches:
- Actually suggest `redo` and write a tutorial on some examples of how you would go about it
- Implement some sort of state

[2020-08-15 19:24] dsonck92 commented on #1292
Note that the `redo` script could possibly be improved by extracting the first buildah from instruction written in it and applying some logic to identify whether it's a local build step or a global one. Wait, I guess it's possible to detect the specific `cat`

[2020-08-15 19:33] dsonck92 commented on #1292
It might also be noted that for the `buildah` native method, there might be options that also cause 5 to happen. I have not spent much time with buildah to know which situations would cancel a cache run. But I think this would give the closest experience of the cache given the limitations of not tracking history.

If the user wants to speed up its rebuild, they should also apply strategic uses of

[2020-08-15 19:56] dsonck92 commented on #1292
Lastly, if this addition to `buildah` is something that is wanted @rhatdan I could attempt a PR for it. It might take a while though.

[2020-08-16 08:11] eigengrau opened #2549 "buildah bud: COPY from symlink uses link target as destination name"
**Description**

When `buildah bud` processes a `COPY` command that specifies a symlink as its source, buildah will create the copy under the link target’s file name instead of under the link’s name. This only seems to arise when the link name bears a recognized archive suffix.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

A file named `archive.tar.gz` is crea

[2020-08-16 09:22] eigengrau commented on #2549
This appears to arise from `imagebuildah/stage_executor.go:490`, where `.tar.gz` is special-cased so that the file-name part of the copy destination is removed. Presumably, this is just to support `ADD`, not `COPY`, so I wonder whether this should be conditional on the type of command.

[2020-08-16 09:27] eigengrau commented on #2549
PR coming up.

[2020-08-17 02:49] GeoffWilliams opened #2551 "Images built with buildah stopped working on AWS Fargate"
**Description**

Since yesterday I'm unable to run images built with `buildah` on AWS Fargate in the `us-east-1` region. It seems like something changed on the AWS side so this likely has nothing to do with this project but figured this might help people who find things have suddenly broken.

**Steps to reproduce the issue:**
1. Build an image with buildah

[code]
2. Push to ECR
3. Create service,

[2020-08-17 08:13] vrothberg commented on #2551
Thanks for opening the issue, @GeoffWilliams!

Maybe there is an issue with OCI images on AWS. Could you try buildah-bud with `--format docker`? This instructs Buildah to build an image in the docker format rather than OCI.

[2020-08-17 08:48] GeoffWilliams commented on #2551
@vrothberg confirming images built with `--format docker` work :beers:

[2020-08-17 13:22] rhatdan commented on #2276
@abitrolly Your comment triggered me to look at what is going on in Minsk.  Good luck and hopefully this turmoil gets settled.

[2020-08-17 13:46] TomSweeneyRedHat commented on #2404
Nick, there's no ready made rpm at the moment.  So there are two choices, A) you could clone the repo and build from upstream, or B) you could use Podman and run the quay.io/bulidah/upstream:latest image.  I just updated that container image on quay.io a little bit ago, so it should have the latest/greatest there.

[2020-08-17 17:39] TomSweeneyRedHat commented on #2551
@vrothberg good call.  I seem to remember the AWS isn't happy with the OCI images.

[2020-08-17 17:39] TomSweeneyRedHat commented on #2551
@GeoffWilliams I'm going to close this issue, please reopen if you think it needs further attention.

[2020-08-17 17:39] #2551 closed

[2020-08-17 17:40] #2549 closed

[2020-08-18 06:07] abitrolly commented on #2276
@rhatdan there is no turmoil. It is just another story of power addiction, of the man who doesn't want to give up being the president 26 years in a row, and goes as far in his addiction as terrorizing citizens with force and violence. I spent a week home after elections afraid that I will be beaten by the riot police near my house, just because I was a witness of falsifications. Two of my younger

[2020-08-18 07:30] vrothberg commented on #2551
Glad we found a work around :+1:

[2020-08-18 11:57] edsantiago commented on #2315
Yes, it's still happening. Log is internal though.

[2020-08-18 12:54] rhatdan commented on #1292
Sounds good, I don't know when we can get someone else to look at it.

[2020-08-18 13:02] dsonck92 commented on #1292
I will then try to familiarize myself with the buildah code and see if my idea is somewhat feasible. I'm not sure when I can work on it but as I'm migrating away from docker and dockerfiles (appreciating the daemonless, rootless abilities of buildah/podman and the ability to use system tools during image steps of buildah and mount dirs (e.g. for extracting test results)), some form of buildah cach

[2020-08-19 04:26] pixdrift commented on #532
I should probably (finally) mention I did do a write up (months ago) that included the same process for EL8, with comparisons to the Red Hat UBI images. In case someone is stumbling across this thread and looking for additional content on the subject, I posted it here, with the README.md describing the outcomes:

https://gitlab.com/pixdrift/buildah-scripts

[2020-08-19 22:09] TomSweeneyRedHat commented on #1973
@TidyData if you have not yet made a BZ, please do not at this point.  I've just created https://bugzilla.redhat.com/show_bug.cgi?id=1870376

[2020-08-20 00:16] #2311 closed

[2020-08-20 01:46] alexandrsemak opened #2554 "Build container with unprivileged mode in Kubernetes"
**Description**

I am trying use buildah for replace docker in jenkins kubernetes plugin which run agent as kubernetes pod for building container.

I can't run `buildah bud` with unprivileged mode

[code]

Error:
[code]

**Steps to reproduce the issue:**
1. Create base image for Jenkins Kubernetes Plugin base on debian_10
[code]
2. Spinup jnlp-agent in kubernetes
[code]
3. Use buildah bud for crea

[2020-08-20 03:45] TidyData commented on #1973
@TomSweeneyRedHat I did make one should I close it out?  The initial response was to read the container RHEL 8 manual...

https://bugzilla.redhat.com/show_bug.cgi?id=1867426

I made a BZ, then some crisis distracted me and I never posted here... sorry for the delay.

anyways, have a nice day

[2020-08-20 07:22] tensor5 opened #2555 ""created" timestamp not in UTC breaks reproducibility"
**Description**

I'm trying to build a reproducible image using `buildah commit --omit-timestamp`, but the timestamp in the "created" field of the image configuration JSON is not in UTC form and shows my current timezone

[code]
vs
[code]

 thus breaking reproducibility.

**Steps to reproduce the issue:**
1. ctr=$(buildah from scratch)
2. buildah commit --omit-timestamp $ctr
3.

**Describe the res

[2020-08-20 12:55] rhatdan commented on #2554
For now you need to run buildah with a privileged container or at least one running as root.  If this is running on a Docker back end, then there could be issues with seccomp preventing the mounts.

You probably should use the buildah image or one based on it.  quay.io/buildah/stable

The main points are to run with --isolation=chroot, since you are already inside of a container.

[2020-08-20 13:00] rhatdan commented on #2555
Could you check this against the upstream packages.  We might have fixed it.  We now add all of the content with EPOCH time as well.  For any layer added to the base image.

[2020-08-20 13:23] TomSweeneyRedHat commented on #1973
Thanks @TidyData will take a look at that.

[2020-08-20 13:31] alexandrsemak commented on #2554
Thank you for answer. I will look in buildah image, as I understood `quay.io/buildah/stable` has root-less build user?

[2020-08-20 13:45] rhatdan commented on #2554
Yes, that will only work though, if you pass the /dev/fuse into the container.

[2020-08-20 17:15] alexandrsemak commented on #2554
@rhatdan so `--storage-driver=vfs` required  privileged mode ? when ` /dev/fuse` and `fuse-overlayfs` no ?

[2020-08-20 17:51] rhatdan commented on #2554
storage-driver=vfs works without privilege, but has its owne issues.  fuse-overlayfs requires /dev/fuse in order to be able to use overlay within a non privileged container (A container without CAP_SYS_ADMIN)

[2020-08-20 18:56] alexandrsemak commented on #2554
what the issue with `storage-driver=vfs` ?

[2020-08-21 01:04] tensor5 commented on #2555
Tried `quay.io/buildah/upstream` and it works.

[code]

[2020-08-24 09:36] #2518 closed

[2020-08-24 10:18] #2215 closed

[2020-08-24 10:57] alexandrsemak commented on #2554
Hello @rhatdan I switched to `quay.io/buildah/stable:v1.15.0` and run `buildah bud` with `--storage-driver vfs` and as `userId: 1000(build)` but still have `Error while applying layer: ApplyLayer exit status 1 stdout:  stderr: remount /, flags: 0x44000: permission denied`
[code]

[2020-08-25 17:58] rhatdan commented on #2383
@nalind @TomSweeneyRedHat @saschagrunert @vrothberg PTAL

[2020-08-25 18:02] rhatdan commented on #2383
@jpic Interesting.

Do you have a REPO we could play with this on?

[2020-08-25 18:02] rhatdan commented on #2383
@pixdrift PTAL

[2020-08-26 12:37] ketank-new commented on #1802
I am experiencing a issue building a dockerfile using buildah

i am using base image ubi8/buildah
my dockerfile includes steps to addgroup and users
on group add i encounter a issue saying

groupadd: /etc/group.241: lock file already used
[build-docker-file] groupadd: cannot lock /etc/group; try again later.
[build-docker-file] subprocess exited with status 10
[build-docker-file] subprocess exited

[2020-08-26 20:00] TomSweeneyRedHat commented on #1802
@ketank-new Couple quick things.  Can you include your `buildah bud` command that you used?  Also, as a test, could you replace `FROM registry.access.redhat.com/ubi8/ubi:8.2` in your Dockerfile with 'FROM quay.io/buildah/stable:latest` and try that?  I've a suspicion some dependency is missing from the UBI8 image.

@fatherlinux FYI

[2020-08-27 01:30] ketank-new commented on #1802
@TomSweeneyRedHat : I tried using quay.io/buildah/stable:latestin my dockerfile .. i get a exec error
i am executing this on a Power machine i think the image suggested by you is for amd64

my buildah command used is below, this is done using a tekton conatiner
command: ['buildah', 'bud','--format=oci', '--tls-verify=true', '--layers', '-f', 'Dockerfile', '-t', 'kk:try']

[2020-08-27 10:13] tensor5 commented on #2555
Thanks!
By the way, I wrote a [blog post](https://tensor5.dev/reproducible-container-images/) on how to build reproducible container images with Buildah; I used `buildah mount` at the moment, but I will update it to `buildah bud --omit-timestamp` when the new version is released.

[2020-08-27 18:52] TomSweeneyRedHat commented on #2555
@tensor5 thanks for the blog post link.  I'll add a link to it from buildah.io

[2020-08-27 18:57] TomSweeneyRedHat commented on #1802
@ketank-new thanks for the follow up.  I've not tried running that image on a power machine, and didn't catch that in your op.  I'm not too surprised it wasn't happy there.  @fatherlinux any thoughts on the ubi image on a power machine?

[2020-08-27 19:04] nnachefski commented on #2404
Hey Tom,

I dont think quay.io/bulidah/upstream:latest is a valid image.  Or at least, not one that i have privs too see.

[2020-08-27 19:51] TomSweeneyRedHat commented on #1802
We just got a Bugzilla reported too: https://bugzilla.redhat.com/show_bug.cgi?id=1873224, I believe it's the same beast, but the BZ is against Docker.  I think it should instead be against UBI8

[2020-08-27 22:55] nnachefski commented on #2404
I'm setting this in my buildah ClusterTask:
[code]
And the image URL is being populated during the Pipeline Run (.  But, buildah is ignoring the FROM i supply at the command line and using the FROM in the Dockerfile.  Any pointers on how to use this properly?

I'm using this buildah image 'quay.io/buildah/upstream:master'

Output from PipelineRun
[code]

[2020-08-28 00:47] TomSweeneyRedHat commented on #2404
@nnachefski for this latest error, were you using the same Dockerfile that you included in an earlier comment in this thread?

We've had some issues with ARG handling in Containerfiles when an equal sign was in the mix.  As a real quick try, can you drop the first equal sign?

i.e. `--build-arg FROM=$(resources.inputs.image.url)'`

and try that.

It's way past open eyelid time here, I'll check bac

[2020-08-28 06:08] elmariofredo commented on #1590
Hi @afbjorklund great work! I see TCP have moved forward and there is stable version 11.1 with ARM support. Please let me know if you need any help with this.

Thanks!

[2020-08-28 08:40] tkant commented on #2234
what permission were you missing?  @bartdenotte

[2020-08-28 09:10] doc-olliday commented on #2224
We give up, for now. Due to too many problems we've migrated back to docker-ce.
Thank you for your help.

[2020-08-28 13:53] rhatdan commented on #2555
@tensor5 PTAL https://github.com/containers/buildah/pull/2571
We have switched option to allow users to specify the EPOCH time.  Rather then force to 0.

That way you can record the first time you built an image via the EPOCH and, now you can rebuild based on that time.

[2020-08-28 14:08] afbjorklund commented on #1590
@elmariofredo : I wrote something about it in https://boot2podman.github.io/2020/06/15/tinycore-picore-eleven.html

There was no `arm64` support unfortunately, but it's a start! However, `podman-machine` has now been deprecated...
So will probably refer you to https://fedoraproject.org/wiki/Architectures/ARM for getting an OS to run `podman` on

Let's leave this issue for `podman buildx` support,

[2020-08-29 10:57] apollo13 commented on #620
I am with @mfolnovic on this one, while `buildah` is usually fast enough it simply cannot beat a cache. Especially for docker files that make clever use of caching by ordering the instructions to utilize the cache as much as possible.

[2020-08-31 02:39] Davidnet opened #2575 "Buildah copy from another container"
**Description**

I want to copy some binary from another container to a container that I'm building using buildah copy

**Steps to reproduce the issue:**

I'm following the tutorial and:
[code]
**Describe the results you received:**
Not an easy way to copy files from another container

**Describe the results you expected:**
being able to do something like:

[code]

**Output of `rpm -q buildah` or

[2020-08-31 02:49] Davidnet commented on #2575
I figure out I was trying to copy from an image instead of a container, but is there any way I can copy files from an image into a container ? Thanks!

[2020-08-31 14:44] TomSweeneyRedHat commented on #2575
@Davidnet does something like this in your Containerfile work for you?

[code]

[2020-09-01 03:23] Davidnet commented on #2575
Yes, but I was hoping to do everything in a bash file to not have a Dockerfile

[2020-09-01 07:02] tensor5 commented on #2555
@rhatdan
Tried `--timestamp=0` and it works. Thanks.

[2020-09-01 19:10] TomSweeneyRedHat commented on #2575
Ah, then you need the Buildah command-line commands.  Something like this me thinks:

[code]

[2020-09-02 09:46] jpic commented on #2383
Sure, just gimme a couple of weeks to clean the rough edges and release a v1 (the performance issue is not a blocker)

[2020-09-02 20:28] Davidnet commented on #2575
I'll try it, but of course is more verbose, do you think that this could merit a feature request?

[2020-09-02 21:00] TomSweeneyRedHat commented on #2575
We're always hip for a feature request.  Just create an issue with "RFE: " in the title please.

[2020-09-02 21:05] TomSweeneyRedHat commented on #2575
and fwiw, the example above is a bit fluffy.  I added a few commands to illustrate progress....

[2020-09-02 21:44] TomSweeneyRedHat commented on #1973
@TidyData per the discussion in the https://bugzilla.redhat.com/show_bug.cgi?id=1867426, this is working as expected.  The issue is that dnf doesn't know what to install as you used a version (30) that RHEL's dnf is not aware of for itself.  If you pick a RHEL version for the --releaserver option it should work.  Or if you specify fedora instead of scratch it works too:

[code]

Or change your dnf

[2020-09-02 21:44] #1973 closed

[2020-09-02 22:14] Davidnet commented on #2575
Thanks! This really helps me, @TomSweeneyRedHat  awesome work, closing for now.

[2020-09-02 22:14] #2575 closed

[2020-09-03 20:42] #2403 closed

[2020-09-04 14:42] stephen-dexda opened #2586 "insecureRegistries from BUILD_REGISTRY_SOURCES ignored"
**Description**

`insecureRegistries` from the `BUILD_REGISTRY_SOURCES` env. var. is ignored.

There's nothing in the source that actually handles this key AFAICS - the only reference is https://github.com/containers/buildah/blob/master/commit.go#L186.

The `insecureRegistries` key is mentioned in e.g. `man buildah-pull` and `man buildah-push`. At a minimum the documentation should mention that th

[2020-09-04 20:58] QiWang19 commented on #2586
The error seems unrelated with the `BUILD_REGISTRY_SOURCES` env, https://github.com/containers/buildah/blob/438046e88d5cd17c9b7c22e076bf5f0cbeece85a/commit.go#L474 does'not deny the registry by default.

[2020-09-05 15:21] stephen-dexda commented on #2586
Buildah is not treating the registry as insecure when connecting, and is instead (only) attempting to connect via HTTPS, hence the error (since TLS is not enabled).

In contrast, if the registry is configured as insecure via the following in `/etc/containers/registries.conf`, push/pull commands succeed.

[code]

I would expect the env. var. JSON to have the same effect.

[2020-09-05 22:20] sycured commented on #2266
I've this problem with [GitHub Container Registry](https://docs.github.com/en/packages/getting-started-with-github-container-registry/about-github-container-registry):

[code]

This image is built using buildah (https://github.com/sycured/centos-haskell-builder/blob/main/run.sh) and works with Docker

[2020-09-06 02:02] hswong3i opened #2587 "V1.16.0 -> v1.16.0"
**Description**

Should https://github.com/containers/buildah/releases/tag/V1.16.0 be tagged as https://github.com/containers/buildah/releases/tag/v1.16.0 (regex friendly as previous version)?

[2020-09-06 12:06] rhatdan commented on #2266
Can you report this issue to them?  They need to support OCI Images properly.

[2020-09-06 14:50] GongT opened #2588 "Question about make empty layer"
**Description**
I'm using buildah to create some images, but these images always two times larger than my expect.

Eg, a python project with tensorflow, it should about 1.6GB large, `podman run xxx du -xhs /` show it only contains `≈1.6GB` file, but the image size is 4GB.
Everytime I update and push it, it really upload 4GB data on network.

**Steps to reproduce the issue:**

A small test script:

[2020-09-06 14:53] GongT commented on #2588
Did I missed something like "empty layers" in the doc?

[2020-09-06 15:38] sycured commented on #2266
I did it, wait and see

[2020-09-07 01:25] tensor5 opened #2589 "Wrong history dates when using --timestamp"
**Description**

Creating an image with `buildah bud --timestamp 0` produces wrong history timestamps. It could be even useful to have an option to skip history generation altogether.

**Steps to reproduce the issue:**
1. `echo hello > hello`
2.
[code]
3. `buildah bud --timestamp 0 .`
4. `podman history <resulting hash>`

**Describe the results you received:**

Only the first (last) history entry

[2020-09-07 07:54] vrothberg commented on #2587
Thanks for catching it, @hswong3i!

@TomSweeneyRedHat PTAL

[2020-09-07 08:34] jcansdale commented on #2266
Hi @sycured,

Last week GitHub released a new container registry that was developed with ICO compliance in mind. You can find it at https://ghcr.io.

Here is how to migrate your images:
https://docs.github.com/en/packages/getting-started-with-github-container-registry/migrating-to-github-container-registry-for-docker-images

Could you try pushing your images there and see if it works any better?

[2020-09-07 12:27] sycured commented on #2266
Hi @jcansdale
Thank you, it works after migrating to ghcr.io

[2020-09-08 10:44] rhatdan commented on #620
@TomSweeneyRedHat @nalind @ashley-cui @QiWang19 Do we have any action on this?

[2020-09-08 10:44] mh21 opened #2594 "buildah manifest push fails for quay.io when images were pulled from quay.io"
**Description**

We are creating multiple single-arch container images, upload them to quay.io and later in another job try to generate multi-arch manifests for them. The manifest upload fails with "manifest invalid" for quay.io. When using docker.io, this works.

Minimal reproducer:

[code]

Error message for quay.io:
[code]

For docker.io, this works without error message:
[code]

This might be

[2020-09-08 10:51] mh21 commented on #2594
- Logs with --log-level debug without the skopeo line: [buildah-no-skopeo.log](https://github.com/containers/buildah/files/5187811/buildah-no-skopeo.log)
- Logs with --log-level debug with the skopeo line without --format v2s2: [buildah-skopeo.log](https://github.com/containers/buildah/files/5187810/buildah-skopeo.log)
- Logs with --log-level debug with the skopeo line with --format v2s2: [buildah

[2020-09-08 12:37] rhatdan commented on #2587
Fixed.

[2020-09-08 12:37] #2587 closed

[2020-09-08 12:54] rhatdan commented on #2575
I could envision a buildah copy extension, where you could say

buildah copy CTR1 /etc/shadow CTR2:/etc/

Which would do what you want.

Podman cp has syntax similar to this.

 podman cp [options] [container:]src_path [container:]dest_path

[2020-09-08 16:15] TomSweeneyRedHat commented on #2266
@sycured thanks for the issue and the updates.  As this is working, I'm going to close this issue.

[2020-09-08 16:15] #2266 closed

[2020-09-08 20:48] TomSweeneyRedHat commented on #620
@rhatdan way off my radar.

[2020-09-08 21:42] TomSweeneyRedHat commented on #2588
@GongT sorry for the late reply and I'm just catching up after being away for a few days.  After a quick scan it looks like you're doing `podman build` and then 'buildah bud` and are finding differences in size between the two resulting images?  The difference is probably due to the way that the `--layers` option is defaulted to between the projects.  For Podman `--layers` is set to True by defaul

[2020-09-09 04:25] GongT commented on #2588
I did not use `buildah bud` or `podman build`, so there isn't a `--layers` option.

I have tried the `BUILDAH_LAYERS=true` environment variable, no effect.

[2020-09-09 04:41] smac89 opened #2599 "Buildah run git clone fails with vague error message"
**Description**

Running any `git` commands fails with the message:

[code]

**Steps to reproduce the issue:**
1. Create a container based on debian `ctr="$(buildah from 'debian:buster-20200803-slim')"`
2. Install `git`: `buildah run "$ctr" /bin/sh -c 'apt-get update --yes && apt-get install --yes git'`
3. Try to run a command inside the container: `buildah run "$ctr" -- git clone https://github.c

[2020-09-09 08:34] zvier opened #2600 "build a large image with buildah use more time than docker a lot"
My Dockerfile is as flows and the output image size is 523M
[code]

# builadh
[code]
It cost 1m28s with buildah.

# docker
[code]
It cost 39s with docker.

We also analysize the buildah with pprof and find it cost a lot of time call io.Copy and sha256.Write. Statistics indicate that it call sha256.Write more than one hundred thousand in the build. For build a large image, may be use io.CopyBuffer

[2020-09-09 08:35] smac89 commented on #2599
Not sure why, but it works now. I think a command I was running earlier was failing and that was causing the git commands to fail.

[2020-09-09 08:35] #2599 closed

[2020-09-09 14:15] edsantiago opened #2601 "flake? ApplyLayer exit status 1 stdout: stderr: chtimes {/dev,/tmp}: no such file or directory"
Two gating-test failures in the last 24 hours, two different (but related) subtests, common factor is "chtimes":

[buildah-1.17.0-0.6.dev.gitbfe6da5.fc34](https://bodhi.fedoraproject.org/updates/FEDORA-2020-a79fe38418)  ([log](https://jenkins-continuous-infra.apps.ci.centos.org/blue/rest/organizations/jenkins/pipelines/fedora-rawhide-build-pipeline/runs/15718/nodes/170/log/?start=0)) :
[code]

[bu

[2020-09-09 15:41] daveisfera opened #2602 "Parallel builds can fail with shared bind mount"
**Description**
When using a bind mount to share a cache, some uses require a lock (like `apt-get`), so there needs do be a way to lock the use of the bind mount.

**Steps to reproduce the issue:**
Trying to switch from docker/buildkit and noticed that this is a problem
See https://github.com/moby/buildkit/issues/1662

**Describe the results you received:**
Build can fail because lock isn't availa

[2020-09-09 19:28] TomSweeneyRedHat commented on #2588
@GongT sorry, I obviously skimmed this issue way too quickly in the first pass.  I'm not sure why you're seeing the results that you are.  I would expect them to have a portion of the first image size added to each successive image.  In fact, that's what I see using Buildah 1.15.1 and Podman 2.0.

[code]

Regardless, what I think you might be looking for is the `--squash` option on the commit comm

[2020-09-09 21:09] TomSweeneyRedHat commented on #2600
@zvier thanks very much for the very thorough problem report.  I know @nalind has been working feverishly on making the builds faster, so I'll ask him to comment on that status.

[2020-09-10 04:28] GongT commented on #2588
I tried `--squash`, but it did not fit my requirement.

I want my image to have 2 layers:
- one 2gb big `base`, unchanged for half a year
- an 1mb small app, changes every day

So I can save a lot bandwidth

`podman build --squash-all` is exactly what i want, but it not supported by `buildah commit` (nor `buildah bud`).

----
I want to use buildah at first time is because this [tutorial](https://g

[2020-09-10 05:15] GongT commented on #2588
OMG. I tried to switch to `podman build`, but I found this issue again. 😭

I build a test image with:
[code]
And I get:
[code]

Dump it `podman save --format=oci-dir --output=. test`:
[code]

[2020-09-10 05:50] GongT commented on #2588
Finally, after I switch from "overlay" to "btrfs" (+ mkfs.btrfs & mount), this issue disappear...

[2020-09-10 12:19] bulanovk commented on #1714
Hello, is there any progress on fix?

[2020-09-10 13:27] nalind commented on #1714
Changes to address this have landed in the 1.16 release.  If you've got a build of that (or the master branch) handy, please give it a try.  Thanks!

[2020-09-11 03:18] smac89 opened #2607 "buildah commit fails with: link /gunzip /bin/uncompress: no such file or directory"
**Description**

When running `buildah commit` like this:

[code]

It fails with the above error, but when I remove the `--squash` option the commit works.

**Steps to reproduce the issue:**
1. Create a container: `ctr=$(buildah from 'debian:buster-20200803-slim')`
2. Commit the container with the above options: `buildah commit --rm --squash --format=docker "$ctr" bdeb-image`

**Describe the resul

[2020-09-11 07:02] jskovjyskebankdk opened #2609 "Handling both read-only and writable volumes on NFS fails"
**Description**

Podman fails build when mounting volumes from folders on NFS with different options (writable and read-only).

This is when running in a rooless container on OpenShift (4.4.20).

**Steps to reproduce the issue:**
1. Create containerfile:
[code]
2. Prepare scratch folders on a NFS drive, here `/opt/persistence`:
[code]
3. Try to build with volumes mounted as rw and ro (`:Z,rw` and

[2020-09-11 10:43] ssbarnea commented on #1034
Any plans to address this? This is a deal breaker for allowing both engines to be used in parallel even for the most basic CI/CD tasks, like:

[code]

[2020-09-11 10:48] vrothberg commented on #1034
@rhatdan, as you reopened. What's your take on it?

The localhost prefixing is incompatible with Docker. We've been discussing this issue a couple of times already but the conclusion was to keep the behaviour. I am no fan of it because if I tag something as `foo` I want it to be `foo`.

However, if we changed the behaviour, it would be a breaking change for both, Podman and Buildah.

[2020-09-11 10:49] vrothberg commented on #1034
Note that it's only breaking when enforcing exactly this scenario. Doing a `build -t localhost/...` or ideally using a fully-qualified image reference will work across Docker, Buildah and Podman.

[2020-09-11 13:00] jschewebbn commented on #1034
If you want to avoid breaking existing Podman behavior, a command line switch that would be acceptable. It would make the ENGINE example above a bit more complicated, one would need to check which engine is being used and possibly add additional arguments, but that's not very difficult.

The really slow and inefficient workaround is to write a script that fixes the image after it's been built.

[2020-09-11 13:19] graywolf-at-work commented on #2587
If possible, if this happens again, could you keep the old (wrong) tag as well? It broke our builds since we have already started to use the `V` version.

I know that the fix is trivial, but still...

[2020-09-11 13:22] vrothberg commented on #2587
Thanks for reaching out, and apologies for breaking!

Absolutely. We'll be careful next time. The GitHub interface seems to really rename the tag. Next time, we'll do it manually and keep the old tag around :+1:

[2020-09-11 13:40] TomSweeneyRedHat commented on #2587
@graywolf-at-work I'll echo what @vrothberg said and also thank you for leting us know.  That was not something I'd on my radar as a possible problem with that change.  I'll keep that in back of mind going forward.

[2020-09-11 14:26] TomSweeneyRedHat commented on #2609
@giuseppe or @rhatdan thoughts?

[2020-09-11 14:27] TomSweeneyRedHat commented on #2607
@nalind are they any issues with running commit with squash when using a docker format that you're aware of?

[2020-09-11 14:35] nalind commented on #2607
This should be fixed by #2598/#2603, the latter of which should be in the upcoming 1.16.1 release.

[2020-09-11 14:48] ssbarnea commented on #1034
Thanks for the hints, I was able to add the localhost/ prefix in order to make it work for both.

How about a compromise and raise warning on stderr every time a "- t tag-with-no-prefix" is called from the command line, asking user to mention the prefix in order to avoid portability issues?

[2020-09-11 15:50] jschewebbn commented on #1034
@ssbarnea  the problem with just warning is that doesn't get the compatibility with docker that some of us need. I need to have a way to tell podman to not include a prefix. It's fine to get a warning in this case, but there needs to be a way to say no prefix.

[2020-09-11 15:52] jschewebbn commented on #1034
Here's a python script that one can use in place of `docker save` that handles multiple images and removes the "localhost" prefix that podman adds. While this works, it's really inefficient. However until podman adds an option to not specify the prefix, this is what I need to do.
[podman_save_multiple.txt](https://github.com/containers/buildah/files/5210158/podman_save_multiple.txt)

[2020-09-11 16:19] TomSweeneyRedHat commented on #1034
This sounds like an excellent weekend project for myself.  Let me see if I can come up with a way to use a new option to remove localhost if the option is set to true.  `--nolocalhost` perhaps?

[2020-09-11 18:54] smac89 opened #2611 "buildah config --shell errors out even when image is to be committed as docker"
**Description**

Attempting to run `buildah commit --shell` fails with the error

[code]

As far as I can tell, we can only specify the format of the image when we run `buildah commit --format`, but this builds the image without setting the `SHELL`.

**Steps to reproduce the issue:**
1. Create a container: `ctr=$(buildah from 'debian:buster-20200803-slim')`
2. Configure the container: `buildah con

[2020-09-12 05:26] SwitchedToGitlab opened #2612 "Unshare (non-root): Buildah Script Example in MAN page does not work"
`buildah unshare` man page script example does not work. I take the script example, I save it as a .sh file, I even make it +x, I get an error message when attempting to run it.

You might also want to note I'm using ZSH, which appears to affect not only how the here doc works, but also seems to make any variables created in a sub-shell not work as expected either.

Not sure if I should create ano

[2020-09-12 11:24] smac89 commented on #2612
Try `buildah unshare ./buildah-script.sh`

[2020-09-12 11:36] smac89 commented on #2607
Happy to report that this indeed works in `1.16.1`.

Thank you

[2020-09-12 11:36] #2607 closed

[2020-09-12 12:03] smac89 opened #2613 "buildah config --cmd is not correctly parsed"
**Description**

When specifying `buildah config --cmd` where the command is seperated by an `&&`, the second half of the command is completely ignored.

If this is intentional, please add documentation as to the format of the command

**Steps to reproduce the issue:**
1. Create a container: `ctr=$(buildah from 'debian:buster-20200803-slim')`
2. Set the container's default command: `buildah config

[2020-09-12 12:23] smac89 commented on #2613
Nvm, I found that by using `/bin/bash -c "<command here>"` works

[2020-09-12 12:23] #2613 closed

[2020-09-14 08:44] vrothberg commented on #1034
I suggest to wait until we have consensus on the way forward.

IMHO a flag isn't as user-friendly as I'd like it to be. If users wish to change the behaviour, they had to specify the flag all the time which is a bit annoying and error prone as it can easily be forgotten.

I could imagine, however, a new option in the `registries.conf`.

[2020-09-14 13:41] rhatdan commented on #2609
Did you see any AVC messages
ausearch -m avc -ts recent

[2020-09-14 21:43] Obirvalger opened #2619 "buildah add fails to resolve path"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**
Either buildah add fails to resolve path or it writes a wrong error message. In an error message is said that the passed path could not be resolved relative to `/` even if the path is a rigth absolute path but without starting `/`.  Also, it seems unusual

[2020-09-15 05:18] jskovjyskebankdk commented on #2609
Uh, @rhatdan, I run it in a container on an OpenShift platform. I do not have shell access on the host.

I do not assume you meant executed in the container?
FWIW that fails (maybe I need to start some process?)

[code]

[2020-09-15 12:51] jayaddison commented on #2531
Currently experiencing the same (or a very similar) issue when attempting to pull `node:alpine` from docker.io in an unprivileged environment and also using the `overlay` storage driver:

[code]

Docker provide some [container build information](https://github.com/docker-library/repo-info/blob/a75609b42e60235c879b3577eaa6707b4561c5f7/repos/node/remote/alpine.md) related to that image layer.

SELin

[2020-09-15 13:03] rhatdan commented on #2611
In order to get this to work, you can specify the format as docker on the from command.
 ctr=$(buildah from --format docker 'debian:buster-20200803-slim')

But I think we should be less strict about enforcing this on config, since you can change the format on commit.

[2020-09-15 13:12] rhatdan commented on #2611
Ok these are not blocking, I believe they should be at the Warn level

[code]
Now I need to investigate defaulting Buildah to the warn level.

[2020-09-15 13:24] rhatdan commented on #2611
https://github.com/containers/buildah/pull/2620 Changes these messages to Warning, so that you would realise that the command was actually successful, and if you commit with the --docker flag, the data would be stored.

[2020-09-15 14:15] amakeenk commented on #2619
I am faced with similarly problem:
[code]
Version of buildah:
[code]

System:
[code]

[2020-09-15 14:33] rhatdan commented on #2612
@SwitchedToGitlab Sorry about your fustration with Rootless Buildah and to a smaller degree Podman. With rootless mode we are pushing the boundaries of what a non privileged user can do.  One of the requirements is to use the user namespace. A normal user is not allowed to mount file system, unless they are in a user namespace along with their own mount namespace.  Then they are allowed to mount d

[2020-09-15 15:56] smac89 commented on #2611
Thanks for this.

@rhatdan the man page does not include this `--format` option, which is why I probably missed it, however `buildah from --help` shows it. Please add it to man as well

[2020-09-15 18:14] zhaofengli opened #2621 "Buildah fails when the base image has symlink with the same name as a VOLUME"
**Description**

*Well, I'm not sure if this is considered a bug or not, as it can be argued that the Dockerfile itself can be rewritten in a better way, but here goes:*

`buildah bud` / `podman build` fails when the base image or previous layer has a symlink with the same name as a `VOLUME`. Similar to #1439 but with different behavior.

**Steps to reproduce the issue:**

Let's take a look at thr

[2020-09-15 19:09] rhatdan commented on #1034
Why is this Docker only?
[code]
podman run -it elastic-recheck /bin/bash

Works on Podman?

[2020-09-15 19:10] rhatdan commented on #1034
All podman commands are supposed to prepend the localhost/ prefix on images without a registry.  Just like Docker does with docker.io.  Am I missing something?
Only issue I see is the podman images, which we could make hide the localhost/ prefix if you would want?

[2020-09-15 19:17] jschewebbn commented on #1034
I want to create an image with podman named "foo", then save it to a file and then load the image with docker and the image to be named "foo". This is consistent with how docker works. If I need to add a command line flag to the podman save command, that's fine. If I need to put some flag in my podman registries.conf, that's fine too.

Currently I'm running the python script that I posted in https

[2020-09-15 20:52] TomSweeneyRedHat commented on #2619
The code that's hanging up here is in add.go at this [line](https://github.com/containers/buildah/blob/master/add.go#L358).  It's triggered because the `filepath.Rel(contextDir, glob)` call a few lines up is failing as it designed.  The value for contextDir is `/` and the glob is `root/test.txt`.  As the Rel() function just looks at those two strings that are given it, the glob is not relative to

[2020-09-15 21:00] rhatdan commented on #2621
On a quick glance these look like bugs to me.  Care to take a look to attempt to fix them?

[2020-09-15 21:04] rhatdan commented on #2611
@edsantiago could you add your man page checker from Podman to Buildah so we could find these type of errors.

[2020-09-15 21:07] zhaofengli commented on #2621
Sure, I'll take a look later today.

[2020-09-15 22:06] TomSweeneyRedHat commented on #2621
@zhaofengli thanks for the issue and thorough investigation.  One really quick note, for sample B, I'm going to guess that if you added the option `--layers` to the `buildah bud` command, then that would fail as the `podman build` command did.  I can't give you quick pointers on this, but I'm guessing this will be an "entertaining" fix, hopefully I'm wrong here.  But you're right, all of those bui

[2020-09-15 22:08] TomSweeneyRedHat commented on #2611
@smac89 TYVM for the missing man page reference pointer!

[2020-09-15 23:47] zhaofengli commented on #2621
@TomSweeneyRedHat It ended up being a really simple fix :smile: And yes, I replicated the same issue by adding `--layers` to `buildah bud`.

[2020-09-16 09:04] vrothberg commented on #1034
Docker only normalizes to docker.io when pushing (or pulling). Podman prefixes localhost/ when _tagging_. So when you run `podman tag foo` and want to check with `podman images` you don't get foo but localhost/foo.

Podman push and pull behave differently. AFAIR push will pick the first item in the search registries and pull iterates over the list with first successful pull wins.

[2020-09-16 12:02] #2611 closed

[2020-09-16 12:40] jayaddison commented on #2531
The same permissions problem appears when attempting to retrieve the current `node:buster-slim` image, but *not* apparently for the current `node:buster` image (unusual, expecting the former to be roughly a subset of the latter).

[2020-09-16 13:11] edsantiago opened #2628 "flake? Gating tests: failed to make veth pair"
Source: gating tests for [buildah-1.17.0-0.13.dev.git552cbd3.fc34](https://bodhi.fedoraproject.org/updates/FEDORA-2020-f7d94d6bcf) (but I've also seen it in other recent builds).  ([log](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/16053/pipeline/#step-177-log-1788)).
[code]

[2020-09-16 14:12] cgruver opened #2629 "Non-Root buildah issues in Tekton Pipeline"
I am attempting to adapt the tutorial: https://github.com/containers/buildah/blob/master/docs/tutorials/05-openshift-rootless-bud.md to work within a Tekton Task.

I am running into the following error:

[code]

_*Relevant Info*_

* The `pipeline` service account has been granted `nonroot` privileges

[code]

I verified that this works with the tutorial above, rather than `anyuid`

* Buildah - fro

[2020-09-16 14:38] nalind commented on #2619
I'm not sure that using `Join()` and `Rel()` in that way does what we want, since `Rel()` is specified to return something that could be passed to Join to get the originally-passed path.  It looks like I completely missed the "ContextDir is not set" case during the recent overhaul.  Self-assigning.

[2020-09-16 15:56] cgruver commented on #2629
Some additional info from within the running pod:

[code]

Buildah can initiate a new image, but cannot pivot to it via `unshare`

[code]

Buildah can commit the empty image:

[code]

Buildah cannot pull an image:

[code]

[2020-09-16 17:41] Obirvalger commented on #2619
This patch also fixes work with relative paths. But I don't know why deleting code was added and what this change could break.

diff --git a/add.go b/add.go
index 1c1f116d..c3914b67 100644
--- a/add.go
+++ b/add.go
@@ -151,9 +151,6 @@ func (b *Builder) Add(destination string, extract bool, options AddAndCopyOption
        }()

        contextDir := options.ContextDir
-       if contextDir == "" {

[2020-09-16 18:24] cgruver commented on #2629
Yet more information:

newgidmap and newuidmap are clearly failing to run do to permissions of some sort.

[code]

[2020-09-16 19:58] cgruver commented on #2629
I observe the following securityContext set on the Pod:

[code]

Each Container in the pod has the following security context:

[code]

Is this potentially the issue?

[2020-09-16 20:57] TomSweeneyRedHat commented on #2621
@zhaofengli awesome!  I guess thinking it would not be an easy fix is due to me being a "doubting Thomas"!  Thanks for looking into this.

[2020-09-16 21:24] TomSweeneyRedHat commented on #2629
@giuseppe any thoughts?

[2020-09-16 21:38] cgruver commented on #2629
For comparison:

When I run the image built from the tutorial with: `adm policy add-scc-to-user nonroot -z buildah-sa` applied as security context for the service account, I see the following:

[code]

[code]

I'm looking into the Tekton default configuration to see where it is apply a default pod template of some kind.

[2020-09-16 22:04] cgruver commented on #2629
Got it!!!

Added a podTemplate to my Tekton Pipeline run:

[code]

`adm policy add-scc-to-user nonroot -z pipeline`

It works!  Non-Root buildah in a Tekton pipeline.  You don't have to run a privileged container.

I'll write this up after more testing.

[2020-09-16 22:09] TomSweeneyRedHat commented on #2629
Awesome work @cgruver !  We'd love a tutorial and/or a blog about your work!

[2020-09-17 15:22] #2619 closed

[2020-09-17 21:06] cgruver commented on #2629
Documentation is still WIP.  But here is where the solution will be posted:  https://github.com/cgruver/tekton-pipeline-okd4

[2020-09-17 21:06] #2629 closed

[2020-09-17 21:19] TomSweeneyRedHat commented on #2496
Fixed with #2522

[2020-09-18 10:45] slartibart70 opened #2637 "buildah-1.16.1-1.fc32.x86_64 / Error committing the finished image"
Hi,
after upgrade to buildah 1.16.1 i cannot commit finished images any more:
Example output:

[code]

i downgraded to 1.15.1 and all is fine again.
What is the fuss with vt200 here?
Any hints how to solve the problem?

[2020-09-18 10:50] vrothberg commented on #2637
Thanks for reaching out!

Please provide more information as requested in the issue template. A reproducer would be hugely beneficial to see what's going on.

[2020-09-18 11:51] jayaddison commented on #2531
As a workaround, it was possible to use `buildah bud` to build the container image 'from source' using the [current `buster-slim` `Dockerfile`](https://github.com/nodejs/docker-node/blob/3a5c226f511b1450eff15600aa4f877b272eeefd/14/buster-slim/Dockerfile) (this includes Node 14.11.0 and no further modifications, which seems to match with the corresponding container as [published](https://hub.docker

[2020-09-18 11:55] slartibart70 commented on #2637
Yes, sorry.
a failry simple example:
Dockerfile:
[code]

[code]

all this is running in rootless mode on fedora 32
`Linux T470 5.8.9-200.fc32.x86_64 #1 SMP Mon Sep 14 18:28:45 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
`

[2020-09-18 11:58] slartibart70 commented on #2637
the same with buildah 1.15.1

[code]

and i get the container-image as expected

[2020-09-18 12:24] vrothberg commented on #2637
Thanks for providing the details!

Curious. It works on my F33 machine with Buildah v1.16.0.

@rhatdan @TomSweeneyRedHat can you reproduce?

[2020-09-18 18:37] TomSweeneyRedHat commented on #2637
Hmm, working with 17.0.-dev on F31, it works just fine for me...

[2020-09-18 19:01] TomSweeneyRedHat commented on #2637
and yes, I badly need to upgrade my sandbox vm....

[2020-09-21 07:59] mshaikh786 opened #2639 "buildah-1.16.1 installation error on CentOS 7.7"
**Description**
While trying to install buildah from devel_kubic_libcontainers_stable repository, I am getting the following errors.

**Steps to reproduce the issue:**
1.
 `curl -L -o /etc/yum.repos.d/devel:kubic:libcontainers:stable.repo https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/CentOS_7/devel:kubic:libcontainers:stable.repo `

2. `sudo yum install -y buildah`

[2020-09-21 09:04] vrothberg commented on #2639
@lsm5 PTAL

[2020-09-21 12:11] rhatdan commented on #2609
The AVC's should be in the journal if the audit.log does not exists.

journal -b | grep -i avc

[2020-09-21 12:17] jskovjyskebankdk commented on #2609
There is no `audit.log` file and no journal:

[code]

[2020-09-21 13:10] edsantiago commented on #2628
[Another one](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/16245/pipeline/#step-177-log-1525)

[2020-09-21 14:43] lsm5 commented on #2639
should be fixed with 1.16.1-3 available on OBS now.

Closing. Please reopen if issue persists.

[2020-09-21 14:43] #2639 closed

[2020-09-21 19:13] rhatdan commented on #2609
Could you try that with sudo?

[2020-09-21 19:32] edsantiago commented on #2628
And [again in latest build](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/16267/pipeline/#step-177-log-1506). This is starting to look less and less like a flake.

[2020-09-21 22:18] #2388 closed

[2020-09-22 00:37] edsantiago commented on #2628
Yeah, definitely [not a flake](https://jenkins-continuous-infra.apps.ci.centos.org/blue/organizations/jenkins/fedora-rawhide-build-pipeline/detail/fedora-rawhide-build-pipeline/16278/pipeline/#step-177-log-1478)

[2020-09-22 06:00] jskovjyskebankdk commented on #2609
Same.

But as expected, surely? I run in a F32 container on OpenShift which just runs a python web server (as in https://github.com/containers/buildah/blob/master/docs/tutorials/05-openshift-rootless-bud.md). This happens in the Pod's terminal.

[code]

[2020-09-22 14:55] rhatdan commented on #2609
This seems a little weird.  The machine you running this on does not support journal?
[code]

[2020-09-23 05:23] jskovjyskebankdk commented on #2609
It is a F32 image running on OpenShift. So it runs nothing but a dumb web server (to keep the Pod alive) and my terminal.

The host - the OpenShift platform - is not something I have access to.

I can try to reach out to those who run the platform...

[2020-09-23 07:40] jingxiaolu commented on #2600
@TomSweeneyRedHat @nalind
could you please share your updates here? many thanks~

[2020-09-23 09:12] slartibart70 commented on #2637
any ideas how to progress?
i upgraded fc32 (incl. testing-repos), still no success: buildah 1.16.1 won't give me images and still complains about vt200.

But, one thing changed right now: i get an error message when building images with buildah (see also: https://github.com/containers/podman/issues/7713)

[code]

[2020-09-23 14:46] nalind commented on #2637
The warning about `fchmodat2` not being recognized as a valid syscall name isn't related to the `link /vt200 /etc/terminfo/v/vt220: no such file or directory` error, so we can let that be sorted out elsewhere.

The error copying hard links should have been fixed between v1.16.0 and v1.16.1, and I can reproduce it with the example Dockerfile and buildah-1.16.0-2.fc32 if I add the `--squash` option.

[2020-09-23 14:49] nalind commented on #2637
We tagged 1.16.2 yesterday, and the buildah-1.16.2-1.fc32.x86_64 package seems to identify itself as I'd expect it to.  If you grab it from the "BUILDS" link at https://bodhi.fedoraproject.org/updates/FEDORA-2020-e1160edcc9, does it work correctly?

[2020-09-23 19:14] slartibart70 commented on #2637
very nice!
[code]
this is working fine, i get my container-images produced
Thanks for providing the updated version!

[2020-09-23 19:15] #2637 closed

[2020-09-23 20:23] TomSweeneyRedHat commented on #2637
Woot!  @slartibart70 thanks for the confirmation!

[2020-09-24 09:54] rhatdan opened #2648 "containers/common (v0.23.0) has support for default format for building images"
This needs to be wired into Buildah.

[2020-09-24 09:56] rhatdan commented on #2600
@jingxiaolu There has been a full rewrite of the COPY code, we would love to have you run your analysys on the master branch or v1.16.2 to see how much it has improved.

[2020-09-24 10:57] Luap99 opened #2649 "buildah --userns-uid-map and --userns-gid-map is not validated correctly"
**Description**

The `--userns-uid-map` and `--userns-gid-map` flag validation does not work correct. Something like `--userns-uid-map bogus` is silently ignored. However `--userns-uid-map 123` fails with an error. So it looks like the validation only works if the argument contains a number.

This works (mappings are ignored):
`buildah bud --userns-gid-map a --userns-uid-map b .`
This fails:
`buil

[2020-09-24 13:32] Luap99 commented on #2648
@rhatdan PR #2650

[2020-09-24 15:32] jingxiaolu commented on #2600
@rhatdan thanks very much for your update!
@zvier please~

[2020-09-25 03:23] zvier commented on #2600
Fantastic job ，20s in my environment with this new version, about 19s more faster than docker.

[2020-09-25 03:24] #2600 closed

[2020-09-25 08:44] #2648 closed

[2020-09-25 21:29] TomSweeneyRedHat commented on #2600
@zvier thanks very much for the follow-up.  I'm so glad the changes were successful for your environment.

[2020-09-26 21:56] TomSweeneyRedHat commented on #2649
May be related to https://bugzilla.redhat.com/show_bug.cgi?id=1758999

[2020-09-28 10:35] babykart opened #2657 "podman-2.1.X build does not preserve the UID & the GID"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

podman build does not preserve the UID & the GID.

**Steps to reproduce the issue:**

1. Create a simple Dockerfile

[code]

[code]

[code]

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g

[2020-09-28 21:07] rhatdan commented on #2657
@nalind PTAL
This blows up on current buildah as well.

[2020-09-28 21:07] rhatdan commented on #2657
@TomSweeneyRedHat PTAL

[2020-09-28 23:20] leifmadsen commented on #2317
Does this issue effectively make it impossible to use podman to build bundle images and create custom registries? I'm running into what looks like this same issue when using `operator-sdk` (v0.16.0) and `opm` to create a custom bundle registry. (I'm trying to migrate from application registries to bundle registries.)

[2020-09-29 04:00] dominic-p opened #2658 "Minor: faster releases for Ubuntu?"
This isn't that big of a deal, but I was wondering if anything could be done to shorten the time from when a release is made on GitHub to when the update hits the Ubuntu PPA on the Kubic build system.

I'm currently blocked on a project by #2619. That issue was fixed super fast and the fix was included in 1.16.2 which was released about a week ago, but the Ubuntu PPA still only has 1.16.1. I know

[2020-09-29 07:38] Frederik-Baetens commented on #2317
https://github.com/containers/image/issues/733 Used to make it impossible for me, but I haven't been able to reproduce after some brief testing.

[2020-09-29 09:43] SurmaAa commented on #2521
Got the same problem on CentOS, no problems on Ubuntu

STEP 16: RUN eval $(ssh-agent -s)
Agent pid 7
Error: error committing container for step STEP Command:run Args:[eval $(ssh-agent -s)] Flags:[] Attrs:map[] Message:RUN eval $(ssh-agent -s) Original:RUN eval $(ssh-agent -s)}: error copying layers and metadata for container "HASH": Error initializing source containers-storage:HASH-working-contain

[2020-09-29 13:02] rhatdan commented on #2658
@lsm5 PTAL

[2020-09-29 13:08] lsm5 commented on #2658
@dominic-p ack, let me check and fix it.

There's some automation in place for sending the package builds to OBS, but I've been seeing problems with the OBS client tool on gitlab, so it's been kinda flaky. I'll look into that as well when I get the chance.

[2020-09-29 13:54] lsm5 commented on #2658
@dominic-p 1.16.2 available now. Sorry about the delay.

[2020-09-29 13:54] #2658 closed

[2020-09-29 15:16] Frederik-Baetens commented on #2317
Nvm, reproduced it again, but --format docker does seem to fix this, but that's with a sample size of 1 container build, so I don't know how reliable that workaround might be.

[2020-09-29 17:09] dominic-p commented on #2658
Thanks @lsm5 I really appreciate it.

[2020-09-29 18:48] jayaddison commented on #2531
Since `buildah 1.16.2~1` (as retrieved from the OpenSUSE OBS `apt` repository) this issue appears resolved here.

[2020-09-30 11:41] #2657 closed

[2020-10-01 16:55] TomSweeneyRedHat opened #2666 "Remove bors from CI"
This one is pointed at @cevich.  @baude has given us the ability to do LGTM/lgtm style merges and that seems to be working.
Chris can you remove the bors pieces, please?  We thank you for the efforts there, but bors just didn't live up to its billing.

[2020-10-01 17:48] nalind commented on #2090
1.16 should be noticeably faster, but my attempt to verify that with @matrohon's example turned up a different bug that should be fixed by https://github.com/containers/buildah/pull/2667.

[2020-10-01 17:53] #2531 closed

[2020-10-01 20:55] #2090 closed

[2020-10-01 23:05] jayaddison commented on #2531
Apologies - I may have been mistaken about this being resolved; the issue appears reproducible in `buildah 1.16.3~1` from OBS.

That *might* indicate a regression in `1.16.3~1` -- but I think it's more likely that during my attempt to verify the behaviour for `buildah 1.16.2~1` in my [previous comment](https://github.com/containers/buildah/issues/2531#issuecomment-700911240) I was in fact running

[2020-10-02 10:48] jayaddison commented on #2531
Running `strace -f buildah from node:alpine` produces a potentially more informational error message related to the failed image commit operation:

[code]

[2020-10-02 20:01] cevich commented on #2666
No worries, I don't take it personally :smile_cat:

[2020-10-02 21:14] #2666 closed

[2020-10-04 22:59] Romain-Geissler-1A commented on #2411
Hi,

FYI, trying to migrate some of the builds of my company to RHEL 8, we also naturally move from the historical Docker container engine to podman. I also note that it seems that for us, some of our workloads are quite impacted by the use of fuse-overlay (well, in my case it's when using podman, not buildah, but I guess the problems are shared by both). Typically, actions either involving lots o

[2020-10-05 17:23] jpic commented on #2383
@rhatdan you can play with https://yourlabs.io/oss/shlax.git :

- install with `pip3 install -e .[test,cli]`
- build with `./shlaxfile.py build`
- test with `py.test -sv tests`

Sorry for the delay, still need to add support for docker for traefik service discovery unless I find another dynamic lb that supports podman ?

[2020-10-05 22:39] qhaas commented on #2317
Yeah, same here... and I didn't find out it is an issue until I tried to build a Singularity image from a docker image in a GitLab  docker registry that was built/pushed using podman:
[code]

In my Makfile build script, I just send it to the ancient docker version in the RHEL7 repo to push, which is slow/ugly, but works:
[code]

[2020-10-06 09:44] rhatdan commented on #2411
@giuseppe PTAL
One potential speed up would be to use a volume as opposed to a COPY or ADD Operation.  BTW There has been a big improvement in COPY/ADD in the upstream podman/buildah packages. They should be arriving in Podman 2.0.6 and later versions.

[2020-10-06 12:58] giuseppe commented on #2411
fuse-overlayfs is slow when there are multiple writes at the same time, one possible speed up is to disable sync calls with  `mountopt = "fsync=0` in your `storage.conf` file.

Could it be possible to use a volume for the build and then only copy the files to destination?

Something like: `podman run -v ./tmp:/workspace ...` and do all the build in the `/workspace` directory then just install them

[2020-10-06 14:05] spillay63 opened #2675 "Buildah push fails with a non-root user using the --authfile option"
**Description**
I am running buildah as a non-root user. I have run the buildah login command using the --authfile argument. Login succeeds and the auth.json file is created. However when I use the generated authfile in a buildah push command, the command fails with the following output.

error pushing image "xyz" to "docker://xyz": error copying layers and metadata from "containers-storage:[overl

[2020-10-06 18:05] TomSweeneyRedHat commented on #2675
@QiWang19 can you take a look at this please?

[2020-10-07 18:22] rhatdan commented on #2612
@TomSweeneyRedHat Want to make this into a Blog?

[2020-10-07 18:26] rhatdan commented on #2589
This is fixed in main branch.

[2020-10-07 18:26] #2589 closed

[2020-10-07 18:26] #2588 closed

[2020-10-07 18:29] rhatdan commented on #2542
@sebastianwebber Is this still an issue,  I have a feeling this is because buildah defaults to OCI images and perhaps these tools can't deal with them.
If you want to build the older docker format, you can specify `--format docker`

[2020-10-07 18:29] rhatdan commented on #2541
This has been fixed.

[2020-10-07 18:29] #2541 closed

[2020-10-07 18:30] #2524 closed

[2020-10-07 18:30] rhatdan commented on #2523
@Fodoj Did you get any further?

[2020-10-07 18:31] rhatdan commented on #2521
@ashley-cui PTAL

[2020-10-07 18:32] rhatdan commented on #2507
I don't believe this was a buildah issue, reopen if I was mistaken.

[2020-10-07 18:32] #2507 closed

[2020-10-07 18:33] rhatdan commented on #2504
Only way to do this is with buildah directly and --isolation=chroot.

[2020-10-07 18:33] #2504 closed

[2020-10-07 18:33] #2496 closed

[2020-10-07 18:34] rhatdan commented on #2475
I think this is fixed.  Reopen if I am mistaken.

[2020-10-07 18:34] #2475 closed

[2020-10-07 18:35] rhatdan commented on #2469
@TomSweeneyRedHat PTAL

[2020-10-07 19:03] Fodoj commented on #2523
Not really, sorry. I just used another base image, didn't have much time left to investigate further.

[2020-10-07 19:21] TomSweeneyRedHat opened #2676 "buildah --userns-uid-map and --userns-gid-map is not validated correctly"
This was first reported by @Luap99 in https://github.com/containers/storage/issues/739.  This issue has two issues.  One is in the storage side of things that's being fixed with https://github.com/containers/storage/pull/740.  The second is Buildah is not sending the value of --userns-uid-map-user and --userns-gid-map-group to NewIDMappings() as it should to validate the value passed to the option

[2020-10-07 19:27] TomSweeneyRedHat commented on #2612
@rhatdan sure!

[2020-10-07 21:13] #2523 closed

[2020-10-07 21:17] rhatdan commented on #2214
I am going to assume this has been fixed in the main branch, reopen if I am mistaken.

[2020-10-07 21:17] #2214 closed

[2020-10-07 21:19] rhatdan commented on #2228
@tomkukral Best you can do is turn on --log-level=debug and then you will see the skipped files.

[2020-10-07 21:19] #2228 closed

[2020-10-07 21:21] rhatdan commented on #2276
@abitrolly Were you ever able to get to look at this?

[2020-10-07 21:46] TomSweeneyRedHat commented on #2676
Closing this out.  I was confused between `--userns-gid-map` and `--userns-gid-map-group`, ditto the equivalent user.  When using the `--user-gid-map-group` option, we are validating the parameter with NewIDMappings as we should be.

[2020-10-07 22:54] rhatdan commented on #2374
This is fixed in main branch and the current release.

[2020-10-07 22:54] #2374 closed

[2020-10-07 22:57] rhatdan commented on #2325
@vikas027 Any update?

[2020-10-07 23:02] rhatdan commented on #2308
I am going to assume this is fixed, Reopen if I am mistaken.

[2020-10-07 23:02] #2308 closed

[2020-10-07 23:02] rhatdan commented on #2382
II am going to close this for lack of information, reopen if more info becomes available.

[2020-10-07 23:02] #2382 closed

[2020-10-07 23:09] rhatdan commented on #2404
@nnachefski @TomSweeneyRedHat What is going on with this one?

[2020-10-07 23:16] rhatdan commented on #2127
@yangfeiyu20102011 Do we still have the issue?

[2020-10-07 23:17] #2099 closed

[2020-10-07 23:18] rhatdan commented on #2061
Added a man page

[2020-10-07 23:18] #2061 closed

[2020-10-07 23:19] rhatdan commented on #2040
No responce from reporter closing.

[2020-10-07 23:19] #2040 closed

[2020-10-07 23:19] #2030 closed

[2020-10-07 23:20] rhatdan commented on #2007
@TomSweeneyRedHat Did you ever look at this?

[2020-10-07 23:21] #1991 closed

[2020-10-07 23:25] rhatdan commented on #1888
I am going to close, since we have a workaround and are not sure that it still works on Dockre.

[2020-10-07 23:25] #1888 closed

[2020-10-07 23:26] rhatdan commented on #1818
I believe @giuseppe answered the question, reopen if I am mistaken.

[2020-10-07 23:26] #1818 closed

[2020-10-07 23:26] #1817 closed

[2020-10-07 23:28] rhatdan commented on #1802
@fins2 Is this still an issue?  Can I close this?  I am not sure this is a buildah problem

[2020-10-07 23:28] TomSweeneyRedHat commented on #2676
Reopening, these fields do have a formatting problem, working up a fix now.

[2020-10-07 23:28] #1736 closed

[2020-10-07 23:29] rhatdan commented on #1693
I believe this is fixed.  Reopen if I am mistaken.

[2020-10-07 23:29] #1693 closed

[2020-10-07 23:30] rhatdan commented on #1092
@ibotty @Fodoj Still seeing this issue?

[2020-10-07 23:31] rhatdan commented on #1864
I believe we have completed this, reopen if I am mistaken.

[2020-10-07 23:31] #1864 closed

[2020-10-07 23:35] rhatdan commented on #1469
@bachp were are we on this one?  Is the documentation good enough yet?

[2020-10-07 23:35] rhatdan commented on #1452
This one has been fixed.

[2020-10-07 23:35] #1452 closed

[2020-10-07 23:36] rhatdan commented on #1292
@dsonck92 Did you ever get a chance to work on this?

[2020-10-07 23:38] rhatdan commented on #1213
I think this is fixed, reopen if I am mistaken.

[2020-10-07 23:38] #1213 closed

[2020-10-08 01:27] abitrolly commented on #2276
@rhatdan no, and I won't be able. (

[2020-10-08 02:41] vikas027 commented on #2325
Hello @rhatdan ,

I have tried doing so in a native docker way first, but still can't get it working through a normal user.

[code]

[2020-10-08 03:05] bparees commented on #1213
this test is still not re-enabled:
https://github.com/openshift/origin/blob/master/test/extended/builds/s2i_quota.go#L60

@adambkaplan do you want to re-enable it in a PR and see if it's working now?  As i recall it was a flake you'll need to test the PR a few times to have confidence.

[2020-10-08 06:19] Fodoj commented on #1092
@rhatdan hard for me to remember how I reproduced it initially, but I would say its fixed in latest releases.

[2020-10-08 06:25] dsonck92 commented on #1292
Not yet as I'm pretty occupied with other things but I'm considering picking this up in December.

[2020-10-08 06:47] fins2 commented on #1802
Yes It's still an issue.

[2020-10-08 07:00] ibotty commented on #1092
I can try to trigger it again, hopefully friday. If not the week after next week.  I worked around the problem.

[2020-10-08 18:39] rhatdan commented on #2276
@nalind what are you thoughts on this?

[2020-10-08 18:41] rhatdan commented on #1802
@jnovy @fatherlinux who do we point this at?

[2020-10-08 19:58] nalind commented on #2276
I'd basically echo [@mtrmac's comments](https://github.com/containers/buildah/issues/2276#issuecomment-669281443).

[2020-10-08 20:30] bachp commented on #1469
@rhatdan Could you provide a link to the documentation you are refering to? So I could verify.

[2020-10-09 05:44] tomkukral commented on #2228
Ok, works for me. Thanks.

[2020-10-09 09:40] zhcf opened #2680 "Could buildah support build multiple images concurrently, and the images are using 2 differenet dockerhub acccount."
I have 2 dockerhub accounts: user1, user2.  And there is one private docker image test under every user account.
I want to build one new docker image image1 which will use the private docker image test under user1
I want to build another docker image image2 which will use the private docker image test under user2

I tried, it really can build image1 and image2 concurrently.
buildah bud --creds use

[2020-10-09 14:15] nnachefski commented on #2404
this still doesnt work.

[2020-10-09 17:25] rhatdan commented on #2680
Not sure what you are worried about.  If both Dockerfiles pull the same image then both will pull, I believe. There was work to fix this, but has not made it into the tools yet. If they are pulling different images, then there will be no problem.

[2020-10-09 19:34] tvvignesh commented on #875
@TomSweeneyRedHat @rhatdan I have the same issue. Have added the details here: https://github.com/containers/podman/issues/7982 Any way I can proceed? Thanks.

[2020-10-09 19:40] QiWang19 commented on #2675
I can't reproduce this. Have you met the same error if you try Podman? @spillay63

[2020-10-09 19:43] tvvignesh commented on #1643
Facing the same issue sadly: https://github.com/containers/podman/issues/7982

[2020-10-09 21:13] TomSweeneyRedHat commented on #2007
Not yet, still on the list.

[2020-10-10 01:17] zhcf commented on #2680
@rhatdan when we pull the same docker image in 2 different process simutaneously. we will find the 2 processes have the same download pertentage for every layer, so I guess, docker has the mechanism to ensure one unique layer can just be downloaded once by the docker daemon, the docker client just get the layer downloading status.

[2020-10-10 02:06] yangfeiyu20102011 commented on #2127
The PR will fix this.
https://github.com/containers/storage/pull/742/files

[2020-10-10 12:28] rhatdan commented on #1092
Ok reopen if you retrigger.

[2020-10-10 12:28] #1092 closed

[2020-10-10 13:18] jandroav opened #2685 "buildah copy. error checking on source. no such file or directory"
**Description**
After upgrading Buildah from v1.15.2, when trying to copy .jar files to the destination container directory it throws the error:

**Steps to reproduce the issue:**
1. Execute
`buildah copy b-builder-b-base-ubuntu-adoptopenjdk11-working-container-8 target/akira-rest-2.2.1-SNAPSHOT.jar /deployments`

**Describe the results you received:**
error adding content to container "b-builder-

[2020-10-11 10:29] vorburger opened #2686 ".dockerignore chokes on comments with open parenthesis"
**Description**

https://issues.apache.org/jira/browse/FINERACT-1195 records a `podman build .` of https://github.com/apache/fineract/ which following a Podman update was suddenly broken:

```error during bulk transfer for copier.request{Request:"GET", Root:"/", preservedRoot:"/home/vorburger/dev/Mifos/fineract", rootPrefix:"/home/vorburger/dev/Mifos/fineract", Directory:"/", preservedDirectory:"/

[2020-10-11 17:07] TomSweeneyRedHat commented on #2686
@nalind another .dockerignore issue.  Maybe related to : https://github.com/containers/buildah/pull/2681?

[2020-10-12 13:58] nalind commented on #2686
It appears not.  We're using `imagebuilder.ParseDockerignore()` to load the file's contents, but while we assume that it's stripping out commented lines for us, it isn't.  A quick spot-check suggests that imagebuilder has the same problem.  Self-assigning.

[2020-10-13 07:44] #2685 closed

[2020-10-13 07:44] jandroav commented on #2685
fixed using absolute path

[2020-10-13 09:49] rhatdan commented on #2680
Well we end up in the same state, each layer is shared between both buildah, the one that gets downloaded first.
@vrothberg PTAL

[2020-10-13 12:54] rhatdan commented on #2325
I have no idea why this is not working?

@giuseppe Any ideas?

[2020-10-13 16:10] larsks opened #2691 "Running 'buildah images' is much slower than running 'podman images'"
**Description**

Running `buildah images` is around 10 times slower than running `podman image`.

For example, `podman`

[code]

Vs `buildah`:

[code]

**Steps to reproduce the issue:**
1. Run `time podman images`
2. Run `time buildah images`
3. Compare the results

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman version`

[2020-10-13 18:59] SwitchedToGitlab opened #2692 "CGroups v2: crun executable file not found in $PATH"
Switched to CGROUPSv2, get the error message `"crun": executable file not found in $PATH` when doing `buildah run`.

This is probably a user/config issue on my end, but I dont see anywhere that I would have configured the runtime to use `crun` vs `runc`. `runc` is installed at `/usr/bin/runc`, which is in my `$PATH`. `crun` is not installed on this machine, and `runc` is my preferred container run

[2020-10-13 19:36] enedil opened #2873 "`arch: arm` instead of `arch: arm32v7` implies official images need to be referenced by archtecture explicitely"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I'm running Podman on Raspberry Pi:
[code]

The problem is, that `podman info` tells that my architecture is
[code]

However official docker.io images have architectures named a bit differently, for instance `arm32v7`. This is caused by using `runtime.GOARCH` (`libpod/info.go`, function `host

[2020-10-13 20:45] rhatdan commented on #2692
Podman has builtin support that switches to crun when you use cgroupV2. runc did not support V2 until recently, if it does at all on your platform.

Can you install crun?

[2020-10-14 00:51] #2692 closed

[2020-10-14 00:54] SwitchedToGitlab commented on #2692
Closing, expected behavior.

Hopefully this issue is enough documentation on this for now. Thanks @rhatdan for getting back to me so quick.

@rhatdan, can you comment on what the preferred container runtime is? Looks like this team is also heavily involved in `crun`, but it doesn't appear as mature - not sure if that matters. `runc` is in the tumbleweed repos so it's easier for me, but with tumble

[2020-10-14 01:57] SwitchedToGitlab commented on #2692
No, and I'm filing an issue on that.

[2020-10-14 05:26] zhcf commented on #2680
ok, got it, thank you, will close it.

[2020-10-14 05:26] #2680 closed

[2020-10-14 07:42] giuseppe commented on #2325
is `/dev/fuse` available inside the container?

[2020-10-14 08:49] vrothberg commented on #2691
Thanks for opening the issue, @larsks!

We recently did some major improvements to Podman's image code. Podman and Buildah don't share that code, unfortunately. However, we plan to create a high-level image library that Podman, Buildah and also CRI-O can share.

@rhatdan, @baude, can we raise priority for that? It's a building block for the CRI-O/libpod work but went under the radar.

[2020-10-14 14:32] rhatdan commented on #2692
We are trying to be OCI Runtime Agnostic.  We are currently using crun on Fedora for support for CGRoupsV2 although Red Hat has been contributing heavily to get runc up to snuff, as well as the entire Kubernetes community to handle cgroupv2.
In RHEL currently we only support runc, since we don't support crun on RHEL.  We have crun available now in tech-preview for RHEL8.3  In RHEL8.4 we will suppo

[2020-10-14 18:34] rhatdan commented on #2691
Sure, SGTM.

[2020-10-14 19:44] sab24 commented on #2230
you can build using buildah bud --ulimit nofile=4096:4096 .

[2020-10-14 20:31] nnachefski commented on #2404
Using image quay.io/buildah/upstream:master

`STEP-DEBUG

building with ARGS: 'FOO=BAR FROM=ubi8:latest'
STEP-BUILD

STEP 1: FROM ubi8:latest
Getting image source signatures
Copying blob sha256:c4d668e229cd131e0a8e4f8218dca628d9cf9697572875e355fe4b247b6aa9f0
Copying blob sha256:ec1681b6a383e4ecedbeddd5abc596f3de835aed6db39a735f62395c8edbff30
Copying config sha256:ecbc6f53bba0d1923ca9e92b3f747da835

[2020-10-14 21:04] #2586 closed

[2020-10-14 23:54] #2686 closed

[2020-10-15 17:16] gzm55 commented on #2359
@giuseppe in rootless container, buildah 1.16.4 with fuse-overlayfs driver still fail to commit image, the error log:

[code]

In root mode, building works as excepted. `/storage` is a mounted ro dir, the owner is root.

[code]

[2020-10-19 13:19] QiWang19 commented on #2594
Saw this error with Buildah 1.15.1 but failed to reproduce this with the upstream branch. This should have been fixed. @mh21 have you tried the newer version of Buidlah?

[2020-10-19 16:49] damnms opened #2701 "build fails on fedora 33 beta for a dockerfile"
**Description**
i get an error on fedora 33 beta with podman when i try to build one of the dockerfiles

**Steps to reproduce the issue:**
1. checkout https://gitlab.com/olze/fakecam
2. run: cd fakecam && podman build -t bodypix ./bodypix
3.

**Describe the results you received:**
an error which was working a couple of days/weeks before

[code]

**Describe the results you expected:**
no error and

[2020-10-19 17:20] damnms commented on #2701
[strace.log](https://github.com/containers/buildah/files/5403616/strace.log)

[2020-10-19 17:32] nalind commented on #2701
Hmm, given the call that created the file was logged as
[code]
without producing an error, and the final exit status was 0, that unfortunately didn't reproduce the error as I'd hoped it would.

If you can reliably reproduce the problem using the original Dockerfile, can you attempt running the original build command under strace as well?  It may hang when attempting to run the RUN instructions, an

[2020-10-19 17:43] damnms commented on #2701
is the cwd is correct?

[2020-10-19 17:46] nalind commented on #2701
After it chroot()s into the destination rootfs, it is, yes.

[2020-10-20 08:06] spillay63 commented on #2675
This turned out to be an issue with our LDAP server and not buildah. The ticket can be marked as invalid and closed.

[2020-10-20 13:23] #2675 closed

[2020-10-20 14:41] edsantiago opened #2705 "buildah bud is gobbling stdin"
buildah bud is gobbling stdin that does not belong to it. This makes it impossible to pipe script commands to a shell.

[code]
Note that the 'echo bye' is gobbled up by buildah. If you redirect stdin on the buildah command, it works as expected:
[code]
See also: https://github.com/containers/podman/issues/8066

[2020-10-20 15:04] kitty-catt opened #2706 "forward proxy"
Can a tutorial be made that describes how to configure buildah to run behind a forward proxy?

[2020-10-20 15:04] kitty-catt opened #2707 "forward proxy"
Can a tutorial be made that describes how to configure buildah to run behind a forward proxy?

[2020-10-20 15:10] TomSweeneyRedHat commented on #2706
@kitty-catt seems like a good thought.  I've not messed with it myself, but perhaps someone with more experience in that arena can hop on.

[2020-10-20 15:10] TomSweeneyRedHat commented on #2707
Duplicate of #2706, closing this in favor of that.

[2020-10-20 15:10] #2707 closed

[2020-10-20 18:26] rhatdan commented on #2705
I am not seeing this happen on the main branch of Podman, BTW.  But opened a PR anyways,

[2020-10-21 01:51] weskerfoot opened #2712 "Installation fails on Centos 8 with network errors about invalid Content-Length"
**Description**

**Steps to reproduce the issue:**
1. Run `docker build -f buildah buildah.dockerfile` with the attached example dockerfile
2. Get the error message `[MIRROR] containers-common-1.2.0-2.el8.x86_64.rpm: Interrupted by header callback: Server reports Content-Length: 79780 but expected size is: 79772` which causes the installation to fail.

**Describe the results you received:**
Instal

[2020-10-21 12:49] weskerfoot commented on #2712
Looks like it's working now, any idea what was the issue?

[2020-10-21 15:57] TomSweeneyRedHat commented on #2712
@weskerfoot , never question success!  IDK for sure, but my guess would be some kind of network hiccup that cleared itself up between tests.

[2020-10-21 17:08] #2712 closed

[2020-10-21 20:33] mh21 commented on #2594
I still get the same error with quay.io without skopeo when using buildah in a priviledged rawhide container:

[code]

For comparison:

- docker.io works without any skopeo line
- quay.io and skopeo (without --format v2s2) does not work
- quay.io and skopeo --format v2s2 works

[code]

[2020-10-21 20:42] QiWang19 commented on #2594
@mh21 Did you try the whole reproducer with 1.17.0-dev or you just run `manifest push`?

[2020-10-21 21:11] mh21 commented on #2594
Attached the log of the container run. I ran the script two times in the container.

It seems like the first time it actually worked.

[code]

The second time, it fails while uploading the manifest with

[code]

[buildah-1-17-0.log](https://github.com/containers/buildah/files/5418728/buildah-1-17-0.log)

[2020-10-22 06:18] weskerfoot commented on #2382
I'm having this exact same issue. I can't figure out where it's coming from. I could try to come up with a minimal test case.

[2020-10-22 09:38] weskerfoot commented on #2382
I was able to fix it by updating to a newer version of fuse-overlayfs. Turns out Centos 8 uses a really old version of it in the default repo!

[2020-10-22 14:42] cherdt opened #2714 "Installation instructions for CentOS 8"
**Description**

I recommend using `curl` rather than `wget` in the install instructions for CentOS 8 since it is installed on a default minimal installation.

I replaced the `wget` step with the following and it worked:

`sudo curl https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/CentOS_8/devel:kubic:libcontainers:stable.repo -L -o devel:kubic:libcontainers:stable.repo`

[2020-10-23 02:05] dkliban opened #2716 "chown error when the gid does not match user's primary group"
**Description**
When running `buildah bud` inside a Python process started using systemd with username `vagrant` and group `pulp` the following `chown` error is emitted:

[code]

Changing the ownership of `/home/vagrant/.local/share/containers/` to `vagrant:pulp` fixes the problem.

Either the chown should use the user's primary gid or a better error message should be emitted.

**Output of `rpm -q

[2020-10-23 05:50] alxchk opened #2717 "ADD tar: unrecognized Typeflag"
Example: https://www.openssl.org/source/openssl-1.1.1g.tar.gz

[code]

Error:
[code]

[2020-10-23 12:55] rhatdan commented on #2716
What was the ownership of /home/vagrant/.local/share/containers/  before you did the chown?

[2020-10-23 12:58] rhatdan commented on #2717
Version of podman and buildah?

[2020-10-23 12:59] rhatdan commented on #2717
Could you try this as root?

[2020-10-23 13:11] alxchk commented on #2717
[code]
[code]

[code]

[2020-10-23 15:22] dkliban commented on #2716
ownership of /home/vagrant/.local/share/containers/ was `vagrant:vagrant`.

[2020-10-24 09:12] #2714 closed

[2020-10-24 09:15] #2717 closed

[2020-10-25 14:08] aplatypus commented on #1224
Today is 2020-10 ... 14 months since the last comment and I'm fairly sure `podman` and `buildah` are as recent as available from the `kubic` repository and PPA (using Ubuntu 20.04).

[code]

Tree times now after following a very simple tutorial `podman` does NOT find the local (rootless) image listing -- As follows:
[code]
I am expecting that they both use the `$HOME/.config/containers/`  configur

[2020-10-26 07:01] giuseppe commented on #1224
can you share the configuration files you have under `~/.config/containers` ?  The default configuration (without any config file present) is to share the same image store

[2020-10-26 07:41] giuseppe commented on #2359
was the shared storage created with an older version of buildah or podman?

In any case, I don't think it can work if it is owned by root.  The rootless user doesn't have enough privileges to read all the files in the images.

The shared storage must be owned by the same rootless user and every file in the storage owned by a UID/GID available in the rootless user namespace.  Otherwise you need to

[2020-10-26 07:54] gzm55 commented on #2359
The problem occurs on the latest podman/buildah. it seems that the `grpcfuse` fs will report error if a moved file does not have a writable permission.

[code]

[2020-10-26 12:40] aplatypus commented on #1224
Thanks @giuseppe ...

These are essentially just comments with some other notes I found along the way.  only these two files are present:

  * containers.conf
  * storage.conf

I'm wanting to be using rootless mode.  As there are no entries in the config files put on my system, I presumed that `buildah` is using a known default.  Is it possible to interrogate `buildah` to find where it keeps local

[2020-10-26 14:06] 3sky commented on #2389
Hi, @TomSweeneyRedHat can I take it? I need to learn more about OCP related ecosystem :)

[2020-10-26 14:30] ashley-cui commented on #2389
@3sky Feel free to take it :)

[2020-10-26 20:28] rhatdan commented on #2716
And if your user does
$ id
What is the default group?

[2020-10-27 10:04] jadahl opened #2724 "Pushing multi arch manifest to quay.io fails with 'invalid manifest'"
**Description**

Attempting to push a multi arch manifest (using one ARM64 and one AMD64 image) fails with

[code]

It sounds strikingly similar to https://github.com/containers/buildah/issues/2594 but with the `--format` work around it still doesn't work. I also tried using buildah from git (b8a4ae628da277f860aa59d13fae890fe48339d0), and the result is the same.

Pushing to e.g. `registry.freedesk

[2020-10-27 10:59] dkliban commented on #2716
[code]

[2020-10-27 11:10] jnovy commented on #1802
@TomSweeneyRedHat the bug 1873224 is irrelevant to this issue as somebody was using s390x Z12 machine which lacks required instruction set.

[2020-10-27 12:48] QiWang19 commented on #2594
Reopen this issue. @nalind is this the issue you are looking at?

[2020-10-27 13:56] rhatdan commented on #2716
Ok, but pulp(991) should not be mapped into your containers user namespace.
The only uids imappen into it should be 1000.

$ buildah unshare cat /proc/self/gid_map

[2020-10-27 14:55] 3sky commented on #2389
@ashley-cui I need some help, If I want to reproduce an error it's correct way?

1. make dockerfile with non-oci instruction
[code]
2. run `buildah`
[code]
3. The expected output is to get two different caching layers sets for both cases? Now we get something like this:
[code]

[2020-10-27 16:48] jpic commented on #2383
In case it didn't work for you (sorry about that), the container build recipe looks like this:

[code]

This is what it looks like on my machine with cache hits:

![2020-10-27-173154_1342x200_scrot](https://user-images.githubusercontent.com/94636/97332928-4a358e80-187b-11eb-91e3-10e451892214.png)

Maybe should silent errors in the "Invalidating old layers" code.

So if I change the above build scr

[2020-10-27 19:08] ashley-cui commented on #2389
Hmm, I'm not too familiar but what I think needs to happen is that we shouldn't be using the cache for STEP 2 healthcheck because its unsupported in --format oci.

[2020-10-27 19:51] sshnaidm opened #2727 "Building containers fail with error "error locating item named "manifest" for image with ID""
**Description**

In Openstack TripleO jobs we build a lot of containers, and sometimes it fails with error after a few tens of containers were built already:

`error locating item named "manifest" for image with ID "....": file does not exist`

For example:
[code]
**Steps to reproduce the issue:**
1. It happens sporadically on CI jobs in Openstack TripleO,
tracked in launchpad bug: ["Building cont

[2020-10-27 21:11] nalind commented on #2594
Thanks, it's https://github.com/containers/skopeo/issues/1078 that I was looking at.  I think @mtrmac guessed that it might be a symptom of https://github.com/containers/image/issues/733, but I haven't chased it down well enough to be sure yet.

[2020-10-28 19:19] nalind commented on #2724
If you remove `~/.local/share/containers/storage/cache/blob-info-cache-v1.boltdb` before attempting to push the list, does the push attempt succeed?

[2020-10-28 20:16] sshnaidm commented on #2521
I think I hit the same in #2727

[2020-10-29 00:15] awerlang opened #2729 "ADD --chown should invalidate cached layers"
**Description**

It is impossible to update the `--chown` on an `ADD line` when caching layers.

**Steps to reproduce the issue:**

[code]

[code]

**Describe the results you received:**

ADD instruction reuses cached layer the second time.

**Describe the results you expected:**

ADD instruction DOES NOT reuse cached layer the second time.

**Output of `rpm -q buildah` or `apt list buildah`:**

[

[2020-10-29 17:43] TomSweeneyRedHat commented on #2729
@awerlang thanks for the issue report.  Just to make sure that we're on the same page, in your test above, after the second 'buildah bud --layers' command the ownership is still `1000:100` rather than `1000:100`?  I.e. reusing the layer from the prior image.

[2020-10-29 18:04] awerlang commented on #2729
@TomSweeneyRedHat that's right, it reuses the cache and keeps the cached ownership.

This reproduces the issue better.

[code]

In the second build, after changing the `--chown`, it doesn't even run the `RUN` step. Slightly modifying the next line as well, it reports the owner unchanged.

[2020-10-30 09:43] XVilka commented on #2701
I have the similar problem -
[code]
[code]

[2020-10-30 10:00] dkliban commented on #2716
[code]

[2020-10-30 16:05] arturobrzut commented on #2317
the same issue
 podman version 2.1.1
 operator-sdk v0.19.4
 and opm 1.12.3
Does this issue effectively make it impossible to use podman to build bundle images and create custom registries? I'm running into what looks like this same issue when using operator-sdk  and opm to create a custom bundle registry.

[2020-10-31 05:42] jpic commented on #2383
I'm deeply sorry, but you will not be able to do the best stuff with the master version, otherwise you could play by parallelizing npm and pip or by composing your containers in a Pod model like this https://gist.github.com/jpic/e6d9e5ba6d6cff868c9279fd279a4dca

[2020-10-31 09:50] #2389 closed

[2020-11-01 05:27] wanxin-s commented on #475
where is this file？

[2020-11-01 13:12] jomach commented on #475
entrypoint.sh

[2020-11-01 17:14] mgbowen opened #2736 "buildah from --pull=true pulls from the registry even if the registry image is older than the local image"
**Description**

Buildah's documentation for `buildah from --pull=true` states the following:

However, its actual behavior seems to be that if the creation timestamp for the image in local storage is not the same as the creation timestamp for the image in the registry, `buildah from --pull=true` will pull the image from the registry and replace the tag of the image in local storage. As I've read

[2020-11-02 10:31] jadahl commented on #2724
It doesn't seem to have any affect, it still fails with the same error.

[2020-11-02 16:00] kt-pham commented on #2317
+1 my use case is exactly the same when trying to build/pull as singularity image... using podman build with --format docker.

[2020-11-02 16:46] jpic commented on #2383
Actually, I need to somehow add "layer merging" support to be able to run two parallel build operations based on the same parent layer for this to work:

[code]

layer merge would be awesome

[2020-11-03 00:52] usrbinkat commented on #1754
Seeing this on Ubuntu 20.10 Groovy:

Test:
[code]

Error:
[code]

Ubuntu Version:
[code]

Resolution:
[code]

[2020-11-03 06:40] deftdawg commented on #2554
@alexandrsemak did you ever find a solution to this?  I'm getting `ApplyLayer exit status 1 stdout:  stderr: remount /, flags: 0x44000: invalid argument` which seems similar...

Also how did you turn on debugging?

[2020-11-03 08:56] arturobrzut commented on #2317
I can confirm that in my case solution is to move to the Artficatory
on Quay.io with Podman image from opm tool is always convert to schema v1, during push

BUT image generate from bundle.dockerfile  are correctly store in schema v2, also with the Podman and quay.io
It means that some images on Quay.io are converted to schema v1 and some are correctly stored in schema v2 when I used the Podman.
I

[2020-11-03 09:12] tierpod commented on #2317
I had kinda similar problem with OKD. I built an image with `podman build`, pushed it to local nexus repository manager with `podman push`, and OKD raised the error while pulling this image. I added `-f v2s2` to `podman push` command and this solved my problem:

[code]

[2020-11-03 09:15] arturobrzut commented on #2317
In my case when I run

I got an error that manifest with schema 2 can not be store

[2020-11-03 09:20] arturobrzut commented on #2317
and one more info
I can push the image to the artifactory without issues with schema v2
and after that, I can run
skopeo copy to quay.io
and after that on  quay.io is the image with schema v2 ,