[2019-02-18 20:23] AndydeCleyre commented on #1279
So is it possible, rootlessly, to use mount in non-interactive scripts (in arbitrary languages), somehow saving the environment created by `unshare`, so that it can explicitly be provided to other (potentially non-buildah) operations? It seems the `env` vars are not sufficient, so what else can be "exported" of the created environment so that a separate "session" may also access the mounted filesy

[2019-02-18 21:37] rhatdan commented on #1279
You can just mount the same mount point in a different session
buildah unshare
buildah mount ctr
Go to town.

[2019-02-18 22:00] #1345 closed

[2019-02-19 00:09] grooverdan opened #1347 "feature request: buildah manifest functionality"
The docker experimental manifest commands to to create multiarch manifests are quite nice and it would be nice to do these without a docker daemon.

The create, push, annotate and inspect subcommands are sufficient.

ref: https://docs.docker.com/engine/reference/commandline/manifest/#usage

[2019-02-19 03:06] liujing66 opened #1348 "After setting devicemapper, use buildah command to report an error."
Description of problem:
When I set the devicemapper, execute the buildah command and report the following error.
After this, the buildah command is executed normally.
(Edited to add backticks)
[code]

[2019-02-19 05:01] AndydeCleyre commented on #1279
@rhatdan Thanks, but I'm thinking of a case that doesn't totally support sessions in the sense of multiple commands directly affecting each other's "environments". What defines the environment (or is that the wrong question)?

[2019-02-19 22:11] rhatdan commented on #1347
@mtrmac @vrothberg  WDYT
I think a similar request was made for podman or skopeo?

[2019-02-19 22:13] mtrmac commented on #1347
Yes, https://github.com/containers/libpod/issues/713 .

[2019-02-19 22:14] mtrmac commented on #1347
Also https://github.com/containers/image/pull/400 is a very good starting point.

[2019-02-19 22:18] rhatdan commented on #1279
I think you really need to describe what you want to do.

[2019-02-19 23:45] vorburger opened #1349 "Confirmation that buildah does (now, no longer) not require the same privileges as a Docker daemon does to run, to update Kaniko's README"
I'm wondering if this from https://github.com/GoogleContainerTools/kaniko#comparison-with-other-tools:

is still accurate? My understanding, based on reading e.g. #518, is that it's not (anymore).

If someone can confirm this, should I raise a PR to Kaniko to rectify this?

@rhatdan @TomSweeneyRedHat @vbatts

[2019-02-20 02:14] vbatts commented on #1349
On 19/02/19 15:45 -0800, Michael Vorburger ⛑️ wrote:

I feel this is not correct. A `git blame` to see who added that, and
what the reasoning was, and then a PR to correct it would be great.

[2019-02-20 10:36] vrothberg commented on #1349
Buildah works rootless so the document isn't accurate anymore.

It looks like it hasn't been updated. At the time of writing, the statement was true.

[2019-02-20 13:02] vrothberg commented on #1349
I opened https://github.com/GoogleContainerTools/kaniko/pull/573 to update the description.

[2019-02-20 18:30] AndydeCleyre commented on #1279
For example, certain cases of using a configuration management tool like Ansible making multiple SSH connections to run various steps, some of which need access to the mounted container filesystem.

[2019-02-20 19:36] rhatdan commented on #1348
We currently do not support devicemapper storage other then in CRI-O.

@nalind @rhvgoyal PTAL

[2019-02-20 19:38] #1332 closed

[2019-02-21 17:46] vorburger commented on #1349
Would it be worthwhile to raise another PR to Kaniko to mention how Buildah's `build-using-dockerfile` (bud) can also build an image using instructions from Dockerfile/s, even if Buildah does not necessarily
require a Dockerfile?

Only because the way it now reads (thanks @vrothberg), while we've clarified the non root user / privileges aspect, if I were to read the Kaniko README without any backg

[2019-02-21 20:29] rhatdan commented on #1349
Yes we should fix the wording.

[2019-02-21 22:09] jkonecny12 commented on #1286
I'm having the same issue for any buildah command as non-root. I used the old version before without any problems.

buildah images
[code]

cat ~/.config/containers/storage.conf
[code]

cat /etc/containers/storage.conf
[code]
buildah version
[code]

I'm running F29 newest updates.

Interesting thing is that when I changed ``GraphDriverName = "overlay"`` to `vfs` in ` ~/.config/containers/storage.co

[2019-02-21 22:14] jkonecny12 commented on #1286
I don't mind loosing all containers and settings. Nothing have changed from default as far as I'm aware and containers are just working containers. What is the correct way to fix this. Re-install the podman and buildah?

[2019-02-21 22:21] rhatdan commented on #1286
Install fuse-overlayfs and then remove the ~/.config/containers/storage.conf and see if it works.

[2019-02-22 08:21] jkonecny12 commented on #1286
HA! It works!
Thanks a lot @rhatdan

[2019-02-22 08:22] jkonecny12 commented on #1286
If someone is interested the newly created configuration file looks like this:

cat ~/.config/containers/storage.conf
[code]

[2019-02-22 08:24] jkonecny12 commented on #1286
As @TomasTomecek already wrote in https://github.com/containers/buildah/issues/1286#issuecomment-458566636 we really should test if the configuration file is valid instead of giving overlayfs errors.

[2019-02-22 11:10] vrothberg commented on #1349
I'll give it another shot.

[2019-02-22 14:54] vrothberg commented on #1349
I opened https://github.com/containers/buildah/pull/1362 over at Buildah. Please provide feedback. Once it's merged can we update the description over at Kaniko.

[2019-02-25 22:23] dmick opened #3251 "Ubuntu build (at least) requires dependency on uidmap"
Installing from the launchpad PPA, buildah won't run:

$ buildah images
Error: error running newgidmap: exec: "newgidmap": executable file not
found in $PATH:
ERRO[0000] error running newgidmap: : exec: "newgidmap": executable file
not found in $PATH
ERRO[0000] (unable to determine exit status)

newgidmap is contained in the 'uidmap' package, which should be a Depends: for the buildah package, I g

[2019-02-26 04:48] grooverdan opened #1368 "buildah --platform to take os/arch format and set default ARGS {BUILD|TARGET}{PLATFORM|OS|ARCH|VARIANT}"
When building on docker a number of default arguments can be used to create a cross build package explicit arguments without relying on on shell `RUN` commands to determine the native architecture.

Docker ref:  https://docs.docker.com/engine/reference/builder/#automatic-platform-args-in-the-global-scope

These could also set the required docker v1/v2 schema without the use of `buildah config`.

[2019-02-26 10:01] giuseppe commented on #1335
@mlbiam could this issue be closed?

[2019-02-26 14:09] rhatdan commented on #1368
@grooverdan I would be fine with adding support for these?  Are you interested in opening a PR for them?

[2019-02-26 15:05] TomSweeneyRedHat commented on #1213
@bparees @nalind
I ran through both Docker and Buildah/Podman again this morning.  The memoryswap and memory values are getting set inside the container only when a run command is executed as noted in previous comments for both Docker and Buildah/Podman.  The behavior in this space between Docker and Buildah/Podman is the same.

I noted: https://github.com/openshift/origin/commit/3194e2535b5d6be40

[2019-02-26 15:22] bparees commented on #1213
No, that solved a different problem in which output was comingled.

the memoryswap is still broken as far as i know and is disabled in the test here:
https://github.com/openshift/origin/blob/master/test/extended/builds/s2i_quota.go#L68

[2019-02-26 19:01] TomSweeneyRedHat commented on #1213
Hmm, the mystery deepens a bit more.  I tried to get a reproducer using:

[code]

and then ran:

[code]

Was really hoping and suspecting that the MEMORYSWAP variable  would not be the right size as it is.  The only other thing I can think of off the top of my head is how that value is potentially handled in BuildOptions...

[2019-02-27 02:45] grooverdan commented on #1368
Doesn't seem too bad. Got a few other work items to clear first. Warning - it will be the first golang code I've written.

[2019-02-27 13:12] rhatdan commented on #1368
No Problem.  You'll enjoy the experience.

[2019-02-27 14:52] TomasTomecek opened #1374 "buildah unshare parses flags when it shouldn't [1.7]"
**Description**

[code]

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

I went back to [1.6](https://koji.fedoraproject.org/koji/buildinfo?buildID=1181308) and it works just fine.

[2019-02-27 14:56] rhatdan commented on #1374
You can do.
[code]

[2019-02-27 14:58] TomasTomecek commented on #1374
Thanks, will try.

[2019-02-27 15:01] rhatdan commented on #1374
BTW I think this is a real bug.

[2019-03-02 15:22] sjug commented on #1335
I'm seeing a similar issue running `buildah` 1.7.1 rootless on other distros that don't have the various `subuid`/`subgid` etc.
[code]

What's the proposed solution @giuseppe?

[2019-03-04 01:30] rhatdan commented on #1335
RHEL7 and Centos7 Will have the appropriate shadow-utils in RHEL7.7 release.
I think @vbatts has an updated shadow-utils package somewhere for testing.

[2019-03-04 16:41] TomSweeneyRedHat opened #1381 "Document --pull and --pull-always"
Document/clarify the functionality of the `--pull` and `--pull-always` options.

--pull=true
Pull the image from the first registry it is found in as listed in registries.conf.  If it is not found in the registries use the local version of the image if available.  Raise an error if the image is not in any listed registry and is not present locally.

--pull=false
Do not pull the imge from the regsi

[2019-03-04 18:00] rhatdan commented on #1381
How about:
--pull=true
Attempt to pull the latest image from the registries listed in registries.conf, if local image does not exist or the image is newer then the one in storage.  Raise an error if the image is not in any listed registry and is not present locally.

[2019-03-04 18:23] TomSweeneyRedHat commented on #1381
Happy to take any wording for any of these.  I just threw this issue together quickly after the meeting so I wouldn't forget about it and I'm not at all married to my first cut at it.

[2019-03-04 18:37] rhatdan commented on #1381
Open a PR with mine and your other two, and we can get it merged.  Then we will need the same for podman.

[2019-03-04 21:46] eriksjolund opened #1383 "Error message written to stdout instead of stderr: "cannot mount using ...""
**Description**

The error message
_cannot mount using driver overlay in rootless mode. You need to run it in a \`buildah unshare\` session_
can not be easily seen when doing

[code]
because it is written to stdout. To me it makes more sense to write the error message to stderr.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

The error message
_cannot mount usin

[2019-03-04 22:09] eriksjolund commented on #1383
Oh, I now realize that there are more magic things happening to stderr
because I see two variants of it:

_time="2019-03-04T22:30:29+01:00" level=error msg="exit status 1"_

and

_ERRO[0000] exit status 1_

Maybe the user experience could be changed from the current behaviour

[code]

into this behaviour

[code]

That would match the behaviour of for instance the `ls` command

[code]

where you se

[2019-03-05 02:50] KenYN opened #1385 "Need canonical registries.conf"
I'm creating a script to automatically install Buildah and a number of other tools on Ubuntu, but I need a `/etc/containers/registries.conf`. There's a [sample in tests](https://github.com/containers/buildah/blob/master/tests/registries.conf) and also references to [the Fedora version](https://src.fedoraproject.org/rpms/skopeo/blob/master/f/registries.conf), but it would be nice to have an officia

[2019-03-05 09:01] SveWoCo opened #1386 "`buildah run container bash` fails with runc error"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
I'm trying to reproduce the [tutorial ](https://github.com/containers/buildah/blob/master/docs/tutorials/01-intro.md) part for starting a container with bash from a registry.  While doing so buildah exits with a error and shows the error output of runc for

[2019-03-05 10:50] giuseppe commented on #1335
there is no solution to that.  We need an updated shadow-utils that allow to configure a user namespace with multiple IDs

[2019-03-05 10:57] #1210 closed

[2019-03-05 11:00] giuseppe commented on #1040
both buildah and podman default to fuse-overlayfs when possible, so closing the issue

[2019-03-05 11:00] #1040 closed

[2019-03-05 11:59] SveWoCo commented on #1386
Works now. I removed the system installation of runC (which was rc2) and installed the latest release (rc6) manually. Now the flag is known. It may be a good idea for the ppa provided package to check for the version of runC and not just the existence of runC itself, but I guess this is not the right place for this.

[2019-03-05 11:59] #1386 closed

[2019-03-05 12:14] TomSweeneyRedHat commented on #1386
@SveWoCo thanks for the issue and the follow up.  @lsm5 is there anything that can be adjusted in the ppa to help with this?

[2019-03-05 12:41] rhatdan commented on #1385
We can make a sample config.  And add docker.io, quay.io to it?  Others?  Currently the distros are shipping their own version.

[2019-03-05 13:49] TomSweeneyRedHat commented on #1381
Going to reopen until I get this into Podman too.

[2019-03-05 17:36] fche opened #1387 "unprivileged podman build . fails EPERM on NFS, fedora29"
**Description**

**Steps to reproduce the issue:**
1. git clone https://github.com/openshift/prometheus foobar
2. cd foobar
3. podman build .
4. sudo podman build .

**Describe the results you received:**

[code]

**Describe the results you expected:**

success, as per the `sudo podman build .` run.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[

[2019-03-05 17:47] rhatdan commented on #1387
This looks like it thinks the root directory is where containers storage should be stored?

[2019-03-05 17:59] h-vetinari commented on #632
This issue can probably be closed now? It seems to have made it to 1.7 (at least according to the release notes).

[2019-03-05 18:15] giuseppe commented on #1387
What is you `env` when running as rootless?

[2019-03-05 18:17] #632 closed

[2019-03-05 18:18] fche commented on #1387
There's lots in there, including personal stuff.  Which variables in specific do you need?

[2019-03-05 20:18] rhatdan commented on #1387
@fche Lets start by putting the machine in permissive mode to see if SELinux is blocking something.

[2019-03-05 20:21] fche commented on #1387
% getenforce
Permissive

sorry for making you cry. :-)

[2019-03-05 20:26] giuseppe commented on #1387
USER and XDG_* variables

[2019-03-05 20:28] fche commented on #1387
[code]

[2019-03-05 20:29] fche commented on #1387
(I was not able to find usable strace-level diagnostics of what was going wrong, because `sudo strace -f podman ...` took it down a working pathway.)

[2019-03-05 21:07] giuseppe commented on #1387
can you also share your `~/.config/containers/libpod.conf` and `~/.config/containers/storage.conf`?

[2019-03-05 21:10] fche commented on #1387
[code]

[2019-03-07 06:40] pkubatrh commented on #1234
Also hit this today while trying to see what to use instead of docker-squash in our workflow.

[2019-03-07 08:18] vrothberg commented on #1234
This one must have slipped over Christmas. Thanks for the report and the ping. We'll have a look.

[2019-03-07 13:32] praiskup opened #1391 "caches: `buildah bud --layers` sucks on --build-arg=VAR=VAL"
**Description**

Changing the `--build-arg` option doesn't invalidate `--layers` caches.

**Steps to reproduce the issue:**

1. provide dockerfile:

[code]

2. first run (no caches => no hit => correct)

[code]

3. repeat the build with the same --build-arg=user=0 (cache hit => correct)

[code]

4. repeat the build with changed --build=arg=1 (cache hit => incorrect!)

[code]

**Describe the result

[2019-03-07 19:19] TomSweeneyRedHat commented on #1234
@pkubatrh or @mlschroe do either of you have a Dockerfile that reproduces this handy?  If not, I'll try to dig one up.

[2019-03-07 20:53] vbatts opened #1393 "Dockerfile `VOLUME` fails if parent is symlink"
**Description**

When building a Dockerfile that has a VOLUME that is nested under a symlink (i.e. `/run`)

**Steps to reproduce the issue:**
1. `buildah bud .`
[code]
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
Successful build

**Output of `buildah version`:**

[code]

**Output of `podman version` if reporting a `podman build` issue:**

[code]

**

[2019-03-08 00:59] TomSweeneyRedHat commented on #1234
Never mind on the Dockerfile, I found a nice chunk on https://stackoverflow.com/questions/42786991/docker-squash-behavior

[2019-03-08 12:54] rhatdan commented on #1383
Fixed upstream

[2019-03-08 12:54] #1383 closed

[2019-03-08 13:30] rhatdan commented on #1393
Fixed in master branch.

[2019-03-08 13:30] #1393 closed

[2019-03-08 13:32] rhatdan commented on #933
Use Fuse-overlay fixes this now.

[2019-03-08 13:32] #933 closed

[2019-03-08 13:35] rhatdan commented on #1200
Closing as I believe the user can clean up this situation.  Reopen if I am wrong.

[2019-03-08 13:35] #1200 closed

[2019-03-08 13:36] rhatdan commented on #1198
I believe @nalind is still working on this one.

[2019-03-08 13:37] rhatdan commented on #1186
I believe this is fixed in the current release.  Reopen if I am mistaken.

[2019-03-08 13:37] #1186 closed

[2019-03-08 13:37] #1164 closed

[2019-03-08 13:38] rhatdan commented on #1168
Fixed in current release.

[2019-03-08 13:38] #1168 closed

[2019-03-08 13:39] rhatdan commented on #1161
I believe this is fixed in the current release,  Reopen if I am mistaken.

[2019-03-08 13:39] #1161 closed

[2019-03-08 13:39] rhatdan commented on #1158
This is fixed in the current release.

[2019-03-08 13:39] #1158 closed

[2019-03-08 13:40] rhatdan commented on #1092
No response, Closing as we believe this is fixed.

[2019-03-08 13:42] rhatdan commented on #913
No response from reporter, Closing reopen if this is still an issue.

[2019-03-08 13:42] #913 closed

[2019-03-08 13:43] rhatdan commented on #987
Closing as the documentation has been fixed and we have had lots of fixes in push.

[2019-03-08 13:43] #987 closed

[2019-03-08 13:43] rhatdan commented on #533
Closing because of lack of response.  Reopen if this is still an issue.

[2019-03-08 13:43] #533 closed

[2019-03-08 13:44] rhatdan commented on #620
@TomSweeneyRedHat @umohnani8 Is this fixed in buildah?

[2019-03-08 13:44] rhatdan commented on #682
Closing since the issue seems to have gone stale

[2019-03-08 13:44] #682 closed

[2019-03-08 13:45] rhatdan commented on #1175
Looks like the copy was merged.  CLosing reopen if you still have issues.

[2019-03-08 13:45] #1175 closed

[2019-03-08 13:46] rhatdan commented on #1194
Closing as this issue has gone stale, reopen if you still have the issue.

[2019-03-08 13:46] #1194 closed

[2019-03-08 13:47] rhatdan commented on #1203
PR Merged closing the isue.

[2019-03-08 13:47] #1203 closed

[2019-03-08 13:48] rhatdan commented on #1206
I believe this is fixed, Closing.  Reopen if you still have the issue.

[2019-03-08 13:48] rhatdan commented on #1151
@TomSweeneyRedHat @nalind Is this still and issue?

[2019-03-08 13:49] rhatdan commented on #1215
@TomSweeneyRedHat @nalind @mtrmac Is this still and issue?

[2019-03-08 13:50] rhatdan commented on #1216
@mtrmac @TomSweeneyRedHat @nalind Is this still an issue?

[2019-03-08 13:50] rhatdan commented on #1219
@umohnani8 @TomSweeneyRedHat @pkubatrh Is this still an issue or has it been fixed?

[2019-03-08 13:52] rhatdan commented on #1011
We now have working versions of buildah with podman and fuse-overlay.

Need a container image with buildah/fuse-overlay installed.  Need to run buildah --isolation chroot, and the container has to have the /dev/fuse device.  Also needs a version of container-selinux > 2.84  But it now works.

[2019-03-08 13:52] #1011 closed

[2019-03-08 13:54] rhatdan commented on #765
@vrothberg Looks like https://github.com/containers/image/pull/537 is languishing?

[2019-03-08 13:55] rhatdan commented on #1227
Closing because of lack of response. Please open if you want us to continue to work on this issue.

[2019-03-08 13:55] #1227 closed

[2019-03-08 13:56] rhatdan commented on #1236
I believe this works now, so closing.  Reopen if you do not agree.

[2019-03-08 13:56] #1236 closed

[2019-03-08 13:57] rhatdan commented on #1237
@TomSweeneyRedHat Is this still an issue?

[2019-03-08 13:58] rhatdan commented on #1239
@TomSweeneyRedHat Any progress on this?

[2019-03-08 13:59] mtrmac commented on #765
@rhatdan This has ultimately very little to do with proxy support in c/image (and with that c/image PR in particular); the goal here is to pass a proxy setting from the caller’s environment into buildah-managed containers, a concern ~entirely local to buildah, once _some_ way to pass those settings is defined.

That way is currently environment variables; if we want to change that, fine, but that’

[2019-03-08 14:00] rhatdan commented on #1223
@QiWang19 Could you look into adding this feature.

[2019-03-08 14:00] rhatdan commented on #1212
@bparees @nalind @mtrmac Any progress on this?

[2019-03-08 14:01] rhatdan commented on #936
Use Podman for this feature.

[2019-03-08 14:01] #936 closed

[2019-03-08 14:02] rhatdan commented on #1292
@umohnani8 Any update on this issue?

[2019-03-08 14:16] rhatdan commented on #765
Doesn't Just setting the environment variables just work?

[2019-03-08 14:26] rhatdan commented on #1307
I think we have enough checks in the code now.

[2019-03-08 14:26] #1307 closed

[2019-03-08 14:28] rhatdan commented on #1314
This should be done in https://github.com/containers/python-podman

[2019-03-08 14:28] #1314 closed

[2019-03-08 14:29] rhatdan commented on #599
No work on this in months closing.

[2019-03-08 14:29] #599 closed

[2019-03-08 14:29] rhatdan commented on #1316
This is fixed in master branch.

[2019-03-08 14:29] #1316 closed

[2019-03-08 14:30] vrothberg commented on #765
We could have configure the proxies for the host (Buildah, Podman, and friends) and for the containers separately but in the same config.

[2019-03-08 14:30] rhatdan commented on #699
@kbaegis @TomSweeneyRedHat is this fixed now?

[2019-03-08 14:31] rhatdan commented on #1317
Seems to have fixed his issue.

[2019-03-08 14:31] #1317 closed

[2019-03-08 14:32] rhatdan commented on #1328
@vrothberg I think your change to the new progress bar fixed this issue. Could you confirm?
@EmilienM Please reopen if this is still an issue.

[2019-03-08 14:32] #1328 closed

[2019-03-08 14:33] rhatdan commented on #1330
Urvashi or @QiWang19 Could you take a look.

[2019-03-08 14:37] rhatdan commented on #1329
So we need buildah login, to make this work.

[2019-03-08 14:37] rhatdan commented on #1276
Seems to work here, reopen if you disagree.

[2019-03-08 14:37] #1276 closed

[2019-03-08 14:39] rhatdan commented on #1347
@mtrmac Could you pick up with @nalind left off to finish the PR?

[2019-03-08 14:41] rhatdan commented on #1348
@haircommander could you see if buildah works on top of your new lvm plugin?

[2019-03-08 14:44] rhatdan commented on #1349
The Buildah description has merged.

[2019-03-08 14:44] #1349 closed

[2019-03-08 14:45] rhatdan commented on #1286
Please open up a separate issue on that.  The original issue is fixed.

[2019-03-08 14:45] #1286 closed

[2019-03-08 14:46] rhatdan commented on #1213
@bparees @TomSweeneyRedHat Any movement on this?

[2019-03-08 14:47] rhatdan commented on #1368
@grooverdan Have you gotten back to this?

[2019-03-08 14:47] rhatdan commented on #1374
Fixed in master.

[2019-03-08 14:47] #1374 closed

[2019-03-08 14:49] rhatdan commented on #1335
Since so many people are trying this, we need a blog describing how to do it, and then need a page in github explaining it.

[2019-03-08 14:53] rhatdan commented on #765
Why is that any better then just dropping a enfironment file in /etc/profiles.d.

I would like to avoid a configuration file if possible, or we put it into registries.conf.

[2019-03-08 14:56] rhatdan commented on #1381
Just got merged into podman so closing.

[2019-03-08 14:56] #1381 closed

[2019-03-08 14:56] rhatdan commented on #1387
@giuseppe Still working on this?

[2019-03-08 14:57] jamescassell commented on #765
The universal way of setting proxy config is through the standard lowercase environment variables... as long as those are honored, most cases will be covered.

[2019-03-08 15:03] vbatts commented on #1393
On 08/03/19 05:30 -0800, Daniel J Walsh wrote:

Related PR or commit?

[2019-03-08 15:25] rhatdan commented on #1393
https://github.com/containers/buildah/pull/1392

[2019-03-08 15:37] fche commented on #1387
Another data point that may be relevant: this unprivileged userid has an nfs-mounted /home.
On a lark, I created another such user, but with a `/var/something` home, and that worked.

[2019-03-08 16:13] rhatdan commented on #1387
NFS Might be being blocked on norootsquash.

[2019-03-08 16:15] fche commented on #1387
This one is exported with no_root_squash.  Maybe overlayfs & nfs don't get along within the kernel?

[2019-03-08 16:24] rhatdan commented on #1387
@rhvgoyal Does overlay work on a nfs share?

@fche Does buildah unshare work?

[2019-03-08 16:25] bparees commented on #1213
still broken:
[code]

[2019-03-08 16:34] bparees commented on #1212
i haven't touched it but @mffiedler recently opened a bug about slow build performance in 4.x, it would be nice to know if this is part of that and whether it can be improved in the 4.0 timeframe.

[2019-03-08 16:37] fche commented on #1387
[code]
[code]

[2019-03-08 16:43] haircommander commented on #1348
@rhatdan yes, buildah works with LVM.  I can add a PR that spoofs the vendoring.

We definitely are going to have to address the perf issues with it, however.
[code]

[2019-03-08 16:53] rhatdan commented on #1213
Ok @TomSweeneyRedHat we need to raise the priority on this one.

[2019-03-08 16:55] rhatdan commented on #1212
Well we did put a bunch of improvements into buildah 1.7 which is not vendored into OpenShift yet.  But we are working on  other improvements as well.  We should be able to get these into 4.X

[2019-03-08 16:56] rhatdan commented on #1387
I just wanted to see if
buildah unshare /bin/sh
worked?

And then could you change uids and create content with different UIDs.

[2019-03-08 17:07] fche commented on #1387
[code]
in another shell:
[code]

so that looks like it works.

[2019-03-08 17:08] rhatdan commented on #1387
@fche While in the unshare
su bin
touch /home/fche/bin_file

[2019-03-08 17:10] fche commented on #1387
[code]

[2019-03-08 17:12] fche commented on #1387
OTOH
[code]

[2019-03-08 17:15] vbatts commented on #1393
ty

On Fri, Mar 8, 2019 at 10:25 AM Daniel J Walsh <notifications@github.com> wrote:

[2019-03-08 17:41] TomSweeneyRedHat commented on #1237
Yep, I'll see if I can squish it today.

[2019-03-08 18:00] rhatdan commented on #1387
Is you example above inside of our out of the container?

@giuseppe This could be a fuse-overlay issue on top of NFS.

[2019-03-08 18:02] fche commented on #1387
The "back outside" part is outside.
The "in ... unshare" is inside.

[2019-03-08 18:05] rhatdan commented on #1387
Looks like the bin_file got created with a ramond UID.

[ in buildah unshare ] cat /proc/self/uid_map; id

[2019-03-08 18:06] bparees commented on #1212
Any reason for us not to go ahead and pull buildah 1.7 in now?

/cc @nalind @adambkaplan

[2019-03-08 18:07] fche commented on #1387
[code]

[2019-03-08 18:10] rhatdan commented on #1387
Ok so this is working correctly.

[2019-03-08 18:11] rhatdan commented on #1387
@giuseppe My best guess is this has something to do with Fuse-overlay on top of NFS.

[2019-03-08 18:25] QiWang19 commented on #1330
I didn't see this issue if I use
[code]
to build images, with `COPY ./package.json ./ ` in the Dockerfile and do chmod to the `package.json`

If this is the command you mentioned,  try new version?

**Output of buildah version:**
[code]

[2019-03-08 18:31] TomSweeneyRedHat commented on #699
Not fixed that I know of.

[2019-03-08 18:33] rhatdan commented on #1212
Nope, I would advise it, but I do not know the procedure.

[2019-03-08 18:35] bparees commented on #1212
sounds good, we'll take care of it.

[2019-03-08 18:43] TomSweeneyRedHat commented on #1213
OK, i' d looked for a reproducer in Buildah side couldn't ever reproduce it there.  The memoryswap value was being set appropriately in every test and stage that I could find.  My only thought is the OCP tests are somehow checking it too early or perhaps are following another path than my tests do?

I'm out of ideas on how to diagnose/track this down further.  @nalind any thoughts?

[2019-03-08 18:58] bparees commented on #1213
the ocp tests aren't "checking it", we're just printing it directly via a RUN directive in the dockerfile.  They may be following a different path however, since we are using the buildah apis to do the build, not invoking "buildah bud" from the cli.

[2019-03-08 19:01] rhatdan commented on #1213
Perhaps it is in the OpenShift code, not setting the field correctly?  Or it could be fixed in a new version of Buildah (Although I doubt it).

[2019-03-08 19:06] TomSweeneyRedHat commented on #1213
Yeah I don't think it's fixed in latest buildah, there's no changes there that I'm aware of in regards to memory or memoryswap.  From what I can see of the OCP calls, they look reasonable.  It's driving me a bit batty.

[2019-03-08 19:22] bparees commented on #1213
near as i can tell we're setting it correctly:

[code]

[2019-03-08 19:22] TomSweeneyRedHat commented on #620
It's still a no-op in the code with nothing really happening underneath it other than saying "not supported".

[2019-03-08 21:11] rhatdan commented on #620
is it something we could implement?

[2019-03-08 21:45] TomSweeneyRedHat commented on #620
I think we could get --cache-from to work for "real", but I've not dived through the code to see if we can for sure.

[2019-03-08 22:12] TomSweeneyRedHat opened #1397 "Take advantage of strings.Builder rather than `+=`"
As noted by @vrothberg in #1313, since we use GoLang 1.10 plus now, we should scrub instances of `+=` concatenation and replace them  with strings.Builder.  His main comment there is:

Performance nit: string concatenations are very slow. Starting with Go 1.10, there's a strings.Builder which is much faster. We could also use a var buf bytes.Buffer and buf.WriteString("...") which is still magnitu

[2019-03-08 23:36] giuseppe commented on #1387
please take a look at the nfs4 ACLs, it might be denied to the user the permission to change ownership for the files.  I went farther doing that, but got stuck on the ID mapping when using an ID>0 in the user namespace, since the user could not be mapped.

[2019-03-09 00:52] TomSweeneyRedHat commented on #1213
@bparees can you tell me if this is the code that you're running to do the build of the container?

https://github.com/openshift/builder/blob/918f4590f10bc644bd0e2d8a481469410bb825d6/pkg/build/builder/daemonless.go#L155

If not, could you give me a GitHub pointer to the code in OpenShift  that's putting the value for MemorySwap into CommonBuildOptions and then calling buildah or imagebuilder to ma

[2019-03-09 01:08] TomSweeneyRedHat commented on #1213
OK one other OpenShift code newb question.  The other spot that I see MemorySwap being toggled in the OpenShift code is in `GetCGroupLimits()`:
https://github.com/openshift/builder/blob/10af739de1d3d8a7e2e4ab1b0c3ba9008e012219/pkg/build/builder/util_linux.go#L43

Which looks likes it gets called at times via hooks after the container is up and running.  Is it possible that a hook is mucking with t

[2019-03-09 01:38] bparees commented on #1213
yes that should be it.

it's not being toggled there, that's where we fetch the value from the pod we're running inside, so we can set it in the code you found when we invoke buildah.

ultimate this log statement:
[code]

is coming after we've invoked GetCGroupLimits() to determine what the pod's memoryswap limit is, and set it in CommonBuildOptions to pass it to buildah.

i'm not sure what sort o

[2019-03-09 01:43] bparees commented on #1213
just to make it even clearer, here's the full verbose output from buildah when it is processing the RUN directive (this is from the original build log in my initial report, so buildah output may have changed since this, but the behavior doesn't seem to have).

You can see that buildah is executing the "RUN assemble" step of the dockerfile, it reports that it is running it with options that include

[2019-03-09 01:44] bparees commented on #1213
you can find the full log file here:
https://storage.googleapis.com/origin-ci-test/pr-logs/pull/21574/pull-ci-openshift-origin-master-e2e-gcp-crio/306/build-log.txt

[2019-03-09 12:34] vrothberg commented on #1397
Thanks, @TomSweeneyRedHat :pray:

[2019-03-09 22:06] grooverdan commented on #1368
Started pottering and adding code fragments in the right place, haven't forgotten and its formally on my work plan of things to do.

[2019-03-10 07:30] mariusgrigoriu commented on #1335
A guide on this would be extremely useful.

[2019-03-11 07:03] pkubatrh commented on #1219
@rhatdan Still seeing it in latest master

[code]

[2019-03-11 10:22] giuseppe commented on #1387
@dhowells is NFS supposed to work within a user namespace?

[2019-03-11 12:08] hhenkel opened #1399 "Ability remove config values"
**Description**

```buildah config``` allows to add various config options, but it seems like it is not possible to unset most of them with the command.

**Steps to reproduce the issue:**
1. buildah config --volume /test123 $containerid
2. buildah inspect $containerid
3. buildah config --volume [] $containerid

**Describe the results you received:**
Help text indicates "[]" is the default for volu

[2019-03-11 14:58] rhatdan commented on #1399
I would be fine with this, but we need to think what the syntax would be.

We could do something like:
[code]
Which would either remove the container config settings or all settings including those in the `from` image?

[2019-03-11 15:39] nalind commented on #1399
It's not the easiest thing to spot, but Kubernetes seems to have a convention that "setting" a value that ends with "-" actually unsets it.  A couple of the examples for [kubectl set env](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#-em-env-em-) and the last example in [kubectl label](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#label) might be

[2019-03-11 16:29] TomSweeneyRedHat commented on #1399
`kubernetes label` also seems to have an --overwrite option which clears the field and puts in the new value passed in.   I'm a little leery about the parsing work of having to check a number of options for a trailing '-'.

[2019-03-11 16:29] rhatdan commented on #1399
So then
--volume=/source-
Would remove all mount points /source?

[2019-03-11 16:52] TomSweeneyRedHat commented on #1399
That's my read if you didn't use the `--overwrite` option.

[2019-03-12 02:06] grooverdan commented on #1368
Started pottering and adding code fragments in the right place, haven't forgotten and its formally on my work plan of things to do.

[2019-03-12 09:16] jkonecny12 opened #1401 "Validate user storage.conf and report error if the configuration file is wrong"
**Description**

This issue is filed based on discussion in https://github.com/containers/buildah/issues/1286 . The problem is that user will get message about overlayfs but the real problem was incompatible configuration file. This happened to me by just updating existing version of the tools, however, thanks to the error I spent about an hour to find the cause. And I wasn't able to understand th

[2019-03-12 18:06] #1239 closed

[2019-03-12 19:06] #1223 closed

[2019-03-13 11:57] devurandom commented on #1048
In which version was this released?

I am using buildah 1.7.1 and still see it repeatedly pushing layers originating from `docker://docker.io/library/clojure:openjdk-8-lein-2.9.1-alpine` to my own repository at `docker://docker.io/<...>` every single time I run `buildah push`. Each time the registry is the same, the repository is the same, and only the tag differs. I would expect buildah to not pu

[2019-03-13 12:18] rhatdan commented on #1048
@mtrmac @vrothberg PTAL

[2019-03-13 12:30] devurandom commented on #253
In case anyone else stumbles upon this: This needs libpod / podman version 1.1.2 to work. Version 1.0.1 seems to have a broken `podman login` that is at least not interoperable with `buildah push`.

[2019-03-13 13:09] devurandom commented on #1048
How to reproduce:
[code]

The same also happens when pushing images derived from `docker.io/library/clojure:openjdk-8-lein-2.9.1-alpine` that only add one additional layer and whose name does not start with `docker.io/`, i.e. they are definitely and unmistakably local.

[2019-03-13 13:43] mtrmac commented on #1048
@devurandom thanks for your report.

Can you re-test with `buildah --debug push …`, please? When trying this, I do see debug entries like
[code]

I’m afraid the _progress bars_ always exist in that version, even if no copy actually happens;
https://github.com/containers/image/pull/603 will make that clearer in the future.

The `--debug` output should also clarify whether/how the cache is being use

[2019-03-13 14:21] devurandom commented on #1048
My problem is not with the progress bars per se, but they show that `buildah push` is actually uploading something. (And uploading 95MB takes an awfully long time with my internet connection.)

[code]

Please note that I redacted the output of environment variables and am showing you only the last two. If you need the value of specific environment variables, please ask for them. Likewise, I also r

[2019-03-13 14:31] mtrmac commented on #1048
You are running in some kind of confined `root` account it seems, preventing the recording and use of the data necessary to avoid re-pushing.

[2019-03-13 15:16] devurandom commented on #1048
I am running `buildah` as a regular user. Is something special necessary to support this? For example when when building `buildah` yourself?

[2019-03-13 16:06] devurandom commented on #1048
To test that hypothesis I temporarily made `/var/lib/containers` world-writable, but still `buildah` tries to upload the `714e1dd7c2e4`-layer, even though it for sure is already in the repository, since I previously pushed the whole image.

[2019-03-13 16:15] mtrmac commented on #1048
Interesting;

I’m sorry, you are right; apparently rootless `buildah` does end up with `Geteuid() == 0` at that pull/push path.

Is it _intended_ that `buildah` runs within a user namespace during the pull/push process, without any container being involved?

If so, that gets us into a ~surprising situation that `Geteuid() == 0`, not a different FS namespace (at least, I assume?), but system-wide p

[2019-03-13 16:18] devurandom commented on #1048
Is it not possible to download the list of layers present in the remote repository before starting to upload anything? Those do not even have to be stored permanently, if the cache directory is not accessible, but should be small enough to hold in memory.

[2019-03-13 16:21] mtrmac commented on #1048
Sure; that was a question put to buildah maintainers, I’m sorry about being unclear.

- No.
- Even if it were possible, the mapping between uncompressed data on local disk and compressed data in the registry needs to exist for the two to match; and that’s what the “blob info cache” is supposed to be.

[2019-03-13 16:28] devurandom commented on #1048
Can I make `buildah` compress the local data, so that it can compare it directly with the data in the registry?

Some information on the `/var/lib/containers` directory: `buildah push` creates `/var/lib/containers/cache` with my regular user being the owner. There appears to be no other user ID involved, i.e. not even those that I granted to `buildah` using `/etc/subuid`.

[2019-03-13 16:30] mtrmac commented on #1048
No.

The cache is supposed to work. Let’s just make it work instead of inventing a completely different implementation.

[2019-03-13 17:16] nalind opened #1405 "Multi-layered build-using-dockerfile builds create too many layers"
When attempting to switch on multi-layered builds for openshift/builder (in [#35](https://github.com/openshift/builder/pull/35)), one of the tests that failed did so because we're creating more layers than `docker build` does for the test's Dockerfile.

The root cause is that we commit a new layer for every instruction that we process in a `Dockerfile`, when the more conformant behavior would be t

[2019-03-13 18:33] devurandom opened #1407 "Docker references with both a tag and digest are currently not supported"
**Description**

Buildah 1.7.1 does not support referencing an image (or pulling it from a registry) with both a tag and a digest. I could not find a feature request about this, so I create this one.

**Steps to reproduce the issue:**

[code]

[2019-03-13 18:38] TomSweeneyRedHat commented on #1407
@devurandom Thanks for the issue.

@mtrmac is this anything you forsee changing or should we look into propping up the documentation somehow?

[2019-03-13 19:34] rhatdan commented on #1048
If you are running as non root then /var/lib/containers/cache should not be used.  We should be using ~/.local/share/containers/cache
Could this be the bug?

[2019-03-13 19:41] mtrmac commented on #1407
We’ve seen this brought up in a one other place WRT `podman pull`, and Docker does accept that syntax; so, yes, perhaps we would accept this syntax — but _only_ in the compatibility / convenience syntax that does not start with a transport specification (`buildah from docker.io/…`), as handled in Podman’s `pullGoalFromPossiblyUnqualifiedName`.

(We’ve been tentatively discussing sharing the pull c

[2019-03-13 19:45] mtrmac commented on #1048
I’ve reproduced this; apparently rootless buildah ends up with EUID=0 at the point of the image copy, and that’s why the copy code tries to use the root-owned cache path.

(Sure, buildah could override that path, but it’s not just _this_ path; e.g. the path of `~/.docker/config.json` would also point to root’s path if (R)UID==0. So, this seems like a more general design concern — one that I expect

[2019-03-13 20:55] rhatdan commented on #1048
@giuseppe @mtrmac We can fix the blob path in the buildah patch above.  I am not sure how we fix the ~/.docker/config.json, if this is read after entering the User Namespace.

[2019-03-14 05:05] devurandom commented on #1407
That is what I expected to happen.

[2019-03-14 05:17] devurandom commented on #156
A recent blog post by @haraldh on a Podman remote access solution that works also on macOS and Windows gives hope that this might eventually be addressed, i.e. I can see how varlink could be used to build a solution similar to "Docker for Mac", running the actual builder in a Linux VM on macOS: https://podman.io/blogs/2019/01/16/podman-varlink.html

[2019-03-14 05:38] TristanCacqueray commented on #1335
Hi, I also tried to do run buildah inside an unprivileged container without success so far. A guide would be useful indeed. Fwiw here are my notes:

On a fresh f29 cloud instance:
[code]

Using this image built with `buildah bud -t builder .`:
[code]

Result in:
[code]

After setting the default storage.conf to use fuse-overlayfs:
[code]

Ptracing buildah process from outside the container shows t

[2019-03-14 12:35] devurandom commented on #1048
Regarding the finding-existing-layers-on-first-push issue, just for comparison: `docker push` will also find layers present in other repositories and e.g. report `714e1dd7c2e4: Mounted from library/clojure` on the first push. On subsequent pushes it will report `714e1dd7c2e4: Layer already exists`. (Same for `bcf2f368fe23`, which I tried to find using `skopeo` previously.)

[2019-03-14 13:30] rhatdan commented on #1407
How critical is this for you?  Why not just pull by digest?

[2019-03-14 13:32] rhatdan commented on #156
@devurandom Yes we are concentrating on making podman work on Macs right now, which would inclue podman build.  This is based on top of the varlink calls talked about in this blog.  If you have a MAC and want to play with podman, the code can be built on a MAC Now.

[2019-03-14 14:50] mtrmac commented on #1048
Docker works exactly the same way AFAIK, it’s only that you’ve had a working “cache” recording the necessary data for some time, but with `buildah` you are starting from scratch.

[2019-03-14 18:27] TomSweeneyRedHat commented on #1335
FWIW, I'll try to get you some notes together @TristanCacqueray which will get you closer, but unfortunately not to the finish line.   @rhatdan and I looked into this a bit this morning, more work to come as we'd trouble with the volumes too that we couldn't get around.

I've an in progress blog in the works for showing how it works while running as root, once we figure out the rootles end, we'll

[2019-03-14 18:49] devurandom commented on #1407
I wouldn't say it is critical, but for documentary purposes it is good to have the tag alongside the shasum. I can of course also achieve that by adding a comment (if the file is not JSON, which luckily is seldom these days), which is what I am doing now.

[2019-03-14 19:59] mtrmac commented on #1216
Clearly so: https://github.com/containers/buildah/blob/4693117a8d9a36cd24ffc6ecb80b65b7b495a611/image.go#L319

[2019-03-14 20:01] mtrmac commented on #1215
The option continues to exist; do you have any other reason to think the situation changed?

[2019-03-15 12:53] rhatdan commented on #1335
Well I think it works well except when launched in a User Namespace.

[2019-03-15 13:08] rhatdan commented on #1216
Well can we move forward on this?

[2019-03-15 13:10] rhatdan commented on #1215
@mtrmac I am going through hundreds of issues, and ones that have not changed for several months, I want to verify if they are still a problem and try to get people to start working on them. Otherwise they are either not important, or forgotten.

[2019-03-18 14:26] jpork opened #1414 "Label with comma separated values becomes truncated at comma"
**Description**

In order to run an image via `podman runlabel` I've added a podman command as label value using `buildah config --label ...` command.
If the label contains commas the value is truncated/splitted at the first comma.

**Steps to reproduce the issue:**

1. `buildah from fedora`
2. ```buildah config --label exec='podman run -it --mount=type=bind,bind-propagation=Z,source=${OPT1},desti

[2019-03-18 17:11] rhatdan commented on #1414
Yes that looks very wrong.

[2019-03-18 17:11] rhatdan commented on #1414
@QiWang19 PTAL

[2019-03-19 20:50] #1385 closed

[2019-03-20 06:28] #1414 closed

[2019-03-20 10:30] vrothberg opened #1424 "RFE - let `buildah commit` generate image IDs"
`buildah commit` requires specifying an image ID which is a problem in automation as the user is confronted with generating hopefully unique IDs (see https://github.com/SUSE/kiwi/pull/1013#issuecomment-474383203 for a background discussion).

To make `buildah commit` more friendly in automation environments, I would love to have some flag (e.g., `--generate-id`) that generates an ID automatically,

[2019-03-20 13:40] rhatdan commented on #1424
@TomSweeneyRedHat We also need similar changes in podman commit.

[2019-03-20 13:50] TomSweeneyRedHat commented on #1424
My question here is what's expected for the repository:tag of the committed image?  In Docker it sets them to <none>:<none>.  Would that be good here and Podman too?

Also Docker does that by default if  a repository:tag isn't specified.  I think I'd prefer doing that rather than creating an option for this.

[2019-03-20 13:51] rhatdan commented on #1424
Yes I would follow the Docker behavior make the specification of the image reference optional.

[2019-03-20 16:36] QiWang19 commented on #1329
--cred username:password works for me with current version
[code]

[2019-03-20 16:56] TomSweeneyRedHat commented on #1329
@QiWang19 did you test using a private registry and doing the multistage build as noted in the description?  My guess is the value from --cred wasn't getting to the second FROM in the Dockerfile for some reason.  I'd be happy if that's not the case now, but I'm a bit suspicious.

[2019-03-20 19:52] QiWang19 commented on #1329
It's a bug

[2019-03-21 22:48] tobwen opened #1432 "[Debian 9] building fails"
**Description**

After installing all dependencies, building on Debian Stretch fails. Tested with master and release v.1.7.1

**Steps to reproduce the issue:**
`make`

**Describe the results you received:**

[code]
**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[code]

**Additional information**

_Podman_ works like a charm here.

[2019-03-21 22:54] TomSweeneyRedHat commented on #1432
@baude @lsm5 any thoughts?

[2019-03-21 23:05] tobwen commented on #1432
I've fixed it the hard way:

[code]

And now it works.

[2019-03-21 23:06] #1432 closed

[2019-03-22 01:44] siretart opened #1433 "Update github.com/containernetworking/cni breaks build"
I'm trying to package buildah in Debian, and am compiling the package against version 0.7.0-rc2 (instead of 0.7.0-alpha1, which is the vendored version).

[code]

I strongly suspect this is because of https://github.com/containernetworking/cni/commit/c5ab1c3fc6e164e7b777c3002e75fdf46865e1b3#diff-166689f2543e9b36295277c2b33f534fR67

Apparently, some APIs now require passing a "timeout context".

[2019-03-22 01:45] siretart commented on #1433
@vrothberg what's your opinion on this one?

[2019-03-22 06:13] vrothberg commented on #1433
Thanks a lot for reporting, @siretart! I'll prepare a PR to fix that.

We might need to address that in Podman (Cc @mheon @baude) and in CRI-O as well (Cc @mrunalp @umohnani8 @haircommander).

[2019-03-22 06:20] vrothberg commented on #1433
Here's a PR to address that: https://github.com/containers/buildah/pull/1434

[2019-03-22 21:19] siretart opened #1435 "Please avoid circular dependency on containers/libpod"
I think this is a very similar issue to https://www.google.com/url?q=https://github.com/containers/storage/issues/293

I've tried to vendor in the projects `docker/docker` and `containers/libpod`, and I end up with build failures like this:

[2019-03-22 21:19] siretart opened #1436 "Please avoid circular dependency on containers/libpod"
I think this is a very similar issue to https://www.google.com/url?q=https://github.com/containers/storage/issues/293

I've tried to vendor in the projects `docker/docker` and `containers/libpod`, and I end up with build failures like this:

[2019-03-22 21:21] siretart opened #1437 "Please avoid circular dependency on containers/libpod"
I think this is a very similar issue to https://github.com/containers/storage/issues/293

I've tried to vendor in the projects `docker/docker` and `containers/libpod`, and I end up with build failures like this:

[code]

I notice at least some work towards that goal (e.g. https://github.com/containers/buildah/commit/e7e4122e1fa1ded68e37aa165e241917ed0d7020) Maybe there is an existing issue that th

[2019-03-22 21:22] #1436 closed

[2019-03-22 21:23] siretart commented on #1437
@vrothberg what's your opinion on this one?

[2019-03-22 21:24] siretart commented on #1435
sorry for the duplicate issue

[2019-03-22 21:24] #1435 closed

[2019-03-23 00:38] #1433 closed

[2019-03-23 16:12] vrothberg commented on #1437
@siretart, thanks for the report.

It's not entirely clear to me which projects have been used in which versions, so I have a hard time brain parsing the error. To me, it looks like you tried to compile libpod with a more recent version of docker/docker which will not work if the remaining parts of libpod/vendor remain untouched.

The latest changes in imagebuilder still need to be vendored into b

[2019-03-23 18:40] siretart commented on #1437
Thanks for the update, Valentin,

I don't think there is a rush here, we are waiting for ftp-master to ACCEPT a container/storage (and a few dependencies for container/image) anyways. I'm trying to get ahead of the game and identify the next steps. It seems to me that resolving this circular dependency would be in everyone's interest, so let's focus on that. Anything I can assist with here?

[2019-03-25 05:29] hainesbg opened #1438 "--dns* flags would be nice to have"
**Description**

`biuldah bud` should have `--dns`, `--dns-opt`, and `--dns-search` options just like `podman run` does (see also https://github.com/containers/libpod/issues/2755, requesting same for `podman build`).

My use case is trying to hit package repos as part of a build while using the systemd-resolved stub resolver (127.0.0.53) in my /etc/resolv.conf.

It's probably too much to ask at th

[2019-03-25 07:12] Lagrang opened #1439 "Image build failed on COPY, VOLUME, WORKDIR instruction use symlinks"
(Edited just to make the buildah example be happy in md)
**Description**

`buildah bud` failed on Dockerfile with WORKDIR instruction: ensuring container path "/usr/local/hbase/bin": mkdir /var/lib/containers/storage/btrfs/subvolumes/8325b8065650778d4abbb211b130511525e668b8b45e0df0f1c3563646c4c674/usr/local/hbase: file exists

I find out, that root cause is symlinks: COPY, VOLUME, WORKDIR instruct

[2019-03-25 07:29] vrothberg commented on #1437
Your reports are incredibly helpful to identify problems. Let's continue :) Having those tools in Debian would be amazing and I think we're already improving trying to get them there. Thanks!

[2019-03-25 17:50] TomSweeneyRedHat commented on #1439
@Lagrang I'm able to duplicate the issue using your Dockerfile and other related files.  My first immediate thought was something in the processing from the --no-cache flag was potentially causing the issue, but that doesn't appear to be the case.

I'm going to see if I can create a less intensive Dockerfile that  recreates the issue.  If you by chance have one, please let me know.

[2019-03-26 17:11] dulek opened #1447 ""layer not known" when `podman inspect` an image built by buildah"
**Description**

Using the latest buildah from Project Atomic PPA, I see the images come up corrupted. In this context I'm talking about kuryr-kubernetes images (github.com/openstack/kuryr-kubernetes).

**Steps to reproduce the issue:**
1. `sudo buildah bud -t docker.io/kuryr/controller -f controller.Dockerfile .`
2. `sudo podman inspect docker.io/kuryr/controller`

**Describe the results you rece

[2019-03-26 17:18] dulek commented on #1206
@rhatdan: Hey, can we reopen this? Looks like I still experience this with those versions (latest from Ubuntu PPA):

[code]

I haven't complained for a while, as we were using `buildah bud` as a workaround. Unfortunately that stopped working due to #1447, so we're back to square one now.

[2019-03-26 18:31] TomSweeneyRedHat commented on #1447
@dulek Thanks for the issue report.  Can you include the contents of the Dockerfile please?  If you do `buildah inspect docker.io/kuryr/controller` are you seeing a similar error or a different one?

[2019-03-26 18:40] TomSweeneyRedHat commented on #1206
@dulek it's always OK to reopen an issue if warranted.

[2019-03-26 19:40] dulek commented on #1447
@TomSweeneyRedHat: Ah, good idea, haven't tried `buildah inspect` and unfortunately it seems that my environment lost the ability to reproduce this. Tomorrow I'll try to run that on upstream kuryr-kubernetes CI, where we see it constantly.

Two Dockerfiles that we used are here:
- https://github.com/openstack/kuryr-kubernetes/blob/master/controller.Dockerfile
- https://github.com/openstack/kuryr-k

[2019-03-27 09:52] chenliu1993 opened #1448 "overlay2 is not supported overlayfs , storage-driver=overlay"
**Description**

I am trying to run docker in docker by using ctr on Photon linux kernel. The error is Devices "cgroup" is not mounted. The details are "overlay2 is not supported overlayfs , storage-driver=overlay" Anyone knows how to solve this problem
<img width="1108" alt="WechatIMG6" src="https://user-images.githubusercontent.com/13761170/55066949-ca9d7780-50b9-11e9-8f87-683484348888.png">

[2019-03-27 10:05] rhatdan commented on #1448
You need to volume mount in /var/lib/containers into the buildah container.  BTW have you thought about using podman for this?

[2019-03-27 13:01] TomSweeneyRedHat opened #1449 "Add --dns flags to bud command"
**Description**
Add --dns, --dns-opt and --dns-search options to the bud command like the podman run command has.  This is per an issue reported in https://github.com/containers/libpod/issues/2755

Description from there:

`podman build` should have `--dns`, `--dns-opt`, and `--dns-search` options just like `podman run` does.

My use case is trying to hit package repos as part of a Dockerfile buil

[2019-03-27 13:36] dulek commented on #1447
@TomSweeneyRedHat: Okay, seems like `buildah inspect` [works fine](http://logs.openstack.org/67/644867/7/experimental/kuryr-kubernetes-tempest-containerized-crio/a269778/job-output.txt.gz#_2019-03-27_11_19_58_025202). Still crio (and most likely podman, but I haven't added a debug line to that gate run) [is complaining about "layer not known"](http://logs.openstack.org/67/644867/7/experimental/kur

[2019-03-27 13:39] dulek commented on #1447
Ah, I'm using [Project Atomic PPA](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa) with Ubuntu Bionic. Seems like the most recent buildah update to 1.8-1~dev~ubuntu18.04~ppa9 is included and still has the issue.

[2019-03-27 14:08] jcantrill commented on #1206
I am seeing the same issue in a single stage `podman build` where we have an install file that does evaluates the build arg as as empty:
[code]
Note `OSE_ES_URL` has a value and subsequently uses the default from our script instead of the value defined in the Dockerfile `OSE_ES_URL=https://github.com/fabric8io/openshift-elasticsearch-plugin/releases/download/openshift-elasticsearch-plugin-6.6.2.1/

[2019-03-27 15:11] TomSweeneyRedHat commented on #1447
Thanks @dulek.  I've not had enough tea (yet), so need a bit of clarity.  So with the original Buildah that you'd installed on your machine, `buildah inspect {image}` worked fine.  But after upgrading the machine to the latest upstream version, then `buildah inspect {image}` failed in the same manner as `podman inspect`?

That's interesting if so.   Thanks for the tests and updates.

[2019-03-27 15:34] dulek commented on #1447
@TomSweeneyRedHat: No, not really. Let me elaborate here.

The logs I'm linking are from our (openstack/kuryr-kubernetes) CI jobs. Kuryr-Kubernetes is a CNI plugin that allows using OpenStack Neutron to network pods. So obviously our CI is starting a K8s cluster, deploys OpenStack Neutron and Kuryr-Kubernetes and runs various tests. For a long time that only run with Docker as K8s CRI. We started

[2019-03-27 15:38] dulek commented on #1447
It might be simple incompatibility between buildah and podman versions available in the PPA (we're using whatever installs when we do `apt install podman buildah cri-o-1.13`), but I'm a bit surprised that images format doesn't have backwards compatibility.

[2019-03-28 01:14] hendrikhalkow opened #1452 "Allow adding files to image with deterministic creation time"
Hello, we should consider building a feature into buildah that allows adding files to an image with a deterministic time stamp. If we had this, we can run the same code with the same input data twice that produces the exact same image digest. It could work like this:

    buildah add --creation-time="1970-00-00 00:00:00" "${container}" "${file}"

or with the mount option:

    buildah mount --crea

[2019-03-28 03:26] chenliu1993 commented on #1448
Thanks! It works.

[2019-03-28 03:26] #1448 closed

[2019-03-28 10:27] vrothberg opened #1453 "Buildah CI hard to reproduce locally"
The Buildah CI heavily relies on the logic in the .travis file to set up a local registry along with credentials etc. This makes it incredibly hard to reproduce issues locally. At the moment, I ran into the situation where Travis seems to be stuck on a deadlock that I am unable to reproduce locally.

I think it is beneficial to be able to execute and reproduce the integration tests locally (maybe

[2019-03-28 10:57] konrad-ohms opened #1454 "Official release package distribution"
Hi,
I am sorry if the information is already present somewhere, but I could not find it on my own.

What is the recommended way to install buildah in production? I really like the features of buildah and would like to use it for our build environments, as the scripted build approach offers nice features over our current Dockerfile-based build. Currently we are building on Ubuntu (mostly because of

[2019-03-28 12:02] rhatdan commented on #1452
@nalind WDYT?  I am fine with this.

[2019-03-28 12:10] TomSweeneyRedHat commented on #1454
@lsm5 thoughts or can you fill in the blanks for when/how things are updated on the different distros?

[2019-03-28 14:29] cevich commented on #1453
I agree this is a useful thing. Though I would recommend treading carefully with using containers, even if super-privileged.  Experience with `containers/storage` (repo. CI) has shown that it works fine for simple cases.  However, as needs grow deeper/more advanced (including debugging-ability), getting out from a container-setup can be a major headache.  There are simply certain resources inacces

[2019-03-28 14:41] h-vetinari opened #1455 "ENH: buildah bud should cache layers by default?"
[Now that I have access to the nightly ppa's (cf. containers/libpod#2250), I'm starting to file some issues against `podman` - and since the issue template there says that `podman build` issues should be filed for buildah, I'm starting here.]

In the spirit of the [podman credo](https://podman.io/)

`podman build` actually uses caching, so I was surprised that `buildah bud` does not. Is there a re

[2019-03-28 15:09] h-vetinari opened #1456 "BUG: tagging is broken for multistage builds"
[Now that I have access to the nightly ppa's (cf. containers/libpod#2250), I'm starting to file some issues against `podman` - and since the issue template there says that `podman build` issues should be filed for buildah, I'm starting here.]

Assume I have a toy dockerfile, say `podman_test.dockrf`:
[code]

Then `sudo podman build -t podman_test -f podman_test.dockrf .` produces
![buildah1](https

[2019-03-28 17:30] konrad-ohms commented on #1347
If you need a workaround for now, you could have a look into https://github.com/estesp/manifest-tool.
I am using buildah to push the images and use the manifest tool to produce multiarch manifests afterwards. That should work without requiring a Docker installation.

[2019-03-28 18:02] TomSweeneyRedHat commented on #1455
I'll let @rhatdan or @nalind correct me, but the reasoning for `--layers=false` (no-cache) for `buildah bud` was the thought that Buildah would be used for proof-of-concept  types of container builds and you wouldn't need the caching in that case.  Meanwhile Podman with `podman bulid` was meant for more of a production type environment, so most people would want the default `--layers=true` (cache)

[2019-03-28 21:54] grooverdan commented on #1347
And even better,  https://github.com/estesp/manifest-tool being an Apache-2 licensed go implementation could be be used as code source and test reference.

[2019-03-28 23:21] TomSweeneyRedHat commented on #1456
@h-vetinari thanks for the issue.  This is definitely not acting correctly as you surmised.  I think the <none><none> is ok for image 21fe, but what I think should be happening is we should have another image there named podman_test with and id of d6ca... , the last line from the build output there.

There appears to be something going on with the --layers option that's not letting that complete s

[2019-03-28 23:35] TomSweeneyRedHat commented on #1447
@dulek I tried quickly to reproduce, but I had a really weird error on my much abused test vm.  I think I'll try setting up a fresh one in the morning and see how it goes.

Not an error I've encountered before
[code]

but I've been playing the space saving shuffle on this system, so perhaps I just ran out of disk space.

[2019-03-28 23:41] dulek commented on #1447
@TomSweeneyRedHat: Well, I haven't seen that either. And while I doubt it's related, at this point I don't trust my judgement as all this is really confusing.

[2019-03-29 08:35] h-vetinari commented on #1455
Thanks for the response!

Well, even if I'm developing a container, and changing something in (say) step 15, I don't want to have to wait needlessly for steps 1-14 to rerun. To the contrary, turning off the cache with `--no-cache` is only necessary for me when needing to force a recalculation for some reason.

[2019-03-29 08:39] h-vetinari commented on #1456
Thanks for the response!

Ideally (IMO) both dockerfiles should create exactly the same image, so that 21fe... is not untagged by the build, but stays the same. Builds not being idempotent is another issue I'm encountering (pending further tests).

[2019-03-29 10:38] rhatdan commented on #1455
@h-vetinari Sorry for the confusion.

The thought was that buildah would be used more often in CI/CD systems while podman build is more often used to develop container images using Dockerfile.

If you are building a container image in a CI/CD system having every RUN/COPY/ADD command create a layer makes no sense.

Note you can easily change the default for either PODMAN or BUILDAH using environmen

[2019-03-29 12:23] rhatdan commented on #1206
@dulek Is this because the fixed buildah has not been vendored into podman yet?

[2019-03-29 18:37] leoluk opened #1459 "Unprivileged build crashes RPM corruption when installing google-chrome"
**Description**

Building this Dockerfile on Fedora 29, using `podman build --net=host .` (as unprivileged user), fails with a RPM crash:

[code]

The corruption happens at the last step. It does not happen when adding the google-chrome repository and installing an unrelated package, only when installing google-chrome and its large number of dependencies.

A privileged build works. Specifying `--n

[2019-03-30 09:21] rhatdan commented on #1459
does it work if you install as root

[2019-03-30 09:27] rhatdan commented on #1459
Since It works in --privileged mode, I would check to see if it is a missing capability or a missing syscall being blocked by seccomp.

Could you try:

[code]
If this works then we are blocking a syscall.
If not then try:
[code]
If that works then we need to figure which capability it needs.

[2019-03-30 10:58] leoluk commented on #1459
Neither works.

However, it does work if `/var/lib/rpm` is a volume mount:

[code]

[2019-03-30 11:23] rpjday opened #1460 ""man buildah" also needs to update "SEE ALSO" to have "containers-" prefix"
As with some of the other container-related man pages, "man buildah", the final "SEE ALSO" section, reads:

"podman(1), mounts.conf(5), registries.conf(5), storage.conf(5)"

some of which are clearly missing the proper "containers-" prefix that have been fixed elsewhere.

[2019-03-30 11:34] rpjday commented on #1460
I can submit a PR for this under the assumption that the above should read:

"podman(1), containers-mounts.conf(5), newuidmap(1), newgidmap(1), containers-registries.conf(5), containers-storage.conf(5)"

Does that sound about right?

[2019-03-30 11:36] rhatdan commented on #1459
I am actually thinking this is a bug in fuse-overlayfs, @giuseppe WDYT?

[2019-03-30 11:37] rhatdan commented on #1459
By bind mounting in this directory, the rpm database is not being written to fuse-overlay, and is thus working.

[2019-03-30 11:39] rhatdan commented on #1460
Yes please do.

[2019-03-30 11:57] rpjday commented on #1460
Done.

[2019-03-30 15:10] giuseppe commented on #1459
It could be.  Could you please try the latest build from bodhi for fuse-overlays?  It fixes some issues that could be related

[2019-03-30 15:16] giuseppe commented on #1459
Also if it opens too many files it could hit the max number of files ulimit

[2019-03-30 16:10] giuseppe commented on #1459
https://bodhi.fedoraproject.org/updates/FEDORA-2019-da2f894893

[2019-03-30 22:43] rpjday opened #1462 ""man buildah-containers" doesn't mention "scratch" container"
When I run "buildah containers", I see a scratch container which, for now, I will simply assume will always exist to allow building a new image from scratch. So what I see is:
[code]
and I see no way to delete that container, which seems reasonable.

However, "man buildah-containers" shows examples which do not display the scratch container:
[code]
Should those examples also show the scratch conta

[2019-03-30 22:46] rpjday commented on #1462
P.S. With no containers, I used buildah to build a fedora-based container and, sure enough:
[code]
so it seems like EXAMPLES should always show the scratch container, regardless of which other containers have been built, no?

[2019-03-31 08:41] leoluk commented on #1459
Thanks, it works with fuse-overlayfs-0.3-8.dev.gita6958ce.fc29.x86_64.

[2019-03-31 08:55] giuseppe commented on #1459
Thanks for trying it

[2019-03-31 08:55] #1459 closed

[2019-03-31 14:24] rhatdan commented on #1462
buildah rm 81b1fec124e0

Should work.  The default should be to have no containers.

You can start fresh by executing

buildah rm -a -f

[2019-03-31 14:35] rhatdan commented on #1459
@giuseppe Could you release fuse-overlay-3.8 to Fedora.

[2019-03-31 14:59] rpjday commented on #1462
But is there a reason I can't delete that container via "podman rm"? If it's a regular container, should I not be able to do:

[code]

Is there something about that container that requires buildah to get rid of it? Can you confirm that you see the same thing? Or am I just being clueless?

[2019-03-31 15:06] rhatdan commented on #1462
If you use the upstream version of podman, then podman rm -f 81b1fec124e0 should work.
The problem is buildah and podman have very different concepts of a container.  Podman containers are referenced in libpod's database.  Podman containers have full concepts like binding to ports and a much different inspect data.

Buildah containers are just references to images, before they are committed. They

[2019-03-31 15:19] rpjday commented on #1462
Ah, that is not at all obvious, thanks. I will make a note of that.

[2019-03-31 16:50] TomasTomecek commented on #1424
I hope that I understand this right, but the problem is that `buildah commit` requires an image name. It would be awesome if the name argument was optional and buildah would not set any afterwards resulting into a nameless image. E.g. this what bender does now and it clutters the output quite a bit:
[code]
A ton of layers which should have been hidden, ideally.

`docker commit` accepts image name

[2019-03-31 21:09] giuseppe commented on #1459
Could you please add karma to the last build?

[2019-04-01 06:27] h-vetinari opened #1463 "BUG: --build-arg detection not working in multistage builds"
[Continuing from #1456; containers/libpod#2250]

Assume I have a toy dockerfile, say `podman_test.dockrf`:
[code]
then everything builds fine (aside from the tagging issue #1456) with
[code]

But if the second line is uncommented, I get a spurious warning about:
[code]

Starting to ignore this warning is obviously risky business, as it would be easily possible to miss cases where it is *actually*

[2019-04-01 13:27] TomSweeneyRedHat commented on #1462
@rpjday Thanks for the issue.  I believe @rhatdan has explained what you see.  Summarizing, the scratch container is not there all the time and should be removable with Buildah.   Depending on the version of Podman, you may be able to remove it with `rm -f`.    If you think this issue needs more attention, please feel free to reopen it.

[2019-04-01 13:27] #1462 closed

[2019-04-01 14:06] QiWang19 commented on #1329
I copied `podman login` code to buildah, why podman login and buildah login write cresdential to /run/containers/0/auth.json, but buildah pull reads from /var/run/containers/storage/containers/auth.json? what might be the reason?

[2019-04-01 16:50] TomSweeneyRedHat commented on #1329
@QiWang19 I'm not sure what you mean by copying the podman login code to buildah, but referencing `/var/run/containers/storage/containers/auth.json` instead of `/run/containers/0/auth.json` sounds like you might have found a bug.  @umohnani8 any thoughts?  I think it should all be looking at `/run/containers/{uid}/containers` (${XDG_RUNTIME_DIR}/containers).

[2019-04-01 16:56] TomSweeneyRedHat commented on #1463
@h-vetinari just to make sure we're on the same page, you said "But if the second line is uncommented, ..." and showed an error.  The error you received there you got from using the same 'sudo podman build...` command that you've illustrated?  I.e. you didn't tweak that any right?

[2019-04-01 17:39] QiWang19 commented on #1329
@TomSweeneyRedHat I just mean I followed the command above (need `buildah login`),  copied the code of podman login to make `buildah login` command work. ^_^

[2019-04-01 18:11] h-vetinari commented on #1463
That's exactly right (sorry if I wasn't clear enough), with the sole exception that it does not error the build, but just yields a warning.

[2019-04-02 12:09] rhatdan commented on #1459
Done, it is stable now.

[2019-04-02 13:51] edsantiago opened #1464 "buildah from --cpu-shares: not working, or test is misleading"
`tests/from.bats:242` (the cpu-shares test) has code that does:
[code]
...but all it does is check that the output contains '2'. It does: the output is actually `1024`.

If 1024 is the expected value, please correct the test.

If 2 is the expected value, please investigate buildah.

[2019-04-02 14:36] umohnani8 commented on #1329
@QiWang19 @TomSweeneyRedHat not sure. It used to look at `/var/run/containers...` until we decided to move over to `/run/containers/uid`. Maybe some remnants of the old code?

[2019-04-02 16:39] edsantiago opened #1465 "buildah from --security-opt label=foo,bar - invalid"
This is in `tests/selinux.bats:65`; I'm not sure why CI isn't catching it:
[code]
recent master @ 9e1967ae

[2019-04-03 06:05] rpjday opened #1468 "Does /var/lib/containers/storage/overlay/... end in "diff" or "merged"?"
In https://github.com/containers/buildah/blob/master/docs/tutorials/01-intro.md, partway down:
[code]
That ends in "diff", but when I run it, it ends in "merged". Is there a distinction?

[2019-04-03 07:07] rpjday opened #1469 ""Buildah Tutorial 1" should emphasize what needs to be run as root"
All of the commands in that tutorial I've seen so far are being shown as run as root but, given the emphasis these days on running as non-root, the tutorial should probably distinguish which commands can be run as a normal user.

In fact, it seems most of them can, until you get to:

`# scratchmnt=$(buildah mount $newcontainer)`

That one does appear to need to be run as root, is that correct? Is

[2019-04-03 07:17] rpjday commented on #1469
Specifically, I refer to this early claim: "First step is to install Buildah. Run as root because you will need to be root for running Buildah commands:" Not true  -- most of those "buildah" commands do not require root privilege, and the few that do should be clearly identified.

[2019-04-03 08:57] rpjday opened #1471 "01-intro.1.md: "--release 26" in dnf install example fails"
I am assuming that it is because I am running on Fedora 30 that this command referring to "--release 26" fails:

`# dnf install --installroot $scratchmnt --release 26 bash coreutils --setopt install_weak_deps=false -y`

with:

[code]

Is there a way to not lock the example to a version?

[2019-04-03 09:06] rpjday commented on #1471
Hang on, I removed all images and containers and tried again from scratch with "--release 30", but the result was that the original storage was still there and so failed again the same way. Is that expected? How does one rid oneself of storage to make sure there are no remnants from earlier left lying around? Can someone confirm proper operation of this example?

[2019-04-03 12:25] TomSweeneyRedHat commented on #1469
@rpjday when these tutorials were written, they running rootless was something that was being talked about, but was not on the immediate horizon.  A touch up of this [tutorial](https://github.com/containers/buildah/blob/master/docs/tutorials/01-intro.md) and others is probably warranted now.  @ipbabble do you have the time to take a whack at it?

[2019-04-03 12:49] ipbabble commented on #1469
I will take a whack at this later this week. Thanks. Please remind me @TomSweeneyRedHat

[2019-04-03 13:03] rhatdan commented on #1468
Correct it should be merged.

[2019-04-03 13:14] TomSweeneyRedHat commented on #1471
Just adding a [link](https://github.com/containers/buildah/blob/master/docs/tutorials/01-intro.md) to the tutorial in question.

[2019-04-03 13:36] rpjday commented on #1468
So from where came the existing suffix of "diff"? Was that what it *used* to display? I have to assume that line was copy and paste so that string must have been printed under some conditions.

Pedantically yours.

[2019-04-03 13:37] rhatdan commented on #1468
I have no idea, but this is definitely a bug in the tutorial

[2019-04-03 13:56] rpjday commented on #1469
Speaking from a position of ignorance, what should happen if you mix root and non-root commands in the same example? Is there a chance things will be spread between the root and non-root directories? *Should* mixing root and non-root commands work?

[2019-04-03 13:56] TomSweeneyRedHat commented on #1471
@rpjday it's been a while since I've played with this tutorial, so I just ran through it from the start.
I'm not a huge heavy dnf guy, but I believe the `--release` (actually should be `--releasever`) is required.  As we've specified `--installroot`, dnf will look into $scratchmnt to find the release version if `--releasever` is not specified, that's why it's failing when not supplied.

I'm not co

[2019-04-03 13:59] rhatdan commented on #1469
No root and non-root do not share storage or containers.

We should show running the example both as root and running it in nonroot.  Hint, Non Root first do
`buildah unshare`

[2019-04-03 14:04] rpjday commented on #1469
This is probably a dumb question, but what I'm unclear on is what happens if you create some sort of object as root, then try to access or query it as non-root, will there be any confusion as to where to look for it? I think I'm just confused as to what the difference between what root and non-root really mean. Oh, and I recall that, even running *mostly* as non-root, there is  the occasional comm

[2019-04-03 15:59] nalind commented on #1468
(It would have been `diff` before https://github.com/containers/storage/pull/154 was merged.)

[2019-04-03 16:30] nalind commented on #1463
This should have been fixed by #1427.

[2019-04-03 16:33] nalind commented on #1456
I think #1473 will fix this.

[2019-04-03 16:35] nalind commented on #1424
@TomSweeneyRedHat would you mind if I took this one?

[2019-04-03 16:50] TomSweeneyRedHat commented on #1424
Go for it @nalind.  Thanks for checking.

[2019-04-03 21:15] rhatdan commented on #1471
I don't know, but the tuturial should definitely be moved to 29.  Also we should add the cache flags to put the cache onto the host and not in the container.

[2019-04-03 21:21] rhatdan commented on #1469
I thought we documented this somewhere.

Here is the issue.
https://github.com/containers/buildah/issues/1279

[2019-04-03 21:21] rhatdan commented on #1469
[code]

[2019-04-03 21:46] rhatdan commented on #1468
That explains it.

[2019-04-03 21:49] rhatdan commented on #1463
@h-vetinari What version of buildah are you using?  Can you check it versus buildah in master?  Or buildah 1.7 if you are using an older version.

[2019-04-04 05:43] h-vetinari commented on #1463
@rhatdan @nalind
I had been on the latest ppa:nightly when I filed this. I just updated that again and now it's fixed. Thanks for the prompt reaction!

[2019-04-04 05:44] #1463 closed

[2019-04-04 12:58] #1468 closed

[2019-04-04 13:51] Logibox opened #1480 "Running buildah rootless inside a container"
**Description**

This is more of a question than a bug report - is it possible to run buildah rootless inside of a container? From my initial experiments, I'm guessing not - but I'm unsure if it's a misconfiguration on my end, a limitation of buildah or a bug. Thanks!

**Steps to reproduce the issue:**
[code]

This seems to occur regardless of whether the 'outer' podman is running rootless or not.

[2019-04-04 13:57] rhatdan commented on #1480
I think it should be possible to run buildah within a rootless container.  We are working on better ways of running buildah in a locked down container.

1 First step is to run it in a container without SYS_ADMIN Privs.
2 Next Step is to run it in a User Namespaced Container without SYS_ADMIN Privs.

In order to get what you are trying to do, to work you would need to run a --privileged container.

[2019-04-04 14:09] Logibox commented on #1480
Thanks @rhatdan `--privileged` fixes the issue:
[code]
Basically the issue is that we have a policy that none of the containers in our CI system run as UID 0 (as we're still using docker with no user-namespace support in our infrastructure), so buildah would need to run rootless in this scenario. I've tested this with docker and I'm satisfied with the result.

However I still get the error when po

[2019-04-04 15:17] sourabhsharma487 opened #1481 "Issue running buildah docker image with kubernetes"
**Description**

Briefly describe the problem you are having in a few paragraphs.

When I spin up the docker container on the single/standalone server with below command, I am able to perform all my task mentioned in Dockerfile such as pulling, building and pushing the image onto registry:

FYI - I pulled the docker image "tomkukral/buildah" from https://hub.docker.com/r/tomkukral/buildah

It work

[2019-04-04 15:54] rhatdan commented on #1480
Yes because you are attempting to create a usernamespace while in a user namespace and that is blocked.

[2019-04-04 15:58] Logibox commented on #1480
Ah ok. Thanks for looking into that. My original issue is solved so I'll close this now.

[2019-04-04 15:58] #1480 closed

[2019-04-04 16:25] rhatdan commented on #1481
@sourabhsharma487 I really do not know what you are reporting here.  What buildah commands were you trying to run in a container.  We are working on documenting how to run buildah within a locked down container.  But most people currently need to do it in a privileged container.  With /var/lib/containers volume mounted in.

[2019-04-04 18:25] praiskup commented on #1391
Can I help with this?  It causes fatal build failures in @sclorg/postgresql-container:
[code]

I intentionally created easier reproducer, but it is not a low-prio thing.

[2019-04-04 18:31] TomSweeneyRedHat commented on #1391
@praiskup sorry for the delay on this one.  It's high on the priority list, but I've had a few others that were prioritized a bit higher.  Also @nalind is busy reworking the image layering code and I think his work will at least make this easier to figure out this issue with a small chance that it might fix it.  Part of that work is in #1473 and more to come.  I hope to make more progress on this

[2019-04-04 21:30] sourabhsharma487 commented on #1481
@rhatdan : My bad, I had updated the issue with proper information however that Description block was commented. Please have a look at the description and let me know in case further information is required.

[2019-04-04 22:28] duritong commented on #1335
On Fedora 29 I am able to run buildah as unprivileged user in a container that is started as root and with privileged flag, but having the id flag:

    sudo podman run -it  --privileged --user 1000 buildahimage

This will the allow me to run buildah within the image as an unprivileged user.

While this works on F29 it's not working on EL7 with latest buildah/podman & @vbatts uid rpms.

[2019-04-04 23:40] TomSweeneyRedHat commented on #1471
I'm going to close this as I believe #1479 addresses this.  @rpjday if you disagree, please reopen or create a new issue as you feel best.

[2019-04-04 23:40] #1471 closed

[2019-04-05 09:46] vdemeester opened #1483 "An "automatic" official "lightweight" container image"
**Description**

It would awesome if users could try `buildah` using their container runtime, like `podman run -ti --rm buildah …`. Other image builder tend to have that (like `kaniko` with `gcr.io/kaniko-project/kaniko:latest`). This would also ease the use of `buildah` in users CI build (like using `knative/build` with [build-templates](https://github.com/knative/build-templates/blob/master/buil

[2019-04-05 09:49] vrothberg commented on #1483
@vdemeester, do you know how we could build them automatically? I *think* GitHub actions can help us but I have zero experience with that.

[2019-04-05 09:50] vrothberg commented on #1483
@TomSweeneyRedHat @nalind @cevich @edsantiago @rhatdan PTAL

[2019-04-05 09:56] vdemeester commented on #1483
Right, could be using github action or the CI (which is travis right now ?).

[2019-04-05 10:40] rhatdan commented on #1483
We are actually working through some of this now for a locked down buildah container.

@TomSweeneyRedHat Could you contribute the Dockerfile we have so far for building this?

The problem, I see is do we just go with strickly a locked down BuildahCtr or do we also go with a flexible Buildah container.

I always wanted to tell people multiple different ways you can run buildah inside of a container

[2019-04-05 10:41] rhatdan commented on #1483
The last question I would have is what distro should the container be using.  Fedora for latest, RHEL8 for supported?

[2019-04-05 10:43] vdemeester commented on #1483
That would be my guess too :angel:

[2019-04-05 10:49] rhatdan commented on #1481
@sourabhsharma487 Inside a locked down container we are recommending that people use
buildah bud --isolation chroot ...

Which might get your further.
The Buildah container we are experimenting with has BUILDAH_ISOLATION=chroot environment variable set.  We have also found SELinux issues with this, so make sure you have the latest container-selinux-2.94 installed, (If you are running with SELinux)

[2019-04-05 10:55] rhatdan commented on #1335
I think in RHEL7 you have to turn on the User Namespace via a sysctl as well.
If you have done this, what other issues are you seeing?

[2019-04-05 12:11] TomSweeneyRedHat commented on #1483
@rhatdan ack on quay and the script

[2019-04-05 12:20] TomSweeneyRedHat commented on #1483
And if you want a sneak peak at the Dockerfile sooner, here's a Demo script that's a WIP to create it:
https://github.com/containers/Demos/pull/17

[2019-04-05 14:04] TomSweeneyRedHat commented on #1481
@sourabhsharma487 We've a Demo in progress that covers this:  https://github.com/containers/Demos/pull/17

However @rhatdan found an issue with the way volumes were being recursively bind mounted, so I changed the Dockerfile from that script to build Buildah from GitHub and to pull in a PR that I'd put together.  This is all a big WIP, no production machines should come near this.  I'm still havin

[2019-04-05 17:24] cevich commented on #1483
Not too sure about the question (a bit outside of my realm), but I think buildah/libpod may be too tightly coupled to make using an alternate engine possible?  Generally adding flexibility like that also brings in a lot of extra complexity.  As for building images, plenty of services can do that in addition to Quay.  [Cirrus-CI has a neat feature where you don't even need  a registry to store the

[2019-04-06 17:23] TomSweeneyRedHat commented on #1216
@nalind, was this helped any with your latest layers fixes/changes?

[2019-04-06 17:53] TomSweeneyRedHat commented on #1391
@praiskup I was hoping that @nalind's latest rounds of PR's was going to fix this as a side effect, but unfortunately it did not, I just tested with upstream.  Will dive in more.

[2019-04-06 22:56] edsantiago commented on #1465
Fixed by #1467

[2019-04-06 22:56] #1465 closed

[2019-04-06 23:35] TomSweeneyRedHat commented on #1391
@praiskup the issue appears to be that the value of the user variable, in this example either 1 or 0, is not being tucked away in the layers as it's probably supposed to be.  So when we check our current image against previous ones we get a match as that doesn't differentiate them.

I wasn't able to find a quick fix, but will dig further on Monday.

[2019-04-07 13:39] amiga23 opened #1493 "Buildah does not handle build-arg correctly if value contains comma"
**Description**

    buildah bud --build-arg INSTALL_PLUGINS="plugin1,plugin2,plugin3" .

will result in only "plugin1" in INSTALL_PLUGINS variable

**Steps to reproduce the issue:**
1. Create simple Dockerfile

[code]

2. Run build with buildah or podman
[code]
3. Output will be "plugin1" instead of "plugin1,plugin2,plugin3"

**Describe the results you received:**

Output is only "plugin1"

**Des

[2019-04-07 16:02] TomSweeneyRedHat commented on #1493
@amiga23 thanks for the issue report.  We just converted from urfave cli to cobra.  This is one of the options that didn't get converted correctly.  Just touched it up in #1495

[2019-04-07 21:02] sourabhsharma487 commented on #1481
@rhatdan : After adding "--isolation chroot " in buildah bud command as below, I am getting a different error:

`buildah bud --isolation chroot -t ${IMAGENAME} .`

**Error**
[code]

Just for quick oversight on this, I have updated my k8s YAML with below securityContext but no luck:

[code]

Please can you help me on this?

[2019-04-08 14:22] h-vetinari commented on #1456
@nalind @TomSweeneyRedHat
I just tested the newest nightly after I saw that #1473 had been merged - unfortunately, the issue persists (assuming `http://ppa.launchpad.net/projectatomic/ppa/ubuntu` is up-to-date).

[2019-04-08 14:24] TomSweeneyRedHat commented on #1456
@h-vetinari I'm not sure that's up to date.  @lsm5 can you confirm or deny please?

[2019-04-08 18:27] lsm5 commented on #1456
@h-vetinari what version of ubuntu are you on? I see that 16.04 hasn't been updated in a long time. I'll fix that now. 18.04 was last built on 5th april. Travis auto-builds break often for buildah quite likely due to .travis.yml changes.

[2019-04-08 20:25] TomSweeneyRedHat commented on #966
Reopening for @emilienm

[2019-04-08 20:27] EmilienM commented on #966
Still hitting that bug:

[code]

[code]

[2019-04-08 20:27] EmilienM commented on #966
ping @vrothberg @nalind for information ^

[2019-04-08 20:32] h-vetinari commented on #1456
@lsm5
I'm on Ubuntu 18.04. Is the ppa-update not scheduled regularly (e.g. daily)? Can you say if https://github.com/containers/buildah/commit/29a6c812d924d04402b87c4487ed2d2e1c55a70b was already part of the last build?

@nalind @TomSweeneyRedHat
Seems that the last build I tested above (and which fails the scenario laid out in the OP) includes at least #1473, but possibly not #1487.

[2019-04-08 20:45] phozzy opened #1496 "Unable to push an image builded using buildah with overlayfs storage drive"
**Description**

I'm trying to make a CI build of a buildah image using a buildah image (recursive build for scheduled build to always have a fresh image). Everythin goes fine until the last step: pushing image to a registry.

**Steps to reproduce the issue:**
1. Clone this repo: [https://gitlab.com/ph0zzy/fedbuilder](url)
2. Switch to the bugreport branch to see a code of the pipeline
3. Run a jo

[2019-04-08 20:51] phozzy commented on #1483
Hi @vdemeester ! I try to create a gitlab-ci pipeline to build an image with buildah. Ofcourse it is not an oficial image, but it is also possible to trust to images created by your own. But I have an error at the last step (pushing image to a registry) when I use overlayfs storage drive. If it sounds interesting to you, you make take a look to the following issue: https://github.com/containers/bu

[2019-04-08 21:15] TomSweeneyRedHat commented on #1496
@phozzy can you run your `buildah push` command again please, but use --debug and let us know the results?

`buildah --debug push ...`

Thanks!

[2019-04-08 21:22] rhatdan commented on #1496
Is this because docker.io is rejecting the OCI Format?
@phozzy Could you try your buildah bud command with --format docker and see if this solves the problem?

[2019-04-08 21:26] rhatdan commented on #1481
@sourabhsharma487 Could you try this with Podman and make sure we can get it to work there,  Then we can attempt this in K8s.

[2019-04-08 22:03] EmilienM commented on #966
Note that if I run "buildah pull" instead of podman, it works fine. I wonder if it's a vendoring issue on the podman side.

[2019-04-09 02:02] horgh opened #1498 "Rootless build run command fails with mounting "sysfs" to rootfs "..." at "/sys" caused "operation not permitted""
I have a script to build an image. The first `buildah run` command in it errors:

[code]

This is a script that previously worked (though I haven't run it in a couple weeks). I don't recall exactly when I last ran it successfully unfortunately.

I'm using the latest buildah from the PPA on Ubuntu Bionic.

I assume I'm doing something wrong, but I'm not sure how to debug it!

**Steps to reproduce t

[2019-04-09 05:18] phozzy commented on #1496
Hi @TomSweeneyRedHat ! Here is a link to the log of a job with debug flag activated: https://gitlab.com/ph0zzy/fedbuilder/-/jobs/193077624

[2019-04-09 05:24] phozzy commented on #1496
Hi @rhatdan !
* I use gitlab-ci registry to store my image and when I run similar job using `--storage-driver vfs` flag everything goes fine even withouth specifiing `--format docker` flag.
* I don use `buildah bud` command. My goal is to build an image using buildah commands only. But I do use `--format docker` flag with a `buildah commit` command. Here is a link to that line in the pipeline's co

[2019-04-09 08:08] vrothberg commented on #1496
@giuseppe, @nalind, do you a suspicion regarding the source of the issue? I tried reproducing by following the instructions in the log (https://gitlab.com/ph0zzy/fedbuilder/-/jobs/193077624) but it's working for me.

[2019-04-09 08:21] vrothberg commented on #966
I have a hard time understanding the issue.

How is pulling related to the initial bug description? How can we reproduce it?

[2019-04-09 09:03] phozzy commented on #1496
Hi @vrothberg do you use `bugreport` branch for a job? Since jobs from the `master` branch work fine. The difference between `master` and `bugreport` branch is that master uses `--storage-driver vfs` flag with a buildah command, and the `bugreport` branch uses default overlayfs storage driver.

[2019-04-09 09:18] vrothberg commented on #1496
@phozzy I was reproducing on my local machine with overlayfs.

[2019-04-09 09:38] phozzy commented on #1496
@vrothberg well... of course it runs well on local machine. actually the initial image that was used to lunch this pipeline was prepared localy using similar steps. The idea behind this pipeline is to have always updated image of buildah, so I'll be able to use it in other pipelines to build other images without any worrying if a image I use fresh or not.

[2019-04-09 09:58] vrothberg commented on #1496
This is not going to help unless you are clear why this cannot be reproducible in another environment.

[2019-04-09 11:27] phozzy commented on #1496
@vrothberg Did you try to reproduce it localy using buildah a local binary? Can you try to reproduce it using an image from this registry: https://gitlab.com/ph0zzy/fedbuilder/container_registry ?

[2019-04-09 11:50] debarshiray opened #1499 "Would be nice to have a different 'buildah pull' exit code for network failures"
**Description**

Every once in a while, I come across people who failed to create a [toolbox](https://github.com/debarshiray/toolbox) container because `buildah pull` errored out for some reason. For example:
[code]

And if you use the `--verbose` flag you get to see the spew from `buildah pull`.
[code]

More often than not (almost always?) these are passing network errors. I have seen them myself

[2019-04-09 12:14] debarshiray commented on #1499
In this particular case, on Fedora 30, the `buildah --debug pull` output pointed at possible TLS problem:
[code]

Logs in full:
[code]

[2019-04-09 15:19] lsm5 commented on #1456
On Mon, Apr 08, 2019 at 01:32:52PM -0700, h-vetinari wrote:

The latest build for 18.04 includes all commits up to
https://github.com/containers/buildah/commit/610eb7a0b2d4d8dbbc9e5c694d3a448a4636e7b8
so I'll say yes.

RE: ppa update, it happens daily on my fork. But things tend to break often
cause rebases aren't always clean, and the debian build process makes it super
painful to upstream.

I ha

[2019-04-09 16:01] konrad-ohms commented on #156
What about using docker for portability at the moment as long as buildah does not work nativity on the desired platforms. I guess it could help increase the adoption of buildah. I am mainly using buildah because of its scripting features, usually I am on Linux and this can be tested on my workstation directly. Nevertheless, if you are not on Linux and want to debug, you could add a kind of wrapper

[2019-04-09 16:34] horgh commented on #1498
I bisected and the first bad commit for me is d0f6961099586961ccaa43822cabb8c704bccfc0.

Using master (021d6072825ff94ce7fe0bd40e8414af62fac33d) I get slightly different output:

[code]

Also given I am using a rootless build, this might be relevant:

[code]

[2019-04-09 17:14] junaruga opened #1500 "--build-arg detection not working when the arg used before FROM"
**Description**

--build-arg detection not working when the arg used in only FROM
I do not know if it is bug.

**Steps to reproduce the issue:**
1. Prepare below `Dockerfile`.

[code]

2. Build the container.

[code]

**Describe the results you received:**

[code]
**Describe the results you expected:**

`[Warning] One or more build-args [IMAGE] were not consumed` should not outputted.

**Output of

[2019-04-09 18:25] TomSweeneyRedHat commented on #1500
Thanks for the issue @junaruga .  The code seems to be having an issue as you've declared the argument inside of the Dockerfile and have also passed it in as a `--build-args` option too.  The code believes that you've not made use of the variable in the Dockerfile when in reality you've over-ridden it.

From what I can see the resulting image is OK, but the warning message probably shouldn't happe

[2019-04-09 19:30] junaruga commented on #1500
@TomSweeneyRedHat sure, thanks for checking it.

As a comparison, I would show the output of docker-ce.
There is no warning. I also found another different behavior. See 2nd half on this comment.

### Compare with docker-ce

**docker-ce 18.09**

[code]

2nd time build with cache.

[code]

It is a little different for output lines.

For docker-ce, the outputted line is before evaluated.

[code]

Fo

[2019-04-09 20:16] jkryl opened #1502 "ARG is not expanded in COPY"
I have following dockerfile (simplified to bare minimum):
[code]
The ARG TARGET is not expanded in COPY action. So instead of `target/debug/mayastor` the COPY action is trying to copy `target/mayastor` file. It works when building the image using docker. Is it unsupported feature? Or am I doing anything wrong?

I'm using:
[code]
on Ubuntu 18.04
[code]

[2019-04-10 08:04] vrothberg commented on #1496
@phozzy overlay in overlay is not supported. If we run Buildah/Podman in a container, we need to use vfs.

[2019-04-10 08:07] SveWoCo commented on #420
Hi, I'm facing the same issue on an Ubuntu 16.04 wih runc version 1.0.1-rc6 and buildah 1.8-dev.
Are there some more Informations on this? It was working just until yesterday for me. What version of runc did you update to?

[2019-04-10 08:09] vrothberg commented on #1496
@giuseppe mentioned a trick though by using `/var/lib/containers/storage` as a volume, in case sharing the storage is acceptable for your use case.

[2019-04-10 08:15] phozzy commented on #1496
@vrothberg thanks! I'll try to check that.

[2019-04-10 08:24] giuseppe commented on #420
is it caused by an updated runc or have you also updated buildah?

[2019-04-10 08:26] h-vetinari opened #1503 "BUG: global ARG not shown as build step"
[Continuing from #1456; containers/libpod#2250]

This is a comparatively small bug, but confusing nevertheless. In multistage builds, it may be necessary to re-use a build-arg for different stages (I'm using the generic `DEBIAN_FRONTEND` in the example below), but setting it per stage would lead to an error: `ARG requires exactly one argument definition`

Docker solves this by being able to specif

[2019-04-10 08:36] SveWoCo commented on #420
I use the Packages provided by the project atomic PPA. And according to /var/log/dpkg.log, the last update was for buildah. It made a jump from 1.6.1 to 1.8.1.
Runc was not touched as it seems.

[2019-04-10 13:08] TomSweeneyRedHat commented on #1502
@jkryl The Dockerfile syntax that you're using is valid from what I can see.  I tried in on Fedora 29 using the latest Buildah from upstream and I saw:
[code]
Which although an error as I don't have the directory, it shows the expand TARGET variable.

Couple things:

Can you try running the command again with --debug? I did `buildah --debug bud -t myimg -f ~/Dockerfile .`

You shouldn't need to do

[2019-04-10 13:36] rhatdan commented on #966
@EmilienM Are you saying you are having problems with podman push?

[2019-04-10 13:37] EmilienM commented on #966
No, we had issues with "podman pull".

[2019-04-10 13:42] TomSweeneyRedHat commented on #1500
@junaruga thanks for the thorough follow up.  We'll take a look.

[2019-04-10 15:57] sinnykumari opened #1504 "buildah pull from registry.fedoraproject.org fails with error tls: unexpected message"
**Description**
buildah pull fails while fetching image from registry.fedoraproject.org

[code]
**buildah version** - bbuildah-1.7-17.dev.git146a0fc.fc30.x86_64
**System detail** - Fedora 30 Silverblue

**Full log:**
[code]
**Additional info:**
Note that `podman  pull registry.fedoraproject.org/fedora` and  `buildah pull docker.io/fedora` seems to work fine

[2019-04-10 16:38] junaruga commented on #1500
@TomSweeneyRedHat thanks!

[2019-04-10 22:33] grdryn commented on #1504
I was hitting this same problem earlier, but now it seems to work fine again. Could it have been an issue on the registry side that may have since been fixed?

[2019-04-10 23:17] TomSweeneyRedHat commented on #1504
It smells like it.  @mtrmac thoughts/opinions?

[2019-04-11 05:21] sinnykumari commented on #1504
Now, it is working for me as well without making any changes. Not sure where the problem was though ...

Log from successful run:
[code]

Closing the issue becasue I no longer see this.

[2019-04-11 08:24] SveWoCo commented on #420
Ok I manually build release 1.6, 1.7, 1.7.1 and 1.7.2. The problem appears starting with 1.7.2. The releases prior to 1.7.2 are working fine.

[2019-04-11 08:39] giuseppe commented on #420
have you also tried last version from master?

[2019-04-11 08:45] SveWoCo commented on #420
Yes, I just tried it. Same problem. as in 1.7.2.

[2019-04-11 08:55] giuseppe commented on #420
thanks for trying it, I am going to reproduce here.  What commands have you used?

[2019-04-11 08:58] SveWoCo commented on #420
Basically just buildah version, buildah containers and buildah images.

[2019-04-11 09:29] h-vetinari opened #1507 "BUG: caching does not work correctly with ARG"
[Continuing from #1456; containers/libpod#2250]

Using the following dockerfile (say, `podman_test.dockrf`):
[code]
and build using `sudo podman -t podman_test -f podman_test.dockrf .`.

Afterwards, uncomment the `RUN` line and build again. The package is chosen to normally require user interaction, which would be suppressed at installation time by `DEBIAN_FRONTEND=noninteractive`. But while the b

[2019-04-11 09:30] giuseppe commented on #420
I cannot see this issue locally, can you show the content of `~/.config/containers/storage.conf`?

[2019-04-11 09:33] SveWoCo commented on #420
Of course, it contains only:
`RunRoot = "/run/user/500071028"
GraphRoot = "/home/uidg8755/.local/share/containers/storage"
GraphDriverName = "vfs"
`

[2019-04-11 09:37] giuseppe commented on #420
it looks like a config file generated by an old (and broken) version of libpod.  Could you delete `~/config/containers` and try again?

[2019-04-11 09:41] SveWoCo commented on #420
Ah, ok. That did the trick. The storage.conf also has gotten a few more entries. Thank you!

[2019-04-11 09:49] giuseppe commented on #420
good to hear!  You most likely also got fuse-overlayfs storage configured

[2019-04-11 10:08] SveWoCo commented on #420
According to storage.conf vfs should be used.

  driver = "vfs"
  runroot = "/tmp/500071028"
  graphroot = "/home/uidg8755/.local/share/containers/storage"
  [storage.options]
    size = ""
    remap-uids = ""
    remap-gids = ""
    remap-user = ""
    remap-group = ""
    ostree_repo = ""
    skip_mount_home = ""
    mount_program = ""
    mountopt = ""
    [storage.options.thinpool]
      autoe

[2019-04-11 11:55] rhatdan commented on #420
In rootless mode
buildah mount should be done in a `buildah umount`

[2019-04-11 12:04] SveWoCo commented on #420
Ok I don't really understand that answer. I'm trying to mount the filesystem of a container, that was created with `buildah from xyz`. For this I'm trying `buildah mount xyz-working-container`.
Together with the debug option I'm getting this:

chown /home/uidg8755/.local/share/containers/storage/vfs: operation not permitted

Therefore the question if I'm missing some option in the storage.conf or

[2019-04-11 16:36] rhatdan commented on #966
I guess I meant pull.

[2019-04-11 19:25] rhatdan commented on #1498
Could you cat out the  /etc/subuid and /etc/subgid on your system
@giuseppe PTAL

[2019-04-11 19:38] horgh commented on #1498
[code]

[2019-04-12 09:01] giuseppe commented on #1496
@phozzy had a chance to try that out?

[2019-04-12 13:33] jkryl commented on #1502
@TomSweeneyRedHat : thanks for your reply. Most likely you are right, because when I build the same image in fedora container, it works fine (though on fedora I have slightly older buildah version). So it seems that buildah on ubuntu is not expanding vars. This is the output with debug flag:

[code]
the above is with build-arg option. Without build-arg option it is the same.

[2019-04-12 15:27] TomSweeneyRedHat commented on #1502
@TomSweeneyRedHat Thanks much for the confirmation, it will let us focus on Ubuntu then.

[2019-04-12 18:35] jkryl commented on #1502
Sorry, I have to correct myself. I created a new image based on fedora with buildah:
[code]
buildah and podman versions:
[code]
and it fails to expand variables too. That is quite mysterious. I hope to have more time next week to gather some more info about the case.

[2019-04-12 18:59] jamescassell opened #1509 "volumes not visible in 'buildah mount' dir"
**Description**

Volume mounts added when creating a working container don't show up on a `buildah mount` directory.  It would be useful to be able to access these either way

**Steps to reproduce the issue:**
1. `buildah unshare`
2. `export ctr=$(buildah from -v ~/src:/src fedora)`
3. `export ctr_mnt=$(buildah mount $ctr)`
4.
[code]
5.
[code]

**Describe the results you received:**

[code]

**Des

[2019-04-12 19:14] jamescassell commented on #765
Is there a way to include a list of environment variables that are always passed thru to the container?  That would solve this issue, and allow certain other use cases, as well.

I'd propose a default list of:
[code]
and maybe the upper case versions of those as well

[2019-04-12 19:15] rhatdan commented on #765
--envfile

[2019-04-12 19:23] jamescassell commented on #765
[code]

[2019-04-12 19:28] rhatdan commented on #765
Yes I was thinking podman not buildah sorry.

So you want these environment variables set for when you are doing your builds and RUNs but not for the final container artefact.

[2019-04-12 19:32] rhatdan commented on #765
How about if we added a field --httpproxy to buildah bud and run to pass in the http proxy environment variables to the container?
@nalind @vrothberg @mtrmac WDYT?

[2019-04-12 20:19] jamescassell commented on #765
I think it would make more sense to detect the presence of `*_proxy` environment variables and automatically inject them unless explicitly asked not to.  Folks who have these set are most likely required to pass all their connections thru the proxy to get access to the internet.  The `no_proxy` env var specifies which hosts should be accessed directly, bypassing the proxy.

[2019-04-12 20:35] rhatdan commented on #990
@andreasbaumann This was fixed upstream does it work for you now?

[2019-04-12 20:37] rhatdan commented on #1234
@nalind @TomSweeneyRedHat Whats the scoop on this one?  Does some of the stuff @nalind is working on fix it?

[2019-04-12 20:38] rhatdan commented on #1198
@nalind Any update on this?

[2019-04-12 20:38] rhatdan commented on #1151
@kunalkushwaha Do you know if this still exists?  @nalind @TomSweeneyRedHat

[2019-04-12 20:40] rhatdan commented on #1292
@QiWang19 Can you look into this?

[2019-04-12 20:41] rhatdan commented on #1046
This should be fixed now.

[2019-04-12 20:41] #1046 closed

[2019-04-12 20:42] rhatdan commented on #1348
@nalind What was your suggested fix to allow multiple processes to share devicemapper?

[2019-04-12 20:43] rhatdan commented on #1330
Since we got no response from @Zathrus I am going to close.
@Zathrus if you have more feedback please reopen.

[2019-04-12 20:43] #1330 closed

[2019-04-12 20:43] rhatdan commented on #1212
Closing this issue.

[2019-04-12 20:43] #1212 closed

[2019-04-12 20:44] rhatdan commented on #620
@rhatdan Any movement on this one?

[2019-04-12 20:45] rhatdan commented on #1213
@TomSweeneyRedHat Ping

[2019-04-12 20:48] rhatdan commented on #1397
I don't see any += code left in Buildah other then some format commands on the CLI, no reason to complicate that code.

[2019-04-12 20:48] #1397 closed

[2019-04-12 20:48] rhatdan commented on #1397
Reopen if you disagree.

[2019-04-12 20:48] rhatdan commented on #574
No update on this one.

[2019-04-12 20:49] rhatdan commented on #1219
@TomSweeneyRedHat is this the code you were working on for handling symlinks?

[2019-04-12 20:51] rhatdan commented on #1454
Perhaps the Dockerfile stuff you are working on can solve this issue.

[2019-04-12 20:59] rhatdan commented on #1452
Might be better to set this in buildah from and buildah bud.

buildah from --epoch-time ...
buildah bud --epoch-time

@hendrikhalkow Are you interested in working on this?

[2019-04-12 21:01] rhatdan commented on #1449
https://github.com/containers/buildah/pull/1491 fixes this.

[2019-04-12 21:01] #1449 closed

[2019-04-12 21:03] rhatdan commented on #1438
PR is being merged.

[2019-04-12 21:03] #1438 closed

[2019-04-12 21:14] rhatdan commented on #765
That's fine, we could add the proxy switch and default to true.

[2019-04-12 21:15] rhatdan commented on #765
@jamescassell Would you be interested in attempting to do this?

[2019-04-12 21:20] jamescassell commented on #765
I'll take a crack at it once I get a moment, though I'm not exactly sure how soon it will be.

[2019-04-12 21:20] TomSweeneyRedHat commented on #1234
Doesn't appear that @nanlind's changes fixed this, but I'll let him correct me.

[2019-04-12 21:30] TomSweeneyRedHat commented on #1151
I think this one may have been fixed with @nalind's latest round of fixes.  The layers are much smaller and non-repetitive when built with Buildah, but I can't easily test using Podman as Buildah hasn't been vendored there yet.  @nalind or @kunalkushwaha WDYT?

[2019-04-12 21:30] TomSweeneyRedHat commented on #1219
Yes and I need to revisit.

[2019-04-12 21:52] jamescassell commented on #765
a quick workaround is to bind-mount a shell init file, then pass all commands thru a bash login shell like
[code]

I suppose something similar could be used for injecting RHEL subscriptions... though you'd need a cronjob to create a world-readable copy of the ssl keys

[2019-04-13 07:23] andreasbaumann commented on #990
seems to work. thanks.

[2019-04-13 08:35] #990 closed

[2019-04-13 19:14] phozzy commented on #1496
HI @TomSweeneyRedHat @rhatdan @vrothberg @giuseppe !
Thanks for your help! Unfortunately I was not able find a way how to use `/var/lib/containers/storage` as a volume in CI's I've tried. I tried following CI's:

* gitlab-ci: The case is described in this issue topic. There is an open issue at [gitlab-ci's issue-tracket](https://gitlab.com/gitlab-org/gitlab-runner/issues/3207), and I put a referen

[2019-04-14 13:26] vrothberg commented on #1496
Thanks a lot for the great summary, @phozzy! I don't think we can do anything *here* to address the issues in the mentioned CI systems, so I'll close the issue. The safest and most portable approach may be using VFS inside the containers.

[2019-04-14 13:26] #1496 closed

[2019-04-14 13:46] vrothberg commented on #1437
Closing the issue as it has been fixed in the meantime. Thanks for bringing it up!

[2019-04-14 13:46] #1437 closed

[2019-04-14 14:43] siretart opened #1512 "Buildah 1.7.2 fails to build against containers/image 1.5"
Context of this inquiry is https://github.com/containers/libpod/issues/1742 - I'm working on getting buildah and podman packaged and integrated into the Debian software archive.

I'm trying to compile buildah version 1.7.2 against the latest release of github.com/containers/image (which is version 1.5 according to https://github.com/containers/image/releases), and containers/storage v1.12.1.

I'm

[2019-04-14 17:47] TomSweeneyRedHat commented on #1512
@vrothberg PTAL

[2019-04-15 01:06] kunalkushwaha commented on #1151
I verified this bug again with same steps as mentioned above.

Image generated by latest `buildah` have less layers as it is with `docker`, but also it do not have duplicate layers as earlier. So there is no bug, but output is still different.

It seems `buildah` is not adding layers with each `RUN` , `COPY` command and or merging them with previous layer one successful. Please see the description

[2019-04-15 07:34] vrothberg commented on #1512
This API break is really hunting me :sob:

@siretart, the latest containers/image and containers/storage is not compatible with Buildah 1.7.2. API changes in c/storage are responsible for that. The changes have been propagated through the stack but did not make into a new release of Podman and Buildah. I recommend sticking with the versions of c/image and c/storage that Buildah/Podman vendor.

Thi

[2019-04-15 09:23] azatsarynnyy opened #1513 "Packaging Buildah for Alpine Linux"
Hello!
If I understand right, there were some [efforts](https://github.com/containers/buildah/issues/466#issuecomment-373961930) in direction of packaging Buildah for Alpine Linux distribution but it's not finished yet. Am I right?
Are there any plans to proceed with it?

[2019-04-15 10:46] fooishbar commented on #1504
I'm still seeing this, on a F30 Silverblue host. I wonder if it's something to do with Go and TLS certificate handling? `curl https://registry.fedoraproject.org/v2/` works fine, whereas it fails with `unexpected message` from Buildah.

[2019-04-15 10:49] grdryn commented on #1504
Hmm, yeah, I can confirm that `buildah pull registry.fedoraproject.org/fedora` doesn't work again, but as before, `podman pull registry.fedoraproject.org/fedora` still works. :thinking:

[2019-04-15 13:17] rhatdan commented on #1151
Did you run buildah bud --layers?

[2019-04-15 13:20] kunalkushwaha commented on #1151
No. I was not aware of this option. Will update on this tomorrow.

On Mon, Apr 15, 2019 at 10:17 PM Daniel J Walsh <notifications@github.com>
wrote:

--
Regards,
Kunal Kushwaha

[2019-04-15 13:51] rhatdan commented on #1513
We rely on the community for that.  Engineers from Red Hat concentrate on packaging for Fedora, RHEL, Centos and Ubuntu.
Others are packaging for other distributions.  OpenSuse for example.

We have some effort started to get the container packages packaged for Debian as well.

We will fully support anyone who wants to package for any othed distribution including Alpine.

[2019-04-15 14:00] azatsarynnyy commented on #1513
I see. @rhatdan  thanks for your answer!

[2019-04-15 14:00] #1513 closed

[2019-04-15 17:42] EricHripko opened #1516 "Permissions lost when after pushing to the repository"
`buildah` seems to lose file permissions when pushing the image to a private registry. My `Dockerfile` installs a debian package for Python 3.7, but the permissions are wrong when the image is later used in Docker. `buildah` is ran as root.

**Steps to reproduce the issue:**
Verifying that `.deb` has correct permissions:
[code]
Verifying that permissions were correct before the push:
[code]
Checki

[2019-04-15 20:27] benmoss opened #1518 "newgidmap: executable not found in $PATH on Ubuntu 18.04"
**Description**
I installed buildah via the Ubuntu PPA, following the instructions on https://github.com/containers/buildah/blob/master/install.md#ubuntu

It installed successfully, but when I run `buildah` i get this error:

[code]

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `unam

[2019-04-15 20:42] rhatdan commented on #1518
@lsm5 Do we need a recommends newgid?

[2019-04-15 21:42] siretart commented on #1512
I see.

That's unfortunate, I was hoping that there were a (ideally small number of) commits to buildah that would unbreak things, but apparently buildah still needs to catch up with API changes. Let's track progress on that in this issue and see whether Debian's ftp-master (accepting the packages I upload from the stack) or you guys (catching up with API changes) win the race :-)

[2019-04-15 23:37] jamescassell commented on #765
#1510 implements the functionality described in the issue description as well as https://github.com/containers/buildah/issues/765#issuecomment-482709421 by injecting proxy vars into the container if they are set for `buildah from` or `buildah bud`

@maxmeyer does this meet your need?

Nothing in #1510 attempts to change anything for push or pull

[2019-04-16 01:15] kunalkushwaha commented on #1151
Image generated with `bud --layers` options, generate all layers.

Though one small difference from `docker build`. buildah generates one extra layer.
i.e. Docker generates 9 layers, whereas buildah generates 10 layers. (No layers are duplicate)

[code]

[2019-04-16 01:15] kunalkushwaha commented on #1151
I think original bug is fixed,

[2019-04-16 08:03] rhatdan commented on #1151
@nalind is working on fixing this issue. Basically buildah creates a final image even if the last command in the Dockerfile is not COPY, ADD, or RUN, whereas Docker does not.

[2019-04-16 08:03] #1151 closed

[2019-04-16 12:19] karelyatin commented on #1439
Also seeing similar issue(WORKDIR + symlink), more details https://bugs.launchpad.net/tripleo/+bug/1824952

[2019-04-16 15:22] TomSweeneyRedHat commented on #1504
Per the above and IRC pings, I'm going to reopen.

[2019-04-16 16:43] SpamapS commented on #1518
The package is `uidmap`, and it's a dependency, not a recommends, because the bud command is non-functional without it.

[2019-04-16 17:33] TomSweeneyRedHat commented on #1504
Just adding a IRC chat line that might help with debugging from rishi:
[code]

[2019-04-16 19:51] lsm5 commented on #1518
I'll make that change, btw, I'm working on snap packages for these tools, so hopefully the PPA can be abandoned soon.

[2019-04-16 20:09] lsm5 commented on #1518
should be fixed in `buildah-1.8-1~dev~ubuntu18.04~ppa23`

[2019-04-16 20:59] afbjorklund opened #1523 "Have problems building images, with caching turned on"
**Description**

Looks like building with podman/buildah doesn't work, with cache/layers turned on ?

This is for minikube, when running with cri-o rather than docker, and wanting to build.

It seems to work ok with `--no-cache`

Using the overlay graph driver, on ext4.

**Steps to reproduce the issue:**
1. `sudo -E podman build .`
2. _or_ `sudo -E buildah bud --layers .`
3. cat Dockerfile

[code]

[2019-04-16 21:20] afbjorklund commented on #1483
I have an image based on [tinycore](https://hub.docker.com/r/tatsushid/tinycore)... It's not updated very often (nor releases), though.
https://github.com/boot2podman/boot2podman/tree/master/containers/tinycore-buildah

[code]

If there is enough interest, I could update it to Tiny Core Linux 10.x and Buildah 1.7.2.
Most of the hassle is around bintray.io packages defaulting to https, rather than

[2019-04-16 21:36] vbatts commented on #1483
The boot2podman update sounds useful too.

Back to the original intent here, we hoping for a landmark location for an always fresh buildah image, that can (will) be generally used as a canonical basis for folks to use.
Right now we've put a fair amount of work into https://github.com/knative/build-templates/blob/master/buildah/Dockerfile and are plumbing it up to have an always-fresh build on quay

[2019-04-17 09:30] debarshiray commented on #1504
It was @sinnykumari who discovered that originally. It's part of her initial report but got a bit lost in the text. :)

[2019-04-17 09:58] akshayeshenoi commented on #475
For anyone who got a `standard_init_linux.go:190: exec user process caused "no such file or directory"` error after applying this fix, you're probably on an alpine base image which does not come with bash.

Replacing `#!/bin/bash` with `#!/bin/sh` will do the trick!

[2019-04-17 12:28] nalind commented on #1456
I think what you're after would conventionally be accomplished by building only through that stage with the `--target` flag, and by using the `-t` flag to specify a tag to apply to the final image.

The name specified in a `FROM ... AS ...` instruction is not treated as a tag for the image built at that stage, as its main use is to avoid requiring that subsequent `COPY --from=` instructions specif

[2019-04-17 12:41] giuseppe commented on #1518
this is required only for rootless builds, root still works without it.  Should it still be a dependency and not a recommends?

[2019-04-17 12:59] h-vetinari commented on #1456
Same for `sudo podman build -t podman_test --target=base -f podman_test.dockrf .`
[...]

This is exactly what is *not* working, and what this issue is about, see self-quote from OP. Neither does it work to build the full image (no `--target`) - the final image currently ignores the `-t` tag.

[2019-04-17 13:12] umohnani8 commented on #1219
fixed in #1519

[2019-04-17 13:12] #1219 closed

[2019-04-17 13:47] nalind commented on #1456
Aargh, I missed that.  This appears to work correctly with buildah at least as of version ffd8d6a5de26e76f4446feadc837d55f9139dad8, though, so I expect we're looking at https://github.com/containers/libpod/pull/2931/ to incorporate those changes into podman.

[2019-04-17 14:13] h-vetinari commented on #1456
@nalind
I've been trying to monitor the PRs and regularly tested with the most current nightly builds for podman/buildah. Seems that this specific commit hasn't made it to the PPA yet, so I can't verify. But thanks for fixing! :)

Yeah, would definitely need to update the version vendored by podman, as I'm planning to use this through podman.

[2019-04-17 14:23] h-vetinari commented on #1456
@nalind
Never mind, I hadn't completely thought through the effects of the vendoring...

Using the latest PPA, it works correctly to do either of:
* `sudo buildah bud -t podman_test -f podman_test.dockrf .`
* `sudo buildah bud -t podman_test --target=base -f podman_test.dockrf .`

[2019-04-17 14:23] h-vetinari commented on #1456
Thanks!

[2019-04-17 14:23] #1456 closed

[2019-04-17 14:26] #1518 closed

[2019-04-17 14:38] SpamapS commented on #1518
Thanks for the update! Also @giuseppe yes, a depends, because a major part of the program doesn't work without it on the local machine. Recommends are for things like a GUI that talks to the daemon, or a database server that the program can talk to, but also might exist on some other box.

[2019-04-17 17:07] umohnani8 commented on #1507
@h-vetinari which buildah version are you using? I am on 1.8-dev and this is working fine for me.
[code]

[2019-04-17 18:32] rhatdan commented on #1483
@vbatts @TomSweeneyRedHat is working on this also, in quay.io/buildah/  So I think we should combine our efforts.

[2019-04-17 19:06] hendrikhalkow commented on #1452
Hi @rhatdan I'd love to, but I am pretty new to Go programming, so it would require quite some guidance. Maybe we achieve better results when somebody else implements it. As of now, I can help with concept work.

I like the idea setting it in `buildah from` or `buildah bud`. So let me rephrase how you think this would work:

Running the following script twice would create exactly the same image wi

[2019-04-17 19:30] 42wim commented on #1498
Hitting exact the same issue on the just released v1.7.3 (2941f346db6c0773f31d7eac552fa36212518a77) with runc-1.0.0-89.dev.git029124d (on centos 7 / kernel 5.0.5).

buildah v1.7.2 works fine.

[2019-04-17 20:31] afbjorklund commented on #1523
Thinking that this must have been a temporary issue, corrupted `/var/lib/containers/storage` ?

Recreated the VM, and the same thing works fine:
[code]

So there doesn't seem to be anything to do here.

[2019-04-17 20:35] afbjorklund commented on #1523
Hmm, ran the commands again and now there is a new error.

[code]

So something seems unstable about layers in this environment.

[2019-04-17 20:51] h-vetinari commented on #1456
Just checked with the new PPA after containers/libpod#2931, and now it works with `podman build` too! :)

[2019-04-17 20:57] h-vetinari commented on #1507
@umohnani8
I didn't know that `podman` vendors `buildah`, so I had always just been testing `podman build`. It *does* work on buildah master with `buildah bud`, and following the merge of containers/libpod#2931 (and the latest nightly build through PPA), it now *also* works with `podman build`. :)

Closing since this issue is now solved.

[2019-04-17 20:57] #1507 closed

[2019-04-17 20:59] 42wim commented on #1498
Did some more debugging and found the issue `BUILDAH_ISOLATION=rootless buildah bud ...` fixes it.
In v1.7.3 `BUILDAH_ISOLATION=rootless` isn't set in the environment by default anymore.

[2019-04-17 20:59] phozzy commented on #1483
registry.gitlab.com/containertools/containertools:latest - allways fresh allinone image (with buildah, podman and skopeo).
it is supposed that you'll be able to run it from unprivileged user. (if not open issue :-) )
not oficial one, but if someone from someone from container-tools developers will join that group, I'll apreciate that.

[2019-04-17 21:00] rhatdan commented on #1498
@giuseppe This looks like merging the new code caused this issue?

[2019-04-17 21:02] rhatdan commented on #1483
@phozzy Ping me dwalsh@redhat.com with a link of where I should join.

[2019-04-17 21:32] 42wim commented on #1498
https://github.com/42wim/buildah/commit/a05df7514a4bce1a0d819788b4afc0fcf48f563c fixes it btw

[2019-04-17 21:37] rhatdan commented on #1498
@42wim Can you open a PR.

[2019-04-17 22:50] undecaf opened #1530 "COPY misbehaves in the presence of any non-empty .dockerignore file"
**When COPYing a directory, I expected only the _children_ of the source directory to be copied. However, if a non-empty `.dockerignore` file exists then the source directory _itself_ is copied.**

**Steps to reproduce the issue:**
1. Create this `Dockerfile`:
[code]
2. Create this source directory structure in the context:
[code]
3. Create this `.dockerignore` file (actually, any content except `

[2019-04-17 23:48] TomSweeneyRedHat commented on #1530
@QiWang19 PTAL

[2019-04-18 05:23] vrothberg opened #1531 "modularize buildah/util"
The `buildah/pkg/util` package imports a vast amount of dependencies which can lead to surprising transitive dependency chains (see https://github.com/containers/image/pull/564#issuecomment-483983199). The package should be modularized. Breaking it into several smaller packages with dedicated functionality should avoid pulling in too many unrelated dependencies and make it more portable.

[2019-04-18 14:30] tosmi commented on #1504
i'm having the exact same issue under silverblue 30. podman pull works, buildah pull fails with `tls: unexpected message`. discovered yesterday (tried to create a fc 30 container with toolbox). still happening today.

[2019-04-18 14:55] rhatdan commented on #1504
Can you try with the buildah from master?

[2019-04-18 21:26] EricHripko opened #1534 "COPY creates folders with very restricted permissions"
This issue was initially wrongfully reported under #1516 . The problem is that Buildah creates the folders in path for `COPY` using `mode=700` unlike Docker that uses `mode=755`. This is a problem for two reasons: running as non-root and Docker compatibility:
- If you're running as non-root _inside the container_, you now need to chase down all `COPY` statements and fix permissions with a `chmod`

[2019-04-18 21:27] EricHripko commented on #1516
This issue is misleading - re-created with a reproducible example in #1534 .

[2019-04-18 21:27] #1516 closed

[2019-04-18 21:33] TomSweeneyRedHat commented on #1439
OK it looks like the COPY is just writing to the specified location and not first checking to see if it's a symlink.  I've come up with a Dockerfile that reproduces the error below.

[code]

[2019-04-18 21:51] EricHripko commented on #1534
My guess based on reading the code is below. Does this look right?
- `Builder.Add` decides that absolute path always exists and [doesn't create folders](https://github.com/containers/buildah/blob/master/add.go#L113)
- `Builder.Add` calls `Builder.copyFileWithTar`, which in turn [calls](https://github.com/containers/buildah/blob/973bb88ef1861a5b782c722c471dd79b6732852c/util.go#L112) `chrootarchive.

[2019-04-19 02:03] mlbiam opened #1536 "s2i not working with image on ocp4 that worked on ocp3"
Not sure if here or s2i is the right place to report this.  I have a builder image we built for java - https://github.com/TremoloSecurity/OpenUnisonS2IDocker/blob/master/Dockerfile.rhel and https://github.com/TremoloSecurity/OpenUnisonS2IDockerRHEL/blob/master/s2i/bin/assemble that has been working fine on ocp3.  I just tried it on ocp4 and received the following error:

[code]

Is there something

[2019-04-19 10:20] redbaron commented on #1454
It would also be nice to have binaries published to github release.

[2019-04-19 12:41] TomSweeneyRedHat opened #1537 "Symlink in Workdir cause error"
**Description**

When the WORKDIR is a symlink, the directory is not resolved appropriately.

**Steps to reproduce the issue:**
1.  See received results.

**Describe the results you received:**
As reported by @karelyatin in #1443.

@EmilienM @TomSweeneyRedHat i tried with the recent PR and i see similar Error as we have with buidah-1.7.1:-
[code]

**Describe the results you expected:**

Build to s

[2019-04-19 12:59] mlbiam commented on #1536
Looks like the file permissions are much more strict in ocp4 builders.  I moved the install of maven into /tmp and added some more chowns in the dockerfile and this is now working in ocp4

[2019-04-19 12:59] #1536 closed

[2019-04-19 17:12] lsm5 commented on #1454
let me get back on this once the snap packages are done.

[2019-04-20 14:58] tosmi commented on #1504
sorry for the late respone, i was fighting with my local installation of silverblue 30...

[code]

so the latest master works for me. here is the output of buildah that comes currently with silverblue 30:

[code]

thanks
toni

[2019-04-21 13:49] EricHripko commented on #1534
I've managed to resolve my issue by modifying `Builder.Add` like this:
[code]
It simply gets the directory of the `COPY` target and makes sure that it exists. In my tests this seems to have worked for both file and folder cases. Should I create PR for this?

[2019-04-22 14:05] carlwgeorge commented on #1504
I'm also seeing this error with buildah pulling from registry.fedoraproject.org on Fedora 30.  It works if I downgrade, and it works if I upgrade to the buildah from rawhide.

* `buildah-1.7-3.git873f001.fc30.x86_64` works
* `buildah-1.7-17.dev.git146a0fc.fc30.x86_64` doesn't work
* `buildah-1.8-39.dev.git2f0179f.fc31.x86_64` works

[2019-04-23 11:00] sourabhsharma487 commented on #1481
Hi @rhatdan : I managed myself fixing and running buildah container on k8s to create docker image(s) successfully by adding the following parameters:

[code]

I am attaching this k8s sample template so that if anyone else tries to run buildah container on k8s may use this and this will help for sure to run it on k8s.

Closing this Issue now.

[2019-04-23 11:00] #1481 closed

[2019-04-23 12:13] TomSweeneyRedHat commented on #1534
@EricHripko if you have the time, I'd love to see a PR

[2019-04-23 19:01] Fodoj commented on #1092
Happened to me today as well:

[code]

[2019-04-24 10:53] jitka opened #1544 "`podman build` fails where `docker build` works"
Podman build should works as docker build, however not.

**Steps to reproduce the issue:**
1. git clone git@github.com:pirati-web/example.pirati.cz.git
2. podman build .

**Describe the results you received:**
$ podman build .
[code]

**Describe the results you expected:**
build image same way `docker build .` create it

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `b

[2019-04-24 11:38] debarshiray commented on #1504
Thanks for testing @carlwgeorge

If that's true, then it seems like a Fedora packaging bug to me:
[code]

`buildah-1.7-17.dev.git146a0fc.fc30.x86_64` is a pre-release snapshot leading up to 1.7, and should have been replaced with `buildah-1.7-3.git873f001.fc30.x86_64`. It would have worked if the snapshot had used `0.17`, not `17`, as the [release](https://docs.fedoraproject.org/en-US/packaging-gu

[2019-04-24 12:57] TomSweeneyRedHat commented on #1544
@jtka thanks for the problem report, will take a look at it.  The output from the second line of the Dockerfile processing looks a bit suspicious to me.  Can you confirm that your Dockerfile had the tabs or spaces between the words like that?  It feels like some kind of Dockefile parsing error.  Not something that you should clean up, but our code might not be handling it as well as it should.

I'

[2019-04-24 13:13] jitka commented on #1544
@TomSweeneyRedHat it has new lines between those words:
https://github.com/pirati-web/example.pirati.cz/blob/master/Dockerfile

[2019-04-24 13:14] msmigiel opened #1546 "buildah bud failing on COPY where docker build works"
**Description**

I am trying to create a container with the following Docker file:
[code]
and the following command:

`buildah bud -t mycluster.icp:8500/ibmcom/om-app-svt:ubi1 --build-arg FILE=ear.dir --build-arg DB_DRIVER_JAR=db2jcc4.jar -f /opt/ssfs/runtime/docker/docker-app/Dockerfile.om-app-os /opt/ssfs/runtime/docker/docker-app`

I have also tried with `podman build -t` and that also fails.

[2019-04-24 13:16] TomSweeneyRedHat commented on #1544
Thanks for the heads up @jitka and the pointer to the Dockerfile.   Leads me to believe more we've some kind of issue with parsing the Dockerfile in this instance.

[2019-04-24 14:05] carlwgeorge commented on #1504
Ah, I see.

* [`buildah-1.7-17.dev.git146a0fc.fc30`](https://koji.fedoraproject.org/koji/buildinfo?buildID=1211760) was built on 2019-02-18
* [`buildah-1.7-3.git873f001.fc30`](https://koji.fedoraproject.org/koji/buildinfo?buildID=1237768) was built on 2019-03-21

This is an RPM ordering issue.  The short term fix is to bump the F30 package to release 18 or higher.  Long term, your suggestion of us

[2019-04-24 14:18] TomSweeneyRedHat commented on #1546
@msmigiel Thanks for the issue.

Well, shoot.  We've just very recently updated --build-args handling, as in yesterday, and I was hoping to tell you to try upstream given you're using an older Bulidah.  However, it looks like we now have an issue with mkdir and the target directory if the directory exists.  Need to run that down.

[code]

[2019-04-24 14:47] msmigiel commented on #1546
You're welcome - please let me know if I can help out any further.

I also have a similar issue with another Docker file
[Dockerfile.agent.txt](https://github.com/containers/buildah/files/3112824/Dockerfile.agent.txt)

which is throwing this error in buildah but works fine in Docker:

[code]

[2019-04-24 15:03] umohnani8 commented on #1391
Fixed in #1521

[2019-04-24 15:03] #1391 closed

[2019-04-24 15:09] TomSweeneyRedHat commented on #1546
Thanks @msmigiel will take a look at the second Dockerfile too.

[2019-04-24 16:24] TomSweeneyRedHat commented on #1544
OK, I don't think it's a parsing error after all.  I'm not able to replicate this of F30 using upstream or on F29 with::
[code]

It also worked for me using root rather than rootless.

@giuseppe rellooking at the error:
[code]
Could this be a runtime/rootless error?

@jitka if you've the time, can you try updating runc to the latest?

[code]

and see if that cures the issue?  Also could you try it

[2019-04-24 16:45] rhatdan commented on #1544
Could you grab the package from https://bodhi.fedoraproject.org/updates/FEDORA-2019-6174b47003 and test it out. If it fixes the issue, could you update the Karma.

[2019-04-24 17:14] davemulford opened #1547 "Buildah copies /etc/resolv.conf into container"
**Description**

Buildah copies the host's resolv.conf into the container.  My resolv.conf uses `nameserver 127.0.0.1` as I use dnsmasq locally as a DNS cache.  Having this in a container results in DNS not functioning, so commands like `yum` don't work.

Running with podman doesn't have this issue.

**Steps to reproduce the issue:**

I'm using `buildah bud` to build from an [existing Dockerfile](

[2019-04-25 09:12] konrad-ohms commented on #156
Looks like there is a more offical tutorial available now, at least for running buildah in a container: https://developers.redhat.com/blog/2019/04/04/build-and-run-buildah-inside-a-podman-container/

[2019-04-25 12:27] jitka commented on #1544
@TomSweeneyRedHat after that update, I was able to build it with podman.

But I found another issue when I try to run this container - it works with docker and not with podman. Should I report it? Where?

[2019-04-25 13:53] rhatdan commented on #1544
Report it on libpod.

[2019-04-25 13:53] #1544 closed

[2019-04-25 13:57] QiWang19 commented on #1530
Bot doesn't close this for me. I'll close it.

[2019-04-25 18:09] undecaf commented on #1530
@QiWang19  I did not close this myself since I intended to wait until the bugfix arrives in `buildah/bionic`. The most recent version at `projectatomic/ppa` (1.8-1\~dev\~ubuntu18.04\~ppa25) is not fixed.

[2019-04-25 18:15] QiWang19 commented on #1530
:ok_hand: , I'll reopen.

[2019-04-25 19:23] TomSweeneyRedHat commented on #1544
@jitka what @rhatdan said and thanks for the testing.
@mheon, heads up, incoming issue.

[2019-04-25 19:44] undecaf commented on #1530
@QiWang19 Thank you!

[2019-04-25 20:28] jkryl commented on #1502
I have tested buildah again with the new version 1.8 and it works fine. Thanks! I'm closing the ticket.

[2019-04-25 20:28] #1502 closed

[2019-04-26 01:56] karelyatin commented on #1537
@TomSweeneyRedHat i tried to patch buildah 1.7.1 like http://paste.openstack.org/show/749786/ and it's working for us like:- https://logs.rdoproject.org/84/20184/8/check/rdoinfo-tripleo-stein-centos-7-scenario001-standalone/0c695e4/logs/buildah-builds/kolla-hbUzcs/docker/tempest/tempest-build.log.txt.gz, can you check http://paste.openstack.org/show/749786/ and get it fixed.

[2019-04-26 02:16] #1439 closed

[2019-04-26 02:46] karelyatin commented on #1537
@TomSweeneyRedHat,  revised a little and added to gist:- https://gist.githubusercontent.com/karelyatin/e09a2596cef8cbe532592e3329ac13c7/raw/b93945a32bbc82f0cc9203db67d93966448d4c58/BuildahWorkdirHandle

[2019-04-26 10:17] debarshiray commented on #1504
There's an new build that unbreaks the update path:
https://bodhi.fedoraproject.org/updates/FEDORA-2019-a329c204c3

This issue can be closed now.

[2019-04-26 15:19] sham1 opened #1554 "slirp4netns sync pipe EOF on Fedora Silverblue 30"
**Description**

On Fedora Silverblue 30, whenever I try to run a command within a container image, `buildah` gives me an error saying `error running container: failed to read from slirp4netns sync pipe: EOF`.

**Steps to reproduce the issue:**
1. Create a simple container with, say, `$ buildah from --name foo fedora:30`
2. Try to run something inside said container `$ buildah run foo -- ls`

**De

[2019-04-26 15:30] rhatdan commented on #1554
@debarshiray Is this the one that was fixed by updating the buildah package in Fedora 30?

[2019-04-26 15:38] sham1 commented on #1554
I tried the manual overriding of the package to `buildah-1.7-3.git873f001.fc30.x86_64`, as mentioned in that `toolbox` issue but that doesn't fix the issue.

[2019-04-26 16:09] debarshiray commented on #1554
No, that was https://github.com/containers/buildah/issues/1504 This one's different.

[2019-04-26 16:23] EricHripko commented on #1534
Will do as soon as I can 🙂

[2019-04-26 16:38] rhatdan commented on #1554
@AkihiroSuda Any ideas?

[2019-04-26 16:46] EricHripko opened #1556 "ENV loses some special characters (e.g., $) after commit"
**Description**

`buildah` loses some special characters (namely, `$`) in values of environment variables defined with `ENV`. This only happens after the commit - the values are fine during build.

**Steps to reproduce the issue:**
1. Use the following `Dockerfile`
[code]
2. Build an image: `buildah bud -t proof2 .`
3. Create a container from it: `buildah from proof2`
4. Inspect environment variab

[2019-04-26 16:56] jkryl opened #1557 "buildah COPY directory incompatible with docker"
I have following docker file:

[code]
it works fine with docker. However when using buildah the following line causes problem:
[code]
Instead of taking *content* of "moac" directory and putting it to /moac dir, it takes the moac directory itself. So for example:
[code]
becomes
[code]

This happens with buildah 1.8-dev version on Ubuntu 18.04.
[code]

I think this is a regression as I don't remembe

[2019-04-26 17:00] giuseppe commented on #1554
We changed the default to be --net host so it should not be an issue anymore as slirp4netns must be explicitly specified

[2019-04-26 17:03] rhatdan commented on #1557
@TomSweeneyRedHat Could you verify this.  Since you have been in this code lately.

[2019-04-26 17:09] TomSweeneyRedHat commented on #1556
@EricHripko Thanks for the heads up.  Do you by chance know if this occurred in earlier versions of Buildah?  I ask as we changed our CLI handling software as of v1.7 and this smells like it might be related.  If you don't know, no worries, we'll take a look regardless.

[2019-04-26 17:11] TomSweeneyRedHat commented on #1557
@jkryl I think this may have been resolved just last night with #1443.  Is there any way you can pull/build from upstream and try it?

[2019-04-26 17:13] EricHripko commented on #1556
Happy to help! I'll try to troubleshoot this further if I have some time next week.

Unfortunately, I am not aware if this happened in earlier versions of `buildah` since I've not used anything but `1.8-dev`.

[2019-04-26 17:15] TomSweeneyRedHat commented on #1557
@jkryl belay that, I just noted the issue is with the WORKDIR directory, a different beast.  Let me go play with that.

[2019-04-26 17:17] rhatdan commented on #1557
Packages are being built on Fedora now for 1.8.0. I will ask our packagers to begin packaging for Ubuntu, Although I think they follow Master Branch, so their might be a package available for Ubuntu now, with this fix.

[2019-04-26 17:24] rhatdan commented on #1556
It seems to be working for me with buildah-1.8.0 in Fedora
[code]

[2019-04-26 17:58] sham1 commented on #1554
I just tried to run my example as

[code]

and that did the trick. I guess now we'll just wait 'till Fedora catches up so it does that implicitly.

[2019-04-26 17:58] #1554 closed

[2019-04-26 18:10] debarshiray commented on #1554
Umm... what does Fedora have to catch up with? We need a newer Buildah release in Fedora? Something else? I am confused because I am currently running the `buildah-1.8` pre-release snapshots, and it used to work before without `--net host`. Is it some passing breakage in 1.7?

[2019-04-26 21:39] EricHripko commented on #1556
I can reliably reproduce the issue on the machine reported above (xenial):
[code]

I've built the tip of master on a different machine (disco) and it works correctly now:
[code]
Unfortunately, there doesn't seem to be an official build of `buildah` in projectatomic PPA for disco - so I am unsure whether this is because of a different OS version or if some recent changes fixed this issue.

[2019-04-27 09:27] rhatdan commented on #1556
This means that it is fixed in buildah-1.8.0, which was just released yesterday.  We will get a new version out for Ubuntu shortly

[2019-04-27 11:35] TomSweeneyRedHat commented on #1557
Need to test, but I suspect #1558 may fix this too.  Will try test by Monday morn, if not will tackle this one next.

[2019-04-27 17:53] TomSweeneyRedHat commented on #1557
@jkryl Just tested, looks to be fixed with #1558.  I love a good BOGO!

`# buildah run tomctr /bin/bash
root@8b2775501978:/moac# ls
package-lock.json  package_tom.json
root@8b2775501978:/moac# pwd
/moac
``

[code]

[2019-04-28 10:31] #1537 closed

[2019-04-28 17:31] jkryl commented on #1557
Thanks @TomSweeneyRedHat ! I will give it a try when 1.8.1 is out 👍

[2019-04-29 14:11] TomSweeneyRedHat opened #1562 "Directory created when WORKDIR is a symlink"
So we don't lose the issue, I'm opening this up per @karelyatin's report in #1558 comments.

[code]
This is in Buildah 1.9.0-dev.

[2019-04-30 08:48] eivantsov opened #1563 "Buildah fails on OpenShift with anyuid disabled"
**Description**

On my MiniShift containers start with radmon uid, and thus there are no entries for such a user in /etc/passwd and /etc/group. As a result buildah complains about a non existing user. I fixed that in an entrypoint of an image. It's based on centos:7:

[code]

When I am in a running container, this is my user:
[code]
However, `/etc/subuid` and `/etc/subgid` are empty.

[code]
Conse

[2019-04-30 10:56] msmigiel commented on #1546
Hi @TomSweeneyRedHat , were you able to find anything more about this potential defect?

[2019-04-30 12:26] TomSweeneyRedHat commented on #1546
@msmigiel honestly I'd not looked at it specifically since my last comment due to other fires.  However, a number of those fires were related to code in this same area of processing and I just ran your example now using the latest from upstream and it's working for me.  Can you try pulling the latest from upstream and trying yourself?

[2019-04-30 12:27] sinnykumari commented on #1504
This issue is fixed with buildah-1.7-18.git873f001.fc30.x86_64 in Fedora 30

[2019-04-30 12:27] #1504 closed

[2019-04-30 13:03] msmigiel commented on #1546
Thanks @TomSweeneyRedHat for the reply. I did try version 1.8.0 and the same problems occurred. Is there a newer version I should try? Attached here are my 3 Docker files and 3 errors I am getting. Two of the three are the same and they are all about files not being found.

`tee: /etc/sudoers.d/omsuser: No such file or directory`

`error building at STEP "COPY --chown=default:root $FILE /config/dr

[2019-04-30 13:09] TomSweeneyRedHat commented on #1546
@msmigiel if you could try 1.9-dev, that would be awesome.  That just got spun up very, very recently.

[2019-04-30 14:15] msmigiel commented on #1546
@TomSweeneyRedHat I've also tried the build `buildah-1.9.0-0.1.dev.gitddbd805.fc31.x86_64.rpm` from rpmfind.net and it is having the same issue.

[2019-04-30 14:16] TomSweeneyRedHat commented on #1546
@msmigiel thanks for trying, will try to pop it up higher on the list then.

[2019-04-30 19:57] fansari commented on #1554
Weird. It is working now. I use again this version:

[fansari@bat ~]$ rpm -q buildah
buildah-1.7-18.git873f001.fc30.x86_64

But I am unsure whether this is the reason.

Last changes on my system was this:

https://bugzilla.redhat.com/show_bug.cgi?id=1704919

This is SELinux stuff. I could am quite sure I tried in permissive mode but I guess I only switched enforcing off on my running system and ne

[2019-05-02 00:08] #1562 closed

[2019-05-02 13:54] gregoryboue commented on #1329
Sorry for the lack of response.
In my case the context is a CI/CD environment to build and push images.
The build environment is created for each build.

So the solution of the podman /buildah login is not a solution in my case.

I have a Docker Trusted Registry in my company.

When i perform a multistage build with the first FROM which pull a public repository image and the second FROM which pull

[2019-05-02 14:21] QiWang19 commented on #1329
@gregoryboue  is it helpful to use `--password-stdin` to pass the password from Stdin?

[2019-05-02 20:53] 42wim opened #1568 "Fail to build image with --isolation chroot"
**Description**

Fails to build an image using `--isolation chroot` (works fine with default setting)

**Steps to reproduce the issue:**
1.  Use Dockerfile
[code]
2. Run `buildah bud --isolation chroot .`

**Describe the results you received:**

`npm version` fails
[code]

**Describe the results you expected:**
The output of `buildah bud .`

[code]

**Output of `buildah version`:**

Running 1.8.1

[2019-05-02 20:56] rhatdan commented on #1568
Any idea what NPM is doing?

[2019-05-02 20:56] TomSweeneyRedHat commented on #1568
Thanks @42wim for the issue.  Just to make sure, were you running as a root or non-root user?

[2019-05-02 21:02] 42wim commented on #1568
Running as root user on all tests.
First test was in a docker container hence the `--isolation chroot`, other tests where on the different hosts.

Also just did the test as a non-root user exactly the same result
* `buildah bud .` works fine
* `buildah bud --isolation chroot .` fails

[2019-05-02 21:02] TomSweeneyRedHat opened #1569 "symlink workdir without target dir fails."
**Description**
Reported by @karelyatin in #1565

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

Successful build.

**Output of `buildah version`:**

[code]

[2019-05-02 21:04] 42wim commented on #1568
Any `npm` command fails btw, not only the `version`.
Tried to debug it myself but got stuck.

[2019-05-02 21:05] rhatdan commented on #1568
Most likely something to do with the way /proc or /sys is setup in the chroot.   It would be really helpful if we could see exactly what is failing in npm

Could you add strace to your container and then run strace npm version
And see if that gives us anything useful.

[2019-05-02 21:13] rhatdan commented on #1568
BTW This worked for me.
[code]

[2019-05-02 21:13] rhatdan commented on #1568
buildah version
Version:         1.8.0
Go Version:      go1.12.2
Image Spec:      1.0.0
Runtime Spec:    1.0.0
CNI Spec:        0.4.0
libcni Version:
Git Commit:
Built:           Wed Dec 31 19:00:00 1969
OS/Arch:         linux/amd64

[2019-05-02 21:18] 42wim commented on #1568
Is this what you mean?
Doesn't give much info

[code]

[code]
[code]
[code]

[2019-05-02 21:28] 42wim commented on #1568
Didn't try on 1.8.0 but juist build it, same results for me

[code]

[2019-05-02 21:30] TomSweeneyRedHat commented on #1568
Maybe runc?  What version do you have @42wim?

[2019-05-02 21:37] 42wim commented on #1568
On the centos 7.5 box the default centos one: runc-1.0.0-59.dev.git2abd837.el7.centos.x86_64
On the centos 7.6 box a newer version: runc-1.0.0-89.dev.git029124d.el7

[2019-05-02 22:33] 42wim commented on #1568
Did some more testing with running different container images:
1.  `docker run --privileged --rm -ti distribution:tag /bin/bash`
2. install buildah in the container
3. same Dockerfile
[code]
4. run `buildah bud --isolation chroot .`

* Using `fedora:latest` => works
* Using `ubuntu:latest` => works
* Using `archlinux/base:latest` => works
* Using `centos:latest` => fails

So something strange in c

[2019-05-02 23:16] TomSweeneyRedHat commented on #1568
Interesting, thanks for all the testing and info @42wim !

[2019-05-03 01:25] #1329 closed

[2019-05-03 01:25] rhatdan commented on #1568
Not runc, --chroot does not use runc

[2019-05-03 01:26] rhatdan commented on #1568
Always the same stack trace?

[2019-05-03 07:04] gregoryboue commented on #1329
@QiWang19 , in our case it is not helpful, I did a mistake in my last comment, the registries were different.
In our case we will impose to use the same registry for all the FROM command and it will be ok

[2019-05-03 12:19] jitka commented on #1544
Can you reopen this issue?
It seems that is solved since `podman build .` do not show any error but `podman container ls -a` do not show any image. And when I try to run "last hash from build output" it also fails.

[2019-05-03 12:26] vrothberg commented on #1544
Let's keep the discussion over at https://github.com/containers/libpod/issues/3022#issuecomment-489077504 until we are certain what's going on.

I cannot reproduce locally and it still looks like an image is being referenced that does not exist.

[2019-05-03 13:12] rhatdan commented on #1544
@jitka Did you mean `podman image ls -a`?

[2019-05-03 17:46] danmack opened #1572 "doc fix: buildah does not require root"
**Description**
The buildah manpage and .md file incorrectly state that the command must be run as the root user.  buildah works fine in rootless mode.

**Steps to reproduce the issue:**
1. view doc in md format for buildah
2. man buildah

**Describe the results you received:**

-This tool needs to be run as the root user.

**Describe the results you expected:**

<empty line>

**Output of `rpm -q

[2019-05-03 17:55] danmack opened #1574 "buildah manpage formatting fix in files section"
**Description**

The buildah manage has un-filled/formatted paragraphs underneath each file reference in the Files section.

**Steps to reproduce the issue:**
1.man buildah
2.scroll to bottom
3. unformatted paragraphs for the file descriptions.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Out

[2019-05-03 22:16] TomSweeneyRedHat opened #1577 "WORKDIR as symlink copy fails if it's part of the destination rather than fully specified"
**Description**

If the WORKDIR is a symlink and a COPY is invoked, it fails if a portion of the copy destination is the symlink.  ie. 'COPY file.txt ./file.txt'

**Steps to reproduce the issue:**
1.  See results.

**Describe the results you received:**
Using this Dockerfile:

[code]
The file is apparently copied, but it's not found in the container.

**Describe the results you expected:**
File sh

[2019-05-04 22:26] 42wim commented on #1568
A strace of the buildah process itself near the end where it actually opens `/usr/bin/npm` gives the output below.

* syscall_332 is statx, which also fails on the successful builds
* the 2 failing reads are strange.

[code]

[2019-05-05 11:28] rhatdan commented on #1568
That is a seccomp failure.  Latest seccomp.json file allows statx.

If you grab the one from upstream it should fix the issue.

[2019-05-05 11:29] rhatdan commented on #1568
We need an updated version of containers-common on Centos.

[2019-05-05 11:46] 42wim commented on #1568
That's unfortunately not the issue, `seccomp.json` is the latest on centos:7:
`c05a93ec748a9bf136724e9b627f36c0  /usr/share/containers/seccomp.json`

The rpm is `containers-common-0.1.35-2.git404c5bd.el7.centos.x86_64`

Same version as on https://src.fedoraproject.org/rpms/skopeo/raw/master/f/seccomp.json and as on `fedora:latest`

[2019-05-05 11:54] rhatdan commented on #1568
Have you tried this on a newer kernel?  IE Do you see the same issue on Fedora?

[2019-05-05 11:59] 42wim commented on #1568
The tests in my previous comment: https://github.com/containers/buildah/issues/1568#issuecomment-488855898 are all running in docker containers on the same centos 7 host (3.10.0-862.14.4.el7.x86_64) and only the centos:latest container fails.

So this doesn't look like a kernel issue as they all are using the same kernel.

But I also ran on a 5.0.5-1.el7.elrepo.x86_64 kernel, with the same issues

[2019-05-05 12:01] rhatdan commented on #1568
Ok so this is container image specific, most likely not a Buildah bug.  Has any Centos image ever worked?

[2019-05-05 12:40] 42wim commented on #1568
Yes, we're using buildah (in a centos docker container) in our Jenkins pipeline (since October last year), mostly building centos images.

They all worked fine and all them still do except the ones with a npm command in it.
Without the `--isolation chroot` it still builds, but this doesn't work inside a docker container.

[2019-05-05 14:07] 42wim commented on #1568
Progress!
Thinking about your seccomp remark I tried with ` buildah bud --security-opt seccomp=unconfined --isolation chroot .` and the image works again!

[2019-05-05 19:15] rhatdan commented on #1568
Grab this seccomp.json file and see replace the one in /etc/share/containers/seccomp.json
https://github.com/containers/libpod/blob/master/seccomp.json

[2019-05-05 19:25] 42wim commented on #1568
Still fails with that seccomp.json

[2019-05-06 14:36] rhatdan commented on #1568
Strange.  I will have to try this here.

grep statx /usr/share/containers/seccomp.json

[2019-05-06 15:11] 42wim commented on #1568
I did an strace again on the build with `--security-opt seccomp=unconfined` and the syscall_332 gives a -1
* 1022  syscall_332(0xffffff9c, 0x7ffe29ae6848, 0, 0xfff, 0x7ffe29ae6420, 0x88) = **-1 (errno 38)**

While on the failing build the syscall_332 passes....
* 1527  syscall_332(0xffffff9c, 0x7ffc7dce0618, 0, 0xfff, 0x7ffc7dce01f0, 0x88) = **0**

For both builds makes *no* difference if statx is

[2019-05-07 15:26] jkryl commented on #1557
Hi @TomSweeneyRedHat, I see that 1.8.1 has been tagged. In case I don't want to build buildah from source (I'm sorry to be lazy), where can I get a buildah binary from? Waiting for new ubuntu package may take too long time. I suppose that first it will appear in fedora buildah package. Correct? Or is there some kind of semi-official container image with latest buildah? thanks

[2019-05-07 15:42] TomSweeneyRedHat commented on #1557
Hey @jkryl
Actually 1.8.2 has been tagged too.  I thought @rhatdan was going to spin up a Fedora variant for that.  But I'm thinking he may have got caught up with summit work and hasn't had a change to yet.  We skipped 1.8.1 as we followed tagged release with 1.8.2 a day later before we'd a change to build the kit.

If by chance you can play with a container image, you could try `podman pull quay

[2019-05-08 15:17] QiWang19 commented on #1329
Does it help to use buildah login to the different registries before starting the build?
Do I need to reopen this issue @TomSweeneyRedHat  @rhatdan  ?

[2019-05-08 17:08] ohadlevy opened #1578 "hang during copy"
When trying to build, using a multi-stage build, podman/buildah just hangs during the command
[code]

**Steps to reproduce the issue:**
1. checkout https://github.com/ohadlevy/foreman/tree/containers
2. podman build .
3.

**Describe the results you received:**
podman hangs

**Describe the results you expected:**
that it would work ;)

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

[2019-05-08 17:52] TomSweeneyRedHat commented on #1578
@ohadlevy thanks for the issue report, I'm giving it a quick test now.

[2019-05-08 18:07] TomSweeneyRedHat commented on #1578
OK, I did `git clone https://github.com/ohadlevy/foreman/tree/containers` and it didn't pull entrypoint.sh or Dockerfile.  Looks like it got most everything else.  weird.

[2019-05-08 18:09] TomSweeneyRedHat commented on #1572
Closing as this was fixed in #1573.  Thanks @danmack !

[2019-05-08 18:09] #1572 closed

[2019-05-08 18:10] TomSweeneyRedHat commented on #1574
Closing as this was fixed in #1575, Thanks @danmack !

[2019-05-08 18:10] #1574 closed

[2019-05-08 18:12] TomSweeneyRedHat commented on #1578
I've a suspicion this and #1546 are related.

[2019-05-08 18:13] TomSweeneyRedHat commented on #1546
I've a suspicion this and #1578 are related.

[2019-05-08 18:17] ohadlevy commented on #1578
Make sure you pulled the containers branch? Thanks!

On Wed, May 8, 2019, 14:07 Tom Sweeney <notifications@github.com> wrote:

[2019-05-08 18:31] TomSweeneyRedHat commented on #1578
I think I did, I cut/pasted my clone command in the prior reply.  I ran into what appear to be non-related errors with python and/or the foreman build.  if you've thoughts on how to get around that, I'd be happy to hear them.  I've got to log for a bit,will be back online later.

Also if you've the time, if you could clone, make and install podman from upstream and try that, it would be a good dat

[2019-05-08 19:39] ohadlevy commented on #1578
thanks, you've got further than what I got with podman, are there nightly rpm builds or should i install from source? thanks.

[2019-05-08 20:42] TomSweeneyRedHat commented on #1578
The closest we have is:  https://copr.fedorainfracloud.org/coprs/baude/Upstream_CRIO_Family/.  I've not tried it myself, got the pointer from @baude.  Other than that it's clone time.

[2019-05-08 21:30] EricHripko opened #1581 "SHELL instruction isn't applied at image build time"
**Description**

**Steps to reproduce the issue:**
1. Use the following `Dockerfile`
[code]
2. Build an image `buildah bud --format=docker .`

**Describe the results you received:**
Image build succeeds. We can, therefore, conclude that shell wasn't actually changed.
[code]

**Describe the results you expected:**
Expected `buildah` to attempt to use the `SHELL` defined and, as a result, fail to bu

[2019-05-08 21:34] EricHripko commented on #1581
[code]
Seems like `buildah` is aware that there's a shell change, but isn't utilising it.

[2019-05-08 21:53] bochecha opened #1582 "buildah doesn't respect .dockerignore for folders"
**Description**

It does not seem to be possible to exclude directories (and their content) in a `.dockerignore` file.

Excluding files works just fine though.

**Steps to reproduce the issue:**

1.  Create the following source tree:
[code]

2. Write the following `Dockerfile`:
[code]
    /folder1/
    /folder2
    folder3/
    folder4
    /file1
    file2
    /folder5/file3
[code]
    $ podman bu

[2019-05-08 21:58] bochecha commented on #1582
A workaround is to use e.g `/folder1/**` instead of `/folder1/`.

[2019-05-08 22:10] EricHripko commented on #1581
I've tracked down the issue to the `if` condition in [StageExecutor.Run](https://github.com/containers/buildah/blob/master/imagebuildah/build.go#L591). I've managed to resolve the issue by modifying the code in the following way:
[code]
This functionality is only enabled when `--format=docker` is specified. In my tests this seems to have worked both when `SHELL` was specified and omitted (with Doc

[2019-05-08 22:55] TomSweeneyRedHat commented on #1581
@EricHripko thanks for the issue.  PR's are always welcome!

[2019-05-08 22:56] TomSweeneyRedHat commented on #1582
@bochecha thanks for the issue report.
@QiWang19 PTAL

[2019-05-08 23:14] TomSweeneyRedHat commented on #1546
@msmigiel FWIW, I tried to test this today, but every time I ran your Dockerfile my VM ran out of disk space.  I'll see if I can create a Dockerfile that's less disk intensive tomorrow.

[2019-05-09 11:28] bernardomig opened #1584 "buildah does not respect BUILDAH_ISOLATION for run command"
**Description**

The `buildah run` command ignores the BUILDAH_ISOLATION flag. This causes it to fail in ubuntu in a rootless environment (related to #1498).

This is expected to be related to how the run command handles setting the isolation option in `cmd/buildah/run.go`:

[code]

Because the `builder.Isolation` differs from ubuntu (set to `IsolationOCI`) and fedora/OpenSuse/centos (set to `Isol

[2019-05-09 13:24] QiWang19 commented on #1582
I think this bug was solved in this patch #1478

[2019-05-09 13:56] ohadlevy commented on #1578
I've updated to git based version and rerun - similar issue.. I have no idea how to reproduce the issue you had above.

[code]

whats the right way to debug the copy process? thanks!

[2019-05-09 15:43] TomSweeneyRedHat commented on #1584
@bernardomig Thanks for the issue and heads up.  We'll take a look at it.

[2019-05-09 17:39] TomSweeneyRedHat commented on #1578
@ohadlevy The only real debugging we have is the `--debug` option which can be used immediately after the word `buildah` in any buildah command.  i.e. `buildah --debug bud ...`   Other than that, it's a matter of running through the code, adding further debug statements as necessary, and running down the issue.
Just to verify, were you running this as a root or non-root user?  If a non-root user,

[2019-05-09 18:50] nalind commented on #1578
I think this is #1583.

[2019-05-09 21:04] maxmeyer commented on #765
@jamescassell Sounds good. Thanks a lot!

So pushing an image via HTTP proxy to an external registry is still not possible, correct? It would be helpful to have this as well; otherwise I cannot push images to hub.docker.com.

[2019-05-09 21:17] vbashyamus commented on #1546
@TomSweeneyRedHat Based on the comments in #1578 is our issue because of #1583

[2019-05-09 21:45] jamescassell commented on #765
I expect that it will work today with `http_proxy` and `https_proxy` environment variables, but haven't actually tested pushing. Pulling definitely works thru a proxy.

[2019-05-10 11:50] TomSweeneyRedHat commented on #1546
@vbashyamus definite maybe.  I'm hopeful, but as I've not been able to recreate your issue due to unrelated system problems, I can not say for sure.  But my fingers are crossed.

[2019-05-10 20:25] undecaf commented on #1530
Unfortunately not yet solved in the version I am using: buildah/bionic 1.9.0-1\~dev\~ubuntu18.04\~ppa1 amd64

[2019-05-10 20:31] #1582 closed

[2019-05-10 21:33] rhatdan commented on #1568
@pcmoore Any ideas on this?

[2019-05-10 21:37] rhatdan commented on #1568
@weirdwiz PTAL

[2019-05-10 21:50] rhatdan commented on #765
Since we believe this is fixed, I am going to close the issue, Reopen if I am mistaken.

[2019-05-10 21:50] #765 closed

[2019-05-11 01:32] marshallford opened #1589 "invalid tar header: unknown"
GKE cluster (`1.12.7-gke.10`) using the node image `cos_containerd` is failing to run containers built with buildah and pushed to GCR.

[code]

[code]

**Steps to reproduce the issue:**
1. Build an image using the Dockerfile above with buildah
2. Push to GCR (or maybe any other container registry?)
3. `kubectl apply -f test.yaml` on k8s cluster
4. Use `kubectl describe` to view warning event

**De

[2019-05-11 11:56] pcmoore commented on #1568
From what I can tell it looks like statx(...) is allowed by the seccomp filter so it makes me wonder if there is another problem somewhere. What is the host system running distribution wise? What version of libseccomp is on the host (NOTE: libseccomp v2.4.1 is current).

[2019-05-11 12:02] rhatdan commented on #1557
Fedora 1.8.2 is built and in updates testing.

[2019-05-11 12:34] 42wim commented on #1568
@pcmoore the host doesn't seem to matter you should be able to reproduce this by just running docker as described in https://github.com/containers/buildah/issues/1568#issuecomment-488855898

Originally tested on a centos 7.5 and centos 7.6 host

I just spun up a ubuntu 18.04 LTS on digitalocean and ran the same commands, with the same issue.
The complete logfile can be found here https://gist.gith

[2019-05-11 15:52] pcmoore commented on #1568
Okay, I just wanted to make sure the host's libseccomp filter wasn't the issue. Looking closer at the log it appears that this is just the libseccomp filter for buildah and not the entire container that is the problem, yes?

Assuming that is the case I suspect the problem is the old version of libseccomp that ships in Centos. The libseccomp v2.3.x stream has a number of bugs and is no longer suppo

[2019-05-11 17:27] TomSweeneyRedHat commented on #1546
@msmigiel if you've the time and patience, can I ask you to try a couple of things for me.

I used this Dockerfile as the last line from yours was filling up the disk on my small VM's and the error you were running into was in the next to last line.

[code]

and used this command:
[code]
Which worked for me on the latest Buildah from upstream, but failed for buildah v1.8.2 and earlier.  Also if I

[2019-05-11 19:07] 42wim commented on #1568
@pcmoore that was the solution!
I've made a centos rpm of 2.4.1 and the issue is fixed.

[2019-05-11 19:15] pcmoore commented on #1568
Glad to hear you got it working @42wim!  @rhatdan should be able to talk to the right people to get RH to update the package; that's out of my hands now.

[2019-05-12 09:56] rhatdan commented on #1568
@42wim Could you open a Bugzilla, on this issue on RHEL7 at bugzilla.redhat.com.  CC Me on this bug and reference this issue.

[2019-05-13 08:35] undecaf commented on #1530
@QiWang19 Could you please reopen this? buildah still behaves as described above. Thanks!

[2019-05-13 11:40] junaruga opened #1590 "Supporting building multi-platform images (podman buildx)"
**Description**

Supporting building multi-platform images (`podman buildx`)

**Detail**

This ticket is a request for feature, originally from https://github.com/containers/libpod/issues/3063 .

`docker buildx` [1][2] is to enable building and running multi-platform container images.
I would like to see that `podman` has like the feature.

[code]

RHEL 8 started supporting multi arch including AR

[2019-05-13 11:59] jkryl commented on #1557
I just tested new ubuntu package and I can confirm that the bug was fixed. Thanks!

[2019-05-13 11:59] #1557 closed

[2019-05-13 12:58] QiWang19 commented on #1530
@undecaf thanks. It's open already

[2019-05-13 15:11] msmigiel commented on #1546
Hi @TomSweeneyRedHat , I'm still getting file exists errors when I try, even with buildah 1.9:

[code]

However, the Fedora edits you suggest do work. If that is the case, does this mean something is wrong with Ubuntu based images or something is wrong with buildah?

[code]

[2019-05-13 15:46] marshallford commented on #1547
Very strange that podman doesn't have the issue. IIRC `buildah bud` == `podman build`. Can you try again with Buildah version `1.8.2` and also paste the output of `podman version` (specifically the version used when you submitted the issue).

[2019-05-13 15:56] marshallford commented on #1483
@vdemeester I've been working on something like this: https://github.com/marshallford/podman. The CI requirements you describe are quite similar to how I implemented a CircleCI pipeline.

I'm currently working on replacing the `fedora:30` base image with `alpine` and building podman and its dependencies from source (multi stage). As of late I have been trying to get `musl` to work when building `c

[2019-05-13 18:31] TomSweeneyRedHat commented on #1546
@msmigiel  thanks for the info.  I decided to try a brand new VM and I too am seeing the error now with v1.9-dev.  I'm not sure why I was not seeing it before.  I also tried replacing `websphere-liberty:webProfile7` wiith `ubuntu` and that also completed without an issue, just like the fedora test.  If you've time could you try just ubuntu too and see if that works for you?

I don't know much abou

[2019-05-13 19:03] msmigiel commented on #1546
Hi @TomSweeneyRedHat - Liberty is an application server for J2EE based programs, similar to Weblogic or Jboss. Liberty is similar to IBM's own Websphere but smaller and easier to deploy. I work in testing a J2EE based application that runs on it. I don't know who maintains the Liberty Docker image but I'll ask around and see if there is a reason why it is not on the most recent Ubuntu LTS.

When I

[2019-05-13 20:32] vtereso opened #1592 "buildah bud fails on RUN - go build"
**Description**

Using the following Dockerfile, I am unable to get successfully run the buildah bud command:
[code]

The resulting log is:
[code]
I have gotten Kaniko to build this repository. Curious if this issue is regarding some flags I have no set properly to the buildah command. I have tried setting the `$BUILDAH_ISOLATION` env and the corresponding `--isolation` flag (saw on another issue

[2019-05-13 21:06] undecaf commented on #1530
I am sorry for the mess, I was mistaken, this is no longer a Buildah bug: `buildah bud .` yields the correct result:
[code]
whereas `podman build .` still gives the wrong result (Podman 1.3.0-1\~dev\~ubuntu18.04\~ppa20):
[code]
I did not test Buildah in the first place because I thought that `podman build` uses the installed Buildah instance, but apparently it does not.
Closing this one and openin

[2019-05-13 21:06] #1530 closed

[2019-05-14 00:55] davemulford commented on #1547
Here is my `podman version`.

[code]

I will look into getting the Buildah version you mentioned.  It looks like the latest package version available in Fedora 29 is `buildah-1.7-3.git873f001`, so I may have to try running from one of the release packages here on GitHub?

[2019-05-14 03:08] marshallford commented on #1547
@davemulford at least temporarily yes.

[2019-05-14 11:16] rhatdan commented on #1530
Yes podman build is a vendored version of buildah, meaning it pulls in an older version of buildah code base and compiles it into podman.  You can use podman info | grep -i buildah to get the version of buildah used.

[2019-05-14 11:39] rhatdan commented on #1547
buildah 1.8.2 is in updatest testing
podman-1.2.0-2.git3bd528e.fc29          Should be released.

dnf -y update --enablerepo buildah podman

[2019-05-14 11:55] vrothberg commented on #1592
Hi @vtereso, thanks for taking the time to open the issue. While we are having a look at it, would you mind adding the requested data to the issue template (`Output of ...` etc.)? It could help understanding and tracking down the issue.

[2019-05-14 12:09] vrothberg commented on #1592
My suspicion is that Kaniko sets $HOME.

[2019-05-14 13:20] vtereso commented on #1592
These outputs are to be filled out from within the `quay.io/openshift-pipeline/buildah` container?

[2019-05-14 13:22] vtereso commented on #1592
I don't understand what segment of the command fails to have `$HOME` because the alpine, kaniko, buildah, etc. all have `$HOME` specified so my assumption was that some layers are buildah creates don't have these env so it fails.

[2019-05-14 13:33] vrothberg commented on #1592
Ideally both, the one used to build the image and the version inside the image.

I concur. Even setting via --env does not change anything.

[2019-05-14 14:01] vrothberg commented on #1592
I could trim it down a bit more:

`quay.io/openshift-pipeline/buildah` and all other images (as previously mentioned) have the $HOME set. When running buildah inside the container, $HOME is not set anymore. That can easily be reproduced by using a simple Dockerfile such as:
[code]

@TomSweeneyRedHat @rhatdan @nalind, any suspicion?

[2019-05-14 14:04] vrothberg commented on #1592
Odd side note:
[code]

[2019-05-14 17:43] TomSweeneyRedHat commented on #1592
@vtereso I'm still a little confused.  Can you add the exact Bulidah commands that you used to run into this error for your original log output please?    I don't expect `buildah run` to work for you if for no other reason the ENTRYPOINT is ignored by the `bulidah run` command.  However, Podman run should work.

FWIW, I did after cloning your repo
[code]

That failed like yours did.  As @vrothberg

[2019-05-14 18:01] vtereso commented on #1592
This is the problem that I am running into. I see that adding an ENV within the Dockerfile seems to fix things, and although that isn't optimal, it gets me over this hurdle.

[2019-05-14 18:06] vtereso commented on #1592
I took down my environment because I was using the same RHEL VM to run Minishift/OKD (it can only handle so much). Give me a bit and I will update the thread to properly reply.

[2019-05-14 18:10] TomSweeneyRedHat commented on #1592
Thanks @vtereso .

Please do include any buildah/podman commands that you use along with the output as you've been doing.  It's hard to guess what's what otherwise.  For your latest failure, I'm not seeing a ENV HOME in the output, although ideally, you shouldn't need to specify that, it looks like it's required at the moment.

No thoughts at the moment, I'm just playing and looking at different s

[2019-05-14 20:38] nalind commented on #1592
`runc` sets `$HOME` if the configuration it receives doesn't include a value, but we currently don't when we're using `chroot` isolation.  Fixing this probably involves extending `pkg/chrootuser` to look up home directory locations, and if the spec doesn't include a value for `HOME`, having `chroot` set it to the value it finds, or `/` if no value is found.

[2019-05-14 21:28] davemulford commented on #1547
Thanks @rhatdan and @marshallford. Running with the latest version from GitHub fixed the issue for me.

[code]

I wasn't able to try with Buildah 1.8.2 as I couldn't get the release download to build.

[2019-05-14 21:36] TomSweeneyRedHat commented on #1547
@davemulford I'm going to close this issue given the latest/greatest is working for you.  Please feel free to reopen if you feel otherwise or spin up another issue as appropriate.

[2019-05-14 22:54] TomSweeneyRedHat commented on #1592
Per usual, @nalind is spot on.  I just tried:

[code]
and it seemed to work for me.  @vtereso can you try adding `--isolation=oci` to your build command and see how things go for you?

@nalind I'll take a look at changing chroot tomorrow, holler if  I shouldn't.

[2019-05-15 06:50] vrothberg commented on #1592
Right, @nalind nailed it.

[code]

It's really just $HOME, all other variables in the spec are properly set.

[2019-05-15 10:46] vbatts commented on #1592
The op is using chroot isolation due to being inside a container already.

On Wed, May 15, 2019, 02:50 Valentin Rothberg <notifications@github.com>
wrote:

[2019-05-15 12:11] vtereso commented on #1592
@TomSweeneyRedHat In my last response I provided the $HOME variable as seen within Step 3, but that did not resolve the issue related to the `Run ... go build` layer. Setting the isolation flag (`--isolation=oci`) did fix things 😄. Was almost hoping there was an error because I fiddled with most all the `buildah bud` flags, but seemed to have missed that one. @vbatts Can you explain why isolation

[2019-05-15 12:51] vbatts commented on #1592
the image you're running, is running buildah _inside_ the container.
https://github.com/containers/buildah/blob/master/buildahimage/stable/Dockerfile#L27

[2019-05-15 13:04] davemulford commented on #1547
Thanks @TomSweeneyRedHat. That sounds fine!

[2019-05-15 13:04] #1547 closed

[2019-05-15 13:08] vtereso commented on #1592
@vbatts I guess my question is more about the differences in isolation levels and what that entails since I am not familiarized. IIUC, the `buildah` image is by definition always a container and if isolation defaults to `chroot`, at least this use case, it will error?

[2019-05-15 14:09] TomSweeneyRedHat commented on #1592
I'll let @vbatts or @nalind talk about the differences in levels as I'm not very well versed.  However, I'm working on putting together a fix so that $HOME will be defined when using chrooot isolation and that should hopefully cure the problem.

[2019-05-15 19:55] #1569 closed

[2019-05-17 11:55] silviot opened #1597 "Support mounting directories with a `:` (colon) in their path"
**Description**

Currently [there is no way to mount a directory with a colon in its name (e.g. `/tmp/aa:bb`) neither as source nor destination.
[This is the code that parses the mounts](https://github.com/containers/buildah/blob/59da11d4b4df6c9b51d06fc804f7a2e46be6c700/pkg/parse/parse.go#L154).

**Steps to reproduce the issue:**
Try to mount a directory with a colon in its name.
[code]

**Suggest

[2019-05-17 12:54] jkryl opened #1598 "COPY in Dockerfile fails on a symlink"
I have a problem when using Dockerfile to build an image.  It looks as if symlinks in COPY target were not processed properly. I get the following error message:

[code]
The situation on disk looks as follows. `node_modules/.bin` contains symlinks which are pointing to executable files inside node modules, so the target is something like `../npm-module/bin/cmd.js`. `docker build` works fine, but b

[2019-05-17 14:21] TomSweeneyRedHat commented on #1597
@silviot thanks for the issue.  We'd a similar problem with envvars yesterday in Podman, this one might be a little bit more entertaining as we allow for the format `host-dir:ctr-dir[:option]`.   Should be fixable though, will take a look.

[2019-05-17 15:01] TomSweeneyRedHat commented on #1598
Thanks for the issue @jkryl , will take a look

[2019-05-17 17:15] huapox opened #1599 "Release with binary in github please."
**Release with binary in github please.**

[2019-05-17 17:27] TomSweeneyRedHat commented on #1599
@huapox I'm not 100% sure what you're asking for.  Can you give me a pointer to a similar binary or a bit more explanation?

[2019-05-17 17:48] rhatdan commented on #1597
I am not sure how fixable this is.  Does Docker support this?

[2019-05-17 18:23] rhatdan commented on #1599
The binaries are available as containers on quay.io/buildah

[2019-05-17 18:48] TomSweeneyRedHat commented on #1599
Yes, if the quay.io container image is helpful, more info here: https://github.com/containers/buildah/tree/master/buildahimage

[2019-05-17 20:08] #1584 closed

[2019-05-18 03:36] huapox commented on #1599
I'm just try to use buildah in container for Jenkins-CI, and got help by:
https://github.com/buildah/buildah

buildah satisfied my needs, thx. @rhatdan @TomSweeneyRedHat

[2019-05-18 03:36] #1599 closed

[2019-05-18 11:39] EricHripko commented on #1556
I had a closer look. It looks like the culprit surprisingly is the version of go. On `e9184eaac6615cd3c20ed5bbdc44e12c2d5f5f56` commit:
- I can reproduce the issue with go1.10.4 (same version as in the issue reported)
- I cannot reproduce the issue with go1.12.4 (version I used for dev builds)

[2019-05-18 11:50] rhatdan commented on #1556
So is it fixed in the latest versions we have built for Ubuntu?

[2019-05-18 12:12] EricHripko commented on #1556
I am already on the latest version available (it's the same one as the issue was reported on). I don't see any newer versions in the [Project Atomic PPA](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa?field.series_filter=xenial).
[code]

[2019-05-18 12:24] rhatdan commented on #1556
Well we should be at 1.8.2 for this and hopefully that is built with newer versions of the go compiler.

@lsm5 @jnovy PTAL

[2019-05-18 15:01] EricHripko commented on #1556
I reproduced this with the following small program:
[code]

[code]

This is a behaviour change in [go1.11](https://github.com/golang/go/commit/7bf631e1fc55839a6bff404a91597326e1addc10#diff-b30ffd1cf7612ccebac97fced83d5106) described in https://github.com/golang/go/issues/24345.

My suggestion on how to address this:
- Specify that version 1.11 or higher is required here: https://github.com/contain

[2019-05-18 16:31] rhatdan commented on #1556
SGTM

[2019-05-18 16:54] epruesse opened #1600 "Build fails on Centos / older kernel"
While building skopeo for conda-forge, the 0.1.36 pulling in the newest buildah fails with

[code]

(See https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=36049&view=logs&jobId=1bf226d3-0e2f-52d8-fa93-7d9e633347b3)

Since `unshare.c` does not actually use the `MFG_HUGE` defines, it should in theory suffice to `#include <sys/mman.h>`?

[2019-05-18 17:50] rhatdan commented on #1600
Could you open a PR to fix this in Buildah.

[2019-05-19 09:12] jtudelag opened #1603 "Buildah buildah config --label misbehaviour when label contains a comma"
**Description**

When Building a container image and labelling it, if the label string contains a comma, the label is cut and not set properly in the image. This is a common scenario when setting the `run` label for example, and using multiples options for volume mounting, such as `rw,Z`.  But not only that, usually other labels such as `description` for example, contains large strings with commas

[2019-05-19 10:35] jtudelag commented on #1603
This seems to be fixed in master. Just build it from master, and I can't reproduce the issue:

[code]

[2019-05-19 10:37] jtudelag commented on #1603
Actually it seems to be fixed here: https://github.com/containers/buildah/pull/1467/files

[2019-05-19 11:08] #1603 closed

[2019-05-19 13:03] junaruga commented on #1590
I like to explain more context about this ticket.

## Why is this feature important for me now?

First, below announcement from Docker is April, 30, 2019. Just 20 days ago.
It's happening now.

As `docker buildx` is not stable and limited release for the edge version for now, but after it is stable at once, people recognize and notice how building a multi arch container on x86_64 is easy. Currentl

[2019-05-20 09:13] silviot commented on #1597
@rhatdan Docker supports it since version 1.13.0. For example to mount the directory `/tmp/aaa:bbb` on the host to `/cc:dd` in the container one could use something like this:
[code]

This is the commit that introduced support for this option type:
https://github.com/docker/cli/commit/3375ba2acd1176db7c2f2028f6b6910a52f6981f
And [this is the pull request that introduced the feature](https://github

[2019-05-20 11:00] rhatdan commented on #1590
If the community wants to work on this, then we would consider it.  Currently we don't have the resources or the priority to work on it.

[2019-05-20 11:19] junaruga commented on #1590
@rhatdan you mean "the community" in "the community wants to work on this" means multarch project?

[2019-05-20 11:40] rhatdan commented on #1597
If that does not work on Podman then that is an issue, but you were asking for

podman run -v /tmp/aa:bb:/cc:dd alpine sh
To work in the opening issue.

Does

docker run -v /tmp/aa:bb:/cc:dd alpine sh

Work?

[2019-05-20 11:46] rhatdan commented on #1590
Yes, we need contributors opening PR's to make this happen, it is not as high as other features in the priority list of the core maintainers.

[2019-05-20 11:52] silviot commented on #1597
@rhatdan My first example under "Steps to reproduce the issue" shows what a user would do after reading the documentation to mount directory `/tmp/aa:bb`. I'm not advocating to make that syntax work.

I think a good solution to this problem would be to support an additional option besides `-v` as docker does.

[code]
will not work, but the example I gave with `--mount` will. Here it is again:
[cod

[2019-05-20 12:02] rhatdan commented on #1597
[code]

Works now with Podman.

[2019-05-20 12:43] silviot commented on #1597
Please note I opened this ticket for a problem I had with buildah, and I never used podman: I'm currently using buildah to build containers that will run in a docker environment. I'm very happy about the features buildah offers over docker to build container images.
But I can't mount a directory with a colon in its path using buildah.

I understand now (I did not when I opened the ticket) that I c

[2019-05-20 12:45] TomSweeneyRedHat commented on #1603
@jtudelag thanks for the PR anyway, hope to see further contributions!

[2019-05-20 13:08] jtudelag commented on #1603
@TomSweeneyRedHat of course!! Actually that you mention it, It took me a while to set up my machine to build buildah...

The [CONTRIBUTING](https://github.com/containers/buildah/blob/master/CONTRIBUTING.md) doc has room for improvements IMHO. Sth similar to what [openshift/origin has](https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#openshift-development) would be great. I mean, a

[2019-05-20 19:01] TomSweeneyRedHat commented on #1598
@jkryl  I just ran I made it past that copy that you ran into an issue with.   It had an issue copying the local mayastor-grpc/proto file as I didn't have one.  Output below.  Can you try updating your sandbox and running make/make install again?  My Buildah was built on May 17, 3 or 4 days after yours and we'd a recent symlink fix that went in.  I'm hoping you just hadn't got it.

[code]

[2019-05-20 19:22] 42wim commented on #1568
Done

[2019-05-21 13:42] jkryl commented on #1598
Hi @TomSweeneyRedHat , I still have the problem even with following version of the buildah which was built on 20th May:
[code]
I'm not 100% sure it contains the latest bits but it appears it does according to the date. I will try to reproduce the problem with some easy setup so that you can use it when testing and share the details on this ticket. thanks.

[2019-05-21 14:32] jkryl commented on #1598
Hi Tom, so I was unable to reproduce the problem using a simple test environment with a symlink to target path. There must be something more to it. It seems easier to me to avoid having these symlinks in the docker image as I don't actually need them. Thanks for your time & help! I'm closing the issue. It can be reopened if someone else hits the same problem and is able to provide reproducible tes

[2019-05-21 14:32] #1598 closed

[2019-05-21 15:21] vbatts commented on #1523
@nalind we're seeing something like this in https://github.com/tektoncd/pipeline/issues/887

[2019-05-21 17:14] TomSweeneyRedHat commented on #1523
@vbatts or @afbjorklund was there by chance a reboot on the vm/machine?  We were pinged on IRC this morning by "radiofree" that after a reboot, his build didn't work with a similar error.  It looks like the intermediate containers had been stored in /tmp and were gone after the reboot.  However the underlying storage code and/or runc had issues as it expected to fin d the layers  there.

[2019-05-21 17:28] cmoulliard opened #1606 "Question: buildah push using k8s secret"
## Question

Does buildah supports to perform a `push` using a k8s secret mounted using a serviceaccount  to be auth with the registry ?

Example

- ServiceAccount
[code]

- Secret
[code]

Next, we create a Pod where the `serviceaccount` is used and where we will do a:
 `buildah bud` followed by `buildah push`

[2019-05-21 18:10] afbjorklund commented on #1523
The VM was newly created/booted, but it seemed flaky. It was supposed to use /var/lib/containers

[2019-05-21 18:15] afbjorklund commented on #1523
Upgraded minikube to use podman 1.3.1 now, so could try again and see if issue remains...

[code]

Think it was something temporary or with the old version, so going to close it... ?

[2019-05-21 20:50] #1523 closed

[2019-05-22 06:53] #1592 closed

[2019-05-22 07:17] rhatdan commented on #1606
What is the path to the secret file?

[2019-05-22 17:15] cmoulliard commented on #1606
I did a new test and it works as the secret is well mounted with the credentials to be used to login to docker

[2019-05-22 17:15] #1606 closed

[2019-05-22 20:46] EricHripko commented on #1581
Resolved by #1588.

[2019-05-22 20:46] #1581 closed

[2019-05-22 21:54] EricHripko commented on #1556
Looks like after #1607, version restrictions are no longer necessary.
I've put a PR for adding a test above, as discussed previously.

[2019-05-23 02:50] marshallford commented on #1589
Still facing this issue. I tried with podman `1.3.1` which uses vendored buildah `1.8.2` as well.

[2019-05-23 09:27] vrothberg commented on #1589
Hi @marshallford,

thanks a lot for opening the issue.

I can reproduce the error locally using the aforementioned Dockerfile:
[code]

... pushing it to a local registry, e.g., `localhost:5000/foo:bar`

... and then pulling it with containerd via `crictl -r /var/run/containerd/containerd.sock pull localhost:5000/foo:bar`

I was using containerd v1.2.4 from Fedora 30. However, I also tried with con

[2019-05-23 11:19] TomSweeneyRedHat commented on #1589
@QiWang19 can you take a look at this please?

[2019-05-23 13:59] marshallford commented on #1589
@vrothberg Thanks for the reply. Good thinking checking an older containerd version! For reference I also cannot reproduce on Docker `18.09.6`.

[2019-05-24 07:56] EricHripko commented on #1556
Resolved in #1608, closing.

[2019-05-24 07:56] #1556 closed

[2019-05-24 10:56] carroarmato0 opened #1609 "Building from git repo with dockerfile does not work"
**Description**

I want to build a container by passing an URL pointing to a git repository containing a dockerfile file.
This works fine with docker, but buildah is not able to find a 'FROM' statement -> "no FROM statement found"

**Steps to reproduce the issue:**
1. buildah build-using-dockerfile https://github.com/carroarmato0/Flasko.git
2. podman build https://github.com/carroarmato0/Flasko.gi

[2019-05-24 11:10] vrothberg commented on #1609
Hi @carroarmato0, thanks for opening the issue. I can confirm that there's an issue with git repositories. We'll have a look!

[2019-05-24 11:12] carroarmato0 commented on #1609
Thanks, cloning a repository and cd'ing in the directory for building works as a workaround

[2019-05-24 11:12] vrothberg commented on #1609
It seems that buildah is mistakenly downloading the html file instead of the raw one.

[2019-05-24 11:18] EricHripko opened #1610 "Multi-stage COPY: absolute symlinks resolved incorrectly"
**Description**
I have a `Dockerfile` that consists of two stages: builder and runtime. Builder installs an executable that is then symlinked to `/bin` (using absolute path). `buildah` fails to resolve this symlink.

**Steps to reproduce the issue:**
1. Create the following `Dockerfile`
[code]
2. Build an image: `buildah bud .`

**Describe the results you received:**
Image fails to build. See the

[2019-05-24 11:24] EricHripko commented on #1610
I've also reproduced this on `master`. The culprit seems to be [filepath.EvalSymlinks](https://github.com/containers/buildah/blob/master/add.go#L247).

`buildah` evaluates symlinks on the host filesystem - which works fine when doing `COPY` from host. This, however, breaks down when copying from another container.

[2019-05-24 11:25] vrothberg commented on #1609
https://github.com/containers/buildah/pull/1611 should fix the issue.

[2019-05-24 11:29] EricHripko commented on #1610
Unfortunately, I couldn't find a quick fix. `buildah` should do something akin to `docker` where it manually [resolves the symlinks and binds them to the root path](https://github.com/containerd/continuity/blob/master/fs/path.go#L230).

[2019-05-24 11:58] EricHripko commented on #1610
Made a quick-fix by modifying `imagebuildah/build.go` in the following way. It enabled me get past this error:
[code]
`fs` comes from `github.com/containerd/continuity/fs`. Would you accept this fix or is the dependency on `containerd` undersirable?

[2019-05-24 12:10] EricHripko commented on #1610
Round 2: found that there's lovely `securejoin` package already referenced by that file. This also lets me get past the error:
[code]
This seems like a good patch for this issue. Will you accept a PR for this?

[2019-05-24 14:17] #1609 closed

[2019-05-24 14:20] EricHripko opened #1613 "COPY fails with multiple files when destination folder doesn't exist"
**Description**

**Steps to reproduce the issue:**
1. Create two empty files: `touch file1 file2`
2. Create the following `Dockerfile`
[code]
3. Build an image: `buildah bud .`

**Describe the results you received:**
Image fails to build. See the log output below:
[code]

**Describe the results you expected:**
A successful build. See `docker build` output for comparison:
[code]

**Output of `rpm -

[2019-05-24 14:23] EricHripko commented on #1613
The problem is that folder doesn't get created by `Builder.Add` earlier, so [this condition](https://github.com/containers/buildah/blob/master/add.go#L142) fails.

I believe the fix here is the same as #1534. I will create a PR this Sunday (no time to finish it today).

[2019-05-24 14:25] EricHripko commented on #1613
Also, notably - this example doesn't fail on `1.8-dev` version of `buildah` from Apr 13. However, the issue can be triggered with a different example.

[2019-05-24 14:28] TomSweeneyRedHat commented on #1613
Thanks @EricHripko
You probably figured this out, but just in case, it seems to work if you use  `FROM alpine` rather than `FROM  scratch`.

[2019-05-24 14:30] TomSweeneyRedHat commented on #1610
Accept a patch from that @EricHripko ?  Always, and with a smile!
Thanks so much!

[2019-05-24 14:32] EricHripko commented on #1613
Yep, this is because `/bin` exists in `alpine` image. You can reproduce it on master if you do `COPY ... /my/bin` or to any other path that doesn't exist. `buildah` is supposed to create it - but doesn't (which leads to above-mentioned failures).

[2019-05-24 14:48] TomSweeneyRedHat commented on #1613
Oh crud, you're right.  I changed the Dockerfile to copy to /baddir instead on alpine and it fails that way too.  Doesn't help for the `FROM scratch` case, but for non-scratch images you can add "RUN mkdir /baddir` to get around it.

Should be fixed though regardless.

[2019-05-24 16:09] t3hmrman commented on #1469
I'd like to add that it is *really* confusing whether `buildah` is without *any* sort of root access or a "privileged" container. I can't seem to find a place that answers this concisely and completely and builds my intuition. Issues like [#1335](https://github.com/containers/buildah/issues/1335) kind of mirror my lack of understanding/frustration -- does `buildah` build containers without root pe

[2019-05-26 13:26] EricHripko commented on #1613
Investigated this further - it not related to #1534. It's an issue introduced in https://github.com/containers/buildah/commit/c0633e38da4134135d35d32b56194790ca8acecd#diff-65919b07714c5faa770fc0724c4ca886. `securejoin.SecureJoin` drops the trailing slash - which is what [Builder](https://github.com/containers/buildah/blob/master/add.go#L125) uses to determine if target is a folder or a file. I've

[2019-05-26 20:32] EricHripko opened #1616 "Tagging image with multiple tags is broken when all layers cached"
**Description**

**Steps to reproduce the issue:**
1. Take any `Dockerfile`
2. Build it with multiple tags: `buildah bud -t tag1 -t tag2 .`

**Describe the results you received:**
Only the first tag gets applied:
[code]

**Describe the results you expected:**
Both tags get applied. See the output for older `buildah` (Apr 13) for comparison:
[code]
And Docker:
[code]
**Output of `rpm -q buildah` or