[2017-01-31 18:41] nalind opened #1 "Reading non-ociv1 image configs is lossy"
Right now the tool assumes that image configurations can be decoded as OCI image-spec v1 Image objects.  If the source image is anything else, we lose information this way.

[2017-01-31 18:44] nalind opened #2 "Needs to support creating multiple layers"
Right now, we only generate a single additional layer that holds all of the difference between what we're doing and the source image.  We're not strictly limited to doing that, though, and it'd be useful to be able to break up a series of changes that are being made into multiple layers, so that the changes could at least conceivably be shared with other images that build off of the same base imag

[2017-01-31 18:46] nalind opened #3 "Needs a run command"
Ideally we'd have a `run` command that uses the image configuration to build a configuration that would tell `runc` to run a specified command inside of the container's root fs.

[2017-01-31 18:49] nalind opened #4 "Management of symlinks is messy"
We provide options for creating symbolic links to a container's root filesystem as a convenience, but we don't do anything to prevent the location of a particular link from being specified as a link location for multiple containers.  In the best case, that means we get EEXIST errors preventing mount operations from succeeding, and it's all downhill from there.  We really need to design out how thi

[2017-01-31 18:50] nalind opened #5 "Decide what "from" --mount should return"
Normally, "from" prints the new container's name, and "mount" prints the location of the container's root filesystem, which is pretty friendly for scripting.  If we tell "from" to also mount the container, though, printing both is not as friendly.

[2017-01-31 18:51] rhatdan commented on #4
Yes I think we should drop it.  Much better would be to provide a mount point for the container and then be able to manipulate the mount point?

[2017-02-01 19:30] nalind opened #6 "Refactor into a library"
Refactor the existing command line utility into something more reusable that the CLI can wrap instead.

[2017-02-01 19:37] nalind opened #7 "Maybe use openshift/imagebuilder"
Maybe use openshift/imagebuilder to handle parsing a dockerfile and letting it drive a multiple-step build process in the CLI.

[2017-02-01 19:39] nalind opened #8 "Needs a run-on-the-host command"
In addition to #3, in which we'd like to be able to run commands rooted in the container's root filesystem, we probably want a way to run an arbitrary command from outside as well.  Being able to perform shell-like substitution of an environment variable that points to the container's root would be useful.

[2017-02-01 19:42] rhatdan commented on #7
That would work, but we would need to figure out what API that would need.

[2017-02-07 15:51] mrunalp commented on #7
openshift/imagebuilder uses vendored docker code to parse the Dockerfile. See https://github.com/openshift/imagebuilder/blob/787a5489b8369bfdc9a7e2325a23999831e4367d/evaluator.go#L9 I think we can create an interface/API for frontends and support Dockerfile as one.

[2017-02-10 20:07] nalind commented on #6
Should be resolved in the current revision.

[2017-02-10 20:07] #6 closed

[2017-02-24 21:13] nalind commented on #1
We should be able to read `github.com/docker/docker/image.Image` configuration blobs now.  There's some information in manifests that decode as `github.com/containers/image/image.manifestSchema1` in images like kubernetes/pause where we don't have a config blob, and we might have to try fishing around in the manifest for them.

[2017-03-16 17:53] rhatdan opened #11 "We need man pages for each buildah command"

[2017-03-16 17:53] rhatdan opened #12 "Need command completions. Bash ones at least."

[2017-03-16 17:55] rhatdan opened #13 "README, should be a lot more verbose."
Need to explain how to use.
Short command explanations.
How to contribute...

[2017-03-16 17:56] rhatdan opened #14 "Need an example rpm specification. Want to be able to install this tool"

[2017-03-22 15:00] rhatdan opened #21 "I believe `buildah add CONTAINERID SOURCE DEST` should work."
This would be closer to the syntax of docker build

Rather then
buildah add CONTAINERID SOURCE --dest DEST

[2017-03-23 22:26] nalind commented on #3
We should have a reasonable approximation after #34.

[2017-03-23 22:26] nalind commented on #4
Should be closed by #26.

[2017-03-23 22:27] nalind commented on #7
I'm working on this.

[2017-03-23 22:34] nalind opened #35 "Builds without a base image don't work"
Should be fixed by https://github.com/containers/storage/pull/22, though.

[2017-03-24 12:34] rhatdan opened #36 "Lets add @rh-atomic-bot support so we can enforce tests pass before merging."
@jlebon @cgwalters How can we setup buildah to use rh-atomic-bot?

[2017-03-24 13:14] jlebon commented on #36
You can open PR against https://github.com/jlebon/redhat-ci as described in the README. Specify in the PR whether you just want automated PR testing, or if you also want the merge bot (i.e. the `r+` functionality).

[2017-03-24 17:11] jlebon commented on #36
Let's try this out in https://github.com/projectatomic/buildah/pull/37.

[2017-04-10 13:56] nalind commented on #7
Closing via #59.

[2017-04-10 13:56] #7 closed

[2017-04-12 10:06] fweimer opened #66 "Potential symlink/directory traversal issue in user ID extraction"
Commit b1bb73e01c9bf0b1b75e50a2d1947b14a8174eee (“ Teach "Run" to dig user IDs out of containers”) added the `fopenContainerFile` function. It does not correctly deal with symbolic links, which could point to something outside of the container root.

[2017-04-12 16:18] nalind commented on #66
Are you suggesting something like https://github.com/nalind/buildah-1/commit/97ca24a7b4cc2739edf8b6b12f1c87ab103a0caa?  What did we not catch with the (possibly over-restrictive) lstat-after-opening method?

[2017-04-12 19:00] nalind commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [(8) [Buildah] Add "dockah build-using-dockerfile" aka "buildah bud"](https://trello.com/c/AyBXqoRY/443-8-buildah-add-dockah-build-using-dockerfile-aka-buildah-bud)

[2017-04-12 19:40] nalind commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [(8) [Buildah] Add "dockah build-using-dockerfile" aka "buildah bud"](https://trello.com/c/AyBXqoRY/443-8-buildah-add-dockah-build-using-dockerfile-aka-buildah-bud)

[2017-04-15 05:27] #4 closed

[2017-04-18 20:44] nalind commented on #11
Fixed by #53.

[2017-04-18 20:44] #11 closed

[2017-04-19 05:15] gouyang opened #77 "buildah cannot work with truncated containerID"
[code]

mount container name or the long containerID works.
[code]

[2017-04-19 06:34] gouyang commented on #77
It looks all buildah cli could not work with the short containerID. Since `buildah containers` shows the short containerID, It should be supported.

[code]

[2017-04-19 12:17] nalind commented on #77
This _should_ just start working once we merge https://github.com/containers/storage/pull/6.

[2017-04-19 12:18] nalind commented on #14
Will be closed by #70.

[2017-04-19 12:29] rhatdan commented on #77
So this pull request was merged, now we need to update the vendor to buildah and we should be all set.

[2017-04-19 17:50] nalind commented on #77
That PR introduced a couple of bugs, but I think https://github.com/containers/storage/pull/35 and https://github.com/containers/storage/pull/36 fix them.

[2017-04-19 18:45] nalind commented on #35
Fixed by 53f12844b2f3672576842bc0c028ae0485447b3b.

[2017-04-19 18:45] #35 closed

[2017-04-19 18:46] nalind commented on #36
Looks good, closing.

[2017-04-19 18:46] #36 closed

[2017-04-20 07:22] gouyang opened #78 "buildah build-using-dockerfile not work"
[code]

[2017-04-20 14:22] nalind commented on #78
Yup, that's a known incompatibility with the latest version of runc (more specifically, the version of the runtime spec that it conforms to).  Now that we're not vendoring as much of docker, we should be able to pull in a newer version of the spec and the library that we use to generate info for it.  I'll note this issue in the PR for doing that, when we open it.

[2017-04-20 15:05] nalind commented on #77
Okay, this should be fixed by #79.

[2017-04-20 15:46] #77 closed

[2017-04-20 15:46] nalind commented on #78
Should be fixed by #79.

[2017-04-20 15:46] #78 closed

[2017-04-21 05:21] gouyang opened #80 "buildah build-using-dockerfile URL not work"
[code]

[2017-04-21 13:03] rhatdan commented on #21
This is fixed in the current code thanks.

[2017-04-21 13:03] #21 closed

[2017-04-21 13:13] rhatdan commented on #12
Fixed in current code.

[2017-04-21 13:13] #12 closed

[2017-04-21 13:15] rhatdan commented on #5
We are not printing the mount directory.  I actually believe we should remove the ability to automatically mount the image and force the user to use

```buildah mount CID /mnt```

[2017-04-21 13:15] rhatdan commented on #3
This is in current code.

[2017-04-21 13:15] #3 closed

[2017-04-21 13:16] rhatdan commented on #1
Is this issue still present?

[2017-04-21 13:16] rhatdan commented on #2
Now that we have buildah commit, is this enough?

[2017-04-21 13:17] rhatdan commented on #8
I believe we have this capability now.

[2017-04-21 13:17] #8 closed

[2017-04-21 13:18] rhatdan opened #82 "Need to a mechanism in buildah from to specify a --storage-opt for the new container image."
We want to be able to specify the MAX Size of the image.  To prevent people from accidentally pulling in images that are two large or getting screwed up with sparse files.

[2017-04-21 14:10] nalind commented on #80
If the dockerfile location is a remote URL, we don't do what we would if it was a file, which would be to assume that taking the filename off of the end would produce a useful default for the build context directory if one isn't explicitly specified.  `http` and `https` build contexts need to be a tarball of some kind, and it's unlikely that stripping off the final component of the URL and then at

[2017-04-21 14:22] nalind commented on #77
![](https://github.trello.services/images/mini-trello-icon.png) [(8) [Buildah] Add "dockah build-using-dockerfile" aka "buildah bud"](https://trello.com/c/AyBXqoRY/443-8-buildah-add-dockah-build-using-dockerfile-aka-buildah-bud)

[2017-04-21 14:22] nalind commented on #78
![](https://github.trello.services/images/mini-trello-icon.png) [(8) [Buildah] Add "dockah build-using-dockerfile" aka "buildah bud"](https://trello.com/c/AyBXqoRY/443-8-buildah-add-dockah-build-using-dockerfile-aka-buildah-bud)

[2017-04-21 14:22] nalind commented on #80
![](https://github.trello.services/images/mini-trello-icon.png) [(8) [Buildah] Add "dockah build-using-dockerfile" aka "buildah bud"](https://trello.com/c/AyBXqoRY/443-8-buildah-add-dockah-build-using-dockerfile-aka-buildah-bud)

[2017-04-24 13:52] nalind opened #85 "We should be able to output images in non-OCI formats"
We've always produced images that included OCI manifests and configuration data.  We should be able to also produce images in a format that can be consumed by dockerd, if only for the sake of being simpler to integrate into other tooling which has historically only produced images in that format.

[2017-04-24 16:21] TomSweeneyRedHat commented on #5
👍 the forcing of a mount thought fwiw.

[2017-04-24 17:27] rhatdan commented on #82
@TomSweeneyRedHat Could you look into this one.

[2017-04-26 08:25] gouyang commented on #80
`sudo ./buildah bud http://10.73.2.5/pub/Dockerfile.tar.gz` works,  but `sudo ./buildah bud  -f http://10.73.2.5/pub/Dockerfile.tar.gz` or `sudo ./buildah bud -f http://10.73.2.5/pub/Dockerfile` does not work.

@nalind Could you show me how `buildah bud -f URL` can work?

[2017-04-27 18:36] nalind commented on #66
@fweimer The patch with the fix I'm looking at had a conflict in it, so I've rebased it to https://github.com/nalind/buildah-1/commit/2c387528f2af7655d231a4989f67b21c90e1c385.  I'd appreciate any guidance you can offer.

[2017-04-28 20:19] fweimer commented on #66
@nalind, when this code is run, is the file system directory tree dead and inaccessible to unprivileged processes, or has concurrent modification of the tree to be expected?

[2017-05-01 15:00] nalind commented on #80
@gouyang If the dockerfile location is a remote URL (it can't be an archive), a context location has to be explicitly provided.  So your three examples would be
* ./buildah bud http://10.73.2.5/pub/Dockerfile.tar.gz
  Accepted if the context, which in this case is an archive, contains a Dockerfile.
* ./buildah bud -f http://10.73.2.5/pub/Dockerfile.tar.gz
  Rejected: the Dockerfile can't itself be

[2017-05-01 15:02] nalind commented on #66
The filesystem tree is mounted on the host, so modification is possible for users with the necessary privileges.

[2017-05-01 15:03] nalind commented on #5
Closing by way of #86.

[2017-05-01 15:03] #5 closed

[2017-05-01 15:06] nalind commented on #2
That doesn't really satisfy the case - if we commit a working container more than once, the layers we create for the new images each contain the full set of changes relative to the image that we started with, not the previous commit.

[2017-05-01 15:09] nalind commented on #1
We handle images that include config blobs (version 2, schema 2), but we still don't support digging around in (version 2, schema 1) images.

[2017-05-01 15:13] nalind opened #89 "Use github.com/pkg/errors to add context information to our errors"
Right now, our API wraps some errors that it receives in additional context information before handing them back to our callers, but we're not super-consistent about it.  Using the https://github.com/pkg/errors package's `Wrapf` function instead of `fmt.Errorf` would probably be more helpful for diagnosing problems.

[2017-05-03 09:02] fweimer commented on #66
@nalind, in this case, the code still has a time-of-check-time-of-use race condition because after symbolic link resolution, the file system tree could change and contain symbolic links again.

You either have to use `chroot` to restrict pathname lookups (no longer needs root in current Fedora), or reimplement kernel pathname lookup using `openat` and `O_PATH`.

[2017-05-05 09:08] gouyang commented on #80
@nalind I still could not make it work and don't know how it would work, all I want is an example for `buildah bud -f URL`.

[2017-05-07 22:35] jawnsy commented on #2
What if we do:

`buildah commit` (returns commit id `abcd1234`)

and then

`buildah from abcd1234`

Then we're a lot more explicit about the layers we're creating? It would also allow me to create a single unnamed image to re-use as the base image for two new images, for example (in the same way that Docker would reuse its internal cache subject to ??? magic rules of some sort).

[2017-05-07 22:38] jawnsy opened #94 "buildah does not report progress when pulling images"
I thought `skopeo` needed to copy images from, e.g. DockerHub, and make them available before `buildah` runs, but it turns out that you can just: `buildah from centos` and it'll pull the image from DockerHub if needed. That's really great from a UX perspective, but it's hard to tell that's what is happening, since there's no progress indication.

Can we add some sort of status information (e.g. pu

[2017-05-07 22:44] jawnsy opened #95 "Should buildah-created containers be visible to runc or other tools?"
After starting a build container, I can see container info in `buildah containers`:

[code]

I wanted to inspect container metadata, so I tried using `skopeo inspect` and `runc list`, but the containers aren't visible to those tools, even after playing with `--root` parameters. I guess those tools aren't appropriate anyway, as these are containers, not images (yet).

[code]

Maybe some sort of `bu

[2017-05-08 17:17] nalind commented on #2
Yes, that would effectively be what we want, but the overhead of dumping out the layers can be severe, particularly if it has to be done N times.  Though you've reminded me that this would be more useful for something like the _build-using-dockerfile_ command than it would be in other cases.

[2017-05-08 17:56] nalind commented on #95
`runc` only knows about containers that are running, and is oblivious to management of their filesystems.  `skopeo` only cares about images, so until we commit an image, it won't see anything.  The container's storage is visible to _ocid_, but since the container's metadata doesn't look like the metadata of a container that `ocid` would have created, it ignores it.

Adding an option to `config` th

[2017-05-08 17:57] nalind commented on #94
Are we talking about logging the pulling of an image as a single log entry, or a full-blown progress bar?

[2017-05-08 17:59] rhatdan commented on #94
I think some code was added to container/image to make this work with skopeo?  @runcom

[2017-05-08 18:16] runcom commented on #94
Yes, just pass an `io.Writer` to the `copy.Image` call

[2017-05-08 18:30] TomSweeneyRedHat commented on #94
We probably want to document the io.Writer trick as an example somewhere.  Perhaps as part of the examples for the manpages?  I know today buildah took a 10+ minute nap on me before it finally responded and having some kind of progress indicator would have been nice.

[2017-05-08 18:59] rhatdan commented on #94
I think we should turn it on by default and than add a --quiet option to buildah from.

[2017-05-09 04:41] jawnsy commented on #95
How about:

[code]

(kind of modeled after `oc get pods` etc. If there's config that supports multiple values, then create/delete commands might be useful too)

Also, should `buildah` have push/pull commands like Docker, or should we encourage the use of skopeo to do that? It seems reasonable to me that buildah support `pull` given that `buildah from` will implicitly pull images if needed, and if

[2017-05-09 14:44] nalind commented on #95
I'm not entirely sold on changing how the `config` command's argument parsing works again, but @rhatdan probably has stronger opinions on that.  The image name for `commit` is parsed as an image location, though at the moment I don't think it knows how to authenticate to a registry, if the specified location is in a registry.

[2017-05-09 14:46] nalind commented on #80
Using just the `-f` flag with a URL isn't expected to work.  A build context has to be specified if the Dockerfile is a remote URL.

[2017-05-09 14:49] nalind commented on #14
Closing by #70.

[2017-05-09 14:49] #14 closed

[2017-05-09 14:55] nalind opened #96 "Need to figure out how to authenticate to registries"
We need to be able to set the `DockerAuthConfig` in the `DestinationCtx` in the structure returned by the internal `getCopyOptions()` function, to support authenticating to registries.  We also need to be able to retrieve values to set there, presumably from the same locations that `skopeo` supports.

[2017-05-09 14:59] nalind opened #97 "build-using-dockerfile doesn't import the source image's configuration correctly"
@TomSweeneyRedHat noticed that `build-using-dockerfile` doesn't correctly import the configuration from the source image (the `RunConfig` that we pass in to the imagebuilder Builder is mostly empty), and is also lossy at saving some of the configuration settings which are set in the Dockerfile (we don't import everything from the Builder's ContainerConfig).  Fixing this will overlap a bit with #85

[2017-05-09 15:07] rhatdan commented on #80
@nalind Should it?

[2017-05-09 15:22] nalind commented on #80
@rhatdan I don't think it can unless we assume that the location that hosts the Dockerfile also supports something like webdav so that we can traverse the location without having to scrape through HTML representations of directory listings.  That's probably not a realistic assumption to make.

[2017-05-09 18:15] rhatdan commented on #95
How about
buildah inspect ctr1234

Which would output a json encoded structure, then we can add a --format command to allow someone to pick out which fields they want.

[2017-05-09 18:21] rhatdan commented on #85
Add --format [ oci, dockerv2 ]

[2017-05-09 18:22] rhatdan commented on #82
Already exists.

[2017-05-09 18:22] #82 closed

[2017-05-09 18:25] rhatdan commented on #80
If the directory is not specified then no build context is specified.  Translation COPY/ADD will fail if used.

buildah from -f https://people.redhat.com/Dockerfile
buildah from -f https://people.redhat.com/Dockerfile .

[2017-05-09 18:29] #13 closed

[2017-05-09 18:39] rhatdan commented on #2
We want to add a --rm flag,
image=$(buildah commit --rm abc123 [foobar]) # This will attempt to umount the container image if it was mounted, if it succeeds in saving the image but fails in removing the container, it should just report the failure with a hint to the user what to do.

Next step would be
ctr=$(buildah from $image)

[2017-05-09 18:41] rhatdan commented on #2
Eventually need a way to easily add a layer

buildah layer?

[2017-05-09 19:42] nalind commented on #97
![](https://github.trello.services/images/mini-trello-icon.png) [[buildah] Fix build-using-dockerfile's handling of image configurations](https://trello.com/c/nYY2wUAF/478-buildah-fix-build-using-dockerfile-s-handling-of-image-configurations)

[2017-05-09 19:48] nalind commented on #97
@TomSweeneyRedHat, if you've got that Dockerfile that demonstrated the bug for you, can you attach it here?  It (and any others) will make useful additions to the tests as part of the PR to fix this.  Thanks!

[2017-05-09 19:49] nalind commented on #95
![](https://github.trello.services/images/mini-trello-icon.png) [[buildah] Fix build-using-dockerfile's handling of image configurations](https://trello.com/c/nYY2wUAF/478-buildah-fix-build-using-dockerfile-s-handling-of-image-configurations)

[2017-05-09 19:54] nalind commented on #94
![](https://github.trello.services/images/mini-trello-icon.png) [[buildah] Report progress when pulling or committing images, like skopeo does](https://trello.com/c/vVLoq3On/479-buildah-report-progress-when-pulling-or-committing-images-like-skopeo-does)

[2017-05-09 19:55] nalind commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [[buildah] Fix potential symlink traversal problem when looking up numeric IDs for USER settings](https://trello.com/c/Go7pxsyV/480-buildah-fix-potential-symlink-traversal-problem-when-looking-up-numeric-ids-for-user-settings)

[2017-05-09 19:56] nalind commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [[buildah] Fix potential symlink traversal problem when looking up numeric IDs for USER settings](https://trello.com/c/Go7pxsyV/480-buildah-fix-potential-symlink-traversal-problem-when-looking-up-numeric-ids-for-user-settings)

[2017-05-09 23:31] TomSweeneyRedHat commented on #97
Thanks for the ping @nalind.  I've attempted to attach the Dockerfiles here on this response.  If that fails I created a repo on GitHub with them and a couple others at:  https://github.com/TomSweeneyRedHat/TomsDockerfiles.  The files of note are:  Dockerfile.HelloFromContainer, HelloFromContainer.py and you might also try Dockerfile.LsRoot.  The first ones display a "Hello World" type of message

[2017-05-10 13:00] #94 closed

[2017-05-10 18:47] nalind commented on #85
![](https://github.trello.services/images/mini-trello-icon.png) [Get buildah to support docker image format](https://trello.com/c/Bu0QQfjd/482-get-buildah-to-support-docker-image-format)

[2017-05-10 19:31] TomSweeneyRedHat opened #100 "missing carriage return in output before step 3 in 'buildah from'"
# buildah bud -t hellofromcontainer .
STEP 1: FROM python
Getting image source signatures
Copying blob
(removed a bunch of lines)
Storing signatures
STEP 2: ADD HelloFromContainer.py /
 6.76 KiB / 6.76 KiB [=========================================================]STEP 3: CMD ["python","./HelloFromContainer.py"]
STEP 4: COMMIT

While using HelloFromContainer.py and Dockerfile.HelloFromContainer lo

[2017-05-18 05:41] gouyang opened #104 "Delete container got error "identifier is not a layer""
Not sure how it occurred, it should be happened occasionally.

[code]

[2017-05-18 05:53] gouyang opened #105 "How to inspect an image or container"
`buildah config` can modify the configuration values which will be saved to an image, how to inspect these values from an image or a container?

[2017-05-18 06:10] gouyang opened #106 "Add buildah tag like Docker tag"
There is no way to tag an existing image to other name, how about to add a command `buildah tag` to do it?

[2017-05-18 06:18] gouyang opened #107 "Add buildah mounts to list all mounted container's filesystem"
After `buildah mount CONTAINER-NAME-OR-ID`, and do some other actions . It's inconvenient to get the mounted container's filesystem again unless to scroll up the screen or  do `buildah mount CONTAINER-NAME-OR-ID` again. Suggest to add `buildah mounts` to list container name and mounted filesystem.

[2017-05-18 08:35] gouyang opened #108 "buildah bud/from --registry usage"
What's the value of `--registry` should be, the help says `prefix to prepend to the image name in order to pull the image (default: "docker://")`. In cri-o project, look at crio.conf, there is key/value `default_transport = "docker://"`,  `docker://` is named as default_transport.

I think the registry means something like `docker.io` or `registry.access.redhat.com`. I given a test on it, but it f

[2017-05-18 13:45] rhatdan commented on #107
Should we just add the output to buildah containers?

[2017-05-18 14:53] TomSweeneyRedHat commented on #107
I think adding that output to buildah containers would be messy at best.  I'm not a fan of using the mount command as suggested as I wouldn't want to overload that command.  Had we talked about a "buildah inspect" command?  That feels like a better place for this functionality.  FWIW, here's the current output, the mount point is huge and would mess up the output from the buildah container command

[2017-05-18 17:44] nalind commented on #107
Could we output the list of mounted containers and their mountpoints when `mount` isn't given a container name?  It'd sort of parallel how the regular `mount` command works (but that only goes so far, since we don't accept a mount point or mount options).

[2017-05-18 20:16] nalind commented on #105
![](https://github.trello.services/images/mini-trello-icon.png) [(3) [buildah] Add a way to inspect working containers](https://trello.com/c/g5hLYG4M/501-3-buildah-add-a-way-to-inspect-working-containers)

[2017-05-18 20:20] nalind commented on #106
![](https://github.trello.services/images/mini-trello-icon.png) [(3) [buildah] Add a way to add names to images in local storage](https://trello.com/c/sbv2ARez/502-3-buildah-add-a-way-to-add-names-to-images-in-local-storage)

[2017-05-26 23:24] j00bar opened #123 "Error when running bash inside container"
[code]

[2017-05-28 16:43] rhatdan commented on #106
https://github.com/projectatomic/buildah/issues/110 satisfies this issue.

[2017-05-28 16:43] #106 closed

[2017-05-28 16:46] rhatdan commented on #97
@nalind @TomSweeneyRedHat Can we close this since we merged https://github.com/projectatomic/buildah/pull/116

[2017-05-28 16:49] rhatdan commented on #85
@nalind Doesn't https://github.com/projectatomic/buildah/pull/118 satisfy this issue?  Can we close?

[2017-05-30 18:00] nalind commented on #123
Which version of runc do you have installed (`runc --version`)?  We use it to handle `run` commands and `RUN` instructions in Dockerfiles, and the format of the configuration that we create for it had some not-backward-compatible changes land in the last few versions.  The version of the runtime spec that `buildah` currently uses is 1.0.0-rc5.

[2017-05-30 18:01] nalind commented on #97
We're now preserving everything that we can from the source image's manifest, so yes, I think we can close this.

[2017-05-30 18:01] #97 closed

[2017-05-30 18:02] nalind commented on #85
Yes, though for simplicity's sake we also accept `docker` (until we need to be more specific, like if we ever add support for v2s1) as a type.

[2017-05-30 18:02] #85 closed

[2017-05-30 20:02] j00bar commented on #123
I do not appear to have runc installed. It's not part of any of the install instructions. Should it be?

[2017-05-30 20:05] nalind commented on #123
Yeah, it should be.

[2017-05-30 20:19] j00bar commented on #123
[code]

So fc25 doesn't have the version of runc needed?

[2017-05-30 20:27] j00bar commented on #123
If this helps...

[code]

[2017-05-30 20:42] j00bar commented on #123
Okay, upgraded to rc5 and it worked. Leaving this open in the case you want to use it as an opportunity to version-check dependencies, make error message more informative, or add documentation of the requirement. Thanks!

[2017-06-02 10:34] rhatdan commented on #107
Since https://github.com/projectatomic/buildah/issues/124 was merged we can close this issue

[2017-06-02 10:34] #107 closed

[2017-06-02 16:26] #123 closed

[2017-06-02 19:44] nalind opened #132 "Need to support adding signatures when committing or pushing"
Similar in some ways to #96, we need to be able to add signatures to images when writing them.

[2017-06-02 19:45] nalind commented on #105
Okay, `buildah inspect` should be available now, per #109.

[2017-06-02 19:45] #105 closed

[2017-06-02 19:47] nalind commented on #1
As of #118, we should be handling v2 schema 1 images, so I think we can finally close this one.

[2017-06-02 19:47] #1 closed

[2017-06-05 02:42] gouyang commented on #105
@nalind `docker inspect` can inspect an image,  do you think `buildah inspect` also need to support inspecting an image?

[2017-06-05 06:37] gouyang opened #133 "buildah rmi tagged images also remove the original image"
After `buildah tag`, the tagged image ID is same with the original image ID, so remove the tagged image also remove the original image, which is not reasonable.

[2017-06-05 06:47] gouyang opened #134 "How buildah identify image in use"
The problem may occurred occasionally,  it suddenly cannot remove the image `redis`. It said `image is in use by a container`, but `buildah containers` shows no container is running.

[code]

[2017-06-07 01:41] gouyang commented on #105
Figure out how it work `./buildah inspect --type image`

[2017-06-07 08:03] gouyang opened #136 "Unable to tag the image ID to new image"
[code]

[2017-06-07 11:53] rhatdan commented on #136
Any idea how you created an image without a tag?  If you specify the untruncated name does it work?

[2017-06-07 23:42] gouyang commented on #136
`./buildah bud .`

[code]

[2017-06-08 13:28] rhatdan commented on #136
Nalin I am not sure if this is a problem in buildah bud not adding a default tag, or in the lookup function, which is looking for a tag with
docker.io//library/ID/latest

[2017-06-08 13:30] rhatdan commented on #136
@nalind This is something we need to fix ASAP though. since it can leave your database in a weird state.

Well maybe not that bad since
./buildah rmi ID

Does work.

[2017-06-08 16:47] nalind commented on #133
Can you elaborate on this?  I'm not sure exactly what you're doing that is triggering the behavior you're seeing.

[2017-06-08 23:10] gouyang commented on #133
In below testing, remove `busybox2`, `busybox` got removed also.

[code]

Docker just untagged the image.

[code]

[2017-06-12 01:23] gouyang commented on #136
It works now.

[code]

[2017-06-12 01:23] #136 closed

[2017-06-12 07:17] gouyang opened #142 "buildah from image ID not work"
[code]

[2017-06-14 13:43] nalind commented on #89
Closed by #125.

[2017-06-14 13:43] #89 closed

[2017-06-19 17:41] vrutkovs opened #151 "Dockerfile with VOLUME instruction fails to build"
buildah version 0.1 (image-spec 1.0.0-rc5, runtime-spec 1.0.0-rc5) from buildah-0.1.0-2.git597d2ab.fc26.x86_64

Dockerfile fails to build:
[code]
[code]

[2017-06-19 18:04] vrutkovs opened #152 "Volume in the created image has different permissions"
buildah version 0.1 (image-spec 1.0.0-rc5, runtime-spec 1.0.0-rc5) from buildah-0.1.0-2.git597d2ab.fc26.x86_64

Dockerfile:
[code]

Permissions in the image using docker build are `drwxr-xr-x`:
[code]

Buildah image has `drw-------`:
[code]

[2017-06-20 14:26] nalind commented on #133
Ah, I see.  We're not (currently, at least) doing things the prune/no-prune way, where "rmi" would remove a tag from an image, and only remove the image itself if after doing so, it had no tags.

[2017-06-22 10:07] jorgemoralespou opened #156 "Is buildah meant to be Linux only tool?"
Given that buildah provides a binary that helps you create containers, and that many developers would use different Operating Systems on their laptop, is buildah targeting to work on multiple architectures, or it's just meant to run on linux?

[2017-06-22 13:50] rhatdan commented on #156
We would be open to it running on any OS.  Pull requests accepted.

[2017-06-22 22:04] TomSweeneyRedHat commented on #96
Wrapped up my BZ's, going to start in on this.  If someone else has already, let me know and I'll grab something else.

[2017-06-23 10:10] rawlingsj opened #158 "can buildah run in a docker container?"
I'd like to use buildah inside a an OpenShift / Kubernetes pod.  So I'm testing buildah from inside a docker container however `buildah bud` and `buildah run` commands fail with:
[code]

[2017-06-23 12:12] rhatdan commented on #158
I think you should have /var/lib/containers/ volume mounted into the container which should work.  Since that storage would not be on a overlay file system then.  Right now you are building a container on top of a /var/lib/container/storage inside.

[2017-06-23 12:17] rhatdan commented on #134
@gouyang could you try the latest code and see if this is fixed or at least gives up more information with the updated error message.

[2017-06-23 12:23] rhatdan commented on #104
@gouyang Could you see if you could create this again with the current code.

[2017-06-23 12:38] rawlingsj commented on #158
Thanks @rhatdan that fixed it although I had to run the docker container as privileged for it to work.  Are there any plans or is it even possible to use buildah in a non privileged docker container?

[2017-06-23 12:43] cdrage opened #159 "Differences between buildah and containers/build?"
Take this as light criticism, but these are two very similar projects, what's the difference between using `buildah` and `acbuild` (https://github.com/containers/build) (which is also OCI compliant?). Both are written in Go and look to achieve the same goal :1st_place_medal:

[2017-06-23 12:48] rhatdan commented on #158
It could potentially run some workloads without requiring too much privilege,
You would need to add capability SYS_ADMIN since it is mounting shares.  It should be able to work with SELinux enforcing on it though.  @nalind WDYT

[2017-06-23 12:53] rhatdan commented on #159
We have not looked at acbuild.  Our goal was to take advantage of containers/storage and containers/image and share content with skopeo and cri-o.  Also to not only support Dockerfile format, but to allow users to simply pull an  image, mount it to a mount point write content into the mount point, and then commit the image.

ctr=($buildah from fedora)
mnt=($buildah mount $ctr)
dnf install --instal

[2017-06-23 12:56] rawlingsj commented on #158
My main use case is to build images with fabric8 / OpenShift.io using non privileged pods and also  push (using skopeo?) that image to external registries.

[2017-06-23 13:04] 14rcole commented on #133
Am I correct in saying that untagging an image is simply removing the name from the image?

[2017-06-23 13:20] rhatdan commented on #133
Removing the tag, yes.

[2017-06-23 13:55] rawlingsj commented on #158
FWIW these are the steps I took to test this incase it's helpful to others.  I have a Mac so decided to use minishift so I could mount the `/var/lib/containers/` dir.

I created a [Dockerfile](https://github.com/rawlingsj/buildah/blob/master/Dockerfile) which includes the example from the blog http://www.projectatomic.io/blog/2017/06/introducing-buildah/

[code]

[2017-06-23 14:01] rhatdan commented on #158
Could you see if this would work with a couple of tweeks.

docker run --cap-add=SYS_ADMIN  -v /var/lib/containers/:/var/lib/containers/:Z -ti test/buildah:dev bash

That if this works it proves that buildah would work with a more confined container, then privileged.

BTW
buildah run != docker run.

It is really equivalent of executing the RUN statement inside of a Dockerfile.   It will execute a t

[2017-06-23 14:15] rawlingsj commented on #158
Ah ok, so we'd still need to be able to perform buildah run.

docker run --cap-add=SYS_ADMIN -v /var/lib/containers/:/var/lib/containers/:Z -ti test/buildah:dev bash

Sure thing, so bud works and run fails:

buildah run hellofromcontainer-working-container
[code]

[2017-06-27 12:02] mariusgrigoriu commented on #158
The SYS_ADMIN capability is as good as root. http://forums.grsecurity.net/viewtopic.php?f=7&t=2522
Building container images without requiring root would be a benefit to those of us who want to build images in shared CI environments without single-use virtual machines.

[2017-06-27 14:31] TomasTomecek opened #166 "run command: argument parsing is fuzzy"
I want to invoke an inline shell script inside the container but unfortunately shell's options are being eaten by buildah:

[code]

[2017-06-27 14:44] TomasTomecek commented on #166
@nalind just suggested over IRC to do

[code]

which works just fine! Thank you!

[2017-06-27 14:44] #166 closed

[2017-06-27 17:11] jorgemoralespou commented on #156
I would if I knew how, but you decided to do it in a different language than Java or bash, which are the only ones I can barely write.

[2017-06-27 17:28] edsantiago opened #168 "Usability: include driver name in ErrNotSupported message"
Current behavior:

    # buildah from sdf
    ERRO[0000] driver not supported
    driver not supported

It took me a while to figure this out. A possibly more helpful message might be `storage driver "overlay" not supported`

[2017-06-27 20:41] edsantiago opened #169 "Spurious SEGVs in buildah commit"
This is on RHEL7 using devicemapper, so it may be an unsupported configuration.

    # container=$(buildah --storage-driver devicemapper from fedora)
    # while [ \! -s /tmp/buildah-crash.log ]; do buildah --storage-driver devicemapper commit $container containers-storage:myimage >/tmp/buildah-crash.log 2>&1;sleep 2;ls -l /tmp/buildah-crash.log;done
    [may take a while. Or may fail on third att

[2017-06-28 01:12] jberkus opened #171 "enable non-root operation"
It seems like it ought to be possible to allow buildah to work without root/sudo access.  This would enable using it in a lot of places other tools aren't available.

What would it take to enable non-root usage?

[2017-06-29 02:45] gouyang commented on #133
Tested with the latest code, the issue is fixed.
A minor problem is how about add a new line break to the output.

[code]

[2017-06-29 02:49] gouyang opened #175 "Could not get container name when remove an image which is in use"
[code]

[2017-06-29 06:08] gouyang commented on #134
Didn't see the problem in the latest code.  I actually don't know how it happened so I can't say it's fixed.
But we can close the issue at the time and reopen it if it happen again.

[2017-06-29 06:09] gouyang commented on #104
Didn't see the issue with the latest code in the last week.

[2017-06-29 08:30] rhatdan commented on #158
That article is comparing CAPABILITIES.  Not CAPABILITIES while in a container.  With things like SELinux further locking the processes down.  Namespaces/seccomp would provide some hurdles needed to break through as well.

That being said, I am not sure how easily someone can break out of the containment with SYS_ADMIN.  First thing would be to remount the kernel file systems to read/write and see

[2017-06-29 08:33] rhatdan commented on #171
The biggest problem would be mounting.  buildah mount requires SYS_ADMIN capabilities.  buildah RUN executes runc which runs a container and requires SYS_ADMIN also.

Usually UserNamespace might make some of this easier.   Usually installing rpm/dep requires SETUID/SETGID to lay down files with different UIDs.

[2017-06-29 08:35] rhatdan commented on #175
@14rcole PTAL

[2017-06-29 08:38] rhatdan commented on #169
@nalind @rhvgoyal Should we just drop devicemapper support altogether and wait for the lvm plugin?

[2017-06-29 08:39] #159 closed

[2017-06-29 08:40] rhatdan commented on #156
Probably easiest thing to do would be launch VMs with linux in them to build linux containers.

[2017-06-29 08:40] #156 closed

[2017-06-29 08:42] rhatdan commented on #151
Since this patch got merged this issue should be fixed.

[2017-06-29 08:42] #151 closed

[2017-06-29 08:43] rhatdan commented on #142
@nalind Didn't this one get fixed?

[2017-06-29 08:43] #134 closed

[2017-06-29 08:44] #133 closed

[2017-06-29 08:44] rhatdan commented on #108
@nalind Any comment on this one?

[2017-06-29 08:46] vrutkovs commented on #152
Closed by #154

[2017-06-29 08:46] #152 closed

[2017-06-29 08:50] rhatdan commented on #2
@nalind What do you think of the comment to add the --rm flag
Should we output the image name in such a way that a new container could be created with a buildah from?
image=$(buildah commit --rm abc123 [foobar])
 ctr=$(buildah from $image)

[2017-06-29 11:56] jorgemoralespou commented on #156
@rhatdan so, that means developers will always need to use Docker to build containers, even if on the "cloud platform" (e.g. OpenShift) we run containers with runc through CRI-O and we build them with buildah.

Thanks for the answer. I guess from a user/developer point of view, we don't need to look into buildah then.

[2017-06-29 12:39] rhatdan commented on #156
No,  You should be able to build a container through CRI-O/openshift.  Even in the docker case the user is using a VM to build it docker does not running natively on a MAC or windows (yet).

I think we should continue to discuss what you would need from buildah.

[2017-06-29 14:34] jorgemoralespou commented on #156
@rhatdan From a developer perspective, buildah needs to be a client tool that seamlessly build containers in Mac,Win and Linux.

I know that Docker uses a VM, but the client side of it works on mac, win and linux, hence whether the container builds in a VM or not, the experience for a user is transparent.

One of my "considerations" of us going cri-o, is the developer side of it. A developer creat

[2017-06-29 14:36] jorgemoralespou commented on #156
Also, does this mean that buildah is meant to build only linux containers? Or are also windows containers in the scope?

[2017-06-29 15:10] rhatdan commented on #156
Not something Linux engineers are working on, but if Windows engineers want to contribute, Patches welcome.  :^)

[2017-06-29 20:46] rhvgoyal commented on #169
@rhatdan, lvm support is not here yet. And even when it arrives it will take a while for it to stablize. devicemapper has been around for a while and still being actively used. So without lvm being ready as replacement, I don't think dropping devicemapper is a very good idea.

If there is an issue, I think we should fix that issue instead.

[2017-06-30 09:08] TomasTomecek opened #177 "add support to copying files from container"
Hi, I'm working on adding support for buildah in Ansible (Container): https://github.com/ansible/ansible/pull/26170

It seems like we may also need to copy files from container to host or another container. How difficult would it be to implement? Do you think that sufficient workaround could be to mount a directory instead?

[2017-06-30 12:16] rhatdan commented on #177
You could simple mount the directory, We are implementing most of the upstream docker cli in kpod, so this might be a solution as well.

kpod copy.

We have buildah copy, which copies into the container.

[2017-06-30 12:26] rhatdan commented on #177
mnt=$(builder mount CONTAINERID)
cp $mnt/PATHTOSRCE /PATHTODEST
buildah umount $mnt

[2017-06-30 12:49] rhatdan commented on #177
Wrote a quick blog on this.
http://danwalsh.livejournal.com/76656.html

[2017-06-30 17:42] TomasTomecek commented on #177
Dan, thanks for your comments. In the meantime I implemented via doing `cat` in the container and piping the output into file on host: https://github.com/ansible/ansible/pull/26170/files#diff-9119cb69870060cdff9c271b8c397222R115

[2017-06-30 17:49] #177 closed

[2017-06-30 18:11] jberkus commented on #171
Hmmm, that does sound hard.  You get the value of this if we can do it, though, yes?

I mean, IMHO, users don't really care about the daemon or not.  They *do* care about needing root, because in many virtual and/or automated build environments you don't have it.

[2017-07-03 08:19] TomasTomecek opened #178 "provide documentation how to use `--runtime-flag` of run command"
I literally have no idea what the flags are and how I should specify them. I went on and read source code which didn't help me really:

[code]

[2017-07-03 09:04] TomasTomecek opened #179 "add a way to disable PTY allocation"
One of the commands Ansible invokes on target system is `/bin/sh -c '/usr/bin/python && sleep 0'` which is used to determine whether `python` executable is present on the target. Unfortunately, if the pty is allocated, the REPL is invoked which causes the process to fail.

Would it be possible to add an option to disable PTY allocation? I am okay creating the patch myself: unfortunately I haven't

[2017-07-06 06:27] gouyang opened #180 "Use overlay2 as the default storage driver"
When I start crio daemon, I met an error:

[code]

By default, there is no `overlay` under `/var/lib/containers/storage`, but `buildah` is using `overlay` as the default storage-driver, so after run some `buildah` commands, I could meet the above error.

Of course I can specify `storage_driver` in crio.conf, but how about change the default value of `--storage-driver` to `overlay2` in `buildah`?

[2017-07-06 17:46] nalind commented on #179
In the `RunOptions` structure that we pass to `builder.Run()`, changing the `Terminal` field from its default of `buildah.DefaultTerminal` to `buildah.WithoutTerminal` should do it.  We'd need to wire that up to a boolean CLI flag or two in `cmd/buildah/run.go`.

[2017-07-06 17:53] nalind commented on #178
Runtime flags are global flags that we pass to the runtime command (specified with the `--runtime` flag, `runc` by default) when we use it to run a command in a container.  In other words, they're options we place in the arguments list for the runtime before the `run` command.  Flags my installed copy of `runc` recognizes include `--debug`, `--log`, and `--root`, among others.

[2017-07-06 21:36] TomasTomecek commented on #179
@nalind thanks for response; will try to open a PR tomorrow

[2017-07-07 10:17] rhatdan commented on #178
Perhaps we need to update the man page to clarify this.

[2017-07-10 19:22] #178 closed

[2017-07-12 14:13] clcollins opened #184 "Getting buildah commit docker-formatted images to local docker storage"
Apologies if I've overlooked something or (more likely) have a shaky understanding of the different formats, transports and storage locations.

Is there a way to get buildah-made, docker-formatted images (ie: buildah commit -f docker $container my_image) from buildah image storage to storage available for use by the docker daemon without pushing to a remote registry?

I am unclear on when to use b

[2017-07-12 17:40] rhatdan commented on #184
Does
`buildah push my_image `

Work?

[2017-07-12 18:40] clcollins commented on #184
Hi @rhatdan:

[code]
I would have thought that would work too.  The man page and --help output have destination as an optional parameter (or in brackets anyway).

So I tried a few variants with a destination image.

[code]
I'm not clear on how to reference the local docker storage on my laptop in the transport.  I tried a few variations, with different messages:

[code]
[code]
The last makes sense

[2017-07-12 19:09] nalind commented on #184
The `docker://` transport talks to registries.  You should have success using `docker-daemon:image-name:tag` as a destination, though.

[2017-07-12 19:14] clcollins commented on #184
@nalind: That worked perfectly!  I had not known the docker-daemon transport existed.

Thanks for the assistance, all!

[2017-07-12 19:14] #184 closed

[2017-07-12 19:16] nalind commented on #184
That's a good point - we don't list it as an example in the buildah-push(1) man page, and there isn't much else describing where we can write images.

[2017-07-12 21:16] rhatdan commented on #184
Yes we should add it to the man page.  Also we should add it to help.  I was talking to @14rycole about this point.  BTW Can you do some of this in buildah commit?

[2017-07-13 14:03] nalind commented on #184
Yeah, commit can still write to any of the locations to which push can write.

[2017-07-13 14:26] #179 closed

[2017-07-13 17:37] clcollins opened #188 "buildah bud file name expansion in Dockerfile fails"
I ran into an error building an image from Dockerfile with `buildah bud`, when buildah ran across a filename expansion in the file, eg: `ADD dir/* /dest`

I can reproduce it with this example:

[code]
...running `buildah bud -f Dockerfile .` results in an error:

[code]
...where `docker build -f Dockerfile .` succeeds.

Other info:
[code]

[2017-07-13 19:32] rhatdan commented on #180
THis is because the cri-o has not updated to the latest container/storage yet.  We hope to have this done by early next week,

[2017-07-13 19:33] rhatdan commented on #171
Yes I understand.  Would be cool to handle this without root.  @cgwalters has some ideas of enhancements we could do using rpm-ostree, for non root use cases.

[2017-07-14 12:38] rhatdan commented on #168
Fixed by https://github.com/containers/storage/pull/73

[2017-07-14 12:38] #168 closed

[2017-07-14 12:40] rhatdan commented on #95
Buildah inspect now exists, so I am closing.

[2017-07-14 12:40] #95 closed

[2017-07-14 12:41] rhatdan commented on #66
@nalind have you done anything else for this issue?

[2017-07-14 18:08] TomSweeneyRedHat opened #190 "buildah rmi issue fails on private repository using image id"
When an image is created on a private repository in docker.io and an image is created from it, you can not remove the image using buildah by passing the imageID to the 'buildah rmi' command.  However it does succeed if you use the Image Name of the image rather than its ID.  Test snippet below.

# buildah images
IMAGE ID     IMAGE NAME
IMAGE ID             IMAGE NAME

[2017-07-16 17:41] detiber opened #191 "Cross build support for different architectures"
Currently one can build docker images for other architectures by registering entries using binfmt_misc and adding (or bind mounting) the appropriate static qemu usermode binaries in the build container.

Although I haven't tested it, I suspect you could accomplish this today by configuring binfmt_misc and running buildah from a container containing the static qemu usermode binary.

It would be nic

[2017-07-17 08:10] tylerauerbeck opened #192 "r"

[2017-07-17 08:10] #192 closed

[2017-07-17 08:44] tylerauerbeck opened #193 "Unclear error message when running any buildah command"
I feel this may already be resolved as part of #168 , but need assistance in figuring out what my issue may be in the mean time. I'm attempting to run buildah in a docker container with some assistance from #158 . However unlike the folks there, I'm unable to run any buildah commands at all without receiving the following error:

[code]
Is there any flag or debugging I can enable to get further in

[2017-07-17 11:17] TomSweeneyRedHat commented on #193
Can you attach to the container and dig around in journalctl there?  Any info in that?

[2017-07-17 12:17] TomSweeneyRedHat commented on #193
FWIW, I tried this on Fedora 26 Beta (really need to upgrade) and it looked like Buildah came up for me.  Please let me know if I misunderstood what you were trying to do.

# cat Dockerfile
FROM fedora:26
RUN dnf -y install make golang bats btrfs-progs-devel device-mapper-devel glib2-devel gpgme-devel libassuan-devel ostree-devel git bzip2 go-md2man runc skopeo-containers
RUN mkdir /root/buildah &

[2017-07-17 13:17] rhatdan commented on #193
Do you have an /etc/containers/storage.conf installed?  Did you volume mount in /var/lib/containers into the container?

[2017-07-17 15:53] rhatdan commented on #188
@clcollins Could you try this pull request to see if it fixes your issue?

[2017-07-17 16:57] clcollins commented on #188
@rhatdan Your pull request works with both the test case above, and with the real-life build I discovered the issue with, using `buildah bud` and a Dockerfile.  Thanks!

[2017-07-17 18:50] rhatdan commented on #188
I am close on tests, but the glob tests in the Dockerfile is failing.

[2017-07-17 20:23] clcollins opened #196 "buildah run doesn't parse commands with "dash" options without a tty"
It looks like `buildah run` is not correctly parsing command arguments with a dash in them.  Arguments are handled correctly if there are no dashes.

Example (from the docs: https://github.com/projectatomic/buildah/blob/master/docs/buildah-run.md):

[code]
Other examples:

[code]

Escaping or quoting doesn't help:

[code]

However it works if the --tty flag is set:
[code]

It also works if there a

[2017-07-17 20:36] rhatdan commented on #188
This is fixed upstream and will be in the next release of buildah.

[2017-07-17 20:36] #188 closed

[2017-07-18 13:31] clcollins opened #198 "geunhhdv"

[2017-07-18 13:31] #198 closed

[2017-07-19 11:10] rhatdan commented on #196
Since the patch is merged closing this issue.  I have built new packages for Fedora.

[2017-07-19 11:10] #196 closed

[2017-07-19 11:11] rhatdan commented on #193
@tylerauerbeck Do you have an /etc/containers/storage.conf installed? Did you volume mount in /var/lib/containers into the container?

[2017-07-20 12:39] rhatdan commented on #190
Tom have you investigated why this happens?

[2017-07-21 06:20] gouyang commented on #193
I could see this error on RHEL7.3,  the binary was built from source.
Run any buildah commands will get this error.
No /var/lib/containers mounted, with or without /etc/containers/storage.conf got same result.

[code]

[2017-07-21 07:19] gouyang opened #205 "target os mismatch with current os linux on fedora 26"
[code]

[2017-07-21 09:21] rhatdan commented on #193
Try to change the storage.conf driver to devicemapper,  This is probably complaining about support of overlay until RHEL7.4.

[2017-07-21 09:50] rhatdan commented on #205
This could be a runc issue, with buildah using a different version of runc then you have installed. Now that we have runc v1.0 released this should not be as much of an issue.

What OS and what version of runc and buildah are you using?

[2017-07-21 14:16] caruccio opened #206 "How to pronounce `buildah`?"
Not being a native english speaker, I'm struggling to explain people the origin of the name of this project. It would be nice to have an .wav|.mp3|.ogg audio file with the correct pronounce for `buildah`. Event better if coming from @rhatdan itself, the inspiration of it.

[2017-07-21 14:35] TomSweeneyRedHat commented on #206
Excellent suggestion, hopefully we'll be able to twist Dan's arm to do this.  FWIW, I'd say it's pronounced like "bill-dah".  It's a very New England pronunciation, especially inside of the route 128/95 highway that's circles Boston, MA about 15 miles from the city.

[2017-07-21 14:42] caruccio commented on #206
You can always threaten him with `setenforce 0 selinux` ;)

[2017-07-21 21:50] dustymabe opened #207 "error copying layer and metadata: can't write to an unnamed image"
building simple dockerfile I can get an error as seen below:

[code]

version info:
[code]

[2017-07-22 09:36] rhatdan commented on #206
I will put something together on Monday.

[2017-07-22 10:29] rhatdan commented on #207
@nalind PTAL

[2017-07-24 18:30] rhatdan commented on #207
Worked for me.

[code]

[2017-07-24 18:31] rhatdan commented on #207
[code]

# rpm -q buildah
buildah-0.3-2.gitb9b2a8a.fc26.x86_64

[2017-07-24 18:34] nalind commented on #207
This should have been fixed by #150, which was after 0.1 but before 0.2.

[2017-07-24 18:35] nalind commented on #207
In the meantime, you shouldn't hit the error if you specify a name to assign to the built image, using the `-t` flag.

[2017-07-24 19:39] #207 closed

[2017-07-24 19:40] rhatdan commented on #207
buildah-0.2 should be available in updates-testing.

[2017-07-24 20:00] rhatdan commented on #206
https://www.youtube.com/embed/YVk5NgSiUw8

[2017-07-24 20:00] #206 closed

[2017-07-24 20:25] rhatdan commented on #190
@TomSweeneyRedHat Is this still happening?

[2017-07-24 21:58] TomSweeneyRedHat commented on #190
Still happening.  I talked to Nalin about it and was under the impression that he'd a handle on it so I didn't poke further.  I can take a look if you @nalind would like.

[2017-07-25 14:47] nalind commented on #190
Most of our handling of truncated IDs should get fixed by updates to containers/image that let it recognize images by truncated ID, but we can work around that not being there yet in #211.

[2017-07-25 16:28] TomSweeneyRedHat opened #212 "buildah inspect man page is inaccurate"
The 'buildah inspect' man page says the command can be use used like:

buildah inspect ctrid
buildah inspect imageid

However the second variant fails saying the provided argument is not a container.  In order to inspect an image you need to do "bulidah inspect --type=image <imageid>".

The documentation needs to be touched up and/or the inspect command needs to try and inspect as an image if the

[2017-07-25 18:33] rothgar opened #213 "driver not supported"
I compiled buildah on fedora 26 and brought the binary over to rhel 7.3.

I had to install ostree on rhel but after that I get the the following error message

[code]
I'm assuming it's because I'm using overlay storage driver. Here's the relevant docker info

[code]

Is there a list of supported drivers or similar `buildah info` command?

[2017-07-25 18:42] rothgar commented on #213
My theory was wrong. I tried again on a system with devicemapper and get the same error.

[code]

[2017-07-25 18:56] rhatdan commented on #213
Why not compile and build it on RHEL?

[2017-07-25 18:59] nalind commented on #213
I'm not sure what correlation there is between the configuration dockerd is using and what buildah's using.  Can you run `buildah --debug containers` to see what it's doing?  Do you have a `/etc/containers/storage.conf` file?

[2017-07-25 19:25] rothgar commented on #213
@rhatdan I get errors when building on RHEL which I didn't care to debug. I thought the go binary would be more or less portable but it appears it still needs packages and configuration on the host.

@nalind
[code]
I do not have a /etc/containers/storage.conf file

[2017-07-25 21:22] it-praktyk opened #214 "CHANGELOG.md doesn't exist and releases are not tagged"
Few days ago I saw [twit](https://twitter.com/fedora/status/887747619363078144) by [Fedora Project](https://twitter.com/fedora) what directs to the [Dan Walsh's Blog article](http://danwalsh.livejournal.com/76837.html) 'New version of buildah 0.2 released to Fedora.'.

Can you start providing change log for Buildah (e.g. as the CHANGELOG.md file) and start tagging releases or even releasing them o

[2017-07-25 22:14] gouyang commented on #213
Tested that if it's `devicemapper` in /etc/containers/storage.conf on RHEL7.3, the problem is gone.

[2017-07-25 22:14] gouyang commented on #193
Tested that if it's `devicemapper` in /etc/containers/storage.conf on RHEL7.3, the problem is gone.

[2017-07-26 07:34] gouyang commented on #205
Tested with latest runc is ok.

[2017-07-26 07:34] #205 closed

[2017-07-26 07:44] gouyang commented on #180
crio is using overlay now.

[2017-07-26 07:44] #180 closed

[2017-07-26 07:48] gouyang commented on #175
The issue is gone in the latest code.

[2017-07-26 07:48] #175 closed

[2017-07-26 08:51] gouyang opened #215 "How to get container ID"
I'm writing some testing cases and I want to specify image ID and container ID in some case.
There is no document about how to get one image ID or container ID, I've tried below and It works for image but not for container. Any suggestion?

[code]

[2017-07-26 10:43] pineshshah commented on #213
Not sure if this issue got resolved.
Since i have setup buildah on Centos.
`$buildah version`
`>Version:       0.3
Go Version:    go1.8.3
Image Spec:    1.0.0
Runtime Spec:  1.0.0
Git Commit:    b7e9966
Built:         Wed Jul 26 05:44:10 2017
OS/Arch:       linux/amd64`

I am still getting the driver not supported

[2017-07-26 11:35] rhatdan commented on #193
If you could get ahold of the RHEL7.4 kernel overlay should work. If not we have a bug. I think the containers/storage is checking for a certain flag in the kernel to see if SELinux and Overlay will work together and that is what is blocking overlay.

[2017-07-26 11:39] rhatdan commented on #213
Adding devicemapper to /etc/containers/storage.conf should work.  You need a 7.4 kernel for the overlay driver to work.  There is a check in the containers/storage to make sure the kernel supports SELinux and Overlay, which is what I think you are hitting.

[2017-07-26 11:42] pineshshah commented on #213
Thanks @rhatdan I had tried adding the /etc/containers/storage.conf with `STORAGE_DRIVER="devicemapper"` although it didn't work. So i just simply exported `STORAGE_DRIVER="devicemapper"` in the console and then finally it started working.

[2017-07-26 11:55] TomSweeneyRedHat commented on #215
Do you create the container yourself?  If so, you could do this:
ctrid=($buildah from fedora)

and then the ctrid variable could be used like:

buildah mount $ctrid

Note: the value in $ctrid would be the name of the container, not the id.  You can use either the id or the name of the container for buildah commands.

[2017-07-26 11:56] TomSweeneyRedHat commented on #215
Just a note, my last comment had a typo that's since been corrected for the assignment command.

[2017-07-26 12:20] rhatdan commented on #180
Yes we hope to get a new packaged version of CRI-O out soon.

[2017-07-26 12:27] rhatdan commented on #215
The images behavior is not documented.  Not sure why it works.
The easist way to do what you want would be

buildah containers | grep fedora | awk '{ print $1 }'

Not sure if we would want to add the new behaviour.

[2017-07-26 15:15] rothgar commented on #213
I was able to switch to devicemapper and add this to /etc/containers/storage.conf
[code]
I also switched my docker engine to use devicemapper. I no longer get the error when running `buildah images`.

I also verified I could run `buildah from centos` and `buildah images` to see the image in the local storage. Thanks for the help.

[2017-07-26 15:15] #213 closed

[2017-07-26 15:19] rothgar commented on #213
I just realized the buildah storage and docker storage are completely separate configurations so there's no reason for me to change my docker storage driver.

Is there a place in my home directory I can store the storage.conf file so I don't need to rely in it being in /etc/containers?

[2017-07-26 16:09] TomSweeneyRedHat opened #219 "buildah images manpage needs help"
The buildah-images man page lists --quiet, -q but doesn't state what that does.  Also there are no examples for format, filter and digest.  Format and Filter examples would be especially useful.  digest could be left off.

[2017-07-26 17:10] TomSweeneyRedHat opened #220 "target os mismatch with current os linux - when older runc is in the environment"
I think Nalin is looking at this, but I'm not sure.  Also not sure if it's something we can fix in the rpm files or not.  The issue is older versions of runc are causing this error to be raised.

Workaround: Updating runc on the host machine causes the error to go away.

[2017-07-26 17:35] rhatdan commented on #220
Update runc using --updates-testing and see if the problem goes away.  If it does, give good karma to runc, so we can get it out of updates-testing.

[2017-07-26 18:02] rhatdan commented on #213
Nope, we don't do that now.  But we should not change storage.conf going forward.  Newer versions of buildah should come with that file from the rpm.

[2017-07-26 20:22] rothgar commented on #213
Needing to install an rpm defeats the purpose of having a statically compiled binary. Many of the other tools I use live in my ~/bin directory and are configured from ~/.config
Packaging `buildah` in a container defeats the use case (for me) because I want to be able to build containers without needing to prepare a system (give me a portable binary) and without root (don't require SYS_ADMIN)
Is th

[2017-07-26 20:39] rhatdan commented on #213
buildah right now does mount, which requires SYS_ADMIN.  We are getting closer, and you could create a conformant OCI or DOcker image with just tar and a json.
We potentially want to look into using rpm-ostree backend which will actually handle UID!= your uid for rpm content.

Changing to  use a local config would be the easy part.

[2017-07-27 09:31] gouyang opened #222 "buildah push can not push to transport atomic"
[code]

[2017-07-27 09:33] gouyang opened #223 "buildah push to containers-storage generate different image ID when push the same image several times"
[code]

[2017-07-27 09:36] gouyang commented on #223
Push the same image to docker-daemon several times, it's just one image ID shows in `docker images`

[2017-07-27 09:45] gouyang opened #224 "buildah export can not export to STDOUT"
[code]

[2017-07-27 10:36] rhatdan commented on #222
@mtrmac PTAL

[2017-07-27 10:36] rhatdan commented on #223
@nalind Is this something your storage work is going to fix?

[2017-07-27 10:38] rhatdan commented on #224
This is by design, matches docker export
buildah export nginx-working-container-5 > /tmp/nginx.tar

Should work.  BTW I am thinking of removing export support and leaving this to kpod.  I dropped the patch set to add kpod import.

[2017-07-27 13:49] nalind commented on #223
Yes, this is something that should be fixed by https://github.com/containers/image/pull/305.

[2017-07-27 13:52] nalind commented on #223
Just to be clear, what's the command you're using to push the image?

[2017-07-27 15:58] mtrmac commented on #222
As a guess, are you logged into the cluster (`oc login`) _and_ into the docker/distribution registry (`docker login`)?

If that's not it, a full logrus log at the debug level would be useful.

[2017-07-27 21:42] gouyang commented on #223
the command should be `buildah push docker.io/library/nginx:latest containers-storage:docker.io/library/nginx:latest`

[2017-07-27 22:52] gouyang commented on #222
There is `.docker/config.json` exists, so I move the file outside the dir and docker logout, it still get the same error, full logrus log like below:
[code]

[2017-07-27 22:55] gouyang commented on #224
Understanding it now. Should I close the issue or leave it to you decision is making.

[2017-07-28 01:39] jberkus opened #228 "buildah error with fedora-minimal image"
On a new spin-up of Fedora 26:
[root@ip-172-31-23-250 ~]# buildah --version
buildah version 0.1 (image-spec 1.0.0-rc5, runtime-spec 1.0.0-rc5)

[root@ip-172-31-23-250 ~]# cnt=$(buildah from registry.fedoraproject.org/fedora-minimal)
Getting image source signatures
Copying blob sha256:899ab03d9a13ff4a8f69b49c58a8839302a7cd0bdac89511c53576c268171749
 40.87 MiB / 40.87 MiB [==========================

[2017-07-28 11:35] TomasTomecek opened #229 "document obtaining images from local dockerd"
I had a brief irc conversation with @nalind back then:

[code]

I am trying this out:

[code]

Can you help me out here?

[2017-07-28 11:59] rhatdan commented on #224
Yes I can close it.

[2017-07-28 11:59] #224 closed

[2017-07-28 12:05] gouyang commented on #228
You need to remove `$` before `mountpoint`.

[2017-07-28 12:14] rhatdan commented on #228
Bug in your script...

[2017-07-28 12:14] #228 closed

[2017-07-28 12:16] rhatdan commented on #229
@mtrmac PTAL

[2017-07-28 12:17] rhatdan commented on #229
@TomasTomecek What happens if you remove pull=false?

[2017-07-28 14:01] TomasTomecek commented on #229
doesn't work :/

[code]

[code]

[2017-07-28 14:42] rhatdan commented on #229
Does skopeo copy work

skopeo copy docker-daemon:fedora:26-with-python dir:/tmp/fedora

[2017-07-28 14:51] TomasTomecek commented on #229
yup, that works just fine:

[code]

[2017-07-28 15:33] TomSweeneyRedHat commented on #222
@gouyang Thanks for the log, that's helpful.  I'm still not clear if you're logged into the cluster with "oc login".  Can you confirm that?  The issue isn't with docker, it's with the sport that you're pushing to the cluster.
FWIW, I'm currently working on putting authentication in play for 'buildah from' and after that wraps for 'buildah push'.  If oc login doesn't cure the issue for you, hopeful

[2017-07-28 18:44] rhatdan commented on #229
@nalind Any ideas?

[2017-07-28 19:16] jberkus commented on #228
Feh.

[2017-07-28 20:09] mtrmac commented on #222
Sorry, I meant that you _should_ be logged in, _both_ via `docker login` and `oc login`.

Anyway, the primary issue in here is that `atomic:busybox:latest` means the same thing as `atomic:docker.io/library/busybox:latest`, not `busybox:latest` in your default namespace. Try using `atomic:`_$hostname_`/`_$namespace_`/`_$stream_`:`_$tag_ .

[2017-07-28 20:18] jberkus opened #232 "implement command to check size of containers"
One of the reasons to use buildah is to make smaller containers.  However, we currently don't have a command in buildah to show the size of the container image.  Adding one would help us promote buildah as a way to create smaller containers.

[2017-07-28 20:40] mtrmac commented on #229
From an uninformed code inspection, this could be https://github.com/projectatomic/buildah/blob/33c2a8a418579db3e59a66bb925eaf627fa74623/pull.go#L18 + https://github.com/projectatomic/buildah/blob/master/cmd/buildah/from.go#L13 .

Try perhaps something like
[code]
(including the space after `docker-daemon:`).

(BTW that `--registry` option seems rather misnamed.)

[2017-07-28 22:17] gouyang commented on #229
I have the same feeling, see #108

[2017-07-29 11:41] TomasTomecek commented on #229
@mtrmac++ that works!

[2017-07-31 10:49] gouyang commented on #222
[code]

[2017-07-31 10:57] gouyang commented on #215
The method works for images maybe it's due to images has implemented the filter, just like docker images does.

I will use the pipelines to get the containers ID as suggested above. Close the issue.

[2017-07-31 10:57] #215 closed

[2017-07-31 12:49] rhatdan commented on #229
I have added
https://github.com/projectatomic/buildah/pull/234
to remove the registry flag.

[2017-07-31 13:50] rhatdan commented on #232
SHould this just be a field in `buildah images`

[2017-07-31 14:03] mtrmac commented on #222
Fine, that’s the explicit syntax, but do you _really_ have permission to push to the Docker Hub library repositories? And the Docker Hub is not an OpenShift registry at all.

Use the hostname and namespace of _your OpenShift cluster_; or if that is not applicable, please describe in words what is the intended destination.

[2017-07-31 22:57] gouyang commented on #222
Thank you for the explanation, I understand how to push it now.

[code]
Then run `docker pull` and it can be showing in `atomic images list`.
[code]

[2017-07-31 23:15] gouyang commented on #222
A new question is pushing to transport `atomic` equals push to Docker hub registry or OpenShift registry, not local storage, then why we use `atomic` as the transport?

[2017-07-31 23:20] gouyang opened #236 "Add suffix tar to file after buildah push docker-archive"
[code]

Suggest to name it `busybox.tar` or `busybox.tar.gz`.

[2017-08-01 11:59] rhatdan commented on #222
atomic == OpenShift registry.  Formally called the atomic registry.

[2017-08-01 12:00] rhatdan commented on #222
Perhaps we should get a more generic name then atomic.  @mtrmac Doesn't it really mean a registry that supports storing simple signing signatures?

[2017-08-01 12:24] mtrmac commented on #222
`atomic`: means “OpenShift”; if it works for `docker.io`, that’s unsupported and only by accident. Can you back up and explain what is it you are primarily working on or trying to do?

[2017-08-01 12:26] mtrmac commented on #222
It specifically means a registry using the OpenShift-specific APi.  Now that we have `X-Registry-Supports-Signatures` in OpenShift, which is not OpenShift-specific (i.e. can be implemented by any other registry), does not require any OpenShift login, and can be auto-detected, most users should use `docker:` for OpenShift as well, and `atomic` should eventually be deprecated. Renaming a soon-to-be-

[2017-08-01 12:37] rhatdan commented on #222
Well lets take atomic out of the documentation now, if it is not needed, and remove it from the list of alltransports.

[2017-08-01 19:09] clcollins commented on #220
I've run into this today, trying to build an image from inside of a container.  Just for clarity on my part, what version of runc is expected in updates-testing?  My host has runc 1.0.0 (Fedora 26) and the container is 1.0.0-rc3 (CentOS 7.3.1611), with no available updates for either.

[2017-08-01 19:18] TomSweeneyRedHat commented on #220
IDK if this is the absolute minimum level, but this version and higher should do for you.

runc-1.0.1-1.gitc5ec254.fc26.x86_64

[2017-08-01 19:21] rhatdan commented on #220
Fedora 26 should have an update for runc.

[2017-08-01 19:24] TomSweeneyRedHat commented on #220
@rhatdan Oh good point.  I should have mentioned that I got to that version of runc simply by doing "dnf update runc -y".  I didn't need to retrieve it from source from anywhere.

[2017-08-01 19:25] TomSweeneyRedHat commented on #220
Keeping this open just so others can find it easily if they encounter the problem on their machines.  I'll close it in a few weeks if Dan/Nalin don't beat me to it.

[2017-08-01 19:43] clcollins commented on #220
Thanks, looks like my host has the correct version (should have relied on `rpm -v` instead of `runc --version`).

I rebuilt my image with Fedora 26 as it's base image instead of CentOS and got the correct version of runc.  Using buildah inside the image works perfectly with that change.

Thanks!

[2017-08-02 01:04] gouyang commented on #236
It works in this way.

[code]

[2017-08-02 01:04] #236 closed

[2017-08-02 12:00] rhatdan commented on #220
@lsm5 looks like we need to update the version of buildah and runc on Centos.

[2017-08-02 12:21] rhatdan commented on #222
I have opened pull requests to remove/deprecate  "atomic" as a transport, and just have people use the docker transport.

[2017-08-02 14:29] lsm5 commented on #220
@TomSweeneyRedHat @nalind  what's `rpm -q buildah runc` saying for you?

Also, I've changed the koji tags (and thus the yum repo URL) for Virt SIG packages for CentOS. Please make sure to use the yum repo mentioned in https://wiki.centos.org/Cloud/Docker

[2017-08-02 14:57] mtrmac commented on #222
No it doesn’t; it happened to work for you because you are pushing without writing signatures; writing signatures or any kind of read access would fail.

Again, _what is it you are trying to do in the first place_? Let us help you.

[2017-08-02 17:55] 14rcole opened #239 "Buildah does not create config for containers"
When buildah loads a container, it does not create a config.json file in $ROOT/[driver]-containers/[container-id]/userdata.  cri-o and kpod use this file to load containers into the container store

[2017-08-02 18:07] rhatdan commented on #239
@nalind @mrunalp The question here is how do we get kpod/crio and buildah to potentially share containers.  Do we create a config.json with some defaults for buildah?

[2017-08-02 18:21] nalind commented on #239
We don't maintain a bundle for `runc`, since we'd also need to regenerate it whenever `buildah config` was run.  Instead, we just generate one in a temporary directory every time we need to run `runc`.

[2017-08-02 18:24] rhatdan commented on #239
So should kpod realize this and treat this as a container without a runc config?

[2017-08-02 19:14] 14rcole commented on #239
Alternatively, is there a way to get the path to the temporary buildah directory from the buildah.json?  Also, where are the temporary directories?  I have two buildah containers running on my machine but I can't seem to find the temporary directories associated with them

[2017-08-02 19:37] TomSweeneyRedHat opened #240 "Issues with Centos/ version 3.* Kernels"
Pinesh Shah Reports as a reply to the buildah blog:

In addition I tried myself and received a kernel age error.  I suspect that Pinesh's issue is due to runc being older than buildah is expecting.  I'm not as sure about the error that I received, it may be a configuration issue as I threw the vm together pretty quickly.

# buildah from centos
ERRO[0000] kernel too old to provide multiple lowers f

[2017-08-02 20:10] nalind commented on #239
The container's `BundlePath()` method should return the directory where the file is located, at least while it's running.

[2017-08-02 20:19] rhatdan commented on #240
buildah --storage-driver=devicemapper ...

Should fix his issue.  There is a change I just got merged into containers/storage that was forcing overlay on CentOS and RHEL, which is causing these issues, I believe.

[2017-08-02 20:38] rhatdan commented on #239
Will that work for kpod/crio containers as well?

[2017-08-02 20:53] nalind commented on #239
To clarify, `BundlePath()` is a method of `src/github.com/kubernetes-incubator/cri-o/oci.Container`.

[2017-08-03 12:41] 14rcole commented on #239
If the config.json needs to be accessed before the oci Container is created, there a way to determine the bundle path?

[2017-08-03 19:48] TomSweeneyRedHat commented on #240
Thanks Dan.  I found the issue that I was having.  You need to update the kernel in order to get overlayfs to work.  It requires version 4.0+ and CentOS 7 is at:

# uname -a
Linux localhost.localdomain 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
The latest kernel is:
# uname -a
Linux localhost.localdomain 4.12.4-1.el7.elrepo.x86_64 #1 SMP Thu Jul 27 20:

[2017-08-03 19:50] rhatdan commented on #240
Right we need to start requiring 7.4 or later kernels for all of the tools rather then dealing with systems that do not support overlay file system.

[2017-08-09 10:54] TomasTomecek commented on #229
What is the status here? I got lost in the pull requests.

[2017-08-12 13:46] paoloantinori opened #242 "[ENH] Add support for multistaged Dockerfiles"
https://docs.docker.com/engine/userguide/eng-image/multistage-build/

[2017-08-15 10:34] alexellis opened #243 "List dependencies for Ubuntu / apt"
Please could you list the dependencies for an Ubuntu / apt-based repo in the readme?

[2017-08-15 15:01] rhatdan commented on #243
@alexellis Are you talking about the stuff we have to build buildah?
Travis has
[code]

[2017-08-15 15:26] alexellis commented on #243
Yes - the bootstrap, so yum is mentioned on the README front page, but coming from a background working mainly with Ubuntu it might help interest if it was updated to show instructions for both.

[2017-08-15 15:27] alexellis commented on #243
This is obviously missing the point of the project - but it might also be worth adding a Dockerfile that documents the complete build - is repeatable and testable and can be run easily by MacOS users to evaluate the project without having to install a Linux VM.

[2017-08-15 19:16] rhatdan commented on #243
Open a pull request for what you would like to see.  Also please review 244, to tell me if it works.

[2017-08-15 19:21] alexellis commented on #243
Thanks! It'll be a few days if you can wait.

[2017-08-16 13:22] TomSweeneyRedHat opened #246 "Define default directory for certificates"
The current certificate work does not have a default directory.  Determine if one can/should be specified and then document it if so.

[2017-08-17 16:31] ae6rt commented on #158
I'm interested in building container images within a container, as the original poster is.

I'm using Docker for Mac, and do

## On the Mac

[code]

##  Within the container
[code]
Any ideas on how to fix this?

Thanks.

[2017-08-17 18:56] rhatdan commented on #158
I have no idea, do you have any AVC's from the host?

[2017-08-17 22:00] TomSweeneyRedHat commented on #158
I tried it on Fedora and saw these AVC's on the host.  I'll send you a pastebin with more info offline.

Aug 17 16:38:04 localhost.localdomain audit[1726]: AVC avc:  denied  { mounton } for  pid=1726 comm="systemd" path="/proc" dev="proc" ino=1 sc
ontext=system_u:system_r:container_t:s0:c631,c1006 tcontext=system_u:object_r:proc_t:s0 tclass=dir permissive=0
Aug 17 16:38:04 localhost.localdomain do

[2017-08-17 22:22] ae6rt commented on #158
The version of Linux used by Docker for Mac is some Alpine variant that has no SELinux enabled as far as I can tell.

(The *buildah* docker image in the docker-run commands below is nothing more than fedora with *dnf install -y buildah* run on it).

But this is interesting:  consider basing a new buildah-image on ubuntu, and then another one on alpine.  The ubuntu build fails, but not in the same

[2017-08-17 22:25] TomSweeneyRedHat commented on #158
I'll try the AVC's again.  This was on a Fedora rather than a MAC host.  After posting my previous comment I realized I'd not chmod the file as @ae6rt had.

[root@58f3375e03c8 /]# buildah from fedora
Getting image source signatures
Copying blob sha256:4db9daa7aafd1ea07f24d2ec893833adc17b5a9c5dde4150cf99a5789b3d322e
 72.07 MiB / 72.07 MiB [=======================================================]
ER

[2017-08-17 22:39] ae6rt commented on #158
I'm sorry, I should have stated my buildah version:  it is

[code]

[2017-08-18 07:27] rhatdan commented on #158
Ok so lets start by putting the machine into permissive mode to gather the AVC's.  It would probably be best to run "buildah" containers under a different context or with SELinux Disabled in the container.  SELinux will definitely block mounting behaviour.

[2017-08-18 12:39] ae6rt commented on #158
For my part, using Docker for Mac, there is no SELinux:

[code]

[code]

[code]

[2017-08-18 14:09] rhatdan commented on #158
So your VM is running alpine?

[2017-08-18 14:32] ae6rt commented on #158
Yes.  When a user installs Docker for Mac, you get an Alpine VM as the actual docker host.

https://www.docker.com/docker-mac

[2017-08-18 15:49] TomSweeneyRedHat commented on #158
FWIW.  Running a Fedora VM (not making any changes to it) then doing the commands @ae6rt (Mark) had:

# sudo mkdir -p /private/var/lib/containers
# sudo chmod -R ugo+rwx /private/var/lib/containers
# docker run --cap-add=SYS_ADMIN -v /private/var/lib/containers/:/var/lib/containers/:rw,Z -ti fedora bash

Then in the container  'vi /etc/sysconfig/docker' and change this line:
  OPTIONS='--selinux-e

[2017-08-18 16:27] ae6rt commented on #158
Of course, Tom.  Happy to help.  There is a tremendous need for a tool like buildah.  And with so many Macs in developer hands these days, getting it to work well with Docker for Mac would be a very big deal.  Let me know if I can help further.  I'm motivated.

[2017-08-18 17:40] rhatdan commented on #158
@ae6rt I think this could be seccomp related or CAPABILTIES,  I think next step would be to turn off all caps, and see if it works.  If yes then we can start guessing at which cap it needs.

[2017-08-18 18:13] ae6rt commented on #158
@rhatdan Here is what I believe you are advising.  It also fails:

[code]

More information, gathered from inside the Alpine VM that is the docker host:

[code]

[2017-08-18 19:47] rhatdan commented on #158
Which brings us to seccomp.  Run with --privileged, and see if that helps.  If that works you can disable seccomp with
docker run -ti security-opts seccomp:unconfined ...
I think.

[2017-08-18 20:05] ae6rt commented on #158
I ran with seccomp unconfined [here](https://github.com/projectatomic/buildah/issues/158#issuecomment-323424091), but I'm probably misunderstanding something.

Here is what I get when I add *--privileged* to the mix:

[code]

[2017-08-18 20:11] rhatdan commented on #158
What happens if you run alpine with out buildah and attempt to write to /root/.bash_logout?

[2017-08-18 20:22] ae6rt commented on #158
Oh, I'm sorry, I don't understand.  What should I type, even if pseudo-code?

[2017-08-18 20:31] ae6rt commented on #158
What I can do, and whether it proves anything seems unlikely, is that getting a shell inside a plain fedora container, then grabbing the offending fedora image layer like I did [here](https://github.com/projectatomic/buildah/issues/158#issuecomment-323210367), then running *tar zxf thelayer* successfully in a scratch directory succeeds.  There, /root/.bash_logout is written just fine.  The fedora

[2017-08-18 20:32] rhatdan commented on #158
docker run -ti buildah touch /root/.bash_logout

[2017-08-18 20:36] rhatdan commented on #158
Did you do this on the /var/lib/containers directory?  What is the file system in this directory?  This could be something where overlay is not allowed to write to the file system.
@rhvgoyal @nalind Any ideas?

[2017-08-18 20:36] ae6rt commented on #158
That works fine, and I would expect it to.

[code]

Lest I confuse what you asked for with what I think buildah is doing, I would say that the failure to un-tar /root/.bash_logout in my failure cases is buildah failing, for whatever reason, to un-tar the fedora layer in question to someplace in /var/lib/containers, right?  Unless I am missing something, /root/.bash_logout in the fedora container i

[2017-08-18 20:39] rhatdan commented on #158
Yes I misread, the error.  I think this is something with the COW layer.
You could try a hack of passing in

buildah --storage-driver=vfs from fedora

[2017-08-18 20:50] ae6rt commented on #158
1) Still fails, but the error is slightly different, referencing 'AppLayer', and failing way before the entire blob is downloaded (see the lone ">" picket before the fast-failure), unlike the earlier failures:

[code]
2) but lookie here, based on your question about 'can you untar to /var/lib/containers'.  This is from inside the fedora container, where buildah had been run previously.  I grab the

[2017-08-18 21:05] rhatdan commented on #158
If you just run a shell can you write to /var/lib/containers?  Or is it blocked?  Are you using UserNamespace?
Can you write to this location before buildah but not afterwards?

[2017-08-18 21:23] ae6rt commented on #158
I can write to /var/lib/containers from a shell

[code]
I can continue to write after the buildah failure to 'buildah from fedora'.

[2017-08-18 21:23] ae6rt commented on #158
How would I know if I was using UserNameSpace?

[2017-08-18 21:26] rhatdan commented on #158
But why is the tar failing?

[2017-08-18 21:27] rhatdan commented on #158
@aweiteka Could you try this out on your MAC?

[2017-08-18 21:27] ae6rt commented on #158
I hate to ask this, but I thought for decades that tar was pretty dumb - just get the archive contents and start writing blobs.  Can tar make decisions about symlinks and mounts?

[2017-08-18 21:28] rhatdan commented on #158
No I don't think tar is causing this.  It knows nothing about mounts, links maybe

[2017-08-18 21:30] ae6rt commented on #158
My Docker for Mac version.

![image](https://user-images.githubusercontent.com/392176/29478443-c23cd952-8421-11e7-94df-b8b7b7962eab.png)

[2017-08-18 21:37] ae6rt commented on #158
Thread's getting long.  A summary of the failing operation:

[code]

where the buildah container is nothing more than "fedora" (latest) with "dnf install -y buildah" run on it.

[2017-08-18 21:55] nalind commented on #158
The layer (which is basically a tarball, give or take special entries ("whiteout"), typically with length=0, which are interpreted by extraction logic as an instruction to "remove this file") doesn't know anything about mountpoints, but it can contain both hard and symbolic links.  If you want to dig into it, the references linked from the top of [the archive/tar reference](https://golang.org/pkg/

[2017-08-19 00:10] ae6rt commented on #158
Well this is interesting. Now, enter the Alpine VM and bind mount a directory from the VM into the container.  Said directory is *not* also mounted into the VM from the Mac, like /tmp was.

So, from the root command line prompt inside the Docker for Mac Alpine VM dockerhost:

[code]

Works.  Need to poke at this some more to make sure I'm not seeing things.  But at first glance it looks like some

[2017-08-19 09:40] rhatdan commented on #158
Could it be attempting to set extended attributes which MAC Doesn't Allow?

[2017-08-19 12:39] ae6rt commented on #158
I don't know.  I'm grasping at this point.  Maybe I can build a debug version of buildah to get more information.

[2017-08-19 14:05] ae6rt commented on #158
Another small step forward:  Assume */alpinevm* exists inside the Alpine docker host (the Docker for Mac docs [call this](https://docs.docker.com/docker-for-mac/osxfs/#namespaces) the *Moby Linux VM*).  From inside the Moby Linux VM, observe

[code]
Now, from the Mac, mount this into the fedora container and run buildah, which now succeeds

[code]

[2017-08-20 11:02] rhatdan commented on #158
Have you tried to use buildah with an image like alpine?

I am wondering if the fedora image comes with XAttrs while the alpine image would not.

[2017-08-20 13:19] ae6rt commented on #158
Yes, I can build alpine without errors:

[code]

Building ubuntu fails differently that does building fedora

[code]

[2017-08-20 13:44] ae6rt commented on #158
Here is a small program that examines the tar.Header structure for files starting with "root/" in the [fedora layer](https://registry-1.docker.io/v2/library/fedora/blobs/sha256:4db9daa7aafd1ea07f24d2ec893833adc17b5a9c5dde4150cf99a5789b3d322e) that is causing problems.  I don't see any Xattrs in anything.

https://gist.github.com/ae6rt/0100903271711499293d91ced0de998e

Run it:

[code]

As a referen

[2017-08-20 13:48] ae6rt commented on #158
Here is a whole page about the tradeoffs when mounting OS X filesystems into the Moby VM that ships with Docker for Mac:  https://docs.docker.com/docker-for-mac/osxfs-caching/#tuning-with-consistent-cached-and-delegated-configurations

I vainly tried running with the :delegated, :cached, and :consistent options, where I was admittedly thrashing around, trying anything.

[2017-08-20 16:29] rhatdan commented on #158
@vbatts @rhvgoyal Any ideas?

The only thing special fedora might put down would be xattrs for things like SELinux, File Capabilities, perhaps ACLs?

But this is definitely a file system issue.

[2017-08-21 12:48] TomSweeneyRedHat commented on #219
Closed with https://github.com/projectatomic/buildah/pull/233

[2017-08-21 12:48] #219 closed

[2017-08-21 21:08] ipbabble opened #249 "buildah can't push a buildah built image to a docker registry"
So I performed the first-new-image how-to described in the Atomic Buildah pages. I wanted to be able to do a demo where I do not have docker installed at all. So just buildah from and then make some changes do a buildah commit and then do a skopeo copy or buildah push to a local registry.

I also had to pull down a docker registry container from docker hub and run it using buildah run. So I had a

[2017-08-22 15:14] ae6rt commented on #158
I asked another Mac user to run these commands to see if he obtained the same failure as I have observed on the fedora layer.

https://gist.github.com/ae6rt/d6455fba727b611a4c3ef346bca48224

He did.  So it's not just me :)

[2017-08-22 16:57] TomSweeneyRedHat commented on #249
The fix for this is part of https://github.com/projectatomic/buildah/pull/187.  We'll keep this open until that submit goes in and we can verify.  However this is a known issue at the moment.

[2017-08-23 11:47] rhatdan commented on #158
We need to get someone who understands Mac File systems versus Linux to see what is causing these issues.

[2017-08-26 15:39] TomSweeneyRedHat commented on #249
Actually it looks like it was an issue with tls-verify that was causing the problem.  Testing shows that PR #250 has fixed the problem.

[2017-08-26 15:41] TomSweeneyRedHat opened #251 "Create default cert directory"
The new authentication code in #250 does not have a default directory for the certificates.  This should be changed to /etc/containers/certs.d.  Verify that the same works for kpod and skopeo.

[2017-08-29 19:11] TomSweeneyRedHat commented on #251
Duplicate #246, closing.

[2017-08-29 19:11] #251 closed

[2017-08-29 19:13] TomSweeneyRedHat opened #253 "If creds not passed in with values, use cached logins"
For the buildah commands such as push, from and commit that have a creds param for the username:password to the registry, if the creds are not provided on the command line, then use creds from either docker or kpod if avaliable.  kpod will be referenced first.

[2017-08-30 13:48] TomSweeneyRedHat opened #254 "Commit has misleading error when creds are required but not supplied"
Guohua Ouyang reports the below.  He used a private repository and neglected to include the creds command and appropriate un/pwd.  He received a 401 error and might better have been specified as "authentication failed" or some such.

[root@fedora tasks]# buildah commit nginx docker://docker.io/gouyang/nginx
Getting image source signatures
Skipping fetch of repeat blob sha256:ee1a8002360e897670d7ed

[2017-09-02 08:44] rhatdan opened #256 "buildah commit --creds username, should prompt for password with no echo."
It was suggested yesterday by @TheSteve0

[code]
@TomSweeneyRedHat @nalind WDYT?

[2017-09-04 07:46] gouyang commented on #80
`buildah bud -f URL .` works if the URL specify a Dockerfile.
[code]

It not work with if the URL specify a tarball. I think it's the right behavior.

[code]

[2017-09-04 07:47] gouyang commented on #80
Close the issue now, please re-open it if it's necessary.

[2017-09-04 07:47] #80 closed

[2017-09-04 18:01] TomSweeneyRedHat commented on #256
@rhatdan sounds reasonable to me.  I'll need to dig a bit to figure out how to pull that off, but should be doable.  I would suggest though that if we do this for Buildah, we also change skopeo and kpod to have similar functionality.

[2017-09-05 08:41] Silvanoc opened #257 "Buildah build breaking due to Logrus API change"
Buildah cannot be built because the Logrus API has been changed with [commit e66f229](https://github.com/sirupsen/logrus/pull/604/commits/e66f22976feaed4e0a6ab43bc2b9226be8b0b979) (merged July 28th). That change removed "IsTerminal", being used in [line 197 of run.go](https://github.com/projectatomic/buildah/blob/9327431e97084da0b0d7dae42e54ad438496e234/run.go#L197).

I'm wondering how Travis-CI c

[2017-09-05 09:00] Silvanoc commented on #257
Using a logrus commit previous to the API change works like a charm.

[2017-09-05 10:29] rhatdan commented on #256
Sounds reasonable to me.

[2017-09-05 10:29] rhatdan commented on #256
@runcom @mitrmac WDYT

The only potential issue would be is it ever legal to have a Username without a password.

[2017-09-05 10:33] runcom commented on #256
I believe for token based login (krb maybe?) we left the possibility to give just an username

[2017-09-05 10:34] runcom commented on #256
In skopeo, for instance, we allow `--creds USERNAME[:PASSWORD]` for the above reason https://github.com/projectatomic/skopeo/blob/master/cmd/skopeo/copy.go#L94

[2017-09-05 11:22] TomSweeneyRedHat commented on #257
@Silvanoc Thanks for the heads up.  Can you tell me what variant of Linux you were trying to build Buildah on or had you tried doing a PR and Travis was not happy?

[2017-09-05 11:23] rhatdan commented on #256
Would the tool know that it was supposed to use kerberos before prompting for the password?

[2017-09-05 11:24] runcom commented on #256
nope, you just leave password empty (krb is just an example, it's not implemented in docker/skopeo/or anything else right now)

[2017-09-05 11:25] rhatdan commented on #257
We are having a hard time updating buildah to the latest Logrus because of some of the packages we vendor in. But this is just one of the issues that would need to be fixed.
@nalind Has some pull requests out to fix the vendoring issues.

I opened this WIP a while back.
https://github.com/projectatomic/buildah/pull/237

[2017-09-05 11:29] rhatdan commented on #256
OK, this would be a cool feature to add.  I would love to get kerberos support into containers/image...

Potential options would be to add a flag to prompt for password `--password`, or default to prompting if the user did not specify password, which could be overriden by typing
[code]
(Indicates no password)
[code]

Usually in the kerberos case the tool would do some kind of negotiation with the

[2017-09-05 11:35] Silvanoc commented on #257
I've been just trying to build the [current master (commit 9327431)](https://github.com/projectatomic/buildah/commit/9327431e97084da0b0d7dae42e54ad438496e234) locally.

After having a look at #237 I have to agree with @rhatdan that this is probably just one of the vendoring issues.

[2017-09-05 12:44] Silvanoc opened #258 ""target os mismatch with current os linux" on Debian with latest runc"
I'm getting the "target os mismatch with current os linux" error message when trying to run "build-in-docker".

I've already seen issues #205 and #220 and ensured that none of them apply.

Issue #205 doesn't apply because I'm running buildah on Debian Stretch (9).

Issue #220 doesn't apply because I've tried with a couple of pretty new runc versions: 1.0.0rc3 built from code, 1.0.0rc4 downloaded a

[2017-09-05 13:54] rhatdan commented on #258
You need  a newer version of RUNC At least rc5.

runc --version
runc version spec: 1.0.0-rc5

koji latest-pkg f26-updates runc
Build                                     Tag                   Built by
----------------------------------------  --------------------  ----------------
runc-1.0.1-1.gitc5ec254.fc26              f26-updates           dwalsh

[2017-09-05 14:01] Silvanoc commented on #258
RC5? There is no such an official release candidate...

Where can I get the source code from? Remember that I'm running on Debian, so I cannot use koji.

[2017-09-05 14:39] rhatdan commented on #258
@mrunalp Could you comment on this?

[2017-09-05 15:31] mrunalp commented on #258
The latest runc compiled from master should work unless buildah is using an older generate library. cc: @nalind

[2017-09-05 15:49] Silvanoc commented on #258
I'm really confused with the versions being reported by @rhatdan ...

If I'm reading it right, your runc version reports support for the OCI-runtime specification version 1.0.0-rc5. Since the OCI-runtime specification version 1.0.0 was already released and the current runc master supports it already, it would be a hint for an old runc version.

But on the other side the last line looks like if you

[2017-09-05 16:15] rhatdan commented on #258
Ignore the rpm packaging version, The packager jumped the gun on the release.  It is runc 1.0 RC5. Not 1.0 final release.

[2017-09-06 07:02] Silvanoc commented on #258
Unless you have access to a fork providing what should become RC5 through a PR or something like that, I think that there's something wrong with the versions being provided, since there is no RC5 yet.

[2017-09-06 12:17] Silvanoc opened #259 "Unclear support for OCI-runtime specification"
The description of the project clearly states that the focus is on the OCI-image specification, but I'm unsure if subcommands 'config' and 'inspect' are supposed to consume and generate OCI-runtime configurations.

Could you please give some insights on the current status (I couldn't find any reference to the OCI-runtime specification in the current code, but I'd like you to confirm it) and the pl

[2017-09-06 12:18] Silvanoc commented on #259
I'm sorry that I'm asking this way because I couldn't find any documentation about a dedicated mailing-list.

[2017-09-06 14:21] nalind commented on #259
No worries.  The [image specification](https://github.com/opencontainers/image-spec/blob/master/spec.md) specifies that images contain a [configuration](https://github.com/opencontainers/image-spec/blob/master/config.md), but the configuration object is optional, and for reasons I haven't really looked into, it isn't just the [runtime spec](https://github.com/opencontainers/runtime-spec/blob/maste

[2017-09-06 22:22] rhatdan commented on #258
The next version in Fedora 26 and others will be runc-1.0.0-10.rc4.gitaea4f21.fc26

[2017-09-07 12:32] Silvanoc commented on #259
@nalind thank you for taking your time for writing your "wall of text"! 😃

I have the impression that Docker was the "inspiration" for the OCI-runtime configuration and the OCI-image configuration:

- For me the OCI-_image_ configuration specifies kind of what you would specify with "docker _build_" and

- the OCI-_runtime_ configuration specifies kind of what you would specify with "docker _run_"

[2017-09-07 12:49] Silvanoc commented on #258
It worked with that version! Thank you for your support! 👍

[2017-09-07 17:43] nalind commented on #259
The [OCI FAQ](https://www.opencontainers.org/faq#faq9) probably describes the origin of the OCI specs better than I can, but I gather that the similarity between the formats is intentional.

`buildah` generates a runtime configuration when it needs to invoke `runc`, either as part of `buildah run` or when processing `RUN` instructions in a Dockerfile, but it's only meant to be a temporary file tha

[2017-09-07 19:15] rhatdan commented on #259
This information seems like a great beginning of a blog...

[2017-09-08 13:15] #258 closed

[2017-09-18 04:26] ashleyjsands opened #262 "Unable to install Buildah dependencies on Debian"
When I'm following the Ubuntu/Debian installation instructions in the README:
[code]
I get this error:
[code]

I've attached part of the command output when I was installing the dependencies inside of a docker container.
[BuildahFailLog.txt](https://github.com/projectatomic/buildah/files/1309686/BuildahFailLog.txt)

I am trying to install this on Debian 8, but I've also tried Debian 9.

[2017-09-18 13:55] mrguitar opened #263 "RHT Secrets Support"
We need the ability to pass subscription certificates for RHEL. It would also be nice to have the secrets patch extended so that other directories can be user defined and passed into the container.

[2017-09-18 13:56] lsm5 commented on #262
The PPA has packages for Ubuntu zesty and xenial, and IIUC Debian ain't compatible with Ubuntu PPAs. Could you please try this on Ubuntu versions instead?

[2017-09-19 22:18] ashleyjsands commented on #262
Unfortunately I am attempting to install Buildah on the Jenkins slave image (https://hub.docker.com/r/jenkinsci/slave/), which is running on Debian.

Maybe its best if the README instructions didn't say "Ubuntu/Debian" and only specified Ubuntu.

[2017-09-19 22:18] #262 closed

[2017-09-20 06:50] lsm5 commented on #262
@ashleyjsands yup, https://github.com/projectatomic/buildah/pull/264

[2017-09-21 09:28] mildred opened #265 "buildah run should allow setting the hostname"
Starting from a debian:stable-slim image, I want to install the `inn2` package using standard `apt-get update` and `apt-get install -y` commands but I get the following error when the post install script is run:

[code]

I believe setting the hostname to something that resolves to an IP address would make it work. The hostname is `mrsdalloway` and I cannot change it using something like

[code]

I

[2017-09-22 22:52] vrutkovs commented on #158
A workaround to run it without mounting `/var/lib/containers/storage':
[code]

[2017-09-23 09:27] rhatdan commented on #158
Good idea, although you will need a lot of memory...

[2017-09-28 06:10] surajssd opened #271 "`buildah run` won't start the container"
## Problem

When run `buildah run` the process remains stuck for very long time, when stopped using `Ctrl + C` then I get error `/bin/bash: line 1: $'\r': command not found`.

[code]

## Version

[code]

[code]

[2017-09-28 10:37] rhatdan commented on #271
You did hit return after running the buildah run command, a couple of times?

[2017-09-28 10:42] rhatdan commented on #271
[code]
Works fine on my F26 box.

[2017-09-28 10:43] rhatdan commented on #271
@nalind @TomSweeneyRedHat Any ideas?

@surajssd Could you run with the --debug flag
buildah --debug run ...

[2017-09-28 10:44] rhatdan commented on #271
@surajssd Also make sure you have the latest runc installed.

dnf -y update runc --enablerepo updates-testing

[2017-09-28 10:58] rhatdan opened #272 "Buildah from is going to need support for ignoring builtin image volumes similar to CRI-O"
https://github.com/kubernetes-incubator/cri-o/pull/534
https://github.com/kubernetes-incubator/cri-o/pull/637
https://github.com/kubernetes-incubator/cri-o/pull/660

[2017-09-28 10:58] rhatdan commented on #272
@TomSweeneyRedHat Need this card as this is a requirement of OpenShift.

[2017-09-28 11:00] rhatdan commented on #265
Fixed in buildah 0.5.

[2017-09-28 11:00] #265 closed

[2017-09-28 11:01] rhatdan commented on #259
@Silvanoc Can I close this issue now?

[2017-09-28 11:02] rhatdan commented on #256
@TomSweeneyRedHat @umohnani8 has done this in her kpod login code, can we just grab it from there and use it

[2017-09-28 11:04] rhatdan commented on #239
@14rcole Don't remember what this was for.  Did you want this functionality so that
buildah inspect $CTRID
would work?  Or does this cause issues with kpod ps and kpod inspect?

[2017-09-28 11:05] rhatdan commented on #229
@TomSweeneyRedHat Could you check if this works now?

[2017-09-28 11:06] rhatdan commented on #222
CLosing this since lack of activity.  @gouyang Please reopen if you want to continue conversation.

[2017-09-28 11:06] #222 closed

[2017-09-28 11:08] rhatdan commented on #190
@TomSweeneyRedHat Looks like this is fixed.  Ok to close?

[2017-09-28 11:08] TomSweeneyRedHat commented on #271
Just to be sure, after you did:
'buildah run $ctrid_fedora /bin/bash'

You never got a reponse back right?  As @rhatdan asked, please update your runc to make sure that's OK.  If you're still having problems, please post the version of runc  that you're using.

FWIW, here's the output from my quick test this morning.

[code]

[2017-09-28 11:11] rhatdan commented on #100
@TomSweeneyRedHat Is this still the case?

[2017-09-28 11:12] rhatdan commented on #96
@TomSweeneyRedHat Do you think you could get back to this one?

[2017-09-28 11:13] rhatdan commented on #132
@TomSweeneyRedHat I think could use something like this for OpenShift?

[2017-09-28 11:14] rhatdan commented on #142
I believe this is fixed in the current buildah 0.4 release.

[2017-09-28 11:14] #142 closed

[2017-09-28 11:14] rhatdan commented on #66
@nalind any update on this?

[2017-09-28 11:16] rhatdan commented on #191
@detiber have you looked any further into this?

[2017-09-28 11:17] rhatdan commented on #108
Since we removed support I am going to close this issue.

[2017-09-28 11:17] #108 closed

[2017-09-28 12:39] rhatdan commented on #214
https://github.com/projectatomic/buildah/pull/273
A little slow but @it-praktyk PTAL

[2017-09-28 12:51] pratapnanda opened #274 "Buildah commands"
Hi

I am new to buildah tool, and recently doing some R&D on Buildah

i want to deploy an application on container using buildah.
Can I achieve below objectives using buildah and how.
- volume - How to Mount external volume such as AWS EBS/EFS/S3 to buildah container
- setting resources - e.g. CPU, Memory etc
- how to scale up and down buildah container
- How can I check buildah container logs (li

[2017-09-28 12:57] it-praktyk commented on #214
OK, I'll look on that under a weekend.

[2017-09-28 13:02] rhatdan commented on #274
Buildah is used to build container images not really for running them in production.  You might want to look at the kpod/cri-o effort https://github.com/kubernetes-incubator/cri-o.

We will be building soop kpod run and kpod exec, which is what you want I believe, if you want something higher level, I would look at OpenShift and Kubernetes.

[2017-09-28 16:13] surajssd commented on #271
@rhatdan and @TomSweeneyRedHat

Yes I did!

---

runc already up to date

[code]

[code]

---

Trying it out in debug mode

[code]

Again `buildah --debug run $ctrid_fedora /bin/bash` remains stuck, I then press `Ctrl + C` and hit return once when I get error as `/bin/bash: line 1: $'\r': command not found`.

[2017-09-28 17:04] rhatdan commented on #271
If you run buildah with another command like

buildah run CTRID ls /

Does that hang also?

[2017-09-28 17:08] TomSweeneyRedHat commented on #272
@rhatdan Created: https://trello.com/c/WpA1TIXP/684-add-support-to-buildah-to-ignore-built-in-image-volumes, holler if there's something else to tweak here at the moment.

[2017-09-28 17:09] TomSweeneyRedHat commented on #256
Yep, saw that fly through.  Need to bubble this up higher.

[2017-09-28 17:30] 14rcole commented on #239
This caused issues with kpod ps and kpod inspect.  Kpod can't inspect running buildah containers because they don't contain that file with some of the necessary information.

[2017-09-28 17:48] TomSweeneyRedHat commented on #229
Doesn't work now, in fact I'm not able to get skopeo to work either:

[code]

I'll take a look at the buildah error, that's looking like a recent change I made to add the "docker://' transport might be a little over-reactive.

[2017-09-28 17:56] rhatdan commented on #239
@baude PTAL

[2017-09-28 17:58] rhatdan commented on #229
@mitrmac WDYT

[2017-09-28 20:05] mtrmac commented on #229
[code]
`docker-daemon:` syntax does not use `//` (the only one which does is `docker://`)

[code]
This is just a typo, d**ea**mon vs d**ae**mon.

`skopeo copy` with the typo fixed works for me; I didn’t try `buildah from`.

[2017-09-28 20:42] TomSweeneyRedHat commented on #229
@mtrmac Thanks for the eagle eye, my fingers wiggled too quickly on the skopeo command.  It does indeed work for me now with the corrected spelling for daemon.  I'll take a look at from, I'm not sure what's going on there.

[2017-09-28 21:14] TomSweeneyRedHat commented on #229
I was testing with Tomas' second example and that's still failing, but I think it's failing as it's bad input.  If I use the format in his first example which removes the two slashes after 'docker-daemon:' it's working.

[code]

I say we can close this one unless we want to give Tomas a chance to test it.  @mtrmac thanks again for the heads up on the typo.

[2017-09-29 01:07] rhatdan commented on #229
@TomasTomecek Repoen if you don't agree with the analysys.  We should do a better job of diagnosing typos though.

[2017-09-29 01:07] #229 closed

[2017-09-29 12:44] surajssd commented on #271
@rhatdan that works

[code]

[2017-09-29 13:22] rhatdan commented on #271
To me this looks like something is wrong with the tty handling then.

[2017-09-29 13:39] TomSweeneyRedHat commented on #271
@surajssd can you try one more test please?  After you do

buildah run $ctrid_fedora /bin/bash

Can you try doing a number of commands?  i.e.  'ls', 'cd /var/log', 'cat README', etc.

I've just run into the same issue on my VM.  It looks like the container is up and happy, it's just not showing any kind of command prompt.

[2017-09-29 14:47] TomSweeneyRedHat commented on #271
@surajssd one last test if you please.  Can you try adding the '--tty' param to the buidah run command and see if that works for you?  It does for me.
[code]
Thanks for your help with running this down.

[2017-09-29 17:18] TomSweeneyRedHat commented on #190
This error has gotten slightly better.  Now I'm just seeing the first error, but the image is getting removed.

[code]

I'd say keep it open for now.

[2017-09-29 17:28] TomSweeneyRedHat commented on #100
It's morphed.  I'm not seeing the steps anymore, but we do seem to be lacking a return before "Skipping fetch of repeat blob" .  I'll touch that up and will close this.  FWIW, here's an example:

[code]

[2017-09-29 17:36] TomasTomecek commented on #229
Looks good, thank you gentlemen.

[2017-10-02 06:40] surajssd commented on #271
@TomSweeneyRedHat here is what I did:

Installing on the latest master

[code]

Using the flag `--tty` seems to work

[code]

But if I don't use the flag then it is stuck again.

Thanks for bearing with me!

[2017-10-02 10:51] rhatdan commented on #271
Should we improve the man page for this use case?

[2017-10-02 11:20] TomSweeneyRedHat commented on #271
Thanks for the follow up @surajssd.  When you say "stuck" does that mean you're getting no response at all?  In my environment I can do any linux command on the container (ls, cat /etc/resolv.conf, pwd, etc), there's just not a command prompt being shown.  Are you able to do any commands on the container without the --tty param.

Thanks again for all the help/information here, it's helping to narr

[2017-10-02 14:31] TomSweeneyRedHat commented on #271
@surajssd we're planning to address this issue with a documentation update which basically says "use -tty to get interactive i/o  from the container".  This is in PR #276.  Please let me know if this doesn't address your concerns.

[2017-10-02 17:57] jtligon commented on #158
@ae6rt did you ever get this running? did @vrutkovs suggested fix make any progress?

[2017-10-02 18:07] ae6rt commented on #158
@jtligon I did not succeed in getting this to run. The way I read @vrutkovs's suggestion was to mount a scratch tmpfs directory from the docker host into the buildah container, which is not what I sought.  What I need is a mount from the OS X filesystem into the docker host into the container to be workable.

Maybe I misunderstood @vrutkovs suggestion.

[2017-10-02 18:18] surajssd commented on #271
@TomSweeneyRedHat yes, commands work, there is no cmd prompt, but commands work, which is kinda confusing!

[2017-10-02 18:22] surajssd commented on #271
[code]

[2017-10-02 18:45] vrutkovs commented on #158
`mount` would create a new FS, which would use RAM as a storage. This would bypass overlay check in buildah. It doesn't need any mounts from host to work.

Note, that there is no easy way to move the stored container to host (except for pushing to the registry), so this workaround has a lot of disadvantages

[2017-10-02 18:54] TomSweeneyRedHat commented on #271
@surajssd Thanks for the confirmation.  I concur that is confusing to have the commands work without the prompt.

[2017-10-02 20:09] rhatdan commented on #158
@vrutkovs What about using a storage backend of vfs?  That might work.  @rhvgoyal He is trying to use a OS X as an overlay file system, which Linux does not seem to support.

[2017-10-02 21:17] it-praktyk commented on #214
Thank you for the initial version of the CHANGELOG.md file.

Can you consider changing the way how a changelog is organized?

The best what I know is the [CHANGELOG.md for Vagrant](https://github.com/hashicorp/vagrant/blob/master/CHANGELOG.md).

[2017-10-02 21:46] jrobeson commented on #274
@rhatdan : is that sort of thing recommended for folks using or one two containers on single machines? When i hear anything kubernetes related it sure sounds like overkill for many simple use cases. Is that not the case for the mentioned project?

I bet there are quite a few folks like me who just want a simple non-docker way to manage a few containers for local dev environments and just a few (or

[2017-10-02 21:47] jrobeson commented on #274
As an addendum, it's really hard to separate the intended audiences of container tooling for folks with simple needs like myself.

[2017-10-03 10:19] rhatdan commented on #274
kpod/buildah will eventually be the tool for you.  kpod although it is currently part of CRI-O does not require kubernetes.  Our goal with it is to give you the entire docker experience on a single node, minus the orchestration bits.

[2017-10-03 10:19] rhatdan commented on #214
Please open a pull request to make the changes

[2017-10-03 10:23] jrobeson commented on #274
@rhatdan: I'll keep an eye on it. thanks!

[2017-10-03 11:20] TomSweeneyRedHat commented on #212
Closed via #277

[2017-10-03 11:20] #212 closed

[2017-10-03 11:23] TomSweeneyRedHat commented on #271
@surajssd as an FYI,  #276 is our proposed fix for the issue which is a documentation change only.  Thanks again for your help in alerting us to this issue and for working with us in solving it.

[2017-10-03 11:51] surajssd commented on #271
@TomSweeneyRedHat I am glad, I could be of help!

[2017-10-03 14:30] nalind commented on #272
![](https://github.trello.services/images/mini-trello-icon.png) [Add support to Buildah to ignore built-in image volumes](https://trello.com/c/WpA1TIXP/684-add-support-to-buildah-to-ignore-built-in-image-volumes)

[2017-10-04 16:12] TomSweeneyRedHat opened #279 "'buildah bud .' is creating 3 images instead of 1"
On an updated Fedora 26 host, I'd a Dockerfile with these contents:
[code]
I then ran 'buildah bud .' and when I looked at the list of images, there were three images.  One for alpine as expected, but two others sharing the same ImageID.

[code]

This may be an issue with container/image rather than Buildah, starting here.

[2017-10-05 00:16] rhatdan commented on #279
@nalind WDYT

[2017-10-05 17:46] nalind commented on #279
Thanks for the reproducer.  It turns out we're printing the IDs of unnamed images twice: once with an empty name, and again with a `<none>` placeholder.

[2017-10-05 17:53] TomSweeneyRedHat opened #281 "'buildah bud --pull-always .' not always pulling"
The pull-always argument for 'buildah bud' seems to not be working.  The below example shows that a pull is performed  on the first invocation, but follow on invocations seem to be using the local image rather than pulling anew.

Fedora 26

[code]

[2017-10-05 18:25] rhatdan commented on #281
Good, maybe we can remove it. Not sure what the use case is for it.  Also not sure what the use case for --pull=false is

[2017-10-07 14:09] Ace-Tang opened #285 "Problem with policy.json"
# Problem

I run with this cmd `sudo ./buildah bud -f Dockerfile`, got this:
[code]

I read `docs/buildah-bud.md`, find this:
[code]

But I still have no idea what the policy json should be.

# About My test enviroment

[code]

I build buildah from source code, use `make buildah`

[2017-10-07 14:52] rhatdan commented on #285
Install skopeo-containers

[2017-10-07 15:48] Ace-Tang commented on #285
Thank, this helps me

[2017-10-07 15:49] #285 closed

[2017-10-09 05:57] ashleyjsands opened #286 "No rule to make target 'runc'. for Ubuntu 16.04"
When I attempt to build Buildah in a Ubuntu 16.04 image using the instructions in the README, I get a make error:
make: *** No rule to make target 'runc'.  Stop.

I've attached the Dockerfile that I'm trying to build and the output from building that Dockerfile to this issue.
[output.txt](https://github.com/projectatomic/buildah/files/1367585/output.txt)
[Dockerfile.txt](https://github.com/project

[2017-10-09 14:25] rhatdan commented on #286
runc is not part of buildah.  You need to get this elsewhere.

[2017-10-09 16:54] nalind commented on #286
The Dockerfile include RUN instructions for the `cd` and `export` commands, which won't produce the expected result, as each instruction in the Dockerfile is run on its own inside of a shell that's started in the location most recently specified using the WORKDIR command, with an environment that is freshly set up according to the image's configuration.  The `make` command is being run from a diff

[2017-10-10 00:15] ashleyjsands commented on #286
Thanks @nalind. You've pointed out my exact problem. I didn't know that Docker ran each RUN instruction in its own shell. Thanks again.

[2017-10-10 00:15] #286 closed

[2017-10-11 06:14] ashleyjsands opened #287 "How to run Buildah without docker/root privileges"
My goal is to build a Jenkins Slave ubuntu image that uses buildah to build docker images without needing root privileges to access Docker on the host. Is this possible with Buildah at the moment?

I have successfully installed Buildah on an Ubuntu image, ran it as a container with /var/lib/containers/storage and /var/run/containers/storage bind mounted and then as root, I run a command like `buil

[2017-10-11 11:57] rhatdan commented on #287
Buildah does not use docker. It is meant as a replacement for docker build, totally independent of the daemon.  We have not worked to get buildah to work without requiring root, yet.  There are potentially two routes to do this, one is to use user namespace, but even with that we still have to deal with the need to mount.  (Which is not allowed even in a User Namespace).  Another potential is to u

[2017-10-11 21:11] timothysc commented on #171
I'll echo @jberkus.
If I can replace my build-infra with non-jig'd env, I would wholesale replace with buildah.

[2017-10-13 17:18] rhatdan commented on #281
@nalind WDYT?

[2017-10-13 17:18] rhatdan commented on #279
Looks like this is fixed.

[2017-10-13 17:18] #279 closed

[2017-10-13 17:19] #271 closed

[2017-10-13 17:19] rhatdan commented on #257
Logrus finally vendored.

[2017-10-13 17:19] #257 closed

[2017-10-15 08:57] tylerauerbeck commented on #193
@rhatdan @gouyang @TomSweeneyRedHat Hey everybody -- sorry life got a little busy and I had to come back around to this one, so now I'm bringing this one back from the dead. I'm now testing this in the following manner.

I've got my local vm: CentOS 7.4 (CentOS Linux release 7.4.1708 (Core))-- freshly installed with docker-ce 17.09

Before running anything else, I have verified that it is using th

[2017-10-15 09:33] rhatdan commented on #193
Currently SYS_ADMIN Is required.  Which lowers your security a little, but you are still protected by SELinux. to some extent.   I have not done a full examination of what you could attack using SYS_ADMIN privs and what SELinux would continue to block.  One of the biggest things that you can do with SYS_ADMIN is to be able to mount, (Which is why buildah requires it).  You can also create addition

[2017-10-15 09:33] rhatdan commented on #193
@rhvgoyal @nalind WDYT?

[2017-10-16 03:52] ashleyjsands commented on #287
Thanks @rhatdan for the detailed response. This perfectly answers my question.

[2017-10-16 03:52] #287 closed

[2017-10-17 08:13] Silvanoc commented on #259
@rhatdan sorry for not reponding sooner.

Just let me try to reformulate what @nalind to make sure that I got it right and you can then close the issue:
The configuration options provided with the image are being used as defaults to generate OCI-runtime configurations, right?

[2017-10-17 13:28] nalind commented on #259
@Silvanoc yup, that's a good short version.  The format those options are recorded in isn't a runtime configuration, so when we need a runtime configuration for running a command, we incorporate those options into one that we generate.

[2017-10-18 13:43] 1it opened #291 "buildah bud fails on RUN apt..."
[code]
[code]

**Dockerfile**
[code]

[2017-10-18 13:49] nalind commented on #291
This sounds like an incompatible version of runc (specifically, that the configuration we generate for it isn't in the format that it expects).  What do you get from running `runc --version` on the host?

[2017-10-18 14:40] 1it commented on #291
runc --version
runc version spec: 1.0.0-rc2-dev

[2017-10-18 14:47] 1it commented on #291
Tried with the latest binary: [runc](https://github.com/opencontainers/runc/releases/download/v1.0.0-rc4/runc.amd64)\
[code]
Seems ok. Thanks @nalind

[2017-10-18 14:47] #291 closed

[2017-10-19 13:47] lcarva opened #292 "Cannot pull parent image from insecure registry"
[code]

Pulling of the image via docker daemon is fine:

[code]

Note: Output has been modified to rename internal server name to `my-insecure-registry.example.com:8888`.

[2017-10-19 14:08] TomSweeneyRedHat commented on #292
As a test/workaround.  Can you try:
[code]
Then try the builldah bud again.  Hopefully it will pick up the image that you downloaded in the from.  If that works, then we probably have a tls-verification change that we need to do for the build-using-dockerfile command.

[2017-10-19 14:09] TomSweeneyRedHat commented on #292
@lcarva Sorry! Forgot to include your name in the last one, and more importantly forgot to thank you for the report.

[2017-10-19 14:28] lcarva commented on #292
That fixes it!

[code]
Which causes the `buildah build-using-dockerfile` command to work just fine.

Any chance the ` --tls-verify=false` parameter can be added to `build-using-dockerfile`? It would be a nice to have.

[2017-10-19 15:03] TomSweeneyRedHat commented on #292
@lcarva Thanks for the test and confirmation.  Glad to hear that worked.  I'll look into adding the tls-verify flag to the buildah bud command.  Will send you a pointer to the PR once put together, hopefully early next week.

[2017-10-19 16:33] rhatdan commented on #292
Yes @TomSweeneyRedHat Open A PR it should definitely have it.

[2017-10-20 07:13] bjartek opened #293 "buildah bud gets unmarshal error when building"
Dockerfile is here: https://github.com/Skatteetaten/wingnut/blob/master/src/main/docker/Dockerfile

The following works: `docker build --build-arg javaMinorVersion=144 --build-arg javaBuildVersion=01-r0 --build-arg jolokiaVersion=1.3.7 --build-arg baseImageVersion=buildah -t foo/bar . `

The following does not work
`buildah bud --build-arg javaMinorVersion=144 --build-arg javaBuildVersion=01-r0 --

[2017-10-20 11:40] rhatdan commented on #293
What OS are you running on?

rpm -q buildah

[2017-10-20 12:10] bjartek commented on #293
Ubuntu 16.04

I followed the build instructuons on the wiki.

Sent from my iPhone

[2017-10-20 13:07] TomSweeneyRedHat commented on #293
Thanks for the report, if you've the time, it would be great if you could try this and report the output.
[code]

[2017-10-20 13:23] bjartek commented on #293
`buildah --debug bud --build-arg javaMinorVersion=144 --build-arg javaBuildVersion=01-r0 --build-arg jolokiaVersion=1.3.7 --build-arg baseImageVersion=buildah -t wingnutBuildah .
DEBU[0000] backingFs=extfs,  projectQuotaSupported=false
INFO[0000] [graphdriver] using prior storage driver: overlay
DEBU[0000] reading local Dockerfile "/home/m89870/dev/wingnut/src/main/docker/Dockerfile"
DEBU[0000] FR

[2017-10-20 14:03] TomSweeneyRedHat commented on #293
@bjartek TYVM for running that and posting.  The one thing that pops is the issue with runc.  Can you tell me what version of runc you're running please?

[2017-10-20 14:19] bjartek commented on #293
runc version spec: 1.0.0-rc2-dev
it is the one i got when running the make install command of buildah like posted in the wiki

[2017-10-20 14:37] bjartek commented on #293
I see that rc4 of runc is out. Should I try IT?

[2017-10-20 14:38] nalind commented on #293
That copy of `runc` that we build is there for the sake of the integration tests, so that we know it's a version that's compatible with the configuration we produce for it when handling RUN instructions, but it's not something we currently install when you run `make install`.  Based on what we saw in #291, I'd definitely recommend updating the `runc` package and giving it another go.

[2017-10-20 14:43] TomSweeneyRedHat commented on #293
Yes please upgrade runc as @nalind suggested.  I was just reviewing the install instructions and trying to upgrade on my vm.

[2017-10-20 14:54] bjartek commented on #293
I can confirm that it works with RC-4 of runc. I recommend updating the docs on how to install on ubuntu :)

Thanks for excellent help!

[2017-10-20 14:54] #293 closed

[2017-10-20 14:56] TomSweeneyRedHat commented on #293
@bjartek 🥇

Thanks for the help and pointers.  I'll work on updating the documentation, I think we might actually have the same issue in Fedora.

[2017-10-21 20:51] TomSweeneyRedHat commented on #292
PR created: #297

[2017-10-21 21:13] TomSweeneyRedHat commented on #293
#296 to address this for at least the short term.  Still looking at how to best update the install instructions.

[2017-10-23 13:32] lsm5 commented on #293
So, for buildah on ubuntu, I'll need to make sure that we're using our fork of runc and not the distro's runc which is usually older than what we ship in PPA.

@nalind @TomSweeneyRedHat could you let me know the easiest way to setup buildah to use a custom runc binary?

[2017-10-23 14:26] TomSweeneyRedHat commented on #293
@lsm5 First, fwiw, I just installed a fresh Fedora and then did 'dnf -y install buildah'.  The rc4 variant of runc was installed there.  So I think Fedora is just fine.

As far as Ubuntu goes, what we're recommending is documented on our README.md  (https://github.com/projectatomic/buildah).  That doc says:

[code]

Should we add a apt-get for runc 1 rc4 here?

[2017-10-23 14:43] lsm5 commented on #293
sure, but also, the fork of runc we ship (`cri-o-runc`) will install runc at `/usr/lib/cri-o-runc/bin/runc` so as to not conflict with `/usr/bin/runc` used by the distro package. We gotta make sure that buildah will use the former and not the latter. What's the best way to do that?

[2017-10-23 15:45] TomSweeneyRedHat commented on #293
I don't think Buildah has a way currently to toggle the location of the runc.  My only thought would be to add the new locale to the front of the PATH env variable, but I'm not sure if that's wise.  I just installed buildah directly using 'apt-get -y install buildah' and then also by pulling a clone from github and compiling by hand (also as documented in the README.md) and both left runc alone.

[2017-10-23 16:08] nalind commented on #293
Manipulating `$PATH` so that a specific `runc` gets called, or using the `--runtime` flag when using the `bud` and `run` commands to specify the pathname for the command, are currently the only ways we have for changing how we run processes in containers.

[2017-10-23 16:20] TomSweeneyRedHat commented on #293
@nalind, I'd completely forgotten the --runtime command, good thought.  @lsm5, are you concerned about our buildah ubuntu kit just replacing/upgrading runc?

[2017-10-23 17:57] lsm5 commented on #293
On Mon, Oct 23, 2017 at 09:20:35AM -0700, Tom Sweeney wrote:

So, buildah ubuntu package won't mess with distro's runc at all because I
will enforce a dependency on `cri-o-runc` which is totally isolated from
distro's runc. I only need to make sure the buildah ends up
`/usr/lib/cri-o-runc/bin/runc` and not /usr/bin/runc, which I guess gets
addressed by @nalind's comment above.

And that looks like

[2017-10-23 17:58] lsm5 commented on #293
On Mon, Oct 23, 2017 at 01:56:55PM -0400, Lokesh Mandvekar wrote:

Of course, I gotta make sure that `apt install buildah` does pull in
`cri-o-runc` as well, for which I will do a new deb update.

HTH.
--
Lokesh
IRC: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2017-10-23 20:48] lsm5 commented on #293
I built buildah 0.4 an hour back which depends on cri-o-runc. Let me know how that works.

[2017-11-03 09:51] Spindel commented on #158
This is relevant to my interests.  We're trying to replace DockerInDocker  or mounted docker sockets with buildah, so we can run our container builds in k8s.

Are the requirements so far:
- Privileged (CAP SYS ADMIN)
- not using overlayfs storage driver for docker/rkt/crio?

[2017-11-03 11:34] TomasTomecek opened #309 "buildah is out of sync with /etc/containers/storage.conf"
[code]

Had to comment "override_kernel_check" out. Am running current git master.

[2017-11-03 11:38] TomasTomecek opened #310 "overlay2 graph driver doesn't work"
[code]

I'm assuming this is an issue of `containers/storage`.

[2017-11-03 12:20] rhatdan commented on #310
No this is an issue with your RHEL7 box.  Running Buildah on an RHEL7.3 box or a RHEL7.3 box that was updated to RHEL7.4 will cause issues.  The problem is in RHEL7.3 the XFS file system is installed in a way without d_type support, which can cause strange issues on overlay.  (Deleted files show up a Device Nodes).  If you do a fresh install or a RHEL7.4 box, you should not see this issue.

[2017-11-03 12:30] rhatdan commented on #158
You can use overlayfs, as long as you volume mount the /var/lib/containers/storage into your container.  The problem is if /var/lib/containers/storage in the container is on an Overlay file system it will cause issues.

[2017-11-03 13:42] rhatdan commented on #309
Thats weird, I see it in storage.

[code]

[2017-11-03 13:45] rhatdan commented on #309
[code]

[2017-11-03 13:45] rhatdan commented on #309
[code]

[2017-11-03 14:24] nalind commented on #309
@TomasTomecek can you attach your /etc/containers/storage.conf, and the output from running `buildah version` and `buildah --version`?

[2017-11-03 17:47] nalind commented on #66
Alright, I'm beginning to think there's no way around having to use chroot().  https://github.com/projectatomic/buildah/compare/master...nalind:user2 contains what I'm thinking should prevent the directory traversal problem.

[2017-11-03 18:53] TomasTomecek commented on #310
oh, okay; this is actually my Fedora workstation

Is it possible to amend the filesystem to add the d_type support or do I need to reformat the whole FS?

[2017-11-03 19:04] TomasTomecek commented on #309
I am getting a different error when debugging this -- can't reproduce the original issue. It works fine with `overlay`, having issues with `overlay2`.

[code]

[code]

I'm assuming the issue is lack of `d_type`. If so, feel free to close. No idea what happened originally. I believe that I `rm -rf`d `/var/lib/containers` to fix it.

[2017-11-03 19:52] nalind commented on #309
That error suggests that a layer couldn't be found - did you remove `/var/lib/containers/storage/overlay2` which is where the contents of the layers are stored, but not `/var/lib/containers/storage/overlay2-layers` and `/var/lib/containers/storage/overlay2-images`, which hold information about the relationships between layers, and about which images use which layers, respectively?

[2017-11-03 19:58] TomasTomecek commented on #309
I pulled once more:

[code]

I find it interesting that `overlay` and `overlay2` are mixed in the output

Here's what the `storage.conf` says:

[code]

[2017-11-03 20:01] nalind commented on #310
I haven't found a way to do this other than re-running `mkfs.xfs` with `-n ftype=1` (or using xfsprogs-4.2.0-rc2 or later, where it became the default) on the partition or volume.

[2017-11-03 20:23] rhatdan commented on #310
If you have  a partition, you could just mount one at /var/log/containers/storage

[2017-11-03 20:26] rhatdan commented on #309
Change to just use overlay, there is not difference in containers/storage.  We should always just use overlay.

[2017-11-03 20:29] TomasTomecek commented on #309
right, thank you for helping me

[2017-11-03 20:29] #309 closed

[2017-11-04 07:06] TomasTomecek commented on #310
That's a bummer, I don't.

Thanks for your help!

[2017-11-04 07:06] #310 closed

[2017-11-07 01:33] domenicbove commented on #158
I am trying to run buildah within a pod on OpenShift 3.6. My image is simply rhel7.4 + buildah. Here's my pod definition:
`apiVersion: v1
items:
- apiVersion: v1
  kind: Pod
  metadata:
    name: scan-image-grtvf
  spec:
    containers:
    - command:
      - /bin/bash
      - -c
      - |
        buildah from registry.access.redhat.com/rhel7.4
      image: docker-registry.default.svc:5000/cicd/im

[2017-11-07 01:38] domenicbove commented on #158
My goal is to use buildah and OpenScap to scan images built by OpenShift without doing Docker in Docker. The full pod script will look something like
[code]

[2017-11-07 13:12] TomSweeneyRedHat commented on #249
Fixed by #250, closing

[2017-11-07 13:12] #249 closed

[2017-11-07 14:06] rhatdan commented on #158
You will need two things.

First a newer version os skopeo-containers or at least add

[code]
to your /etc/containers/storage.conf

This tells the storage driver to ignore the kernel version, since the RHEL kernel has backported the fixes.

The second issue you will see is buildah can not use overlay on top of overlay.
To fix this you will need to volume mount in disk area on top of /var/lib/conta

[2017-11-07 15:20] TomSweeneyRedHat opened #312 "Can't 'buildah push' to dockerhub.com"
On a Fedora 26 VM updated to the latest with Buildah installed via `dnf install`, `buildah push` fails as noted below.  I wonder if dockerhub has converted to v2 and that's causing the issue?  This worked a month or so ago fwiw.

[code]

[2017-11-07 15:21] rhatdan commented on #312
@runcom @mitrmac PTAL

[2017-11-07 16:32] mtrmac commented on #312
[code]

Are you logged in, with write access to the repo? (I didn’t try this myself yet.)

[2017-11-07 16:39] TomSweeneyRedHat commented on #312
@mtrmac I thought I was logged in, but I wouldn't put it past me to not have been.  I'll double check.

[2017-11-07 16:41] mtrmac commented on #312
FWIW a
[code]
with a pre-existing `~/.docker/config.json` works for me.

[2017-11-07 16:56] TomSweeneyRedHat commented on #312
@mtrmac it was a login issue after all.  However in my little defence, I'd logged in using "docker login".  What I needed to do was "docker login docker.io".  But I thought that was the default if you didn't include a server?
I'm going to close this due to a somewhat silly user issue.  Thanks for the diagnosis.

[2017-11-07 16:56] #312 closed

[2017-11-07 17:02] mtrmac commented on #312
That’s the documented behavior in `docker-login(1)` at least.  But on Fedora 26, `docker login` sets up an entry for `registry.fedoraproject.org`, apparently without verifying the password at all.

Is that expected?

[2017-11-07 18:33] rhatdan commented on #312
We have changed the default in Fedora to go back to docker.io as the first registry, which should fix the confusion.

[2017-11-07 22:24] domenicbove commented on #158
Hi @rhatdan Thanks for getting back to me. Can you take a look at my [Repo](https://github.com/domenicbove/image-scanning)?

Here's my Dockerfile:
[code]

[2017-11-07 22:39] nalind opened #314 "Get tests for #294 running in CI"
Our current CI setup forces us to skip the test for labeling that we're adding in #294.  This is a note so that we don't forget to either get it running or make that functionality the storage library's problem.

[2017-11-07 22:40] rhatdan commented on #314
Basically we need to get the SELinux tests to happen outside of the container and on the host.

[2017-11-08 01:45] raffaelespazzoli commented on #158
@rhatdan I'm working with @domenicbove. We are using the following versions:
[code]
it wasn't clear where to put the `override_kernel_check = "true"` option in `/etc/containers/storage.conf` so we put it in both stanzas.

We are still getting the same error:
[code]
running `uname -a` from the container gives the following:
[code]

[2017-11-08 12:34] rhatdan commented on #158
@nalind WDYT?

What does
`buildah --debug from fedora`

Show?

[2017-11-08 12:35] rhatdan commented on #158
BTW I built buildah 0.5 yesterday.
It should be going into updates-testing for Fedora.

And I built one for RHEL in BREW.

[2017-11-08 12:56] raffaelespazzoli commented on #158
@rhatdan here is what `buildah --debug from fedora` shows:
[code]

[2017-11-08 13:08] rhatdan commented on #158
It looks like this version of buildah is not reading the config file.

Here is what I get with buildah 0.5
[code]

[2017-11-08 13:09] rhatdan commented on #158
[code]

[2017-11-08 13:13] rhatdan commented on #158
You could try

buildah --storage-opt overlay.override_kernel_check="true" from fedora

[2017-11-08 13:22] raffaelespazzoli commented on #158
I'm still getting the same result:
[code]

[2017-11-08 13:23] rhatdan commented on #158
@raffaelespazzoli Can you grab the latest buildah package to see if this fixes the issue?

[2017-11-08 13:41] raffaelespazzoli commented on #158
@rhatdan here it is:
[code]
still not working.
Is there a way to independent test if this kernel supports the overlay driver?

[2017-11-08 13:51] rhatdan commented on #158
What RHEL version are you running this on?  I think you need RHEL7.4 kernel?

[2017-11-08 13:52] rhatdan commented on #158
The code is looking at /proc/filesystem and searching for overlay?

[2017-11-08 14:02] raffaelespazzoli commented on #158
on the node (not the pod)
[code]
again on the node:
[code]
there is no overlay.

[2017-11-08 14:08] rhatdan commented on #158
Does
modprobe overlay
Add it?

[2017-11-08 14:08] rhatdan commented on #158
@rhvgoyal ???

[2017-11-08 14:18] vbatts commented on #158
[code]

[2017-11-08 14:22] raffaelespazzoli commented on #158
modprobe made the kernel load the driver.
After that buildah worked.
Thanks.
Is that expected that the driver is not mounted? if we have to run that command on every node every time they restart, it makes this approach unusable in a customer environment.

Also now that we have it working, I'd like to talk about security.
We are running that pod as privileged. Is that necessary?
To my understanding

[2017-11-08 14:34] rhatdan commented on #158
Well your Container runtime is most likely moving to Overlay as the default.  Even in the case that it is not, you could setup the host to automatically load the kernel module.

As far as buildah requiring SYS_ADMIN.  We are stuck with that for now.  We could tighten the security and only give the container SYS_ADMIN, still lock it down with the other security measures.  This is far more secure th

[2017-11-08 15:04] rhatdan commented on #274
We have now created github.com:projectatomic/libpod which containers the kpod tool.

[2017-11-10 10:12] #66 closed

[2017-11-13 12:54] glasvandrare opened #324 "buildah push: error locating image"
Hello!
I've discovered something a bit strange with the push command, for some reason it can't find the image when I use the ID Sha, but it works when I use the IMAGE NAME reference:

[code]

[code]
[code]

What am I missing? Isn't IMAGE ID supported as a reference, or is this a bug?

I'm running Ubuntu 16.04,
buildah version
Version:       0.5
Go Version:    go1.9
Image Spec:    1.0.0
Runtime Spe

[2017-11-13 13:49] TomSweeneyRedHat commented on #324
@glasvandrare thanks for the problem report!  I'm assuming that in your example the $ubuntu_image variable was set to your image's id '0a85c244f0fb'.  I tried to replicate the issue using an image id like '0a85c244f0fb' and had the same results as you did.

I believe this is a bug, but will have to check with @nalind.  If it's not a bug in the code, then the man page needs to be touched up and cla

[2017-11-14 07:13] glasvandrare commented on #324
Yes, exactly, and I didn't know if it was a documentation issue, or a functional issue (although I don't see why a reference couldn't be either IMAGE ID or IMAGE NAME).

[2017-11-16 19:07] rhatdan opened #326 "Buildah needs to be able to use containers pulled using kpod/cri-o."
kpod pull centos
buildah from centos
open /var/lib/containers/storage/overlay-containers/7c8a3e5865a0881b1a7c246e32b7373b81d7a87124ccfe7e359b3da1b4a1475d/userdata/buildah.json: no such file or directory

[2017-11-16 19:08] rhatdan commented on #326
@umohnani8 can you look at this.

[2017-11-16 19:12] umohnani8 commented on #326
I can replicate the issue also. It also fails when the image is not pulled prior to the command.

sudo buildah from alpine
Getting image source signatures
Copying blob sha256:b56ae66c29370df48e7377c8f9baa744a3958058a766793f821dadcb144a4647
 1.90 MiB / 1.90 MiB [======================================================] 0s
Copying config sha256:053cde6e8953ebd834df8f6382e68be83adb39bfc063e40b0fc61b4b3

[2017-11-16 20:32] TomSweeneyRedHat commented on #326
Hmm, working for me on an updated Fedora 26 after changing the "driver" to "overlay" in /etc/containers/storage.conf.
[code]

[2017-11-16 20:36] rhatdan commented on #326
I have a PR for this, the issue happens when you create a container using kpod or cri-o, we need to ignore these containers for now, and eventually build understanding into buildah to be able to reserve their SELinux labels.

[2017-11-16 20:36] rhatdan commented on #326
https://github.com/projectatomic/buildah/pull/327 should fix this issue.

[2017-11-16 21:14] nalind commented on #326
Closing by #327.

[2017-11-16 21:14] #326 closed

[2017-11-21 05:47] gouyang opened #329 "bud: Failed to connect to bus: No such file or directory"
Docker build with below Dockerfile is fine, buildah bud with below Dockerfile failed.

The last few lines are
[code]

[code]

[2017-11-21 15:17] rhatdan commented on #329
@TomSweeneyRedHat Is this the SELinux issue we just found?

@gouyang could you try with `setenforce 0`

You need an updated container-selinux if this succeeds.
container-selinux-2.33.

[2017-11-21 15:26] TomSweeneyRedHat commented on #329
@rhatdan this has the looks of that container-selinux issue.  @gouyang which versions of Buildah and Fedora were you running on?

[2017-11-21 16:29] TomSweeneyRedHat commented on #329
FWIW, I tested this with Fedora 27 and Buildah 0.4 and this ran without an issue.  However on Buildah 0.7 I ran into the container-selinux issue.  However the footprint was slightly different than what I see here.

[2017-11-21 16:35] TomSweeneyRedHat commented on #329
Should have included the error that I was seeing:

[code]

@gouyang were you running Buildah 0.5 or 0.7?

[2017-11-21 17:10] grafarg commented on #324
I ran into the same issue based on instructions from the `man buildah-push`. Note the SYNOPSIS reference to `imageID` (not `imageName`).

`buildah-push"1"(June 2017)                                                             buildah-push"1"(June 2017)

NAME
       buildah push - Push an image from local storage to elsewhere.

SYNOPSIS
       buildah push [options [...]] imageID [destination]
`

[2017-11-21 18:05] rhatdan commented on #329
buildah 0.7 has SELinux support whereas 0.4 did not.

[2017-11-21 18:06] rhatdan commented on #329
If you have container-selinux-2.33 you should be fine.  You will need to restorecon -R -v /var/lib/containers or rm -rf /var/lib/containers.

BTW Give karma to the buildah/container-selinux release if it works for you.

[2017-11-22 00:39] gouyang commented on #329
Run buildah 0.4 on Fedora 27 even with selinux enable is okay.

Run buildha 0.7 built from master on Fedora 26 with selinux disable is not okay, after install container-selinux-2.33 from updates-testing repo, it works finally.

[2017-11-22 04:34] TomSweeneyRedHat commented on #329
@gouyang Thanks for the info and the extra testing!

[2017-11-22 04:34] #329 closed

[2017-11-22 19:18] bertinatto opened #334 "Error on `buildah run` (version 0.8)"
Hi,

I am getting an error when I execute `buildah run`. I hadn't seen this in happening in 0.7.

Here is how I reproduce it:

[code]

As we can see, I was able to `run` my command in the second attempt.

Thanks!

[2017-11-22 19:53] TomSweeneyRedHat commented on #334
@bertinatto Thanks for the problem report.  Just to make sure I have this right, you've run "buildah run" and it failed then you did the same "buildah run" and it worked?

Are you able to do 'journalctl | less' and see any related errors or avc's?  If so could you add them to this issue?

Does the fail then work strategy hold for all containers?

Finally, which operating system were you running on

[2017-11-23 07:21] bertinatto commented on #334
Thanks for replying @TomSweeneyRedHat.

That's exactly right.

Not sure if I understand correctly, but the problem still happens if I create another container. The `run` command only succeeds in the second attempt.

Fedora 26.

I'm currently using tip:

[code]

Of course, sorry for missing this.

I just reproduced the problem following the same steps:

[code]

And this time I collected the logs wi

[2017-11-23 11:33] rhatdan commented on #334
Are you sure the first one is not working, or you are not getting a # prompt.

Try to execute buildah run ls /

[2017-11-23 13:52] bertinatto commented on #334
I created a new container and  tried to run `ls /` in it. Got the same results:

[code]

Also, this error seems to be happening with this specific image. I just tried with a different image and it worked:

[code]

[2017-11-27 17:17] TomSweeneyRedHat commented on #324
I think a similar fix to what @baude did recently in kpod at: https://github.com/projectatomic/libpod/pull/76 would do the trick.

[2017-11-27 17:24] rhatdan commented on #324
@TomSweeneyRedHat Could you open a PR.

[2017-11-27 17:31] TomSweeneyRedHat commented on #324
Will do.

[2017-11-28 08:39] gouyang opened #337 "Buildah bud fails with permission denied on /var/log/dnf.log"
[code]

Dockerfile
[code]

If setenforce to 0, it works.

[2017-11-28 11:04] gouyang commented on #337
Just reproduce it in a new host, build version is buildah-0.5-2.gitf7dc659.fc27.x86_64.

[2017-11-28 12:08] TomSweeneyRedHat commented on #337
Thanks for the issue report @gouyang.  This is a recently discovered issue that I should have noted here but did not.  @rhatdan has a fix that I think is in the 0.8 kit, if not it will be in a new kit shortly.

[2017-11-28 14:10] rhatdan commented on #337
@gouyang could you attempt this with buildah-1.8 now in updates-testing.

dnf update --enablerepo=updates-testing buildah

If it works could you update karma. Should be released in the next couple of days.

[2017-11-28 18:25] ipbabble opened #338 "buildah push fails with latest docker registry image"
I had buildah push working with buildah version 0.5 on F27 with a September version of the private docker registry that was run using buildah run.

i.e.
shell 1)  buildah --debug run $registry
shell 2) buildah push --tls-verify false fedora docker://localhost:5000/fedora:latest

However later:
Updated my registry and both 0.5 and 0.8 failed:
[root@localhost whenry]# buildah -v
buildah version 0.8

[2017-11-28 18:42] ipbabble commented on #338
More info using ausearch -m avc -ts today

Just the last of six attempt outputs:
----
time->Tue Nov 28 10:52:50 2017
type=AVC msg=audit(1511891570.475:274): avc:  denied  { create } for  pid=1328 comm="registry" name="docker" scontext=system_u:system_r:container_t:s0:c657,c731 tcontext=system_u:object_r:container_var_lib_t:s0 tclass=dir permissive=0

[2017-11-28 18:49] ipbabble commented on #338
After I did a restorecon -R -v /var/lib/containers and did another attempt I got this from ausearch -m avc

time->Tue Nov 28 11:43:56 2017
type=AVC msg=audit(1511894636.293:359): avc:  denied  { read } for  pid=2236 comm="registry" name="link" dev="dm-0" ino=162171 scontext=system_u:system_r:container_t:s0:c657,c731 tcontext=system_u:object_r:container_var_lib_t:s0 tclass=file permissive=0

[2017-11-28 18:51] ipbabble commented on #338
FYI

# restorecon -R -v /var/lib/containers
/var/lib/containers/storage/overlay/e829cd7170ec153c172382b4bd728d31bf9871f0cbe58c6e05f4065eb53d360e/diff/etc not reset as customized by admin to system_u:object_r:container_file_t:s0:c657,c731
/var/lib/containers/storage/overlay/e829cd7170ec153c172382b4bd728d31bf9871f0cbe58c6e05f4065eb53d360e/diff/etc/resolv.conf not reset as customized by admin to syst

[2017-11-29 03:28] gouyang commented on #337
The issue is fixed in buildah-0.8-1.gitbf40000.fc27.x86_64

[2017-11-29 13:22] #337 closed

[2017-12-01 10:41] bertinatto opened #343 "Can't see files copied into container"
Hi,

It's not possible to see the files copied into `/var/www/html`. This directory specifically is a volume:

https://github.com/docker-library/wordpress/blob/master/Dockerfile-debian.template#L28

How to reproduce the issue:

[code]

Some details:

* If I `buildah commit` the container and use `docker run` to check the images's content, I can see the files there.

* This is what I see in `journa

[2017-12-01 14:04] rhatdan commented on #343
We know we have an SELinux issue with buildah 1.8 which prevents writing to the volume.  But I would not expect any content written to the volume to show up in the image?

[2017-12-01 14:04] rhatdan commented on #343
We know we have an SELinux issue with buildah 1.8 which prevents writing to the volume.  But I would not expect any content written to the volume to show up in the image?

[2017-12-01 14:05] rhatdan commented on #343
@nalind PTAL

[2017-12-01 15:43] mskarbek opened #344 "Default in `--storage-opt` brakes changing storrage driver"
I'd like to change `overlay` to `zfs` as my storage driver but in my current version (0.5-2.gitf7dc659.fc27) buildah sets default value to `storage-opt` and doesn't allow resetting that to an empty string (https://github.com/projectatomic/buildah/blob/f7dc659/cmd/buildah/common.go#L33) - that breaks choosing different storage driver.
[code]

[2017-12-01 18:45] mskarbek commented on #344
Apparently I'm not able to read documentation properly. Closing.

[2017-12-01 18:45] #344 closed

[2017-12-01 18:46] TomSweeneyRedHat commented on #344
@mskarbek sorry for not getting to this sooner, but am glad to hear you figured it out!

[2017-12-04 18:11] TomSweeneyRedHat commented on #324
Fixed via #341.  @glasvandrare if you find that's not the case in your testing, please let us know.  Thanks for the report, much appreciated!

[2017-12-04 18:11] #324 closed

[2017-12-04 21:25] vbatts opened #347 "hospitable README"
could the buildah README.md have some copy paste example on running it, rather than so much build instructions?
it would seem much more useful to people searching for it and just giving it a 10second review
like, at first glance i would be 10x more likely to use/try a project if the README showed how it makes my life easier but having 5 pastes of compile instructions is a deterrent

[2017-12-04 21:26] nalind commented on #347
As it gets easier to find binary packages, this'll probably be more relevant to people who are interested in trying it out.

[2017-12-05 18:40] #347 closed

[2017-12-07 01:50] #338 closed

[2017-12-07 14:57] ripcurld0 commented on #254
calling #dibs

[2017-12-07 15:11] rhatdan commented on #254
Its yours.

[2017-12-07 15:20] TomSweeneyRedHat commented on #254
Tried to assign this to ripculd0, but he's not showing on the list.  Did my whitelist not take this morning or do we need to do something else to get him on the list of potential assignees?

[2017-12-07 15:31] rhatdan commented on #254
Did you do that on this Repo?

[2017-12-07 15:40] TomSweeneyRedHat commented on #254
I did the whitelist on his true/false combined commit earlier this morn.

[2017-12-08 23:14] gouyang opened #352 "buildah from don't need authentication"
[code]

[2017-12-08 23:40] TomSweeneyRedHat commented on #352
Thanks for the issue @gouyang.   Is the docker.io/gouyang/busybox repository on dockerhub.com and is it set to be private or public?  I think the public repository will let you do a read (pull/from) but not a write (push).  Are you able to use docker pull successfully without logging in too?  Sorry, didn't think about this earlier today.

[2017-12-08 23:50] TomSweeneyRedHat opened #353 "runc issues with Buildah when running a registry on Fedora 27"
When running a registry with Buildah on Fedora 27, runc errors are popping up.  It appears we need a new version of runc on Fedora 27 as there is no issue if you clone/build runc, but installed versions including the latest update don't appear to work.

Email from @rossturk follows forwarded by @ipbabble

Hey Ross,

Thanks for the testing.  I'll touch base with Dan next week to see what's what wit

[2017-12-10 12:43] rhatdan commented on #353
Rebuilding latest runc from upstream.

runc-1.0.0-13.rc4.git1d3ab6d

[2017-12-10 12:53] rhatdan commented on #353
Please test and update Karma

[2017-12-10 12:53] #353 closed

[2017-12-10 12:53] rhatdan commented on #353
https://bodhi.fedoraproject.org/updates/FEDORA-2017-3676a27a48

[2017-12-11 03:22] gouyang commented on #352
docker pull the image is successfully without login as well.

[2017-12-11 17:11] anarcat opened #355 "runc not installed in Ubuntu install process"
After following the Ubuntu instructions (or, really, the modified instructions for Debian in #354), I have found that I cannot actually build containers that require the `RUN` command:

[code]

The Dockerfile is available in [this repository](https://github.com/anarcat/subsonic-docker-image/tree/airsonic) but I doubt it is Dockerfile-specific: obviously, the install process I followed does not ins

[2017-12-11 18:01] anarcat commented on #355
okay, i'll figure something out in #354 for debian at least then...

[2017-12-11 18:10] anarcat commented on #355
fix proposed in af8aa13 as part of #354.

[2017-12-12 14:45] anarcat commented on #243
i think this should probably be closed, considering #244 is merged and #354 is pending.

[2017-12-12 14:50] nalind commented on #243
Makes sense to me.  Closing.

[2017-12-12 14:50] #243 closed

[2017-12-12 15:53] anarcat opened #356 "buildah run works with symbolic image names but not hex"
This works:

    root@curie:~# buildah from docker.io/anarcat/debian-airsonic:latest
    debian-airsonic-working-container-2

But this doesn't:

    root@curie:~# buildah from e87186c3d14
    error pulling image "docker.io/library/e87186c3d14:latest": Error initializing image from source docker://e87186c3d14:latest: errors:
    denied: requested access to the resource is denied
    unauthorized: a

[2017-12-12 16:03] TomSweeneyRedHat commented on #356
@anarcat which version of Buildah?  I think this is fixed in 0.9, a very recent release on Fedora.

[2017-12-12 16:18] anarcat commented on #356
this is from most recent git:

[code]

... which, i believe, includes the 0.9 changes, regardless what what describe says.

[2017-12-12 16:33] TomSweeneyRedHat commented on #356
@anarcat well drats, so much for the quick update fix.  I'll try playing with it this afternoon.

[2017-12-13 00:25] TomSweeneyRedHat commented on #356
@anarcat.  I see the problem.  I'd this issue mixed up with the same issue that we just fixed for buildah push.  This from issue might be cured with #187, but I've not tested that yet.  Need to do so.  I also have a thought about a possible shorter term fix, will look at that in the morn.  Will keep you posted.

[2017-12-13 09:26] goern opened #358 "support Buildahfile [good_first_pr]"
Start using Buildahfile rather than Dockerfile when executing `buildah bud`. Adding `build-using-buildahfile` is just consequent...

[2017-12-13 11:22] TomSweeneyRedHat commented on #356
I did not mean to close this.

[2017-12-13 12:38] rhatdan commented on #358
What exactly is a buildahfile?  Not sure we want to confuse the market. Dockerfile is a standard syntax.  The only other syntax I want to use for building container images is the "bash shell" format.

[2017-12-13 12:38] #355 closed

[2017-12-13 12:43] rhatdan commented on #356
@nalind WDYT?

[2017-12-13 13:52] nalind commented on #356
It's not fixed in the current iteration of #187, so if we have a fix that can be merged before that, it would be a good idea.

[2017-12-14 15:32] redbaron commented on #158
" It currently needs SYS_ADMIN in order to mount the filesystems and to run the proceses of the build in separate containers."

Do you think it is technically feasible to support build mode where commands are executed in the chroot, not in a dedicated mount namespace? This would require no SYS_ADMIN support, which together with VFS storage driver would make it possible to run buildah in a quite re

[2017-12-14 16:47] rhatdan commented on #158
We have thought about this, but have not had time to work on it yet.  We would have to make the RUN command not attempt to use runc but to run in a chroot as well.  runc requires SYS_ADMIN to setup namespaces.

[2017-12-14 18:13] redbaron commented on #158
Looking into it further, even before RUN , when it is unpacking `FROM`, it is choosing https://github.com/projectatomic/buildah/blob/8ecefa9/vendor/github.com/containers/storage/pkg/chrootarchive/chroot_linux.go#L20 over https://github.com/projectatomic/buildah/blob/8ecefa978ce56f5716acecf95da6b57866d03c9d/vendor/github.com/containers/storage/pkg/chrootarchive/chroot_unix.go#L7

I'll try to prepar

[2017-12-15 02:51] gouyang opened #362 "too many arguments specified when specify -t and -f in inspect command"
[code]

if put `-f` after `-t`, it works.

[code]

[2017-12-15 02:54] gouyang opened #363 "Add function `string` to format the output"
[code]
The ouput are bytes, try the function `string` is not defined.
[code]

I think maybe not only add `string`, please consider add a few functions just like docker format does.
https://docs.docker.com/engine/admin/formatting/

[2017-12-15 02:59] gouyang commented on #362
[code]

kpod works well

[2017-12-15 10:18] redbaron commented on #158
Hmm, for chroot commands to work reliably , you'd need to have /dev and /proc mounted inside chroot environment, but calling `mount` requires CAP_SYS_ADMIN, which defeats whole purpose of this excersise. @rhatdan any ideas for workarounds? How does fedora `mock` tool is building chroot envs when invoked from regular user? Possibly can do something with filesystem capabilities on `mount` binary its

[2017-12-15 12:27] rhatdan commented on #362
The arguments to inspect have to be  befoe the image/container argument.

[2017-12-15 14:13] rhatdan commented on #158
mock uses consolehelper which then users userhelper which is setuid.
ls -l /usr/bin/mock /usr/bin/consolehelper /usr/sbin/userhelper
-rwxr-xr-x. 1 root root  7136 Aug  4 22:04 /usr/bin/consolehelper
lrwxrwxrwx. 1 root root    13 Oct 31 16:25 /usr/bin/mock -> consolehelper
-rws--x--x. 1 root root 40352 Aug  4 22:04 /usr/sbin/userhelper

[2017-12-15 14:26] TomSweeneyRedHat commented on #356
Fixed with the #360.  Not in a kit yet, but can be retrieved via a GitHub clone.
[code]

[2017-12-15 14:26] #356 closed

[2017-12-15 14:27] TomSweeneyRedHat commented on #356
@anarcat please reopen if you find differently and thank you for the issue report!

[2017-12-15 14:31] TomSweeneyRedHat opened #365 "`buildah from` error - does not resolve to an image ID"
When run a number of different 'buildah from' commands I'm seeing the below error on each one.  The from commands all seem to complete OK, but each has the error.

[code]

[2017-12-15 14:48] rhatdan commented on #356
Getting near time we build a buildah 1.10?

[2017-12-15 14:51] TomSweeneyRedHat commented on #356
I think we should hold until #365 is fixed, then yes as we've had a number of good improvements.

[2017-12-15 14:53] rhatdan commented on #365
Yes @nalind has a PR up for containers/image to stop blabing at Errorf when this happens and move it down to Debugf.
https://github.com/containers/image/pull/393

Looks like it is merged, will update the buildah to use latest containers/image.

[2017-12-15 15:05] nalind commented on #365
#366 should include that change here.

[2017-12-15 18:14] #365 closed

[2017-12-15 19:06] TomSweeneyRedHat commented on #365
Just ran the Baseline tests against the latest/greatest and no more errors.  Looks good!

[2017-12-18 13:30] ripcurld0 commented on #363
I believe this should be automatically be a string w/o using any special function.
The output is in `[]byte` because [`Config` is `[]byte`](https://github.com/projectatomic/buildah/blob/master/buildah.go#L69).

Probably the easiest way to fix this is to change `Config` to `ConfigByte` and create `Config` as a string.

[2017-12-19 18:55] ashcrow commented on #158
Related: https://pagure.io/atomic-wg/issue/402

[2017-12-20 12:38] ripcurld0 commented on #363
Closing this, fixed in #368.
Thank @gouyang for reporting this.

[2017-12-20 12:38] #363 closed

[2017-12-23 21:15] ripcurld0 commented on #362
Hi @gouyang

I am closing this as this is not an issue with `buildah`.
Running `buildah inspect -h` does specify the order of the argument and so as @rhatdan explained the `-f` option should be before the `IMAGE` or the `CONTAINER` argument:

[code]

Thank you so much for reporting this.

[2017-12-23 21:15] #362 closed

[2017-12-26 22:55] TomSweeneyRedHat opened #371 "Whale Dockerfile causes non-empty layers error"
The Dockerfile:
[code]

When used by Buildah to create an image and then that image is pushed by Buildah to Docker Hub and then pulled from there by "docker run" doesn't run.  It shows the error:

[code]

If the image is created by Buildah and pushed it can be run by Buildah.  If the image is created by Docker and pushed by Docker, it can be run by Docker.

More details in the following e-mails

M

[2018-01-01 10:40] ripcurld0 commented on #232
@jberkus unless you didn't commit the current container, you can't tell its size.
Thus to see the size of the containers you have to do `buildah commit CONTAINER IMAGE` and then `buildah images | grep IMAGE`.

[2018-01-01 15:14] ripcurld0 commented on #274
I'm closing this as this is out of the project's scope.
As @rhatdan said feel free to use either [libpod](http://github.com/projectatomic/libpod) or [cri-o](https://github.com/kubernetes-incubator/cri-o) for that.

[2018-01-01 15:14] #274 closed

[2018-01-01 15:29] ripcurld0 commented on #223
ping @nalind - can I close this ticket as https://github.com/containers/image/pull/305 fixes it?

[2018-01-01 15:35] ripcurld0 commented on #240
I guess mentioning this in `README.md` is good enough for closing this ticket, unless you have a better idea.

[2018-01-01 15:38] ripcurld0 commented on #254
Should we merge https://github.com/containers/image/pull/390?
If not I can solve it in a different way.

@TomSweeneyRedHat @rhatdan what do you say?

[2018-01-01 15:41] ripcurld0 commented on #259
Thanks @Silvanoc and @nalind
Closing the ticket now.

[2018-01-01 15:41] #259 closed

[2018-01-01 15:44] ripcurld0 commented on #292
I'm closing ticket as #297 fixes this problem.

[2018-01-01 15:44] #292 closed

[2018-01-01 17:10] ripcurld0 commented on #358
ping @goern can you address @rhatdan question, please?
😃

[2018-01-01 17:40] ripcurld0 commented on #242
@rhatdan @TomSweeneyRedHat should we support this in `buildah bud`?

[2018-01-02 05:48] gouyang commented on #223
Tested it, the problem goes alway
[code]

[2018-01-02 05:48] #223 closed

[2018-01-02 08:07] ripcurld0 commented on #223
thanks @gouyang

[2018-01-02 13:09] rhatdan commented on #254
Lets get 390 merged.

[2018-01-02 13:10] rhatdan commented on #358
I think we can close this issue.

[2018-01-02 13:10] #358 closed

[2018-01-02 13:11] rhatdan commented on #242
Yes, we plan to add this feature in the future.
@nalind Correct?

[2018-01-02 14:49] TomSweeneyRedHat commented on #232
I'm going to close this as I believe #ripculd0 is right, the 'buildah images' command now shows the image size as of the merge of #155.    Example output below.  @jberkus if this doesn't address your concern, please reopen this issue.

[code]

[2018-01-02 14:49] #232 closed

[2018-01-02 16:39] nalind commented on #242
@rhatdan Yup.  It'll take some work in the imagebuilder library, which we use to "drive" the bud command, first.

[2018-01-02 17:59] TomSweeneyRedHat commented on #240
#372 should fix this.

[2018-01-02 20:29] jberkus commented on #232
LGTM, thanks.

[2018-01-02 22:06] smarterclayton opened #373 "Support build from context tar.gz file"
For the OpenShift build proxy support I made a few changes to imagebuilder to support a getting build context from a tar.gz file instead of a directory (to preserve exact permissions).

I'd like buildah to support a source tar.gz file (either via `-` as the build context like Docker or as a direct path to the file), and then leverage the latest changes in imagebuilder in https://github.com/openshi

[2018-01-02 22:17] smarterclayton opened #374 "Failure to build image in 0.10-2"
CentOS 7.4

[code]

Attempted to build https://github.com/openshift/release projects/origin-release/base with buildah bud, got this repeatable failure when trying to commit

[code]

Other containers were able to commit.  What debugging info can I provide (is 100% reproducible)

[2018-01-02 22:27] smarterclayton opened #375 "buildah cannot execute commands inside other runc containers?"
It appears that buildah is limited to working on containers it creates itself.  One direction we are considering for the OpenShift build side is to execute builds only within containers created by the existing runtime (crio or docker).  Can buildah perform commands against other containers, and if not, what would it take to support that?

[2018-01-02 22:30] smarterclayton opened #376 "No way to constrain buildah execution to cgroups, existing network namespaces?"
I was unable to find this (it might be there), but it appears that there is no way to run a buildah command against an existing network namespace or existing cgroup, which is a blocker for use with OpenShift (note that we'd likely also need more fine grained control over execution for other namespaces as well, and #375 is the other direction we might go).

What limits are there to supporting that,

[2018-01-03 12:57] rhatdan commented on #375
Not sure how this would work.  Theoretically buildah should be able to work with CRI-O Containers since they are using the same storage back end.  Buildah would have to learn how to do this, but this seems like a nice feature.    Do you just want to do a `buildah run` command and `buildah commit` or all other commands.

Getting this to work with Docker containers would be more difficult, it could

[2018-01-03 12:59] rhatdan commented on #376
It would seem that most of this could be done simply by adding the options --cgroup and --NAMESPACE handling that we have in podman

[2018-01-03 13:40] TomSweeneyRedHat commented on #240
Closing, fixed with #372

[2018-01-03 13:40] #240 closed

[2018-01-03 13:48] itaysk commented on #158
Just want to +1. We could really use an unprivileged alternative for docker build

[2018-01-03 17:09] nalind commented on #374
Can you attach the full output from 'buildah images' followed by 'buildah --debug bud ...'?  That'll tell us whether blob `sha256:e9c4879b5b6b53531b4585f3c5d0bb54784b77560612a1c186eb7af94d9a14dc` was downloaded and stored by buildah, or by something else that ran before it.
If it is a layer that was pulled down by a different package which was built using older versions of the storage or image lib

[2018-01-03 17:35] redbaron commented on #158
`chroot` doesn't require any extra privileges, but for commands to work inside chroot , there must be /proc and /sys mounted, executing `mount` requiers CAP_SYS_ADMIN. No amount of suid bits on any binary  or `sefcap` would allow you to raise privileges beyond what container allows you. This means that container needs to be CAP_SYS_ADMIN and we are at the square 1.

For it to work, system, which r

[2018-01-03 19:17] rhatdan commented on #158
One potential less secure short term fix would be to use SECCOMP along with SYS_ADMIN. and only allow Mount and unshare syscalls, blocking others that are allowed with by SYS_ADMIN.  Not sure if we can do a great job breaking this down, but it would be more secure then just allowing SYS_ADMIN.

[2018-01-03 19:56] smarterclayton commented on #374
Just remove from /var/run/containers/storage and
/var/lib/containers/storage be cleaned up?

On Wed, Jan 3, 2018 at 12:09 PM, Nalin Dahyabhai <notifications@github.com>
wrote:

[2018-01-03 20:01] smarterclayton commented on #375
The two things I could imagine would be:

1. committing a running cri-o / runc container image (something using container/storage)
2. running could be done via `runc enter`

Being able to commit an existing container into an image would probably sufficient by itself (all the others can be implemented other ways).

[2018-01-03 22:15] nalind commented on #374
If no container filesystems are mounted up, that's fine.  Alternately, something like `buildah containers -q | xargs buildah rm` followed by `buildah images -q | xargs buildah rmi` would also work.

[2018-01-04 08:05] redbaron commented on #158
I settled on a remote docker build daemon running in privileged container and available over TCP to CI job scripts. It allows CI jobs to run in unprivileged container and execute builds in unprivileged containers (docker build ...)so no user submitted code is executed in privileged mode. Docker daemon has authorization plugin enabled to allow build commands only and not run commands. It is still n

[2018-01-04 08:08] mariusgrigoriu commented on #158
Not intending to troll, but that's why [Docker Rules for Bazel](https://github.com/bazelbuild/rules_docker) were written

[2018-01-04 10:38] redbaron commented on #158
I saw them, correct me if I am wrong, but they are not allowing to have analogue  of  `RUN apt-get update && apt-get install -y ...`, right? Bazel is build system which can package results as a docker compatible image, thats is not like for like to what we try to do here

[2018-01-04 13:29] rhatdan commented on #375
Once we have the three tools integrated into libpod, we should be able to podman commit or buildah commit the container into an image.

[2018-01-04 15:02] rhatdan commented on #374
We've added flags -a to `podman rm -a` and `podman rmi -a`, we should add similar to buildah, since this is a common enough command sequence.
@TomSweeneyRedHat Could you take a quick look at doing this?

[2018-01-04 15:07] TomSweeneyRedHat commented on #374
@rhatdan will do

[2018-01-08 14:45] lukasheinrich opened #386 "rootless builds using buildah"
we're looking to build images in an environment that restricts user's permissions  (shared cluster at CERN) and are investigating building images using tools like skopeo / umoci / runc (i.e. a similar to what https://github.com/cyphar/orca-build is doing). From previous issues, (https://github.com/projectatomic/buildah/issues/287) it seems like rootless builds are not possible yet -- or has the si

[2018-01-08 14:48] rhatdan commented on #386
I believe you might be able to do things with usernamespace, but Buildah can not do it yet.  I have no idea of umoci can do it yet with a normal workflow.  This big issue is the inability to mount even in a User Namespace environment.

[2018-01-08 14:48] rhatdan commented on #386
@cyphars can you build container images in a rootless environment using umoci?

[2018-01-08 14:53] lukasheinrich commented on #386
Thanks for the quick reply. From @cyphar's work it seems like it is possible, but I wasn't sure what `orca-build`'s long-term plans are  -- being a hackweek project and all -- and buildah seemed like a natural home for such a feature if it's implementable.

[2018-01-08 15:40] cyphar commented on #386
Yes, `umoci` has rootless support out-of-the-box. It doesn't use user namespaces, so it works on effectively any kernel (though with the new capabilities v3 bits, it might be necessary to figure out whether we can make setcap work properly).

@lukasheinrich As for `orca-build`, at the moment it is on my backlog to update it but my hands are quite full with a few other projects. I do plan to actual

[2018-01-08 16:00] rhatdan commented on #386
@lukasheinrich @cyphar I would love to see if we could merge some of the ideas together between the two.

[2018-01-08 20:03] lukasheinrich commented on #386
unfortunately I have not much bandwidth to take on new responsibilities -- but I'm definitely happy to be involved in the discussions. I also noticed that some try to do "rootless build based on runc" also with buildkit buildkit (@AkihiroSuda -- https://github.com/moby/buildkit/issues/210) -- though I must admit, I'm lacking some basics on how these different approaches are different / fit togethe

[2018-01-08 22:04] nalind commented on #375
buildah can "commit" a cri-o container's root filesystem today.  Sure, you end up with an image whose runtime configuration is what was inherited from the image that was used to create the container, but sometimes that's enough.

Specifying which container you mean to do that with is a bit complicated because the name stored with the container at the level that `buildah` sees it is not the value w

[2018-01-08 22:28] nalind commented on #376
![](https://github.trello.services/images/mini-trello-icon.png) [[buildah] Add --cgroup-parent and namespace options](https://trello.com/c/mq05gPYd/749-buildah-add-cgroup-parent-and-namespace-options)

[2018-01-09 00:23] AkihiroSuda commented on #386
My WIP rootless runtime is here : https://github.com/AkihiroSuda/runrootless

[2018-01-09 00:34] lukasheinrich commented on #386
Hi @AkihiroSuda -- my understanding was that runc already supports running rootless. What I thought was thinking about was the ability to build new images (e.g. from formats like Dockerfiles) in rootless mode -- which is what orca-build does)

[2018-01-09 03:41] cyphar commented on #386
@lukasheinrich `runc` does already work with rootless, but @AkihiroSuda's project basically combines `runc` with PRoot. This works around the "`apt-get` doesn't work in rootless containers" problem that I mention in my [rootless talk](https://youtu.be/r6EcUyamu94?t=1145). I also have a similar project called [`remainroot`](https://github.com/cyphar/remainroot) which you could use with rootless con

[2018-01-09 03:58] AkihiroSuda commented on #386
Yes, https://github.com/AkihiroSuda/runrootless/issues/1

[2018-01-09 13:41] ianmiell commented on #171
Hi all, this would be invaluable for us. The ability to build images without root access would solve a huge problem for us.

If memory serves, SYS_ADMIN is a hack^H^H^H^H catch-all capability that's not very fine grained. If anyone wants to collaborate/commandeer me I'd be interested in pursuing this. Powerbroker is another option we use to control acccess to specific commands.

[2018-01-15 02:30] gouyang opened #390 "Cannot push image to ostree"
it's a regression issue as it works before.

[code]

[2018-01-15 15:10] giuseppe commented on #390
it is addressed in https://github.com/containers/image/pull/401 by: "ostree: use archive.DecompressStream instead of gzip.NewReader"

[2018-01-16 18:26] giuseppe commented on #390
this can be closed as of https://github.com/projectatomic/buildah/pull/393

[2018-01-16 18:27] ripcurld0 commented on #390
Thanks @gouyang and @giuseppe

[2018-01-16 18:27] #390 closed

[2018-01-17 00:13] gouyang opened #396 "buildah from image create unexpected container name"
It should create container name `busybox2-working-container` rather than the name `busybox-working-container-4`.

[code]

[2018-01-17 07:18] ripcurld0 commented on #396
Hi @gouyang
I tried to reproduce it but unsuccessfully.

Here are my steps:
[code]

Can you describe your steps, please?

Thanks.

[2018-01-17 13:56] ripcurld0 commented on #254
Closing.
#385 and #393 were merged and are solving this problem.

[code]

[2018-01-17 13:56] #254 closed

[2018-01-17 23:51] gouyang commented on #396
It works for the committed images, which I don't cover in the test, I will add a test for it.
It fails for the tagged images, steps like below. The problem happens recently as it works before, it works on buildah-0.9.

[code]

[2018-01-18 00:19] TomSweeneyRedHat commented on #396
@gouyang tyvm for the reproducer!

[2018-01-18 01:53] gouyang opened #398 "`buildah rm --all` cannot be executed via ansible command"
ansible command `command: buildah rm --all` or `command: buildah rm -a` cannot be executed.

Tested similar command like `buildah images -q` can be executed in ansible.

[code]

[code]

[2018-01-18 09:49] gouyang commented on #398
the buildah version is not latest, test it works on the master.

[2018-01-18 09:49] #398 closed

[2018-01-18 10:39] ripcurld0 commented on #396
It looks like when running `buildah commit` the image gets a new image ID while tag keeps the same image ID. When `buildah from` is being executed it generates the name from `FromImage` in the `Builder` structure.

If the image is a tag then the `FromImage` will contain the original image. Otherwise, it will be the name given in `buildah commit`.

I think I can work on this, if you don't mind.

[2018-01-18 10:43] ripcurld0 commented on #398
thanks @gouyang for checking that out.
BTW, is there a way to get these ansible scripts?

[2018-01-18 12:02] TomSweeneyRedHat commented on #398
@gouyang thanks for the diagnosis!  That's correct, that rm/rmi -all functionality is only on GitHub master at the moment.  But it is winding it's way through the Fedora kit process and should be in the Buildah 0.11 kit.

[2018-01-18 12:09] rhatdan commented on #396
GO for it.

[2018-01-18 12:15] rhatdan commented on #398
buildah-0.11 was released this week.  Needs one more karma to get out of updates-testing.  I have also built it for the next RHEL release.  I  have asked for it to be built for Centos and Ubuntu.

[2018-01-18 23:14] TomSweeneyRedHat opened #401 "Incorrect error with from --creds un:pwd when creds are invalid"
**Description**

buildah pull from --creds un:pwd gives a bad error message when the creds are invalid.  Rather than showing an error in the creds, it says image not found.

**Steps to reproduce the issue:**
1.  Setup a private repository with credentials
2.  push an image to it
3.  pull image with creds that are incorrect.

You can use https://raw.githubusercontent.com/projectatomic/buildah/maste

[2018-01-18 23:38] gouyang commented on #398
@ripcurld0 The scripts can be getting here: https://upstreamfirst.fedorainfracloud.org/buildah

[2018-01-20 01:38] gouyang commented on #401
See the same issue on the master

[2018-01-20 01:48] gouyang opened #402 "Miss authfile option for 'buildah commit'"
There is an authfile option for `buildah from` and `buildah push`, but it's missed for `buildah commit`.

[2018-01-20 01:55] gouyang opened #403 "Miss cert-dir and creds option for `buildah bud`"
It looks that if the command is operating with a registry, it have options `authfile`, `cert-dir`, `creds` and `tls-verify`. So I think `cert-dir` and `creds` options need to add to `buildah bud` as well.

[2018-01-21 14:39] lukasheinrich commented on #386
@rhatdan just do get more understanding how you see the projects fitting together: are you mostly aiming for buildah/orca-build to be an alternative syntax to Dockerfiles (that could possibly compile to LLB, and then be built with a (rootless) buildkit) or a OCI image building tool that's independent of buildkit

[2018-01-21 15:42] ripcurld0 commented on #403
Hi @gouyang I am not sure what are the differences among these options so I am going to ping @TomSweeneyRedHat @nalind

Thanks.

[2018-01-22 15:05] rhatdan commented on #386
My goal is that our tools support to formats for building container images.  Dockerfile and straight Bash.  I don't want to support other formats.  I would not say buildah is an alternate syntax other then to say it is just a Bash script with a few primatives used to create the images.  I would want higher level tools like ansible to wrap up the functionality of buildah to support different ways o

[2018-01-23 14:09] ripcurld0 commented on #401
@TomSweeneyRedHat when I run `/bin/bash -v tests/test_buildah_authentication.sh` the registry is not running. Doing `docker logs registry` prints the following:
[code]

[2018-01-23 14:17] TomSweeneyRedHat commented on #401
@ripcurld0 Which distro/version were you running on?  RHEL?  It worked for me the other day on F27.  Also the golang you're using appears to be v1.7.  Any chance you could bump that up to 1.8 or higher?

I've not run into the REGISTRY_HTTP_SECRET error before, will have to dig into that a bit.

[2018-01-23 14:27] ripcurld0 commented on #401
Yeah, I figured out why it didn't work: bad configurations.
I will continue and try to investigate this problem.

Thank for your fast response. @TomSweeneyRedHat

[2018-01-23 14:42] ripcurld0 commented on #401
OK, I think I know what is the problem:
During the [`util.ResolveName` loop](https://github.com/projectatomic/buildah/blob/master/new.go#L133) since the `pull-always` flag is set to true the image is pulled [here](https://github.com/projectatomic/buildah/blob/master/new.go#L144) by calling to [pullAndFindImage](https://github.com/projectatomic/buildah/blob/master/new.go#L66). However, this functio

[2018-01-23 15:11] TomSweeneyRedHat commented on #401
@ripcurld0 nice catch, please do run with it.

[2018-01-23 15:56] rhatdan opened #407 "Dockerfile support for add --chown is missing."
We have it for the `buildah copy` command, but the syntax checker for Docker file fails.

[code]

[code]

[2018-01-23 18:35] TomSweeneyRedHat commented on #403
FWIW, cert-dir let's you specify where the certificates that you want to use live and --creds let's you put  in the username/password to use for authentication.

`docker build` doesn't have these options, but neither does 'docker pull/push' while the Buildah equivalents do.  So I think I'll see if I can add these too, but may run into issues making it happen.  The processing for the bud code is a

[2018-01-23 19:23] TomSweeneyRedHat commented on #190
I've just retested this issue and can no longer reproduce it or it's latest variant.  I'm sure one or more of the image handling changes that @nalind has put into play over the past several months/weeks has cleaned this up finally.

[2018-01-23 19:23] #190 closed

[2018-01-23 19:36] TomSweeneyRedHat commented on #100
The work that @nalind has done with the images has worked to solve this issue.   I'm no longer able to reproduce this error and I'm going to close it.

[2018-01-23 19:36] #100 closed

[2018-01-23 20:21] TomSweeneyRedHat commented on #253
@umohnani8 fixed this a little before the new year.  Buildah now uses either credentials from 'podman login' or 'docker login'.  It looks for the credentials in that order.  Closing this issue as I was just able to successfully test it.

[2018-01-23 20:23] #253 closed

[2018-01-23 22:40] ripcurld0 commented on #407
@rhatdan
Looking at the code, this is not directly related to `buildah`. In order to have this working, `imagebuilder` needs to support that.

I guess we should move this ticket to [openshift/imagebuilder](https://github.com/openshift/imagebuilder)

[2018-01-24 03:26] gouyang opened #409 "incorrect return code when buildah rmi fails"
The return code should be 1.

[code]

[2018-01-24 04:57] gouyang opened #410 "RFE: filter out `<none>` images in buildah images"
After some testing work, it produces many `<none>` images.
How about filtering out these `<none>` images and just show these images with a name, and add `--all` to list all of them.

[code]

[2018-01-24 04:59] gouyang commented on #409
Another example

[code]

[2018-01-24 09:17] ripcurld0 commented on #409
@rhatdan @TomSweeneyRedHat @nalind did we specify when `buildah rm\i` should return error code 1 and when error code 0?

[2018-01-24 09:30] ripcurld0 commented on #410
Basically you can use `--filter` for that job. Just type:
[code]

@TomSweeneyRedHat @rhatdan WDYT

[2018-01-24 09:46] rhatdan commented on #409
No these should exit with a non-zero exit code. @ripcurld0 do you want to handle this?  You might want to look at podman to see how it handles it.

[2018-01-24 09:47] rhatdan commented on #410
Tat is fine or just use a pipe with grep.
We should probably add a
buildah rmi --dangling
option

[2018-01-24 09:59] ripcurld0 commented on #409
@rhatdan sure!

[2018-01-24 09:59] ripcurld0 commented on #410
Sounds like a good idea.

[2018-01-24 10:36] gouyang opened #411 "enhance error message when remove a container does not exist"
`error reading build container: container not known` shows twice in the error message.

[code]

[2018-01-24 10:45] rhatdan commented on #407
Yes to fix this we need to get a patch into imagebuilder.

[2018-01-24 10:52] ripcurld0 commented on #411
Thanks @gouyang

[2018-01-24 12:26] gouyang opened #413 "buildah bud cannot pull image from local registry"
[code]
1. docker can build image from it

[code]

2. buildah bud fails to build from it

[code]

3. buildah from can create container from the local registry when specify `--tls-verify=false`.

[code]

[2018-01-24 12:32] TomSweeneyRedHat commented on #411
@gouyang Just to clarify, the busybox-working-container-4 did not exist when you tried to remove it?  Thanks for the reports, you're keeping us on out toes and I like it!

[2018-01-24 12:49] gouyang opened #414 "'buildah bud --authfile' not work"
1. buildah bud can use docker credentials in /root/.docker/config.json
[code]

2. it fails if remove the docker credentials, it's expected.
[code]
3. `buildah bud --authfile` is expecting to work, but does not work.
[code]

[2018-01-24 12:50] gouyang commented on #411
@TomSweeneyRedHat yes, the busybox-working-container-4 did not exist.

[2018-01-24 13:05] ripcurld0 commented on #411
My guess is since multiple containers can be given to `buildah-rm` if it failed to remove of them it prints it on the screen and in the end it returns the error. Thus, the duplicate error message.

It shouldn't take much to fix it.

[2018-01-24 14:10] rhatdan commented on #401
@ripcurld0 Feel free to assign any issue you want to deal with.  No need to ask.

[2018-01-25 23:35] #401 closed

[2018-01-25 23:38] ripcurld0 commented on #413
@gouyang thank you so much for this report. You're doing an amazing job.

[2018-01-26 07:43] gouyang opened #416 "add/copy --chown cannot determine username"
1. add/copy --chown can work with uid

[code]
2. add/copy --chown fail to determine username, the user `buildah` is existing.
[code]

[2018-01-26 10:50] gouyang opened #417 "unicode character code shows in inspect a container or an image"
1. docker inspect an image looks good
[code]
2. ` \u003` and `\u003e` shows in buildah inspect, it occurs in more than one place, It could been seen in `Labels` and `created_by`.
[code]

[2018-01-26 10:54] gouyang commented on #417
`skopeo inspect` also has this problem, so it should be an issue in `container/image` library, once this issue is fixed, `skopeo inspect` should look good as well.

[2018-01-27 01:38] gouyang commented on #396
There is still an problem I met:
1. it works
[code]
2. not work
[code]
3. it works
[code]

[2018-01-27 08:51] rhatdan commented on #416
The buildah user needs to be defined inside of the container image.  It is not looking at the hosts /etc/passwd, attempt the same tests with "bin" rather then buildah and it will work, because bin is defined inside the container image /etc/passwd.

[2018-01-27 15:33] TomSweeneyRedHat commented on #256
Closing this issue and have created a trello card for the kerberos thought.

[2018-01-27 15:33] #256 closed

[2018-01-27 15:59] TomSweeneyRedHat commented on #396
@gouyang thanks for the update and interesting development.  @ripcurld0 can you take a peak?

[2018-01-27 16:06] ripcurld0 commented on #396
@gouyang when I do `docker.io/busybox1` I get
[code]

The same thing with `docker.io/library/busybox1`.
Which means I can't reproduce this problem. Can you show the entire flow?

Thanks.

[2018-01-28 10:54] bkircher opened #420 "Permission denied on /var/run/containers/storage"
**Description**

Installing buildah on F27 and executing it for the first time gives a "permission denied".

[code]

**Steps to reproduce the issue:**
1. Install buildah on a vanilla Fedora 27
2. Run `buildah from scratch`

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[2018-01-28 14:58] rhatdan commented on #420
You have to be root to run buildah.

[2018-01-28 15:01] ripcurld0 commented on #420
@rhatdan can't we create a `buildah` group that allows non-root users to run buildah w/o `sudo`-ing (something similar to what `docker` does)?

[2018-01-28 17:29] rhatdan commented on #420
No there is no client server operation for that.  A better way is to just to setup sudo for the buildah command it would be more secure then doing the docker group thing.

[2018-01-28 18:00] bkircher commented on #420
I've already imagined something like that. I could create a PR that adds a notice to the man page or the README. Would that be alright?

[2018-01-28 18:09] ripcurld0 commented on #420
@bkircher that would be super!

[2018-01-29 01:09] gouyang commented on #416
The uid 1001 is not in the image's /etc/passwd as well, why it can work?

[2018-01-29 06:23] rhatdan commented on #416
If the USERNAME is a Int, it will not attempt to look for the content in the /etc/passwd file in the container but will just use the UID.  The problem is when using a non UID, the container runtime needs to translate the UserName into a UID via the /etc/passwd in the container.  This works the same way on Docker.

[2018-01-29 09:04] ripcurld0 commented on #416
@rhatdan from what I understand this is not a bug but an expected behavior.
Can we close it?

[2018-01-29 11:41] gouyang opened #424 "add "--format" to buildah containers"
There is option `--format` in `buildah images`, but not one for `buildah containers`, I think it should be added.  I also was thinking about `--filter`, but I'm not sure does it worth to add it.

[2018-01-29 11:42] rhatdan commented on #416
Yes. @gouyang Reopen if you disagree.

[2018-01-29 11:42] #416 closed

[2018-01-29 11:45] gouyang opened #425 "`buildah images --format` does not override `--quiet`"
The usage say `--format value            pretty-print images using a Go template. will override --quiet`, but it does not override `--quiet`.

[code]

[2018-01-29 12:45] rhatdan commented on #425
Should we have these conflict?

[2018-01-29 12:48] ripcurld0 commented on #425
We can return a conflict error or write in the usage message that `quiet` overrides the `format` option.

[2018-01-29 16:52] TomSweeneyRedHat commented on #246
PR in progress at https://github.com/containers/image/pull/388

[2018-01-30 02:24] gouyang opened #427 "add carriage return to inspect --format"
[code]

[2018-01-30 04:55] gouyang opened #428 "buildah run cannot parse `--runtime-flag`"
The manpage of buildah-run says:
[code]

Tried it with the runc global option, it does not work and the message isn't helpful.
[code]
The problem also happens in `buildah bud` etc. I'm not sure whether I understand it right, please comment.

[2018-01-30 06:12] gouyang opened #429 "Config and Manifest are bytes in inspect output"
The issue #363 is fixed and I failed to mention the problem in that issue, the output of inspect without go template should be fixed as well.

[code]

[2018-01-30 09:17] ripcurld0 commented on #427
do you mean that the new-line character (`\n`) is missing?

[2018-01-30 09:19] ripcurld0 commented on #429
Yep, I should have known better. I guess we have no choice but use something different than `[]byte`.
Thanks.

[2018-01-30 09:52] gouyang commented on #427
yes, add `\n' to it.

[2018-01-30 11:35] ripcurld0 commented on #429
Before I code anything I need to know what is expected to see in `config` and `manifest`. If it's a JSON string[1] then it won't be a problem. Otherwise, we need to design it better.

@rhatdan  @TomSweeneyRedHat

[2018-01-30 13:54] TomSweeneyRedHat commented on #428
@gouyang  Thanks for the issue.   It looks like the runtime-flag is not working as intended.  This should work (at least according to the manpage and it's not.  @umohnani8 got time to look at this one?

[code]

Looks like some kind of cli parameter handling issue.

[2018-01-30 14:32] umohnani8 commented on #428
Yup, I can work on this.

[2018-01-30 15:38] TomSweeneyRedHat opened #430 "'buildah rmi dir:/tmp/image1' doesn't work"
**Description**

When commiting an image to a local directory, the image can not be removed with 'buildah rm dir:/tmp/image1' assuming the directory /tmp/image1 was the directory that was designated in the commit command.

**Steps to reproduce the issue:**
1. export elsewhere=/tmp/image1
2. mkdir -p ${elsewhere}
3. buildah from --name cnt1 busybox
4. buildah commit cnt1 dir:${elsewhere}
5. buildah

[2018-01-30 15:38] TomSweeneyRedHat commented on #430
FYI @ripcurld0

[2018-01-30 16:40] rhatdan commented on #429
@nalind @mitrmac PTAL

[2018-01-30 16:56] rhatdan commented on #428
I believe this might be confusing the CLI Interpreter.

[2018-01-30 17:15] umohnani8 commented on #427
I can work on this.

[2018-01-30 17:23] umohnani8 commented on #427
@gouyang this is actually working for me.
[code]
Can you try again or tell me how exactly to reproduce?

[2018-01-30 17:29] umohnani8 commented on #425
Fixed in #426

[2018-01-30 17:29] #425 closed

[2018-01-30 17:30] umohnani8 commented on #424
@rhatdan @TomSweeneyRedHat any specific filter params?

[2018-01-30 17:40] rhatdan commented on #424
I would guess the same filters we added to podman ps --filters

[2018-01-30 18:13] ipbabble commented on #375
I've hit this issue trying to use `podman build`. I decided to use an old Dockerfile I had that had FROM fedora:latest. It was smart enough to fid that I had already downloaded the image to container-storage but that image doesn't have a buildah.json file associated.

Furthermore I notice that podman looks for these buildah.json files in containers/storage/overlay-containers/<id> and not container

[2018-01-30 18:38] TomSweeneyRedHat commented on #281
This was fixed as a by product of #419.

[2018-01-30 18:38] #281 closed

[2018-01-30 18:39] TomSweeneyRedHat commented on #413
Fixed with #419.  @gouyang please reopen if you find otherwise.

[2018-01-30 18:40] TomSweeneyRedHat commented on #414
Fixed with #419.  @gouyang please reopen if you find otherwise.

[2018-01-30 18:40] #414 closed

[2018-01-30 18:46] umohnani8 commented on #428
Fixed in #431

[2018-01-30 18:46] #428 closed

[2018-01-30 23:07] pixdrift opened #432 "Buildah RPM spec missing Requires for ostree"
The buildah RPM  spec used to build RPM in CentOS extras is missing the `Requires` for the ostree package which provides libostree-1.so.1.

**Description**

After installing buildah RPM for CentOS extras buildah fails to run, producing the following error:

`buildah: error while loading shared libraries: libostree-1.so.1: cannot open shared object file: No such file or directory`

**Steps to repro

[2018-01-31 01:12] gouyang commented on #427
It could be reproducible it every time, to reproduce it just run the command shows in the description.
What's buildah version are you running?

[code]

[2018-01-31 02:11] pixdrift opened #435 ""target os mismatch with current os linux" on Oracle Linux 7.4"
When attempting `buildah run` on Oracle Linux 7.4 with Oracle Linux 7-slim image, receive the error message `target os mismatch with current os linux`

Looks similar to #258, but runc version is newer than that recommended in the #258 thread as a fix.

Oracle image is from here:
https://hub.docker.com/_/oraclelinux/

**Steps to reproduce the issue:**
container=$(buildah from docker-daemon:oracleli

[2018-01-31 04:50] rhatdan commented on #432
@lsm5 PTAL

[2018-01-31 05:23] rhatdan commented on #435
I think this is still a version of runc issue.  The RHEL package we are now building for runc is
 runc-1.0.0-26.rc4.dev.git9f9c962.el7

We are also getting close to shipping
buildah-0.11-1.git6bad262.el7

Could you attempt to build runc from upstream to see if this fixes the issue.

[2018-01-31 06:23] pixdrift commented on #435
Apologies Dan,

Took the runc package up to `runc-1.0.0-23.rc4.dev.git1d3ab6d.el7.x86_64` from the same CentOS extras repo and it has resolved the issue.

[2018-01-31 07:00] gouyang opened #436 "incorrect file ownership in mount directory after add --chown"
1. create a container and mount it
[code]
2. add a file to the container and chown with a user which exist in container, but not exist in host.
it display the user's uid,  I think it's acceptable.
[code]
3. add a file to the container and chown with a user exists in both the host and the container.
The chown user is `bin:bin`, but it displays as `daemon:daemon`. It's because the uid of `bin` is 2