[2018-01-31 11:23] bertinatto commented on #436
Hi @gouyang. I think the `stat` command is parsing the `/etc/passwd` file from the host. I guess it'd be more reliable to execute it from inside the container. Maybe you could use `buildah run` for that? Example:

[code]

[2018-01-31 11:34] gouyang commented on #436
@bertinatto thanks for the tips, I was doing it as below:

[code]

[2018-01-31 13:28] TomSweeneyRedHat commented on #436
I'll let @nalind correct me, but I do believe @bertinatto is correct about the stat parsing on the host's side.   @gouyang I think but I'm not sure that solves the issue.  Do you agree?

[2018-01-31 15:14] cyphar commented on #386
@rhatdan You can definitely mount `/proc` and `/sys` inside a user namespace (both `procfs` and `sysfs` are marked as `FS_USERNS_MOUNT`). `yum install` and `apt get` are a matter of tricking the programs into thinking that `chmod(2)` and `setuid(2)` do what they think they do. If you'd like an overview of rootless containers I explain these problems and how they can be solved in [my 2017 LCA talk]

[2018-01-31 21:17] gouyang commented on #436
Please ignore the ansible script, the main issue is that the file owner is `bin` in container, and it becomes `daemon` when visit on the host after mount the container. This is the problem I was to report, do you think it's an issue?

[2018-02-01 08:53] gouyang commented on #425
The usage should be updated as well.

[2018-02-01 10:46] rhatdan commented on #435
Excellent.

[2018-02-01 11:46] gouyang opened #438 "remove an image by force also remove the container which is using the image"
It remove all containers silently.

[code]
docker is unable to remove the image if it's in use.
[code]

[2018-02-01 12:03] vbatts opened #439 "Failure on volume directory existing"
**Description**

**Steps to reproduce the issue:**
1. git clone https://github.com/freeipa/freeipa-container.git
2. freeipa-container
3. sudo buildah bud -t freeipa .

**Describe the results you received:**
[code]

**Describe the results you expected:**
a built image

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*rel

[2018-02-01 12:13] vbatts opened #440 "support for multiple FROM instructions"
**Description**
Upstream now has multiple image builds.
For example, working with the [Grafeas project ](https://github.com/grafeas/grafeas) their [Dockerfile](https://github.com/grafeas/grafeas/blob/master/Dockerfile) does a build container, and then copies the binary to a minimal image.

**Steps to reproduce the issue:**
1. git clone https://github.com/grafeas/grafeas
2. cd grafeas
3. sudo build

[2018-02-01 12:23] TomSweeneyRedHat commented on #438
Hi @gouyang,

Thanks for the report, but this is working as designed, when you use -f with 'buildah rmi' it removes the associated containers to and there's a warning in the man page.

[code]

[2018-02-01 12:34] gouyang commented on #438
I just checked `buildah rmi -h`, not the man page. Please close the issue if no action need.

[2018-02-01 14:54] TomSweeneyRedHat commented on #425
Hi @gouyang

The usage for format is:
[code]
which I think covers what you're looking for or am I misundertanding?

[2018-02-01 15:21] umohnani8 commented on #425
Yeah I forgot to remove the "will override --quiet" since we changed to error out if both quiet and format are set. This is being fixed in https://github.com/projectatomic/buildah/pull/437.

[2018-02-01 15:45] TomSweeneyRedHat commented on #438
Thanks @gouyang!  I'll see if I can update the usage to make the help be clearer.

[2018-02-01 17:36] umohnani8 commented on #427
@gouyang this is what I am seeing. I am on Fedora 26.
[code]

[2018-02-01 17:39] umohnani8 commented on #427
@gouyang ignore what I said, I guess it was something to do with me shell. Working on a fix.

[2018-02-02 08:58] bertinatto commented on #436
@gouyang, from my perspective it's not an issue, but I'll let the other guys decide.

[2018-02-02 14:26] kerscher opened #443 "`buildah run` fails with Go JSON unmarshaling error"
Right after using `buildah from docker://ubuntu:16.04`, any attempt to `buildah run` inside the newly created working container fails.

## Steps to reproduce

Below `$` represents a  shell prompt:
[code]

## Versions used

[code]
[code]
[code]

[code]

[code]

[2018-02-02 15:42] rhatdan commented on #443
Could this be a mismatch of the runc version?

[2018-02-02 15:43] rhatdan commented on #440
This is on our todo list, but first step it to get this support into imagebuilder.

[2018-02-02 16:37] kerscher commented on #443
This is my current `runc`:
[code]
Is there a recommended version?

[2018-02-02 17:24] rhatdan commented on #443
Yes runc 1.0.0.rc4 at least.

[2018-02-02 17:24] rhatdan commented on #443
runc --version
runc version 1.0.0-rc4+dev
spec: 1.0.0

[2018-02-02 18:30] rhatdan commented on #439
Urvahi can you take a look at this?

[2018-02-02 18:45] rhatdan commented on #438
Yes lets make a one line change to the help to fix this.

[2018-02-02 18:49] umohnani8 commented on #439
@rhatdan will do.

[2018-02-02 19:14] rhatdan commented on #436
All I care is the file from inside of the container has the correct UID based on the name in the /etc/passwd file.  If the /etc/passwd on the host and in the container differ then the usernames might be different. Is this what is happening?

[2018-02-02 21:16] umohnani8 commented on #424
Fixed in #437

[2018-02-02 21:16] #424 closed

[2018-02-02 22:39] gouyang commented on #436
@rhatdan yes, it's what I meant to report.

[2018-02-02 22:41] rhatdan commented on #436
So we are in agreement that it works correctly?  Reopen if you don't agree/

[2018-02-02 22:41] #436 closed

[2018-02-03 04:43] pixdrift commented on #435
Sorry to reopen, but was thinking about this when deploying again today.

Should the RPM spec be bumped to require a higher version of runc to resolve for those installing via RPM? If so, do we have an indication of what this should be updated to?

Current runc requires in the spec is:
`Requires:       runc >= 1.0.0-6`

It's currently blocked by the runc RPM in CentOS extras because current stable

[2018-02-03 11:34] rhatdan commented on #435
That is something that should be opened as a bugzilla against the package.

[2018-02-03 11:45] pixdrift commented on #435
Will do.

[2018-02-03 16:38] TomSweeneyRedHat commented on #438
Closed with #441, thanks for the issue report @gouyang

[2018-02-03 16:38] #438 closed

[2018-02-04 07:02] ripcurld0 commented on #443
@kerscher thank you for the report. I am closing this because this is not a bug.
Nevertheless, feel free to continue the conversation here. 👍

[2018-02-04 07:02] #443 closed

[2018-02-04 12:48] #417 closed

[2018-02-04 12:49] ripcurld0 commented on #417
Thanks @gouyang. A fix was merged, please review it.

[2018-02-04 12:51] ripcurld0 commented on #410
This feature was implemented in #418.
Thanks @artmello & @gouyang

[2018-02-04 12:51] #410 closed

[2018-02-04 12:53] ripcurld0 commented on #396
@gouyang would you mind test this issue again.
Commit id: https://github.com/projectatomic/buildah/commit/815cedfc71fff7460b683b5f9e8fe053b31a31ef
PR: https://github.com/projectatomic/buildah/pull/422

Let me know if you find anything new. Till then, I am closing this issue.

Thanks.

[2018-02-04 12:53] #396 closed

[2018-02-04 19:01] bertinatto commented on #440
+1. By the way, seems to be related to #242.

[2018-02-05 14:00] ripcurld0 commented on #409
Hey @gouyang
PR #412 was [merged](https://github.com/projectatomic/buildah/commit/fc819944f3d60bfe4bcd1e011cdda193532636ef) and should fix this issue.

Do you mind running more tests to make sure this was resolved successfully?

I am closing this ticket but feel free to comment or provide feedback. 👍

[2018-02-05 14:00] #409 closed

[2018-02-05 14:04] ripcurld0 commented on #435
@pixdrift closing this as this is not an issue related directly to this repository.
Reopen if I am wrong.

Thanks so much!

[2018-02-05 14:04] #435 closed

[2018-02-05 14:06] ripcurld0 commented on #432
@pixdrift thank you for fixing this issue. I am closing this as #434 was merged.

[2018-02-05 14:07] rhatdan commented on #440
Yes they are the same.  Just need to get someone to work on it.  Move it up the priority list.

[2018-02-05 14:10] ripcurld0 commented on #427
I am closing this as #442 was merged.
Thanks @umohnani8 for working on this.
@gouyang I am closing this ticket but feel free to reopen it in case we missed something. Thanks.

[2018-02-05 14:10] #427 closed

[2018-02-05 14:11] #413 closed

[2018-02-05 14:12] ripcurld0 commented on #440
@rhatdan should we add priority tags to issues as this?

[2018-02-05 14:27] rhatdan commented on #440
Sure, atlhough I am not sure how that helps a lot. My number one priority is to start working on User Namespace support in buildah and adding a hole bunch of missing hoptions to buildah bud and buildah run.  I guess this feature is less important then UserNS but more important then these missing flags.

[2018-02-05 14:39] ripcurld0 commented on #440
I see. Yep, it won't do much then.

[2018-02-05 14:50] lsm5 commented on #432
@pixdrift btw, what's the yum repo you're getting the rpm from?

[2018-02-05 20:51] pixdrift commented on #432
@lsm5 I am getting it from CentOS
http://mirror.centos.org/centos/7/extras/x86_64/Packages/

But they don't appear to using the spec file from contrib.

[2018-02-05 20:52] pixdrift commented on #432
@ripcurld0 it wasn't merged.

[2018-02-05 20:55] lsm5 commented on #432
yup, `contrib/` is just a reference thing. And not the canonical rpm source. And the `mirror.centos.org` tells me it was inherited from RHEL. Would you mind filing a bug on Red Hat Bugzilla against the 'buildah' component? Let me know if any issues.

@rhatdan please remind me if ostree dep is needed in Ubuntu as well?

[2018-02-05 20:56] pixdrift commented on #432
Which Red Hat repo is this being pushed to? I would prefer to use the Red Hat source.

[2018-02-05 20:58] lsm5 commented on #432
@pixdrift well, you'd need to be a RHEL customer to use RHEL yum repos, but anyway, I'll take care of the bugfiling and fixing, no worries.

[2018-02-05 21:03] pixdrift commented on #432
@lsm5, appreciate it. To be honest, wasn't expecting to see it in the RHEL repos this early.

Can I get the Red Hat Bugzilla # off you so I can track progress?

Cheers.

[2018-02-05 21:09] lsm5 commented on #432
If you don't mind using CentOS Virtualization SIG repos, might wanna try the yum repo in here: https://wiki.centos.org/Container/Tools .. this usually has packages rebuilt from fedora rawhide, and thus often ahead of RHEL. Use this if you don't mind your system being *quite different from RHEL/base CentOS*. Haven't fixed this issue in there yet, but I'll take care of it in a bit

[2018-02-05 21:09] pixdrift commented on #432
@lsm5 as per this discussion the `runc Requires` minimum version in the spec also needs to be bumped to the newer rc4 version available in the repo which can probably be fixed at the same time:
[https://github.com/projectatomic/buildah/issues/435](url)

[2018-02-05 21:10] lsm5 commented on #432
by *quite different* I mean that I take the liberty to bump up dependencies in the base system if docker or other packages need newer deps

[2018-02-05 21:11] ripcurld0 commented on #432
@pixdrift my bad. I am terribly sorry. I am going to reopen it, till the problem is solved.

[2018-02-05 21:14] pixdrift commented on #432
@lsm5 appreciate the potential impact of running from Rawhide, which is why I choose RHEL/CentOS/EPEL/OL sources. As you mentioned above, the contrib version of the spec _isn't_ the canonical source.. but where is for the RHEL package?

These packages aren't in the primary OS channels so what is the RHEL process for pulling RPMs into extras?

Is there a location where the upstream RPM .specs that

[2018-02-05 21:18] lsm5 commented on #432
@pixdrift well, RHEL sources are available in the wild _only_ in the form of srpms AFAIK. But since we know that the bug you see is from base CentOS, it's most certainly a RHEL bug, since CentOS base and Extras gotta ensure compatibility with RHEL. And the way to raise bugs against RHEL rpms is to file a bug on `bugzilla.redhat.com`, or you could just file a CentOS bug on `bugs.centos.org`. Hope t

[2018-02-05 21:19] ipbabble opened #448 "Dockerfile MAINTAINER keyword not being added to labels"
**Description**
Using buildah bud on a Dockerfile, the generated json file does not have the label maintainer set when a MAINTAINER keyword used in Dockerfile

**Steps to reproduce the issue:**
1.  run buildah bud -t myimage .   (on a Dockerfile with the MAINTAINER keyword)
2.  run podman inspect --type image  myimage  <image name form step one>
3.  check if Label is set to container "maintainer"

[2018-02-05 21:26] pixdrift commented on #432
@lsm5 the Virtualization sig repo you linked to appears to have much _older_ buildah version. (0.5)
[https://cbs.centos.org/repos/virt7-container-common-candidate/x86_64/os/Packages/]()

I will stick with RHEL and raise with RHEL bugzilla in the future, as mentioned above, didn't realise these packages where in RHEL repos so early (alpha/rc4). Still keen to update the contrib in this repo as I wil

[2018-02-05 21:31] lsm5 commented on #432
ha, guess I haven't bumped it in a bit

[2018-02-05 21:35] pixdrift commented on #432
Is there a facility to setup nightlies?

[2018-02-05 21:39] rhatdan commented on #432
No we should compile buildah on Ubuntu with the ostree stuff compiled out.

[2018-02-05 21:51] umohnani8 opened #449 "Install latest go-md2man"
Currently the latest go-md2man is causing our tests to break. Reverted to a previous commit for now to get rid of this error.
@rhatdan opened an issue with upstream md2man cpuguy83/go-md2man#34.
Once this is fixed, we should move back to using latest md2man.

[2018-02-05 22:03] nalind commented on #448
The maintainer is expected to be stored in the _Author_ field in the image's metadata rather than as a label, but we weren't setting it.

[2018-02-05 23:23] ipbabble opened #451 "Buildah bud ignores Dockerfile non-keywords by default"
**Description**

A Dockerfile with lines containing syntax errors - lines starting with non-keywords - does not cause an error and halt the build. Instead it skips the offending line.

Also I think a simple change of setting ignoreUnrecognizedInstructions to false is not the fix.

i.e. that would have the same effect as commenting out:
//      if !b.ignoreUnrecognizedInstructions {
//

[2018-02-05 23:25] ipbabble commented on #451
I don't mind trying to fix this one. I just need to understand or be shown how to effectively handle log-level checking in some other part of the code. I'm going to sniff around and see if I can see how it's done elsewhere.

[2018-02-06 01:18] #448 closed

[2018-02-06 15:23] TomSweeneyRedHat commented on #246
@umohnani8 given https://github.com/containers/image/pull/411 can we close this issue?

[2018-02-06 15:24] TomSweeneyRedHat commented on #246
I think we may need some changes to doc/man pages in Buildah before closing though.

[2018-02-06 15:26] umohnani8 commented on #246
No not yet, I need to vendor in containers/image and update the docs.

[2018-02-06 19:19] ipbabble commented on #451
May want to check the log-level and change the output for simple error.

Something like 👍 func (b *Executor) UnrecognizedInstruction(step *imagebuilder.Step) error {
        if b.ignoreUnrecognizedInstructions {
                logrus.Debugf("+(UNIMPLEMENTED?) %#v", step)
                return nil
        }
        if logrus.GetLevel() == logrus.ErrorLevel {
                return errors.Errorf("

[2018-02-06 19:19] #451 closed

[2018-02-06 19:38] rhatdan commented on #451
@ipbabble Open a separate PR

[2018-02-07 13:44] #246 closed

[2018-02-07 14:35] ashcrow commented on #158
Is there currently an image that we can test with on Atomic Host?

/cc @miabbott

[2018-02-07 21:17] bertinatto commented on #440
Looking through `imagebuilder`'s code it seems that it might not be too hard to implement this one.

I noticed there's a card for this feature here [1]. If it's not a problem, I'd like to take this one and see how far I can get.

[1] https://trello.com/c/wFliOqYo/788-buildah-spike-support-multi-stage-builds-for-feature-parity-with-docker-build

[2018-02-07 21:41] TomSweeneyRedHat commented on #440
Feel free to grab it Bertinatto and TYVM!

[2018-02-08 13:22] rhatdan commented on #411
We handle this very differently in libpod.  Basically code returns lastError, if an Error happens when lastError is set, lastError is printed out , and then replaced with the new lastError.

[2018-02-08 13:30] rhatdan commented on #158
@ipbabble Want to try to through together a container image that could be used to run buildah on atomic host?

[2018-02-08 13:45] ripcurld0 commented on #411
Thanks @rhatdan, let me change that to what libpod does.

[2018-02-08 16:05] ipbabble commented on #158
I’d like that. I hadn’t kinda started the other day. I wanted to run a
buildah container on CoreOS Container Linux but got sidetracked with other
fun stuff.

On Thu, Feb 8, 2018 at 6:30 AM Daniel J Walsh <notifications@github.com>
wrote:

--
Sent from Gmail Mobile on iPhone

[2018-02-08 19:27] ashcrow commented on #158
@ipbabble let me know when there is something to test and/or if you end up needing a hand with the image.

[2018-02-08 22:52] TomSweeneyRedHat commented on #449
Closing this issue.  Tracking in Trello at: https://trello.com/c/jNCxjO5F/823-1-b-p-install-latest-go-md2man

[2018-02-08 22:52] #449 closed

[2018-02-08 22:55] TomSweeneyRedHat opened #461 "'buildah config --cmd "--help" fails."
@ipbabble reports that the command:

[code]
This should succeed.

[2018-02-08 23:13] TomSweeneyRedHat commented on #461
@ipbabble looks to be a cli param parsing issue.  I'm not sure we can fix it, but I think this works.  Can you try?

buildah config --cmd "\-\-help" $ctr

[2018-02-08 23:15] TomSweeneyRedHat commented on #461
Ugh, md messed up my formating.  How's about:

[code]
a backslash \ before each dash in help

[2018-02-09 00:14] TomSweeneyRedHat commented on #263
Closing this as an issue, have created a Trello card at: https://trello.com/c/if6SPPwZ/824-buildah-rht-secrets-support-demo

[2018-02-09 00:14] #263 closed

[2018-02-09 00:19] ipbabble commented on #158
Stephen,

I have something but I want to write it up.
It buildah image works with podman and docker (with a slight variation due
to a podman bug not using entrypoint)
It needs to run with flags as you'd expect. Using external /var mounts.

William

William Henry
Senior Consulting Software Engineer
Red Hat
Colorado, USA.

On Thu, Feb 8, 2018 at 12:27 PM, Stephen Milner <notifications@github.com>
wr

[2018-02-09 00:30] TomSweeneyRedHat commented on #96
I think this maybe completed, but have created a Trello card to track any remaining pieces at: https://trello.com/c/5SZW0H29/553-3-buildah-authenticate-to-registries-demo.  Closing this here.

[2018-02-09 00:30] #96 closed

[2018-02-09 00:35] TomSweeneyRedHat commented on #132
Closing this as we're tracking in Trello at: https://trello.com/c/CsSZ1z8W/827-buildah-support-adding-signatures-when-committing-or-pushing

[2018-02-09 00:36] #132 closed

[2018-02-09 00:38] TomSweeneyRedHat commented on #169
@edsantiago if you get a space minute or three, can you confirm that this is still an issue?

[2018-02-09 00:45] TomSweeneyRedHat commented on #214
@it-praktyk this issue has been open for a while and we've a CHANGELOG.md.  If you'd like to see a different format, please open up a PR.  We'd love the contribution!

[2018-02-09 00:46] #214 closed

[2018-02-09 00:47] #272 closed, assigned to nobody

[2018-02-09 00:49] TomSweeneyRedHat commented on #402
@gouyang closing this as #433 should address this issue.  Please reopen if it does not.

[2018-02-09 00:49] #402 closed

[2018-02-09 00:53] TomSweeneyRedHat commented on #403
@gouyang fixed with #419.  Please reopen if you find otherwise and thanks for the problem report.

[2018-02-09 00:53] #403 closed

[2018-02-09 01:00] TomSweeneyRedHat commented on #371
Fixed with #383, closing.

[2018-02-09 01:00] #371 closed

[2018-02-09 01:02] TomSweeneyRedHat commented on #352
@gouyang unless I'm logged in, I can not do the from without authentication.    I suspect that you had a credential still from logging in with docker login.  Can you retest this please on a new VM and let me know if you can replicate it.  I've not been able to uless I had logged in with 'docker login' or 'podman login' before hand.

[2018-02-09 01:10] TomSweeneyRedHat commented on #314
Closing as this is being tracked in trello at https://trello.com/c/Nd2JNk4B/828-buildah-run-get-selinux-testing-running

[2018-02-09 01:10] #314 closed

[2018-02-09 06:15] gouyang commented on #352
The image in previous testing is public, tested it with a private image, it does require the authentication.
[code]

[2018-02-09 06:15] #352 closed

[2018-02-09 13:55] TomSweeneyRedHat commented on #352
Thanks for double checking @gouyang!

[2018-02-09 14:33] ashcrow commented on #158
Thanks William. Keep me updated!

[2018-02-09 20:14] TomSweeneyRedHat commented on #242
Closing as this is a duplicate of #440.

[2018-02-09 20:14] #242 closed

[2018-02-09 20:23] TomSweeneyRedHat commented on #2
Closing this issue as it's been moved to Trello at:  https://trello.com/c/oOKhcxqX

[2018-02-09 20:23] #2 closed

[2018-02-09 20:58] TomSweeneyRedHat commented on #429
@nalind  and/or @mitrmac can you weigh in on this one please?

[2018-02-09 21:20] TomSweeneyRedHat commented on #411
Proposed fix in #458

[2018-02-09 21:27] TomSweeneyRedHat commented on #407
Closing as we've created a Trello card to track tihis at: https://trello.com/c/O2IMRqDB

[2018-02-09 22:30] TomSweeneyRedHat commented on #376
Closing this issue here as we've a card in trello to track it (see @nalind's prior comment)

[2018-02-09 22:30] #376 closed

[2018-02-09 22:37] TomSweeneyRedHat commented on #373
Closing this as we've moved it to the Trello card https://trello.com/c/RwX66ls7

[2018-02-09 22:37] #373 closed

[2018-02-10 00:25] TomSweeneyRedHat commented on #334
@rhatdan @nalind this appears to be failing in run.go trying to bind mount /etc/hosts and/or etc/resolv.conf.  Is there something funky about those in a redis container?

[code]

[2018-02-10 00:39] TomSweeneyRedHat commented on #239
Closing this as we've  a Trello card to make Buildah/Podman play nicely together which includes listing.  https://trello.com/c/0eUqT0uG

[2018-02-10 00:39] #239 closed

[2018-02-10 11:28] rhatdan commented on #193
Ok this chain seems to have died.  We will continue to work on getting buildah to run within usernamespace to see that we can do a unprivileged build.

[2018-02-10 11:28] #193 closed

[2018-02-10 16:40] TomSweeneyRedHat commented on #430
Closing as issues addressed in #464, thanks for the issue report @ripcurld0

[2018-02-10 16:40] #430 closed

[2018-02-10 17:56] tylerauerbeck commented on #193
thanks @rhatdan I'll keep an eye out and will continue to test this out once that becomes available

[2018-02-10 19:06] code-ape opened #466 "Must manually create directory `/var/lib/containers/storage/overlay` for buildah overlayfs to work on Alpine Linux 3.7"
**Description**

I recently ported `buildah` v0.11 to Alpine Linux and on an Alpine Linux 3.7 machine (bare metal x86_64). It will fail to use overlayfs unless you manually create `/var/lib/containers/storage/overlay` post install.

I received the error, listed below, when attempting to use `buildah` which stated I did not have support for the overlay filesystem. I manually verified that the overl

[2018-02-10 20:09] etnbrd opened #467 "seccomp: config provided but seccomp not supported"
**Description**

When running a command in a container, the process exits with the error :
[code]
I am not exactly sure it is a bug from buildah itself.
I guess I have to somehow enable seccomp, but I don't know how, and it seems to be already enabled :
[code]
So it might be an issue completely unrelated to seccomp altogether, but I lack the general knowledge to understand what is wrong, or where

[2018-02-10 20:46] TomSweeneyRedHat commented on #343
The problem seems to be the VOLUME command in the Dockerfile.  I've shrunk the Dockerfile than @bertinatto sent down a lot and can replicate the issue easily.  This also is replicating #334 easily, I don't know if they're related or not.

[code]

I tried creating a Fedora container without the Dockerfile and ran into a perm issue:

[code]

and I found some lovely avc's in journalctl for the last b

[2018-02-11 11:29] rhatdan commented on #466
Thanks for making this work on Alpine

/etc/containers/storage.conf is provided by skopeo-containers package.  This content should be shared between all products that use containers/storage, buildah, cri-o, podman, skopeo.  Has skopeo been packaged up for Alpine?

I don't understand why you would need to create /var/lib/containers/storage/overlay directory.  That should happen automatically.

[2018-02-11 11:29] rhatdan commented on #466
Off of buildah master this is the check for overlay support.

[code]

[2018-02-11 11:31] rhatdan commented on #467
The storage.conf should come from skopeo-containers, but not sure if this has been packaged for "Arch Linux" yet.

[2018-02-11 11:34] rhatdan commented on #467
buildah should be able to work even if seccomp is not enabled.  I believe this error is coming from runc, which buildah is executing to run the containers.  What version of runc are you using?

[2018-02-11 11:44] etnbrd commented on #467
Is `skopeo-contaiers` the same thing as `skopeo` ?

I installed `runc` the same way than `buildah` : from the git repository.

[code]

[2018-02-11 11:49] rhatdan commented on #467
skopeo-containers is a subpackage of skopeo, at least that is what we ship in Fedora and I believe in our version for Ubuntu.
@lsm5 PTAL

Your version of runc looks recent enough.

On Fedora
[code]

[2018-02-11 11:53] etnbrd commented on #467
I don't know if it is of any help, but I tried to manually mount the working container, and create a container from it with `runc`, and it seems to work.
[code]

[2018-02-11 11:57] etnbrd commented on #467
Apparently, the arch package lacks two files:
(except for man, and secrets files, that I believe are distribution specific)
[code]

[code]

[2018-02-11 11:59] rhatdan commented on #467
/usr/share/containers/mounts.conf
Is also about putting secrets into the containers, so I guess that would be distro specific.

[code]

[2018-02-11 12:01] rhatdan commented on #467
These are all defaulted, but helpful to the admin to understand options available to them.

[2018-02-12 06:50] surajnarwade opened #469 "Failed to list all images"
I followed https://github.com/projectatomic/buildah/blob/master/install.md to install `buildah`,

Now I am trying to list all images,

[code]
It's failing :(

[2018-02-12 08:41] ripcurld0 commented on #469
Probably your user doesn't have permissions to create `/var/run/containers/storage`. Thus try running `buildah` using `sudo`.

[2018-02-12 12:30] rhatdan commented on #469
buildah has to run as root.

[2018-02-12 13:26] surajnarwade commented on #469
Thanks @ripcurld0  @rhatdan for clarification. Here's one more question, So `sudo buildah images` will not list images same as `docker images` ?

[2018-02-12 14:20] mheon commented on #467
@etnbrd I believe your system has a version of `runc` that was built without Seccomp support. The kernel itself supports it, but your `runc` was built without `libseccomp` and as such lacks the interfaces to use the kernel seccomp calls. Can you build a version of `runc` from source with seccomp enabled and see if the problem is solved?

[2018-02-12 14:31] ripcurld0 commented on #469
@surajnarwade that's probably right.
`Docker` is storing the images in `/var/lib/docker/<storagename>` by default.
For example, since my storage driver is `overlay2` then the images are stored under `/var/lib/docker/overlay2`.
Even if I try to read from that directory in order to list images, it's likely that the way the images are stored is not according to `OCI` and therefore `buildah` won't be

[2018-02-12 15:09] ripcurld0 commented on #411
Closing as PR #458 fixes this problem.
Feel free to reopen if it wasn't fully fixed. Thanks.

[2018-02-12 15:09] #411 closed

[2018-02-12 15:24] rhatdan commented on #469
Yes buildah/CRI-O/Podman and skopeo can all share the same storage.  Docker has its own private storage.  You can move content out of a Docker daemons storage into containers/storage using skopeo though.

[2018-02-12 15:24] #469 closed

[2018-02-12 15:29] rhatdan commented on #467
Ok I will close this, reopen if it turns out to be an issue with buildah.  @etnbrd If you make your alpine versions available in public we will update the docs to point at them.

[2018-02-12 15:41] rhatdan commented on #420
Closing this issue.

[2018-02-12 15:41] #420 closed

[2018-02-12 15:47] rhatdan commented on #466
Awesome.  Here are the packages buildah requires on Fedora according to RPM.

[code]
container-selinux is probably not required, since I don't think alpine supports SELinux.
skopeo-containers and runc are the two that you need content from.

If you package up these for alpine on any other platform and make them available for others, we should update the docs to mention them.

[2018-02-12 15:54] rhatdan commented on #467
When compiling runc, you have to use a BUILDTAG with "seccomp".

[2018-02-12 15:56] rhatdan commented on #469
Right buildah shares github.com/containers/storage with other tools like CRI-O, podman, but not Docker.  Docker has a private container storage.  You can use skopeo to copy images out of a local Docker container storage into cri-o/buildah/podman container storage.  But when listing images these tools will only list "container/storage" images.

[2018-02-12 20:39] etnbrd commented on #467
It turns out the problem seems to come from the PKGBUILD (the distro-specific file used to build runc and install it into my system).
I compiled it manually, and it seems to work as expected:
[code]

I will now investigate the problem in the PKGBUILD, and report it to its maintainer.

Thanks a lot for your help :)

[2018-02-12 22:56] etnbrd commented on #467
@rhatdan, I believe that you meant the Arch package, when you said 'your alpine version' :)
The [official `runc`](https://www.archlinux.org/packages/community/x86_64/runc/) package for Arch is currently stuck at version 0.1.1, which is the last stable version.
Though, I fixed the unofficial version ([AUR](https://aur.archlinux.org/)) and took maintainership of it.
This unofficial package is availa

[2018-02-13 08:05] gouyang opened #474 "error messsage not useful when image not found on RHEL"
[code]

[2018-02-13 08:37] gouyang opened #475 "exec user process caused "exec format error" when run container with CMD on RHEL"
Download below two files to a directory and build an image from it.

https://github.com/docker-library/hello-world/tree/master/amd64/hello-world
https://github.com/docker-library/hello-world/blob/master/amd64/hello-world/hello

on RHEL 7.4, it throws an error as below. No this error on Fedora 27.
[code]

[2018-02-13 11:02] rhatdan commented on #467
Yes, I confused another Issue which was looking at Alpine and wrote the message here.  Bottom line we are thrilled to see people attempting to use some of these tools on different Linux versions, then we manage.  We would love to see buildah, CRI-O, Skopeo, Podman available on lots of Linux Variants and would love to link to where users of these distros could get packaged versions of our tools.

[2018-02-13 11:55] giuseppe commented on #158
I've worked on a feature for system containers that could be useful for the Buildah case as well:

https://github.com/projectatomic/atomic/pull/1186

[2018-02-13 12:33] ripcurld0 commented on #474
@gouyang can't reproduce it.

[2018-02-13 13:15] gouyang commented on #474
@ripcurld0 are you reproducing it on RHEL?

[2018-02-13 13:24] ripcurld0 commented on #474
No, `Fedora 27`

[2018-02-13 16:30] TomSweeneyRedHat commented on #475
@gouyang Thanks for the issue report, we'll take a look at it.

[2018-02-13 19:31] TomSweeneyRedHat commented on #334
Closing as this issue was fixed in #476 and will be in version 0.12.

[2018-02-13 19:31] #334 closed

[2018-02-13 23:23] ipbabble commented on #158
@ashcrow you can try pulling down whenry/buildah
If using podman remember some bind mounts -v <path of dockerfile>:<container path to dockerfile> and /var/lib/container et al ... also --privileged and also --network host   and using buildah bud add -f container-path-and-Dockerfile

Let me know if you have any questions. I'm going to write this up. But thought I'd get something out there soon.

Wil

[2018-02-13 23:51] gouyang commented on #474
The issue s reported on RHEL, it cannot see this error on Fedora.

[2018-02-14 04:56] gouyang commented on #474
It's not happened on `centos`.  it happened on RHEL because of it only search `registry.access.redhat.com` by default.

[code]

If add `docker.io` to the registries.search or remove `registry.access.redhat.com`, the image can be pulled and no error occurs.

The issue is complaining the error message `unknown: Not Found` not very clean to user, not why it happened.

[2018-02-14 05:05] gouyang opened #479 "ostree is not supported on Centos"
[code]

[2018-02-14 08:02] ripcurld0 commented on #474
@gouyang this info was very helpful.
I could successfully reproduce the problem.

[2018-02-14 10:45] rhatdan commented on #479
Does this cause an issue, or are you just showing that it is not supported?

[2018-02-14 10:47] rhatdan commented on #474
@gouyang Did the default registries.conf on RHEL not have docker.io, or did you modify it?

Are you just reporting that you think we should have a better error message to tell the user the image is not found at any of the specified registries?

[2018-02-14 10:50] rhatdan commented on #474
On Fedora I see this error when I have a bogus image

[code]
If I remove all registies except for the redhat registry, I get the same error.
[code]

[2018-02-14 11:17] gouyang commented on #479
just showing it's not supported

[2018-02-14 11:23] ripcurld0 commented on #479
@rhatdan is this a bug?
IMHO it's an expected behavior. Not all machines have support to `ostree`.

[2018-02-14 11:58] rhatdan commented on #479
Although I think this is just a compiler issue, we did not build buildah with ostree support.  But ostree is not that important to buildah since it would only come into play if  you wanted to buildah push to an ostree pool.  You could still use skopeo to move the content out of container/storage into ostree.

[2018-02-14 12:05] ripcurld0 commented on #479
Thanks. I guess we can close it then.

[2018-02-14 12:05] #479 closed

[2018-02-14 12:09] gouyang commented on #474
The buildah is built from master.
[code]

Test on RHEL7.4, with `registries = ['registry.access.redhat.com'] ` in /etc/containers/registries.conf:
[code]
with `registries = ['docker.io']` or `registries = []`:

[code]

Please also note there is an different message for `buildah from gouyang/foobar`.

[2018-02-14 14:11] ashcrow commented on #158
Thanks! I'll carve out some time this afternoon to give it a shot and get back with you.

[2018-02-14 19:31] ashcrow commented on #158
@ipbabble I used some of the steps in [this post](https://www.projectatomic.io/blog/2017/11/getting-started-with-buildah/) and things worked well.

Here is the [gist](https://gist.github.com/ashcrow/9d0c650121f1f99eb0a1c2e60caff1a7) showing what I did to manually test and the results.

[2018-02-14 19:50] ipbabble commented on #158
Sorry Stephen I meant to have something written up. I will don’t later.

Sorry. Decided to go skiing today.

On Wed, Feb 14, 2018 at 12:31 PM Stephen Milner <notifications@github.com>
wrote:

--
Sent from Gmail Mobile on iPhone

[2018-02-14 19:52] ashcrow commented on #158
@ipbabble no problem. I'll let you know once I'm done with testing but so far so good.

[2018-02-14 20:48] baude commented on #158
fwiw, it will run in a podman container too

[2018-02-14 20:59] ashcrow commented on #158
@ipbabble I haven't hit any issues. 👍

[2018-02-15 10:14] TomasTomecek commented on #158
I'm not sure if I'm late to the party but we are actually running buildah (and `s/kpod/podman/`) in a runc container within ansible container: https://github.com/ansible/ansible-container/pull/790/files#diff-9fa3b8fd302da35fe483d1166416a024R433

We also bind-mount `/var/lib/containers/` from host to the runc container and all of this works just fine. The container itself has privileges though.

[2018-02-15 10:51] giuseppe commented on #158
@TomasTomecek would something like what I am doing in https://github.com/projectatomic/atomic/pull/1186 be helpful to you?

[2018-02-15 14:09] TomasTomecek commented on #158
@giuseppe sounds interesting; I'm worried about adding dependency from atomic to ansible container (upstream guys actually want ansible container to be usable on mac and win); on linux it would be super-useful and helped us remove ton of code.

[2018-02-15 15:35] rhatdan commented on #474
@nalind @mitrmac any ideas?

[2018-02-15 15:36] rhatdan commented on #474
@runcom PTAL

[2018-02-15 15:37] rhatdan commented on #474
@mtrmac PTAL

[2018-02-15 16:09] rhatdan commented on #158
Running buildah without requiring privs is a future goal.  Nice work people.  We need to get updates on Karma to get a good version of podman to demonstrate this tests though.

https://bodhi.fedoraproject.org/updates/podman-0.2-3.git3d0100b.fc27

[2018-02-15 16:24] rhatdan commented on #474
@mtrmac Any idea why we would see hugely different messages between RHEL and Fedora?

[2018-02-15 16:53] rhatdan commented on #479
Does this cause an issue, or are you just showing that it is not supported?

[2018-02-15 16:55] mtrmac commented on #474
If this is referring to
[code]

I believe that comes from something like https://github.com/projectatomic/buildah/blob/815cedfc71fff7460b683b5f9e8fe053b31a31ef/new.go#L223 .

[2018-02-15 17:11] ripcurld0 commented on #474
@mtrmac yes, that's right.
We are checking if the `errors.Cause` of the error is type of `errcode` and assumed the errorcode will contain a good error message (like in the `unauthorized` case).

Are you saying we shouldn't relay on that?

[2018-02-15 17:13] ipbabble commented on #158
Hi Stephen et al,

FYI for running with podman I found this successful:

podman run --privileged --network host -v
/var/lib/containers:/var/lib/containers:rw  -v /home/whenry/dfs:/tmp:Z
buildah bud -f /tmp/Dockerfile

I had several other volume mounts that I used during my tests but just
confirmed I don't need them. The ones above are all you need.
/var/lib/containers and any other use case based

[2018-02-15 17:18] ipbabble commented on #158
HEre is what I used to build the buildah container image:

bldah=$(buildah from scratch)

scratchmnt=$(buildah mount $bldah)

dnf install --installroot $scratchmnt --release 27 buildah --setopt
install_weak_deps=false -y

dnf clean all --installroot $scratchmnt --release 27

buildah config --cmd "\-\-help" $bldah

buildah config --entrypoint /usr/bin/buildah $bldah

buildah config --author "wgh @

[2018-02-15 17:35] mtrmac commented on #474
I am overall a bit confused by the conversation in this bug. It shows quite a few different environments, cases and outputs, and it’s not overall clear to me what is the specific issue being solved. Is it that the human-readable error messages, i.e. the `.Error()` values, from c/image lack context? Is it something about how `buildah` is adding/not adding its own context?

Is it unknown/still chang

[2018-02-15 17:37] mtrmac commented on #474
Also, if every reported “bad” case of missing context could be accompanied with the `--debug` output from the same situation, that would probably be helpful in quickly tracking down the error flow.

[2018-02-15 17:40] mtrmac commented on #474
To be more specific, this issue will probably be the last push for me to add at least the repo name as a context to the `unknown: not found` messages. If `buildah` then uses `errors.Cause` to strip it away, it can’t benefit. (OTOH, sure, the chain of wrapped context annotations can get horribly long, and if `buildah` know exactly what is going on, it can be quite justified in stripping it away.)

[2018-02-15 18:09] giuseppe commented on #158
@nalind is it fine to use the 'vfs' driver instead of 'overlay'?

I've done a quick try with running buildah in an user namespace, [bwrap-oci](https://github.com/projectatomic/bwrap-oci) handles it well, this runs as non-root user:
[code]

[2018-02-15 18:51] ipbabble commented on #158
You have to use if if you’re no bind mounting in /var/lib/containers. It
works but it is a little slower (I’m told - I didn’t do any formal timing)

I couldn’t get —storage-driver devicemapper to work. Only vfs

Having said that the issue of building a container image  inside the
buildah container is that you lose many benefits. Every container on the
host will pull down the “from” image even if i

[2018-02-15 19:25] rhatdan commented on #158
I think only VFS would work on a rootless environment. Since otherwise you would be required to do a mount.  But @giuseppe you said you got this to work without requiring root?

[2018-02-15 19:47] giuseppe commented on #158
@rhatdan using vfs yes.  The steps I showed in my previous comment are done with my user uid=1000, and no root is required.  The container was managed by bwrap-oci.

It is the same system container image that works for the root user, it requires this change in atomic: https://github.com/projectatomic/atomic/pull/1186 so that we are able to `atomic run --storage ostree IMAGE COMMANDS`

[2018-02-15 19:56] rhatdan commented on #158
SO is buildah running in a  usernamespace then?

[2018-02-15 20:00] giuseppe commented on #158
Yes, it is

[2018-02-15 20:15] ipbabble commented on #158
Me Too. i.e. when I ran for inside the container it was because I didn't
want --privileged. But really the use case for this is odd and the perf hit
is high overall.

William Henry
Senior Consulting Software Engineer
Red Hat
Colorado, USA.

On Thu, Feb 15, 2018 at 12:25 PM, Daniel J Walsh <notifications@github.com>
wrote:

[2018-02-15 23:23] ripcurld0 commented on #474
I agree with you @mtrmac
I guess I shouldn't have stripped the error drastically.

[2018-02-16 12:30] adelton commented on #439
Note, https://github.com/freeipa/freeipa-container/pull/188 should fix the specific freeipa-container issue.

[2018-02-16 12:34] adelton commented on #439
The minimal reproducer which triggers this issue and shows the difference between `docker build` and `buildah build-using-dockerfile` would be

[code]

[2018-02-16 12:36] adelton commented on #439
So the problem seems to be that `buildah` cannot walk symlinks.

[2018-02-16 13:02] rhatdan commented on #158
This is well worth a blog and an explanation on why it is slow.  Bottom line this can show we can build a container image without requiring root  using Buildah.  This is huge.

[2018-02-16 14:49] adelton opened #481 "buildah push to dir: creates .tar file which is not in tar format"
**`buildah push`  to `dir:` creates `.tar` file which is not in tar format**

**Steps to reproduce the issue:**
1. `./buildah from registry.fedoraproject.org/fedora:rawhide`
2. `mkdir fedora-rawhide`
3. `./buildah push registry.fedoraproject.org/fedora:rawhide dir:fedora-rawhide`
4. `ls -l fedora-rawhide`
5. `tar tvf fedora-rawhide/feec4342ed84f31082461f08a31662af85d61177bb83936ed5cc5a0ceb5755d4.t

[2018-02-16 14:59] rhatdan commented on #481
Urvashi can you take a look at this?

[2018-02-17 03:14] carlwgeorge opened #482 "repoquery (dnf-utils) denied by selinux in buildah container"
**Description**

I want to create a minimal repoquery container from scratch, but it doesn't work with SELinux enforcing.

**Steps to reproduce the issue:**
1. `ctr=$(buildah from scratch)`
2. `mnt=$(buildah mount $ctr)`
3. `dnf install --installroot $mnt --release 27 dnf-utils --setopt install_weak_deps=false`
4. `buildah run $ctr -- repoquery --whatprovides webserver`

**Describe the results you

[2018-02-17 04:54] ipbabble commented on #158
@ashcrow also availabel on quay.io

podman pull quay.io/ipbabble/buildah

write up is done. having reviewed and will post asap.

William

[2018-02-17 09:17] giuseppe commented on #158
@ipbabble could we merge our two efforts?

My work is here:

https://github.com/projectatomic/atomic-system-containers/pull/162

A system container is still able to run as a Docker container, I just needed to add some more metadata.

[2018-02-17 17:33] ipbabble commented on #158
@giuseppe Eager to chat.  I'm not sure what you mean by merge our two efforts. I did write up my use of vfs for the inside container file system build. I also wrote about why, despite being cool that it works, it's also not a very practical solution. (Due to every container potentially pulling down the same image on a single host.)

Let's connect on IRC (freenode #podman) so we can discuss why I m

[2018-02-18 20:53] bertinatto commented on #440
I managed to build an `imagebuilder` PoC to work with multi-stage builds. Here's a `docker run` of the final container generated using the multi-stage Grafeas Dockerfile:

[code]

This is the first step, but there's still work to do. I'll keep this Issue updated.

PS: It looks like I don't have permissions to take the (Trello) card.

[2018-02-19 12:38] TomSweeneyRedHat commented on #440
@bertinatto I'll see what we can do with the Trello card.  thatnks for working on this!

[2018-02-19 13:49] rhatdan commented on #482
Please attach the AVC messages you are seeing?

[2018-02-19 14:00] rhatdan commented on #482
@nalind There seems to be a big difference between the way we handle `buildah from scratch` from how we handle `buildah from fedora`?

We don't see to be mounting an overlay which would set the SELinux label, for scratch.  Since this is not an overlay mount, the dnf tol is putting down real labels in the container image, and when you finally run a container on the image, it gets permission denied.

[2018-02-19 14:42] carlwgeorge commented on #482
[code]

[2018-02-19 16:56] rhatdan commented on #482
@carlwgeorge Thanks, we figured out what the issue is, and @nalind is looking into a fix.

[2018-02-22 08:11] bertinatto commented on #440
A PR that adds multi-stage support to `imagebuilder` has just been submitted by @smarterclayton:

https://github.com/openshift/imagebuilder/pull/59

[2018-02-22 13:56] rhatdan commented on #482
Since
https://github.com/projectatomic/buildah/pull/486
has merged this should be fixed.  I will build a new version of buildah for Fedora and RHEL.

[2018-02-22 13:56] #482 closed

[2018-02-22 14:52] rhatdan commented on #440
Excellent.

[2018-02-22 15:22] carlwgeorge commented on #482
Thanks Dan!

[2018-02-22 19:33] umohnani8 commented on #481
Fixed in #489

[2018-02-22 19:33] #481 closed

[2018-02-24 12:56] kbaegis opened #496 "Default usage of registry.conf and base image name"
I may simply need clarification on a configuration item, or this may fall under an enhancement. I would like to set the default tag to something other than "docker.io/library/..."

**Description**

`buildah tag <host>.<domain>:<port>/<folder>/<image>:<tag>`
versus
`buildah tag <image>:<tag>`

By default the image is tagged as docker.io/library irrespective of the contents of /etc/containers/regist

[2018-02-24 13:19] kbaegis commented on #496
Also, I can't seem to find good documentation on the formatting behind /etc/containers/mounts.conf. Can anyone point me at it?

[2018-02-24 15:21] alatiera opened #497 "0.13 segfaults trying to run containers created with a previous version"
**Description**
I am running `fedora atomic WS rawhide`, today I upgraded from `buldah 0.12`(sorry don't really know the hash, but still have the previous `os-tree`) to `buildah-0.13-1.gitef0ca9c.fc29.x86_64`.

After trying to run any container that was created previously it segfaults. Creating new containers from the same image and passing them the same arguments works though.

**Steps to reprodu

[2018-02-24 15:25] TomSweeneyRedHat commented on #474
Closing via #485. Thanks all for the investigation on this.

[2018-02-24 15:29] #474 closed

[2018-02-24 17:59] muayyad-alsadi commented on #171
Runc have --rootless option and I have a little demo here.

I know there would be many problems like multiple users ex. When dnf install httpd
Some files would be owned by root and others by web user

http://bcksp.blogspot.com/2018/02/diy-docker-using-skopeoostreerunc.html?m=1

[2018-02-24 18:19] TomSweeneyRedHat commented on #496
@kbaegis Thanks for the issue report.  I'd thought the /etc/containers/registries.conf would have ruled there if it was present.  Will have to play around with that further.  Glad you found the mount info!

[2018-02-24 18:23] TomSweeneyRedHat commented on #497
@alatiera Thanks for the issue report.   After v0.12 we vendored in containers/storage and containers/image.  I'm guessing that's causing the issue.  @rhatdan @nalind any other thoughts?  Sounds like a release note for v0.13 when it goes out.

[2018-02-25 06:26] alatiera commented on #497
The previous version I was using of Buildah btw was:

Output of `rpm -q buildah`
`buildah-0.12-1.git8badcc2.fc28.x86_64`

and the full output of `rpm-ostree status -v`
[code]

[2018-02-26 00:05] rhatdan commented on #497
@alatiera Could you try this patch and see if it fixes your problem.

[2018-02-26 08:28] alatiera commented on #497
@rhatdan yea sure. Do I need to spin it as an `rpm` and override my `os-tree` or `go get` would work?

[2018-02-26 09:05] alatiera commented on #497
I followed the [installation notes](https://github.com/projectatomic/buildah/blob/master/install.md), cloned https://github.com/rhatdan/buildah/tree/segfault and built a binary that I copied to my host system.

I don't think it worked though. I might failed something too. Can I get the binary to print the commit hash it was built from in any way? `buildah -v` shows the same as my host install.
[co

[2018-02-26 13:23] alatiera commented on #497
yea, sure will do in a bit!

[2018-02-26 13:51] alatiera commented on #497
@rhatdan I don't see any new commit nor any `push -f` indication in the MR. Where is the new patch located?

[2018-02-26 13:56] rhatdan commented on #497
I did a push --force, to replace the original.  Very minor change, I was checking if the options were not nil and returning, when should have been checking if nil.

[2018-02-26 14:12] alatiera commented on #497
Still segfaults, but now I think it hits a new one.

[code]

The first line now is diff now `/root/buildah/src/github.com/projectatomic/buildah/run.go:410 +0xea1`

where previous it was `/root/buildah/src/github.com/projectatomic/buildah/run.go:111 +0x37`

[2018-02-26 20:16] mtrmac commented on #474
See https://github.com/containers/image/pull/420 .

[2018-02-26 23:29] rhatdan commented on #497
Looking at this further, I think we had a breaking change.  I think we will have to just say the older containers are no longer supported after upgrade.  You would have to commit the old containers and then work on them.

[2018-02-27 07:19] alatiera commented on #497
Okay will do that, thanks!

Would it be possible to have it show an error message instead of segfaulting? Other people might be confused later on.

[2018-02-27 11:57] giuseppe opened #502 "commit fails with "error determining uncompressed digest for blob" when using vfs"
I've tried to build an image using the vfs storage driver (that could be used from an user namespace).

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

"buildah commit" succeded

**Output of `rpm -q buildah` or `apt list buildah`:**

using buildah from upstream, commit cb42905a7f5e91a4407b090947cd0ea0d375ada0

**Outpu

[2018-02-27 12:01] rhatdan commented on #502
@mtrmac @nalind PTAL

[2018-02-27 12:13] rhatdan commented on #171
@giuseppe PTAL

[2018-02-27 12:16] rhatdan commented on #497
Yes I just added an error message to 0.14 and am working on cutting 0.15.  Thanks for finding this, and hopefully we will be better about breaking backwards compatibility in the future.  But that is why this is tech preview.  :^(

[2018-02-27 13:36] rhatdan commented on #497
buildah-0.15 should fix this issue.

[2018-02-27 13:36] #497 closed

[2018-02-27 13:36] rhatdan commented on #496
@TomSweeneyRedHat Did you get the same problem?

[2018-02-27 13:37] rhatdan commented on #475
@gouyang Could you try to build buildah from master and see if you get this issue.  I just built buildah-0.15 for RHEL, but it will take a few weeks to get released.

[2018-02-27 13:42] TomSweeneyRedHat commented on #496
Haven't tested in the past few days, but have seen this in the past.

[2018-02-27 13:45] rhatdan commented on #496
Could you check if podman has the same problem or if this is fixed in podman. @baude might have done something around this.

[2018-02-27 13:58] TomSweeneyRedHat commented on #496
Will do.  I'm pretty sure it's OK in Podman, either @baude or maybe @umohnani8 worked on this.

[2018-02-28 12:06] gouyang commented on #475
The issue is still existing by building buildah from master.

# ./buildah run hello-working-container
standard_init_linux.go:190: exec user process caused "exec format error"
# ./buildah version
Version:       0.15
Go Version:    go1.8.1
Image Spec:    1.0.0
Runtime Spec:  1.0.0
Git Commit:    d1330a5
Built:         Wed Feb 28 19:59:37 2018
OS/Arch:       linux/amd64

[2018-03-01 01:00] gouyang commented on #475
It's the same result with runc build from master.
[code]

[2018-03-01 18:01] ipbabble commented on #158
http://www.projectatomic.io/blog/2018/03/building-buildah-container-image-for-kubernetes/

[2018-03-01 18:11] ashcrow commented on #158
@ipbabble great post! I did notice there's a hiccup in the markdown to youtube in the post.

[2018-03-01 18:38] TomSweeneyRedHat opened #504 "Interface different with Docker (bud)"
Moving to Buildah for @fatherlinux, this was orginally opened in https://github.com/projectatomic/libpod/issues/431

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**
I "think" this is a bug, because the two behave differently. Basically, with a build, podman requires a "." at the end of the command, where docker doesn't even when pulling a remote Dockerfile...

**Steps to

[2018-03-02 10:54] gouyang opened #505 "regression issue in command push and commit"
There are regression problems between command push and commit, I guess it's introduced by the fixing of #474.

1. Tested with buildah-0.12-1.git8badcc2.fc27.x86_64
[code]
1.1 create container from pushed image is working
[code]

1.2 create container from committed image is failed
[code]

2. Tested buildah build from master
[code]

[2018-03-02 17:53] TomSweeneyRedHat commented on #505
Thanks for the report @gouyang.  @ripcurld do you have time to take a look at this?

[2018-03-02 20:25] nalind commented on #502
I can't reproduce this when starting with a clean pull of the fedora:27 package.  Have any tools which were built with an older version of the storage library been used to modify the storage tree?  Do you have the output from using the `--debug` flag with `buildah commit`?

[2018-03-02 21:54] nalind commented on #502
Ah, I can reproduce this.

[2018-03-02 22:52] TomSweeneyRedHat commented on #475
I finally had some time to play and wasn't able to duplicate this.  I tried both Buildah 0.12 and Buildah 0.15 and everything worked for me.  Our runc versions are different, I just used what ever was installed with RHEL rather than updating that.

[code]

I then upgraded runc to the latest version and had the same result:
[code]

If possible, could you retest on a new VM with RHEL @gouyang ?

[2018-03-03 00:12] gouyang commented on #475
It's not reproduced on a new VM RHEL guest. It's strange it 's always reproduced on one of my RHEL system no matter reboot the system or reinstall buildah+runc on it.

[2018-03-03 01:31] gouyang commented on #475
It seems the problem of the `hello` file, built a binary locally works fine.

[code]

[2018-03-03 01:31] #475 closed

[2018-03-03 14:59] TomSweeneyRedHat commented on #475
@gouyang thanks for the follow up.  That's strange that the binary was problematic on just that one machine.  If you run into that again, please reopen or open a new issue.

[2018-03-03 16:58] duritong opened #507 "buildah bud does not support SHELL keyword"
Using buildah 0.12 I am not able to build from Dockerfiles that contain the [SHELL keyword](https://docs.docker.com/engine/reference/builder/#shell):

[code]

[2018-03-03 17:33] ripcurld commented on #505
Yes, I will be working on this in the next two days.

[2018-03-04 14:36] ripcurld commented on #505
@gouyang that's strange. I am trying to reproduce this error on my machine: `Fedora 27` but couldn't.
Can you provide more details - your settings, distribution (rhel, fedora, ubuntu)?

Thanks.

[2018-03-04 15:44] rhatdan commented on #507
It appears that the SHELL command is mainly for Windows.  But we will look into adding it.

[2018-03-04 15:44] rhatdan commented on #507
Tom probably need to get this into ImageFactory first.

[2018-03-04 15:44] rhatdan commented on #507
@nalind WDYT?

[2018-03-05 05:54] gouyang commented on #505
I was reproduced on Fedora 27 with all packages are latest.

After some investigation, it seems to be an issue between buildah and docker-distribution, no this issue if install a lower docker-distribution version on Fedora 27.
1. Test it with docker-distribution-2.5.1-1.fc26.x86_64.rpm, no this issue.
2. Test it with docker-distribution-2.6.2-5.git48294d9.fc27.x86_64, the problem is reproduced.

[2018-03-06 10:25] cyphar commented on #386
I'm not sure what you mean -- rootless containers have both `/proc` and `/sys` (`procfs` is mountable inside a user namespace, while `sysfs` needs to be bind-mounted but that isn't a real issue for read-only usecases).

[2018-03-06 18:18] duritong commented on #507
I think if buildah likes to become the chosen tool for building container images and provides a build from Dokerfile option, it probably should support all command. Just adding that as comment with regard to "mainly for Windows", but I understood that you are looking into supporting it.

[2018-03-06 23:38] rhatdan commented on #386
Actually I later found out that /proc and /sys can be mounted in a usernamespace.  We are working on getting overlayfs to be "semi" supported also, although there are some security concerns on it.

[2018-03-07 08:51] rhatdan commented on #505
@mtrmac any idea?

[2018-03-07 09:50] ripcurld commented on #505
I am afraid it's not related. On the machine where I tried to reproduce it, I am using that docker-distribution version and still don't get the error.
[code]

From reading the error message, it seems like `buildah` couldn't commit or push because it couldn't find/read the containers information stored in `/var/lib/containers/storage/overlay`:

[code]

[2018-03-07 17:50] mtrmac commented on #505
I don’t know nearly enough about overlay to understand those messages.  As for the `manifest unknown`s, I can’t see anything obviously wrong, .  `--debug` output, both from the publishing and consumption steps, might be useful to narrow this down a bit.

[2018-03-08 00:44] gouyang commented on #505
I had reproduced the issue on two Fedora 27 system, there is nothing specify settings.

Below steps are running one after one.
[code]

It shows the issue is occurred after upgrade the system, which has latest docker-distribution.

[2018-03-08 00:57] gouyang commented on #505
The error for commit and push are not seeing any more, the error for `buildah from`  in above comment is the only problem now.

[2018-03-08 04:42] ipbabble commented on #158
So I'm going to create a new/separate issue about non priv. Buildah container

[2018-03-08 06:25] ripcurld commented on #505
@gouyang can you run these commands again with `--debug`?

[2018-03-08 20:33] bertinatto commented on #343
I followed the steps I reported above and the issue seems to be solved now. I think (but I'm not 100% sure) that #471 by @rhatdan solved it.

Also, I was investigating the error above reported by @TomSweeneyRedHat and I found out that this was actually a `runc` issue. As soon as I updated to the latest version of `runc` (`master` branch) the permission error and the AVC's in `journalctl` were gone

[2018-03-09 07:40] gouyang commented on #505
[code]

[2018-03-09 07:43] gouyang commented on #505
Enable `--debug` on old docker-distribution.

[code]

[2018-03-09 08:47] stiller-leser opened #511 "Document how to use buildah with local docker image"
Hi,

I've been trying to get `buildah bud . Dockerfile` to run with a local docker image (`suse/sles12sp12`) on a Suse system.

I have tried adding `docker://` before the image in the `FROM` clause as well as `docker-daemon:` but none of these seems to work. Buildah still returns `error building: error creating build container: no such image "docker://suse/sles12sp2:1.0.2" in registry: image not k

[2018-03-09 08:59] mtrmac commented on #505
[code]

OK, that does look like the registry is not providing the stored manifest.

[2018-03-09 09:09] mtrmac commented on #505
Notable: The old version of the registry refuses an OCI manifest, accepts the result of conversion of schema2, and returns the manifest.

The new version accepts an OCI manifest, but then can’t return it back?!

[2018-03-09 13:19] rhatdan commented on #511
So the image is installed in the docker daemons storage?

I would think you can use docker-daemon://suse/sles12sp2:1.0.2

If you use docker:// that means you are using the "docker" protocol to pull from a container registry.  docker-daemon indicates the storage is in a docker-daemon.  Not sure if this was ever tried before though.

skopeo should be able to build without ostree?

[2018-03-09 13:59] #343 closed

[2018-03-09 14:00] stiller-leser commented on #511
Here's what I tried - unfortunately to no avail:

[code]
[code]
[code]
[code]
[code]

** Regarding skopeo **
[code]
Let me know if I can provide any additional information. This is all I could come up with as useful.

[2018-03-09 15:20] umohnani8 commented on #511
Looks like buildah from doesn't support the various transports. Will add in the functionality.
@stiller-leser we support pulling from registries, if you want to be able to do `buildha from centos` then edit your `/etc/containers/registries.conf` file and add the registries you want buildah to try and pull an image from.

[2018-03-09 15:52] stiller-leser commented on #511
Hi @umohnani8,

thanks for the feedback. For what it is worth I do not even have a `/etc/containers/registries.conf`. I created one based on the one found in /tests. With it, I had the following output:
[code]

Without it, I saw the same, just shorter:
[code]

This I saw with no matter what image I tried. Correct me if I'm wrong, but public images should always be accessible, no? (Ignoring the spe

[2018-03-09 16:08] umohnani8 commented on #511
@stiller-leser you are missing the policy.json, just copy over the policy.json file in test to `/etc/containers/policy.json` and I believe your problem should go away. This is something we need to add in our readme, I will open an issue and fix that.
The reason you get the longer debug output with the registries.conf file is that buildah is trying all the registries in the conf file for the centos

[2018-03-09 16:13] stiller-leser commented on #511
@umohnani8 that did the trick. Thank you!

[2018-03-09 16:16] rhatdan commented on #511
Those files are packaged up in atomic-containers and skopeo-containers. Although they should be moving to skopeo-containers.

[2018-03-09 21:56] umohnani8 commented on #511
@rhatdan what if you just build buildah from source without installing skopeo-containers? Shouldn't we document this somewhere?

[2018-03-09 22:11] rhatdan commented on #511
I think it is in install.md now.
[code]

[2018-03-10 14:33] duritong commented on #505
I can confirm that the error happens since I updated to latest packages in F27

[2018-03-12 16:37] mtrmac commented on #505
Stand-alone reproducer:
[code]

Corresponding server-side logs for the `/manifests` endpoints:
[code]

[2018-03-12 17:09] mtrmac commented on #505
Inspecting the underlying storage, _storing_ the manifest works fine, although I haven’t tracked down the reported error yet.

The problem is
[code]
(note the trailing space, it is from `… type %s`)

This is very likely https://github.com/docker/distribution/pull/2076#issuecomment-328655346 : the manifests created by `containers/image`, and apparently `buildah`, don’t contain the `mediaType` field

[2018-03-12 18:15] mtrmac commented on #505
docker/distribution changes suggested in https://github.com/docker/distribution/pull/2076#issuecomment-372410481 . @owtaylor something like this could be incorporated into the Fedora packages.

This fixes reading OCI manifests, as well as the `error dispatching manifest {push, pull} to listener: missing signature key` errors (which are caused by `ocimanifest.DeserializedManifest.Payload` returning

[2018-03-12 18:39] rhatdan commented on #505
@mtrmac Should buildah do something to make sure that field is populated.

[2018-03-12 18:44] mtrmac commented on #505
Technically it can, but I don’t think it _should_: At this point we are more or less solidifying the de-facto spec.

So, either the spec stands, and the docker/distribution PR + the Fedora patched package should be updated to match, or the spec should be officially modified, and then `buildah` and c/image can freely add the field.

If Fedora right now patched both the docker/distribution server an

[2018-03-12 20:28] rhatdan commented on #374
These patches were added

[2018-03-12 20:28] #374 closed

[2018-03-12 20:30] rhatdan commented on #158
The answer to this question is yes, so I am closing this issue.  We have other issues about running with UserNamespace and in un priv containers.

[2018-03-12 20:30] #158 closed

[2018-03-12 20:31] rhatdan commented on #407
@ripcurld @TomSweeneyRedHat Any movement on imagebuilder with this support?

[2018-03-12 20:41] rhatdan commented on #502
Where does this fix for this need to be done?

[2018-03-13 15:14] owtaylor commented on #505
I don't see any problem with adding something like Mike Brown's patch
(which corresponds to my suggested fix) to the Fedora packages - I think
it's *good* to get testing on this code and find problems like this. When I
get a chance over the next day or two I'll review his patch, and look into
extending it to cover image indexes and give it some testing.

On Mon, Mar 12, 2018 at 2:44 PM, Miloslav T

[2018-03-13 15:46] mtrmac commented on #505
Oh, sure, there’s no other way to find the problems. I was just expressing a preference among the possible workarounds if we had to work it around _immediately_ without being able to work on a clean fix.

[2018-03-13 21:05] nalind commented on #502
This should be fixed by #506.

[2018-03-13 21:07] nalind commented on #502
Can we recheck with a version that's later than when we merged #508?

[2018-03-16 11:39] rhatdan commented on #507
https://github.com/openshift/imagebuilder/pull/62 is merges, so we should be able to support the SHELL command now.

[2018-03-16 20:06] cevich opened #518 "Buildah'ing an image inside an unprivileged container"
**Description**
I was thinking, it'd be handy to not need a bloated-host in order to build and push container images.  This would enable deploying new images directly from inside a container-based CI environment (like travis), once testing passed.

**Steps to reproduce the issue:**
1. ``$ sudo podman run -it --rm fedora bash``
2. ``# dnf install -y podman buildah``
2. ``# sed -i -r 's/"overlay"/"v

[2018-03-16 20:11] cevich commented on #518
@nalind This is the thing we talked about the other day, that "should work".  All details above, because I'm sure you remember perfectly :smile:  NP if this is not possible / will never work / don't bother, I was just playing with an idea, so nothing critical.

[2018-03-17 00:09] gouyang commented on #505
Testing pass on this build `docker-distribution-2.6.2-6.git48294d9.fc27 `.

[2018-03-17 10:26] rhatdan commented on #518
@cevich I believe you would still need SYS_ADMIN to do this.
@giuseppe has played the most with this situation.

[2018-03-17 15:00] giuseppe commented on #518
yes that won't work.  You will still need CAP_SYS_ADMIN (or an user namespace) to run the containers created by `buildah run`.

I got it to work with bwrap-oci and bubblewrap (it requires this PR: https://github.com/projectatomic/bubblewrap/pull/256) running as non-root user in the host.
I wrote about the current status here: https://www.scrivano.org/2018/02/25/current-status-problems-running-buil

[2018-03-17 22:48] rhatdan commented on #375
I think this is probably more of an issue for podman. Once podman starts sharing the database with cri-o, then podman commit could do what you want.
@mheon WDYT

[2018-03-17 22:52] mheon commented on #375
@rhatdan If our usecase is committing existing containers running by CRI-O, `podman commit` once we have them sharing containers should be perfect.

[2018-03-17 22:55] rhatdan commented on #432
The rpm figures out that buildah needs the library which will cause it to be installed.

[code]

[2018-03-17 22:57] rhatdan commented on #461
This works.
 buildah config --cmd '\-\-help' fedora-working-container-2

[2018-03-17 22:58] rhatdan commented on #169
@edsantiago Are you still seeing this issue with current buildah?

[2018-03-17 23:00] rhatdan commented on #429
@gouyang Is this still an issue?  Going through old issues.

[2018-03-17 23:01] rhatdan commented on #466
@code-ape Is this issue still open, or are you satisfied with the answer?

[2018-03-17 23:02] rhatdan commented on #439
@umohnani8 Did you ever get anywhere with this issue?

[2018-03-17 23:31] rhatdan commented on #496
I am about to open a PR on documenting the mounts.conf file.

[2018-03-17 23:33] rhatdan commented on #504
So do we just need to make the final "." optional?

[2018-03-17 23:35] rhatdan commented on #375
I think this is probably more of an issue for podman. Once podman starts sharing the database with cri-o, then podman commit could do what you want.
@mheon WDYT

[2018-03-17 23:35] rhatdan commented on #375
I don't know if there is a way to shift an issue from one REPO to antother.  @mheon Can you open this issue in podman and link @smarterclayton to it.

[2018-03-18 00:01] code-ape commented on #466
@rhatdan I think this is good to be closed. I got half way done with packaging and work has flared up the last couple weeks. I’ll submit a new issue when it’s done. Thanks for circling back!

[2018-03-18 00:02] mheon commented on #375
@rhatdan A specific issue for committing CRI-O containers? Or should we use the generic CRI-O integration tracker bug in podman for this?

[2018-03-18 08:31] duritong commented on #505
Once I deleted the previously built layers, I was able to build, commit and then push again using `docker-distribution-2.6.2-6.git48294d9.fc27`

[2018-03-18 10:42] rhatdan commented on #505
@gouyang can we close this issue now?

[2018-03-18 10:44] rhatdan commented on #375
I would say a specific issue on committing CRI-O containers, then we can close this one with a link to it.  Theoretically we could get to the point of committing CRI-O containers before we get to full integration.

[2018-03-18 10:44] #466 closed

[2018-03-18 16:33] BenHall opened #523 "Build stage caching"
Is it possible to take advantage of caching layers from previous steps so they don't need to re-run?

For example, I would expect this to produce the same image but at the moment it rebuilds from scratch.

[code]

[2018-03-18 20:28] edsantiago commented on #169
I'm really sorry for the delay. I haven't been spending time with buildah. I hope to remedy that.

Right now, with buildah-0.11 and 0.15 on RHEL7.5, my reproducer doesn't work at all:
[code]
Commenting out the `override_kernel_check` entry from `/etc/containers/storage.conf` (from skopeo-containers-0.1.28-1.git0270e56) yields:
[code]
...at which point I choose to enjoy my Sunday, and get back to t

[2018-03-19 09:42] rhatdan commented on #523
We have a long range plan to allow users to specify if they want caching or not.  For the developer use case it would be a big benefit, but for the situation where you are putting buildah into an build chain, it is actually slower, and you end up with lots of layers.

[2018-03-19 09:43] rhatdan commented on #523
We are always looking for people to help, so if someone wanted to take a stab at this...

[2018-03-19 11:42] TomSweeneyRedHat commented on #461
I'm not having as good of luck with it...  Reopening, but #520 fixes this.

[code]

[2018-03-19 17:37] edsantiago opened #526 "devmapper: Unknown option overlay.override_kernel_check"
...when invoking with `--storage-driver devicemapper`:

    # buildah --storage-driver devicemapper from fedora
    devmapper: Unknown option overlay.override_kernel_check
    devmapper: Unknown option overlay.override_kernel_check

Cause: `override_kernel_check = "true"` in `/etc/containers/storage.conf`. I'm seeing this on Fedora 27 and RHEL 7.5.

This is a followup to #309, which appears to hav

[2018-03-19 22:55] ipbabble opened #527 "Can't build RadAnalytics image using `buildah bud`"
**Description**

This is a dup of https://github.com/projectatomic/libpod/issues/518

buildah bud stops building this image when it hits the RUN yum steps. This Dockerfile is using a centos base image.

Error status is 139

**Steps to reproduce the issue:**
1.  git clone  https://github.com/radanalyticsio/oshinko-s2i.git
2. sudo su
3. cd /oshinko-s2i/java-build
4. buildah bud -t myradimage .

Dock

[2018-03-20 00:28] rossturk commented on #527
Hm. On a brand spankin' new Fedora Cloud Base VM (inside OpenStack), I ran:

[code]

I probably should have run that update before installing git and buildah. Bad habit, not sure if it matters. Then I ran:

[code]

It seemed to work as expected - I did not get the errors @ipbabble is seeing and the image was successfully created.

[code]

Here is more info on my environment:

[code]

I noticed tha

[2018-03-20 01:26] ipbabble commented on #527
Ack @rossturk  I think this laptop might be hosed due to some mixes of upstream build install and dnf install. I'm thinking I need to clean things up. Might also be why I'm having issues with the system containers while @giuseppe is not having issues.  I smell a time wasting environment.

[2018-03-20 01:43] ipbabble commented on #527
Confirmed @rossturk  thanks for checking this and helping  the engineers not waste time.
I uninstalled everything and reinstalled Buildah. Still had a problem. However the following saved the day (just like /var/lib/docker) rm -rf /var/lib/containers.

[2018-03-20 01:43] #527 closed

[2018-03-20 09:24] ripcurld commented on #429
@gouyang fixed:

[code]

[2018-03-20 09:24] #429 closed

[2018-03-20 10:44] rhatdan commented on #526
We should just ignore this flag in containers/storage.  @nalind WDYT?

[2018-03-20 10:48] rhatdan commented on #526
Actually this is strange looks like the code is still using the "overlay" specified in the storage.conf to specify the option even though the command line overrode the option.  Perhaps we should just clear options when the user overrides  in the command.  Since the options are per driver, we should drop the config.

[2018-03-20 12:53] rhatdan commented on #526
Since #538 is merged, I am closing this issue.

[2018-03-20 12:53] #526 closed

[2018-03-20 15:02] cevich commented on #518
@giuseppe 'cept I dunnawanna RUN the image, I just want to create it (then I'd just push it up to a registry).  Still need CAP_SYS_ADMIN just for building?

[2018-03-21 14:04] ianmiell commented on #171
@muayyad-alsadi thanks, but afaict that's run, not build. Build is that ask here.

@rhatdan @giuseppe any update on this? Rootless build still a big deal for us here at $WORK.

[2018-03-21 14:21] giuseppe commented on #171
you can run buildah as non-root but you need an usernamespace where the user can keep the required capabilities.

It doesn't work yet with upstream runc (AFAIK) as it requires some changes that were not yet merged, at least last time I've checked.

I've managed to get it working in an atomic user container (atomic install--user): https://github.com/projectatomic/atomic-system-containers/tree/maste

[2018-03-21 14:30] ianmiell commented on #171
The capabilities are the challenge, hence my comment about SYS_ADMIN above. We operate in a highly restricted environment where capabilities are closely guarded.

[2018-03-21 15:38] umohnani8 commented on #439
@rhatdan working on it.

[2018-03-22 07:27] brlbil opened #530 "Arm builds for Ubuntu"
All the packages in ubuntu repository expect buildah are compiled for armh
Please add armh packages for buildah as well

Ubuntu repository
https://launchpad.net/~projectatomic/+archive/ubuntu/ppa

[2018-03-22 15:33] giuseppe commented on #171
I am not sure it is possible to avoid that.  Most programs that are executed by "buildah run" requires to run as root (e.g. dnf, apt-get) so in a way or another you need to provide these capabilities.

[2018-03-22 15:35] ianmiell commented on #171
I was thinking user mapping could be used for this:

https://docs.docker.com/engine/security/userns-remap/

On Thu, Mar 22, 2018 at 3:33 PM, Giuseppe Scrivano <notifications@github.com

[2018-03-22 15:37] giuseppe commented on #171
@ianmiell yes, sure, the capabilities can be provided from an user namespace as well.  That is what I was trying to achieve and described earlier in https://github.com/projectatomic/buildah/issues/171#issuecomment-374953868.  The limitations are that you need "vfs" as the backend and a patched runc (or bubblewrap in the bwrap-oci case)

[2018-03-23 11:48] rhatdan commented on #171
I am working with the upstream kernel contributors on User Namesapce and Overlay to get Overlay mount support to be allowed within a UserNS.  Once we have that the VFS requirement would go away.

[2018-03-23 14:19] lsm5 commented on #530
@brlbil @rhatdan sorry about the lag, but yes, armhf will be available in a bit, all other packages in the PPA do have armhf already https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages

[2018-03-23 15:15] lsm5 commented on #530
v0.15 (built from master) should be available in a bit (pending publication) for all arches except powerpc. ptal and lmk.

[2018-03-23 22:02] TomSweeneyRedHat opened #531 "Failure in buildah bud from podman container."
**Description**
@ipbabble was trying to run this command with the Dockerfile:

[code]

**Steps to reproduce the issue:**
1. Issue the above command

**Describe the results you received:**
[code]
It appears the image is being pulled, but not written locally.  The error message is also a bit misleading, it might be best in this situation to say "error writing {image} to repository:".  This error app

[2018-03-25 17:23] tdudgeon opened #532 "Buildah images not so small?"
**Description**

One of the key points of buildah is that it allows you to build small images without lots of extra fluff like yum and python. What I'm finding is that the images buildah creates are bigger than the traditional docker images, even though they don't contain this extra fluff.
What is happening here?

**Steps to reproduce the issue:**

This is all done on a new Centos7 cloud image wit

[2018-03-26 03:13] pixdrift commented on #532
This isn't a direct comparison. If you track down the centos 7 base image, it looks like it's built using a base filesystem tarball rather than using yum to install the base system.

The centos 7 docker image on docker hub links to the dockerfile:
https://github.com/CentOS/sig-cloud-instance-images/blob/02904503939756f540cfaa3fbafbf280e8a11bef/docker/Dockerfile

[2018-03-26 04:29] pixdrift opened #533 "--root option naming inconsistent with storage.conf file"
**Description**
The '--root' option is inconsistently named across command line / configuration file (/etc/containers/storage.conf)

**Steps to reproduce the issue:**
1. Run the following to use alternate root directory (works as expected)
`buildah --root /myrootdir images`

2. Add the following to `/etc/containers/storage.conf`
`root = "/myrootdir"`

As per documentation here:

3. Attempt to run

[2018-03-26 05:12] pixdrift commented on #533
I see the `/etc/containers/storage.conf` file is owned by skopeo, so changing the option there may not be viable.

[2018-03-26 13:58] rhatdan commented on #532
@nalind @mtrmac Isn't this also an issue of compressed versus uncompressed?

[2018-03-26 14:10] rhatdan commented on #533
We really can not change the configuration file since it is used by buildah, skopeo, cri-o and podman.

Easiest is to change the documentation.  We could also change the buildah option to be --graphroot rather then root.

[2018-03-26 15:52] tdudgeon commented on #532
@pixdrift Yes, of course its not an exact comparison as they were built differently.
But its not what I was expecting.
The image built with buildah contains just the minimal scratch image (clocking in at  a measly 1.77 KB for me) plus the bash and coreutils packages (which takes it up to 212 MB).
The centos Dockerhub image contains those same bash and coreutils packages plus python and yum, and ma

[2018-03-26 16:00] mtrmac commented on #532
https://github.com/CentOS/sig-cloud-instance-build/blob/master/docker/centos-7.ks also does a few more cleanups.

[2018-03-26 19:30] rhatdan commented on #532
@tdudgeon Could you check to see where the extra size is coming from?
On the buildah container do

du -sM /*

To show if there is any weird space being used.

[2018-03-26 19:30] rhatdan commented on #532
Could this be the CLanguage bindings?

[2018-03-26 19:50] mtrmac commented on #532
It might be helpful to start with determining whether the difference in size is due to the container _contents_, or due to the _tooling_.

Is the ratio between `du -sc /` and the size reported by `docker images`/`buildah images` roughly equal (i.e. the content is the difference), or significantly different (i.e. the tooling is the difference?)

[2018-03-26 22:41] pixdrift commented on #533
I don't mind the suggestion to change the option to --graphroot, but my concern is that it's not clear what 'graph' means in this context.. that can probably be fixed with documentation too though.

[2018-03-26 22:49] pixdrift opened #537 "buildah images 'CREATED AT' doesn't report in configured local time"
**Description**
The 'CREATED AT' date in 'buildah images' reports in UTC rather than configured local time.

**Steps to reproduce the issue:**
1. Display current date
[code]
2. Compare to time of recently created image in `buildah images`
[code]

**Describe the results you received:**
'CREATED AT' displays date/time in UTC

**Describe the results you expected:**
'CREATED AT' displays date/time in

[2018-03-26 23:20] pixdrift commented on #532
I built the centos:7 from the upstream Dockerfile using buildah bud:
[code]

Pushed to docker:
[code]

[2018-03-26 23:31] TomSweeneyRedHat opened #538 ""FROM image AS tag" not recognized by bud, but "FROM image as tag" is."
**Description**

Using this Docker file
[code]
returns:

[code]
However if you lowercase 'AS' in the Dockerfile, it works.

**Steps to reproduce the issue:**
1. See description

**Describe the results you received:**
Error as noted in description.

**Describe the results you expected:**
The build to work.

**Output of `rpm -q buildah` or `apt list buildah`:**

Not installed via rpm, cloned from Gi

[2018-03-27 00:08] pixdrift commented on #532
@tdudgeon

Pulling apart the ks file posted above, and looking in the image, it looks like the documentation (~4MB) and locale-archive  (~99MB) is what is causing the size issues. If you force your locale in the yum installer and specify nodocs, you will get a significantly smaller base image:

[code]

Updated buildah script:
[code]

Interested to know if this works ok from your CentOS source, and

[2018-03-27 07:17] tdudgeon commented on #532
@pixdrift Hey that makes a big difference. In my case it builds an image that is 91.56 MB in size. Much smaller than the original 212.1 MB (though still a fair bit bigger than your one of 56.4 MB).

[2018-03-27 07:22] q384566678 opened #539 "Cannot create image with bud command"
The following error occurs when I execute the following command to create an image:

[code]
The environment is as follows:
[code]
But I can use the docker command to build.
What solution do you have?
Thank you!

[2018-03-27 08:06] bertinatto commented on #538
Created a PR in *openshift/imagebuilder* to fix this.

[2018-03-27 10:30] ripcurld commented on #539
hi @q384566678 can you give information such as:
 * linux distribution
 * configurations (`/etc/containers/{policy.json,registries.conf,storage.conf,/registries/*}`)

I tried to reproduce the error but unsuccessfully:
[code]

[2018-03-27 11:12] pixdrift commented on #532
@tdudgeon I suspect the difference in size is due to package dependency creep in the included packages. The build I was using may be from a 7.2/7.3 repo (was a random dev instance I had). Will have  a closer look tomorrow and point it at 7.4. In total, I believe there were 20 rpms installed.

[2018-03-27 11:14] TomSweeneyRedHat commented on #539
@q384566678 Thanks for the report.  +1 on what @ripcurld asked for.  This looks very much like a registry resolution problem.  My guess is something is off in your /etc/containers/registries.conf file.  If you've a chance, change the line in your Docker file to:

[code]
If that works, then we are on the right track.  Thanks!

[2018-03-27 11:56] rhatdan commented on #532
@tdudgeon Is Buildah now smaller the docker build?

[2018-03-27 11:57] rhatdan commented on #532
@ipbabble Might be worth a blog on how to handle languages and make smaller images.

[2018-03-27 11:59] tdudgeon commented on #532
@rhatdan Yes, the centos:7 image on Docker Hub is 195 MB whilst my latest equivalent with buildah is 91.56 MB. So just under half the size.

[2018-03-27 12:07] rhatdan commented on #532
WooHoo.
BTW Size is one important factor, but another factor customers look at is the number of packages/files inside of a container.  They are looking to limit attack surface, with the theory that the fewer files/executables in the image the harder it is to exploit a container.
So you might want to get a count of RPMs install

[2018-03-27 12:15] rhatdan commented on #533
Well we don't expect any Users to ever use this option unless they are using it in a QE Environment.  So the name and option should match.
Do you want to open a PR to change it, or do you want us to do it?

[2018-03-27 15:27] mohammedzee1000 commented on #532
You guys might also want to take a look at the atomic image https://github.com/CentOS/atomic-container

[2018-03-27 16:54] pixdrift commented on #533
@rhatdan, I can't meet the PR signing requirement, so can I ask that you raise the PR?

[2018-03-27 17:03] pixdrift commented on #532
@mohammedzee1000, this uses essentially the same package selection as I have outlined above with the os release, microdnf and systemd added.. then some manual cleanup of the resulting files.

[code]

I am interested to know how my OL7 image ended up so much smaller (package count and size) than CentOS, I can only assume dependencies.

@tdudgeon, can you post an RPM list from your container and I w

[2018-03-27 17:37] giuseppe commented on #532
you can save some space removing the locales you don't need.  This should be quite safe to do:

[code]

[2018-03-27 21:02] pixdrift commented on #532
@giuseppe, this is redundant if you use the yum command I have provided above (`--setopt=override_install_langs=en_US.utf8`) because alternate locales aren't installed.

The locale-archive when specifying the language in yum is 1.1M instead of the default 100M.

[2018-03-27 22:35] pixdrift commented on #532
Resulting package list from my posted buildah script above:
[code]

[2018-03-27 23:19] ipbabble commented on #532
Ack. On PTO but will take a look as soon as possible.

Been looking at this for RadAnalytics issues too.

William

On Tue, Mar 27, 2018 at 6:57 AM Daniel J Walsh <notifications@github.com>
wrote:

--
Sent from Gmail Mobile on iPhone

[2018-03-28 03:28] q384566678 commented on #539
Thanks for your suggestions. I don't find `/etc/containers` folder, I try to set up a `containers` folder under `/etc`, and put the `buildah/tests/registries.conf` copied to the `containers` below, but still not success.

This is my Linux distribution:
[code]

[2018-03-28 09:59] rhatdan commented on #539
https://github.com/q384566678 did you try Tom's suggestion?

[2018-03-28 10:02] q384566678 commented on #539
[code]

[2018-03-28 10:02] rhatdan commented on #539
@TomSweeneyRedHat Do we have any information about the location of registries.conf in buildah, or is this all buried in containers/image?  We could improve the message when it returns can'f find the image to check if the registries.conf file exist, and report that as well.  It would be better if we knew that the user did not fully specify the image location.

@baude WDYT?

[2018-03-28 11:41] ripcurld commented on #539
@q384566678 `uname -a` doesn't give information about your distribution. Let me rephrase the question: are you using CentOS, Fedora, RHEL, Ubuntu, Debian or Arch?
In addition, can you describe how you install buildah?

If it helps these are my configs:
[code]

My distribution is `Fedora 27`:
[code]

[2018-03-28 14:01] TomSweeneyRedHat commented on #539
@q384566678 you should get /etc/containers when you install the rpm or if you install the dependencies.  Can you tell me how you installed Buildah?  Did you use an RPM or did you clone/build from GitHub?  Assuming you're on Fedora, can you try doing this if you did not install from an RPM?  You probably want to delete your /etc/containers directory and it's contents before hand.

[code]

[2018-03-28 14:04] TomSweeneyRedHat commented on #539
@rhatdan I'm not seeing much info about registries.conf in docs after a brief scan.  I think it's all in container/images.  I'll create an issue to document that.  Might be a good tutorial/mini blog.

[2018-03-28 14:06] TomSweeneyRedHat opened #542 "Need documentation for /etc/containers/registries.conf"
**Description**

There's no documentation that I can find quickly that explains how /etc/containers/registries.conf is used by Buildah.  We should document that somewhere and perhaps create a tutorial and/or mini-blog would probably be helpful.

[2018-03-28 14:11] ripcurld commented on #539
I'm closing this as it's not a **bug** and related to installing `buildah`.
Although I am closing this, feel free to continue your conversation and if needed open it again.

Note: @TomSweeneyRedHat opened a follow up issue here: https://github.com/projectatomic/buildah/issues/542

Thanks.

[2018-03-28 14:11] #539 closed

[2018-03-28 16:39] TomSweeneyRedHat commented on #537
@pixdrift Thanks for the problem report, we'll take a look at it.

[2018-03-29 02:05] q384566678 commented on #539
@ripcurld @TomSweeneyRedHat @rhatdan Thank you very much, I have already solved this problem. This is because I did not install `skopeo-containers`. I just cloned `buildah` from github. My linux distribution was arch. There were some things that were not found and installed. Then I directly executed `make all`.

[2018-03-29 11:35] ripcurld commented on #539
@q384566678 that's really interesting. I have never seen someone using `buildah` on `arch`.
Feel free to share with us your journey running `buildah`/`podman`.
Thanks.

[2018-03-29 12:41] rhatdan commented on #539
Opened up a PR to begin discussing how we could make this easier for someone playing with buildah/podman to diagnose.

[2018-03-30 02:17] pixdrift commented on #532
Something strange is definitely happening. I just ran the same script as above on a fresh CentOS 7.4 build.. and I also got a 91.57MB result, which is 40MB bigger than either **RHEL 7** or **OL 7**. The package list is the same number (40).. so something is odd. Going to go through and compare images now. Here is the package list from the **CentOS 7.4** image.

[code]

[2018-03-30 08:25] pixdrift commented on #537
@TomSweeneyRedHat, Curious if it was a conscious decision to use timestamps in buildah rather than relative time like in 'docker images'?

[2018-03-30 14:16] TomSweeneyRedHat commented on #537
@pixdrif I'll have to let @nalind and @rhatdan handle that answer.  That had been set before I started on the Buildah project.

[2018-03-30 21:35] rhatdan commented on #537
Not that I know of.  Probably just what @nalind did, would you refer it to be relative like Docker?

[2018-03-30 23:41] pixdrift commented on #537
Not sure if that was directed at me @rhatdan, I think for consistency with 'docker images' relative would be a good default and then make the 'absolute' date as it stands currently an option/parameter?.

How about a third option that has a date format more akin to log format (YYYY-MM-DD HH:MM:SS) so parsing of 'docker images' output by other command line tools is more practical?

--daterel
--datea

[2018-03-30 23:47] pixdrift commented on #542
Documentation that lists all the configuration files buildah references would be very welcome.

I had trouble finding specific documentation on `/etc/containers/storage.conf` when identifying this issue:
https://github.com/projectatomic/buildah/issues/533

[2018-03-31 01:30] rhatdan commented on #542
We have already added this. https://github.com/projectatomic/buildah/pull/534

[2018-03-31 05:13] pixdrift opened #547 "Regression in storage driver support 0.11 -> 0.12"
**Description**
Not sure if this is actually an issue (or expected), but I noticed a change in behaviour between 0.11 -> 0.12 and the 'tolerance' of the overlayfs driver detection (did this change?).

I was using buildah 0.11 on a stock CentOS install without issue, and when upgrading to 0.12 the overlayfs warnings started and functionality broke completely. I can fix the reported overlayfs issue

[2018-04-02 12:04] rhatdan commented on #537
Not crazy about the options, but I think being consistent with the Docker output makes sense.  We also need to make sure that podman output matches.

[2018-04-02 12:08] rhatdan commented on #547
I think that we were updating containers/storage which added a new check to make sure xfs was configured correctly.  That must be what you are seeing.

[2018-04-02 18:51] nalind commented on #547
That version bump pulled in the [change](https://github.com/containers/storage/pull/144) in the storage library that switched it from warning about possible errors when the underlying system for an upper directory doesn't report `d_type` information to making it a fatal error, so this much was expected.  When multiple lower directories are used, it's also required for lowers, except for the lowest

[2018-04-02 19:00] TomSweeneyRedHat commented on #532
@pixdrift  @tdudgeon FYI, I just posted a little blog on this issue at http://www.projectatomic.io/blog/2018/04/open-source-what-a-concept/.  Thanks a bunch for inspiring it and for your contributions here!

[2018-04-02 19:01] #547 closed

[2018-04-02 20:48] pixdrift commented on #532
@TomSweeneyRedHat, thanks for posting the article. It should be noted that I identified two further things in this thread that are worth mentioning in the blog post.
1. The ~40MB that is keeping the image at 92MB is the yum cache for epel. If the method of cache cleanup is changed to rm (rather than yum clean in the posted script), the image size reliably comes back at around 57MB for OL7, RHEL7 a

[2018-04-02 21:48] rhatdan commented on #532
@pixdrift I think the --setop=install_weak_deps might have some effect on a Fedora system.  I don't believe RHEL or CENTOS Support week dependencies.

[2018-04-02 22:11] pixdrift commented on #532
Thanks @rhatdan, that helps explain it. I would expect a Fedora script to do the same (create a minimal base image) would be using `dnf` at this point in time, so the option may no longer be relevant there either.. unless the `setopt` option remained the same. I don't spend much time out of EL, but will take a look for interest's sake.

[2018-04-03 02:32] pixdrift opened #548 "Add support to umount multiple mounts in single operation"
**Description**
The `buildah umount` command doesn't support the umount of multiple containers in a single operation. To maintain concistency between other buildah commands eg. `rm`, `rmi`, it would be nice to have the ability to `umount` multiple mounts in one operation.

**Steps to reproduce the issue:**
1. `# buildah mount`
`4d8ec97bb4b1 /var/lib/buildah/storage/overlay/ab856bdfaa9899c7bf242965

[2018-04-03 07:15] tdudgeon commented on #532
Just for completeness, I tried rebuilding the base centos7 image but with the extra `rm -rf $scratchmnt/var/cache/yum` command suggested by @pixfrift to clean up the cache and the image size drops from 91.6 MB to 57.15 MB. Not bad seeing as we started at 212 MB!

Thanks all!

[2018-04-03 10:33] TomSweeneyRedHat commented on #548
@pixdrift I like the thought, will see if there's any hiccups to pulling it off.

[2018-04-03 12:24] pixdrift opened #549 "selinux issue when writing in container with 'buildah run'"
**Description**
I have come across multiple (what appear to be) SELinux issues when running `buildah run` which I am trying to narrow down. I initially had SELinux permission denied errors on an OL7 system, and have since built a clean CentOS 7 VM in an attempt to create a reproducer to post here.

**Steps to reproduce the issue:**
1. I have created 'clean' ext4 mount for buildah specific director

[2018-04-03 13:42] rhatdan commented on #549
Try
semanage fcontext -a -e /var/lib/containers /var/lib/buildah
restorecon -R -v /var/lib/buildah

You changed the default labeling layout,  These commands should fix your issues.  Perhaps we should modify the man page in storage.conf to explain these commands.

[2018-04-03 13:50] pixdrift commented on #549
Thanks for the response @rhatdan

I didn't expect that the file context would need to be defined as buildah creates all contents below the `storage` levels. Understand if this is required for the new file creation and will keep it in mind in future.

That being said, the fcontext addition and resotorecon (although making modifications) didn't resolve the issue, but it has changed slightly:

The AV

[2018-04-03 13:56] rhatdan commented on #549
Is this a Centos or RHEL system?  What version of the OS and What version of container-selinux

This looks weird in that the write should be happening on the upper layer with overlay.

[2018-04-03 13:57] rhatdan commented on #549
Looks like it is 7.4.
rpm -q container-selinux

[2018-04-03 13:59] pixdrift commented on #549
CentOS 7.4
`container-selinux-2.42-1.gitad8f0f7.el7.noarch`

[2018-04-03 14:07] pixdrift commented on #549
I see the virt7-container-common-candidate repo has a newer container-selinux
`container-selinux-2.54-1.el7.noarch`

Curiously though, it looks newer than the newest tagged release in the git repo.

https://github.com/projectatomic/container-selinux/tags

[2018-04-03 17:52] nalind commented on #537
The relative ballpark time information always felt unnecessarily vague to me, but I'm not wedded to using absolute timestamps.  Using the local timezone instead of UTC as the default when printing absolute timestamp information makes a lot of sense, though.

[2018-04-03 17:52] rhatdan commented on #549
If you run buildah without changing the default location does it work fine with SELinux?

[2018-04-03 17:53] rhatdan commented on #549
@TomSweeneyRedHat Tom do you have a handy centos box that you could try this with buildah to see if you get the same problems?

[2018-04-03 18:38] gbraad commented on #532
Maybe an idea to use https://github.com/GoogleCloudPlatform/container-diff as it recently got support for RPM, but it can help with comparing containers even just on file level.

[2018-04-03 18:50] TomSweeneyRedHat commented on #549
@rh-atomic-bot I don't, I was fighting space issues and burned the vm and the kit .

[2018-04-03 18:54] rhatdan commented on #549
Ok maybe try it on Fedora and see if you have issues there?

[2018-04-03 19:05] TomSweeneyRedHat commented on #549
Will do

[2018-04-03 21:32] rhatdan commented on #549
Why not mount the new disk on /var/lib/containers/ then?  BTW I don't think the placement is the issue. I am clueless what is going on now.

When you mount a container could you put in the in
[code]

[2018-04-03 21:43] TomSweeneyRedHat commented on #532
@pixdrift yep, noted the additional input from you.  I didn't want to add it to the blog post as I've found a blog length of about 4 pages in a word processor software is about as long as you want.  So I tried to show the initial breadcrumbs in the blog and then gave a couple of pointers and a tease to this issue here so they could dive even deeper.  I do very much appreciate your contributions he

[2018-04-03 21:49] pixdrift commented on #549
@rhatdan, the reason I chose /var/lib/buildah is that systems I am adding buildah to are existing shared systems and `containers` was ambiguous when others are using existing docker config on the same system, I didn't want the potential confusion.

That aside, in this test VM I created a new ext4 mount, mounted it in  `/var/lib/containers` (started fresh). Updated `/etc/containers/storage.conf` an

[2018-04-03 22:13] rhatdan commented on #532
I might take a stab at a blog on this from a security point of view.

[2018-04-03 22:15] rhatdan commented on #549
Could you do a
buildah mount working-container
And then see what overlay says?

[2018-04-03 22:24] pixdrift commented on #549
The 0.11 is from CentOS extras
http://mirror.centos.org/centos/7/extras/x86_64/Packages/

The 0.12 is from here (used to create above output):
https://cbs.centos.org/repos/virt7-container-common-candidate/x86_64/os/Packages/

[2018-04-03 22:26] pixdrift commented on #549
@rhatdan, can you comment on the `SELinux: mount invalid` above. This message is returned in dmesg as result of the `buildah run` commands that attempt filesystem writes.

[2018-04-03 22:28] rhatdan commented on #549
Those are issues with runc, and can be ignored.
Could you build buildah from git and see if it works.

[2018-04-03 22:29] pixdrift commented on #549
Yep, will do.

[2018-04-03 23:29] TomSweeneyRedHat commented on #549
Maybe I messed up something, but I got a different error on F27.

[code]

Will play more in the morning.

[2018-04-04 00:31] pixdrift commented on #549
Where is buildah 0.15 coming from? This repo only shows tagged releases to 0.12. Can we get the tags/releases updated in this repo for newer versions? (happy to raise a new issue)

[2018-04-04 00:43] pixdrift opened #550 "Update tag/releases in the buildah repo to match available buildah releases"
**Description**
Currently the latest version/release of buildah defined in this repository is 0.12, but three additional versions have been released.

https://github.com/projectatomic/buildah/releases

**Describe the results you received:**
0.12 is the latest version defined in the repository

**Describe the results you expected:**
0.15 to be the latest version

Tags pulled from the repo that appe

[2018-04-04 09:28] pixdrift commented on #432
Can I get this re-opened.. there is an outstanding issue when building for EL7.

The spec file in contrib lists 'ostree-libs' in the `Requires` but the package isn't split in EL7, and the required libraries are in the `ostree` package.

Can the spec file in contrib be updated to require the library rather than the package so the same spec file works across EL7/Fedora? Alternatively, an if block ca

[2018-04-04 09:53] pixdrift commented on #549
Have built a new package off the latest commit 5ce8009

[code]

Small hurdle with first test.
[code]

After rebuilding the container I am happy to report it has resolved the issue:
[code]

[2018-04-04 11:35] rhatdan commented on #549
Ok it looks like it is time to cut buildah-0.1.16
I wanted to wait for chain builds.  But...

[2018-04-04 12:00] pixdrift commented on #549
@rhatdan, sounds good for all of us still clinging to 'archaic' EL7 😉

[2018-04-04 12:52] rhatdan commented on #549
EL7 pays my salary, so keep clinging.

[2018-04-04 12:55] TomSweeneyRedHat commented on #549
@pixdrift the Buildah v0.15 came from the Fedorar Repository. I just did a "dnf  install" on a new Fedora 27 machine, I didn't have CentOS super handy.

[2018-04-04 12:59] pixdrift commented on #549
Cheers @TomSweeneyRedHat, was just trying to track down (as an RH outsider) the pipeline that led to it ending up in the Fedora 27 repo as the v0.15 release isn't tagged in this repo and I thought the tagging may trigger to build. I have since found the source was updated to 0.15 but not the release tags (raised issue #550 for this)

[2018-04-04 13:10] ripcurld commented on #432
@pixdrift #551 was merged. before closing this issue, do you mind testing?
Thanks.

[2018-04-04 13:14] rhatdan commented on #549
@pixdrift I updated that stuff yesterday.

[2018-04-04 13:15] rhatdan commented on #550
V0.14 and V0.15 should be there now.

[2018-04-04 13:15] #550 closed

[2018-04-04 13:16] pixdrift commented on #432
@ripcurld build with updated spec is all good 👍, tested on CentOS 7. I do my best not to resurrect this issue for a third time.  😃

[2018-04-04 13:30] ripcurld commented on #432
@pixdrift thank you very much. I am closing this but feel free to re-open it or continue the conversation.

[2018-04-04 13:30] #432 closed

[2018-04-04 13:36] pixdrift commented on #532
Would there be value capturing some of these buildah scripts for base OS container builds in `contrib`?

[2018-04-04 13:45] rhatdan commented on #532
Sure maybe an examples directory.

[2018-04-04 13:51] TomSweeneyRedHat commented on #532
@pixdrift I was thinking about that, didn't know if it made sense there, examples and/or tutorials.  But I definitely wanted to save at least the final result somewhere after the dust settled.

[2018-04-04 18:34] TomSweeneyRedHat opened #553 "`buildah commit` requires an image name but man page says it's optional"
**Description**

The `buildah commit` man page states that the image name is not a required parameter when it is.

**Steps to reproduce the issue:**
1.  buildah from alpine
2. buildah conifig --author="Tom Sweeney"
3.  buildah commit {containersId from `buildah containers`}

**Describe the results you received:**
[code]

**Describe the results you expected:**
Based on the man page, this should hav

[2018-04-04 19:41] rhatdan commented on #553
Just open a PR to fix the man page.

[2018-04-04 21:10] TomSweeneyRedHat commented on #553
We'd a longish discussion in #podman today, docker does a commit without the name as the man page is now.  I was thinking me might want to correct it now, or possible wait and then use @baude commit that he's putting together that Buildah and Podman will both use.  That commit is planned to not require an image name.

[2018-04-05 01:06] pixdrift commented on #553
What's the expected behaviour when the image name isn't provided? Does it use the hash or container name for the image name?

[2018-04-05 10:46] TomSweeneyRedHat commented on #553
@pixdrift current expected behaviour is that you'll get an error telling you that you need to provide an image name.  Some time in the near future (weeks if not less) you should end up with a "<None>" image name if you don't provide one.  We're working on the fix now and I should make an issue.

[2018-04-05 10:54] TomSweeneyRedHat commented on #553
Fixed by #554

[2018-04-05 10:54] #553 closed

[2018-04-05 11:13] TomSweeneyRedHat opened #555 "'buildah commit {ctrid}' doesn't create image."
**Description**

The `buildah commit {ctrid}` command fails with an "ImageId is required" message and should instead create an image with the name of `<None>` to emulate what other container technologies do.

**Steps to reproduce the issue:**
1.  buildah from alpine
2. buildah conifig --author="Tom Sweeney"
3.  buildah commit {containersId from `buildah containers`}

**Describe the results you rec

[2018-04-05 21:01] umohnani8 commented on #439
Fixed in #541

[2018-04-05 21:01] #439 closed

[2018-04-06 04:46] pixdrift commented on #532
The following may also be interesting to people following this thread:
https://gitlab.com/pixdrift/buildah-scripts/blob/master/el7.ansible.minimal.sh

This example uses `pip` from the host (python2-pip) to install Python packages into the container, so the container doesn't need `pip` and its dependencies installed or any compilers installed to build source packages from pypi.

In this example the

[2018-04-06 05:28] pixdrift opened #557 "'tarball' not a supported transport for buildah push"
**Description**
The inline help for `buildah push` suggests that tarball is a valid transport for the destination, but this isn't the case. Additionally, the error message when specifying `tarball` for the destination transport is ambiguous.

**Steps to reproduce the issue:**
1. `# buildah push --help`
[code]

2. `#  buildah push 74a4ffb80cef tarball:/tmp/74a4ffb80cef.tar`
`error opening "/tmp/74a

[2018-04-06 05:53] pixdrift opened #558 "cannot save image with empty image.ref.name"
**Description**
When attempting to use `buildah push` to `oci` or `oci-archive` an error message is displayed regarding empty `image.ref.name`.

**Steps to reproduce the issue:**
1. Follow documented method to buildah push to oci (https://github.com/projectatomic/buildah/blob/master/docs/buildah-push.md)

[code]

2.
[code]

**Describe the results you received:**
Error regarding empty `image.ref.na

[2018-04-06 08:48] pixdrift commented on #558
Attempted to set the following annotation:
`org.opencontainers.image.ref.name`

From the OCI spec here:
https://github.com/opencontainers/image-spec/blob/master/annotations.md

But it didn't resolve the issue. Is there a change in something that buildah calls?

[2018-04-06 12:13] rhatdan commented on #557
@umohnani8 PTAL

[2018-04-06 12:14] rhatdan commented on #558
@umohnani8 PTAL

[2018-04-06 12:25] rhatdan commented on #532
@pixdrift Want to write a blog describing this?

[2018-04-06 14:48] umohnani8 commented on #558
Under `Destination` on the man page (https://github.com/projectatomic/buildah/blob/master/docs/buildah-push.md) it is stated that to push to oci the syntax must be `oci:path:tag`. The example later in the man page is misleading as it doe not have the `:tag`. Will open a PR to fix the documentation.

[2018-04-06 15:45] umohnani8 commented on #557
@rhatdan I don't think we support pushing to a tarball. The tarball transport was created to just read in the tar file of an exported container and save it as an image. I don't see a "destination" part for the tarball transport, @nalind please correct me if I am wrong.

[2018-04-06 17:01] rhatdan commented on #557
We might need to fix the inline help and man page to make this more clear.

[2018-04-06 17:37] umohnani8 commented on #557
Being fixed in https://github.com/containers/image/pull/437 will vendor once it is accepted.

[2018-04-06 21:06] pixdrift commented on #557
Rather than remove it, is there an opportunity to support it as a method of export?

I can raise that separately as an enhance request as I would find it useful.

[2018-04-06 21:09] pixdrift commented on #558
I think there is more that just a documentation fix here, the syntax should be checked before attempting the execution.

[2018-04-07 09:58] rhatdan commented on #557
I think podman save or podman export (Never can remember the difference) can do this now.

[2018-04-07 10:04] pixdrift commented on #557
@rhatdan, what's the future view for the crossover between the tools? My expectation was that podman was for pod specific operations, and buildah for container operations. If I wanted to export just a container (ie. act on a container, not a pod) I would assume buildah was the tool to use?

Appreciate any/all feedback on this.

[2018-04-07 10:37] rhatdan commented on #557
Podman is for all container/pod operations, while buildah is for building container/images.
I see eventually a lot of this code merging, as we have begun to do.

[2018-04-07 11:47] pixdrift commented on #557
@rhatdan, thanks for the clarification.

[2018-04-08 20:37] taqtiqa-mark opened #563 "Feature: buildah-push rkt support"
Thanks for all the effort on Buildah, and for making it open source.

**Description**
Rkt has the most elegant discovery mechanism.  It eliminates the need for container registry infrastructure/headaches, whether in public or private clouds.

I don't think it will go away anytime soon.

[woofwoofinc/docker2aci](https://github.com/woofwoofinc/docker2aci) has a working example of the code required t

[2018-04-09 01:43] rhatdan commented on #563
@mtrmac WDYT

[2018-04-09 01:43] rhatdan commented on #563
@vbatts Thoughts?

[2018-04-09 02:24] umohnani8 commented on #557
@rhatdan podman export is used to save a container's filesystem (mounts the container and copies everything under it to a tar file) as a tar file, and the `tarball` transport is used to read in this saved container filesystem and save it as an image. I believe that is why we don't support it for pushing images. We have docker-archive and oci-archive for images, which support two different image sp

[2018-04-09 02:40] pixdrift commented on #557
@umohnani8, buildah currently supports export to dir, it wouldn't be much of a jump to go from dir -> tarball?

[2018-04-09 02:44] pixdrift commented on #558
My concern is `image.ref.name` doesn't mean anything to the user in this context. The other argument is that the number of transports in buildah is fairly limited, and it would amount to essentially regex validation of the input in buildah before passing to the transport? Could the regex be defined as part of each of the transport definition/pluginss in buildah?

[2018-04-09 02:56] pixdrift opened #564 "entrypoint behaviour inconsistent between 'buildah run' and 'docker run'"
**Description**
When an entrypoint is defined in docker, the parameter passed in `docker run` is interpreted as a parameter to be passed to the entrypoint script/executable. With `buildah run`, the parameter is always interpreted as a command to execute, overwriting the configured container entrypoint.

**Steps to reproduce the issue:**
1. Build an image with an entrypoint script that expects inpu

[2018-04-09 04:30] #549 closed

[2018-04-09 06:10] pixdrift commented on #564
This came up when I was looking at replicating apb-base capability using buildah, which uses parameters in the enrypoint script:
https://github.com/ansibleplaybookbundle/apb-base/blob/master/files/usr/bin/entrypoint.sh

[2018-04-09 14:37] mtrmac commented on #563
\*shrug\* If someone wanted to do the work to implement an ACI transport for c/image, I don’t see a reason to refuse such a contribution.

- There would probably be a performance cost in unpacking and re-packing the tarballs, but docker2aci is paying the same cost.
- ACI does not support image layering, which makes the cost more or less unavoidable, at least for a c/image backend; c/image only und

[2018-04-09 16:38] vbatts commented on #563
Is this to facilitate a migration?

[2018-04-09 16:41] vbatts commented on #563
buildah is already _very_ similar workflow to the now deprecated
`acbuild` tool. I'm feeling like a rkt build workflow would be easier to
just import from an OCI image into rkt, and let rkt do its translation
into an aci image on the back-end.

On 04/09/2018 10:37 AM, Miloslav Trmač wrote:

[2018-04-09 17:25] AndydeCleyre opened #565 "Request: buildah commit returns resulting image's ID on success"
**Description**

The idea is to make `buildah commit`'s behavior analogous to `buildah from`'s, regarding the return value, which is documented as:

[code]

So the proposed return value for `buildah commit` could be documented as:

[code]

**Output of `buildah version`:**

[code]

[2018-04-09 17:34] TomSweeneyRedHat commented on #565
@AndydeCleyre thanks for the issue and the discussions in IRC.  Will take a look at this.  We're returning the imageId for the 'podman commit' command so should probably be doing the same here in Buildah.

[2018-04-09 22:52] taqtiqa-mark commented on #563
All valid points.  I don't know of the docker spec so can't comment about the docker discovery/distribution mechanism.
In my expereince the rkt spec is the simplest possible - right now `rkt fetch taqtiqa.io/....` uses a Route53, AWS-S3 routing rules to point to github release files - simple. There is a 2GB github-ceiling in this approach.

There are workarounds, so closing.

[2018-04-10 04:28] rhatdan commented on #564
@pixdrift Are you planning on opening a PR to fix this?

[2018-04-10 04:53] pixdrift commented on #564
@rhatdan, no, just raising the issue and providing the reproducer.

[2018-04-10 05:04] ripcurld commented on #564
@pixdrift @rhatdan should we label this as a bug?

[2018-04-10 05:05] rhatdan commented on #564
Ok thanks.  I will have @TomSweeneyRedHat Look into this.

[2018-04-10 05:05] rhatdan commented on #564
I would say this is a bug,  yes.

[2018-04-10 18:52] taqtiqa-mark commented on #563
Actually, I'd like to keep this open.  As @mtrmac indicates, such functionality isn't opposed.  He's correct the appc indicates the OCI spec are preferred. But.... that spec isn't finished.  Its not yet clear to me its an improvement, i.e. I should migrate from rkt.

The appc Roadmap page also indicates rkt:
- will continue to support the current discovery protocol/mechanism.
- version 1 deprecati

[2018-04-10 19:36] edsantiago commented on #504
The difference as I see it:
[code]
docker does not actually document this `docker build URL` behavior where URL is a Dockerfile; but I agree with @TomSweeneyRedHat that podman should match docker, either in buildah itself or if necessary via muckery in how podman invokes buildah.

I'm seeing this on buildah-0.15-1.gitd1330a5.fc27

[2018-04-10 19:41] taqtiqa-mark commented on #563
@mtrmac, point taken. As I said I don't pretend to understand the use cases (business models) that are in mind for the spec.  If downloading OCI containers is just using the web standards for zip files, then I'd imaging uploading them is the same ;)  Of course there are newer interesting update mechanisms, such as git-LFS, etc. but then the spec would be define implementation details.

As I said I

[2018-04-10 20:16] pixdrift commented on #564
The penny just dropped on why this issue got the special bug treatment, Buildah is now fully supported in RHEL, and 15.1 is bundled in RHEL 7.5. Thanks to everyone involved in getting it included/supported so quickly.

[2018-04-11 11:09] pixdrift commented on #564
I don't go.. but it looks like the issue might be here
https://github.com/projectatomic/buildah/blob/master/run.go#L331-L343

If `command` exists it is used and doesn't fall through to the container cmd/entrypoint checks which is what preserves the entrypoint if it exists.

[2018-04-11 11:27] TomSweeneyRedHat opened #568 "Mention of --tls-verify=false should be probably added to: https://github.com/projectatomic/buildah/blob/master/troubleshooting.md."
**Description**

Mention of --tls-verify=false should be added to: https://github.com/projectatomic/buildah/blob/master/troubleshooting.md  as suggested by @goldmann.  This pertains to issue #292.

**Steps to reproduce the issue:**
1.  N/A

**Output of `buildah version`:**

[code]

[2018-04-11 13:37] umohnani8 commented on #558
The error message for oci and oci-archive is being reworded here https://github.com/containers/image/pull/439. docker-archive and dir already return a more detailed error message.

[2018-04-11 13:45] TomSweeneyRedHat commented on #564
@pixdrift Thanks for working on this bug, we very much appreciate the contribution.  However before working on a bug please assign it to yourself, or if already assigned, let the person assigned know that you're grabbing it.

[2018-04-11 13:48] olivierGATSNCF opened #570 "Pulling an image from a private docker registry"
**Description**
 buildah from function does not seem to support the --authfile option :

 I tried to use a config.json, docker conf describing how to log in to a private registry

**Steps to reproduce the issue:**
1. buildah from --tls-verify=false --authfile config.json  IP:9037/linux/ubuntu-14.04.2-lts-amd64-ospit:latest
2. buildah from --tls-verify=false --creds=readonly:readonly  IP:9037/linux

[2018-04-11 13:51] TomSweeneyRedHat opened #571 "docker login hanging in .travis.yml"
**Description**

Looks like the version of Docker has changed in the Travis environment.  The Docker commands in .travis.yml are now failing due to waiting for a verification.  Need to squash and fix this.

[2018-04-11 14:05] umohnani8 commented on #557
@pixdrift a quick clarification. What exactly is your desired output with pushing images using the tarball transport. Do you expect to see the layers, manifest, and config in the tar file - something like this:
[code]

or you expect to see a tarred up filesystem, something like:
[code]

[2018-04-11 14:17] bertinatto commented on #440
@rhatdan, I think this one can be closed since #495 was merged.

[2018-04-11 14:19] olivierGATSNCF opened #573 "pull / push to a registry behind an apache proxy"
We have an apache behind which different services run :
mydomain / service1
mydomain / service2
...
but also a registry docker.
For example to pull an image docker, docker pull mydomain / myimage the redirection will be IP: 9037 / myimage
But to distinguish the processing that apache must do to distinguish a mydomain / service1 call from mydomain / myimage we use the user agent label of http / htt

[2018-04-11 14:30] umohnani8 commented on #570
@olivierGATSNCF how did you create the `config.json`? To create the authfile, you need to do `podman login --authfile=/path/to/authfile registry`, this checks the credentials and creates the authfile at the location specified. Then you can use the buildah from command with the --authfile flag.

[2018-04-11 14:32] rhatdan commented on #573
@TomSweeneyRedHat @umohnani8 PTAL

[2018-04-11 14:33] #440 closed

[2018-04-11 14:37] joejulian opened #574 "copy drops setuid bit"
**Description**

When I issue a buildah copy of a directory tree created using debootstrap, the setuid bit is dropped causing sudo to not work.

I can work around this with a `buildah mount`, `cp -a`, `buildah umount`

**Steps to reproduce the issue:**
1. create a directory tree with files that have the setuid bit set
2. buildah copy that tree

**Describe the results you received:**
setuid bits we

[2018-04-11 15:18] olivierGATSNCF commented on #570
I used the same file i used with docker.
a syntax error is the cause of the problem. docker seems more permissive. That's ok.
However, as the buildah bud function does not work with --creds. I'm going to test it with the --authfile option now that my file is correct.

[2018-04-11 15:25] TomSweeneyRedHat commented on #570
@olivierGATSNCF Thanks for the problem report.  I see that you noted that 'buildah bud  --creds' isn't working, but I'm not seeing the command that you tried and the resulting error.  Can you add that as a comment please?

[2018-04-11 15:26] TomSweeneyRedHat commented on #574
@joejulian thanks for the problem report, we'll take a look at it.

[2018-04-11 15:26] umohnani8 commented on #570
@olivierGATSNCF what is the syntax issue you are seeing? We would like to be as compatible as possible. Could you report that and steps on replicating it?

[2018-04-11 15:54] olivierGATSNCF commented on #570
buildah bud --tls-verify=false --creds=readonly:readonly -f Dockerfile

Arghhh, today it's work !
Sorry, sorry sorry ....

[2018-04-11 16:41] TomSweeneyRedHat commented on #570
@olivierGATSNCF No worries, that's my favorite kind of problem to fix, the ones that come pre-solved!  ;^)

[2018-04-11 16:55] olivierGATSNCF commented on #570
@umohnani8
The config.json i used with syntax error :
{
        "auths": {

                "IP:9080": {
                      "auth": "cmVhZG9ubHk6cmVhZG9ubHk="
                },
                "IP": {
                      "auth": "cmVhZG9ubHk6cmVhZG9ubHk="
                },
                "IP:9038": {
                      "auth": "cmVhZG9ubHk6cmVhZG9ubHk="
                },

[2018-04-11 21:45] pixdrift commented on #564
@TomSweeneyRedHat ack

[2018-04-12 04:57] pixdrift commented on #557
@umohnani8, no major preference, was going to say just a tar'd version of `dir` output. Unfortunately, push to dir is blowing up for me at the moment.. going to take a closer look tonight and see why.

[2018-04-12 05:43] rhatdan commented on #574
@joejulian Do you know if this works correctly in a Dockerfile? Using `docker build`

[2018-04-12 05:43] rhatdan commented on #574
@nalind Any ideas?

[2018-04-12 09:50] gregoryboue opened #575 "Error target is unknown on docker pull for image pushed with buildah"
**Description**

I build an image with *buildah bud* then i push it to a private registry with a *buildah push* command.

The image is visible on registry GUI, and i can list the tag with the endpoint : https://myregistry/v2/MY_IMAGE_NAME/tags/list.

When i try a *docker pull* command i have this message : ` Error response from daemon: target is unknown`

**Note** : It's possible to pull the image

[2018-04-12 11:02] rhatdan commented on #575
@mtrmac @umohnani8 @TomSweeneyRedHat Any ideas?

[2018-04-12 13:38] TomSweeneyRedHat commented on #565
Closed via #566

[2018-04-12 13:38] #565 closed

[2018-04-12 14:27] alban opened #579 "README: invalid command to write lighttpd.sh"
**Description**

The shell command with the "here document" (`cat > lighttpd.sh <<EOF`) does not work because it includes back ticks that are executed in place rather then being inserted as in in the `lighttpd.sh` file.

**Steps to reproduce the issue:**
1. Copy paste the lines from the README in a terminal

**Describe the results you received:**
[code]
**Describe the results you expected:**

The

[2018-04-12 14:35] alban opened #580 "buildah push --format=oci does not output an OCI image"
**Description**

I tried to create a container image following the guide in the README.md and to save the OCI image in a directory with buildah

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

Files `version`, `manifest.json` and blobs

**Describe the results you expected:**

According to the [OCI Image Layout Specification](https://github.com/opencontainers/image

[2018-04-12 15:01] TomSweeneyRedHat commented on #570
@olivierGATSNCF if you feel that we should look at this further, please reopen this issue.  @umohnani8 is quite correct about that last comma in the config.json file, that should not be there and I'm not duplicating that with Docker 1.13 on RHEL.  If that's still there with the Docker that you're using, can you let us know what the version in please?

[2018-04-12 15:38] olivierGATSNCF commented on #570
**Output of `docker version`:**
[code]

[2018-04-12 15:46] nalind commented on #580
The `--format` flag controls whether the manifest and config blob look like the OCI versions of those data blobs, or other versions.  Using the `dir:` transport for the push target is what puts the image's blobs and manifest in a single directory.  I think using `oci:$path:$tag` as a target will produce the results you were looking for.

[2018-04-12 16:04] rhatdan commented on #580
Shouldn't the --format=oci not be necessary if I output to oci:./lighttpd

[2018-04-12 16:17] alban commented on #580
@rhatdan you're right, it gives the correct OCI output without `--format=oci` as well

[2018-04-12 16:25] rhatdan commented on #570
Ok so that is an upstream version, you should probably open an issue with Docker/Moby that they are generating invalid json.

[2018-04-12 16:32] olivierGATSNCF opened #581 "use of ARG for the FROM statement"
**Description**
Currently, it seems that the use of ARG to be used by the FROM statement in a dockerfile does not work.

**Steps to reproduce the issue:**
1. Extract from Dockerfile
ARG IMAGE_FROM=latest
FROM IP:9037/ubuntu-16.04-lts:${IMAGE_FROM}
2.buildah bud --pull --tls-verify=false --authfile /opt/app-root/src/.docker/config.json --tag IP:9038/shlib/buildockertu:1.0.0-SNAPSHOT -f Dockerfile -

[2018-04-12 16:43] rhatdan commented on #581
@olivierGATSNCF I was not even familiar with the ARG command?

[2018-04-12 16:45] rhatdan commented on #581
[code]

[2018-04-12 16:46] rhatdan commented on #581
@TomSweeneyRedHat @pixdrift Does one of you guys want to take a look at this?  Probably need support in imagebuilder first.

[2018-04-12 17:00] TomSweeneyRedHat commented on #581
On my list to peak at.

[2018-04-12 17:32] TomSweeneyRedHat commented on #571
Fixed with #572

[2018-04-12 17:32] #571 closed

[2018-04-12 18:36] nalind commented on #557
@pixdrift I think what you're describing is what the `docker-archive:` target produces now, give or take the format used for the manifest and config blobs.

My personal expectation for how a `tarball:` destination would work would be that writing to a `tarball:` destination would produce something that could be consumed as `tarball:` source.  That's generally the case for transports that the image

[2018-04-12 20:31] TomSweeneyRedHat commented on #570
I've tried docker login with docker-ce 17.09.0 and 18.03.0 and I'm not seeing misplaced commas.  It may be an issue that was fixed already in Docker.  If you get a chance @olivierGATSNCF to upgrade your Docker-ce and see if it's still there, I'd appreciate it.  Thanks!

[code]

[2018-04-12 21:19] TomSweeneyRedHat commented on #575
@gregoryboue I wasn't able to duplicate this on my test vm.  I was using Fedora 28 and Docker/Buildah versions in my output below.

A couple of tweaks to your environment to try and narrow the problem down.  Can you upgrade Docker-ce?  I used a slightly newer version. My other thought was perhaps there's something with the private registry that's going on.  Can you try testing against docker.io (D

[2018-04-12 21:48] pixdrift commented on #579
@alban, if you wrap the EOF in double quotes it should fix it

`cat > lighttpd.sh <<"EOF"`

Can you confirm? and I will sort out a PR tonight.

[2018-04-12 21:57] pixdrift commented on #564
Thanks to @TomSweeneyRedHat @rhatdan @ripcurld for the assistance, much appreciated. I'll hopefully not need the bumper rails as much next time round. 👍

[2018-04-12 21:57] #564 closed

[2018-04-12 22:01] pixdrift commented on #575
@gregoryboue, what are you using to provide the private registry?

[2018-04-12 22:34] gregoryboue commented on #575
Yes the  private registry chose by my company for CI environment is nexus sonatype 3

[2018-04-12 22:35] gregoryboue commented on #575
It seems to work with portus but the image is notre display from Portus GUI

[2018-04-13 07:36] pixdrift commented on #574
I have reproduced to test if it was an issue with `var` being mounted nosuid, but issue persists when nosuid isn't configured.

The debug output is the following:
`DEBU[0000] CopyFileWithTar(/bin/ping, /var/lib/containers/storage/overlay/53039fe01d8fee33b79b9ff83d95a74e49e36d07b83decf884c5086be0906339/merged/bin/ping)`

I suspect the issue may be here when the file mode is copied:
https://github.c

[2018-04-13 09:48] alban commented on #579
@pixdrift yes, it worked fine with "EOF" in double quotes. Thanks!

[2018-04-13 13:12] pixdrift commented on #574
@nalind can you take a look at this?
https://github.com/containers/storage/blame/5d52f079f1709f0408a6c086c603d259b0e5da3e/pkg/archive/archive.go#L1142

It looks like this line is a fix for Windows.. which may be modifying the `hdr.Mode` set by `FileInfoHeader` just above? Thoughts?

[2018-04-13 13:59] TomSweeneyRedHat commented on #575
@gregoryboue I've not used nexus3 before myself, will see if I can dig one up to try.  In the mean time, were you able to try a newer version of Docker-ce to see if it's still reproducing?  Also if you push the image initially using Docker 1.11.0, do you get the same error when you try to pull it using Docker version 17.03.1-ce?

[2018-04-13 14:15] gregoryboue commented on #575
@TomSweeneyRedHat

I did the following :

1. buildah bud...
2. buildah push MY_IMAGE
3. (docker 1.11.0) : docker pull
4. (docker 1.11.0) : docker tag
5. (docker 1.11.0) : docker push
6. (docker 17.03.1-ce) : docker pull

the docker pull works, i haven't environment with a newer version of docker-ce i will try to get one.

Thanks

[2018-04-13 15:25] umohnani8 commented on #557
inline help fixed in #583

[2018-04-13 16:47] rhatdan commented on #574
Well on Linux
[code]
chmodTarEntry is a noop.

[2018-04-13 17:02] rhatdan commented on #574
Which leaves us with
os.FileMode(hdr.Mode)

Looks like a bug in go.

[code]

go run /tmp/t.go
-rwxr-xr-x
-rwxr-xr-x

[2018-04-14 01:44] pixdrift commented on #574
It looks like it may be here in the go source
https://github.com/golang/go/blob/master/src/os/types.go#L66-L74

Can't get it to pick up setuid here

[2018-04-14 06:28] pixdrift commented on #574
It looks like `hdr.Mode` makes it through the process even though `os.FileMode` doesn't display as expected.
[code]

[2018-04-14 12:57] rhatdan commented on #574
Well that would mean the untar should work, or we were looking at a red herring?

[2018-04-14 15:33] joejulian commented on #574
@rhatdan No,. I did not happen to know but just tested. Docker's copy also does not retain setuid.

[2018-04-14 15:41] muelli opened #585 "ubuntu build needs gpgme"
[code]

it'd be good if gpgme was encoded as a dependency.

This is a fresh ubuntu cloud image with me having done
[code]

[2018-04-14 17:47] TomSweeneyRedHat commented on #585
@muelli Thanks for the issue.  You've probably figured this out by now, but I think you can do:
[code]
To get gpgme into play for you and let Buildah make progress.

I'll ask our install person extrodinaire, @lsm5 if he can add the dependency to the kit so you and others won't have to do this in the future.

[2018-04-14 19:42] muelli commented on #585
only slightly related: Buildah seems to be unable to find any image:

[code]

I'm unable to figure out what I can do to make it work better. The man page and the blog posts indicate that it should just work™.

[2018-04-14 20:29] TomSweeneyRedHat commented on #585
Looks like you don't have a signature policy file (/etc/containers/policy.json) on your system.  That should have been included with rpm.  @lsm5 can you verify that we're adding skopeo-containers to the dependencies too please?

Short term fix is below.  This might be a bit heavy handed, I think you probably can get away with just the apt-add-repository for projectatomic then just installing skope

[2018-04-15 03:31] pixdrift commented on #557
Cheers @umohnani8 👍

[2018-04-15 03:31] #557 closed

[2018-04-15 04:38] pixdrift opened #587 "Bind mount with --volume doesn't support relative source path"
**Description**
When using the `--volume` option to bind mount a volume with `buildah run`, a failure is returned if the provided source path is a relative path. The same command is successful when an absolute path is used for the source.

**Steps to reproduce the issue:**
1. Confirm source directory
[code]
[code]
2. Attempt to specify volume source using relative reference (multiple methods)
[cod

[2018-04-15 04:53] pixdrift commented on #558
Thanks @umohnani8

[2018-04-15 04:53] #558 closed

[2018-04-15 04:58] pixdrift opened #588 "Documentation: buildah run documentation doesn't describe valid flags for --volume option"
**Description**
The documentation for `buildah run` describes a `flags` element of the `--volume` command but doesn't provide a list of flags or a method to retrieve a list.

**Steps to reproduce the issue:**
1. Browse to documentation for buildah run
[https://github.com/projectatomic/buildah/blob/master/docs/buildah-run.md](https://github.com/projectatomic/buildah/blob/master/docs/buildah-run.md)

[2018-04-15 12:51] muelli commented on #585
yep, FTR: With skopeo-containers it works better.  FWIW: runc has not being pulled either. I don't know if that's considered to be bug, though. But it prevents `buildah run` from running successfully.

[2018-04-16 00:27] pixdrift commented on #548
Thanks @TomSweeneyRedHat 🍺

Tested in latest build and it is working great.

Happy to close this unless you are waiting for other confirmation?

[2018-04-16 12:34] gregoryboue commented on #575
@TomSweeneyRedHat I had news elements.

When i browse the assets which correspond to the manifests image file in Nexus 3 I can see the following :

The manifest of an image pushed by docker push command looks like this :

[code]

The manifest of an image pushed by buildah push command looks like this :

[code]

The main difference is the missing mediaType attribute at the top level of the json obj

[2018-04-16 12:38] rhatdan commented on #585
Yes runc should be in  the required list.

[2018-04-16 12:43] TomSweeneyRedHat commented on #548
Th @pixdrift!  Will close this out now, I left it open to give you a chance to test/confirm.

[2018-04-16 12:43] #548 closed

[2018-04-16 13:09] taqtiqa-mark opened #591 "Documentation: buildah-config --port syntax"
**Description**
This Redhat [documentation](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/managing_containers/finding_running_and_building_containers_without_docker#creating_images_from_scratch_with_buildah) suggests the syntax for adding a port includes the type decoration`/tcp`
[code]
The current documentation is [ambiguous](https://github.com/projecta

[2018-04-16 13:10] lsm5 commented on #585
@muelli thanks for the report on deps. I'll add gpgme and skopeo-containers. RE: runc, buildah already pulls in `cri-o-runc` and not the distro's runc. @TomSweeneyRedHat how do I ensure that we're using this fork?

[2018-04-16 14:21] giuseppe commented on #502
this issue is fixed

[2018-04-16 14:21] #502 closed

[2018-04-16 14:35] lsm5 commented on #585
@muelli just built a new buildah https://launchpad.net/~projectatomic/+archive/ubuntu/ppa/+packages ... let me know how it goes

[2018-04-16 14:48] rhatdan commented on #574
@pixdrift Could you see if you can use that mode to change the mode on a file to setuid?

[2018-04-16 17:30] TomSweeneyRedHat commented on #568
Closed via #586

[2018-04-16 17:30] #568 closed

[2018-04-16 19:04] rhatdan commented on #591
@TomSweeneyRedHat Could you look into this.
@taqtiqa-mark thanks for the feedback.

[2018-04-16 19:34] taqtiqa-mark commented on #591
To give some detail bout the use case.
Composing an OCI using a library of scripts - to be open sourced once I can get a working Jupyter container.

[code]
So in fact all config items can be expected to be set multiple times.

What is the defined behavior for each config item, i.e. which are overwritten, which are appended.

Hope that makes sense?

[2018-04-16 19:35] alanbchristie commented on #518
Sounds like something might be in the pipeline but I'd like to voice my desire for a root-free OCI builder(ah). I was attracted to buildah because of a presentation at a recent OpenShift Commons meeting. The ability to avoid the "big fat Docker daemon" was compelling but I've just swapped one problem for another.

Ideally I'd like to build from within a Docker container in an OpenShift CI/CD workf

[2018-04-16 20:12] rhatdan commented on #591
So you are going to call the `buildah config` multiple times?  I think we would have to experiment.
I could flip it on you and ask which ones would you expect to me appended versus replaced.

Options that are a slice should be able to be called multiple times and append while options that are a string/bool will be replaced.  We probably should document this in the buildah config help and the man p

[2018-04-16 20:59] rhatdan commented on #518
We are continuing to work on this problem.  We hope to have buildah fully integrated into OpenShift and as we role out UserNS we should be able to get buildah to run in a "non-privilged" container.

[2018-04-16 21:01] pixdrift commented on #574
@rhatdan not 100% clear on your suggestion, but the binary going into the hdr.Mode suggests that the result should be setuid. I tried to follow it through the untar process but had trouble determining where the execution went. I notice that the untar process takes options and was wondering if the untar process itself was stripping the setuid bit.

I tested copying setuid file into the mounted cont

[2018-04-16 21:03] rhatdan commented on #574
@vbatts @runcom WDYT?

[2018-04-16 22:51] jwendell opened #593 "/bin/bash: cannot execute binary file"
Generated Image seems to be corrupt.

[code]
A simple example like this works fine in docker:
[code]

**Output of `rpm -q buildah` or `apt list buildah`:**
[code]

**Output of `buildah version`:**
[code]

**Output of `cat /etc/*release`:**
[code]

**Output of `uname -a`:**
[code]

**Output of `cat /etc/containers/storage.conf`:**

[code]

[2018-04-16 23:29] pixdrift commented on #593
This looks like a result of this pull request / change in entrypoint behaviour:
https://github.com/projectatomic/buildah/pull/577

It looks like podman is passing /bin/bash in to execute and because the entrypoint is set it is being passed as the first parameter to the entrypoint (/bin/bash).

This entrypoint behaviour now matches docker as I noted in the PR. Is podman _always_ passing /bin/bash t

[2018-04-16 23:41] TomSweeneyRedHat commented on #593
@pixdrift That's probably part of the issue, but if I try running this without Podman using only Buildah, I'm running into some exec/priv errors too.

Interestingly if I use the Dockerfile that @jwendell provided and use it with `buildah bud`, it works fine just as it does for Docker.

[code]
FYI @mheon and @baude

[2018-04-16 23:41] TomSweeneyRedHat commented on #593
Forgot to add, this leads me to suspect something is no quite right with `buildah commit --entrypoint`.

[2018-04-16 23:44] pixdrift commented on #593
@TomSweeneyRedHat , good catch re: bud. Your last comment I assume is meant to be
`buildah config --entrypoint`

[2018-04-16 23:52] jwendell commented on #593
[code]

[2018-04-16 23:53] mheon commented on #593
@pixdrift I don't think this is on the Podman side. Even manually overriding entrypoint, I get the same `cannot execute binary file` error.

[2018-04-17 00:03] pixdrift commented on #593
@jwendell thanks for the debug
@mheon ok, cheers.

[2018-04-17 09:03] alban commented on #579
https://github.com/projectatomic/buildah/commit/45a4b816d730dee992616d737617e2957ff3d1d9 fixes this. It is now merged in master.

[2018-04-17 09:03] #579 closed

[2018-04-17 10:45] TomSweeneyRedHat commented on #593
@pixdrift, yes I meant `buildah config --entrypoint` not commit in my prior reply.  Regardless of which I mean to talk about, my fingers invariably type the other.  Sigh.

[2018-04-17 11:47] pixdrift commented on #593
There is a different in Entrypoint.

When building using buildah native:
[code]

When building using `buildah bud`
[code]

[2018-04-17 12:01] pixdrift commented on #593
Just build the same docker file using `docker build` and it matches the `buildah bud` Entrypoint, so native buildah is different.

From `docker build` docker version 1.13.1:
[code]

[2018-04-17 12:17] redbaron commented on #518
Another attempt to have pure userspace builds: https://github.com/GoogleCloudPlatform/kaniko

[2018-04-17 14:03] cevich commented on #518
FWIW: The use-case I was attempting is similar to @alanbchristie just substitute Jenkins for Travis.  Being able to build images inside unprivileged container, then push elsewhere is **much** faster b/c Travis gives priority to jobs that run inside containers (as opposed to on a full, bloated, host).  There are other CI/CD systems that are even less flexible, only allowing testing in containers.

[2018-04-17 15:02] rhatdan commented on #593
So entrypoint just extends the `sh -c` command.
@TomSweeneyRedHat Can you quickly fix this.

[2018-04-17 15:11] TomSweeneyRedHat commented on #593
@rhatdan will hop on it this afternoon.

[2018-04-17 17:06] momocow commented on #475
@gouyang Make sure if there is a shebang in `hello`.

Though I'm not familiar with go, I happen to find here since I met with the same problem (`standard_init_linux.go:190: exec user process caused "exec format error"`).

I think it is because the system does not know how to execute the file.
[FYI: What's the appropriate Go shebang line?](https://stackoverflow.com/a/17900932/8579025)

[2018-04-17 18:06] taqtiqa-mark commented on #537
Maybe a step towards compliance with the OCI spec v1.0.1 [Properties:Created](https://github.com/opencontainers/image-spec/blob/v1.0.1/config.md#properties) is to use [RFS 3339, Section-5.6](https://tools.ietf.org/html/rfc3339#section-5.6) ?

[2018-04-17 18:11] taqtiqa-mark opened #595 "buildah-config: created and created-by confusion"
The [OCI Spec v1.0.1](https://github.com/opencontainers/image-spec/blob/v1.0.1/config.md#properties) suggests that neither `--created` nor `--created-by` ought to be user configurable.

- Created:

- Created by:

[2018-04-17 18:36] TomSweeneyRedHat commented on #595
@rhatdan, I'm 99% sure what you're asking for.  I think you want me to remove the created and created-by options from `buildah config` and then determine those values when the config happens and save it to the container.  I'll make that so, holler if I need to adjust.

[2018-04-17 18:38] taqtiqa-mark commented on #595
Believe this would also close #537

[2018-04-17 18:39] rhatdan commented on #595
@TomSweeneyRedHat Yes on the first statement, but created and createdby should be populated on buildah commit, not no buildah config.

[2018-04-17 20:34] taqtiqa-mark opened #597 "buildah-config: OCI spec v1.0.1 Config:Properties and Annotations"
This issue arises in the context of issues #591 and #595.

The current OCI spec (v1.0.1) leaves discretion for which of the [annotations](https://github.com/opencontainers/image-spec/blob/v1.0.1/annotations.md#pre-defined-annotation-keys) are exposed to the user and where.

The [Config:Properties](https://github.com/opencontainers/image-spec/blob/v1.0.1/config.md#properties) part of the spec doesn

[2018-04-17 20:49] TomSweeneyRedHat opened #598 "`buildah bud --rm -t webserver .` fails"
**Description**

docker has this command: `docker build --rm -t webserver .` which if you replace docker with 'buildah' your receive the error:

Incorrect Usage: flag provided but not defined: -rm

If we're not going to support this, we should at least provide an error message which tells the user how to make it so.

Reported/Requested by @dustymabe

**Output of `buildah version`:**

Buildah v0.16

[2018-04-17 20:59] rhatdan commented on #598
We should support it.

[2018-04-17 21:00] TomSweeneyRedHat opened #599 "buildah bud params don't match docker build params"
**Description**

The available parameters for `buildah bud` don't match the ones available for `docker build`.  We need to match them and/or create documentation stating what we don't match.

Reported by @dustymabe

[2018-04-17 21:15] pixdrift commented on #593
@rhatdan @TomSweeneyRedHat this isn't a complete fix. When using buildah native it is injecting a spurious `/bin/bash` into `cmd` which shouldn't be there.

What's occuring then is that the `cmd` is being appended to the `entrypoint`. Changing `entrypoint` to `/bin/sh -c` will match docker `entrypoint` behaviour, but doesn't fix buildah always injecting `/bin/bash` into `cmd`.

[2018-04-17 21:25] pixdrift commented on #595
@taqtiqa-mark #537 isn't just the format the date is displayed in, the primary issue is that local timezone isn't being applied when the time is displayed to the user.

[2018-04-17 21:32] TomSweeneyRedHat commented on #595
@pixdrift the created date shown in `buildah inspect` is in UTC.  However when we display the creation date of the image via `buildah images` we convert the time displayed by that command to the time of the machine that runs the command as determined by its locale.  We don't change the time inside the image itself though.

[2018-04-17 21:33] pixdrift commented on #595
@TomSweeneyRedHat this is how I would expect it to work, but my ticket #537 shows that it is reporting the raw time off the container and not adjusting for my local time (AEST).

[2018-04-17 22:36] taqtiqa-mark commented on #595
@pixdrift @TomSweeneyRedHat I think if the spec format was followed then the timezone decoration would explain the 10 hour difference.

My view is to keep things a simple as possible ... so just stick with UTC throughout and format the time as the spec states.  Chopping and changing is problematic.
Also I think a buildah use case is that it will be used in scripted scenarios where you can't guaran

[2018-04-17 22:45] pixdrift commented on #595
@taqtiqa-mark I am not suggesting that the date/time be anything other than UTC in the container. I was raising that the spec doesn't stipulate that UTC should be used for this date/time and the spec probably should define this _categorically_ because using RFC3339 (ISO8601 date/time), there is an 'option' to include the TZ date time in the date.

My issue in #537 is that the _displayed_  CREATED

[2018-04-17 22:49] taqtiqa-mark commented on #595
@pixdrift ack.  I'm arguing displayed data should be UTC too.  Humans are only one type of consumer of buildah output. Scripts are another important group.  It's much easier for a Human to recognize a UTC time than to write scripts and pipelines that coordinate/adjust time differences.

[2018-04-17 22:56] pixdrift commented on #595
@taqtiqa-mark ack. I'd argue that `buildah images` primary consumer is humans. If you want to interface with the container attributes programatically you could use output from `buildah inspect`. I accept others may argue the counter.

In comparison `docker images` produces relative time which is also difficult to interpret eg.

[2018-04-17 23:04] taqtiqa-mark commented on #597
Hmm, things seem to be in the OCI v1.0.1 spec and in a state of flux/transition.....

@rhatdan and @TomSweeneyRedHat you may be able to give buildah's view on the implementation / transition details in the questions @wtking [raised](https://github.com/opencontainers/image-spec/pull/745#issuecomment-382115515).

I'll update the table in #591 with my opinion on what would be useful in the scripting

[2018-04-17 23:09] pixdrift commented on #537
@taqtiqa-mark, the spec describes the container configuration formatting, not the end user interface formatting.

From the spec:

[2018-04-17 23:35] TomSweeneyRedHat commented on #595
I'll let @rhatdan chime in on what we should be displaying time wise.  But just to be totally clear, the times that we store for the containers and images are UTC times.  What we display is UTC time with the exception of the time displayed in the `buildah images` command which converts the time to locale time based on #537.

@pixdrift I'm a little confused (it's late, so likely me) by  your reply

[2018-04-17 23:42] pixdrift commented on #595
@TomSweeneyRedHat, my issue #537 is about display only, and is in `buildah images`, you're absolutely correct. I am commenting on it in this thread because it was suggested above that this issue would also close #537, but in my view they are unrelated.

I will follow up #537 in that issue and provide feedback.

[2018-04-17 23:47] pixdrift commented on #537
@TomSweeneyRedHat, this is resolved, thanks 👍🍻  much appreciated. I am happy to close this ticket... unless you want to keep it open for discussion on the date format? (which should probably be in a separate issue)

[2018-04-17 23:52] #537 closed

[2018-04-18 00:13] pixdrift commented on #595
@TomSweeneyRedHat, @taqtiqa-mark To summarise above, this proposal/suggestion looks good, my comments were in response to how it related to #537, which is now closed. Crisis over :smile:

[2018-04-18 08:28] gouyang commented on #505
@owtaylor I've a test failed with 2.6.2-7.git48294d9.fc28, I tested that it's okay with docker-distribution-2.6.2-6.git48294d9.fc27.x86_64.rpm, so it looks the 2.6.2-7.git48294d9.fc28 is not including fixed for this issue.

[code]

[2018-04-18 10:44] rhatdan commented on #593
@pixdrift can you open a PR to fix that behaviour.

[2018-04-18 10:58] pixdrift commented on #593
@rhatdan ack.

[2018-04-18 11:11] rhatdan commented on #595
How about buildah images does display in LocaleTime and buildah images --json returns in UTC.

[2018-04-18 11:29] TomSweeneyRedHat opened #600 "Buildah is injecting /bin/bash into cmd and should not be"
**Description**

As reported by @pixdrift in #593
@rhatdan @TomSweeneyRedHat this isn't a complete fix. When using buildah native it is injecting a spurious /bin/bash into cmd which shouldn't be there.

What's occuring then is that the cmd is being appended to the entrypoint. Changing entrypoint to /bin/sh -c will match docker entrypoint behaviour, but doesn't fix buildah always injecting /bin/bas

[2018-04-18 11:30] TomSweeneyRedHat commented on #593
I've created #600 to track the issue.

[2018-04-18 11:30] pixdrift commented on #600
Thanks @TomSweeneyRedHat, I had the ticket half written up.

[2018-04-18 11:33] TomSweeneyRedHat commented on #600
@pixdrift, that's unusual, I usually don't have fast fingers in the morning before my tea!  ;^)   I tried to assign this one to you, but GitHub for some reason wouldn't let me.

[2018-04-18 12:05] pixdrift commented on #600
@TomSweeneyRedHat, I tried to track this down last night and had trouble finding where the value was coming from. Keen to see what you (or whoever provides the fix) comes up with so I can better understand the components involved in the earlier part of the creation process. I ended up on `config.go` last night when looking.

[2018-04-18 12:09] rhatdan commented on #600
Is the /bin/bash defined in the container image you are building from?

[2018-04-18 12:15] pixdrift commented on #600
@rhatdan, sadly yes :blush:

This is where it was coming from. The problem in #593 was that it was coming from the parent container (centos 7) and getting appended to the entrypoint added.

I guess blanking values from the parent container is an exercise for the user. Just checking the bud behaviour to see if it matches.

[2018-04-18 12:25] pixdrift commented on #600
@rhatdan, give me 5 mins.. I will try and get a more complete picture of behaviour with/without options

[2018-04-18 12:45] pixdrift commented on #600
Source container (centos:7):
[code]

**Test 1:** buildah bud the following (no entrypoint):
[code]

Result:
# buildah inspect 215c | jq '.Docker.config.Cmd'
[
  "/bin/bash"
]
# buildah inspect 215c | jq '.OCIv1.config.Cmd'
[
  "/bin/bash"
]
[code]
FROM centos:7
ENTRYPOINT /bin/bash
WORKDIR /tmp
[code]
# buildah inspect 87d5 | jq '.OCIv1.config.Cmd'
null
# buildah inspect 87d5 | jq '.Docker.config.

[2018-04-18 12:57] rhatdan commented on #600
Could you also do the two tests with Docker.

[2018-04-18 12:58] rhatdan commented on #600
It looks like specifying ENTRYPOINT has a side effect of clearing command.  If docker does the same, then we should do it.

[2018-04-18 13:00] pixdrift commented on #600
@rhatdan ack and agree. Will fire up Docker now.

[2018-04-18 13:12] pixdrift commented on #600
**Test 5:** docker build the following (no entrypoint)
[code]

Result:
[code]

**Test 6:** docker build the following (entrypoint)
[code]

Result:
[code]

@rhatdan, results. Test 4 doesn't align.

[2018-04-18 13:19] rhatdan commented on #600
Thanks @pixdrift
Looks like setting ENTRYPOINT should nil out CMD.

buildah config --entrypoint foo

Should result in cmd == Null

buildah config --entrypoint foo --command bar
Should result in cmd == bar

buildah config --workingdir /tmp

Should result in cmd == Parent Container CMD.

[2018-04-18 13:26] pixdrift commented on #600
PR will be ~24 hours away because i'm running close to midnight here and need to wrap up. Happy for someone else to put the PR together during your daylight hours today, if not, I will pick it up tomorrow my time. Cheers.

[2018-04-18 13:26] rhatdan opened #601 "buildah bud needs to support caching."
Add a flag to
buildah bud --cache ...

This flag will cause buildah bud to act like docker build, in that every Dockerfile command will create a layer in and record the command used to layer.  Then if you run it a second time, it will check each command before actually executing it, if it matches an existing layer, then it will not be executed.  If does not match then the command will execute and

[2018-04-18 14:03] rhatdan commented on #600
I opened a PR for it.  Thanks @pixdrift

[2018-04-18 16:11] taqtiqa-mark commented on #595
Appreciate the proposal.
The std Linux approach is to pipe command output via cut etc. - keep simple things simple.
I've tried parsing json through bash etc.  I don't think it is a solution here.
Ideally you shouldn't need more than what is in busy-box to consume buildah output.

May be a `--pipe` or `--pipe-output` option that produces delimited (un-percent-encoded output).  Trouble here is selec

[2018-04-18 17:33] rhatdan commented on #595
How about if we check if the output is a tty, if yes, then it is converted, if not then it get UTC.  Although this might confuse certain users.  Perhaps we should add a flag to tell it to not convert.

buildah --utc
buildah --noformat
?

[2018-04-18 17:59] vbatts commented on #574
hmm. I'm not sure that it's in the archive layers, but might be. I think the `os.FileMode` behavior smells funny.

[code]

[code]

[2018-04-18 19:13] TomSweeneyRedHat commented on #600
Just to be sure, if someone specifies both the --cmd and --entry-point parameters, both should be retained.  In that case the Cmd should not be set to nil, but to what ever the user passed in.   Holldr if that's not right.

[2018-04-18 19:15] rhatdan commented on #600
Yes

[2018-04-18 19:31] mtrmac commented on #505
Yeah, the `Release:` numbers are not in sync on the branches. `-7.fc28` corresponds to `-5.fc27`. `master` does not contain the fix either AFAICT.

[2018-04-18 19:39] mtrmac commented on #575
Yeah, this confirms my guess:

the two manifests differ in that one is Docker schema2 and the other is OCI.

It would still be useful to verify what `Content-Type` header is returned when fetching the manifest, to determine whether the bug is in the registry, the client, or both.  https://github.com/moby/moby/issues/30083 suggests that the client’s behavior has supposedly been fixed since.

(See #

[2018-04-18 21:49] pixdrift commented on #600
Just thought of another potential test/edge case
`buildah --entrypoint "" $ctr`

You're setting the entrypoint.. in this case to an empty value, should that also blank/clear cmd?

[2018-04-18 21:55] rhatdan commented on #600
If you do that in a Dockerfile and run `docker build` on it, what happens?

[2018-04-18 21:56] pixdrift commented on #600
@rhatdan I will do some more tests including Docker

[2018-04-18 22:02] taqtiqa-mark commented on #595
@rhatdan, I tend t prefer explicit `--utc` over implicit `--noformat` which presumes the user knows what format the raw is. Even more explicit and self descriptive/documenting is `--utc-3339`.  If (when?) the spec changes, at least there won't be confusion about one parameter in legacy code ;)

@pixdift, json issue yes, overly complex. I understand by using json the developers get some freedom, th

[2018-04-18 22:32] pixdrift commented on #595
@taqtiqa-mark, can you provide some examples of the buildah commands with proposed switches with proposed/expected output?

eg.
`buildah images --pipe`
`buildah images --pipe --utc`

[2018-04-18 23:59] pixdrift commented on #595
Was interested in how this situation was handled in Docker, and it looks like the solution in Docker is to use the more generic `--format` parameter that is built in to present json output in a format that is easily parseable.
https://docs.docker.com/config/formatting/

When looking for `--format` in the other projectatomic utilities, I found this in the skopeo README.md.

Should there be some dis

[2018-04-19 08:13] taqtiqa-mark commented on #595
Refering to the configuration list in issue #591 [table](https://github.com/projectatomic/buildah/issues/591#issuecomment-381798779)

Ideal workflow would look like this, unless I missed something `buildah push...` doesn't return the container ID in a way that helps....
[code]
The assumptions are the output is in alphabetical order of the `buildah-config` flags.  All flags have a default value if

[2018-04-19 08:34] taqtiqa-mark commented on #595
[code]
Is that what you wanted?

[2018-04-19 08:44] pixdrift commented on #595
@taqtiqa-mark I am interesting in what the output of this command would be. No parsing or interpretation, just what you would like to see printed to the console?
`buildah images --pipe --pipe-delimiter='|'`

My view is that the Unix Philosophy is absolutely supported in buildah's current form. You are referring to elements that you want to extract from the spec. The method provided to interrogate

[2018-04-19 09:02] pixdrift commented on #595
If I can make another point for jq. The jq solution is more robust than using positional parameters. Even if the output items are sorted alphabetically, if anything is added to the spec (even elements you don't utilise) the script will break. In `buildah inspect` + `jq`, you are referencing specific items by name that won't be impacted by additional elements/fields being added to the spec or comma

[2018-04-19 09:51] pixdrift commented on #600
Test 7: docker build the following (empty entrypoint)
[code]

Result:
[code]

[2018-04-19 10:12] rhatdan commented on #595
I would think the format command would be best to satisfy your needs then you can format the output of buildah images any way you want.

Take a look at `podman images --format`  would similar functionality from buildah satisfy your needs?

[2018-04-19 11:58] adelton commented on #600
I've just hit the issue attempting to test FreeIPA container build. The `ENTRYPOINT` value is injected to `RUN` commands as well, something docker does not do in build time:

[code]

[code]

[code]

In FreeIPA case we don't use nonexistent path for `ENTRYPOINT` but we specify script which ecpects only a limited set of parameters, so subsequent `RUN`s fail because they are not in the list.

Is it e

[2018-04-19 12:28] TomSweeneyRedHat commented on #600
@adelton The ENTRYPOINT command shouldn't need to be the last command/line in the Dockerfile.  If you find otherwise, please let us know.

[2018-04-19 12:38] pixdrift commented on #600
I think this is related but is a separate issue.

Buildah bud `RUN` should be treated differently to command line `buildah run`.

[2018-04-19 12:43] adelton commented on #600
@pixdrift, thanks for reproducing it. Should I file a separate issue or is it OK to track it here?

[2018-04-19 12:46] pixdrift commented on #600
@adelton i'll raise a separate issue for it now as this issue was just closed out by a PR.

[2018-04-19 12:48] TomSweeneyRedHat commented on #600
@adelton and @pixdrift , yes please a separate issue and ty!

[2018-04-19 12:54] pixdrift opened #607 "buildah bud 'RUN' incorrectly executing entrypoint"
**Description**
When an entry point is configured in a Dockerfile executed by `buildah bud`, the `RUN` commands in the Dockerfile triggers execution of the configured `ENTRYPOINT` value.

Credit to @adelton for initial report and reproducer.

**Steps to reproduce the issue:**
1. `buildah bud` the following Docker file
[code]

Result:
[code]

**Describe the results you received:**
Second `RUN` comm

[2018-04-19 12:56] pixdrift commented on #600
Opened issue #607

Should be good to close this one out as PR #602 resolved.

[2018-04-19 13:01] pixdrift commented on #607
Execution of same Dockerfile with `docker build`:
[code]

[2018-04-19 13:05] gregoryboue commented on #575
@mtrmac the content-type header returned has the following value :
**application/vnd.docker.distribution.manifest.v1+json**

It should be **application/vnd.oci.image.config.v1+json** ?

Is the problem come from Nexus registry or from buildah ?

[2018-04-19 19:27] taqtiqa-mark commented on #595
@rhatdan and @pixdrift I've given the concrete use case.
In 6 lines I show an image build and how `buildah-config` settings can be easily parsed into env variables using prexisting tools.

(**For later readers** - the `buildah-push` and `buildah-inspect` behavior above is vapoware at the time of writing)

I'm not familiar with `jq` or `podman`.  Perhaps you can show how you envision the same resul

[2018-04-19 20:09] mtrmac commented on #575
application/vnd.docker.distribution.manifest.v1+json

That’s definitely not correct.

Yes.

For _this particular subproblem_, I’d bet on the registry; the way to tell for sure would be to see the `Content-Type` set by `buildah` when uploading the manifest.

---

It’s not just returning the correct `Content-Type`, though: if Docker asks for a manifest and specifies that it does not support OCI, and

[2018-04-19 20:10] mtrmac commented on #575
For the manifest, `application/vnd.oci.image.manifest.v1+json` actually.

[2018-04-19 20:48] taqtiqa-mark opened #609 "buildah-commit: return value is not image ID of image created"
**Description**
From the documentation for [`buildah commit...`](https://github.com/projectatomic/buildah/blob/master/docs/buildah-commit.md):

The image ID of the image that was created. On error, 1 is returned and errno is returned.

**Steps to reproduce the issue:**
1. OCI_ID=$(${BUILDAH} commit ${OCI_NAME} ${OCI_NAME})
2. echo $OCI_ID

**Describe the results you received:**
[code]

**Describe

[2018-04-19 21:46] pixdrift commented on #595
@taqtiqa-mark, I have provided the `--format` documentation for Docker in my above post, which describes its operation. What @rhatdan is proposing is a re-implementation of this capability in buildah as this capability has already been replicated in podman. To summarise it basically includes a json parsing/templating mechanism in the tool itself to remove the need for jq.

[2018-04-19 22:15] pixdrift commented on #595
@taqtiqa-mark, As requested, example using jq in current config (random fields selected)
[code]

[2018-04-19 23:16] TomSweeneyRedHat commented on #609
@taqtiqa-mark I think (hope) this was fixed very recently with #566 which was merged just a few days ago.  If you get a chance can you get the absolute latest/greatest and retest please?

[2018-04-20 00:56] pixdrift commented on #607
This looks related to entrypoint change that fixed 'buildah run' behaviour.
https://github.com/projectatomic/buildah/commit/15e1054820a0442ce179ca44ddd870b8ff56fa8c

Code block here:
https://github.com/projectatomic/buildah/blob/15e1054820a0442ce179ca44ddd870b8ff56fa8c/run.go#L331-L343

Looks like `buildah bud` calls the same run fuction
https://github.com/projectatomic/buildah/blob/83d7d100df1c04

[2018-04-20 07:31] pixdrift commented on #593
@jwendell, can you re-test with current code?, original issue should be resolved.

[2018-04-20 11:28] rhatdan commented on #607
I believe buldah run and RUN command should use the exact same behaviour.  buildah run is just supposed to be an BASH version of the Dockerfile RUN.  @nalind do you agree.

I agree that we need to match Docker functionality, though.

[2018-04-20 11:46] rhatdan commented on #600
I don't agree buildah run and buildah bud Dockerfile RUN, should work the same.  The basic idea of the buildah run command is to be an equivalent BASH version of the Dockerfile RUN command.  @pixdrift Why do you think they should behave differently?

BTW I agree that this is a bug, we should match the Docker behaviour.

[2018-04-20 11:46] pixdrift commented on #607
@rhatdan, the modification made was to make `buildah run` match `docker run` by passing parameters to the entrypoint. I also would expected `RUN` and `${tool} run` to behave the same, and was surprised by this issue.

[2018-04-20 11:50] pixdrift commented on #600
@rhatdan ? I don't think it, it's just from what I have determined from testing.

[2018-04-20 11:50] rhatdan commented on #607
Well podman run should match docker run, but buildah run should match Dockerfile RUN.

[2018-04-20 11:53] pixdrift commented on #607
@rhatdan, if that's the case I can raise a PR to back out the change that was implemented to resolve issue https://github.com/projectatomic/buildah/issues/564

[2018-04-20 13:47] pixdrift commented on #607
Can confirm that revert of 97a0790def2935571469f9cc3d5018a61cfd390b returns behaviour to `buildah bud RUN = buildah run`

Reproducer confirmed fixed after reverted commit:
[code]

[2018-04-21 22:25] taqtiqa-mark commented on #609
Thanks, it is fixed in the latest.

[2018-04-21 22:25] #609 closed

[2018-04-21 22:31] taqtiqa-mark opened #612 "buildah version: strconv.ParseInt: parsing "": invalid syntax"
**Description**

`buildah version` breaks scripts by exiting with `$? = 1`

**Steps to reproduce the issue:**
1. Build from sources (22 April 2018)
2. `buildah version`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Output of `apt list buildah`:**
[code]

**Output of `buildah version`:**
[code]

**Output of `cat /etc/*release`:**

[code]

**Output

[2018-04-21 22:47] taqtiqa-mark commented on #595
Thanks @pixdrift for taking the time to do that.  I appreciate we are all doing this in what would otherwise be family or recreation time.

A couple of observations.
1. It'll be useful to show the full PoC you have in mind that would set the same suite of environment variables I gave in my use case. Ack `buildah` doesn't (yet?) support setting all that configuration data through `buildah config`.

[2018-04-21 23:32] TomSweeneyRedHat commented on #612
This is really odd.  Version is failing as it can't parse the system date at build time.  I don't have a Ubuntu vm handy, could you try:

date=$(date +%s)
echo $date

and let me know if that spits out a value other than nil or zero @taqtiqa-mark?  Thanks!

[2018-04-22 00:04] taqtiqa-mark commented on #612
[code]

HTH?

[2018-04-22 17:35] taqtiqa-mark commented on #612
@pixdrift Same system.
@TomSweeneyRedHat: Maybe "Buildah version not resolvable"?

In case it helps I can add the `buildah --version` works, so maybe `buildah version` can just be a proxy for `buildah --version`, and just have one code path for this information?

Suggest issue template be adjusted from `apt list buildah` to: `apt list --installed buildah`.  In this case the result is empty:
[code]

[2018-04-22 17:39] taqtiqa-mark commented on #595
@pixdrift : Thanks.  Striving to keep things simple and avoid the need to consult docs etc.  Not easy to write intuitive software, I know. Esp when user base is so diverse.

[2018-04-23 14:34] rhatdan commented on #595
@pixdrift @taqtiqa-mark Lets add the format and see if we can satisfy your needs with that.  Should be simple to back port the changes from podman to buildah images.  @umohnani8 Could you look at that?

[2018-04-23 19:55] taqtiqa-mark commented on #612
OK if you think its a build error, when I get time I'll rebuild and log the output.

Any build flags you want set?  Maybe give the whole build instruction you'd like run.

[2018-04-23 21:44] pixdrift commented on #595
@rhatdan agreed, format to align with other tools would be a good solution.

[2018-04-24 00:42] ripcurld commented on #612
That's really awkward. How the hell was `version` set to an empty string? :confused:

[2018-04-24 03:44] TomSweeneyRedHat commented on #612
@ripcurld, that's the $64 question.

@tatiqa-mark I don't know if there are any build flags that will be especially helpful, but I'd be interested in seeing the output.

[2018-04-24 11:06] TomSweeneyRedHat commented on #612
Just to thicken the plot, I finally got a chance to spin up an Ubuntu vm this morning and installed by cutting/pasting the install instructions on the https://github.com/projectatomic/buildah/blob/master/install.md and the end results were:

[code]

I'm going to see what I can do with the Makefile and/or handle the error in version.go a bit better.

[2018-04-24 12:35] rhatdan commented on #595
I am not sure what we are missing now?

[code]

If you want it in namevalue pairs

[code]

[2018-04-24 12:43] pixdrift commented on #612
Reproducer here:
[code]

I still believe it's due to `date` not being available at compile time. One explanation may be that it's built in a container without `date`, or for whatever reason permissions on `date` present the build user from accessing it (agree this is strange). I think the `make` should fail if it can't find date.

Thoughts @TomSweeneyRedHat @ripcurld?

[2018-04-24 12:50] pixdrift commented on #612
@TomSweeneyRedHat, just found another potential issue with a similar fix. If the build server doesn't have git installed the following will fail, returning an empty string:
`GIT_COMMIT := $(shell git rev-parse --short HEAD)`

The `make` displays an error that git isn't available:
[code]

And the result is the following in `buildah version`
[code]

This doesn't generate an error or bad exit code, b

[2018-04-24 12:51] TomSweeneyRedHat commented on #612
I've just posted #616.  I decided to print a warning error and set the date to the epoch.    I think this should be a rare situation and I can't see where having the version set to 12/31/1969 could be problematic for Buildah.

However if other folks think we should instead stop the compilation, I could adjust the PR.

[2018-04-24 12:53] pixdrift commented on #595
@rhatdan, this is for @taqtiqa-mark to answer I think.

[2018-04-24 12:59] pixdrift commented on #612
@TomSweeneyRedHat, my only concern would be that this would inadvertently mask the error for someone building it and they wouldn't necessarily be aware that they are producing binaries that aren't 'correct'.

I don't think it's too crazy to have `date` as a build requirement.. interested in what others think.

[2018-04-24 13:34] pixdrift commented on #612
Thanks @rhatdan 👍

[2018-04-24 13:45] pixdrift commented on #607
@adelton, this should be resolved. Can you re-test?

[2018-04-24 13:52] pixdrift commented on #600
@TomSweeneyRedHat, should be good to close this, was resolved with PR #602

@rhatdan, agree re: RUN behaviour, see the comment you were responding to.

To clarify, the following _don't_ use entrypoint value and behave the same
[code]

The following _do_ use entrypoint value and behave the same
[code]

[2018-04-24 13:58] TomSweeneyRedHat commented on #600
Closing based on #602.  Thanks to all for the discussion, especially @pixdrift for starting it up.

[2018-04-24 13:58] #600 closed

[2018-04-24 14:05] umohnani8 commented on #595
@rhatdan add `--format` to buildah inspect only or to images as well?

[2018-04-24 14:39] edsantiago opened #618 "buildah from: fails if $XDG_RUNTIME_DIR does not exist"
[code]
buildah-0.16-1524410543.gitd84f05a.fc27.x86_64

[2018-04-24 14:55] TomSweeneyRedHat commented on #599
@pixdrift thanks for putting this together.  At a quick glance, most if not all of the ones that are "Yes" in Buildah, but "No" in Docker I'm fine with.  A lot of those were additions to make logging into registries more secure and/or more convenient.  For instance authfile, creds, tls-verify, etc.  The ones that are "N o" for Buildah and "Yes" for Docker are ones we'll have to look into further.

[2018-04-24 15:04] rhatdan commented on #595
@umohnani8 We have it now I believe.

[2018-04-24 15:57] TomSweeneyRedHat opened #619 "repository is defaulting to docker.io and should default to registries.conf"
**Description**

There are places in the code where the repository "docker.io" is added to an image rather than the first repository in the list of repositories in /etc/containers/registries.conf.  Find and replace docker.io in the code with the first repository found in registries.conf

This is  likely related to the issue in Podman: https://github.com/projectatomic/libpod/issues/639

** Version

[2018-04-24 20:07] rhatdan commented on #618
Do you have anything in /etc/containers/registries.conf

[2018-04-24 20:17] edsantiago commented on #618
registries.conf is untouched:
[code]
This feels like it could be related to [libpod issue 659](https://github.com/projectatomic/libpod/issues/659)

[2018-04-24 20:50] rhatdan commented on #599
I agree any one that is N for Buildah and Y for Docker, should have an issue opened for it.  And people can just grab them and open a PR.  Most should be fairly easy.

BTW This would be a decent table to add to the github repo to show compatibility.

[2018-04-24 20:51] rhatdan commented on #599
Thanks @pixdrift great job.

[2018-04-24 20:54] rhatdan commented on #618
Yup looks like the exact same problem.
@umohnani8 When you fix podman, we got the issue also.

[2018-04-24 20:54] rhatdan commented on #618
@edsantiago good work keeping us on our toes.

[2018-04-24 22:37] TomSweeneyRedHat opened #620 "buildah bud --cache-from functionality needed"
**Description**
`buildah bud --cache-from` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:38] TomSweeneyRedHat opened #621 "buildah bud --compress functionality is needed"
**Description**
`buildah bud --compress` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:40] TomSweeneyRedHat opened #622 "buildah bud --force-rm functionality is missing"
**Description**
`buildah bud --force-rm` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:40] TomSweeneyRedHat opened #623 "buildah bud --format format functionality missing"
**Description**
`buildah bud --format format` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:41] TomSweeneyRedHat opened #624 "buildah bud --idfile functionality is missing"
**Description**
`buildah bud --idfile` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:42] TomSweeneyRedHat opened #625 "buildah bud --isolation functionality missing"
**Description**
`buildah bud --isolation` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:43] TomSweeneyRedHat opened #626 "buildah bud --label functionality missing"
**Description**
`buildah bud --label` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:44] TomSweeneyRedHat opened #627 "buildah bud --network functionality missing"
**Description**
`buildah bud --network` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:45] TomSweeneyRedHat opened #628 "buildah bud --no-cache functionality missing"
**Description**
`buildah bud --no-cache` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:47] TomSweeneyRedHat opened #629 "buildah bud --platform functionality missing"
**Description**
`buildah bud --platform` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:48] TomSweeneyRedHat opened #630 "buildah bud --squash functionality missing"
**Description**
`buildah bud --squash` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:49] TomSweeneyRedHat opened #631 "buildah bud --stream functionality missing"
**Description**
`buildah bud --stream` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:49] TomSweeneyRedHat opened #632 "buildah bud --target functionality missing"
**Description**
`buildah bud --target` is missing and needs to be provided.  This is functionality that Docker has.

#599 is the parent issue for this issue.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-24 22:52] TomSweeneyRedHat commented on #599
I've added an issue for each question mark in the table with the exception of #598 that @pixdrift created earlier.  I've updated the table replacing the "?" with the issue number link.

[2018-04-24 23:17] pixdrift commented on #629
@TomSweeneyRedHat, need minor edit to issue name to add `--platform`

[2018-04-25 02:33] 14rcole opened #633 "Parallelizing Container Builds"
I'm working on a project for a distributed systems class in which I parallelize container builds in order to speed up build time, particularly on distributed systems.  I was initially building the functionality into buildah, but it seems like the functionality could just as well go into openshift/imagebuilder.  Do you feel that either project would find this feature useful in production?  Also, gi

[2018-04-25 08:55] AkihiroSuda opened #634 "Request: official Docker image"
Could you consider uploading the official image to a registry?

I think you can use this Dockerfile which I'm using for CBI, although it results in very huge image (387MB, uncompressed): https://github.com/containerbuilding/cbi/blob/e488b2e8ea63980b355a7f51f2e170a4b7f0184b/Dockerfile.buildah

[2018-04-25 11:27] TomSweeneyRedHat commented on #629
@pixdrift, darn tricky cut/paste tricks.  TY!

[2018-04-25 11:34] ripcurld commented on #634
@AkihiroSuda sounds cool.
@rhatdan @TomSweeneyRedHat I would like to work on this on my spare time.
Do you mind? :smiley:

[2018-04-25 11:37] TomSweeneyRedHat commented on #634
Go for it @ripcurld.  I think @ipbabble has played with this a bit,  Might want to touch base with him.

[2018-04-25 11:46] ripcurld commented on #634
Cool :confetti_ball:

[2018-04-25 11:49] pixdrift commented on #634
I have one I use for testing, just pushed it to my personal repo:
https://gitlab.com/pixdrift/buildah-scripts/blob/master/el7.buildah.minimal.sh

Built using buildah, wouldn't take much to switch it to a Dockerfile. Resulting image is 234MB due to RPM deps.

[2018-04-25 11:53] ripcurld commented on #634
@pixdrift this is what I wanted to do... :+1:
I guess what's left to do is to write a build pipeline that:
 (a) is triggered every release
 (b) executes [`this script`](https://gitlab.com/pixdrift/buildah-scripts/blob/master/el7.buildah.minimal.sh)
 (c) commits it to DockerHub.

[2018-04-25 12:07] pixdrift commented on #634
@ripcurld, sounds similar to what i'm cobbling together at the moment. Assembling a pipeline to build buildah commit RPMs using a buildah container.

This container will take a buildah commit and produce an el7 x86_64 rpm. Depending on how you wanted to install buildah in the container, you could always use the resulting RPM from this process.
https://gitlab.com/pixdrift/buildah-scripts/blob/maste

[2018-04-25 12:41] TomSweeneyRedHat commented on #629
OK, tried to reset the title one more time....

[2018-04-25 12:45] TomSweeneyRedHat opened #635 "/etc/containers/registries.conf documentation/links are lacking"
**Description**

@pixdrift pointed out that there's not a whole lot of info on /etc/containers/registries.conf that's availain in the documentation for Buildah.  A man page or other documentation should be created/referenced that explains what the contents of the file are and what the values should be.  Also a little info on how the file is used by the tools.

**Output of `buildah version`:**
Buil

[2018-04-25 12:46] TomSweeneyRedHat commented on #635
@pixdrift, I raised an issue based on our last bit of IRC chat.  Sorry had to step away and missed the last 10 minutes or so of that.

[2018-04-25 12:52] pixdrift commented on #635
Cheers @TomSweeneyRedHat 👍

[2018-04-25 13:02] gregoryboue commented on #575
@mtrmac ok I understand.

This is the request when buildah push the manifest :

[code]

And the response From Nexus :

[code]

So it means that the content type application/vnd.oci.image.manifest.v1+json is not managed by the registry ?

[2018-04-25 13:26] rhatdan commented on #620
We don't currently support cache, so this one might take a while.

[2018-04-25 13:28] rhatdan commented on #622
Since we don't have caching this one can not be implemented yet.

[2018-04-25 13:31] rhatdan commented on #623
I don't see documentation on docker build --format???

[2018-04-25 13:58] ripcurld commented on #623
@rhatdan is right. No `docker build --format` from what I know.

[2018-04-25 14:04] rhatdan commented on #623
We actually have a buildah bud format that allows you specify format.

[code]

[2018-04-25 14:05] rhatdan commented on #623
So @TomSweeneyRedHat Should we close this?

[2018-04-25 14:07] rhatdan commented on #625
This seems to be mainly a Windows thing.  Although it is close to the --runtime flag that we use.  So maybe we should document in the man page --isolation should use --runtime.

[code]

[2018-04-25 14:14] TomSweeneyRedHat commented on #624
Ugh, just noted this should be --iidfile, my bad cut/paste from last night.  Sorry @rhatdan

[2018-04-25 14:14] rhatdan commented on #634
SGTM

[2018-04-25 14:17] rhatdan commented on #635
buildah.md has

**registries.conf** (`/etc/containers/registries.conf`)

	registries.conf is the configuration file which specifies which registries should be consulted when completing image names which do not include a registry or domain portion.

Perhaps we should also add this to bud, from, pull, push man pages along with a reference to registries.conf(5)

[2018-04-25 14:19] rhatdan commented on #627
I guess this needs to match `podman run --net NETWORKCONF`
Options and would need to be added to bud and buildah run command.

[2018-04-25 14:31] mtrmac commented on #575
@gregoryboue Thanks for the logs.

This confirms that buildah creates an OCI manifest, the Nexus registry (presumably) accepts it, but then returns it using a Docker schema2 `Content-Type`. That ultimately needs to be fixed in Nexus, either to reject OCI input as unrecognized, or to return it correctly (maybe converting to other formats if the client does not support reading OCI).

It seems, thoug

[2018-04-25 15:26] TomSweeneyRedHat commented on #623
After reviewing, yep, I'm going to close this one.  @pixdrift holler if you've other thoughts.

[2018-04-25 15:26] #623 closed

[2018-04-25 15:53] ipbabble commented on #634
Have you looked at this?

https://www.projectatomic.io/blog/2018/03/building-buildah-container-image-for-kubernetes/

Please reach out to me at wheny @ redhat.com or check for me in the podman channel on IRC freenode

[2018-04-25 16:01] rhatdan commented on #633
Ryan it is probably best if you opened a review here, and then allow us to figure out if it should go somewhere else.

[2018-04-25 16:29] ipbabble commented on #634
$ more ~/buildah.sh
#! /bin/bash
rel=27
containerid=$(buildah from scratch)
scratchmnt=$(buildah mount $containerid)
dnf install --installroot $scratchmnt --release $rel buildah --setopt install_weak_deps=false -y
dnf clean all --installroot $scratchmnt --release $rel
buildah config --cmd "\-\-help" $containerid
buildah config --entrypoint /usr/bin/buildah $containerid
buildah config --author "wgh

[2018-04-25 16:39] ripcurld commented on #634
thank @ipbabble I will contact you soon. :computer:

[2018-04-25 21:07] pixdrift commented on #623
Correct, no `docker build --format`. Apologies if it was in the original table in #599, I can't tell what's been changed in the edit.

[2018-04-25 21:14] pixdrift commented on #635
To follow this up, the other piece that was missing was documentation for auth.json.

From documentation here:
https://github.com/projectatomic/buildah/blob/4743c2e7f132010a01de2d9cf96d10244fced423/docs/buildah-push.md

"Path of the authentication file" is pretty ambiguous, and doesn't explain what it is the authentication file _for_. It also doesn't describe the expected format, and requires down

[2018-04-25 22:03] TomSweeneyRedHat commented on #623
@pixdrift No worries.  This was in the table, but it was my bad.  This is something that we have added to Buildah, but is not in Docker.  I should not of created an issue but suffered a moment of dyslexia apparently.

[2018-04-25 22:04] TomSweeneyRedHat commented on #635
FYI @baude @umohnani8 @mheon

[2018-04-26 07:01] gregoryboue commented on #575
@mtrmac I opened an issue on Sonatype Nexus JIRA, and yes the --format docker solve the problem so I will use this workaround

[2018-04-26 10:57] rhatdan commented on #575
Ok I don't see this as an issue with buildah so I am closing.  Reopen if you disagree.

[2018-04-26 10:57] #575 closed

[2018-04-26 12:42] pixdrift commented on #622
Blocked by #601

[2018-04-26 12:46] pixdrift commented on #630
@rhatdan, if it is the default buildah behaviour, should buildah accept the parameter and _not_ modify behaviour? otherwise scripts for docker using the parameter will fail with unknown parameter from `buildah bud`.

Good example of this behaviour in the `--rm` issue #598

[2018-04-26 13:27] #625 closed

[2018-04-26 14:06] rhatdan commented on #630
Yes we can add the flag and make it a noop or make --squash=false == --cache=true.
Then make --cache and --squash conflict.  I am fine with that.

[2018-04-26 14:07] rhatdan commented on #630
But if I had my druthers I would love to someone working on --cache=true.

[2018-04-26 14:08] rhatdan commented on #607
Closing issue.  @adelton Please reopen if you disagree.

[2018-04-26 14:09] rhatdan commented on #621
@mtrmac @umohnani8 Does containers/image support this now?

[2018-04-26 14:09] rhatdan commented on #612
This should not be able to happen, since the Makefile will blow up without the date or git command.

[2018-04-26 14:09] #612 closed

[2018-04-26 14:10] rhatdan commented on #593
Closing reopen if you disagree.

[2018-04-26 14:28] mtrmac commented on #621
… and… what does it… do?

It seems to cause the CLI client to compress the “tarball of the current directory” which is sent to the daemon for processing the build; I can’t see how that even makes sense for Docker, assuming a local connection that is (maybe it does for a remote one), and for `buildah` which does not have a daemon, I guess it should just be ignored.

[2018-04-26 14:28] umohnani8 commented on #621
@rhatdan do we need this flag since the build context is not being transmitted anywhere like in docker. I believe during planning yesterday we commented on the card asking if this flag should just be a NO-OP.
https://trello.com/c/IG96I45d/805-buildah-podman-build-compress-demo

[2018-04-26 15:57] rhatdan commented on #621
SGTM. We will make this a NOOP just so scripts would work.  I will open a PR.

[2018-04-26 16:41] rhatdan commented on #626
Is this just doing the same thing as the LABEL flag in a dockerfile?

[2018-04-26 20:46] pixdrift commented on #598
@rhatdan, if this does match default buildah behaviour, would there be benefit in having a noop for the `--rm` for the time being, and then implementing `--rm=false` when the layer caching is implemented in #601?. This would improve compatibility in the short term while the caching capability is developed.

[2018-04-26 20:58] rhatdan commented on #598
Sure Open a PR...

[2018-04-27 03:28] pixdrift commented on #635
Another minor item, `atomic-registries` isn't in `Requires` for buildah (not suggesting it needs to be) so it's not guaranteed that you will have an example `/etc/containers/registries.conf` file to work from after installing the buildah rpm.

[2018-04-27 11:41] rhatdan commented on #635
The registries.conf file is moving into skopeo-containers.  Which buildah does require.

[2018-04-27 13:16] TomSweeneyRedHat opened #640 "Support url without --file parameter for bud"
**Description**

As noted by @edsantiago in https://github.com/projectatomic/libpod/issues/682, the 'buildah bud {url}' does not work unless '-f' and '.' is used ala 'buildah bud -f {url} .'   Before implementing, verify that the lack of -f and . is supported by Docker.

**Output of `buildah version`:**

Buildah v0.16

[2018-04-27 14:05] TomSweeneyRedHat commented on #635
The only hiccup for skopeo-containers is on ubuntu.  It's not available as a package in the two latest versions, it's a WIP.  It can be pulled from GitHub and built though, just no readily accessible rpm's there.

[2018-04-27 19:46] umohnani8 commented on #587
Yeah, we don't support relative paths as the host path for the `--volume` flag, same thing with docker build.
[code]
@rhatdan is this something we want to support? If not, I will open a PR to return a better error message.

[2018-04-27 19:50] umohnani8 commented on #588
That is a mistake, should be `options` not flags. Will update and add more info and an example.

[2018-04-28 07:48] rhatdan commented on #587
So we can close this as notabug.  Reopen if you disagree.

[2018-04-28 07:53] pixdrift commented on #587
Even if the decision is not to support it, I think the error message should be improved as @umohnani8 has suggested above.

[2018-04-28 08:54] rhatdan commented on #587
Ok @umohnani8 Can you improve the error message. Missed that part of the discussion.

[2018-04-30 17:51] lsm5 opened #645 "running make inside Makefile seems weird"
https://github.com/projectatomic/buildah/blob/579103a25c76ab3e8c3a2b1fbf7beb6226ba8e08/Makefile#L32

The `docs` target in Makefile should have the go-md2man build step to build docs and not just run make again.
Similar comment for the `install` target as well.

[2018-04-30 17:51] lsm5 commented on #645
@TomSweeneyRedHat @nalind @rhatdan PTAL

[2018-04-30 20:38] umohnani8 commented on #588
Fixed in #643

[2018-04-30 20:38] #588 closed

[2018-04-30 20:38] umohnani8 commented on #587
Fixed #643

[2018-04-30 20:38] #587 closed

[2018-05-01 13:11] umohnani8 commented on #618
Fixed by #646

[2018-05-01 13:11] #618 closed

[2018-05-01 14:29] lsm5 commented on #645
stupid of me, sorry about this ..closing..

[2018-05-01 14:29] #645 closed

[2018-05-03 21:18] TomSweeneyRedHat opened #654 "Misleading pull error when repository disallowed in policy.json"
**Description**
If you disallow pulls from quay.io and then attempt to do so, you get a misleading error when doing a pull.

**Steps to reproduce the issue:**
[code]

[2018-05-03 21:42] pixdrift commented on #654
@TomSweeneyRedHat, I have also seen this error if you attempt a `buildah from` from a repository that requires authentication, but authentication isn't configured.

[2018-05-04 12:14] pixdrift commented on #607
@rhatdan @TomSweeneyRedHat, can this be re-opened? there is a lingering issue here.

I had a small niggling issue I couldn't narrow down and I have finally created a reproducer for it. This works off the following assumption of desired behaviour mentioned above.

[code]

The following Docker file (intentionally broken syntax on last line):
[code]

**buildah bud result:**
[code]
This `Dockerfile RU

[2018-05-04 12:42] rhatdan commented on #607
Yes I agree.  Another way to look at this is we should make `buildah run CTR` always require a command.

[2018-05-04 12:43] pixdrift commented on #607
Agreed. Looking at the code `cmd` may also behave the same way, expanding the tests to check this also.

[2018-05-04 12:50] pixdrift commented on #607
As suspected, `cmd` suffers the same affliction.
[code]

[code]

[2018-05-04 12:59] FireDrunk opened #655 "Invalid argument upon commiting image on CentOS 7.4"
**Description**
Error when trying to commit a container.
**Steps to reproduce the issue:**
My buildscript:
[code]
This runs fine, I know it's not the most perfect script, it's a friday-afternoon-hackathon thingy :-)
Afterwards, when running: "buildah commit buildah-arch buildah-arch-done" I get an error:

**Describe the results you received:**
[code]

**Describe the results you expected:**
A commi

[2018-05-04 13:37] FireDrunk commented on #655
I don't have anything else mounted (from buildah):
[code]
I've changed the storage engine from overlay to devicemapper, perhaps that has something to do with it?

After logging in and out, and trying the script again, it works fine. my buildah commit buildah-arch buildah-arch worked fine now.

[code]
Perhaps some stale reference was still there?

[2018-05-04 13:42] rhatdan commented on #655
I would stick to overlay.  The error is curious, since we thought we fixed it.
The problem is if you mount an file system like devicemapper or overly using an SELinux label like
system_u:object_r:container_file_t:s0:c1,c2 and then attempt during commit to mount the same file system a second time, but this time you use a different label, or no label the kernel will block the mount, whether SELinux

[2018-05-04 14:31] pixdrift opened #657 "Unexpected result when pushing to docker-daemon without image tag"
When pushing a container image from buildah to a local docker daemon with `buildah push`, if a tag is not provided for the docker image, buildah returns various seemingly unrelated errors.

**Steps to reproduce the issue:**
1. Execute `buildah push` to docker-daemon with missing image tag:
`# buildah push wc22 docker-daemon:wc22`
[code]
2. Execute `buildah push` to docker-daemon with correct synta

[2018-05-04 19:08] clcollins opened #658 "Buildah build-using-dockerfile ONBUILD support"
**Description**

`buildah bud` does not appear to support Dockerfile ONBUILD commands.  As a drop-in replacement for Docker, Buildah is working great, except for this example.  I'd like to get developers to migrate away from the Docker daemon, and "build-using-dockerfile" is the painless way to get them started down that road.  The ONBUILD instruction is a somewhat widely adopted Dockerfile featur

[2018-05-04 19:40] TomSweeneyRedHat commented on #658
Thanks for the issue @clcollins.  We'll take a look see and will add this if we can.

[2018-05-06 10:48] pixdrift commented on #622
With PR #639 implementing NOOP for `--rm`, the same can probably be done for this flag until caching is implemented in #601.

[2018-05-07 22:13] ricardson commented on #658
+1

[2018-05-08 01:39] pixdrift commented on #626
@rhatdan, seems to be. Proposal is here which describes use case:
https://github.com/moby/moby/pull/13412

I will check the docker behaviour of `Dockerfile LABEL` and `docker build --label` to see how they interact (ie. overwrite,error etc.)