[2018-10-01 21:12] TomSweeneyRedHat commented on #1046
I tried running the RPM command within the container and I think you've hit the why @rhatdan I'm seeing an error on /etc/hosts there:

[code]

[2018-10-01 22:12] rhatdan commented on #1046
Why this is different from Docker I don't know.

[2018-10-01 22:12] rhatdan commented on #1046
@nalind WDYT?

[2018-10-01 23:04] estroz opened #1054 "Tutorial install instructions omit RHEL repository information"
**Description**

`buildah` installation instructions in the [intro tutorial](https://github.com/containers/buildah/blob/master/docs/tutorials/01-intro.md) omit a few steps necessary to install on RHEL. You have to consult [`install.md`](https://github.com/containers/buildah/blob/master/install.md) or search for [these docs](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_ato

[2018-10-01 23:32] TomSweeneyRedHat commented on #1054
Please and Thank You @estroz !

[2018-10-02 08:12] rhatdan commented on #1051
@qiwang19 PTAL

[2018-10-02 20:13] bparees opened #1057 "buildah tries to parse incorrect value"
https://github.com/containers/buildah/blob/master/pull.go#L193-L204

Two problems with this code:

1) pullError should be logged when it's non-nil
2) the hasRegistry() call ultimately fails because it's passing a `docker://blahblah` value to `Parse()` which doesn't expect the protocol prefix and throws an error.  (an error which is *also* not logged in a useful manner since it just reports `error

[2018-10-02 20:26] bparees opened #1058 "buildah chokes on dockerfile syntax"
[code]

Looks like it does not like `RUN chown -R 1001:0 /tmp/src`

[2018-10-02 20:31] bparees opened #1059 "insecure pull succeeds, secure pull complains about missing credentials"
When i list my registry as insecure, the pull succeeds:

[code]

When I do not list it as insecure (but do provide a proper CA cert for it), the pull fails with an authentication error:

[code]

@nalind

[2018-10-03 00:06] TomSweeneyRedHat commented on #1058
Thanks @bparees .  Do you have the Dockerfile handy that you could drop into a reply?  FYI @giuseppe

[2018-10-03 03:02] bparees opened #1061 "unshare error during build"
see error at the end of this log.

[code]

[2018-10-03 03:04] bparees commented on #1058
I put another log in https://github.com/containers/buildah/issues/1061

i think they are the same issue, in both causes the error is really the unshare failure, i guess.

[2018-10-03 03:09] bparees opened #1062 "push fails on attempt to read non-existent and unnecessary certs file"
`docker-registry.default.svc:5000` is marked as insecure (as you can see from the logs), yet the push fails when buildah attempts to read the non-existent cert file `/etc/docker/certs.d/docker-registry.default.svc:5000/node-client-ca.crt`

unclear what would lead it to expect such a file.

[code]

[2018-10-03 03:16] bparees commented on #1058
here's a failure that does not involve chown, but otherwise looks identical:

[code]

[2018-10-03 07:31] pkubatrh opened #1063 "buildah bud: cache does not take changes in symlink targets into consideration"
**Description**
When adding files through symlinks in Dockerfile and using the `--layers` option it seems that changes made to the targets of symlinks used do not cause a miss in the layer cache.

**Steps to reproduce the issue:**
1.
cat << EOF >Dockerfile
FROM fedora:28
COPY hello_world.sh /tmp/
CMD bash /tmp/hello_world.sh
EOF
2. echo 'echo "Hello World!"' > hello.sh
3. ln -s hello.sh hello_worl

[2018-10-03 12:38] TomSweeneyRedHat commented on #1058
Yes I can grab it from the log, but I was hoping to not have to edit from the log to recreated it and also to get a hold of any other commands that were below the failure in case there were other problems later on.

[2018-10-03 12:42] bparees commented on #1058
@TomSweeneyRedHat if i can get a clean local recreate i'll provide the dockerfile, right now these failures are coming out of our CI system so it's a little messy to ensure i'm giving you exactly what it ran.

[2018-10-03 12:44] TomSweeneyRedHat commented on #1058
Thx for the 411 @bparees, I was thinking you had the file easily on hand, didn't realize it was buried away in the CI system.  If you can get it great, if not no sweat.

[2018-10-03 15:57] mskarbek opened #1064 "Failed to cleanup intermediate containers"
**Description**
Podman fails to clean up after image build and exits with errors which (obviously) causes problems in Jenkins build pipeline. The same behavior can be observed when building as a root and in rootless mode.

**Steps to reproduce the issue:**
1. Dockerfile: https://gist.github.com/mskarbek/206338d40f6770bb228fe399fe156981#file-dockerfile
2. `podman build -t base .`

**Describe the re

[2018-10-03 16:05] TomSweeneyRedHat commented on #1064
@mskarbek Thanks for reporting the issue and for moving it from Podman.  We'll take a look at it.

[2018-10-03 16:53] olivierGATSNCF commented on #1026
in fact, the containers are instantiated through the use of kubernetes and openshift.
The following configuration of the container, combined with the --isolation chroot bud option did not complete the build of a multi-stage image.

[code]

the following error occurs :
STEP 14: RUN ansible all -i localhost, -c local -m maven_artifact -a "repository_url=https://$NEXUS/repository/$REPO_NAME/ group_id

[2018-10-03 21:40] bparees commented on #1059
i resolved this on our side, the code looking up what credentials to use assumed the registry would be listed.

[2018-10-03 21:40] #1059 closed

[2018-10-03 21:52] bparees opened #1065 "missing/unreadable CA files should not be fatal"
I created a broken symlnk to a cert.  The cert itself should not be needed to do the build, but buildah fails anyway.  And fails with a confusing "invalid reference format" message:

[code]

It should simply warn that the file was unused and move on.

[2018-10-04 14:48] lollipopman opened #1068 "Provide a better error message when user namespaces are not available"
**Description**

When user namespaces are not available buildah outputs the following error:
[code]
It would be great if the error message providing a better indication to the user about the nature of the error, and how it might be fixed, e.g.:
[code]

**Steps to reproduce the issue:**
1. Ensure unprivileged user namespaces are disabled:
[code]
2. run buildah from
[code]

**Output of `rpm -q build

[2018-10-04 15:40] rhatdan commented on #1068
Giuseppe is there a way for us to determine if we are going to be in a UserNS and then look to see if this field exists.  If it does and it is not set report an error?

[2018-10-04 15:41] rhatdan commented on #1068
[code]

[2018-10-04 16:20] rhatdan commented on #1058
This looks like the unshare command is blocked.  Are we running in a container without SYS_ADMIN? If yes then it needs to be run with --isolation choot, I believe.

[2018-10-04 17:06] bparees commented on #1058
it's a privileged pod.  should that be sufficient?

@nalind how can i add isolation chroot to the buildah invocation to test this?

[2018-10-04 17:15] TomSweeneyRedHat commented on #1058
@bparees  add `--isolation chroot` or `export BUILDAH_ISOLATION=chroot` should do it for you.

[2018-10-04 17:16] bparees commented on #1058
discussed with @nalind on irc, we're already running isolation chroot

[2018-10-04 17:16] nalind commented on #1058
At the API level, setting `Isolation` to `IsolationChroot` in the applicable `BuilderOptions` or `BuildOptions` or `RunOptions` should also do that.

[2018-10-04 19:36] rhatdan commented on #1064
@umohnani8 PTAL. I don't know if anyone has tried this with the zfs driver.

[2018-10-04 19:47] mskarbek commented on #1064
@rhatdan it's not a ZFS issue, it appears also in a rootless mode when buildah isn't working with ZFS storage backend

[2018-10-04 20:44] mskarbek commented on #1064
To confirm I just run a build on freshly installed Fedora 28 with default podman config from RPM on XFS/OverlayFS storage backend. Same result.
[code]
Fails on both podman `0.9.1` and `0.9.3.1` form `updates-testing` repo.

[2018-10-04 21:30] mskarbek commented on #1064
Another test with podman 0.9.4 from Rawhide - same result.

[code]

[code]

Surprisingly I did `buildah bud -t base .` with Dockerfile from the issue - works fine so it may be not a buildah fault after all.

[code]

[code]
At this point, I'll stop spamming this issue.

[2018-10-05 10:30] giuseppe commented on #1068
#1069 solves in part this issue, we will just need to add an additional check for `/proc/sys/kernel/unprivileged_userns_clone` when running as rootless

[2018-10-05 14:50] umohnani8 commented on #1064
@mskarbek could you update your buildah to 1.4 and try it out. I just tried it here with the Dockerfile you linked and it works fine for me on both buildah 1.4 and podman 0.9.4 and I am using overlay as storage driver.
Also the reason it worked for you on buildah is because buildah doesn't build with layers by default but podman does. So if you check your image built from buildah you would see tha

[2018-10-05 16:21] bogdando commented on #933
I have the same error message when doing podman ps from a containers

[2018-10-05 23:10] TomSweeneyRedHat commented on #1054
Closed with #1060

[2018-10-05 23:12] TomSweeneyRedHat commented on #1065
Closing with #512.  @bparees please reopen if you find the issue was not addressed.

[2018-10-05 23:49] mskarbek commented on #1064
[code]

[code]
So in addition to the intermediate containers `version` command in `buildah` stoped working.

[2018-10-06 02:31] bparees commented on #1065
@TomSweeneyRedHat thanks.

[2018-10-07 08:57] afbjorklund commented on #866
I have added support for both podman and buildah to the "minikube" distribution of Kubernetes :

https://github.com/kubernetes/minikube/pull/3225

[code]

So far there is no _real_ replacement for `minikube docker-env`, except for using `minikube ssh` :

https://kubernetes.io/docs/setup/minikube/#reusing-the-docker-daemon

We do compile with varlink, so I guess that could be an alternative to "min

[2018-10-07 23:16] ipbabble commented on #866
Hi Anders,

I will update that version of Buildah. I think it’s old and I should
probably maintain it more often.

Having said that I would like to see a repo on Quay that has Podman and
buildah images kept up to date as part of the CI/CD process.

Maybe we can add some sort of cri -o test as part of the CI process.

William

On Sun, Oct 7, 2018 at 2:58 AM Anders Björklund <notifications@github.co

[2018-10-08 10:41] rhatdan commented on #1063
@pkubatrh Have you verified that this works in Docker?  Right now we are probably stating the file (symlink) rather then following the symlink.

We would need this change in buildah first.

[2018-10-08 10:43] rhatdan commented on #1063
@umohnani8 could you take a quick look at this in buildah?

[2018-10-08 10:58] pkubatrh commented on #1063
Yes it works with Docker:

[code]

[2018-10-08 11:35] rhatdan commented on #1042
Environment variables not setup correctly?
printenv in both cases and see what is different?  Do we rely on XDG_RUNTIME?  Does that get set via LOGIN?

[2018-10-08 18:00] fatherlinux commented on #1042
@rhatdan that nailed it. When XDG_RUNTIME is set to 1000, the UID for my account, it seems to work. When it is set to 0 (su fatherlinux) or not set at all (su - fatherlinu), the error occurs.

[2018-10-09 12:52] rhatdan commented on #1042
I would say that is the bug and we should at least fix the (su - fatherlinux) case and set the XDG_RUNTIME value to UID when it is not set.

@giuseppe Didn't you add a patch to do something like this?

[2018-10-09 13:18] giuseppe commented on #1042
@rhatdan yes we have a patch in podman to always set the XDG_RUNTIME, we should probably do the same with Buildah

[2018-10-09 13:59] giuseppe commented on #1042
@rhatdan PR opened here: https://github.com/containers/buildah/pull/1077

[2018-10-09 14:09] nalind commented on #1061
Closed by way of #1069.

[2018-10-09 14:09] #1061 closed

[2018-10-09 17:36] nalind commented on #849
@TomSweeneyRedHat yes, I think those should be getting reported correctly now.

[2018-10-09 21:08] bparees opened #1079 "TLS timeout leads to nil pointer error during image pull"
[code]

This should be either retried or reported as a failure, not cause a nil pointer failure.

[2018-10-09 21:17] bparees opened #1080 "buildah does not warn when a build arg not used"
docker warns you if you provide a build-arg that is not used by the Dockerfile:

[code]

Buildah does not seem to output an equivalent warning.

[2018-10-09 22:19] bparees opened #1081 "can't inspect cgroup limits within a build"
One of our tests attempts to set memory/cpu limits on the docker build being performed and attempts to confirm the values by running a script as one of the RUN commands, where the script itself inspects the cgroup limits:

https://github.com/openshift/origin/blob/master/test/extended/testdata/builds/build-quota/.s2i/bin/assemble

This is failing under buildah due to permissions issues:

[code]

[2018-10-10 12:47] rhatdan commented on #849
@pixdrift Can we close this issue now?

[2018-10-10 13:28] rhatdan commented on #1081
SELinux is preventing it.  I believe.

[2018-10-10 13:32] rhatdan commented on #1081
Nope it looks like podman and buildah can?
[code]
[code]

[2018-10-10 13:32] rhatdan commented on #1081
Can you give me a Dockerfile where you see the failures?

[2018-10-10 13:35] vrothberg commented on #1080
I had a quick look at this. Moby is doing that be tracking the args in each stage: https://github.com/moby/moby/blob/master/builder/dockerfile/builder.go#L357

But I have no idea how tricky that's to extend in Buildah.

[2018-10-10 13:36] bparees commented on #1081
it's this dockerfile:
https://github.com/openshift/origin/blob/master/test/extended/testdata/builds/build-quota/Dockerfile

so you should be able to clone the origin repo and attempt to build that whole build-quota directory.  That is what the test does.  Of course I would not be surprised if this behaves differently when you are simply running buildah directly, vs when we are running it inside a

[2018-10-10 13:38] TomSweeneyRedHat commented on #1080
@rhatdan ack, might be a fun dance between Buildah and imagebuilder

[2018-10-10 13:40] bparees commented on #1080
Of the various issues i've opened, this is definitely not the most critical one, but for now i'm flagging anything where our tests expect behavior that docker did and buildah does not.  So feel free to close as "won't fix" or just back-burner this.

[2018-10-10 15:44] olivierGATSNCF commented on #974
@rhatdan: Who is this question addressed to?

[2018-10-10 17:16] rhatdan commented on #974
@olivierGATSNCF I guess you. Comments above indicate that some/all of these issues have been addressed.

[2018-10-10 17:54] rhatdan commented on #1080
We should fix if this is low hanging fruit.

[2018-10-10 18:02] rhatdan commented on #1081
Only two reasons I can think of for permission denied, would be if SELinux is blocking.

ON Fedora where I am testing I see these rules
[code]
Which means by default we allow container_t to read cgroup_t, even with container_manage_cgroup boolean turned off.

The other reason would be if their is a non priv user running when the process tries to read the content.
But it looks like I can read these

[2018-10-10 20:05] #1065 closed

[2018-10-11 13:42] giuseppe commented on #1068
PR opened here: https://github.com/containers/buildah/pull/1085

[2018-10-11 15:01] TomSweeneyRedHat opened #1086 "Sort CLI flags"
@QiWang19 create this PR: https://github.com/containers/libpod/pull/1619 in Podman.  We need to do a similar thing here in Buildah.

[2018-10-11 15:37] TomSweeneyRedHat commented on #1086
@rhatdan when you get a chance, can you tweak whatever bits for @QiWang19 here in Buildah that you did in Podman please?  We can't get Git to let us assign the issue to herself.  I've self assigned just to hold it for the moment.

[2018-10-11 20:45] nalind commented on #1081
When using chroot isolation, we currently mask off `/sys/fs/cgroup` and `/sys/fs/selinux`, so this isn't information that a RUN instruction would be able to read.  I'm not sure how I'd feel about changing that.

[2018-10-11 22:13] jorgemoralespou commented on #156
No

[2018-10-12 10:37] rhatdan commented on #1081
@nalind that would not give them permission denied, though.

[2018-10-12 15:23] thomasmckay opened #1092 "FATA[0000] Error writing blob: open /var/lib/containers/storage/overlay/0f49addb6e505b120dc9caa86a06503ec3664a1adb3cbbd9ba720a861d16f851/merged/dev/null: no such file or directory"
**Description**

[code]

**Steps to reproduce the issue:**
[code]

[code]

**Describe the results you received:**

**Describe the results you expected:**

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman version` if reporting a `podman build` issue:**

[code]

**Output of skopeo --version**

[code]

[2018-10-12 16:08] rhatdan commented on #1092
@mtrmac PTAL

[2018-10-12 19:37] #1068 closed

[2018-10-13 00:51] mtrmac commented on #1092
These `open /var/lib/containers/storage/overlay/…/merged/…: no such file or directory` storage corruptions keep popping up with an increasing frequency. Has anyone tracked the root cause down?

Hoping @nalind has an idea.

[2018-10-13 19:09] #849 closed

[2018-10-14 11:36] najamelan opened #1094 "Buildah bud chokes when running in a non default network namespace"
**Description**

I have setup my system so as to only allow internet access from certain ns namespaces (for security). This means that I have to run buildah in a ns that is not the default if I want it to download packages during container build. However when doing so, I get the following error:

`container_linux.go:348: starting container process caused "process_linux.go:279: applying cgroup conf

[2018-10-14 17:36] mathstuf opened #1095 "`buildah from` needs a lock on naming the new container"
**Description**

I'm building images driven by a build tool and when it is run in parallel (e.g., `-j2`), I get errors when building images due to conflicting names.

**Steps to reproduce the issue:**
1. `buildah from scratch & buildah from scratch` (may need to be run a few times)

**Describe the results you received:**

Grabbing a name for the new container is racy.

[code]

**Describe the resul

[2018-10-14 18:08] mathstuf commented on #1095
Ah, I can use `--name` to avoid it in my setup, but this might be something nice to fix anyways.

[2018-10-14 18:29] TomSweeneyRedHat commented on #1095
@mathstuf Yep, you're right if you can make use of the --name param that should ease your pain short term.  Mean while we'll take a look at this, thanks for the report.

[2018-10-15 08:46] vrothberg commented on #1095
I cannot reproduce on openSUSE (with btrfs). I put my machine under heavy load with a few parallel jobs but the naming logic (see https://github.com/containers/buildah/blob/master/new.go#L286) seems to work.

I have two suspicions (please take with a grain of salt):
- rootless specific?
- filesystem-lock specific?

@nalind @giuseppe Can you have a look?

[2018-10-15 09:06] vrothberg commented on #1095
One thing I noticed is that the lock acquisition doesn't seem to be fair as always one job seems to monopolize the locks. I made this observation with a short script running multiple times:
[code]

[2018-10-15 11:20] rhatdan commented on #1095
@mathstuf I thought we had a test to make sure we did not end up with a conflict.

@vrothberg I like the idea of making this random.  Someone even opened a PR for this.  @nalind WDYT?

[2018-10-15 13:09] mathstuf commented on #1095
@vrothberg I'm not using btrfs here, but ext4.

@TomSweeneyRedHat Yep, seems that 1.4 is much better in this respect (ended up bumping to F29 anyways for new bits in `systemd` v239 anyways).

[2018-10-15 13:28] TomSweeneyRedHat commented on #1095
@mathstuf Thanks for checking with v1.4, good info to know.

[2018-10-15 13:54] vrothberg commented on #1095
@TomSweeneyRedHat, @mathstuf, thanks! I entirely missed that it was a v1.3 issue. Happy that it's working.

@TomSweeneyRedHat, there are two things: the lock monopolization and the naming algorithm.

[2018-10-15 16:09] nalind commented on #1095
The creation slowdown is probably happening because I dropped the logic that checked if a name was already used in #1009, but store.CreateContainer() isn't rejecting our attempt to use a duplicate name until after it's done most of its work, and iterating over that step takes longer.

[2018-10-15 17:20] umohnani8 commented on #1064
@mskarbek I double checked on a fresh F28 VM and the build process works fine for me with both buildah v1.5 and podman v0.9.4 (these are the current upstream master versions).
Another person was facing the same issue and when he upgraded to the latest version, he wasn't seeing the error anymore.
Can you please double check that your buildah and podman are pointing to the right binaries and not to

[2018-10-15 18:59] mskarbek commented on #1064
@umohnani8 on a freshly installed F28 I can now confirm that this works for every reported case: XFS/OverlayFS, ZFS and in rootless mode - VFS, so finally ticket can be closed.
Now I have a new one to create this time on the `fuse-overlayfs` repo. ;)

[2018-10-15 20:52] rhatdan commented on #1095
Yes it looks like the last thing CreateContainer does is attempt to reserve the name.   But the name is based on the imageID.

Why not just use random numbers between 1 and 10000, or something like that?

[2018-10-15 21:07] bparees commented on #1081
Alternatively, if we're confident that the containers buildah is launching inside the pod's container are going to be subjected to the pod's cgroup limits, we can do away with this test.

The reason we had the test originally is because we wanted to ensure the build logic had properly looked up the pod container's cgroup limits, and successfully applied them to the containers it was launching dire

[2018-10-15 21:28] bparees commented on #1081
Ok, i'm willing to delete the test, do you want this issue left open to track why we can't read those paths though?

[2018-10-16 09:13] vrothberg commented on #1095
I've opened a PR to speed up the naming algorithm: https://github.com/containers/buildah/pull/1100

Curiously, the lock acquisition seems fairer now. I assume that the error path contributed to that symptom.

[2018-10-16 12:40] TomSweeneyRedHat opened #1101 "e2e Test failures"
The e2e tests appear to be failing due to changes from #1097.  Looking into it.  Not sure why the CI didn't catch this with #1097's commit....

[code]

[2018-10-16 13:02] gregoryboue commented on #1026
@umohnani8 do you see what is the problem on openshift platform  ?

[2018-10-16 13:19] cipherboy opened #1104 "[RFE?] `buildah bud -f <directory>` causes panic"
**Description**

When using `buildah bud` with an explicit Dockerfile (`-f`), it'd be wonderful to handle directories nicely. This is helpful in, e.g., scripting where sometimes the user's path is incorrect or they fat-fingered a variable. :)

**Steps to reproduce the issue:**

Consider the difference in the following commands:

[code]

[code]

But in the event that the file isn't specified or hap

[2018-10-16 14:28] nalind commented on #1079
This should be fixed by #1082, closing.

[2018-10-16 14:28] #1079 closed

[2018-10-16 17:04] bparees opened #1105 "nil pointer error when image can't be found"
it looks like ultimately a connection reset lead to the nil ptr error:
[code]

I would expect this to instead fail gracefully with a clear "failure to pull image" error.

full build log:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/release-openshift-origin-installer-e2e-gcp-4.0/833#featurebuilds-multi-stage-image-builds-should-succeed-conformance-suiteopenshiftconformanceparal

[2018-10-16 17:04] bparees commented on #1105
/cc @smarterclayton

[2018-10-16 18:21] umohnani8 commented on #1026
@nalind any idea what might be going wrong here? Based on the error message seems like chroot is either not being set or not working as expected.

[2018-10-16 20:37] TomasTomecek opened #1106 "`buildah version` errors out"
[code]

Same error when invoked both as root and as a normal user.

This is Fedora Rawhide.

[2018-10-16 21:06] TomSweeneyRedHat commented on #1106
Interesting, not happening for me on F29, but will take a look.

Thanks for the report @TomasTomecek

[2018-10-16 23:00] mtrmac commented on #974
@olivierGATSNCF 1.3 is known broken; can you upgrade to 1.4? (Don’t forget to untag images or reset the storage before testing this after an upgrade.)

[2018-10-16 23:46] TomSweeneyRedHat commented on #1106
@lsm5 the version.go file looks for main.buildInfo variable to get the build time of the Buildah project.  The Makefile code looks like:

[code]
This seems to be working in Fedora 28/29 and other places just fine, but not apparently in Fedora Rawhide?  Any thoughts as to why?

[2018-10-17 12:51] olivierGATSNCF commented on #974
@mtrmac  my build is OK with buildah 1.4. Thanks

[2018-10-17 15:59] olivierGATSNCF commented on #1026
with buildah 1.4 it seems to be good. Great version! I continue testing to be sure

[2018-10-17 18:11] bowlofeggs commented on #1040
I can confirm this issue with ```podman-0.10.1-1.gite4a1553.fc28.x86_64```. I build a [simple Vagrantfile](https://github.com/fedora-infra/bodhi/blob/3fdbbb4d69e31e25163ad5612257a16b7902f0fc/devel/ci/Dockerfile-f28) like this:

[code]

While that was building, I watched ```du``` on ```~/.local/path/to/containers``` (sorry, can't remember the exact path) and saw it grow hugely. The line in my Docke

[2018-10-18 06:42] coderwangke opened #1112 "buildah bud issue"
**Description**

**Steps to reproduce the issue:**
1. buildah bud -f Dockerfile -t xxxx:latest .

**Describe the results you received:**
STEP 1: FROM golang:1.10-alpine
Getting image source signatures
Copying blob sha256:4fe2ade4980c2dda4fc95858ebb981489baec8c1e4bd282ab1c3560be8ff9bde

 0 B / 2.10 MiB
 42.70 KiB / 2.10 MiB
 126.76 KiB / 2.10 MiB
 286.76 KiB / 2.10 MiB
 670.76 KiB / 2.10 MiB
 1.50

[2018-10-18 06:45] coderwangke commented on #1112
@rhatdan

[2018-10-18 09:33] giuseppe opened #1113 "rootless buildah should honor ~/.config/containers/storage.conf"
**Description**

when re-executing in a new user namespace, "vfs" is hardcoded as the storage driver.

Podman changes some of the defaults in `storage.DefaultStoreOptions` when in rootless mode:

https://github.com/containers/libpod/blob/master/cmd/podman/libpodruntime/runtime.go#L40

These settings can be overriden by the `~/.config/containers/storage.conf` file

[2018-10-18 11:42] TomSweeneyRedHat commented on #1112
Thanks for the issue report @coderwangke .  This maybe the same as #1105, but we'll take a look.

[2018-10-18 12:43] rhatdan commented on #1112
@coderwangke Why do you think the from was unsuccessful?

[2018-10-18 12:44] rhatdan commented on #1112
@coderwangke Is this repeatable, and could you do this with a --debug flag set on the bud command.

buildah --debug bud ...

[2018-10-18 14:29] umohnani8 commented on #1063
Fixed in #1075.

[2018-10-18 14:29] #1063 closed

[2018-10-18 14:30] umohnani8 commented on #1026
Closing issue since this is working in buildah 1.4. Please reopen or open another issue if this problem occurs again.

[2018-10-18 14:30] #1026 closed

[2018-10-18 18:35] robmv opened #1117 "buildah from fail when using an explicit docker: transport"
**Description**

`buildah from` fail when using an explicit `docker:` transport. This is a regression, probably caused by  the introduction of `buildah pull`, It worked before 1.4 release.

**Steps to reproduce the issue:**
1. Run `buildah from docker://centos:centos7` or `buildah from docker://docker.io/centos:centos7`

**Describe the results you received:**

Both cases fail with the error `inval

[2018-10-18 19:08] TomSweeneyRedHat commented on #1117
@robmv Interesting.  Thanks for the issue report, will take a look into it.

[2018-10-18 19:39] kris-nova commented on #420
Also was just hit by this - as a user, it would have saved me a *lot* of time if the program would have just checked how it was being executed at runtime and exited if it was being ran as a non root user with a meaningful exit code and message.

Happy to PR that if you agree.

[2018-10-18 20:03] TomSweeneyRedHat commented on #420
@rhatdan thoughts?  You can run Buildah as non-root these days we haven't gotten it well documented yet and we're working on that.  A good error message sounds good to me and I'm never against a PR.

[2018-10-18 20:16] TomSweeneyRedHat commented on #1112
@coderwangke I gave this a go with the latest from GitHub and it seemed to work for me.  I ran as root and ran it from a subdirectory rather than the top level directory.  Can you tell me if you ran it as root and from what directory?  Is my Dockerfile and commands below OK?  If you can, please upgrade and retest, it may be something that was fixed in v1.4.  Also as @rhatdan asked, a run with --de

[2018-10-19 12:16] mtrmac commented on #1105
This looks exactly the same as #1079 – are you running a post-#1082 version?

[2018-10-19 12:53] rhatdan commented on #420
@kris-nova Please submit a PR.  @giuseppe Can we make this smarter like Podman and just do the right thing if when run as non-root

[2018-10-19 17:45] mathstuf opened #1118 "Export rootfs of an image"
It'd be nice if buildah could export a rootfs to a directory, tarball, or mount to a given directory. My use case is that I'd like to use `systemd-nspawn` to run the resulting containers, but there's no way to export and/or mount an image filesystem at a well-known location (namely `/var/lib/machines/$nspawn_name`) for use with it.

I suppose one way to do it is to have some `ExecStartPre=` to `bu

[2018-10-19 17:54] mathstuf commented on #1118
Actually, I missed that only *containers* can be mounted, so `buildah mount $image` would be nice to have first.

[2018-10-19 18:03] mathstuf commented on #1118
A quick poke makes it look like it isn't exactly straightforward, but I also might be missing something.

[2018-10-19 18:31] 42wim commented on #1058
@bparees I've got a similar issue on centos 7
If you're on centos add `namespace.unpriv_enable=1 user_namespace.enable=1` to your kernel parameters.

Or run `grubby --args="namespace.unpriv_enable=1 user_namespace.enable=1" --update-kernel="$(grubby --default-kernel)"` and add  `echo "user.max_user_namespaces=15000" >> /etc/sysctl.conf`

Then also run buildah with the `--isolation chroot`

[2018-10-19 18:41] bparees commented on #1058
we seem to have gotten past this in our tests, i'm not sure what the underlying fix/issue was, but i'm going to close it.

[2018-10-19 18:41] #1058 closed

[2018-10-19 18:41] bparees commented on #1058
(https://github.com/containers/buildah/pull/1069 was probably the fix)

[2018-10-19 18:46] 42wim commented on #1040
I've got something similar using buildah as user, it's because of the `overlay` versus `vfs` storage driver. Overlay can't be used as a normal user so I guess it uses `vfs` driver by default, which copies every layer and takes a lot of space.

Afaik https://github.com/containers/fuse-overlayfs is a WIP to fix this issue

[2018-10-19 20:41] rhatdan commented on #1040
@giuseppe PTAL

[2018-10-19 20:45] TomSweeneyRedHat commented on #1101
Fixed with a number of PR's.  Main issue was a change in behaviour between go v1.10 and v1.11 in it's gofmt code checking code.  Code that passed gofmt in 1.10 failed in 1.11 and vice verse.

[2018-10-19 20:45] #1101 closed

[2018-10-19 21:18] TomSweeneyRedHat commented on #1057
@bparees the hasRegistry() function was replaced in https://github.com/containers/buildah/commit/6e0074eeedbc903acddeb7bb04093d615de055e5.  However that was still having issues with handling a fully specified image name like `docker://blahblah`.  I've hopefully addressed that with #1117.

I'll work on logging the non-nil error, I'll see if I can sneak that into #1117 too.

[2018-10-19 21:31] #1054 closed

[2018-10-19 22:15] rhatdan commented on #1118
Do you want this thing to be readonly?  If readonly we could allow the mounting of an image, but it would take some wiring into containers/storage and then be pickupable by podman/buildah.

If you want to be able to modify the image, then you really do want a container.  A buildah container that has not been modified is pretty much the equivalent of an image.

[2018-10-20 04:11] mathstuf commented on #1118
My containers are `ReadOnly=true`, so I'm fine with that restriction.

[2018-10-20 07:14] coderwangke commented on #1112
@rhatdan @TomSweeneyRedHat
I further tested and verified my guess by running with --debug. When there is a problem with from, it does not return, but when the copy is executed, the error is returned. The reason for the failure of from is due to the network speed.
# Limit network speed
sudo wondershaper eth0 5 5

# buildah --debug bud -f /root/src/buildah-test-dockerfile/Dockerfile -t test:latest /

[2018-10-20 11:31] rhatdan commented on #1118
@nalind How hard would it be to get containers/storage to mount images read/only at a specific location?  Or would we still need to mount then in the same location, and force the user to bind mount to their desired location?

[2018-10-20 11:38] rhatdan commented on #1112
Your theory is that the from command actually fails, but does not stop the Dockerfile processing, and eventually the copy command blows up?

@mtrmac @nalind PTAL

[2018-10-20 12:39] TomSweeneyRedHat commented on #1112
@coderwangke Can you upgrade to v1.4 or later?  We'd a number of error handling fixes that went into v1.4 aht might have addressed this that weren't in v1.3.

[2018-10-20 16:34] mtrmac commented on #1112
Yes, this was almost certainly fixed by the second commit of #947.

[2018-10-20 16:42] mtrmac commented on #1105
Yeah, that’s is behind. It seems the repo is vendoring the https://github.com/nalind/image/commits/ip-registry fork of containers/image; update to the current version of it.

[2018-10-20 17:57] TomSweeneyRedHat opened #1121 "buildah run registry fails on first attempt."
**Description**

When running a container image registry to create a password file, the first attempt fails, but the second attempt succeeds.  The error is /var/lib/registry can't be gotten to on the container.

**Steps to reproduce the issue:**
1. registry=$(buildah from registry:2)
2. buildah --debug run $registry -- htpasswd -Bbn testuser testpassword > /root/auth/htpasswd
3. buildah --debug ru

[2018-10-20 18:42] xinminglai commented on #936
Sorry, I don't. I'm just normal user in gentoo.
But according to what I found. The contact for the ebuild author seems to be zmedico@gentoo.org
You can try this email. Thanks!

[2018-10-20 19:31] mtrmac commented on #1105
I was unclear: it’s not necessary to leave the branch — the current version of that branch is already up-to-date; the version vendored into openshift/builder is an older version of that branch.

Stay on that branch if you need to, only update to its latest rebase.

[2018-10-20 21:15] TomSweeneyRedHat commented on #1121
I think the issue is the registry image has a volume defined, /var/lib/registry.
[code]

That's not getting created as it should be.  So the stat is failing for the srcPath at: https://github.com/containers/buildah/blob/master/run.go#L513  due to it not being created.  Then the next time through the volumePath now exists so it never gets into that stat check code to fail again and then moves on to

[2018-10-21 23:47] bparees opened #1122 "nil pointer error building from dockerfile"
[code]

[2018-10-22 06:05] coderwangke commented on #1112
thanks @TomSweeneyRedHat @rhatdan
After I upgraded to v1.4, from command returned an error.

[2018-10-22 10:28] giuseppe commented on #1040
I think this all depends on vfs being used.  Each layer contains all the files of the parent, so even a simple image based on Fedora will end up duplicating the fedora base image for each layer.

With a recent kernel (4.18) it is possible to use fuse-overlayfs, setting these lines in ` ~/.config/containers/storage.conf`:

[code]

it is honored by "podman build", it is not yet honored when using di

[2018-10-22 10:38] giuseppe commented on #420
this should not happen, I'll look into it.  @kris-nova what version of buildah are you using?

[2018-10-22 11:43] giuseppe commented on #420
this should not happen, I'll look into it.  @kris-nova what version of buildah are you using?

[2018-10-22 13:17] dustymabe commented on #1040
since a 4.18 kernel is in f2{7,8,9} can we make that the default in Fedora now ? I don't think anyone wants to use up 40G of disk for a simple build.

I'd also consider just disabling rootless builds in epel7 and requiring someone to change a setting in order to get the vfs, but lots of disk space, behavior as I think you'll get more bug reports than you want.

[2018-10-22 13:30] zvonkok commented on #1092
I have a similar issue

[code]
Tested with `podman-0.9.2` and `podman-0.10.2-dev`. Build with ` buildah-1.2` and with `podman`. Both times I get this error.

[2018-10-22 13:30] #1112 closed

[2018-10-22 13:33] rhatdan commented on #1113
@giuseppe could you open a PR to make this happen?

[2018-10-22 13:35] bparees commented on #1122
in retrospect this is probably a dupe of https://github.com/containers/buildah/issues/1105

closing it, will reopen if it recreates after bumping our deps.

[2018-10-22 13:35] #1122 closed

[2018-10-22 13:42] mathstuf commented on #1113
Hmm. Maybe `registries.conf` could also be read from the user's config directory too while we're at it? Or is that a different codepath altogether?

[2018-10-22 13:47] rhatdan commented on #1040
@giuseppe https://github.com/containers/libpod/pull/1693 to get buildah to honor storage settings.

[2018-10-22 13:47] rhatdan commented on #1113
@giuseppe https://github.com/containers/libpod/pull/1693 to get buildah to honor storage settings.

[2018-10-22 15:49] cevich commented on #1121
I'm reproducing something very similar with `podman build`.  I get the same error, even if I actually provide a volume.  After the failures, I also see some leftover mounts that don't get cleaned up.
I ran this on a FAH 28 VM with the latest updates applied:

[code]

[2018-10-22 15:51] giuseppe commented on #420
@kris-nova great presentation on TGI Kubernetes 054!  I think it might be something related to Ubuntu, as we probably never tried rootless there :-)  I'll try that

[2018-10-22 16:07] giuseppe commented on #420
I had to install an updated runc and I got it running on Ubuntu 18.10

[2018-10-22 17:11] TomSweeneyRedHat commented on #1117
@robmv #1120 should fix this issue for you.  If not, please reopen this issue or create a new one as appropriate.  Thanks again for letting us know about the problem.

[2018-10-22 17:11] #1117 closed

[2018-10-23 10:45] giuseppe commented on #1113
I've opened a PR that adds the missing pieces to buildah: https://github.com/containers/buildah/pull/1124

@mathstuf that will be supported once the PR lands, and a per-user `~/.config/containers/registries.conf` file is used.

[2018-10-24 04:04] bparees commented on #1081
@rhatdan things like the JVM now attempt to inspect cgroup limits to set heap sizes correctly.  If a JVM is launching inside a buildah container (e.g. "RUN java foobar"), will it be able to read the information it needs to set the heap size correctly?  Will it correctly pick up the pod's memory limit?

Also we do things like this in our java based s2i builders:
https://github.com/openshift-s2i/s2i

[2018-10-24 15:33] #1113 closed

[2018-10-25 02:46] zmedico commented on #936
Hi, yes I would like to add podman to gentoo. I tried a few months ago but wasn't able to get it working easily. I will try again. @rhatdan thanks for the ping!

[2018-10-25 22:13] TomSweeneyRedHat commented on #1121
Closed via #1126  @cevich hopefully this fixes your issue too.

[2018-10-25 22:13] #1121 closed

[2018-10-26 18:33] cevich commented on #1121
I'm sure it does @TomSweeneyRedHat thanks!

[2018-10-26 20:41] dustymabe commented on #1040
I'm hitting an issue with your suggestion:

[code]

[2018-10-28 12:35] rhatdan commented on #1040
I think this is a bug, you might need to while out your vfs storage.  I am not sure why containers/storage complains about this, I think it should just support both kinds of storage at the same time.

I think it is just noticing that you have vfs storage and don't have any overlay, so it is complaining.

[2018-10-28 16:44] bparees opened #1133 "image push resumed at wrong offset"
I'm seeing sporadic push failures... from the buildah side, the error is:

[code]

from the registry side, the error is:

[code]

You can see the full log (both the build output and registry log) here: https://storage.googleapis.com/origin-ci-test/pr-logs/pull/21372/pull-ci-openshift-origin-master-e2e-gcp-builds/5/build-log.txt

/cc @dmage @legionus as it would be useful for you to take a look at

[2018-10-28 17:15] dmage commented on #1133
@bparees though, it looks like a storage problem on the registry side. The client has successfully uploaded 175155 bytes (using `PATCH /v2/e2e-test-build-image-source-r8gd7/inputimage/blobs/uploads/c38c3834-65d9-4378-9b85-d0c6d841abb3`). But the subsequent PUT request doesn't know anything about these bytes.

[2018-10-28 19:03] mildred opened #1134 "Multistaged Dockerfile build fails because of incorrect cache data"
**Description**

When running `podman build` to build Dockerfiles with multistaged builds, the previous stages cache becomes invalid when later stages are modified before the `COPY --from` line. Then and `COPY --from` stops working because it cannot find the data. If the stage the `COPY --from` is copying from is updated as to invalidate cache, it works again.

**Steps to reproduce the issue:**

f

[2018-10-28 21:38] bparees commented on #1133
I couldn't tell from the log whether the registry was expecting the put to start at 175155 but the client set the offset to zero, or vice versa.

(obviously both should be expecting 175155, but it wasn't clear to me which one was using 0 instead).

[2018-10-29 12:53] dustymabe commented on #1040
should I open a separate bug for this or track it here? @giuseppe do you mind weighing in ?

[2018-10-29 14:29] Silvanoc opened #1136 "Build tag 'ostree-1' missing even when library available"
**Description**

Build tag **ostree-1** required to include `vendor/github.com/containers/storage/pkg/ostree/ostree.go` is missing.

**Steps to reproduce the issue:**
1. Prepare a build environment where the OStree library is available (e.g. `libostree-dev` in Debian, `ostree` in Arch Linux, ...).
2. Build `buildah` from source code.
3. Setup an OStree repository (value `ostree_repo`) in `/etc/con

[2018-10-29 18:18] TomSweeneyRedHat commented on #1134
@mildred Thanks for the problem report, we'll take a look.

[2018-10-30 08:30] giuseppe commented on #1040
I think it is a separate issue as it happens also with root containers.  I agree with @rhatdan we should not block to use a different storage and require the user to first wipe out the current one.

[2018-10-30 08:36] giuseppe commented on #1040
Looking at the code: probably the reason why it is done this way is that having containers configured from different storages will be difficult and confusing.  @mheon should we rather inform the user in this case to wipe out the existing storage before the configuration can be changed?

[2018-10-30 11:55] olaf-meyer opened #1138 "Build from is causing error in unprivileged container"
**Description**

I'm trying to build a container inside a non privileged container and I don't want to store any images on the host file system.  For this I created a centos container with buildah version 1.2 installed and
a centos container which builds the latest buildah version 1.5-dev. When I run these container with the capability CAP_SYS_ADMIN and execute the command "buildah from" in the co

[2018-10-30 12:38] TomSweeneyRedHat commented on #1138
@olaf-meyer Thanks for the issue report!  For v1.2 I'd have to guess that the container doesn't have the skopeo-containers package installed in it.  However even if you managed to get that in there, I think you'd end up running into other problems.  V1.4+ will be the right route for this as far as the privs go.

I'll wait for @giuseppe to chime in, he'll probably have the best answer for the v1.5

[2018-10-30 12:45] mheon commented on #1040
@giuseppe The thought here was that, if you changed something significant about c/storage that would render all your existing containers useless, you should probably just blow away the Podman DB at the same time and start from scratch. Is it reasonable to ask people to do that here, or can we salvage containers/images if it's just the storage driver that changes?

[2018-10-30 14:15] rhatdan commented on #1040
The question is do we want to support two different drivers at the same time.  Could I want to run some containers on Overlay, but others on devicemapper or vfs?

In the future, once we have support for Devicemapper, I might want to run a KATA container with devicemapper while another is running with Overlay.

[2018-10-30 15:19] giuseppe commented on #1138
could you try with disabling seccomp `--security-opt seccomp=unconfined`?  I think unshare is blocked by seccomp.

[2018-10-30 16:17] olaf-meyer commented on #1138
@giuseppe I change the docker run command to:
[code]
Unfortunately I still get the same error message as before for both buildah versions.

[2018-10-30 19:19] vbatts opened #1139 "cni EPERM as non-root on centos7"
**Description**

**Steps to reproduce the issue:**
1. yum install buildah
2. https://copr.fedorainfracloud.org/coprs/vbatts/shadow-utils-newxidmap/
3. `buildah bud .` or `f=$(buildah from fedora); buildah run $f echo farts` as a non-root user on centos7

**Describe the results you received:**
[code]

**Describe the results you expected:**
basic build

**Output of `rpm -q buildah` or `apt list buil

[2018-10-30 20:12] 42wim opened #1140 "Slow speed pushing to private registry, even slower inside (privileged) container"
**Description**

`buildah push` to a private registry is upto 2x slower then `docker push`
`buildah push` inside a privileged docker container (using overlay) to a private registry is upto 4x slower then `docker push`

**Steps to reproduce the issue:**
1. Create a big image using docker or buildah, push to private registry
2. Remove image locally from docker/buildah
3. Time Docker pull image from

[2018-10-30 20:16] TomSweeneyRedHat commented on #1140
@42wim TYVM for the issue report.  We'll take a look at it.

[2018-10-30 21:00] rhatdan commented on #1138
Is SELinux blocking it.

ausearch -m avc -ts recent | grep container

You could try with SELinux separation disabled.

[2018-10-30 21:49] rhatdan commented on #1140
@mtrmac Is looking into fixes for this in containers/image.

[2018-10-30 21:58] TomSweeneyRedHat commented on #1134
@mildred we've made some changes recently in Buildah in how it handles FROM in Dockerfiles and master is now at:

[code]

The latest seems to work for me.  Can you verify that I tested in the right way and/or upgrade Buildah to the lastet and retry?  Test output follows.

[code]

[2018-10-30 22:38] 42wim commented on #1140
I've did some more tests and what I thought were identical servers are behaving differently.
At some servers I get almost the same speed as with docker. (inside/outside the container)
(all those servers are actually vmware machines which should be identical)

I'll have to check with our datacenter people tomorrow to see where the difference lies.

So this looks like an issue on my side, sorry for

[2018-10-30 23:29] mathstuf opened #1142 "Cannot modify `resolv.conf` inside of the container"
I'd like to be able to modify the `/etc/resolv.conf` file inside of the container (namely, to be a symlink to `/run/systemd/resolve/resolv.conf`), but `buildah run` bind mounts over this path and it cannot be modified this way. Something like `--net none` should prevent bind-mounting over `/etc/hosts` and `/etc/resolv.conf`

[2018-10-31 07:40] afbjorklund commented on #866
The "boot2containers.iso" idea is now alive and well, in the [boot2podman](https://github.com/boot2podman/boot2podman) project.
It turned to be 80M (rather than 40M), but ISO also includes varlink and buildah...

[code]

This is a virtual machine, and not a container image. But it _should_ work on any host ?
Another option is to use pypodman on the host, talking to podman over ssh root@box.

[2018-10-31 08:07] giuseppe commented on #1138
thanks for the additional information.  To get it working here with the command you've provided, I needed to specify `--isolation chroot`.  You can get the same effect with the env variable: `BUILDAH_ISOLATION=chroot`

[2018-10-31 08:42] giuseppe commented on #1139
I think it is just a too old buildah.  I've followed the guide from https://copr.fedorainfracloud.org/coprs/vbatts/shadow-utils-newxidmap/ to configure a rootless user and I see buildah-1.2-2.gitbe87762.el7.x86_64 on Centos 7 failing when used in rootless mode.  Upstream version works fine.
Since anyway rootless buildah is not supported on RHEL 7 (due to the lack of newuidmap/newgidmap), should we

[2018-10-31 09:37] AkihiroSuda commented on #1139
If you want to protect abstract sockets on the host from malicious Dockerfiles, I suggest using non-host network namespace with slirp4netns.

[2018-10-31 09:39] olaf-meyer commented on #1138
@giuseppe Thanks a lot. With the new parameter it doesn't work on my local Laptop (which it running a Mint Linux and Docker 17.03). More importantly it works on a RHEL 7.5  server where I want to run the final solution.

Anyhow, thanks a lot a again, you all helped me a great deal.

[2018-10-31 10:07] coderwangke opened #1144 "the issue about from"
**Description**
a container from 'from' that does not have dir /tmp.

**Steps to reproduce the issue:**
1. new=$(buildah from docker.io/library/golang:1.10-alpine)
2. buildah run $new -- ls -al /tmp
3. buildah run $new -- mkdir /tmp
4. buildah run $new -- ls -al /tmp

**Describe the results you received:**
when i exec the step two that buildah run $new -- ls -al /tmp, i get that 'ls: /tmp: No such

[2018-10-31 10:09] coderwangke commented on #1144
@rhatdan

[2018-10-31 11:58] coderwangke commented on #1144
@rhatdan i have solve it, sorry to bother you. thanks

[2018-10-31 11:59] #1144 closed

[2018-10-31 12:19] rhatdan commented on #1139
Well SELinux should protect you also from those, but I agree we need to get slirp4netns into RHEL and Centos.

[2018-10-31 12:20] rhatdan commented on #1138
@TomSweeneyRedHat Has anyone written a blog on running buildah in a container.  Seems  a lot of people are falling over this.

[2018-10-31 12:21] rhatdan commented on #1138
Might even be good to put into docs/tutorial.

[2018-10-31 13:38] TomSweeneyRedHat commented on #1138
No blog yet, but a good subject matter.  Will get it on the list.

[2018-10-31 14:07] vbatts commented on #1139
[code]

[2018-10-31 14:08] 42wim commented on #1140
Got confirmation, the issue was overloaded ESX machines, sorry again for the noise.

[2018-10-31 14:08] #1140 closed

[2018-10-31 14:08] vbatts commented on #1139
I surely hope we're not abandoning centos7/RHEL7 for this yet. It's a current demand.

[2018-10-31 14:11] TomSweeneyRedHat commented on #1140
Glad to hear you located the issue @42wim and TYVM for the follow up.  As @rhatdan noted, @mtrmac is looking into performance improvements, so we're hopeful the build process will get even faster in the future.

[2018-11-01 02:24] kunalkushwaha opened #1150 "Duplicate layers in Image inspect information build using podman build"
**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: **kind bug**

**Description**
I found this issue with this [particular](https://github.com/couchbase/docker/tree/master/enterprise/couchbase-server/4.0.0) image build using `podman build`. It shows same layer multiple times when `podman inspect` is done on image.

It is easily reproducible. I verified with `docker build` and there is no issue wi

[2018-11-01 10:32] TomSweeneyRedHat opened #1151 "Duplicate layers in Image inspect information build using podman build #1744"
Pulled from https://github.com/containers/libpod/issues/1744

**Is this a BUG REPORT or FEATURE REQUEST?**:

[//]: **kind bug**

**Description**
I found this issue with this [particular](https://github.com/couchbase/docker/tree/master/enterprise/couchbase-server/4.0.0) image build using `podman build`. It shows same layer multiple times when `podman inspect` is done on image.

It is easily reprodu

[2018-11-01 10:33] TomSweeneyRedHat commented on #1151
@kunalkushwaha moved here, FYI

[2018-11-01 10:33] TomSweeneyRedHat commented on #1151
Dockerfile used:

[code]

[2018-11-01 10:36] TomSweeneyRedHat commented on #1150
Ooops, sorry @kunalkushwaha didn't see this until I'd made #1151, need my tea!  I'm going to close this one and we'll carry on in #1151

[2018-11-01 10:36] #1150 closed

[2018-11-01 14:26] hongkailiu opened #1152 "multi-stage is broken on 1.4?"
**Description**
multi-stage is broken on 1.4 (fedora 28).

It works fine when using this version on RHEL 7:
[code]

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

**Describe the results you expected:**

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman version` if reporting a `podman build

[2018-11-01 15:14] TomSweeneyRedHat commented on #1152
@hongkailiu Thanks for the issue report.  I thought this would be working on v1.4 as we implemented a few changes to better handle multi-stage builds.   I'll give it a look in a little bit.

[2018-11-01 16:38] hongkailiu commented on #1152
@TomSweeneyRedHat Thanks.
I also tried to build the master branch ... and hit the same error with the built binary.
Then tried with the commit for building 1.2 ... `make` did not work for that commit since the repo was with a different name at that time. So I gave up.

[2018-11-01 20:40] TomSweeneyRedHat commented on #1152
Ok @hongkailiu , now I'm puzzled, I tried running this on Fedora 28 with Buildah from upstream master and it worked for me.  However I'm not seeing a "RUN go version" at STEP 2 in my output below.  Can you verify that I've the right command?

Also do you have a new vm that you could try this on and see if you get the same error again?

Thanks!

[code]

[2018-11-01 21:30] TomSweeneyRedHat commented on #1151
@kunalkushwaha just as a point of reference, do the containers built from this image work OK?  As noted in the Podman issue, this appears to be an issue somewhere in Buildah, digging further.

[2018-11-02 00:16] kunalkushwaha commented on #1151
Yes, the image works perfectly fine so far.

[2018-11-02 12:50] Zlopez opened #1154 "buildah-from creates a working container that is not removed after buildah commit"
**Description**
When running `buildah from fedora` it creates a working container `fedora-working-container` that is not removed when running `buildah commit`. New container is added with each run.

Here is the shortest script that will reproduce the issue:
[code]

**Steps to reproduce the issue:**
1. Run the script above

**Describe the results you received:**
Output of `buildah containers`:
[cod

[2018-11-02 13:06] hongkailiu commented on #1152
@TomSweeneyRedHat Sorry for the confusion.
I copied the error msg from my debugging which replaced the orignal step (`go get ...`) by a dummy `go version`.
I will try again with a new fedora VM today.

[2018-11-02 13:11] TomSweeneyRedHat commented on #1152
@hongkailiu thanks!  Also as a point to remember, if you change versions of Buildah on a test system, you should delete /var/lib/containers/storage otherwise things can go really sideways when you go from v1.2 to v1.4 on the same test system.

[2018-11-02 13:20] hongkailiu commented on #1152
@TomSweeneyRedHat
The same result as yesterday.

[code]

Not sure if this is relevant ... the way i got fedora 28:

[code]

[2018-11-02 13:32] hongkailiu commented on #1152
Minimal set of commands to reproduce (after creating the instance with aws cli above):

[code]

@TomSweeneyRedHat
Have you checked if the version that you tested with is the same as mine?
Thanks.

[2018-11-02 13:40] TomSweeneyRedHat commented on #1152
@hongkailiu thanks for the follow up.  I was using top of tree from upstream master, so the latest development bits.  Not sure if you can try those or not.  I'll see if I can track down the version you're using and try it too.

If you've the time a ability to try the test on a VM that's not in AWS, i.e. virt-manager, vmware, etc, it would be good to know if it works for you in that scenario.  The

[2018-11-02 13:56] TomSweeneyRedHat commented on #1104
Closing with #1132

[2018-11-02 13:56] #1104 closed

[2018-11-02 14:05] TomSweeneyRedHat commented on #1154
@Zlopez thanks for the problem report.
`buildah commit` was not designed to remove the container after it is completed.  We purposely leave it behind in case the user wants to continue using it.  I double checked with Docker and it too does the same thing, it leaves the container behind (example below).

As far as `buildah version` goes, we support both `buildah --version` and `buildah version`.

[2018-11-02 14:10] Zlopez commented on #1154
@TomSweeneyRedHat
Thanks, if this is working as intended than I just add `buildah rm $ctr` at end and everything should work.

About the `buildah version`, this is my output:
[code]

`podman version` seems to work:
[code]

[2018-11-02 14:13] rhatdan commented on #1154
@Zlopez Try
buildah commit --rm ...

[2018-11-02 14:13] #1154 closed

[2018-11-02 14:14] rhatdan commented on #1154
@Zlopez the `buildah version` issue is becasue you built it from scratch.  I think there are buildah PR's to fix this.

[2018-11-02 14:16] Zlopez commented on #1154
@rhatdan
I'm running Fedora 29 Silverblue and this is the buildah preinstalled in ostree image.

[2018-11-02 14:16] rhatdan commented on #1154
rpm -q buildah

[2018-11-02 14:17] rhatdan commented on #1154
Wow, Now I see it.

[2018-11-02 14:17] rhatdan commented on #1154
buildah --version
buildah version 1.4 (image-spec 1.0.0, runtime-spec 1.0.0)

Works

[2018-11-02 14:30] Zlopez commented on #1154
Yes, this is the output I written in report.

[2018-11-02 14:30] TomSweeneyRedHat commented on #1154
Thanks @Zlopez.

The error you noted for `buildah version` was recently fixed in upstream with #1107

[code]

[2018-11-02 14:31] Zlopez commented on #1154
@TomSweeneyRedHat
Thanks for information. It will hopefully be fixed in the next Silverblue update.

[2018-11-02 14:42] rhatdan commented on #1154
We should be cutting a new version of buildah 1.5 as soon as we get the NOARGS patch in.

[2018-11-02 16:07] hongkailiu commented on #1152
Thanks, @TomSweeneyRedHat
For sometime I have not played with fedora as local VM. I will do it when I get the chance.

Not sure if this is related (in the above dnf command):
[code]

[2018-11-02 18:39] TomSweeneyRedHat commented on #1151
And just for comparison from Docker-CD 18.06.1-ce

[code]

[2018-11-05 15:15] giuseppe commented on #1139
@rhatdan @vbatts PR here: https://github.com/containers/buildah/pull/1156

[2018-11-05 16:08] olaf-meyer commented on #1138
Hello,

during the weekend I had some time to play around with running buildah in a container and I can confirm that I'm able to download the base image from i.e. docker.io. If I run the command "buildah --debug bud --isolation chroot .>buildah.log" I get an error showing that the rootfs can't be mounted in the tmp directory. Has somebody seen the error ```error running subprocess: error bind moun

[2018-11-05 18:34] 42wim commented on #1138
@rhatdan, @TomSweeneyRedHat  I've written a blog about that btw ;) https://blog.42.be/2018/10/buildah-inside-centos-container.html

[2018-11-05 18:40] TomSweeneyRedHat commented on #1138
Nice blog @42wim, thanks for sharing!

[2018-11-05 19:43] hongkailiu commented on #1152
@TomSweeneyRedHat
It hit with the same issue, using the local fedora 28 vm.
Tested with [this iso](https://muug.ca/mirror/fedora/linux/releases/28/Server/x86_64/iso/Fedora-Server-dvd-x86_64-28-1.1.iso)

[code]

[code]

[2018-11-05 21:29] TomSweeneyRedHat commented on #1152
@hongkailiu thanks for the verification and the pointers.

[2018-11-06 03:37] dustymabe opened #1157 "better error message for conflicting storage driver settings"
**Description**

If I tell rootless podman to use overlay rather than vfs but I had already run podman before I changed the configuration then I get an error message that is confusing:

[code]

We could change the error message to be more helpful like:

[code]

Also related is whether or not we should support multiple drivers at one time (discussion started [here](https://github.com/containers/bui

[2018-11-06 03:58] dustymabe opened #1158 "rootless podman build on overlay backing store gives selinux denials"
### Version info:

Fedora 29 Atomic Host

<details>

[code]

</details>

### Description

I'm experimenting with using overlay as the backend since the vfs backend uses a [lot of disk space](https://github.com/containers/buildah/issues/1040). Once I finally got it configured right I'm seeing selinux denials on Fedora 29.

<details>

[code]
</details>

If I `setenforce 0` then my build continues. I

[2018-11-06 11:54] rhatdan commented on #1157
I would prefer to support multiple storages, but this is a better solution then what we have now.
@TomSweeneyRedHat Could you fix this.

[2018-11-06 12:10] rhatdan commented on #1158
We need to make the change in the spec file, to turn the boolean on, on initial update. then not change it again.

@lsm5 Could you look into this?

Basically once we make fuse-overlayfs the default we need to turn on the
virt_sandbox_use_fusefs boolean.

We only want to do this once on initial install and on the first upgrade when we make the change.  We don't want to change this afterwards, since

[2018-11-06 15:21] TomSweeneyRedHat commented on #1152
@hongkailiu thanks for the verification and the pointers.

[2018-11-06 15:31] dustymabe opened #1160 "rootless podman build: issue copying in symlinks twice"
### Version info:

Fedora 29 Atomic Host with rootless podman on overlay storage with selinux in permissive mode

<details>

[code]

</details>

### Description:

I have a Dockerfile where I want to copy in  a few of the tiles in the current working directory, perform some operations, and then copy in the rest of the the contents of the current working directory. This gives me an error with rootle

[2018-11-06 15:39] giuseppe commented on #1160
I think this is addressed by: https://github.com/containers/fuse-overlayfs/pull/24

[2018-11-06 15:53] dustymabe commented on #1160
:+1:  - when that hits a fedora testing repo I can test. Let me know when that happens

[2018-11-06 15:54] giuseppe commented on #1160
I am trying to reproduce locally, it might be related to Atomic Host where `/home` is a symlink and not related to the PR I've posted earlier

[2018-11-06 20:56] giuseppe commented on #1160
@dustymabe I was able to reproduce it easily on a fresh DO droplet.  The issue is not in fuse-overlayfs but in the overlay backend trying to use mknod which is a privileged operation.  I've opened a PR for containers/storage here: https://github.com/containers/storage/pull/230

[2018-11-06 21:04] jmencak opened #1161 "Image build fails with SIGSEGV on insufficient disk space"
**Image build fails with SIGSEGV on insufficient disk space**

**Steps to reproduce the issue:**
I cannot reproduce it now after I've cleaned up the space (and filled it again), but it was on a partition 98% full.

**Describe the results you received:**

    buildah bud  -t jmencak/cluster-node-tuning-operator -f Dockerfile .
    STEP 1: FROM openshift/origin-release:golang-1.10
    STEP 2: COPY .

[2018-11-06 21:40] dustymabe commented on #1160
thanks @giuseppe! glad I could help track down an issue so others don't hit it.

[2018-11-07 14:10] adityashah1212 opened #1164 "rootless podman build: Build from scratch fails"
**Description**
I am having a problem making a rootless build using podman. The Dockerfile I am using looks like this.
[code]

**Steps to reproduce the issue:**
1. Download https://github.com/CentOS/sig-cloud-instance-images/blob/CentOS-7.5.1804/docker/centos-7-docker.tar.xz as centos.tar.xz
2. In the same directory place the above Dockerfile
3. Run ```podman build -t centos/base:7.5.1804-1 -f Doc

[2018-11-07 14:34] rhatdan commented on #1164
Are you running this as nonroot?

[2018-11-07 14:36] rhatdan commented on #1164
On RHEL/Centos systems, we currently do not support running as non-root.  These systems do not have a newuidmap and newgidmap (Part of newer versions of shadow-utils).  We are hoping to get this package updated in RHEL7.7 and hopefully earlier.

[2018-11-07 14:40] adityashah1212 commented on #1164
Yes this was without root.

Any suggestions on how should I go about this. Lets just say, I can't use root on the machine I intend to make the images on, and I can't use anything above RHEL 7.5.

[2018-11-07 14:42] rhatdan commented on #1164
Well you could build the latest shadow-utils and install it on this system, then configure the /etc/subuid and /etc/subgid files, and it would work.

[2018-11-07 15:08] adityashah1212 commented on #1164
That sounds reasonable I guess. What would be the minimum version of shadow-utils required?

[2018-11-08 11:02] #1139 closed

[2018-11-08 14:31] lsm5 commented on #1158
ack, will do

[2018-11-08 15:24] vbatts commented on #1139
It compiles fine and seems to work ok on centos7

[2018-11-08 15:24] rhatdan commented on #1139
EPEL?

[2018-11-09 00:43] TomSweeneyRedHat commented on #1152
@hongkailiu I've been chasing some other fires and finally got some time on this today.  I finally have a reproducer in my environment, will dive more deeply tomorrow.  In the mean time, can you let me know if these commands reproduce the error for you too?  If you don't have the time, no worries.  You can run these commands anywhere:

[code]

[2018-11-09 02:38] hongkailiu commented on #1152
Yes, same error:

[code]

[2018-11-09 14:18] TomSweeneyRedHat opened #1168 "Create `buildah info` command, ensure rootless status is noted within"
If possible, update `buildah info` to show if it is or is not a rootless container.  Similar to what @vrothberg did here:  https://github.com/containers/libpod/pull/1793

[2018-11-09 14:20] TomSweeneyRedHat commented on #1152
Thanks for verifying @hongkailiu .  I'm thinking the CMD or possibly the EntryPoint field for the golang image is off inside of the Buildah implementation.  Got to dig through that today.

[2018-11-09 22:30] TomSweeneyRedHat commented on #1152
@hongkailiu after digging further today, it looks like this is an selinux issue on F28.  I'm not able to replicate the issue on F29 using the same Buildah version.  On your VM that you setup to test, can you do `setenforce 0` and then retry the test?  Once complete, be sure to do `setenforce 1` to turn selinux back on.

I'm actually seeing the issue with just doing `ctr=$(buildah from alpine` and

[2018-11-09 23:00] seanbow opened #1169 "Unable to build on rootless OpenSUSE"
**Description**

I'm unable to use buildah to build a dockerfile. I am working in a fairly restricted OpenSUSE environment and so have installed buildah locally in my home directory. When running `buildah bud [...]` with literally any dockerfile the output is

[code]

which makes sense because the file `/etc/subuid` does not exist...

**Steps to reproduce the issue:**
1. Run `buildah bud [...]` wi

[2018-11-10 03:00] hongkailiu commented on #1152
@TomSweeneyRedHat
You are correct.
With selinux disabled, everything works.
My original dockerfile works too.
Probably I need to update to F29.
SeLinux also caused the same problem for this issue that I just reported earlier today.
https://github.com/containers/libpod/issues/1796
Thanks a lot.

[2018-11-10 10:01] rhatdan commented on #1169
Enable to run as non root, you have to have entries for the user in the /etc/subuid and /etc/subgid files.
man subuid
Should explain how to set this up.
@vrothberg PTAL

[2018-11-10 16:33] TomSweeneyRedHat commented on #1152
Thanks @rhatdan .  The restorecon didn't do the trick.  However I did:

[code]
and things work fine.  The version of container-selinux didn't change, but something functionally sure did.
I'm going to close this issue.  @hongkailiu thanks again for the report and follow tests/debugging that you did afterwards.  If you still continue to have similar issues, please reopen this or create a new issue a

[2018-11-10 16:33] #1152 closed

[2018-11-10 18:13] hongkailiu commented on #1152
Thanks @TomSweeneyRedHat for helping figure it out.

[2018-11-12 07:54] vrothberg commented on #1169
Thanks for taking the time to open the issue, @seanbow.

How did you install buildah? It doesn't look like you're using the official openSUSE package which is currently:
[code]

Notice that Buildah is currently only supported on openSUSE Tumbleweed (and Kubic). The devel project of the package is [devel:kubic](https://build.opensuse.org/package/show/devel:kubic/buildah), which has Leap 15 enabled

[2018-11-12 10:49] #1160 closed

[2018-11-12 13:37] dustymabe commented on #1040
So we have https://github.com/containers/libpod/pull/1726 which makes overlay the default for rootless podman. Should we do the same thing for buildah and close this ticket out?

Also it might be nice to spit out a warning message if someone does end up using vfs that vfs takes up a lot of disk space.

[2018-11-12 14:16] giuseppe commented on #1040
buildah will inherit this change once we re-vendor libpod.  I've done some tests with fuse-overlayfs and the built images "look" correctly.

Although, fuse-overlayfs is a lot of additional complexity and we need to be careful when we change the default for buildah.  Especially if these images end up pushed to a remote registry.  I'd say vfs is still going to be a safer (but more expensive) bet.

[2018-11-13 12:35] jk opened #1175 "buildah bud doesn't automatically download image from Docker Hub when referenced via COPY --from"
**Description**

I'm using the `COPY --from=dockerhub-image` directive to build my Dockerfile with `buildah bud -t myimage:tag .`. I get the error that the dockerhub-image isn't yet build, instead of downloading it from the docker hub as the `docker build` command does.

**Steps to reproduce the issue:**
1. Using a `Dockerfile` with the `COPY --from=dockerhub-image` directive
2. `buildah bud -t my

[2018-11-13 12:46] rhatdan commented on #1175
@TomSweeneyRedHat Looks like buildah copy needs a --from option also.

[2018-11-14 11:05] giuseppe commented on #1168
where should this information go?  AFAICS we don't have a `buildah info`

[2018-11-14 14:00] TomSweeneyRedHat commented on #1168
Got so use to podman info, I'd forgotten we don't have one for Buildah.  That would be the right landing spot for that.  @rhatdan @nalind any objections to creating and info command?

[2018-11-14 14:07] rhatdan commented on #1168
Nope lets add one.

[2018-11-14 16:51] olivierGATSNCF opened #1177 "buildah bud: mount file as volume not possible"
**Description**

It is not possible to mount a file as a volume in a builded image with buildah

**Steps to reproduce the issue:**
1. build myImage with buildah 1.4
In my dockerfile

[code]
2.
docker run  -v /root/test/elasticsearch.yml:/opt/elasticsearch/config/elasticsearch.yml myImage
3.

**Describe the results you received:**

docker: Error response from daemon: rpc error: code = 2 desc = "oci

[2018-11-15 13:24] ansemjo opened #1179 "multi-stage build tags old image / uses cache incorrectly"
**Description**

I am building an application consisting of frontend and backend into a single container with a multi-staged Dockerfile, where the last stage simply copies files from the first two stages. I am using rootless `podman build` to build my images. These images will later be deployed to a [flynn](https://flynn.io/) cluster.

**Steps to reproduce the issue:**
1. have a multi-stage docker

[2018-11-15 14:11] ansemjo commented on #1179
A minimal project to reproduce the issue:

## files

### Dockerfile
[code]

### makefile
[code]

## usage

Create random data ("source code"):
[code]

Build, tag `:1` and run the container:
[code]

Create more random data ("change the source code"):
[code]

Build, tag `:2` and run the container:
[code]

[code]

[2018-11-15 14:39] TomSweeneyRedHat commented on #1179
@umohnani8 any thoughts on the cacheing issues here?
@ansemjo Thanks for the very thorough issue report!  If you've time, could you try this using the latest upstream Buildah from GitHub?  I know at least the ARGS commands should work there and there's been a number of caching/storage issues solved there that might also help the other problems that's you've listed.

[2018-11-15 14:44] dharmit commented on #933
I'm also trying to use `buildah bud` from inside a container on CentOS 7.5 and OKD 3.9. I have a Jenkinsfile with follow definition for `podTemplate`:

[code]

And the build command being used it:

[code]

I face the error:

[code]

`buildah` version on CentOS is:

[code]

[2018-11-15 14:45] ansemjo commented on #1179
I'll try that later today, yes.

[2018-11-15 14:55] umohnani8 commented on #1179
@TomSweeneyRedHat looking into it.
@ansemjo does step 3 mean that you are changing the base image in the first two stages on the second run?

[2018-11-15 15:00] ansemjo commented on #1179
Not the base image but the source code that is copied into it. I.e.:
[code]

I'm copying source code from the subfolder `frontend` on the host into the container, switch my `WORKDIR` to it and build it inside the container. Those steps work fine, since `buildah` properly detects that their context changed. Specifically, I am using git submodules in my project and I am checking out new tags ("chang

[2018-11-15 16:25] ansemjo commented on #1179
I'm using a `buildah` built from git now:

[code]

Running the exact same steps as in [comment 2](https://github.com/containers/buildah/issues/1179#issuecomment-439052764):

[code]

No luck, it still tags the old image.

<details>
<summary>The same thing in Docker:</summary>

[code]

This clearly builds and properly tags a new image.

</details>

[2018-11-15 16:47] TomSweeneyRedHat commented on #1179
@ansemjo thanks for the test and update!

[2018-11-15 16:48] umohnani8 commented on #1179
@ansemjo thanks, looking into it!

[2018-11-15 16:56] ansemjo commented on #1179
You're welcome!

Adding a `--no-cache` to the build command sidesteps the issue as expected by not using any cache at all. But I think it is _at least_ unexpected behvaiour that the above multi-stage build does not tag the correct image with caching enabled.

[2018-11-16 09:09] lueschem commented on #191
The approach described above is technically feasibly and often used for building embedded images.

I also use this approach within my personal project: https://www.get-edi.io/A-new-Approach-to-Operating-System-Image-Generation/

[2018-11-16 09:12] rhatdan commented on #933
You need a much newer version of buildah and you need to run with buildah --isolation chroot, if  you want to do this locked down.

In order to use overlay you will need to give the container more privileges.

@TomSweeneyRedHat we had talked about a blog explaining different ways to run buildah within a container.  Did we ever publish this?

[2018-11-16 16:10] TomSweeneyRedHat commented on #933
@ipbabble put together a blog about the buildah image that you can use, and I know he and I've talked about running Buildah in a container, but I'm not sure it's been done yet.  Is this at all on your radar @ipbabble?

[2018-11-19 06:42] rlpowell opened #1183 "podman images way bigger than docker"
**Description**

On a Fedora 29 system in which all the images in podman are also in docker, and docker has way more images besides that, I see:

[code]

**Steps to reproduce the issue:**
I'm not sure.  The images I've built on the podman side are FROM python:2.7 , mariadib:10.2 , and kristophjunge/mediawiki:1.30

Here's the complete Dockerfile for one of them, but I have no way of figuring out wh

[2018-11-19 06:43] rlpowell commented on #1183
Oh, also:

[code]

[2018-11-19 06:53] rlpowell commented on #1183
Hmmm.  I seem to have fixed this by removing the last container on that list.

[code]

I had to use -f to remove it; I've no idea why:

[code]

[2018-11-19 06:58] rlpowell opened #1184 "Wow podman really doesn't like this image."
**Description**

I can't run "podman build" with "FROM kristophjunge/mediawiki:1.30"; it fails out immediately no matter what.

**Steps to reproduce the issue:**

Given:

[code]

run: sudo podman build .

**Describe the results you received:**

[code]

Also, *every time I run that*, the size of /var/lib/containers increases by 1.1GiB, despite the above command occurring almost instantly.

**Descri

[2018-11-19 06:59] rlpowell commented on #1184
Of possible relevance:

[code]

Removing it to clear up the bogus disk space requires -f:

[code]

[2018-11-19 07:00] rlpowell commented on #1184
This and https://github.com/containers/buildah/issues/1183 are probably duplicates of some kind; one should probably be closed.

[2018-11-19 07:00] rlpowell commented on #1183
This and https://github.com/containers/buildah/issues/1184 are probably duplicates of some kind; one should probably be closed.

[2018-11-19 07:04] rlpowell commented on #1184
Here's the Dockerfile for the original:

https://github.com/kristophjunge/docker-mediawiki/blob/1.30/Dockerfile

I imagine the VOLUME bits are the problem, but this behaviour seems excessive.

[2018-11-19 07:41] vrothberg commented on #1184
Hi @rlpowell, thanks for taking the time to open the issues.

I can reproduce. Using this image in the build breaks while it can be executed without a problem via `podman run kristophjunge/mediawiki:1.30`.

[2018-11-19 08:30] giuseppe commented on #1184
@vrothberg I can reproduce with the latest release, but upstream seems to work fine for me (tested commit: 18309de5b7f0134cb68c4d63b716b9b0315137c0).  Do you still see this issue with the last version from upstream?

[2018-11-19 08:37] vrothberg commented on #1184
I can confirm that for both, latest Buildah and latest Podman. Can we draft a buildah v1.4.1 release? (Cc @TomSweeneyRedHat @rhatdan)

[2018-11-19 13:18] TomSweeneyRedHat commented on #1184
@vrothberg it's pre-tea, are you confirming it's fixed in upstream Buildah/Podman or that the issue still exists there?

As far as a new Buildah release goes, we're very closed.  Need to chat with @rhatdan and @nalind about that today.

[2018-11-19 13:38] TomSweeneyRedHat commented on #1183
Thanks for the reports and the heads up @rlpowell .  I'm going to close this issue and we can carry on the discussion in #1184.

[2018-11-19 13:38] #1183 closed

[2018-11-19 14:56] vrothberg commented on #1184
It's fixed in upstream Buildah/Podman :)

[2018-11-19 17:01] rhatdan commented on #1184
podman-0.11.1-1.gita4adfe5.fc29.x86_64 should be available on F29?  Does this have the fix?

dnf update podman

[2018-11-19 19:28] vbatts opened #1186 "[non-root centos7] failed container init on sysctl"
**Description**

non-root builds just began failing on container init

**Steps to reproduce the issue:**
1. buildah bud .
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
successful build

**Output of `rpm -q buildah` or `apt list buildah`:**

*This is not accurate since I've clobbered the rpm with building from source*
[code]

**Output of `buildah versi

[2018-11-19 23:13] rlpowell commented on #1184
So at first I was getting this:

[code]

So I cleaned out /var/lib/containers.

And, nope:

[code]

[2018-11-20 07:00] vrothberg commented on #1184
The fixes are not included in releases yet.

[2018-11-20 16:01] umohnani8 commented on #1179
Fixed in #1182

[2018-11-20 16:01] #1179 closed

[2018-11-20 16:10] ansemjo commented on #1179
Yay! Eager to try this out tomorrow.
Thanks!

[2018-11-20 16:15] rhatdan commented on #1186
Could this be an SELinux issue?  Are you playing with fuse-overlayfs?

[2018-11-21 09:05] ansemjo commented on #1179
Is it enough to rebuild `buildah` from source or do I need to wait until it is included in a next `podman` release? Because currently I am still seeing this issue using `podman build` with `buildah` built from commit 2ac987a5.

[2018-11-21 10:11] umohnani8 commented on #1179
@ansemjo if you build buildah from source again you should have the fix there. I am currently working on vendoring this fix into podman, so you won't see it in podman yet.
The libpod PR https://github.com/containers/libpod/pull/1838

[2018-11-21 12:54] rhatdan commented on #1186
Are you running with --isolation=chroot?
On Centos, I just did a

[code]

But in chroot mode, I am not sure we are mounting in the /proc

[2018-11-21 17:36] caiodearaujo opened #1191 "r"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman version` if reporting a `podman build` issue:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[code]

[2018-11-21 18:06] rhatdan commented on #1191
I take it that this is a mistake.  Closing, reopen if you have a real issue.

[2018-11-21 18:06] #1191 closed

[2018-11-22 19:34] k4korea commented on #475
good.  best quality   .. answer     very very good

[2018-11-23 08:37] rlpowell commented on #1184
Well, I will certainly be excited to try it whenever you've got packages!  I'm *so* happy with podman overall.

[2018-11-23 15:23] Jiri-Kremser opened #1194 "Unable to use buildah on travis CI"
I would like to check if my dockerfiles are buildable with `buildah bud ..`, but it's really pain to make the buildah working on Travis CI. They use ubuntu based docker images so what I am doing is adding those custom repos and installing packages like `libostree(-dev)` to make it working, but no luck. I got message that the package is not there. So either your https://github.com/containers/builda

[2018-11-26 16:56] swilmet-uclouvain commented on #1106
I have the same problem with the buildah package installed from Fedora 29: `buildah-1.4-3.git608fa84.fc29.x86_64`

[2018-11-26 17:03] swilmet-uclouvain opened #1197 "Add shell completion of container and image names"
Add shell (bash) completion of container and image names.

When I type a command like:
[code]
I would like to be able to complete the name of containers.

The same when an image name needs to be given.

[2018-11-26 17:18] rhatdan commented on #1106
Could you try

dnf -y update buildah --enablerepo=updates-testing

And see if it works correctly in buildah 1.5?

[2018-11-26 17:19] TomSweeneyRedHat commented on #1106
This should be fixed in upstream and v1.5 of Buildah.  We just cut the v1.5 on Thursday and are working on getting RPM's together now for it.

[2018-11-26 17:19] #1106 closed

[2018-11-26 17:33] rhatdan commented on #1197
Works for me?

# buildah rm <tab><tab>
3df3377f101af284557ae528c9f38e7d69f4fb8055714a9845811d30cc82db96
8f0455b0d799602cf54445a20212cbc2de932069f6510f47f5417eecccb9bb9a

Seems to work for me.

[code]
 rpm -q buildah
buildah-1.4-3.git608fa84.fc29.x86_64

[2018-11-26 19:08] csrwng opened #1198 "Large image resulting from OpenShift multi-stage build"
**Description**

A multistage build on OpenShift 4.0 results in an image larger than that produced by Docker or buildah through the CLI

**Steps to reproduce the issue:**
1. Create a BuildConfig with an inline Dockerfile as follows (change the output to your own registry ref):
[code]
2. Wait for the build to finish
3. Check the size of the resulting image

**Describe the results you received:**

T

[2018-11-26 19:09] csrwng commented on #1198
@TomSweeneyRedHat @bparees fyi

[2018-11-26 19:34] bparees commented on #1198
/cc @mtrmac @nalind

[2018-11-26 20:38] carlwgeorge opened #1199 "images dangling filter does not work in 1.5"
**Description**

After updating to buildah 1.5, `buildah images --filter dangling=true` no longer works correctly.

**Steps to reproduce the issue:**
1. `container=$(buildah from scratch)`
2. `buildah commit $container test`
3. `buildah commit $container test` (yes, a second time)
4. `buildah images --filter dangling=true`

**Describe the results you received:**
No images are listed.

**Describe t

[2018-11-26 20:50] TomSweeneyRedHat commented on #1198
@csrwng TYVM for putting this together.

[2018-11-27 10:05] swilmet-uclouvain commented on #1106
I confirm that it works correctly with buildah 1.5, thanks!

[2018-11-27 10:21] swilmet-uclouvain commented on #1197
Ah ok yes, for `buildah rm` and `buildah rmi` it completes the IDs. What I was trying to do is to start writing the container/image *name* and then press Tab, but it doesn't complete the names, just the IDs.

A better example is with `buildah run`, when we want to provide the container name. It's easy to remember the name, not the ID, so the completion of the container name would be useful for tha

[2018-11-27 10:52] swilmet-uclouvain opened #1200 "Error deleting build container: identifier is not a layer"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

I typed Ctrl+C when a `buildah bud` command was running, because I wanted to modify again the Dockerfile. But now I'm unable to delete the container:
[code]

**Describe the results you expected:**

Be able to delete all containers and all images, in all c

[2018-11-27 10:55] swilmet-uclouvain commented on #1200
Same issue but closed because not reproducible: https://github.com/containers/buildah/issues/104

[2018-11-27 12:42] rhatdan commented on #1199
Did this work correctly prior to buildah 1.5?

[2018-11-27 13:30] carlwgeorge commented on #1199
Yes, it definitely works in buildah 1.4, specifically `buildah-1.4-3.git608fa84.fc29.x86_64`

[2018-11-27 13:53] TomSweeneyRedHat commented on #1199
@carlwgeorge thanks for the confirmation, will take a look.

[2018-11-27 14:06] TomSweeneyRedHat commented on #1199
Looks like the internal image name of a dangling image changed from "<none>" to "<none>:<none>".   Working on a fix.

[2018-11-27 14:07] TomSweeneyRedHat commented on #1199
Sometimes I love GitHub's md.
It went from:
[code]
to
[code]

[2018-11-27 15:06] rhatdan commented on #1200
Ok this indicates that buildah has a record of the container but the layer was never created.
I guess we can just ignore this error, since the container does not exist.

[2018-11-27 15:07] rhatdan commented on #1200
Does the container still list after you delete it?

[2018-11-27 15:13] TomSweeneyRedHat commented on #1200
@rhatdan I was thinking the same about ignoring this error, but would like a head nod from @nalind.
I think the container doesn't show anymore, but would like to get get a confirmation from @swilmet-uclouvain .  Also if you do `buildah rm -f 4b14f3c1468f298ba3e4c5684cc1c3fb647ac3d656292d8ba4f982686f96c615` do you still get the error?  One last test, does `buildah rm -a -f` remove it if it's existi

[2018-11-27 15:16] rhatdan commented on #1200
I think this should be fixed in containers/storage, where we need to continue to delete the container even if the layer does not exist.
https://github.com/containers/storage/pull/245

[2018-11-27 15:39] swilmet-uclouvain commented on #1200
The container is still listed after `buildah rm`:
[code]

I don't have the `buildah rm -f` option, I use `buildah-1.5-1.gite94b4f9.fc29.x86_64`, maybe it's a new option in git master?

[code]

[2018-11-27 15:56] TomSweeneyRedHat commented on #1200
@swilmet-uclouvain thanks for the follow up and sorry about the '-f' mis-direct.  We've that option for the `buildah rmi` command, but not the `buildah rm` command.  I could have sworn we'd it in both places.

[2018-11-27 16:22] rhatdan commented on #1200
--force for buildah means remove all containers associated with the image, and then remove the image.
In this case, containers/storage will block removing the container because the layer does not exist, and their is no function in containers/storage to get around this.

[2018-11-27 18:30] TomasTomecek commented on #1106
yup, works

[2018-11-27 18:41] rhatdan commented on #1194
@Jiri-Kremser If you don't have libpostree-dev installed then make should build buildah without support for ostree, which should be fine.

[2018-11-27 18:45] rhatdan commented on #1169
@seanbow Could you answer @vrothberg questions?  Do you still have this issue?

[2018-11-27 18:46] rhatdan commented on #1164
@adityashah1212 can we close this issue?

[2018-11-27 18:48] rhatdan commented on #1161
@ypu Could you setup a test for this on buildah 1.5 to see if it still happens.  I would guest just create a small partition on /var/lib/containers and then run the Dockerfile.

[2018-11-27 18:50] rhatdan commented on #1142
Works in buildah 1.5

[2018-11-27 18:50] #1142 closed

[2018-11-27 18:51] rhatdan commented on #1138
@olaf-meyer Can we close this issue now?

[2018-11-27 18:52] rhatdan commented on #1136
Looks like this is fixed in upstream.

[2018-11-27 18:52] #1136 closed

[2018-11-27 18:52] rhatdan commented on #1134
Fixed in buildah 1.5

[2018-11-27 18:52] #1134 closed

[2018-11-27 18:53] rhatdan commented on #1133
@bparees Are you still seeing this issue?

[2018-11-27 18:54] bparees commented on #1133
I don't think so.  though i'm also unaware what might have fixed it.

[2018-11-27 18:54] rhatdan commented on #1118
I think we will tell users to bind mount from the hard coded location.

[2018-11-27 18:54] #1118 closed

[2018-11-27 18:54] rhatdan commented on #1133
Well reopen if it happens again.

[2018-11-27 18:54] #1133 closed

[2018-11-27 18:55] rhatdan commented on #1094
@ypu Could you try this out with buildah 1.5 and see if it still happens.

[2018-11-27 18:56] rhatdan commented on #1095
I believe this is fixed in buildah 1.5

[2018-11-27 18:56] #1095 closed

[2018-11-27 18:59] rhatdan commented on #1092
We have not been hearing about these recently, are they still an issue with podman 1.11 and buildah 1.15

[2018-11-27 18:59] rhatdan commented on #1086
Seems like we have it.

[2018-11-27 18:59] #1086 closed

[2018-11-27 19:01] rhatdan commented on #1081
Should be able to look at cgroups now.

[2018-11-27 19:01] #1081 closed

[2018-11-27 19:02] rhatdan commented on #1080
@TomSweeneyRedHat Have you had a chance to look at this?  Could @QiWang19 take a look?

[2018-11-27 19:03] rhatdan commented on #1062
@ypu Could you check this out and make a test for it?

[2018-11-27 19:03] rhatdan commented on #1057
It looks like this is fixed.

[2018-11-27 19:03] #1057 closed

[2018-11-27 19:04] rhatdan commented on #1051
Looks like this is fixed.

[2018-11-27 19:04] #1051 closed

[2018-11-27 19:04] rhatdan commented on #1048
@mtrmac any progress?

[2018-11-27 19:06] rhatdan commented on #1047
@vrothberg Could you take a look at this, since it is in the area you have been playing with.

[2018-11-27 19:07] rhatdan commented on #1046
@TomSweeneyRedHat Do we still have this issue?

[2018-11-27 19:08] rhatdan commented on #1040
@giuseppe Is this in buildah yet?

[2018-11-27 19:09] rhatdan commented on #1034
I believe this is fixed in the latest release.

[2018-11-27 19:10] rhatdan commented on #1032
This would need to be added to the spec.  So open the issue there.

[2018-11-27 19:10] #1032 closed

[2018-11-27 19:10] rhatdan commented on #1011
@q384566678 Is this still an issue?  @giuseppe could you look at this.

[2018-11-27 19:12] rhatdan commented on #990
Nothing has happened upstream...

[2018-11-27 19:13] rhatdan commented on #942
I am going to close this issue, since we have not made any progress in months.  Reopen if someone wants to work on it.

[2018-11-27 19:13] #942 closed

[2018-11-27 19:13] mathstuf commented on #1118
That's unfortunate because that location is not stable (it depends on the container ID which is not predictable given an image name/ID). Maybe some kind of "how to" example could be added to the docs?

[2018-11-27 19:14] rhatdan commented on #950
I think this is fixed in latest buildah 1.5, or at least we are happy with the differences.

[2018-11-27 19:14] #950 closed

[2018-11-27 19:15] rhatdan commented on #987
@TomSweeneyRedHat Any update on this, I think this is just fix the docs correct?

[2018-11-27 19:15] #974 closed

[2018-11-27 19:16] rhatdan commented on #953
I take it that this is fixed in buildah 1.5

[2018-11-27 19:16] #953 closed

[2018-11-27 19:16] rhatdan commented on #952
We have agreement on differnces, and for the most part they match.

[2018-11-27 19:16] #952 closed

[2018-11-27 19:17] rhatdan commented on #936
@zmedico Any progress?  Anything we can do to help?

[2018-11-27 19:18] rhatdan commented on #926
Ok can I close this?

[2018-11-27 19:18] rhatdan commented on #913
@frezbo Any more info on this?

[2018-11-27 19:19] TomSweeneyRedHat commented on #1046
IDK, I'll retest.  I know we've made changes to the way we handle /etc/host in v1.5, hopefully this got cleansed with those changed.

[2018-11-27 19:19] vbatts commented on #926
sure. I've moved on to new issues :-)

[2018-11-27 19:19] #926 closed

[2018-11-27 19:20] rhatdan commented on #902
@vbatts Any futher thoughts on this?  Trying to clean up old issues.

[2018-11-27 19:21] rhatdan commented on #875
Well f27 is going  away so closing issue.

[2018-11-27 19:21] #902 closed

[2018-11-27 19:21] vbatts commented on #902
no idea. I think that checks for whether buildah is already inside a constrained environment would be a nicer flow.

[2018-11-27 19:21] TomSweeneyRedHat commented on #987
No update, it bubbled down my stack, will try to bubble it back up.

[2018-11-27 19:29] rhatdan commented on #599
@pixdrift Would love to see where we stand now.

[2018-11-27 19:31] rhatdan commented on #629
@vrothberg or @umohnani8 Would you like to take a look at this?

[2018-11-27 19:32] #631 closed

[2018-11-27 19:32] rhatdan commented on #633
CLosing as I believe this proved to be unsuccessful

[2018-11-27 19:32] #633 closed

[2018-11-27 19:33] rhatdan commented on #682
Make static now works, although when I play with the binary it crashes.  Not sure what to do next.

[2018-11-27 19:34] rhatdan commented on #765
@vrothberg This seems to be in an area you have been investigating.

[2018-11-27 19:35] #757 closed

[2018-11-27 19:35] rhatdan commented on #599
@TomSweeneyRedHat and @umohnani8 I think we are close to  having this done.

[2018-11-27 19:36] rhatdan commented on #673
@vrothberg can we close this issue?

[2018-11-27 19:39] rhatdan commented on #654
I think this is fixed

[code]

[2018-11-27 19:39] #654 closed

[2018-11-27 19:40] rhatdan commented on #632
@TomSweeneyRedHat Do we still have this issue?

[2018-11-27 19:42] rhatdan commented on #1157
@TomSweeneyRedHat Any progress on this?
@QiWang19 If tom does not have time, could you look at it?

[2018-11-27 19:43] rhatdan commented on #1175
Well we have a PR for this, but it is moving slowly.

[2018-11-27 19:43] TomSweeneyRedHat commented on #632
@rhatdan I think it's now doable with @umohnani8 's changes for layering, but I don't think we've the code in place in the bud command to accept the --target option yet.

[2018-11-27 19:44] rhatdan commented on #1151
Is the tree implementation supposed ot be a fix for this?

[2018-11-27 19:45] rhatdan commented on #1177
@umohnani8 if @TomSweeneyRedHat Does not have time could you look at this?

[2018-11-27 19:48] TomSweeneyRedHat commented on #1157
@rhatdan I'd taken a very quick look at this and didn't see a quick/easy fix so stacked it up.  Hopefully I can be proven wrong.  @QiWang19 if you want to grab it, feel free.

[2018-11-27 19:54] QiWang19 commented on #1157
@TomSweeneyRedHat :ok_hand:  I'll also take a look at it

[2018-11-27 23:57] estroz commented on #1194
I'm seeing a [similar issue]https://travis-ci.org/operator-framework/operator-sdk/jobs/460529459#L866 with `seccomp`, even after explicitly installing it. This issue didn't arise a few weeks ago.

[2018-11-28 00:06] estroz opened #1203 "travis CI cannot build with seccomp"
**Description** the installation script expects `seccomp` to be a Go package but cannot find it under the expected paths in travis CI, even after explicitly installing `seccomp` via `apt`.

**Steps to reproduce the issue:**
1. `git clone https://github.com/containers/buildah ${GOPATH}/src/github.com/containers/buildah`
1. `cd ${GOPATH}/src/github.com/containers/buildah`
1. `make runc all TAGS="app

[2018-11-28 00:16] estroz commented on #1203
This problem exists locally on my machine. The issue is variable expansion in the [Makefile](https://github.com/containers/buildah/commit/3a5f084652e628d69b1d033cd959da02c144de2c#diff-b67911656ef5d18c4ae36cb6741b7965R8). I'll make a PR.

[2018-11-28 00:20] TomSweeneyRedHat commented on #1203
Thanks @estroz !

[2018-11-28 01:05] TomSweeneyRedHat commented on #1046
This is actually looking much better.  It got past Step 3 where it failed before and failed in Step 6 try to copy ssh config around.  @patrickdillon Could you by chance try the test again with the latest Buildah (v1.5).

[code]

[2018-11-28 02:09] kunalkushwaha commented on #1151
@rhatdan No, this is build time information written in image metadata. Needs to be fixed  in buildah.

[2018-11-28 04:46] mtrmac commented on #1048
@rhatdan https://github.com/containers/buildah/pull/1193#issuecomment-442318275

[2018-11-28 07:41] vrothberg commented on #1169
I suggest closing this issue. A solution to the issue is described [above](https://github.com/containers/buildah/issues/1169#issuecomment-437787767). Please re-open if the issue re-occurs on Tumbleweed or if the proposed solution doesn't work.

[2018-11-28 07:41] #1169 closed

[2018-11-28 07:48] vrothberg commented on #1047
Sure, we're currently discussing a solution.

[2018-11-28 07:51] vrothberg commented on #629
I can start looking into it next week. But @umohnani8, feel free to tackle it before if you want to :)

[2018-11-28 07:59] vrothberg commented on #673
Yes, we can. Sorry, I forgot closing it. I opened an issue for golang that resulted in [this change](https://go-review.googlesource.com/c/go/+/143257/). This means that the quality of those error messages now depends on the version of go the binaries are compiled with :^)

[2018-11-28 07:59] #673 closed

[2018-11-28 08:02] vrothberg commented on #765
Sure, I will look into it next week.

[2018-11-28 09:01] giuseppe commented on #1011
this is happening because the user has no `CAP_SYS_ADMIN`.  Either `CAP_SYS_ADMIN` or the possibility to create a user namespace is required, otherwise there is no way to create a buildah container.

`unshare` is probably blocked by seccomp, could you tweak seccomp to allow it?

[2018-11-28 13:23] rhatdan commented on #1197
Fixed in master.  Fix will be in buildah-1.6.

[2018-11-28 13:23] #1197 closed

[2018-11-28 13:44] TomSweeneyRedHat commented on #1199
Fixed with #1201.  @carlwgeorge please reopen or start a new issue if you disagree.

[2018-11-28 15:07] carlwgeorge commented on #1199
To isolate the change, I backported #1201 as a patch to `buildah-1.5-1.gite94b4f9.fc29.x86_64`, and it solves the initial problem described.

I noticed something else, and it may deserve a separate bug, or it may be related to this.  Both with and without the changes from #1201, adding the `--quiet` flag causes all image ids to be listed, regardless of the filter.  With the same reproducer from th

[2018-11-28 15:09] TomSweeneyRedHat commented on #1199
@carlwgeorge thanks for the follow up.  I'm just going to reopen this bug and will looks into the --quiet mode.  I'm going to guess this one was there in v1.4 too, but IDK that for a fact.  Should be corrected regardless.

[2018-11-28 15:12] carlwgeorge commented on #1199
Nope, when I downgrade to `buildah-1.4-3.git608fa84.fc29.x86_64` the `--quiet` flag works as expected.

[code]

[2018-11-28 15:20] rhatdan commented on #1157
I have a PR to allow users to use multiple storage drivers, which would eliminate this error.

[2018-11-28 17:10] dulek opened #1206 "Default of ARG ignored on second build"
**Description**

On second build from a given layer buildah is ignoring the default value of ARG

**Steps to reproduce the issue:**
1. Create 2 Dockerfiles:
[code]

and
[code]
2. Try to build first one and the second one.
3. Notice that for second the echo statement doesn't print default value of $FOO.

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

*

[2018-11-28 17:19] TomSweeneyRedHat commented on #1206
Thanks for the issue @dulek.  This smells like a layering issue to me.  @umohnani8 do you have time take a peak?

[2018-11-28 17:22] dulek commented on #1206
Quick follow up, because (as always) I've got an idea immediately after submitting.

This only happens with `podman build`, I see that using `buildah bud` works as expected.

[2018-11-28 17:33] dulek commented on #1206
@TomSweeneyRedHat: I've installed buildah as podman's dependency, so version should be the same in both cases.

[code]

[2018-11-28 17:59] mheon commented on #1206
Hm. That seems like an outdated package - we no longer hard-depend on Buildah, and instead vendor a version of the code.

@TomSweeneyRedHat could it be something in Podman's `cmd/podman/build.go`? We don't vendor that from Buildah, so it might have become out of sync?

[2018-11-28 18:00] mheon commented on #1206
@lsm5 Can you check the PPA to see if Podman still depends on Buildah there? If so, we can drop the dependency

[2018-11-28 18:11] lsm5 commented on #1206
On Wed, Nov 28, 2018 at 10:00:40AM -0800, Matthew Heon wrote:

ack, pushed that change to my fork, new builds should be up in sometime.

--
Lokesh
IRC, GitHub: lsm5
GPG: 0xC7C3A0DD
https://keybase.io/lsm5

[2018-11-28 18:33] TomSweeneyRedHat commented on #1206
@mheon the cmd/podman/build.go doesn't do much with the Dockerfile(s) other than to grab them and pass them along to Buildah, so I can't imagine it's a problem there, but maybe?  I think I'll wait and see how things shake out with the PPA changes where I think the problem is more likely and then will dive in more deeply if that doesn't cure it.

Thanks gents for the help/thoughts here.

[2018-11-28 19:15] dulek commented on #1206
Okay, so it's possible that my podman installation is vendoring an older version of buildah, that still has this issue. At the moment I'm working this around just by using buildah directly. Just for context - I'm trying to set up OpenStack's kuryr-kubernetes CI that will build it's containers using buildah and test them against K8s configured with cri-o.

@lsm5, if you ping me once the packages ar

[2018-11-28 20:54] rhatdan commented on #1046
That seems unrelated to the original issue?

[2018-11-28 21:00] TomSweeneyRedHat commented on #1046
@rhatdan yep, the error that I ran into was completely unrelated to the original issue.  I'm 99.999999% sure it's due to my test system not being set up in the same way as @patrickdillon 's as I didn't have a configs/ssh-config in the environment to ADD.

[2018-11-28 21:09] rhatdan commented on #1046
Ok I will claim this is fixed in buildah 1.5/

[2018-11-28 22:12] rhatdan commented on #1046
So this is still the /etc/hosts issue?

[2018-11-29 00:50] TomSweeneyRedHat commented on #1046
@rhatdan I don't think it's /etc/hosts, but I'm not sure what's going on.  I'm not able to reproduce it on Fedora 29 with the latest Buildah from upstream.  I did note that when I ran build complained about HOSTNAME being supported only in Docker format, not sure where that picked up from.

Could there be a difference in F28 and F29 that's causing this for @patrickdillon and not me?

Here's my tes

[2018-11-29 00:52] TomSweeneyRedHat commented on #1046
Oh just noted, looks like you're running as non-root, is that correct @patrickdillon ?  I ran as root and it worked fine for me.

[2018-11-29 06:41] q384566678 commented on #1080
I created a PR to solve this problem. PTAL.

[2018-11-29 08:55] KenYN opened #1210 "buildah pull docker.io/nvidia/cuda:9.2-cudnn7-devel fails with "Error committing the finished image""
I cleaned up my images with:

    buildah rm -a
    buildah rmi -a

And deleted all my temporary shares left from previous half-built containers with

    rm -rf ~/.local/share/containers/storage/vfs/dir/*

Now, I try to download a previously successfully downloaded image with:

    buildah pull docker.io/nvidia/cuda:9.2-cudnn7-devel

However, the result is:

[code]

**Output of `rpm -q buildah` o

[2018-11-29 09:06] KenYN commented on #1210
Note that `docker` works:

[code]

[2018-11-29 09:33] MiyKh commented on #1011
Same problem when running a non-privileged  Buildah container on Openshift

[2018-11-29 14:56] rhatdan commented on #1210
Could you try the same command with buildah running as root?

[2018-11-29 14:58] rhatdan commented on #1210
I have a feeling that this image is attempting to create a device node which is not allowed in usernamespace.
@giuseppe WDYT?

[2018-11-29 15:01] giuseppe commented on #1210
I think this PR will fix it: https://github.com/containers/storage/pull/237

It is blocked on review though

[2018-11-29 15:01] olaf-meyer commented on #1138
@rhatdan I think so. I tried to reproduce my steps as described above in a Centos virtual machine and the changes described from the blog from @42wim. If I tried to build the latest buildah version, but I get a compile error:
[code]
From my understanding this error is independent from my original issue.

[2018-11-29 15:09] #1138 closed

[2018-11-29 16:20] patrickdillon commented on #1046
@TomSweeneyRedHat Apologies for the confusion: yes, sudo, progressed the build.
My build actually still fails on step 3, but docker --no-cache fails identically, so I think there is a problem with the dockerfile or package. I'm closing this, unless you think I can provide any more useful information.

[2018-11-30 01:32] KenYN commented on #1210
@rhatdan

That worked, as it downloads everything from scratch. It seems to be using a different blob cache since the first four blobs were re-downloaded. Where is the cache located, and how can I purge it?
[code]

Retrying `buildah pull docker.io/nvidia/cuda:9.2-cudnn7-devel` immediately afterwards fails in the exact same way.

@giuseppe How would I go about applying that PR?

[2018-11-30 02:49] KenYN commented on #1210
...and now I've trashed my installation as `buildah from docker.io/nvidia/cuda:8.0-cudnn7-devel` produces an error:

[code]

I would guess that my previous `sudo buildah` has set some critical files or folders as `root`, but which ones?

[2018-11-30 05:10] KenYN commented on #1210
I finally seem to have got it back into a working state. The successful commands were:

[code]

Just the first on its own wasn't enough - nuking the whole tree was necessary. I'll not close this as I think there is a real bug regarding `error creating container: error creating read-write layer`, although if you disagree I'll not complain!

[2018-11-30 14:41] TomSweeneyRedHat commented on #1199
Hopefully #1207 finishes the job.

[2018-11-30 14:41] #1199 closed

[2018-11-30 15:03] carlwgeorge commented on #1199
Those commits work perfectly as patches applied to `buildah-1.5-1.gite94b4f9.fc29.x86_64`.  Just for posterity, I built it from master with `go get` (1.6-dev) and it works that way too.

Thanks!

[2018-11-30 20:56] TomSweeneyRedHat commented on #1199
Phew and thanks for the triple check!

[2018-12-01 02:33] bparees opened #1212 "excessive time to extract an image"
i'm seeing 8 minutes to extract layers for an image:

[code]

There is nothing special about the image that i know of, the image in question is `docker.io/centos/ruby-22-centos7`

you can see the full buildah logs here:
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21556/pull-ci-openshift-origin-master-e2e-gcp-builds/200

/cc @smarterclayton

[2018-12-01 12:14] rhatdan commented on #1212
I just did a buildah pull of this image locally and time shows.

real	0m52.165s
user	0m30.642s
sys	0m5.124s

Docker took
real	0m45.643s
user	0m0.188s
sys	0m0.147s

ALthough I am not sure I compared apples to apples.

[2018-12-01 12:14] rhatdan commented on #1212
@mtrmac Any ideas?

[2018-12-01 17:05] mtrmac commented on #1212
Not at all; vaguely guessing about something I don’t understand: cloud CPU/IO throttling?

[2018-12-01 23:11] smarterclayton commented on #1212
How many IOps does buildah do vs docker in your local tests?  On a local disk / SSD you might notice the difference between the two if one does a substantially higher number of IO operations (smaller writes) but on a cloud you're going to be heavily punished if you do.

[2018-12-01 23:12] smarterclayton commented on #1212
(i.e. if we're not using buffered writers to disk in buildah you would see this much more)

[2018-12-03 10:11] swilmet-uclouvain commented on #1197
Thanks!

[2018-12-03 13:55] rhatdan commented on #1212
@nalind PTAL

[2018-12-03 14:23] bparees opened #1213 "memoryswap value not set correctly"
Now that we can read the cgroup values, our test that does so is occasionally flaking:

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/21574/pull-ci-openshift-origin-master-e2e-gcp-crio/306

We set the values in buildah (note the value of MemorySwap):

[code]

But when we read the value, memoryswap is wrong (though memory is correct):

[code]

The script being executed w

[2018-12-03 17:58] rhatdan commented on #1213
Is this occasional or every time?
@nalind @TomSweeneyRedHat PTAL

[2018-12-03 18:01] bparees commented on #1213
i believe it's intermittent, but i'm only seeing it in our "crio" job(where the cluster is running on crio) and not our other jobs.  But I don't see why this logic would care what the node runtime was, since we always use buildah within the pod and you can clearly see we read/passed the correct swap value to buildah, so it's not an issue of not getting it from the pod correctly.

[2018-12-03 18:59] mtrmac opened #1215 "Should CommitOptions.Compression exist?"
`CommitOptions.Compression` is used, via `makeImageRef`, in `containerImageRef.NewImageSource`, when deciding whether to compress or not the temporary file which contains the newly added, or the squashed, layer (and to use the compressed layer digest in the created manifest).

The created layer is then copied in `Builder.Commit` to the destination of the commit: AFAICS, in almost all cases, this i

[2018-12-03 19:05] mtrmac opened #1216 "containerImageRef.NewImageSource potentially unnecessarily writes all layers to disk"
If `containerImageSource.exporting`, `containerImageRef.NewImageSource` creates on-disk copies of all layers in `i.path`; `GetBlob` then only returns a handle to that on-disk copy.

This is potentially quite wasteful if the layers already exist on the destination, and this can be determined from their uncompressed digests already (and even more wasteful if `compress` is set, see #1215). Couldn’t t

[2018-12-04 00:55] TomSweeneyRedHat commented on #1213
The 9223372036854771712 value appears to be the default value found in  /sys/fs/cgroup/memory/memory.memsw.limit_in_bytes.  Makes me wonder if we're by chance not actually setting that in the container?  Need to dig more.

[2018-12-04 15:17] TomSweeneyRedHat commented on #1213
@bparees I've looked, but haven't found it in the logs.  Are you running a command like:
`buildah bud -t tom -f ~/Dockerfile.alpine --memory=209715200 --memory-swap=209715200 .` under the covers?  I'm not able to get the memory or memory-swap values to "stick" when I do this via the `buildah bud` command, but when I do `ctr=$(buildah from --memory=209715200 --memory-swap=209715200 tom)` things see

[2018-12-04 15:20] bparees commented on #1213
buildah bud -t tom -f ~/Dockerfile.alpine --memory=209715200 --memory-swap=209715200

we are using the buildah apis directly.  @nalind can point you to the integration points, but like i showed in the first log entry, we appear to be setting the options (and at least some of them stick):

time="2018-12-03T11:53:10Z" level=debug msg="Resources: &buildah.CommonBuildOptions{AddHost:[]string(nil), Cgr

[2018-12-04 15:31] TomSweeneyRedHat commented on #1213
Thanks @bparees I'll check with @nalind.

[2018-12-05 07:58] pkubatrh opened #1219 "Dangling symlink traversal failure when using bud with layer cache"
**Description**
Image build fails when building an image using the layer cache from a Dockerfile while adding a symlink that will be dangling at build time due to the target not being located in the context directory.

**Steps to reproduce the issue:**
1.cat << EOF >Dockerfile
FROM fedora
COPY run-mysqld /tmp/
EOF
2. ln -s /bin/run-mysqld run-mysqld
3. buildah bud --layers .
4. buildah bud --layer

[2018-12-05 10:35] chmouel opened #1220 "Error writing blob: Error initiating layer upload to quay"
**Steps to reproduce the issue:**
1.  git checkout https://github.com/fabric8-services/fabric8-build/
2. `buildah bud -t quay.io/openshiftio/fabric8-services-fabric8-build -f ./.make/Dockerfile .`
3. podman login to quay
4. buildah push quay.io/openshiftio/fabric8-services-fabric8-build:6271b27 quay.io/openshiftio/fabric8-services-fabric8-build:6271b27

Output:

[code]

Version

buildah.x86_64 0:1

[2018-12-05 10:52] vrothberg commented on #1220
This seems to be a bug in v1.4 that has been fixed in Buildah v1.5. @TomSweeneyRedHat, do you know when Buildah v1.5 will be available for CentOS?

[2018-12-05 12:51] vrothberg commented on #765
Alright, I think the initial request turned into something more general:

#### How shall the libraries/tools treat proxies?

Currently, the env variables work for distribution, and when running a container but apparently not when building one. A quick fix could be to inject those by default into the build.

Another (orthogonal) question is:

#### How can we make proxies configurable?

I suggest to

[2018-12-05 13:04] mtrmac commented on #765
If we were injecting the environment variables by default, would we even need the config file? I have very little experience with living behind a mandatory proxy, but still, it seems undesirable to have the proxy configuration in config files all over the place — there should ideally be _one_ place within the whole OS defining the proxy, shouldn’t it?

Sure, _if_ we do need a container-specific co

[2018-12-05 13:22] vrothberg commented on #765
@mtrmac, I agree with your line of argument but I fear that the expectations are to offer something similar to how Docker makes the proxy configurable. In contrast to Docker's `config.json` we don't have one, central, shared config file for common options among those tools but multiple specialised ones, I think we should add (yet another) one `proxies.conf`.

[2018-12-05 15:25] vrothberg commented on #629
The semantics of the `--platform` flag are actually quite different. In this context, platform refers to Linux, Windows, etc. and is mainly used to support use-cases for Docker on Windows where Linux images can be executed via Hyper-V.

I think that we cannot support it :hear_no_evil: but we could add this flag (and maybe similar cases) as a nop? @rhatdan WDYT?

[2018-12-05 17:08] lsm5 commented on #1220
@fkluknav ^

[2018-12-05 21:50] umohnani8 commented on #1219
@TomSweeneyRedHat no it wouldn't. It is failing because bud expects the symlink to exist so it can compare the timestamps to know whether to use from cache or not. Didn't think of a dangling symlink case. I guess the fix would be to ignore it if it is dangling and run the build process again i.e not use cached layers? Not sure what docker does.

[2018-12-05 22:05] rhatdan commented on #1219
@pkubatrh Does Docker handle this?

[2018-12-05 22:10] rhatdan commented on #765
Should this be added to registries.conf?

[2018-12-05 22:13] rhatdan commented on #629
SGTM

[2018-12-06 11:19] kshlm opened #1223 "Rootless buildah-run name resolution fails when using local caching DNS server on host"
**Description**

**Steps to reproduce the issue:**
1. Host network setup with local DNS server. Easiest way is to have networking setup using NetworkManager configured with `dns=dnsmasq`. Check that `/etc/resolv.conf` on host has `nameserver 127.0.0.1`
[code]
2. Run nslookup from a rootless buildah container.
[code]

**Describe the results you received:**
nslookup fails as the address cannot be re

[2018-12-06 15:15] adelton commented on #1034
I'm hitting this issue with `podman-0.11.2-15.dev.git75b19ca.fc30.x86_64` installed on Fedora 28 machine. Is the fix supposed to be in Fedora by now?

[2018-12-06 15:46] TomasTomecek opened #1224 "rootless buildah and rootless podman don't share image store"
**Description**

I suspect that buildah doesn't respect `~/.config/containers/storage.conf` or there is something wrong with my system:

[code]

As you can see, the sets of images for both tools are different. What am I doing wrong?

Edit: I recall this worked just fine with buildah 1.4 but once I updated to 1.5, they both seem to be using a rootless store on their own.

[2018-12-06 15:57] TomasTomecek commented on #1011
Related: https://github.com/containers/libpod/issues/1092 (unprivileged podman in an openshift pod)

[2018-12-06 16:35] TomasTomecek opened #1225 "[rootless & fuse-ovl] mount command makes most directories disappear rendering the container useless"
**Description**
`mount` command seems to be a magician:

[code]

so far so good

[code]

where is the rest?

[code]

It's true, whole `/usr` is gone.

Can this be an issue of fuse-overlayfs?
[code]

[2018-12-06 20:06] rhatdan commented on #1034
It should be in Master branch, and we are working on a podman-0.12.1 right now.

[2018-12-06 20:09] rhatdan commented on #1224
I would think that could be an issue.

What does buildah info show?
Podman info?

[2018-12-06 21:20] rhatdan commented on #1223
If you run with --net=host, does it work correctly?
@giuseppe PTAL

[2018-12-07 08:30] giuseppe commented on #1225
fuse-overlayfs is running inside of a new user+mount namespace, so what is mounted is not visible outside of the mount namespace.  We could run fuse-overlayfs in the host mount namespace, after all it is just a FUSE file system but in this way we wouldn't be able to use the multiple IDs we have in the user namespace.

To improve usability we could disable mount when overlay is used in rootless mod

[2018-12-07 08:33] giuseppe commented on #1224
the `storage.conf` generated by podman is wrong.  This was fixed upstream and going to be included in the next release.

Could you manually fix it to look like:

[code]

[2018-12-07 09:40] TomasTomecek commented on #1224
oh nice, that works, thanks @giuseppe!

didn't realize the config has wrong syntax

[2018-12-07 09:40] #1224 closed

[2018-12-07 09:47] TomasTomecek commented on #1225
Yes please. This issue actually breaks buildah connection plugin in ansible: ansible first performs `buildah mount` and then starts firing off commands with `buildah run` -- obviously, none of them succeeds.

Definitely worth documenting.

Well, for me it's back to vfs :<

[2018-12-07 11:59] raz3k opened #1227 "buildah --creds only checks permissions at GET request then assumes it has POST too"
**Description**

**Steps to reproduce the issue:**
1. buildah from --name test scratch
2. buildah commit test test
3. buildah push --creds user:password test docker://registry.local/test:0.1

This is happening when only GET requests are let through and POST and others are behind user/password.

**Describe the results you received:**
Getting image source signatures
Copying blob sha256:5f70bf18a0860

[2018-12-07 13:41] TomSweeneyRedHat commented on #1227
@raz3k thanks for the issue report, and this may be due to a lack of tea this morning, but I'm a little unclear on when you're hitting the issue.  If I follow your three reproducers, will I hit the issue?  I'm having a hard time parsing "GET requests are let through and POST and others are behind username/password".

If by chance you have time, could you install podman, try `podman login`, enter i

[2018-12-07 13:51] raz3k commented on #1227
Hello,

I am using this nginx location /v2/ configuration for proxying, sorry about not giving full details:

[code]

[code]

[code]

[2018-12-07 13:56] kshlm commented on #1223
`--net=host` works.
[code]

[2018-12-07 14:22] kshlm commented on #1223
Yes, it is the same in my case as well. This is causing the issue.

For reference podman sets resolv.conf to Google DNS servers when it detects that host resolv.conf

[code]

slirp4netns is running when using the containers.
[code]

I was curious and checked what libpod does. libpod filters out localhost nameserver entries when using netns. And if no more nameservers are present after filtering ou

[2018-12-07 14:31] raz3k commented on #1227
Here is my full nginx config.

[code]

[2018-12-07 15:18] rhatdan commented on #1225
Can't buildah (podman) mount mount the fuse file system in the user space, so that this would work?

[2018-12-10 10:00] vrothberg commented on #765
I have no objections against putting this into the registries.conf. @runcom, WDYT?

[2018-12-10 11:52] vrothberg commented on #1220
I am closing this issue as there's nothing we can do upstream. It will be resolved once CentOS updates the packages.

[2018-12-10 11:52] #1220 closed

[2018-12-10 14:59] rhatdan commented on #1225
We could probably warn about that.  I think we need to add `podman cp` command to allow users to copy in and out of the container, if podman mount does not really work in nonroot use cases.

[2018-12-10 18:50] fkluknav commented on #1220
https://cbs.centos.org/koji/buildinfo?buildID=24666

[2018-12-11 14:18] #629 closed

[2018-12-11 18:54] TomSweeneyRedHat commented on #1227
@raz3k Thanks for sending along that information.  I've been trying to replicate you setup but without luck so far.   More questions for you:

1) Can you try running this test with the absolute latest/greatest Buildah?  I know there's been some tweaks in the auth code recently there that might have helped this, but I'm doubtful to be honest.  But if you've the time to upgrade to 1.6-dev, that woul

[2018-12-13 12:31] mlschroe opened #1234 "podman build --squash also squashes layers of base container"
**Description**

`podman build --squash` squashes all layers into a single layer, whereas `docker build --squash` only squashes the new layers but keeps the layers from the base container. Is this difference intentional? It IMHO limits the usefulness of the --squash option quite a bit.

**Steps to reproduce the issue:**
1. podman build --squash

**Describe the results you received:**
The created c

[2018-12-13 12:41] TomSweeneyRedHat commented on #1234
@rhatdan @umohnani8 WDYT?

[2018-12-13 16:22] xinminglai opened #1236 "buildah from docker-daemon:debian:latest doesn't work as expected"
**Description**

buildah from docker-daemon:debian:latest doesn't work as expected as buildah pull

**Steps to reproduce the issue:**
1.  run `docker pull debian:latest`
2.  buildah from docker-daemon:debian:latest

**Describe the results you received:**

error will be: error parsing reference to image "docker-daemon:debian:latest": error parsing image name "docker-daemon:debian:latest": invalid r

[2018-12-13 16:30] TomSweeneyRedHat commented on #1236
A bit of background info from our IRC chat with @xinminglai .  This command worked with Buildah v1.2.
Test scenarios:
[code]

[2018-12-13 16:35] rhatdan commented on #1234
Definitely not intentional, we want to match Docker behaviour.

[2018-12-14 12:11] TomSweeneyRedHat opened #1237 "bud --layers doesn't show ImageID in last line"
**Description**
When using the `--layers` flag, the ImageID is shown in the next to last line and then the COMMIT confirmation.  These two lines should be reversed.  This works fine with the default `--layers=false`

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

[code]
**Output of `buildah version`:**

[code]

**Out

[2018-12-14 15:50] wwilson commented on #1048
It looks like this is now fixed in containers/image:

https://github.com/containers/image/pull/526

Is the next step to vendor this into buildah?

[2018-12-14 19:09] TomSweeneyRedHat opened #1239 "Buildah pull with long tag needs to tab output appropriately like Podman does"
**Description**

As noted by @ypu here: https://jira.coreos.com/browse/RUN-24, if you pull an image like:
[code]
The image tag is huge.  The image appears to be usable though.

**Steps to reproduce the issue:**
See description.

**Describe the results you received:**
[code]

**Describe the results you expected:**

See output of `podman images`

**Output of `buildah version`:**

[code]

**Output of

[2018-12-15 17:02] mtrmac commented on #1048
That has already happened in https://github.com/containers/buildah/pull/1218 , so this should work as expected with current `master`.

[2018-12-16 18:44] edwintorok opened #1240 "Permissions on /tmp wrong for rootless podman build"
**Description**

Permissions for /tmp in a container created by a rootless `podman build` are different from the permissions for a container created by root `podman build` (the podman issue template says I should file `podman build` bugs here):
[code]

**Steps to reproduce the issue:**
1.
[code]
2. `podman build -t footest .`
3. `sudo podman build -t footest .`

**Describe the results you received

[2018-12-17 09:04] vrothberg commented on #1239
@TomSweeneyRedHat, which version of Podman are you using? 0.12.1.1 and latest master of Podman don't transform it to `none` but they correctly adjust the width of the `IMAGE ID` column. I was checking it as printing `none` seems a bit unfriendly to the user as would leave the impression that the image really has no tag.

[2018-12-17 09:15] duritong commented on #1223
I can confirm the issue, and with `bud` net=host does not solve the issue:

This currently breaks any rootless builds on e.g. Fedora with dnssec-trigger-script installed:

[code]

Workaround:

[code]

[2018-12-17 09:46] giuseppe commented on #1240
are you using fuse-overlayfs?

This is fixed by: https://github.com/containers/fuse-overlayfs/pull/29

until the changes propagates in a release, I'd suggest you to use the vfs storage backend

[2018-12-17 16:39] TomSweeneyRedHat commented on #1239
Hmm, thought I was on master...

[code]

[2018-12-17 16:42] TomSweeneyRedHat commented on #1239
Just double checked, you're right, Podman isn't replacing with `<none>` any more.  It just adjusts the tabs:

[code]

[2018-12-17 16:47] TomSweeneyRedHat commented on #1239
So after looking further, let's change this to make the tabbing work as it does in Podman and leave the image id as is.

[2018-12-17 16:59] vrothberg commented on #1239
Sounds good to me :)

[2018-12-17 18:31] rhatdan commented on #1048
CLosing as it is in master.

[2018-12-17 18:31] #1048 closed

[2018-12-18 21:00] 42wim commented on #1048
It works, but buildah doesn't yet behave completely like docker for this.

We're using artifactory as docker registry and we have multiple registries on it (with multiple hostnames, registry1.tld, registry2.tld), the current code will only check blobs from the same registry although they're also available on the other.

with docker doing a
[code]
will not push the image to registry2.tld because it

[2018-12-19 09:08] rhatdan commented on #1048
@mtrmac WDYT?

[2018-12-19 09:09] rhatdan commented on #1048
@42wim Could you open an issue with containers/image or better yet a PR so we can discuss it there?

[2018-12-19 09:39] #1225 closed

[2018-12-19 14:36] Logibox commented on #1224
Hi, @giuseppe could you link the upstream issue/pr please?

[2018-12-19 14:40] giuseppe commented on #1224
@Logibox this is the original issue: https://github.com/containers/buildah/issues/1113

Previously Buildah wasn't honoring that configuration file

[2018-12-19 15:05] Logibox commented on #1224
Ah ok, does that PR just cover the conf file location? Because I'm still getting the an inconsistency in file format between the defaults of buildah and podman.

Default config file generated by buildah:
[code]

Default config file generated by podman
[code]

[code]
These are both the latest packaged version in fedora 29

[2018-12-19 15:50] giuseppe commented on #1224
@Logibox, PR here: https://github.com/containers/buildah/pull/1246

[2018-12-19 17:51] robmv commented on #1223
To bring the `--dns` option from podman to `buildah run`  and `buildah bud` may help too.

Same here, `buildah bud` should probably do the same than `buildah run`

@duritong A better workaround for me is to use `--volume $HOME/myresolv.conf:/etc/resolv.conf:ro` in order to avoid modifying all RUN lines

[2018-12-20 10:50] dharmit opened #1247 "Recommended way to push image to insecure registry using buildah"
**Description**

What's the recommended way to push an image to a remote insecure registry (`docker-distribution`)? I used `--tls-verify=false` with `buildah push` command and it worked. Is that the recommended way or should I add the info to some configuration file the way it's done for Docker?

I'm using `buildah` from git repo:
[code]

[2018-12-20 11:46] giuseppe commented on #1240
file systems are mounted by default with `nosuid` by FUSE.  We need to override that when running in a user namespace.  I've opened a PR here: https://github.com/containers/fuse-overlayfs/pull/32

[2018-12-20 12:51] rhatdan commented on #1247
I think so, and you can also mark the registry as insecure in /etc/containers/registries.conf

@TomSweeneyRedHat Any thing else to add?

[2018-12-20 14:16] edwintorok commented on #1240
Thanks, this works now: https://bodhi.fedoraproject.org/updates/FEDORA-2018-b00394e912

[2018-12-20 14:16] #1240 closed

[2018-12-20 15:31] #1247 closed

[2018-12-21 04:48] dharmit commented on #1247
Thank you, Dan & Tom.

[2018-12-21 06:26] zhouhao3 opened #1248 "About buildah pull --all"
Is it necessary to add the `--all` option to the `pull` command to download the image of all tags？
I find `podman` does not have that either.

[2018-12-21 12:09] rhatdan commented on #1248
Did not know that exists, so yes we should add this flag.
@TomSweeneyRedHat Could you look into adding this flag to buildah and podman.

[2018-12-21 12:09] rhatdan commented on #1248
@QiWang19 might be something you could look at if @TomSweeneyRedHat Does not have time.

[2018-12-21 13:44] rhatdan commented on #1247
@TomSweeneyRedHat Idea for a quick blog...

[2018-12-21 20:23] TomSweeneyRedHat commented on #1247
@rhatdan yep, I've had a working with registries with podman/buildah blog thought for a bit now, need to git to it.

[2018-12-26 17:05] janosi opened #1250 "ENV variable expansion is different in Dockerfile based builds and in buildah config --env"
**Description**
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

Dockerfile based builds expand environment variables that are defined in the Dockerfile. In case of "buildah config" the environment variables are not expanded from the container image but used from the host.

**Steps to reproduce the issue:**
1. Dockerfil

[2018-12-27 18:55] TomasTomecek opened #1251 "buildah inspect errors with "vfs driver does not support mount options" but podman inspect works fine"
**Description**

`buildah inspect` errors out while `podman inspect` works just fine

**Steps to reproduce the issue:**
https://github.com/containers/buildah/issues/1251#issuecomment-451416452

**Describe the results you received:**
[code]

**Output of `buildah version`:**
[code]

Host: F29
Environment: F29, openshift pod running in privileged mode

**More info**

[code]

I only changed those two

[2018-12-27 19:47] TomasTomecek commented on #1251
same thing happens with `buildah from`, while `podman run` works fine

[2018-12-27 20:13] TomasTomecek commented on #1251
Tried buildah 1.6, the same result:
[code]

[2018-12-30 12:30] TomasTomecek commented on #1251
Here are the complete logs: https://paste.fedoraproject.org/paste/7zMBAVc0SxFgQfwNpsE6cQ

`podman info` output:
[code]

[2019-01-01 17:53] najamelan commented on #1094
Sorry for the delay, I'm plugged into internet again. I just tested with buildah version:
[code]
I still have the same error, except for the line numbers:
`container_linux.go:337: starting container process caused "process_linux.go:280: applying cgroup configuration for process caused \"mountpoint for cgroup not found\""`

[2019-01-02 11:15] rhatdan commented on #1094
@najamelan Could you give us the exact Command you are executing and a simplified Dockerfile, which shows this issue?

By any chance could you check if `podman build` also shows this behaviour?

Lastly are you executing buildah as root or non-root.

[2019-01-02 13:14] TomSweeneyRedHat commented on #1094
@najamelan Can you run the command again with `--debug` please?  `bulidah --debug bud ...` and let us know what shows up there.  Also is there anyghing in journalctl of interest?

[2019-01-02 16:24] najamelan commented on #1094
I try to give you a complete guide to reproduce. You need to run buildah in a network namespace that is not the default. I run into this because my default namespace does not have internet access and buildah wants to download the base image. So I suppose you will probably need a ns with internet access. To set this up is +/- like this:
[code]
You can do all this in a virtual machine if you don't w

[2019-01-02 17:06] najamelan commented on #1094
Ok, I found something relevant. When run in a network namespace, `mount | grep cgroup` will return nothing. It seems you can't see any cgroup mount points from within a network namespace. I have no idea why this is. I will investigate a bit further.

[2019-01-02 18:53] najamelan commented on #1094
I made some progress. Apparently `ip netns exec` creates a mount namespace, in order to bind mount network configuration files like resolv.conf per namespace. I suppose that they don't propagate all other mount points to the new namespace. I will ask if that's intended behavior.

[2019-01-03 13:32] rhatdan commented on #1251
Could you do the debug output
buildah --debug pull

[2019-01-04 00:52] mrunalp commented on #1047
Any update on this?

[2019-01-04 01:10] mrunalp commented on #1047
Did https://github.com/containers/image/pull/534 take care of this? If yes, is it vendored into buildah?

[2019-01-04 05:22] TristanCacqueray opened #1257 "Buildah images JSON output does not return a correct list"
**Description**

The buildah images JSON output can't be parse as json when there is more than one image.

**Steps to reproduce the issue:**
1. buildah images --json | python -m json.tool

**Describe the results you received:**
Decoding fail with: "Extra data: line 7 column 1"

**Describe the results you expected:**
A properly formatted JSON output.

**Output of `rpm -q buildah` or `apt list build

[2019-01-04 08:58] vrothberg commented on #1047
@mrunalp it's vendored into buildah and works (just checked locally) but it's not yet in a release.

@TomSweeneyRedHat @rhatdan, maybe we can bump a new release next week once we decided how to proceed with https://github.com/containers/buildah/pull/1244?

[2019-01-04 08:58] vrothberg commented on #1047
I am closing the issue as it's fixed in master.

[2019-01-04 08:58] #1047 closed

[2019-01-04 11:10] TomasTomecek commented on #1251
I probably haven't made it clear in the original post -- I'm sorry about that. I am running this inside an openshift pod, not on my workstation. Hence I'm going to post the "minimal reproducer":

[code]

I also tried to `strace -f` the bash process to see the syscalls:
[code]

Honestly I'm not sure what went wrong.
[code]

Since OKD is already integrating buildah, I'll do the same thing as them --

[2019-01-04 13:12] TristanCacqueray opened #1259 "Buildah images JSON output duplicate when image has more than one name"
**Description**

Using buildah images --json shows duplicated image block when an image has more than one name.

**Steps to reproduce the issue:**
1. buildah tag centos:latest test
2. buildah images --json

**Describe the results you received:**
The images command display the image twice:

[code]

**Describe the results you expected:**

The image only needs to be displayed once. It seems to be hap

[2019-01-04 14:12] rhatdan commented on #1047
Yes once we get #1244 in, hopefully today or Monday, we cut a new release.

[2019-01-04 15:44] TomSweeneyRedHat commented on #1080
Closed with #1208

[2019-01-04 15:58] TomSweeneyRedHat commented on #1212
@vrothberg me thinks that a by product of your #1244 is addressing this issue too.  Could you verify please?

[2019-01-04 16:07] mtrmac commented on #1212
I don‘t think so; the logs shows processing in `storageImageDestination.Commit` _after_ all the copies and possible caching has happened; it is extracting on-disk tar files to on-disk image storage.

[2019-01-04 16:07] TomSweeneyRedHat commented on #1062
@vrothberg I think your insecure registries work may have at least partially addressed this.  If you've a few cycles, could you take a looksee?  If possible we should get this closed out by Friday 1/11/19

[2019-01-04 16:15] vrothberg commented on #1062
Pushing to insecure registries works - just tested today :-) So we can close it. Thanks for the ping, @TomSweeneyRedHat !

[2019-01-04 16:15] #1062 closed

[2019-01-04 16:37] lsm5 commented on #1047
ack

[2019-01-04 16:38] lsm5 commented on #1047
@fkluknav ^

[2019-01-04 16:47] mrunalp commented on #1212
@sjug is looking into iops comparison with docker.

[2019-01-04 18:47] sjug commented on #1212
Built buildah master (non-parallel) and compared it to docker disk usage. ([Google Doc](https://docs.google.com/document/d/1iad_p5Po6ZZfeDNNwSza1H8A5oYm8DSPOm_hDTr6XyM/edit?usp=sharing))

Very unusual findings as the write speed is quite high for Docker but the IOPS are very low.

[2019-01-04 18:55] rhatdan commented on #1212
@nalind @mtrmac WDYT?

[2019-01-05 19:58] TomSweeneyRedHat commented on #1213
FWIW, I've checked in Docker  and Podman and the memoryswap/memory params passed in via the build commands seem to be ignored until a run command is issued.  The 'tom' images below is just alpine pulled down locally.

[code]

Here's the Podman variant (replace podman below with docker for the same results):

[code]

And if I do a `buildah from` then the container has the right memory setting when

[2019-01-05 20:00] TomSweeneyRedHat commented on #1213
Note I'd a cut/paste error in the podman run command above, I've removed a rogue 'bui' from that command with my edit.

[2019-01-05 20:17] najamelan commented on #1094
According to Eric Biederman the code for iproute2 will need to be updated since cgroups and others aren't mounted in the same way they used to. So I will close this because it's not a buildah issue. No idea of the ETA for a patch.

[2019-01-05 20:17] #1094 closed

[2019-01-05 23:17] TomasTomecek commented on #1251
After I did what I hinted: created an openshift volume at `/var/lib/containers` and switched graph backend to overaly, everything works just fine (well except that the pod is still privileged): I can pull images, do `buildah from`, `buildah run` and `buildah commit`. Hence I'm closing since I definitely want to use overlay over vfs.

Dan, thanks for your help.

[2019-01-05 23:17] #1251 closed

[2019-01-06 14:44] #1259 closed

[2019-01-07 11:41] zmedico commented on #936
podman is now available in gentoo:

https://packages.gentoo.org/packages/app-emulation/libpod

[2019-01-07 23:44] KenYN opened #1266 "Make .CreatedAt and other timestamps time.Time types"
I recently posted [this question](https://stackoverflow.com/questions/54071278/formatting-a-go-date-in-a-bash-friendly-manner) to StackOverflow about formatting timestamp output from:

    buildah images --format '{{.CreatedAt}}' my_image

But I was informed that `.CreatedAt` is a `string`, so I was out of luck. The string is also not localised and is missing timezone information, so even as it is

[2019-01-08 03:55] KenYN commented on #1250
The expansion of `$GOPATH` etc is performed by the `bash` shell for Buildah, so it's not quite as simple a fix. I had a similar problem trying to duplicate:

    RUN echo Acquire::https::proxy "$https_proxy"; >> /etc/apt/apt.con

My solution (which won't work for your situation) was to do:

    echo "Acquire::https::proxy \"$https_proxy\";" >> $mountpoint/etc/apt/apt.conf

Maybe if you echo the co

[2019-01-08 06:04] dharmit opened #1268 "buildah bud fails when running inside OpenShift pod but works fine when running inside a container"
**Steps to reproduce the issue:**
1. Use this pod template to spin up Jenkins pods in OpenShift OKD 3.11
[code]
2. One of the steps in the Jenkins Pipeline does `buildah bud`:
[code]
3. This step fails with the error:
[code]
4. Running the same `buildah bud` command on the same OpenShift node using below command to spin up the container, works just fine:
[code]

**Describe the results you received

[2019-01-08 07:49] TomasTomecek commented on #1268
I was getting the same error. I solved it by:
* running in a privileged pod using root user
* making /var/lib/containers a volume

I can see that you're trying to do both things as well, except that I can't see a volume mapping in your container definition. Here's my pod template: https://github.com/TomasTomecek/ansible-bender/blob/master/contrib/ab-pod.yml.tmpl

Related: https://github.com/contai

[2019-01-08 09:22] janosi commented on #1250
Arrrggghh, my bad :( Of course it is the shell.... :( How blind I can be.
Now, if I pass the env variable definition wrapped with single quotes it works fine.
Thank you @KenYN for the hint! I close this issue.

[2019-01-08 09:22] #1250 closed

[2019-01-08 10:51] vrothberg commented on #1266
@TomSweeneyRedHat @rhatdan PTAL

It may also affect Podman (Cc @baude @mheon)

[2019-01-08 15:25] rhatdan commented on #1266
This is a good idea.

[2019-01-08 21:30] TomSweeneyRedHat commented on #1266
@KenYN I'm hesitant to change the format of the timestamp as it is now.  But I'd be OK with adding a new field for them, basically appending "Raw" to is, so you can do:
[code]
I'm going to assume this would be useful and will get a PR together for the image side of things anyway and we can then move on to containers and Podman.

[2019-01-09 08:17] dharmit commented on #1268
@TomasTomecek thanks for the tip! That seems to have fixed the issue. I simply added `/var/lib/containers` to the `VOLUME` directive in container's Dockerfile.

[2019-01-09 08:17] #1268 closed

[2019-01-09 18:06] TomSweeneyRedHat opened #1270 "Pulls from quay.io don't show progress appropriately."
**Description**
When pulling from an image from quay.io, the progress bar is not shown appropriately.  The image apparently is pulled over OK though.

**Steps to reproduce the issue:**
1.  Push an image to quay.io
2.  Pull the image from quay.io
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]
# buildah version
Version:         1.6-dev
Go Version:

[2019-01-09 19:03] vrothberg commented on #1270
@TomSweeneyRedHat this looks like a c/image bug. @mtrmac, can you have a look? I am still on the apparmor fix for Podman but may find some time tomorrow.

[2019-01-09 21:07] TomasTomecek opened #1271 "[rootless] `buildah unshare buildah mount` breaks `buildah run`"
**Description**

When I do `buildah unshare buildah mount` in rootless + ovl I get the mountpoint and all the files:
[code]
That's good.

But sadly when I try to run a command after doing that mount operation, it fails with:
[code]

I did try from the `unshare`d env as well:
[code]

I followed the steps you suggested to me here: https://github.com/containers/buildah/pull/1233#issuecomment-44661890

[2019-01-09 21:54] mtrmac commented on #1270
Isn’t quay.io still schema1-only? schema1 manifests don’t provide the size of the layers.

[2019-01-09 21:58] #1257 closed

[2019-01-09 22:40] TomSweeneyRedHat commented on #1270
From what I can see, quay.io is still schema 1.  Perhaps I should add a note to the known issues about this.

[2019-01-09 22:41] TomSweeneyRedHat commented on #1270
Going to close this one, thanks @mtrmac and @vrothberg for the the attention.

[2019-01-09 22:41] #1270 closed

[2019-01-10 12:45] vrothberg commented on #1270
I didn't know that but I am happy it's not us :)

[2019-01-10 13:44] rhatdan commented on #1270
Seems weird that we would have the same line printing twice?

[2019-01-10 14:00] vrothberg commented on #1270
This usually happens when something prints in parallel to the progress bars. Not sure why it happens in this case but I will have a look.

[2019-01-10 23:49] hpvb opened #1276 "Podman build fails on subsequent multi-stage Dockerfile builds"
**Description**

When repeatedly building the following multi-stage Dockerfile on subsequent builds the build fails unless built with `--no-cache`. The problem persists when running with `vfs` backend or as the root user.

[code]

**Steps to reproduce the issue:**
1. podman build .
2. podman build .

**Describe the results you received:**

First build (redacted for brevity)
[code]

Second run
[cod

[2019-01-11 00:33] TomSweeneyRedHat commented on #1276
@umohnani8 PTAL

[2019-01-11 00:57] TomSweeneyRedHat commented on #1276
@hpvb can you verify the Dockerfile that you included in the issue report please?  It's not working for me in the first run and I'm seeing references to fedora-minimal in the output that I'm not seeing  in the Dockerfile sample.  Also can you share the contents of repos.repo that you're using?  I don't think that's a factor, but if it's shareable that would be good to have.

[2019-01-11 01:02] mtrmac commented on #1270
(We could probably improve the schema1 output  — e.g. when the copy is done, we do know the total size and total time, and the progress bar could be updated with that, as well as show the “100% complete” state. I don’t know how much of this is possible with the current implementation.

OTOH, if it’s only for schema1, it’s not _that_ attractive to invest into that obsolete format.)

[2019-01-11 02:00] hpvb commented on #1276
@TomSweeneyRedHat You are right. My Dockerfile was just using a local Fedora mirror I have on my workstation. I've updated the Dockerfile in the ticket and the outputs in the description. For completeness sake the new Dockerfile (that doesn't use my local mirror):

[code]

[2019-01-14 10:06] giuseppe commented on #1271
PR here: https://github.com/containers/buildah/pull/1278

[2019-01-14 11:48] TomasTomecek commented on #1271
oh nice; how are you able to figure out these issues so quickly every time?! to me it feels so cryptic

[2019-01-14 15:47] #1271 closed

[2019-01-14 17:10] judavi commented on #386
@rhatdan the UserNS setting that you mention is the same to this?
![image](https://user-images.githubusercontent.com/1766933/51128048-ddc0db00-181e-11e9-865a-4fd8bfe666b1.png) [install.md](https://github.com/containers/buildah/blob/master/install.md)

[2019-01-14 20:04] rhatdan commented on #386
Correct

[2019-01-14 23:02] jchristi commented on #386
Would definitely love to see a blog or tutorial on how to get this working in RHEL7/CentOS7.

[2019-01-14 23:16] rhatdan opened #1279 "buildah mount ctr in rootless mode should work."
We should enter the usernamespace before mounting and it would work fine.  If we do similar with other commands we should be able to get most of buildah commands to work.

[2019-01-14 23:19] rhatdan commented on #1279
[code]
[code]
[code]
[code]

[2019-01-14 23:46] rhatdan commented on #386
Will be doing a Fedora Classroom tomorrow on Buildah.
https://fedoramagazine.org/fedora-classroom-building-container-images-with-buildah/

[2019-01-15 05:23] KenYN opened #1280 "Accessing NVidia driver runtime inside container"
Cannot use driver built into the NVidia driver images as [described here](https://github.com/NVIDIA/nvidia-docker/wiki/Driver-containers-\(Beta\)).

As a more general question, is there a Buildah equivalent of
`docker run --runtime=nvidia`? Currently I workaround by pushing my containers to Docker and running them there.

**Steps to reproduce the issue:**
1. `cont=$(buildah from nvidia/driver:396.

[2019-01-15 12:09] rhatdan commented on #1280
This seems like a use case for podman not buildah?  Buildah is only for building container images, podman is for running container images, works just like the Docker CLI.

[2019-01-15 13:37] rhatdan commented on #1279
So can we either change buildah mount to reexec itself as
[code]

[2019-01-15 14:44] giuseppe commented on #1279
that will break the non interactive use case: `ctr=$(buildah mount fedora-working-container)` as buildah mount will re-exec and create the `unshare` session

[2019-01-16 00:14] KenYN commented on #1280
I see - I just checked podman and I see reports like https://github.com/containers/libpod/issues/884 and Google gives me lots of other useful information for "podman nvidia". I'll explore these and if I have any issues I'll report to podman.

[2019-01-16 00:14] #1280 closed

[2019-01-17 05:27] #1248 closed, assigned to TomSweeneyRedHat

[2019-01-17 08:11] gregoryboue commented on #1177
Hi,

Is this Issue fixed with buildah 1.5 or 1.6 ?

[2019-01-17 15:21] TomSweeneyRedHat opened #1286 "Buildah Info not working for rootless"
**Description**

Running as non-root, the `buildah info` command fails.

**Steps to reproduce the issue:**
1.  Run a non-root
2.  `buildah info`
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**

Information to be displayed appropriately from `buildah info`

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[cod

[2019-01-17 15:22] TomSweeneyRedHat commented on #1286
@giuseppe any thoughts?

[2019-01-17 23:16] TomSweeneyRedHat opened #1290 "Whale Says test in basline fails in v1.6"
<!--
**Description**

[code]

**Steps to reproduce the issue:**
See results received.

**Describe the results you received:**
[code]

**Describe the results you expected:**

The image to build without an error.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[code]

**Ou

[2019-01-17 23:17] TomSweeneyRedHat commented on #1290
Ugh GitHub just ate my issue report.  Going to close this one.

[2019-01-17 23:17] #1290 closed

[2019-01-17 23:20] TomSweeneyRedHat opened #1291 "Whale Says test in Baseline fails in 1.6"
**Description**

**Steps to reproduce the issue:**
See results

**Describe the results you received:**
[code]

**Describe the results you expected:**

IMage to build

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[code]

**Output of `cat /etc/containers/storage.conf`:**

[2019-01-17 23:22] TomSweeneyRedHat commented on #1291
@vrothbert @mtrmac any thoughts?  This worked in v1.5 Buildah, not now.  Feels like a container storage hiccup, but no proof.  Reproducible in both the F28 and F29 kits, haven't tried upstream yet.

[2019-01-18 00:10] TomSweeneyRedHat commented on #1291
can't type tonight, @vrothberg ^^

[2019-01-18 01:21] TomSweeneyRedHat commented on #1291
OK now I'm confused.  If I install upstream Buildah, this test passes without an issue.  The only change I can see since the kit was built was #1287  unless I didn't manage to get #1282 into the kit?  I don't think #1287 would cure this hiccup, but maybe?  @rhatdan thoughts on next steps?

[2019-01-18 08:55] zvonkok opened #1292 "buildah to use cache, layers for bash builds as well"
**Description**
Buildah can use cache/layers for building with `buildah bud` (#767). It would be beneficial if buildah could use a cache/layers for bash builds as well. I am using bash builds extensively as there are more convenient/useful for all of my use-cases.

Dan mentioned that I could use commits in-between and base off the next step of them.
Nice idea but I think this will clutter up the s

[2019-01-18 08:55] zvonkok commented on #1292
/cc @jeremyeder

[2019-01-18 09:09] TomasTomecek commented on #1292
This is an awesome suggestion! I wrote [a tool](https://github.com/TomasTomecek/ansible-bender) which utilizes buildah for building images (and ansible as a frontend) and I had to solve the same issue: caching layers.

It would be awesome if buildah had an API for caching. On the other hand, it will be really tricky because you would need to tell buildah up front what the script is and how are you

[2019-01-18 10:36] vrothberg commented on #1291
I would love to reproduce but `archive.ubuntu.com` is currently down :-D

[2019-01-18 10:39] gregoryboue commented on #1177
It's reproducible by the steps listed in the description, Can you look at this ? It's a very useful feature

[2019-01-18 14:12] rhatdan commented on #1292
@umohnani8 What do you think?  Would this even be possible.

[2019-01-18 14:19] rhatdan commented on #1291
@TomSweeneyRedHat We have not announced Buildah 1.6 so why not bounce it to master and see if this fixes the issue.

[2019-01-18 16:22] nalind commented on #1291
This is what #1287 aimed to fix.

[2019-01-18 16:23] TomSweeneyRedHat commented on #1291
Thanks @nalin, that makes me feel better.

[2019-01-18 19:09] rhatdan opened #1296 "buildah inside of a podman container runs in rootless mode"
It is running as root but still puts its content in /root/.local ...

It should be using /var/lib/containers/.

[2019-01-18 19:10] rhatdan commented on #1296
This is breaking some demos.

[2019-01-18 19:57] giuseppe commented on #1296
is the podman container using namespaces?

[2019-01-22 16:56] juhp commented on #1224
Is this supposed to be fixed now with buildah-1.6-2.git5f95bd9.fc29.x86_64 (currently still updates-testing)?
Or can someone tell me what I need to do to get buildah and podman to agree on `images`?

[2019-01-23 17:00] nalin commented on #1291
I think you meant @nalind :)

[2019-01-23 21:32] mglantz commented on #1046
I can verify this on RHEL8 HTB Snapshot 2, with podman-1.0.0-1.git82e8011.module+el8+2696+e59f0461.x86_64 and this Dockerfile:

---
FROM registry.centos.org/che-stacks/centos-stack-base

RUN sudo yum -y update setup

CMD tail -f /dev/null
---
Which fails with:
Running transaction
  Updating   : setup-2.8.71-10.el7.noarch                                   1/2
Error unpacking rpm package setup-2.8.7

[2019-01-23 21:37] mglantz commented on #1046
I'm replicating this both running podman as root, as a non-priviledged user and non-priviledged + sudo.

[2019-01-23 22:38] mglantz commented on #1046
Here's a sosreport from the server I tested on, if it helps.
[sosreport-rhel8htb-2019-01-23-pwjmguj.zip](https://github.com/containers/buildah/files/2789452/sosreport-rhel8htb-2019-01-23-pwjmguj.zip)

[2019-01-23 23:05] TomSweeneyRedHat commented on #1046
Thanks for the follow ups, will take a look.

[2019-01-24 02:14] rhatdan commented on #1046
@mglantz Is this repeatable?  Any chance you could try this wit the latest upstream?  Or with buildah 1.6?

[2019-01-24 03:16] rhatdan commented on #1291
Sorry @nalin.  @TomSweeneyRedHat We have fixed this correct?  Reopen if I am mistaken.

[2019-01-24 03:16] #1291 closed

[2019-01-24 08:09] TomSweeneyRedHat commented on #1291
@rhatdan, yep its fixed, thanks for the closure.

[2019-01-24 10:03] gregoryboue commented on #1177
Any news of this ?

[2019-01-24 10:09] mglantz commented on #1046
I will try to replicate on a fresh RHEL8 snapshot2 instance today. This was with buildah-1.5-3.gite94b4f9.module+el8+2650+e6b3d617.x86_64. I'll try out 1.6, today if there is time. I've added this to RHEL8 HTB tracker BZ#1647562 so it doesn't get forgotten.

[2019-01-24 10:36] arthurbarr commented on #1292
I guess that any of those `buildah run` commands could have a different effect if the bash script has (say) copied some different files into the mounted filesystems.  I guess that `docker build` gets round this by having a fixed "context" directory, where all the source is located.  They can then do a hash of that source, or look at time stamps (not sure which they do).  So I wonder if buildah cou

[2019-01-24 16:22] mglantz commented on #1046
Yes, I can replicate this, also in latest snapshot (4) of RHEL 8 HTB. Next, to try with buildah 1.6 or upstream latest if possible.

Replication script:
yum -y install podman buildah
cat << 'EOF' >Dockerfile
FROM registry.centos.org/che-stacks/centos-stack-base

RUN sudo yum -y update setup

CMD tail -f /dev/null
EOF

podman build -t podman:test .

[2019-01-24 16:25] mglantz commented on #1046
Please note that building something without updating setup works.

[root@rhel8htb ~]# cat Dockerfile
FROM registry.centos.org/che-stacks/centos-stack-base

RUN sudo echo test

CMD tail -f /dev/null
[root@rhel8htb ~]# podman build -t podman:test .
STEP 1: FROM registry.centos.org/che-stacks/centos-stack-base
STEP 2: RUN sudo echo test
test
--> cd02e9509fef7917a209bc39c4bed9b890f5642c942579bb7b82f6b

[2019-01-24 16:36] mglantz commented on #1046
@rhatdan I can replicate this with the latest build of buildah that could find in Fedora: https://src.fedoraproject.org/rpms/buildah/c/664c8a8c71697aa67bd99df5f6e2c71b8a4a8586?branch=master + RHEL8 HTB Snapshot 4 (latest).
...
Upgraded:
  buildah-1.7-5.dev.gitf1cec50.fc30.x86_64

Complete!
[root@rhel8htb ~]# rpm -q buildah
buildah-1.7-5.dev.gitf1cec50.fc30.x86_64
[root@rhel8htb ~]# podman build -t

[2019-01-24 16:47] mglantz commented on #1046
[podman.strace.txt.zip](https://github.com/containers/buildah/files/2792658/podman.strace.txt.zip)
If you grep for 'hosts' or 'error: unpacking of archive failed on file /etc/hosts: cpio: rename' in this strace I did on 'podman build -t podman:test .' that might give you guys a better idea of what goes on.

[2019-01-24 17:00] mglantz commented on #1046
[podman-build-debug.txt](https://github.com/containers/buildah/files/2792732/podman-build-debug.txt)
Output from 'podman --log-level debug build -t podman:test .'

[2019-01-24 17:14] mglantz commented on #1046
I forced an upgrade to podman-1.0.1-11.dev.gitc9e1f36.fc30.x86_64 (ignoring conmon dep) without any difference.

[2019-01-24 18:20] TomSweeneyRedHat commented on #1046
Thanks for the 411 and testing time @mglantz, I'll try to recreate on our end.

[2019-01-24 18:52] mglantz commented on #1046
Ehm, I found a workaround which should be able to lead you to what's wrong, I guess.
When configuring my test servers /etc/hosts with an entry for the servers hostname (in my case rhel8htb), the build passes.

[code]

[2019-01-24 18:53] umohnani8 commented on #1177
@TomSweeneyRedHat no I haven't, been focusing on the CRD stuff. I can get to it once I am done with that, but feel free to look into it if you want to :)

[2019-01-24 19:11] mglantz commented on #1046
Please note that when doing this 'work around', I was using buildah-1.5-3.gite94b4f9.module+el8+2650+e6b3d617.x86_64, podman-1.0.0-1.git82e8011.module+el8+2696+e59f0461.x86_64, runc-1.0.0-54.rc5.dev.git2abd837.module+el8+2650+e6b3d617.x86_64. The out of the box versions from RHEL 8 HTB Snapshot 4.

Reverting the /etc/hosts change on my test host, so that it does not include an entry for my hostnam

[2019-01-24 19:56] mglantz commented on #1046
Perhaps a wild goose chase, but difference from an initial failed run on a newly installed server, to the first successful run, is:
[code]
And
[code]

Creation of backingFsBlockDev seems to live in: vendor/github.com/containers/storage/drivers/quota/projectquota.go
[code]

[2019-01-24 21:34] mglantz commented on #1046
I did a replicator where I install two new RHEL 8 HTB snap4 instances, and only once run:
podman build --log-level debug -t podman:test .
On one machine, I implemented the work around, on one not, before running the commands, so the output should be very similar and point at what is different.

Here's the debug output, attached. Perhaps it contains something to move this forward.
podman-build-ok.t

[2019-01-24 22:50] mglantz commented on #1046
Looking at the differences between ok build and failed build, and specifically on DEBU[n] messages, the failed build displays messages about "DEBU[0002] Detected compression format gzip" which the ok build does not. Perhaps that is clue that the problem is triggered by a race condition. I'll be online tomorrow if you need more info from my test beds.

[2019-01-25 09:48] mglantz commented on #1046
If it works on docker, but not on podman, and as I could test - the problem only appears if hostname does not have an entry in /etc/hosts on the machine you build on - then perhaps the issue is related to https://github.com/containers/image/issues/72. Just a thought.

[2019-01-25 09:54] mglantz commented on #1046
Worth to note is that there are a lot of systems without a hostname entry in /etc/hosts, so this seems like something a lot of people will hit. At least on RHEL 8, where I can replicate this at will on a default install (RHEL does not by default create a hostname entry in /etc/hosts, probably also the case for most Linux OSs).

[2019-01-25 15:59] TomSweeneyRedHat commented on #1046
@mglantz thanks for all the follow ups.  I'm able to replicate this on F29 with Buildah 1.6 using the Dockerfile that you supplied

[code]

The tail end of the error is from dnf not being happy, likely as you pointed out due to /etc/hosts being out of whack.

[code]

Now to try to figure out the why, although this seems to be vaguely familar, I thought we'd an issue like this back around the 1.3 t

[2019-01-25 16:39] mglantz commented on #1046
Yeah @TomSweeneyRedHat, in 1.3, there was a fix for 'Force ownership of /etc/hosts and /etc/resolv.conf to 0:0'.

[2019-01-25 19:12] TomSweeneyRedHat commented on #1046
@rhatdan @nalind, I'm suspecting we might have a systemd error.  I found the same issue running on Buildah 1.5, so this is not a new to that issue.

I've pulled the Dockerfile out of the equation and am simply doing:
[code]
If I try to remove setup:

$ sudo yum remove -y setup
--> Running transaction check
---> Package openssh-clients.x86_64 0:7.4p1-16.el7 will be erased
--> Finished Dependency Re

[2019-01-26 05:35] limup commented on #475
Thanks soooooo much!!!!

Now... I have a new error:

/bin/bash: /docker-entrypoint.sh: Permission denied

=( =(

[2019-01-26 14:36] TomSweeneyRedHat commented on #475
@limup can you open a new issue please and send us details if you've not figured out the issue yet?

[2019-01-27 17:53] TomSweeneyRedHat commented on #475
Thanks for the follow up and solution @limup !

[2019-01-28 02:20] AndydeCleyre opened #1304 "overlay/overlay2 not supported by kernel 4.20.3 or extfs?"
Arch Linux
Ext4

I thought that the overlay(2) driver was pretty much always recommended, but since I upgraded buildah to 1.6, it seems to say it's not supported over extfs anymore, though I can't find info on that anywhere. Can anyone clear things up for me? I believe vfs performance is expected to be awful. What should I be using?

[code]
[code]

[code]

[code]

**`/etc/containers/storage.conf`:

[2019-01-28 08:12] TomasTomecek commented on #1304
There is a bug somewhere, I erased `~/.local/share/containers` and `~/.config/containers` to start from scratch and then it started to work as expected. I think there is an issue related to this.

Also, there is no `overlay2` in podman/world; just overlay.

[2019-01-28 08:40] AndydeCleyre commented on #1304
@TomasTomecek work as expected with overlay, or did it change your config to vfs?

[2019-01-28 09:16] TomasTomecek commented on #1304
I think your issue is a dupe of https://github.com/containers/libpod/issues/2172

Overlay. I don't use vfs, it is slow and inefficient.

[2019-01-28 10:07] rhatdan commented on #1304
The overlay driver is doing some testing to see if the file system as full support on file system it is attempting to use.  Could you turn on full debugging to see if containers/storage gives you more information on why it says the storage is not working?

@nalind @rhvgoyal.   Should overlay work on extfs?

[2019-01-28 11:57] rhatdan commented on #1046
After reading all of these remarks, is the solution to the problem populating the hostname within the /etc/hosts that gets mounted into the container?

[2019-01-28 12:23] rhatdan commented on #475
@limup I would rather you called it container-entrypoint, and ran it with podman :^)

[2019-01-28 14:43] mglantz commented on #1046
Not sure how it works, but, putting the hostname into /etc/hosts of the OS instance running the container solves the problem.

[2019-01-28 16:41] rhatdan commented on #1304
[code]

[2019-01-28 17:32] AndydeCleyre commented on #1304
It's happening on ext4, as reported. I notice now this only happens when running buildah as a regular user (buildah-in-a-user-namespace).

I'll include the comment-stripped `/etc/containers/storage.conf`:

[code]

Back to regular user:

[code]

[code]

Maybe I haven't properly configured user namespace stuff. What I've done:

`/etc/subuid`:
`andy:100000:65536`

`/etc/subgid`:
`andy:100000:65536`

[2019-01-28 21:11] qiancai commented on #1304
Well, Fedora workstation and Cloud image uses ext4 as the default rootfs. Many other distros use ext4 as default too. I don't see any reasons podman should not support ext4.

[2019-01-29 09:15] praiskup opened #1305 "umask 0077 breaks build-using-dockerfile with USER statement"
BUG REPORT INFORMATION
---------------------------------------------------

[code]

**Description**

Ideally, buildah should make sure that the created `/` directory is created a standard way (say chmod 666 per filesystem.rpm content), or if it at least warned properly.

**Describe the results you received:**

`buildah bud` ends with strange permission error with umask 0077 after `USER` command/st

[2019-01-29 11:21] rhatdan commented on #1046
The problem, I think is that the /etc/hosts file is a mount point, and the setup install is trying to rename it.
[code]

Same thing happens with Docker and Podman.

[2019-01-29 11:22] rhatdan commented on #1046
error: unpacking of archive failed on file /etc/hosts: cpio: rename

[2019-01-29 11:31] rhatdan commented on #1304
I can get something like this to happen if I have a bogus entry in ~/.config/containers/storage.conf

[code]

[code]

If you remove this and install fuse-overlayfs does the problem go away?

[2019-01-29 11:32] rhatdan commented on #1304
Overlayfs is not supported in rootless mode UNLESS fuse-overlay is configured as the mount-program.

[2019-01-29 13:19] TomSweeneyRedHat commented on #1046
@rhatdan I agree with the /etc/host being a mount point and setup trying to rename it as the probable issue.  Not sure how to get around that though.

[2019-01-29 13:47] TomSweeneyRedHat commented on #1305
@giuseppe any thoughts?

[2019-01-29 14:25] giuseppe commented on #1305
I recently fixed an issue in fuse-overlayfs not honoring umask.  It is released as part of fuse-overlayfs 0.3:
https://github.com/containers/fuse-overlayfs/pull/40

What version of fuse-overlayfs are you using?

[2019-01-29 14:32] giuseppe commented on #1305
I see the problem now.

The same thing happens when running as root though.  Should buildah stop honoring `umask` and override it?  I think that if umask is set it should be honored, perhaps we can add a warning.

@rhatdan @nalind what do you think?

[2019-01-29 14:35] giuseppe commented on #1286
@TomSweeneyRedHat it works well for me.  How does your `~/.config/containers/storage.conf` look like?

[2019-01-29 14:47] TomasTomecek commented on #1286
I feel like it's finally time to change the functionality so that buildah (and podman) errors out when the parser can't process the storage.conf; this is like the 3rd issue related to this.

[2019-01-29 14:48] praiskup commented on #1305
@giuseppe wrote:

I'd agree if that was manually created directory, but in this case -> I just inherited from
`fedora:29` image, I did `RUN useradd foo` -> `USER foo` -> and then any `RUN`
command issued later (as `foo` user) fails because `foo` is unable to read `/` directory.
It's unexpected, warning in this case doesn't seem to be convenient enough.

[2019-01-29 14:54] TomSweeneyRedHat commented on #1286
@giuseppe I'm not able to replicate it now.  @ipbabble ran into this last week too, seems like it might be related to upgrading from 1.5 to 1.6, but I've tried to get it to break in that environment too without luck.

[2019-01-29 15:22] giuseppe commented on #1286
I've tried with an invalid configuration file:

[code]

or to `chmod` it to `000` and:

[code]

so the problem that was seen here should be different.

Was perhaps only `overlay` specified but no `mount_program`?

In that case, the error is correct as the kernel implementation of overlay cannot be used by unprivileged users.

[2019-01-29 18:22] rhatdan commented on #1305
I think we should make sure that the / of the image is searchable. 0755.  If that is what the issue is?

[2019-01-29 18:32] rhatdan commented on #1286
Yes I think this situation is happening when someone runs podman without fuse-ovleray installed and the storage.conf file gets created as overlay.  I don't know how this is happening.

[2019-01-29 19:34] TomSweeneyRedHat opened #1307 "RFE - Report that configuration files are missing"
**Description**

I'm just making an issue so it doesn't get lost in the shuffle.  In #810 @rhatdan noted that we should at least throw a warning if the required [configuration files](https://github.com/containers/buildah/blob/master/install.md#configuration-files) such as registry.conf, storage.conf, policy.json, mount.conf, etc are not found when running a Buildah command.

This is probably a goo

[2019-01-29 19:37] TomSweeneyRedHat commented on #1157
@rhatdan I think you fixed this.  Can you tag your PR here if so and close this?

[2019-01-29 20:01] limup commented on #475
I'm curious with the podman... what's it? And what is it useful for?

[2019-01-29 20:02] limup commented on #475
@rhatdan I'm curious with the podman... what's it? And what is it useful for?

[2019-01-29 20:52] TomSweeneyRedHat commented on #475
@limup Podman is a related project to Buildah.  It lives under the libpod project at:  https://github.com/containers/libpod and has it's own website https://podman.io.  In short, it's a OCI compliant container system.  `buildah run` emulates what happens with the `RUN` command in a Dockerfile.  `podman run` is the equivalent of the cli `docker run` command.  In fact you can alias podman for docker

[2019-01-29 23:30] limup commented on #475
Thanks for sharing it.

[2019-01-30 06:28] Abhi03594 opened #1308 "abhi@abhi-Lenovo-B50-70:~$ docker exec -it 003a12b05c74 bash Error response from daemon: Container 003a12b05c744bcf4e10dadee0408858be167e48f2157d95b1be5f58dfac214b is not running"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman version` if reporting a `podman build` issue:**

[code]

**Output of `cat /etc/*release`:**

[code]

**Output of `uname -a`:**

[code]

[2019-01-30 07:22] #1308 closed

[2019-01-30 08:48] rhatdan commented on #1157
It has not been merged yet and it was for podman.   But why is this a buildah issue?  Buildah does not have this issue.  It is caused by the libpod database.

[2019-01-30 08:48] #1157 closed

[2019-01-30 10:45] mstavares opened #1309 ""runc": executable file not found"
Hi,

I have the same issue that is described here https://github.com/nkhare/k8s-cicd-webinars/issues/6

error:
error running container: error creating container for [/bin/sh -c mkdir -p /usr/src/app]: : exec: "runc": executable file not found in $PATH

This is running in a docker:
RUN sudo apt-get install golang-go -y

RUN mkdir ~/buildah
RUN cd ~/buildah
RUN export GOPATH=pwd
RUN git clone https:

[2019-01-30 11:42] rhatdan commented on #1309
You need to install runc and a few other packages in order to make this work, or just install the buildah package which should pull in the packaged software.  Look at https://github.com/containers/buildah/blob/master/install.md

[2019-01-30 13:15] mstavares commented on #1309
Hi @rhatdan

Thanks a lot!

[2019-01-30 13:15] #1309 closed

[2019-01-30 13:19] rhatdan commented on #1308
@Abhi03594 Problem go away?

[2019-01-30 14:16] rhatdan commented on #1307
I agree. lets setup a library in buildah that checks this.
pkg/utils/
or something like that which validates all of the tools required for setup exists.

[2019-01-31 09:10] mglantz commented on #1046
Can it perhaps be like this?

The setup RPM contains /etc/hosts. AFAIKS, the RPM includes no scripts which does things with /etc/hosts and RPM should not replace any existing files, by default at least. So, why does setup then touch /etc/hosts? I suppose that is because it does not see /etc/hosts, and tries to put the file in place - which then does not work.

But, when I add the FQDN to /etc/host

[2019-01-31 09:43] mglantz commented on #1046
@rhatdan strangely enough, I now found this:

If I build the container with below:
[code]
Then the RPM does not get installed and a container get's built without issues. So, if the problem is that setup cannot see /etc/hosts, it has some other view than when that evaluation is run. If I then re-build the container with:
[code]
There are no problems and setup get's updated, even without doing anyth

[2019-01-31 10:09] rhatdan commented on #1046
Looking at setup.conf, it lists /etc/hosts as
%config(noreplace) /etc/host.conf

Which means it checks to see if the config has been modified from the default, and if so it does not replace it.  If the /etc/host.conf has not been changed then it will replace it.

This is why when you modify the /etc/hosts from the system setup.conf does not change it.

What we could do is modify the hosts file tha

[2019-01-31 13:09] h-vetinari commented on #632
Hitting this issue hard as I need multistage builds with `--target`, but can't upgrade docker from within RHEL past 1.13, and podman/buildah in the newest RHEL7.6 (or 8beta for that matter), do not yet replicate the 1.5year old ability of docker...

[2019-01-31 15:44] EmilienM opened #1314 "RFE - Python library"
This is a request for feature to have a Python library where we could manipulate container images, like python-docker is providing, but with Buildah.

[2019-01-31 16:17] TomasTomecek commented on #1314
I wrote a decent amount of python code which wraps buildah commands in ansible-bender:

https://github.com/TomasTomecek/ansible-bender/blob/master/ansible_bender/builders/buildah_builder.py

I'm planning to move the code to container library of ours: [conu](https://github.com/user-cont/conu)

[2019-01-31 20:40] adambkaplan opened #1316 "Respect `registries.conf` search list for image pulls"
`buildah pull` currently does not consult the `registries.conf` search list when doing an image pull. It instead uses "docker-centric" logic to pull from `docker.io` if no repository is specified in an image pull spec.

This can cause builds to break if `docker.io` is not in the `registries.conf` search path. See report in https://github.com/containers/image/issues/572.

[2019-02-01 14:14] rhatdan commented on #632
podman 1.0 and buildah 1.6 should have support for this.

[2019-02-01 16:25] rhatdan commented on #632
Ok, could you make this happen.

[2019-02-01 18:37] aravindhp opened #1317 "Unable to vendor in buildah using "dep ensure""
**Unable to vendor in buildah using "dep ensure"**

I am trying to use buildah in a Go dep [project](https://github.com/aravindhp/buildah-example/) but am running into issues vendoring it in. I see the following error when I run `dep ensure -v`:
[code]
I am seeing this with dep v0.5.0.
[code]
Full output of `dep ensure -v` can be found [here](http://pasted.co/e75f5967).

cc @nalind

**Steps to rep

[2019-02-01 19:11] rhatdan commented on #1316
Tom can you check this and make it work the same way podman pull works?

@vrothberg @mtrmac Is this something that is being moved into container/image?

[2019-02-01 20:16] rhatdan commented on #1314
@EmilienM Is https://github.com/containers/python-podman/ what you are looking for?  Goal is to support Dockerfile for podman.  Or do you want lower level stuff like buildah provides?

[2019-02-01 20:52] EmilienM commented on #1314
We need buildah bug and buildah push so far.

On Fri, Feb 1, 2019 at 3:16 PM Daniel J Walsh <notifications@github.com>
wrote:

--
Emilien Macchi

[2019-02-02 00:59] mtrmac commented on #1316
c/image won’t natively implement the signature-breaking search in the `docker://` transport if I can help it.  We have been speculatively talking about sharing the buildah and Podman implementations, maybe placing that shared code in some explicitly-opt-in subpackage of c/image (better to have one problematic code than two), but for now the two are different (and a bit diverging over time).

FWIW

[2019-02-02 11:05] rhatdan commented on #1307
Why do we need this if the errors look pretty good and the tools actually work in some cases without the files.

Lets examine the errors.
# No registries.conf
[code]

# No Policy.json
[code]

# No /etc/containers/storage.conf

[code]

[2019-02-02 15:18] QiWang19 commented on #1307
I agree. I don't think this is necessary

[2019-02-02 17:56] TomSweeneyRedHat commented on #1307
I didn't double check before throwing up this RFE, just saw @rhatdan's request there to verify the file existence and didn't want to lose that thought before cleaning that issue up.  From what I see above, the verbiage could be better for registries.conf and policy.json.  I still think there's some value to at least printing out a warning if either of those files is not found with a message to tha

[2019-02-02 18:11] TomSweeneyRedHat commented on #1296
@giuseppe any further thoughts?

[2019-02-04 08:13] TomasTomecek commented on #1314
You can do that with podman: `podman build` and `podman push`; respective python-podman code:

https://github.com/containers/python-podman/blob/ae1ff6785714eb6418021e148401a89794570299/podman/podman/libs/images.py#L78

https://github.com/containers/python-podman/blob/ae1ff6785714eb6418021e148401a89794570299/podman/podman/libs/images.py#L114

[2019-02-04 12:40] rhatdan commented on #1314
I think those parts of the library need work.  PR's welcomed.

[2019-02-04 16:48] mtrmac commented on #1316
That’s not quite how we think of them; projectatomic/docker has diverged from upstream (e.g. in https://github.com/projectatomic/docker/commit/8193836927adc3cf0f9f84be43680a832855c2ae ) to define (hostname-)“qualified”/“unqualified” names; unqualified mean “use the search list”, but that’s not the same thing as treating the search list as mirrors — notably
1. the pulled image is tagged with the ho

[2019-02-05 10:47] giuseppe commented on #1296
PR here: https://github.com/containers/buildah/pull/1323

[2019-02-05 13:31] giuseppe commented on #1305
I am still not sure we should override the umask if it is set.  If that is what the user expects, we are going to silently override it.

I think we should just add a warning when `umask` is set

[2019-02-05 14:37] adambkaplan commented on #699
@TomSweeneyRedHat this seems to have been broken since May.

Steps to reproduce:

1. Clone https://github.com/adambkaplan/dockerignore.git
2. Build image with buildah (`buildah bud ...`)

Expected result:
* LICENSE and README.md should not be listed during the build process

Actual result:
* LICENSE and README.md are include in the final image.

[2019-02-05 15:06] TomSweeneyRedHat commented on #699
Thanks for the heads up @adambkaplan, I'll reopen this then.

[2019-02-05 15:58] #1296 closed

[2019-02-05 18:21] rhatdan commented on #1305
Is this just leaking through to containers/storage?  IE when it writes the image / ends up with two tight of permissions.  I think we could eaisly override the permissions on /.

[2019-02-05 19:12] nalind commented on #1317
Does adding this snippet to your top-level `Gopkg.toml` help?
[code]

[2019-02-05 19:55] nalind commented on #1317
Scratch that.  Try using
[code]
and building with the `containers_image_docker_daemon_stub` tag.  The latter override should change if/when https://github.com/openshift/moby-moby/pull/1 is merged.

[2019-02-05 21:18] aravindhp commented on #1317
With those overrides `dep ensure -v` went through. I will try adding the tag to my build shortly and ensure that it builds too.

[2019-02-06 09:55] giuseppe commented on #1305
we can simply solve it as:

[code]

but I am still not convinced we should silently do it.

Perhaps we should just fail the build as having a `umask` in place breaks the reproducibility of builds as different umask generates different images

[2019-02-06 10:14] praiskup commented on #1305
This would require a definition of "expected umask value".  I have (intentionally) 0077 for years on my box, but users can have any value there (default on _Fedora_ is 0022 afaik).

[2019-02-06 12:11] giuseppe commented on #1305
I think the only "expected umask value" should be 0.  Anything else modifies how the image looks like, so we need to either error out, or force it to 0 and throw a warning

[2019-02-06 12:31] praiskup commented on #1305
OK, I agree that it should be zero, but bothering errors everywhere (because the distributions defaults) don't make sense IMO. Enforcing umask 0 makes more sense at least to me.

[2019-02-06 13:10] giuseppe commented on #1305
Proposed fix: https://github.com/containers/buildah/pull/1325

I'll probably need to do the same thing for Podman

[2019-02-07 11:00] gregoryboue commented on #1177
Hi,

Do you have some news on this subject ?

[2019-02-07 18:08] #1305 closed

[2019-02-07 18:31] TomSweeneyRedHat commented on #1177
Sorry @gregoryboue no news as of yet.  It's on the list but we've not yet popped it up to the top of the list.

[2019-02-07 19:40] EmilienM opened #1328 "Ctrl+C doesn't stop image push"
Demo of how to reproduce:
<a href="https://asciinema.org/a/lCodlrrnfV63YVyZxbTtQG8LW" target="_blank"><img src="https://asciinema.org/a/lCodlrrnfV63YVyZxbTtQG8LW.svg" /></a>

Basically try to push an image with buildah and Ctrl+C won't stop the build.

[2019-02-07 21:21] rhatdan commented on #1177
@giuseppe What exactly is in the COPY directory?
COPY tocopy/config ./config

[2019-02-08 07:49] gregoryboue opened #1329 "buildah bud : --creds with multi-stage build"
**Description**

When I execute a buildah bud with a multi-stage Dockerfile with :

- A first FROM an image on public registry
- A second FROM an image on private registry
- With --creds for the private registry

I have an error on the first FROM execution :

`Error determining manifest MIME type for docker://mypublicregistry/myimage:tag: unable to retrieve auth token: invalid username/password`

[2019-02-08 14:20] TomSweeneyRedHat commented on #1329
Hi @gregoryboue , thanks for the issue.

Two quick thoughts.  First is if you can, please upgrade to the latest Buildah.  We're currently at v1.6 and upstream in GitHub is v1.7.  We'd a number of changes that went in for v1.5 surrounding credential fixes that might address this issue and a few more in 1.6.

Secondly rather than using the --creds option with the buildh, can you install podman and t

[2019-02-08 19:33] Zathrus opened #1330 "Buildah uses cache even when file permissions change"
**Description**

Rebuilding a container with changes to permissions on files included by COPY ignores the changes and uses cache.

**Steps to reproduce the issue:**
1. Build container with COPY command
2. Change permission on file being copied (e.g. -- chmod +x file)
3. Rebuild container.

**Describe the results you received:**
Buildah used cache for every step, including COPY step and all steps a

[2019-02-08 19:47] TomSweeneyRedHat commented on #1330
@Zathrus thanks for the issue, we'll take a look.

[2019-02-11 10:03] olivierGATSNCF commented on #1177
Hi, in my sample, tocopy/config contains  a default elasticsearch.yml and a file logging.yml

[2019-02-11 16:19] EmilienM opened #1332 "buildah bud doesn't work from current master on f28 (likely due to overlayfs)"
**Description**

Running buildah bud from master on fedora 28 doesn't work, and it works fine with buildah 1.6.

**Steps to reproduce the issue:**
Run the demo script: https://github.com/containers/buildah/blob/master/demos/buildah-bud-demo.sh

**Describe the results you received:**
[code]

**Describe the results you expected:**
Build should work.

**Output of `buildah version`:**

[code]

**Outpu

[2019-02-11 16:21] rhatdan commented on #1332
Could you show us the error you are seeing?

[2019-02-11 16:23] EmilienM commented on #1332
@rhatdan done

[2019-02-11 16:28] EmilienM commented on #1332
[code]

[2019-02-11 17:09] EmilienM commented on #1332
I'm trying again on a fresh environment...

[2019-02-11 17:21] EmilienM commented on #1332
[code]

still failing.

[2019-02-11 17:50] TomSweeneyRedHat commented on #1332
I hopped on @EmilienM vm for a bit and found this:
[code]

I built a F28 vm, did 'dnf -y update' on it, then installed Buildah from GitHub.  The above build worked fine for me on both root and non-root on that vm.  I tried the demo script too and that worked fine on my vm.

@EmilienM tried to run the demo script as root and hit `container exited on segmentation fault`.
He then went on and tried ru

[2019-02-11 18:04] rhatdan commented on #1332
Does he have fuse-overlay installed or a bad config in ~/.config/containers/storage.conf?

[2019-02-11 18:19] EmilienM commented on #1332
(containers-venv) [fedora@buildah ~]$ rpm -qa|grep fuse-overlayfs
fuse-overlayfs-0.3-1.dev.git6d269aa.fc28.x86_64

[2019-02-11 18:19] EmilienM commented on #1332
and no custom config, running defaults everywhere

[2019-02-11 18:51] TomSweeneyRedHat commented on #1332
Talking with @EmilienM via IRC, he informed me that he's been referencing  https://www.scrivano.org/2018/07/13/fuse-overlayfs-moved-to-github-com-containers/ and trying a command like:

buildah  --storage-opt overlay2.fuse_program=/usr/bin/fuse-overlayfs bud -t tom -f Dockerfile.fedora .

Without success as of v1.7.  This worked in v1.6.

[2019-02-11 18:52] EmilienM commented on #1332
cat .config/containers/storage.conf
[code]

[2019-02-11 20:03] giuseppe commented on #1332
I think this is a regression introduced by 3e175b1f7acff69b551ec5cf51e9cc25ef8d5ea2

it is already fixed upstream with 310363c1146b65e6b7f21134283905d8d6caaf47

Can someone confirm that v1.7 includes the first commit but not the second?

[2019-02-11 20:34] giuseppe commented on #1332
@EmilienM the kernel 4.16.3-301.fc28.x86_64 you are using is too old.

FUSE file systems in a user namespaces are supported since Linux 4.18

[2019-02-11 20:40] TomSweeneyRedHat commented on #1332
I see all of 310363c in upstream and also all of 3e175b1.  I'm thinking it's the kernel.  Sound like something we should add to the known issues page if so.

[2019-02-11 20:40] TomSweeneyRedHat commented on #1332
didn't mean to close this.

[2019-02-12 02:16] EmilienM commented on #1332
my issue is actually with rootless containers.

I got this runc error:

[code]

If I build with sudo, it works fine.

Full trace: http://paste.openstack.org/show/L7QNKnVKKi4TWWrXO1Xw/

[2019-02-12 08:29] giuseppe commented on #1332
the segfault looks like an issue we had with SELinux also on Fedora 29.

Are you running in permissive mode?

[2019-02-12 11:55] EmilienM commented on #1332
No, enforced.

---
Emilien Macchi

On Tue, Feb 12, 2019, 3:29 AM Giuseppe Scrivano <notifications@github.com
wrote:

[2019-02-12 14:49] rhatdan commented on #1332
Does it work in permissive, if yes, then could you attach the AVCs/.
ausearch -m avc -ts recent

[2019-02-12 17:20] bogdando commented on #1332
As this is "installing from trunk" a testing effort, I wanted to ask for how exactly **Output of `podman version` if reporting a `podman build` issue** info correlates to **Output of `buildah version`**? I know buildah vendors podman and does not use the system installed version of it, right? Therefore, those versions prolly say nothing? Shall buildah's podman vendored version always match to the

[2019-02-12 17:30] EmilienM commented on #1332
@rhatdan switched to permissive, and ran again:
[code]

It manages to build, but not to push the image to a local docker registry v2:
[code]

docker-distribution-2.6.2-7.git48294d9.fc28.x86_64
[code]

[2019-02-12 17:41] EmilienM commented on #1332
More logs: https://paste.fedoraproject.org/paste/oaAz~nodFQ~kaHtQwQSOqg

[2019-02-12 18:02] EmilienM commented on #1332
A demo of the proof that it works fine in buildah 1.6 and not on master:
https://asciinema.org/a/yQ7PbHGvMjdQP8GXQb4xhPF35

[2019-02-12 18:50] TomSweeneyRedHat commented on #1332
@boaz0 It's complicated.  Buildah is vendored into Podman and Libpod which is the library that Podman uses, is vendored into Buildah.  So the `podman version` value shows the version of Podman that you're running.  If you do `podman info`, one of the values in that output is "BuildahVersion" which is the version of Buildah that was vendored into that particular Podman.

How to correlate based sole

[2019-02-12 21:17] TomSweeneyRedHat commented on #1266
@KenYN We've created the CreatedAtRaw field for images with #1269 and I think the other dates we're displaying are fine.  If you think we need further work here, please re-open and let us know which field(s) is problematic for you.

[2019-02-12 21:17] #1266 closed

[2019-02-12 21:49] TomSweeneyRedHat commented on #1177
@olivierGATSNCF finally had some time to play with this and it worked for me.  However, the files that I used were just empties that I touched, ie elasticsearch.yml.  I used the latest Buildah from upstream, v1.7-dev.

[code]

Can you try with the latest and greatest or try again using different files that include a touched file rather than that particular *.yml.

Also I don't think your Dockerfil

[2019-02-13 01:13] TomSweeneyRedHat commented on #1276
@hpvb finally got some time back to it.  I used the Dockerfile from your last reply and did `buildah bud -t tom -f ~/Dockerfile.multistage .` four times in a row and they all worked.  This was using:

[code]

I know that we'd a number of fixes for `COPY --from` and `FROM name AS stage` that went into Buildah v1.6.  Is there any chance you could upgrade and try the above Dockerfile again?  It would

[2019-02-13 05:57] rhatdan commented on #1332
The AVCs indicate container-selinux is either old or did not install correctly.

yum -y update container-selinux --enaberepo=updates-testing
yum -y reinstall container-selinux

Make sure nothing blows up when you do this.
rpm -q container-selinux

[2019-02-13 10:08] bogdando commented on #1332
@TomSweeneyRedHat thank you for explaining the versioning schemes. I raised that topic here only as it happened that this particular bug (and the submission form) seems missing then the vendored libpod version to be shown for ``buildah info``, and ``podman info`` to show the vendored buildah version. So these numbers might be good to have and check if things are set nicely. That is only important

[2019-02-13 10:34] gregoryboue commented on #1329
Hi @TomSweeneyRedHat , thanks for the answer, I did another test with this buildah version :

[code]

The result is the same, for the second way to do it with podman login, it can be a solution but in a CI build context is not so easy to managed it

[2019-02-13 11:23] giuseppe commented on #1332
it seems you have a user file that overrides the global configuration:

[code]

you can either use `/home/fedora/.config/containers/registries.conf` or delete it then the global configuration file will be used

[2019-02-13 11:25] rhatdan commented on #1332
I did not know we supported local versions of this file.  We probably need to think about this.  We should check the global blocked registries, and enforce them on the local podman.  Since if an admin says no image from hackme.com then we should enforce this on rootless and rootful,

[2019-02-13 15:01] SergeyBear commented on #1279
Hello!

+1 for invoking unshare silently in mount in rootless mode, because non-interactive case already broken:

    id=$(buildah from centos)
    mount=$(buildah unshare buildah mount ${id})

returns:

    Main config did not have a override_install_langs attr. before setopt
    Main config did not have a override_install_langs attr. before setopt
    Error: This command has to be run under the

[2019-02-13 15:05] giuseppe commented on #1279
@SergeyBear that won't work.

You need to use unshare before using any other buildah command.

@TomasTomecek already solved the issue he was having that way.  I think we can close this issue

[2019-02-13 15:33] SergeyBear commented on #1279
@giuseppe oh, I see, like that it worked:

    buildah unshare ./build.sh

Thant you!

**P.S.** But imho, it would be nice not to bother about different tricks and rootless mode worked out of the box.

[2019-02-13 15:36] giuseppe commented on #1279
@SergeyBear the problem is that what we want to achieve is not permitted.  Once the process exits, there is no mount point that will survive it, and this is done for good reasons as an unprivileged user cannot mount stuff on the host.

We need to stay in the same namespace, where the mount exists and is accessible.

I am not trying to avoid fixing it, it is just not possible :-)

[2019-02-13 15:40] SergeyBear commented on #1279
@giuseppe please, don't get me wrong, I'm just saying from perspective of user which I'm now :-)

[2019-02-13 17:39] mlbiam opened #1335 "How to use buildah bud inside of unprivileged container"
**Description**

Trying to create a jenkins-agent using buildah to create containers in an unprivileged container. When I run `buildah bud -t local/ous2i .` I get the error: `ERRO[0000] error reading allowed ID mappings: error reading subuid mappings for user "default" and subgid mappings for group "default": No subuid ranges found for user "default" in /etc/subuid `.  Here's by container's Docker

[2019-02-13 17:48] TomSweeneyRedHat commented on #1335
@giuseppe PTAL, I believe this is related to my the buildah in a container blog issue that I ran into over the holiday break.

[2019-02-13 18:22] TomSweeneyRedHat opened #1336 "--disable-compression is set to false by default and should be true."
**Description**

The man page for `buildah commit` and others state that `--disable-compression` is the default setting or set to true.  However the code has it set to false by default.

***Output of `buildah version`:**

[code]

[2019-02-13 22:51] rhatdan commented on #1279
I think we need to fix this via documentation.  In rootless mode buildah mount should throw and error explainign how you need to do this in rootless mode.
[code]

[2019-02-13 22:52] rhatdan commented on #1279
@SergeyBear I agree with you people are stumbling over this, and we at least need to make it clear what is going on.

[2019-02-13 23:12] EmilienM commented on #1332
@giuseppe I don't understand your comment. I didn't touch any config file and with Buildah 1.6 everything works fine (see my demo, linked in https://github.com/containers/buildah/issues/1332#issuecomment-462867917).

I removed `/home/fedora/.config/containers/registries.conf`, my `/etc/containers/registries.conf` has:

[code]

And I'm running Buildah as root, and it fails:
[code]

So there is an a

[2019-02-14 08:53] giuseppe commented on #1332
in the demo I see you are running rootless?  So that could have changed, since now we have the possibility of having a per-user `registries.conf` file, that overrides the global one.

If you are also seeing the same problem when running as root, then it is something different.

This is what I see locally with buildah from master:
[code]

Could you attach the log of `buildah --debug push ...` when

[2019-02-14 09:37] giuseppe commented on #1279
we already have an error when trying to mount overlay directly without an `unshare` environment, and we have also the documentation for it: https://github.com/containers/buildah/commit/b4f712fa756aeb10169d4b43eee83edc894d1604

I've opened another PR to improve the error message: https://github.com/containers/buildah/pull/1339

[2019-02-14 13:26] rhatdan commented on #1335
This particular error is around the /etc/subuid and /etc/subgid range not being fully populated.  Which is going to cause an issue.  Centos7 does not have a new enough version of shadow-utils to make this work.  RHEL7.7 will have the update in the summer.

 I really think we need to fully document different ways of doing this, with an extensive blog.  Perhaps @TomSweeneyRedHat you and I can work o

[2019-02-14 13:33] giuseppe commented on #1335
we already had a similar issue with Podman:

https://github.com/containers/libpod/issues/1092

if you are controlling the Docker container though, you can tweak its capabilities and add CAP_SETUID/CAP_SETGID, that should be enough to configure the user namespace with a new enough version of shadow-utils.  Older versions required CAP_SYS_ADMIN.

An image based on centos7 won't have shadow-utils.  I

[2019-02-14 14:29] mlbiam commented on #1335
My use case is to automate the creation of my RHEL s2i builder image via the same process I automate my other builds.  Right now we use the Jenkins that comes with OKD 3.11 and the maven agents for Java with Google's JIB to generate our non centos/rhel images and just a webhook call to dockerhub for our centos s2i image.  So my thought was to use buildah from inside an agent to give us the same ty

[2019-02-14 14:53] olivierGATSNCF commented on #1177
Thanks for your attention. It seems that deleting VOLUME instruction solve our problem

[2019-02-14 14:54] TomSweeneyRedHat commented on #1177
@olivierGATSNCF thanks for the initial issue and the follow ups.  I'm going to close this now.  If you run into this again, please feel free to reopen or start a new issue as you feel appropriate.

[2019-02-14 14:54] #1177 closed

[2019-02-14 15:18] EmilienM commented on #1332
@giuseppe

[code]

[code]

[2019-02-14 15:48] giuseppe commented on #1332
interesting, it seems that `--tls-verify=False` causes the issue.  It is not honored and it also inhibit the change in the `registries.conf` file.

@mtrmac do you know what is going on here?

[2019-02-14 18:55] mtrmac commented on #1332
@baude

- https://github.com/containers/buildah/blob/e4c4d465bff217c1101b672d9eae0bc507667a35/cmd/buildah/push.go#L31 is a confusing red herring, nothing ever uses the value. Why have it there?!
- https://github.com/containers/buildah/blob/e4c4d465bff217c1101b672d9eae0bc507667a35/pkg/parse/parse.go#L252-L257 is where the value is set, and it gets the polarity wrong.

(Besides fixing the polarity,

[2019-02-17 11:53] #1336 closed

[2019-02-17 20:14] #1279 closed

[2019-02-18 15:57] miabbott opened #1345 "rootless buildah doesn't like relative paths to storage root"
Using `buildah-1.6-2.git5f95bd9.fc29.x86_64` on Fedora Silverblue 29:

When trying to do `buildah from scratch` and providing a relative path to the storage root, `buildah` will just hang:

[code]

If I use an absolute path, all is well:

[code]