[2021-07-19 17:06] #3307 closed

[2021-07-19 17:50] nalind commented on #3392
The name that follows `AS` can be used as a base for a subsequent stage (`FROM`) or referred to as a source to use instead of the build context in a `COPY --from` instruction.  In both cases, the image being referred to can be either an alias for the output of a previous stage, named using `FROM ... AS ...` in that previous stage, or any other image.  The `COPY` usage can also accept a zero-based

[2021-07-19 17:56] rhatdan commented on #3388
@nalind PTAL

[2021-07-19 18:32] cevich commented on #3392
Thanks @nalind that's my understanding as well.  So I'm really not sure how this flake happened, and if fixing it will also address subsequent bad behavior (trying to pull remotely)?

Flake-wise: Is it possible we hit some strange storage-failure condition, and that's why buildah went chasing down other source for the 'base' image?

Since you know the code best, if you can think of a way I can art

[2021-07-19 18:43] nalind commented on #3392
The mention of `quay.io/libpod/base` in `Error initializing source docker://base:latest: Error reading manifest latest in quay.io/libpod/base: unauthorized: access to the requested resource is not authorized` is also confusing, as though the name is being rewritten per mirroring configuration in the test's `registries.conf` file.

[2021-07-19 19:09] cevich commented on #3392
Yes, exactly.

That's why I think there might also be something in the error-path that's missing/broken.  Maybe a debug statement that needs to become a warning?  The fact that we don't see _any_ prior error identifying the actual cause, is itself concerning.  For example, let's suppose the disk ran out of space.  I wouldn't mind seeing the alias name (or number) in something like:

[code]

Even t

[2021-07-19 19:13] nalind commented on #3392
That is how it was written.  You may have found a regression.

[2021-07-19 19:33] cevich commented on #3392
Hehe, well I won't take all the credit.  It really was found by a combination of dumb luck and good test coverage.

[2021-07-20 01:15] TomSweeneyRedHat commented on #3382
Ping @rhatdan @nalind @fatherlinux @mtrmac @vrothberg

[2021-07-20 07:48] vrothberg commented on #3392
Buildah is attempting to pull `base`.  Since there's no alias, Buildah will walk through `unqualified-search-registries = ['docker.io', 'quay.io', 'registry.fedoraproject.org'] ` and attempt to pull:
* `docker.io/base` which will be normalized to `docker.io/library/base:latest` which in turn will be rewritten to `quay.io/libpod/base:latest` since that's what `registries.conf` wants in CI [1].
* `q

[2021-07-20 08:40] vrothberg commented on #3392
FWIW, I cannot reproduce.  Looking at the debug log (`buildah --debug bud --layers .` with upper Containerfile):
...
STEP 5: FROM 1b886c58bb20b8e3db2f19fa21f1e186654e71aab63482f80a69ba232be035b0
DEBU[0003] Pulling image 1b886c58bb20b8e3db2f19fa21f1e186654e71aab63482f80a69ba232be035b0 (policy: newer)
DEBU[0003] Looking up image "1b886c58bb20b8e3db2f19fa21f1e186654e71aab63482f80a69ba232be035b0" in l

[2021-07-20 09:33] rhatdan commented on #3392
Buildah should have got the fact that it was using an intermediate name and never gone into libimage at all.

[2021-07-20 10:20] Peter-Sh commented on #3384
Sorry for the noise @rhatdan , may be I'm missing something important, but adding --cap-add mknod doesn't help, buildah still fails with permission denied.

The command is almost the same (podman is running as root)
[code]

Strace output from the process which gets EPERM error. Process is trying to create /dev/console and fails.
[code]

[2021-07-20 13:14] cevich commented on #3392
Ya, I'm not too surprised.  You tried from latest on `release-1.21` branch I presume.  I've never ever seen or heard about this flake, I think we simply caught it by pure, dumb, luck.  It's probably worth some code-analysis to see how it actually could have happened.  It must be a race of some sort, and those sometimes point to deeper underlying problems that need fixing.

I like this idea best, i

[2021-07-20 14:37] vrothberg commented on #3392
We still have to look the image up which requires hitting `libimage`.  I think we should set pull-policy to neWer in such a case which is essentially a local image lookup.

[2021-07-20 15:57] cevich commented on #3392
What about (somehow) runtime patching the number|name reference with the image sha (once it's built).  That would at least severely reduce the likelihood of an unintended lookup-clash - should we accidentally hit external repos.

[2021-07-20 17:12] rhatdan commented on #3384
Are you trying to do this rootless?

[2021-07-20 17:18] rhatdan commented on #3384
Could you check if SELinux or SECCOMP is complaining?

sudo ausearch -m seccomp -ts recent
sudo ausearch -m avc -ts recent

[2021-07-20 17:41] nalind commented on #3382
Hi!  Thanks for reaching out.

At the moment, we don't have any form of `--cache-from` implemented; a first attempt would probably pull the specified image, at which point we can reuse its layers, but not much else.  The cache evaluation logic currently uses the history in a candidate image's config blob as the main point of comparison to what we think we're about to do the work of creating, and p

[2021-07-20 17:59] Peter-Sh commented on #3384
I think no, because I'm running podman as root user and docker is rootfull by default.

Above output and strace was from ubuntu 20.04 system, apparmor is completely disabled in kernel options.

[code]

I tried to update Centos 8.4 (on centos I primarily tested this issue with docker) and podman with the same result as before and as in docker.

[code]

SELinux is complaining about reading Dockerfil

[2021-07-20 18:11] Peter-Sh commented on #3384
Strace in centos shows the same EPERMed syscall

[code]

I noticed that there is `buildah-in-a-user-namespace bud .` process on the host when buildah is running in container. I think when buildah starts it calls unshare and then buildah-in-a-user-namespace, thus is running in user namespace. May be I should start buildah in some other way?

[2021-07-20 18:31] Peter-Sh commented on #3384
To give some context.

We are using buildah in docker as primary image building tool in gitlab-runner on centos 8 host. Because buildah does not compromise host machine by requiring docker.socket to be mounted from host or privileged container to run in.
And were successfully used this setup for months to build many different images until the problem with openjdk:15 has arised. Then I've tried to

[2021-07-20 21:32] george-harness commented on #3382
The usual approach for a cache is to abstract the problem to a (key, value) storage. That is even more true when we have distributed cache.

Say this is available from the interface like:
[code]

We need to find a reliable way to create a key for every layer that we would like to add to/obtain from the cache. It seems to me that it would be relatively easy to come up with the key for the layer by

[2021-07-20 22:03] kwshi commented on #3369
Update: I still don't have a reliable reproducer for the bad IO, but I've noticed that one seemingly reliable way to suddenly speed image listing up is to `buildah unshare`, `buildah from`, and `buildah mount` some random image, then unmount and remove.  After doing that, `buildah images` is suddenly _much_ faster.

[2021-07-21 07:31] vrothberg commented on #3369
@rhatdan, could you talk with Vivek about this issue?  There seems to be a pattern but we couldn't pin it down yet.

[2021-07-21 10:30] #3380 closed

[2021-07-21 12:39] rhatdan commented on #3384
Can you do `buildah --cap-add mknod` inside of the container.

[2021-07-21 12:48] Peter-Sh commented on #3384
I have tried this yesterday on both ubuntu and centos with same result.

[code]

[2021-07-21 14:50] rhatdan commented on #3369
@rhvgoyal WDYT?

[2021-07-21 15:06] rhvgoyal commented on #3369
I am assuming you are using "stat()/fstat()" to get to file size. So that should not slow down significantly because of file size.

There is a small possibility that cloud provider is doing some I/O throttling. I mean what else is going on host? If you have done lot of I/O already and have run out of credits, then cloud provider might throttle and delay I/O.

Or it is possible that this command is

[2021-07-21 16:14] Peter-Sh commented on #3384
On freshly installed Fedora Server 34 in Virtual box I observe same behavior.

It is very easily reproduced, just 3 commands as root (after installing podman)
[code]

[2021-07-21 18:25] kwshi commented on #3369
I'll add that, in my own situation at least, the container is store is simply located on a separate local partition on an SSD, so the cloud-provider-throttling behavior shouldn't be a factor.

[2021-07-21 21:08] yevgeny-z commented on #2521
Have same problems with parallel builds with Centos 7, `overlay.mount_program=/usr/bin/fuse-overlayfs` and latest buildah from main branch
[code]

[code]

[2021-07-22 09:34] rhatdan commented on #2521
You probably need an updated version of fuse-overlay.  Would be better to run this on RHEL8, RHEL7 is not supported with newer stuff.

[2021-07-22 17:12] #3392 closed

[2021-07-22 17:13] mixedCase opened #3396 "Add aliases "destination" and "dst" for "target" mount argument"
Docker's BuildKit [allows using](https://docs.docker.com/storage/bind-mounts/#choose-the--v-or---mount-flag) the words `dst` and `destination` as alternatives to the word `target` for specifying a path when mounting a secret. What's more, `dst` is the one used in one of their most visible documentation pages for BuildKit: https://docs.docker.com/develop/develop-images/build_enhancements/

Buildah/

[2021-07-22 18:16] rhatdan commented on #3396
Interested in opening a PR to fix?

[2021-07-22 18:37] mixedCase commented on #3396
@rhatdan Just tried to, but I was put off by the wall of text of requirements in the PR boilerplate.

Here's the patch:

[code]

[2021-07-22 18:40] rhatdan commented on #3396
Chicken, thanks.

[2021-07-22 20:27] #3396 closed

[2021-07-22 22:54] george-harness commented on #3382
@nalind, @TomSweeneyRedHat, team

I put a very raw (it works) implementation of phase 1 of the approach I proposed above: https://github.com/harness/buildah/commit/0d11da9b7c4caec21d358637282b7a7f00ad0fb1

It essentially creates a LayerProvider object that creates a map between layerKey and cacheID. When the cacheID is needed it calculates in a symmetrical way the key for the layer that needs to b

[2021-07-23 09:54] rhatdan commented on #3328
@nalind PTAL

[2021-07-23 15:30] mh21 commented on #3281
Still fails on rawhide with buildah 1.22.0-0.13.dev.gitec35bc4.fc35.

[2021-07-25 10:21] NahlaElMaraashly commented on #3337
@rhatdan the previous error related to cgroups was resolved when we used a CentOS 8 machine but we ran into another error when trying to pull an image using NFS filesystem.

[code]

[2021-07-25 10:44] rhatdan commented on #3321
I am going to close this, and basically say use skopeo.

[2021-07-25 10:44] #3321 closed

[2021-07-25 10:45] rhatdan commented on #3309
Since there is no way for us to fix, this needs to be fixed in the filesystem package.

[2021-07-25 10:45] #3309 closed

[2021-07-25 10:47] rhatdan commented on #3281
@giuseppe what do you  think the invalid option failure is?

[2021-07-26 13:02] rhatdan commented on #2988
Since we have had no feedback in a month, I am going to close.  Reopen if you have the feedback.

[2021-07-27 02:16] onlyjob commented on #2988
I can only comment but not reopen... I'm sorry that I could not provide a perfect reproducer (no time!) but this bug report is complete with everything that is needed for replicating the issue.

[2021-07-27 15:44] drawks opened #3405 "buildah fails under centos-7 when run inside official container"
**Description**

When attempting to build a very trivial container using the official container image `quay.io/buildah/stable` being run under docker on centos-7 I always get an error like:
[code]
I've read through all the existing issues that mention an error like this and I've been unable to resolve the problem. I've attempted to replicate the exact setup on a debian buster box and it works fine

[2021-07-27 17:00] #3365 closed

[2021-07-27 17:57] #3252 closed

[2021-07-27 18:09] cevich commented on #3365
@rostrovsky please give another poke at `quay.io/buildah/stable:v1.21.0`  My PR w/ updated workflow just merged.  If we're lucky, your CVE fix also made it in (I didn't check).  If not, you may need to hunt down the specific package maintainer(s) and see what's what. On our-end, we'll now build & pushing the latest version-tagged image on a daily basis.  So soon as any fix gets into the main repos

[2021-07-27 20:54] andrew-aladev commented on #3252
Thank you, it works now.

[2021-07-27 20:54] drawks commented on #3405
After trying all sorts of non-sense trying to make this work I've come to the conclusion that some feature in the kernel is missing in centos-7 that breaks however buildah/podman is trying to use the fuse-overlay filesystem. Ultimately upgrading my test vm to use the fedora-32 kernel (5.6 something) made everything miraculously start working.

It would be good if the dependency on the kernel versi

[2021-07-28 09:05] rostrovsky commented on #3365
Hi, just to confirm: `quay.io/buildah/stable@sha256:d825ce3e14bbff0a4f05c2168fb786e7ba324607a26edd71f37e63bfe19f42e2` does not have any substantial vulnerabilities. We'll be able to import it. Thanks! 👍

[2021-07-28 11:25] rhatdan commented on #3405
I have no idea where we would document this?  I realize that RHEL7/Centos7 are still out there.  But we have stopped updating packages on these distros since podman 1.9 release.  We have moved on to RHEL8/Centos 8/Centos Stream.
We recommend for using advanced features of container tools to use the latest versions of the OS, so we can take advantage of newer kernel features.

[2021-07-28 12:49] ilpianista commented on #2554
@rhatdan yet another friendly ping :-)

[2021-07-28 12:57] Peter-Sh commented on #3384
Hi @rhatdan, would you mind reopening this issue if you don't think this is desired buildah behavior?

[2021-07-28 14:02] stephen-dexda commented on #3307
Thanks, haven't had a chance to test yet but if there's a problem using that workaround I'll reopen.

[2021-07-28 14:03] cdoern commented on #3261
@rhatdan or @umohnani8 sometime next week could I have some help with this one? I would like to become more familiar with buildah but the fix I am trying to implement keeps telling me that I am giving too many arguments when I pass the BUILDPLATFORM arg

[2021-07-28 14:08] rhatdan commented on #3261
Sure lets talk on Monday.

[2021-07-28 14:52] Aight25 opened #3408 "podman build fails as rootless user if VOLUME >1 or <4 sub directories"
**Description**

podman build fails when running as a rootless user and trying to create volumes with a mount point of >1 or <4 sub directories. Example:
VOLUME /test01/test02

or
VOLUME /test01/test02/test03

It works with
VOLUME /test01
or
VOLUME /test01/test02/test03/test04

Note
With a rootfull user (root), this works

**Steps to reproduce the issue:**
1. Run as rootless podman user
2. Create

[2021-07-28 15:00] nalind commented on #3261
The actual parsing of the FROM line is handled in imagebuilder, so that's where we'd have to start.  It already has some support for BUILDPLATFORM/BUILDOS/BUILDARCH and TARGETPLATFORM/TARGETOS/TARGETARCH.

[2021-07-28 15:55] drawks commented on #3405
Perhaps an assertion and a sensible error message? Anything is better than wasting time trying to make something work which will never work.

Actually while trying to locate a good place to document a warning, I did find a warning! At the bottom of the following page... https://github.com/containers/buildah/tree/main/contrib/buildahimage

And sure enough, when I build the container based on centos

[2021-07-28 15:55] #3405 closed

[2021-07-29 06:54] meilier commented on #3256
May be I should have put my issue in [containers/image](https://github.com/containers/image) which could make the issue clearer to understand.

As far as I konw, without flag "--layers" buildah build images without cache. But use or not use cache will not affect the behavior when first build with containers/image and containers/storage, in which case, cp.Image() function together with the methods

[2021-07-29 07:48] kkujala commented on #3070
I solution could be that the authfile content would be read into memory and used from there during the build. There would be less file operations as well.

[2021-07-29 13:55] #3341 closed

[2021-07-29 22:26] george-harness commented on #3382
For my second phase of distributed cache, I need to be able to "package" the layer for storing and I also should be able to load this package and install it in the local store. I will appreciate some starting pointers.

[2021-07-30 10:30] Peter-Sh opened #3411 "Containerized buildah fails to build openjdk:15 based image on EXPOSE command step"
Buildah fails to build openjdk:15 based image on EXPOSE step when buildah bud is running in privileged container using overlayfs.

This is may be somehow related to #3384, because it is also openjdk:15 based image and is something with /dev/* in containers, but this issue is reproduced only in overlayfs, vfs works fine.

When running with **docker** the error is
[code]
When running with **podman**

[2021-08-01 10:04] rhatdan commented on #3405
Please open PRs where you would like the documentation changed.

[2021-08-01 10:31] rhatdan commented on #3344
Since the question was never answered I am going to close.  Reopen if you want us to continue working on this issue and want to provide feedback.

[2021-08-01 10:31] #3344 closed

[2021-08-01 10:38] rhatdan commented on #3070
Interested in opening a PR to make this happen?

[2021-08-02 12:51] rhatdan commented on #3411
@giuseppe PTAL

[2021-08-02 12:53] vrothberg opened #3415 "set annotations for base images"
The OCI image-spec now supports two annotations to set the name and the digest of the base image. I think that Buildah should set the two annotations. For more background please refer to the nice summary by @ImJasonH: https://github.com/ImJasonH/ImJasonH/tree/main/articles/oci-base-image-annotations

* **org.opencontainers.image.base.name**: the mutable reference to the image (e.g., docker.io/alpi

[2021-08-02 12:59] nalind commented on #3415
Yes, of course.

[2021-08-02 15:11] savitojs commented on #3281
### Environment details

[code]

*Kernel:*

[code]

*OS Details:* Red Hat Enterprise Linux Server release 7.9 (Maipo)

We have a GitLab runner where everyone can run jobs internally using GitLab using specific tags. GitLab runner project supports docker as a container platform. Podman is not yet supported, however, [Red Hat and GitLab working together to add](https://gitlab.com/gitlab-org/gitlab-r

[2021-08-02 15:39] rhatdan commented on #3415
SGTM

[2021-08-02 15:40] rhatdan commented on #3415
@vrothberg Are you going to open a PR or do  you want someone from the Buildah team to do it?

[2021-08-03 07:23] mh21 commented on #3281
Related to https://github.com/containers/buildah/pull/3263.

[2021-08-03 07:58] vrothberg commented on #3415
I can do it. Always fun to get my hands dirty in Buildah land.

[2021-08-03 12:31] rhatdan commented on #3281
@giuseppe is this one of the new flags being added when it shoud not?

[2021-08-03 14:45] septatrix commented on #3369
I do not know what constitutes as slow today but I consistently get ~7s for 50 images (and ~12s in usr respectively). Using `--all` shaves ~1s (~3s in usr respectively).

[2021-08-03 14:49] vrothberg commented on #3369
@septatrix, which version of Buildah are you running?

[2021-08-03 14:55] vrothberg commented on #3369
@edsantiago, FYI. Maybe something to look out for If you ever find something that may contribute to a slow(er) storage access, feel free to drop it here.

[2021-08-03 15:07] vrothberg commented on #3369
One thing I notice is that Buildah is surprisingly faster(sometimes half the time) than Podman (reproducer `time buildah images > /dev/null; time podman images > /dev/null`). I have 93 images in the storage (did some `podman pull --all` on alpine, busybox and fedora).

[2021-08-03 16:02] septatrix commented on #3369
I should have been more precise. My timings are for podman and not for buildah.

[2021-08-03 18:34] fatherlinux opened #3501 "No --mount option with "podman build" nor Containerfile"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

Podman should support the --mount option with the "podman build" command and in the Containerfile using a RUN directive (similar to secrets)

**Steps to reproduce the issue:**

1. Build a Containerfile like this:
FROM registry.access.redhat.com/ubi8/ubi
RUN --mount=type=image,source=regis

[2021-08-04 06:27] vrothberg commented on #3415
Fixed by https://github.com/containers/buildah/pull/3423.

[2021-08-04 06:27] #3415 closed

[2021-08-04 08:19] Luap99 commented on #2780
I take a look.

[2021-08-04 09:42] giuseppe commented on #3281
could be a dup of https://github.com/containers/fuse-overlayfs/issues/311

[2021-08-04 13:01] rhatdan commented on #2554
Podman 3.2 should be available now.

Where do we stand on this now?

[2021-08-04 16:29] koceg commented on #3053
As @anthr76 already pointed out in https://github.com/containers/buildah/issues/3053#issuecomment-859610721 I  got the same issue when testing buildah on OKD 4.7 cluster. Solution was to add `USER build` as the last line of Dockerfile.
Question is why call `useradd build` here https://github.com/containers/buildah/blob/main/contrib/buildahimage/stable/Dockerfile#L14 if it's not used to set the env

[2021-08-04 19:12] rhatdan commented on #3053
Because we want the image to be used by both `root` and the `buildah` user.  Certain uses want to run the buildah container as root and others want to run it in rootless mode with the `buildah` user.

[2021-08-04 19:15] tetchel commented on #3053
FWIW @koceg you can always use `runAsUser` to work around this in k8s/openshift.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#container-v1-core

[2021-08-04 19:35] anthr76 commented on #3053
runAsUser is useful in this scenario though limited in Gitlab CI since you're pinning all users of images to the UID of build. Likely making your own image is best..? In this scenario. I still have to circle back to this and research further on the K8s end. I've been experimenting with user namespaces on CRI-o

[2021-08-04 19:45] sjenning commented on #3318
In case anyone comes across this, there was a `.dockerignore` file in the repo :man_facepalming:

[2021-08-05 06:24] jskov-jyskebank-dk opened #3425 "Graalvm fails to load shared library due to selinux"
**Description**

Graalvm java/keytool fails to run in ubi8.4 base image due to selinux.

**Steps to reproduce the issue:**

1. Create this Containerfile:
[code]

2. Build it: podman build -f Containerfile

**Describe the results you received:**

[code]

I have seen similar output from the `java --version` command.

**Describe the results you expected:**

If I disable selinux I get:

[code]

Using

[2021-08-05 09:27] TomerHasson commented on #2554
hey im trying to work with this tutorial https://www.redhat.com/sysadmin/podman-inside-kubernetes and im getting this error:
im trying the "Rootless Podman without the privileged flag" part
`Error: mount /home/podman/.local/share/containers/storage/overlay:/home/podman/.local/share/containers/storage/overlay, flags: 0x1000: permission denied`

[2021-08-05 14:17] kierun opened #3427 "podman build appears to ignore containerignore"
/kind bug

**Description**

A directory owned by `root` and in `.containerignore` is still being added to the build.

**Steps to reproduce the issue:**

1. `printf "FROM quay.io/libpod/testimage:20210610\nCOPY ./ ./\n" >Dockerfile`
2. `mkdir -p volume/data`
3. `cd volume`
4. `sudo chown root:root data`
5. `sudo chmod 700 data`
6. `cd ..`
7. `echo "volume/ > .containerignore`
8. `podman build -f Do

[2021-08-05 18:39] george-harness commented on #3382
@nalind @TomSweeneyRedHat @rhatdan @fatherlinux @mtrmac @vrothberg

I start working on phase 2 - creating file_layer_provider - it supposes to store the layers (layer image) into a file location. It will be helpful mostly for testing, but also it will allow for distributed cache through shared volumes.

my current state is in https://github.com/harness/buildah/tree/file_local_layer_provider

I wou

[2021-08-05 18:45] rhatdan commented on #3427
@nalind PTAL

[2021-08-05 19:45] rhatdan commented on #3425
Just as a guess, could you update containers-common and execute `restorecon -R -v $HOME/.lib/share/containers `

[2021-08-06 06:05] jskov-jyskebank-dk commented on #3425
Yes!

Well, restorecon did not help (`restorecon -R -v $HOME/.local/share/containers`)
I also tried with sudo (on the realpath).

But your guess means you suspect bad local data. So I deleted $HOME/.local/share/containers.
And *that* did the trick.

I had feared it was due to some selinux configuration that would eventually filter through to coreos on our OpenShift instances.
And that would be pre

[2021-08-06 06:05] #3425 closed

[2021-08-06 22:35] #2835 closed

[2021-08-07 12:16] afbjorklund opened #3433 "Validate input for the --platform parameter"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

There is no validation on the syntax of the --platform parameter to build

Like when using the multi-arch syntax from `buildx build`, by mistake.

**Steps to reproduce the issue:**

1. podman build --platform=linux/amd64,linux/arm64 multiarch

2.

3.

**Describe the results you received:**

p

[2021-08-07 21:44] TomSweeneyRedHat opened #3432 "--rusage-logfile flag missing from man pages"
https://github.com/containers/buildah/pull/3267 introduces the rusage-logfile option, but there's no man page for that.  @dcermak as you created the option, could you please update the man page?

[2021-08-09 08:03] dcermak commented on #3432
I did not add any docs about that option, because `--log-rusage` itself is not documented and judging from https://github.com/containers/buildah/pull/3267#issuecomment-850814893 I thought that it was intentional that this option is not documented in the man page. I can document it though, if these two options should become visible to users.

[2021-08-09 13:57] rhatdan commented on #3432
It is a hidden option, not something we want to directly support, so I don't want it documented in the man page.

[2021-08-09 13:57] #3432 closed

[2021-08-09 14:26] rhatdan commented on #3433
@nalind is working on a PR to allow this syntax.

https://github.com/containers/buildah/pull/3402

But how should we verify the platform.  I guess we could make sure the OS is either Linux or WIndows.  But arch is potentially a moving target and same with variant.

[2021-08-09 14:39] nalind commented on #3433
`--platform` doesn't currently take a list, so it's probably parsing "linux/amd64,linux/arm64" as os="linux", arch="amd64,linux", variant="arm64".  Like @rhatdan mentioned, multiple `--platform` values is something buildah's development branch just started recognizing, and podman 3.2.3 used a recent release version that wouldn't have that feature.

[2021-08-09 15:18] afbjorklund commented on #3433
It is indeed parsing it as you say. If comma is a valid character in a platform, I guess there would be a problem...
I was just wondering if you should make it fail (with the comma), until it can parse the value as an array instead ?

[2021-08-09 15:24] rhatdan commented on #3433
Since the upstream handle's the "," I think we are ok in the main branch correct?

[2021-08-09 15:32] nalind commented on #3433
It landed on the buildah "main" branch after it branched for v1.22, so the podman "main" branch, which is currently using buildah v1.22.0, doesn't include it yet.

[2021-08-09 15:33] afbjorklund commented on #3433
If multi-arch will be handled properly (through buildah) in podman4, then it is only a (parsing) problem for podman3

[2021-08-09 16:27] rhatdan commented on #2937
@ashley-cui Any time to work on this?

[2021-08-09 17:23] ashley-cui commented on #2937
Probably can get to it this week or the next :)

[2021-08-09 17:23] nalind commented on #3427
It looks like ADD and COPY need to always set the `IgnoreUnreadable` flag we introduced in #3060.

[2021-08-09 21:17] nalind commented on #3427
Hmm, does `docker build` also produce an error when you point it at your build context?  I get `error checking context: 'can't stat '/tmp/copier-original-test/volume/data''` when I tried it with your reproducer, with both moby-engine-20.10.7-2.fc35 on Fedora 35 and docker-ce-19.03.12-3.fc30 on Fedora 30.  The error message is different, to be sure, but it's looking like the behavior is about right

[2021-08-09 22:27] TomSweeneyRedHat commented on #1503
Finally getting to this, but yes, @rhatdan is correct.  The 'FROM' wipes out previous values in `ARG`.

[2021-08-10 09:07] kierun commented on #3427
`docker build` works fine for me. It did not, with the same message as you got, until I added `./volume` to `.dockerignore`. When I tried podman, this file should be `.containerignore`. In the main repo, I had it simlinked.

[2021-08-10 17:29] #2780 closed

[2021-08-10 21:01] LHCGreg opened #3436 "podman build inside a container is slow"
(Creating the issue here as directed by the podman issue template for issues with podman build)

**Description**

Even simple build steps like `RUN mkdir /dir1` in a `podman build` inside a container are taking several seconds each. Having a multistage build seems to make it worse?

**Steps to reproduce the issue:**
1. Create an image with podman installed. Here is a minimal, stripped down version

[2021-08-11 12:50] rhatdan commented on #3436
When  you do this rootfull, does it perform better?

[2021-08-11 13:23] LHCGreg commented on #3436
It is already being run as root. I have not been able to get rootless podman in a container working.

[2021-08-11 13:39] rhatdan commented on #3371
Since we have had no futher input, closing, reopen if more input is available.

[2021-08-11 13:39] #3371 closed

[2021-08-11 18:56] george-harness commented on #3382
the BlobCache (pkg/blobcache/blobcache.go) seems like a great idea and combining it with the directory can do exactly what I need to create distribute file system cache.

Unfortunately, line 509 makes a call back to the base destination (I assume to obtain the BlobInfo).

newBlobInfo, err := d.destination.PutBlob(ctx, stream, inputInfo, cache, isConfig)

This seems to completely invalidate the poi

[2021-08-11 18:58] mtrmac commented on #3382
Are you differentiating between cache of build products, as layers (expanded filesystems), and cache of compressed blobs?

[2021-08-11 19:12] george-harness commented on #3382
No. I am storing all intermittent images in a separate file system location that could have external volume. As part of this though I copy a lot of images that share a lot of layers and other blobs. This is why deduplication of the blobs is critically important.

[2021-08-11 19:30] george-harness commented on #3382
@mtrmac you can check what I am doing at https://github.com/harness/buildah/tree/file_local_layer_provider.

I just merged the latest code I have.

[2021-08-11 19:57] mtrmac commented on #3382
@george-harness I’m afraid I’m unfamiliar with these parts of the codebase and for the most part not the one to discuss the design with. I’m just somewhat familiar with the blob cache, and the point of that is to avoid re-pushing layers of parent images to a registry (no FS scan, no tarball creation, no compression and the relevant CPU usage), even if the built product is pushed to a registry diff

[2021-08-11 21:11] george-harness commented on #3382
@mtrmac Let me know if I understood this correctly.

The blob cache is not there to be an alternative of the final storage, but to preserve an intermittent state of the blob, this way the next time the same blob is requested these work is not done again? The same blob cache can be added on top of multiple destinations and the work will be saved if the preparation work is the same?

I have the seve

[2021-08-14 20:11] webknjaz commented on #2954
unstale

[2021-08-15 10:07] riconnon opened #3452 "Support for RUN --mount=type=cache"
**Description**

I am investigating moving from `docker build` to buildah, but our existing build files make use of `RUN --mount=type=cache` to preserve things like package caches between builds and avoid continually redownloading the same artifacts.
This feature was stabilised in `buildkit` by `dockerfile` frontend version 1.2
Is this something that buildah is interested in supporting? If not, is

[2021-08-16 05:26] chlins opened #3453 "How to install buildah latest version based on centos7"
**Description**

https://github.com/containers/buildah/tree/main/contrib/buildahimage/centos7, kernel version of 3.10.0 needs use centos7 as base image to install buildah, but the latest buildah version of centos7 is 1.11.6(old), but currently the latest version of buildah is 1.22, how can i install buildah v1.22 base on centos7 image ?

**Steps to reproduce the issue:**
1.  pull centos:7 image an

[2021-08-16 12:08] rhatdan commented on #3217
@ashley-cui do you have time to work on this one?

[2021-08-16 12:09] rhatdan commented on #3268
@nalin has been working to improve our multi-arch support.  Some buildx support has made its way into buildah already

[2021-08-16 12:10] rhatdan commented on #2771
@nalind do you have time for this now, and do you think it is worth it?

[2021-08-16 12:11] rhatdan commented on #620
@umohnani8 Any time for this now?

[2021-08-16 12:16] ashley-cui commented on #3217
@rhatdan should be able to get to it this sprint.

[2021-08-16 12:31] rhatdan commented on #3452
@nalind PTAL

[2021-08-16 12:40] rhatdan commented on #3453
This is not an upstream issue. Centos:7 is very old, and does not have updated buildah builds.  You could use podman or docker to run newer versions of buildah in a --privileged container.  Or you could attempt to build from github.

[2021-08-16 12:40] #3453 closed

[2021-08-16 13:00] chlins commented on #3453
@rhatdan But if my host with old kernel 3.10.0,  the newer version buildah in a --privileged container also can not run. So i need upgrade my host kernel version?

[2021-08-16 14:28] rhatdan commented on #3453
Well I would say you need to move to Centos 8 or RHEL 8.

[2021-08-16 14:53] cevich commented on #3268
Fantastic! I will very likely need help making use of these for https://github.com/containers/automation/pull/84

I noticed there's now a `build --manifest` (great!), what else was added to make parallel multi-arch easier?

[2021-08-16 19:23] cgruver opened #3455 "Buildah in Tekton task is failing with: unshare(CLONE_NEWUSER): Invalid argument"
buildah version: multiple (1.16, 1.21, 1.22)

Tekton Pipelines version 1.22 (OpenShift Pipelines 1.4.1)

We have observed three OpenShift clusters where buildah starts failing with the following errors:

[code]

Once it starts failing, it always fails.  We don't believe that the issue is directly related to buildah, but hope that someone might have a clue.  It's almost like underlying permissions

[2021-08-16 20:13] rhatdan commented on #3455
Could you check to see if there are seccomp or selinux avc errors in the audit.log when this fails.

ausearch -m seccomp
ausearch -m avc

Could this be an older kernel?

@giuseppe WDYT?

[2021-08-16 20:36] cgruver commented on #3455
We pinned a pod to a specific node and monitored both `journalctl` and `/var/log/audit/audit.log`

We didn't see anything.  But in the morning we'll look specifically for seccomp and avc.

This base OS is RHCOS on OCP 4.7.9 and ROSA 4.7.19

[2021-08-17 03:11] YoitoFes opened #3457 "Rootless buildah/stable image not working since v1.21"
**Description**

I cannot run buildah as the non-root user in a podman container when buildah/stable's version >= v1.21.

When buildah/stable's version <= v1.20, it works well.

**Steps to reproduce the issue:**
1. Run `podman run --rm -it --device /dev/fuse:rw --security-opt seccomp=unconfined --security-opt apparmor=unconfined quay.io/buildah/stable:v1.21.4 bash` on host.
2. Run `su - build` wit

[2021-08-17 12:35] xrstf commented on #2594
We are seemingly experiencing this problem with Buildah 1.19.6. Though we are using images from docker.io as base images, the error is the same:

[2021-08-17 15:41] nalind commented on #2594
@xrstf does removing the blob info cache (/var/lib/containers/cache/blob-info-cache-v1.boltdb and /var/lib/containers/storage/cache/blob-info-cache-v1.boltdb for root, ~/.local/share/containers/storage/cache/blob-info-cache-v1.boltdb and ~/.local/share/containers/cache/blob-info-cache-v1.boltdb for non-root) have any effect?  Are you able to test with a more recent version?  1.19.6 didn't have the

[2021-08-17 15:45] cgruver commented on #3455
No output from either of:

[code]

Kernel info: `Linux ip-10-112-120-43 4.18.0-240.22.1.el8_3.x86_64 #1 SMP Thu Mar 25 14:36:04 EDT 2021 x86_64 x86_64 x86_64 GNU/Linux`

Additional trace level output:

[code]

Here is a much simpler test to reproduce.

[code]

Same error output:

[code]

[2021-08-17 16:04] cgruver commented on #3455
Additional Info:

Kernel info is the same on working and non-working clusters:

`Linux ip-10-112-46-126 4.18.0-240.22.1.el8_3.x86_64 #1 SMP Thu Mar 25 14:36:04 EDT 2021 x86_64 x86_64 x86_64 GNU/Linux`

The non-working clusters were working...  so, something changed, but we have no idea what it could be.

Kernel info from cluster that is not working: `

[2021-08-17 19:46] rhatdan commented on #3455
@nalind @umohnani8 PTAL

[2021-08-17 20:18] cgruver commented on #3455
Additional info:

These clusters are running in AWS.  We are seeing that in the "broken" clusters, vanilla S2I builds are failing too with file permission issues in the init-container...  Starting to think that this is not isolated to buildah.

We're running another test overnight to see if maybe this is actually related to something in the AWS account.

I'll update this issue with the results.

[2021-08-18 03:22] sshankar-rks opened #3461 "Dockerfile COPY command not working, no build context available (Windows 10 Pro host/Hyper-V guest Ubuntu 20.04)"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**
Building on Windows 10 Pro
Target Hyper-V VM in same machine

NO build context is used in podman build.
COPY commands in Dockerfile fail

**Steps to reproduce the issue:**

0. Setup remote podman (Hyper-V Host/Windows Guest/Hyper-V guest VM Ubuntu 20.04)
1

[2021-08-18 03:25] sshankar-rks commented on #3461
Turns out i can't attach files, the directory zip is [here](https://www.imagenetz.de/qyuXC).

[2021-08-18 04:18] YoitoFes commented on #3457
I found a workaround.

[code]

[2021-08-18 13:55] nalind commented on #3461
This looks like has to be specific to how podman-remote's client is archiving and transferring the build context to the service when run on a Windows host, since running the build using `podman --remote` on my Linux host builds a build context with the Dockerfile and other contents of the .zip file without issue.

When I try it with the remote client from a Windows box, the contents of the explode

[2021-08-18 20:26] cevich commented on #3268
@rhatdan @nalind more specific question:  Would you expect this to work yet (assuming QEMU is setup properly)?

[code]

(I'm remembering a race where the different arch's base images would frequently name-clash on pull)

[2021-08-18 20:32] nalind commented on #3268
The names of base images will still be reassigned as they get re-pulled for a given architecture, but as of 1.22 (or rather containers/common 0.42) that shouldn't break anything.  The main branch expands `--platform` to accept a list, which should simplify this further in 1.23.

[2021-08-18 20:38] cevich commented on #3268
Oh! So I can just do like `buildah bud --platform "[some/thing, foo/bar]" --manifest example.com/foo/bar:latest /path/to/Containerfile` and walk away for some coffee?

Wow, that would actually be really, REALLY cool!

[2021-08-18 20:46] nalind commented on #3268
It wouldn't be a JSON list, so the `[]` would be unexpected.  Otherwise, yes.

[2021-08-18 21:07] cevich commented on #3268
Gosh that will be a HUGELY useful feature, thanks!  Will it do the builds in parallel?  Even if not...still very useful and more reliable than me trying to do it all in bash :confused:

[2021-08-18 21:16] nalind commented on #3268
The `--jobs` option should still work correctly, yes.

[2021-08-18 21:38] mskarbek opened #3463 "`buildah from` freezes for long time"
**Description**

`buildah from` freezes for more than 30-40 seconds when creating container from other images. In worst cases, this takes most of the build time, significantly impacting CI jobs. Creating a container from scratch does not present similar behavior.  This was observed on hosts with `storage.conf` driver set for both overlay on XFS and ZFS, so that could indicate that this is a storag

[2021-08-18 21:43] mskarbek commented on #3463
I would appreciate any suggestions on how to help with debugging that.

[2021-08-18 22:00] mskarbek commented on #3463
Ignore that. :D

[code]
For whomever stumble upon this - `buildah`, regardless of the existence of the image in local storage, will try to check it with registry which in my case is not always available on particular build hosts. `from --pull-never` solves the issue.

[2021-08-18 22:00] #3463 closed

[2021-08-18 22:09] TomSweeneyRedHat commented on #3457
@YoitoFes thanks for the report and the follow up.  Any chance you can try this with Podman upstream?  I don't know, but it might be a crun/runc issue with that version of Podman.

[2021-08-18 22:57] YoitoFes commented on #3457
I got the same issue with Podman 3.2.3 on Fedora 34.

Following code in Dockerfile may cause to create `/home/build/.local/share/containers` owned by root,
and `build` user cannot use the container storage due to permission denied.

https://github.com/containers/buildah/blob/197b9a1fbbe92717c3b48b3c907608774a5dd720/contrib/buildahimage/stable/Dockerfile#L27

I tried this with my custom Dockerfile

[2021-08-19 11:04] rhatdan commented on #3463
Yes buildah is checking if there is a newer version available at the registry.  If the registry does not exist then you might be subject to network timeouts.  --pull-never stops podman from checking for newer versions.

[2021-08-19 11:29] #3297 closed

[2021-08-19 12:59] fkorotkov commented on #2958
Just stumbled on this issue and not sure if my information is relevant now for for future researchers...

[Cirrus can build multi-arch images and use buildx](https://cirrus-ci.org/guide/docker-builder-vm/#multi-arch-builds). @cevich here is the [packer template for the image with QEMU](https://github.com/cirruslabs/vm-images/blob/f69860f9ffae4f717af27e0560d87341d3cfe86d/googlecompute/ubuntu_images

[2021-08-19 13:30] nalind commented on #3433
Using the `--manifest` flag instead of the `-t` flag should take care of this.  `-t` can commit directly to a registry or other non-`containers-storage:` location, while the logic behind `--manifest` can't, so the CLI front end doesn't automatically try to substitute one for the other.

[2021-08-19 14:03] afbjorklund commented on #3433
Thanks, that makes sense (and Docker has the same limitation of course, have to use BuildKit and Registry)

[2021-08-19 14:05] cevich commented on #3268
Dang Nalin! There simply ***MUST*** be something buildah can't do...Next you'll tell me there's a `--doughnuts` option enabled n 1.23! :laughing:

[2021-08-19 15:44] cevich commented on #2958
Thanks @fkorotkov, I'll keep this in my back-pocket.

For this specific issue, we've got this mostly working in github-actions but I'm so very much not a fan.  Our container-tools image build-logic has grown well beyond what simple buildx can easily accommodate.  Meanwhile, github-actions has proven itself several times, as overly complex, restrictive, unreadable, and unmaintainable by non-experts

[2021-08-19 20:23] cevich opened #3467 "buildah tag ruins manifest lists"
**Description**

When I build a multi-arch manifest list, sometimes I want to call or push it using multiple names.  Intuitively, the `tag` subcommand strikes me as the one to use, but doesn't seem to do the right thing.

**Steps to reproduce the issue:**
1. `$ buildah bud --layers --force-rm --jobs 12 --platform=linux/amd64 --manifest localhost/foo/bar:latest /path/to/context`
2. `$ buildah tag l

[2021-08-19 20:24] cevich commented on #3467
***Note:*** For my use-case, I would be perfectly happy using a `buildah manifest tag` subcommand if it were available.  Regular users though, they might expect `buildah tag` to work, so maybe print a warning if the source is a manifest list?

[2021-08-20 11:33] rhatdan commented on #3301
@nalind @anthr76 What is going on with this issue?  Should we close it or is there something Buildah can do to fix it?

[2021-08-20 20:37] johnlongo opened #3469 "how do I login to docker.io tekton buildah"
Running under OKD  4.7.0-0.okd-2021-08-07-063045 and have tekton installed.
Using buildah to build my images using a dockerfile and sometimes I cant access docker.io becuse of not able to login.
Question: how do I login to docker.io when I run a tekton pipeline that uses buildah to do the build (dockerfile)?

[2021-08-20 21:55] TomSweeneyRedHat commented on #3469
@johnlongo You should be able to do `buildah login docker.io {username}` and then supply your password and you should be good to go.

[2021-08-20 22:15] johnlongo commented on #3469
buildah is running as task in my tekton pipeline (see attached example), how do I define a task to do the login first?

![image](https://user-images.githubusercontent.com/23619505/130298370-b2396f6d-9a89-49bd-8696-e554435b7e12.png)

[2021-08-22 11:52] cgruver commented on #3455
We have not yet found a definitive root cause.  However, the S2I build failures were caused by a misconfigured SCC that was created as part of a different operator installation.

So, at this point we are confident that the issue was self-inflicted.

Recreating the OpenShift Cluster resolved the problem.

If we find a definitive root cause, I'll update this issue so that others can benefit.

[2021-08-22 11:52] #3455 closed

[2021-08-23 14:48] rhatdan commented on #3328
@flouthoc PTAL

[2021-08-23 15:46] flouthoc commented on #3328
/assign

[2021-08-23 22:17] TomSweeneyRedHat commented on #3469
@johnlongo I barely know how to spell tekton pipeline, but wonder if something like this would work?

Before running the pipeline, create an authfile at a location of your choosing.  If you put it into `/run`, it will be wiped at every reboot for you.

[code]

Then add the `--authfile' option to the pipeline, something like this?

[code]

[2021-08-23 22:19] TomSweeneyRedHat commented on #3457
@rhatdan ?

[2021-08-24 01:01] nnachefski commented on #3053
I'm hitting this as well using tekton on Openshift (Openshift Pipelines Operator on Openshift 4.7).

[code]

Is there a build image i can plug in to fix this?

[2021-08-24 10:45] rhatdan commented on #3433
I believe we can close this issue, since it is fixed in Main.  If you want to have validation back ported to older versions then open a PR.  Personally I would just move forward, we can push out a new version of Buildah soon with the new feature.

[2021-08-24 10:45] #3433 closed

[2021-08-24 13:31] adambkaplan opened #3473 "Buildah Prints Containerfile STEPs with log level set to "warn" or higher"
**Description**

When setting buildah's log level to a more limited setting (`warn`, `error`, etc.), the `bud` command will continue to print all STEPs in a Containerfile. This is a concern when a Containerfile contains ENV declarations that contain sensitive information.

On OpenShift this is a common occurrence because an ENV value can be injected from a Kubernetes Secret.

**Steps to reproduce

[2021-08-24 14:11] ElSamhaa opened #3474 "Heredoc notation doesn't work"
**Description**

Heredoc notation is supported in Dockerfile syntax, however buildah doesn't handle it correctly.

**Steps to reproduce the issue:**
1.Create a Dockerfile with the following content:
[code]
2.Run `podman build -t tst . `

**Describe the results you received:**

[code]

**Describe the results you expected:**
The image should build and have a file `/tmp/hello` that contain `hello wor

[2021-08-24 17:25] rhatdan commented on #3467
@flouthoc PTAL

[2021-08-24 17:38] rhatdan commented on #3457
This looks like a Podman issue, the image looks ok, but when Podman creates the content for the users homedirs, it create the volume as root.

I think precreating the directory is the correct way to go.

[2021-08-24 17:43] flouthoc commented on #3467
/assign

[2021-08-24 19:42] TomSweeneyRedHat commented on #3473
FWIW, the same behavior in Docker too.  Can I sell you on the `--quiet` option?  Just to be sure I know your expectations, what output would show if `--log-level=error` was used in your view?  Would it emulate `--quiet` completely or just not show some steps?

[2021-08-24 19:47] cevich opened #3477 "Multiple --platform args don't work with --manifest arg"
**Description**

The current documentation states

    The --platform flag can be specified more than once, or given a comma-separated list of values as its argument. When more
    than one platform is specified, the --manifest option should be used instead of the --tag option.

**Steps to reproduce the issue:**
1. `buildah bud --layers --force-rm --jobs=12  --platform=linux/amd64 --platform=linux

[2021-08-24 20:35] nalind commented on #3473
@adambkaplan, to confirm, is this in the context of us using the equivalent of `s2i build --as-dockerfile` followed by a buildah-as-a-library build in OpenShift?

What I'm realizing now is that with an instruction like this one:
[code]
even if we didn't log the instruction, that variable and its value are also going to be baked into the image, so we might need to take a closer look at a specific e

[2021-08-24 20:49] nalind commented on #3477
The same version eventually gives me this error when I point it at `tests/bud/multiarch` in the source tree:
[code]

What's in your build context and Containerfile that might be triggering different behavior?

[2021-08-24 20:55] nalind commented on #3477
Perhaps a log from a run with `--log-level=debug` as the first flag?

[2021-08-24 21:18] adambkaplan commented on #3473
Correct

True, and this may or may not be a concern for the issue that spawned this request.

@TomSweeneyRedHat that might be a path we can pursue for OpenShift builds. I assume this exposed through the `Quiet` option. We already have logic that sets the logrus level so those deeper logs are surfaced.

[2021-08-25 02:56] grooverdan opened #3478 "buildah images --json createatraw subsecond precision makes jq processing hard"
**Description**

Attempting to script operations based on buildah images --json with regard to .createatraw (added #1266) using jq as a shell based tool gets hard. The ability for jq to be extended to support subsecond precision is also hard due to glibc functions not supporting parsing of it.

**Steps to reproduce the issue:**

1. take buildah images --json output in a script
2. attempt to filter

[2021-08-25 07:08] flouthoc commented on #3467
@cevich @rhatdan So afaik `builah tag` actually fetches the relevant image from the manifest list and tags it which seems to be the expected behavior since that is what `manifest` was supposed to do. I am in favor of `buildah manifest tag` but would love your opinions on this.

[2021-08-25 12:25] rhatdan commented on #3467
I am fine with manifest tag.

How does buildah tag figure out which image is relavent?  IE If I have a list with multiple images, will it tag them all, or just the first one it finds.

[2021-08-25 12:25] rhatdan commented on #3467
Or the one that matches the current arch?

[2021-08-25 12:34] flouthoc commented on #3467
@rhatdan It takes image options if nothing is provided it gets `arch` value from `runtime context` i.e `r.systemContext.ArchitectureChoice` and creates image for particular architecture.

[2021-08-25 12:35] flouthoc commented on #3467
@cevich @rhatdan Going ahead with `buildah manifest tag`.

[2021-08-25 13:20] nalind commented on #3467
Are we going to come back and retrofit `tag` later, like we did with `buildah push`?

[2021-08-25 14:23] rhatdan commented on #3337
The NFS issues is a known issue.

https://www.redhat.com/sysadmin/nfs-rootless-podman

[2021-08-25 14:23] #3337 closed

[2021-08-25 14:43] rhatdan commented on #3478
$ podman images --format json
has
        "Created": 1628008986,
        "CreatedAt": "2021-08-03T16:43:06Z"

Would that work for you?  IE Would adding Created: EPOCH Seconds work?

[2021-08-25 14:49] cevich commented on #3477
...confirmed, works correctly, so something in my setup is broken.  Sorry for the noise, I should have thought to try that container image.

[2021-08-25 16:05] nalind commented on #3467
The retrofit for `buildah push` was done in #2895, and the reasoning given for it and #2894 agrees with https://github.com/containers/buildah/issues/3467#issuecomment-902219814.  If we're going to reverse course and do the same thing here later, we might as get it over with now.

[2021-08-25 16:11] flouthoc commented on #3467
@nalind @rhatdan I was not aware of previous threads but i guess from what it seems I think i should move with `buildah tag` instead of `buildah manifest tag` inorder to prevent rework or retrofits. WDYT

[2021-08-25 16:51] rhatdan commented on #3467
I am fine with buildah tag == buildah manifest tag.

[2021-08-25 17:59] stellarpower opened #3479 "Feature Request: Building an Image using a Template File"
## **Description**
Provide a third build option (in addition to `buildah from; buildh run; ...` and the `bud` system) to support building a containerfile/image recipe using a template and provided variables. The mix of ARG and ENV and interpolation of these in the build process versus handing off to the image would be removed, utilising a more powerful, flexible, and unambiguous language with dedi

[2021-08-28 02:35] anthr76 commented on #3301
Considering qemu-user-static won't work the way I expected we can close this.. Having microdnf in the image is nice though as sometimes you may need to pull images while in CI. Incase anyone comes along to the issue looking to build multi-arch images on gitlab SaaS CI this is how I did it https://gitlab.com/kutara/gitlab-ci-templates/-/blob/master/jobs/build/base.yml#L54-77

[2021-08-28 02:35] #3301 closed

[2021-08-28 11:01] rhatdan commented on #3408
This works for me on podman-3.3.0-1.fc34.x86_64
Reopen if you think this is still an issue.

[2021-08-28 11:01] #3408 closed

[2021-08-29 11:29] rhatdan commented on #3256
There has been a couple of PRs that went in recently, and one pending in containers/storage that have shown great improvements in speed for builds, especially around committing layers.

[2021-08-29 16:58] stellarpower commented on #3479
Don't blame you, I did ramble rather a bit!

I think YAML is precisely what was coming to mind, I visualised it a bit like a modified containerfile. This is the first third or so of a multi-stage build I was using about 3 months ago:

[code]
I think I took my dev container, built, installed, copied out the binaries, and then copied these back into a runtime container that had the dependencies with

[2021-08-30 11:49] flouthoc commented on #3328
@alexgaganashvili Could you provide a reproducer with image are you using ? What do you get when you do `buildah images`.

[2021-08-30 12:21] #3467 closed

[2021-08-30 14:52] mtrmac commented on #3256
To be explicit, https://github.com/containers/podman/issues/11236 is the other one tracking some work. But I haven’t taken the time to actually analyze either of them in detail myself; the two might be exact duplicates, or the same issue but different suggestions for improvement, or perhaps even quite different issues.

[2021-08-30 14:58] mtrmac commented on #3479
I think a necessary starting point is articulating precisely what _feature_ is missing or hard to do.

Only after that it is useful to discuss whether it would be best implemented a trivial addition to something that already exists, a new templating language directly in Buildah, use of an existing templating mechanism in something that invokes Buildah, a separate prototype for a new language likel

[2021-08-30 17:07] kurt-google commented on #3256
I can say that in containers/podman#11236 for my performance numbers time spent copying data is very small, about 10-20s of the profile as it was tested on a NVMe disk. On slower disks there may be different bottlenecks then what I was notcing.

[2021-08-30 20:25] cevich opened #3490 "Buildah rmi untagged/removed the wrong image/manifest-list"
**Description**

When removing (untagging) a specific manifest-list, it's arguably intuitive to expect only the named item to be removed.  That's not what's happening as of 4d229222

**Steps to reproduce the issue:**

1. `podman system reset --force`
2. `make bin/buildah`
3. `bin/buildah pull alpine`
4. `bin/buildah manifest create foobar`
5. `bin/buildah manifest add foobar alpine`
6. `bin/builda

[2021-08-30 20:35] cevich commented on #3490
@nalind PTAL, this seems to me a particularly bad problem (surprising to users) :confused:   I double-checked and it *does* reproduce under F34 using a `get_ci_vm.sh`  VM (so it's not just my janky F33 laptop) :cry:

[2021-08-30 20:45] nalind commented on #3490
This sounds like it's of a piece with #3467.  @flouthoc, I think you mentioned you were doing follow-up work for #3483 earlier.  If I remembered that correctly, is this that?

[2021-08-30 20:56] cevich commented on #3490
Yes, I found this right after running tests against script I'm working on.  I was specifically verifying the  new `tag` support would pass all my checks, but other commits came in as well, so I didn't want to assume.

[2021-08-31 00:02] TomSweeneyRedHat commented on #3479
@stellarpower the Podman Community Cabal meetings happen on the third Thursday of the month.   So the next one is September 16, the following one is October 21.  I think 2 or 3 slides would probably be helpful, just to sketch out the basis of your idea, and then discuss from there.  Some of those slides might be pseudo syntax for what you're envisioning as you have in some of the comments here.  I

[2021-08-31 00:37] FilBot3 opened #3491 "[INFORMATION] cannot mount using driver overlay in rootless mode. You need to run it in a `buildah unshare` session"
# Description

I am trying to use `buildah` to perform a multi-stage container build similar to the [Docker Multi-Stage Builds](https://docs.docker.com/develop/develop-images/multistage-build/) example. I am able to build it using `podman build` and `buildah bud`. However, when converting it to a shell script using buildah commands, I ran into the following issue:

[code]

So, I run `buildah unsha

[2021-08-31 04:13] flouthoc commented on #3490
@nalind Yes this is the correct issue , same issue persists with podman and has been reported with upstream. I'll take care for both of them https://github.com/containers/podman/issues/11344

[2021-08-31 08:16] #3427 closed

[2021-08-31 12:23] flouthoc commented on #3491
@FilBot3 what happens when you do `buildah unshare script.sh` ?

[2021-08-31 12:28] flouthoc commented on #3491
you cannot use `mount` at all in rootless mode without `unshare`.

[2021-08-31 12:30] FilBot3 commented on #3491
Running the `buildah unshare script.sh` did work as expected and not drop me into another shell. Thank you @flouthoc !

[2021-08-31 12:32] #3491 closed

[2021-08-31 12:48] flouthoc commented on #3491
@FilBot3 glad it worked :) .

[2021-08-31 17:55] mdbooth commented on #3217
Ditto with type-volume in 1.22.0

Dockerfile contains:
[code]

buildah errors:
[code]

[code]

[2021-08-31 17:59] ashley-cui commented on #3217
We're working on getting each of these features in one by one :)

[2021-09-01 07:54] flouthoc commented on #3490
@cevich `buildah rmi` is doing the correct job since `rmi` is for `remove-images` it doesn't really cares if image is coming from manifest list and works as expected as per man-pages. You should use `buildah manifest rm` however it has a similar bug which is fixed in https://github.com/containers/buildah/pull/3492

[2021-09-01 08:38] mdbooth commented on #3217
Incidentally, I was originally looking for `--mount=type=cache` in the unlikely event it's not already on your radar 😀

[2021-09-01 14:14] rhatdan commented on #3070
@flouthoc PTAL

[2021-09-01 14:14] rhatdan commented on #2850
@flouthoc PTAL

[2021-09-01 14:37] flouthoc commented on #2850
I'll take a look. Thanks

[2021-09-01 14:41] cevich commented on #3490
Oh okay that makes sense (and thanks for taking care of the `manifest rm` problem).  I think many users will intuitively reach for `buildah rmi` though, so maybe I can help by improving the documentation.  Conveniently it already has a 'Limitations' section :grin:

[2021-09-01 14:49] flouthoc commented on #3490
@cevich I'll fix the documentation as well as soon as the `manifest rm` fix is in. :smile:

[2021-09-01 14:59] cevich commented on #3490
Oh no worries, I can help there, focus on the code :grin:

[2021-09-01 19:56] edsantiago opened #3494 "Optimization: use smaller images in tests"
The `bud with copy-from in Dockerfile no prior FROM` test is causing flakes in podman testing because image pulls take over two minutes:

https://github.com/containers/buildah/blob/e1f747152caa112fbc476c5440fdcfe5bef15c01/tests/bud.bats#L1568-L1574

`php` and `composer` are huge: 400MB and 185MB respectively. Does this test explicitly require something that can only be provided by these images? If

[2021-09-01 20:06] nalind commented on #3494
I don't think it does.  The test looks like it was modeled after the original report in https://github.com/containers/buildah/issues/1175.  Copying any file which we know is present in a different image should be sufficient - the important thing is that the argument of the `--from=` is not a reference to a previous stage (either by name or number) of the multi-stage build, so we treat the argument

[2021-09-01 20:08] edsantiago commented on #3494
Thank you! I've self-assigned.

[2021-09-02 17:17] austinjp opened #3495 "Cloning private git repo at build time using a password-protected SSH key could be easier"
**Description**

Feature request. Apologies if this has been addressed in past issues. I had a look but didn't see it.

As per the title, cloning a private git repo during *build* time (not run time) using a password-protected SSH key was very tricky, in my experience. I got it working, but embarrassingly it took me a full day to figure it out. I've described my approach here in the hope that (a)

[2021-09-02 22:01] learnitall commented on #620
I'd love to take a crack at it if y'all still need a volunteer. I saw the "Good First Issue" tag and figured this would be a good opportunity to get involved. Would be great for integration in the [redhat buildah github-action](https://github.com/redhat-actions/buildah-build) to speed up GHA workflows.

[2021-09-03 01:07] stellarpower commented on #3479
Okay, I think probably best if I spend a bit more time thinking about it, so I have some concrete points and hopefully some use cases. I'll try and knock together a few slides too and aim for the October meeting; I'll keep you posted. And maybe there are others here who want to add some thoughts. Thanks for the invitation!

[2021-09-03 10:01] flouthoc commented on #3070
@kkujala thanks for sharing reproducer.

[2021-09-03 15:41] gregorso opened #3496 "[macos] podman build fails with potentially insufficient UIDs or GIDs available in user namespace"
I installed latest podman on macos 11.5.2 (20G95)
each build fails with
potentially insufficient UIDs or GIDs available in user namespace....

**Steps to reproduce the issue:**
1. brew install podman
2. podman build .

   Dockerfile:
   from alpine
   WORKDIR /app

3.

**Describe the results you received:**
Error: potentially insufficient UIDs or GIDs available in user namespace (requested 6059370

[2021-09-03 22:18] nl-brett-stime opened #3497 "Feature request: Support buildah shell scripts as custom syntax for `DOCKER_BUILDKIT=1 docker build`."
Recent versions of Docker support alternate syntaxes / front-ends for the `docker build` command when BuildKit is enabled:
https://docs.docker.com/engine/reference/builder/#syntax

E.g., Given a file such as:

lighthttpd.buildahkit
[code]

...it could be built using Docker running on Linux, Mac, Windows, etc. using a command like the following:
[code]

If I understand correctly, it seems like this

[2021-09-04 08:11] flouthoc commented on #3496
Could you please share contents of `cat /etc/subuid` and `cat /etc/subgid` i think it has very small range.

[2021-09-04 08:16] flouthoc commented on #3495
This will work but afaik @ashley-cui added a new flag to expose `SSH` keys to build instruction. @ashley-cui @rhatdan Could you please confirm ?

[2021-09-04 10:03] #3490 closed

[2021-09-04 17:40] gregorso commented on #3496
cat /etc/subuid
core:110000:1700000000

cat /etc/subgid
core:110000:1700000000

I've tested with several settings .. but no luck

[2021-09-05 08:43] flouthoc commented on #3070
@kkujala following PR should close this issue https://github.com/containers/buildah/pull/3498

[2021-09-06 06:12] flouthoc commented on #3496
Sorry since this is `podman-remote` we need to check mappings via `podman info`

[2021-09-06 06:13] flouthoc commented on #3496
Could you paste output of `podman info` also i think this issue should be tracked in `podman` repo not on buildah repo but not a big issue

[2021-09-06 06:22] flouthoc commented on #3496
You need to check values of `/etc/subuid` and `/etc/subbgid` inside the remote , you can use `podman machine ssh` to access remote machine.

[2021-09-06 12:26] rcny opened #3500 "`repository name must be canonical` when `buildah` is > `1.22.0`"
**Description**

`buildah login docker.io/user` errors with

[code]

after updating to `1.22.3` from `1.22.0`. `buildah login docker.io/user` worked before, had to change to `buildah login docker.io` to make it work again.

Most possibly this behavior change was introduced [here](https://github.com/containers/buildah/commit/2d1b0f84f0d70a836fe9d1aaf85a5738728fb217).

**Steps to reproduce the issue

[2021-09-06 12:27] vrothberg commented on #3500
Thanks for reaching out, @rcny!  @saschagrunert PTAL

[2021-09-06 13:53] saschagrunert commented on #3500
The issue is that `docker.io/user` will fail on `ParseNamed()` here:
https://github.com/containers/buildah/blob/58a16f97689cc96b1a69a03d773c4399413f8854/vendor/github.com/containers/image/v5/docker/reference/reference.go#L246-L248

A valid input would be `docker.io/library/user`, which should work.

Working on a fix in https://github.com/containers/common/pull/757

[2021-09-06 14:26] gregoryboue commented on #2554
Hi,

Any news on this ?

[2021-09-06 14:55] flouthoc commented on #2469
Thanks I'll take a look.

[2021-09-06 15:19] flouthoc commented on #2383
@jpic Sorry If i did not understand I think `buildah bud` already caches the layers is there any reason to explicitly handle the layers. Do you think image layer cache is not working properly or we can improving that.I feel working with layers directly might be too verbose for users but i could be wrong.

[2021-09-06 15:26] leahneukirchen opened #3503 "rootless overlayfs: lacking support for overlay volumes"
In containers/storage#816, support was added for rootless overlayfs mounts: `userxattr` is passed onto the overlay mount for `/` in this case.

However, overlay volume mounts (`-v /foo:/foo:O`) do not use the `userxattr` flag in the mount call, which results in issues where directories cannot be renamed because EXDEV is returned, see https://www.kernel.org/doc/html/latest/filesystems/overlayfs.htm

[2021-09-07 11:00] #3070 closed

[2021-09-07 14:09] jpic commented on #2383
I'm not using buildah bud because I don't find Dockerfile to be a good
language and it's not extensible, I prefer to use other buildah commands
instead, in which case I currently have to commit the whole image instead
of actual layers.

[2021-09-07 17:00] rhatdan commented on #620
GO for it.

[2021-09-07 17:12] rhatdan commented on #3369
@kwshi We believe this issue is solved, reopen if I am mistaken.

[2021-09-07 17:28] scholarsmate commented on #3496
I'm having the same problem as the original poster on macOS Big Sur v11.5.2.

[code]

[code]

[code]

Hope it helps.

[2021-09-07 18:04] nalind commented on #3496
@gregorso, on your MacOS host, can you run `id`?  I'm guessing that 60593705:1664186505 will be your UID and primary GID.

If that's the case, then [`nTar`](https://github.com/containers/podman/blob/536f23c0b78dd8feafee4e40b743988dbb03bfa2/pkg/bindings/images/build.go#L447) probably needs to force the UID and GID in the tar headers that it generates to both be 0.  The ADD and COPY instructions are

[2021-09-07 18:06] rhatdan commented on #3497
@flouthoc @nl-brett-stime I am not sure what the request here is?

[2021-09-07 18:49] scholarsmate commented on #3496
[code]

[2021-09-07 19:30] roy-work opened #3502 "podman build fails: Unable to copy tar file from request body"
**Description**

Running `podman build ../../.. -f local.Dockerfile` on a Dockerfile we have causes `podman` to hang for ~12 minutes before finally failing with:
[code]

**Steps to reproduce the issue:**
1. `podman build ../../.. -f local.Dockerfile`

**Describe the results you received:**
The above error.

**Describe the results you expected:**
A build Docker image.

**Output of `rpm -q buildah`

[2021-09-07 21:08] rhatdan commented on #2554
@umohnani8 PTAL

[2021-09-08 05:23] flouthoc commented on #3502
@roy-work thanks for reporting this, similar issue is being tracked here https://github.com/containers/buildah/issues/2850, do you think issue is duplicate ? If yes I'd suggested to lookout for updates on original issue as i am just picking it up.

[2021-09-08 07:45] vrothberg commented on #3369
I don't believe this is fixed. See my previous comment (https://github.com/containers/buildah/issues/3369#issuecomment-891925516): there's still things we need to investigate.

[2021-09-08 08:09] kwshi commented on #3369
I agree that this is not yet fixed; I just downloaded the latest release (v1.22.3) and am still having the same problem.  I am still working on finding a reliable reproducer/pinning down the exact cause of the slowness.

[2021-09-08 15:42] mtrmac commented on #2850
@flouthoc Could you reproduce this and document where/what actually uses the disk space, please, so that we have a documented full picture of where we are, before starting to fix any specific suspected cause? We have justified suspicions about various code paths, but here might well be something else we haven’t thought about.

[2021-09-08 16:03] flouthoc commented on #2850
@mtrmac Sure i'll do that.

[2021-09-09 07:19] flouthoc commented on #2383
@jpic thanks a lot for explaining your use-case i think use-case  is very much specific rather than generalized since as a cli tool most users will shy away from handling layers by themselves but I could be wrong. I would love other maintainers opinion on this cc @vrothberg @giuseppe @nalind @mtrmac @rhatdan

[2021-09-09 07:24] kwon14 opened #3505 "Is there any way to install it on ubuntu 20.04?"
Hello. I am trying to install buildah with dockerfile.
The OS I am using is ubuntu 20.04.

As shown below, both methods of case 1 and 2 cannot be installed in ubuntu 20.04.
If you know how to install it, please share.

We always appreciate your hard work.
thank you.

case 1:
Step 28/55 : RUN wget -nv https://download.opensuse.org/repositories/devel:kubic:libcontainers:stable/x${ID^}_${VERSION_ID}/

[2021-09-09 08:23] flouthoc commented on #3505
@kwon14 could you try this https://gist.github.com/sebastianwebber/2c1e9c7df97e05479f22a0d13c00aeca

[2021-09-09 19:02] mtrmac commented on #2383
To me, https://github.com/containers/buildah/issues/2383#issuecomment-636944835 really feels like something that should be calling a Go library (and reusing/extending the existing cache implementation, not having a completely separate database on top).

The ability to use Buildah’s infrastructure to cache build steps would be clearly useful for _other_ image build approaches, e.g. the OpenShift s2

[2021-09-09 21:07] roguexz opened #3509 "Include "host.containers.internal" entry during the image build process"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind feature

**Description**

When building an image, it would be nice to have access to the `host.containers.internal` IP address. This allows developers to author build files that consume additional binaries / metadata / authorized content from a service that is running locally on the machine.

This is something whi

[2021-09-09 21:07] rhatdan commented on #3509
@roguexz interested in opening a PR?
@flouthoc PTAL

[2021-09-09 21:13] roguexz commented on #3509
@rhatdan I would love to do that .. just that I am Java guy who can make Jackson de-serialize data into an interface! ... but when it comes to Go, I will need an example to start with. If you can point me in the right direction, I can give it a shot.

[2021-09-09 21:17] rhatdan commented on #3509
Simplest route would be to look for /etc/hosts within  the buildah code base.  Then look at the code that does this in podman

./libpod/container_internal_linux.go:				hosts += fmt.Sprintf("%s host.containers.internal\n", ip.Gateway)

Then figure out how to copy it accross.

[2021-09-09 21:18] rhatdan commented on #3509
If you know java you can figure out golang.  Especially if you are only making a small change.  Writing the tests might be a little difficult, but you can probably steel something from Podman.

[2021-09-09 21:20] rhatdan commented on #3370
@flouthoc PTAL

[2021-09-10 00:33] kwon14 commented on #3505
@flouthoc Thank you so much!!
It works for me!!

[2021-09-10 07:32] #3503 closed

[2021-09-10 10:00] vrothberg commented on #2383
`buildah source add $IMAGE $SOURCE` adds $SOURCE as a new layer to $IMAGE with $IMAGE being a path (i.e., dir transport). But it's still experimental and not used in production at all.  Once the chicken-egg problem of better OCI artifact support is addressed, we can push things further. Quay.io and Docker Hub will soon-ish support more artifacts which allows for trying things out in the wild.

[2021-09-10 12:14] mtrmac commented on #3479
BTW note https://github.com/containers/buildah/blob/5b056ee652bb6165a462305a2ce47745265ba122/docs/buildah-build.md :

[2021-09-10 15:31] #3505 closed

[2021-09-10 19:22] stellarpower commented on #3479
I didn't know that. Something like that sounds workable, although I think using specifically the C Preprocessor as a templating engine is... well possibly substituting a headache for nausea, but a good start.

If any of you have ever seen the infamous [wat talk](https://www.destroyallsoftware.com/talks/wat), I am wondering if tihs would be a way to present some motivating examples. I think I have

[2021-09-11 11:35] floriankisser opened #3511 "`buildah manifest add` with `--variant` or `--arch` does not find local image anymore"
**Description**

Trying to add a local image to a manifest, while setting the variant or arch, fails to find the local image, instead tries to fetch the image from docker.io.

This worked in my CI with buildah version 1.21 and didn't anymore with version 1.22

version 1.21:
registry.gitlab.com/floriankisser/ci-buildah:main-20210801-0501-e25f2ac8
version 1.22:
registry.gitlab.com/floriankisser/ci-b

[2021-09-12 10:22] dilyanpalauzov opened #3512 "bud: Do not assume implicit ENV PATH=… in Containerfile"
[code]
zzz.tar:blobs/sha256/75c4176381a53c0845d32c89f23e1c27b2f55f2d42e6ecfaaf8f571053b88ae6 is

[code]

yyy.tar:blobs/sha256/25bc4e9ec6ed2cd0f0220c7600996d2c1d428b080b30aff0700548b722bfe414 is

Apparently `buildah build-using-dockerfile` inserts ENV (PATH), even if there is no ENV in the Dockerfile.  For OCI images, which contain a single binary, this does not make sense.

[2021-09-12 10:52] dilyanpalauzov opened #3513 "bud: permit turning off the history"
`buildah config --add-history` turns the history for the resulting image explicitly on.  It can be configured also with the BUILDAH_HISTORY environment variable.

* add option to buildah bud to disable history

[code]

[2021-09-13 09:51] flouthoc commented on #3370
So one thing how docker does it that it adds a step `LABEL <key>=<value>` as last child step to parsed nodes when `--label` is provided however `podman/buildah` does not functions in the same manner as we are not treating labeling as a step when specified from command line instead we are just adding labels explicitly during `commit(`  and that does not adds this step to  history. In case of `podma

[2021-09-13 10:07] flouthoc commented on #3370
One problem with above patch (https://github.com/containers/buildah/issues/3370#issuecomment-918024546) is we are always commiting even if same command is provided twice example `podman build --label "hello=world" -t image .` would re-commit even if we are going to use exact same command again. Therefore i am favor of tracking history of label changes and have it just like docker.

[2021-09-13 13:45] ashley-cui commented on #3495
Yep, there is a ssh mount now in buildah! try --ssh, --mount=type=ssh

[2021-09-13 13:45] #3495 closed

[2021-09-13 14:35] flouthoc commented on #3511
@floriankisser Thanks for creating issue was it working before ? Since when do you think it had stopped working. Could you try latest main.

[2021-09-13 15:54] learnitall commented on #620
Just a quick update: been making some great progress and I think I'll have a working implementation here soon. Going to try to raise a PR by EOW if I can, but we'll see what happens with school.

[2021-09-13 16:52] floriankisser commented on #3511
@flouthoc I have records of it working until `buildah-1.21.0-1.fc34.x86_64`, it fails with `buildah-1.22.0-2.fc34.x86_64`, details linked in the issue description.

I have done a version of my container buildah from git main:
https://gitlab.com/floriankisser/ci-buildah/-/blob/nightly/build.sh
Pull `registry.gitlab.com/floriankisser/ci-buildah:nightly` if you want to try it.

Using it still fails:

[2021-09-13 17:41] rhatdan commented on #3512
This follows the standard that Docker set. If  you build an empty image with Docker it will also insert a default PATH environment.

[2021-09-13 17:42] rhatdan commented on #3513
Why do you want this?

[2021-09-13 18:23] dilyanpalauzov commented on #3513
Because I want to have smaller images and because this information shall be irrelevant.

[2021-09-13 18:27] dilyanpalauzov commented on #3512
The Dockerfile reference specification - https://docs.docker.com/engine/reference/builder/ - does not describe this implicit behaviour.  It also does not describe, how to turn it off.

[2021-09-13 18:35] rhatdan commented on #3370
SGTM

[2021-09-14 10:23] austinjp commented on #3495
Forgive my naivety, but my situation is with podman, not buildah. How can I achieve this in podman?

[2021-09-14 10:59] flouthoc commented on #3370
I went ahead with how docker is behaving for this case as that seemed more elegant to me but we can discuss on that.

@cben @dosmanak you can try following commit https://github.com/containers/buildah/pull/3517 with buildah as `buildah build --layers --label "hello=world" -t podman_issue .` is equivalent to `podman build -t podman_issue . --label "hello=world"`. Once accepted we can vendor this in

[2021-09-14 12:13] flouthoc commented on #3495
@austinjp You should be able to use it with podman as soon as new version of buildah is vendor-ed into podman or you can manually build podman with vendoring in latest version of buildah.

[2021-09-14 13:52] ashley-cui commented on #3495
Yep! podman build --ssh, --mount=type=ssh. podman build is really just buildah :)

[2021-09-14 14:56] austinjp commented on #3495
Thanks all. Happy for this to be closed. Great work on podman, buildah, _et al_ :smile:

[2021-09-15 15:39] edsantiago opened #3520 "ignorefile: wildcard behaves differently depending on unrelated ignore lines"
Weird and unexpected side effect of #3486 : actually specifying `!subdir/foo` makes `!*/bar` suddenly work:
[code]
Removing the last line (the `sub3` one) from `.containerignore` makes `sub1.txt`, and all of `subdir`, go away:
[code]

This violates POLA, because a wildcard behaves differently depending on completely unrelated lines in the ignorefile. I think I understand why it's happening, and my

[2021-09-15 21:33] floriankisser commented on #3511
I ran git bisect and found it had stopped working with fbd99d001d4ae33d5e02e45ea454e51c7fa123ba. I'm not sure whether libimage is to blame, or if it's how libimage is used by buildah. A similar issue has been fixed once in 59cfb7b16c37fc32abdecff36032c8b5a22f2758.

[2021-09-16 00:10] tetchel commented on #2954
not stale

[2021-09-16 04:13] flouthoc commented on #3328
@alexgaganashvili Thanks for confirming and closing the issue.

[2021-09-16 04:14] flouthoc commented on #3511
@floriankisser Thanks I'll check and confirm this.

[2021-09-16 09:49] flouthoc commented on #2954
@Raboo I think its `default: "/var/lib/containers/storage" for UID 0, "$HOME/.local/share/containers/storage" for other users` have you tried using buildah with `--root` I think it should allow you to change default path with custom one where github action is storing cache by default.

[2021-09-16 10:05] flouthoc commented on #3452
@riconnon  for a workaround you could mount volumes from host and use it as a cache storage
e.g
`buildah build -t test -v ~/hostdir:/containerdir:z .`
there is a article showing a similar usecase https://www.redhat.com/sysadmin/speeding-container-buildah

I think this feature goes in parity with  https://github.com/containers/buildah/issues/3217 and can be easily implemented on top of it.So i thin

[2021-09-16 10:16] flouthoc commented on #620
@learnitall Thanks just to confirm does your approach involves integrating `buildkit` or is it addon to native buildah.  Asking this as issue has a label `buildkit` so it might automatically solve few more unrelated issues if your solution involves integrating `buildkit` if not then also it is good.

[2021-09-16 10:31] Raboo commented on #2954
@flouthoc okay, thanks.
I don't have the time or possibility to test this right now as I'm not using buildah at the moment. But it clearly seems solvable in sense.

[2021-09-16 10:53] flouthoc commented on #3261
@cdoern Since you are occupied on podman volume issues let me know if you need any help with this.

[2021-09-16 13:03] rhatdan commented on #2954
I think we need to document up how to use additional stores, @giuseppe @flouthoc Could you write up a blog on using additional stores to satisfy this need.

[2021-09-16 13:50] cgwalters opened #3523 "`podman build` adds `/run` files in generated layers"
/kind bug

**Description**

[code]

As you'd expect, docker generates a tar stream that contains just my changes.  But podman:

[code]

**Output of `podman version`:**

[code]

**Package info (e.g. output of `rpm -q podman` or `apt list podman`):**

[code]

[2021-09-16 14:16] nalind commented on #3520
Yes, this is compatible how `docker build` behaves.  I'm not thrilled about the behavior, myself.

[2021-09-16 14:22] edsantiago commented on #3520
Oh, ouch. I no longer have any way to run docker, but if this is a compatibility issue I guess we have to live with it. Thanks for the explanation. Feel free to close.

[2021-09-16 17:06] nl-brett-stime commented on #3497
@rhatdan : The request is to provide a gateway into the world of Buildah via Docker BuildKit and their support for alternate syntaxes in their build declaration files . It'll take some knowledge of both Buildah and BuildKit to pull it off but I think it'll benefit Buildah more than BuildKit e.g., making it easy to get started with Buildah from Mac and Windows.

[2021-09-16 17:10] nalind commented on #3520
Going ahead and turning this into a pair of conformance tests.

[2021-09-16 18:55] learnitall commented on #620
I had originally thought about doing this native, but buildkit integration might be a good idea. I can look into it. My gut tells me that doing buildkit integration might be hard to maintain due to high coupling, but I'm not sure.

After doing some research yesterday though, I realized that the way I was going about it only allows for using an entire image as a cache, rather than being able to bre

[2021-09-16 19:03] learnitall commented on #620
Hm looks like there is support for exporting blob cache to a directory, but it was made hidden: https://github.com/containers/buildah/blob/main/CHANGELOG.md#v16-1-2019-01-18. Anybody have background on this?

[2021-09-16 19:11] nalind commented on #620
It's used primarily to avoid having to re-extract and recompress contents of layers that a build inherits from its base image, when the built image is expected to end up being pushed to a different registry than the one that is home to the base image.  There's no logic for pruning the cache, as it was intended for use in builds that happen in containers on clusters, where the builder container is

[2021-09-16 21:12] learnitall commented on #620
Ah that makes sense, that's a cool use case. I wish that wasn't hidden though, as using blobs seems to be the way that all of this layer caching is done. For instance, I've figured out a way to use pulled images as a cache, however it's all or nothing. I'm not sure how to do caching on a per-usage layer yet and could use some help. It's weird, as `--cache-from` is meant to import a cache but I can

[2021-09-16 21:52] nalind commented on #3520
Tests are merged, closing this one.

[2021-09-16 21:52] #3520 closed

[2021-09-17 06:24] flouthoc commented on #620
@learnitall oh did my buildkit comment confuse you. If yes that was not my intention my idea of `buildkit` integration was to plug already written code in buildkit as library in buildah. But I think native approach is better as it will keep things simple. Please carry on with your original approach.

[2021-09-17 08:52] giuseppe commented on #2954
do we need to cover something that is not already in https://www.redhat.com/sysadmin/image-stores-podman or do we need some github specific recipe?

[2021-09-17 10:56] flouthoc commented on #3523
I'll take a look thanks.

[2021-09-17 13:28] #3370 closed

[2021-09-17 19:59] learnitall commented on #620
Ah ok, thanks for clarifying!

[2021-09-18 12:28] skorhone opened #3524 "Provide secrets using environment variables"
Currently the only supported mechanism for passing secrets is to store them on filesystem. I'd like to see something like --secret id=secret,env=FOO that could be used to expose secret as environment variable.

The reason for this request is that most CI services pass secrets as environment variables. Creating a temporary file on persistent storage just doesn't feel right (or safe)

Build kit has

[2021-09-19 11:49] flouthoc commented on #3523
@cgwalters Could you please try above PR please.

[2021-09-19 12:19] flouthoc commented on #3513
@dilyanpalauzov Please correct me if i am wrong your intention is to reduce size of tar by removing `history` from config ?

[2021-09-19 14:04] dilyanpalauzov commented on #3513
Yes, I think this information is not essential and therefore there must be a way not to include it (in oci-archive:….tar).

[2021-09-20 13:58] rhatdan commented on #3524
@ashley-cui PTAL

[2021-09-20 14:07] rhatdan commented on #3268
@cevich @nalind @Romain-Geissler-1A Where are we on this Issue?  Do we have enough features to close it?

[2021-09-20 14:13] rhatdan commented on #3513
The size difference will be negligible but I am fine with this feature.

[2021-09-20 15:18] flouthoc commented on #3513
Yes since its optional on `image-spec` i guess we can also have it as optional https://github.com/opencontainers/image-spec/blob/main/config.md#properties

[2021-09-20 19:44] cevich commented on #3268
IMHO the `--jobs` option kind of takes the place of request 2.  I'm not sure it's worth the code-bloat and effort to implement the buildah-farm concept.  The `--platform` list is definitely working so request 1 is handled also.  Yep, I say we can probably close this as complete-ish.

[2021-09-21 15:55] skorhone commented on #3524
Also, if possible, let user select whether secret from environment variable is exposed as file or environment variable. If target RUN command supports secret from environment, reading it from file with FOO=$(cat /secrets/foo) doesn't make much sense

[2021-09-22 10:50] TriplEight commented on #1500
Apparently, this didn't work in this case:

[code]

Even though
Neither `ARG REGISTRY_PATH=docker.io/myorg` nor --build-arg="docker.io/myorg" didn't affect the second `FROM` and it was failing with:

[code]

[2021-09-22 14:15] rhatdan commented on #1500
Please open a new issue, if something is broken for you.

[2021-09-22 14:24] TriplEight opened #3531 "`--build-arg` and `ARG` not working when the `ARG` used before `FROM`"
Apparently, this didn't work in this case:

[code]

Neither `ARG REGISTRY_PATH=docker.io/myorg` nor --build-arg="docker.io/myorg" didn't affect the second `FROM` and it was failing with:

[code]

_Originally posted by @TriplEight in https://github.com/containers/buildah/issues/1500#issuecomment-924815564_

[2021-09-22 18:02] nalind commented on #3531
I didn't think that was expected to work.  The build arg created with `ARG REGISTRY_PATH=docker.io/myorg` value would not have an effect on the `FROM` instruction because it's not in the same stage as the `FROM ${REGISTRY_PATH}/image:latest` instruction, which is the start of the next stage.

[2021-09-23 00:27] #3469 closed

[2021-09-23 12:01] #3119 closed

[2021-09-23 15:04] cevich opened #3534 "Make runs very, very slowly"
**Description**

In CI and Automation in general, it's often helpful to shallow-clone a repository to save time/space/bandwidth.  This is not practical with `https://github.com/containers/buildah.git` due to some unknown wizardry in the `Makefile`, causing `go` to spawn a billion (okay, maybe 20) `git` processes doing who-knows-what.

**Steps to reproduce the issue:**
1. On F33 with golang 1.15.14

[2021-09-23 18:07] rhatdan commented on #3534
I believe it is setting up a cache of all of the vendored content.  We don't see this slowness since we always comple against the cache.

[2021-09-23 18:12] nalind commented on #3534
Oh, that's probably the `go test -race pkg/rusage` call pulling down dependencies because we're not using `-mod=vendor` there.

[2021-09-23 18:22] cevich commented on #3534
See how much about go I know? :grin: Lemmie try my crude reproducer on your PR code...

[2021-09-23 18:27] cevich commented on #3534
...confirmed, that seems to fix it right up:

[code]

Thanks!

[2021-09-23 22:13] stellarpower opened #3536 "Set TERM inside Working Containers (by default)."
Feature Request
---------------------------------------------------

**Description**

TERM is not set inside buildah working containers. For me, this leads to the inconvenience that I don't get colour from my prompt - sounds trivial, but for very long make builds of, say, c++, this provides an invaluable timesaver in scrolling up to find the one root error that caused the 589 errors that occurred

[2021-09-24 08:16] flouthoc commented on #3536
@stellarpower thanks for doing the analysis on this one. Just to verify do things work out for you if you add `ENV TERM=xterm` to your containerfile ? If yes then this change should be easy to add.

[2021-09-24 09:41] bbannier opened #3537 "Dockerfile SHELL instruction seems to be ignored"
**Description**

I would like to use Bash in Dockerfile `RUN` instructions, but when I use a [`SHELL`](https://docs.docker.com/engine/reference/builder/#shell) instruction  to change the default shell Buildah seems to silently ignore my request.

**Steps to reproduce the issue:**
1. Create a `Dockerfile` containing a `SHELL` instruction and try to use Bash features in `RUN` instructions, e.g.,

[c

[2021-09-24 10:15] #3534 closed

[2021-09-24 11:39] TriplEight commented on #3531
@nalind good point, might be. But in this case `--build-arg` doesn't work either, is it because it's being intercepted by the `ARG` with the same var? Then I think such a corner case should be addressed somehow.

[2021-09-24 12:13] flouthoc commented on #3537
@bbannier try with `buildah build --format=docker`  i dont think this is supported for OCI.

[2021-09-24 12:18] bbannier commented on #3537
That does work @flouthoc, thanks a lot.

This solves my immediate issue, but I think it would still be great to add a diagnostic for this when using unsupported constructs.

[2021-09-24 12:25] flouthoc commented on #3537
@bbannier I think it spits a warning could you check your build log please, it should show something like.

[code]

[2021-09-24 12:36] bbannier commented on #3537
Ah interesting, you are right, I see the warning when building directly with `buildah` on that Fedora system I described above.

What I originally did was to build via `Podman` from macos (e.g., `podman build .`). For that setup the diagnostic doesn't seem to propagate to the macos host. Should I create a new issue somewhere in [containers/podman](https://github.com/containers/podman/) for that?

[2021-09-24 14:49] nalind commented on #3531
`ARG`s are generally only usable in a stage after they're defined for that stage, so at the point where the `FROM` instruction that starts a stage is being parsed, the argument isn't known to be a valid argument.  It would have to be defined again in the stage in order to be usable by later instructions in that stage.
Heading `ARG`s (those defined before the first `FROM` instruction) should be usa

[2021-09-24 18:08] rhatdan commented on #3473
@adambkaplan Where are we with this?  Is this still an open issue, or is setting --quiet enough.  We have talked about potentially setting secret environment variables from the API as well as from the mount secrets.

[2021-09-24 18:30] adambkaplan commented on #3473
--quiet is enough for us. We are able to set that option within openshift/builder - I am OK closing this issue.

[2021-09-24 18:30] #3473 closed

[2021-09-24 18:49] rhatdan commented on #3537
If you don't see this message when building on a MAC that too is a bug.

[2021-09-24 22:00] blairmf commented on #2359
Hello All,

I seem to have hit an issue possibly related to the one in this thread on RHEL 8.3, and upgrading to 8.4 did not resolve it. I'm using rootless containers and additionalimage options as described in this [article ](https://www.redhat.com/sysadmin/image-stores-podman).

As a rootless user, when trying to build a new intermediate image in a multi-stage a Dockerfile, I'm trying to pull fr

[2021-09-25 09:50] rhatdan commented on #3474
I tried this with Docker, and it fails?

[code]

[2021-09-25 18:46] flouthoc commented on #3536
Relaying comment from PR so it stays with issue.

I am not sure but this might be a potential `WONTFIX` IMO  reason mentioned in the link below

https://github.com/containers/buildah/pull/3539#issuecomment-927166278

[2021-09-25 21:34] stellarpower commented on #3536
Am on my phone right now, so was going to look properly layer, but was wondering if the issue should be renamed, or we should open another one and merge this into it, more in line with the PR - e.g.
 "Should (some) environment variables from defaults in containers.conf be passed into buildah run?"

[2021-09-26 11:24] rhatdan commented on #2601
@edsantiago any recent occurrances, or has a miracle happened?

[2021-09-26 11:25] rhatdan commented on #2449
@flouthoc WDYT?

[2021-09-26 11:25] rhatdan commented on #2041
@flouthoc didn't you get something in for this one?

[2021-09-26 11:26] rhatdan commented on #1936
@flouthoc PTAL

[2021-09-26 11:27] rhatdan commented on #1292
@flouthoc PTAL

[2021-09-26 11:34] flouthoc commented on #2041
This is resolved by https://github.com/containers/buildah/pull/3517

[2021-09-27 10:11] ksonj commented on #3495
Should this not also work with `buildah run` in addition to `build`?

[2021-09-27 10:16] flouthoc commented on #3217
/assign

[2021-09-27 10:43] flouthoc commented on #2041
Closing this. Please re-open if this still persists.

[2021-09-27 10:43] #2041 closed

[2021-09-27 13:08] nalind commented on #3474
It's a [labs](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md) (experimental?) feature.

[2021-09-27 16:13] edsantiago commented on #2601
I don't see any. But: this flake has never occurred in CI, only in gating tests. There have only been a handful of buildah builds in the past month, and the flake isn't there, but I have no way of knowing if someone pressed Rerun. (Gating-test logs are completely different from Cirrus, and I have no tools to pull those logs).

We've closed/reopened this before, I'll do so again.

[2021-09-27 16:13] #2601 closed

[2021-09-27 17:17] rhatdan commented on #3495
Yes it should work on podman run.

[2021-09-27 18:06] rhatdan commented on #3474
Ok But this still breaks on docker buildx build at least in the version of Docker i have installed.

[code]

[2021-09-27 18:07] rhatdan commented on #3474
[code]

[2021-09-27 18:37] nalind commented on #3474
My understanding is that this requires the correct `# syntax=docker/dockerfile:1.3-labs` at the top of the Dockerfile.

[2021-09-27 18:54] edsantiago opened #3544 "buildah not actually stopping on SIGTERM"
[code]
Looks good ... except that, 25 seconds later (when `sleep` finishes), this spews out on my terminal:
[code]
During those 25 seconds:
[code]
Appending `| cat` to the reproducer changes the behavior: instead of getting a prompt, the command pauses for those full 30 seconds, then spits out the build log stuff, then returns to command-line prompt.

In both cases, after 30 seconds, `buildah imag

[2021-09-27 19:28] rhatdan commented on #3474
Yup that works.
[code]

Do you think we should support it?

[2021-09-27 19:32] nalind commented on #3474
Yeah, but I'm not working on the patches yet.

[2021-09-27 19:32] rhatdan commented on #3544
@nalind PTAL.
Basically buildah needs to catch sigterm and then kill any runs correct?

[2021-09-27 19:46] ksonj commented on #3495
hm, but what about `buildah run`? It does not appear to work in version 1.23.0

[2021-09-28 08:36] vrothberg commented on #3544
And possibly clean up/remove  the build containers?

[2021-09-28 11:27] flouthoc commented on #3217
@akdor1154 @fumiyas Above PR should close this

[2021-09-28 13:57] nalind commented on #3544
As an unprivileged user, the reproducer kills the originally-started process, but leaves the child that's running as root in a user namespace untouched.

[2021-09-28 21:18] #3523 closed

[2021-09-28 23:45] grooverdan opened #3550 "buildah push oci fall back to vnd.docker.distribution.manifest.list contents not transformed"
**Description**

Generating manifests with buildah is incompatible with quay.io's accepted format.

**Steps to reproduce the issue:**

<pre>
[dan@bb-rhel8-docker ~]$ container=$(buildah from
docker.io/aarch64/ubuntu:latest)

[dan@bb-rhel8-docker ~]$ container2=$(buildah from
docker.io/library/ubuntu:latest)

[dan@bb-rhel8-docker ~]$ t=$(mktemp)

[dan@bb-rhel8-docker ~]$ buildah manifest create ubo

[2021-09-29 07:17] jskov-jyskebank-dk opened #3551 "Second host volume is not mounted correctly"
**Description**

I mount two host volumes into a container. On Podman 3.3.1 the second volume ends up being a layered fs/volume instead of the intended host folder.

**Steps to reproduce the issue:**
See provided example in [layered-host-volumes.zip](https://github.com/containers/buildah/files/7249573/layered-host-volumes.zip)

The included Containerfile is:

[code]

1. Unpack archive
2. Cd into l

[2021-09-29 07:51] flouthoc commented on #3550
@grooverdan I think according to distribution spec ManifestList specified within manifest v2 can contain manifests with `MIME` type `application/vnd.docker.distribution.manifest.v1+json`  if the manifest list references a legacy schema-1 manifest.

Not sure but could this be an issue with quay ?

cc @giuseppe @containers/buildah-maintainers

[2021-09-29 08:07] grooverdan commented on #3550
It says "it could". But it doesn't mention `application/vnd.oci.image.manifest.v1+json` at all.

[2021-09-29 08:49] jskov-jyskebank-dk commented on #3551
I just realized that I can reproduce the problem with podman 3.2.3 on Fedora 34.

Our build system currently runs on Fedora 33, so I will try to reproduce on F33 in a VirtualBox.

[2021-09-29 09:13] jskov-jyskebank-dk commented on #3551
I have tested in a Pod on our OpenShift 4.8 platform.

[code]

Here both `test-fails.sh` and `test-works.sh` are working as expected.

So the problem may be related to the version of the host kernel!?

[2021-09-29 09:58] TomasTomecek opened #3552 "Buildah to connect to remote podman"
**Description**

Would it be possible for buildah to connect to remote podman which would handle execution and management of the containers?

This way we could have container support where container execution is not available (e.g. Windows)

Context: https://github.com/ansible-community/ansible-bender/issues/259

[2021-09-29 13:04] rhatdan commented on #3550
@vrothberg @mtrmac PTAL

[2021-09-29 13:32] rhatdan commented on #3551
Rootless containers are switching from fuse-overlayfs versus native overlayfs depending on the kernel, I am not sure if that is involved.

[2021-09-29 13:35] rhatdan commented on #3552
No. This will not happen, podman-remote build does pretty much what you want, though.
Or you could just tar up the context directory and Containerfiles and send them to the host and execute buildah there.

[2021-09-29 13:35] #3552 closed

[2021-09-29 13:52] mfblair opened #3553 "Rootless user can't build modified image based on Shared Image"
I created a shared OCI image using the instructions in this great article (https://www.redhat.com/sysadmin/image-stores-podman). This works well for starting containers based on a shared image. However, it seems that when a rootless user tries to create a new image based on an image in the shared area, and makes any changes as part of building the new image, this will trigger an error similar to t

[2021-09-29 13:55] rhatdan commented on #3553
@giuseppe PTAL

[2021-09-29 16:00] giuseppe commented on #3553
it seems to work well with podman 3.3.1.

Could you try again with an updated version?

[2021-09-29 18:16] rhatdan commented on #3553
Looks like this is fixed in the main branch.  Closing. Continue the conversation here, if you have issues.

[2021-09-29 19:24] veita opened #3554 "Image creation fails during file deletion with "Too many links" on BTRFS as underlying file system"
The problem occurred during image creation with a base image (24 GB) that contained many log files (2807 files in 187 directories) which had to be removed during the build process.

The system was Debian 11 Bullseye with Podman from the Debian (3.0.1). After the issue was detected and could not be resolved the system was migrated to Fedora Server 34 with
[code]

The problem persisted on Fedora. In

[2021-09-29 19:30] TomSweeneyRedHat opened #3555 "Containerfile man page says FROM "must be first command""
The man page for the Containerfile says the `FROM` instruction MUST be the first instruction in the file.  Generally, that is the case, but one or more `ARG` instructions can also be the first instruction in the Containerfile.  The `FROM` stanza in the Containerfile man page just needs to be adjusted for this.

[2021-09-29 20:30] mfblair commented on #3553
Thank you Dan and Giuseppe!

I know this is probably a rookie question, but how can I get podman 3.3.1 into RHEL 8.4? Everything I'm finding seems to show that podman 3.2.3 is the latest version available from Red Hat. Is there an alternate repository I'd need to configure to pull the newer version from?

Oh, and one more, since buildah 1.21.4 has the same issue, is there a version of buildah that

[2021-09-29 21:34] rhatdan commented on #3553
podman 3.3 should be showing up in RHEL8.5 which should be coming out soon. buildah 1.23.0 will be there also.

[2021-09-29 23:15] cdoern commented on #3261
@flouthoc I think I have the cycles to work on this. Would you mind checking out my commit to this issue above? I really don't know where to start with Buildah as I have never contributed here before

[2021-09-30 05:34] grooverdan commented on #3550
I was reminded that I'm relying too much on the static representation of the manifest rather than the protocol interaction:

[code]

[2021-09-30 07:52] #3537 closed

[2021-09-30 09:14] skorhone commented on #3524
@rhatdan I think resolving this properly is beyond my current abilities. If a solution that isn't 100% compatible or solution that isn't safe in all environments is fine, then I might be able to contribute.

In unsafe implementation secrets would get stored as files in a temporary layer on a persistent storage. This would inherit all the problems that current solution using secret files does. (I g

[2021-09-30 10:31] dilyanpalauzov commented on #3512
The newly added documentation for Containerfile - https://github.com/containers/buildah/pull/3549/  - does not state, that there is default PATH environment variable, if nothing is specitied.

[2021-09-30 10:37] dilyanpalauzov opened #3556 "make fails: /go-md2man: No such file or directory - file is searched in wrong location"
[code]

[2021-09-30 10:40] dilyanpalauzov commented on #3556
This comes from a9e66ec72b55c7d2a854adca96:
[code]

[2021-09-30 10:57] flouthoc commented on #3512
@dilyanpalauzov I think `PATH` variable is explicitly configured to maintain parity with `docker` but I think yes this needs to be added into documentation. Would you like to open a PR ? If not I can do it.

[2021-09-30 10:57] dilyanpalauzov commented on #3556
I mean, why is ./tests/tools/build/go-md2man created, if it is not used?

[2021-09-30 11:17] flouthoc commented on #3556
I think we should change it back to ` ./tests/tools/build/go-md2man` since its guaranteed to always exist or alteast fallback to `/tests/tools/build/go-md2man` if its not found on hosts `$GOBIN` @rhatdan WDYT ?

[2021-09-30 11:46] dilyanpalauzov commented on #3512
Since the Dockerfile reference also does not state, that there is implicit PATH variable, and there is no way to remove that variable, only to replace it, I am against documenting the behaviour.  I would like if the bahaviour is adjusted to the documentation.  Or: for Dockerfile there is implicit PATH, for Containerfile there is no explicit env. PATH.

[2021-09-30 12:27] TomasTomecek commented on #3552
Okay, that makes sense. I think then ansible-bender should also be able to work with podman and especially talk to the REST API so people don't need to run containers on their workstations if the technology is not available there.

Overall I'd still prefer if buildah did the remote execution for me but I understand the design decision.

[2021-09-30 13:15] stuertz opened #3557 "reduce permissions of mounted secrets (build)"
mounted secrets have more permissions than needed and they should have.
Esp. when providing a ssl key.
otherwise i get:

[code]

**Steps to reproduce the issue:**
1. Write a dockerfile with
[code]
2. run
[code]

**Describe the results you received:**
The secret is group writeable

**Describe the results you expected:**
The file should be only rw for the user

**Output of `rpm -q buildah` or `apt l

[2021-09-30 13:20] vrothberg commented on #3557
Thanks for reaching out, @stuertz !

@ashley-cui PTAL

[2021-09-30 15:13] mfblair commented on #3553
Thanks Dan.

[2021-09-30 16:49] rhatdan commented on #3556
SGTM

[2021-09-30 16:52] rhatdan commented on #3512
We don't differentiate between the two at this point.
I think we just document that this field gets added.

[2021-09-30 16:53] rhatdan commented on #3512
I think adding an unsetenv might be usefull

[2021-09-30 17:00] ashley-cui commented on #3524
@skorhone I think we definitely have to create the file somewhere as you said, whether it be in a temporary layer, persistent storage, or tmpfs. Let me take a look at what docker does and report back

[2021-09-30 18:18] rhatdan commented on #3524
You can create it in /run or mount a tmpfs with the secrets in it, that goes away when the container exits.

[2021-09-30 19:19] rhatdan commented on #3256
I believe this one is fixed now, so I am going to close, reopen if I am mistaken.

[2021-09-30 19:19] #3256 closed

[2021-10-01 08:10] skorhone commented on #3524
Assuming that current location used to store secret isn't necessarily located in tmpfs, work could be split to two parts. First part would be storing secrets from environment using the same method that is used for files.

The second part would be to move all secrets to a location that is guaranteed to be on tmpfs. Or if default is tmpfs then maybe it would be enough, if user was warned about possi

[2021-10-01 18:30] rhatdan commented on #3524
I talked to @ashley-cui about storing this temporary secret file on /dev/shm as a random tmp file and then remove it when we are finished.  If the machine crashes then the file disappears.

[2021-10-01 21:57] rodgarrison opened #3563 "Rootless: permission denied adding .tar file"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
This problem occurs only running rootless with `buildah unshare...`. When running rootless, buildah reports:

```error adding content to container "working-container": error extracting "image.in.tar" into "/home/gocdci/.local/share/containers/storage/overla

[2021-10-02 05:58] brlin-tw opened #3564 "Unable to reproduce a running container right after `buildah run $httpcontainer` in Tutorial 1"
**Description**

I was unable to reproduce the indicated result while reproducing the following passage:

https://github.com/containers/buildah/blob/7f9540d2ab9037b7e175a4d1b36e85fc6541aeb5/docs/tutorials/01-intro.md#L265-L274

**Steps to reproduce the issue:**
1. Follow previous instructions before <https://github.com/containers/buildah/blob/7f9540d2ab9037b7e175a4d1b36e85fc6541aeb5/docs/tutorials

[2021-10-02 19:01] mtrmac commented on #3550
(looking at this from a c/image perspective, without trying things myself or understanding `buildah manifest` much)

So the source image is consistent (OCI index + OCI images); but the _component_ image uploads are rejected (first image is rejected as OCI, uploaded as schema2; the second image is rejected as _both_ OCI and schema2, uploaded as schema1). Then Quay rejects an OCI index, and a schema

[2021-10-02 23:59] grooverdan commented on #3550
@ibazulic indicated that OCI format support is coming in the next quay.io rollout. Its already there on Red Hat quay.io.

A buildah usage that pushes images via docker repository protocol without a tag would be useful.

[2021-10-03 23:26] grooverdan commented on #3550
quay.io has deployed the OCI format acceptance (or some change on their side at least) and now [pushes are accepted](https://buildbot.mariadb.org/#/builders/311/builds/1217/steps/2/logs/stdio) (lines 3105 and 4638).

Pity/laughter at my [images of the manifest cleanup](https://github.com/MariaDB/mariadb.org-tools/blob/master/buildbot.mariadb.org/scripts/docker-library-build-and-test.sh#L213) welco

[2021-10-04 11:42] mtrmac commented on #3550
That’s what the multi-arch push (with logs above), does. Do you want that split into separate commands? If so, what would that be useful for?

[2021-10-04 12:38] grooverdan commented on #3550
Yes, it would split them into separate commands.

1.  Its mainly as a space saver (perhaps excessively lazily on my part) working around that a) a failed architecture build won't meet the build pipeline triggering required to reach the architecture count which is the criteria to push the manifest (and cleanup is fiddly).

2. Other CI frameworks (or GitHub builders) may want to push their local nat

[2021-10-04 13:28] rhatdan commented on #3494
@edsantiago still working on this.

[2021-10-04 14:15] nalind commented on #3563
An error extracting an archive part of the way through suggests that we hit a permissions error trying to create something we encountered part of the way through the archive.  If you can share a listing of the archive's contents ("tar tvf image.in.tar"), that will help us figure out which item came after "bin/dnsdomainname" in the archive.  If the error was encountered while attempting to restore

[2021-10-04 14:34] nalind commented on #3564
Apologies, that tutorial still needs to be updated.  `buildah run` hasn't used a default command since we merged https://github.com/containers/buildah/pull/656.

[2021-10-04 18:42] rodgarrison commented on #3563
[code]

tar file snippet:

[code]

[2021-10-04 19:23] nalind commented on #3563
Well, you're on an XFS filesystem, which is widely used for this, so it's not related to NFS.  18313466 is likely the ID that your own UID (as given in the archive) is being mapped to in the range that's available for use in the user namespace where your build is running - the range (or ranges) that is available to you is configured in /etc/subuid and /etc/subgid.

The order of entries in the arch

[2021-10-05 06:05] derkoe commented on #3555
ARG before FROM does not work with podman/buildah

[2021-10-05 07:13] jskov-jyskebank-dk commented on #3551
Sorry for the silence, I have been sick.

The switch between fuse-overlayfs and overlayfs may well explain the problem.

I think it is a off-by-one problem in the code handling the overlayfs implementation.

Here are some additional observations:

I just tried (with the same `Containerfile`):

[code]
And now the output is as expected.

So I can use that as a workaround for the current version of P

[2021-10-05 08:27] flouthoc commented on #3551
Hi @jskov-jyskebank-dk ,

I tried
[code]
with
[code]
It worked correctly for me, both the directories were mounted and I was able to read files from both mounts.

Could you please try this with latest `podman` or `buildah` from `main` branch and confirm if its still a valid issue.

[2021-10-05 09:02] flouthoc commented on #3554
@veita Could this be a `btrfs` issue or more like the contents in your image hitting limits ? I can see similar issues are opened for docker pull as well over coreos. I think BTRFS hard links limit for a directory is too small i.e 256 hard links not sure. https://github.com/coreos/bugs/issues/474

But still i am really unsure if this is a buildah issue.

[2021-10-05 09:58] flouthoc commented on #3554
@veita Could you also please paste output of `podman info` and paste it here, also please let me know if its using `overlay` or `btrfs` driver.

[2021-10-05 10:41] veita commented on #3554
I also think this might be an BTRFS rather than a Buildah issue.

[2021-10-05 10:45] veita commented on #3554
Unfortunately I cannot supply this information since we have migrated the system from Debian 11 Bullseye to Fedora Server 34, so it doesn't exist anymore. But it was Podman from the official Debian repository, so it should have been 3.0.1.

[2021-10-05 13:45] #3494 closed

[2021-10-05 15:03] nalind commented on #3555
Heading `ARG`s (those defined before the first `FROM` instruction) should be usable in the `FROM` instructions for any of the build's stages.

[2021-10-05 15:07] derkoe commented on #3555
Yes but only if the `ARG` is used in the `FROM`. When used after `FROM` the argument is undefined.

Here is the part from the Docker docs:

[2021-10-05 17:35] TomSweeneyRedHat commented on #3555
@derkoe I think we're in violent agreement.  The problem is the man page now says that FROM "must" be the first line.  That's true for most cases, but not all.  I just want to tweak it with a note similar to your comment.

[2021-10-05 19:14] rhatdan commented on #3555
Lets add the line from Docker documentation.

[2021-10-06 05:26] flouthoc commented on #2850
I was not able to look at this since last comment from @mtrmac will start experimenting on this from today.

[2021-10-06 11:38] flouthoc commented on #3261
@cdoern Sorry for late reply i just took a quick look. It looks in the right direction to me just a small note parsing for `FROM` is already being handled while processing each stage so I think you could you merge parsing `--platform` there and have it as property for each stage. Overall i think its in the right direction.

[2021-10-07 08:34] flouthoc commented on #3452
@riconnon Above patch should close this issue.

[2021-10-08 09:32] #2554 closed

[2021-10-08 12:08] 0xffox opened #3578 "Rootless BIND buildah pull doesn't work"
**Description**
Unable to run rootless Buildah IN Docker pull while _rootfull_ pulls are ok.

**Steps to reproduce the issue:**
[code]
**subuid and subgid**
[code]

**Describe the results you expected:**
I expected same behavior as _rootfull_ pull
[code]

**Output of `rpm -q buildah` or `apt list buildah`:**
HOST
[code]

**Output of `buildah version`:**
HOST
[code]

**Output of `cat /etc/*release`

[2021-10-09 10:40] #3555 closed

[2021-10-12 05:41] grooverdan commented on #3550
changed title. quay.io appears to for the last week been accepting OCI image manifests produced by buildah. Maybe this is an outstanding bug in the fallback, but its a lot lower pri without a provider needing it. There was a read only time last weekend so I assume it was all completed then.

I'll wrap the previous comment (or two) up into a separate feature request if I feel like needing it again.

[2021-10-12 16:44] mitchellmaler opened #3584 "Implement cache-from that is currently a NOOP"
/kind feature

**Description**

Today when running docker build we make use of the cache-from flag to speed up builds that has layers that didn't change.

**Describe the results you expected:**

--cache-from to use an existing image to speed up build by using it as a cache.

[2021-10-12 16:47] rhatdan commented on #3584
This would need to be implemented in Buildah first, I believe so I moved it over here.
@flouthoc PTAL

[2021-10-12 17:00] flouthoc commented on #3584
This is already here as a dandling PR https://github.com/containers/buildah/pull/3574 , support for `from` will show up in a different PR for bunch of mount options.

[2021-10-12 17:01] flouthoc commented on #3584
I think this issue can be transferred to buildah.

[2021-10-13 05:04] #3557 closed, assigned to ashley-cui

[2021-10-13 09:08] jspc opened #3587 "Building with `--mount=type=ssh` erroring with `error serving agent: read unix /tmp/blah/ssh_auth_sock->@: use of closed network connection`"
**Description**

Hello.

When building a container image as per:

[code]

From the Dockerfile:

[code]

Results in the log line:

[code]

(Or, of course, whichever directory `ioutil.TempDir("", ".buildah-ssh-sock")` creates).

I've put the `sleep` in there to try and diagnose further:

[code]

When I run the bottommost command (`SSH_AUTH_SOCK=.buildah-ssh-sock1848960062/ssh_auth_sock ssh git@githu

[2021-10-13 12:54] rhatdan commented on #3479
Since we have .in support, I think that requires the requirement.

[2021-10-13 12:54] #3479 closed, assigned to nobody

[2021-10-13 12:59] vrothberg commented on #2383
@rhatdan not to my knowledge.  I am not sure this RFE is on my plate though.

[2021-10-13 14:36] flouthoc commented on #2383
In the light of https://github.com/containers/buildah/issues/2383#issuecomment-915829949 and https://github.com/containers/buildah/issues/2383#issuecomment-916358925 I think we should close this RFE and reopen if few more cases like this show up.

[2021-10-13 19:20] rhatdan commented on #3587
@ashley-cui @flouthoc PTAL

[2021-10-13 21:20] rhatdan commented on #3553
You need to change the SELinux labeling on the directory. I recently added comments to storage.conf

https://github.com/containers/storage/pull/1038

[code]
Would this have helped you out?

[2021-10-14 10:42] #3551 closed

[2021-10-14 20:52] mfblair commented on #3553
Hi Dan,

Thanks, but if I've executed them correctly, those commands do not seem to have helped.

As root, I tried
	- removing and re-creating the shared area /var/lib/mycontainers
	- pulling an image into it
	- making it world readable

Then I tried executing the commands you referenced in those comments:

[root@localhost containers]# **semanage fcontext -a -e /var/lib/containers/storage /var/lib

[2021-10-15 12:05] cmoulliard opened #3589 "panic: chown /home/snowdrop/.local/share/containers/storage/overlay/l: operation not permitted"
## Issue

OS: `Centos 7`
Linux kernel version: `3.10.0-1160.42.2.el7.x86_64`

The following error is reported :
[code]
by go when `storage.getStore()` is called
[code]

## Go Main example
[code]

[2021-10-15 14:25] cmoulliard commented on #3589
Is a root path needed as the error occurs within a non root path `panic: chown /home/vagrant/buildah-poc-3880267168/root/overlay/l: operation not permitted` ?

[2021-10-15 14:45] cmoulliard commented on #3589
Problem is fixed If I execute the code using `sudo`

[code]

Question: Can buildah be executed as non root to perform a `bud` ?

[2021-10-15 16:44] cmoulliard commented on #3589
Many thanks. I updated my code to include -->
[code]

[2021-10-18 06:05] #3584 closed, assigned to flouthoc

[2021-10-19 13:26] vrothberg commented on #3369
Here is a fix: containers/common#811

[2021-10-19 19:07] rhatdan commented on #3511
@flouthoc ANy update?

[2021-10-19 20:54] mfblair commented on #3553
Hi @rhatdan,

I've been experimenting with changing the labels as you suggested, but I haven't been able to work around the problem. When using native overlay, the rootless user always gets this error trying to launch a container from the shared image:

`[support@localhost containers]$ podman images`
`REPOSITORY                         TAG         IMAGE ID      CREATED      SIZE        R/O`
`regis

[2021-10-20 01:54] fatherlinux commented on #3501
@flouthoc @rhatdan I looked in the podman-run page, and the syntax appears to be:

--mount=type=image,source=fedora,destination=/fedora-image,rw=true

Is the above what we think will work after this PR gets merged (maybe already merged?). I'm actually trying to do something a little more tricky, like to following, in a Containerfile:

FROM registry.access.redhat.com/ubi8/ubi-micro
RUN --mount=type

[2021-10-20 16:13] Jwashton opened #3592 "User not added to group after addgroup"
**Description**

In migrating a project from Docker over to Podman/Buildah, I'm running into an issue where a user fails to become a member of a supplementary group, and therefor doesn't have permissions to access some resources. I've put together a fairly minimal Containerfile that provides the expected behavior in Docker, but not in Buildah.

**Steps to reproduce the issue:**

Containerfile:
[co

[2021-10-21 06:27] flouthoc commented on #3513
I'll check this.

[2021-10-21 17:45] #3592 closed, assigned to nobody

[2021-10-24 21:57] jawnsy opened #3596 "buildah from --pull-never ignored when --arch specified"
**Description**

Running buildah with --pull-never as well as an --arch causes images to be pulled.

**Steps to reproduce the issue:**
1. Ensure that all images are deleted
2. Run `buildah from --pull-never ubuntu`, a "image not known" error is returned
3. Run `buildah from --pull-never --arch=amd64 ubuntu`, the image is pulled :upside_down_face:

**Describe the results you received:**

[code]

**

[2021-10-25 02:21] jawnsy opened #3597 "buildah-from initializes network with CNI, but buildah-run does not"
**Description**

buildah only seems to initialize the CNI plugin when `buildah from` is used, not `buildah run`. This means that, if you start a build container with no networking (`--network=none`), trying to add it during the `run` command fails. The [documentation in cni-examples](https://github.com/containers/buildah/tree/main/docs/cni-examples) implies that `buildah run` should configure netw

[2021-10-26 10:44] danpfe opened #3602 "Multi-stage build in unprivileged container fails."
**Description**

Running the buildah-clustertask from OpenShift Pipelines (practically a simple call to `buildah bud` inside an unprivileged container) works fine for single-stage Dockerfiles, however, it fails with `ApplyLayer exit status 1 stdout: stderr: operation not permitted` when doing a multi-stage build and it fails when pulling the first image of the multi-stage build.

Example Dockerfil

[2021-10-27 07:22] #3602 closed, assigned to nobody

[2021-10-27 17:38] #3597 closed, assigned to nobody

[2021-10-28 19:19] sanyaade-teachings opened #3603 "Generate Dockerfile from image or container"
Hi Everybody,

We are curious if this is a possibility? Can buildah generate Dockerfile from an image or container?
Just like commit but pipe into a Dockerfile.

Many thanks for your brilliant effort and support.

God blesses!!!

Best regards,
Sanyaade

`

[2021-10-28 20:37] #3603 closed, assigned to nobody

[2021-10-29 07:40] divyansh42 opened #3604 "Failure on pushing manifest with multi-arch images to quay"
**Description**
I tried to build multi-arch images using build `without containerfile` strategy and added them to manifest. When I tried to push the manifest it fails with the [error.](https://github.com/divyansh42/buildah-build/runs/4043495184?check_suite_focus=true#step:20:58)
However, when I did this with containerfile everything worked perfectly fine.

**Steps to reproduce the issue:**
1. Buil

[2021-10-29 18:39] divyansh42 commented on #3604
**These are the commands:**
[code]

**Error:**
[code]
**Contents of `entrypoint.sh`**
[code]

**`buildah manifest inspect test-multiarch` output**
[code]
This push fails on `quay.io`. However, when I tried to push to `docker.io`, it got successfully pushed.
Please let me know if you need any other details.

[2021-10-29 19:37] rhatdan commented on #3604
Sounds like quay.io does not like the manifest format.
@mtrmac @nalind @giuseppe PTAL

[2021-10-30 02:27] divyansh42 commented on #3604
When I built those images using containerfile, I was able to push them to quay.io as well as docker.io

[2021-10-30 02:40] divyansh42 commented on #3604
Update: Tried this with the `oci` format instead of `docker` and it worked.

[2021-10-30 11:08] rhatdan commented on #3604
So quay.io does not like the way we create a manifest list if the inside images are docker images.

@mtrmac @vrothberg @nalind are we embedding OCI identifiers into the manifest list that is confusing quay.io?

[2021-10-30 11:20] divyansh42 commented on #3604
I don't think this is the case. As, when I created manifest with the docker images built from containerfile, I was able to push that manifest. This is happening when I built the images without containerfile.

[2021-10-30 14:40] rhatdan commented on #3604
If you examine the manifest for both cases, do you notice any differences?

[2021-10-30 15:11] divyansh42 commented on #3604
I don't see any.

**Manifest for build with containerfile:**
[code]
**Manifest for build without containerfile:**
[code]

[2021-10-31 09:56] rhatdan commented on #3556
@flouthoc Any progress on this?

[2021-10-31 09:58] #3524 closed

[2021-10-31 11:29] skorhone commented on #3524
@ashley-cui  @rhatdan Documentation should be updated to reflect this change.

[2021-11-01 10:54] flouthoc commented on #1936
above PR should close this.

[2021-11-01 11:22] rhatdan commented on #3524
Please open a PR to fix documentation.

[2021-11-02 20:18] mtrmac commented on #3604
I can’t see anything _obvious_ about how this fails, and it’s frustrating that Quay.io combines strict validation with seemingly unhelpful errors. (Hopefully we are not throwing away errors the registry is actually reporting?)

Comparing the `--debug` output of the failing/succeeding `buildah manifest push` commands might be helpful.

---

Per https://github.com/opencontainers/image-spec/blob/main

[2021-11-02 21:19] #3556 closed

[2021-11-03 00:29] #1936 closed

[2021-11-04 04:18] brlin-tw commented on #3564
The issue is still reproducible as far as I can tell

[2021-11-04 05:11] seperman commented on #1906
I suddenly started having this issue with `podman build`

[code]

[2021-11-04 09:22] michaelzangl commented on #2871
To anyone using this config to run gitlab + buildah: If you receive the error:

[code]
This is caused by a change in recent glibc. You need to add "clone3" to the list of allowed system calls - I updated the config above to what I am using now.

[2021-11-04 10:21] rhatdan commented on #1906
Could you try with podman 3.4

[2021-11-04 10:31] rhatdan commented on #2871
What version of Buildah and containers-common are you seeing this with?

[2021-11-04 13:59] michaelzangl commented on #2871
I use the docker image `quay.io/buildah/stable`
[code]

[2021-11-05 10:24] #3564 closed

[2021-11-05 12:59] rhatdan commented on #2871
We need someone with apparmor experience to contribute patchs/documentation to fix this.  As an SELinux guy, I am have no idea how to fix.  :^)

[2021-11-05 14:20] michaelzangl commented on #2871
Just don't.

It needs to be fixed by anyone running buildah in a container. Those are the container restrictions for the buildah container. Podman provides the profile somewhere in their docs, they should be adjusted.

[2021-11-05 14:22] lenox-joseph opened #3616 "buildah login or pull does not work with esoteric usernames in HTTP_PROXY"
/kind bug

**Description**

Podman/Buildah does not interact well with authenticated proxies that have a username of the format `domain\username` when reading from HTTP_PROXY or HTTPS_PROXY variables when performing `pull` or `login` operations. Depending on how the `\` is escaped or quoted, there is either an i/o timeout or a DNS issue where the url 'http' is attempted to be resolved. Other appli

[2021-11-05 17:53] rhatdan commented on #3616
@mtrmac PTAL

[2021-11-05 18:11] mtrmac commented on #3616
https://github.com/containers/podman/issues/8032

[2021-11-05 18:37] lenox-joseph commented on #3616
Note that I could pull from behind an authenticated proxy when the username was `username@domain`, but something changed upstream of me.

Other tooling I have (yum, elinks, etc) do play nice with the new username arrangement, but those have distinct username fields.

[2021-11-05 18:46] rhatdan commented on #3616
The issue is we don;t control how HTTP_PROXY environment variables are handled in golang.  Golang does.

[2021-11-05 19:01] lenox-joseph commented on #3616
Workaround: encode as %5C and yell at Golang.

[2021-11-05 19:53] mtrmac commented on #3616
Well, that’s not a workaround, `\` isn’t valid in that location in the first place, per RFC 3986.

Per the analysis in that other bug, I wouldn’t object to yelling at Golang :)

[2021-11-06 17:17] seperman commented on #1906
Ok I'm waiting for 3.4 to appear on https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/podman
It it takes a few more days, I will go down the pass of building podman locally.
For now I have to delete the previous images when building new images to avoid using caches.

[2021-11-07 09:14] donn opened #3617 "Writing layers/maybe disk I/O in general is very slow"
**Description**

Buildah with podman 3.4.0 takes an unreasonable amount of time to write layers, but I/O is also generally slower than Docker. I don't mind the latter but something like a `yarn install` takes forever to write into an image.

 **Steps to reproduce the issue:**
Run `time podman build -t .` with this Dockerfile:

[code]

**Describe the results you received:**
[code]

**Describe the r

[2021-11-07 23:24] lenox-joseph commented on #3616
FWIW I've also yelled at my IT department.

[2021-11-07 23:24] #3616 closed

[2021-11-08 05:19] divyansh42 commented on #3604
Tried changing it to valid architecture, but no luck there.

Also, I couldn't find any obvious thing in the logs with the `--debug` output of the failing/succeeding command. I am pasting those logs here.

**Failed command logs**
[code]

**Failed command logs**
[code]

[2021-11-08 09:47] vrothberg commented on #3604
@divyansh42, thanks for the logs.  Could you try another time pushing to Quay? Judging from the following log, Quay was in maintenance mode while you attempted to push:

[2021-11-08 11:02] divyansh42 commented on #3604
Tried, same error.
If I change the format to `oci` it will be able to push to the quay.

[2021-11-08 21:03] rhatdan commented on #2850
@flouthoc reminder ping.

[2021-11-08 21:18] rhatdan commented on #3500
I believe this is fixed now, closing. Reopen if I am mistaken.

[2021-11-08 21:23] rhatdan commented on #3617
Are you using overlay driver?
$ buildah info | grep GraphDriverName
        "GraphDriverName": "overlay",

Can you try to do the build as root?  Do you get better performance there?  Could be fuse-overlayfs, if you are running an older kernel and in rootless mode.

[2021-11-09 06:49] r10r opened #3620 "bud: create non-existent WORKDIR with USER permissions"
Hi there,

I just want to cross reference a docker issue which seems to  affect `buildah bud` to
See also https://github.com/docker/cli/issues/3346

[code]

Building the following Dockerfile with `buildah bud`

[code]

fails with the following output

[code]

[2021-11-09 07:59] vrothberg commented on #3500
It is not fixed, reopening.  I really want this to work before we cut Podman 4.0.

[2021-11-09 13:38] rhatdan commented on #3620
@flouthoc PTAL

[2021-11-09 13:38] rhatdan commented on #3620
@r10r Interested in opening a PR to fix?

[2021-11-09 14:36] flouthoc commented on #3620
I'll check this thanks.

[2021-11-09 16:40] r10r commented on #3620
@rhatdan Yes, I can take a look at it and send a PR.
I'll wait for @flouthoc to confirm the issue.

[2021-11-09 17:14] flouthoc commented on #3620
@r10r Sure its yours :)

[2021-11-09 19:18] rhatdan commented on #3620
@r10r you got it.

[2021-11-10 19:11] mtrmac commented on #3604
“Same” as in “System is currently read-only. Pulls will succeed but all write operations are currently suspended.”?

---

(To be fair, I didn’t try reproducing this myself.)

[2021-11-11 03:24] divyansh42 commented on #3604
Yes

[2021-11-11 09:58] jpic commented on #2383
I'm not sure, another approach is to implement something useful and then refactor it into a library, which would make sense here given that the API specifications do not seem absolutely clear: a few iterations seem necessary to figure it out.

Anyway, I'm recoding my thing completely differently, reducing the scope to building containers and generating k8s manifests, but would still like proper la

[2021-11-11 14:12] #3512 closed

[2021-11-11 17:08] donn commented on #3617
Sorry for the late reply: err, I'm using podman, so I can't run the buildah command. There appears to be very little documentation as to how to invoke buildah from a podman install.

`podman info | grep -i GraphDriverName` returns `  graphDriverName: overlay`.

As for running as root: Not that much better. The actual step run faster but the COMMIT step still takes an enormous amount of time.

[cod

[2021-11-11 20:17] rhatdan commented on #3617
@nalind @giuseppe @mtrmac PTAL

[2021-11-11 20:36] nalind commented on #3617
The storage info shows you're using fuse-overlayfs, which is the only available method for unprivileged users to be able to use overlayfs on kernels that didn't yet allow them to use the kernel's overlayfs implementation.  The kernel's implementation is unavoidably faster because it isn't handing off a lot of its work to a daemon that's running in user space, and dockerd is able to use it because

[2021-11-11 21:23] rhatdan commented on #3617
Since you have an explanation, I am going to close issue.

[2021-11-11 21:23] #3617 closed

[2021-11-12 17:42] rhatdan commented on #3550
Ok I am going to close this issue.

[2021-11-12 17:42] #3550 closed

[2021-11-15 09:40] flouthoc commented on #3497
@rhatdan I think @nl-brett-stime is trying to create a buildah specific syntax for `buildkit`. @nl-brett-stime Please correct me if i am wrong.

I think end result expectation from this issue is.

* Buildkit to be able to read a valid `.buildahkit` file and actual build is performed via buildkit. So there is a inter-op between buildkit and buildah-cli commands.

[2021-11-15 10:17] flouthoc commented on #2469
I think we would need a design change for storing and processing stages. Afaik we don't have a easy way to identify indirect dependency of stages in a multi-stage build.

We would need to store and process stages in a `DAG (directed acylic graph)` or some sort of `dependency tree`. We could evaluate each stage in the `DAG` concurrently and skip the ones which don't lead up to target whether its `d

[2021-11-15 20:22] vulturm commented on #3587
Hi, I'm encountering the same issue..

[2021-11-16 13:22] rhatdan commented on #3563
@rodgarrison any progress on this?

[2021-11-16 13:50] rhatdan commented on #3587
@flouthoc @ashley-cui any progress?

[2021-11-16 15:35] stuertz opened #3629 "secret is not mounted during build (macos)"
**Description**

A secret mounted during build is not available

**Steps to reproduce the issue:**

[code]

[code]

[code]

**Describe the results you received:**

`/run/secrets/` folder is empty

**Describe the results you expected:**

a `/run/secrets/mysecret` file.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman versi

[2021-11-16 15:48] stuertz commented on #3629
Running the same script in a Linux VM with docker (Ubuntu 20.04):

[code]

[code]

[2021-11-17 09:19] flouthoc commented on #3587
@jspc @vulturm Above PR should be able to relay `close` message from `github`.

[2021-11-17 09:26] flouthoc commented on #3587
@jspc @vulturm
Note: `ssh git@github.com` would still exit with error code `1` and that is expected behavior.

You can use `
RUN --mount=type=ssh,required=true ssh git@github.com||true` to suppress error code and still get the output.

[2021-11-17 09:52] jspc commented on #3587
@flouthoc fair point, but that's not the problem we're seeing, and is why I put the semicolon after the `ssh git..` command in the Dockerfile.

Does your PR mean that agents work as expected now? Because if you look at the original issue body, the connection never even made it as far as github; the agent connection fails, which means the ssh command is unable to load the correct key from the agent

[2021-11-17 09:54] flouthoc commented on #3587
@jspc Yes PR above PR fixes that.

[2021-11-17 10:07] jspc commented on #3587
Fair enough @flouthoc. I don't get how increasing the sleep duration stops agent connections failing, but I trust your work- and I just tried it myself.

Good work!

[2021-11-17 11:06] flouthoc commented on #3587
@jspc  yeah it might look confusing. I have added in the description of the PR but i'll explain again.

call to `AgentServe` makes connection and performs i/o but only returns back in case of completion or error. But in-order to relay output we close connection here https://github.com/containers/buildah/blob/main/pkg/sshagent/sshagent.go#L114  which is ok in most of the cases but not when there is

[2021-11-17 16:45] cevich opened #3632 "Conformance test failure on `release-1.16` - `release1.21`"
**Description**

The old VM images used by these branches contained a bug in their build script: Download the docker packages into a cache directory...and then delete the parent directory to "save disk space" :confounded:  This problem was fixed (going forward) around the `release-1.22` timeframe.

The other issue I discovered more recently, is much easier to fix.  At test runtime we can't use `ap

[2021-11-17 16:57] cevich commented on #3632
Historical details:

* [Logs from most recent 1.16 job to pass](https://cirrus-ci.com/task/4923463749074944?logs=conformance_test#L90) installed:
   * pigz_2.4-1_amd64.deb
   * bridge-utils_1.6-2ubuntu1_amd64.deb
   * containerd_1.5.2-0ubuntu1~20.04.3_amd64.deb
   * docker.io_20.10.7-0ubuntu1~20.04.2_amd64.deb
   * ubuntu-fan_0.12.13_all.deb
* [Logs from first 1.16 job to fail](https://cirrus-ci.c

[2021-11-17 17:58] cevich opened #3633 "GLib-ERROR ... gthread-posix.c: line 1339 (g_system_thread_new): error 'Operation not permitted' during 'pthread_create'"
**Description**

The daily Cirrus-cron runs on the `release-1.22` and `release-1.23` are consistently failing the F33 `copy-preserving-extended-attributes` test beginning on November 16th.  No runs prior to this date produced this error.  The tests pass under F34.  The issue does not appear to affect tests run on the `main` branch.

**Steps to reproduce the issue:**
1. In a PR or directly on one o

[2021-11-17 19:29] rhatdan commented on #3587
OK.  It seems a little hacky, but moves us forward.

[2021-11-17 22:23] nalind commented on #3633
Please update the version of containers-common in the VM to get an updated version of the default seccomp filter configuration (`/usr/share/containers/seccomp.json`).  The current version for Fedora 33 is `containers-common-1-20.fc33`.

[2021-11-18 02:06] titou10titou10 commented on #3053
@nnachefski I have the same problem, ie OKD v4.8.0-0.okd-2021-11-14-052418 (k8s v1.21.2+9e8f924-1555),, tekton installed via the  "Red Hat OpenShift Pipelines", currently v15.21
`buildah``ClusterTask` fails with

    step-build
     + buildah --storage-driver=vfs bud --format=oci --tls-verify=false --no-cache -f ./Dockerfile -t <image> <path to Dockerfile dir>
     level=error msg="error writing \

[2021-11-18 03:46] rijenkii opened #3634 "Running runc inside buildah build fails because /sys/fs/cgroup is empty"
**Description**

I need to run runc as a part of a container build process. I am unable to do so because /sys/fs/cgroup appears empty and runc errors with "mkdir /sys/fs/cgroup/cpuset/container-id: no such file or directory".

**Steps to reproduce the issue:**
1. Create Containerfile with following contents:
[code]
2. Run `buildah build`

**Describe the results you received:**
[code]

**Describe t

[2021-11-18 08:10] #3587 closed

[2021-11-18 12:37] rhatdan commented on #3589
Since this is not a buildah issue, but a vendoring of buildah, I don't see a way for us to fix this. So I am going to close this issue.  Reporter has figured out a way to make it work.

[2021-11-18 12:37] #3589 closed

[2021-11-18 12:45] rhatdan commented on #620
@learnitall Are you still looking at this?
@flouthoc Could you take a look at this?

[2021-11-18 13:43] rhatdan commented on #3633
Can we just drop Fedora 33 testing?

[2021-11-18 14:02] rhatdan commented on #3634
@nalind @flouthoc @Luap99 @mheon Is there any reason to default buildah --net=host?

[2021-11-18 14:14] Luap99 commented on #3634
@rhatdan Well CNI does not work correctly in buildah. I plan to fix this in the future by consolidating podman and buildah networking code into c/common.

I do not see how this issue is related to networking.

[2021-11-18 14:32] rhatdan commented on #3634
Yes it is not related to CNI.  My problem is buildah right now is not following the settings in containers.conf which says to default to --net=private --uts=private.  It looks like this is true for podman build as well.  My question is whether we should fix/change the default in Buildah.  Personally I believe we should.

[2021-11-18 16:13] rijenkii commented on #3634
Just in case, `buildah build --net=private` does not help:
[code]

[2021-11-18 18:37] cevich commented on #3633
Reminder: This is only an issue (some how suddenly) on the two release branches, it doesn't affect `main`.

I really hate to do that on release branches, those environments are suppose to be long-term stable in order to support any future backport work.

Maybe?  Again these are release branches, so it probably depends on their age...which seems is "not that old".  Though it's really up to you.  Is

[2021-11-18 19:06] flouthoc commented on #3634
I think this is more of a `container-in-container` issue rather than `networking` issue but can tell once i try it out.

[2021-11-18 20:37] rhatdan commented on #3634
No @flouthoc I think  the issue is we are always running builds within the host network namespace, The PR I opened makes Buildah more closely match Podman and follow containers.conf.

[2021-11-18 22:59] rhatdan commented on #3633
F33 is dead, drop it from the tests.

[2021-11-19 00:10] StephenWithPH commented on #3629
I'm experiencing the same behavior: `podman build` doesn't appear to mount the secret as expected per the docs.

However, `podman run` _does_ work as expected.

This gives me hope that this is a small problem rather than a grand one!

#### system info
[code]

#### podman run
[code]
[code]

[2021-11-19 14:39] nalind commented on #3633
... as of 30 November.  This is a general problem of images using syscalls that we didn't know we'd need to allow in the default seccomp profile when the profile was last revised for an earlier release.

[2021-11-19 15:33] cevich commented on #3633
okay, those are the magic words :smile:

[2021-11-19 15:49] cevich commented on #3633
BTW, @nalind testing really should only depend on static/fixed/unchanging inputs, including container images.  For example, tests should avoid using `latest` images, use a version tag instead unless the image is known to be kept static (like the ones we maintain copies of in quay).  That's how this problem can be avoided (in the future).

There's an exception case I'm aware of with `quay.io/libpod

[2021-11-19 15:57] rhatdan commented on #3553
Sorry I lost this message in the flood. Your ideas look correct.

[2021-11-19 15:58] rhatdan commented on #3553
Did you get any AVC messages when you ran your container?

[2021-11-19 15:58] rhatdan commented on #3553
@giuseppe PTAL

[2021-11-19 15:59] rhatdan commented on #3629
@ashley-cui @flouthoc PTAL

[2021-11-19 16:03] cevich commented on #3633
https://github.com/containers/buildah/pull/3640

[2021-11-19 16:03] #3633 closed

[2021-11-19 17:33] giuseppe commented on #3553
with what Podman version is the issue happening?

[2021-11-20 11:08] ghost opened #3644 "allow using buildah via qemu and binfmt form arm 32 platforms"
Using buildah via qemu and binfmt ends up in failure....

level=error msg="failure getting variant" error="getCPUInfo for pattern: Cpu architecture: not found"
level=error msg="error parsing PID \"\": strconv.Atoi: parsing \"\": invalid syntax"

The procedure is basically the mutiarch qemu-user-static guide, using podman to run containers and within the container run buildah with chroot and vfs
ht

[2021-11-20 20:09] PhrozenByte opened #3642 "Rootless overlayfs on Kernel 5.14+ refuses to merge config dirs"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

:arrow_right: *Reported first at https://github.com/coreos/fedora-coreos-tracker/issues/1025*

Since native rootless overlay support is here (apparently since kernel 5.13+, tested with kernel 5.14.14 and 5.15.2), overlayfs refuses to merge two directories (specifically `/etc/mysql` from a Mar

[2021-11-20 20:12] giuseppe commented on #3642
one test I'd suggest is to replace the `rsync` call with just `cp` to make sure rsync is not doing anything strange

[2021-11-20 20:17] PhrozenByte commented on #3642
The images are built with GitHub Actions with the default `ubuntu-20.04` image ([software list](https://github.com/actions/virtual-environments/blob/ubuntu20/20211108.1/images/linux/Ubuntu2004-README.md)) on kernel 5.11 with Podman 3.3.1 and Buildah 1.21.3.

`buildah mount` uses fuse-overlayfs.

The xattrs are not shown. `getfattr -Rh -d -m'.*' "$MOUNT/etc/mysql"` returns nothing.

<details>
<summ

[2021-11-20 20:42] giuseppe commented on #3642
Podman should not switch to using native overlay if there are already containers/images using the `fuse-overlayfs` format.  If it does then it is indeed a bug.  The switch to native overlay must happen only with a fresh storage (or that doesn't have any fuse-overlayfs style whiteout file).

`/etc/mysql` is merged.  I've tried with native overlay.

[2021-11-20 21:10] PhrozenByte commented on #3642
Hmm... If I apply this very narrow interpretation I can't confirm that this bug exists. In the course of debugging I noticed that one of my other containers broke, too. However, I noticed this *after* wiping the server (i.e. with a new storage). It might be that it broke before, or after. I can't tell and can't really check, I don't have any backups of this staging server :unamused:

*But* I'm a b

[2021-11-21 01:16] PhrozenByte commented on #3642
Okay, unfortunately this isn't going to work. Since GitHub doesn't support running on custom images (besides self-hosted runners) we're stuck to Podman 3.3.1 and Buildah 1.21.3. :unamused: It's not totally out-of-date though, they use the Kubic sources.

Can I provide any additional info about the issues so that they can be fixed? In the meantime I will force Podman to use fuse-overlayfs, so all m

[2021-11-21 13:57] giuseppe commented on #3642
I think I know what is happening.

On Ubuntu, the unprivileged overlay support is different than the upstream kernel implementation.

This might cause issues and the `user.overlay.whiteout` xattr could be exposed (I've not verified it, but I bet this is the reason) to user space without the kernel filtering it out.

My suggestion is to force `fuse-overlayfs` in the github action.

I'll add a test

[2021-11-21 20:30] webknjaz commented on #2954
FWIW I don't think I saw the intermediate layer cache working when I tried out RH-maintained actions.

[2021-11-22 05:50] flouthoc commented on #3513
@dilyanpalauzov I checked this again i think it would not so good idea of using env `BUILDAH_HISTORY` and `--add-history` for `buildah build` since by default `--add-history` is configured as false everywhere. Which we cannot do for `build`, `build` is supposed to keep history so layers can be re-used.

I think `--add-history` was added explicitly for `run` purpose so one could commit history with

[2021-11-22 06:22] flouthoc commented on #3629
@stuertz Is `src=a_secret.txt` present on the host `mac` or the remote VM. Could you try with creating a new secret on VM then trying to mount it. I think problem could be with if `src=a_secret.txt`if its on host.

You can create secret on VM using.
`printf <secret> | podman secret create my_secret -`

But overall I think this is a `podman-remote` issue with `mac` rather than a `buildah` issue. @a

[2021-11-22 08:32] rtheys opened #3643 "runtime/cgo: pthread_create failed since upgrade to buildah 1.23 when used in gitlab-ci job"
Hi,

We use buildah in a Gitlab CI file to build a container image. This has worked fine for a long time, but since the upgrade to buildah 1.23, this fails with the following error:

[code]

If I change the gitlab CI file to use buildah v1.22.3 again, it works fine again.

**Steps to reproduce the issue:**
1. Create a gitlab ci file to use buildah, for example:
[code]
2. Run the pipeline
3.

**Des

[2021-11-22 10:12] giuseppe commented on #3642
I have tried on 5.11.0-1021-azure and I could reproduce the issue once with fuse-overlayfs that doesn't honor `user.overlay` extended attributes.

I'll open a PR for fuse-overlayfs to also honor that xattr, but in the meanwhile, you can workaround it by:

- uninstall fuse-overlayfs in the GH Action
- force native overlay
- run as root

[2021-11-22 11:30] flouthoc commented on #3643
@rtheys I think i saw this few issues few days back.

You need to update `/usr/share/containers/seccomp.json` on your host. You could pull latest https://github.com/containers/common and do `make seccomp.json` and move file to seccomp to right location or just simply update `containers-common` pkg for centos.

[2021-11-22 13:11] stuertz commented on #3629
The secret was only on the host mac, not on the remote VM. Yeah looks like a podman-remote issue.

[2021-11-22 13:56] rhatdan commented on #3644
Please give us buildah info, as well as the exact command that y9ou were executing when you saw the failure.

[2021-11-22 14:16] ashley-cui commented on #3629
I think this is part of the "mounts don't work on machine" issue

[2021-11-22 15:28] rhatdan commented on #3643
This looks like a buildah inside of a container.  (Docker?) if so then we are using a new syscall that is not allowed, and as @flouthoc states the seccomp.json file needs to be updated.

[2021-11-22 15:48] rhatdan commented on #3629
Does src=a_secret.txt usually create a bind mount from the host to the container?

[2021-11-22 15:49] rhatdan commented on #3629
If so then perhaps we should throw a not supported error here. Does Docker support this?  If so it must be copying the file over?

[2021-11-22 16:30] cevich commented on #3632
@nalind @rhatdan let's talk/chat about this after the holidays.

[2021-11-22 17:28] stuertz commented on #3629
Last time I had Docker Desktop installed on my machine, it "magically" worked.

[2021-11-22 18:25] StephenWithPH commented on #3629
I ssh'd to the VM and created a secret there:

[code]

... and I tried to build a container from the host with no success:

[code]

[code]

[2021-11-22 19:39] rhatdan commented on #3629
Yes I think the secret file needs to be added to the context directory that gets copied into the remote end.
The way podman --remote build works is that it tar's up the contents of context directory, along with any Containerfile or Dockerfiles specified with -f option.  We need to handle secrets file in the same way.

[2021-11-22 19:40] rhatdan commented on #3629
@flouthoc PTAL
With podman --remote, the server side should not be reaching out and grabbing the secret off the client side.

[2021-11-22 20:39] rhatdan commented on #3513
Why not add an option --add-hostory defaulted to true.  So users would need to do `buildah bud --add-history=false ...`

[2021-11-23 11:21] flouthoc commented on #3629
I'll check this.

[2021-11-23 15:32] dilyanpalauzov commented on #3513
Is the purpose of history to reuse layers?  In my case, I do not want to reuse layers.

[2021-11-23 17:15] flouthoc commented on #3513
I think as @rhatdan suggested `--add-history=false` will solve your use-case. I'll implement this.

[2021-11-24 13:52] Jeremy-boo commented on #2772
I encountered a same error

Error Info:
error pushing image "cce.ztx.com/poc/xmh-auther:v1" to "docker://cce.ztx.com/poc/xmh-auther:v1": error copying layers and metadata from "containers-storage:[overlay@/var/lib/containers/storage+/var/run/containers/storage:overlay.mount_program=/usr/bin/fuse-overlayfs]cce.ztx.com/poc/xmh-auther:v1" to "docker://cce.ztx.com/poc/xmh-auther:v1": Error trying to r

[2021-11-24 20:52] tnk4on opened #3648 "podman-remote: Cannot build if context directory is symlink"
**Description**

When building with podman-remote, an error occurs if the context directory is symlink.

**Steps to reproduce the issue:**

If the context directory is symlink.
[code]

If the context directory is a real directory.
[code]
Additional notes:
I reproduced the same error on macOS remote client(v3.4.2 and latest main branch).
This error will block the execution of "[Clone Repository in

[2021-11-24 20:52] mfblair commented on #3553
No, from what I tell I haven't had any AVC messages:

[root@localhost ~]# grep -c "SELinux is preventing" /var/log/messages
0
[root@localhost ~]# grep -c "SELinux is preventing" /var/log/audit/audit.log
0

[2021-11-24 20:53] mfblair commented on #3553
[root@localhost ~]# podman -v
podman version 3.3.1

[2021-11-25 11:50] flouthoc commented on #3629
I revisited this.

 @StephenWithPH it should work for secret files on `remote` after this https://github.com/containers/podman/pull/12414

@rhatdan for second one i am still a bit skeptical for copying secret over to `contextdir` since argument accepts absolute path on host and I think since its a secret file so we are better of `binding` file directly from `host` -> `remote` as I am still unsure

[2021-11-27 07:28] gzm55 opened #3649 "only last image filters takes effect when list images with buildah"
1. `buildah image --filter a --filter b --log-level trace`
from trace, only b filter takes effect, not expected result `a && b`
[ref code](https://github.com/containers/buildah/blob/cbaf84eaf3a07ed211820c50c17c8d13c322ed55/cmd/buildah/images.go#L59)

2. podman has correct activities: `podman image --filter a --filter b --log-level trace` will filter with `a && b`
[ref code](https://github.com/cont

[2021-11-27 09:17] cmoulliard opened #3650 "Question: How to debug buildah bud with "unshare.MaybeReexecUsingUserNamespace(false)" ?"
## Question

Is there a way to avoid that when we remote debug using dlv, the following line of code, which launches under the hood a sub-command will cause an exit of the debugger ?

[code]

[2021-11-28 02:33] saraswat commented on #2224
Faced this issue in downloading a container with a 2GB layer and a 3.2GB layer. All the other (smaller) ;ayers would get pull'ed fine, but with these two as soon as the 1GB mark is reached, I get an "error writing blob ... Unexpected EOF".

Fortunately the following work-around (implicitly suggested above -- nalind, 3/18/2020) worked:
[code]

[2021-11-29 15:18] rhatdan commented on #3553
You need to search for avc not "SELinux is preventing"

grep -i avc ...

[2021-11-29 15:30] mfblair commented on #3553
Here is the complete output of checking for "avc" in those log files:

[code]

[2021-11-29 16:19] vrothberg opened #3655 "error when copying entire root FS of image"
**Description**

Copying the entire root FS of fedora to busybox errors out.

**Steps to reproduce the issue:**
1. Create a Containerfile
[code]

2. `buildah bud -f Containerfile`

**Describe the results you received:**

[code]

@nalind PTAL

[2021-11-29 18:30] #3649 closed

[2021-11-29 21:50] rhatdan commented on #3596
@vrothberg is this something that you need to fix in containers/image or is this really a buildah issue?

[2021-11-29 21:53] malikumaliku commented on #3644
You request is irrelevant, it is a problem that can be checked on the code directly

[2021-11-29 22:26] rhatdan commented on #3544
@nalind should we catch the SIGTERM and then attempt to kill the child before exiting?

[2021-11-29 22:29] rhatdan commented on #3474
@flouthoc Did you ever get a chance to look at this?

[2021-11-29 22:45] rhatdan commented on #3644
Well give me a repeater.

[2021-11-29 22:46] rhatdan commented on #3644
Or open a PR to fix the code.

[2021-11-30 08:52] #3655 closed

[2021-11-30 09:11] flouthoc commented on #3474
I'll check this thanks.

[2021-11-30 09:33] vrothberg commented on #3596
This rang a bell and I was sure we already fixed the issue but it seems we lost your PR (https://github.com/containers/common/pull/816) from the radar.  Could you revive it?

[2021-11-30 17:08] mh21 opened #3659 "buildah pull registry.access.redhat.com/ubi9-beta/ubi:latest fails on FC35 and rhel-9-beta"
**Description**

On both rhel-9-beta and FC35, `buildah pull registry.access.redhat.com/ubi9-beta/ubi:latest` gives the following error:

[code]
This seems to be the specific combination of buildah version and ubi9 image:
- works on FC34
- works when using docker/moby on FC35
- works for other container images

**Steps to reproduce the issue:**

1. podman run --rm -it registry.fedoraproject.org/fe

[2021-11-30 17:22] #3659 closed

[2021-11-30 17:58] learnitall commented on #620
Progress has been pretty slow on my end just due to a heavy workload this semester at uni. About a week after my last comment the amount of homework I had per week started to skyrocket. With the semester ending though and the amount of homework I have winding down I should have more time to work on this.

[2021-11-30 18:53] #3634 closed

[2021-12-01 13:59] cmoulliard opened #3660 "Buildah bud error building at step "Command:run Args:[dnf install ....""
## Issue

The following buildah command `	imageID, digest, err := imagebuildah.BuildDockerfiles(ctx, store, b.BuildOptions, dockerFileName)` - see [code](https://github.com/redhat-buildpacks/poc/blob/78464a008757b17d7f76d6fed4554905fd6447bf/buildah/code/main.go#L145) when executed in a container fails
[code]

We dont observe at all this problem when we do a build manually
[code]
where the followin

[2021-12-01 15:11] mfblair commented on #3553
Confirmed. **setenforce 0** made no difference...

[code]

[2021-12-01 15:34] TomSweeneyRedHat commented on #3660
This appears to be an issue with the way the ubi8 container is created, rather than a Buildah issue.  If so, I'll ask you to create a [Bugzilla](https://bugzilla.redhat.com/) as that's handled by folks outside of the Buildah maintainers.  @rhatdan or @nalind  thoughts?

[2021-12-01 15:38] nalind commented on #3660
The container doesn't have runc or crun installed, and it isn't being configured to use the internally-implemented "chroot" isolation.  Please review https://github.com/redhat-buildpacks/poc/pull/14, which sets up the container to use "chroot" isolation.

[2021-12-01 16:49] dg424 opened #3661 "Building using the docker image *without* privileged mode"
Hi,

I'm unable to build using the official image here - https://quay.io/repository/containers/buildah - without using the --privileged flag. Does buildah work without having root/system-level privileges ?

$ docker run --rm -it quay.io/containers/buildah:latest bash
Unable to find image 'quay.io/containers/buildah:latest' locally
latest: Pulling from containers/buildah
4545346f2a49: Pull complete

[2021-12-01 16:57] Hello71 commented on #3661
you need to allow nested containers

[2021-12-01 17:19] dg424 commented on #3661
But to allow nested containers means that I will need to run buildah with the --privileged flag. Is there a unprivileged/rootless way to build images using buildah ?

[2021-12-01 19:05] rhatdan commented on #3661
I talk a lot about this in this article.
https://www.redhat.com/sysadmin/podman-inside-container
This is about podman build but buildah has similar features.

[2021-12-01 19:05] #3661 closed

[2021-12-01 20:12] rhatdan commented on #3553
Then most likely this is User Namespace.

$ podman unshare cat /proc/self/uid_map

I think there is something failing when you attempt to join user namespace and chown the mtab file to some other owner.

[2021-12-02 09:42] #3596 closed

[2021-12-03 10:57] dawagner opened #3662 "buildah pull sometimes hangs forever (v1.23.0)"
**Description**

`buildah pull` sometimes hangs forever. Running it with `--log-level debug` shows this error and hangs immediately thereafter:

[code]

I'm pulling images that are constructed in an iterative fashion (each image is constructed from the previous one) and the reproducibility **seems** to vary depending on the layer. For instance, I have an image that only adds an environment variabl

[2021-12-03 14:25] dawagner commented on #3662
Using nix, I pulled this version of buildah:

[code]

and I couldn't reproduce the issue after trying ~10 times. After switching back to 1.23.0 (using nix as well for consistency), I reproduced at the first try. For reference, that was with:

[code]

[2021-12-03 15:15] TomSweeneyRedHat commented on #3662
WDYT @vrothberg ?

[2021-12-06 07:30] vrothberg commented on #3662
@giuseppe PTAL

[2021-12-06 10:50] giuseppe commented on #3662
podman/buildah fallback to pulling the image without using the "partial pull" feature when it is not supported (in fact the message above is just a debug log), so the hang is probably happening later on.

Could it be registry related and the registry block two quick requests for the same image?

Do you have an image that we can use to reproduce the issue?

[2021-12-06 19:49] cevich commented on #3632
Update: I was able to manually fix https://github.com/containers/buildah/pull/3626 but I think the only option at this point for 1.16, 1.17, 1.18, and 1.19 is to disable the conformance test.  I don't like this situation, but am out of ideas :disappointed:

[2021-12-07 13:27] #3632 closed

[2021-12-08 10:50] dawagner commented on #3662
Thanks for the feedback. I'll see if I can provide a reproducer.

[2021-12-08 18:08] Romain-Geissler-1A opened #3665 "Building with "--squash" doesn't have any caching mechanism"
**Description**

When building with podman --squash, there is no caching mechanism that would allow to not re-run long running operations (like dnf install -y some-package). One would expect that the squashed version of all layers might be cached if re-run with the exact same input.

**Steps to reproduce the issue:**
1. Start a podman in podman, using the very latest podman version available:
[cod

[2021-12-08 18:14] rhatdan commented on #3665
@flouthoc PTAL

[2021-12-08 22:07] FrankNatoli opened #3666 "[podman] overlay is not supported over overlayfs"
Have x64 Windows VirtualBox running CentOS8.
CentOS8 has no problem using docker or podman.
Containers created for CentOS8 until a few weeks ago had no problem using docker or podman.
Had GitLab crash, regenerate container, and now container image reports podman not available.
Revise Dockerfile to yum install podman in container.
Container image now can run "podman --help" but "podman ps" and "pod

[2021-12-08 22:59] rhatdan commented on #3666
The issue is /var/lib/containers within the container is not on an overlay and no longer using fuse-overlayfs because of native overlay support.  You could volume mount into the container /var/lib/containers which would fix the problem, or you could force fuse-overlayfs into the container.

Did this happen when you updated to RHEL8.5?

[2021-12-09 00:01] FrankNatoli commented on #3666
I am not aware of an intentional update to RHEL8.5.
We had a GitLab crash, and when I regenerated the containers, this problem appeared out of nowhere.
Have just checked.
Inside the container, /var/lib/containers has sub-directories sigstore and storage.
Outside the container, /var/lib/containers has sub-directories sigstore, storage and cache.
"podman info" inside the container reports the overla

[2021-12-09 07:20] flouthoc commented on #2850
This is still pending. I'll try visiting this again.

[2021-12-09 11:16] flouthoc commented on #3665
Thanks I'll check this. @Romain-Geissler-1A does `docker` supports it ? I'll try to verify it with `docker`.

[2021-12-09 11:27] Romain-Geissler-1A commented on #3665
Mmmmh actually I have not even tried. I am trying to stop using Docker as much as possible and encourage everyone in my company to do so ;)

[2021-12-09 18:57] rhatdan commented on #3666
I am suggesting -v ANYCONTAINERDIRNOTONOVERLAY:/var/lib/containers:Z
You can do -v /var/lib/containers:/var/lib/containers but will need to disable SELinux if you are using it.

[2021-12-09 19:22] rhatdan commented on #3665
SGTM

[2021-12-09 19:42] fatherlinux commented on #3501
Any movement on the tests? I'd love to see this land!

[2021-12-09 20:12] rhatdan commented on #3501
@flouthoc what is the status?

[2021-12-09 20:29] flouthoc commented on #3501
Some new test requests are in. I'll wrap them up by this weekend.

[2021-12-09 22:36] edsantiago opened #3667 "New buildkit-mount tests: fail in gating"
There's a bunch of new tests in bud.bats, all of them referring to `tests/bud/buildkit-mount`. These are failing in gating:
[code]
Reason: in gating, tests are installed via RPM into `/usr/share/buildah/tests/system`.

I'm well past my done-for-the-week point, and can't fix this today or tomorrow. I would be oh-so-grateful if someone were to fix this soon, but if not I'll take a stab at it on Mond

[2021-12-10 06:27] flouthoc commented on #3620
@r10r Just a friendly ping

[2021-12-10 11:31] flouthoc commented on #3667
@edsantiago Most of these tests were added by me. This looks like `selinux` issue to me but not why it passes in our CI and not on gating tests.

[2021-12-10 12:45] crisbal opened #3668 "Unknown media type during manifest conversion: "application/vnd.docker.image.rootfs.diff.tar.gzip""
**Description**

**Steps to reproduce the issue:**

I have an image built with Kaniko in CI, that I am trying to use as base image for another that I am building locally with `podman build`.

The local image has the following `Containerfile`

[code]

If I build the image with `podman build -f Containerfile -t tmp-image .` I get the following error: (Adding `--format=docker` gets the same error)

[

[2021-12-10 12:48] vrothberg commented on #3668
Thanks for reaching out, could you share the output of the following command?
`skopeo inspect --raw docker://ci-registry.company.com/image_build_with_kaniko | jq .`

That will print the image's manifest.

[2021-12-10 12:51] crisbal commented on #3668
Here it is:

[code]

[2021-12-10 12:59] vrothberg commented on #3668
Thank you! That's what I suspected. The image claims to be an OCI one but lists Docker layers (`application/vnd.docker.image.rootfs.diff.tar.gzip`) which I think doesn't conform with the OCI image spec.

@nalind WDYT?

[2021-12-10 13:01] crisbal commented on #3668
@vrothberg

The `ci-registry.company.com/image_build_with_kaniko` Dockerfile has this structure (some minor things omitted that  hopefully should not matter):

[code]

[2021-12-10 13:39] vrothberg commented on #3668
Thanks, @crisbal.

I suggest reaching out our friends over at kaniko to resolve the issue; the layers should be converted to OCI ones during build or when pushing to the registry.

The OCI image spec [states](https://github.com/opencontainers/image-spec/blob/main/manifest.md#oci-image-manifest-specification) that "an encountered mediaType that is unknown to the implementation MUST be ignored", but

[2021-12-10 13:40] vrothberg commented on #3668
Cc @mtrmac @rhatdan

[2021-12-10 14:38] nalind commented on #3668
Since we build the manifest from scratch whenever we commit an image, we shouldn't be producing manifests that mark layers with types from different specs.  I'm not opposed to just accepting every layer blob type that's known to us (this may turn out to be another strictness check that we added to the image library that we need to walk back) if it's truly as simple as adding more `case` clauses in

[2021-12-10 15:35] rhatdan commented on #3667
Someone added a function to selinux that does.
[code]
Which is throwing this error.  Can we move the gating tests to /var/tmp?

[2021-12-10 16:15] crisbal commented on #3668
Thanks, I reported it over to Kaniko, should I close this issue or it is something that you still want to fix on your side?

[2021-12-10 16:36] rhatdan commented on #3667
I agree what that.

[2021-12-10 16:40] flouthoc commented on #3667
@edsantiago I agree with you, I'll rectify these tests to do testing in a tmp dir.

[2021-12-10 19:52] mtrmac commented on #3668
This is not just a build issue; a `skopeo copy --format …` can trigger the same code conversion path, which will fail on such MIME type mixes the same way.

At least this particular code path (`c/image/image/$type1.convertToManifest$type2`) can be trivially taught to handle more MIME types; I’d need to take a deeper look about possible variants of this situation that involve also compression/decom

[2021-12-10 20:30] rrichardson opened #3669 "Permission denied, rootless with overlays (selinux disabled)"
**Description**
Accessing files from a mounted overlay directory within a container results in EACCESS errors.
This seems very similar to #3136 but that was closed without any resolution that I was able to glean.
Also there is #1731 but I have verified that my system has the recommended configuration, as far as I can tell.

Another thing I notice, is that I chown -R the directory to the user I cre

[2021-12-10 20:34] rrichardson commented on #3669
[code]

[2021-12-10 21:02] rrichardson commented on #3669
I just attempted to run the above buildah command with sudo, and achieved the same results.
also tried --cap-add=all and various --security-opt settings..
also, if its relevant:

[code]

[2021-12-11 09:51] flouthoc commented on #3667
I think above PR would close the issue.

[2021-12-11 13:11] rhatdan commented on #3669
@flouthoc PTAL

[2021-12-13 08:50] flouthoc commented on #3669
@rrichardson
I was able to reproduce this. I think you need to use `U` with `:O` like `:O,U`. The `:U` suffix tells Buildah to use the correct host UID and GID based on the UID and GID within the container, to change the owner and group of the source volume.

Final command which made it work for me.
`$buildah build -v $(pwd)/hello:/base/.yarn:O,U -t test .`

My Containerfile
[code]

[2021-12-13 11:43] flouthoc commented on #3665
@Romain-Geissler-1A Thanks for reporting this. So `buildkit` indeed performs caching while `docker experimental` and `docker` does not. But anyways I think we should provide caching for `squash` i am checking this.

[2021-12-13 11:53] #3667 closed

[2021-12-13 16:05] rrichardson commented on #3669
@flouthoc - Oh this is excellent. I now see that option in the `--volume` portion of the bud man page.
I have verified that I can run it with `,U` and it works.

Thanks!

[2021-12-13 16:21] #3669 closed

[2021-12-13 16:24] rrichardson commented on #3669
@rhatdan - If it is possible to convert this to a discussion item, it seems like it'd be a great bit for a FAQ of sorts.

[2021-12-13 16:50] flouthoc commented on #3669
I don't see any option to convert this into discussion or probably I don't know. @rhatdan Do you know how could we convert this into discussion. Anyways @rrichardson I think github issues are very `SEO` friendly :smile:

[2021-12-13 20:49] rhatdan commented on #3604
I think this is resolved, Reopen if I am mistaken.

[2021-12-13 20:49] #3604 closed

[2021-12-14 10:13] crisbal commented on #3668
It looks like to me that the issue can be triggered asily but at the same time I wonder why it never came out, it is possible it is just a weird combination of steps.

So it is just:

* Have a base image that has MediaType OCI
* Build on top of the base image an intermediate image with Kaniko (this will get MediaType OCI and Docker Layers)
* Attempt to build an image using as base the intermediate

[2021-12-14 15:19] dawagner commented on #3662
I could reproduce with this image: https://hub.docker.com/r/deubeuliou/buildah-issue-3662 but only when it's on an AWS ECR registry (I used a private registry provided by my employer). Besides, I tried pulling the nginx image from AWS gallery (https://gallery.ecr.aws/nginx/nginx) and I couldn't reproduce.

Here's how the image was built:

[code]

I then pushed the 3 tags to my local docker daemon

[2021-12-14 16:17] giuseppe commented on #3662
I still think the issue is caused by the remote registry throttling your requests.  The debug log above doesn't have any effect (in fact, it doesn't even make an additional request when the annotation is not present).

Could you try debugging the network connection with wireshark?

[2021-12-14 16:37] remivoirin commented on #3668
Thanks @crisbal for reporting directly to Kaniko. Do you think this is directly related and should be added to the issue on their side?
We have images built with Kaniko that can be run by Podman 3.3.1 on CentOS Stream 8, but not pushed to another registry because of this.

[code]

When trying to push:
[code]

[2021-12-14 16:44] crisbal commented on #3668
Hey @remivoirin, the `skopeo inspect` part shows the same issue as my case. I will let the experts speak about the `podman push` but it looks related to me.

Anyway you could join into the issue on Kaniko repo so maybe more noise helps in getting the issue sorted.

[2021-12-14 16:47] remivoirin commented on #3668
Thanks, will do!

[2021-12-14 17:09] dawagner commented on #3662
I can try that. Are you suggesting that the bandwidth will be limited but non-zero?

[2021-12-14 17:10] giuseppe commented on #3662
yes, or hangs for a while

[2021-12-14 20:50] ripta opened #3675 "Invalid value for memory-swap: invalid size: '-1'"
**Description**

`podman build` in the latest release of podman (v3.4.4) rejects the `--memory-swap` value of `-1`. Minimal reproduction:

[code]

**Describe the results you received:**
The flag value `-1` is rejected. I tried other values, including `1024M` and `1G` seem to work as expected.

**Describe the results you expected:**
I expected the flag value `-1` to mean unlimited, as documented on

[2021-12-14 20:58] mtrmac commented on #3668
Yes, that’s the same underlying cause. The Kaniko-built images are inconsistent, and basically _any_ kind of consumption (not just builds using Buildah) could, in principle, cause them to be rejected. (The actual implementation only rejects them on some code paths, but that’s just an implementation detail, not a maintained feature.)

[2021-12-15 09:37] dawagner commented on #3662
Using `ss`, I can see https connections being established but when the hang occurs, all the connections are closed. I had a `buildah pull` command in a tmux session that was sitting there for 2 days (I believe the layer it was supposed to pull weighs about 1MB). I insist that I've not reproduced with buildah 1.21.0 even though I've tried about 50 times.

I can confirm, however, that the hang is no

[2021-12-15 10:36] flouthoc commented on #3675
@ripta We use `docker` helpers to parse human readable value for `swap` which is ok for `memory` but `swap` also accepts exception of `-1` which is not honored by the same helper. So above PR handlers that.

[2021-12-16 08:17] dawagner commented on #3662
I suppose I can try and bisect the issue and/or I can try to reproduce with a public registry on the same AWS account where I'm currently having the issue. If that works, I could send you the URL privately. I'll probably do that after the holiday season.

[2021-12-16 09:34] flouthoc commented on #3497
@nl-brett-stime Any inputs on the comment above ?  If my assumption is correct https://github.com/containers/buildah/issues/3497#issuecomment-968707184 I believe following issue should be opened against the buildkit/moby repo as well.

[2021-12-16 15:32] FrankNatoli commented on #3666
@rhatdan: sorry for delayed response, but your "-v /var/lib/containers:/var/lib/containers" resolved my problem, many thanks.

[2021-12-16 15:32] #3666 closed

[2021-12-16 16:59] #3675 closed, assigned to nobody

[2021-12-16 18:44] #3665 closed

[2021-12-17 13:43] dawagner commented on #3662
Good news: I have bissected it down to 980d352b29bbe67be8bef883b4e4f3f80c1cd3aa. The bad news is, this commit is:

I'll try and bisect that as well.

[2021-12-17 16:01] dawagner commented on #3662
Ok... you're not going to believe this...

I checked out the last good commit and then checked out the various components that were upgraded by the "bad" commit. `image v5.15.0` is ok, `storage v1.35.0` is ok as well, but it's **`vendor/github.com/vbauerster/mpb`** (bumped from `v7.0.3` to `v7.1.3`) that triggers the hang...

I have no idea why it only happens under the specific circumstances I'm

[2021-12-18 11:25] rhatdan commented on #3662
@mtrmac PTAL

[2021-12-20 08:15] r10r commented on #3620
Sorry for the high round-trip time ;) I'll look at it between the next two weeks.

[2021-12-22 14:20] Otmane-Guo commented on #2685
Hi @jandroav I faced the same issue while building my Dockerfile, can you please tell me how you fixed the problem !
this is my error message

STEP 7: COPY ./target/dat-app-backend-1.0-SNAPSHOT.jar app.jar
error building at STEP "COPY ./target/dat-app-backend-1.0-SNAPSHOT.jar app.jar": error adding sources [/workspace/source/target/dat-app-backend-1.0-SNAPSHOT.jar]: error checking on source /works

[2021-12-22 14:29] jandroav commented on #2685
You will need to use the absolute path, the whole path

[2021-12-22 14:40] Otmane-Guo commented on #2685
Thank you for your reply, you mean update the path for my first argument './target/dat-app-backend-1.0-SNAPSHOT.jar' to 'workspace/source/target/dat-app-backend-1.0-SNAPSHOT.jar' ?

[2021-12-23 06:53] mtrmac commented on #3662
That’s almost certainly https://github.com/vbauerster/mpb/issues/100 . (To confirm, it would help to capture a full Go backtrace.)

It seems that even the newest Buildah v1.23.1 still depends on that version; it was fixed in #3526 but there hasn’t been a Buildah release since.

[2021-12-23 12:19] #3643 closed

[2021-12-25 16:42] 321sp commented on #2965
Error: error creating build container: error creating container: error creating read-write layer with ID "fe39354233f80b7a594f9cd1e7a2b  873ea2ed8d0eec64f2b3be8ebbab5be06b1": Stat /var/lib/containers/storage/overlay2/72e830a4dff5f0d5225cdc0a320e85ab1ce06ea5673acfe8d83a764  5cbd0e9cf: no such file or directory

facing this issue when changed storage driver to overlay2 and also created symlink betwe

[2021-12-27 13:53] 321sp opened #3682 "changed storage driver from overlay to overlay2"
**Description**

**Steps to reproduce the issue:**
1. change storage driver to overlay2 from overlay creating symlink between overlay and overlay2 on /var/lib/containers/storage/
2.
3.

**Describe the results you received:**
Error: error creating build container: error creating container: error creating read-write layer with ID "fe39354233f80b7a594f9cd1e7a2b 873ea2ed8d0eec64f2b3be8ebbab5be06b1": S

[2021-12-28 10:41] rhatdan commented on #3682
Don't use overlay2, it is the same as overlay, they are just aliases and we are trying to get rid of overlay2 support.

[2021-12-29 18:54] nomadme opened #3684 "Buildah commands failing with no such file or directory"
**Description**

**Steps to reproduce the issue:**
Any buildah commands failing with No such file or directory, no matter what command I use

1. `buildah images`
2. `buildah bud -f Dockerfile -t foo:latest .`

**Describe the results you received:**
`buildah images`
[code]
`buildah bud -f Dockerfile -t foo:latest .`

[code]

**Describe the results you expected:**
Image is built

**Output of `rpm -q

[2021-12-30 06:51] flouthoc commented on #3684
Hi @nomadme thanks for creating the issue.

Are you running `buildah` inside a container ? I think its failing while performing `unshare` but first I'd suggest updating `buildah` to latest version.

and could you share more details about your environment like if its a container and logs with `buildah --log-level=debug <your command>`

I am suspecting missing privileges on your working environment

[2021-12-30 08:51] flouthoc commented on #3644
@malikumaliku I think i understand problem a bit you are trying to run `arm32` binary on `x86` using `binfmt_misc` right ?
as @rhatdan suggested simple reproducer script would be helpful but could you try things below.

We are sharing code from containerd so we might have to patch containerd.

Could you please try following diff on buildah and confirm ?

[code]

After applying diff you would need

[2021-12-30 13:45] nomadme commented on #3684
Thank you for getting back on this @flouthoc.

Yes, it is running inside a container built from:
https://catalog.redhat.com/software/containers/ubi8/openjdk-11/5dd6a4b45a13461646f677f4?tag=1.10-10.1638383051

[code]

[2021-12-30 13:57] nomadme commented on #3684
I also ran a container from
https://quay.io/repository/buildah/stable?tab=info
that is also getting same error as above container I'm running.

Output of: `cat /etc/*release`
[code]

Output of: `buildah --log-level=debug info`
[code]

[2021-12-31 14:18] rhatdan commented on #3474
@flouthoc any progress?

[2021-12-31 14:19] rhatdan commented on #620
@learnitall @flouthoc any progress?

[2022-01-02 11:03] rhatdan commented on #3660
Please open a bugzilla on ubi8 this is not a Podman issue.

[2022-01-02 11:03] #3660 closed

[2022-01-02 11:04] rhatdan commented on #3553
Since we got no futher info, I am closing.  Continue the conversation here, if you have more info.

[2022-01-02 11:04] #3553 closed

[2022-01-03 09:15] flouthoc commented on #3474
Ackd. Not yet will start working on this.

[2022-01-03 09:16] flouthoc commented on #620
@rhatdan I think @learnitall is still working on this issue. There is no update from my side.

[2022-01-03 18:08] samuelvl opened #3685 "Invalid cross-device link when running pip install in rootless mode"
**Description**
When running buildah or podman in **rootless mode** on a Dockerfile that uses `pip` to install packages I get the following error for some packages (e.g. pip itself):

[code]

The error appears when using `registry.access.redhat.com/ubi8/python-38:latest` and `docker.io/python:3.9.9-slim` as base image, so an image-related error can be discarded.

If I build the image using the **r

[2022-01-03 18:37] rhatdan commented on #3685
@nalind PTAL

[2022-01-03 20:30] clydet commented on #3684
Hello @flouthoc , Not sure whether or not I'm running into a similar issue.

[code]

Does anything from that output indicate a known issue?

[2022-01-03 21:34] giuseppe commented on #3685
Could be caused by fuse-overlayfs.  Can you show the output of `podman info`?  In that case, can you try with native overlay?

[2022-01-03 21:55] rhatdan commented on #3684
Try docker run --security-opt seccomp=unconfined -it quay.io/buildah/stable:latest /bin/sh

Or better yet, use Podman. :^)

Docker default seccomp.json does not allow the unshare Syscall.

[2022-01-03 23:24] nomadme commented on #3684
Thanks @rhatdan

When I ran it as suggested, I still got the same error.

[code]

here is the log:
[code]

[2022-01-04 09:29] flouthoc commented on #3684
Hi @nomadme and @clydet ,

Sorry for late reply.
I tried playing with `docker` and `quay.io/buildah/stable:latest` inside `docker`.

I think inside container buildah uses `fuse-overlay` rather than host kernel overlay so we would also need to mount `/dev/fuse` when running buildah inside docker.

**Could you guys please try with following command. Following works for me.**
[code]

Output from my t

[2022-01-04 09:51] samuelvl commented on #3685
You are right, if I force the build with `overlay` or `vfs` it works:

[code]

How can I force buildah to use native overlay in the `storage.conf` file instead of using the `--storage-driver` flag?

Output of `podman info`:

[code]

[2022-01-04 12:06] giuseppe commented on #3685
that should happen by default if you start with a fresh storage and the kernel supports it.

Otherwise, you can just force the `mount_program=""` to have an empty value

[2022-01-04 12:49] kitty-catt opened #3686 "Tekton Buildah on BuildPlatform linux/amd64 building with --arch=ppc64le exits with process exited with error: fork/exec /bin/sh: exec format errorsubprocess exited with status 1"
**Description**

I have a Tekton Pipeline on an openshift cluster based on amd64 hardware. It builds a Dockerfile for that architecture very well. Now then, I have made a mod with the purpose of making this pipeline build the same Dockerfile into an image for the ppc64le architecture using the --arch option. The dockerfile builds from jboss-eap-7/eap73-openj9-11-runtime-openshift-rhel8 (using --fr

[2022-01-04 12:55] kitty-catt commented on #3686
[ppc-build-latest.log](https://github.com/containers/buildah/files/7807675/ppc-build-latest.log)
[ppc-buildah-task.yaml.txt](https://github.com/containers/buildah/files/7807692/ppc-buildah-task.yaml.txt)

[2022-01-04 14:22] clydet commented on #3684
@flouthoc, You're a stud. That works for me locally. We're looking to use buildah in containers running in AWS' ECS via Fargate. According to [AWS docs](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_definition_parameters.html) regarding **devices**:

If you are using tasks that use the Fargate launch type, the devices parameter is not supported.

Any idea how we might work aroun

[2022-01-04 14:28] kitty-catt commented on #3686
As extra info, I was not able to build the image on my x86 based laptop, straight via podman or buildah:

podman build --arch=ppc64le -t pnst-on-ppc .
buildah bud --arch=ppc64le -t ppc-pnst .

Is my understanding of the use case correct?

[2022-01-04 14:33] nomadme commented on #3684
Thanks @flouthoc

For me, it still doesn't work. I'm on M1Pro chip.

[code]

Here is the other try with M1 chip specific run.
[code]

[2022-01-04 15:29] clydet commented on #3684
@flouthoc, I Googled around a bit and [saw this](https://www.redhat.com/sysadmin/podman-rootless-overlay), which states:

I haven't found a fedora container with a kernel later than `5.10.47-linuxkit`. Guessing for our use case we'll need to move away from Fargate as AWS docs seem to indicate support for host device exposure when favoring EC2 based services. 🤞

Do you think that there's any use in

[2022-01-04 18:24] flouthoc commented on #3684
@clydet
I think that would need a host kernel change. Afaik `fargate` locks you with a kernel so I am not sure if you could change it. Could you confirm if host kernel can be changed on `ECS with fargate` from AWS support. I think not.

I'd like to recommend using `ECS with EC2` that should easily allow you use `--device` or change the kernel via using `custom AMI` whatever you like.

@nomadme cou

[2022-01-04 19:11] nalind commented on #3686
@kitty-catt Your interpretation of what buildah does when you use the `--arch` flag is quite correct.  There's a limitation, though:  while buildah's happy to build images for non-default architectures, it doesn't have the ability to run binaries that were compiled for foreign architectures on its own.  This means that, unless emulation is configured so that the kernel will use an interpreter to r

[2022-01-04 21:15] rhatdan commented on #3684
You can probably use the "vfs" driver.

[2022-01-04 21:26] rhatdan commented on #3686
I know that Red Hat has rejected support for qemu-user-static.  So the question would be if this could be provided from EPEL. (If that would even be possible.)

[2022-01-04 22:15] nalind commented on #3686
Well, I've been poking at it off and on for a while, and https://github.com/nalind/fedora-qemu-user-static/blob/main/daemonset.yml seems to more or less work on my CodeReady Containers setup.  I would hesitate to deploy it in a cluster that couldn't be completely destroyed and recreated as easily, though.

[2022-01-05 09:23] kitty-catt commented on #3686
This morning I build my first ppc image after installing qemu-user-static. Thanks a lot, Nalin.
My Tekton pipeline runs the quay.io/buildah image.

[2022-01-05 09:31] kitty-catt commented on #3686
It turns out that I could add the package to this image via the following Dockerfile. Let me test it in the pipeline and see what happens:

[2022-01-05 13:46] kitty-catt commented on #3686
I have added the package to the quay.io/buildah image and added some diagnostics:

    [ppc-build : diagnostics] + echo ''
    [ppc-build : diagnostics] + echo 'qemu-user-static rpm'
    [ppc-build : diagnostics] + /usr/bin/rpm -q qemu-user-static
    [ppc-build : diagnostics] qemu-user-static rpm
    [ppc-build : diagnostics] qemu-user-static-6.1.0-10.fc35.x86_64
    [ppc-build : diagnostics] + e

[2022-01-05 14:29] nalind commented on #3686
The interpreters in the package have to be registered with the `binfmt_misc` kernel module so that the kernel will know to use them to run binaries whose headers indicate that they were built for architectures other than the default one.  That registration has to be done at the node level, which is a privileged operation, so having the package in the container image isn't sufficient by itself.

Th

[2022-01-05 16:25] dawagner commented on #3662
@mtrmac : indeed, I don't reproduce with this commit. Thanks.

I'm closing this; until there's a new release and it hits my distro, I'll recompile it locally.

[2022-01-05 16:25] #3662 closed

[2022-01-05 17:57] Luap99 opened #3687 "buildah can leak crun process when network setup fails"
**Description**

Buildah will leak the crun create process when the network setup fails. When buildah calls crun delete it will fail because the container was not stopped (it was never started because of the error).
Note that this work with runc but according to a comment from @giuseppe on IRC this behaviour from crun follows the runtime [spec](https://github.com/opencontainers/runtime-spec/blob/m

[2022-01-05 18:04] Luap99 commented on #3687
@giuseppe runc allows this, see https://github.com/opencontainers/runc/blob/c83abc503de7e8b3017276e92e7510064eee02a8/delete.go#L74-L78

Do you think crun should match runc or should we try to fix it in buildah?

[2022-01-05 18:32] giuseppe commented on #3687
Let's fix it in crun, it will make things easier from buildah.

[2022-01-06 03:00] joshuawhite929 opened #3688 "buildah build fails on Kind Cluster with message: fuse-overlayfs: cannot mount: No such file or directory"
**Description**

quay.io/buildah/stable:v1.23.1 running as a container within Kind fails when doing a build with the following message:

"fuse-overlayfs: cannot mount: No such file or directory"

**Steps to reproduce the issue:**
1.  Run buildah build --tag $IMAGE_NAME .
2.
3.

**Describe the results you received:**
The build process fails after Writing manifest to image destination with a message

[2022-01-06 09:54] kitty-catt commented on #3686
Using oc debug node I verified "yum provides qemu-user-static" and you are 200% right, the package is not available in the coreos repos / subscription-manager.

In my mind I allready had a plan to install the package on one of the nodes of the cluster, and schedule the build there via a nodeSelector.

Such an approach would not be the Openshift way where the whole of CoreOS is configured at instal

[2022-01-06 11:40] flouthoc commented on #3688
@joshuawhite929 Hi thanks for creating issue.

Could you share more info , possibly the `yaml` you applied

It looks like your setup is missing `fuse-overlay` daemon-set. Please apply it: https://github.com/kuberenetes-learning-group/fuse-device-plugin/blob/master/fuse-device-plugin-k8s-1.16.yml

If you don't want to apply daemon-set give your pod privileges and capabilities and run as `root` .

T

[2022-01-06 15:16] joshuawhite929 commented on #3688
@flouthoc My usage is very basic.  I simply took the quay.io/buildah/stable:v1.23.1 image, extended it to add bash and skopeo and haven't made any other configuration changes.

I got this image to run on Docker with the addition of these arguments:
`docker run --security-opt seccomp:unconfined --device /dev/fuse`

I wasn't sure if something similar was necessary for running it within a Kind cluste

[2022-01-06 15:31] rhatdan commented on #3688
Hey Josh.  You would need to do the same.

https://www.redhat.com/sysadmin/podman-inside-container
https://www.redhat.com/sysadmin/podman-inside-kubernetes

Might give you some ideas. While these are Podman, Buildah is similar.

Buildah does have a nice feature to make this more secure with

buildah build --isolation=chroot ...

[2022-01-06 15:58] joshuawhite929 commented on #3688
I'd like to make this work because I am already using skopeo and would love to be able to share the secrets/certificates.  With that said, I come to buildah from kaniko where I can simply run a container and build images without the need for additional configuration.  Is there a way to get to that model with buildah?  For example, I'd love to be able to wire up a [Buildah Tekton task](https://hub.

[2022-01-06 16:13] flouthoc commented on #3644
cc @nalind just for info.

[2022-01-06 23:09] TomSweeneyRedHat commented on #3688
@joshuawhite929 I know enough about Kind to be deemed completely and totally ignorant.  Is it possible to do what you're trying to do with Podman rather than Buildah inside of Kind?

[2022-01-07 00:21] joshuawhite929 commented on #3688
That's an option.  Because all I am doing is extending a container, I initially thought having an entire runtime would be overkill.  If it's an easier option to get working though, I'll give it a try.  If I remember right, podman also has an "inspect" command which would let me swap out skopeo.

[2022-01-07 15:14] TomSweeneyRedHat commented on #3688
@joshuawhite929 yep, Skopeo has an inspect command and does a lot of what Skopeo does.  You indeed might be able to merge the work that you're doing with both Skopeo and Buildah to just using Podman.  FWIW, Buildah is used by Podman under the covers to build the images.

[2022-01-08 14:50] #3501 closed

[2022-01-09 19:33] joshuawhite929 commented on #3688
@rhatdan - I am using the quay.io/buildah/stable image.  Looking at [the Dockerfile for that image](https://github.com/containers/buildah/blob/9855bc797f0532bae9987e07ba06d0cbf9c71ff8/contrib/buildahimage/stable/Dockerfile), I thought that `ENV BUILDAH_ISOLATION=chroot` did the same thing.

As far as those articles go, I'd like to avoid using a privileged container, but using a DaemonSet is a litt

[2022-01-09 19:54] joshuawhite929 commented on #3688
@rhatdan - One more thing... I am experiencing this headache when using [Kind](https://kind.sigs.k8s.io/).  Looking at the [Dockerfile that they use](https://github.com/kubernetes-sigs/kind/blob/main/images/base/Dockerfile), don't they already use the fuse-overlayfs?

[2022-01-09 22:11] friedman-ionq opened #3694 "podman build fails (docker passes) on "pg_ctl initdb""
With the following Dockerfile:

[code]

running `podman build .` fails while `docker build .` works.  The output of /var/lib/postgresql/data is not saved after the first run step (as evidenced by the output of the two ls commands), and consequently, pg_ctl start fails.  This Dockerfile works correctly with docker.

**Steps to reproduce the issue:**
1. run "podman build ."

**Describe the results y

[2022-01-10 15:14] rhatdan commented on #3688
Buildah needs some privs in order to mount, which means it needs CAP_SYS_ADMIN or CAP_SETUID/CAP_SETGID in order to create a user namespace and mount namespace.  It also usually needs > 1 UID within its User Namespace, so it can assign root and all UIDs required to the the build.  I know of no way that Kaniko could do this without requiring the same.

@nalind @giuseppe Thoughts?

[2022-01-10 15:15] rhatdan commented on #3688
In order to use fuse you also need to leak /dev/fuse into the container.

@flouthoc @umohnani8 have you tried this?

[2022-01-10 15:17] rhatdan commented on #3694
@nalind PTAL

[2022-01-10 15:57] umohnani8 commented on #3688
Yes, I have mounted /dev/fuse into the container when running podman inside a container in a kubernetes cluster. The steps are under the `rootless podman without the privileged flag` section in the article here https://www.redhat.com/sysadmin/podman-inside-kubernetes.
The article might help with some of the configurations needed to podman inside a container with a kind set up as well.

[2022-01-10 16:24] learnitall commented on #620
I've been taking a look and this is going to be tricky for me- my understanding of the container's go ecosystem is not very robust. I can continue to try and figure this out, but I'm not very confident in how good/quick I can do this. Might be good for someone with more experience with buildah (i.e. @flouthoc) to take this one over. I saw the 'good first issue' label and thought this would be a si