[2019-10-01 09:43] scorpionlion commented on #1872
Thanks for this and apologies for my limited knowledge of se linux  rules - in the above command do I need to change `mycontainer` to something else? I need a solution which allows building of all images not specific to any container.

[2019-10-01 10:38] rhatdan commented on #1888
Can you move the sockets to a tmpfs?

Are you running buildah rootless or as root?

@giuseppe any idea why this would work in Docker on overlay but not on Buildah?

[2019-10-01 11:24] rhatdan commented on #1589
We should be merging the latest version of containers/image this week.  As soon as this is merged
https://github.com/containers/image/pull/718

I will open a PR for Buildah, and then will work with @TomSweeneyRedHat to get a release out.

[2019-10-01 12:19] scorpionlion commented on #1872
**created podmanselinux.te**
[code]
**created module from type enforcement**

` checkmodule -M -m -o podmanselinux.mod podmanselinux.te`

**created policy file from module**

` semodule_package -o podmanselinux.pp -m podmanselinux.mod`

**loaded/applied policy**

` sudo semodule -i podmanselinux.pp`

[2019-10-01 12:52] rhatdan commented on #1872
LGTM
Does that fix your issue.

[2019-10-01 13:08] scorpionlion commented on #1872
yes It does thanks

[2019-10-01 15:03] jmccormick2001 commented on #1888
sudo --preserve-env buildah bud -f ./docker/Dockerfile -t jmccormick2001/rqlite:v0.0.1 ./docker

thanks, I'm running it like above.

[2019-10-01 15:16] nalind commented on #1888
The error's being produced when we attempt to commit an image where one of the layers will include a socket.  I think this was fixed as of #1785, so 1.11.0 or later should handle it correctly.

[2019-10-01 15:23] nalind commented on #1875
This should have been fixed by #1792 (we digest an archive of the content that we're adding to produce a digest, and that value is changed since the link target information is part of that archive), so I think this comes down to needing a version of podman that incorporates buildah v1.11.0 or later, while podman 1.5.1 used buildah v1.10.1.

[2019-10-01 15:24] jmccormick2001 commented on #1888
I built locally and still get the same error...

jeffmc@doppio114 ~/projects/rq> make rqlite-image
sudo --preserve-env buildah bud -f ./docker/Dockerfile -t jmccormick2001/rqlite:v0.0.1 ./docker
STEP 1: FROM registry.access.redhat.com/ubi8/ubi-minimal
STEP 2: MAINTAINER Jeff McCormick
STEP 3: ENV RQLITE_VERSION=4.5.0
STEP 4: RUN microdnf install curl gzip tar

(process:1): librhsm-WARNING **: 15:2

[2019-10-01 15:59] nalind commented on #1888
Hmm, my test didn't have those, but that error message still gets produced when we try to add the socket to an archive, and fixing it doesn't look like it's to be as simple as I'd have hoped.  The quickest workaround is probably to add a "&& microdnf clean all" to the end of the RUN command that installs curl, gzip, and tar.

[2019-10-01 16:03] jmccormick2001 commented on #1888
thanks, that fixes it.

[2019-10-01 16:29] nalind commented on #1888
Yes, I think we should keep this one open.

[2019-10-01 16:31] rhatdan commented on #1875
So we will say this is fixed in podman 1.6 which is being released soon and is the upstream.

[2019-10-01 16:31] #1875 closed

[2019-10-02 14:28] benjamin-bergia commented on #1469
New user here.
I have spent the pass 2 days trying to get my head around running buildah in my kubernetes cluster.
As mentioned https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/ is very useful but it was pretty surprising to be able to run `quay.io/buildah/stable:v1.11.2` on my kubernetes cluster but not locally on docker.

I had and still have issues

[2019-10-02 14:56] ipbabble commented on #1469
This is strange. Can you tell us more about this buildah/stable:v1.11.2 ?

I assume you are pulling it down with Docker before trying to run it,
right? (just checking to eliminate some obvious gotchas)

I promised to work on the other issues but failed to do so because of
travel. I will spend time on this today.

-ipbabble

On Wed, Oct 2, 2019 at 8:28 AM ITChap <notifications@github.com> wrote:

-

[2019-10-02 15:39] TomSweeneyRedHat commented on #1469
Most likely pulled the image from quay.io.  https://quay.io/repository/buildah/stable?tab=tags

[2019-10-02 17:07] TomSweeneyRedHat commented on #1469
@benjamin-bergia Thanks for the feedback and sorry for the troubles. I'd be very interested in hearing what parts of the docs are unclear or missing.  Also if you expected to find them in a particular location and did not.

I'd also be interested to see how you tried to run that Buildah image in Docker and what the errors were that you ran into.  If you could do that in a separate issue, that woul

[2019-10-02 21:10] refi64 opened #1893 "buildah run loses setuid bit with pacman"
**Description**

This is really weird...

So if I install sudo on an Arch container with `buildah run`, it loses the setuid bit. Doing the same in a scratch container created with podman keeps it, however.

**Steps to reproduce the issue:**
1. `podman pull archlinux/base`
2. `buildah from --name suid-test-work archlinux/base`
3. `buildah run suid-test-work -- pacman -Sy --noconfirm sudo` (NOTE: I'

[2019-10-03 09:37] benjamin-bergia commented on #1469
Hi @TomSweeneyRedHat,
no need to apologies, you guys built a great tool I like working with it.
I will create a new issue for the doc and regarding the issue I have the exact same than @t3hmrman  and @bachp when running locally on my docker. Any other command than `version` seems to throw the following error:

It was a bit misleading, since, in my very limited understanding, I though  that setting

[2019-10-03 18:00] rhatdan commented on #1469
Unshare being blocked is probably seccomp?  I believe Capabilities and SELinux should allow it.

[2019-10-04 06:50] grooverdan commented on #1590
Just letting you know I'm back on this. Rebased. Started some test cases. Many more to write (and find more mistakes with) regarding multistage images. No work on mounting qemu within image during build process.

url:
https://github.com/grooverdan/buildah/tree/args-target-platform

[2019-10-04 06:52] benjamin-bergia commented on #1469
I don't know if this helps but here is the `/etc/docker/seccomp.json` file from my testing cluster.
[code]

[2019-10-04 12:52] TomSweeneyRedHat opened #1894 "podman crashes with multi-stage and incorrect copy --from my-registry/my-image command"
(Moving this from: https://github.com/containers/libpod/issues/4190)
Hi team, great job,

I faced a crash with a malformed Dockerfile using multistage and:
[code]
The malformed command here, is an equal sign missing between from and image name:
it should be
[code]

Here is the stacktrace
[code]

[2019-10-04 12:53] TomSweeneyRedHat commented on #1894
FYI @akram

[2019-10-04 13:12] benjamin-bergia opened #1895 "Minor document issues and hurdles"
**Description**
Following my comment on #1469, I thought I could share some of the pain points I had during my first few days using buildah and the stuff that in my opinion could be added or put forward in the doc.

To give a bit of context, some of our projects are running on travis free offering and we are slowly moving to drone-ci on kubernetes. I have been looking around for a simple and relia

[2019-10-04 13:18] TomSweeneyRedHat commented on #1895
This is awesome @benjamin-bergia .  Thanks so much for posting this and for the pointers to the pain points that you encountered.  Hopefully we can clean those up.

[2019-10-05 15:41] TomSweeneyRedHat opened #1897 "podman build -q is not completely quiet"
Reported by  @Romain-Geissler-1A in https://github.com/containers/libpod/issues/3191

Hi,

Still, the output of "podman build -q" doesn't match the output of "docker build -q":

    docker outputs a single line (the final image id), while podman show all intermediate image ids
    podman prefixes it with "Using cache" when the cache was used, whereas docker only outputs the image id and nothing el

[2019-10-08 01:25] caiges commented on #1798
I wasn't able to reproduce at [7a7e1f0](https://github.com/containers/buildah/tree/7a7e1f07ee7b16c2299f334cd8f551c3e4a0c4cb). The error message is different but substantively similar. I tried both symlinks and regular files. I've included the symlink test below:

Working directory:
[code]
Dockerfile:
[code]
Buildah output:
[code]

Docker output:
[code]

[2019-10-08 09:35] nmiculinic opened #1901 "Error during unshare(CLONE_NEWUSER): Operation not permitted"
**Description**

I cannot run `buildah bud`

**Steps to reproduce the issue:**

[code]

Within the docker container I run the following:

https://github.com/containers/buildah/blob/master/install.md#ubuntu

[code]

**Describe the results you expected:**

I expected everything to work our and build the OCI image.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah v

[2019-10-08 12:55] rhatdan commented on #1901
We recommend that people running buildah within a locked down container use images from quay.io.
https://quay.io/repository/buildah/stable
Basically running straight buildah within a locked down container will fail, because the unshare command is blocked.   We recommend using the --isolation=chroot, which eliminates the unshare call.

[2019-10-08 13:46] nmiculinic commented on #1901
It doesn't seem to help at all:
[code]

Also it appears to be default isolation as well in the container.

[2019-10-09 07:47] vrothberg commented on #1589
Buildah v1.11.3 has been released and includes fixes for this issue. Thanks to everybody involved!

[2019-10-09 13:11] afbjorklund commented on #1590
Excellent work, looking to see if I can use any of this when building "boot2podman" for ARM...

https://github.com/boot2podman/boot2podman/issues/18

The current build system (for x86_64/amd64) uses containers, so it would be nice to be able to do something similar when cross-compiling (armv6/armv7/arm64) - instead of having to use a full VM.

[2019-10-09 23:18] grooverdan commented on #1590
Found the following on how to detect arm variant of the current system in go: https://github.com/containerd/containerd/blob/master/platforms/cpuinfo.go#L99

@afbjorklund, do you know what might be the equivalent in bash (for the test cases)?

[2019-10-10 12:22] rhatdan commented on #1901
Could you try this with podman?
Also could you try
docker run --security-opt seccomp=/usr/share/containers/seccomp.json  --rm -it -v $(pwd):/rootfs quay.io/buildah/stable

I think Docker might be blocking the unshare syscall.

[2019-10-10 18:21] afbjorklund commented on #1590
Ended up not needing any of this for the boot2podman arm variants, but looks good anyway...
Turns out my issues were more related the my old kernel (as usual), rather than podman itself.

[2019-10-11 00:40] caiges commented on #1864
Annotations or labels feel like the right place for this (on commit), labels maybe being a bit more visible to end-users. `/run/.containerenv` would work too but I believe that would also require a change to Podman since it'll create an empty `/run/.containerenv` and we could add its version there as well.

[2019-10-11 00:49] grooverdan commented on #1590
Thanks for the Linux 4.8 hint of the `F` flag (https://www.kernel.org/doc/Documentation/admin-guide/binfmt-misc.rst). I hadn't come across that and certainly saves a copy/namespace mount.

Thanks for the arm hints, and I'll account for x86_32 (using `i?86)`) (which should output 386 looking at https://golang.org/src/go/build/syslist.go). I don't follow the `x86_64) [ -f /lib/ld-linux-x86-64.so.2 ]

[2019-10-11 05:35] afbjorklund commented on #1590
Probably it is because only four TCL variants existed:
http://tinycorelinux.net/9.x/

The 10.x is still in “beta” and there is no `arm64` yet.
Mostly for Raspberry Pi 4

[2019-10-11 11:53] shaicoleman opened #1906 "With Dockerfile ADD .tar.xz reuses cache even when files changed"
**Description**

Dockerfile ADD command reuses cache even when files have changed

**Steps to reproduce the issue:**
1. On Ubuntu 18.04, install podman 1.6.1 from PPA (Buildah 1.11.2)
2. Create the following `Dockerfile`
[code]
3. Build a test archive, and run podman build
[code]
4. Create a new test archive,  run podman build again
[code]

**Describe the results you expected:**
It is expected not

[2019-10-11 12:42] GoodDingo opened #1907 "[BUG] podman inspect .Image crashes"
**Podman fails on go template format where docker works**

**`Error: Template parsing error: template: image:1:7: executing "image" at <.Image>: can't evaluate field Image in type *libpod.InspectContainerData`**

I very much like this project and want to replace all docker with podman on our Jenkins agents.
Jenkins is using Docker CLI, hence this is possible in theory (with proper `docker` wrapper

[2019-10-11 12:56] rhatdan commented on #1864
I often have a hard time understanding the difference between Annotations and Labels.

[2019-10-11 13:27] nalind commented on #1907
This looks like https://github.com/containers/libpod/issues/4193.

[2019-10-11 14:21] TomSweeneyRedHat commented on #1907
I concur with @nalind.  This is a duplicate of https://github.com/containers/libpod/issues/4193 and I'm going to close this.  @GoodDingo thanks for the issue report.

[2019-10-11 14:21] #1907 closed

[2019-10-11 14:22] caiges commented on #1864
My interpretation is that they're functionally similar but different in terms of expectations and location. In the general sense, annotations feel more structured and expected whereas labels are more arbitrary. For instance, I would classify an image caption as an annotation because it's expected (in presence and content) but if the author were to affix an arbitrary piece of text diagonally across

[2019-10-11 16:05] rhatdan commented on #1864
So you want the container to be able to determine who built the image, as opposed to the user of the image knowing what built it?
Please generate a PR, since I don't think we are against it.  WDYT @vrothberg @mtrmac @nalind

[2019-10-11 18:04] TomSweeneyRedHat commented on #1906
First reported in https://github.com/containers/libpod/issues/3920.  See that issue for further background information.  We'll track the issue here going forward though.

[2019-10-11 20:20] mtrmac commented on #1864
If the version number is supposed to work for debugging and workarounds, it should be as close to the top level of the object as possible (i.e. in this case, probably, the image config (manifests are not preserved on `docker pull`)).

Suppose we somehow massively screw up and widely-deployed Buildah X.Y.Z creates incorrectly-formatted layers: if the version number is in the config, a consumer will

[2019-10-11 21:43] TomSweeneyRedHat commented on #1906
@shaicoleman I'm replicating now with upstream and latest.  As you noted it should not cache.  As a work around, you can add the `--no-cache` option to the second build command, that should work as you expect.
[code]
In the meantime I'll see if I can figure out why the build process isn't nog

[2019-10-12 20:28] urisimchoni opened #1911 "Chmod fails in buildah bud"
**Description**

Using buildah bud to build an image using a Dockerfile fails on a command to chmod a file in the container.

**Steps to reproduce the issue:**
1. Use the following Dockerfile:

[code]

2. Run `touch myfile; buildah buf -t xx .`

**Describe the results you received:**

[code]

**Describe the results you expected:**

expect success (works with `docker build`

**Output of `rpm -q bui

[2019-10-12 21:13] TomSweeneyRedHat commented on #1911
@urisimchoni thank you for the issue report.  Did you run this as a root user or a non-root user?  This worked for me with upstream using root.

[2019-10-13 10:59] rhatdan commented on #1911
It is fedora 31. Does buildah info show that it is running runc or crun.
Does `$ podman run fedora echo hello` work

[2019-10-13 17:42] urisimchoni commented on #1911
@TomSweeneyRedHat  I ran it as non-root, but it also fails as root:

[code]

I'm using fedora 31 beta (trying to figure out if I can use Company Dockerfiles as-is with buildah, now that fedora 31 is on cgroupsv2). I imagined that would be pretty close to upstream, but I can build upstream and give it a whirl. Should I build anything other that buildah itself from sources?

[2019-10-13 18:00] urisimchoni commented on #1911
@rhatdan the "podman run" check led me in the right direction - it is a SELinux issue. The program inside the container was not granted access to libc. Once I disabled SELinux, everything started working.

Closing the issue and sorry for your time,
Uri.

[2019-10-13 18:00] #1911 closed

[2019-10-13 20:03] pierreozoux commented on #1469
New user here too, doesn't build on my Docker for Mac.
Same error as `benjamin-bergia`, but now, I'll try directly on kube as it is where I want to use it :)
Thanks for the info!

[2019-10-13 21:57] pierreozoux commented on #1895
I think you have to improve documentation.

First the website. As a new user, I search directly the "QuickStart" section, here the closest I found was a "tutorial", not that far ok.
I didn't find how to build Dockerfiles easily. I'd be you, I'd switch the OCI to Dockerfile. I think more people want to build Dockerfiles, we are used to that.

And then, it just didn't work on my mac, frustration sta

[2019-10-14 05:10] talonx opened #1912 "Support a command similar to docker prune"
**Description**

This is an enhancement request.

docker has an option called image prune which deletes unused images, containers, networks etc. It would be nice to have this in buildah. Running builds often creates many intermediate images which stick around, especially for failed builds. I understand that the purpose of keeping the failed build images is to be able to debug it later. However, wh

[2019-10-14 07:51] pierreozoux commented on #1895
I guess that this project works perfectly on OpenShift.
Maybe a compatibility matrix would help a lot to manage users expectations.

[2019-10-14 12:26] vrothberg commented on #1864
I sounds reasonable to me add metadata that describes which tool in which version built the image. There is [a set of pre-defined annotations](https://github.com/opencontainers/image-spec/blob/master/annotations.md#pre-defined-annotation-keys) in the OCI image spec already and I think that the metadata could be added there (e.g., `org.opencontainers.image.builder.name` and `org.opencontainers.imag

[2019-10-14 13:46] rhatdan commented on #1911
Please show me the AVC's most likely you have your storage mislabeled, if SELinux is causing you issues.

[2019-10-14 13:51] rhatdan commented on #1912
Can you use `podman image prune`?

[2019-10-14 15:52] cgwalters opened #1915 "OpenShift Prow onboarding: Create OWNERS file to use"
This repository currently uses [PAPR](https://github.com/projectatomic/papr/) which is in the process of being decomissioned.

There is no one successor to PAPR; Github has a powerful pluggable API for CI, and you can use multiple.

However, the CoreOS group is [increasingly using OpenShift Prow](https://github.com/coreos/fedora-coreos-tracker/issues/263).

If you wish to use the OpenShift Prow in

[2019-10-14 15:59] edsantiago commented on #1906
FWIW this is a regression from podman 1.5.0 (`buildah v1.10.1`, according to podman's `go.mod`). That is: running this reproducer on v1.5.0 will correctly pick up the new tarfile.

Also FWIW I was never able to reproduce https://github.com/containers/libpod/issues/3920 in v1.5.0, no matter what Dockerfile incantations I used.

[2019-10-14 17:40] urisimchoni commented on #1911
Oops, sorry, already deleted that Vagrant box (my purpose was to see if I can migrate my personal machine from fedora 30 to fedora 31 and not use docker - looks like I can  :)). When trying to reproduce with a new box it ran smoothly.

Thanks again,
Uri.

[2019-10-14 20:15] rhatdan commented on #1911
No problem, glad it worked and  you can be "Docker" free.

[2019-10-15 06:41] JamesWrigley commented on #1901
Not sure if this is the case on Ubuntu, but on Debian the kernel itself disables the unsharing: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=808915.

I had to manually allow unprivileged users to unshare, get Docker to use Podman's seccomp profile, and then Buildah ran in the container. Using `--isolation=chroot` had no effect, unfortunately.

[2019-10-15 09:03] Davio opened #1918 "Publish version 1.11.0 to Ubuntu 18.04 and 19.04 repositories"
Looking at [https://launchpad.net/~projectatomic/+archive/ubuntu/ppa](https://launchpad.net/~projectatomic/+archive/ubuntu/ppa) it seems version 1.11.0 has only been released for Ubuntu 16.04.

Will Buildah be published for 18.04 and 19.04 as well?

[2019-10-15 12:53] lsm5 commented on #1918
@Davio yes, it will, but some rebase issues in autobuilder. Handling it now..

@TomSweeneyRedHat could you please give me access to assign issues to myself and set labels?

[2019-10-15 12:53] bbodiya-akamai opened #1919 "Odd COPY usage not supported"
**Description**

I noticed that some Dockerfiles with odd COPY behavior that were accepted by docker build do not work with buildah bud.  In particular, when COPY --from is used to copy files from the same image that a stage is based on, buildah errors and indicates that the stage has not been built.

This is easily worked around using "RUN cp".  An error indicating as much would be nice.

**Steps

[2019-10-15 13:21] bbodiya-akamai opened #1920 "buildah bud removes existing images from the registry"
**Description**
buildah bud sometimes removes images that were referenced in a build, even when they were already present in the local registry before the build occurred.

**Steps to reproduce the issue:**
1. Create a Dockerfile for the first stage of the build, and build it using buildah bud.
[code]
2. Note that the image was successfully added to the registry:
[code]
2. Create a second Dockerfil

[2019-10-15 13:50] TomSweeneyRedHat commented on #1920
Well, that's an interesting issue.  @bbodiya-akamai thanks for reporting it with the details.  We'll take a look.

[2019-10-15 16:13] jduncan-rva commented on #1546
+1
Same behavior with buildah-1.11.3-2.fc30.x86_64

At least the scenario of using a build-arg in a COPY command fails because the argument isn't evaluated.

`COPY requirements.txt entrypoint.sh workshops/${workshop_name} /opt/docs/
Error: error dry-running "COPY requirements.txt entrypoint.sh workshops/${workshop_name} /opt/docs/": no files found matching "/home/jduncan/Code/labguide/workshops/${

[2019-10-15 16:16] apg036 opened #1921 "Amazon Linux 2 packages"
Hello,

Is there a way to get packages for Amazon Linux 2, please?
RHEL7 option from https://github.com/containers/buildah/blob/master/install.md doesn't work because there is no such repository "rhel-7-server-extras-rpms" in Amazon Linux.

[2019-10-15 17:07] TomSweeneyRedHat commented on #1546
@jduncan-rva hmm, 1.11.3 should not be doing that still.  Can you do a 'rpm -qa | grep buildah' please?  Also if you could share your Dockerfile and `buildah bud` command that would be great.

[2019-10-15 17:08] TomSweeneyRedHat commented on #1546
FWIW, #1874 should have fixed the `--build-arg` issue and that landed (supposedly) in v1.11.3.

[2019-10-15 18:48] jlebon commented on #1915
WIP to move towards Cirrus CI in https://github.com/containers/buildah/pull/1848.

[2019-10-15 23:08] rhatdan commented on #1901
Don't fully understand what you are saying, Did Buildah work or not work within the container?

[2019-10-15 23:24] rhatdan commented on #1918
@lsm5 I think you should be able to do that now.

[2019-10-16 00:54] maysunfaisal opened #1923 "buildah 1.11.3-2 fails on every command"
**Description**

**Steps to reproduce the issue:**
1. Download rpm from `https://download-ib01.fedoraproject.org/pub/fedora/linux/updates/30/Everything/x86_64/Packages/b/buildah-1.11.3-2.fc30.x86_64.rpm`
2. Install buildah using yum
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Something like
[code]

**Output of `rpm -q buildah` or `apt list buildah`

[2019-10-16 02:09] petejohanson commented on #1589
This *seems* to still be a problem. I just did a build on `buildah` 1.11.3, pushed to Docker Hub, and tried to pull into my cluster, and it still reports the same error.

Anyone else had *success* with the latest version?

[2019-10-16 04:35] petejohanson commented on #1589
Ok, so I got this working, but I had to pass `-D` option to `buildah push` for this to work properly. With that option supplied, the built images work with recent k3s/containerd in my cluster.

[2019-10-16 06:42] JamesWrigley commented on #1901
Yes it did (on a Debian host), once I ran:
[code]
I'm not sure why this is necessary if `--isolation=chroot` eliminates the unshare call.

Then when using Podman's seccomp profile, Buildah worked in the container:
[code]

[2019-10-16 07:31] akram opened #1924 "Buildah build in OpenShift: error checking if \"/tmp/buildah515060907/mnt/rootfs/sys/fs/cgroup/devices\" is mounted: no such file or directory""
Hi Buildahers,

I am successfully running a multistage docker strategy build in OCP 4.2 nightly, but I am getting a warning:

[code]

does it worth having a fix for this?

[2019-10-16 12:25] TomSweeneyRedHat commented on #1923
@lsm5 any thoughts?  I don't have a CentOS vm readily available.

[2019-10-16 12:26] TomSweeneyRedHat commented on #1924
@nalind any thoughts?

[2019-10-16 12:27] TomSweeneyRedHat commented on #1589
@vrothberg ping

[2019-10-16 12:33] vrothberg commented on #1589
Thanks for the ping!

We're still having issues when the image format _and_ the compression changes. Without intermediate steps we can either push the layers uncompressed (at the expense of disk space) or we enforce the same image format (i.e., docker or OCI). When building an image, we can use `--format docker`. Apologies for not mentioning that in the upper release comment.

[2019-10-16 12:43] lsm5 commented on #1923
@maysunfaisal try the centos SIG build instead. https://cbs.centos.org/koji/buildinfo?buildID=26863

[2019-10-16 13:34] marshallford commented on #1589
@vrothberg any idea on how this flag will be bubbled up or automatically used in `libpod` once a release is cut that includes `1.11.3`?

[2019-10-16 13:57] rhatdan commented on #1924
These are overlayfs setup checks.

[2019-10-16 14:19] maysunfaisal commented on #1923
@lsm5 downloaded the rpm from the link and it still gives me the same error:

[code]

[2019-10-16 14:22] rhatdan commented on #1923
Do we need a new version of libseccomp?

[2019-10-16 14:30] TomSweeneyRedHat commented on #1589
Given @vrothberg's last few comments, I'm going to reopen this one to make tracking easier.

[2019-10-16 14:37] maysunfaisal commented on #1923
@lsm5 yes, that seemed to work

[code]

[2019-10-16 14:50] lsm5 commented on #1923
updated dependency in buildah spec file. Closing...

[2019-10-16 14:55] lsm5 commented on #1923
New build happening at https://cbs.centos.org/koji/taskinfo?taskID=995101 which should take care of the dependency issue.

[2019-10-16 15:44] maysunfaisal commented on #1923
@lsm5 looks like the build has failed :(

[2019-10-16 17:17] jduncan-rva commented on #1546
rpm -qa | grep buildah
buildah-1.11.3-2.fc30.x86_64

Confirmed this worked cleanly with buildah bud. Thanks!

[2019-10-16 17:38] TomSweeneyRedHat commented on #1546
@jduncan-rva probably a lack of tea in my system.  So this is working for you now in Buildah 1.11.3 right?

[2019-10-16 18:00] aggarwalShivani opened #1927 "Query on running process via buildah run command"
**Description**

I have a query regarding buildah. I need to run a shell script while building the image (and not at docker-entrypoint).
It needs to start a process in background.

In Dockerfile, I run it via RUN command. It looks like this:
`  RUN /usr/local/kibana-docker &>/tmp/kibana & `
( I am running the process in background using **'&'**)

In buildah, I am unable to run the same using build

[2019-10-16 19:14] lsm5 commented on #1923
Fixed https://cbs.centos.org/koji/taskinfo?taskID=995170

[2019-10-16 19:22] edsantiago opened #1928 "buildah bud: stdout vanishes if filehandle is not a tty"
When redirecting stdout, output of `buildah bud` disappears:
[code]
That is: adding `| cat` (or redirecting to a file, whatever) loses the output of `date` (or any other command run). The `-q` isn't necessary, I just added it here for a clean bug report.

buildah-1.12.0-0.40.dev.git389d49b.fc32.x86_64 on rawhide.

[2019-10-16 19:26] sgallagher commented on #1546
@TomSweeneyRedHat I am still seeing this when doing `podman build` on
[code]

I don't know if it matters, but I'm encountering it from an `ADD` command rather than `COPY`. (I need to use `ADD` because I'm having it auto-extract a tarball.)

[2019-10-16 19:50] rhatdan commented on #1901
@nalind @giuseppe Are we still unsharing the namespace if we are doing --isolation=chroot

[2019-10-16 20:15] cgwalters commented on #1915
OK, submitted https://github.com/openshift/release/pull/5477

However to really make things work more nicely, I think you want Prow to execute at least one job.  A good start is a simple `make`.  I tend to like having `ci/build.sh` wrapper scripts that can be shared between CI systems.

[2019-10-16 21:10] TomSweeneyRedHat commented on #1546
Thanks @sgallagher and @jduncan-rva I'll take a look from the Podman side.  I did a quick run with Buildah 1.11.3 directly and it seemed OK.

[2019-10-17 07:57] vrothberg commented on #1915
Closed by #1926

[2019-10-17 07:57] #1915 closed

[2019-10-17 11:36] sgallagher commented on #1546
@TomSweeneyRedHat If you want to reproduce it, you can clone https://github.com/fedora-modularity/libmodulemd, install `podman-docker` so that it owns the `/usr/bin/docker` command, and run `TRAVIS_JOB_NAME="Fedora 31" ./.travis/travis-fedora.sh` in the cloned directory to see what I see.

[2019-10-17 13:48] jduncan-rva commented on #1546
A little more thorough answer:

`buildah bud` works:

[code]

relevant lines from Dockerfile:

[code]

Buildah bud works just fine.

[code]

However, `podman` doesn't seem to work properly yet:

[code]

[code]

[2019-10-17 14:35] QiWang19 commented on #1919
I can replica this difference.
Does this comment in buildah describe this situation?
https://github.com/containers/buildah/blob/0f7148bae580383257353468dd8dd435935dba06/imagebuildah/executor.go#L410-L414

[2019-10-17 15:31] rhatdan commented on #1927
Does the command work if you run it inside of a Dockerfile, executed by buildah?
If yes then this is probably a shell escaping issue.
You might need to escape the & to get the buildah command to see it, otherwise bash will just run the buildah command in background

[2019-10-17 15:34] rhatdan commented on #1928
I would guess we have some kind of isterminal check happening and don't output from buidlah if their is no TTY?
@nalind @TomSweeneyRedHat PTAL

[2019-10-17 17:33] edsantiago commented on #1928
It's something to do with rawhide: perhaps runc/crun, perhaps cgroups v2. Problem present on all rawhide builds of buildah, down to and including `buildah-1.11.0-0.34.dev.git689f8ed.fc32.x86_64.rpm` (2019-08-28) which is the first one that actually seems to run on rawhide.

[2019-10-17 17:44] rhatdan commented on #1546
Could this have something to do with layers.
podman build defaults to layers==true. buildah bud layers==false.

If you attempt to build with podman build --layers=false, does it succeed?  Similarly buildah bud --layers=false, does it fail?

[2019-10-18 00:48] sgallagher commented on #1546
It still fails with `podman build --layers=false` and still succeeds with `buildah bud --layers=true`.

[2019-10-18 07:33] giuseppe commented on #1901
yes, a new user namespace is still necessary when the user has no CAP_SYS_ADMIN in the container.

[2019-10-18 13:03] cevich commented on #1469
[code]

Hit this issue recently as well, trying to use docker from the Github Actions (Ubuntu) environment.

With Github Actions execution environment (Ubuntu), it's _possible_ to specify your own docker argument but complicates / is unidiomatic.  However, I believe it _is_ possible to install a new system-wide `seccomp.json` as a workaround.

Could that be a workaround for this in Github Actions

[2019-10-18 14:16] rhatdan commented on #1546
Have you checked to make sure you are running the same version of buildah in both cases.

buildah version
podman info | grep -i Buildah

[2019-10-18 14:21] sgallagher commented on #1546
OK, it appears that podman is still using `BuildahVersion: 1.11.2` while this issue was apparently fixed in 1.11.3.

Why is podman bundling buildah rather than using the system version?

[2019-10-18 14:26] rhatdan commented on #1901
@giuseppe Why, what do we need this for?  I guess we are still bind mounting the /proc and /sys into the chroot.

[2019-10-18 14:29] sgallagher commented on #1546
OK, podman 1.6.2 which bundles buildah 1.11.3 works properly for me. (Just pulled it from https://koji.fedoraproject.org/koji/packageinfo?packageID=26289 )

[2019-10-18 14:29] TomSweeneyRedHat commented on #1546
@sgallagher @jduncan-rva thanks for all the digging on this issue.

Under the covers of Podman, we use Buildah's API for the 'podman bulid' command.  That command calls the 'buildah bud' api to do that work for it as both tools share the same container images.  To make that happen we have to vendor a version of Buildah into Podman.

This should be fixed then in the next release of Podman, I'm not

[2019-10-18 15:13] TomSweeneyRedHat commented on #1906
@edsantiago do you have cycles to look at this and test?

[2019-10-18 15:31] cevich commented on #1469
Update:  I downloaded podman's `seccomp.json` then stuck this into `/etc/docker/daemon.json`:
``{"seccomp-profile": "/root/seccomp.json"}``, and restarted the docker daemon.  I get further now, using a Fedora 30 container image w/ buildah installed:

[code]

It appeared to "hang" though responded to me pressing enter.  So for running `buildah` in docker containers...more is needed :thinking:

[2019-10-18 16:18] rhatdan commented on #1546
Fixed in podman 1.6.2 so closing.

[2019-10-18 16:18] #1546 closed

[2019-10-18 16:27] jduncan-rva commented on #1546
Confirmed this works in 1.6.2

[2019-10-18 18:13] TomSweeneyRedHat commented on #1927
@aggarwalShivani my first guess is the the same as @rhatdan 's.  Can you try:
[code]
Those are single quotes and not back ticks.

[2019-10-18 18:18] mhrivnak commented on #1894
I hit the same bug with yet a different typo. Here's a reproducer:

[code]

[2019-10-18 19:52] cevich commented on #1469
Final update:  I got it working, but it ain't pretty.  Docker's handling of it's AppArmor profile is absolutely horrendous:  Dynamically generated, verified on every execution, and no possibility to override or bypass it just for docker.  So I brought out the big gun and disabled the entire darned thing (`systemctl stop apparmor && apt-get remove apparmor`).  Now buildah works just fine and dandy

[2019-10-18 20:15] rhatdan commented on #1469
I am fine with that solution.

[2019-10-18 22:09] dustymabe commented on #1871
we can close this now that #1874 merged?

[2019-10-18 22:14] TomSweeneyRedHat commented on #1871
@dustymabe yes we can!  I was holding off until we got a release together for Podman, but just verified this is in Buildah v1.11.3 which has been vendored upstream.  Thanks for the poke.

[2019-10-18 22:14] #1871 closed

[2019-10-18 22:20] TomSweeneyRedHat commented on #1895
@pierreozoux I've created https://github.com/containers/buildah/pull/1930 which I think will address the majority of your concerns.  If you think I can add further to that to help with your concerns, please let me know.

'All I wanted to do is build a Dockerfile, rootless on my mac, or on a classic kubernetes cluster, without configuring anything. I really though that buildah was for this. Maybe I

[2019-10-18 22:21] TomSweeneyRedHat commented on #1895
@benjamin-bergia forgot to add, your thoughts are up next on my hit list.  Thanks again for those.

[2019-10-18 22:22] dustymabe opened #1931 "can we use caches more aggressively for build args?"
**Description**
Trying to understand caching behavior with `podman build --build-args`. It seems as if caching is not re-using layers that it could. If a build arg changes we should be able to re-use all cached layers up until the build arg is first used.

[code]

Why did step3 in the second build not use the cache? This is a simple example, but it's causing me some issues (time and bandwidth wast

[2019-10-19 00:51] caiges commented on #1920
This looks like the build is treating the preexisting image as an intermediary image which is reaped during the post-build cleanup. I have a working fix but want to clean up the implementation.

[2019-10-21 07:25] giuseppe commented on #1901
yes, we still need to be able to create bind mounts to create the environment used by the `chroot`

[2019-10-21 07:33] #1234 closed

[2019-10-21 11:34] rhatdan commented on #1901
Thanks, I had figured that out.

[2019-10-21 11:35] rhatdan commented on #1901
So docker seccomp.json file blocking unshare is the issue, and should be changed, or as I reccoment use podman/CRI-O for running these containers.  You can run docker with Podman /usr/share/containers/seccomp.json file.

[2019-10-21 14:47] edsantiago commented on #1928
Fails on f31 too. Seems to work on f30. Maybe it's a crun thing?

[2019-10-21 15:23] cevich commented on #1469
@TomSweeneyRedHat have any suggestions on what to do with what I found WRT docker + ubuntu?  Do we have any existing places I could toss a step-by-step into?

[2019-10-21 21:20] dustymabe opened #1934 "issue building from branch of git repo context"
I'm having an issue trying to specify a branch to build from like described [here](https://docs.docker.com/engine/reference/commandline/build/) under **Build Syntax Suffix**.

Here is an example where I am trying to build from the `dusty` branch:

[code]

Sorry for being brief but I don't have much time right now to provide all the information needed.

**Version Info**

[code]

**Output of `podman

[2019-10-21 22:08] TomSweeneyRedHat opened #1936 "Build cache is not reused when overriding ARG with ENV in Dockerfile"
First reported in: https://github.com/containers/libpod/issues/4312 by
@JoshuaWatt

**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

Following an `ARG` statement with an `ENV` statement that sets the same variable in a Dockerfile doesn't allow the build cache to be reused.

**Steps to reproduce the issue:**

Consider the following simple Do

[2019-10-22 11:13] ahwayakchih opened #1938 "Error on `ADD ${ARGNAME} /` in Dockerfile"
I was redirected here from `libpod` issue creator. I'm sorry if i'm creating issue in wrong repository (in which case please point me to the repository where reporting this issue will be ok :).

`ARG` value does not seem to be evaluated when `${ARG}` or `$ARG` is passed as first parameter to the `ADD` command in `Dockerfile`.

**Steps to reproduce the issue:**
1. create `Dockerfile` like this:

[c

[2019-10-22 12:56] TomSweeneyRedHat commented on #1938
@ahwayakchih thanks for the problem report and yes this is the correct project to log `podman build` issues against.  This issue was fixed in #1874 which landed in Buildah v1.11.3 which was then vendored into Podman v1.6.2.  You can get the fix by using the code in Podman from GitHub and I think by doing:  `dnf update podman --enablerepo updates-testing`

I'm going to close this Issue for now if y

[2019-10-22 12:56] #1938 closed

[2019-10-22 13:22] galitker opened #1940 "Can't build an image in a rootless user"
**Description**
When trying to buildah n image using a Dockerfile under jenkins user, buildah throws the following error:

kernel does not support overlay fs: 'overlay' is not supported over xfs at "/data/jenkins/.local/share/containers/storage/overlay": backing file system is unsupported for this graph driver

**Steps to reproduce the issue:**
1. su - jenkins
2. buildah bud --storage-driver=overl

[2019-10-22 13:25] rhatdan commented on #1940
overlayfs is not support for RHEL7 rootless users yet.  Should be fixed in RHEL7.8.
You could try this on RHEL8 until then or use the vfs driver on rhel7 rootless.

[2019-10-22 13:25] #1940 closed

[2019-10-22 13:41] galitker commented on #1940
Thanks for the quick reply. vfs driver is not an option as it's too slow and a storage consumer.
Can I run an dockerized container with ubuntu 18.04 and build using buildah inside?
for e.g.
1. docker run -it --user jenkins -v /var/lib/containers/:/var/lib/containers/ --privileged 11649cadba1e bash
2. buildah bud --storage-driver=overlay --debug --creds=*:'' --format docker -f ./Dockerfile .

[2019-10-22 14:07] ahwayakchih commented on #1938
@TomSweeneyRedHat thanks!

[2019-10-22 14:47] TomSweeneyRedHat commented on #1934
@dustymabe I'm able to replicate it.  It looks like the last bit of the context directory `#dusty` is throwing the command line parsing for a loop.  If I remove just that, then things seem to build fine (but obviously not in the right branch).  It should work with it and I'm trying to figure out where it's going south ATM.

[2019-10-22 15:24] marshallford commented on #1589
@vrothberg Have you had a chance to look at this? Perhaps a PR you can link to this issue? As always, thanks for all your work.

[2019-10-22 15:41] TomSweeneyRedHat commented on #1934
I know what's happening, the code is in essence doing:
[code]
which returns:

[code]
I need to change the code  in Buildah that does the `git clone` so that it recognizes the appended branch name and instead does this:

[code]
Hopefully can get that out for review later today.

[2019-10-22 16:42] vrothberg commented on #1589
@marshallford, I had time to look into it and to think about how we can address this specific issue but I did not have the time to implement it. I opened https://github.com/containers/image/issues/733 to track it. I can't give an ETA for a fix since there are many things on my table at the moment. Maybe others will pick up https://github.com/containers/image/issues/733. I will close the issue here

[2019-10-22 16:42] #1589 closed

[2019-10-22 16:59] dustymabe commented on #1934
+1 - thanks

[2019-10-22 17:23] dustymabe commented on #1846
I hit this today. This does represent a compatibility difference between `docker build` and `podman build`. It should be fixed if we'd like to minimize the differences.

[2019-10-23 03:09] dustymabe commented on #1931
note that this represents a behavior difference from `docker build` with docker as provided by the `moby-engine-18.09.8-2.ce.git0dd43dd.fc31.x86_64` package:

[code]

You can see caches were used all the way up to the changed arg was used.

[2019-10-23 10:13] galitker commented on #1940
Can you answer my second question

On Tue, Oct 22, 2019, 16:26 Daniel J Walsh <notifications@github.com> wrote:

[2019-10-23 10:39] shyam-biradar opened #1942 "buildah login command does not work - version 1.5.3"
[root@localhost ~]# buildah login docker.io
No help topic for 'login'
[root@localhost ~]# cat /etc/*-release
NAME="Red Hat Enterprise Linux"
VERSION="8.0 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.0"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linux 8.0 (Ootpa)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:8.0:GA"
HOME_URL="https://www.redhat.com/"
BUG_REPORT_UR

[2019-10-23 12:28] TomSweeneyRedHat commented on #1942
@QiWang19 PTAL

[2019-10-23 14:40] azatsarynnyy opened #1943 "Question: is buildah/stable:v1.11.3 removed permanently on quay.io?"
We've just noticed that `quay.io/buildah/stable:v1.11.3` has been removed.
Is there a reason for this?

[2019-10-23 14:44] TomSweeneyRedHat commented on #1943
Yes, if you looked under the covers, it was really mislabeled.  The Buildah version inside that image was really v1.11.2.

I'd hoped to update/fix it this morning, but bohdi was down and I wasn't able to pull a Buildah v1.11.3 from there.  I hope to do so later today, internet gremlins permitting.

[2019-10-23 14:44] #1943 closed

[2019-10-23 14:47] azatsarynnyy commented on #1943
Thanks @TomSweeneyRedHat for the answer!

[2019-10-23 15:38] TomSweeneyRedHat commented on #1943
@azatsarynnyy I've just pushed a new v1.11.3 image out to quay.io/buildah/stable:v1.11.3, now with the appropriate version inside of it.

I'll try to remember to replace the images going forward rather than remove and update.

[2019-10-23 19:25] rhatdan commented on #1934
Since https://github.com/containers/buildah/pull/1941 is merged, this issue is fixed upstream

[2019-10-23 19:27] rhatdan commented on #1846
@QiWang19 PTAL

[2019-10-23 19:48] rhatdan commented on #1940
That should work.

You can do this with Podman right now on a locked down container, and use quay.io/buildah/stable container images

https://developers.redhat.com/blog/2019/08/14/best-practices-for-running-buildah-in-a-container/

[2019-10-23 20:01] rhatdan commented on #1942
Buildah login/logout was added in v1.8.2  So this is fixed in master and should show up in your distribution soon. Hopefully 8.1.

[2019-10-23 20:01] #1942 closed

[2019-10-23 23:55] TomSweeneyRedHat commented on #1931
@dustymabe I was able to replicate what you're seeing, but I went and used `bulidah bud --layers` in place of `podman build`.  Going through the example you provided, I thought buildah not using the cache for the second run with the second argument made sense as the value passed into it had changed from 'b' to 'c'.  However, you're right, that's not what Docker does.  I'm just not 100% sure which

[2019-10-24 04:43] shyam-biradar commented on #1942
Okay, thanks.

[2019-10-24 04:44] shyam-biradar opened #1944 "buildah pull failing, however podman pull working fine"
[root@localhost trilio-datamover-api]# buildah pull registry.redhat.io/rhosp15-rhel8/openstack-nova-api
Error determining manifest MIME type for docker://registry.redhat.io/rhosp15-rhel8/openstack-nova-api:latest: unable to retrieve auth token: invalid username/password
[root@localhost trilio-datamover-api]# podman pull registry.redhat.io/rhosp15-rhel8/openstack-nova-api
Trying to pull registry.re

[2019-10-24 04:45] shyam-biradar commented on #1944
Logged in to redhat registry using 'podman login' command. I learnt that 'buildah' should fetch registry credentials from podman.

[2019-10-24 07:51] shyam-biradar commented on #1944
[root@localhost trilio-datamover-api]# podman info
host:
  BuildahVersion: 1.6-dev
  Conmon:
    package: podman-1.0.5-1.gitf604175.module+el8.0.0+4017+bbba319f.x86_64
    path: /usr/libexec/podman/conmon
    version: 'conmon version 1.14.0-dev, commit: 6ee5ad0285ca12e6c8d0b663d7a8db5323812ef6-dirty'
  Distribution:
    distribution: '"rhel"'
    version: "8.0"
  MemFree: 118317056
  MemTotal: 191

[2019-10-24 07:51] shyam-biradar commented on #1944
[root@localhost trilio-datamover-api]# buildah info
No help topic for 'info'
[root@localhost trilio-datamover-api]# buildah --version
buildah version 1.5 (image-spec 1.0.0, runtime-spec 1.0.0)
[root@localhost trilio-datamover-api]#

[2019-10-24 12:54] TomSweeneyRedHat commented on #1944
@shyam-biradar thanks for the issue report.  Both the Podman and Buildah versions that you're using are very old.  We're currently at Buildah v1.11.3 and Podman 1.6.2 as the newest.  I know that since the versions that you're using, we've done a number of changes to the authentication process.  Would it be possible for you to update the software and try again?

[2019-10-24 12:58] rhatdan commented on #1931
@TomSweeneyRedHat Are you in the office, I would like you to show me exactly what is going ont.

[2019-10-24 13:31] dustymabe commented on #1931
In my example only the 2nd argument (`SECONDARG`) changed and thus all layers before the use of the argument that changed should be re-used.

IOW from the example:

[code]

we should be able to re-use all layers until the very last step (which is the first place where anything has changed).

All that is to say that I believe docker is behaving appropriately here and we can improve podman to be sma

[2019-10-24 13:41] rhatdan commented on #1931
It looks like the code is working correct at least with this example:
[code]
[code]
[code]

What am I missing?

[2019-10-24 13:42] rhatdan commented on #1931
I think the problem is Step 3 should have been cached?

[2019-10-24 13:45] dustymabe commented on #1931
step 3 and step 4, according to the docker behavior

[2019-10-24 13:47] dustymabe commented on #1931
of course this is a simple example, consider if the example is changed to:

[code]

Now we have a much bigger penalty for not using caching.

[2019-10-24 13:50] rhatdan commented on #1931
I agree on step 3, and maybe on step 4 since the text did not change.  But step 5 obviously is different.

@TomSweeneyRedHat I think Step 5 should be the only non cached item.

[2019-10-25 05:18] shyam-biradar commented on #1944
@TomSweeneyRedHat  Thanks. I will upgrade both and will try pull commands again.

[2019-10-25 05:19] shyam-biradar commented on #1944
@TomSweeneyRedHat : I have installed both podman and buildah with default yum install commands.
I think both packages came from rhel8 distro. How can I upgrade them? Do we have any special yum repo rhel8?

[2019-10-25 14:27] rhatdan commented on #1944
RHEL8 version will not be updated until RHEL8.1 (Next month),  After that we should be updating every three months.  There was release problems, which have prevented us from updating sooner.  As you can imaginge Podman and Buildah are moving very fast...

[2019-10-25 18:45] TomSweeneyRedHat commented on #1936
I think this is a duplicate onf #1931

[2019-10-25 18:49] JoshuaWatt commented on #1936
They definitely seem related, but I think this is more specifically concerned with the interaction of `ARG` and `ENV`, which isn't mentioned in #1931

[2019-10-25 18:54] cevich opened #1945 "vfs driver does not support overlay.mountopt options"
**Description**

Confusing error message unrelated to desired storage driver.  This seems like the buildah-flavor of containers/libpod#3240 though #1783 is also related.

**Steps to reproduce the issue:**
1. `$ sudo podman run -it --rm -e STORAGE_DRIVER=vfs fedora:latest bash`
2. `# dnf install -y buildah &> /dev/null; echo $?`
3. `# buildah from scratch`

**Describe the results you received:**

`

[2019-10-25 19:22] rhatdan commented on #1945
Well the long term solution is to move to the new storage.conf format and move the default STORE_OPTS to graph driver based storage.  But this will happen gradually.

[2019-10-27 10:31] galitker commented on #1940
Thanks, @rhatdan .
Can I do this with docker rather than podman as I am using the jenkins docker plugin?

[2019-10-28 13:36] rhatdan commented on #1940
The issue with Docker is that it uses a slightly stricter seccomp.json file that blocks the abiltity to mount and unshare.  If you could get Docker in Jenkens to use an alternate seccomp profile, then this should work.  But I would prefer to get a Podman plugin to Jenkens...

[2019-10-29 12:11] vbatts commented on #1864
The request is two things: `LABELS` or `annotations` to the portable container image; exposed information to the running container instance.

As for the exposed information, that has been a debated issue for a while. I'm not going to push that topic.

As for the label/annotation, like @vrothberg said, there are _some_ predefined ones. The challenge when a request like this comes up, is that having

[2019-10-29 13:26] edsantiago opened #1951 "[low pri] [tests only] imgtype: incomplete diagnostic when wrong expected-manifest-type"
`imgtype` is emitting an incomplete diagnostic when the expected image type is wrong:
[code]
Note the `got ""` at far right. I expected `got "application/vnd.oci.image.manifest.v1+json"`

The converse test (for correct manifest type) works fine and is silent as expected:
[code]
Also, when the image type is docker, the diagnostic includes the actual type:
[code]
(likely because they are entirely di

[2019-10-29 16:46] debarshiray opened #1952 "COPY is broken with relative symbolic links"
**Description**

Since a few weeks ago, `COPY` hasn't been working if the source file is a relative symbolic link. `buildah bud ...` fails with `secure join: too many levels of symbolic links`.

This used to work earlier. Both Buildah 1.11.3 and 1.11.4 have this issue. Even though it looks similar to https://github.com/containers/buildah/issues/1854, the failure mode seems different.

For example,

[2019-10-30 19:56] tylarb commented on #1897
@TomSweeneyRedHat  I added the "addresses issue" as post-comment in my comment (i.e. after final ---) - so it looks like this issue didn't get closed, even though the merged commit is clearly linked to the issue.

Probably this issue can be closed then.

[2019-10-31 08:30] XVilka opened #1957 "fails to substitute ARG in Dockerfile"
/kind bug

**Description**

Buildah fails to substitute variables in some cases

**Steps to reproduce the issue:**

1. `git clone https://github.com/XVilka/alpine-dev-env`

2.  `./build`

3. `./run`

4. `cat /etc/pkg/repositories`

**Describe the results you received:**

The last `cat` commands shows this content:
[code]
Which means clearly it didn't subsittute argument in this sed invocation:
[co

[2019-10-31 09:34] XVilka commented on #1957
Note, that in case of using `ARG` in `MAINTAINER` it also fails to substitute:
[code]
and then if you inspect the resulting image with `podman image inspect <ID> | grep "author"` it will show that substitution didn't happen:
[code]

[2019-10-31 11:37] TomSweeneyRedHat commented on #1897
Thanks for the heads up @tylarb, this should have closed with the merge of #1922, closing now.

[2019-10-31 11:37] #1897 closed

[2019-10-31 13:44] rhatdan commented on #1940
Not that I know of, but if you ask on Jenkens, maybe someone will get motivated.

[2019-11-01 07:04] shyam-biradar commented on #1944
@rhatdan : Thank you for this information. Any other way to install latest podman and buildah on rhel?
Manual way from github?

[2019-11-01 11:19] XVilka commented on #1912
Related issues are https://github.com/containers/libpod/issues/4410, https://github.com/containers/libpod/issues/4411, https://github.com/containers/libpod/issues/3799

And, I think, this one should be closed.

[2019-11-01 11:39] rhatdan commented on #1944
@lsm5 @jnovy Do you know of a way?

[2019-11-01 11:47] #1912 closed

[2019-11-01 14:04] mderoy opened #1961 "buildah bud needs --init option to workaround pid 1 issue during dockerfile build"
**Description**
The PID 1 reaping issue described here https://blog.phusion.nl/2015/01/20/docker-and-the-pid-1-zombie-reaping-problem is probably the nastiest docker quirk I've ever seen. Whats worse, this PID 1 reaping issue can affect applications that are run in the Dockerfile **during the container build itself**! We had a tool that was waiting for a PID to go away, which never did because it

[2019-11-03 05:37] paravz commented on #1006
This issue with the same repro is back in podman 1.6.2 (using Buildah 1.11.3) @mheon
[code]

[2019-11-04 13:58] huapox opened #1962 "Mirror usage, how to config please"
#1634
As this shows, mrrior is supported, but how to config?

I've searched github and `buildah.io` for docs but got none.

[2019-11-04 14:03] vrothberg commented on #1962
Hi @huapox, thanks for reaching out. You can find the documentation how to configure mirroring in the [containers-registries.conf](https://github.com/containers/image/blob/master/docs/containers-registries.conf.5.md) man page.

[2019-11-04 14:03] #1962 closed

[2019-11-04 14:20] huapox commented on #1962
@vrothberg Thx, And I got this here.
https://github.com/containers/image/pull/617/files#diff-fbfdafdf3fb8cd848f925272125d7c15L70-R128

[2019-11-04 15:13] rhatdan commented on #1006
@TomSweeneyRedHat PTAL

[2019-11-04 16:46] rhatdan commented on #1962
Would probably be worth a quick blog  as well, to make this information easier to find.

[2019-11-05 17:30] edsantiago opened #1964 "buildah info should probably indicate runtime"
The `buildah info` command should probably include something like podman's `OCIRuntime`. Right now it's not easy to figure out whether it's runc or crun:
[code]

buildah-1.12.0-0.59.dev.git1967973.fc32.x86_64

[2019-11-05 22:48] TomSweeneyRedHat commented on #1957
@XVilka I think this is an issue with the quoting around the sed commands in the script.  At least that's the theory.

First off, I was not able to run your sample locally as a number of files that it tried to copy such as anton*.rsa, anton*.rsa.pub and several others were not available.  So I cut down your Dockerfile to :
[code]
and then run it:
[code]
And then run the container and check the fil

[2019-11-06 00:30] TomSweeneyRedHat commented on #1006
@paravz I ran into the same issue, if you note, there's two '10.2' directories in the error output, there should only be one.  I cd'd back up to the mariadb-container directory and did:

[code]
and it worked for me.  That's equivalent to doing `podman build -f 10.2/Dockerfile -t tom .`.  I think the example is a bit off in the original post.

Going to reclose, please let us know if you've a differ

[2019-11-06 00:30] #1006 closed

[2019-11-06 04:48] XVilka commented on #1957
@TomSweeneyRedHat yes, it works if I change the quotation. But it worked well in the original docker with the single quotation marks. So I think it should be fixed still.

[2019-11-06 06:59] paravz commented on #1006
I have came here with a similar issue, but in my case the symlink was absolute.
There is still a bug in latest podman if a symlink points outside of build root to absolute path, ie there is bug with a modified repro above:

[code]

See message below, it should happen with any external absolute symlink:
[code]

[2019-11-06 11:32] pkubatrh commented on #1006
@paravz I remember hitting your problem in https://github.com/containers/buildah/issues/1219 (more specifically https://github.com/containers/buildah/issues/1219#issuecomment-444762715). One thing to note from that issue is that `docker` fails the exact same way in that case, so I did not see it as a bug at that time:

[code]

[2019-11-06 12:35] bromaniac commented on #1918
Any progress on this?

[2019-11-06 14:47] TomSweeneyRedHat commented on #1957
Thanks for the info @XVilka , I'll poke around with Docker then to see where that stands.  I'm not sure how much I can change the handling of quotes in sed commands like that, but will look.

[2019-11-06 14:52] TomSweeneyRedHat commented on #1957
whoops, didn't mean to hit the close button.

[2019-11-06 19:14] paravz commented on #1006
@pkubatrh i'm using podman and the previous (1.5.1) version handled absolute links, so it's a regression for me

[2019-11-07 01:23] TomSweeneyRedHat commented on #1952
@debarshiray I'm not sure at how to fix this at the moment, but the securejoin that's not happy in the code is [here](https://github.com/containers/buildah/blob/master/imagebuildah/stage_executor.go#L433)

I'll have to dive in more deeply tomorrow as to why that's failing,   The values that look to be passed in are:
[code]

which looks reasonable to me, I would think that securejoin would translat

[2019-11-07 10:43] m7mdkamal commented on #1964
I can start working on this issue if there is no one working on it.

[2019-11-07 12:10] scorpionlion commented on #1849
Hi,
I am facing the similar issue where podman rootless build is taking 5 times more than the docker build. Following above steps I also found that the config is using VFS. The OS version I am using is RHEL7.7 and unable to find the package for fuse-ovelayfs in any of 7.7 repos, can you please advise how can I install this package in 7.7?

[2019-11-07 13:25] TomSweeneyRedHat commented on #1964
Thanks @m7mdkamal !  I've assigned you to it.

[2019-11-07 13:25] rhatdan commented on #1849
Fuse-overlay will not be available until RHEL7.8.
Either move to RHEL8 or use rootfull podman.

[2019-11-07 13:48] rhatdan commented on #1964
@m7mdkamal Feel free to grab issues, we can always use more help.

[2019-11-07 14:43] rhatdan commented on #1957
That looks like we are not handling shell expansion correctly.

Is our code not changing ${REALNAME} in this case?

[code]

[2019-11-07 14:55] XVilka commented on #1957
@rhatdan exactly.

[2019-11-07 15:28] TomSweeneyRedHat commented on #1957
@rhatdan it is not.

[2019-11-07 18:57] TomSweeneyRedHat commented on #1952
@debarshiray This took a lot of code staring and convincing of myself, but I think the behavior of `buildah bud` as it is now is correct, and when it "worked" prior it was doing so in a potentially insecure way.  First off, if you look at Docker, they also fail, but with arguably a better error:

[code]

So what's happening is you're giving this command `buildah bud images/fedora/f31` which tells

[2019-11-07 18:57] TomSweeneyRedHat commented on #1952
Forgot to add, I plan to add to the error messaging to help address this.

[2019-11-07 19:28] cyphar commented on #1952
You get a "too many symbolic links" error because what happens is that `securejoin` treats the link as being a link to itself (because `/../../../README.md` becomes `/README.md`). If you get an error from `securejoin` it's usually because a user is doing something dodgy, so adding some additional wrapping warnings in `buildah` wouldn't be a bad idea.

[2019-11-07 20:10] gjasny opened #1969 "Build and publish Ubuntu Eoan (19.10) builds on PPA"
Hello,

in the projectatomic PPA, could you please enable building for Ubuntu Eoan (19.10)?

Thanks,
Gregor

[2019-11-07 21:03] TomSweeneyRedHat commented on #1969
WDYT @lsm5 ?

[2019-11-07 22:07] scorpionlion commented on #1849
Okay thanks for getting back. Please can you advise how to run the rootfull podman without prefixing sudo before the command podman build, do we have group similar to docker which we can add user to?

[2019-11-07 22:47] rhatdan commented on #1849
No podman does not have a daemon, and containers are children of podman.  So you have to run it as root or non-root.  BTW having access to the Docker socket is less secure then running sudo podman.

[2019-11-08 12:45] debarshiray commented on #1952
I see, ok. Thanks for looking into this.

Sadly, this doesn't work either, but for other valid reasons. Since the top-level directory is mentioned as the context, the Dockerfile isn't able to find files, other than the `README.md`, sitting next to it.

I guess it's on me to get rid of the symbolic link. :)

[2019-11-08 13:45] TomSweeneyRedHat commented on #1952
Bummer about that not working too.  I'm going to close this issue now and #1970 is en-route to hopefully clear up the messaging.

[2019-11-08 13:45] #1952 closed

[2019-11-08 15:09] TomSweeneyRedHat commented on #1964
Fixed by #1968

[2019-11-08 15:10] #1964 closed

[2019-11-08 15:15] TomSweeneyRedHat commented on #1675
Fixed in Buildah, will be fixed in the next version of  Podman after Buildah is vendored.

[2019-11-08 15:16] TomSweeneyRedHat commented on #1772
Closing as this was vendored into Podman v1.6.3

[2019-11-08 15:16] #1772 closed

[2019-11-08 15:18] TomSweeneyRedHat commented on #1894
@m7mdkamal might this be one you could tackle?  Basically we need to make sure to avoid the stack and give a valid error if there's no equal sign involved with COPY's --from option.

[2019-11-08 15:20] TomSweeneyRedHat commented on #1798
I'm going to close this as I was playing with a similar issue that resulted in this change for our error message #1970.  We've also made a number of changes to symbolic link handling since this was reported.  If you think this is still an issue, please feel free to reopen or create a new issue as you feel is warranted.

[2019-11-08 15:20] #1798 closed

[2019-11-08 22:29] rhatdan commented on #1622
Closing this since we never got feedback.  Feel free to reopen if this is still an issue.

[2019-11-08 22:29] #1622 closed

[2019-11-08 22:31] rhatdan commented on #1452
[code]
We have this feature.

[2019-11-09 04:09] hendrikhalkow commented on #1452
Hi @rhatdan, `--omit-timestamp` is about the image itself, but not the file within the image. The problem I am trying to solve is to create a unique mapping from the Git commit of my source code to the resulting image for which I need to create the exact same image with every build run for the same commit.

Imagine during the build, I run `dnf install whatever`. Or I have an external build process

[2019-11-09 14:50] m7mdkamal commented on #1894
@TomSweeneyRedHat Shouldn't it be fixed with #1898
if there's no equal sign it won't split therefore with return an error!

[2019-11-09 16:31] TomSweeneyRedHat commented on #1894
@m7mdkamal Darn you're good!  That's gotta be the fastest bug fix ever for Buildah!  :1st_place_medal:

You're right, it's working now:

[code]

Thank you very much for looking at this.  I, unfortunately, don't have a good first-time bug handy at the moment, but you're welcome to take any that hasn't been grabbed yet.

[2019-11-09 16:31] #1894 closed

[2019-11-10 03:58] TidyData opened #1973 "tutorial 1 - Unable to read consumer identity"
**Description**

Using a fresh workstation development install of RHEL 8.1 I am working through the buildah [tutorial 1 guide](https://github.com/containers/buildah/blob/master/docs/tutorials/01-intro.md) and installing bash and coreutil within the container's mount is not working.

**Steps to reproduce the issue:**
1. `sudo -s`
2. `newcontainer=$(buildah from scratch)`
3. `scratchmnt=$(buildah mo

[2019-11-11 18:00] bmaupin commented on #1849
@rhatdan

I'm using Ubuntu 18.04. It doesn't look like the fuse-overlayfs package is available until Ubuntu 19.04:

https://packages.ubuntu.com/search?keywords=fuse-overlayfs

[2019-11-11 21:47] rhatdan commented on #1849
Sorry, not much we can do about that, unless you can get fuse-overlay built for that version of ubuntu. If you run buildah as root, it should be fine.

[2019-11-12 15:01] tuan-hoang1 opened #1979 "podman: tar too many levels of symbolic links"
**Description**

**Steps to reproduce the issue:**
1. git clone https://github.com/coreos/coreos-assembler
2. podman build -t fcos/cosa -f $PWD/coreos-assembler/Dockerfile

**Describe the results you received:**
[code]

In `coreos-assembler` directory there are a couple of symlink files ending in `.txt` that links to `src/*.txt`. I think they are the cause, because
`
for i in vmdeps*.txt deps*.txt

[2019-11-12 15:01] tuan-hoang1 commented on #1979
Downstream issue : https://github.com/coreos/coreos-assembler/issues/880

[2019-11-12 18:27] dustymabe commented on #1979
I do see the problem here locally on Silverblue (`31.20191102.0`, `podman-1.6.2-2.fc31.x86_64`) using unprivileged podman.

[2019-11-13 19:30] AndydeCleyre commented on #1817
@rhatdan Please note that as-is, when installing `buildah` on Ubuntu Bionic as per the instructions and PPA, one cannot even run `buildah --help`, let alone `buildah from`. The package is broken.

And I'm not sure if you caught the `runc` note in this discussion -- the docs specifically say installing via `apt-get` will bring in `runc`, but that's untrue.

This issue is especially relevant as GitH

[2019-11-14 02:54] isomorphisms opened #1981 "docker hub"
How do I `buildah from docker://hub.docker.com`? After a few blog posts, tutorials, and man pages, I’m not clear on this.

Using github.com/scrapinghub/splash, their Dockerfile starts with

[code]

Of course, who knows what `byrnedo/alpine-curl` is. But I bet `docker` has a default that does know where to find it.

It would be helpful for `man buildah-from` to mention this probably common use case

[2019-11-14 09:31] TomasTomecek commented on #1981
[code]

This `buildah-pull(1)` manpage part is what you were likely looking for:
[code]

[2019-11-14 11:30] TomSweeneyRedHat commented on #1981
Thanks @TomasTomecek , he's spot on as usual  @isomorphisms .  I'll try to add a clarification in the tutorials about this, but the shor answer is you need to add 'docker.io/' to your image name in the FROM line in the Dockerfile.  If that doesn't cure it, please let us know.

[2019-11-14 12:50] navidshaikh opened #1982 "buildah image for v1.11.4"
Quesion: I am looking for buildah v1.11.4 container image, can't locate the mentioned tag at https://quay.io/repository/buildah/stable?tab=tags , am I looking at right place?

[2019-11-14 13:01] TomSweeneyRedHat commented on #1982
@navidshaikh you're indeed looking in the right place.  I've been negligent in getting that out, and in fact 1.11.5 just released yesterday.  I'll try to get at least 1.11.4 out by the end of the week.  Thanks for the nudge!

[2019-11-15 06:18] llegolas opened #1983 "buildah throws lots of errors lsetfilecon Operation not supported"
**Description**

OS fedora 31; selinux enforcing/targeted;
using the below script with buildah in rootles mode:
[code]
**Steps to reproduce the issue:**
1. as normal user run buildah unshare bash fedora-31-base.sh
2.
3.

**Describe the results you received:**
lots of lsetfilecon errors.
the resulting image runs OK with podman on the same as far as I can tell.

**Describe the results you expected:*

[2019-11-15 17:07] kevinlmadison commented on #1865
Any updates on this or perhaps a workaround?

[2019-11-15 19:01] edsantiago opened #1984 "Request: throw error on COPY --chown x:y (without equal sign)"
Some time was lost just now because this is not valid syntax:
[code]
It looks like the _intention_ is there for buildah to throw an error on invalid flagArg in ```vendor/github.com/openshift/imagebuilder/dispatchers.go```, it's just not actually triggering.

If it's possible to fix the parser to grok `--chown uid:gid` the same as `--chown=uid:gid`, that might be the nicest option all around. If th

[2019-11-15 20:59] TomSweeneyRedHat commented on #1983
@llegolas can you try your script with a slight modification?    Please try remove `bash` from the last line:  `buildah unshare bash fedora-31-base.sh`, so it would look like `buildah unshare fedora-31-base.sh`

@giuseppe any other thoughts?

[2019-11-15 21:33] nalind commented on #1979
Since I get past step 7 (failing at step 9) by forcing use of the `vfs` driver as an unprivileged user, or by using the kernel overlay driver by building as root, I'm thinking this is either specific to fuse-overlayfs, but I can't rule out a buildah bug that we only notice when using fuse-overlayfs.  I think we need @giuseppe's help here.

[2019-11-15 22:49] giuseppe commented on #1979
@dustymabe @tuan-hoang1 could you please try if
https://bodhi.fedoraproject.org/updates/FEDORA-2019-b71b08d561 solves the issue you are seeing?

[2019-11-15 23:26] TomSweeneyRedHat commented on #1982
@navidshaikh I've just posted quay.io/buildah/stable:v1.11.4 on the repository.  Thanks again for the reminder and apologies for the delay.

I'm going to close this issue.

[2019-11-15 23:26] #1982 closed

[2019-11-16 20:50] llegolas commented on #1983
@TomSweeneyRedHat actually 'buildah unshare bash...' is not part of the script.
This is how I invoke it.
If i remove 'bash' from the command and call the script like
[code]
with bash like
[code]

as reported

[2019-11-16 23:48] TomSweeneyRedHat commented on #1983
@llegolas thanks for the follow up, this makes a bit more sense now.

[2019-11-17 15:34] navidshaikh commented on #1982
Thank you @TomSweeneyRedHat!

[2019-11-18 08:30] rodericliu opened #1986 "Files listed in .dockerfile are copied when using buildah bud"
**Files in .dockerfile are copied when using buildah bud**

My system is Fedora 30 and I installed the buildah runc podman from the yum repository. I tried to build my images via buildah but I found that the .dockerfile was not working as expected. Files listed in .dockerfile were still copied when using buildah bud.

**Steps to reproduce the issue:**
1. touch a aa aaa b c d
2. echo a* > .dockerig

[2019-11-18 08:45] rodericliu commented on #1986
I think it is realted to that:

https://github.com/containers/buildah/pull/1914

sorry for the tickets because I found that after I have posted it.

[2019-11-18 08:45] #1986 closed

[2019-11-18 17:18] dustymabe commented on #1979
works for me!

[2019-11-18 17:26] rhatdan commented on #1984
Tom can you make these legal or at least match Docker.

[2019-11-18 17:53] TomSweeneyRedHat commented on #1979
@tuan-hoang1 can you confirm the update that @giuseppe fixes the issue for you and if we can then close this?

[2019-11-18 18:07] TomSweeneyRedHat commented on #1986
@rodericliu no worries on the dupe, thanks for finding that one and closing this one.

[2019-11-18 18:16] #1979 closed

[2019-11-18 18:16] rhatdan commented on #1979
Reopen if this issue is not fixed.

[2019-11-19 09:55] tuan-hoang1 commented on #1979
Confirm fixed on both platforms. Thanks @giuseppe !

[2019-11-19 11:55] rhatdan commented on #1865
Sorry no one has worked on this, @TomSweeneyRedHat Can you look into this?

[2019-11-19 11:56] rhatdan commented on #1865
Of course if @kevinlmadison wanted to open a PR, that would be appreciated as well.

[2019-11-19 11:58] vrothberg commented on #1865
I think this should go into containers/image/pkg/sysregistriesv2 to make it available for all consumers of c/image.

[2019-11-19 12:20] azatsarynnyy commented on #1092
Hello! I've got this issue with Buildah 1.11.2. From the comments, I see that it may be related to the environment/configuration.
Could someone share how you fixed it?

[2019-11-19 12:40] llegolas commented on #1983
Could it be problem with fuse-overlayfs? I think I managed to reproduce it w/o buildah unvoled at all

[code]

[2019-11-19 13:15] rhatdan commented on #1865
Makes sense.

[2019-11-19 13:25] rhatdan commented on #1983
No this is not a file system issue.  In the case of fuse-overlay, it is creating a fuse file system. Fuse file systems do not accept XATTRS so when you attempt to chcon on it, it gets an unsupported error since chcon can not write the XATTR.

Usually in containers we attempt to disable SELinux code, so that it does not attempt to set labels.  But in the case of buildah mount and dnf install above,

[2019-11-19 14:14] llegolas commented on #1983
That's easy: just added --setopt=tsflags=nocontexts to the dnf line like that (removed the docs too):
[code]
There are no errors now.
It would be good if this gets documented somewhere.

I'm totally not sure why it worked back in the times of fedora 29. It could have been the storage driver but i can't remember for my live what the setup was before the reinstall.

[2019-11-19 14:16] TomasTomecek opened #1988 "Why does buildah pull print info output to stderr?"
**Description**

`buildah pull` prints output to stderr which should actually be in stdout

I just got this bug report in ansible-bender: https://github.com/ansible-community/ansible-bender/issues/193

This behaviour makes it hard to integrate buildah into a project since stderr contains text which is not composed of errors and hence makes it confusing to users.

**Steps to reproduce the issue:**

[2019-11-19 15:00] rhatdan commented on #1983
I think this would work fine in Rootfull mode, but would not work in rootless.  Since on Rootful, you are allowed to lay down labels on Overlayfs, but in rootless mode, you are using fuse-overlay, which would not allow labels.

[2019-11-19 15:02] rhatdan commented on #1988
I believe this is following the Docker behavior.  allowing users to just grab the image id from stdout and all of the progress information goes to stderr.

[2019-11-19 15:39] kevinlmadison commented on #1865
Hey guys, forgive me if this is a silly question but I'm looking at this file `vendor/github.com/containers/image/v5/pkg/sysregistriesv2/system_registries_v2.go` and I'm seeing this line:
`var systemRegistriesConfPath = builtinRegistriesConfPath`
before this line:
`const builtinRegistriesConfPath = "/etc/containers/registries.conf"`

it seems like the second line immediately overrides the first th

[2019-11-19 16:35] TomasTomecek commented on #1988
Got it, thank you. We were able to figure a nice fix this on our end, so we can close:

https://github.com/ansible-community/ansible-bender/issues/193#issuecomment-555528054

[2019-11-19 16:35] #1988 closed

[2019-11-20 06:21] llegolas commented on #1983
I just did some tests so to recap.
The above script produces errors in both rootful and rootless mode with only difference being that in rootful it is executed w/o 'buildah unshare'. the Storage.conf is basically the same for root and ordinary user just some UID/GID remapping and different containers/storage location and is using fuse-overlayfs.

Modifying the script slightly. Adding
[code]
To the

[2019-11-20 06:41] jbertozzi commented on #1849
We are also using RHEL7.

The COPY --chown used to run at "normal" speed when running rootless buildah build until a recent update to RHEL7.7. We have run thousands of rootless builds over the last few months without any issue.

We used podman/buildah from rhel-7-server-extras-rpms repository (podman 0.12 / buildah 1.5.2).

I am just trying to understand why it used to work...

[2019-11-20 07:00] giuseppe commented on #1983
fuse-overfayfs support xattrs, but it looks like it doesn't even get the request for setting the xattrs.

Probably the request is blocked by SELinux before reaching the file system

[2019-11-20 09:08] llegolas commented on #1983
@giuseppe @rhatdan any ideas how can I try to repro? For instance I have no selinux alerts in the logs. Setting selinux mode from enforcing to permissive (setenforce 0) has no affect. I'll try disabling selinux altogether next.

[2019-11-20 09:40] jbertozzi commented on #1849
Just to let you know that downgrading to buildah-1.5-2.gite94b4f9.el7 makes the build fast again on RHEL7.7

I downgraded the whole stack (note sure if it is needed):

yum downgrade containers-common-0.1.31-8.gitb0b750d.el7.x86_64 containernetworking-plugins-0.7.4-1.el7.x86_64 container-selinux-2.77-1.el7_6.noarch podman-0.12.1.2-2.git9551f6b.el7.x86_64 skopeo-0.1.31-8.gitb0b750d.el7.x86_64 builda

[2019-11-20 11:06] vrothberg commented on #1865
That's correct. We do this for easier unit testing. I don't think we need to change this part, but the `ConfigPath` function (see https://github.com/containers/image/blob/master/pkg/sysregistriesv2/system_registries_v2.go#L306). There we can add the semantics to set a different path for rootless (unless the SystemContext explicitly overwrites it).

[2019-11-20 11:57] handflucht commented on #765
In my understanding this is still an issue if you use apt (e.g. apt-get install) while building. The building stops if apt needs to connect to the internet and a proxy is used.

apt doesn't care about the http_proxy-variable- it needs instead a specific configuration file where the proxy-information is stored. More information here: https://askubuntu.com/a/116136/884040

Is there a possible soluti

[2019-11-20 12:01] llegolas commented on #1983
On centos 8 the above script runs (rootless and rootfull) w/o the lsetfilecon errors using yum instead for dnf of course.
storage.config the same as on f31.

[2019-11-20 12:08] Jakuje opened #1990 "podman crashes with invalid arguments"
**Description**

As an human error, I tried to build my (almost) first container using podman and I forgot one switch, which lead to the podman crash.

**Steps to reproduce the issue:**
1. Create any `Dockerfile`
2. run `podman build ./Dockerfile` (note the missing `-f`)

**Describe the results you received:**
Podman crashes and dumps backtraces:
[code]

**Describe the results you expected:**
Norm

[2019-11-20 12:19] vrothberg commented on #765
This configuration file is very specific to apt. One way to tackle it would be to copy the file (in the Dockerfile) or mount it `buildah bud --volume` into the container.

@rhatdan @TomSweeneyRedHat is there a way to specify a temporary mount? What I mean by that is that files in mounted volumes are committed to the image as well. But it may be desirable to not commit those when they're only used

[2019-11-20 14:04] TomSweeneyRedHat commented on #1092
I don't have a fix in hand, would love to hear from someone in the community who might.  I will reopen this though.  @nalind @mtrmac FYI.

[2019-11-20 14:12] TomSweeneyRedHat commented on #1849
@jbertozzi as you're on RHEL 7.7, fuse-overlayfs is not in the environment and that's why you hit the speed issues.  Downgrading avoids the need for fuse-overlayfs, restricts the usability of rootless containers.  @giuseppe anything else?

[2019-11-20 14:14] TomSweeneyRedHat commented on #1990
Well that's exceptionally ugly.  Thanks for the issue report @Jakuje .  This should be a good "first time" bug for someone.  I'll mark it so and will run it down in the near future if someone doesn't grab it.

[2019-11-20 16:35] edsantiago opened #1991 "buildah from, with error, leaks mounts"
`buildah from` seems to mount a tmpfs working directory. On success, this is unmounted. On failure, it is left behind on the system:
[code]
This causes failures on gating tests when `STORAGE_DRIVER=overlay` because the temporary working directories cannot be cleaned up.

buildah-1.11.4-2.fc30.x86_64 and buildah-1.11.4-2.module+el8.2.0+4595+e1e23178.x86_64

[2019-11-20 17:56] rhatdan commented on #1865
It should be a failover, try in homedir first and if no file exists, use the system default.

[2019-11-20 18:06] johnmcollier opened #1992 "Buildah can't pull from index.docker.io, but can pull from docker.io"
**Description**

We're running Buildah on Kubernetes and we're finding that `buildah pull index.docker.io/<some-image>` fails, while `buildah pull docker.io/<some-image>` doesn't fail.

[code]

[code]

In the logs I see:
[code]

but it's a public repository and shouldn't need authentication (and if we use `docker.io/...` it's fine).

**Steps to reproduce the issue:**
1. Run buildah on Kubernetes
2

[2019-11-21 11:32] llegolas commented on #1983
I managed to narrow it a bit down.
the script from above works fine on vanilla f29 and f30 (both updated to the latest as of today).
It breaks with f31 booted with both f30 and f31 kernels kernel-core-5.3.11-100.fc29.x86_64 and kernel-core-5.3.11-300.fc31.x86_64 respectively.

Seem like problem is somewhere in userspace.

[2019-11-21 13:48] rhatdan commented on #1983
I would figure something changed in dnf/yum that is causing this.  The labels will not be allowed to be applied, because the mount point has a label assigned to it.  SELinux does not allow a label on a file system that that already has a label assigned via the mount context options.

merged type overlay (rw,relatime,`context="system_u:object_r:container_file_t:s0:c338,c1006"`,lowerdir=/var/lib/con

[2019-11-21 13:50] rhatdan commented on #1983
If this works in F30 and F31, then dnf/rpm was not doing the setfilecon in those situations.
Everything ends up working, since the setfilecon is not a failure mode.  Adding the  `--setopt=tsflags=nocontexts` turns off the noice.  I do not know who on the dnf team to ask, if something changed.

[2019-11-21 16:17] rhatdan commented on #765
Could we use mounts.conf on Debian/Ubuntu platforms to mount this configuration file into all containeres, like we do with the secrets files on Fedora/RHEL systems.

[2019-11-21 16:29] rhatdan commented on #1990
I believe this is already fixed in the master branch

./bin/podman build ./Dockerfile
Error: context must be a directory: /home/dwalsh/libpod/Dockerfile

[2019-11-21 16:31] #1990 closed

[2019-11-21 16:32] Jakuje commented on #1990
It looks like somebody was faster. Thanks.

[2019-11-21 23:35] rsmithlal commented on #475
Ahhh! This was my problem! Thank you so much!!!

[2019-11-22 11:11] vrothberg commented on #765
We could use that but it doesn't solve the problem that the files would be "committed" to the image. That might not be desirable at all when running the containers outside the build environment where a proxy might not be needed anymore (or another one is in place).

[2019-11-22 14:40] mtrmac commented on #1992
Why is that expected to work at all? The official name of the registry is just `docker.io`; the underlying hostnames are not a part of the UI contract, to my knowledge.

---

And even if you did want to use the underlying host names for some reason, `index.docker.io` is the V1 (GitHub.com/docker/registry) server hostname; the V2 (GitHub.com/docker/distribution) host is `registry-1.docker.io`. cont

[2019-11-22 14:45] mtrmac commented on #1992
(And even if it did happen, c/image would certainly try V2 before V1, run into the inconsistent V2 configuration and not fall back to V1. So the only way it could ultimately work is by editing the `index.docker.io` registry name back to `docker.io`, the way your workaround does — but I don’t don’t see any reason to expect that `index.docker.io` references should work, so far; they just look like m

[2019-11-22 15:01] vrothberg commented on #1992
Just a drive by comment as it popped at the top of my mailbox. Docker allows to pull from `index.docker.io` and more things. See https://github.com/moby/moby/pull/34319#discussion_r162021213 for an example.

[2019-11-22 15:02] vrothberg commented on #1992
All inputs below will yield the same image (plenty of hard-coded magic):
[code]

[2019-11-22 15:04] mtrmac commented on #1992
In there, I see https://github.com/moby/moby/pull/34319#discussion_r167745783 :

[2019-11-22 20:07] rhatdan commented on #765
Files from mounts.conf do NOT get committed to the image, they are treated like bind mounts.

[2019-11-23 16:07] TomSweeneyRedHat opened #1993 "buildah config --env takes only one envvar"
In a Dockerfile with a line like:
[code]
both environment variables are set as requested.  However, if you do

[code]
They are not.  I'm not sure if some kind of bash chicanery is going on here, but thought I'd raise the issue in case it's not and the config command needs to be changed to accept multiple arguments.  This is going on with Buildah v1.11.5.

[2019-11-24 11:56] rhatdan commented on #1993
You need to use the --env for each environment variable.
[code]

[2019-11-24 14:46] bundabrg opened #1994 "ENV variables works only if not pulled from a cached inherited layer in COPY command"
**Description**

Assuming we use something like this:
[code]
If ENVVAR is defined in `base` then it works the first time I run the build command but for subsequent builds where `base` is cached the variable will be empty

**Steps to reproduce the issue:**
1. Create the following Dockerfile
[code]
2. Execute `podman build . -t test`
This will obviously error but we will see something like (bolding

[2019-11-25 06:36] rEnr3n opened #1995 "Piped commands and command substitution leak to the host"
**Description**

**Steps to reproduce the issue:**
1. Write this script:
[code]
2. Run the script as non-root user

**Describe the results you received:**

Below is the output of the script. The first command runs without error. The second command looks like it was trying to edit the file on the host machine instead of inside the container. The third command is for querying the package `systemd`.

[2019-11-25 08:56] vrothberg commented on #765
They do get committed, I just re-tested it with Buildah v1.11.4. As specified paths in the mounts.conf are copied into the container, I'd argue that this behavior is correct.

[2019-11-25 09:26] JJ commented on #810
I've experienced this same error in Ubuntu 16.04. The registries.conf is in the correct place, however. Similar error in docker was due to a problem with the wifi configuration, solved adding nameservers to a daemon.json file or some such. Could that be the case here too?

[2019-11-25 12:51] rhatdan commented on #1995
[code]
You need to be careful of bash expansion, In the command above you bash runs "> /etc/sudoers.d/01-user" on the host.
[code]
Should do what you expect.

[2019-11-25 15:49] kevinlmadison commented on #1865
Hey I'm working on this whenever I get free time in case anyone comes here and needs this.

[2019-11-25 17:38] TomSweeneyRedHat commented on #1993
Yeah that does work, but I was hoping to see if we could do so without the second `--env` thrown in there.

[2019-11-25 18:33] #1846 closed

[2019-11-25 18:50] TomSweeneyRedHat commented on #1984
@edsantiago I think we may have gotten a free fix from somewhere.  I just tried with Buildah upstream:

[code]
Is this sufficient and/or different than what you saw?

[2019-11-25 19:32] edsantiago commented on #1984
@TomSweeneyRedHat I get that error when running `buildah`, but not `podman`. My first thought was to cool my heels and wait for a revendor, but looking at `git blame` on the abovementioned `dispatchers.go` shows that this code is over a year old. It's also in podman's vendor'ed copy of `imagebuilder`.

Going by the usual rule-of-thumb[1] makes buildah fail:
[code]

 [1] Rule of thumb: when `podman

[2019-11-25 20:44] TomSweeneyRedHat commented on #1984
@edsantiago thanks, I see it now.  I didn't realize you were coming through Podman, thought you were all Buildah side.  This is interesting, I would have suspected that the error message would have been triggered before it started doing --layers processing, but I guess not.  Need to see why.

[2019-11-26 01:26] #1992 closed

[2019-11-26 09:32] rEnr3n commented on #1995
How about the command substitution?

This is another run command I want to use:
`pacman -Qqn | grep -Ev "(^gzip$|^pacman$|^sed$|^systemd$)" | pacman --noconfirm -Runs -`

[2019-11-26 11:20] rhatdan commented on #1995
Can't you get bash -c to work with this?

[code]

[2019-11-26 12:26] rhatdan commented on #1993
Not really the way command line parsing works.

[2019-11-26 12:28] rhatdan commented on #1993
We could do something like
buildah config --env _BUILDAH_STARTED_IN_USERNS="",BUILDAH_ISOLATION=chroot

But not sure this would work easily with command parsing and does not really match what you expected.

[2019-11-26 12:28] #1993 closed

[2019-11-26 12:54] rEnr3n commented on #1995
This seems to work but I still have problems with the others.

`buildah run "$container" bash -c "echo '%wheel ALL=(ALL) ALL NOPASSWD: ALL' > /etc/sudoers.d/01-user"`
[code]
---
`buildah run "$container" bash -c "pacman -D --asdeps $(pacman -Qqe)"`
[code]
It goes to interactive shell after this. My host machine name is `desktop` but I didn't provide a password. I had to type `exit` to continue.
[c

[2019-11-26 13:06] rhatdan commented on #1995
[code]
This could be blowing up because /ec/sudoers.d does not exist?

[code]
Might fix this.

[code]
Would
[code]
Fix this.

[2019-11-28 14:48] aucampia opened #2000 "`buildah bud` does not accept multiple options for the `--volume` flag"
**Description**

The [man page for buildah bud](https://github.com/containers/buildah/blob/v1.9.0/docs/buildah-bud.md) suggests that the `--volume` flag can take multiple options:

However when I actually try use multiple options (e.g. `--volume "${HOME}/.cache/zae9ujei:/myvol:rw,Z"`) `buildah bud` complains that ...

[code]

**Steps to reproduce the issue:**

Run the following commands:

[code]

[2019-11-28 14:55] aucampia commented on #2000
As a workaround I reverted to just supplying `Z` option as `rw` seems to be the default.

[2019-11-28 14:56] aucampia commented on #2000
I also managed to reproduce this on `buildah version 1.11.4 (image-spec 1.0.1-dev, runtime-spec 1.0.1-dev)`

[2019-11-29 11:44] rhatdan commented on #2000
Thanks @aucampia for the issue.
Interested in opening a PR?

[2019-12-01 12:57] FooBarWidget commented on #1918
I would also like to know, would be great if my next project can use Buildah instead of Docker.

[2019-12-01 14:19] TeNNoX commented on #620
What exactly do you mean by pointers?
Implementation hints? or functionality-wise?

[2019-12-02 09:22] dependabot-preview[bot] opened #2001 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/16603586).

[2019-12-03 06:53] bkhadars opened #2002 "Build quay.io/buildah/stable:latest for power(multi-arch)"
This task is to  build buildah image for ppc64le and create Multi-arch Manifest
Githhub link: https://github.com/containers/buildah/tree/master/contrib/buildahimage

We need ppc64le image for running openshift e2e test on power platform

[2019-12-03 09:44] #1984 closed

[2019-12-03 16:02] TomSweeneyRedHat commented on #2002
I'll confess I barely know what ppc64le is, not something I've played with much.  I'm not sure we could manage to do a stable image, but I'm pretty sure we could do an upstream version if we did something like [this](https://developer.ibm.com/recipes/tutorials/build-docker-ppc64le-on-power-linux/).  @rhatdan or @lsm5 I'm thinking we could use the Dockerfile.upstream, but I'm not sure what to chunk

[2019-12-03 16:05] rhatdan commented on #2002
I would think we need a contribution from a ppc64le box, so the build can be done.  @nalind WDYT?

[2019-12-03 17:34] vguaglione commented on #1802
I'm running into the same problem with the image in the quay repo:

docker run --privileged quay.io/buildah/stable -v mywkdir:/tmp buildah bud -f /tmp/Dockerfile

Error:

docker: Error response from daemon: OCI runtime create failed: container_linux.go:346: starting container process caused "exec: \"-v\": executable file not found in $PATH": unknown.

[2019-12-03 18:32] rhatdan commented on #1802
Does the container work with podman?
This looks like the docker parser is getting confused?
I just tried to run the buildah container locally and I had no issues

[code]

[2019-12-03 18:33] rhatdan commented on #1802
Actually try
docker run --privileged  -v mywkdir:/tmp  quay.io/buildah/stable** buildah bud -f /tmp/Dockerfile

[2019-12-03 20:12] vguaglione commented on #1802
Ok, I can run the container locally (your first question) no problem.  The command above:

docker run --privileged -v mywkdir:/tmp quay.io/buildah/stable buildah bud -f /tmp/Dockerfile

Gets me closer.  Volume error is gone but the problem is the contents of the /tmp folder when mapped:

Mywkdir on the host is this:
ls -la mywkdir
total 16
drwxr-xr-x   4 vincentguaglione  staff   128 Dec  3 15:04

[2019-12-04 01:29] rhatdan commented on #1802
Try

docker run --privileged -v ${PWD}/mywkdir:/tmp quay.io/buildah/stable buildah bud -f /tmp/Dockerfile
or
docker run --privileged -v ./mywkdir:/tmp quay.io/buildah/stable buildah bud -f /tmp/Dockerfile

Not sure if the second one works with Docker.

If you just specify -v mywkdir:/tmp Docker will generate an empty volume with this name and use that as the mount point not the path that you expec

[2019-12-04 05:02] basheer12 commented on #2002
we have a buildah docker image already built and tested in our local environment for ppc64le arch, to build the buildah stable image for ppc64le platform dockerfile doesn't need any changes as the parent image `fedora:latest` docker image is already available as multiarch from dockerhub..

docker image:
[code]
[code]

[2019-12-04 14:49] vguaglione commented on #1802
Yes sir, that fixed it.  -v ${PWD}/mywkdir is what I needed to do to get to recognize the mapping.  Thanks for the help.

Unfortunately, I'm now hitting a problem building the image from the dockerfile.  Appears to be a problem with an apt-get update, similar to what I've seen with Kaniko container builds:

RUN apt-get update -y     && apt-get install -y php7.0-mbstring php-mysqli libnss-wrapper
p

[2019-12-04 18:22] TeNNoX commented on #1745
I like that you wrote a troubleshooting section, but do you have plans to detect / use fuse-overlay as default on ubuntu?
I ran into this too, and took me now ~2 hours to debug and find this.

[2019-12-04 19:56] TeNNoX opened #2005 "wrong $HOME var when run with chroot isolation"
**Description**
Here's what I found:
When running a buildah step with chroot isolation, the $HOME var is wrongly set to **`/`** - as opposed to e.g. `/root` with OCI isolation.

This happened to me when I tried to build an image inside the **quay.io/buildah** container, but testing shows this is also happening on host when setting --isolation=chroot explicitly.

**Steps to reproduce the issue:**
#

[2019-12-04 22:39] TomSweeneyRedHat commented on #2005
Thanks for the issue @TeNNoX .  I think this might be a good first issue for someone.  I'll mark it so and will see if it gets grabbed.

[2019-12-05 07:55] tnozicka opened #2007 "Allow changing FROM image on command line"
**Description**

It is often the case that I, and other people in the OpenShift org, need to change the image that is used in the Dockerfile and use a different one. OpenShift builds are based on that idea and given you have input imagestreams it preprocesses the Dockerfile and replaces the FROM line. The way how we would use such dockerfiles locally is to use https://github.com/openshift/imagebui

[2019-12-05 11:23] vrothberg commented on #2007
Thanks for opening the issue, @tnozicka! I think this fairly easy to support and a quite common use-case in the OpenShift land.

@TomSweeneyRedHat @nalind @rhatdan WDYT?

[2019-12-05 13:21] TomSweeneyRedHat commented on #2007
@tnozicka just to make sure I'm on the same page, given a Dockerfile like:
[code]

Then a command like "buildah bud --from busybox" would in effect make the processed Dockerfile look like:
[code]

But the actual Dockerfile file on disk would not change?  If that's the case, I think it's doable.

[2019-12-05 13:34] tnozicka commented on #2007
correct, no disk changes

thanks for looking into it!

[2019-12-05 13:43] tnozicka commented on #2007
[code]
Aliases for multi stage build like `alpine-stage` would still retain its name even when running `buildah bud --from busybox` , right?

[2019-12-05 13:45] TomSweeneyRedHat commented on #2007
@tnozicka I'm glad you brought that up, I probably would have just wiped the entire thing.  But we certainly could retain the "AS alpine-stage" portion of the FROM statement if it was there.  Just a little bit more processing, nothing major.

[2019-12-05 14:52] rhatdan commented on #1802
Could you give me the actual Dockerfile and actual Podman/Docker command you are executing?

[2019-12-05 14:55] vguaglione commented on #1802
No problem.

Docker command:

docker run --privileged -v ${PWD}/mywkdir:/tmp quay.io/buildah/stable buildah bud -f /tmp/Dockerfile

Dockerfile:

FROM bitnami/php-fpm:latest
EXPOSE 9000
WORKDIR /app

RUN apt-get update -y \
    && apt-get install -y php7.0-mbstring php-mysqli libnss-wrapper

### Create variables for app and users
ENV APP_ROOT=/app \
    USER_NAME=default \
    USER_UID=10001
ENV AP

[2019-12-05 15:19] edsantiago opened #2008 "rawhide: --userns=[(empty) | container]: lots of EINVALs"
[code]
Same with `--userns=container`. Expected: something like `useruser:[4026533496]`

buildah-1.12.0-0.78.dev.gited0a329.fc32 on rawhide

kernel 5.4.0-0.rc0.git3.1.fc32.x86_64
conmon-2.0.4-0.3.dev.gitdf8c6aa.fc32.x86_64
container-selinux-2.123.0-0.3.dev.git0b25a4a.fc32.noarch
crun-0.10.6-1.fc32.x86_64

[2019-12-05 15:20] rhatdan commented on #1745
I guess the question is does the Podman package require the fuse-overlay package.  On Fedora we have this as a Recommends, which means it is installed by default and Podman will use it.

[2019-12-05 19:26] rhatdan commented on #2005
Perhaps @TeNNoX you could open a PR for this?

[2019-12-06 00:45] #1951 closed

[2019-12-06 10:01] denysvitali commented on #1919
@QiWang19 : Indeed it does:

[code]

[code]

works,

[code]

fails.

I'm working on a patch

[2019-12-06 10:25] denysvitali commented on #2007
Related: https://github.com/containers/buildah/issues/1919

[2019-12-06 10:39] rhatdan commented on #2008
@nalind PTAL

[2019-12-06 11:19] rhatdan commented on #1802
@giuseppe I think something might be going on with fuse-overlay on this one?

[2019-12-06 12:21] denysvitali commented on #581
@rhatdan It is not:
[code]
[code]

[code]

[2019-12-06 12:23] denysvitali commented on #1919
Related: https://github.com/containers/buildah/issues/581

[2019-12-06 13:18] giuseppe commented on #1802
I don't see anything related to rootless in this issue.  Was the image built with fuse-overlayfs (I doubt that would work on CentOS 7.6)?

[2019-12-06 13:28] vguaglione commented on #1802
We are fairly new to some of this alternate docker container build technologies, however, we have seen very similar problems building some images via kaniko, and these also manifest during apt-get updates/installs.  Not sure if this helps but I thought to pass it on.  Thank you for looking into this for us.

[2019-12-06 15:23] rhatdan commented on #1802
Buildah is using fuse-overlay for building inside of a container.

[2019-12-06 20:21] TomSweeneyRedHat commented on #1944
reping @lsm5 @jnovy

[2019-12-07 10:42] rhatdan commented on #1983
@llegolas is this still an issue?

[2019-12-07 13:12] llegolas commented on #1983
@rhatdan yes, it is still like that but as you said it has to do something with dnf/rpm. Maybe I can close this one and/or reference it in [DNF github page](https://github.com/rpm-software-management/dnf)? The no ```nocontexts ``` trick works for me, yet what bugs me on is the lack of documentation around the change of the behaviour unless it is unintentional.

[2019-12-09 07:54] #1995 closed

[2019-12-09 09:18] #2001 closed

[2019-12-09 10:02] mfolnovic commented on #620
@TeNNoX implementation hints :)

[2019-12-10 15:42] hreysenbach commented on #1957
The other interesting thing to note is that in Docker, ARGs that appear before the FROM statement don't exist after the FROM statement. I noticed that `podman build  .` has the ARGs exist throughout the Dockerfile.

Reference: https://docs.docker.com/engine/reference/builder/

#### Understand how ARG and FROM interact

FROM instructions support variables that are declared by any ARG instructions t

[2019-12-10 22:18] edsantiago opened #2014 "buildah-from with ONBUILD and --quiet: is not quiet"
This seems to be an undefined corner case:
[code]
Note that there are two different unexpected lines in the output: the `STEP` one, and the actual output of the command itself.

`buildah-from(1)` describes `--quiet` as follows:
[code]
...so technically speaking the `ONBUILD` behavior is undefined; but I think one can have a reasonable expectation that `--quiet` from `bud` will carry over onto `fro

[2019-12-11 20:38] AndydeCleyre opened #2016 "Request: make `--format` columnizing consistent between `buildah containers` and `buildah images`"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

`buildah images --format 'template'` columnizes the output, while `buildah containers --format 'template'` uses the template as provided. This should be made consistent, right? If so, which is preferred?

**Steps to reproduce the issue:**

[code]

**Descr

[2019-12-12 07:14] darkautism opened #2017 "Panic when i pushed to privacy registry"
**Description**
buildah push to privacy registry

**Steps to reproduce the issue:**
1. buildah login [privacy registry]
2. buildah dub
3. buildah push [privacy registry]

**Describe the results you received:**

[code]

**Describe the results you expected:**

It should pushed successful

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Outpu

[2019-12-12 07:34] darkautism commented on #2017
Resolve this problem because nginx ingress do not allow large size block update.
Add this annotations into ingress config should fix
[code]

[2019-12-12 08:10] vrothberg commented on #2017
Thanks opening the issue. I'll reopen since we should investigate the panic. I don't think that a panic should happen during push at all.

[2019-12-12 08:50] darkautism opened #2018 "Build will failed when groupadd"
**Description**

This is my Dockerfile
[code]
I found this problem when i wanna to build a docker image which contains `yum install -y libcgroup`.
I have test two environment but it gives different result.
If i use centos 7 with this version docker, this error will not happened
[code]

If i use centos 8 whits this docker, error will happened

[code]

This is error happened docker's `docker info`

[2019-12-12 11:33] sergeiwaigant commented on #1815
Hi all,
I am still facing this issue with Buildah.

[code]

Even with `export TMPDIR=/mnt/sdb/` or giving TMPDIR right before buildah command it is still using /var/tmp

Regards
Sergei

[2019-12-12 12:03] TomSweeneyRedHat commented on #1815
@sergeiwaigant which version of Buildah are you using?

[2019-12-12 12:12] sergeiwaigant commented on #1815
Latest provided by RedHat since we are on RHEL 7.7

[code]

[2019-12-12 13:49] rhatdan commented on #1815
This was being worked on in containers/image @mtrmac @vrothberg Has the fix been merged there?

[2019-12-12 14:12] rhatdan commented on #2016
I would prefer option B.

[2019-12-12 14:35] TomSweeneyRedHat commented on #2018
@lsm5 could this possibly be a packaging issue?

[2019-12-12 17:25] mtrmac commented on #1815
https://github.com/containers/image/pull/747 was merged; up to Buildah to set the `SystemContext` option as it wants.

(I don’t think `TMPDIR`, which points to a tmpfs by default, is a good default, but IIRC using that would be consistent with the rest of Buildah, e.g. as discussed here.)

[2019-12-12 17:26] mtrmac commented on #1815
Or actually `TMPDIR` tends to be unset by default? To be more precise, defaulting to `/tmp` is the problem on systemd Linuxes at least, regardless of mechanism.

[2019-12-13 03:11] edsantiago opened #2020 "--pid=host: error waiting for container child process"
The following combination of `from` and `run` will occasionally fail:
[code]
When this happens, buildah completely hangs and cannot be killed from the command-line: `^C`, `^Z`, `^\` are all ineffectual. `killall buildah` from another shell works, and the loop continues, and I can then `^C` from the terminal.

It only seems to be `--pid=host`. I've tried `--net=host`, `--ipc`, `--userns`, `--utc`,

[2019-12-13 05:16] darkautism commented on #2018
Tested failed in Fedora release 19 (Schrödinger’s Cat) failed

**Result:**
[code]

**docker version:**
[code]
**docker info**
[code]

**uname -a**
[code]

[2019-12-13 05:40] darkautism commented on #2018
Test passed in older version docker but in newer version linux kernel.

I think this bug is because i use old version kernel.

**docker info:**
[code]

**uname -a:**
[code]

[2019-12-13 10:51] rhatdan commented on #2020
Buildah does not use conmon.

[2019-12-13 10:51] rhatdan commented on #2020
@giuseppe Thoughts?

[2019-12-13 12:29] handflucht commented on #765
I just tested it on my own: files defined in mounts.conf get not committed. Please follow my commented terminal-session.

Host-system has a proxy, a dockerfile is defined which needs internet access while processing and a mounts-file is defined:
[code]

Because the mounts.conf has not the correct name, the build does not work:

[code]

The mounts.conf.bak is renamed to mounts.conf and the build wo

[2019-12-13 13:17] rhatdan commented on #2018
I hope you are not actually using fedora 19?  You should be using at least Fedora 30 or later.

[2019-12-13 13:41] darkautism commented on #2018
No, this pc is borrow from my friend.
The newest CentOS 8 default kernel is 4.18.0-147.6.el8. So this bug will happened in newest CentOS.

[2019-12-13 21:33] etsauer commented on #699
Hey all,

This issue seems to have resurfaced in 1.11.4 on F31:

[code]

[2019-12-14 01:03] #2018 closed

[2019-12-16 15:08] vguaglione opened #2027 "No Such File Error When Pushing To Private Registry via Quay.io/bulidah/stable Container"
**Description**

I am using the quay.io/buildah/stable container to perform builds via buildah bud, but pushing the resulting image to a private registry fails during a patch operation.

Docker file being built via buildah is listed here:

FROM alpine:latest
ADD mywkdir/myecho.sh /usr/local/bin
ENTRYPOINT "/usr/local/bin/myecho.sh"

**Steps to reproduce the issue:**

docker run --privileged -v ${P

[2019-12-16 15:15] edsantiago commented on #2008
Ping, just checking in. This is still the case on rawhide, and will prevent the use of gating tests.

[2019-12-16 15:25] edsantiago opened #2028 "buildah from *-archive:PATH - inconsistent container names"
...depending on whether PATH has a slash in it or not:
[code]
Same with `s/oci-archive/docker-archive/g`.

This is probably not a big deal; it's just unexpected. Reporting in case it's not deliberate.

buildah-1.13.0-0.1.dev.gite28c43d.fc32 and buildah-1.11.6-2.fc30

[2019-12-16 16:34] rhatdan commented on #2027
@nalind @mtrmac Could this have something to do with the lookaside cache?

[2019-12-16 16:36] rhatdan commented on #2008
@edsantiago you expect this just to fail, correct?  IE --userns= requires a valure?

[2019-12-16 16:39] rhatdan commented on #2008
I just tried this on F31 and it works fine.

[2019-12-16 16:40] rhatdan commented on #2008
This looks to me like something in /etc/subgid is wrong and causing buildah to blow up while setting up the user namespace.

[2019-12-16 16:41] rhatdan commented on #2008
[code]

[2019-12-16 17:10] edsantiago commented on #2008
@rhatdan that is what I (and the tests which run on everything except rawhide) expect.

[2019-12-16 19:31] rhatdan commented on #2028
Yes this is strange and I think should be fixed.

[2019-12-16 19:41] rhatdan commented on #2008
I wonder if this is something with the new kernel.
Any chance you could boot your Rawhide system with a f31 kernel, to see if it works.

[2019-12-16 19:41] rhatdan commented on #2008
@giuseppe Thoughts?

[2019-12-16 19:52] edsantiago commented on #2008
[code]
The rawhide kernels I tried were 5.5.0-0.rc1.git{1,2}.1.fc32.x86_64

[2019-12-16 21:01] edsantiago opened #2030 "buildah rm nonexistent-container: mount leak"
This is why buildah BATS tests fail using overlay. (Or at least it's one reason).
[code]

[2019-12-16 21:16] rhatdan commented on #2008
Well then it is most likely crun?  @giuseppe ?

[2019-12-16 21:27] rhatdan commented on #2030
I am not sure this is  a new leak.  But we did remove some functionality from Overlay to Skip local mount.  Which might be what is causing this.

[2019-12-16 21:33] edsantiago commented on #2030
What I didn't mention is that the `rm -rf` works fine immediately after the `commit`. That is: somewhere in the `buildah rm` a mount is happening, and is not getting cleaned up in the error exit. I think.

[2019-12-17 00:33] cpmoore commented on #1347
Any updates on this issue?
It’s a feature our organization needs due to multiple architecture images.
It’s even more important with OpenShift 4 moving away from docker.

[2019-12-17 09:51] giuseppe commented on #2008
the error is coming from crun (I'll improve it), but the issue seems to be in Buildah.  It is passing down a configuration file with a user namespace specified but there are no mappings.

[2019-12-17 11:22] denysvitali commented on #1849
I think that this is related to the fact that the `COPY` instruction, when the `.dockerignore` file is present, copies the files one by one by using [the following snippet](https://github.com/containers/buildah/blob/master/add.go#L303-L339).
In my case, with a `node_modules` directory, it takes __ages__ because it copies the files one by one:

[code]

I'm looking for a solution to this problem, id

[2019-12-17 11:28] giuseppe commented on #2008
I am taking a look at it

[2019-12-17 12:17] denysvitali commented on #1849
I can confirm that by adding this patch (it is just a workaround that ignores the `.dockerignore`) the build takes a lot less time (but it includes the unwanted files).

[code]

And outputs this:

[code]

As a workaround, we can maybe implement a deletion after `untar` has been performed: it depends on a case by case basis though. I don't know how Docker handles this kind of copy, but I don't thin

[2019-12-17 14:05] rhatdan commented on #1347
Well we have it in Podman now.  Is that good enough, or do we need it in Podman?

[2019-12-17 16:26] TomSweeneyRedHat commented on #1849
@denysvitali thanks for the debugging and snooping.  Sounds like you're on the right track.  If you'd like to dive further, please assign this issue to yourself.  If you don't have time, @QiWang19 PTAL when you return.

[2019-12-17 16:47] giuseppe commented on #2020
Buildah sets itself as child subreaper but actually it waits only for the container pid.  This may leave intermediate processes created by the OCI runtime not reaped.

It is probably easier to fix it in crun, so I'll move it there

[2019-12-17 17:45] denysvitali commented on #1849
@TomSweeneyRedHat Unfortunately I don't have more time to look into this in depth 😓

[2019-12-17 19:08] TomSweeneyRedHat commented on #1849
@denysvitali no worries, thanks again for the investigation.

[2019-12-18 19:55] AndydeCleyre opened #2033 "Unable to commit any container to image after 1.11.6 -> 1.12.0"
**Description**

After upgrading `1.11.6` `->` `1.12.0`, committing to images fails: 'error committing container \<c> to \<i>: error copying layers and metadata for container "\<xxx>": Error initializing source containers-storage:<c-name>: error extracting layer "\<yyy>": is a directory'

I am always using buildah as a regular user.

I cleared `~/.local/share/containers/storage` but same result tr

[2019-12-18 21:22] AndydeCleyre commented on #2033
After a `git bisect` session, looks like the problem was introduced with either/both 49e35cb98a17a4619c16332a17cfd31832f8b1d6 and 3b7f0a19c41ae20302f7579140678bfc9af4bc37 (I couldn't build the first of those to test).

[2019-12-18 21:33] rhatdan commented on #2033
Strange this is working fine for me on Fedora 31.

[2019-12-18 22:14] AndydeCleyre commented on #2033
Thank @rhatdan . I've discovered the only problem was that it was about time I upgraded `fuse-overlayfs`: `fuse-overlayfs-git (327-1) -> fuse-overlayfs (0.7.2-1)` and it's all good.

[2019-12-18 22:14] #2033 closed

[2019-12-19 04:14] ttys3 opened #2034 "buildah generated image digest (sha256 hash) differs from docker hub"
**Description**

buildah generated image digest differs from docker hub, which will cause
`buildah manifest push` failed to push the created manifest because the digests in local does not match docker hub's.

I've made a very simple demo project for describing the problem.

**Steps to reproduce the issue:**
1. we build the image use
https://github.com/ttys3/buildah-digest-demo/blob/master/buildah.

[2019-12-19 10:34] mraszplewicz commented on #1782
Hi!

I have tested it with podman 1.6.2 and 1.6.4 and it works.

Thank you!

[2019-12-19 13:34] rhatdan commented on #2033
The Buildah package should require the newer version, I guess

[2019-12-19 15:33] #1782 closed

[2019-12-19 17:04] ttys3 commented on #2034
I've done the same steps and reproduced the same issue above under Fedora 31:

[code]

[code]

[code]

[2019-12-19 17:39] TomSweeneyRedHat commented on #2033
@lsm5 PTAL

[2019-12-19 18:29] AndydeCleyre commented on #2033
Unfortunately `fuse-overlayfs` is [not officially](https://aur.archlinux.org/packages/fuse-overlayfs/) packaged for Arch, so the official `buildah` package can't depend on it there.

[2019-12-22 20:55] mraszplewicz opened #2040 "buildah bud in container fails when building with gradle"
**Description**

buildah bud --layers run in docker container fails when building gradle project which has separate step to download dependencies. The issue is probably caused by gradle daemon started in one step,  not seeing files copied later. Same results with quay.io/buildah/stable:v1.10.1 and quay.io/buildah/stable:v1.11.4

Everything works when run from host (not running buildah in docker co

[2019-12-22 21:20] mraszplewicz opened #2041 "buildah bud --layers does not add labels to existing image"
**Description**

I am not sure if this is a bug. When I run buildah bud --layers on the same Dockerfile multiple times with different labels, only the first one is visible using buildah inspect.

**Steps to reproduce the issue:**
1. Use this Dockerfile:
[code]
2. Run build with first label:
```buildah bud --layers -t test --label foo=bar .```
3. Check image labels:
```buildah inspect b44cb95968d9e

[2019-12-23 09:18] dependabot-preview[bot] opened #2042 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/18509804).

[2019-12-23 14:00] rhatdan commented on #2041
The second inspect is inspecting the first image, which is why it only shows the first label.
Try
[code]

[2019-12-23 17:51] mraszplewicz commented on #2041
Hi @rhatdan,

Thanks for your answer. Actually there is only one image. I run buildah twice on the same Dockerfile:
[code]

[2019-12-24 12:05] rhatdan commented on #2041
Ok this works if the container is built without the --layers flag.

[2019-12-24 12:07] rhatdan commented on #2041
@TomSweeneyRedHat
Looks like the layers optimization is not seeing that their is a difference in the command so it is not saving the layer.

[2019-12-24 12:08] rhatdan commented on #2041
@mraszplewicz Any interest in attempting a fix for this.  A PR would get it fixed quicker.

[2019-12-25 11:39] abitrolly opened #2046 "List image contents without running it"
Is there a way to list contents of an image downloaded from Docker Hub without running it?

I am looking for an alternative to `podman export` which works on images.

[2019-12-25 14:02] gireeshpunathil opened #2047 "severe performance issue with buildah bud when copying recursive folders"
**Description**

I am composing an image from a large (~200MB) project structure using `buildah bud`that never completes. Here is the full bug report for reference: https://github.com/kabanero-io/kabanero-pipelines/issues/121

I have brought it down to a simple recreate for easy diagnosis

**Steps to reproduce the issue:**

$ ls -lrt
[code]

$ cat Dockerfile
[code]

$ cat foo.sh

[code]

[code]

A

[2019-12-26 07:38] XVilka opened #2048 "Error creating build container while building the Dockerfile from React Native: https://github.com/react-native-community/docker-android/blob/master/Dockerfile"
**Description**

Error creating build container while building the Dockerfile from React Native: https://github.com/react-native-community/docker-android/blob/master/Dockerfile

**Steps to reproduce the issue:**
1. Download https://github.com/react-native-community/docker-android/blob/master/Dockerfile
2. Run `podman build -t reactnative .`
3. Get this error

**Describe the results you received:**

[2019-12-26 09:17] ari-becker opened #2049 "Panic when attempting to build from digest"
**Description**

When attempting to build from a digest, buildah panics.

**Steps to reproduce the issue:**

with Dockerfile (the first line is supposed to be equivalent to `alpine:3.8`):
[code]

run `buildah bud .`

**Describe the results you received:**
[code]

**Describe the results you expected:**

Not a panic

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah

[2019-12-26 15:20] TomSweeneyRedHat commented on #2047
@gireeshpunathil Thanks for the issue.  Most of the team is enjoy PTO until the new year.  If we don't get to it before, we'll definitely dive in at the start of the year.

[2019-12-26 15:20] TomSweeneyRedHat commented on #2047
@mheon FYI

[2019-12-26 15:25] TomSweeneyRedHat commented on #2049
@ari-becker thanks for the issue.  Most of the team is off until the new year enjoying the holidays.  If someone doesn't hop on before, we'll take a look right after the new year.

@mtrmac any off the cuff thoughts?

[2019-12-26 15:33] TomSweeneyRedHat commented on #2048
@XVilka this smells like something wasn't quite right with network connections to the registries that you were trying to pull from.  My `/etc/containers/registries.conf` file has this entry:
[code]
and it hit successfully on docker.io.  Can you retry and see if things are working for you now?  If not, can you try to change the FROM statement in your Dockerfile to look like:

[code]

[2019-12-26 16:13] gireeshpunathil commented on #2047
👍 thanks @TomSweeneyRedHat, you have been greatly helpful as always! sure, let us tackle this in the new year!

[2019-12-27 01:30] mtrmac commented on #2049
In 1.11.4, https://github.com/containers/buildah/blob/21b4778b359ef7d6efe877c2f90f3df67ad93609/config.go#L29 fails, returning  `(nil, err)`, and https://github.com/containers/buildah/blob/21b4778b359ef7d6efe877c2f90f3df67ad93609/config.go#L38 tries to use this `nil`.

This was fixed in https://github.com/containers/buildah/commit/4e03c80a0bf213fd2d7f9ca0c9934c4fb40ae4d6 .

[2019-12-27 05:12] XVilka commented on #2048
@TomSweeneyRedHat I retried multiple times and the error quite consistent between runs. But after I added `FROM docker.io/openjdk:8` it works out of the box now. If I reset podman state with removing all images, containers, etc, then remove `docker.io` prefix, and run build again, the same error appears back, so it is pretty consistent.

[2019-12-27 07:25] pixdrift opened #2051 "buildah.spec file in contrib no longer builds cleanly"
**Description**
`rpmbuild` using the buildah.spec in `contrib` from latest release `v1.12.0` `(6cc46567d1c7011bc99ac99ecc6239f2d3df0aa9)`  no longer builds cleanly, due to what looks like an issue with dependencies from CNI.

There are also some issues with the changelog formatting (should not contain commas) and the date of one of the entries (shown as warning below). Once these items are cleaned

[2019-12-27 09:33] mraszplewicz commented on #2041
@rhatdan I can try but I have zero experience in golang. Maybe it is time to learn it...

I have checked how docker build does it. It looks like it is adding a new layer:
[code]

[2019-12-27 14:22] rhatdan commented on #2046
You can create a container and then mount it.

ctr=$(buildah from IMAGE)
mnt=$(buildah mount $ctr)
cd $mnt
and start looking at the image.

[2019-12-27 14:36] rhatdan commented on #2049
This is fixed in master. Please try it out from there.  We should have a new version in Fedora 31 soon.

[2019-12-27 14:36] #2049 closed

[2019-12-27 14:40] abitrolly commented on #2046
@rhatdan which means to run the container, right?

[2019-12-27 14:43] rhatdan commented on #2046
No the image is just mounted and you can go to the rootfs of the image and examine it with commands from the host.
For example
rpm -qa --root $mnt

To list all of the rpms on the system

find $mnt

To list all of the files.

But you don't need to actually execute any code in the image.

[2019-12-27 15:46] TomSweeneyRedHat commented on #2051
@pixdrift, long time, good to see you and thanks for the issue.

@lsm5 PTAL

[2019-12-27 15:48] TomSweeneyRedHat commented on #2048
@XVilka thanks for the follow up note.  Something is going wonky then with the repo resolution on the system.  Can you share/attach the registry conf there, especially the `[registries.search]` section?  I also neglected to ask, are you running this as root or as a rootless user?

[2019-12-27 17:01] XVilka commented on #2048
@TomSweeneyRedHat I ran this as a rootless user. Sadly, I will not have access to this machine until January 7 (I am on vacation since today), so I can't share the registry configuration, but I didn't change that file, it should be the default one in Fedora 31 package.

[2019-12-27 20:00] TomSweeneyRedHat commented on #2048
@XVilka no worries and thanks for the info.  I too am on vacation/pto until Jan 6th and probably won't dive into this more fully until then anyway.  It's nice to get the info together though in case someone else has time to dive in before then.

[2019-12-28 00:52] mat8913 opened #2054 "rootless podman build tries to use system-wide policy"
**Description**

Rootless podman supports reading policy from "~/.config/containers/policy.json", since non-root users cannot write to the system-wide policy file. `podman build` still tries to read the system-wide policy though.

**Steps to reproduce the issue:**
1. Don't have a system-wide policy
2. Run `podman build .` as a non-root user in a directory with a Dockerfile that you haven't already

[2019-12-28 09:22] andrew-aladev commented on #420
[code]

`4b258341e17c` - this is my container, works fine.

[2019-12-29 02:49] pixdrift commented on #2051
Looks like there is a clean build here on the CentOS CBS setup by @lsm5:
https://cbs.centos.org/koji/buildinfo?buildID=27823

[2019-12-29 10:57] abitrolly commented on #2046
Is it possible to work with the image without Linux kernel?

[2019-12-29 11:44] rhatdan commented on #2046
You could pull the image with skopeo as a tar ball, and then untar the layers.
Containers/storage has some windows support also, so maybe you could pull an image onto Windows storage.
Since I don't use non linux systems, I am not an expert in this.

[2019-12-29 12:19] boaz0 commented on #2016
#2052 closes this issue.

[2019-12-29 17:18] rpjday opened #2056 ""podman build" does not default to "." as context"
podman 1.6.2 on Fedora 31, even when there is a Dockerfile/Containerfile in the current directory, you need to specify the context directory ("."), otherwise:

$ podman build
Error: no context directory specified, and no containerfile specified
$

[2019-12-29 21:25] rhatdan commented on #2056
This is not a buildah issue.  `buildah bud` works correctly. It should be opened in libpod(podman).

Although I already fixed this in master, and I believe it is fixed in podman 1.7.0.

https://github.com/containers/libpod/pull/4697

[2019-12-29 21:25] #2056 closed

[2019-12-30 05:28] pixdrift commented on #1923
There appears to be a regression in the spec file and this issue has crept back into the 1.12 RPM. Looking at the spec, the libseccomp `Requires` implemented for CentOS fix is no longer there:

**Version 1.11.3 spec file:**
[code]
**Version 1.12.0 spec file:**
[code]

Is there a source for this spec file that's publicly available?

Installing `libseccomp = 2.4.1-0.el7` resolves the issue.

[2019-12-30 05:29] pixdrift commented on #1923
@TomSweeneyRedHat you OK to re-use this issue or would you like me to create a new one?

[2019-12-30 08:04] kohnish commented on #1513
My merge request for buildah, podman, and crun was merged. They are now in alpine edge testing repo. With manual configuration, they work fine.

Skopeo already exists in community repo, so with some polishing they can go to community soon probably.

[2019-12-30 11:50] pixdrift commented on #2051
Issue with this RPM build too, added details here:
https://github.com/containers/buildah/issues/1923

[2019-12-31 12:06] #2016 closed

[2019-12-31 12:11] rhatdan commented on #1513
Great news.  Thanks for your efforts, @kohnish

[2019-12-31 12:32] pixdrift commented on #557
Sorry to re-open, but I really want to revisit this export to tarball option given that some time has passed and i've been left looking for this feature again.

The primary use case I see for it is potentially using buildah to create filesystems for qcow2 vm images, Raspberry Pi OS images etc. Essentially making this feature just a tarball of the container filesystem (all layers merged).

I guess

[2019-12-31 13:43] rhatdan commented on #557
Can you use podman save to do this?

[2020-01-02 15:40] rhatdan commented on #2047
Are you using a .dockerignore file?

[2020-01-02 16:31] gireeshpunathil commented on #2047
I am not; but can try that, if required. Any steps / suggestions?

[2020-01-02 17:53] mtrmac commented on #2027
No, this is something in c/storage that keeps popping up: https://github.com/containers/libpod/issues/4604 https://github.com/containers/buildah/issues/1092 .  Using either the blob cache or blob info cache, if it made any difference, would _avoid_ reading those files.

[2020-01-02 18:21] rhatdan commented on #2047
No we have seen performance issues when using .dockerignore

Could you try a newer version of buildah to see if it has an issue, say on a Fedora box?

[2020-01-02 22:10] olehermanse commented on #2042
I also get this error when trying to run ` go build` in:

https://github.com/containers/libpod

[code]

[2020-01-03 08:51] stac47 opened #2058 "Tutorial 4: commit does not work as expected"
**Description**

I am working on a project that uses buildah as a library. The [tutorial 4](https://github.com/containers/buildah/blob/master/docs/tutorials/04-include-in-your-build-tool.md) does not work as expected. The line:
[code]
today will raise an error. Actually, the function `func ParseImageName(imgName string) (types.ImageReference, error)` expects a string respecting an URL format like

[2020-01-03 12:48] TomSweeneyRedHat opened #2060 ".dockerignore not working as expected in Podman 1.6.2"
As reported by Robert Day in the podman.io mailing list on Jan 3, 2019:

On Fri, 3 Jan 2020, Robert P. J. Day wrote:

  just to be clear, i *understand* the value of .dockerignore when
using docker, given how the build context is bundled and sent to the
daemon. it's not clear what value this has WRT podman, which has no
such daemon.

  more to the point, as long as i did my testing correctly, this

[2020-01-03 12:48] TomSweeneyRedHat commented on #2060
@QiWang19 PTAL

[2020-01-03 12:55] TomSweeneyRedHat opened #2061 ".dockerignore is not documented well"
The .dockerignore functionality is not well documented in Buildah/Podman as noted in #2060.  Further documentation is needed.

[2020-01-04 04:40] gireeshpunathil commented on #2047
@rhatdan - thnx. I don't have a fedora box, but created a container from `fedora:latest` and tried, but got this error

[code]

any suggestions?

[2020-01-04 11:39] rhatdan commented on #2047
This looks like you have storage on an overlayfs file system?  Are  you running buildah inside of a container?

[2020-01-04 14:30] gireeshpunathil commented on #2047
yes, in this case - as I don't have a normal fedora system.

[2020-01-04 14:40] wwilson commented on #1918
Can we get an update on this?

[2020-01-04 15:34] rhatdan commented on #2047
Then volume mount a directory on /var/lib/containers and overlay will work.

[2020-01-06 07:03] gireeshpunathil commented on #2047
@rhatdan - I am unable to upgrade `buildah`, looks like this is the best version that is available for fedora. Am I using the right `fedora` in the first place?

[code]

[2020-01-06 07:16] QiWang19 commented on #2060
from the buildah code it checks the .dockerignore only when the source of `COPY`  is a directory

[2020-01-06 11:18] ranjithrajaram opened #2063 "AdditionalStores are ignored with buildah in a container"
**Description**

/var/lib/containers/storage is bind mounted as /var/lib/shared. With quay.io/buildah/upstream:latest, "buildah images" does not list the existing images available on the node. On the same node, when the image is changed to quay.io/buildah/stable:latest, it works as expected

**Steps to reproduce the issue:**
1. Download couple of images on the host system
2. Use the below command

[2020-01-06 11:29] #2063 closed

[2020-01-06 12:14] zhujian7 commented on #1133
The same issue for me, occasionally instead of always happened.

It is worth mentioning that I used an HAProxy before 3 registries, and when I upload an image, some blobs are processed by registry A, and some other blobs are processed by registry B.

[2020-01-06 14:38] TomSweeneyRedHat commented on #2042
@vrothberg PTAL

[2020-01-06 16:02] TomSweeneyRedHat commented on #1918
@lsm5 ping!

[2020-01-06 19:10] TomSweeneyRedHat commented on #1923
@pixdrift this is fine here.

[2020-01-06 19:27] nalind commented on #1213
The OpenShift builder uses buildah's chroot isolation, which doesn't implement setting control group settings.

Because the builder is run in a container, and the we can count on that container having its `memory.limit_in_bytes` limit set on its behalf by the runtime (CRI-O), so we don't have to do anything for that limit, and a couple of others.

Kubernetes doesn't provide a control for the `memo

[2020-01-07 09:43] vrothberg commented on #2042
Let's keep the discussion over at https://github.com/containers/libpod/issues/4728

[2020-01-07 09:58] vrothberg commented on #1133
This sounds fishy. @mtrmac, do you have an idea what could lead to wrong offsets?

[2020-01-07 10:19] jmencak opened #2067 "Image build-time regression between buildah 1.11.5 and 1.11.6"
**Description**

Version 1.11.5 seems to be the last buildah version which doesn't cause any huge (~80s) delays between COPY and RUN steps when building images with larger amounts of vendored-in files (e.g. OpenShift operator images).

**Steps to reproduce the issue:**
1. `git clone https://github.com/openshift/cluster-node-tuning-operator`
2. `cd cluster-node-tuning-operator`
3. `make local-image

[2020-01-07 18:29] TomSweeneyRedHat commented on #2067
@nalind thoughts?

[2020-01-07 20:28] nalind commented on #2067
Not many merges in between, looks like it's a side-effect of #1914?

[2020-01-07 21:09] rhatdan commented on #2067
I thought we asked. @jmencak Do you have a .dockerignore file?

[2020-01-07 21:12] rhatdan commented on #2047
You are using RHEL.

Did you try to mount a file system at /var/lib/containers?

[2020-01-07 22:16] jmencak commented on #2067
@rhatdan no `.dockerignore` file.  I was also able to reproduce this on a completely fresh F30 install with buildah-1.12.0.  Are you saying you cannot reproduce this?

[2020-01-08 01:55] gireeshpunathil commented on #2047
@rhatdan -  thnx

Yes, unfortunately I don't have system with fedora installed, I am using a container (fedora:latest) in a rhel host

Yes, it did not make any visible difference w.r.t performance

[2020-01-08 02:44] #2042 closed

[2020-01-08 05:03] devlocalca opened #2069 "Documentation - installing an image/container dev/runtime environment"
**Description**

I am looking for documentation that lists a set of commands for RHEL 8, using `dnf` to:
[code]
I'm not sure that one exists, I have searched everywhere.

**Describe the results you expected:**

I am seeking a guide/documentation that can be easily found that is specific to my environment:  RHEL 8, using the `dnf` command.

---

This document does not work for me:

  https://github

[2020-01-08 09:23] jmencak commented on #2067
Narrowed it down to commit 92ff21584fc46fc9d4a1d24577632b53cb97d892. Commit cd88667465a9f4a46daf3c6c2975a9883885c7fe is the last one that works for me fine.

[2020-01-08 10:59] rhatdan commented on #2069
Does
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/building_running_and_managing_containers/index

Cover what you need?

This is an upstream site,  we don't tend to document downstream distros.

[2020-01-08 11:02] rhatdan commented on #2067
This really looks like a .dockerignore is involved or the code is mistakenly thinking there is a .dockerignore.

[2020-01-08 11:05] rhatdan commented on #2067
This really looks like a .dockerignore is involved or the code is mistakenly thinking there is a .dockerignore.

@saschagrunert PTAL
You removed the !excludes.Exclusions() call, could this be triggering the error?
[code]

[2020-01-08 11:57] saschagrunert commented on #2067
The increased performance delay was expected from my side since #1914 fixes the actual behavior for `.dockerignore` files. So we now correctly process the files but gain a slight improvement by skipping directories entirely.

It looks like that all the calls to `copyFileWithTar` are slow together. We probably can improve this by copying the whole directly via `copyWithTar`...

I see the use case o

[2020-01-08 13:14] rhatdan commented on #2047
Perhaps this will fix the issue.
https://github.com/containers/buildah/pull/2070

[2020-01-08 14:13] TomSweeneyRedHat commented on #2069
@chrisnegus any other thoughts?

[2020-01-08 15:45] chrisnegus commented on #2069
@TomSweeneyRedHat The link that @rhatdan references is where I have consolidated documentation related to RHEL 8 container tools. Here are links to the specific features you are looking for:

1. install any RHEL 8 repos that have image/container tools

[Getting container tools](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html-single/building_running_and_managing_contai

[2020-01-08 15:54] rhatdan commented on #2069
@TomSweeneyRedHat Perhaps we should add a link to install.md to this document.

[2020-01-08 18:24] devlocalca commented on #2069
Thank you very much for the information.  I have seen this document before I believe.

One question/problem I have, is that the first action item is **Section 1.3** in running the subscription-manager.

I am running RHEL 8 on GCP (Compute Engine VM), paying the RHEL 8 license fees through a GCP/Red Hat license agreement.

On the VM - subscription-manager is not installed.

[code]
If I install subs

[2020-01-08 20:18] chrisnegus commented on #2069
Unless there is a special way to use Red Hat repos through GCP, you get subscriptions through places like the [Red Hat Enterprise LInux](https://www.redhat.com/en/technologies/linux-platforms/enterprise-linux) subscription page. There are free trials available. All container tools should be ready to install at that point, without additional repos. Likewise, nothing special is needed to download an

[2020-01-08 20:20] chrisnegus commented on #2069
With the subscription, you will get a user name and password. You can use those credentials to get on to the [Red Hat customer portal ](https://access.redhat.com)as well.

[2020-01-09 16:30] artbegolli opened #2074 "image digest in output when executing buildah inspect"
**Description**

Running `docker image inspect <imageId>` returns metadata on the image, including the image digest.

In buildah, executing the (similarly) equivalent cmd `buildah inspect --type image <imageId>` equally returns metadata on the image, however without the image digest

This issue proposes adding an images' digest to a buildah inspect command as it is relevant image metadata - open t

[2020-01-09 17:53] mtrmac commented on #1133
The request at “registry A”, with `http.request.id=fdd0f08e-f49e-4aab-bfec-e54ab794916e` , has
[code]
Same for “registry B”, with `df1ee77c-0c88-4f45-85a6-74c73d03b24c`, and “registry C”.

None of the logs contain a single mention of the expected “Buildah/…” user agent, so I can’t see how this is supposed to be Buildah-related.

It might well be some server-side bug exposed both by Buildah (per th

[2020-01-10 05:54] gireeshpunathil commented on #2047
thanks @rhatdan for fixing this. do you know when a release is going to be cut out of it? I tried building `buildah` from source by following the [doc](https://github.com/containers/buildah/blob/master/install.md), but got into issues:

[code]

[2020-01-10 13:34] geniass commented on #1994
Can confirm this on Fedora 30, except for me it fails on the first build attempt:
[code]

Dockerfile:
[code]

[code]

[2020-01-10 14:14] mathstuf opened #2075 "podman build -v doesn't support multiple options"
**Description**

[code]

**Steps to reproduce the issue:**
1. Pass multiple options to `podman build --volume` specifications

**Describe the results you received:**

Invalid format error.

**Describe the results you expected:**

Volume should be mounted with all relevant options applied. As the `podman-build` manpage has this as an example:

[code]

**Output of `rpm -q buildah` or `apt list build

[2020-01-10 16:44] TomSweeneyRedHat commented on #2047
@gireeshpunathil Thanks for the heads up on the install instructions, I'm not quite sure what's going on there.  I'll most likely spin up a new release by early next week for Buildah.

[2020-01-11 11:30] ANaumann85 opened #2076 "error committing container with fuse-overlayfs"
**Description**

I use podman build as non-root user with the Dockerfile
[code]
I expected that to finish, but I get the error message

**Steps to reproduce the issue:**
1. Copy the lines above in a file Dockerfile.test
2. run podman build -f Dockerfile.test

My podman version is 1.0.7-dev.

**Describe the results you received:**

**Describe the results you expected:**

something like "finished"

[2020-01-11 16:16] gireeshpunathil commented on #2047
@rhatdan @TomSweeneyRedHat - some updates.

when I upgraded the go version to 1.13.6 (by default, it was installing 1.9.4 for whatever reason), the build issues went away. And with that, I am able to custom build and test the patch for https://github.com/containers/buildah/pull/2070

[code]

old case

[code]

[code]

good case

[code]

as we can see, the `1.14.0-dev` version just takes 5 seconds,

[2020-01-11 18:18] TomSweeneyRedHat commented on #2047
Glad it's working and thanks for the Go version update too.  That's not something that I've run into.  I can't take much credit on the fix though, @nalind did all the heavy lifting on this one.

[2020-01-11 22:45] TomSweeneyRedHat commented on #2075
Hmm, thought this was fixed with #2039

[2020-01-11 22:49] TomSweeneyRedHat commented on #2075
It was fixed with #2039, but that change didn't make Bulidah v1.12.0 which went into Podman v1.7.0.  It instead made Buildah v1.13 which needs to be vendored into Podman yet.  @mheon next steps?

[2020-01-12 03:50] gireeshpunathil commented on #2047
thanks @nalind for quickly turning around this!

[2020-01-13 01:56] boaz0 commented on #2074
This is fixed in newer versions of buildah.
[code]

version:
[code]

[2020-01-13 07:16] vrothberg commented on #2074
Closing as Buildah v1.12 includes this information.

[2020-01-13 07:16] #2074 closed

[2020-01-13 09:36] giuseppe commented on #2076
tested locally and it works for me.

What is the fuse-overlayfs version that you are using?

[2020-01-13 13:14] denysvitali commented on #1849
#2072 should fix this problem :D

[2020-01-13 15:01] QiWang19 commented on #1849
@denysvitali Thanks. I'll close this one.

[2020-01-13 15:01] #1849 closed

[2020-01-13 16:52] rhatdan commented on #2075
Lets cut a new version of Buildah for this fix, and perhaps a couple of others then we can close this issue, since it will get vendored into upstream podman.

[2020-01-13 18:14] ANaumann85 commented on #2076
the command  ``fuse-overlayfs --version`` returns

FUSE library version 3.4.1
using FUSE kernel interface version 7.27
fusermount3 version: 3.4.1

[2020-01-13 19:11] giuseppe commented on #2076
that is really old.  Please use a newer version

[2020-01-14 06:31] #1854 closed

[2020-01-14 11:48] akospinter commented on #1969
Hi,

when can we expect a release for Ubuntu Eoan (19.10) ?

Thanks,
Ákos

[2020-01-14 13:03] TomSweeneyRedHat commented on #1969
@lsm5 any input?

[2020-01-14 17:40] marikaj123 commented on #2047
@gireeshpunathil -  Could you please accommodate Kyle G. Christianson request:
Please make sure to test this the node pipelines. This was another reason we stayed on an old version of buildah: https://github.com/appsody/appsody-buildah/issues/10.  Thank you.

[2020-01-14 18:37] wwilson commented on #1918
It's been ~2 months since _anything_ was published to the Project Atomic PPA. Is there something going wrong behind the scenes that me/others in the community can help out with?

[2020-01-14 19:01] TomSweeneyRedHat commented on #1918
The main issue is the person who handles this @lsm5 had a crunch of other high priority work that he undertook before a very long and very well deserved vacation/PTO that started in early December and will be wrapping up in at the end of this month.  He's been monitoring mail/GitHub, but hasn't had time to do chunks of work during that time period.

If other folks are able to lend @lsm5 a hand, I'

[2020-01-14 19:50] TomSweeneyRedHat commented on #2075
@mathstuf once merged, https://github.com/containers/libpod/pull/4866, should fix this issue upstream.

[2020-01-14 22:05] AndydeCleyre opened #2082 "buildah-run: sh -c 'echo ... >> ...' redirection clobbers in some cases"
**Description**

I'm having trouble making any sense of this, and still trying to bring the reproduction steps down, but the `echo` command at the end of this buildah script clobbers when `--press` is passed, and appends when it's not. *Unless* I comment out the `mkdir` line, in which case it appends whether or not `--press` is passed.

**Steps to reproduce the issue:**

[code]

`repro.sh`:
[code]

[2020-01-15 03:18] gireeshpunathil commented on #2047
@marikaj123 - looks like you probably meant to put this comment in https://github.com/kabanero-io/kabanero-pipelines/issues/121 instead of here? either way, answer is yes, will do.

[2020-01-15 06:59] sjkeerthi opened #2083 "buildah Question"
Hi Team,

It a Kind of Question.

1) Will my existing Dockerfile works without any changes in buildah

2) Is the as build-env will work for example
`FROM node:10.18.0-alpine3.11 as build-env

MAINTAINER sjkeerthi@xxxx.io

# Update the apk repo
RUN apk add --no-cache git

# Copy the local package files to the container's workspace.
COPY ./source /opt/portal

# Build the application using the npm in

[2020-01-15 13:02] rhatdan commented on #2075
Closing since it is merged into upstream libpod.

[2020-01-15 13:02] #2075 closed

[2020-01-15 15:57] johnmcollier opened #2084 "Unprivileged buildah bud in Kube: Overlay fails, but vfs does not"
**Description**

I'm running the buildah docker image (quay.io/buildah/stable:v1.11.3) in Kubernetes (OCP 4.2) as root, but unprivileged. When I go to build a sample application, the build fails with the following error:
[code]

If I build with `buildah --storage-driver vfs bud`, it does not fail:
[code]

It might be because I can't mount /dev/fuse on Kubernetes? (https://github.com/kubernetes/kub

[2020-01-15 16:26] TomSweeneyRedHat commented on #2083
@sjkeerthi thanks for the interest in Buildah!

In theory, if the Dockerfile works with Docker, than it should also work with Buildah.  If you find that it does not, please feel free to raise an issue here on GitHub.

Just a note, when you're building with Buildah and want to match the Docker build process, use the `--layers` option, ala `buildah bud --layers ...`.  Or if you want to be able to us

[2020-01-15 17:19] AndydeCleyre commented on #2082
Reproduced with:
buildah upgraded `1.12.0` `->` `1.13.1`
ostree upgraded `2019.5` `->` `2019.6`

- broken with `--press`
- ok without `--press`
- ok with `--press` if the `mkir` line is commented out

[2020-01-15 18:51] AndydeCleyre commented on #2082
I rebuilt containers with `BUILDAH_HISTORY=true`. The differences between an unbroken (without `--press`) build and a broken (with `--press`) build, less the timestamps from today:

[code]

In both cases, the `echo` entry appears as:

[code]

[2020-01-15 18:57] AndydeCleyre commented on #2082
I downgraded to `1.11.6` and could *not* reproduce the problem.

[code]

I'll be back with bisect results.

[2020-01-15 19:37] AndydeCleyre commented on #2082
The bisect results are the same as the [last time (different, solved issue)](https://github.com/containers/buildah/issues/2033#issuecomment-567218952): looks like the problem was introduced with either/both [`49e35cb`](https://github.com/containers/buildah/commit/49e35cb98a17a4619c16332a17cfd31832f8b1d6) and [`3b7f0a1`](https://github.com/containers/buildah/commit/3b7f0a19c41ae20302f7579140678bfc9

[2020-01-15 21:11] AndydeCleyre commented on #2082
Alright, I managed to bisect the vendored `storage` repo to get more details, and the problem is introduced at `storage` commit [`02614b1`](https://github.com/containers/storage/commit/02614b1e90389fed133b9bda9e944d3d5310c878): "VFS support for user.* xattrs" -- some discussion at `storage` pull request [466](https://github.com/containers/storage/pull/466).

@zmedico can you take a look?

[2020-01-16 00:44] zmedico commented on #2082
Hi @AndydeCleyre, I've run your `./repro.sh --press` locally with vfs driver, and it looks like I didn't reproduce your issue. I wonder if your issue has something to do with xattr support in your underlying filesystem (I have btrfs here). Here's how it looked for me:
[code]

[2020-01-16 11:30] lsm5 commented on #1918
apologies for the delay everyone, going forward, updates will be going to the [Kubic project on OBS](https://build.opensuse.org/project/show/devel:kubic:libcontainers:stable) instead of PPA.

[2020-01-16 12:59] #1918 closed

[2020-01-16 13:35] akospinter commented on #1969
Hi,

I can see an updated installation method for Ubuntu 19.10 at this page: https://github.com/containers/buildah/blob/master/install.md . Thanks for that.

I have tried it, the installation was successful, but buildah doesn't work from the command line, I am getting this error: "buildah: command not found"

Is there something that is missing from the installation script?

Thanks,
Ákos

[2020-01-16 13:44] lsm5 commented on #1969
err .. I'll check and get back..

[2020-01-16 14:40] lsm5 commented on #1969
should be fixed with 1.12.0~3  https://build.opensuse.org/package/show/devel:kubic:libcontainers:stable/buildah . Should be available in a bit.

Please re-open the issue if it persists..

[2020-01-16 14:40] #1969 closed

[2020-01-16 21:04] AndydeCleyre commented on #2082
Thanks @zmedico -- I'm using `ext4`, mounted with `noatime`, and also `dm_crypt`. Can you or anyone reproduce the issue on `ext4`? And can you test with a regular user, rather than root, as I'm doing?

I realize now I never included my user-level `storage.conf`:

[code]

[2020-01-16 22:58] mtrmac commented on #2034
Thanks for your report.

This is mostly working as designed; the manifest digest references a _compressed_ version of the image, and that does not exist locally; it is created only in the remote registry when pushing the image. So, until the image is pushed, it is unknown what the digest _at that registry_ (it can actually differ if the registry does not support the original image format!) will be

[2020-01-17 12:11] saschagrunert commented on #2082
Hey @AndydeCleyre I can reproduce the issue with rootless buildah as well. Under root everything works as intended. I will now investigate how to fix it.

[2020-01-17 13:08] rhatdan commented on #2082
If you want to use buildah rootless with buildah mount, you have to first join the user namespace.

`buildah unshare`

Otherwise buildah mount will not work correctly.

[2020-01-17 13:24] saschagrunert commented on #2082
Okay, so the issue can be toggled by removing this line:
https://github.com/containers/storage/blob/master/pkg/archive/archive.go#L420

When running rootless buildah, we set the xattrs to `map[user.fuseoverlayfs.opaque:y]` for each file on the layer to be committed.

The issue can also be toggled by removing the `--rm` on `commit`, but I'm still not sure if the actual problem is in buildah, contai

[2020-01-17 13:33] saschagrunert commented on #2082
@giuseppe do you think that it might be possible that we somehow loose xattr related information on `buildah commit --rm` vs `buildah commit`?

[2020-01-17 13:34] matrohon opened #2090 "ADD inside dockerfile is very slow"
**Description**

I want to build an OCI image for https://github.com/intel/sriov-network-device-plugin

I first used the Dockerfile provided in images/Dockerfile with the command:

[code]

It ends up with an error. I can see in the log that only files in the "./images" directory are copied, which is why the make commands in the dockerfile report an error.

I then copied the Dockerfile at ~/sriov-n

[2020-01-17 13:56] rhatdan commented on #2090
We already have fixes for this in buildah 1.13.1

[2020-01-17 14:05] matrohon commented on #2090
great @rhatdan, thanks for the reply.

Actually, I had two issues here:

1. "ADD . dest_dir" only copies file from the location of the Dockerfile, not from the context
2. ADD is very slow.

I assume only the first point has been fixed?

[2020-01-17 14:22] rhatdan commented on #2090
ADD is very slow is fixed.
Not sure about the context dir.

[2020-01-17 15:13] georgek opened #2091 "Copying executable to mounted filesystem doesn't work"
If I mount a new container and copy in an executable, it is not available in the subsequent image. It does, however, work when using `buildah copy` instead.

**Steps to reproduce the issue:**
1. `container=$(buildah from scratch)`
2. `scratchmnt=$(buildah unshare buildah mount $container)`
3. `cp some_static_executable $scratchmnt/some_static_executable`
4. `buildah run $container ./some_static_ex

[2020-01-17 15:16] giuseppe commented on #2082
the `user.fuseoverlayfs.opaque:y` should be set only on a directory.  Do you see that also for files?

[2020-01-17 15:22] saschagrunert commented on #2082
Yeah right, sorry. It applies only to the directories.

[2020-01-17 15:43] giuseppe commented on #2082
I've tried the script but I am not able to reproduce locally.  I don't think we should store these attributes as they are used internally by fuse-overlayfs.

Let's fix it in fuse-overlayfs, while I try to reproduce the issue reported here, could you please check if https://github.com/containers/fuse-overlayfs/pull/172 solve the issue for you?

[2020-01-17 15:49] saschagrunert commented on #2082
Yes this solves the issue, thanks @giuseppe :)

[2020-01-17 16:11] giuseppe commented on #2082
thanks for verifying it so fast!

[2020-01-17 20:11] djhworld opened #2093 "Cannot copy builder artifacts from amd64 image to arm32v7 image"
**Description**

I have a Dockerfile that looks like this

[code]
I've previously been able to build a Docker imagine in this way fine but since upgrading podman it's broken and refuses to work with the error

[code]

**Steps to reproduce the issue:**
1. `podman build -t`

**Describe the results you received:**

Error

[code]

**Describe the results you expected:**

Image builds fine as it did bef

[2020-01-17 20:21] rhatdan commented on #2091
Did you run your script as root or non-root?

[2020-01-17 21:06] georgek commented on #2091
All non-root.

[2020-01-18 15:07] ttys3 commented on #2034
@mtrmac thanks for the reply.  but still I can not push multi arch image to docker hub:

the result page:
https://hub.docker.com/r/80x86/buildah-multiarch-demo/tags

the multi arch image push script:
[code]
the log:
[code]
since we saw the log: `Copying 0 of 2 images in list`

and the result is:
![2020-01-18_23-04](https://user-images.githubusercontent.com/41882455/72665814-f45bcc80-3a46-11ea-9d1b

[2020-01-18 16:55] mtrmac commented on #2034
I’m afraid I’m not yet familiar with the details of `buildah manifest`. @nalind ?

[2020-01-19 12:45] rhatdan commented on #2091
Can you try to run your script under `buildah unshare`

[2020-01-20 08:52] vrothberg commented on #2093
@djhworld, thanks for taking the time to open the issue.

The containers/image library is now doing some more rigorous checks of the os and architecture of a given image. As you're running an amd64 machine, Podman defaults to expecting amd64 images. If you want to force a non-native architecture, we can use `FROM --architecture=$ARCH $IMAGE` in the Dockerfile.

Unfortunately the `--architecture` p

[2020-01-20 09:19] dependabot-preview[bot] opened #2096 "Dependabot can't parse your go.mod"
Dependabot couldn't parse the go.mod found at `/go.mod`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/containers/update-logs/20941180).

[2020-01-20 09:57] georgek commented on #2091
It works if I run the whole script under `buildah unshare`. I thought it was only necessary when issuing the `buildah mount` command.

Is it recommended to always run scripts under `buildah unshare` when building without root? Maybe this should be added to the README section about rootless operation? The name "unshare" doesn't seem very intuitive (why is it called that?).

[2020-01-20 11:08] rhatdan commented on #2091
Any use of the mounted file system, requires the `buildah unshare`.
So at least
[code]
Has to be done in the user namespace via `buildah unshare`

[2020-01-20 12:49] rhatdan commented on #2093
Is this being worked on here? https://github.com/containers/buildah/pull/2097

[2020-01-20 12:52] vrothberg commented on #2093
No, that's another issue. #2097 relates to building an image and setting the os/arch here.

In this issue here the problem is that we are ignoring flags passed to the `FROM` stage, so we cannot control which image (os/arch) is being pulled.

[2020-01-20 14:10] danifv opened #2098 "Permission denied while running buildah image with docker"
**Description**

I can't get the buildah images working with the docker runtime without `--privileged`.
Unfortunately I can't change the container runtime but nevertheless I would prefer to use an unprivileged container for building instead of dind containers with a mounted socket.

**Steps to reproduce the issue:**
1. Ensure that "unshare" is allowed in your seccomp profile
2. Start a container w

[2020-01-20 14:49] danifv commented on #2098
That's clear, I was just thinking if there's a configuration option for buildah which allows it to work with whatever constraints docker applies.

[2020-01-20 14:56] vrothberg commented on #2098
@danifv you can try setting `BUILDAH_ISOLATION=chroot` in the container's environment. This way, Buildah will use `chroot` instead of setting up a user namespace.

[2020-01-20 14:59] vrothberg commented on #2093
I skimmed the `imagebuildah` code and it seems straight-forward to support parsing the flags but there is quite a number of internal maps used to cache and map images (and IDs), so I prefer @TomSweeneyRedHat and/or @nalind to have a look.

[2020-01-20 15:31] danifv commented on #2098
Unfortunately nothing changed - the error is the same.
Is there a way to get a more verbose error description?

[2020-01-20 23:40] rhatdan commented on #2098
I believe buildah package attempts to create a user namespace so that it can mount the file systems.  If Docker is blocking the unshare syscall,it will block buildah,

[2020-01-21 09:31] MichelMan opened #2099 "Running Buildah in gVisor"
**Description**
In my project, i tried to run Buildah (container Docker) in a sandbox with gVisor (runtime `runsc`). In order to isolate the building of the image.

I know that its possible with Kaniko (Refer to the documentation of Kaniko:
https://github.com/GoogleContainerTools/kaniko#running-kaniko-in-gvisor).

So after installed gVisor and configure my Docker, i executed my command Buildah wit

[2020-01-21 13:38] danifv commented on #2098
As @rhatdan pointed out `unshare` is needed, I get a
[code]
when I start a buildah command if I don't enable it.
Starting the container works properly, it's using buildah inside of it that I'm struggling with.

As the buildah image works properly with the podman runtime and I can get it working properly with docker if I add `--privileged` (and unshare to the seccomp profile), I wonder what other p

[2020-01-21 14:11] akospinter commented on #1969
It works properly now, thanks for that :)

Just one small comment: I needed to install the runc package manually. I think it would be beneficial if it was installed in the same step with buildah.

[2020-01-21 14:16] lsm5 commented on #1969
@akospinter ack, I guess buildah must've installed a `cri-o-runc` package by default. If the distro's `runc` package works well for you, I'll update the dependencies. I'd really like to not ship a `cri-o-runc`. Please let me know..

[2020-01-21 14:30] akospinter commented on #1969
It seems it works well. But after I installed runc (`sudo apt-get install runc`), I used buildah only for the following: building an image from a dockerfile, tagging, pushing it to a registry. So I haven't tried out all of the available functionalities.

[2020-01-21 17:48] TomSweeneyRedHat commented on #2099
@giuseppe any thoughts?

[2020-01-22 08:31] sophonet opened #2102 "ADD to symlink tar file messes up destination directory"
**Description**

If a Dockerfile contains a line ADD tarball.tar.gz DSTFOLDER and tarball.tar.gz is a symlink (e.g. tarball_latest.tar.gz), DSTFOLDER incorrectly gets augmented with tarball.tar.gz.

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**

Root in container lists (among other entries)

[code]

**Describe the results you expected:**

[code]

**Output of `rpm

[2020-01-22 09:39] mtrmac commented on #2096
Oh, wonderful. That looks like my fault — I force-pushed to that repo, and apparently that makes the commit reference break.

I have re-pushed that commit into a master-as-of-image-v5.1.0 branch , that could help.

[2020-01-22 12:36] lsm5 commented on #1969
just sent `1.12.0~4` to OBS, it will pickup runc by default. HTH.

[2020-01-22 15:03] TomSweeneyRedHat commented on #2102
@sophonet Thanks for the issue.  We'd a number of issues with symlinks that we've fixed, I thought we'd gotten this too.   Will take a look.

[2020-01-22 15:49] eqrx opened #2107 "Push of manifest list fails"
**Description**
Hello, I am trying to push an image manifest list I created with buildah to docker registry. This fails. I suspect this is the case because the mediaType "application/vnd.docker.distribution.manifest.list.v2+json" is not included on top level inside the manifest list. I just started to use buildah so I could also have messed something up. Thanks for your great work.

**Steps to rep

[2020-01-22 15:50] eqrx commented on #2107
Since the feature request for manifests is still open also see #1347

[2020-01-22 18:02] TomSweeneyRedHat commented on #2107
@nalind PTAL

[2020-01-22 22:35] TomSweeneyRedHat commented on #2102
@sophonet Are you getting any errors when you run the `podman build` command?  If so could you paste the error?  Also could you run with debug logging please?  `podman --log-level=debug build -t tartst .`

[2020-01-22 23:09] TomSweeneyRedHat commented on #2102
@sophonet in your Dockerfile you have:

`ADD tar`ball_latest.tar.gz`

That failed for me until I changed it to:

`ADD tarball_latest.tar.gz /`

This worked for me using upstream.  Can you verify that you ADD command has a target please?

[2020-01-23 07:36] sophonet commented on #2102
@TomSweeneyRedHat indeed, there was a typo in the problem description. I hade set the target as you have suggested before noticing the problem:

[code]
Building runs without giving me any errors (at least without the debug flag). With the debug flag turned on, I see the attached output.

[podmanbuildlog.txt](https://github.com/containers/buildah/files/4101792/podmanbuildlog.txt)

The interesting l

[2020-01-23 08:38] #2096 closed

[2020-01-23 15:44] TomSweeneyRedHat commented on #2000
Closing via #2039

[2020-01-23 15:44] #2000 closed

[2020-01-23 16:58] akospinter commented on #1969
I received the update and it still works, thanks :)

[2020-01-23 18:11] TomSweeneyRedHat commented on #2102
@sophonet thanks for the clarifications.  I wasn't sure if you were seeing an error during the command execution or incorrect behavior after the command ran "successfully".  Correct me if I'm wrong, but I think what you seeing is no error emitted from the `buildah bud` command when it runs, but when looking in the container the files aren't placed where you'd expect them to be.

I've just tried yo

[2020-01-24 04:46] rhatdan commented on #2098
You should be able to get this work by disabling seccomp rules.

`--security-opt seccomp=unconfined`
Don't need to disable all protections.

[2020-01-24 09:54] sophonet commented on #2102
Indeed the issue you describe is the one I have observed and which I have tried to capture in my initial problem description.

I was suspecting the lines [in buildah/util.go's copyFileWithTar that do a symlink check](https://github.com/containers/buildah/blob/6e277a2d8f4af200197d02a126f92351c2b15e21/util.go#L171) but I am not a tar/go expert.

[2020-01-24 16:02] sjug opened #2110 "buildah bud ADD directive doesn't support URLs"
**Description**
When building an image using `buildah bud` from a Dockerfile I get an error trying to `ADD` a file from URL.

**Steps to reproduce the issue:**
1. Have `ADD` instruction in Dockerfile.
2. Run `buildah bud` against above Dockerfile.
3. Error

**Describe the results you received:**
When I use the `ADD` instruction I get an error about `COPY` not supporting URLs.
[code]

**Describe th

[2020-01-24 16:08] TomSweeneyRedHat commented on #2110
I believe this was fixed via https://github.com/containers/buildah/pull/2019 which landed in v1.12.0.  Can you try a later version or upstream?

[2020-01-24 16:19] TomSweeneyRedHat commented on #2102
@sophonet, thanks for the confirmation, glad I'm on the same page as you.  I think I've a fix for the issue, but set it aside last night after the eyelids won their battle.  Need to test more today.  But I think the issue is higher up the chain than what you've spotted.  I think the issue is [here](https://github.com/containers/buildah/blob/master/imagebuildah/stage_executor.go#L456)

I think we n

[2020-01-24 18:24] cgeers commented on #1921
were you able to determine any solution to this? I'm faced with the same problem.

[2020-01-25 08:31] vrothberg commented on #1921
@lsm5 PTAL

[2020-01-26 03:27] astronouth7303 opened #2113 "runc not found (debian, project karmic)"
**Description**

Basically the same as #1754 but with a different distro and package.

Buildah is unable to find `runc`. I have it at `/usr/sbin/runc` from the `runc` package provided by debian. It's normal for debian to not have the sbin paths on `PATH` for normal users.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:*

[2020-01-26 17:48] rhatdan commented on #2099
Usually we recommend running buildah with --isolation chroot when running within a container.  You might want to try to use https://quay.io/user/buildah/stable for running buildah within a container.

[2020-01-27 20:56] sjug commented on #2110
Looks fine in the current version (v1.13.1)

[2020-01-27 20:56] #2110 closed

[2020-01-28 09:22] rsevilla87 opened #2116 "Podman push error: file integrity checksum failed"
**Description**

Podman fails when pushing some containers images to registry in rootless mode. It works well when executing the same build/push process with root user.

**Steps to reproduce the issue:**

This is just an example of an erratic container building process

1. $ git clone https://github.com/cloud-bulldozer/ripsaw.git --depth 1 && cd ripsaw

2. $ podman build -t quay.io/rsevilla/ripsaw

[2020-01-28 11:53] lsm5 commented on #1921
@apg036 @cgeers I'm guessing you can use centos7 packages, yes? Could you try that first from the default centos repos? Also, RE: newer packages for CentOS, I'm working on sending Fedora rebuilds for CentOS to the kubic project repositories on OBS. Will update the docs when ready..

[2020-01-28 12:05] lsm5 commented on #1921
In case you wanna try a quick sample, you can get centos conmon package from kubic:libcontainers:testing repo. See: https://software.opensuse.org//download.html?project=devel%3Akubic%3Alibcontainers%3Atesting&package=conmon

buildah and others will follow..

[2020-01-28 13:45] TomSweeneyRedHat commented on #2116
I think this might belong under Podman, not Buildah.  @mheon @baude should I move this over?

[2020-01-28 13:46] TomSweeneyRedHat commented on #2116
Regardless, @rsevilla87 thanks for the issue report.

[2020-01-28 13:49] danifv commented on #2098
@rhatdan unfortunately this wan't enough, but in the end through some laborious yet rewarding debugging I found that restrictions for **mount** have to be relaxed in both **seccomp** and **apparmor**.
Thank you for your help though!
For reference, **unshare** was enabled from the beginning as mentioned in the original issue.

I realize that this issue board is for buildah, but if this doesn't viol

[2020-01-28 18:31] bengland2 commented on #2116
I've consistently had this happen to me as well.   I tried all the google-search remedies, including podman system purge -a

[2020-01-29 20:00] stefan-sf opened #2123 "writing file '/proc/[pid]/gid_map': Operation not permitted"
After a fresh installation of Fedora 31 I run into the following problem:

[code]

My first guess was that it is a duplicate of !1745, however, I'm not sure anymore about that since package `fuse-overlayfs` is installed. Any idea what could be wrong?

**Output of `buildah version`:**

[code]

**Output of `podman version` if reporting a `podman build` issue:**

[code]

**Output of `cat /etc/*releas

[2020-01-29 20:41] #2102 closed

[2020-01-29 22:44] TomSweeneyRedHat commented on #2123
@giuseppe could you take a quick peak please?

[2020-01-30 08:35] giuseppe commented on #2123
could you please show the output for?

[code]

[2020-01-30 08:43] rsevilla87 commented on #2116
No movement here so far :_(  @TomSweeneyRedHat Do you want me to open it under podman?

[2020-01-30 10:19] stefan-sf commented on #2123
sure here it is:
[code]

[2020-01-30 13:03] TomSweeneyRedHat commented on #2116
@rsevilla87 I've just moved it to https://github.com/containers/libpod/issues/5026 and tried to tag you and @bengland2 there.  I'm going to close this issue as we'll track the problem fix in the Podman issue.

[2020-01-30 13:03] #2116 closed

[2020-01-31 03:17] jeffh-id opened #2127 "Security Extended Attributes are not preserved using buildah"
**Description**

**Steps to reproduce the issue:**
1. Sign a file using evmctl
2. Include a copy of the file in a buildah image. For example, a Dockerfile with "COPY mycmd.sh /myapp, where mycmd.sh is signed.
3. build the image using buildah. For example, "buildah bud -t myapp ."
4. Find the layer directory where the mycmd.sh file is added to the image and execute "getfattr -n security.ima mycmd.s

[2020-01-31 09:34] vrothberg commented on #2034
Friendly ping.

[2020-01-31 12:38] vrushaliinamdar opened #2128 "Installation of buildah on UBI8 based container"
**Description**
Getting following error while installing buildah 1.14.0 on UBI8 container. Could you please guide me on this?

Installing dependencies:

Running transaction check
Error: transaction check vs depsolve:
**rpmlib(PayloadIsZstd) <= 5.4.18-1 is needed by crun-0.11-1.fc32.ppc64le**
To diagnose the problem, try running: 'rpm -Va --nofiles --nodigest'.
You probably have corrupted RPMDB, ru

[2020-01-31 16:19] TomSweeneyRedHat commented on #2127
Thanks for the report @jeffh-id, looking into it.

[2020-02-01 12:20] Panke opened #2130 "segmentation violation: main.getDateAndDigestAndSize"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**Description**
$ buildah images segfailts in main.getDateAndDigestAndSize after loading minified oci-archives created wit

[2020-02-03 13:33] MichelMan commented on #2099
Thanks @rhatdan,

i already used  https://quay.io/user/buildah/stable for running buildah within a container.
Even with the `--isolation` chroot, I have the same error when running with gVisor (`runsc`):

[code]

[2020-02-03 14:23] ttys3 opened #2136 "need solution to deal with command which need both single and double quote combined with pipe or output redirection"
**Description**

I've  already read [Troubleshooting Guide](https://github.com/containers/buildah/blob/master/troubleshooting.md#3-buildah-run-command-fails-with-pipe-or-output-redirection) about the solution to "buildah run command fails with pipe or output redirection"

take this as an example:  https://github.com/docker-library/php/blob/703a3d0a4e4c149bfd62fc3e7b71645f9496b178/7.4/alpine3.11/fp

[2020-02-03 19:04] mraszplewicz commented on #2041
Hi,

I finally had enough time to learn some go basics and tried to implement a bugfix. I have some doubts:
1. If I implement what docker does - adding a new LABEL layer, it will invalidate my use case of using labels. I wanted to use them to find an image when build failed. I actually already implemented it and it looks a little bit "clever" or hacky - I am adding new parser.Nodes in stage_execut

[2020-02-04 06:05] dofinn commented on #1994
Also replicated on F31

[code]

Buildah

[code]

This works:

[code]

This fails:

[code]

[2020-02-05 17:29] carlpett commented on #1714
@giuseppe @rhatdan Could this have regressed? I noted unexpectedly long build times again today, 5 seconds for COPYing 480 kB. I'm on podman 1.7.0. Tried with `buildah bud` too, same timings there.

Unfortunately, I can no longer easily make a 1:1 comparison with Docker since I'm on Fedora 31 (cgroups v2 support still seem to be a future addition to Docker), but I did a (somewhat synthetic) test b

[2020-02-05 18:41] TomSweeneyRedHat commented on #1714
I know we'd some speed issues concerning .dockerignore in Podman 1.7/Buildah 1.12.0 that were fixed in Buildah 1.13.0 and 1.13.1.  I wonder if this is what you're hitting @carlpett ?

[2020-02-05 18:52] carlpett commented on #1714
@TomSweeneyRedHat I do not have a .dockerignore file, if that was the question?
As I recall this issue was originally found to be related to .dockerignore too (since it was marked as fixed by #1715), so that would be a regression if it has crept back, I suppose?

[2020-02-05 19:14] TomSweeneyRedHat commented on #1714
@carlpett thanks for the info on the .dockerignore file.   It might be the regression I know that @nalind has been working away on a number of performance improvements over the past few releases.

[2020-02-06 23:04] edsantiago opened #2147 "digest test: needs a complete rewrite"
`tests/digest.bats` is confusing, misleading, and unreliable.

First, per Nalin, the goal of this test:

The problems I see:

* as admitted above, the actual tests are wrong: several of the tests labeled "s2" are actually s1. This took me __far__ too long today to actually figure out.
* In addition, the current test script does not actually confirm `schemaVersion`. If a test is labeled "s2", it sh

[2020-02-06 23:04] edsantiago commented on #2147
@nalind @cevich @TomSweeneyRedHat  comments/feedback welcome

[2020-02-06 23:28] chanseokoh commented on #1407
FYI, [Tekton](https://github.com/cri-o/cri-o/issues/2351#issuecomment-583158833) uses both a tag and a digest.

[2020-02-07 13:50] cevich commented on #2147
@edsantiago your bullet-points in the description are all on-the-money.  Please feel free to do what's needed with libpod repositories on quay.  Historically it's been far more reliable than either fedoraproject.org or docker.io (whatever the cause).

There's also local registry available.  After #2115 merges, it is [setup here](https://github.com/containers/buildah/blob/master/contrib/cirrus/lib.

[2020-02-08 13:18] rhatdan commented on #1684
Is buildah bud -v SECRETPATH:DESTPATH ...
Enough to satisfy this requirement?

[2020-02-09 06:04] NobodyXu opened #2152 "rootless podman build failed to commit"
**Description**

`podman build -t test .` failed to commit container for result of `RUN echo Hello, world!`.

The `.` directory contains `Dockerfile`:

[code]

**Steps to reproduce the issue:**

I installed podman in the following steps:

 1. Install packages `slirp4netns` and `fuse-overlayfs` for rootless podman.
 2. Add podman.conf to  to `/etc/sysctl.d/`

[code]

 3. sudo modprobe overlay 'perm

[2020-02-09 18:09] brianbruggeman commented on #156
I think the goal, from a Mac and/or Windows perspective, is to use `buildah` because we don't want to have to run a resource intensive service like docker _just_ to build and manage the life cycle of an image.

More generally, if any tool worked natively on my desktop platform without the requirement for an extra service to run, that's a win (think of it like a standard compiler).  If we have to u

[2020-02-10 05:34] mythi opened #2153 "make install.cni.sudo fails"
**Description**
The CNI git tree has no `build.sh` anymore so `make install.cni.sudo` fails.

**Steps to reproduce the issue:**
1.  `make install.cni.sudo`

**Workaround:**
1.  `sed -i -e 's/build\.sh/build_linux\.sh/' Makefile`
2. `make install.cni.sudo`

[2020-02-10 05:58] NobodyXu commented on #2152
I tried to remove all image and rebuild the `Dockerfile` using storage driver `vfs`, and it works:

[code]

This seems somewhat similar to issue #2084 , except the error is different and I run as non-root and unprivileged.

[2020-02-10 12:59] rhatdan commented on #156
We are working with `podman build` to run on a Mac or Windows.  Not Buildah, although `podman build` embeds the buildah code within it.
On a MAC and Windows we require you to use a VM, just Like docker does, that is running podman inside of it.

On Windows WSL2, people have had success with running podman there as well.

[2020-02-10 13:07] rhatdan commented on #2153
Please open a PR to fix?

[2020-02-10 13:46] jorgemoralespou commented on #156
You mean containers/libpod will create binaries for mac, windows and linux? AFAIK, it doesn't even have a binary that can be directly downloaded from GitHub, but comes only packaged in Linux distro managers. Where would we be able to find these binaries?

[2020-02-10 14:07] rhatdan commented on #156
On a MAC you should be able to do
brew install podman.

If you go to https://github.com/containers/libpod
and search for Windows or MAC, there are links their to install.

[2020-02-10 17:23] kfox1111 commented on #1684
Its a slightly different api then that. I'm using it here:
https://github.com/kfox1111/hubbuildtools/blob/master/hubhookhelpers/build#L33
and here:
https://github.com/pnnl-miscscripts/miscscripts/blob/master/containers/rpms-containerd/Dockerfile

Half of the mount info is on the command line. The other half is in the Dockerfile at the RUN

While you could have just one -v option and that would sol

[2020-02-10 17:48] mythi commented on #2153
Done.

[2020-02-10 20:25] astronouth7303 opened #2158 "PATH being reset"
**Description**

`$PATH` is being reset from the image and container config.

This is possibly related to https://github.com/containers/libpod/issues/4812

**Steps to reproduce the issubuildae:**
1. `buildah from rust:buster`
2. `buildah config $c` (Notice `Config.config.Env` and `Config.container_config.Env`)
3. `buildah run $c -- env`

The config lists:
 `PATH=/usr/local/cargo/bin:/usr/local/sbi

[2020-02-11 14:12] rhatdan commented on #2158
Seems to work with 1.12.0 on fedora 31

$ buildah --version
buildah version 1.12.0 (image-spec 1.0.1-dev, runtime-spec 1.0.1-dev)

$ buildah run $c env
PATH=/usr/local/cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[2020-02-11 14:12] rhatdan commented on #2158
Broken in master.
 ./buildah --version
buildah version 1.15.0-dev (image-spec 1.0.1-dev, runtime-spec 1.0.1-dev)
[dwalsh@localhost buildah]$ ./buildah run $c env
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[2020-02-11 18:56] disaster123 opened #2161 "podman build fails with error copying layers and metadata for container "X": Error initializing source containers-storage:php-working-container: error extracting layer"
I'm trying to build a custom image via rootless podman while using fuse-overlayfs but it failes with:
[code]

**Steps to reproduce the issue:**
0. ```ssh nonrootuser@system```
1. ```echo -e 'FROM php:7.2-apache\nRUN echo\n' >test2```
2. ```podman build -t test2 -f test2```

**Describe the results you received:**

Complete output:
[code]

**Describe the results you expected:**

image gets commited

[2020-02-11 19:03] rhatdan commented on #2161
Is this podman running rootless?
If yes what version of fuse-overlay are you using?
Does it work if you run as root?

[2020-02-11 19:10] disaster123 commented on #2161
* Yes this is rootless.
* fuse-overlayfs: 0.3-1
* Yes it works as root

[2020-02-11 19:14] rhatdan commented on #1684
Strange looking at this command line.
docker build --no-cache --progress=plain --secret "id=gpg,src=$GPGKEY" -t tmp$$:1 . "$@"
I don't see --progress or --secret documented?
$ docker --version
Docker version 19.03.5, build 633a0ea838

In man pages or in docker build --help?

[2020-02-11 19:15] rhatdan commented on #1684
Also I have never seen this syntax before
[code]

[2020-02-11 19:16] disaster123 commented on #2161
@rhatdan if you need anything else i'm happy to provide it

[2020-02-11 19:32] disaster123 commented on #2161
OK this was easy to fix. I backported fuse-overlayfs_0.7.6-1 to debian buster - now everything works fine. Not sure whether opensuse kubic should provide an up2date fuse-overlayfs_0.7.6-1 version.

[2020-02-11 19:43] kfox1111 commented on #1684
Its documented here:
https://docs.docker.com/develop/develop-images/build_enhancements/
Under the section:
New Docker Build secret information

The --progress=plain is also documented on that page.

[2020-02-11 20:26] rhatdan commented on #2161
@lsm5 Can you update the fuse-overlay for kubic.  @disaster123 It should be providing an updated version.

[2020-02-11 20:28] rhatdan commented on #1684
Great, but it is not in a released/supported Docker yet, correct?

[2020-02-11 20:51] kfox1111 commented on #1684
Its been a while since I looked closely. It was experimental when I wrote the code initially. But I think its released/supported now:
https://github.com/moby/buildkit/tree/docker-19.03/frontend/dockerfile/instructions has reference to secret support.
Looks like as of 19.03 at least, you still need to do:
export DOCKER_BUILDKIT=1
before docker build.
docker build --help then does look to have the o

[2020-02-11 21:10] rhatdan commented on #1684
Cool, interested in porting the code to buildah?

[2020-02-11 21:15] kfox1111 commented on #1684
Too much to do, and too little time right now. Sorry. :/

[2020-02-11 21:18] rhatdan commented on #1684
No problem, hopefully we can get someone to work on it.

[2020-02-11 21:37] #2153 closed

[2020-02-11 22:44] TomSweeneyRedHat commented on #2161
@disaster123 tyvm for the issue and for helping us chase it down so quickly!

[2020-02-12 00:41] TomSweeneyRedHat commented on #2158
It's probably end of day brain, but just want to check what I'm seeing.
When I do:

[code]

The path I'm seeing does not have `/usr/local/cargo/bin` either before or after the config is run.  However, if I do : `buildah inspect rust-working-container | grep PATH`  I see `/usr/local/cargo/bin` in that output.

Is that what you two are seeing?  Based on the description, I thought `cargo/bin` would b

[2020-02-12 00:42] TomSweeneyRedHat commented on #2158
I should have said if I do the inspect command before or after the config, I'm seeing `cargo/bin`

[2020-02-12 03:42] astronouth7303 commented on #2158
I think you got some end of the day brain. I did not mean "the right invocation of commands will change PATH". I did mean "depending on how you ask, PATH will have different values".

[2020-02-12 14:37] lsm5 commented on #1921
@apg036 @cgeers ping, can you try this please:

[code]

I'll do a doc update for centos7 and include amazon linux 2 in there.

[2020-02-12 16:15] voky opened #2163 "COPY in Dockerfile does not copy subdirectories"
**Description**

If using buildah bud with a Dockerfile that includes `COPY dir dir/`, where dir on the hosts includes files and subdirectories, buildah isn't copying anything. With docker it is working as intended (https://docs.docker.com/engine/reference/builder/#copy) (all content including subdirectory structure is copied if not already existing in the container).

buildah doesn't give any err

[2020-02-12 21:03] matpen commented on #1818
Friendly ping.

[2020-02-13 15:11] TomSweeneyRedHat commented on #1818
@giuseppe thoughts?

[2020-02-14 16:36] nforro commented on #1714
I seem to be hitting this as well on Fedora 30, no `.dockerignore`, COPYing 41MiB:

**podman 1.7.0**:
[code]

**buildah 1.12.0**:
[code]

**docker 19.03.6**:
[code]

[2020-02-15 19:21] TomSweeneyRedHat commented on #1928
@edsantiago Can you give this a quick spin again please?  It's working for me at this point on F31 and Buildah upstream.  IDK if that's just coincidence or not.

Also the -q output above showing the date was a bug.  That should not have been shown prior and has been corrected.

[2020-02-15 19:24] TomSweeneyRedHat commented on #1853
Closing with #1860

[2020-02-15 19:24] #1853 closed

[2020-02-15 20:16] TomSweeneyRedHat commented on #2163
@voky thanks for the issue report.  We did a lot of tinkering in the work for Buildah v1.13.1 in the copy area and this is working for me now in upstream.  I'm going to close this now, feel free to open if you find newer versions of Bulidah don't work for you.

Test run:

[code]

[2020-02-15 20:16] #2163 closed

[2020-02-15 20:21] TomSweeneyRedHat commented on #2128
@vrushaliinamdar can you tell us the steps you took to setup the UBI8 container please?  Also how you went about installing Buildah on the container?

[2020-02-15 20:21] TomSweeneyRedHat commented on #2113
@lsm5 PTAL

[2020-02-15 20:32] TomSweeneyRedHat commented on #2098
@rhatdan can you reply to danifv and close this out please?

[2020-02-15 20:33] TomSweeneyRedHat commented on #2083
I'm going to close this issue.  @sjkeerthi please feel free to open another issue if you have further questions or problems.

[2020-02-15 20:33] #2083 closed

[2020-02-15 20:34] TomSweeneyRedHat commented on #2060
Closing this issue as it was addressed with Qi's fixes.

[2020-02-15 20:36] TomSweeneyRedHat commented on #2047
As this appears to be addressed in Buildah based on @gireeshpunathil 's comments, I'm closing this.  @gireeshpunathil Please feel free to open another issue if things aren't going as expected with Buildah.

[2020-02-15 20:36] #2047 closed

[2020-02-15 20:38] TomSweeneyRedHat commented on #2046
I believe the questions have been answered, so I'm closing this PR.

[2020-02-15 20:38] #2046 closed

[2020-02-15 21:35] TomSweeneyRedHat commented on #2017
@vrothberg I took a quick look and it looks like the dockerclient was getting a panic somewhere after calling PutBlob.  The fun is now we've moved on to image/v5 and this was reported against image/v4.

I'd like to close this until we see another occurrence unless you want to take a deeper dive.

[2020-02-15 21:39] TomSweeneyRedHat commented on #875
As this has been opened for over 6 months and no response or further incidents, I'm closing.

[2020-02-15 21:39] #875 closed

[2020-02-15 21:40] TomSweeneyRedHat commented on #1454
I don't believe there's further work for this issue.  Please spin up a new one if you've other questions or concerns.

[2020-02-15 21:40] #1454 closed

[2020-02-15 21:42] TomSweeneyRedHat commented on #1656
I don't believe there's further work on this issue given the above discussions.  I'm closing it.  @kameshsampath thanks for the discussion, please open a new issue if you've further concerns.

[2020-02-15 21:42] #1656 closed

[2020-02-15 22:01] andrew-aladev opened #2165 "Please use /tmp instead of /run/user/${uid} as runtime or temp path"
Hello. It is not possible today to use rootless `buildah` with `screen` or `tmux`.

1. Make login using `ssh host`.
2. `mount | grep /run/user`:
`none on /run/user/1000 type tmpfs (rw,relatime,mode=700,uid=1000)`
3. `sudo umount /run/user/1000`.
4. `exit`.
5. Make login using `ssh host` once again.
6. `mount | grep /run/user`:
`none on /run/user/1000 type tmpfs (rw,relatime,mode=700,uid=1000)`

We

[2020-02-15 22:28] andrew-aladev commented on #2165
I am proposing the following patch https://gist.github.com/andrew-aladev/ff07c2ce331fba96918b0a8af62f6afd

[2020-02-15 22:42] TomSweeneyRedHat commented on #1447
I just gave this a go and it worked fine for me.  We've had a number of changes in how podman and buildah handles images over the past year, especially focusing on making things happy between the two projects.  I just tried to duplicate without success using the latest upstream.  I'm going to close this now.  Please open a new issue if you find this is still a problem.

[2020-02-15 22:42] #1447 closed

[2020-02-15 22:43] TomSweeneyRedHat commented on #1453
I'm making the executive decision to close this given travis is no longer in the picture.  @vrothberg please reopen or create a new issue if you feel otherwise.

[2020-02-15 22:43] #1453 closed

[2020-02-15 22:48] TomSweeneyRedHat commented on #1503
Still an issue in 1.15.0-dev

[2020-02-15 22:53] TomSweeneyRedHat commented on #1675
Fixed with #1959 which has since been vendored into Podman.

[2020-02-15 22:53] #1675 closed

[2020-02-15 22:55] TomSweeneyRedHat commented on #1923
@lsm5 any update?

[2020-02-15 22:58] TomSweeneyRedHat commented on #1837
@atefBB I know @lsm5 has been doing a lot of work in the packaging department in terms of overlayfs.  Is this still an issue with the latest versions of Buildah?

[2020-02-15 23:13] TomSweeneyRedHat commented on #1764
We've cut the time by almost 2/3'rds, but still not as much as Docker.
[code]

[2020-02-15 23:16] TomSweeneyRedHat commented on #1815
As we now use TMPDIR and set it to /var/tmp if the user had not via #2022, I'm going to close this issue.

[2020-02-15 23:16] #1815 closed

[2020-02-16 11:54] carlpett commented on #1714
@TomSweeneyRedHat Ok! Should this issue be reopened, or is there another one I can track?
Relatedly, are there plans for a performance regression test?

[2020-02-16 23:32] offbynull opened #2166 "Crash on custom TMPDIR env var"
**Description**

Running the following buildah with a custom TMPDIR env var leads to buildah erroring out with a strange error...

[code]

it fails with the following error...

[code]

All the directories referenced in the arguments were created prior to the command running. It's my understanding that Buildah shouldn't be accessing `/root` at all given that I'm setting both the --root and --runroo

[2020-02-17 07:31] vrothberg commented on #2017
I concur. It's hard to defend against misconfigured proxies.

[2020-02-17 07:31] #2017 closed

[2020-02-17 13:03] lsm5 commented on #2113
@TomSweeneyRedHat remind me how buildah searches for runc? IIRC, podman has the paths available by default in a config file, can buildah reuse those?

[2020-02-17 13:14] stefan-sf opened #2168 "Privileges not correctly set for buildah"
While using latest buildah version I run into the following bug:

[code]

I can somehow reproduce this with podman whenever I'm not using `--privileged`:

[code]

With `--privileged` it works for me:

[code]

**Output of `ls -l  /usr/bin/newuidmap /usr/bin/newgidmap`:**

[code]

**Output of `getfattr -d -m '.*' /usr/bin/newuidmap /usr/bin/newgidmap`:**

[code]

**Output of `rpm -q buildah` or `apt

[2020-02-17 13:15] stefan-sf commented on #2123
WFM since buildah update 1.14.0

[2020-02-17 13:15] #2123 closed

[2020-02-17 13:36] lsm5 commented on #1923
@pixdrift have you tried the latest packages from OBS? See: https://github.com/containers/buildah/blob/master/install.md

[2020-02-17 13:39] lsm5 commented on #1837
Getting our tools to build on 16.04 on OBS is a huge pain because of a very old golang. I'm hoping people can move to a newer Ubuntu version (18.04+), and a new LTS should be coming out soon as well.

[2020-02-17 14:14] rhatdan commented on #2168
This looks like it might be a s390x issue.
Could you try the podman command without --privilege, but with --cap-add all.
I would figure this is a linux capability issue in the kernel.
If this fails, then it could be a seccomp issue, try with

--security-opt seccomp=unconfined

[2020-02-17 14:49] stefan-sf commented on #2168
Podman with `--cap-add all` works for me:

[code]

Also `--security-opt seccomp=unconfined` seems to work fine:

[code]

[2020-02-17 15:11] rhatdan commented on #2168
Ok it seems to be a seccomp issue then.
See if there is anything reported about SYSCALLs in /var/log/audit/audit.log.
Some SYSCALL is being denied by default on s390.

[2020-02-17 15:16] rhatdan commented on #2165
Please open an issue in github.com:/containers/storage
The buildah name will get rejected there.

[2020-02-17 15:23] TomSweeneyRedHat commented on #2113
@lsm5 I believe we look for it in /usr/bin/runc

[2020-02-17 15:23] stefan-sf commented on #2168
It seems to be `clone` which fails:

[code]

[2020-02-17 15:31] #2165 closed

[2020-02-17 15:36] lsm5 commented on #2113
and what's the right way to specify a non-default path?

[2020-02-17 15:40] TomSweeneyRedHat commented on #2113
I'll let @rhatdan handle that one @lsm5

[2020-02-17 15:50] jschewebbn commented on #1034
I'm using podman 1.6.2 and still seeing this issue of images being prefixed with "localhost/".  Should this still be the case? This makes compatibility with docker scripts difficult as the image names aren't the same.

[2020-02-17 15:54] edsantiago commented on #1928
With `buildah-1.14.0-0.31.dev.git82ff48a.fc32.x86_64` I no longer see the difference in behavior:
[code]
What surprises me is the duplicate duplicate SHA at the end; do I remember correctly that this was reported and fixed earlier? Am I just running a build that doesn't include that fix?

Anyhow, closing, since it does seem to be fixed. Thanks.

[2020-02-17 15:54] #1928 closed

[2020-02-17 16:01] TomSweeneyRedHat commented on #1928
Thanks @edsantiago The double id there was just recently fixed.  It will be in 1.14.1 or 1.15.0 which ever goes out next.

[2020-02-17 17:59] rhatdan commented on #2168
It seems that clone is the culprit. you could easily add this to /usr/share/containers/seccomp.json and it should work.  The question I have is should we allow it for everyone by default?  How big of a risk would it be to allow all containers to have the clone syscall?
Why does s390x need this by default when doing network connections?
Is there a way in the seccomp.json file to only allow the clon

[2020-02-17 18:01] rhatdan commented on #2168
If you modify /usr/share/containers/seccomp.json with this
[code]
Does this fix the problem?

[2020-02-17 18:22] TomSweeneyRedHat commented on #1034
I'm still seeing it on v1.8.0 too, but thought it had been fixed.  I'm going to reopen this so it can be chased down.

[2020-02-17 18:26] nalind commented on #2166
I'm not sure `$TMPDIR` is involved here, since it isn't used when computing the path of the `storage.conf` configuration file.  Usually that's going to be affected by `$HOME`.  If changing `$HOME` to point to a directory that you have access to doesn't prevent the error, can you paste the output of `env` so that I can hopefully more easily reproduce the problem?

[2020-02-17 18:28] jschewebbn commented on #1034
@TomSweeneyRedHat  do you know of a work around that I can use until this is fixed? Is there a way to tell podman to not prefix the tag with "localhost/"?

[2020-02-17 18:45] nalind commented on #2158
Bisecting points to #2011 as the point where this breaks.  @TomSweeneyRedHat mind if I take this one?

[2020-02-17 18:57] stefan-sf commented on #2168
Yes, this fixes the problem for me. Interestingly, something must have changed between F30 and F31 w.r.t. networking since in F30 this is not required.

[2020-02-17 18:59] rhatdan commented on #2158
It's yours.

[2020-02-17 19:02] rhatdan commented on #2168
Ok I will make a change in the seccomp.json file to handle this.

[2020-02-17 19:42] nalind commented on #2130
Just opened #2169, which should fix this (the line number info pointed right to it, thanks!).  If you're able to build from the branch in the PR to confirm the fix, that'd be great.

[2020-02-17 19:52] rhatdan commented on #2113
@TomSweeneyRedHat We should move to supporting it similarly to how podman does. We have containers.conf in the system now, so buildah should walk the list of runtimes and find one to make it work.
@TomSweeneyRedHat Could you look into making this happen?

[2020-02-17 19:54] yselkowitz commented on #2002
Actually, this is needed for s390x too for the same reason.  quay.io now supports manifest list images for all projects, and Fedora has base images for all its arches, so this is just a matter of changing how you build and push your images to cover these arches as well.

[2020-02-17 20:06] rhatdan commented on #2168
Fixed in skopeo-0.1.41-2.fc31

[2020-02-17 20:06] #2168 closed

[2020-02-17 21:16] nalind commented on #2128
`rpmlib()` dependencies are used to mark features that a package requires from RPM itself.  In this case it looks like the `crun` package's contents (or "payload") are compressed using the zstd library, but the version of RPM in the container predates that feature, so it wouldn't know how to decompress it, and you get an error instead of a failure further on in the process.

To check whether or no

[2020-02-17 21:23] TomSweeneyRedHat commented on #1034
I tried playing with it, but I didn't find a quick clean way to do so.  However, when referencing the image, you can ignore the 'localhost/' part of it.  For instance, in the above example you could do:

`podman inspect bodhi-ci/f27`

and that works, does that make it better for your use case @jschewebbn ?

[2020-02-17 22:00] jschewebbn commented on #1034
The problem that I have is that I'm creating images and then saving them to a docker archive file to transfer and the names of the images have "localhost/" prefixed and then when I try and load the images from the file on the other end with a script not expecting the "localhost/" the script fails.

[2020-02-17 22:47] mathstuf opened #2171 "Podman 1.6.4 complains about systemd cgroup flag (1.4.2 worked)"
**Description**

`podman build` now fails where it used to succeed.

Build script: https://gitlab.kitware.com/cmb/cmb-superbuild/blob/master/.gitlab/ci/build-cmb-image.sh
Dockerfile being used: https://gitlab.kitware.com/cmb/cmb/tree/master/.gitlab/ci/docker/fedora31
Working build: https://gitlab.kitware.com/cmb/cmb-superbuild/-/jobs/4804800 (podman 1.4.2)
Broken build: https://gitlab.kitware.com/

[2020-02-18 04:15] ttys3 commented on #2034
I think I'd better create a new issue about buildah manifest

[2020-02-18 04:15] #2034 closed

[2020-02-18 10:08] stefan-sf commented on #2168
Thanks for your help!

[2020-02-18 10:24] iii-i commented on #2168
I think `/usr/share/containers/seccomp.json` already has an entry for `clone` that filters for `flags` argument, it's just that crun does not apply it correctly. This crun [upstream fix](https://github.com/containers/crun/commit/08efb1e31597a435c7afd59e844d35c4888841e9) has fixed the issue for me.

[2020-02-18 16:25] nalind commented on #2107
This turns up some things we need to fix in buildah (#2172) and could change in the image library (https://github.com/containers/image/pull/820) to make the experience of pushing lists to registries smoother, but after trying with those patches added, I'm not sure the github registry supports manifest lists.

When I try to push a manifest list to docker.pkg.github.com, I get a `manifest invalid: I

[2020-02-18 16:37] TomSweeneyRedHat commented on #1034
@jschewebbn can you tell me the commands that you're using to save the docker archive file and then the command(s) the script is not happy with when trying to load it?

I tried playing with buildah push/pull to a docker-archive and I wasn't seeing the localhost in that output or the inspects that I did.  These are the play commands that I used:
[code]

[2020-02-18 16:41] jschewebbn commented on #1034
[code]

[2020-02-18 16:55] jschewebbn commented on #1034
The workflow that I've been doing with docker is this:
[code]
Copy archive.tar to another host.
[code]

Perhaps I'm doing some things incorrectly as my docker knowledge is pretty basic.

[2020-02-18 19:49] #2130 closed

[2020-02-18 22:13] offbynull commented on #2166
Ahhh I think you're correct. It seems other than TMPDIR, my environment variables were getting thrown away.

Apologies for the faulty report and thank you for the quick response.