[2022-01-10 18:31] vans163 opened #3700 "podman build --cpuset-cpus= is not working"
/kind bug

**Description**

using `podman build` with `--cpuset-cpus=` does not bind the threads to the physical cores. `podman run` works fine.

**Steps to reproduce the issue:**

[code]
[code]
Observe as all CPUs are flooded at 100% with work.

[code]
Observe as only CPU 0 is flooded at 100% with work.

**Describe the results you expected:**

Expect `podman build` to work equivalent to `podman r

[2022-01-10 19:41] rhatdan commented on #620
@flouthoc Please help.

[2022-01-10 20:24] flouthoc commented on #620
Container images could contain images which are made of multiple layers. Layers could have `digests` and `history`. Mostly `history` should be enough to tell if layer can be used as cache or not. By `metadata` if you mean history , then yes if `layer` is missing history then we cannot use that in `cache`. @nalind Please correct me if i got anything wrong here.

Sure if you agree then I'd like to t

[2022-01-10 21:23] rhatdan commented on #3700
Looks like this is a podman issue.

[2022-01-10 21:43] rhatdan commented on #3700
I am trying to scan down through the code and it looks like both pass the same spec to crun. So not sure why you are seeing differences.

[2022-01-10 21:43] rhatdan commented on #3700
Please check if Buildah has the same problem.

[2022-01-11 02:17] vans163 commented on #3700
I can confirm buildah has the same problem
[code]

[2022-01-11 11:10] rhatdan commented on #3700
Weird since Podman and Buildah seem to use the exact setup the OCI runtime the same.

@giuseppe Thoughts?

[2022-01-11 14:09] vans163 commented on #3700
Im wondering if anyone else runs that exact same code does it happen for them?  I am on Jammy Dailies, 22.04 Ubuntu. With 5.13 kernel and cgroupsV2, maybe something is misconfigured. Though.. for podman `--cpuset-cpus=0` correctly works, maybe buildah is not playing nice with latest releases?

[2022-01-11 17:40] giuseppe commented on #3700
are we using the systemd cgroup manager with buildah?

If we are using cgroupfs, then it works only for root

[2022-01-12 13:05] Luap99 opened #3705 "RFC: buildah bud cache network namespace for all run statements"
When building a dockerfile with more than one run statement and private networking set, buildah will create a new network namespace each time. Network setup and teardown is slow especially for CNI (60-100 ms on my laptop just for one setup). I think we can improve the build time when we reuse the network namespace.

One problem with this could be when a process is modifying the network namespace a

[2022-01-12 15:30] learnitall commented on #620
Ah I see, ok. Thank you for the explanation @flouthoc, please go for taking a stab at it! I'll try to learn as much as I can from your work. Thanks y'all for giving me a chance to work on this, I definitely learned a lot so far but getting some help would be a good way forward.

[2022-01-12 19:05] totph opened #3708 "buildah 1.23.1 as root: error extracting layer "a08e1c4f[..]": cannot mount layer, mount label "" too large 4103 > page size 4096"
**Preface**: Even though buildah is _not_ running rootless, this is also fixed by using [fuse-overlayfs](https://github.com/containers/buildah/blob/2d822034f880e802e6f7021c5e/troubleshooting.md#6-rootless-buildah-build-fails-when-using-overlayfs), here via
`export STORAGE_OPTS="overlay.mount_program=/usr/bin/fuse-overlayfs"`

It is still present in version `1.24.0-dev / Git Commit:   d744ebc4` whe

[2022-01-12 19:34] cevich opened #3710 "CI-Flake: bud-multiple-platform-no-run fails: error changing to intended-new-root directory"
**Description**

With fairly high frequently this test is failing, but sometimes it passes.  This is affecting CI for all PRs for `main` and branch-testing itself.

**Steps to reproduce the issue:**
1. Run CI on a PR or `main` branch
2. `bud-multiple-platform-no-run test` fails ([example from PR 3706](https://cirrus-ci.com/task/4776405517991936?logs=integration_test#L1197))
3. Re-run the task, all

[2022-01-13 08:49] vrothberg commented on #3710
@edsantiago, Mr. Holmes, do you have data points that would suggest when the flake has started?

[2022-01-13 09:25] flouthoc commented on #3705
@Luap99 I don't think we should do this by default for the very same reason that each `RUN` has ability to modify and playaround in network namespace and other `RUN` should not inherit those changes unless specified.

Do you think we could have a dedicated flag for advanced users  `--share-namespaces []` where users could do it if they want to but I doubt if any regular user would like to do it.

[2022-01-13 09:51] Luap99 commented on #3705
If the container is run with seccomp and restricted capabilities (which is the default AFAIK) you cannot change the network namespace in any meaningful way. I think this could be a good way to save build time.
We need to execute the network stack every time, also if we really enable dns by default for netavark then this will get even slower.

[2022-01-13 10:07] flouthoc commented on #3694
Hi @friedman-ionq ,

Thanks for opening the issue. I can confirm this bug does not exists on `main` branch.

+ Its a good practise to stop the postgres in a `RUN` instruction cause we don't want to attempt adding a `socket` to `tar` file.
So whenever you are doing `pg_ctl start` make sure you stop the server. However even if you don't do it nothing will break `socket` files will just error out.

I

[2022-01-13 10:07] Luap99 commented on #3705
BTW I just tried this with docker build and they share the same namespace

[2022-01-13 10:12] flouthoc commented on #3694
@friedman-ionq I'm gonna re-open and let you verify first. :)

[2022-01-13 10:15] flouthoc commented on #3705
Then this should be other-way around for the people who want to do changes with custom `seccomp` and `capabilities` maybe `--dont-share-namespaces []`.

[2022-01-13 11:03] flouthoc commented on #3708
@totph Thanks for creating the issue

How does your `Dockerfile` looks like i mean how many steps do you have ? I am assuming its a single stage with too many `RUN` statements in that single stage.

I believe each new `RUN` carries `lower` from the previous run as well.  I think in your case the original options flag `lowerdir` for `overlay` keeps on increasing with new `RUN` and eventually it exc

[2022-01-13 11:22] flouthoc commented on #3708
Yes I think that's the issue i was able to reproduce this. Specially `lowerdir` is increased when you are using `--layers`  @totph consider splitting into stages.

[2022-01-13 11:38] flouthoc commented on #3708
I verified that this fixes my reproducer.

[2022-01-13 11:45] giuseppe commented on #3708
we could try some tricks to reduce the length of `lowerdir` but realistically running overlay with that many layers is expensive at runtime too, since each lookup needs to iterate all that directories.

The limit cannot be increased.  The data argument in the mount syscall uses a memory page.

[2022-01-13 12:37] edsantiago commented on #3710
My tools for analyzing buildah flakes aren't as polished as those for podman, sorry. This is the best I can do on short notice.
* Integration fedora-33 w/ overlay
  * [[10-20 13:49]](https://api.cirrus-ci.com/v1/task/5710598613762048/logs/integration_test.log)  -- #3593
  * [[11-05 09:05]](https://api.cirrus-ci.com/v1/task/5315038903795712/logs/integration_test.log)  -- #3615
  * [[11-15 13:31]](h

[2022-01-13 18:11] cevich commented on #3710
[Another Ubuntu example from last night's cirrus-cron run.](https://cirrus-ci.com/task/5938293828222976?logs=integration_test#L1198)

[2022-01-13 22:49] friedman-ionq commented on #3694
(Yes, my initial Dockerfile had a "pg_ctl stop".  I stripped everything out to the minimal replicating file.  The only reason that pg_ctl start was in this file was to force the error.)

[2022-01-14 03:45] flouthoc commented on #3694
@friedman-ionq Sure, I was unable to reproduce the issue without `pg_ctl stop` as well from latest `main`.

[2022-01-14 18:21] totph commented on #3708
Thank you for investigating! Though checking the `mount` output after a failure I notice that  the number of `:/..` paths is exactly that of the failed `STEP` (here 65), but the length of the `lowerdir=...` argument of the overlay volume is only ~1800, nowhere near 4096.

When I start a new `Containerfile` with the hash from before the failure, e.g. `FROM 377b19b...` I immediately run into the sam

[2022-01-14 18:55] mikucat0309 opened #3712 "buildah Containerfile FROM command --platform argument is ignored"
**Description**

No matter what I put in the FROM --platform=<arg> argument, buildah use host platform or --platform --arch to pull remote images.

**Steps to reproduce the issue:**
1. Create a exmaple Containerfile like below
[code]

2. Execute `sudo buildah build -f Containerfile`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Output of `rpm -q b

[2022-01-14 19:17] rhatdan commented on #3668
@nalind @mtrmac @vrothberg @crisbal What should we do with this issue?

[2022-01-14 19:45] flouthoc commented on #3708
@totph Thanks for confirming yes but `64` is the number where `native overlay` collapses after stacking layers.

That's because you are checking the mount option of `65`'th run where the error is actually printed but the root of the problem was  `64`th run. If you instrument code by a bit you can actually see the data.

[code]

This is not what i meant. You are reusing layers here. By multi-statin

[2022-01-14 20:09] mtrmac commented on #3668
I dunno. https://github.com/GoogleContainerTools/kaniko/issues/1836 is labeled “help wanted”, so one or both of:
- Contribute a fix in Kaniko
- Modify c/image to accept (and canonicalize??) such images.

Obviously doing neither, and hoping Kaniko fixes it without help, is attractive.

[2022-01-14 20:21] mikucat0309 commented on #3712
After reading souurce code, this function may not been implemented yet?

https://github.com/containers/buildah/blob/7bcca21a282dc42099fcc8883da386a000273d4b/imagebuildah/build.go#L626-L630

[2022-01-14 21:05] rhatdan commented on #3712
@flouthoc PTAL

[2022-01-14 22:21] crisbal commented on #3668
I would be happy to help but unfortunately I don't think I am skilled enough with the languages, concepts and technologies involved.

[2022-01-17 10:59] flouthoc commented on #3712
@mikucat0309 Raised a PR that should close this.

[2022-01-17 20:23] mrinaldhillon opened #3716 "rootless overlay support check fails if configured mount_program in /etc/containers/storage.conf is not in $PATH"
**Description**

**Steps to reproduce the issue:**
1. Install buildah from kubic repo without fuse-overlayfs
[code]
2. Download fuse-overlayfs static binary, and set mount_program in /etc/containers/storage.conf
[code]
3. **PASS:** Rootless overlay check passes if mount_program in $PATH
[code]
4. **PASS:** Rootless overlay check passes if mount_program set by command line flag --storage-opt.
[code

[2022-01-18 11:19] rhatdan commented on #3716
@giuseppe PTAL

[2022-01-18 15:37] weyert opened #3719 "Allow to use tar ball as build context"
**Description**

The `build`-command is not accepting tar ball build contexts, the Build Kit supports this, and commands like `cat ./my-build-context.tar.gz | docker build --progress=plain - -t experiment-tag` only when I try to use a similar command via `Podman` like: `cat ./my-build-context.tar.gz | podman build --log-level=debug`

*Note*: See attached `my-build-context.tar.gz` for an example of

[2022-01-18 15:51] vrothberg commented on #3719
Thanks for reaching out. The request sounds reasonable to me.

@nalind @rhatdan @flouthoc WDYT?

[2022-01-18 15:56] rhatdan commented on #3719
Seems to work for me.  You were missing the `-` at the end of the command, if you don't specify a context directory Podman build defaults to `.`

[code]

[2022-01-18 16:03] nalind commented on #3719
This doesn't seem to work if we provide the file's name as the build context on the command line.  @rhatdan, you've confirmed it works in a remote setup like @weyert's?

[2022-01-18 16:26] rhatdan commented on #3719
Remote is broken.

[2022-01-18 17:55] totph commented on #3708
I see, thanks. Adding the prefix `/var/lib/containers/storage/overlay/` to `l/D5PHTJVW2Z7QD6CI7GSVV5NUOC` is what doubles the mountData length. A quick workaround is setting `graphroot = "/tmp/s"` in the `/etc/containers/storage.conf`. But then `podman` (v3.4.4) doesn't see it and the data has to be copied to `/var/lib/containers` (or pushed to a registry I presume). The podman overlay mount howev

[2022-01-18 18:40] flouthoc commented on #3708
@totph Then two immediate solutions i could think of is

* Try reducing your `RUNs` using `&&` i.e merge multiple `RUN` into one.
[code]

* Split your whole build into two seperate builds and squash the first one.

[code]
`buildah build --squash -t firstphase .`

[code]

[2022-01-19 10:05] giuseppe commented on #3716
I don't think we use `/etc/containers/storage.conf` for rootless, except for `rootless_storage_path`.

I am not sure whether we should do that, the storage configuration can be very different for root and rootless (e.g. many overlay options won't work with rootless).

Can you set the `mount_path` in the user `storage.conf` file?

[2022-01-19 13:58] chmouel commented on #2554
@TomerHasson are you running on GKE or on Kind ?

[2022-01-19 14:29] TomerHasson commented on #2554
@chmouel Im running on EKS cluster

[2022-01-19 14:31] chmouel commented on #2554
@TomerHasson
Thanks as I am trying to figure why I am getting this error on GKE and not on Kind

[2022-01-19 14:46] TomerHasson commented on #2554
@chmouel Eventually i was able to use "Rootful Podman without the privileged flag" as it was secured enough for our use case (With PSP that allows the specific requirements for that case)
**** In this case i couldn't use fuse-overlayfs (because it requires fuse device) and also overlay-fs didn't work for me but VFS worked great ****

1 more thing that i can tell you is that with basic EKS cluster

[2022-01-19 14:55] chmouel commented on #2554
great thanks for the feedback

On Wed, Jan 19, 2022 at 3:46 PM TomerHasson ***@***.***>
wrote:

[2022-01-19 17:22] mrinaldhillon commented on #3716
@giuseppe We would like to avoid user-specific configurations. Usecase here to configure sane global defaults to ensure consistent/reproducible behavior for all users across shared servers.

[2022-01-20 03:06] dgibson opened #3721 "rootless operations fail if runtime is given a nonstandard name not in $PATH"
**Description**

If attempting a rootless `buildah run` operation with the runtime configured to a nonstandard name (but with a path to a perfectly ordinary runtime) fails when it does not find the nonstandard runtime name in `$PATH`.

**Steps to reproduce the issue:**
1. Create a configuration file which specifies a non-standard runtime name, but gives a path to a normal runtime.  For example
[co

[2022-01-20 03:07] dgibson commented on #3721
I suspect this may be related to #3716, but I don't know for sure.

[2022-01-20 03:08] dgibson commented on #3716
I'm hitting a somewhat similar looking problem if using a non-standard runtime name.  See #3721 for details.

[2022-01-20 03:24] kolyshkin opened #3722 "remove git-validation, add DCO"
Currently, this repo uses a cirrus-ci job which installs and runs vbatts/git-validation to check
 - whether commit line subject is not too long
 - whether commit has signed-off-by

I suggest to drop git-validation and replace it with a GHA CI job (as implemented in PR #3723 ). It already does subject length check, but does not do a DCO check, thus this issue :)

One thing that needs to be added is

[2022-01-20 03:35] kolyshkin commented on #3722
Would be nice if the above (adding https://github.com/apps/dco) can be implemented before merging #3723

[2022-01-20 09:54] giuseppe commented on #3721
thanks for opening the issue.

This is a different one, luckily much easier to address: https://github.com/containers/buildah/pull/3724

[2022-01-20 11:20] giuseppe commented on #3716
is there any reason to not let containers/storage pick the correct default?  Wouldn't that work if `fuse-overlayfs` is in `$PATH`?

I think `mount_program` can also be useful for roo.

[2022-01-20 14:48] bcaton85 opened #3725 "Error detaching intermediate containers during Podman build"
**Description**

Running Podman as  pod in Openshift 4.9.10 using Code Ready Containers. The pod is running unprivileged, rootless, and is using VFS storage. It is also being set with chroot isolation. The image uses the podman/stable base image and adds `podman:100000:65536` to the subuid/subgid files and sets the storage option to VFS.

When running a build with `podman build . --isolation chroo

[2022-01-20 16:05] bcaton85 opened #3726 "WARN[0000] "/" is not a shared mount, this could cause issues or missing mounts with rootless containers"
**Description**

Running Podman as  pod in Openshift 4.9.10 using Code Ready Containers. The pod is running unprivileged, rootless, and is using VFS storage. It is also being set with chroot isolation. The image uses the podman/stable base image and adds `podman:100000:65536` to the subuid/subgid files and sets the storage option to VFS.

When running a build with `podman build . --isolation chroo

[2022-01-20 16:09] #3721 closed

[2022-01-20 19:23] TomSweeneyRedHat commented on #3722
@cevich WDYT?

[2022-01-20 23:31] jrko opened #3728 "Workingdir is persisted"
**Description**

The working directory created by `buildah run --workingdir` is persisted but the [docs say it should not persist](https://github.com/containers/buildah/blob/2030d0bd28301ccdea94500af79003d422fb26c5/docs/buildah-run.1.md?plain=1#L296-L300). This results in filesystem cruft being left behind.

**Steps to reproduce the issue:**
1. Confirm working dir doesn't exist:
[code]
2. Set work

[2022-01-21 00:24] jrko opened #3729 "Workingdir is relative to root"
**Description**

Using `buildah run --workingdir` sets a path relative to `/` instead of the default directory. Not sure if this is intended behavior, but it makes scripting more difficult as path variables cannot be reused unless they are absolute paths.

For example, I have a `repo_path` variable with a relative path:
[code]
I use this variable to clone a repository:
[code]
Then go to build a bi

[2022-01-21 04:05] kolyshkin commented on #3722
So, now when #3723 is merged, I guess we have no DCI check in place.

Here's a PR to demonstrate it: https://github.com/containers/buildah/pull/3730

[2022-01-21 09:55] flouthoc commented on #3728
@jrko Thanks for opening the issue. I'm unable to reproduce the bug on upstream `main`. Could you try latest branch.

[2022-01-21 10:25] flouthoc commented on #3729
@jrko Thanks above PR closes this issue.

[2022-01-21 10:26] flouthoc commented on #3728
This is not on main branch hence closing this. Please re-open if you are able to reproduce this on main branch.

[2022-01-21 10:26] #3728 closed

[2022-01-21 10:27] flouthoc commented on #3694
@friedman-ionq Feel free to try it from `upstream` `main` if issue still persists please reopen as I don't think this issue persists on upstream anymore.

[2022-01-21 10:27] #3694 closed

[2022-01-21 11:54] flouthoc commented on #3726
@bcaton85 Thanks for creating the issue.

I think its because the host `/` has PROPAGATION as `MS_PRIVATE` usually it is expected to be `MS_SHARED`.
I don't think you will face any issues during regular builds.

But I think `mounting` file into a running container or build using `-v /something:/something` might have some side effects.

I'll also tag others if they could also suggest something here

[2022-01-21 12:34] rhatdan commented on #3729
How does this work on Docker?

[2022-01-21 14:19] giuseppe commented on #3726
what is the underlying host?

podman/buildah expect the following:

[code]

I guess in your case it is something different?

The issue with not having a shared propagation on the root mount is that some mounts could not be propagated inside the inner container causing all sorts of weird failures.

[2022-01-21 15:45] rhatdan commented on #3722
LGTM

[2022-01-21 15:50] bcaton85 commented on #3726
Yeah this returns private. I am on CRC, not sure if that would make a difference.
[code]

[2022-01-21 15:56] cevich commented on #3722
Oh yeah, I'm totally in favor of this.  It's much easier to use than vbatts/git-validation.  I'll add the app. so all containers repos can use it.

[2022-01-21 15:57] cevich commented on #3722
App added.

[2022-01-21 15:57] #3722 closed

[2022-01-21 16:05] cevich commented on #3722
So this does work, my only gripe is it includes a button for "Set DCO to pass" - permitting folks to manually bypass a failure.  I'd be in favor of disabling this feature, assuming it's quick/easy to do.  I just don't have time to investigate ATM.

[2022-01-21 19:58] rodrigc opened #3734 "podman build --secret does not behave the same as docker"
**Description**

`podman build --secret` does not behave the same way as docker.

I compared podman's behavior with `Docker version 20.10.11, build dea9396`.

I also looked at the Docker documentation here:

https://docs.docker.com/develop/develop-images/build_enhancements/
https://docs.docker.com/engine/reference/commandline/build/#options

**Steps to reproduce the issue:**
1.  Use this Dockerfil

[2022-01-21 19:59] rhatdan commented on #3734
@flouthoc PTAL

[2022-01-21 20:02] rodrigc commented on #3734
Thanks.

[2022-01-21 20:03] rodrigc commented on #3734
Also, in this blog post: https://pythonspeed.com/articles/docker-build-secrets/

There is an example of using the `--secret` flag with environment variables:

[code]

I couldn't get that to work in podman either.

[2022-01-21 20:18] rhatdan commented on #3726
Why does CRC have PROPAGATION of / set to private?

[2022-01-24 07:36] flouthoc commented on #3729
@rhatdan @jrko @TomSweeneyRedHat I verified this with docker. Docker rejects relative path so we cannot specify relatives with `--workdir`. @jrko I think change is easier on buildah side to support this but I guess use-case should be backed by strong enough example and everybody should agree with this so we could support this.

[2022-01-24 07:36] flouthoc commented on #3734
This a `podman-remote` use case hence I am moving this to podman.

[2022-01-24 09:27] gdetrez opened #3737 "Dockerfile issue: ARG requires exactly one argument definition"
**Description**

Defining multiple `ARG` in a single instruction works with `docker build` but not `podman build`.

**Steps to reproduce the issue:**
1. Create a `Dockerfile` with the following content:
[code]
2. Run `podman build .`

**Describe the results you received:**

`podman build` fails with `ARG requires exactly one argument definition`:
[code]

**Describe the results you expected:**

Bui

[2022-01-24 10:59] flouthoc commented on #3737
Hi @gdetrez , Thanks for opening the issue. I think this can be fixed at imagebuilder side since buildah uses that as a dependency.

[2022-01-24 13:52] bcaton85 commented on #3726
Not sure. No CRC settings were modified.

[2022-01-24 16:31] #3737 closed

[2022-01-24 17:58] rhatdan commented on #3726
Could you open an issue with CRC?

[2022-01-24 19:03] bcaton85 commented on #3726
Sure, i can do that.

[2022-01-24 19:39] webbnh opened #3740 "Follow-on to #1888: error committing image "tar: sockets not supported""
This is a follow-on to #1888 -- I just ran into the same thing that @nmvega hit, almost word for word, and I think I have stumbled across a clew (skip to the bottom...).
(/me waves at @TomSweeneyRedHat)

**Description**

I'm hitting errors like
[code]
in only some of my layered container builds.

These errors don't show up on my Fedora 34 VM, but they do on my brand shiny new CentOS 9 Stream VM...

[2022-01-24 20:02] rhatdan commented on #3740
@giuseppe PTAL
I think this is creating a socket on an overlay?

[2022-01-24 20:13] rhatdan commented on #3620
@r10r Did you ever look into it?

[2022-01-25 09:25] flouthoc commented on #3729
I have closed the PR for now. But docker does not supports this and denies any relative path so even If we support this I don't think we are doing any harm or are we. I just want to discuss that on this thread.

@rhatdan @TomSweeneyRedHat WDYT ?

[2022-01-25 09:42] giuseppe commented on #3726
could you please link the issue here once you've opened it?

I am closing this issue for now, because there is nothing we can do to address it in Buildah

[2022-01-25 09:42] #3726 closed

[2022-01-25 11:08] r10r commented on #3620
@rhatdan Sorry no. I'll try to send a pull request by the end of the week.
Can you please give me a hint where I can find the test suite for the bud command.

[2022-01-25 11:21] flouthoc commented on #3620
@r10r this should help https://github.com/containers/buildah/blob/main/tests/bud.bats

[2022-01-25 11:23] jerryTJ commented on #3281
buildah bud   --tls-verify=false --layers --format docker -f Dockerfile -t  docker-image-name
buildah:v1.20.1,
![image](https://user-images.githubusercontent.com/5989442/150967949-ce6be643-bc0c-4097-9ce7-27dd374a6263.png)
docker:19.03.12
![image](https://user-images.githubusercontent.com/5989442/150968057-1d9b3fbf-556f-4821-be4e-aead3f77dae3.png)

[2022-01-25 11:40] r10r commented on #3620
Thanks.

[2022-01-25 12:28] giuseppe commented on #3281
I've just tried with buildah 1.23 from Fedora and I cannot reproduce the issue:

[code]

[2022-01-25 13:42] mh21 commented on #3281
Hi @giuseppe iiuc, you are passing through /var/libcontainers from the host, which means it will not be hosted on overlayfs?

[2022-01-25 13:43] mh21 commented on #3281
I updated the reproducer to FC35 at https://gitlab.com/cki-project/experimental/buildah-1-20-1-fc33-volume-issue-reproducer/-/jobs/2013629982, still failing (as expected).

[2022-01-25 14:11] bcaton85 commented on #3726
[Issue raised with CRC](https://github.com/code-ready/crc/issues/2968)

[2022-01-25 14:18] giuseppe commented on #3281
sorry I got confused by the reproducer here: https://github.com/containers/buildah/issues/3281#issuecomment-891105968

Let me try without a volume

[2022-01-25 14:24] giuseppe commented on #3281
I still cannot reproduce locally.

I think you need a `cp /usr/share/containers/storage.conf /etc/containers/storage.conf` before you run `sed` though.  `/etc/containers/storage.conf` is not created by default.

[2022-01-25 14:27] giuseppe commented on #3281
also, how is the `/dev/fuse` device passed inside the container?  That is required before you can use fuse-overlayfs

[2022-01-25 14:28] rhatdan commented on #3620
I have been playing with this and have been debating with @nalind about whether or not we should do it. The issue is whether or not Docker compatibility versus docker buildkit compatibility.
Second thing to understand it this is more complicated then I first thought and  I have been working on a potential fix.

[2022-01-25 16:33] mh21 commented on #3281
As another data point, moving /var/lib/containers to ext4 via a symlink to /builds (which is a docker volume on GitLab jobs) fixes the FC35 failure: https://gitlab.com/cki-project/experimental/buildah-1-20-1-fc33-volume-issue-reproducer/-/jobs/2014709415

[2022-01-26 00:22] jmontleon opened #3799 "buildx --output option causes a build error"
/kind bug

**Description**

Trying to use podman to build velero with their `make container` command I get the error `Error: unknown flag: --output`

**Steps to reproduce the issue:**

1. Install podman and podman-docker
2. export BUILDX_ENABLED=true
3. clone https://github.com/vmware-tanzu/velero/
4. run `make container`

**Describe the results you received:**
`Error: unknown flag: --output`

**D

[2022-01-26 10:18] giuseppe commented on #3281
thanks, I think I see what is going on.

Opened a PR: https://github.com/containers/buildah/pull/3750

[2022-01-27 13:08] #3281 closed

[2022-01-27 19:25] totph commented on #3708
Thank you, splitting the build process into two phases with `--squash` allows us to keep the fine grained single `RUN` and `COPY` lines. And indeed, an inline `SQUASH` would help, the `mount label too large` error message could then suggest that.

I noticed that using `--layers --squash` in combination does not make sense as all the "new layers [are squashed] into a single new layer". To still get

[2022-01-27 19:50] flouthoc commented on #3708
@totph No issues yes this workaround would make things work for now.

We do have caching in squash as well it was added here: https://github.com/containers/buildah/pull/3674

[2022-01-27 19:51] flouthoc commented on #3708
@totph If your issue is resolved. Could you close the issue and we could still continue the discussion here.

[2022-01-27 21:52] daledude opened #3808 "How to have a custom /etc/hosts in image?"
Not sure if this is a bug or intended. I find conflicting information regarding this so please excuse if I didn't file enough information.

I have code in Dockerfile to create a custom /etc/hosts file. But, saving and extracting the built image from "podman build" shows the /etc/hosts file is empty. I want to create my own /etc/hosts and use "podman run --no-hosts" but the build process seems to z

[2022-01-28 14:40] rhatdan commented on #3682
Overlay2 is not set to error out in current release.

[2022-01-28 14:40] #3682 closed

[2022-01-28 18:41] r10r opened #3755 "error mapping capability "CAP_CHECKPOINT_RESTORE" to a number"
**Description**

Hi there,

I'm receiving the following error when running `buildah run --cap-add all`.

I note that `--cap-add  all` is not  documented in the buildah cmdline API, but it is supported internally.

This is the relevant system system configuration:
[code]

The value *40* is mapped to *CAP_CHECKPOINT_RESTORE*. See https://github.com/syndtr/gocapability/blob/42c35b4376354fd554efc7ad35

[2022-01-31 15:19] edsantiago opened #3758 "buildah panics on Fedora rawhide"
Reported by the multiarch team on [gitlab](https://gitlab.com/cki-project/kernel-tests/-/issues/622#note_826190324) (which seems to be down atm):
[code]
This is on a completely broken system, one on which almost every test fails with:
[code]
(this is a known problem, and a constant source of test failures in their setup, but not one which I feel we need to look into. I merely add this in case it i

[2022-01-31 18:23] edsantiago commented on #3758
Yep, confirmed:
[code]
buildah-1.23.1-2.fc36.x86_64

5.17.0-0.rc0.20220112gitdaadb3bd0e8d.63.fc36.x86_64

[2022-01-31 18:25] rhatdan commented on #3758
Is this still happening with podman 4.0 RC3? Which includes a new version of Buildah?

[2022-01-31 18:27] edsantiago commented on #3758
Podman has nothing to do with it. I apologize for the initial false alarm, it was due to me not looking closely enough at the test source code. It's 100% buildah, 100% reproducible even on a system without podman installed.

[2022-01-31 18:29] rhatdan commented on #3758
Ok with buildah 1.24?
Can you give me a reproducer?

[2022-01-31 18:30] edsantiago commented on #3758
I did, see above. (1.23, not 1.24)

[2022-01-31 18:41] edsantiago commented on #3758
Rawhide, not f35.

With `buildah-1.24.0-4.fc36.x86_64` and `containers-common-1-46.fc36.noarch` from koji, the crash is gone. But that version of buildah isn't even in `updates-testing` yet.

[2022-02-01 14:19] andrescueva commented on #2393
You need to increase the max user namespaces, in CentOS 7 the default number is 0, that is why the error.

# sysctl user.max_user_namespaces=31477
# echo "user.max_user_namespaces = 31477" > /etc/sysctl.d/99-usernamespaces.conf

[2022-02-01 14:22] edsantiago commented on #3710
Just now in [Integration fedora-34 w/ overlay](https://api.cirrus-ci.com/v1/task/5436371887194112/logs/integration_test.log) in #3761

[2022-02-01 15:37] cevich commented on #3710
[Last night on 'main' in cirrus-cron.](https://cirrus-ci.com/task/4712885250162688?logs=integration_test#L1078)

[2022-02-01 20:55] TomSweeneyRedHat commented on #3758
I'm not sure what's going on, probably need a c/storage heavy to look.  The failure is happening as @edsantiago noted from this command:

`# buildah from quay.io/libpod/testimage:20210610`

And the path through buildah is pretty quick.  The from command is called and it asks c/storage to get the layers of the image:

Calling saveLayers() in c/storage/layers.go
https://github.com/containers/buildah

[2022-02-01 21:01] edsantiago commented on #3758
testimage is created by https://github.com/containers/podman/blob/905d31ddd358bb6c40082c391102bbf92a04fad6/test/system/build-testimage

[2022-02-01 21:07] TomSweeneyRedHat commented on #3758
@edsantiago and the image is built as part of the test run rather than something that's done in advance and set aside?

Also, it looks like you're using buildah to create the image, and then you tag it using podman.  I wonder if podman that is called is using a different c/storage?  Could you use `buildah tag` instead?

[2022-02-01 21:10] edsantiago commented on #3758
@TomSweeneyRedHat the `:20210610` in the image means "this was built on 2021-06-10". Even if I had a strong desire to build a new one today, it would not help with all the existing branches that use the `:20210610` image. This must be fixed in buildah.

[2022-02-01 22:15] TomSweeneyRedHat commented on #3758
And it looks like the mystery deepens.  This works in 1.23.2:

[code]

[2022-02-01 22:17] edsantiago commented on #3758
@TomSweeneyRedHat see above, @nalind has already opened #3763 to address

[2022-02-01 22:30] TomSweeneyRedHat commented on #3758
and as usual, @nalind figured it out!  Thanks Nalin, nice catch.

[2022-02-02 12:59] edsantiago commented on #3758
Weird: #3763 merged but didn't autoclose this one despite the `Fixes`

[2022-02-02 12:59] #3758 closed

[2022-02-03 08:50] flouthoc commented on #3712
I am re-opening this since PR is here and its not merged yet: https://github.com/containers/buildah/pull/3757

[2022-02-03 15:01] edsantiago opened #3768 "placeholder: combination-namespaces test taking 30m"
Placeholder, because this is going to take me a long time to isolate and I want eyes on it ASAP.

The `combination-namespaces` test is taking almost 30m in Rawhide. This is causing gating-test timeouts and failures. I can easily
reproduce on a 1minutetip VM:
[code]
(All the other namespace tests feel like they take longer, too, but I don't have hard data. Just a gut feel).

`git log` shows no rece

[2022-02-03 17:36] #3755 closed

[2022-02-03 20:11] TomSweeneyRedHat commented on #3758
@nalind @rhatdan @edsantiago @jnovy Nalin just spun up release v1.23.3 with this fix.  This issue is present in RHEL 8.5.0.2.  Should we vendor buildah v1.23.3 into Podman v3.4..2-rhel then bump Podman and Buildah both in  RHEL 8.5.0.3?  How severe is this issue?

[2022-02-03 20:20] edsantiago commented on #3758
Has anyone reproduced the problem using podman? AFAIK it only happens with buildah; I've never seen it in `podman build` even though all the podman tests use that same testimage.

I cannot comment on any of your other questions, sorry.

[2022-02-03 20:30] nalind commented on #3758
Check the version of `github.com/modern-go/reflect2` in that version of podman's `vendor/modules.txt` file.  If it's already using v1.0.2, or if we're building podman with a version of Go before 1.18, I don't think this problem is going to crop up there.

[2022-02-03 21:17] #3261 closed

[2022-02-03 21:17] #3712 closed

[2022-02-03 21:31] edsantiago commented on #3768
Closing. Several hours into my headbanging, tests started running much faster. (And, the sidetrack failure I was investigating, started passing too). I'm 80% convinced this was a CDN failure with the alpine APK mirrors; or at least part of it was manifesting that way. Anyhow, a [bodhi test rerun](https://osci-jenkins-1.ci.fedoraproject.org/job/fedora-ci/job/dist-git-pipeline/job/master/108095/test

[2022-02-03 21:43] edsantiago opened #3771 "test failure: run --network should override build --network: error while running runtime"
New failure in [f36 CI](https://osci-jenkins-1.ci.fedoraproject.org/job/fedora-ci/job/dist-git-pipeline/job/master/108095/testReport/(root)/tests/root_test/):
[code]
Easily reproduces on my f35 laptop with main @ 08de1f95cbaca3d7664a9157dffba022e2bb8ed7 ... but it also fails on my laptop using `/usr/bin/buildah` (1.23.1-1.fc35) ??? I configured my laptop to use netavark (for podman), could that ha

[2022-02-03 23:15] edsantiago commented on #3768
Nope, reopening. Something really weird is going on. New test run on new VM, combination-namespaces took >35m to run, but it was already running super-slow before that. Total run was 115 minutes (compared to 99 for what I _thought_ was a slow run this morning). Timing results (poorly formatted, sorry):
[code]
I can't test against 1.23 because that doesn't work at all on rawhide.

Reopening, will k

[2022-02-04 19:20] TomSweeneyRedHat commented on #3758
@nalind that branch of Podman has reflect2 v1.0.1 there, but I thnk it's using GoLang 1.16 to do the builds.  @cevich can you verify which version of Go is run against the Podman v3.4.2-rhel branch please?

[2022-02-05 00:04] Kai-Chen commented on #3620
Ran into the same issue and was about to file a new ticket if I hadn't checked here.
Currently limping along with a `RUN mkdir -p` layer before WORKDIR.

@rhatdan @nalind I'm curious: what are the pros for keeping backward compatibility with a bug?  -- in this particular case, I find it hard to imagine that anyone is relying on the bug's behavior such that a fix would break currently running syste

[2022-02-07 12:42] flouthoc commented on #3708
@totph I'm closing this since this looks resolved.

[2022-02-07 12:42] #3708 closed

[2022-02-07 12:43] flouthoc commented on #3729
@jrko Docker does not supports this hence we can't do a behavior drift. But feel free to use this patch https://github.com/containers/buildah/pull/3731

[2022-02-07 12:43] #3729 closed

[2022-02-07 22:57] cevich commented on #3758
Yes, we're running `golang-1.16.6-2.fc34` and `golang-1.15.14-2.fc33`.

[2022-02-08 15:43] TomSweeneyRedHat commented on #3758
OK, so we should be good for Podman v4.0 then given the above, but we probably ought to bump reflect2 up to v1.0.2 in the main branch of Podman so we don't run into this in the future.

[2022-02-09 10:02] lbckmnn opened #3776 "using CLONE3 during podman build vs run"
**Description**

I am trying to build a container with the following Dockerfile on a fresh installation of Debian 11:
[code]
This fails with
[code]
Running  `dnf update` in a quay.io/podman/stable container manually leads to the same error.
This seems do be a kwnown issue with seccomp (CLONE3 syscall is not allowed) which should not occur with `--security-opt seccomp=unconfined ` (Fixing this with

[2022-02-09 10:29] flouthoc commented on #3776
Hi @lbckmnn , Thanks for creating the issue.

I think that's cause you buildah is really old. `buildah` or `podman` from `main` honors `seccomp` which is configured correctly.
To conclude i am unable to reproduce this on latest buildah/podman which i pulled from `main` branch.

My console
[code]

[2022-02-09 11:09] lbckmnn commented on #3776
I was able to build the image directly with buildah:
[code]

So i guess my version of podman does not pass the `--security-opt seccomp=unconfined` to buildah?
Is it possible to place a seccomp.json somewhere as a workaround?

[2022-02-09 11:49] flouthoc commented on #3776
@lbckmnn Thanks for confirming. I think your `podman` version is also very old could you upgrade it please. I am closing this issue since this is not present on newer versions but please feel free to continue discussion below and re-open issue if you feel anything is unresolved.

[2022-02-09 11:49] #3776 closed

[2022-02-09 11:57] vrothberg commented on #3776
Yes, there was an issue both in Podman (not passing the security opt) and libseccomp (https://bugzilla.redhat.com/show_bug.cgi?id=1927635).

If libseccomp in Debian is outdated (see https://bugzilla.redhat.com/show_bug.cgi?id=1927635), then the only workaround is to disable seccomp.

@giuseppe anything you want to add?

[2022-02-09 12:38] lbckmnn commented on #3776
@vrothberg `apt list libseccomp2 `reports `libseccomp2/stable,now 2.5.1-1+deb11u1 amd64 [installed] ` as this is reported as fix version in the bug report i suppose the libseccomp version is fine?

@vrothberg my podman version is just the version from the current Debian 11 Repository. I can build and install the current podman version, if this helps investigating the issue. However, this does not

[2022-02-09 12:40] vrothberg commented on #3776
@lbckmnn, yes, filing a bug against Podman is probably the best way forward.  I pull in @siretart who is the Podman Debian maintainer.

I see two issues:
1. The syscall doesn´t work
2. podman build doesn´t pass the security opt

[2022-02-09 12:54] lbckmnn commented on #3776
@vrothberg  I think the syscall does not work because the security opt is not passed to buildah and the seccomp.json is also not respected.

[2022-02-09 18:13] edsantiago commented on #3710
Seeing a persistent flake in the podman build-under-bud tests, same test, different error message:
[code]

### [bud] 248 bud-multiple-platform-no-run
* fedora-35 : bud podman fedora-35 root host
  * PR #13129
    * [02-04 11:57](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/4634908508291072/html/bud-podman-fedora-35-root-host.log.html#t--00248)
  * PR

[2022-02-09 20:49] rhatdan commented on #3776
Do we know if this is fixed in the 4.0?

[2022-02-09 22:44] lbckmnn commented on #3776
I just tried the following on freshly installed Debian 11 (podman 3.0.1) and Debian 11 while using testing sources (podman  3.4.4)
Containerfile:
[code]

seccomp_test.json
[code]
command:
`podman build --security-opt seccomp=seccomp_test.json .`

This failed (as intended) with podman 3.4.4 but run successfully in podman 3.0.1.
So i suppose this issue is indeed resolved in upstream podman.
I will f

[2022-02-10 01:49] siretart commented on #3776
I believe this is a variation of the symptoms reported in https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=995777 -- I've prepared a fix for this and am waiting for approval to upload this to stable here: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1004533

Until then, you can try my test build packages at https://people.debian.org/~siretart/bug.994451/

[2022-02-10 09:23] lbckmnn commented on #3776
@siretart with the version from https://people.debian.org/~siretart/bug.994451/ it is possible to build containers with CLONE3 but seccomp options are still not passed  to buildah (which is at least for me no serious problem anymore).

[2022-02-10 21:41] #3688 closed

[2022-02-11 19:22] rhatdan commented on #3700
Since lack of response, I am going to close.  Reopen if this is still an issue.

[2022-02-12 14:19] vans163 commented on #3700
This is an issue. No one replied to it

[2022-02-12 15:49] giuseppe commented on #3700
yes I think this is an issue in buildah that is not using systemd for the cgroup backend

[2022-02-14 09:08] giuseppe commented on #3700
opened a PR: https://github.com/containers/buildah/pull/3780

[2022-02-14 19:48] junli-lyft opened #3781 "Buildah builds hang randomly when copying blobs"
**Description**

We are using buildah to build containers on Jenkins that is deployed on a private Kubernetes cluster on top of AWS EC2 auto scaling group.

Lately, we noticed an issue with the build. It seems that the process hangs when it is copying blobs.
The logs show:

[code]

Please note that at `13:52:29`, the process is killed by Jenkins because there is a one-hour limit with this process.

[2022-02-14 21:03] rhatdan commented on #3705
If this is not a problem with netavark, should we close?

[2022-02-14 23:01] bauen1 commented on #2988
Minimal reproducer:

[code]

Build with:
[code]

Expected result:

Does not print:
[code]

relevant strace excerpt from a similiar but different setup:

[code]

This might very well be a bug in `expect`, https://sources.debian.org/src/expect/5.45.4-2/exp_command.c/?hl=873#L873 is where the error message is printed.

[2022-02-14 23:14] bauen1 commented on #2988
It seems that the code responsible is here https://sources.debian.org/src/expect/5.45.4-2/pty_termios.c/#L390

And a (horrible) C code reproducer:
[code]

in podman:

[code]

outside:
[code]

[2022-02-15 00:22] bauen1 commented on #2988
Please disregard the above, I managed to block the TIOCGPTN ioctl and didn't double check.

For some reason I was expecting SELinux to block with EPERM not EACCES, and I didn't double check first.

Sorry for the noise.

[2022-02-15 04:42] flouthoc commented on #3781
Hi @junli-lyft thanks for creating the issue. I am trying to replicate but since you have not provided any reproducer I am trying random steps to replicate. I am unable to replicate this on my machine with the upstream version.

@junli-lyft Would it be possible for you to switch to a newer version which is released `v1.24.1` or use upstream `main`.

Thanks

[2022-02-15 06:42] flouthoc commented on #3725
Hi @bcaton85 , Sorry for delay on this issue.

Could you share your modifications which you did to `podman/stable`. I tried buildah inside container with `vfs`, `isolated chroot` and `unprivileged`. I am unable to see this warning. I want to try exactly with the modifications which you did to `podman/stable` dockerfile.

Thanks

[2022-02-15 09:05] vrothberg commented on #3781
Yes, please update to a newer version. You're hitting https://github.com/vbauerster/mpb/issues/100, a deadlock in one of our dependencies which was fixed in a following Buildah release.

[2022-02-15 09:05] #3781 closed

[2022-02-15 09:21] flouthoc commented on #2937
Hi @rolweber , Apologies for late response.

Above PR should close this issue and matches `buildah` behavior to `docker/buildkit`

[2022-02-15 14:00] Luap99 commented on #3705
Netavark is faster than CNI but it is still slow (about 40 ms for a simple setup call). I think this could safe a lot of time for people with many run statements.

[2022-02-15 14:01] bcaton85 commented on #3725
[All modifications can be found in this Dockerfile](https://github.com/bcaton85/quay-builder/blob/master/Dockerfile.podman). Then we start the Podman service with [this script.](https://github.com/bcaton85/quay-builder/blob/master/entrypoint.podman.sh)

[2022-02-15 14:41] enku opened #3783 "buildah run: error opening "/etc/cni/net.d/cni.lock": creating locker directory: mkdir /etc/cni: permission denied"
**Description**

I've built containers with buildah <= 1.23.1 (in a systemd container, if that matters). The containers were built with `--cap-add=CAP_SYS_PTRACE` and they are root-less containers.  With buildah <= 1.23.1 I have been able to `buildah run` these containers just fine.  However since upgrading to 1.24.1 I cannot run these containers.  I get errors like:

[code]

Is this a bug or some

[2022-02-15 15:12] Luap99 commented on #3783
If you create a new container with buildah from does it work?

[2022-02-15 15:19] enku commented on #3783
Yes, that appears to work:

[code]

`lighthouse-root` is a container that was built from an earlier version of buildah.

[2022-02-15 15:22] Luap99 commented on #3783
I don't think this will work with existing container since they effectively contain a invalid config. They have a cni config dir set to a path which can only be used by root.
Previous version would never use cni path as rootless but this now changed with 1.24.

[2022-02-15 15:42] vrothberg commented on #3781
You can also just update Fedora 35 which will get you the latest Buildah. No need to go to F36 pre-beta.

[2022-02-15 15:44] Luap99 commented on #3783
This will not work when you run rootless since you cannot change /etc as rootless user. I recommend to recreate your containers. I am not sure if we support backwards compat, @rhatdan @nalind WDYT?

[2022-02-15 15:50] flouthoc commented on #3783
@enku I also think a container recreate is easier here. Would there be any issue of you just recreate the container since you already have the image ? Could you let us know if there is any problem with recreating the containers so we could provide a possible solution there ?

[2022-02-15 15:52] enku commented on #3783
That's going to be a lot of containers to recreate.  Also `buildah rm` of the existing containers results in the same error.

I have the base image but the containers are wildly different than the ones from which they are based.  Is there a way I can dump the container to a new image (commit I think gives me the same error).  Oh I think I could go back to 1.23 and create images but would that work

[2022-02-15 15:53] flouthoc commented on #3783
@enku Does `buildah commit` works for you as of now ? If not then sure you could commit your containers to images and then migrate.

[2022-02-15 15:54] flouthoc commented on #3783
@enku Try `buildah commit containerID newImageName` from `1.24.1` first and see if it throws error otherwise , you could commit images from `1.23` and then migrate to a newer version.

[2022-02-15 15:56] enku commented on #3783
FYI, with 1.24.1:
[code]

[2022-02-15 15:56] junli-lyft commented on #3781
I see. I'll try 1.23.1 then.

[2022-02-15 16:22] #3700 closed

[2022-02-15 16:56] #2937 closed

[2022-02-15 17:59] enku commented on #3783
Commiting with 1.23 then removing the container with 1.23 and then re-creating with 1.24 works, though it's slow.

[2022-02-15 19:21] rhatdan commented on #3705
What is your definition of many run statements? I could potentially see this in CI systems, but I think in the real work not likely to be seen. I don't think this effects RUN commands in Containerfiles.
My fear here is the complexity of cleaning this up.
@nalind WDYT?

[2022-02-15 21:03] rhatdan commented on #3781
F36 is wonderful, I moved to it a week ago, and have no problem, other then I ended up in F37 and had to downgrade.

[2022-02-15 21:52] enku commented on #3783
I've been able to get the containers running again by doing the following:

1. Downgrade to `buildah-1.23`
2. `buildah commit <container> <image>`
3. `buildah rm <container>`
4. Upgrade to `buildah-1.24.1`
5. `buildah --name <container> --from --cap-add=CAP_SYS_PTRACE <image>`

My issue no longer exists, however is this something likely to happen to others or am I unique here. I never explicitly s

[2022-02-16 11:38] flouthoc commented on #3783
@enku I think others can face this issue as well if they try to reuse the container which was created with older version but also I am not sure if its a good idea to treat build containers as stateful items so I am not sure if there's gonna be lot of cases like these.

But lets see maybe we can add this in troubleshooting docs. Interested in opening a PR for adding this into troubleshooting docs ?

[2022-02-16 11:38] #3783 closed

[2022-02-17 11:35] seb2020 commented on #620
Hello,

I have found this issue and I am lookink if there is any news about it's resolution ?

Thanks

[2022-02-17 15:19] flouthoc commented on #620
Hi @seb2020, thanks for a reminder. I am picking it up. Will update here.

[2022-02-17 21:27] cevich commented on #3710
This continues to flake fairly regularly in daily branch runs.  [Latest example.](https://cirrus-ci.com/task/4720256957546496?logs=integration_test#L1080)

[2022-02-19 17:01] fboerman opened #3787 "buildah always inserts /bin/sh -c"
**Description**
when I build a container image and change the entrypoint buildah wil always insert /bin/sh -c in front of it

**Steps to reproduce the issue:**
1. create buildah image
2. set entrypoint to for example /go/bin/foo ie ```buildah config --entrypoint "/go/bin/foo" imgname```
3. set a cmd ie ```buildah config --cmd "serve" imgname```
4. commit the image
5. create a container with this i

[2022-02-21 11:17] Luap99 commented on #3771
I cannot reproduce on my laptop, is it possible that you mixed cni and netavark on your laptop?
Does f36 runs the test with netvark or cni?

[2022-02-21 11:29] Luap99 commented on #3768
Commit https://github.com/containers/buildah/commit/b480ce832f3e96c0d27f3842643161115d20e395 added a new cgroup test to it
This increased the test matrix from 3^5 = 243 iterations to 3^6 = 729 iterations so it runs three times more commands than before, so I would assume it is also 3 times slower.

[2022-02-21 14:26] joyfulmantis opened #3789 "Support custom build outputs"
Docker has the ability to have custom build outputs, see https://docs.docker.com/engine/reference/commandline/build/#custom-build-outputs. This is convenient when one wants to use a container as a build environment and then have the resulting executables conveniently copied to the host.

From research I have done, it seems like buildah and therefore podman are misssing this functionality, and I co

[2022-02-21 15:43] Masber opened #3790 "cannot run `apt-get update` while running `buildah bud` inside a container"
**Description**
we are trying to build a container image inside a container using buildah. The build process starts but then fails when we try to run `apt-get update`

error:

[code]

**Steps to reproduce the issue:**
1. Install buildah in container image
    - apk add buildah
    - mkdir -p $HOME/.config/containers
    - echo "unqualified-search-registries = ['docker.io']" > $HOME/.config/contain

[2022-02-21 17:45] edsantiago commented on #3710
*  [unknown image] : Containerized Integration
  * PR #3782
    * [02-15 10:49](https://api.cirrus-ci.com/v1/task/6635871091818496/logs/integration_test.log)
* [unknown image] : Integration fedora-34 w/ overlay
  * PR #3784
    * [02-16 05:14](https://api.cirrus-ci.com/v1/task/5258080974798848/logs/integration_test.log)
  * PR #3761
    * [02-01 08:59](https://api.cirrus-ci.com/v1/task/54363718871

[2022-02-21 17:55] edsantiago opened #3791 "SEGV in bud-multiple-platform-no-run test"
Source: [nightly CI run](https://storage.googleapis.com/cirrus-ci-6707778565701632-fcae48/artifacts/containers/podman/5467855499034624/html/bud-remote-fedora-35-root-host.log.html#t--00250)
[code]
See link for full stacktrace, which should make it easy to diagnose.

[2022-02-21 18:37] #3768 closed

[2022-02-21 19:44] rhatdan commented on #3787
Try
 buildah config --entrypoint '["/go/bin/foo"]'  imgname

[2022-02-21 21:56] TomSweeneyRedHat commented on #3790
@Masber this smells like a crun issue in Ubuntu.  I think 20.04 has crun included, but I'm not sure if it's the default.  I don't have a way to check quickly, can you?

[2022-02-22 09:55] kpouget commented on #3708
Hello, I bump this issue as I hit the exact same issue with multiple AI/ML Dockerfiles, let me know if I should create another ticket

see there:
- https://github.com/openshift-psap/training_results_v0.7/commit/0eda76f902f536a9e5bb4cb003b4229f4ea3bb7c
- https://github.com/openshift-psap/DeepLearningExamples/commit/713071fab18415db86dd3da9bcc7bed5658a3960 (currently trying to work around it)

the b

[2022-02-22 10:20] flouthoc commented on #3708
@kpouget Unfortunately since we hit `memory page limit` I think `squash` is the best solution which is present as of now as described here: https://github.com/containers/buildah/issues/3708#issuecomment-1015706918 or optimizing your `Container/Dockerfile`

[2022-02-22 12:59] Masber commented on #3790
sorry, need to clarify this. So by **crun**, do you mean this https://github.com/containers/crun?

[2022-02-22 13:09] kpouget commented on #3708
[found it](https://docs.openshift.com/container-platform/4.9/cicd/builds/build-strategies.html#builds-strategy-docker-squash-layers_build-strategies), but without luck :(
[code]
[code]

[2022-02-22 15:23] nalind commented on #3790
What sort of host is it?  If it's using cgroups v1, and the container isn't privileged, it's not going to be able to create its own control groups.  Try setting `BUILDAH_ISOLATION=chroot` or running it with `--isolation chroot` to have buildah use something that's more like chroot for handling RUN instructions, instead of attempting to run a proper container inside the container.

[2022-02-22 16:48] cevich commented on #3791
See also: https://github.com/containers/buildah/issues/3710

[2022-02-22 17:15] TomSweeneyRedHat commented on #3791
Probably a dumb question, but I noted that the image we're pulling in the Dockerfile is from DockerHub.  Could that be a potential issue?  Although I'd think we'd get a "rate Limit" type of error instead.

# A base image that is known to be a manifest list.
FROM docker.io/library/alpine
COPY Dockerfile.no-run /root/
# A different base image that is known to be a manifest list, supporting a
# diffe

[2022-02-23 13:19] eesprit opened #3796 "Buildah does not preserve healthcheck from parent image when building in docker format"
**Description**

When building an image in docker format, if the base image does define a healthcheck, the healthcheck is not inherited in the resulting image.

**Steps to reproduce the issue:**
1. Build an image testhealthcheck:1 in docker format which define a HEALTHCHECK
2. Build an image testhealthcheck:2 from test:1, in docker format, which does not redefine a HEALTHCHECK
3. Build an image te

[2022-02-23 17:15] flouthoc commented on #3710
I think there is a race on `c/storage` where layer gets removed by another parallel build. We could remove flakes if we can make `multi-arch` build serially. @nalind Could we make `multi-arch` builds serial until `race` is removed from upstream. I believe one the `SetNames` PR should help but could be different race as well.

[code]

[2022-02-23 17:16] flouthoc commented on #3791
`SEGSV` check can be removed but i think this is the root cause and being discussed here -> https://github.com/containers/buildah/issues/3710#issuecomment-1049016014

[2022-02-23 17:38] nalind commented on #3710
I'm pretty sure the race here happens when we need to cancel a build because one stage failed, but others are still running.  The `Executor` `Delete()`s the affected `StageExecutor`, which deletes its `builder`, while its `Execute()` method is still running.

[2022-02-23 17:55] flouthoc commented on #3710
@nalind I'm not sure about that but for me it happens even when `build` was expected to pass and in uncertain manner. For me some failures were also as `image not known` which is specifically thrown from `c/storage`.

I also hope that issue is at buildah layer then it would be much easier to get a permanent fix.

[2022-02-27 13:05] MLNW commented on #1292
The original comment mentioned this:

Nice idea but I think this will clutter up the script and the signal-to-noise ratio would be rather high.

How would this look like in practice?

[2022-02-28 00:59] ankit-db commented on #3239
@lsm5 - I'm currently installing buildah by doing:

[code]

I'm getting this for the 18.04 distribution in kubic that I'm pointing to as well - was it fixed for that version?

[2022-02-28 10:34] flouthoc commented on #3796
Hi @eesprit , Thanks for opening the issue above PR should close this.

[2022-02-28 13:00] eesprit commented on #3796
Great, thanks a lot @flouthoc

[2022-02-28 14:15] rhatdan commented on #3789
[code]

[2022-02-28 14:15] rhatdan commented on #3789
@flouthoc PTAL

[2022-02-28 15:00] edsantiago commented on #3771
I can't reproduce on f37 rawhide. podman is using netavark, I have no idea what buildah is using. There are no recent buildah runs in bodhi. I'll keep this open until the next bodhi run, at which time I'll see if this is still a problem in gating tests.

[2022-02-28 15:40] vpodzime opened #3798 "'buildah copy' ignores .dockeringore (and .containerignore)"
**`buildah copy` ignores .dockerignore/.containerignore**

I have a directory with a `.dockerignore` file and when I do `buildah copy $c ./ /opt/` the files that are supposed to be ignored because of the `.dockerignore` file are still copied into the container. If I copy the `.dockerignore` file to `.containerignore`, the result is the same.

**Steps to reproduce the issue:**
[code]

**Describe th

[2022-02-28 16:39] rhatdan commented on #3798
If you have a .containerignore and a .dockerignore in the same file. Buildah will only use the .containerignore.  Remove it and the .dockerignore should work.

[2022-02-28 19:35] #3796 closed

[2022-02-28 20:18] Giszmo commented on #1240
I switched from Ubuntu to Debian and ran into issues where "apt install" failed because of permissions on /tmp.
For others that end up here: Deleting images fixed it for me. Probably the wrong uid had permissions?

[2022-02-28 21:22] nalind commented on #3799
The `--tag` flag can be used to do some of the things in this area, but it currently expects anything other than an image name to look like a name that would be passed to `skopeo(1)`, transport name and all, which is different syntax.  It also does not expect to be used when building the same sources for multiple target platforms.

[2022-03-01 08:20] vpodzime commented on #3798
In my case, they are the same. I only created both to show that both are ignored. And if I don't copy .dockerignore to .containerignore, .dockeringore is ignored so the problem is NOT that I have both of the files.

[2022-03-01 10:42] flouthoc commented on #3798
@vpodzime You gotta specify `--contextdir` for `.containerignore` or `.dockerignore` to take effect.

So in your case something like should work

[code]

[2022-03-01 10:51] flouthoc commented on #3787
Passing a valid json array is the right way to achieve this as mentioned in the above comment.

@fboerman I'm closing this issue but feel free to re-open if anything is unresolved.

[2022-03-01 10:51] #3787 closed

[2022-03-01 16:10] nalind commented on #3798
The default is context directory is "/" so that we don't break attempts to copy content from locations that are outside of the current directory.  Imagine having to add a "--contextdir /tmp" to avoid getting an error when you attempted to copy a file from /tmp into a container.

[2022-03-01 17:35] vpodzime commented on #3798
Yes, that works! Thanks! I actually [tried to use `--contextdir`](https://github.com/containers/buildah/issues/3798#issue-1154242470), but the I didn't manage to put together the right values. The man page says:
[code]
which is confusing, IMHO. `$PWD` is definitely not at `$PWD` if you do `chroot $PWD` first. I guess an example added to the man page could be enough.

[2022-03-02 15:30] etegan commented on #620
Looking forward to following the progress on this issue =)

[2022-03-02 22:47] FilBot3 opened #3802 "Where did the Containerfile.5.md go?"
Was going to reference someone to the man page for it, but it's not here.

I expected to see it in `docs/Containerfile.5.md` but I don't see it.

[2022-03-03 05:58] flouthoc commented on #3802
Hi @FilBot3 , Thanks for creating the issue i think it was moved to c/common https://github.com/containers/common/blob/main/docs/Containerfile.5.md See https://github.com/containers/buildah/pull/3746 for more details.

[2022-03-03 05:59] flouthoc commented on #3802
I'm going to close this issue since most of the context is on the PR itself but feel free to discuss below.

[2022-03-03 05:59] #3802 closed

[2022-03-05 04:43] kousu opened #3806 "`podman build` fails DNS lookups under `systemd-resolved`; `podman run` works"
**Description**

`podman build` has broken DNS on a system that only uses `systemd-resolved`. But `podman run` works.

This seems to be the same issue as https://github.com/containers/buildah/issues/2780, but triggered in a novel way.

**Steps to reproduce the issue:**

1. Use `iwd` + `systemd-resolve`:

    There's probably a simpler way to do this, but the way I have in front of me involves `iwd

[2022-03-05 05:02] kousu commented on #3806
The difference is pretty simple: `podman run` generates an `/etc/resolv.conf` while `podman build` does not:

[code]

[code]

**Notice that `podman run` is not respecting systemd-resolve either**: it's actually just falling back to Google:

https://github.com/containers/podman/blob/f4d6e8777213880204ccbce92201c47c74b33036/pkg/resolvconf/resolvconf.go#L23-L25

The easiest workaround is to pass `--d

[2022-03-05 05:13] kousu commented on #3806
After thinking about it, I think `buildah` is doing the better thing, and `podman run` shouldn't be covering up system config problems.

The problem here is my empty /etc/resolv.conf. Other parts of my system are broken, like

[code]

`systemd-resolved` expects itself to be configured it as a static nameserver:

[code]

With that in place, DNS works the same in all containers.

So my issue here is

[2022-03-05 05:18] kousu commented on #3806
This comment is very enlightening to me! https://github.com/containers/buildah/pull/3424/files#r684621757

[2022-03-07 18:48] rhatdan commented on #3806
@Luap99 PTAL

[2022-03-07 19:39] lsm5 commented on #3239
@ankit-db hi, I don't think we ever enabled kubic for 18.04. Anyway, I recommend switching to ubuntu 21.10 or newer if possible which will have buildah in the default repos. If you want to stay on 18.04, your only option at this point would be to build from source.

[2022-03-07 20:07] ankit-db commented on #3239
@lsm5 - thanks for replying! Do you know how my current installation is working then? I am currently able to install buildah this way (the way I posted in previous comment). Unfortunately, I have to stick with Ubuntu 18.04 for compliance reasons.

[2022-03-07 21:07] kousu commented on #3806
That would be great!

[2022-03-09 12:28] flouthoc commented on #620
@seb2020 @etegan @carej-upstart `Docker`'s `--cache-from` is a bit different from `buildkit`'s `--cache-from` .

1. Docker `--cache-from` does not do lazy pulling of blobs and image needs to be pulled before it can be used as a `cache` source. This is fairly easy to implement.

2. Buildkit's `--cache-from` does lazy pulling of needed layers. But a bit tricky to implement.

Do you guys have any spe

[2022-03-09 13:21] Korijn commented on #620
For me, I want to be able to leverage cache across builds on CI. I don't really care about how it's implemented/designed. If I could export the build cache and restore that, it would also be super useful.

[2022-03-09 13:27] apollo13 commented on #620
I that is all you want I can strongly recommend kaniko. It can cache inside the registry itself (and possibly even use a separate cache registry) which makes this kind of things really nice. Like buildah it does not require a running daemon etc…

[2022-03-09 13:36] titou10titou10 commented on #620
@apollo13 one no-go for me to use kaniko, from the [github readm](https://github.com/GoogleContainerTools/kaniko)

And it does not (yet) run rootless :[#105](https://github.com/GoogleContainerTools/kaniko/issues/105)
(But this issue is about buildah, not kaniko)
Our use case is to run our CICD pipelines in OpenShift (currently OKD v4.10) from tekton pipelines, and currently running buildah in a te

[2022-03-09 15:57] Korijn commented on #620
I have tried this but no cache hits, sadly!

I did use `podman` instead of `buildah`, and I didn't specify `--layers` because it's default true according to the help output:

`      --layers                                       cache intermediate layers during build. Use BUILDAH_LAYERS environment variable to override. (default true)`

I should perhaps also note we work exclusively with multi-sta

[2022-03-09 20:03] MLNW commented on #1292
@rhatdan I'm guessing you were the "Dan" mentioned in the original issue. Could you provide some more information on how to achieve this with

[2022-03-09 20:45] rhatdan commented on #1292
I was guessing something like:

$ctr=$(buildah from fedora)
$ buildah run $ctr dnf -y install httpd
$ buildah run $ctr dnf -y clean all
$ buildah commit $ctr Image_layer1
$ ctr=$(buildah from image_layer1)
...

[2022-03-10 05:02] joeycumines commented on #2469
I'd describe this as a bug.

Parallelization is obviously a nice to have feature, but that's (probably) missing the point of this issue. At the very least, this difference in behavior is currently a blocker for us, to migrate from docker to buildah.

I imagine it would be complex to add support for parallel stages, but surely it wouldn't be particularly problematic to pre-compute the dependency gr

[2022-03-10 06:48] flouthoc commented on #2469
@joeycumines Sure !!! could you please share your approach.

[2022-03-10 11:01] crepererum opened #3815 "Support for buildkit-style `sharing` option with `RUN --mount=type=cache`"
**Description**
When using `--mount=type=cache` for `RUN` steps within a `Dockerfile`, the `sharing` option is not supported. This is in line with the current docs:

https://github.com/containers/buildah/blob/cf6d58b631216758fb65cdc1499de1d8eaf8c79d/docs/buildah-run.1.md?plain=1#L139-L151

The `sharing` option is [documented by buildkit](https://github.com/moby/buildkit/blob/068cf686a7e5c3254244d0

[2022-03-10 11:18] flouthoc commented on #3815
@crepererum Thanks for creating the issue I'll take a look at this.

Btw by default every thing is `shared` for buildah as of now and multiple builds can access `cache` directory.

[2022-03-10 15:19] Basti-D opened #3816 "[FEATURE REQUEST] define preprocesser macros in the CLI"
# Status quo

Currently cpp(1) is invoked for ".in" files by using bud. See #851 .
This was implemented in order to include other files.
Since the C Preprocessor is being used, we have the complete C Preprocessor functionality, e.g. #ifdef could be used to have "conditional Dockerfiles".
Currently using #include and defining the macros inside a file works as expected.

# Proposal
In order to simpl

[2022-03-10 16:04] #3808 closed

[2022-03-10 20:24] MLNW commented on #1292
The problem with this seems to me that it does not use the cache at all if this is used in a sequential manner such as a bash script. It will always create a container from `fedora` run commands in it and commit the container to `Image_layer1` no matter how often the script is run.

What I would be looking for is a mechanism to skip the run steps if `Image_layer1` already exists. At the moment I f

[2022-03-11 09:12] vrothberg commented on #3816
Thanks for opening the issue, @Basti-D!

@rhatdan @nalind PTAL

I am totally fine adding such a feature.  However, I would generalize the new option from `-D` to `--cpp-flags` which would allow for passing the specified flags directly to `cpp`.  In the upper example `-Dbackend2` would be turned into `--cpp-flags "-Dbackend2"`.

[2022-03-11 10:25] rhatdan commented on #1292
You are correct this has never been implemented.  Only the Caching for Containerfile exists. This discussion has always been about a mechanism to build a generate bash version of caching.

[2022-03-12 04:36] ctml91 opened #3967 "volume not chowned before container start"

[2022-03-13 20:06] kalvdans commented on #2411
Blog post is https://www.redhat.com/sysadmin/podman-inside-container in case someone reads this issue :)

[2022-03-14 14:18] carej-upstart commented on #620
I would like `--cache-from` to do something and not silently do nothing. If I have to explicitly pull the image first, as one would with Docker, that's acceptable to me.

[2022-03-15 01:22] vl-shopback opened #3821 "buildah bud --manifest missing variant"
**Description**
missing variant in manifest when you use command buildah bud --manifest

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
"buildah bud --manifest" missed variant in manifest content

**Describe the results you expected:**
"buildah bud --manifest" should generate same manifest content as "buildah manifest add" command

**Output of `rpm -q buildah` or

[2022-03-15 06:08] flouthoc commented on #3821
Hi @vl-shopback. I tried reproducing it but this is not present in the newer versions or upstream. Could you please use upstream ? I am closing this issue since this seems to be fixed. But please feel free to re-open if you feel something is not resolved.

[2022-03-15 06:08] #3821 closed

[2022-03-15 09:43] Basti-D opened #3822 "preprocessing not working with stable buildah Image"
**Description**

`buildah bud Dockerfile.in . `
using the prebuilt stable Dockerimage
results in
`exec: "cpp": executable file not found in $PATH`

**Steps to reproduce the issue:**
1. checkout buildah repo
2. `cd buildah/tests/bud/preprocess`
3.  create test Dockerfile
[code]
4. check whether the normal decomposed test works:
[code]
-> yes, works perfectly fine.
5. check whether the buildah stabl

[2022-03-15 10:23] Basti-D commented on #3822
@flouthoc this is our current approach which solves the issue.
But generally speaking I assume that if there exists an image, all functionality should be available. If some functionality is not available it should be documented somewhere.
Probably an additional image, which is larger but has all functionality, could make sense?

[2022-03-15 11:49] rhatdan commented on #3822
[code]
It is under suggests for RPM packaging. We could make the error message a little more clear.

`exec: "cpp": executable file not found in $PATH, please install the cpp package.`

[2022-03-16 07:17] flouthoc commented on #3789
@joyfulmantis Thanks above PR should close this.

[2022-03-17 08:29] vrothberg commented on #3822
I think it's a bad user experience if a supported and documented feature of Buildah does not work with the official Buildah image.

It's _our_ responsibility not the users' to make that work. I am not worried at all about binary size as it's less than 900K.

We just need to update the Dockerfiles in https://github.com/containers/buildah/tree/main/contrib/buildahimage and install `cpp` along with t

[2022-03-17 08:46] vrothberg commented on #3822
Opened a PR to also address the error message: https://github.com/containers/buildah/pull/3825

[2022-03-17 09:15] ibyrktr commented on #3684
I ran into same issue when using AWS ECS with Fargate and it uses vfs as default storage layer and if I use flag --storage-driver vfs still the same result.

buildah --storage-driver vfs bud -t myimage:1.0 -f .
Error during unshare(CLONE_NEWUSER): Operation not permitted
time="2022-03-11T17:40:04Z" level=error msg="error parsing PID \"\": strconv.Atoi: parsing \"\": invalid syntax"
time="2022-03-1

[2022-03-17 23:12] csmith opened #3826 "Feature request: option to suppress io.buildah.version labels"
It would be nice if there were an option to suppress the `io.buildah.version` labels that buildah applies to all built images.

I'm trying to make images that are reproducible, but at present you need to exactly match the version of buildah to be able to successfully reproduce an image. Comparing images built by buildah 1.21.3 and 1.24.2, it seems that they would be perfectly identical if not for

[2022-03-18 16:44] johanneskastl opened #3827 "Building the podman multi-arch example on openSUSE Tumbleweed errors out with 255: possibly incomplete binfmt setup?"
**Description**

I wanted to try the multi-arch container builds on openSUSE Tumbleweed, but the builds end with error 255
https://podman.io/blogs/2021/10/11/multiarch.html

Is there a way to check if the binfmt setup is fully working? I have no clue where the error is, my limited knowledge on binfmt, errors in buildah/podman, errors in the packaging, errors in systemd, etc. pp.

The `Containerfil

[2022-03-18 18:10] TomSweeneyRedHat commented on #3827
@cevich Thoughts?

[2022-03-18 18:37] an-dr-eas-k commented on #3781
this is what I am doing in a fc35 dockerfile:

[code]

[2022-03-18 19:23] nalind commented on #3827
The interpreters in the `qemu-linux-user` package in tumbleweed appear to be dynamically linked, so they're not suitable for this use case.
You're probably going to need to use the alternate approach of registering static interpreters provided by a container image, e.g. by running `podman run --rm --privileged docker.io/multiarch/qemu-user-static --reset --persistent yes` the first time, and again

[2022-03-18 20:08] cevich commented on #3827
Hmmm, ya I bet @nalind is right.  This isn't a problem I have any experience with.  When I screwed up binfmt-misc, I always got some error about an unrecognized binary format, so this is new to me.

[2022-03-18 20:43] johanneskastl commented on #3827
Thanks for the quick reply. I'll try to verify this in a Tumbleweed VM tomorrow.

If this is indeed the case, then I would reach out (again) to the openSUSE lists to see if we can have an additional package with statically-linked binaries.

For my original question: Is there a way to test whether or not binfmt is properly setup? Or would this small example build be the actual testcase for this?

[2022-03-18 21:03] johanneskastl commented on #3827
OK, I had to know. I just spun up a new tumbleweed VM, installed podman and buildah and ran the command that @nalind gave.
I could see lots of things appear in `/proc/sys/fs/binfmt_misc/`.

# And I can confirm that this works, I could "build" the s390x and arm64/aarch64 examples without issues.

[code]

[2022-03-18 21:30] nalind commented on #3827
The check generally involves verifying that that `/proc/sys/fs/binfmt_misc` exists, that there's an entry for each interpreter under it, that the entries in `/proc/sys/fs/binfmt_misc` include `F` in their flags, and that the binary it names as the interpreter is statically linked (`file` will know).

The `qemu-linux-user` package installs a statically linked `/usr/bin/qemu-binfmt` which tries to e

[2022-03-19 11:16] #3822 closed

[2022-03-19 14:42] johanneskastl commented on #3827
Thanks @nalind  for the explanation!

IMHO this would be a good addition for the buildah/podman docs, so people can verify if the underlying "infrastructure" is already in place for building multi-arch containers.

Especially as there seem to be only few tutorials that are very platform-specific.

[2022-03-19 14:46] johanneskastl commented on #3827
The binaries on my Tumbleweed machine are shown as `statically linked`, unfortunately.

[code]
So, this leaves me puzzled again...

[2022-03-19 16:30] johanneskastl commented on #3827
In the meantime Fabian was kindly replying in the openSUSE Bug report that the (apparent) real cause is a patch introduced in the openSUSE qemu package, that breaks this feature:
https://bugzilla.opensuse.org/show_bug.cgi?id=1197298

I would like to keep **this bug** open until it is fully solved, as it seems there might be some more back and forth until the puzzle is solved.

Thanks all for your

[2022-03-19 18:22] rhatdan commented on #3684
This looks like you are being blocked by either SECCOMP or no CAP_SET_UID

[2022-03-19 23:53] rhatdan commented on #3725
@flouthoc Do you have a chance to look at this?

[2022-03-21 08:26] flouthoc commented on #3826
Hi @csmith , Thanks for creating the issue. I think you can override `io.buildah.version` but I also agree that there must be option to suppress default labels. Above PR adds a new flag `--remove-identity-labels` which adds the following requested feature.

[2022-03-21 08:32] flouthoc commented on #3725
Hi @bcaton85 the links which you have posted above points to `404`. I am assuming since you have removed custom file from `master` then you are not using that in upstream or found a workaround.

If this issue is unresolved then could you please post the new links which are still accessible and feel free to open this issue.

Thanks

[2022-03-21 08:32] #3725 closed

[2022-03-21 13:04] bcaton85 commented on #3725
@flouthoc I've updated the comment with the most recent links, let me know what else i can get you.

[2022-03-22 10:48] #3815 closed

[2022-03-22 14:50] dawagner opened #3832 ""rm" fails with EIO on btrfs when piling up layers"
**Description**

When piling up a large number of layers that remove/recreate folders, **using btrfs** as underlying filesystem, "rm" or "rmdir" fails to remove directories at some point, with EIO.

**Steps to reproduce the issue:**

The following script reproduces the issue:

[code]

At some point, it fails with: `rm: can't remove '/a/b': I/O error`.

I can't reproduce the issue on ext4.

**Outpu

[2022-03-22 14:57] rasmusory opened #3833 "Podman build random number seed problem"
**Description**

We have a setup, where we package Python programs into Windows executables using Wine and PyInstaller inside a container. This setup works great in Docker.
We are now moving away from Docker and over to using Podman, but this is giving us problems.
The exact same Dockerfile that works in Docker is failing when using Podman build.
It seems that Podman build is not seeding the rando

[2022-03-22 14:59] rhatdan commented on #3832
@giuseppe PTAL

[2022-03-22 15:18] rasmusory commented on #3833
The Dockerfile works without changes in Docker Desktop 4.5.0 (74594)

[2022-03-22 16:43] brianjmurrell opened #3834 "error from newuidmap: newuidmap: write to uid_map failed: Operation not permitted"
**Description**

Trying to build a container results in an error:

[code]
**Steps to reproduce the issue:**
Not entirely sure.  Simply tried to build a container as above.

**Describe the results you received:**
As above.

**Describe the results you expected:**
Container build works just as it does successfully on a different Fedora 35 system where my `uid` is `1001`

**Output of `rpm -q buildah`

[2022-03-22 17:44] giuseppe commented on #3620
something like the following patch seems to solve the issue for me:

[code]

@rhatdan @nalind if you are fine with this approach, I will clean it up and add some tests

[2022-03-23 05:44] vl-shopback opened #3838 "error building at STEP "RUN apt update": exit status 1"
**Description**

**Steps to reproduce the issue:**
below works fine
[code]
below got error
[code]

[code]

**Describe the results you received:**
buildah should work fine when build arm64 image on amd64 cpu

**Describe the results you expected:**
[code]

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman version` if reportin

[2022-03-23 06:24] flouthoc commented on #3838
Hi @vl-shopback , Thanks for opening the issues.

This is expected behviour since `RUN apt update` is executed while building the image, but your current platform is `linux/amd64` while you pulled the base image for `--arch arm64 --variant v8` hence its trying to execute binary which does not matches with the current platform.

You can solve this by

* Using emulator which can support executing bi

[2022-03-23 06:24] #3838 closed

[2022-03-23 06:30] flouthoc commented on #2602
Locking support and with mount=type=cache is implemented here hence closing this issue: https://github.com/containers/buildah/pull/3820

[2022-03-23 06:30] #2602 closed

[2022-03-23 07:50] vishal-yadav opened #3839 "building from source fails due to error: could not determine kind of name for C.gogpgme_data_seek"
**Description**

**Steps to reproduce the issue:**
As per steps mentioned for CentOS 7 in install.md guide.
https://github.com/containers/buildah/blob/main/install.md#rhel-centos

**Describe the results you received:**
Build fails with below error
[code]

**Describe the results you expected:**
Should be able to build buildah from source.

**Output of `rpm -q buildah` or `apt list buildah`:**

[cod

[2022-03-23 08:33] giuseppe commented on #3834
could you try these commands to confirm newuidmap and newgidmap work?

[code]

[2022-03-23 08:41] flouthoc commented on #3839
@vishal-yadav Could you update `gpgme-devel` and try setting `CGO_CFLAGS="-Dgpgme_off_t=off_t"`, I do not have `centos 7` env but similar issues are reported across other threads so this might help.

[2022-03-23 10:18] giuseppe commented on #3832
could you try with a newer Fedora?  Fedora 33 is EOL

[2022-03-23 11:59] #3833 closed

[2022-03-23 12:06] brianjmurrell commented on #3834
[code]

Just for good measure:
[code]

so not an SELinux problem at least.

[2022-03-23 12:06] rhatdan commented on #3834
Prior versions of dnf required a reinstalled shadow-utils package to make sure newuidmap and newgidmap got their  filecap set.

In quay.io/buildah/stable we do: `rpm --restore shadow-utils` to fix the permissions on these files.
[code]

[2022-03-23 12:37] giuseppe commented on #3620
opened a PR: https://github.com/containers/buildah/pull/3840

[2022-03-23 13:48] rhatdan commented on #3834
Yes there is something wrong with the imagebuilder that is building the base images.  I am surprised it has not been fixed yet.

The lchown issue, means that the UID is not allowed to be changed, either the UID range in the user namespace is not covered or the underlying file system is not allowing the chown.

[2022-03-23 13:58] brianjmurrell commented on #3834
Any thoughts on how which of those problems is determined to be the cause and the mitigation?

[2022-03-23 14:00] rhatdan commented on #3834
--build-arg UID=$(id -u) is probably causing the issue, if this UID is not available in the user namespace.

[2022-03-23 14:05] rasmusory commented on #3833
Impressive speed! Thanks.

[2022-03-23 14:14] rhatdan commented on #3834
Just a guess, but UID 11412345 does not exists within the user namespace and if this UID is attempted to be put on disk the chown will fail.

[2022-03-23 14:52] rhatdan commented on #3834
Could you try to build in rootfull mode?  What are you doing with the UID? BTW Your UID is in the container, it is just mapped to root.

[2022-03-23 14:53] wnm3 opened #3932 "Trouble COPYing from symlinked directory that was mounted into podman with machine init -v"
**Is this a BUG REPORT or FEATURE REQUEST? (leave only one on its own line)**

/kind bug

**Description**

I have a symlinked directory /store/waamount that points to /Users/wnm3/csnext/aiden/ai-c-aiden/common/WAAUXServer/data
I have initialized my machine passing -v /store/waamount:/store/waamount
This has allowed me to run containers from images I'd already built, using the -v /store/waamount:<s

[2022-03-23 15:01] brianjmurrell commented on #3834
The UID in the container is being used to add a user.  I.e.: `RUN useradd -u $UID -ms /bin/bash $USER`.

Running the `podman` command as above with `sudo` (rootfull, as I understand it), the container does continue to build but gets an error at it's first `RUN` command:

[code]

Although frankly if that's just a side-effect of running rootful, then we could disregard it as hopefully running rootfu

[2022-03-23 16:10] rhatdan commented on #3834
If you are running the container with Podman, there is no need to add that user.

Podman will do it automatically with a command like:

$ podman run --userns=keep-id -v $HOME:$HOME --workdir $HOME fedora grep dwalsh /etc/passwd
dwalsh:*:3267:3267:Daniel J Walsh:/home/dwalsh:/bin/sh

[2022-03-23 16:38] giuseppe commented on #3834
yes please drop `--build-arg UID=$(id -u)` because that ID is not available inside the user namespace.

I am closing the issue since this failure is expected, but please keep the discussion going and add more comments.

[2022-03-23 16:38] #3834 closed

[2022-03-23 20:06] brianjmurrell commented on #3834
Following along here: https://rpm-software-management.github.io/mock/#mock-inside-podman-fedora-toolbox-or-docker-container

it instructs to add a `mockbuilder` user and add that user to the `mock` group.

AFAIU, that is needed when creating the user above so that a directory mapped into the container (with `-v`) has the same ownership of files inside the container as outside.  At least on Docker,

[2022-03-24 06:53] flouthoc commented on #3384
I don't see this issue with on fresh podman and buildah both with `rootless` and `rootfull`, remember to use `Z` while mounting rootless to Selinux label is set on mounted volume.

Reproducer which i tried
[code]
Output
[code]

I'm closing this issue but feel free to reopen if i'm mistaken.

[2022-03-24 06:53] #3384 closed

[2022-03-24 18:01] brianjmurrell commented on #3834
But then (with Docker at least -- recall the requirement to be compatible with Docker as podman is not ubiquitous yet) running the container with, say, `-v $HOME:$HOME` does not allow the user in the container to access `$HOME` with the same permissions as on the host system.  Reading some things could be allowed, but almost assuredly, writing will not be.

[2022-03-24 19:43] brianjmurrell commented on #3834
I'm not seeing that here.  Creating the container with the default `UID` value of 1000 and then trying to use it:
[code]
Or maybe I am.  I don't really know any more as I am so confused now.  I really just want to be able to start a container, map my `$HOME` into it and operate in it as if I were not in a container, just like I can do with Docker given this `Dockerfile` and building a container fr

[2022-03-24 19:58] rhatdan commented on #3834
@giuseppe thoughts?

BTW Podman can do exactly what Docker does, which is run as root.  The issues you are seeing is caused by the User Namespace.  If you ran docker in rootless mode, you would have the exact same issue.

@giuseppe I think we should have
  $ podman unshare --userns=keep-id cat /proc/self/uid_map

To allow users to see what that user namespace looks like.

[2022-03-25 06:45] ThanatosDi commented on #3708
I want to move from docker to podman for develope
I also have this problem when I build container from Laradock php-fpm
How can I fix this problem?
[code]
podman info
[code]

[2022-03-25 08:22] giuseppe commented on #3832
closing the issue since it is likely caused by the kernel on a not supported system.

Please reopen if it still exists with a newer kernel

[2022-03-25 08:22] #3832 closed

[2022-03-25 10:28] giuseppe commented on #3839
on CentOS 7 you can use `make BUILDTAGS=containers_image_openpgp`

[2022-03-25 10:28] #3839 closed

[2022-03-25 11:39] rhatdan commented on #3790
Since we received no further feedback, I am going to close, reopen if you have more feedback.

[2022-03-25 11:39] #3790 closed

[2022-03-25 11:41] rhatdan commented on #3708
@flouthoc @giuseppe thoughts?

[2022-03-25 11:47] flouthoc commented on #3708
I am not sure but if its possible and we can convert lowerdir path to relatives it should help.

[2022-03-25 13:45] brianjmurrell commented on #3834
I seem to have a solution that works in both environments with both high and low UIDs:

[code]

### Podman
[code]

### Docker
[code]

where with Podman, my UID is 1001 and on the Docker machine, my UID is 11412345.

But boy this was a long haul to get here.

Any thoughts about all of this?

[2022-03-25 14:06] bendem opened #3861 "Allow combination of `--no-cache` and `--layers=true`"
Currently, combining `--no-cache` and `--layers=true` results in
[code]

There are valid use cases where we want `buildah` to produce layers (speed up next builds, provide more layers to improve push/pull operations) while not using currently available layers. One such case for us is weekly rebuild: we want the weekly rebuild to ignore existing layers while still providing build cache and separate

[2022-03-25 14:12] bendem commented on #3861
The restriction was added here, not sure why.
https://github.com/containers/buildah/commit/fc438bb932e891cbe04109cfae1dfbe3c99307a5

[2022-03-25 16:02] giuseppe commented on #3834
could you give a try to `podman run --userns=keep-id` instead of specifying the `--user` manually?  That will setup the user namespace in a way to map your user to the same ID inside the container.  It is a shortcut for doing it manually with `--user` and `--uidmap`

[2022-03-25 19:30] rhatdan commented on #3861
That makes some sense to me.  Not sure why this was blocked, but it might have been a mistaken thought.

[2022-03-25 19:31] rhatdan commented on #3861
Please open a PR to remove the check.

[2022-03-25 19:43] flouthoc commented on #3861
I agree use-case makes sense @bendem would you like to take a stab at this ? For starting point I think check is only at cli and some part might be in `imagebuildah/stage_executor.go`.

[2022-03-26 01:25] edsantiago commented on #3710
Very funny, github-actions. This is still an enormous annoyance.

[2022-03-26 04:53] btrepp opened #3866 "Digests on local buildah different from registry, unclear how to 'correct'"
Buildahs images seem to use a digest strategy that doesn't align with dockers. This makes it difficult to get the digest to use in other images.

If you try to get a local built buildah digest out, it changes when pushed, the only way to get the 'registry' digest, seems to be to push, delete your image, and then pull it back. This seems fairly wasteful.

In my CI servers, I would like to get the i

[2022-03-26 09:47] rhatdan commented on #3791
@flouthoc what is going on with this issue?

[2022-03-26 23:38] nycnewman opened #3868 "Building multi-arch with podman appears to result in a pushed image with only one arch"
**Description**
Attempting to build multi-architecture images on MacOS using Podman appears to be broken and resulting uploaded image has only one architecture. It also appears that images are tagged as localhost/<expected-tag> or no tag at all.

podman installed on M1 Apple with Monterey 12.3. Also installed qemu-user-static into podman machine to enable multiarch execution.

The process appears

[2022-03-28 04:01] btrepp commented on #3866
A better workaround for now is to use skopeo
https://git.sr.ht/~btrepp/blog/tree/host/item/Makefile#L6

This way I am not pulling the whole image back so it is less network load, but is still a bit less secure than using digests my builder computed.

Not 100% sure if this is a bug, or me misunderstanding some critical buildah concept. Could be some sugar service is helping me in ways I don't under

[2022-03-28 06:34] flouthoc commented on #3866
@btrepp I think digest generation strategy of buildah is quite different from docker and the one on your local is uncompressed digest while on remote it is changed since its compressed on push and there is no prior way of knowing that. There is a similar issue discussed here https://github.com/containers/buildah/issues/2034#issuecomment-575386367

I'll tag @mtrmac @nalind here since they can comme

[2022-03-28 07:47] flouthoc commented on #3868
Hi @nycnewman , Thanks for creating the issue.

I think `podman build --platform linux/arm64/v8 --platform linux/amd64 --manifest .` is not a valid command. It should fail with `Error: no context directory and no Containerfile specified`

Could you try this `podman build --platform linux/arm64/v8 --platform linux/amd64 --manifest somename .`
and then `podman manifest inspect somename`, it shows ma

[2022-03-28 08:24] flouthoc commented on #3861
This seemed fairly simple above PR should close this.

[2022-03-28 09:32] btrepp commented on #3866
Thanks for the reply. I can appreciate there may be some intricacies in the different systems.

What is suprising, is that docker is consistent with this, e.g the locally computed digest is the same as what gets sent over when using docker build.
So docker build, push, == registry uses the digest the local build had
     buildah bud, push, == registry and local build are different digests

Strange

[2022-03-28 10:30] flouthoc commented on #3791
@rhatdan I lost track of this but picking this again and working on fixing the root here: https://github.com/containers/buildah/issues/3710#issuecomment-1049016014

[2022-03-28 10:31] flouthoc commented on #3710
@edsantiago Thanks for reminding, I'll start looking at this again, hopefully with catch race this time.

[2022-03-28 12:57] #3861 closed

[2022-03-28 13:24] btrepp commented on #3866
https://stackoverflow.com/questions/67062271/are-docker-image-digests-really-secure

This may be the divergence, perhaps docker doesn't have a digest until push happens, buildah is at least computing something. The question is whether it would be possible to get that digest back in buildah push

[2022-03-28 15:11] flouthoc commented on #3866
I think @btrepp meant that digest given by `--digestfile` is actually not use-able by buildah commands, if we do `buildah inspect <digest-from-digestfile>` it should throw `not found` or something similar.

[2022-03-28 15:59] mtrmac commented on #3866
I don’t know the details, but I vaguely remember someone saying that recent versions of Docker do store the compressed representations locally (in some cases?). So that’s possible.

It deduplicates using the config blob digest, if any.

It’s not something that just exists right now; locally-stored images only exist as extracted filesystems, there isn’t a natural place to store a compressed represe

[2022-03-29 09:33] flouthoc commented on #3710
Although these races are legit but it should not flake in CI if we are already expecting things to be sequential in CI with `--jobs=0` here https://github.com/containers/buildah/blob/main/tests/bud.bats#L3611 above PR should address that.

[2022-03-29 14:56] cevich commented on #3710
I don't know the code, but that sounds like it might prevent parallel pulling, no?  IMHO, pulling in parallel is almost universally desirable since bandwidth is vastly cheaper than engineer-time :grinning:

[2022-03-30 07:48] flouthoc commented on #3511
Thanks @floriankisser Above PR should close this, added a test to verify your use-case as well.

[2022-03-30 09:19] flouthoc commented on #3710
@cevich We can make it granular so it only locks for pull with same name, so it should still allow other pulls in parallel. Anyways problem could be entirely different.

@edsantiago @cevich I have a small question, do we have this flake since inception of `bud-multiple-platform-no-run` or was this flake introduced somewhere in the middle. Following question would help me diagnose if any commit in

[2022-03-30 11:36] edsantiago commented on #3710
The first instance I see was 2021-10-08 but unfortunately those logs are gone.

[2022-03-30 15:54] #3620 closed

[2022-03-30 20:19] #3544 closed

[2022-03-30 20:40] cevich commented on #3710
This has been a problem for a very long time.  I seem to remember Miloslav or Nalin mentioning the underlying name/pull race problem being in c/storage or c/image.  At the time we just ignored it assuming it would be rare :grinning: It's worth talking to them about it, I think they know right where the issue is.

[2022-03-30 20:59] nalind commented on #3710
We fixed this exact problem in https://github.com/containers/common/pull/688, but the helper function it introduced is no longer being used, so it's possible we broke it since then.

[2022-03-30 21:08] cevich commented on #3710
I'm not surprised, from what I remember from discussions before, there was some unholy (re-implementation level) hell :imp: somewhere in c/storage or image that nobody wanted to touch.  So we collectively stuck out heads in the sand.  I wouldn't doubt for a second, that's what's biting us now :confused: I bet @mtrmac remembers.

[2022-03-31 11:38] vrothberg commented on #3866
Sounds good to me. @flouthoc, are you interested in opening a PR in c/common?

[2022-03-31 11:41] edsantiago commented on #3771
Test passes on [buildah-1.25.1-1.fc37 bodhi](https://osci-jenkins-1.ci.fedoraproject.org/job/fedora-ci/job/dist-git-pipeline/job/master/127187/testReport/(root)/tests/root_test/):
[code]
...so I guess this is resolved.

[2022-03-31 11:41] #3771 closed

[2022-03-31 11:43] edsantiago opened #3884 "rootless+cgroupv2+systemd : failure in user.slice test"
New gating-test failure in [buildah-1.25.1-1.fc37](https://osci-jenkins-1.ci.fedoraproject.org/job/fedora-ci/job/dist-git-pipeline/job/master/127187/testReport/(root)/tests/root_test/)
[code]

[2022-03-31 11:48] flouthoc commented on #3866
@vrothberg I'll take it thanks.

[2022-03-31 11:49] rhatdan commented on #3799
@flouthoc aren't you working on this?

[2022-03-31 11:50] flouthoc commented on #3799
@rhatdan Yes there is already a PR for this but it requires few changes. I got this.

[2022-03-31 12:55] mtrmac commented on #3710
The two hairy issues I have identified earlier are https://github.com/containers/storage/issues/1147 (with two proposed fixes) and https://github.com/containers/storage/issues/1136 (with no fix at all).

Those might be related, but I don’t know enough to be able to identify them from logs as definite causes. Note that both should _only_ happen on some kind of failure or forced abort (e.g. a timeou

[2022-03-31 15:59] narinor opened #3887 "sd-bus call: Transport endpoint is not connected"
**Description**
Any Dockerfile build that connects to the internet fails with podman while they work with Docker.

**Steps to reproduce the issue:**
I'm attempting to build the following Dockerfile as root (`podman build . --no-cache`):
[code]
For networking I am using systemd-networkd.

**Describe the results you received:**
The complete output is:
[code]

Based on tests with other Dockerfiles, I

[2022-03-31 19:28] narinor commented on #3887
I am running podman as root.

`podman info`:
[code]

`podman --events-backend=file build .` outputs the exact same.

`podman run alpine echo hi` works fine:
[code]

[2022-03-31 20:07] deuill opened #3892 "Generated hostnames sometimes exceed `HOST_NAME_MAX`"
/kind bug

**Description**

**NOTE**: I am opening this issue here rather than on the tracker for Buildah, as I can only replicate this with `podman build` (version 4.0.1, commit c8b9a2e) and not on `buildah build` (version 1.25.0, commit cdcaaf51); as such, I suspect this might be an issue with the currently vendored version of Buildah that has since been fixed upstream.

Container builds (via, s

[2022-04-01 09:09] sharkymcdongles opened #3890 "Buildah 1.25.1 fails to go build with isolation chroot within a gitlab runner"
**Description**

**Steps to reproduce the issue:**
1. Try and build the following within a container: https://github.com/salesforce/generic-sidecar-injector/blob/master/Dockerfile
2. Command used: buildah --isolation chroot bud --format docker

**Describe the results you received:**
It errors out with:
[code]

**Describe the results you expected:**
I expect it to build. It works fine for me on my

[2022-04-01 09:34] narinor commented on #3887
I figured it out. I become root using `sudo -E`, which preserves my environment. Very convenient normally, but part of my environment is apparently `XDG_RUNTIME_DIR` and `DBUS_SESSION_BUS_ADDRESS`. These point to directories with UID names, which I assume are not intended to be used by another user. Unsetting these two variables, or becoming root through another method, like a normal `sudo su`, fi

[2022-04-01 09:34] #3887 closed

[2022-04-01 09:51] sharkymcdongles commented on #3890
It was my fault. The folder was on my local machine, but it was missing in the container due to .gitignore.

[2022-04-01 09:51] #3890 closed

[2022-04-01 13:29] giuseppe commented on #3884
PR here: https://github.com/containers/buildah/pull/3891

[2022-04-01 17:23] TomSweeneyRedHat commented on #3890
Phew!  And thanks for the follow up @sharkymcdongles !

[2022-04-02 03:32] #3892 closed

[2022-04-04 05:21] #3884 closed

[2022-04-04 17:28] Xiretza opened #3968 "No IPv6 access in podman build, but works in podman run"
/kind bug

**Description**

Commands run from inside `podman build` have no IPv6 access, while the same commands run from `podman run` work fine.

**Steps to reproduce the issue:**

`echo -e 'FROM docker.io/archlinux:latest\nRUN curl --verbose --ipv6 https://google.com' | podman build -`

**Describe the results you received:**

[code]

**Describe the results you expected:**

The same output as wit

[2022-04-05 12:23] #3511 closed

[2022-04-06 07:53] joyfulmantis commented on #3789
Wonderful, thanks!

[2022-04-06 13:51] #3826 closed

[2022-04-07 07:28] fruttasecca opened #3904 "[FEATURE REQUEST] Allow pushing uncompressed images to local docker registry"
This is currently not possible given that the desired compression is hardcoded in `vendor/github.com/containers/image/v5/docker/docker_image_dest.go`, which leads to ignoring the `--disable-compression` flag on push.
[code]

FYI, I have tried to set it to `types.PreserveOriginal` and rebuilt `buildah`, which appears to work.

[2022-04-07 10:11] flouthoc commented on #3904
Hi @fruttasecca Thanks for opening the issue. This looks like a nice feature request, I'll try checking this.

[2022-04-07 13:32] rhatdan commented on #3806
@Luap99 is this part of the same /etc/hosts effort?

[2022-04-07 13:36] Luap99 commented on #3806
No that would be different work but I will try to get to it after my hosts work.

[2022-04-11 07:11] fanux opened #3907 "Build source code failed"
[code]
[code]

[2022-04-11 07:26] etegan commented on #620
My use case is that I want to be able to use ansible-bender (uses buildah as a backend) to build images with CI. In this case lazy loading would very much be preferred.

[2022-04-11 07:26] flouthoc commented on #3907
Hi @fanux , Thanks for creating the issue following issues seems to be duplicate of https://github.com/containers/buildah/issues/3839 . Could you take a look at the link which i have shared. I am closing this issue since this seems to be a duplicate but please feel free to re-open if something is unresolved.

[2022-04-11 07:26] #3907 closed

[2022-04-11 07:46] fanux commented on #3907
[code]
Works, thanks!

[2022-04-11 11:32] schmidtd commented on #2727
I have this same problem - any idea how to remove the offending image?  `rmi -f` doesn't succeed in getting rid of it.

[2022-04-11 11:45] rhatdan commented on #2727
Is this with a later version of Buildah?  Have you tried with podman 4?

[2022-04-11 12:45] schmidtd commented on #2727
I updated everything in sight, and now I can `rmi` the offending images:
[code]
This is on Red Hat Enterprise Linux release 8.3.

[2022-04-11 14:24] rhatdan commented on #2727
Great thanks.

[2022-04-12 19:03] andrewgdunn opened #3912 "Tidy Demo's, Rootless Accomodated?"
**Description**

On Fedora 35, running as non-root. Fresh install without any cached short name aliases (e.g. `~/.cache/containers/short-name-aliases.conf`) the `demo/buildah_multi_stage.sh` script fails:

[code]
This could be resolved by putting `docker.io/` in the `from` invocations. Reference [container-image-short-names](https://www.redhat.com/sysadmin/container-image-short-names).

It also fa

[2022-04-12 19:09] andrewgdunn commented on #3912
I guess I should point out that in [the readme](https://github.com/containers/buildah/blob/main/demos/README.md?plain=1#L28) maybe it's intended that these demos are run as root and rootless is not a reasonable thing to try with them in their current form?

[2022-04-12 20:12] rhatdan commented on #3912
The should work in both modes, the issue is no one has run them since the shortnames change.

[2022-04-12 21:07] rhatdan commented on #3816
Should we support an environment variable for this as well.  BUILDAH_CPPFLAGS?
Or something like that?

[2022-04-12 23:03] andrewgdunn commented on #3912
I don't think it actually works with rootless right now, there isn't any unshare directives in the scripts right?

[code]

[code]

[code]

[2022-04-13 07:20] vrothberg commented on #3816
Sounds good to me.

[2022-04-13 11:41] rhatdan commented on #3912
Yes it should be rewritten to say use buildah unshare before the mount and then do everything without the unshare environment in rootless mode.

[2022-04-13 15:38] galindroasml opened #3913 "Buildah bud sets HOME=/"
**Description**

buildah bud is setting HOME=/ instead of respecting the HOME env var set in the container. Is it an expected behavior?

**Steps to reproduce the issue:**
Just execute buildah bud in any container that has the HOME set to /root or other folder. You can follow these steps:

1. Create the following Dockerfile:

[code]

2. Execute a build with buildah and docker (for comparison).

**D

[2022-04-13 17:18] rhatdan commented on #3913
Works for me?
[code]

[2022-04-13 17:20] rhatdan commented on #3913
I am afraid you need a newer version, which is probably not available for RHEL7.  Need to update to RHEL8.

[2022-04-13 17:20] #3913 closed

[2022-04-14 15:57] Luap99 opened #3914 "buildah should set hostname in /etc/hostname"
**Description**

Buildah does not set the hostname in /etc/hostname.
While working on the /etc/hosts changes I noticed a difference between containers created by podman and buildah. Buildah does not manage the /etc/hostname file.

See the code for podman here: https://github.com/containers/podman/blob/53b984f20fef3a66269029f10c6cd16d7b80fd4e/libpod/container_internal_linux.go#L1988-L1996

**Steps

[2022-04-14 15:58] jcdickinson opened #3915 "Cannot `manifest create` with an image that has not been pushed"
**Description**

I am trying to build a manifest without having to push the images. It looks like buildah is currently always assumes that an image name is a shortname.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Manifest created from local image.

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

O

[2022-04-18 07:00] flouthoc commented on #3915
Hi @jcdickinson Thanks for creating the issue above PR https://github.com/containers/buildah/pull/3916 should close this.

[2022-04-18 07:52] flouthoc commented on #3914
@Luap99 Do we have any prior issue associated to this, although legacy docker honors behavior as suggested in this issue but newer buildkit keeps `hostname` as localhost by default.

I tried this with buildkit and here is the output it keeps `/etc/hostname` as `localhost`. We could do this change but it breaks parity with buildkit.

[code]

[2022-04-18 14:22] flouthoc commented on #3915
@jcdickinson issue will be automatically closed when PR is merged upstream :)

[2022-04-18 23:11] #3915 closed

[2022-04-19 08:28] Luap99 commented on #3914
If podman sets hostname in /etc/hostname then buildah should too. These small differences between podman and buildah containers are just confusing for users.

Well than this is a bug in builkit too. There is no reason why /etc/hostname should not match the actual hostname from the uts namespace.

[2022-04-19 08:32] flouthoc commented on #3914
@Luap99 Yes I think this might be an issue with buildkit. Let me check if this can be fixed in buildkit as well so we can be sure that we are in parity and it does not break any downstream implementation because of parity diff.

[2022-04-19 18:39] rhatdan commented on #3827
Since this is not an upstream issue, I am going to close.

[2022-04-19 18:39] #3827 closed

[2022-04-19 18:43] rhatdan commented on #3914
I don't think we should hold up fixing this for buildkit to fix it.  We don't claim to be 100% compatible with buildkit, so this is not an issue.

[2022-04-20 05:46] johanneskastl commented on #3827
Sorry, forgot to close this...

[2022-04-20 10:19] sysnasri commented on #2215
any update around this issue?
I have the same problem

[2022-04-20 12:07] rhatdan commented on #2215
Please open a new issue,rather then adding to an old one.  Buildah has always defaulted to --layers=false,
If you want to change the default you can use an environment variable to change the default.

export BUILDAH_LAYERS=true

[2022-04-21 23:39] TomSweeneyRedHat opened #3921 "pull=missing is missing?"
We just had a fix go into Podman to allow for the value `missing` to be passed into the `--pull` option for build.  I just looked here, and that is not a documented value for the pull option.

It should do the same thing as `--pull=false`, that is pull the image from the registry if it is missing from local storage.  I'm not sure if it should pull if the image is newer on the registry if it is als

[2022-04-22 06:57] vrothberg commented on #3921
See https://github.com/containers/podman/pull/13952

[2022-04-25 13:45] mtrmac commented on #620
An implementation design note:

A trivial lazy approach is to just always pull the `--cache-from` image (untagged). Then the existing reuse logic can kick in.

It also seems possible enough to turn `--cache-from` into a `c/image/types.Image`, and to teach the existing cache reuse logic to consider that one extra image as one more candidate, in addition to images that already exist in c/storage. If

[2022-04-25 14:16] Korijn commented on #620
Maybe I misunderstood something but I thought the compounding problem is that the image you would pull doesn't contain _build cache_ information, so you still wouldn't be able to reuse it unless you also tackle that problem.

[2022-04-26 06:04] flouthoc commented on #3921
I think `--pull=missing` can be aliased to `--pull=false` in this case.

[2022-04-26 06:39] vrothberg commented on #3921
I understand it more as a documentation issue.

[2022-04-26 07:37] flouthoc commented on #3921
@vrothberg Ah i see then should we add a small note that in docs `--pull=false` is equivalent to `--pull=missing`.

[2022-04-26 08:24] vrothberg commented on #3921
They are not the same (see https://github.com/containers/podman/pull/13952). `--pull=false` is equal to `--pull=never`. `missing` will only pull if there's no matching local image.

[2022-04-26 09:16] flouthoc commented on #3921
@vrothberg I think some confusion here but `--pull=false` in buildah means that it will `pull` image if not present on local otherwise it will not pull the image it does not seems to be equal to `--pull=never`.

This is the definition from buildah man page says `--pull string[="true"]          pull the image from the registry if newer or not present in store, if false, only pull the image if not p

[2022-04-26 09:25] vrothberg commented on #3921
Where do you get that from? `man buildah-build` states

use only the local version. Raise an error if the image is not present locally.

[2022-04-26 09:30] flouthoc commented on #3921
@vrothberg Its written in `buildah build --help` and also I think actual behavior is like that.

[2022-04-26 09:48] vrothberg commented on #3921
That is curious! Looks like it requires some thorough look at the code and the docs / help messages.

[2022-04-26 10:08] flouthoc commented on #3436
Hi @LHCGreg , I tried reproducing this, current buildah only takes about `9 seconds` as compared to your original reproducer which was reported taking `22+` seconds. I'd request you to try this on latest buildah inside a container. I think this issue is does not persists anymore therefore I am closing this issue but please feel free to re-open if you think issue still persists.

Here is invoke whi

[2022-04-26 10:08] #3436 closed

[2022-04-26 16:01] flouthoc commented on #3436
@LHCGreg Just to try out it its working fine on buildah could you replace `FROM ${app_type} AS final` in dockerfile as `FROM x AS final` if it works fine I mean the original slow issue, we can open a new issue to parse build args early and that might be a different issue.

[2022-04-26 16:11] edsantiago opened #3930 "[v.low pri] CI: status reporting: order of successful/queued/etc"
While monitoring two in-flight PRs I noticed that Buildah and Podman report Cirrus status in different order:
[code]
For dumbos like me who don't actually read but simply look at the numbers, this inconsistency is confusing: since I'm more used to podman, I just look at the left-hand number and expect to see how much longer I have to wait.

For whoever knows how this status is reported: is it easy

[2022-04-26 18:13] rhatdan commented on #3921
@TomSweeneyRedHat I remember you working on this a while back.

[2022-04-26 18:16] rhatdan commented on #3932
@nalind @flouthoc PTAL

[2022-04-26 18:41] nalind commented on #3932
If the specified build context location is a symbolic link, it is followed, but symbolic links that are inside of the build context that point to locations outside of the build context aren't followed.  (The `podman build` operation is basically tarring up the build context and handing it to the in-VM podman process, which is not that far off from how traditional `docker build` does things, and so

[2022-04-26 19:49] LHCGreg commented on #3436
@flouthoc I confirmed that when replacing `FROM ${app_type} AS final` with `FROM x AS final`, buildah does not have the performance problem described in this issue and the build completes successfully. I can create a new issue for supporting dynamic FROM when using `buildah bud`.

For podman, I tried using quay.io/podman/stable:latest instead of my custom image and still got slow performance when

[2022-04-26 23:58] TomSweeneyRedHat commented on #3921
Yeah, and there's a minor difference in behavior between Podman and Buildah.  I don't recall exactly, but I think false acts a bit differently.  I need to dig up my notes, and spend some time playing.  The noggin is not remembering the nuances quickly.

[2022-04-28 10:59] flouthoc commented on #3436
Okay i see the problem here but its also not a problem `build` is slow with podman because it uses `--layers` by default so when `--layers` is used `buildah` creates `intermediate images` which can be used as cache later for future builds, here buildah takes time because it commits these  `intermediate images`.

So if you do `podman build --layers=false` it should give good performance since we ar

[2022-04-28 11:05] flouthoc opened #3939 "Build args does not resolves to stage when used within `FROM` when invoked with `--layers=false` or without `--layers`"
It seems buildah ignores checking stage alias names when invoked without `--layers`.

### Reproducer
[code]

[code]

Above build command prompts users to select image `x` from registry instead of resolving to stage names as `x`.

[2022-04-28 14:25] LHCGreg commented on #3436
Thanks for the insight into why `podman build` and `buildah bud` were behaving differently. If #3939 is fixed or if we refactor to use a preprocessor to pre-generate multiple dockerfiles instead of using dynamic build stages with a single dockerfile, that should solve our performance problem by allowing us to use --layers=false. Our image build is happening inside a container with no persistent st

[2022-04-29 13:12] rhatdan commented on #3436
Any chance you are using the VFS driver?

[2022-04-29 14:35] Dexus opened #3943 "How to use cni plugins?"
**Description**

I'm to switch from docker buildx where I have a CNI plugin to get for each build a own Network.

How can I do this with buildah?

Problem is that we run multiple builds at the same time and then we see that the port someone currently use, is not available and the job stops.

I would love to see a documentation where this is shown, but all the docs in this repo are currently not sh

[2022-04-29 17:44] #3789 closed

[2022-04-29 19:11] flouthoc commented on #3943
Hi @Dexus, I have not seen this problem with buildah before , have you installed buildah yet. Could you please follow this doc it has a dedicated section for configuring `CNI` and installing buildah https://github.com/containers/buildah/blob/main/install.md

[2022-04-29 19:34] illeatmyhat opened #3944 "ssh-agent mount failure on macOS 12.3"
**OS: ** macOS 12.3 "Monterey"

**Description**
I can't pull from internal GitHub repos on macOS. Other coworkers using Fedora have indicated they don't have any issues.
Basically, I have [this person on stack overflow's](https://stackoverflow.com/questions/70590964/how-to-use-podmans-ssh-build-flag) exact problem

Create a dockerfile
[code]
Run `podman build . --ssh default`
**Result:**
[code]

*

[2022-04-29 21:49] rhatdan commented on #3944
If you `podman machine ssh` does it work for you?

[2022-04-29 21:50] rhatdan commented on #3944
@flouthoc does the --ssh work agross podman --remote?

[2022-04-29 21:52] illeatmyhat commented on #3944
How would that work?
I'm used to using docker so I'm not sure if there's some special ritual to mounting the host's ssh agent onto the podman machine

[2022-05-01 14:06] Dexus commented on #3943
Ok, I think I found my problem: I used it with chroot isolation. That was not working. While the other isolations working.

[2022-05-01 14:07] #3943 closed

[2022-05-02 05:18] flouthoc commented on #3436
@LHCGreg PR https://github.com/containers/buildah/pull/3947 should fix dynamic FROM issue and should be out in next release or podman `4.1` if gets merged early and should unblock you.

For second part I think we can benchmark `commit` and check if there is any room for optimization and re-open issue if i find any abnormal performance issues there.

[2022-05-02 05:37] flouthoc commented on #3944
@rhatdan Issue could be at `podman-machine`'s ssh-agent setup itself. I'll try reproducing this.

[2022-05-02 08:46] flouthoc commented on #3799
Hi, Support for `--output` is merged here https://github.com/containers/buildah/pull/3823 should be out in next release.
Thanks

[2022-05-02 08:46] #3799 closed

[2022-05-02 09:49] flouthoc commented on #3944
I think problem is that `SSH_AUTH_SOCK` which `ssh-agent` uses to communicate exists on host and not on machine. I'm just curious if this ever worked on `podman machine` before.

Maybe this issue can be moved to `podman`.

[2022-05-02 11:20] GolanTrevize10 opened #3948 "chown permission error building with podman"
**Description**

I am building a docker image using rootless podman running inside a kubernetes container. The dockerfile contains these instructions

FROM owasp/dependency-check
ARG REGISTRY_USER
ARG REGISTRY_PASS
USER root
RUN sed -i "s|[https://dl-cdn.alpinelinux.org/alpine|https://$REGISTRY_USER:$REGISTRY_PASS@xxxxxx/artifactory/public_alpine_org|g](https://dl-cdn.alpinelinux.org/alpine%7Chttp

[2022-05-02 11:39] flouthoc commented on #3948
Hi @GolanTrevize10 , Thanks for creating the issue. Is your kubernetes container privileged ? Could you share the command which you used to build the container? also it would nice if you could also share output of `podman info` since you are using `podman` not buildah directly.

[2022-05-02 11:50] GolanTrevize10 commented on #3948
Hi @flouthoc , no it is not a privileged container.

the command is `podman -storage-driver vfs build --build-arg REGISTRY_USER=**** --build-arg REGISTRY_PASS=**** -t xxxxxxx/cdlib/dependency-check:20220502.1253.52-master .`

Output of podman info

[code]

[2022-05-02 12:52] flouthoc commented on #3948
I tried this just now following worked for me

* Start a rootless privileged container
[code]

* Run build inside container
[code]

@GolanTrevize10 Could you also add `--security-opt seccomp=unconfined --cap-add all` ? also try with a dummy container file like issue could be with your image itself
[code]

[2022-05-02 14:21] GolanTrevize10 commented on #3948
I realized now you are running buildah with root. If I use the build user it does not work

[code]

[2022-05-02 14:26] LHCGreg commented on #3436
@rhatdan : As per `podman info` in the original post, I am not using the VFS driver.

@flouthoc : Thanks! One last question: When that fix is released, how would one install that new version in Debian stable? We have been getting podman from https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/Debian_11/ for fresher versions than in the main Debian repository but that now

[2022-05-02 14:45] rhatdan commented on #3944
Yes this is definitely a Podman issue, not a Buildah issue.

[2022-05-02 16:28] flouthoc commented on #3436
@LHCGreg Most likely in the next release of buildah and `4.1` of podman (if this gets merged today) https://github.com/containers/buildah/pull/3947. I'll notify you whenever this PR is out.

Ah i see debian release is running few versions behind but no issues I think building from source is not so difficult https://podman.io/getting-started/installation#building-from-scratch . You can always open

[2022-05-02 19:30] #3939 closed

[2022-05-02 20:35] rhatdan commented on #3866
@flouthoc Status?

[2022-05-03 08:23] flouthoc commented on #3948
@GolanTrevize10 It worked fine for me even from `build` user

* Start container
[code]
* Inside container

[code]

[2022-05-03 09:01] GolanTrevize10 commented on #3948
@flouthoc sorry, yo uare right. With buildah image it works. But with podman image it doesn't:

- Start podman container
`podman run -it --rm --user podman quay.io/containers/podman:latest bash`

- Build image

[code]

[2022-05-03 14:51] rhatdan commented on #3948
Strange it looks like buildah is also attempting to set the hostname.  Could you see if there are any errors in the audit.log about setting the hostname?

Could you also try with

podman --storage-driver vfs build --uts=host ...

And see if this works.

[2022-05-03 14:54] GolanTrevize10 commented on #3948
With --uts=host it works. Where can I find the audit.log?

[2022-05-03 18:30] rhatdan commented on #3948
/var/log/audit/audit.log

[2022-05-03 18:31] rhatdan commented on #3948
Weird that it looks to me like buildah and podman would follow the same paths.

[2022-05-04 05:21] flouthoc commented on #3948
For me podman fails at a different point
[code]

[2022-05-04 05:51] flouthoc commented on #3948
Looks like podman has regressed somewhere or something is done differently in podman, regression persists on older versions as well but not on older buildah versions

Podman

* `quay.io/containers/podman:v3.4.4` -> `fails`
* `quay.io/containers/podman:v3.4..0` -> `fails`

Buildah

* `quay.io/containers/buildah:v1.23.0` -> `works`
* `quay.io/containers/buildah:v1.22.0` -> `works`

[2022-05-04 07:14] GolanTrevize10 commented on #3948
@rhatdan I don't have any /var/log/audit folder

[2022-05-04 07:48] GolanTrevize10 commented on #3948
Anyway my original issue when I run podman on a container in Openshift is different, and it happens even if I add the --uts=host

[code]

[2022-05-04 08:07] flouthoc commented on #3948
@GolanTrevize10 I see but does this discrepancy also exists with using `buildah` image directly on openshift ? If not then we can investigate inconsistency between `podman` and `buildah`

[2022-05-04 10:50] GolanTrevize10 commented on #3948
@flouthoc I tried with buildah instead of podman and same error

[2022-05-04 11:19] rhatdan commented on #3948
How are you running within OpenShift?  You need multiple UIDs to run a build, which OpenSHift does not give by default.  You also need either all capabilities or CAP_SETUID and CAP_SETGID.

Have  you read https://www.redhat.com/sysadmin/podman-inside-kubernetes?

[2022-05-04 15:46] Dexus opened #3960 "FR: `--logfile` seperated file for each platform"
**Description**
I would like to get for each platform I build, have a own logfile.

when I run:
[code]

**Describe the results you received:**

The logfile looks very mixed :(

**Describe the results you expected:**
The logfile not mixed the steps in the output from multiple platforms. Or even better would be, for each platform have a own logfile, maybe with a placeholder in the `filename-%(platfo

[2022-05-04 17:15] soukainakhalkhouli opened #3962 "IBM Cloud account is not active"
Hello team ,
While pushing images into ICR, i'm getting this error:
error copying layers and metadata from "containers-storage:[overlay@/var/lib/containers/storage+/var/run/containers/storage]us.icr.io/cicd-tekton/external-cms-backend:latest" to "docker://us.icr.io/cicd-tekton/external-cms-backend:latest": Error trying to reuse blob sha256:11936051f93baf5a4fb090a8fa0999309b8173556f7826598e235e8a82

[2022-05-04 18:14] Dexus commented on #3962
are you logged-in? `buildah login us.icr.io`
tried with oci transport?

[2022-05-04 20:59] soukainakhalkhouli commented on #3962
How can  i do that, i'm using buildah with tekton if you have any idea ?

[2022-05-04 22:23] soukainakhalkhouli commented on #3962
@Dexus
I'm getting this error STEP-PUSH

+ buildah login us.icr.io
Username: error getting username and password: error reading username: EOF

[2022-05-05 06:34] Dexus commented on #3962
login like on docker.
If this not work, I'm not the right person to help you.

[2022-05-05 06:52] flouthoc commented on #3962
@soukainakhalkhouli I think @Dexus is correct you would need to populate any one of these inside tekton build container `${XDG_CONFIG_HOME}/containers/auth.json (usually ~/.config/containers/auth.json), $HOME/.docker/config.json, $HOME/.dockercfg.`

But tekton can populate `~/.docker/config.json` out of the box from `kubernetes secrets` see : https://tekton.dev/vault/pipelines-v0.16.3/auth/#config

[2022-05-05 06:52] #3962 closed

[2022-05-05 09:09] soukainakhalkhouli commented on #3962
@flouthoc ,
Thank you for your response, i'm using tekton for CI/CD  in openshift , i don't have any idea if i should create a secret and apply it after or what exactly i should do .
Regards

[2022-05-05 09:29] flouthoc commented on #3962
@soukainakhalkhouli I think `secrets` and `serviceaccount` are just kubernetes construct so it should be available in openshift as well. So you just need to associate created `serviceaccount` with Tekton's `PipelineRun` or `TaskRun` as stated here: https://tekton.dev/vault/pipelines-v0.16.3/auth/#configuring-basic-auth-authentication-for-docker

**[Not Recommended]** If you don't want to use `secr

[2022-05-05 20:14] rhatdan commented on #3968
@flouthoc PTAL

[2022-05-06 08:11] flouthoc commented on #3968
@Xiretza You can use `buildah build --network=host ...` to make this work however I agree we should support `enable-ipv6` by default as well for private rootless network with slirp4netns so following PR should add that feature: https://github.com/containers/buildah/pull/3969

[2022-05-06 08:33] flouthoc commented on #3960
Hi @Dexus Thanks for opening the issue looks like a nice feature request just curious does `docker or buildkit` already supports this ? If yes we might wanna choose their format for compat but if not I think we can choose any one of the requested above.

[2022-05-06 09:21] Dexus commented on #3960
Hi @flouthoc, no both don't support this currently, but buildkit (`docker buildx build`) support `--progress plain` which will output with prefix, but don't mix up the output from multiple arch builds on the same time - there it is a clean output.

[2022-05-06 14:47] Dexus opened #3972 "[bug] hostnames in /etc/hosts invalide/too long (postfix install fatal error on newaliases command)"
**Description**

/kind/bug

I try to build a container with postfix in it, but it fails because the hostname is to long. This works on docker without problems.

**Steps to reproduce the issue:**

1. build docker image from debian:11-slim and try to install postfix

**Describe the results you received:**

[code]

[code]

**Describe the results you expected:**

An `/etc/hosts` entry that is valide a

[2022-05-06 14:52] Dexus commented on #3960
Well, so far I haven't seen any CLI that can build multiple architectures simultaneously and provide logfiles. Therefore, I am not currently aware of any precedent where this feature is available. There is just nothing at the moment where you can get a logfile for an architecture. Would at least be a super unique selling point for buildah.

[2022-05-06 14:58] crabhi commented on #3495
After some experimenting, I was able to mount it with `buildah run`.

[code]

[2022-05-06 15:28] #3972 closed

[2022-05-06 15:35] rhatdan commented on #3960
I wonder if we just added logdir option and had it create an arch directory with buildah.log in it would be best.

--logdir=/tmp/foobar and /tmp/foobar/lamd64/buildah.log,arm64/buildah.log,ppc64le/buildah.log, mips64le/buildah.log,s390x/buildah.log.  Perhaps a /tmpfoobar/buildah.log which would log the manifest log entries.

[2022-05-06 18:01] Dexus commented on #3960
I like the idea of that.
But would prefer the format of the platform for the children directories.

`--logdir=/tmp/foobar --platform=windows/amd64,linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v5...`

should result in something like the same or with a dash instead of a slash

[code]

[2022-05-06 18:11] rhatdan commented on #3960
That works for me, I  was thinking that but figured the chance of someone actually building a Windows image on a Linux box was just about nil.  I think from a user point of view the linux-amd64 one is better.

[2022-05-06 18:32] Dexus commented on #3960
Or one more style variant:

[code]

[2022-05-06 18:50] rhatdan commented on #3960
That is fine also.
@flouthoc something you can throw together?

[2022-05-06 21:02] guillaume-d commented on #3474
Meanwhile it's supported by default by BuildKit >= [v0.10.1](https://github.com/moby/buildkit/releases/tag/v0.10.1).
(That BuildKit version was the first one to include a [Dockerfile frontend](https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/syntax.md#using-external-dockerfile-frontend) as the built-in one with a syntax >= 1[.4](https://github.com/moby/buildkit/releases/tag/do

[2022-05-07 08:44] flouthoc commented on #3960
SGTM. I'll take this.

[2022-05-09 08:47] vrothberg commented on #3960
Wouldn't that be a breaking change?  Some users may already depend on the current behavior.

Consider using a boolean flag to switch the behavior on.

[2022-05-09 09:01] flouthoc commented on #3960
@vrothberg Ack'd this can be enabled on `--logfile` otherwise everything just stays as the original behavior.

[2022-05-09 14:55] Luap99 commented on #3806
/assign

[2022-05-09 14:55] rhatdan commented on #3904
@mtrmac @vrothberg PTAL

[2022-05-09 18:38] rhatdan commented on #3904
As long as its possible, @flouthoc could you look into this?

[2022-05-09 19:13] mtrmac commented on #3904
Actually… @fruttasecca Why do you want this to be possible?

[2022-05-10 04:50] flouthoc commented on #3904
I'll take a look at this just waiting for @mtrmac 's concern to be answered.

[2022-05-10 07:10] yyf1986 opened #3976 "compilation terminated."
**Description**

**Steps to reproduce the issue:**
1.git clone ****
2.cd buildah/cmd/buildah
3.go build -mod=vendor

**Describe the results you received:**
[code]

**Describe the results you expected:**

**Output of `rpm -q buildah` or `apt list buildah`:**

[code]

**Output of `buildah version`:**

[code]

**Output of `podman version` if reporting a `podman build` issue:**

[code]

**Output of `c

[2022-05-10 07:19] flouthoc commented on #3976
Hi @yyf1986 , Thanks for creating the issue.

It seems you are missing development headers and libraries for gpgme. Please download for `libgpgme-dev` for debian or `gpgme-devel` for fedora/centos. I am closing this issue but feel free to re-open is something is unresolved :)

[2022-05-10 07:19] #3976 closed

[2022-05-10 09:22] jfilak commented on #3708
This issue is annoying me also in RHEL 8.5 :(

[2022-05-10 09:44] giuseppe commented on #3708
how many layers are you using for your image?

[2022-05-10 10:54] filak-sap commented on #3708
Well, I guess more than 70 but it fails on the 37th :D

[2022-05-10 10:59] flouthoc commented on #3708
@filak-sap Looks like your page size is even lower than the issue reported above cause it usually fails on `65`th layer.

[2022-05-10 15:25] komish opened #3979 "Canceling `buildah bud` during layer pull causes `layer not known` with unclear resolution"
**Steps to reproduce the issue:**
1. Run `buildah bud`. Unconfirmed whether the containerfile must contain a builder stage.
2. Cancel (Ctrl+c) the execution immediately after it starts, as one might do when they realize they did not provide sufficient arguments.
3. Try to run `buildah images`. I observed this by running `buildah bud` again, seeing similar errors, and then running `images` afterwar

[2022-05-10 19:26] kousu commented on #3806
Thank you @Luap99 for following up :)

[2022-05-11 10:02] flouthoc commented on #3979
Hi @komish , Thanks for creating the issue. I think this happens because buildah uses a component called `containers/storage` which commits layers to storage but if a layer gets corrupted and is commit-ed into storage we see all sorts of side effects ( like when you cancel `pull` in-flight ).

Usually cleaning of storage manually should fix this or `podman system reset` should also fix this as wel

[2022-05-11 10:02] #3979 closed

[2022-05-11 13:09] mangelajo opened #3981 "Can create, but can´t push manifest with mixed mediaTypes"
**Description**

When a manifest is created mixing images pulled from the registry, in a different mediaFormat, and images created locally, it fails to push them to quay later with:

[code]
$ skopeo inspect --raw containers-storage:quay.io/microshift/cli:4.10.0-0.okd-2022-04-23-131357 | jq
{
  "schemaVersion": 2,
  "manifests": [
    {
      "mediaType": "application/vnd.docker.distribution.manife

[2022-05-11 13:45] fruttasecca commented on #3904
@mtrmac Essentially we are in a situation of limited vcpus, images of a considerable size (a few gigs) and a registry that is deployed in the same cluster as the `buildah` pod in charge of building. We favoured speed over space, pushing with `types.PreserveOriginal` allowed us to cut down the total build + push time by almost 50%.

[2022-05-11 17:46] mtrmac commented on #3904
Thanks, that makes sense.

(Often enough, these flag requests are motivated, after digging 3-4 steps deep, by some completely unrelated bug or missing feature, so I think it’s always worth asking.)

[2022-05-12 07:30] fruttasecca commented on #3904
Makes sense, thank you for looking into it :+1: .

[2022-05-12 20:20] ibotty opened #3987 "buildah in tekton task deployed via tekton-operator fails on OKD"
I am not sure that's the right forum for this bug.  It might well be a configuration issue and thus should be filed in tektoncd/catalog or tektoncd/operator.  But I saw similar bugs here, so.  Please point me to the right issue tracker if that's the wrong one.

Running the `buildah`-ClusterTask I always get the following error.

[code]

The pod is running as root with the following security config

[2022-05-12 20:44] rhatdan commented on #3904
@flouthoc Looks like we are a go.

[2022-05-12 23:59] ligowigo opened #3988 "User is not in group after useradd, in sucsessive RUN commands."
**Description**

When a new user is added with group membership it does not have that membership until the container is started. In the below examples when the `groups` command is run after the `useradd` the user is not in the sudo group. However in the expected results (collected with docker) the user is in the sudo group.

When I start the container after the build and run `groups` it is in the

[2022-05-13 01:44] dsedivec opened #3989 "Build URLs don't support subdirectories within Git repos"
**Description**

`docker build` supports supplying both the branch and subdirectory to build when giving a Git URL.  For example, `https://github.com/nginxinc/docker-nginx-unprivileged.git#main:mainline/debian` says to build the repository github.com/nginxinc/docker-nginx-unprivileged, branch `main`, with the build context directory within the repository being `mainline/debian`.

If I'm reading [t

[2022-05-13 06:35] Dexus commented on #3988
I cant reproduce this with 1.26.1

[code]

[2022-05-13 07:20] flouthoc commented on #3989
Hi @dsedivec , Thanks for creating the issue. Above PR should close it.

[2022-05-13 07:31] flouthoc commented on #3988
Hi @ligowigo , @Dexus is correct I don't think this bug persists on upstream anymore. Afaik something for rootless was fixed here: https://github.com/containers/buildah/pull/3593 but currently this bug does not exists on upstream for both rootless and rootful.

I am closing this issue but please feel free to re-open if you feel something is unresolved.
Thanks

[2022-05-13 07:31] #3988 closed

[2022-05-13 07:54] flouthoc commented on #3981
Hi @mangelajo Thanks for creating the issue. Does registry accepts mixed `mediaTypes` for `schemaVersion: 2`, Not sure but I think here buildah is failing while copying the manifest to remote dest. On quick lookups i was not able to find any documentation for `quay.io` and image-spec seems to be missing any reference of mixed types https://github.com/opencontainers/image-spec/blob/main/manifest.md

[2022-05-13 08:00] Dexus commented on #3960
When can I expect this integration? It is really annoying currently with the mixed logs from all concurrent builds.

[2022-05-13 08:05] flouthoc commented on #3987
@ibotty Does it work if you disable selinux and just make it priviledged ?  I would like you to try securityContext below in both in `Pod` and Tekton `Task` step to just check. But also issue is missing a bit of context is the log shared belongs to the output of Tekton Task running buildah ?

[code]

[2022-05-13 08:06] flouthoc commented on #3960
@Dexus I'll start on this today :).

[2022-05-13 13:50] teojgo opened #3993 "Secret cannot be used more than once in a Containerfile"
**Description**
Using the `--secret` option of `buildah bud` does not allow the same secret to be used more than once in a Containerfile

**Steps to reproduce the issue:**
1. Create a simple Containerfile with the following contents:
[code]
2. Create a `mysecret.dat` text file with some random contents within the same directory
3. Try building the image using: `buildah bud  --secret=id=mysecret,sr

[2022-05-13 15:14] nalind commented on #3987
Is the node running kernel 5.12 or later?  If so, I think you'll need to arrange for the container to have the CAP_SETFCAP capability.

[2022-05-13 15:59] mtrmac commented on #3981
Mixing manifest schemas like this is not expected to work.

Buildah should either explicitly reject that, or (preferably?) convert the input manifests to all use a consistent format before/when creating the manifest. (c/image/copy can convert multi-arch images, but only when explicitly instructed to do so, and it silently assumes[1] the input to be compliant with specs, and that implies using a co

[2022-05-13 16:07] rhatdan commented on #3981
@nalind @flouthoc WDYT?

[2022-05-13 16:28] flouthoc commented on #3981
I think rejecting at buildah end might be more useful for users here instead of silently converting it to consistent format or maybe warn while converting the manifest into the common format.

[2022-05-13 18:09] Dexus commented on #3993
Good Catch! It saves me some time, and I can first switch with other Images, that don't need secrets to buildah.

[2022-05-13 21:28] guystreeter commented on #3783
I just upgraded my system to Fedora 36. I can't remove a container built on Fedora 35 because of this error. I do not have an older version of buildah to downgrade to. What do I do?

[2022-05-16 14:00] rhatdan commented on #3981
Makes sense to me.

[2022-05-16 17:23] #3816 closed

[2022-05-16 17:29] TomSweeneyRedHat commented on #3783
@guystreeter if you have podman on board too, you could use the big hammer `podman system reset --force`.  Or the other big hammers:
`rm -rf /var/lib/containers/*` # for rootful
`rm -rf $HOME/.local/share/containers/*` # for rootless

[2022-05-17 03:14] dajtxx commented on #1034
I'm trying to move from docker to podman, and tried to bring up a docker-compose stack by pointing docker-compose to the podman unix socket.

I have to change the image names of my locally built images in my docker-compose.yml file to have the localhost/ prefix or it doesn't work. The postgres and rabbitmq images are fine as-is.

So this is another case where podman is not a drop-in replacement fo

[2022-05-17 06:33] Dexus opened #3996 "[question] how to run tests correct?"
I'm trying to add the tests for #3767
But I'm not sure how to run the tests correctly.
Can you add a doc how to do this?

`make test-unit` works if running with `root` but the `tests/test_runner.sh` fails often.

[code]

[2022-05-17 06:45] flouthoc commented on #3996
@Dexus  I use `sudo ./tests/test_runner.sh` but I usually filter tests.

[2022-05-17 11:34] flouthoc commented on #3993
We had explicit check which was blocking re-using secret artifacts from host. Above PR should fix it and added a test to confirm that.

[2022-05-17 12:17] #3993 closed

[2022-05-17 19:35] rhatdan commented on #3912
@TomSweeneyRedHat PTAL

[2022-05-17 19:57] hjmodi opened #4002 "podman build cannot mount devices, while podman run can."
**Description**
Cannot attach devices with `podman build --device /dev/null:/var/tmp/flatpak-build/dev/null --no-cache .` . Getting error, `Error: error creating build executor: Renaming device /dev/null to /var/tmp/flatpak-build/dev/null is not supported in rootless containers` . However the same works with `podman run --device /dev/null:/var/tmp/flatpak-build/dev/null -ti --rm ubi8` giving the f

[2022-05-17 19:59] hjmodi commented on #4002
Couldn't find `buildah` on my system but in podman issue tracker they've asked to file `podman build` issues here, so I'm reporting here.

[2022-05-17 20:55] rhatdan commented on #4002
@flouthoc PTAL.

[2022-05-17 22:08] dajtxx commented on #1034
The images from docker.io worked fine, it was the locally built ones that podman puts `localhost/` in front of that are the 'problem'.

It looks like this was a design decision by the podman team, so it's not a bug. I put my comment in because google brought me to this issue and I thought it might be useful for others to see another option for getting around that when google brings them here.

[2022-05-18 08:22] flouthoc commented on #4002
Hi @hjmodi , I think `podman run` is not doing the correct behavior  here instead of populating https://github.com/opencontainers/runtime-spec/blob/main/config-linux.md#devices it is creating a bind mount which is not equivalent to creating a device. Also I think as mentioned in other issues like https://github.com/opencontainers/runtime-spec/issues/980 some devices don't expect bind mount at all

[2022-05-18 12:37] rhatdan commented on #1034
Right locally built images do not default to any registry. Perhaps a modification to this would be to allow users to specify a default registry, to eliminate this problem.

[2022-05-18 16:59] owtaylor commented on #4002
The workaround seems to work for me - thanks! - but I don't really agree with the conclusion here:

* The problems mentioned in the runtime-spec issue only affect a few edge cases.
* In the end, the oci-spec *allows* using a bind mount - while that issue complains about that, the spec wording wasn't changed, and stands.
*  For rootless operation, the bind mount is how the standard set of devices i

[2022-05-18 17:51] rhatdan commented on #4002
I agree with Owen, lets fix this.

[2022-05-18 19:17] flouthoc commented on #4002
@owtaylor Ah i see your argument makes sense to me.

Although I still think that `podman run --devices` is doing the unexpected magic by taking charge away from `oci-runtime` and creating `bind mounts` explicitly instead of giving `devices` to runtime ( since runtime already handles devices ) but I guess since it confusing for end users so maybe we can add a similar exception to `buildah build` ca

[2022-05-19 13:17] hjmodi commented on #4002
@flouthoc If you agree, can we please reopen this and add it into a bucket or milestone?

[2022-05-20 08:23] towe75 opened #4006 "Can no longer install buildah on ubuntu 20.04 from kubic stable repository"
**Description**

We're on ubuntu 20.04 and our CI infrastructure still relies on the kubic:stable repository. I understand that you decided to move away from maintaining deb packages there and that you suggest to use a newer ubuntu version etc.

But did you intentionally remove buildah from this repo or was it an accident? podman and other packages are still there, versions are unchanged.

Timesta

[2022-05-20 09:43] flouthoc commented on #4006
Hi @towe75 , Thanks for creating the issue. I think @lsm5 would be the correct person to answer this. @lsm5 Could you PTAL.

[2022-05-20 09:49] adelton opened #4007 "Buildah is not available for Ubuntu 22"
**Description**

GitHub Actions has added Ubuntu 22.04 LTS virtual environment: https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2204-Readme.md. However, unlike with Ubuntu 20.04 (https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md), `buildah`, `podman`, and `skopeo` are not available.

Issue https://github.com/actions/virtual-env

[2022-05-20 10:35] flouthoc commented on #4007
Hi @adelton, Do you need `podman` or `buildah`. The issue is opened against `buildah` repo but your command is actually looking for `podman`. But anyways I think issue is quite similar to https://github.com/containers/buildah/issues/4006. I think @lsm5 can answer this better.

[2022-05-20 12:21] adelton commented on #4007
I care about `podman` specifically. The reason why I filed this against `buildah` is because that's what https://github.com/actions/virtual-environments/issues/5490 uses as a justification for not installing `podman` on `ubuntu-22.04`.

[2022-05-20 15:20] sebsoto opened #4010 "Building Windows container images"
**Desired behavior**:
I would expect that when no `RUN` commands are present in a container file, `buildah build --os=windows` would be able to build a working Windows container image.

In my testing I have found that buildah does not create functional Windows container images.
This seems to be due to at least two reasons:

1) The [required tar headers specified by the OCI image-spec](https://gith

[2022-05-21 13:59] tomtom94 commented on #2371
@vrothberg @lsm5 I just encountered the issue in my VM Ubuntu 20.04 LTS

Since last Friday I got that
[code]

**3 days ago my VM was installing perfectly but I had to delete and recreate it 😞** since then the exact same install batch doesn't work for my exam online.

This is due to (if ever you wanna reproduce)
[code]

The last command line above will throw you this
[code]

Need help 😂

[2022-05-21 14:24] Romain-Geissler-1A opened #4011 "Building with "--squash" doesn't have any caching mechanism (again)"
Hi,

Following the upgrade to RHEL 8.6 and podman 4.0.2 in my company, it seems we still facing the issue #3665 with this version.

When I tried to re-run the reproducing steps described in #3665 with image `docker://quay.io/podman/upstream:latest` (`podman version 4.2.0-dev`) it seems the exact same reproduction steps still expose the bug.

When this will be fixed, would it be possible to push th

[2022-05-21 14:31] Romain-Geissler-1A commented on #4011
Note: back then, when I validated https://github.com/containers/buildah/pull/3674 back then, I did it using buildah and flags
`--squash --layers`. In my above reproduction steps, I am using podman and flag `--squash` (looks like `--layers` is true by default in podman).  So maybe the bug is in podman, in the way podman calls buildah ?

[2022-05-21 15:52] Romain-Geissler-1A commented on #3665
I tried to change a bit podman here: https://github.com/containers/podman/compare/main...Romain-Geissler-1A:main but actually the behavior of buildah seems strange. It seems it's impossible to squash only the newly created layers *AND* keep the intermediate layers (in other words, buildah has flag `--squash` which correspond to podman `--squash-all` but buildah seems to have no counterpart to podm

[2022-05-21 15:53] Romain-Geissler-1A commented on #4011
I tried to change a bit podman here: https://github.com/containers/podman/compare/main...Romain-Geissler-1A:main but actually the behavior of buildah seems strange. It seems it's impossible to squash only the newly created layers in cache *AND* keep the intermediate layers (in other words, buildah has flag `--squash` which correspond to podman `--squash-all` but buildah seems to have no counterpar

[2022-05-23 07:49] igo95862 commented on #2850
Can Btrfs CoW capabilities be utilized to mitigate this issue? (when copying within same filesystem)

I was doing `podman commit` on a 90 GiB container.

[2022-05-23 10:17] tomtom94 opened #4012 "debian packaging: file conflict between buildah and containers common #2371"
Hello, I wanna reopen an issue closed few years ago 😂 https://github.com/containers/buildah/issues/2371

I just encountered the issue in my VM Ubuntu 20.04 LTS

Since last Friday I got that
[code]

**3 days ago my VM was installing perfectly but I had to delete and recreate it 😞** since then the exact same install batch doesn't work for my exam online.

This is due to (if ever you wanna reproduce)

[2022-05-23 10:25] flouthoc commented on #4011
Hi @Romain-Geissler-1A Thanks for creating the issue. Since buildah already supports this we can have `podman --squash-all` support this feature. We cannot alter `podman --sqaush` due to its compat nature with docker. But above PR allows you to achieve similar functionality in `--squash-all`

Thanks.

[2022-05-23 11:37] vrothberg commented on #4012
@lsm5 PTAL

[2022-05-23 12:30] lsm5 commented on #4012
@tomtom94 hi, I've removed the buildah package from the Kubic repository you mentioned and I'll be removing podman from there today. I recommend switching to 22.04 LTS so that you can get buildah from the default ubuntu repos, or building buildah from source.

The kubic repos will continue to remain active for cri-o and its dependencies.

[2022-05-23 12:30] #4012 closed

[2022-05-23 13:58] nalind commented on #4011
Podman's `--squash` corresponds to buildah's `--layers=false`, which is the default in `buildah build`.

[2022-05-23 14:01] Romain-Geissler-1A commented on #4011
So there will never be any support for `podman/buildah build --squash --layers` (`--layers` being actually enabled by default in podman) ? And podman/buildah will forever disagree on what the flag `--squash` actually does ? How do you usually change flag semantic ? By adding new flags and keep the old ones compatible, or you allow yourself incompatible changes in things like major version ?

[2022-05-23 14:22] nalind commented on #4011
Using `--squash` with `podman build` implicitly disables its enabled-by-default `--layers` option.  In that case, it doesn't commit an image and display the new image's truncated image ID after each step.  Attempting to explicitly enable both options should trigger an error message.

[2022-05-23 14:27] lsm5 commented on #4007
Hi @adelton , github actions has gotten rid of container tools now, https://github.com/actions/virtual-environments/pull/5580 . AFAICT, this should not be an issue anymore. Closing..

[2022-05-23 14:27] #4007 closed

[2022-05-23 14:40] Romain-Geissler-1A commented on #4011
Yes what you describe is the current behavior, it works exactly as you wrote it.

But what about the people who want the feature of `--squash` (ie squash only the new layers, not the ones of the base image) and have layer cache at the same time (so that building the same Dockerfile twice on the same machine uses cache the second time) ? It will never be implemented, only `--squash-all` + `--layers

[2022-05-23 15:36] lsm5 commented on #4007
@adelton responded. podman, buildah and skopeo are in the base 22.04 repos.

[2022-05-23 17:03] tomtom94 commented on #4012
It doesn't work yet @lsm5

[code]
[code]
I am using a batch given by The Linux Foundation to sit for the Kubernetes Certification, it had worked well last week 😞

[2022-05-23 18:04] lsm5 commented on #4012
@haircommander can you take a look please? ^

[2022-05-23 18:23] haircommander commented on #4012
running in an ubuntu 20.04 container (after installing curl and gnupg) worked for me. I did not install `podman` and `buildah` as they weren't available. Maybe the repos just needed to refresh?

[2022-05-23 19:14] flouthoc commented on #4011
@Romain-Geissler-1A Yes it seems like that `--squash and --layers` will work with buildah only and for equivalent feature at podman end you will have to use `--squash-all and --layers` once this https://github.com/containers/podman/pull/14320 and https://github.com/containers/buildah/pull/4013 is merged.

[2022-05-23 19:49] tomtom94 commented on #4012
It doesn't work.

And the error is ever unknown in their issues https://github.com/cri-o/cri-o/issues?q=is%3Aissue+is%3Aopen+dpkg%3A+error+processing+archive

Moreover my installing batch is always using the same crio-o version, this is why I turned to you

[code]

Doesn't seem consistent to post an issue on cri-o repository 🥕

[2022-05-23 20:00] mythi commented on #4012
@haircommander you’ll need 20.10 or later to reproduce (that was the first release buildah/podman were part of the distro)

[2022-05-23 20:37] rhatdan commented on #4010
@nalind @flouthoc PTAL
I think one issue with this is the difference between a the file systems of Windows versus Linux, in that Windows requires file systems that are NOT case sensitive, while Linux file systems are. This can cause Linux to think files do not exist on Windows, which actually do in a different case.

[2022-05-24 07:30] flouthoc commented on #4010
I think we should add this part to buildah since headers are part of image-spec but I am a bit unsure what else is needed to make this work. @sebsoto Would adding headers to `ADD` would be enough for your use-case ? Could you also please let us know how to replay this part of your use-case so its easier to verify ?

[2022-05-24 10:27] flouthoc commented on #4002
@hjmodi Above PR should close this.

[2022-05-24 11:18] ibotty commented on #3987
I finally got around to testing with `CAP_SETFCAP` capability.  Yes, that works!  Thank you for your help.  Now I'll have to raise issues to propagate the required capabilities.

[2022-05-24 11:18] #3987 closed

[2022-05-24 13:43] sebsoto commented on #4010
Hi @flouthoc

My full use case is actually building Windows containers from scratch on a Linux build system, for deployment on OpenShift Windows nodes running containerd.

For the purpose of getting things off the ground its probably best to simplify it to:
Adding files to a Windows container image with buildah, from a working Windows base image, which can be pulled and ran by containerd on a Wind

[2022-05-24 15:01] nalind commented on #4010
Setting additional headers and munging paths when we generate layer diffs is certainly doable, but when I try to build a sample with `DOCKER_BUILDKIT=1 docker build --progress=plain --platform windows/amd64`, I'm currently getting this error at the very end:
[code]
That means we can't compare what we generate for various instructions and what `docker build` does as part of a conformance test, whic

[2022-05-24 15:13] sebsoto commented on #4010
@nalind
building Windows images on linux can be done through `docker buildx`
[code]

[2022-05-24 15:47] nalind commented on #4010
Oh I believe you, but without being able to compare our output during automated tests, it'll be very difficult to verify that we did it right, or be able to notice if it breaks in the future.

[2022-05-25 01:11] lsm5 commented on #4007
@adelton in case you also need to use the older ubuntu 20.04 and 18.04, buildah is back on the kubic repos. Sorry about the hassle.

[2022-05-25 08:38] ccamacho commented on #4012
@lsm5 quick question, why did you remove the packages so quickly? Things like juju only work with 20.04 so far removing those packages basically broke anyone deploying juju with Ubuntu 20.04, also anyone trying podman in GitHub actions is broken.

[2022-05-25 10:21] #4002 closed

[2022-05-25 13:35] or-navon commented on #1500
ARG  before FROM does not work.

docker version output:
Client:
 Cloud integration: v1.0.22
 Version:           20.10.12
 API version:       1.41
 Go version:        go1.16.12
 Git commit:        e91ed57
 Built:             Mon Dec 13 11:46:56 2021
 OS/Arch:           darwin/amd64
 Context:           default
 Experimental:      true

Server: Docker Desktop 4.5.0 (74594)
 Engine:
  Version:

[2022-05-25 15:11] luneo7 opened #4016 "Debian 10 packaging"
**Description**

When trying to install buildah on Debian 10 we are getting
[code]
From the repository, we only have `crun (100:0.18-2)`.... seems that the latest build went south.

**How to reproduce**

**Describe the results you expected:**

[code]
[code]

**Output of `apt-get -y install buildah`:**

[code]

[2022-05-25 15:29] TomSweeneyRedHat commented on #4016
@lsm5 PTAL

[2022-05-25 17:09] lsm5 commented on #4016
@luneo7 crun has been built. Please refresh your repo and give it another try. I'm closing this, but feel free to comment if any issues.

[2022-05-25 17:09] #4016 closed

[2022-05-26 10:10] flucas1 opened #4018 "implement retry on buildah bud for FROM downloads"
Network can be unreliable at some moments, even internal ones when STP layer-2 is acting...., and this make CI processes fail,

For this scenario I suggest that "buildah bud" has a retry capabilities when retrieving images via FROM,

Curl implement this group of options
curl --connect-timeout 5  --max-time 10  --retry 5  --retry-delay 0   --retry-max-time 40 ....

Apt also implement APT::Acquire::

[2022-05-26 14:08] lsm5 commented on #4012
- Those packages weren't being maintained
- The installation docs did discourage from using Kubic repos in production
- People were pinging me about the flaky opensuse mirror causing podman installation issues
- Podman v3.4.2 has 4 CVEs which we were not going to publish updates for on the Kubic repos

All these combined made me think I'd rather the users have no package at all than a flaky vulner

[2022-05-27 08:55] vrothberg commented on #4018
Thanks for reaching out.  Buildah has a built-in retry logic and will do it at most 3 times.  Can you share the errors you are seeing and the version of Buildah you are using?

[2022-05-27 10:12] rhatdan commented on #3921
Can we just get the man page fixed and close this or should we add --pull=missing support, to be compatible with Podman?

[2022-05-27 10:12] rhatdan commented on #3930
@cevich PTAL

[2022-05-27 10:29] flouthoc commented on #3921
I'll update the docs for this.

[2022-05-27 10:37] #4011 closed

[2022-05-27 19:05] cevich commented on #3930
Whoa, that's really weird.  I'm see the status lines you mention, they're part of github, right above the list of CI individual jobs (tasks) - assuming "hide all checks" isn't active.

Based on what I understand of how services and Github interact, there may not be much we can do to control the formatting here.  It's likely related to using/not certain Cirrus features; like, manually triggered tas

[2022-05-28 19:43] hown3d opened #4023 "build fails when using glob in --from COPY statement"
**Description**
Build fails if using glob inside a COPY statement which uses the --from flag.

Dockerfile used:
[code]

Output:
[code]

I should mention, that /lib does not exist inside busybox.

docker successfully builds the image:
[code]

**Steps to reproduce the issue:**
1. use Dockerfile
2. run `buildah build .`
3. buildah will fail

**Describe the results you received:**

**Describe the resu

[2022-05-28 20:27] hown3d commented on #4023
If I think about it, buildah is doing the right thing. If a path cannot be found inside the image, the builder should error out. Not sure why buildkit is behaving like the above.

[2022-05-28 20:31] hown3d commented on #4023
When building without buildkit, docker produces the expected error:

[code]

I'll open an issue in the buildkit repository.

[2022-05-28 20:31] #4023 closed

[2022-05-29 07:07] aelij commented on #3866
From what I gather, if buildah is used to push the images, it should be possible for the digest to be the same in the registry.
Please see [this thread](https://github.com/google/go-containerregistry/issues/895#issuecomment-753521526) where Jon explains this in detail for Crane.
We currently build using `docker build`, save to a tar, then calculate the digest using `crane digest` and finally `cran

[2022-05-30 07:22] flouthoc commented on #4018
Hi @flucas1 , Would it work for you if we make `MaxRetries` and `RetryDelay` configurable from CLI ? https://github.com/containers/buildah/blob/main/pull.go#L45

[2022-05-30 09:21] mtrmac commented on #3866
Nothing about the API of the compression implementations promises them to be consistent from one execution to another. It’s nice if they have that property, but it’s just not a part of the contract right now, and so it’s not something we can build a reliable publishing pipeline around (assuming we don’t constrain ourselves to a specific compression implementation that does make that promise, but t

[2022-05-30 09:35] vrothberg commented on #4018
That is a very unreliable network.  There is only so much (or little) tools can do in such environments.  What if the `RUN` instructions require network?

I am OK to expose the retry fields on the CLI but it feels much more like a symptomatic fix.

[2022-05-30 12:14] SohumB opened #4025 "`nixery.dev` style images with non-sequential layers break `buildah bud`"
**Description**

[code]

I believe this is how `nixery.dev` works: the layers it packages together in one manifest do not follow the standard sequential pattern. That seems to be what's confusing buildah here.

[code]

[2022-05-30 20:56] SohumB commented on #4025
Absolutely!

Additionally, there appear to be environment issues under these images too. I'm not sure if this is this bug or a different bug; let me know if I should open a new issue for this.

[code]

[2022-05-31 07:08] flouthoc commented on #3866
Above PR should close this.

[2022-05-31 08:50] flouthoc commented on #4025
Hi @SohumB, Would you be able to tell us from which build tool  `nixery.dev/shell` was created cause it contains 10 layers but `History` in spec marks only one. This usually does not happens I am just wondering which build tool was used. But anyways since `history` is optional in `image-spec` so I think buildah should drop this sanity check https://github.com/opencontainers/image-spec/blob/main/co

[2022-05-31 10:19] der-eismann opened #4026 "Quay.io container images are outdated"
**Description**

On the buildah.io [release notes to the latest release](https://buildah.io/releases/2022/05/09/Buildah-version-v1.26.1-mini.html) it is noted that container images should be available at Quay

However both repos are severely outdated with the latest release available being v1.23.3. Even if you argue that it says `*will be* available`, it's been three weeks since the post was creat

[2022-05-31 10:25] flouthoc commented on #4026
Hi @der-eismann , Thanks for creating the issue and pointing this out. Could you use `quay.io/buildah/upstream:latest` till this is fixed in upstream. @cevich Could you please take a look ? I am not sure why `quay.io/containers/buildah` and `buildah/stable` is not updated.

[2022-05-31 11:49] resmo opened #4027 "[FEATURE REQUEST] --tls-verify --> BUILDAH_TLS_VERIFY"
Allow to set `--tls-verify` as ENV variable `BUILDAH_TLS_VERIFY`

[2022-05-31 11:56] resmo commented on #4018
This just came through my mind: What if `FROM` could be a list (delemiter separated, e.g. `|` ?) to try download from various endpoints sequencially?

Many images are pushed to various container registries or "try first local registry and fallback to public registry if fails" scenario.

[2022-05-31 12:05] vrothberg commented on #4018
Mirrors can already be configured in [man containers-registries.conf](https://github.com/containers/image/blob/main/docs/containers-registries.conf.5.md#example).  It is something I believe should be configured globally by the sysadmin and not by individual developers in Dockerfiles.

[2022-05-31 12:07] vrothberg commented on #4027
Thanks for reaching out, @resmo!

@mtrmac @rhatdan WDYT?

If, I think it should be `CONTAINERS_TLS_VERIFY` that could be set in libimage or c/image FWIW.

[2022-05-31 14:45] vrothberg commented on #4027
@resmo, did you consider configuring this setting in the [registries.conf](https://github.com/containers/image/blob/main/docs/containers-registries.conf.5.md)?

[2022-05-31 17:05] #3930 closed

[2022-05-31 18:02] mtrmac commented on #4027
Disabling TLS is a last-resort alternative to correctly configuring systems. Adding a global switch like that, that could affect all users in a shell session (including third-party scripts that might not need that at all) is something I think we should _never_ do.

`registries.conf` already provides a global, persistent, way to configure a specific registry to disable TLS. I don’t see why it would

[2022-05-31 18:02] #4027 closed

[2022-05-31 18:59] resmo commented on #4027
To clarify, --tls-verify exists already (push, pull) but in ci/cd it would be easier to switch on or off, especially if buildah runs in a container as in our case.

[2022-05-31 19:07] rhatdan commented on #4027
Can't you just drop a registries.conf file with the correct settings in your CI/CD system then?

[2022-05-31 20:59] resmo commented on #4027
Nobody claimed it is "better or worse" to configure a env var instead of registries.conf but why should I write to a registry.conf into a container if I could configure it by en ENV var.

I mean, it is the usual way one configures containers (and I know you know that too) is not to write files into containers but to pass ENV vars.

I just though, why should this not be an built-in feature of build

[2022-05-31 21:54] SohumB commented on #4025
I don't precisely know the details of how `nixery.dev` works, but the short version is that it's an experiment in building images out of independent layers to maximise cache efficiency. When you request, say, `nixery.dev/git/htop`, the server uses the `nix` package manager to generate `git` and `htop`'s independent filesystems, and then just puts them together in a single OCI image.

There's some

[2022-06-01 08:09] flouthoc commented on #4025
PR https://github.com/containers/buildah/pull/4028 should close use-cases like this with `buildah build --add-history=false .`

[2022-06-01 08:10] flouthoc commented on #3513
Above PR https://github.com/containers/buildah/pull/4028 should close this.

[2022-06-01 08:29] vrothberg commented on #4025
Note that Docker happily builds the upper Dockerfile.  If users have to do an extra step, Buildah would break compat.

[2022-06-01 10:06] flouthoc commented on #4025
@vrothberg Ah i see although docker does not looks like its doing correct thing cause it appends new history even when base has a `history:null` but in-order to maintain parity :) added another commit for docker-parity which still adds history even if baseImage history is `null` and ignore sanity check so `buildah build .` should also work for this issue once this is merged https://github.com/cont

[2022-06-01 10:25] rhatdan commented on #4018
Definitely not a new flag.  registries.conf would make sense to me or I could live with a CONTAINER_PULL_RETRIES environment variable.  It should affect all pulling of images though, not just FROM command.

[2022-06-01 10:49] vrothberg commented on #4018
`registries.conf` could make sense conceptually but I think it would require some restructuring of the code. Currently, the `retry` package lives in containers/common and if registries.conf received a new option, the package should probably live in containers/image, so that all consumers of containers/image (and hence registries.conf) can use it transparently.  Alternative, we could add it to `con

[2022-06-01 12:48] mtrmac commented on #4018
- Global retry defaults are _hard_. Compare https://github.com/containers/common/issues/654#issuecomment-1142630388  (no possible good timeout when considering large images; the whole conversation there is quite interesting). I just don’t see that it is possible to chose a _well-fitting_ timeout value that is appropriate for all images on a single registry (as it would probably be configured in `r

[2022-06-01 12:55] mtrmac commented on #4018
… my mistake, the three retries were already discussed.

Given that, as a starting point we could just hook up `pkg/retry` options to the CLI, first. Possibly creating a shared utility for the CLI options. _Then_ it would make more sense to think about designing more CLI tunables (collecting RFEs across the projects to see what makes sense). And moving those tunables from the CLI to config files w

[2022-06-01 21:34] cevich commented on #4026
Agree, something must be broken with the build process...yep, it's [been broken for the last 6 days.](https://github.com/containers/buildah/actions/workflows/multi-arch-build.yaml) for the same reason the podman images are broken and [likely needs a similar fix.](https://github.com/containers/podman/pull/14437).

I've also got a PR open to [move the build process into Cirrus-CI](https://github.com

[2022-06-01 22:12] hjmodi commented on #4002
Thanks for the quick fix. When will this be released?

[2022-06-02 04:57] flouthoc commented on #4002
@hjmodi I am not sure about the time frame for next release but from previous discussion it seems like near August/July. cc @TomSweeneyRedHat @rhatdan @nalind

[2022-06-02 15:26] cevich commented on #4026
Actually, @TomSweeneyRedHat while I work on #4019 (it won't fix the `sed` problem) do you think you could help apply the `sed`, fix to the Dockerfile's here?

[2022-06-02 18:10] rhatdan commented on #4002
podman 4.2 release candidates start first week in July and complete by August 1st.

[2022-06-03 08:02] petersenna opened #4030 "Rootless and Google Container Registry"
Google Container Registry gets confused if I build and push using my user instead of root.

**Steps to reproduce the issue:**
1. Build and push a container using my user
2. Try to pull the container
3. It fails with: "Error: parsing image configuration: Error fetching blob: invalid status code from registry 403 (Forbidden)"
4. Build and push same container as root
5. Try to pull the container
6. I

[2022-06-03 08:04] flouthoc commented on #4002
@hjmodi Would it be possible to use buildah directly and build it from source ? Since I'm unsure if release will prepone because of this but @rhatdan and @TomSweeneyRedHat could confirm this better.

[2022-06-03 08:05] petersenna commented on #4030
@vrothberg like this?

[2022-06-03 08:08] petersenna commented on #4030
I am sorry, but I used versions and system information from the wrong host. Let me updated it.

[2022-06-03 08:10] vrothberg commented on #4030
Thanks, @petersenna.

If possible, could share the output of `skopeo inspect --config docker://$IMAGE`? Once when it's broken, once when it works?

It seems curious that it's only happening on the config but the 403 ultimately looks like a registry-side error.  Does it work using another registry?

[2022-06-03 08:25] petersenna commented on #4030
Frustratingly, I cannot reproduce it any longer. Now everything works as expected. From yesterday to about 2 hours ago, I could reproduce it consistently. Now it all works.

[2022-06-03 08:28] vrothberg commented on #4030
It could very well be a fart on the registry.  I am going to close the issue but we can re-open in case it's happening again.

[2022-06-03 08:28] #4030 closed

[2022-06-03 10:22] der-eismann commented on #4026
Thanks for investigating and working on it everyone!
On another note, the [1.26 blog post](https://buildah.io/releases/2022/05/09/Buildah-version-v1.26.1-mini.html) says:

This is wrong for Fedora 35 as [buildah is still on 1.23.3/4 there](https://src.fedoraproject.org/rpms/buildah) and I can't find anything on Google about a RHEL version 8.6.0.2. Is this some kind of internal versioning or is the

[2022-06-03 12:32] hjmodi commented on #4002
@rhatdan we need it for the OSBS 2.0(https://github.com/containerbuildsystem/atomic-reactor). We're using `podman-remote` to build images on builders with different arches. I don't think we'll be able to use the unreleased version since many other teams will depend on it.

[2022-06-03 13:31] bendem opened #4032 "FR: Support git+ssh:// protocol"
Currently, it is possible to build an image from a git repository by prefixing the context argument with `git://` or postfixing with `.git`. Sadly, this uses the raw git protocol without authentification. Most users want the https protocol or git over ssh (git+ssh).

Since the clone is delegated to the git command, you need to specify either `ssh://` or `git+ssh://` to use that protocol. Neither o

[2022-06-03 13:34] hjmodi commented on #4002
It's more of regression from my side because we did expect the `--device` option to work with `podman build` just as it worked with `podman run` and the same for `--volume` option, it works with `podman build` and `podman-remote run` I don't see why it doesn't work with `podman-remote build`. Furthermore, when I tried doing `podman-remote build --volume` it didn't throw any warning/error, so I'm n

[2022-06-03 13:55] hjmodi commented on #4002
I guess I should file another issue for the `--volume` option not working with `podman-remote build`.

[2022-06-03 14:40] cevich commented on #4026
No worries, you should see my browser tab collection.  It would excite even the prehistoric archaeologists :rofl:

[2022-06-03 14:55] rhatdan commented on #4002
Sure that is a bug, but not a regression.  Regression meant it worked at one point in a released version and now it does not. I am afraid you will have to wait. You could always ask for support via a bugzilla.

[2022-06-03 15:24] rhatdan commented on #4032
@nalind @flouthoc PTAL

[2022-06-03 16:09] hjmodi commented on #4002
@flouthoc just to be sure before opening a bugzilla #4014 will fix the issue for `podman-remote build` also correct?

[2022-06-06 06:18] Alanthur commented on #2922
My  system is Ubuntu 20.04.2 LTS
How can I fix this error？

[2022-06-06 06:40] flouthoc commented on #3960
Above PR https://github.com/containers/buildah/pull/4034 should close this.

[2022-06-06 07:09] Alanthur opened #4035 "A few hiccups with go get github.com/containers/buildah"
I follow the tutorial https://github.com/containers/buildah/blob/main/docs/tutorials/04-include-in-your-build-tool.md
Adding Buildah as a Go dependency "as-is" fails with errors:

pkg-config: exec: "pkg-config": executable file not found in $PATH
 github.com/proglottis/gpgme
/home/go/pkg/mod/github.com/proglottis/gpgme@v0.1.1/data.go:4:11: fatal error: gpgme.h: No such file or directory
    4 | //

[2022-06-06 07:34] flouthoc commented on #4035
Hi @Alanthur,

I think you are missing `libgpgme-dev` and `btrfs-progs` so `sudo apt-get install btrfs-progs libgpgme-dev libgpg-error-dev` should fix it. But I think you might get hit with further missing deps in such case refer to list of needed deps here https://podman.io/getting-started/installation#build-and-run-dependencies

I am closing this issue since this looks like your system is missin

[2022-06-06 07:34] #4035 closed

[2022-06-06 07:51] Alanthur commented on #4035
@[flouthoc](https://github.com/flouthoc)
thanks for you help.

[2022-06-06 14:46] rhatdan commented on #2922
@lsm5 PTAL

[2022-06-06 16:58] #3960 closed

[2022-06-06 18:12] lsm5 commented on #2922
@Alanthur `sudo apt install libbtrfs-dev libgpgme-dev libdevmapper-dev`

[2022-06-06 18:12] lsm5 commented on #2922
@rhatdan guess we should also include ^ for ubuntu users. I'll PR for it.

[2022-06-06 18:22] lsm5 commented on #2922
@rhatdan btw, should we be building buildah without btrfs support? Our fedora package so far only has `exclude_graphdriver_devicemapper`.

[2022-06-06 19:09] rhatdan commented on #2922
No there are actual users of the btrfs storage driver.  But it is not necessary for any random people building buildah.

[2022-06-07 02:57] Alanthur opened #4039 "open /etc/containers/policy.json: no such file or directory"
I follow the tutorials https://github.com/containers/buildah/blob/main/docs/tutorials/04-include-in-your-build-tool.md
My code
`func BuildImages() {
	if buildah.InitReexec() {
		return
	}
	unshare.MaybeReexecUsingUserNamespace(false)

	buildStoreOptions, err := storage.DefaultStoreOptions(unshare.IsRootless(), unshare.GetRootlessUID())
	if err != nil {
		panic(err)
	}

	buildStore, err := storage.

[2022-06-07 05:42] flouthoc commented on #4039
Hi @Alanthur, Thanks for creating the issue.

Default policy.json is equivalent to https://src.fedoraproject.org/rpms/containers-common/raw/main/f/default-policy.json

If you don't want any default registries configured feel free to use this one
[code]

If you want to read more about how to configure `policy.json` for a fine grained control then you can follow the man-page here: https://github.com

[2022-06-07 05:42] #4039 closed

[2022-06-07 06:45] Alanthur commented on #4039
@flouthoc
thanks for your help.
I solve this problem.
But then I run this code,I got another errors:

`INFO[0001] [graphdriver] using prior storage driver: overlay
2022/06/07 14:40:49 http: panic serving 192.168.0.254:64209: error decoding response from copier subprocess: invalid character 'æ' looking for beginning of value
goroutine 34 [running]:
net/http.(*conn).serve.func1()
        /usr/local/

[2022-06-07 07:16] flouthoc commented on #4039
@Alanthur Since I can't see the stack trace could you check with break points after which call this fails cause I cannot see the complete stack trace so its hard to tell from this side but it seems issue is with your business logic now.

To confirm if something is not wrong with your setup try running a simpler example and see if this works and then try debugging your custom implementation.

[code

[2022-06-07 07:20] Alanthur commented on #4039
`INFO[0003] [graphdriver] using prior storage driver: overlay
2022/06/07 15:19:59 http: panic serving 192.168.0.254:59141: error decoding response from copier subprocess: invalid character 'æ' looking for beginning of value
goroutine 22 [running]:
net/http.(*conn).serve.func1()
        /usr/local/go/src/net/http/server.go:1802 +0xb9
panic({0xfd0a20, 0xc0001100c0})
        /usr/local/go/src/runtime

[2022-06-07 07:25] Alanthur commented on #4039
if I run this code ,I got some errors:

`INFO[0001] [graphdriver] using prior storage driver: overlay
2022/06/07 15:23:44 http: panic serving 192.168.0.254:59175: error checking on destination /var/lib/containers/storage/overlay/780218b39779e3bf79a21b4169e381d50a077a258c739d9b008fb096011f44d1/merged/home/some: error decoding response from copier subprocess: invalid character 'æ' looking for beginn

[2022-06-07 07:32] flouthoc commented on #4039
@Alanthur Does it works if you comment the `builder.Add` call ? Could you add break points or dummy `fmt.Printf(` calls to check on which this is failing ?

[2022-06-07 07:35] Alanthur commented on #4039
@flouthoc
It is not work on the builder.Add call. And `builder.Run` also not work.

[2022-06-07 07:39] Alanthur commented on #4039
@flouthoc
![Uploading 微信图片_20220607153908.png…]()

[2022-06-07 08:07] Alanthur commented on #4039
@flouthoc
![1](https://user-images.githubusercontent.com/9957813/172329348-c1132c43-e723-4a70-85e4-b3068909d957.png)
![QQ截图20220607160659](https://user-images.githubusercontent.com/9957813/172329374-074ecf3f-5027-4c70-9405-4cf4a557d2dc.png)

[2022-06-07 14:43] cevich commented on #3710
This issue is still flaking frequently.  [Recent Example in podman CI.](https://cirrus-ci.com/task/5671513033539584)

[2022-06-07 20:29] TidyData opened #4045 "writing to mount in non-root not committing to image"
**Description**

similar to issue #3491 I thought I could write to the mount and have it added to the container image.   But the modifications are not present upon committing the image

**Steps to reproduce the issue:**
1. execute below script
[code]

<Details>
  <Summary>**Describe the results you received:**</Summary>
  `/usr/local/bin/myecho` is not in the container
</Details>

**Describe the r

[2022-06-07 21:21] rhatdan commented on #4045
Write the scrypt without the buildah unshare commands and then run the script under `buildah unshare myscript`

[2022-06-07 21:21] rhatdan commented on #4045
The issue is that everytime you buildah unshare exists the mount is removed, since the mount namespace ends.

[2022-06-07 21:27] #4045 closed

[2022-06-09 03:41] #3806 closed

[2022-06-09 08:52] Alanthur opened #4047 "How to push images to harbor?"
I successful run code from the tutorials https://github.com/containers/buildah/blob/main/docs/tutorials/04-include-in-your-build-tool.md
I build  images successful:
![QQ截图20220609164309](https://user-images.githubusercontent.com/9957813/172804712-f8e253f0-1450-41ca-a0a7-60e1a9ee3cb6.png)

Then I want to push to my harbor.
My harbor address：192.168.0.186:30102
Then I writing code:
![QQ截图20220609164

[2022-06-09 12:56] rhatdan commented on #4047
This is most likely a bug in harbor not showing OCI images properly. You could attempt to push them in docker format.
--format docker

[2022-06-09 17:26] ckehoe opened #4049 "Unprivileged Rootless Buildah on Kubernetes fails due to newgidmap/newuidmap: Operation not permitted error"
**Description**
I have an unprivileged rootless Buildah container running on kubernetes/CRI-O on a Centos 7.9 host using VFS storage. When running any buildah command I receive the following output:

[code]

The `buildah bud` command eventually fails due to the following error:

[code]

This issue is not present when running as user `build` with `privileged: true` enabled on the pod or when runnin

[2022-06-09 20:36] nalind commented on #4047
The parsed `dest` value refers to a location in local storage.  References to locations in image registries typically start with "docker://".  There's a brief summary of the various location types at https://github.com/containers/skopeo/blob/main/docs/skopeo.1.md#image-names, which links to a longer one at https://github.com/containers/image/blob/main/docs/containers-transports.5.md.

[2022-06-10 01:22] Alanthur commented on #4047
@rhatdan I push images in docker format.
![QQ截图20220610092113](https://user-images.githubusercontent.com/9957813/172971347-d547e9b0-5d1b-49da-98d2-9a51694b053b.png)
But I got errors:
![QQ截图20220610092245](https://user-images.githubusercontent.com/9957813/172971472-723bad4f-6d4a-4d96-8142-390f98300ce3.png)

[2022-06-10 02:18] Alanthur commented on #4047
@nalind Thanks for your help,I push images to harbor successfully.

[2022-06-10 02:18] #4047 closed

[2022-06-10 16:21] cevich commented on #3710
[Happened in buildah-main yesterday.](https://cirrus-ci.com/task/6175676628729856?logs=integration_test#L1000)

[2022-06-10 23:08] javierlga commented on #3684
This works on my M1:
[code]

However it's necessary to use `vfs` as the storage driver, e.g. : `buildah bud --storage-driver vfs .` For overlay, it's necessary to mount the device, e.g.:
[code]

[2022-06-11 08:06] javierlga commented on #3684
Interesting how everyone is using app armor on a RHEL based docker image instead of `label:disabled` for SELinux

[2022-06-13 11:08] flouthoc commented on #4010
Just to experiment I was trying to modify these headers in `copier` but something similar is happening with me i am not able to get it stick. Maybe its something related to header size. Need to try a few more things.

[2022-06-13 11:20] flouthoc commented on #4049
Hi @ckehoe , Thanks for creating the issue. Could you share how are you using buildah inside k8s ? Are you using buildah image from quay ? Could you share the image being used by pod to run buildah. ? I suspect something is wrong with the configured environment. Try using official buildah image from upstream i.e `quay.io/buildah/stable:latest` or `quay.io/buildah/upstream:latest`

[2022-06-13 14:01] flouthoc commented on #4010
@sebsoto I was able to get it working please try this patch here: https://github.com/containers/buildah/pull/4053 and leave a review if you think something needs to be changed. Unfortunately this can't be merged since buildah CI is not capable to test windows patches as of now.

[2022-06-13 14:32] rhatdan commented on #4049
Also using buildah build --isolation=chroot ... Might be helpful.

[2022-06-14 09:21] ColonelBundy commented on #4049
We are running into the same issue, tried both upstream and the latest tag.

We are however running in openshift:

`time="2022-06-14T09:13:45Z" level=warning msg="error reading allowed ID mappings: error reading subuid mappings for user \"1000750000\" and subgid mappings for group \"1000750000\": No subuid ranges found for user \"1000750000\" in /etc/subuid"
time="2022-06-14T09:13:45Z" level=warni

[2022-06-14 16:14] sebsoto commented on #4010
@flouthoc thanks I will try it out and let you know

[2022-06-14 18:34] rhatdan commented on #4049
newuidmap and newgidmap are probably failing because you are running in a confined environment without SETUID and SETGID capabilities.  Or newuidmap and newgidmap are not setfcap.

[2022-06-16 05:32] lukasmrtvy opened #4060 "[FEATURE REQUEST]: --userns=auto for build"
**Description**

Would be great to have a feature parity with `podman run` and implement support for `--userns=auto` flag for buildah. Thanks

[2022-06-16 08:51] flouthoc commented on #4060
@lukasmrtvy Thanks for creating the issue. I'll take a look at this. It would we nice if RFE also contains a small gist about the actual use-case which you are trying with build containers by running in unique user ns.

[2022-06-16 16:38] rhatdan commented on #3981
@flouthoc are you going to open a PR on this?

[2022-06-16 17:02] flouthoc commented on #3981
@rhatdan Yes I'll open a PR for this. I think i missed this issue from last time.

[2022-06-17 04:49] #2469 closed

[2022-06-17 04:53] flouthoc commented on #2469
@grantral  Thanks, this will be out in next buildah release.

[2022-06-17 05:15] flouthoc commented on #4010
Reply to this and moving discussion here: https://github.com/containers/buildah/pull/4053#issuecomment-1158025730

Hi @sebsoto Thanks for trying and verifying this patch :smile: . I'll try to prepare a test for this but from discussion with maintainers we were unable to decide priority on this one.

Could you let us know who is using this feature and what would be the priority.

Thanks

[2022-06-17 07:45] lukasmrtvy commented on #4060
Use case:
- building and running third-party content on a single machine ( without any additional isolation/abstraction ), typically it can be a workflow scheduler/executor that runs arbitrary code from multiple users

Workaround:
- running buildah in podman like `podman run --userns=auto --isolation=chroot ...`  can probably do the trick but it could be a complex task to solve, as it involves exp

[2022-06-17 10:58] flouthoc commented on #4060
@lukasmrtvy Sure thanks for sharing and makes sense to me :)

[2022-06-17 13:54] rhatdan commented on #3912
@flouthoc Could you clean this up or hand it off to an intern?

[2022-06-19 18:59] mhjacks opened #4063 "Should buildah import a new version of idtools"
**Description**

Buildah is currently hardcoded (through its docker/idtools dependency) to parse /etc/subuid and /etc/subgid to get subid information. This is more or less guranteed to fail on systems using the the subid feature mapping in sssd, shadow-utils, and FreeIPA:
https://github.com/shadow-maint/shadow/issues/154.  The docs at https://pkg.go.dev/github.com/docker/docker/pkg/idtools#Identit

[2022-06-20 09:35] flouthoc commented on #3912
For `buildah_multi_stage.sh` we can use unshare only for mounting and for `buildah-scratch-demo` since it uses pkg managers we need unshare entire invocation but since it uses only scratch and no image so it works.

Following PR should close this issue: https://github.com/containers/buildah/pull/4065

[2022-06-20 18:57] ckehoe commented on #4049
The buildah pod is spun up as a Gitlab CI Runner to run our container build pipelines

Yes, the official buildah image from quay. Pulled down about 3 days before I posted the issue.

[2022-06-20 21:56] ckehoe commented on #4049
No change when adding `--isolation=chroot`

[2022-06-21 06:44] flouthoc commented on #4049
@ColonelBundy In your case I think as warning tells that there is no entry for your user in `/etc/subuid` and `/etc/subgid`.

[2022-06-21 06:48] flouthoc commented on #4049
@ckehoe Could you share output of `/etc/subuid` and `/etc/subgid` and also `getcap /usr/bin/newuidmap /usr/bin/newgidmap`

[2022-06-21 06:48] ColonelBundy commented on #4049
Solved it for now running as user 1000 and the nonroot scc in openshift.

[2022-06-21 06:49] flouthoc commented on #4049
Thanks for confirming.

[2022-06-21 13:16] rhatdan commented on #4063
I believe buildah is using storage/pkg/idtools which has support for network based subuid and subgid?

[2022-06-21 13:17] rhatdan commented on #4063
Does this work correctly with podman?  how about podman build?

[2022-06-21 13:45] mhjacks commented on #4063
It does work as expected with current podman build in Fedora 36.  I used this as an example, with fake init.sh and inventory.yaml: https://github.com/redhat-openstack/container-validations/blob/master/Containerfile.sample. I got the same warnings from buildah on that file as the script I started with (which doesn't surprise me).

[2022-06-21 16:17] lukasmrtvy opened #4068 "[FEATURE REQUEST]: oci hook for RUN instruction"
I am not familiar with the exact relation between the build phase and runc/crun, but I believe We are missing some custom oci hook stage for RUN instruction which will help us trigger for example custom iptable rules.

This one is useful with a combination of already implemented --userns=auto parameter https://github.com/containers/buildah/issues/4060.

Use case:
- limit outbound traffic via iptab

[2022-06-21 17:30] rhatdan commented on #4010
Do you have any way we could test these.  We have no problem accepting this functionality, but without a test, we would have no idea if another PR breaks windows support.

[2022-06-21 17:32] rhatdan commented on #4063
@giuseppe PTAL

[2022-06-21 17:40] giuseppe commented on #4063
patch here: https://github.com/containers/buildah/pull/4069

[2022-06-22 06:57] flouthoc commented on #4068
Hi @lukasmrtvy , Thanks for creating the issue i'll take a look at this.

[2022-06-22 07:01] jistr commented on #3783
I faced the same issue with rootless buildah after upgrading to Fedora 36, i've been able to remove rootless buildah containers without affecting other rootless container storage, by temporarily changing the permissions on `cni.lock` file:

[code]

[2022-06-22 09:24] mh21 opened #4070 "cpp missing again in buildah container images"
In https://github.com/containers/buildah/issues/3822, cpp was added to the container images.

Now, cpp is missing again:

[code]

[2022-06-22 10:48] lukasmrtvy commented on #4068
@flouthoc hey, thanks

Lets say that I want to restrict outbound connections from build to private ranges defined by RFC ( except local DNS server ofc ). Should be doable to create a bridge ( and set iptables rules for this interface ) and use this bridge for container builds, but still, all builds are not isolated between themselves. It's the same case as --userns=auto, this one applies to networ

[2022-06-22 11:04] flouthoc commented on #4068
@lukasmrtvy Added above feature in https://github.com/containers/buildah/pull/4071 but instead of adding a new stage I think we can keep using existing stages for buildah and you can further restrict usage using annotation. The reason i am not in favor of adding a new stage is because it does not states the behavior of the hook i.e when will it get executed and why was this stage crated if stages

[2022-06-22 11:22] #4063 closed

[2022-06-22 13:27] nalind commented on #3783
I think #3697 only fixed things for build containers at create-time.

[2022-06-22 13:28] #4068 closed, assigned to nobody

[2022-06-22 13:32] Luap99 commented on #3783
Well I never got an answer on https://github.com/containers/buildah/issues/3783#issuecomment-1040430231 so I didn't look further into it.
Rootless buildah does not use the network backend so we could just add a rootless check and set the interface to nil and not initialize it.

[2022-06-22 13:33] sebsoto commented on #4010
@rhatdan
I'm not aware of the CI situation of this repo, but unit/integration tests could be introduced that check when the `add` functions are invoked, that only when a Windows container image is being built, expected PAX headers are added, and added files are put under the `files/` directory of the rootfs.

As of right now, performing add operations on a Windows container image on a Linux build

[2022-06-22 14:42] flouthoc commented on #4010
Adding a unit test for this seems easy we can check PAX headers on each layer, i think we can also test on windows if any less maintenance github action is available. I'll try checking this and if we get tests for this this can be merged upstream.

[2022-06-22 17:21] ckehoe commented on #4049
@flouthoc

*Output of `/etc/subuid and /etc/subgid`:*
[code]
*Output of `getcap /usr/bin/newuidmap /usr/bin/newgidmap`*:
[code]

[2022-06-23 06:03] flouthoc commented on #4049
@ckehoe Could you also please share `buildah unshare cat /proc/self/uid_map` looks like.

[2022-06-23 13:44] #3912 closed

[2022-06-24 14:27] c-linse opened #4076 "Multi-arch arm problem"
**Description**
I am trying to create a multiarch build pipeline on my private root server using Tekton and Buildah.
I can not build a container-image for my raspberry pi (armv7l) from a Linux v22018121473978186 5.17.0-1-amd64 #1 SMP PREEMPT Debian 5.17.3-1 (2022-04-18) x86_64 GNU/Linux machine.

**Steps to reproduce the issue:**
1. Create Dockerfile
[code]
2. Execution of builder multiarch instru

[2022-06-24 14:50] nalind commented on #4076
Using RUN instructions when the base image isn't built for the local OS/arch will fail with an "exec format error" unless emulation is set up.  I don't have a Debian system handy to verify it personally, but [this article on the wiki](https://wiki.debian.org/QemuUserEmulation) suggests that installing the `qemu-user-static` package is sufficient to set that up.

[2022-06-24 15:03] c-linse commented on #4076
Thank you I only needed to setup `qemu-user-static` ob my debian host :).

[2022-06-24 15:03] #4076 closed

[2022-06-24 16:50] mtrmac opened #4079 "Undefined concurrent writes in BuildDockerfiles"
**Steps to reproduce the issue:**
Code inspection only

https://github.com/containers/buildah/blob/d8e9ca4d818d3d3c0a3d5cddbfcb50c0a8cdb989/imagebuildah/build.go#L65 defines return values `id` and `ref`, shared for the whole `BuildDockerfiles` function. https://github.com/containers/buildah/blob/d8e9ca4d818d3d3c0a3d5cddbfcb50c0a8cdb989/imagebuildah/build.go#L255 starts a new goroutine, and that wr

[2022-06-29 09:55] n1nj4-r4cc00n commented on #620
Hello over there, any news on this one? it would be nice to use the cache for these builds, as mentioned in multiple comments above, this is an important pain point on CI  workloads

[2022-06-29 14:10] ckehoe commented on #4049
[code]

[2022-06-29 14:14] ckehoe commented on #4049
No, it's a kubernetes runner so the buildah container runs on top of CRI-0 (built in to RKE2)

[2022-06-30 10:36] dhirschfeld commented on #3726
I'm seeing the same issue in WSL2:
[code]

As a user, is there anything I can do to "fix" the problem?

[2022-06-30 11:12] rhatdan commented on #3726
Does
sudo  mount -o remount,shared / /

Fix it?

[2022-06-30 12:16] giuseppe commented on #3726
I think you need `sudo mount --make-rshared /`

[2022-06-30 12:19] dhirschfeld commented on #3726
:point_up: yeah, that ran without problems and seemed to fix it.

I thought there may be something WSL specific why that was set to `private`, but it did seem to work so I guess that's fine then?! (IANALE - I Am Not a Linux Expert!)

[2022-06-30 12:25] rhatdan commented on #3726
Kernel default is Private.  Systemd modifies the system to rshared by default.
Since WSL is not using systemd, you don't get the change. (I am not a WSL expert, but I believe that is the issue).

Is there a way to setup an init script in WSL to make this permanent?

[2022-06-30 22:45] dhirschfeld commented on #3726
Ahhh. I *thought* it was when I checked in a new terminal... but WSL keeps running in the background. After doing `wsl --shutdown` a new terminal does show it has been reset to `private` 🙁

I'll have to do some research to see how I can make that permanent... 🤔

[2022-07-01 05:18] dhirschfeld commented on #3726
I tried adding `shared` to the `fstab` entry but with no luck.

I did find some good info in https://superuser.com/a/1701393 and ended up using the `wsl.exe` hack! 🤢
It does seem to work though :tada:
[code]
[code]